<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" >
	<head>
		<title layout:title-pattern="$LAYOUT_TITLE : $CONTENT_TITLE">Zenius ITSM</title>
		<th:block th:replace="layout/fragments/commonHead :: commonHead"></th:block>
		<th:block layout:fragment="cssLink"></th:block>
		<th:block layout:fragment="scriptLink"></th:block>
	</head>
	<body th:with="COMMON_PREFIX='z-'">
		<div th:class="${COMMON_PREFIX} + 'wrapper'">
			<div th:class="${COMMON_PREFIX} + 'itsm-container flex-row'">
				<!-- 네비게이션 -->
				<th:block th:replace="layout/navigation"></th:block>
				<!-- 메인 -->
				<div th:class="${COMMON_PREFIX} + 'main flex-column'">
					<div th:class="${COMMON_PREFIX} + 'main-header'">
						<th:block th:replace="layout/topMenu">topMenu</th:block>
						<th:block layout:fragment="head"></th:block>
					</div>
					<th:block layout:fragment="content"></th:block>
				</div>
				<!-- 사이드바 -->
				<th:block layout:fragment="aside"></th:block>
				<!-- 하단 -->
				<footer th:replace="layout/fragments/commonFooter :: commonFooter"></footer>
			</div>
		</div>
		<th:block layout:fragment="pageScript"></th:block>
	</body>
</html>
