<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
	<div id="left-open" class="left-open-menu">
		<div class="logo-open"></div>
		<div class="gnb-open">
			<ul>
				<li th:each="topMenu : ${#authentication.details.menus}"
						th:order-data="${topMenu.sort}" th:if="${topMenu.pMenuId} == 'menu'">
					<span th:class=${topMenu.menuId} onclick="accordionMenu(this);"><a th:text="#{|menu.${topMenu.menuId}.parent|}"></a></span>
					<div id="subMenu" class="snb snb-mywork">
						<ul>
							<li th:each="subMenu : ${#authentication.details.menus}"
									th:order-data="${subMenu.sort}" th:if="${subMenu.pMenuId} == ${topMenu.menuId}">
								<span th:class="${#strings.substringAfter(subMenu.menuId,'.')}">
									<a th:href="${subMenu.url}" th:text="#{|menu.${subMenu.menuId}|}" onclick="showProgressBar()"></a>
								</span>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
		<div class="btn-menuclose"></div>
	</div>
	<!--상단 메뉴-->
	<div class="top-menu">
		<div class="breadcrumb">
			<ul>
				<li><span class="home"></span></li>
				<li class="arrow-r"><span>시스템관리</span></li>
				<li class="arrow-r"><span class="bread-end">사용자</span></li>
			</ul>
		</div>
		<div class="top-config">
			<div class="notice notification-menu">
				<span class="notice-num count" id="count"></span>
				<div id="notification-container" class="notification-container"></div>
			</div>
			<div class="user-info dropdown-toggle" type="button" data-toggle="dropdown" onclick="profile_menu();">
				<ul>
					<li><img class="user-profile" th:src="@{{avatarPath}(avatarPath=${#authentication.details.avatarPath})}" width="50px" height="50px" border="1" alt="profile pic"/></li>
					<li>Hello, <span class="user-name" sec:authentication="details.userName"></span>
						<div class="my-edit" id="profile-menu">
							<ul>
								<li><a href="javascript:logout()" th:text="#{common.btn.logout}"><span class="my-modify"/></a></li>
								<li><a th:href="@{/users/{userKey}/editSelf(userKey=${#authentication.details.userKey})}" th:text="#{menu.setting.editMyInfo}"><span class="my-logout"/></a></li>
							</ul>
						</div>
					</li>
					<li><span class="arrow-d"></span></li>
				</ul>
			</div>
		</div>
	</div>
	<div>
		<form id="logoutForm" name="logoutForm" th:action="@{/logout}" method="post"></form>
	</div>
</body>
<script type="text/javascript" th:inline="javascript">
    let notificationDiv = null;
    window.addEventListener('load', function() {
        notificationDiv = document.getElementById('notification-container');
        hiddenProgressBar();
        setInterval(function () {
            getNotificationList(true);
        }, 60000); // 60초 주기
        getNotificationList(true);
    });

    function logout() {
        document.getElementById('logoutForm').submit();
    }

    function profile_menu() {
        const profileMenu = document.getElementById('profile-menu');
        if (profileMenu.style.display !== 'block') {
            profileMenu.style.display = 'block';
        } else {
            profileMenu.style.display = 'none';
        }
    }

    // Get notification list.
    function getNotificationList(isShow) {
        restSubmitNotification('get', '/notifications/list', function (result) {
            notificationDiv.innerHTML = result;
            const count = document.getElementById('count');
            const noConfirmNotification = notificationDiv.querySelectorAll('div[is-confirm=false]');
            count.innerText = noConfirmNotification.length.toString();
            if (noConfirmNotification.length !== 0) {
                count.style.display = 'block';
            } else {
				count.style.display = 'none';
			}
            document.getElementById('total').innerText = '(' + noConfirmNotification.length + '/' +
                notificationDiv.querySelectorAll('div.notification:not(.noData)').length + ')';

            if (isShow) {
                const noDisplayNotification = notificationDiv.querySelectorAll('div[is-display=false]');
                noDisplayNotification.forEach(function (element) {
                    showNotification({
                        notificationId: element.id,
                        instanceId: element.getAttribute('instance-id'),
                        title: element.querySelector('.title').innerHTML,
                        date: element.querySelector('.date').innerHTML,
                        message: element.querySelector('.message').innerHTML
                    });
                });
            }
        });
    }

    // show notification popup.
    function showNotification(param) {
        let text = '<div class="icon"></div>' +
			'<div class="content"><div class="title">' + param.title + '</div>' +
			'<div class="message text-ellipsis">' + param.message + '</div>' +
			'<div class="date">' + param.date + '</div></div>';
        Toastify({
            text: text,
            duration: 5000,
            close: true,
            gravity: 'bottom',
            position: 'right',
            stopOnFocus: true,
            className: 'alice-toastify alice-toastify-content',
            onShow: function() {
                updateNotification(param.notificationId, 'display');
            },
            onClick: function() {
                openTokenPage(param.notificationId, param.instanceId);
            }
        }).showToast();
    }

    // TODO: 처리할 문서 화면 호출. 해당 문서가 처리되었을 때 이슈로 구현하지 않음. 일단 처리할 문서 목록 화면으로 이동하도록 함.
    // Open token page.
    function openTokenPage(notificationId, instanceId) {
        console.log('[openTokenPage] instance id : ' + instanceId);
        location.href = '/tokens/search';
        updateNotification(notificationId, 'confirm');
    }

    // Update notification.
    function updateNotification(notificationId, target) {
        restSubmitNotification('put', '/rest/notifications/' + notificationId + '/' + target, function () {
            getNotificationList(false);
        });
    }

    // Delete notification.
    function deleteNotification(notificationId) {
        restSubmitNotification('delete', '/rest/notifications/' + notificationId, function () {
            getNotificationList(false);
        });
    }

    // REST API.
    function restSubmitNotification(method, url, result) {
        const opt = {
            method: method,
            url: url,
            showProgressbar: false,
            callbackFunc: function (response) {
                result(response.responseText);
            }
        };
        aliceJs.sendXhr(opt);
    }

    function accordionMenu(element) {
    	if (element.className === 'config' || element.className === 'workflow') {
    		for (var i = 0; i < element.parentNode.childNodes.length; i++) {
    			if (element.parentNode.childNodes[i].id === 'subMenu') {
    				if (element.parentNode.childNodes[i].style.display === 'none') {
						element.parentNode.childNodes[i].style.display = 'block';
					} else {
						element.parentNode.childNodes[i].style.display = 'none';
					}
				}
			}
		}
	}
</script>
</html>
