<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<div class="logo"></div>
<div class="navigation">
    <div class="breadcrumb">
    </div>
    <div class="nav-config">
        <div class="notification">
            <span class="notice-num" id="count"></span>
            <div id="notification-container" class="notification-container"></div>
        </div>
        <div class="user-info dropdown-toggle" type="button" data-toggle="dropdown" onclick="profile_menu();">
            <ul>
                <li><img class="user-profile" th:src="@{{avatarPath}(avatarPath=${#authentication.details.avatarPath})}" width="50px" height="50px" border="1" alt="profile pic"/></li>
                <li>Hello, <span class="user-name" sec:authentication="details.userName"></span>
                    <div class="my-edit" id="profile-menu">
                        <ul>
                            <li><a href="javascript:logout()" th:text="#{common.btn.logout}"><span class="my-modify"/></a></li>
                            <li><a th:href="@{/users/{userKey}/editSelf(userKey=${#authentication.details.userKey})}" th:text="#{menu.setting.editMyInfo}"><span class="my-logout"/></a></li>
                        </ul>
                    </div>
                </li>
                <li><span class="arrow-d"></span></li>
            </ul>
        </div>
    </div>
</div>
<div>
    <form id="logoutForm" name="logoutForm" th:action="@{/logout}" method="post"></form>
</div>
</body>
<script type="text/javascript" th:inline="javascript">
    let notificationDiv = null;
    window.addEventListener('load', function() {
        notificationDiv = document.getElementById('notification-container');
        hiddenProgressBar();
        setInterval(function () {
            getNotificationList(true);
        }, 60000); // 60초 주기
        getNotificationList(true);
    });

    function logout() {
        document.getElementById('logoutForm').submit();
    }

    function profile_menu() {
        const profileMenu = document.getElementById('profile-menu');
        if (profileMenu.style.display !== 'block') {
            profileMenu.style.display = 'block';
        } else {
            profileMenu.style.display = 'none';
        }
    }

    // Get notification list.
    function getNotificationList(isShow) {
        restSubmitNotification('get', '/notifications/list', function (result) {
            notificationDiv.innerHTML = result;
            const count = document.getElementById('count');
            const noConfirmNotification = notificationDiv.querySelectorAll('div[is-confirm=false]');
            count.innerText = noConfirmNotification.length.toString();
            if (noConfirmNotification.length !== 0) {
                count.style.display = 'block';
            } else {
                count.style.display = 'none';
            }
            document.getElementById('total').innerText = '(' + noConfirmNotification.length + '/' +
                notificationDiv.querySelectorAll('div.notification:not(.noData)').length + ')';

            if (isShow) {
                const noDisplayNotification = notificationDiv.querySelectorAll('div[is-display=false]');
                noDisplayNotification.forEach(function (element) {
                    showNotification({
                        notificationId: element.id,
                        instanceId: element.getAttribute('instance-id'),
                        title: element.querySelector('.title').innerHTML,
                        date: element.querySelector('.date').innerHTML,
                        message: element.querySelector('.message').innerHTML
                    });
                });
            }
        });
    }

    // show notification popup.
    function showNotification(param) {
        let text = '<div class="icon"></div>' +
            '<div class="content"><div class="title">' + param.title + '</div>' +
            '<div class="message text-ellipsis">' + param.message + '</div>' +
            '<div class="date">' + param.date + '</div></div>';
        Toastify({
            text: text,
            duration: 5000,
            close: true,
            gravity: 'bottom',
            position: 'right',
            stopOnFocus: true,
            className: 'alice-toastify alice-toastify-content',
            onShow: function() {
                updateNotification(param.notificationId, 'display');
            },
            onClick: function() {
                openTokenPage(param.notificationId, param.instanceId);
            }
        }).showToast();
    }

    // TODO: 처리할 문서 화면 호출. 해당 문서가 처리되었을 때 이슈로 구현하지 않음. 일단 처리할 문서 목록 화면으로 이동하도록 함.
    // Open token page.
    function openTokenPage(notificationId, instanceId) {
        console.log('[openTokenPage] instance id : ' + instanceId);
        location.href = '/tokens/search';
        updateNotification(notificationId, 'confirm');
    }

    // Update notification.
    function updateNotification(notificationId, target) {
        restSubmitNotification('put', '/rest/notifications/' + notificationId + '/' + target, function () {
            getNotificationList(false);
        });
    }

    // Delete notification.
    function deleteNotification(notificationId) {
        restSubmitNotification('delete', '/rest/notifications/' + notificationId, function () {
            getNotificationList(false);
        });
    }

    // REST API.
    function restSubmitNotification(method, url, result) {
        const opt = {
            method: method,
            url: url,
            showProgressbar: false,
            callbackFunc: function (response) {
                result(response.responseText);
            }
        };
        aliceJs.sendXhr(opt);
    }
</script>
</html>
