<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<div class="logo">
    <img class="navigation-logo" th:src="@{/assets/theme/{theme}/media/icons/(theme=${#authentication.details.theme})} + 'icon_logo.svg'" width="174.72" height="25" alt="Zenius ITSM">
</div>
<div class="navigation">
    <div class="breadcrumb">
    </div>
    <div class="navigation-config">
        <div class="notification">
            <div class="notification-icon" onclick="toggleNotificationContainer();">
                <img class="load-svg" th:src="@{/assets/theme/{theme}/media/icons/gnb/icon_gnb_notification.svg(theme=${#authentication.details.theme})}" width="25" height="27">
                <span class="notification-count" id="count"></span>
            </div>
            <div id="notification-container" class="notification-container"></div>
        </div>
        <div class="user-info">
            <a th:href="@{/users/{userKey}/editSelf(userKey=${#authentication.details.userKey})}">
                <img class="user-profile" th:src="@{{avatarPath}(avatarPath=${#authentication.details.avatarPath})}" alt="profile pic"/>
                <span class="user-name" sec:authentication="details.userName"></span>
            </a>
        </div>
        <div class="logout">
            <a class="btn-logout" href="javascript:logout()">
                <span class="icon-logout"></span>
                <span th:text="#{common.btn.logout}"></span>
            </a>
        </div>
    </div>
</div>
<div>
    <form id="logoutForm" name="logoutForm" th:action="@{/logout}" method="post"></form>
</div>
</body>
<script type="text/javascript" th:inline="javascript">
    let notificationDiv = null;
    window.addEventListener('load', function() {
        aliceJs.loadSvg();
        notificationDiv = document.getElementById('notification-container');
        hiddenProgressBar();
        setInterval(function () {
            getNotificationList(true);
        }, 60000); // 60초 주기
        getNotificationList(true);

        document.addEventListener('click', notificationContainerOff, false);
        OverlayScrollbars(document.querySelectorAll('.scroll-wrap'), {className: 'scrollbar'});
    });

    function logout() {
        document.getElementById('logoutForm').submit();
    }

    function toggleNotificationContainer() {
        if (notificationDiv!== null) {
            if (notificationDiv.classList.contains('on')) {
                notificationDiv.classList.remove('on');
            } else {
                notificationDiv.classList.add('on');
            }
        }
    }

    function notificationContainerOff(e) {
        //알림창 내부를 클릭한 경우 동작하지 않는다.
        if (aliceJs.clickInsideElement(e, 'notification-container') || aliceJs.clickInsideElement(e, 'notification')) { return false; }

        if (notificationDiv && notificationDiv.classList.contains('on')) {
            notificationDiv.classList.remove('on');
        }
    }

    // Get notification list.
    function getNotificationList(isShow) {
        restSubmitNotification('get', '/notifications/list', function (result) {
            notificationDiv.innerHTML = result;
            const count = document.getElementById('count');
            const noConfirmNotification = notificationDiv.querySelectorAll('div[is-confirm=false]'); // 확인 안된 알림
            count.innerText = noConfirmNotification.length.toString();
            if (noConfirmNotification.length !== 0 && !notificationDiv.parentNode.classList.contains('active')) {
                notificationDiv.parentNode.classList.add('active');
            }
            document.getElementById('total').innerText = '(' + noConfirmNotification.length + '/' +
                notificationDiv.querySelectorAll('div.notification:not(.noData)').length + ')';
            
            if (isShow) {
                const noDisplayNotification = notificationDiv.querySelectorAll('div[is-display=false]');
                noDisplayNotification.forEach(function (element) {
                    showNotification({
                        notificationId: element.id,
                        instanceId: element.getAttribute('instance-id'),
                        title: element.querySelector('.title').innerHTML,
                        date: element.querySelector('.date').innerHTML,
                        message: element.querySelector('.message').innerHTML
                    });
                });
            }
        });
    }

    // show notification popup.
    function showNotification(param) {
        let text = '<div class="icon"></div>' +
            '<div class="content"><div class="title">' + param.title + '</div>' +
            '<div class="message text-ellipsis">' + param.message + '</div>' +
            '<div class="date">' + param.date + '</div></div>';
        Toastify({
            text: text,
            duration: 5000,
            close: true,
            gravity: 'bottom',
            position: 'right',
            stopOnFocus: true,
            className: 'alice-toastify toast-content',
            onShow: function() {
                updateNotification(param.notificationId, 'display');
            },
            onClick: function() {
                openTokenPage(param.notificationId, param.instanceId);
            }
        }).showToast();
    }

    // TODO: 처리할 문서 화면 호출. 해당 문서가 처리되었을 때 이슈로 구현하지 않음. 일단 처리할 문서 목록 화면으로 이동하도록 함.
    // Open token page.
    function openTokenPage(notificationId, instanceId) {
        console.log('[openTokenPage] instance id : ' + instanceId);
        location.href = '/tokens/search';
        updateNotification(notificationId, 'confirm');
    }

    // Update notification.
    function updateNotification(notificationId, target) {
        restSubmitNotification('put', '/rest/notifications/' + notificationId + '/' + target, function () {
            getNotificationList(false);
        });
    }

    // Delete notification.
    function deleteNotification(notificationId) {
        restSubmitNotification('delete', '/rest/notifications/' + notificationId, function () {
            getNotificationList(false);
        });
    }

    // REST API.
    function restSubmitNotification(method, url, result) {
        const opt = {
            method: method,
            url: url,
            showProgressbar: false,
            callbackFunc: function (response) {
                result(response.responseText);
            }
        };
        aliceJs.sendXhr(opt);
    }
</script>
</html>
