<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <body>
        <div class="z-main-top">
            <div class="flex-row justify-content-end">
                <span class="z-notification">
                    <span class="z-icon-notification" onclick="toggleNotificationContainer();">
                        <img class="load-svg" th:src="@{/assets/theme/{theme}/media/icons/gnb/icon_gnb_notification.svg(theme=${#authentication.details.theme})}" width="25" height="27">
                    </span>
                </span>
                <span class="z-divide">|</span>
                <button class="z-user z-user-info flex-row align-items-center" tabindex="0">
                    <img class="z-img i-user-profile z-user" th:src="@{{avatarPath}(avatarPath=${#authentication.details.avatarPath})}" alt="profile pic"/>
                    <span class="z-user z-user-name text-ellipsis" sec:authentication="details.userName"></span>
                    <span class="z-user z-icon i-arrow-right"></span>
                </button>
                <ul class="z-dropdown-content">
                    <li class="z-dropdown-item" tabindex="-1">
                        <button class="z-dropdown-item-btn align-left" th:text="#{common.btn.editUserInfo}" onclick="getUserEdit()" tabindex="0"></button>
                    </li>
                    <li class="z-dropdown-item" tabindex="-1">
                        <button class="z-dropdown-item-btn align-left" th:text="#{common.btn.logout}" onclick="logout()" tabindex="0"></button>
                    </li>
                </ul>
            </div>
            <div id="notification-panel" class="z-notification-panel"></div>
        </div>
        <form id="logoutForm" name="logoutForm" th:action="@{/logout}" method="post"></form>
    </body>
    <script type="text/javascript" th:inline="javascript">
    /*<![CDATA[ */
    let notificationDiv = null;
    window.addEventListener('DOMContentLoaded', function(){
            const userInfo = document.querySelector('.z-user-info');
            document.querySelector('.z-user-info').addEventListener('click', function (e) {
                e.preventDefault();
                if (this.classList.contains('active')) {
                    this.classList.remove('active');
                } else {
                    this.classList.add('active');
                }
            });
            document.addEventListener('click', function (e) {
                if (e.target != null && !e.target.classList.contains('z-user')) {
                    userInfo.classList.remove('active');
                }
            })
        aliceJs.loadSvg();
        notificationDiv = document.getElementById('notification-panel');
        hiddenProgressBar();
        setInterval(function () {
            getNotificationList(true);
        }, 60000); // 60초 주기
        getNotificationList(true);

        document.addEventListener('click', notificationContainerOff, false);
    });

    function getUserEdit() {
        document.location.href = '/users/[(${#authentication.details.userKey})]/editself';
    }
    function logout() {
        document.getElementById('logoutForm').submit();
    }

    function toggleNotificationContainer() {
        if (notificationDiv!== null) {
            if (notificationDiv.classList.contains('on')) {
                notificationDiv.classList.remove('on');
            } else {
                notificationDiv.classList.add('on');
            }
        }
    }

    function notificationContainerOff(e) {
        //알림창 내부를 클릭한 경우 동작하지 않는다.
        if (aliceJs.clickInsideElement(e, 'z-notification-panel') || aliceJs.clickInsideElement(e, 'z-notification')) { return false; }

        if (notificationDiv && notificationDiv.classList.contains('on')) {
            notificationDiv.classList.remove('on');
        }
    }

    // Get notification list.
    function getNotificationList(isShow) {
        restSubmitNotification('get', '/notifications', function (result) {
            notificationDiv.innerHTML = result;
            const noConfirmNotification = notificationDiv.querySelectorAll('div[isnot-confirm=false]'); // 확인 안된 알림
            if (noConfirmNotification.length !== 0 && !document.querySelector('.z-icon-notification').classList.contains('active')) {
                document.querySelector('.z-icon-notification').classList.add('active');
            }
            document.getElementById('total').innerText = '(' + noConfirmNotification.length + '/' +
                notificationDiv.querySelectorAll('div[is-display=true]').length + ')';

            if (isShow) {
                const noDisplayNotification = notificationDiv.querySelectorAll('div[is-display=false]');
                noDisplayNotification.forEach(function (element) {
                    showNotification({
                        notificationId: element.id,
                        instanceId: element.getAttribute('instance-id'),
                        title: element.querySelector('.z-title').innerHTML,
                        date: element.querySelector('.z-date').innerHTML,
                        message: element.querySelector('.z-message').innerHTML
                    });
                });
            }

            OverlayScrollbars(document.querySelectorAll('.z-notification-body'), {className: 'inner-scrollbar'});
        });
    }

    // show notification popup.
    function showNotification(param) {
        let text = '<div class="icon float-left"></div>' +
            '<div class="content float-left"><div class="title">' + param.title + '</div>' +
            '<div class="message text-ellipsis">' + param.message + '</div>' +
            '<div class="date">' + param.date + '</div></div>';
        Toastify({
            text: text,
            duration: 5000,
            close: true,
            gravity: 'bottom',
            position: 'right',
            stopOnFocus: true,
            className: 'alice-toastify toast-content',
            onShow: function() {
                updateNotification(param.notificationId, 'display');
            },
            onClick: function() {
                openTokenPage(param.notificationId, param.instanceId);
            }
        }).showToast();
    }

    // TODO: 처리할 문서 화면 호출. 해당 문서가 처리되었을 때 이슈로 구현하지 않음. 일단 처리할 문서 목록 화면으로 이동하도록 함.
    // Open token page.
    function openTokenPage(notificationId, instanceId) {
        console.log('[openTokenPage] instance id : ' + instanceId);
        location.href = '/tokens/search';
        updateNotification(notificationId, 'confirm');
    }

    // Update notification.
    function updateNotification(notificationId, target) {
        restSubmitNotification('put', '/rest/notifications/' + notificationId + '/' + target, function () {
            getNotificationList(false);
        });
    }

    // Delete notification.
    function deleteNotification(notificationId) {
        restSubmitNotification('delete', '/rest/notifications/' + notificationId, function () {
            getNotificationList(false);
        });
    }

    // REST API.
    function restSubmitNotification(method, url, result) {
        const opt = {
            method: method,
            url: url,
            showProgressbar: false,
            callbackFunc: function (response) {
                result(response.responseText);
            }
        };
        aliceJs.sendXhr(opt);
    }
    </script>
</html>
