<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<div class="main-top">
    <div class="flex-row justify-content-end">
                <span class="notification">
                    <span class="icon-notification" onclick="toggleNotificationContainer();">
                        <img class="load-svg"
                             th:src="@{/assets/media/icons/gnb/icon_gnb_notification.svg}"
                             width="25" height="27">
                    </span>
                </span>
        <span class="divide">|</span>
        <button class="user user-info flex-row align-items-center" tabindex="0">
            <img class="i-user-profile user"
                 th:src="@{{avatarPath}(avatarPath=${#authentication.details.avatarPath})}" alt="profile pic"/>
            <span class="user user-name text-ellipsis" sec:authentication="details.userName"></span>
            <span class="user ic-arrow-right"></span>
        </button>
        <ul class="dropdown-content">
            <li class="dropdown-item" tabindex="-1">
                <button class="dropdown-item-btn align-left" th:text="#{common.btn.editUserInfo}"
                        onclick="getUserEdit()" tabindex="0"></button>
            </li>
            <li class="dropdown-item" tabindex="-1">
                <button class="dropdown-item-btn align-left" th:text="#{common.btn.logout}" onclick="logout()"
                        tabindex="0"></button>
            </li>
        </ul>
    </div>
    <div id="notification-panel" class="notification-panel"></div>
    <div id="toast-panel" name="toast-panel"></div>
</div>
<form id="logoutForm" name="logoutForm" th:action="@{/logout}" method="post"></form>
</body>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[ */
    let notificationDiv = null;
    window.addEventListener('DOMContentLoaded', function () {
        const userInfo = document.querySelector('.user-info');
        document.querySelector('.user-info').addEventListener('click', function (e) {
            e.preventDefault();
            if (this.classList.contains('active')) {
                this.classList.remove('active');
            } else {
                this.classList.add('active');
            }
        });
        document.addEventListener('click', function (e) {
            if (e.target != null && !e.target.classList.contains('user')) {
                userInfo.classList.remove('active');
            }
        })
        aliceJs.loadSvg();
        notificationDiv = document.getElementById('notification-panel');
        hiddenProgressBar();
        /*setInterval(function () {
            getNotificationList(true);
        }, aliceJs.autoRefreshPeriod);*/ // 60초 주기
        getNotificationList(true);

        document.addEventListener('click', notificationContainerOff, false);
    });

    function getUserEdit() {
        document.location.href = '/users/[(${#authentication.details.userKey})]/editself';
    }

    function logout() {
        document.getElementById('logoutForm').submit();
    }

    function toggleNotificationContainer() {
        if (notificationDiv !== null) {
            if (notificationDiv.classList.contains('block')) {
                notificationDiv.classList.remove('block');
            } else {
                notificationDiv.classList.add('block');
            }
        }
    }

    function notificationContainerOff(e) {
        //알림창 내부를 클릭한 경우 동작하지 않는다.
        if (aliceJs.clickInsideElement(e, 'notification-panel') || aliceJs.clickInsideElement(e, 'notification')) {
            return false;
        }

        if (notificationDiv && notificationDiv.classList.contains('block')) {
            notificationDiv.classList.remove('block');
        }
    }

    // Get notification list.
    function getNotificationList(isShow) {
        restSubmitNotification('get', '/notifications', function (result) {
            notificationDiv.innerHTML = result;
            const noConfirmNotification = notificationDiv.querySelectorAll('div[isnot-confirm=false]'); // 확인 안된 알림
            if (noConfirmNotification.length !== 0 && !document.querySelector('.icon-notification').classList.contains('active')) {
                document.querySelector('.icon-notification').classList.add('active');
            }
            document.getElementById('total').innerText = '(' + noConfirmNotification.length + '/' +
                notificationDiv.querySelectorAll('div[is-display=true]').length + ')';

            if (isShow) {
                const noDisplayNotification = notificationDiv.querySelectorAll('div[is-display=false]');
                noDisplayNotification.forEach(function (element) {
                    showNotification({
                        notificationId: element.id,
                        notificationType: element.getAttribute('notification-type'),
                        instanceId: element.getAttribute('instance-id'),
                        title: element.querySelector('.title').innerHTML,
                        date: element.querySelector('.date').innerHTML,
                        message: element.querySelector('.message').innerHTML
                    });
                });
            }

            OverlayScrollbars(document.querySelectorAll('.notification-body'), {className: 'inner-scrollbar'});
        });
    }

    // show notification popup.
    function showNotification(param) {
        let text = '<div class="icon float-left"></div>' +
            '<div class="content float-left"><div class="title">' + param.title + '</div>' +
            '<div class="message text-ellipsis">' + param.message + '</div>' +
            '<div class="date">' + param.date + '</div></div>';
        Toastify({
            text: text,
            duration: 5000,
            selector: 'toast-panel',
            close: true,
            gravity: 'bottom',
            position: 'right',
            stopOnFocus: true,
            className: 'alice-toastify toast-content',
            onShow: function () {
                updateNotification(param.notificationId, 'display');
            },
            onClick: function () {
                // 문서 알림일 경우만 팝업 호출
                if (param.notificationType === 'document') {
                    openTokenPage(param.notificationId, param.tokenId);
                } else {
                    updateNotification(param.notificationId, 'confirm');
                }
            }
        }).callToast();
    }

    // TODO: 처리할 문서 화면 호출. 해당 문서가 처리되었을 때 이슈로 구현하지 않음. 일단 처리할 문서 목록 화면으로 이동하도록 함.
    // Open token page.
    function openTokenPage(notificationId, instanceId) {
        location.href = '/tokens/search';
        updateNotification(notificationId, 'confirm');
    }

    // Update notification.
    function updateNotification(notificationId, target) {
        restSubmitNotification('put', '/rest/notifications/' + notificationId + '/' + target, function () {
            getNotificationList(false);
        });
    }

    // Delete notification.
    function deleteNotification(notificationId) {
        restSubmitNotification('delete', '/rest/notifications/' + notificationId, function () {
            getNotificationList(false);
        });
    }

    // REST API.
    function restSubmitNotification(method, url, result) {
        aliceJs.fetchText(url, {
            method: method
        }).then((data) => {
            result(data);
        });
    }
</script>
</html>
