/* _common.scss 
 *
 * 파일 경로 : template/utilities/_common.scss
 * @description 공통으로 사용되는 디자인
 * @author wdj
 * @version 1.0
 */
// 밑줄
.underline {
  @include underline;
}
// 설명
.description {
  color: map-get($grays, "warm");
}
// 필수 (*) 표시
.required {
  font-weight: 700;
  &::after {
    color: $red;
    content: '\002a'; // *
  }
}
// 말줄임
.text-ellipsis {
  @include ellipsis();
}
// 가로 선
@include horizontalBar(0.0625rem, 0.9375rem 0, $element-border-color);
// 세로 선
@include verticalBar($vertical-bar-width, $vertical-bar-height, $element-border, $vertical-bar-margin);
// 아래 실선
.under-bar {
  border-bottom: 0.0625rem solid map-get($grays, "default"); // 1px
  padding-bottom: 0.625rem; // 10px
  margin-bottom: 0.625rem; //10px
  .bold {
    border-bottom: 0.125rem solid map-get($grays, "default"); // 2px
  }
}
// 포인터
.pointer {
  cursor: pointer;
}