/* _spacing.scss
 *
 * 파일 경로 : template/utilities/_spacing.scss
 * @description HTML element padding, margin 여백 관련 디자인
 * @author jy.lim
 * @version 1.0
 */
// padding
.p-0 { padding: 0; }
// pt-0 ~ pt-5, pl-0 ~ pl-5, pb-0 ~ pb-5, pr-0 ~ pr-5
@for $i from 1 through 5 {
  $padding: $i * 0.3125rem; // 5px 씩 증가
  .pt-#{$i} { padding-top: $padding; }
  .pr-#{$i} { padding-right: $padding; }
  .pb-#{$i} { padding-bottom: $padding; }
  .pl-#{$i} { padding-left: $padding; }
}

// margin
.m-0 { margin: 0; }
.m-auto { margin: auto; }

// mt-0 ~ mt-5, ml-0 ~ ml-5, mb-0 ~ mb-5, mr-0 ~ mr-5
@for $i from 1 through 5 {
  $margin: $i * 0.3125rem; // 5px 씩 증가
  .mt-#{$i} { margin-top: $margin; }
  .mr-#{$i} { margin-right: $margin; }
  .mb-#{$i} { margin-bottom: $margin; }
  .ml-#{$i} { margin-left: $margin; }
}
.mt-auto { margin-top: auto; }
.mr-auto { margin-right: auto; }
.mb-auto { margin-bottom: auto; }
.ml-auto { margin-left: auto; }
