<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/itsm/pageType/commonSearchLayout}">
<head>
    <title th:text="#{calendar.label.calendar}"></title>
</head>
<th:block layout:fragment="pageHead">
    <link th:href="@{/assets/vendors/tuiCalendar/tui-date-picker.css}" rel="stylesheet"/>
    <link th:href="@{/assets/vendors/tuiCalendar/tui-time-picker.css}" rel="stylesheet"/>
    <link th:href="@{/assets/vendors/tuiCalendar/tui-calendar.css}" rel="stylesheet"/>
    <script th:src="@{/assets/vendors/tuiCalendar/tui-code-snippet.min.js}"></script>
    <script th:src="@{/assets/vendors/tuiCalendar/tui-date-picker.min.js}"></script>
    <script th:src="@{/assets/vendors/tuiCalendar/tui-time-picker.min.js}"></script>
    <script th:src="@{/assets/vendors/tuiCalendar/tui-calendar.min.js}"></script>
    <script th:src="@{/assets/vendors/tuiCalendar/tui-calendar.custom.js}"></script>
</th:block>
<body>
<div layout:fragment="pageTitle">
    <h1 th:text="#{calendar.label.calendar}"></h1>
    <h6 class="description ml-2 pl-2" th:text="#{calendar.msg.description}"></h6>
</div>
<div layout:fragment="pageSearchResult">
    <div class="calendar">
        <div class="calendar__menu flex-row mb-3" id="calendarMenu">
            <select class="col-2" id="calendarType">
                <option value="month" th:text="#{calendar.label.month}" selected></option>
                <option value="week" th:text="#{calendar.label.week}"></option>
                <option value="day" th:text="#{calendar.label.day}"></option>
                <option value="task" th:text="#{calendar.label.task}"></option>
            </select>
            <button type="button" class="z-button calendar__action primary ml-1" th:text="#{calendar.label.today}"
                    data-action="today"
                    onclick="onClickCalendarMenu(this);"></button>
            <button type="button" class="z-button-icon calendar__action calendar__move ml-1" data-action="prev"
                    onclick="onClickCalendarMenu(this);">
                <span class="z-icon i-arrow-right move--prev"></span>
            </button>
            <button type="button" class="z-button-icon calendar__action calendar__move ml-1" data-action="next"
                    onclick="onClickCalendarMenu(this);">
                <span class="z-icon i-arrow-right move--next"></span>
            </button>
            <span class="calendar__render-range-text ml-1" id="renderRangeText"></span>
        </div>
        <div class="calendar__view" id="calendar"></div>
    </div>
</div>
<script layout:fragment="pageScript" type="text/javascript" th:inline="javascript">
    const calendarId = /*[[${calendarId}]]*/ '';
    let myCalendar = null; // tui calendar 객체
    window.onload = function () {

        // 달력 초기화
        myCalendar = new zCalendar(document.getElementById('calendar'), {
            renderRange: document.getElementById('renderRangeText')
        });
        myCalendar.setRenderRangeText();

        // 이벤트 등록
        document.getElementById('calendarType').addEventListener('change', function (e) {
            myCalendar.setCalendarType(e.target.value, setSchedules);
        });
        // 일정 조회
        setSchedules();
    };

    /**
     * 일정 목록 조회
     */
    function setSchedules() {
        // 기존 목록 삭제
        myCalendar.clear();

        // 데이터 재조회
        const calendarType = document.getElementById('calendarType').value;
        const standardDate = myCalendar.getStandardSystemDateTime();
        const urlParam = 'calendarId=' + calendarId + '&viewType=' + calendarType + '&standardDate=' + standardDate;
        //TODO: 주석 해제
        /*aliceJs.fetchJson('/rest/calendars?' + encodeURIComponent(urlParam), {
            method: 'GET'
        }).then((response) => {
            if (response.status === aliceJs.response.success) {
                myCalendar.setCalendars(response.data.calendars);
                const schedules = [];
                response.data.calendars.forEach((calendar) => {
                    calendar.schedules.forEach((schedule) => {
                        schedules.push({
                            id: schedule.id,
                            calendarId: calendar.calendarId,
                            title: schedule.title,
                            body: schedule.contents,
                            isAllDay: schedule.allDayYn,
                            start: luxon.DateTime.fromISO(schedule.startDt, {zone: 'utc'}).setZone(i18n.timezone)
                                .toJSDate(),
                            end: luxon.DateTime.fromISO(schedule.endDt, {zone: 'utc'}).setZone(i18n.timezone).toJSDate(),
                            category: schedule.allDayYn ? 'allday' : 'time',
                            raw: {
                                repeatId: '',
                                repeatSeq: 1,
                                repeatYn: schedule.repeatYn,
                                repeatType: schedule.repeatType,
                                repeatValue: schedule.repeatValue,
                                repeatPeriod: schedule.repeatPeriod,
                                ownerName: schedule.ownerName
                            }
                        });
                    });
                    calendar.repeats.forEach((repeat) => {
                        schedules.push({
                            id: repeat.id + repeat.index,
                            calendarId: calendar.calendarId,
                            title: repeat.title,
                            body: repeat.contents,
                            isAllDay: repeat.allDayYn,
                            start: luxon.DateTime.fromISO(repeat.startDt, {zone: 'utc'}).setZone(i18n.timezone)
                                .toJSDate(),
                            end: luxon.DateTime.fromISO(repeat.endDt, {zone: 'utc'}).setZone(i18n.timezone).toJSDate(),
                            category: repeat.allDayYn ? 'allday' : 'time',
                            raw: {
                                repeatId: repeat.id,
                                repeatSeq: repeat.index,
                                repeatYn: repeat.repeatYn,
                                repeatType: repeat.repeatType,
                                repeatValue: repeat.repeatValue,
                                repeatPeriod: repeat.repeatPeriod,
                                ownerName: repeat.ownerName
                            }
                        });
                    });
                });
                myCalendar.addSchedule(schedules);
            }
        });*/

        // TODO: 아래 삭제
        const dummy = getDummy();
        myCalendar.setCalendars(dummy.calendars);
        const schedules = [];
        dummy.calendars.forEach((calendar) => {
            calendar.schedules.forEach((schedule) => {
                schedules.push({
                    id: schedule.id,
                    calendarId: calendar.calendarId,
                    title: schedule.title,
                    body: schedule.contents,
                    isAllDay: schedule.allDayYn,
                    start: luxon.DateTime.fromISO(schedule.startDt, {zone: 'utc'}).setZone(i18n.timezone).toJSDate(),
                    end: luxon.DateTime.fromISO(schedule.endDt, {zone: 'utc'}).setZone(i18n.timezone).toJSDate(),
                    category: schedule.allDayYn ? 'allday' : 'time',
                    raw: {
                        repeatId: '',
                        repeatSeq: 1,
                        repeatYn: schedule.repeatYn,
                        repeatType: schedule.repeatType,
                        repeatValue: schedule.repeatValue,
                        repeatPeriod: schedule.repeatPeriod,
                        ownerName: schedule.ownerName
                    }
                });
            });
            calendar.repeats.forEach((repeat) => {
                schedules.push({
                    id: repeat.id + repeat.index,
                    calendarId: calendar.calendarId,
                    title: repeat.title,
                    body: repeat.contents,
                    isAllDay: repeat.allDayYn,
                    start: luxon.DateTime.fromISO(repeat.startDt, {zone: 'utc'}).setZone(i18n.timezone).toJSDate(),
                    end: luxon.DateTime.fromISO(repeat.endDt, {zone: 'utc'}).setZone(i18n.timezone).toJSDate(),
                    category: repeat.allDayYn ? 'allday' : 'time',
                    raw: {
                        repeatId: repeat.id,
                        repeatSeq: repeat.index,
                        repeatYn: repeat.repeatYn,
                        repeatType: repeat.repeatType,
                        repeatValue: repeat.repeatValue,
                        repeatPeriod: repeat.repeatPeriod,
                        ownerName: repeat.ownerName
                    }
                });
            });
        });
        console.log(schedules);
        myCalendar.addSchedule(schedules);
    }

    /**
     * 일정 등록
     */

    /**
     * 일정 삭제
     */

    /**
     * 상단 메뉴 이벤트 처리
     * @param {e} 이벤트 객체
     */
    function onClickCalendarMenu(e) {
        myCalendar.onClickCalendarMenu(e.getAttribute('data-action'), setSchedules);
    }

    // TODO: 삭제 필요
    function getDummy() {
        return {
            'from': '2022-05-01 00:00',
            'to': '2022-05-31 23:59',
            'calendars': [
                {
                    'calendarId': '40288ab2804f694401804f6fe99e0000',
                    'calendarName': '내 일정',
                    'owner': '0509e09412534a6e98f04ca79abb6424',
                    'schedules': [
                        {
                            'id': '40288ab2804f7f5e01804f858f1d0001',
                            'title': '개인 연차',
                            'index': 1,
                            'contents': '개인 사유',
                            'allDayYn': true,
                            'startDt': '2022-05-05T15:00:00.000Z',
                            'endDt': '2022-05-05T15:00:00.000Z',
                            'repeatYn': false,
                            'repeatType': '',
                            'repeatValue': '',
                            'repeatPeriod': '',
                            'ownerName': '고양이'
                        },
                        {
                            'id': '40288ab2804f7f5e01804f858f1d0004',
                            'title': '외근',
                            'index': 1,
                            'contents': '새마을금고',
                            'allDayYn': false,
                            'startDt': '2022-05-13T09:00:00.000Z',
                            'endDt': '2022-05-13T10:00:00.000Z',
                            'repeatYn': false,
                            'repeatType': '',
                            'repeatValue': '',
                            'repeatPeriod': '',
                            'ownerName': '우다정'
                        }
                    ],
                    'repeats': [{
                        'id': '40288ab2804f7f5e01804f858f1d0002',
                        'title': '스터디',
                        'index': 1,
                        'contents': '서울 성동구 성수이로 87',
                        'allDayYn': false,
                        'startDt': '2022-05-20T09:00:00.000Z',
                        'endDt': '2022-05-20T10:00:00.000Z',
                        'repeatYn': true,
                        'repeatType': 'dayOfMonth',
                        'repeatValue': '3_5', // 매월 3번째 금요일
                        'repeatPeriod': '',
                        'ownerName': '우다정'
                    }]
                },
                {
                    'calendarId': '40288ab2804f694401804f6fe99e0001',
                    'calendarName': '회사',
                    'owner': '0509e09412534a6e98f04ca79abb6424',
                    'schedules': [
                        {
                            'id': '40288ab2804f7f5e01804f858f1d0003',
                            'index': 1,
                            'title': 'ITSM팀 회의',
                            'contents': '장소: 8F 대회의실',
                            'allDayYn': false,
                            'startDt': '2022-05-16T01:00:00.000Z',
                            'endDt': '2022-05-16T02:00:00.000Z',
                            'repeatYn': false,
                            'repeatType': '',
                            'repeatValue': '',
                            'repeatPeriod': '',
                            'ownerName': '정희찬'
                        }
                    ],
                    'repeats': []
                }
            ]
        };
    }

</script>
</body>
</html>