.guide-body {
  background-color: #EFF4FA;
  margin: 0rem;
  height: 41.875rem;
  width: 120rem;
}

.guide-p {
  font-size: 1.875rem;
  text-align: center;
  margin: 17.3125rem 19.6875rem 2.875rem 19.6875rem;
  height: 3.625rem;
  width: 80.625rem;
  font-weight: 500;
  color: #47556a;
}

.guide-a {
  padding: 3.9375rem;
  margin: 0rem 0.9375rem 0rem 0.9375rem;
  position: relative;
  left: 18.75rem;
  background-color: white;
  display: inline-block;
  height: 10.875rem;
  width: 10.875rem;
  text-decoration: none;

  .guide-img {
    width: 10.875rem;
    height: 10.875rem;
    position: relative;
    bottom: 0.625rem;
  }

  .guide-p {
    position: relative;
    text-align: center;
    margin: 0rem;
    width: 10.875rem;
    height: 1.875rem;
    top: -0.625rem;
    font-size: 1.25rem;
    font-weight: 500;
    color: #47556a;
  }
}
