.guide-body {
    background-color: $light-gray;
    h1 {
        text-align: center;
        margin: 17.3125rem 19.6875rem 2.875rem 19.6875rem;
        height: 3.625rem;
        width: 80.625rem;
    }
}

.browser-row {
    text-align: center;
}
.browser-box {
    padding: 0 5.625rem; // 90px
    background-color: white;
    display: inline-block;
    height: 22.5rem; // 360px
    width: 22.5rem; // 360px
    text-decoration: none;
    margin-left: 0.8125rem; // 13px
    box-shadow: 0 0 0.9375rem rgba(204, 206, 209, 0.15); // 15px;

    img {
        margin-top: 3.875rem; // 62px
        width: 11.25rem; // 180px
        height: 11.25rem; // 180px
    }
    h3 {
        text-align: center;
        margin-top: 1.25rem; // 20px
    }
}
