/* date picker css */
$datepicker-asset-path: "../media/icons/datepicker";
$datepicker-font-family: "Noto Sans KR";
$datepicker-border-color: $line-gray;
$datepicker-title-font-color: #464F50;
$datepicker-title-font-size: 0.875rem; // 14px
$datepicker-title-font-weight: bold;
$datepicker-title-background-color: #ffffff;
$datepicker-sub-title-font-color: #868F9A;
$datepicker-sub-title-font-size: 0.688rem; // 11px
$datepicker-sub-title-font-weight: 500;
$datepicker-sub-title-background-color: $light-gray;
$datepicker-content-font-size: 0.625rem; // 10px
$datepicker-content-font-weight: 500;
$datepicker-content-background-color: #ffffff;
$datepicker-button-font-color: #68717C;
$datepicker-button-font-size: 0.688rem; // 11px
$datepicker-button-font-weight: normal;
$datepicker-button-background-color: #ffffff;
$datepicker-active-color: $point-blue;

.picker-wrapper-date {
    display: inline-block;
}

.picker-modal {
    font-family: $datepicker-font-family;
    display: none;
    position: fixed;
    background-color: #ffffff;
    border: solid 0.0625rem $datepicker-border-color; // 1px
    box-shadow: 0 0 0.3125rem 0 rgba(235, 235, 235, 1); // 5px
    text-align: center;
    z-index: 999;
    min-width: 23.375rem; // 374px

    &.active { display: block; z-index: 999;}

    &-title {
        @include h4();
        height: 3.3125rem; // 53px
        background-color: $datepicker-title-background-color;
        border-bottom: solid 0.0625rem $datepicker-border-color; // 1px
        padding: 1.125rem 0; // 18px

        img.close {
            position: absolute;
            right: 1.25rem; // 20px
            width: 0.875rem; // 14px
            height: 0.875rem; // 14px
            content: url("#{$datepicker-asset-path}/icon_close.png");
            cursor: pointer;
        }
    }

    &-sub-title {
        @include h5();
        background-color: $datepicker-sub-title-background-color;
        border-bottom: solid 0.0625rem $datepicker-border-color; // 1px
        padding: 0.5rem 0; // 8px
    }

    &-content {
        display: flex;
        justify-content: center;
        border-bottom: solid 0.0625rem $datepicker-border-color; // 1px
        padding: 1.25rem 0 0.5625rem 0; // 20px 9px
        @include h5();
        background-color: $datepicker-content-background-color;
        &-date {
            display: none;
            width: 23.375rem; // 374px

            &.active {
                display: inline-block;
                + div.active {
                    border-left: solid 0.0625rem $datepicker-border-color; // 1px
                }
            }

            &-months {
                height: 1.125rem; // 18px
                margin: 0 2rem; // 0 32px

                img { vertical-align: middle; }

                .date-prev {
                    cursor: pointer;
                    content: url("#{$datepicker-asset-path}/icon_arrow_left.png");
                }

                .date-text {
                    @include h5();
                    display: inline-block;
                    width: 16.875rem; // 270px
                    color: $dark-gray;
                    margin: 0;
                    padding: 0;
                }

                .date-next {
                    cursor: pointer;
                    content: url("#{$datepicker-asset-path}/icon_arrow_right.png");
                }

            }

            &-calendar {
                padding: 1.25rem 1.5rem 0 1.5rem; // 20px 24px 16px 24px
                color: #C2CBD6; // 전월, 이월

                .calendar-cell {
                    display: inline-block;
                    width: 1.875rem; // 30px
                    height: 1.875rem; // 30px
                    line-height: 0.8125rem; // 13px
                    padding: 0.4375rem; // 7px
                    margin: 0.25rem 0.5rem; // 4px 8px
                    text-align: center;

                    &.calendar-title {
                        @include h5();
                        color: $gray;
                        pointer-events: none;
                    }

                    &:not(.calendar-title) {
                        cursor: pointer;
                    }

                    &.active { // 현재 월
                        color: $dark-gray;
                    }
                    &.prev, &.next {
                        color: $gray;
                    }

                    &.selected {
                        background-color: $datepicker-active-color;
                        color: #ffffff;
                        border-radius: 48%;

                    }
                }
            }
        }
        &-time {
            display: none;
            width: 23.375rem; // 374px
            justify-content: center;
            padding: 1.188rem 2.25rem; // 19px 36px

            &.active { display: flex; }

            .hour-group,
            .minute-group {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                img {
                    width: 1.125rem; // 18px
                    height: 0.625rem; // 10px

                    &.arrow-up {
                        cursor: pointer;
                        content: url("#{$datepicker-asset-path}/icon_arrow_top.png");

                        &:hover {
                            content: url("#{$datepicker-asset-path}/icon_arrow_top_select.png");
                        }
                    }

                    &.arrow-down {
                        cursor: pointer;
                        content: url("#{$datepicker-asset-path}/icon_arrow_under.png");

                        &:hover {
                            content: url("#{$datepicker-asset-path}/icon_arrow_under_select.png");
                        }
                    }
                }

                .digit {
                    width: 3.75rem; // 60px
                    height: 3.75rem; // 60px
                    color: #505964;
                    font-size: 1.438rem; //23px
                    font-weight: 500;
                    text-align: center;
                    margin: 2.1875rem 0; // 25px
                    border: 0.0625rem solid $datepicker-border-color; // 1px
                    padding: 0;

                    &:focus {
                        outline: none !important;
                        border: 0.0625rem solid $datepicker-active-color;
                    }
                }
            }
            .button-group {
                display: flex;
                flex-direction: column;
                justify-content: center;

                button {
                    width: 3.75rem; // 60px
                    height: 1.875rem; // 30px
                    color: $gray;
                    font-size: 1rem; // 16px
                    font-weight: 500;
                    margin-left: 0.625rem; // 10px
                    background-color: $light-gray;
                    border: 0.0625rem solid $datepicker-border-color;
                    padding: 0;
                    cursor: pointer;
                    flex: none;

                    &.active {
                        color: $datepicker-active-color;
                        background-color: #ffffff;
                        border: 0.0625rem solid $datepicker-active-color;
                        + button { border-left-color: $datepicker-border-color; }
                    }

                    &:focus {
                        outline: none !important;
                    }
                }
            }

            .separator { // 구분자 :
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 2rem; // 32px
                color: $light-black;
                font-size: 1.438rem; // 23px
                font-weight: 500;
            }
        }
    }

    &-button {
        float: right;
        margin: 1.25rem 1.25rem 1.25rem 0;
        button {
            margin-left: 0.3125rem; // 5px
        }
    }
}