@import "../template/_elements.scss";

h1.title {
  padding: 0.625rem 0 0.625rem 0.3125rem; // 10px 0 10px 5px
}

h3.under-bar {
  padding-bottom: 0.625rem; // 10px
  margin-bottom: 0.625rem; //10px
  border-bottom: 0.125rem solid $default-gray; // 2px
  margin-top: 3.125rem; // 50px
  &:first-of-type {
    margin-top: 0;
  }
}

h4.under-bar {
  padding-bottom: 0.625rem; // 10px
  margin-bottom: 0.625rem; //10px
  border-bottom: 0.125rem solid $default-gray; // 2px
}

select {
  margin-right: 0.0625rem; // 1px
  vertical-align: middle;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem; // 8px
  margin-top: 1rem; // 16px
}

input {
    &.search {
        background: url($icon-folder-path + "icon_search.svg") no-repeat 100%-3;
        background-color: $element-bg-color;
    }
    &.search-date {
        background: url($icon-folder-path + "icon_calendar.svg") no-repeat 100%-5 50%;
        background-color: $element-bg-color;
    }
}