/*
 * 에러
 * 파일 경로 : _error.scss
 * URL : /error
 */

.error-background {
  width: 50vw;
  height: 100vh;
  background-color: $error-bg-color;
  overflow: hidden;

  .logo {
    position: relative;
    top: -59.1875rem; // -947px
    margin: 5rem 0 0 5rem; // 80px 80px
  }
}

.error-form {
  width: 50vw;
  padding: 16.875rem 5.625rem; // 270px 90px
  border-left: $error-border;

  h1 { line-height: 1.7; }

  .error-code-txt {
    margin: 1.25rem 0; // 20px
    color: $point-blue;
  }

  .error-bottom-txt {
    color: $dark-gray;
    margin: 5rem 0; // 80px
  }
}