.login {
    &-logo {
        position: absolute;
        top: 5rem; // 80px
        left: 5rem; // 80px
    }

    &-background {
        background-color: $point-blue;
        height: 100%;
        width: 80.3125rem; // 1285px;
        .login-main-image {
            margin-top: 155px;
            margin-left: 6.875rem; // 110px
            height: 44.375rem; // 710px
            width: 66.9375rem; // 1071px
        }
    }
    &-form {
        margin: 8.5rem 4.0625rem 0 4.0625rem; // 136px 65px 0 65px
        width: 30rem; // 480px
        h1 {
            height: 2.313rem; // 37px
            margin-bottom: 3.75rem; // 60px
            text-align: center;
        }

        .login-base-form {
            margin-bottom: 1rem; // 16px
            display: flex;
            flex-direction: column;
        }
    }

    &-btn {
        border: 0.063rem solid; // 1px
        border-radius: 0.063rem; // 1px
        display: inline-block;
        text-align: center;
        font-size: 0.875rem; // 14px
        vertical-align: middle;
        padding: 0.75rem 0.625rem; // 12px 10px

        &-return {
            position: absolute;
            top: 5rem; // 80px
            left: 66rem; // 1056px
            color: #FFFFFF;
            border-radius: 0.1875rem; // 3px
            padding: 0.75rem 3rem; // 12px 48px
        }

        &-submit {
            background-color: $point-blue;
            color: #FFFFFF;
            width: 100%;
        }

        &-google {
            background-color: #ffffff;
            border-color: #c8ced8;
            color: #3E4752;
            width: 100%;

            &-icon {
                background-image: url($image-folder-path + "login/icon_google.png");
                background-size: 1.188rem; // 19px
                background-repeat: no-repeat;
                background-position-y: center;
                background-position-x: 0.625rem; // 10px
            }
        }

        &-kakao {
            background-color: #ffde00;
            border-color: #EBCC00;
            color: #3E4752;
            width: 100%;

            &-icon {
                background-image: url($image-folder-path + "login/icon_kakao.png");
                background-size: 1.188rem; // 19px
                background-repeat: no-repeat;
                background-position-y: center;
                background-position-x: 0.625rem; // 10px
            }
        }
    }

    &-divide {
        display: flex;
        flex-basis: 100%;
        align-items: center;
        color: $gray;
        font-size: 0.875rem; // 14px
        margin: 4rem 0 4rem 0; // 64px 0 64px 0

        &::before {
            content: '';
            flex-grow: 1;
            background: $gray;
            height: 0.063rem; // 1px
            margin-right: 1rem; // 16px
        }

        &::after {
            content: '';
            flex-grow: 1;
            background: $gray;
            height: 0.063rem; // 1px
            margin-left: 1rem; // 16px
        }
    }

    &-platform {
        button {
            margin-bottom: 1rem; // 16px

            &:last-child {
                margin: 0;
            }
        }
    }

    &-other {
        margin-top: 6.188rem; // 99px
        height: 1.063rem; // 17px
        display: flex;
        font-size: 0.875rem; // 14px
        font-weight: 400;
        color: #7b8593;
        text-align: center;

        &-signUp, &-findPwd, &-findId {
            flex: 1;
            border-right: 0.063rem solid #7b8593; // 1px

            &:last-child {
                border: none;
            }
        }
    }
}
