/*
 * 로그인
 * 파일 경로 : portal/_login.scss
 */
.login {
  &-logo {
    position: relative;
    top: $login-logo-position-top;
    left: $login-logo-position-left;
  }

  &-background {
    width: calc(100vw - #{$login-form-width});
    height: 100%;
    background-color: $login-bg-color;
    overflow: hidden;

    .login-main-image {
      margin: 6.875rem 0 0 6.875rem; // 110px 0 0 110px
    }
  }

  &-form {
    width: $login-form-width;
    padding: 8.5rem 4.0625rem 0 4.0625rem; // 136px 65px 0 65px
    h1 {
      height: 2.313rem; // 37px
      margin-bottom: 3.75rem; // 60px
    }

    .login-base-form {
      margin-bottom: 1rem; // 16px
    }
  }

  &-divide {
    flex-basis: 100%;
    color: $gray;
    font-size: $login-form-font-size;
    margin: 4rem 0 4rem 0; // 64px 0 64px 0

    &::before {
      content: '';
      flex-grow: 1;
      background: $line-gray;
      height: 0.063rem; // 1px
      margin-right: 1rem; // 16px
    }

    &::after {
      content: '';
      flex-grow: 1;
      background: $line-gray;
      height: 0.063rem; // 1px
      margin-left: 1rem; // 16px
    }
  }

  &-platform {
    button {
      margin-bottom: 1rem; // 16px

      &:last-child { margin: 0; }
    }
  }

  &-other {
    height: 1.063rem; // 17px
    font-size: $login-form-font-size;
    font-weight: $login-form-font-weight;
    color: $login-form-font-color;
    margin-top: 6.188rem; // 99px

    a { color: $login-form-font-color; }
  }
}
