@mixin backgroundImage($path) {
  @include background($path, null, null, null, null, null)
}

@mixin backgroundImageAndSize($path, $size) {
  @include background($path, $size, null, null, null, null)
}

@mixin h5() {
  color: $dark-gray;
  font: {
    size: 1rem; // 16px
    weight: 400;
  }
}