@mixin background($path, $size, $repeat, $posX, $posY, $color) {
  background-image: url($icon-folder-path + $path);
  background-size: if($size == null, auto, $size);
  background-repeat: if($repeat == null, no-repeat, $repeat);
  background-position-x: if($posX == null, center, $posX);
  background-position-y: if($posY == null, center, $posY);
  @if ($color != null) {
    background-color: $color;
  }
}

@mixin backgroundImage($path) {
  @include background($path, null, null, null, null, null)
}

@mixin backgroundImageAndSize($path, $size) {
  @include background($path, $size, null, null, null, null)
}

@mixin h1() {
  color: $light-black;
  font: {
    size: 2.25rem; // 36px
    weight: 700;
  }
}

@mixin h4() {
  color: $light-black;
  font: {
    size: 1.125rem; // 18px
    weight: 500;
  }
}

@mixin h5() {
  color: $dark-gray;
  font: {
    size: 1rem; // 16px
    weight: 400;
  }
}

@mixin h6() {
  color: $warm-gray;
  font: {
    family: 맑은고딕;
    size: 0.875rem; // 14px
    weight: 400;
  }
}