.portal {
    &-search {
        &-top {
            height: 3.125rem; // 50px
            background-color: $point-blue;
            display: flex;
            align-items: center;

            .left {
                flex: none;
                margin-left: 1.25rem; // 20px
            }

            .right {
                margin-left: auto;
                margin-right: 1.25rem; // 20px
            }

            .login {
                color: #ffffff;
                font-size: 1rem; // 16px
                font-weight: 500;
                cursor: pointer;
            }
        }

        &-main {
            height: 6.5rem; // 104px
            background-color: $line-gray;
            border-bottom: 0.0625rem solid $line-gray; // 1px
            .title {
                text-align: center;
                padding: 3.625rem 0 0.625rem 0; // 58px 0px 10px 0px
            }
        }

        &-area {
            height: 8.5rem; // 136px
            background-color: $line-gray;
            border-bottom: 0.0625rem solid $line-gray; // 1px
            padding: 3rem 0 3rem 0;
            input {
                padding: 0 2.5rem 0 0.938rem; // 0 40px 0 15px
                width: 40rem; // 640px
                height: 2.5rem; // 40px
                display: block;
                margin: auto;
                border: 1px solid $line-gray;
                border-radius: 1px;
                color: rgba(122, 133, 148, 0.55);
                font-weight: 400;
                font-size: 0.938rem; // 15px
                &.icon {
                    background-image: url($image-folder-path + "portalSearch/icon_search.png");
                    background-position: 38.0625rem; // 609px
                    background-repeat: no-repeat;
                }
            }
        }

        &-container {
            height: 15rem; // 240px
            background-color: $line-gray;
            padding: 0 0 0 12.75rem; // 204px
            border-bottom: 0.0625rem solid $line-gray; // 1px

            .page-title {
                text-align: left;
                padding: 3.625rem 0; // 58px
                display: flex;
                align-items: baseline;
            }

            input {
                height: 2.5rem; // 40px
                font-size: $element-font-size;
                border: $element-border solid $border-color;
                border-radius: $element-border-radius;
                padding: 0 10px;
                margin-right: 0.0625rem; // 1px
                vertical-align: middle;
                background-color: $element-background-color;
                color: #586872;
            }

            &.search {
                background: url($icon-folder-path + "icon_search.svg") no-repeat center right;
                background-color: $element-background-color;
            }

            &.search-date {
                background: url($icon-folder-path + "icon_calendar.png") no-repeat 100%-5 50%;
                background-color: $element-background-color;
            }

        }

        &-content {
            ul {
                display: flex;
                justify-content: space-between;
                padding: 3.4375rem 12.75rem 0 12.75rem; // 55px 220px 0 220px
                li {
                    &.part-box {
                        width: 30rem; // 480px
                        border: 0.0625rem solid $line-gray; // 1px
                        display: flex;
                        flex-direction: column;

                        .header {
                            padding-top: 3.4375rem; // 55px
                            text-align: center;

                            .icon {
                                padding-bottom: 1.25rem; // 20px

                                img {
                                    cursor: pointer;
                                }
                            }

                            .title {
                                padding-top: 1.25rem; // 20px
                                height: 1.438rem; // 23px
                                font-size: 1.563rem; // 25px
                                font-weight: 500;
                                color: #47556a;
                                border: none;
                            }
                        }

                        .list {
                            padding: 2.1875rem 2.1875rem 2.8125rem 2.1875rem; // 35px 35px 45px 35px
                            table {
                                font-size: 0.813rem; // 13px
                                color: #67717f;
                                font-weight: 400;
                                width: 100%;
                                height: 100%;
                                table-layout: fixed;

                                th, td {
                                    height: 2.5rem; // 40px
                                    padding: 0 1.25rem 0 1.25rem; // 20px
                                    vertical-align: middle;
                                    text-align: left;

                                    &:hover {
                                        background-color: $line-gray;
                                    }
                                }

                                a {
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
            }
        }

        &-result {
            //margin: 0 0 0 22.5rem; // 0 0 0 360px
            padding: 0.625rem 0 0 12.75rem; // 10px 0 0 204px
            .list {
                height: 37.31rem;  //597px

                table {
                    width: 100%;
                    thead {
                        display: block;
                        tr {
                            display: flex;
                            height: 2.125rem; //34px
                            border-bottom: 0.2rem solid #E1E3E6;
                            width: 88%;
                            th {
                                color: #3F4B56;
                                font-size: 1.125rem;
                                font-weight: 500;
                                vertical-align: middle;
                            }
                            :first-child {
                                padding-left: 1.25rem;
                            }
                        }
                    }

                    tbody {
                        display: block;
                        height: 37.5rem; //600px
                        tr {
                            height: 2.875rem;
                            width: 88%;
                            display: table;
                            td {
                                color: #586872;
                                font-size: 1rem;
                                font-weight: 400;
                                vertical-align: middle;
                            }
                            :first-child {
                                padding-left: 1.25rem;
                            }
                        }

                        // 공지사항 상단 공지 (배경색 별도 처리)
                        .tr-notice {
                            background-color: rgba(135, 206, 255, 0.15); // $light-blue;
                        }
                    }
                }

                .row {
                    display: flex;
                    width: 80%;
                    align-items: center;
                    border-bottom: 0.063rem solid $line-gray; // 1px
                    padding: 10px 0 10px 0;

                    &:last-child {
                        margin: 0 0 3.125rem 0; //50px
                        border-bottom: none;
                    }

                    &:nth-of-type(1) {
                        margin: 3.438rem 0 0 0; //55px
                    }

                    .type-icon {
                        width: 1.875rem; // 30px
                        height: 1.875rem; // 30px
                        background-repeat: no-repeat;
                        background-size: 1.875rem; // 30px
                        background-position-x: left;
                        background-position-y: center;
                        margin-right: 0.938rem; // 15px
                        &.notice {
                            background-image: url($image-folder-path + "portal/graphic_notice.png");
                        }

                        &.faq {
                            background-image: url($image-folder-path + "portal/graphic_faq.png");
                        }

                        &.download {
                            background-image: url($image-folder-path + "portal/graphic_download.png");
                        }
                    }

                    .content-box {
                        width: 57.688rem; // 923px
                        .title {
                            color: $light-black;
                            text-decoration: underline;
                            font-weight: 500;
                            padding-bottom: 0.5rem; // 8px
                            font-size: 1rem; // 16px
                        }

                        .content {
                            color: $dark-gray;
                            font-weight: 400;
                            font-size: 1rem; // 16px
                        }
                    }

                    .no-data {
                        margin: 4.375rem 0 0 0; //70px
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }

        &-view {
            .view {
                padding: 3.125rem 12.75rem 3.125rem 12.75rem; // 50px 204px 50px 204px
                background-color: white;
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                div {
                    &.view-text {
                        height: 13.5rem; // 240px
                        padding: 0.3125rem 1.25rem; // 5px 20px
                        margin-bottom: 0.75rem; // 12px
                        span {margin: 0;}
                    }

                    &.view-attach-file {
                        min-height: 3.125rem; // 50px
                        max-height: 8.3rem; // 132px
                        padding: 0.125rem 1.25rem; // 2px 20px
                        display: flex;
                        .file-attach-input {margin: 0.625rem 0 0 0;} //10px
                    }
                }
            }

            span {margin: auto 0;}
            span.vertical-bar {
                width: 1.875rem; // 30px
                height: 1.875rem; // 30px
                border-right: 0.0625rem solid $line-gray; // 1px
                margin-right: 1.875rem; // 30px
            }

            .horizontal-bar {
                height: 0.0625rem; // 1px
                margin: 0.625rem 0; // 10px
                background-color: $line-gray;
            }

            // 버튼 영역
            .btn-bar {
                padding: 0.625rem 0 0 0; // 10px 0 0 0
                display: flex;
                justify-content: flex-end;
            }

        }

        // 페이지 제목
        .page-title {
            display: flex;
            align-items: baseline;
        }

    }
}

.text-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.slide-down {
    display: block;
    -webkit-animation: slide-down .3s ease-out;
    -moz-animation: slide-down .3s ease-out;
}

.slide-up {
    -webkit-animation: slide-up .3s ease-out;
    -moz-animation: slide-up .3s ease-out;
}

@-webkit-keyframes slide-down {
    0% { opacity: 0; -webkit-transform: translateY(-100%); }
    100% { opacity: 1; -webkit-transform: translateY(0); }
}
@-moz-keyframes slide-down {
    0% { opacity: 0; -moz-transform: translateY(-100%); }
    100% { opacity: 1; -moz-transform: translateY(0); }
}
@-webkit-keyframes slide-up {
    0% { opacity: 0; -webkit-transform: translateY(100%); }
    100% { opacity: 1; -webkit-transform: translateY(0); }
}
@-webkit-keyframes slide-up {
    0% { opacity: 0; -webkit-transform: translateY(100%); }
    100% { opacity: 1; -webkit-transform: translateY(0); }
}
