.portal {
    &-search {
        &-top {
            height: 3.125rem; // 50px
            background-color: $point-blue;
            display: flex;
            align-items: center;
            .left {
                flex: none;
                margin-left: 1.25rem; // 20px
            }
            .right {
                margin-left: auto;
                margin-right: 1.25rem; // 20px
            }
            .login {
                color: #ffffff;
                font-size: 1rem; // 16px
                font-weight: 500;
                cursor: pointer;
            }
        }
        &-main {
            height: 15rem; // 240px
            background-color: $line-gray;
            padding: 0 40rem; // 640px
            border-bottom: 0.0625rem solid $line-gray; // 1px
            .title {
                text-align: center;
                padding: 3.625rem 0; // 58px
            }
            input {
                padding: 0 2.5rem 0 0.938rem; // 0 40px 0 15px
                width: 100%;
                height: 2.5rem; // 40px
                border: 1px solid $line-gray;
                border-radius: 1px;
                color: rgba(122, 133, 148, 0.55);
                font-weight: 400;
                font-size: 0.938rem; // 15px
                &.icon {
                    background-image: url($image-folder-path + "portalSearch/icon_search.png");
                    background-position: 38.0625rem; // 609px
                    background-repeat: no-repeat;
                }
            }
        }
        &-content {
            ul {
                display: flex;
                justify-content: space-between;
                padding: 3.4375rem 12.75rem 0 12.75rem; // 55px 220px 0 220px
                li {
                    &.part-box {
                        width: 30rem; // 480px
                        border: 0.0625rem solid $line-gray; // 1px
                        display: flex;
                        flex-direction: column;
                        .header {
                            padding-top: 3.4375rem; // 55px
                            text-align: center;
                            .icon {
                                padding-bottom: 1.25rem; // 20px
                            }
                            .title {
                                padding-top: 1.25rem; // 20px
                                height: 1.438rem; // 23px
                                font-size: 1.563rem; // 25px
                                font-weight: 500;
                                color: #47556a;
                                border: none;
                            }
                        }
                        .list {
                            padding: 2.1875rem 2.1875rem 2.8125rem 2.1875rem; // 35px 35px 45px 35px
                            table {
                                font-size: 0.813rem; // 13px
                                color: #67717f;
                                font-weight: 400;
                                width: 100%;
                                height: 100%;
                                th, td {
                                    height: 2.5rem; // 40px
                                    padding: 0 1.25rem 0 1.25rem; // 20px
                                    vertical-align: middle;
                                    text-align: left;
                                    &:hover {
                                        background-color: $line-gray;
                                    }
                                }
                                a {
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
            }
        }
        &-result {
            margin: 0 0 0 22.5rem; // 0 0 0 360px
            .list {
                height: 40.63rem;  //650px
                .row {
                    display: flex;
                    align-items: center;
                    border-bottom: 0.063rem solid $line-gray; // 1px
                    padding: 10px 0 10px 0;
                    &:first-child {
                        margin: 4.375rem 0 0 0; //70px
                    }
                    &:last-child {
                        margin: 0 0 3.125rem 0; //50px
                        border-bottom: none;
                    }
                    .type-icon {
                        width: 1.875rem; // 30px
                        height: 1.875rem; // 30px
                        background-repeat: no-repeat;
                        background-size: 1.875rem; // 30px
                        background-position-x: left;
                        background-position-y: center;
                        margin-right: 0.938rem; // 15px
                        &.notice {
                            background-image: url($image-folder-path + "portal/graphic_notice.png");
                        }
                        &.faq {
                            background-image: url($image-folder-path + "portal/graphic_faq.png");
                        }
                        &.download {
                            background-image: url($image-folder-path + "portal/graphic_download.png");
                        }
                    }
                    .content-box {
                        width: 57.688rem; // 923px
                        .title {
                            color: $light-black;
                            text-decoration: underline;
                            font-weight: 500;
                            padding-bottom: 0.5rem; // 8px
                            font-size: 1rem; // 16px
                        }
                        .content {
                            color: $dark-gray;
                            font-weight: 400;
                            font-size: 1rem; // 16px
                        }
                    }
                    .no-data {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }
}
.text-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
