label, input {
    display: block;
}

.alicePortal {
    overflow: auto;
    height: 100vh;
    width: 100vw;
}

.signup {
    &-logo {
        position: absolute;
        top: 5rem;
        left: 5rem;
    }

    &-background {
        background-color: $alice-primary;
        height: 100%;
        width: 80.3125rem;
    }

    &-login-face {
        position: absolute;
        top: 53.1875rem;
        left:  28.3750rem;
        font-size: 0.875rem; // 14px
        font-weight: 500; // Medium
        a:visited {
            color: #FFFFFF;
        }
    }

    &-login-note {
        font-size: 1.25rem; // 20px
        font-weight: 500; // Medium
        color: #FFFFFF;
    }

    &-main-image {
        position: absolute;
        top: 6.1875rem;
        left: 11.125rem;
    }

    &-form {
        margin: 5.6875rem 8.0rem 0rem 88.9063rem;
        width: 22.5rem;
        position: absolute;
        top: 0;

        h1 {
            font-weight: bold;
            font-size: 2.1875rem;
            color: #3E4752;
            margin-bottom: 3.3125rem;
        }

        label {
            display: inline-block;
            color: #3E4752;
            font-size: 0.8750rem; // 14px
            font-weight: 500; // Medium
            margin-bottom: 0.5rem; // 8px
            margin-top: 1rem; // 16px
        }

        input {
            padding-left: 0.625rem; // 10px
            width: 21.625rem; // 346px
            height: 2.25rem; // 36px
            border: 0.0625rem solid #C8CED8; // 1px
            border-radius: 0.0625rem; // 1px
            font-size: 0.8759rem; // 14px
            &:focus {
                outline: 0.125rem solid $alice-primary; // 2px
                border-radius: 0.0625rem; // 1px
            }
        }
    }

    &-btn {
        border: 1px solid;
        border-radius: 1px;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        padding: 0.75rem 0.625rem;

        &-login {
            background-color: $alice-primary;
            border-color: #FFFFFF;
            color: #FFFFFF;
            min-width: 11.75rem; // 210px
            margin-left: 2.5rem;
        }

        &-submit {
            background-color: $alice-primary;
            border-color: #0048E6;
            color: #FFFFFF;
            min-width: 22.5rem; // 360px
        }
    }
}

.required:after {
    content: "*";
    color: #E83828;
}

