.signup {
    &-logo {
        position: absolute;
        top: 5rem; // 80px
        left: 5rem; // 80px
    }

    &-background {
        background-color: $point-blue;
        height: 100%;
        width: 80.3125rem;
        .signup-main-image {
            position: absolute;
            bottom: 0; // .1875rem; // 99px
        }
    }


    &-login-face {
        position: absolute;
        top: 5rem; // 80px
        left:  890px; // 890px
    }

    &-login-note {
        font-weight: 500; // Medium
        color: $white;
        vertical-align: middle;
    }

    &-form {
        margin: 5.6875rem 8.0rem 0rem 88.9063rem; // 91px 128px 0 1422.5px
        width: 22.5rem; // 360px
        position: absolute;
        top: 0;
        h1 {
            margin-bottom: 0.625rem; // 10px
            text-align: center;
        }
        .signup-base-form {
            display: flex;
            flex-direction: column;
        }
    }
}