/*.help-tooltip {
    display: inline-block;
    margin-left: 0.3125rem; // 5px
    width: 15px;
    height: 15px;
    vertical-align: middle;

    &:before {
        content: url($image-folder-path + "icon_info.png");
    }

    .tooltip-contents {
        display: none;
        background-color: yellow;
    }

    &:hover {
        content: url($image-folder-path + "icon_info_select.png");
        .tooltip-contents {
            display: block;
        }
    }
}*/
.help-tooltip {
    position: relative;
    display: inline-block;
}

.help-tooltip:before {
    content: url($image-folder-path + "icon_info.png");
}

.help-tooltip .tooltip-contents {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
.help-tooltip:hover {
    /*content: url($image-folder-path + "icon_info_select.png");*/
    content: '*';
}

.help-tooltip:hover .tooltip-contents {
    visibility: visible;
}

.tooltip {
    position: relative;
    display: inline-block;
    content: url($image-folder-path + "icon_info.png");
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}