//////////////////////////// layout ////////////////////////////
// header
$layout-header-height:                       3.125rem; // 50px
$layout-header-font-size:                    $font-size-base;
$layout-header-font-color:                   $white;
$layout-header-font-weight:                  $font-weight-medium;
$layout-header-bg-color:                     $point-blue;

// properties
$layout-properties-width:                    0;

// main > main-banner
$main-banner-height:                         8.75rem; // 140px

// main > main-header
$main-header-border:                         0.0625rem solid $line-gray; // 1px
$main-header-bg-color:                       $light-gray;

// main > main-search
$main-search-height:                         6.25rem; // 100px
$main-search-bg-color:                       $light-gray;

// content
$content-list-height:                        647px; // 647px

// card
$card-border:                                0.0625rem solid $line-gray; // 1px
// 검색 결과 목록 
$list-bottom-border:                         0.0625rem solid $line-gray; // 1px
// 검색 키워드 색상
$keyword-font-color:                         $point-blue;

// list
$layout-list-height:                         35.44rem; // 567px


// view
$view-title-font-size:                1.125rem; // 18px
$view-title-font-weight:              $font-weight-medium;
$view-title-font-color:               $light-black;

$view-sub-title-font-size:            $font-size-base; // 16px
$view-sub-title-font-weight:          $font-weight-regular;
$view-sub-title-font-color:           $dark-gray;

$view-content-font-size:              $font-size-base; // 16px
$view-content-font-weight:            $font-weight-regular;
$view-content-font-color:             $dark-gray;
//////////////////////////// faq ////////////////////////////
// faq > faq group
$faq-group-font-size:                        1.125rem; // 18px
$faq-group-font-weight:                      $font-weight-medium;
$faq-group-font-color:                       $light-black;
$faq-group-border-width:                     0.0625rem; // 1px
$faq-group-border-color:                     $line-gray;
$faq-group-border:                           $faq-group-border-width solid $faq-group-border-color;
$faq-group-opened-border-width:              0.0625rem; // 1px
$faq-group-opened-border-color:              $point-blue;
$faq-group-opened-font-color:                $point-blue;
$faq-group-opened-border:                    $faq-group-opened-border-width solid $faq-group-opened-border-color; // 1px
// faq > faq group > faq row
$faq-row-font-size:                          1rem; // 16px
$faq-row-font-weight:                        $font-weight-medium;
$faq-row-font-color:                         $light-black;
$faq-row-opened-bg-color:                    rgba(0, 152, 255, 0.05);
$faq-row-border-color:                       $line-gray;
$faq-row-opened-border-color:                $point-blue;
// faq > faq group > faq row content
$faq-row-content-font-size:                  1rem; // 16px
$faq-row-content-font-weight:                $font-weight-regular;
$faq-row-content-font-color:                 $dark-gray;

//////////////////////////// element /////////////////////////////////
$table-body-height:                          32.81rem; // 525px
$table-th-font-color:                        $light-black;
$table-td-font-size:                         1rem; // 16px
$table-td-font-weight:                       $font-weight-regular;
$table-td-font-color:                        $dark-gray;
$table-row-hover-bg-color:                   rgba(230, 232, 235, 0.6);

// 데이터 없을때
$no-data-found-bg-color:                     rgba(230, 232, 235, 0.6);

////////////////////////// 브라우저 가이드 //////////////////////////
$browser-guide-bg-color:                     $light-gray;
$browser-box-bg-color:                       $white;
$browser-box-border:                         0.0625rem solid $line-gray;
$browser-hover-box-shadow:                   0 0 0.9375rem rgba(204, 206, 209, 0.3); // 15px;


////////////////////////// 로그인  //////////////////////////
$login-bg-color:                             $point-blue;
$login-logo-position-top:                    5rem; // 80px
$login-logo-position-left:                   5rem; // 80px

$login-form-width:                           38.13rem; // 610px
$login-form-font-size:                       1rem; // 16px
$login-form-font-weight:                     $font-weight-regular;
$login-form-font-color:                      $dark-gray;

////////////////////////// 회원 가입  //////////////////////////
$signup-bg-color:                            $point-blue;
$signup-logo-position-top:                   5rem; // 80px
$signup-logo-position-left:                  5rem; // 80px

$signup-form-width:                          38.13rem; // 610px
$signup-form-font-size:                      1rem; // 16px
$signup-form-font-weight:                    $font-weight-regular;
$signup-form-font-color:                     $dark-gray;

////////////////////////// 세션 만료  //////////////////////////
$session-invalid-bg-color:                   #F2F5F9;
$session-invalid-border:                     0.0625rem solid $line-gray;

////////////////////////// 에러  //////////////////////////
$error-bg-color:                             #F2F5F9;
$error-border:                               0.0625rem solid $line-gray;

///////////////////////// 메일 인증 ////////////////////////////
$email-certificate-bg-color:                 #F2F5F9;
$semail-certificate-border:                  0.0625rem solid $line-gray;
