$icon-folder-path: "../media/icons/";
$image-folder-path: "../media/image/";
$alice-primary:#0050ff !default;

// Color palette
// 실제 색상코드는 여기에만 등록한다.
$white          : #FFFFFF;
$red            : #FF405A;
$orange         : #FF7319;
$green          : #00C462;
$focus-black    : #283238;
$ground-black   : #333D47;
$light-black    : #3F4B56;
$dark-gray      : #586872;
$warm-gray      : #7E848C;
$blue-gray      : #929AA6;
$gray           : #ACB4BF;
$pressed-gray   : #CCCED1;
$default-gray   : #E1E3E6;
$line-gray      : #EBEBEB;
$light-gray     : #F7F8F9;
$dark-blue      : #0060A5;
$pressed-blue   : #0088E6;
$point-blue     : #0098FF;
$hover-blue     : #33ADFF;
$light-blue     : #87CEFF;