@import '../template/_elements.scss';

textarea {
  min-height: 7.5rem; // 120px
  resize: vertical;
}

label {
  display: inline-block;
  margin-top: 0.25rem;
}

input:not([type=checkbox]),
textarea,
table,
select { width: 100%; }

// for designed select
.select { width: 100%; }

svg {
  // element 들이 그려지는 영역
  g.element-container {
    g.element {
      .node {
        fill: $white;
        opacity: 1;
        stroke-width: 1;
      }

      .element-type.task,
      .element-type.subprocess {
        stroke-width: 1;
        stroke-dasharray: 0, 40, 40, 40;
      }
      // userTask
      .node.task.userTask,
      .element-type.task.userTask { stroke: $cyan500; }
      // manualTask
      .node.task.manualTask,
      .element-type.task.manualTask { stroke: $indigo500; }
      // scriptTask
      .node.task.scriptTask,
      .element-type.task.scriptTask { stroke: $green500; }
      // 서브 프로세스
      .node.subprocess,
      .element-type.subprocess { stroke: $violet500; }
      // 게이트웨이
      .node.gateway { stroke: $orange400; }
      // 이벤트
      .node.event { stroke: $pink500; }
      
      .node.event.commonEnd,
      .node.event.messageEnd { stroke-width: 2; }

      .node.selected {
        stroke: $blue500 !important;
        stroke-width: 2 !important;

        &.error {
          stroke: $validation-error-font-color !important;
        }
      }

      .node.reject-element {
        stroke: $red500 !important;
        stroke-width: 2 !important;
      }

      .annotation {
        stroke: $black;
        fill-opacity: 0;
        stroke-dasharray: 5, 5, 5, 5, 5, 5, 0, 35, 5, 5, 5, 5, 5, 5, 5, 5;
      }

      text {
        font-size: $font-size-s;
        font-weight: $font-weight-medium;
        fill: $gray600;
        text-anchor: middle;
        dominant-baseline: middle;
        user-select: none;
      }
      // 선택시
      &.selected {
        .node,
        .element-type.task,
        .element-type.subprocess {
          stroke: $blue500 !important;
          stroke-width: 2 !important;
        }

        &.error { stroke: $validation-error-font-color !important; }
      }
    }
  }
  // group
  g.group-artifact-container {
    g.element {
      .group {
        stroke: $black;
        fill: $white;
        fill-opacity: 1;
        stroke-dasharray: 5, 5;
      }

      .node.selected {
        stroke: $blue500 !important;
        stroke-width: 2 !important;

        &.error { stroke: $validation-error-font-color !important; }
      }

      text {
        font-size: $font-size-s;
        font-weight: $font-weight-medium;
        fill: $gray600;
        text-anchor: middle;
        dominant-baseline: middle;
        user-select: none;
      }
    }
  }
  // 선
  g.connector-container {
    g.connector {
      path.connector {
        fill: none;
        stroke: $gray600;
        stroke-width: 1;
        cursor: default;
      }

      path.connector.selected {
        stroke-dasharray: 10, 2;
        stroke-width: 2;

        &.error {
          stroke: $validation-error-font-color !important;
        }
      }

      path.connector.is-default {
        stroke-width: 3;
      }

      path.connector.hidden {
        stroke-width: 0;
      }

      path.painted-connector {
        fill: none;
        stroke: none;
        stroke-width: 20;
        pointer-events: stroke;
      }

      text {
        font-size: $font-size-s;
        font-weight: $font-weight-medium;
        fill: $gray600;
        dominant-baseline: text-before-edge;
        user-select: none;

        &.selected {
          fill: $blue500;
        }
      }

      circle.pointer {
        fill: $blue500;
        cursor: move;
        &.move { fill: $blue500; }
      }
    }
  }

  defs marker path { fill: $gray600; }
  // 툴팁
  g.alice-tooltip {
    rect.tooltip-container {
      fill: $white;
      stroke: $gray300;
      stroke-width: 1;
    }

    rect.action-tooltip-item:hover,
    rect.element-tooltip-item:hover {
      cursor: pointer;
    }
  }
  // 가이드 라인
  g.guides-container {
    line.guides-line {
      stroke: $gray400;
      stroke-width: 0;
    }
  }
  // 미연결 선
  path.connector {
    fill: none;
    stroke: $gray600;
    stroke-width: 1;
    &.drag-line { pointer-events: none; }
    &.hidden { stroke-width: 0; }
  }
}