@import '../template/_thumbnail.scss';

// 파일 선택 모달
.modal-dialog {
  &.z-thumbnail-file {
    width: 1040px; // 1040px
    height: 48.44rem; // 775px
    
    .modal-content {
      height: calc(48.44rem - 3.875rem - 5rem); // 775px

      .z-thumbnail-main {
        .z-thumbnail {
          width: 14.375rem; // 230px
        }
      }
    }
  }
}