@import '../template/_thumbnail.scss';

// 파일 선택 모달
.modal-dialog {
  &.z-thumbnail-file {
    width: $thumbnail-modal-width;
    height: $thumbnail-modal-height;
    
    .modal-content {
      height: calc(#{$thumbnail-modal-height} - #{$modal-header-height} - #{$modal-bottom-height});

      .z-thumbnail-main {
        .z-thumbnail {
          width: 14.375rem; // 230px
        }
      }
    }
  }
}