@import '../template/_tooltip.scss';

// clipboard
// ID 복사하는 용도
.#{$common-prefix}clipboard-tooltip {
  position: relative;
  display: inline-block;
  margin-left: 0.3125rem; // 5px
  cursor: pointer;

  &:hover {
    .#{$common-prefix}clipboard-tooltip-text {
      visibility: visible;
      opacity: 1;
    }
  }

  .#{$common-prefix}clipboard-tooltip-text {
    visibility: hidden;
    position: absolute;
    width: 9.375rem; //150px
    font-size: $clipboard-tooltip-font-size;
    font-weight: $clipboard-tooltip-font-weight;
    color: $clipboard-tooltip-font-color;
    background-color: $clipboard-tooltip-bg-color;
    border: $clipboard-tooltip-border;
    border-radius: $clipboard-tooltip-border-radius;
    text-align: center;
    padding: 0.313rem; // 5px
    z-index: $z-index-tooltip;
    bottom: 120%;
    left: 50%;
    margin-left: -8.125rem; // -130px
    opacity: 0;
    @include transition(opacity 0.3s);

    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -0.313rem; // -5px
    }
  }
}
