//////////////////////////// layout ////////////////////////////
// header
$layout-header-height:                             3.125rem; // 50px
$layout-header-font-family:                        $font-family-m;
$layout-header-font-size:                          $font-size-m;
$layout-header-font-color:                         $white;
$layout-header-font-weight:                        $font-weight-medium;
$layout-header-bg-color:                           $blue500;

// element palette
$layout-element-palette-width:                     6.25rem; // 100px
$layout-element-palette-bg-color:                  $white;
$layout-element-palette-border-color:              $gray300;
$layout-element-palette-border-width:              0.0625rem; // 1px
$layout-element-palette-box-shadow-color:          $blue600;

// 엘리먼트 아이콘
$element-icon-width:                               5.625rem; // 90px
$element-icon-height:                              4.375rem; // 70px
$element-icon-font-family:                         $font-family-s;
$element-icon-font-size:                           $font-size-xs;
$element-icon-font-weight:                         $font-weight-medium;
$element-icon-border-radius:                       0.125rem; // 2px
$element-icon-border-width:                        0.0625rem; // 1px
$element-icon: (
  'default': ('font': $gray600, 'icon': $gray500, 'background': $white, 'border': $gray300),
  'hover': ('font' : $gray600, 'icon': $gray600,  'background': $blue100, 'border': $gray300),
  'focus': ('font': $gray600, 'icon': $gray500, 'background': $white, 'border': $blue600, 'shadow': 0 0 0.125rem $blue600),
  'active': ('font': $blue700, 'icon': $blue700, 'background': $blue100, 'border': $blue400),
  'drag': ('font': $gray800, 'icon': $blue500, 'background': $white, 'border': $gray300, 'shadow': 0 0 0.125rem $gray300),
  'placeholder': ('font': $gray400, 'icon': $gray400, 'background': $neutral200, 'border': $gray300)
);
// 엘리먼트 아이콘 - 연결선, 배경이동 (토글 버튼)
$element-icon-toggle: (
  'default': ('font': $gray800, 'background': $white, 'border': $gray300),
  'hover': ('font' : $gray800, 'background': $blue100, 'border': $gray300),
  'focus': ('font': $gray800, 'background': $white, 'border': $blue600, 'shadow': 0 0 0.125rem $blue600),
  'active': ('font': $blue700, 'background': $blue200, 'border': $blue400),
  'selected': ('font': $blue500, 'background': $white, 'border': $blue500),
  'disabled': ('font': $gray400, 'background': $neutral200, 'border': $gray300)
);

// main > drawing-board
$drawing-board-bg-color:                     map-get($grays, "light"); // 모눈종이 바탕색
$drawing-board-line-width:                   1; // 모눈종이 라인 굵기
$drawing-board-line-color:                   map-get($grays, "line"); // 모눈종이 선 색상

// 미니맵
$minimap-width:                              350px; // 350px
$minimap-height:                             260px; // 260px
$minimap-bg-color:                           $white;
$minimap-inside-bg-color:                    map-get($grays, "light"); // 미니맵 내부 배경 색상
$minimap-border:                             0.0625rem solid map-get($grays, "line"); // 1px
$minimap-box-shadow:                         0 0 0.3125rem 0 map-get($grays, "line"); // 0 0 5px 0
$minimap-border-radius:                      0.0625rem; // 1px
$minimap-guide-bg-color:                     #A3B6CC; // 미니맵 위치 변경시 표시되는 색상
$minimap-guide-bg-color-opacity:             0.25; // 미니맵 위치 변경시 표시되는 색상 불투명도

// 시뮬레이션 리포트
$simulation-report-width:                    63.75rem; // 1020px
$simulation-report-height:                   22.688rem; // 363px
$simulation-report-bg-color:                 $white;
$simulation-report-border:                   0.0625rem solid map-get($grays, "line"); // 1px
$simulation-report-box-shadow:               0 0 0.3125rem 0 map-get($grays, "line"); // 0 0 5px 0
$simulation-report-border-radius:            0.0625rem; // 1px
// 모달의 제목과 성공/실패 결과 표시
$simulation-report-title-font-size:          1.125rem; // 18px
$simulation-report-title-font-weight:        $font-weight-medium;
$simulation-report-title-font-color:         map-get($blacks, "light");
$simulation-report-content-font-size:        1rem; // 16px
$simulation-report-content-font-weight:      $font-weight-regular;
$simulation-report-content-font-color:       map-get($grays, "dark");

// process properties header
$layout-properties-header-height:            2.5rem; // 40px
$layout-properties-header-font-size:         $font-size-s;
$layout-properties-header-font-color:        $white;
$layout-properties-header-font-weight:       $font-weight-medium;
$layout-properties-header-bg-color:          map-get($blues, "hover");

// process properties
$layout-properties-width:                     18.75rem; // 300px
$layout-properties-bg-color:                  $white;
$layout-properties-border:                    0.0625rem solid map-get($grays, "line"); // 1px
$layout-properties-box-shadow:                -0.0625rem 0.9375rem 0.4375rem 0 hexToRGBA(map-get($grays, 'pressed'), 0.15);// -1px 15px 7px 0px $pressed-gray, 불투명도 15%;

// 세부 속성명
$properties-title-font-size:                  $font-size-s; // 16px
$properties-title-font-weight:                $font-weight-medium;
$properties-title-font-color:                 map-get($blacks, "light");

// clipboard tooltip
// ID 복사하는 용도 > _tooltip.scss에 정의되어 있음
$clipboard-tooltip-font-size:                 $font-size-xs; // 14px
$clipboard-tooltip-font-weight:               $font-weight-regular;
$clipboard-tooltip-font-color:                $blue;
$clipboard-tooltip-bg-color:                  $white;
$clipboard-tooltip-border-color:              $blue;
$clipboard-tooltip-border-width:              0.125rem; // 2px
$clipboard-tooltip-border:                    $clipboard-tooltip-border-width solid $clipboard-tooltip-border-color;
$clipboard-tooltip-border-radius:             0.0625rem; // 1px

//////////////////////////// element ////////////////////////////
// table
$table-border-color:                          map-get($grays, "line");

// element
$node-font-size:                              $font-size-s; // 16px
$node-font-weight:                            $font-weight-medium;
$node-font-color:                             map-get($blacks, "light");
$node-width:                                  1; // 두께
$node-selected-width:                         2;
$node-selected-color:                         $blue;

// task
$event-color:                                 #FF5EAF; // start , end
$gateway-color:                               #FFC336;
$userTask-color:                              #1CC7D0;
$manualTask-color:                            #2ECE7E;
$scriptTask-color:                            #93C431;
$subprocess-color:                            #CF87FF;
$reject-color:                                #ff0000;
$annotation-color:                            #000000;

// 선
$connector-color:                             map-get($grays, "dark");
$connector-width:                             1; // 두께
$connector-selected-width:                    2;
$connector-pointer-color:                     $blue; // 점

// 가이드라인 (정렬 일치시 나타나는 선)
$guides-line-color:                           darkgray;

// tooltip
$tooltip-bg-color:                            $white;
$tooltip-border-width:                        1;
$tooltip-border-color:                        map-get($blues, "light");

// readonly일 경우
$element-readonly-font-color:                 $gray;
$element-readonly-bg-color:                   map-get($grays, "light");
$element-readonly-border-color:               map-get($grays, "line");

//////////////////////////// color-picker palette ////////////////////////////
$color-picker-palette-width:                  100%;
$color-picker-palette-margin:                 0.1875rem;  // 3px
$color-picker-palette-padding:                0.9375rem 0 0.9375rem 0.9375rem; // 15px 0 15px 15px
$color-picker-colorchip-size:                 1rem; // 16px
$color-picker-colorchip-margin:               0.1875rem; // 3px
$color-picker-colorchip-border-width:         0.125rem;   // 2px
$color-picker-colorchip-border-color:         $white;

//////////////////////////// thumbnail //////////////////////////
// thumbnail
$thumbnail-modal-width:                       62.63rem; // 1002px
$thumbnail-modal-height:                      48.44rem; // 775px
$thumbnail-main-padding:                      0.625rem; // 10px