<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <table>
        <thead>
            <tr>
                <th width="50%" th:text="#{customCode.label.name}"></th>
                <th width="15%" th:text="#{customCode.label.type}"></th>
                <th width="15%" th:text="#{common.label.writer}"></th>
                <th width="20%" th:text="#{common.label.writeDate}"></th>
            </tr>
        </thead>
        <tbody class="list-body">
            <tr class="no-data-found" th:if="${#arrays.isEmpty(customCodeList)}">
                <td colspan="4" th:text="#{common.msg.noData}"></td>
            </tr>
            <tr th:each="customCode, i : ${customCodeList}" th:if="${i.count} < 11">
                <td width="50%" class="align-left">
                    <a sec:authorize="!hasAuthority('custom.code.update')" th:text="${customCode.customCodeName}"
                       th:href="@{/custom-codes/{id}/view(id=${customCode.customCodeId})}"></a>
                    <a sec:authorize="hasAuthority('custom.code.update')" th:text="${customCode.customCodeName}"
                       th:href="@{/custom-codes/{id}/edit(id=${customCode.customCodeId})}"></a>
                </td>
                <td width="15%" th:text="#{|customCode.label.${customCode.type}|}"></td>
                <td width="15%" th:text="${customCode.createUserName}"></td>
                <td width="20%" th:name="createDt" th:text="${customCode.createDt}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
