<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="layout/defaultLayout">
<head>
    <title th:text="#{custom.code.label.title}"></title>
    <meta charset="UTF-8">
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table td:nth-child(1) {
            width: 35%;
        }
        table td:nth-child(2) {
            width: 65%;
        }
        table label {
            margin: 0;
        }
        table#type-common-container tr:last-child td {
            border-bottom: 0;
        }
        table td {
            border: 1px solid;
            height: 50px;
            padding: 12px 10px;
            vertical-align: top;
        }
        table input[type="text"], table select {
            width: 100%;
            height: 25px;
        }
        table div input[type="text"], table div select {
            width: 46%;
        }
        table td button {
            width: 1.563rem;
            height: 1.563rem;
            outline: 0;
            border: 0.0625rem solid #4C5264;
            float: right;
        }
        table td button[class*="plus"]::before {
            content: '+';
        }
        table td button[class*="minus"]::before {
            content: '-';
        }
        table td span[class*="equal"]::before {
            content: '=';
        }
        table td span {
            margin: 0 12px;
        }
        table td#condition div {
            margin: 12px 0;
        }
    </style>
</head>
<body>
<th:block layout:fragment="content">
    <div style="width: 70%; margin: 50px auto;">
        <div style="height: 90px;">
            <h1 th:text="#{custom.code.label.title}"></h1>
        </div>
        <hr>
        <div id="container" style="margin-bottom: 20px;">
            <!-- 타입: 공통-->
            <table id="type-common-container">
                <tbody>
                <tr>
                    <td class="required" th:text="#{custom.code.label.customCodeName}"></td>
                    <td>
                        <input type="text" id="customCodeName" required="required" maxlength="100"
                               th:value="${customCode?.customCodeName}">
                    </td>
                </tr>
                <tr>
                    <td class="required" th:text="#{custom.code.label.type}"></td>
                    <td>
                        <label>
                            <input id="table" name="type" type="radio"
                                   th:checked="${customCode?.type == null || customCode?.type == 'table'}"
                                   th:text="#{custom.code.label.type.table}" onclick="changeContainer('table')">
                        </label>
                        <label>
                            <input id="code" name="type" type="radio"
                                   th:checked="${customCode?.type == 'code'}"
                                   th:text="#{custom.code.label.type.code}" onclick="changeContainer('code')">
                        </label>
                    </td>
                </tr>
                </tbody>
            </table>
            <!-- 타입: table-->
            <table id="type-table-container"
                   th:style="${customCode?.type == null || customCode?.type == 'table' ? '' : 'display: none'}">
                <tbody>
                <tr>
                    <td class="required" th:text="#{custom.code.label.targetTable}"></td>
                    <td>
                        <select id="targetTable">
                            <option th:each="customCodeTable: ${customCodeTableList}"
                                    th:value="${customCodeTable.customCodeTable}"
                                    th:text="|${customCodeTable.customCodeTableName}(${customCodeTable.customCodeTable})|"
                                    th:selected="${customCodeTable.customCodeTable} == ${customCode?.targetTable}">
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="required" th:text="#{custom.code.label.searchColumn}"></td>
                    <td><select id="searchColumn"></select></td>
                </tr>
                <tr>
                    <td class="required" th:text="#{custom.code.label.valueColumn}"></td>
                    <td><select id="valueColumn"></select></td>
                </tr>
                <tr>
                    <td>
                        <label th:text="#{custom.code.label.condition}"></label>
                        <button class="plus" onclick="addCondition()"></button>
                    </td>
                    <td id="condition" style="padding: 0 10px;"></td>
                </tr>
                </tbody>
            </table>
            <!-- 타입: 코드 -->
            <table id="type-code-container" th:style="${customCode?.type == 'code' ? '' : 'display: none'}">
                <tbody>
                <tr>
                    <td class="required" th:text="#{custom.code.label.pCode}"></td>
                    <td><input type="text" id="pCode" maxlength="100" th:value="${customCode?.pCode}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div align="right">
            <button style="margin-right: 5px;" onclick="location.href='/custom-codes/search'"
                    th:text="#{common.btn.list}"></button>
            <button th:if="${customCode?.customCodeId}" onclick="saveCustomCode('put')"
                    th:text="#{common.btn.modify}"></button>
            <button th:unless="${customCode?.customCodeId}" onclick="saveCustomCode('post')"
                    th:text="#{common.btn.save}"></button>
        </div>
    </div>
</th:block>
</body>
<th:block layout:fragment="pageScript">
    <script th:src="@{/assets/js/util/validation-alice.js}"></script>
    <script th:inline="javascript" type="text/javascript">
        /*<![CDATA[*/
        //상태값
        const STATUS_SUCCESS = '0';
        const STATUS_ERROR_CUSTOM_CODE_USED = '1';
        const STATUS_ERROR_CUSTOM_CODE_NAME_DUPLICATION = '2';
        const STATUS_ERROR_CUSTOM_CODE_P_CODE_NOT_EXIST = '3';

        window.onload = function() {
            const targetTable = document.getElementById('targetTable');
            const condition = document.getElementById('condition');
            targetTable.addEventListener('change', function () {
                initColumnSelectBox(this.value);
                while (condition.hasChildNodes()) { condition.removeChild(condition.firstChild); }
            });
            initColumnSelectBox(targetTable.value);
            initCondition();
        };

        //column select box 초기화
        function initColumnSelectBox(value) {
            const searchColumn = document.getElementById('searchColumn');
            const valueColumn = document.getElementById('valueColumn');

            //remove Child
            while (searchColumn.hasChildNodes()) { searchColumn.removeChild(searchColumn.firstChild); }
            while (valueColumn.hasChildNodes()) { valueColumn.removeChild(valueColumn.firstChild); }

            const customCodeColumnList = /*[[${customCodeColumnList}]]*/'';
            const searchColumnValue = /*[[${customCode?.searchColumn}]]*/'';
            const valueColumnValue = /*[[${customCode?.valueColumn}]]*/'';

            for (let i = 0; i < customCodeColumnList.length; i++) {
                const customCodeColumn = customCodeColumnList[i];
                if (customCodeColumn.customCodeTable === value) {
                    let option = document.createElement('option');
                    option.value = customCodeColumn.customCodeColumn;
                    option.text = customCodeColumn.customCodeColumnName + '(' + customCodeColumn.customCodeColumn + ')';
                    switch (customCodeColumn.customCodeType) {
                        case 'search':
                            option.selected = (searchColumnValue === customCodeColumn.customCodeColumn);
                            searchColumn.append(option);
                            break;
                        case 'value':
                            option.selected = (valueColumnValue === customCodeColumn.customCodeColumn);
                            valueColumn.append(option);
                            break;
                    }
                }
            }
        }

        //condition 초기화
        function initCondition() {
            const condition = JSON.parse(/*[[${customCode?.condition}]]*/'');
            if (condition !== null) {
                Object.keys(condition).forEach(function (data) {
                    drawCondition({key: data, value: condition[data]});
                })
            }
        }

        //Add Condition
        function addCondition() {
            const searchColumnLength = document.getElementById('searchColumn').childNodes.length;
            if (document.getElementById('condition').childNodes.length < searchColumnLength) {
                drawCondition();
            } else {
                aliceJs.alert(i18n.get('custom.code.msg.addCondition', searchColumnLength));
            }
        }

        function drawCondition(param) {
            const div = document.createElement('div');
            const keySelect = document.createElement('select');
            const searchColumn = document.getElementById('searchColumn');
            for (let i = 0; i < searchColumn.length; i++) {
                let option = searchColumn[i].cloneNode(true);
                option.selected = (typeof param !== 'undefined') ? (param.key === option.value) : '';
                keySelect.appendChild(option);
            }
            const equalSpan = document.createElement('span');
            equalSpan.classList.add('equal');
            const valueInput = document.createElement('input');
            valueInput.type = 'text';
            valueInput.maxLength = 100;
            valueInput.value = (typeof param !== 'undefined') ? param.value : '';
            const minusBtn = document.createElement('button');
            minusBtn.classList.add('minus');
            minusBtn.addEventListener('click', function () {
                minusBtn.parentNode.remove();
            });

            div.appendChild(keySelect);
            div.appendChild(equalSpan);
            div.appendChild(valueInput);
            div.appendChild(minusBtn);
            document.getElementById('condition').appendChild(div);
        }

        //Change Container
        function changeContainer(type) {
            if (type === 'table') {
                document.getElementById('type-table-container').style.display = '';
                document.getElementById('type-code-container').style.display = 'none';
            } else if (type === 'code') {
                document.getElementById('type-table-container').style.display = 'none';
                document.getElementById('type-code-container').style.display = '';
            }
        }

        //Get Type Id
        function getTypeId() {
            let type = document.getElementsByName('type');
            for (let i = 0; i < type.length; i++) {
                if (type[i].checked) {
                    return type[i].id;
                }
            }
        }

        //empty Check
        function emptyCheck(type) {
            if (type === 'table') {
                if (isEmpty('customCodeName', 'custom.code.msg.inputCustomCodeName')) { return false; }
                if (isEmpty('targetTable', 'custom.code.msg.inputTableTarget')) { return false; }
                if (isEmpty('searchColumn', 'custom.code.msg.inputSearchColumn')) { return false; }
                return !isEmpty('valueColumn', 'custom.code.msg.inputValueColumn');
            } else {
                if (isEmpty('customCodeName', 'custom.code.msg.inputCustomCodeName')) { return false; }
                return !isEmpty('pCode', 'custom.code.msg.inputPCode');
            }
        }

        //insert/update Custom Code
        function saveCustomCode(method) {
            const type = getTypeId();
            if (emptyCheck(type)) {
                let data = {
                    customCodeName: document.getElementById('customCodeName').value,
                    type: type,
                };
                if (type === 'table') {
                    data.targetTable = document.getElementById('targetTable').value;
                    data.searchColumn = document.getElementById('searchColumn').value;
                    data.valueColumn = document.getElementById('valueColumn').value;

                    let conditionData = {};
                    let div = document.getElementById('condition').childNodes;
                    for (let i = 0; i < div.length; i++) {
                        let selectValue = div[i].getElementsByTagName('select')[0].value;
                        if (typeof conditionData[selectValue] === 'undefined') {
                            conditionData[selectValue] = div[i].getElementsByTagName('input')[0].value;
                        } else {
                            aliceJs.alert(i18n.get('custom.code.msg.selectNotDuplicateSearchColumn'));
                            return false;
                        }
                    }
                    data.condition = JSON.stringify(conditionData);
                } else {
                    data.pCode = document.getElementById('pCode').value;
                }
                if (method === 'put') {
                    data.customCodeId = /*[[${customCode?.customCodeId}]]*/'';
                }
                restSubmit(method, '/rest/custom-codes', data);
            }
        }

        //REST API
        function restSubmit(method, url, data) {
            const opt = {
                method: method,
                url: url,
                params: JSON.stringify(data),
                contentType: 'application/json',
                callbackFunc: function(response) {
                    switch (response.responseText) {
                        case STATUS_SUCCESS:
                            aliceJs.alert(i18n.get('common.msg.save'), function () {
                                location.href = '/custom-codes/search';
                            });
                            break;
                        case STATUS_ERROR_CUSTOM_CODE_USED:
                            aliceJs.alert(i18n.get('custom.code.msg.customCodeUsed'));
                            break;
                        case STATUS_ERROR_CUSTOM_CODE_NAME_DUPLICATION:
                            aliceJs.alert(i18n.get('custom.code.msg.customCodeNameDuplication'));
                            break;
                        case STATUS_ERROR_CUSTOM_CODE_P_CODE_NOT_EXIST:
                            aliceJs.alert(i18n.get('custom.code.msg.pCodeNotExist'));
                            break;
                        default :
                            aliceJs.alert(i18n.get('common.msg.fail'));
                            break;
                    }
                }
            };
            aliceJs.sendXhr(opt);
        }
        /*]]>*/
    </script>
</th:block>
</html>
