<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="layout/defaultLayout">
<head>
    <title th:text="#{customCode.label.customCode}"></title>
    <meta charset="UTF-8">
</head>
<body>
<th:block layout:fragment="content">
    <div class="custom-code-header">
        <div class="header-title flex-row align-items-baseline">
            <h1 th:text="#{customCode.label.customCode}"></h1>
            <h6 class="description" th:text="#{customCode.msg.searchDescription}"></h6>
        </div>
        <div class="header-search flex-row">
            <input type="hidden" sec:authorize="hasAuthority('custom.code.update')" th:name="isRole" th:value="true"/>
            <input type="hidden" sec:authorize="!hasAuthority('custom.code.update')" th:name="isRole" th:value="false"/>
            <form id="searchFrm">
                <select id="searchType" name="searchType" class="col-3">
                    <option value="" th:text="#{customCode.label.all}" selected></option>
                    <option th:each="type:${typeList}" th:value="${type.codeValue}" th:text="${type.codeName}"></option>
                </select>
                <input type="text" class="search col-4 mr-2" id="search" name="search" maxlength="100"
                       th:placeholder="#{customCode.label.searchPlaceholder}"/>
                <span id="spanTotalCount" class="txt-num"></span>
            </form>
            <div class="ml-auto">
                <button type="button" class="default-fill" onclick="location.href='/custom-codes/new'"
                        sec:authorize="hasAuthority('custom.code.create')" th:text="#{common.btn.add}"></button>
            </div>
        </div>
    </div>
    <div class="custom-code-content flex-fill">
        <div class="list" id="customCodeList"></div>
    </div>
</th:block>
</body>
<th:block layout:fragment="pageScript">
    <script type="text/javascript">
        let offsetCount = 0;
        window.onload = function() {
            document.getElementById('search').focus();
            document.getElementById('search').addEventListener('keyup', function() { getCustomCodeList(false); });
            document.getElementById('searchType').addEventListener('change', getCustomCodeList.bind(null, false), false);
            getCustomCodeList(false);
        };

        function getCustomCodeList(isScroll) {
            let urlParam = '';
            if (isScroll) {
                if (offsetCount === 0) {
                    offsetCount = aliceJs.searchDataCount;
                }
                urlParam = aliceJs.serialize(document.getElementById('searchFrm')) + '&offset=' + offsetCount;
                restSubmit('get', '/rest/custom-codes?' + urlParam, isScroll);
            } else {
                offsetCount = 0;
                urlParam = aliceJs.serialize(document.getElementById('searchFrm')) + '&offset=' + offsetCount;
                restSubmit('get', '/custom-codes?' + urlParam, isScroll);
            }
        }

        // REST API
        function restSubmit(method, url, isScroll) {
            const opt = {
                method: method,
                url: url,
                async: false,
                callbackFunc: function(response) {
                    if (isScroll) {
                        let dataList = JSON.parse(response.responseText);
                        if (dataList.length > 0) {
                            aliceJs.showTotalCount(dataList[0].totalCount);
                            document.getElementById('totalCount').value = dataList[0].totalCount;
                            if (aliceJs.isEnableScrollEvent(offsetCount)) {
                                offsetCount = offsetCount + aliceJs.searchDataCount;
                                dataList.forEach(function(data) {
                                    getDataTemplate(data);
                                });
                            }
                        }
                    } else {
                        document.getElementById('customCodeList').innerHTML = response.responseText;
                        aliceJs.showTotalCount(document.getElementById('totalCount').value);
                        let customCodeDtEle = document.querySelectorAll('td[name=createDt]');
                        for (let i = 0; i < customCodeDtEle.length; i++) {
                            customCodeDtEle[i].textContent = i18n.userDateTime(customCodeDtEle[i].textContent);
                        }
                    }

                    OverlayScrollbars(document.querySelector('.list-body'), {
                        className: 'scrollbar',
                        callbacks: {
                            onScroll: function(e) {
                                const scrollHeight = e.target.scrollHeight;
                                const scrollTop = e.target.scrollTop;
                                const clientHeight = e.target.clientHeight;
                                // 스크롤이 맨 마지막에 있을 경우
                                if (scrollHeight - scrollTop === clientHeight) {
                                    if (aliceJs.isEnableScrollEvent(offsetCount)) {
                                        getCustomCodeList(true);
                                    }
                                }
                            }
                        }
                    });
                },
                showProgressbar: false
            };
            aliceJs.sendXhr(opt);
        }
        // Tr 동적 데이터 만들기
        function getDataTemplate(data) {
            let div = document.querySelector('.list-body .os-content');
            let tr = document.createElement('tr');
            tr.className = 'flex-row align-items-center';

            let tdCustomCodeName = document.createElement('td');
            tdCustomCodeName.style.width = '50%';
            tdCustomCodeName.className = 'align-left underline';
            let aCustomCodeName = document.createElement('a');
            if (document.getElementsByName('isRole')[0].value === 'true') {
                aCustomCodeName.href = '/custom-codes/'+ data.customCodeId +'/edit';
            } else {
                aCustomCodeName.href = '/custom-codes/'+ data.customCodeId +'/view';
            }
            aCustomCodeName.innerText = data.customCodeName;
            tdCustomCodeName.appendChild(aCustomCodeName);

            let tdType = document.createElement('td');
            tdType.className = 'align-left';
            tdType.innerText = i18n.msg('customCode.label.' + data.type);
            tdType.style.width = '20%';

            let tdCreateUserName = document.createElement('td');
            tdCreateUserName.className = 'align-left';
            tdCreateUserName.innerText = data.createUserName;
            tdCreateUserName.style.width = '15%';

            let tdCreateDt = document.createElement('td');
            tdCreateDt.className = 'align-left';
            tdCreateDt.innerText = i18n.userDateTime(data.createDt);
            tdCreateDt.style.width = '15%';

            tr.appendChild(tdCustomCodeName);
            tr.appendChild(tdType);
            tr.appendChild(tdCreateUserName);
            tr.appendChild(tdCreateDt);
            div.appendChild(tr);
        }
    </script>
</th:block>
</html>
