<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="layout/defaultLayout">
<head>
    <title th:text="#{customCode.label.customCode}"></title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="contents-edit scroll-wrap">
        <div class="header">
            <div class="page-title">
                <h1 th:text="#{customCode.label.customCode}"></h1>
                <h6 class="title-description" th:text="#{customCode.label.customCode}"></h6>
            </div>
        </div>
        <div class="edit">
            <div class="form-set">
                <label class="required" th:text="#{customCode.label.name}" for="customCodeName"></label>
                <input type="text" id="customCodeName" required="required" maxlength="100"
                       th:value="${customCode?.customCodeName}" disabled>
            </div>
            <div class="form-set">
                <label class="required" th:text="#{customCode.label.type}"></label>
                <div class="radio-row">
                    <label>
                        <input id="table" name="type" type="radio"
                               th:checked="${customCode?.type == null || customCode?.type == 'table'}"
                               th:text="#{customCode.label.table}" onclick="changeContainer('table')" disabled>
                    </label>
                    <label>
                        <input id="code" name="type" type="radio"
                               th:checked="${customCode?.type == 'code'}"
                               th:text="#{customCode.label.code}" onclick="changeContainer('code')" disabled>
                    </label>
                </div>
            </div>
            <!-- 타입: table-->
            <div id="type-table-container"
                 th:style="${customCode?.type == null || customCode?.type == 'table' ? '' : 'display: none'}">
                <div class="form-set">
                    <label class="required" th:text="#{customCode.label.targetTable}"></label>
                    <input th:value="|${customCode.targetTableName}(${customCode.targetTable})|" disabled />
                </div>
                <div class="form-set">
                    <label class="required" th:text="#{customCode.label.searchColumn}"></label>
                    <input th:value="|${customCode.searchColumnName}(${customCode.searchColumn})|" disabled />
                </div>
                <div class="form-set">
                    <label class="required" th:text="#{customCode.label.valueColumn}"></label>
                    <input th:value="|${customCode.valueColumnName}(${customCode.valueColumn})|" disabled />
                </div>
                <div class="form-set">
                    <label th:text="#{customCode.label.condition}"></label>
                    <div id="condition"></div>
                </div>
            </div>

            <!-- 타입: 코드 -->
            <div id="type-code-container" th:style="${customCode?.type == 'code' ? '' : 'display: none'}">
                <div class="form-set">
                    <label class="required" th:text="#{customCode.label.pCode}"></label>
                    <input type="text" id="pCode" maxlength="100" th:value="${customCode?.pCode}">
                </div>
            </div>
            <div class="btn-bar">
                <button class="default-line" onclick="location.href='/custom-codes/search'" th:text="#{common.btn.list}"></button>
            </div>
        </div>
    </div>
</th:block>
</body>
<th:block layout:fragment="pageScript">
    <script th:inline="javascript" type="text/javascript">
        /*<![CDATA[*/
        window.onload = function() {
            if (/*[[${customCode.type == 'table'}]]*/'') {
                const condition = JSON.parse(/*[[${customCode.condition}]]*/'');
                if (condition != null) {
                    Object.keys(condition).forEach(function (data) {
                        const divFormSet = document.createElement('div');
                        divFormSet.classList.add('form-set');
                        const divRow = document.createElement('div');
                        divRow.classList.add('row');
                        const keyLabel = document.createElement('label');
                        keyLabel.innerText = getColumnName(data);
                        keyLabel.classList.add('column-4');
                        const equalSpan = document.createElement('span');
                        equalSpan.textContent = '=';
                        const valueLabel = document.createElement('label');
                        valueLabel.innerText = condition[data];
                        valueLabel.classList.add('column-7');

                        divRow.appendChild(keyLabel);
                        divRow.appendChild(equalSpan);
                        divRow.appendChild(valueLabel);
                        divFormSet.appendChild(divRow);
                        document.getElementById('condition').appendChild(divFormSet);
                    });
                }
            }
        };

        //Get Column Name
        function getColumnName(column) {
            const customCodeColumnList = /*[[${customCodeColumnList}]]*/'';
            for (let i = 0; i < customCodeColumnList.length; i++) {
                if (customCodeColumnList[i].customCodeColumn === column) {
                    return customCodeColumnList[i].customCodeColumnName + '(' + column +')';
                }
            }
            return column;
        }
        /*]]>*/
    </script>
</th:block>
</html>