<!DOCTYPE html>
<html layout:decorate="~{layout/itsm/pageType/commonEditLayout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:if="${view}"
           th:text="${customCode != null} ? #{customCode.label.edit} : #{customCode.label.register}"></title>
    <title th:text="#{customCode.label.view}" th:unless="${view}"></title>
</head>
<body>
<div layout:fragment="pageTitle">
    <h1 th:text="#{customCode.label.customCode}"></h1>
    <h6 class="description ml-2 pl-2"
        th:text="${view}? #{customCode.msg.viewDescription} : #{customCode.msg.editDescription}"></h6>
</div>
<div layout:fragment="pageEdit">
    <div class="z-edit-form flex-fill">
        <div class="flex-column z-edit-row">
            <label for="customCodeName">
                <span th:text="#{customCode.label.name}"></span>
                <span class="required" th:unless="${view}"></span>
            </label>
            <input class="z-input" id="customCodeName" maxlength="110" required="required" th:readonly="${view}"
                   th:value="${customCode?.customCodeName}" type="text">
        </div>
        <div class="flex-column z-edit-row">
            <label>
                <span th:text="#{customCode.label.type}"></span>
                <span class="required" th:unless="${view}"></span>
            </label>
            <div class="flex-row mr-auto">
                <label class="z-radio" for="table" tabindex="0">
                    <input id="table" name="type"
                           th:checked="${customCode?.type == null || customCode?.type == 'table'}"
                           th:classappend="${view} ? 'readonly'"
                           th:disabled="${view}"
                           th:onclick="${view} ? '' : 'changeContainer(\'table\')'" th:readonly="${view}" type="radio">
                    <span></span>
                    <span class="z-label mr-4" th:text="#{customCode.label.table}"></span>
                </label>
                <label class="z-radio" for="code" tabindex="0">
                    <input id="code" name="type" th:checked="${customCode?.type == 'code'}"
                           th:classappend="${view} ? 'readonly'"
                           th:disabled="${view}"
                           th:onclick="${view} ? '' : 'changeContainer(\'code\')'" th:readonly="${view}" type="radio">
                    <span></span>
                    <span class="z-label" th:text="#{customCode.label.code}"></span>
                </label>
            </div>
        </div>
        <!-- 타입: table-->
        <div id="type-table-container"
             th:style="${customCode?.type == null || customCode?.type == 'table' ? '' : 'display: none'}">
            <div class="flex-column z-edit-row">
                <label>
                    <span th:text="#{customCode.label.targetTable}"></span>
                    <span class="required" th:unless="${view}"></span>
                </label>
                <select id="targetTable" th:classappend="${view} ? 'readonly'">
                    <option th:each="customCodeTable: ${customCodeTableList}"
                            th:selected="${customCodeTable.customCodeTable} == ${customCode?.targetTable}"
                            th:text="|${customCodeTable.customCodeTableName}(${customCodeTable.customCodeTable})|"
                            th:value="${customCodeTable.customCodeTable}">
                    </option>
                </select>
            </div>
            <div class="flex-column z-edit-row">
                <label for="searchColumn">
                    <span th:text="#{customCode.label.searchColumn}"></span>
                    <span class="required" th:unless="${view}"></span>
                </label>
                <select id="searchColumn" th:classappend="${view} ? 'readonly'"></select>
            </div>
            <div class="flex-column z-edit-row">
                <label for="valueColumn">
                    <span th:text="#{customCode.label.valueColumn}"></span>
                    <span class="required" th:unless="${view}"></span>
                </label>
                <select id="valueColumn" th:classappend="${view} ? 'readonly'"></select>
            </div>
            <div class="flex-column z-edit-row">
                <div class="under-bar">
                    <label id="conditionLabel">
                        <span th:text="#{customCode.label.condition}"></span>
                    </label>
                    <button class="z-button-icon extra float-right" onclick="addCondition()" th:unless="${view}"
                            type="button">
                        <span class="z-icon i-plus"></span>
                    </button>
                </div>
                <div id="condition"></div>
            </div>
        </div>
        <!-- 타입: 코드 -->
        <div id="type-code-container" th:style="${customCode?.type == 'code' ? '' : 'display: none'}">
            <div class="flex-column z-edit-row">
                <label>
                    <span th:text="#{customCode.label.pCode}"></span>
                    <span class="required" th:unless="${view}"></span>
                </label>
                <input class="z-input" id="pCode" maxlength="100" th:readonly="${customCode?.pCode != null || view}"
                       th:value="${customCode?.pCode}" type="text">
            </div>
        </div>
        <div class="flex-column z-edit-row">
            <label for="sessionKey">
                <span th:text="#{customCode.label.sessionKey}"></span>
            </label>
            <select class="z-select" id="sessionKey" th:classappend="${view} ? 'readonly'">
                <option selected="selected" th:text="#{customCode.label.notSelect}" value=""></option>
                <option th:each="code: ${sessionKeyList}" th:selected="${code.codeValue} == ${customCode?.sessionKey}"
                        th:text="${code.codeName}"
                        th:value="${code.codeValue}"></option>
            </select>
        </div>
        <div class="flex-row justify-content-between edit-row">
            <div class="z-button-list">
                <a class="z-button secondary" href="/custom-codes/search" th:text="#{common.btn.list}"></a>
            </div>
            <div class="z-button-list">
                <button class="z-button primary" onclick="saveCustomCode('POST')"
                        sec:authorize="hasAuthority('custom.code.create')"
                        th:if="${customCode == null}" th:text="#{common.btn.register}"></button>
                <button class="z-button primary" onclick="saveCustomCode('PUT')"
                        sec:authorize="hasAuthority('custom.code.update')"
                        th:disabled="${!customCode.enabled}" th:if="${customCode?.customCodeId}"
                        th:text="#{common.btn.modify}">
                </button>
                <button class="z-button secondary" onclick="deleteCustomCode('DELETE')"
                        sec:authorize="hasAuthority('custom.code.delete')"
                        th:disabled="${!customCode.enabled}" th:if="${customCode?.customCodeId}"
                        th:text="#{common.btn.delete}">
                </button>
            </div>
        </div>
    </div>
</div>
</body>
<script layout:fragment="pageScript" th:inline="javascript" type="text/javascript">
    /*<![CDATA[*/
    //상태값
    const STATUS_SUCCESS = '0';
    const STATUS_ERROR_CUSTOM_CODE_USED = '1';
    const STATUS_ERROR_CUSTOM_CODE_NAME_DUPLICATION = '2';
    const STATUS_ERROR_CUSTOM_CODE_P_CODE_NOT_EXIST = '3';

    window.onload = function () {
        document.getElementById('customCodeName').focus();
        const targetTable = document.getElementById('targetTable');
        const condition = document.getElementById('condition');
        targetTable.addEventListener('change', function () {
            initColumnSelectBox(this.value);
            while (condition.hasChildNodes()) {
                condition.removeChild(condition.firstChild);
            }
        });
        initColumnSelectBox(targetTable.value);
        initCondition();
        const conditionElem = document.querySelector('input[name=conditionValue]');
        if (conditionElem !== null) {
            document.getElementById('conditionLabel').insertAdjacentHTML('beforeend', `<span class="required"></span>`);
        }
        // 스크롤바 추가
        OverlayScrollbars(document.querySelector('.z-page-content'), {className: 'scrollbar'});
    };

    //column select box 초기화
    function initColumnSelectBox(value) {
        const searchColumn = document.getElementById('searchColumn');
        const valueColumn = document.getElementById('valueColumn');

        //remove Child
        while (searchColumn.hasChildNodes()) {
            searchColumn.removeChild(searchColumn.firstChild);
        }
        while (valueColumn.hasChildNodes()) {
            valueColumn.removeChild(valueColumn.firstChild);
        }

        const customCodeColumnList = /*[[${customCodeColumnList}]]*/'';
        const searchColumnValue = /*[[${customCode?.searchColumn}]]*/'';
        const valueColumnValue = /*[[${customCode?.valueColumn}]]*/'';

        for (let i = 0; i < customCodeColumnList.length; i++) {
            const customCodeColumn = customCodeColumnList[i];
            if (customCodeColumn.customCodeTable === value) {
                let option = document.createElement('option');
                option.value = customCodeColumn.customCodeColumn;
                option.text = customCodeColumn.customCodeColumnName + '(' + customCodeColumn.customCodeColumn + ')';
                switch (customCodeColumn.customCodeType) {
                    case 'search':
                        option.selected = (searchColumnValue === customCodeColumn.customCodeColumn);
                        searchColumn.append(option);
                        break;
                    case 'value':
                        option.selected = (valueColumnValue === customCodeColumn.customCodeColumn);
                        valueColumn.append(option);
                        break;
                }
            }
        }
        // for designed select
        // 동적으로 표시되는 select 에 대한 designed select 초기화.
        aliceJs.initDesignedSelectTag();
    }

    //condition 초기화
    function initCondition() {
        const condition = JSON.parse(/*[[${customCode?.condition}]]*/'');
        if (condition !== null) {
            Object.keys(condition).forEach(function (index) {
                drawCondition(condition[index]);
            });
        }
    }

    //Add Condition
    function addCondition() {
        const searchColumnLength = document.getElementById('searchColumn').childNodes.length;
        const conditionLen = document.getElementById('condition').childNodes.length;
        const conditionLabel = document.getElementById('conditionLabel').childNodes.length;
        if (conditionLen < searchColumnLength) {
            if (conditionLen === 0 && conditionLabel === 3) {
                document.getElementById('conditionLabel').insertAdjacentHTML('beforeend', `<span class="required"></span>`);
            }
            drawCondition();
        } else {
            zAlert.warning(i18n.msg('customCode.msg.addCondition', searchColumnLength));
        }
    }

    function drawCondition(param) {
        const isView = /*[[${view}]]*/false;
        const divRow = document.createElement('div');
        divRow.classList.add('flex-row', 'z-edit-row', 'justify-content-between');

        const keySelect = document.createElement('select');
        keySelect.classList.add('condition', 'col-5');
        if (isView) keySelect.classList.add('readonly');
        const searchColumn = document.getElementById('searchColumn');
        for (let i = 0; i < searchColumn.length; i++) {
            let option = searchColumn[i].cloneNode(true);
            option.selected = (typeof param !== 'undefined') ? (param.conditionKey === option.value) : '';
            keySelect.appendChild(option);
        }

        const operatorSelect = document.createElement('select');
        operatorSelect.classList.add('col-2');
        if (isView) operatorSelect.classList.add('readonly');
        const operatorList = /*[[${operatorList}]]*/'';
        for (let i = 0; i < operatorList.length; i++) {
            const selectOption = document.createElement('option');
            selectOption.value = operatorList[i].codeValue;
            selectOption.text = operatorList[i].codeName;
            selectOption.selected = (typeof param !== 'undefined') ? (param.conditionOperator === selectOption.value) : '';
            operatorSelect.appendChild(selectOption);
        }

        const valueInput = document.createElement('input');
        valueInput.classList.add('z-input', 'condition', 'col-5');
        valueInput.type = 'text';
        valueInput.name = 'conditionValue';
        valueInput.maxLength = 100;
        valueInput.value = (typeof param !== 'undefined') ? param.conditionValue : '';
        valueInput.readOnly = isView;

        divRow.appendChild(keySelect);
        divRow.appendChild(operatorSelect);
        divRow.appendChild(valueInput);

        if (!isView) {
            const deleteBtn = document.createElement('button');
            deleteBtn.className = 'z-button-icon extra';
            const deleteIcon = document.createElement('span');
            deleteIcon.className = 'z-icon i-delete';
            deleteBtn.appendChild(deleteIcon);
            deleteBtn.addEventListener('click', function () {
                zAlert.confirm(i18n.msg('customCode.msg.confirmDeleteCondition'), () => {
                    const row = deleteBtn.parentNode;
                    const conditionElems = document.querySelectorAll('input[name=conditionValue]');
                    if (conditionElems.length === 1) {
                        const conditionLabel = document.getElementById('conditionLabel');
                        conditionLabel.removeChild(conditionLabel.children[1]);
                    }
                    row.remove();
                });
            });
            divRow.appendChild(deleteBtn);
        }

        document.getElementById('condition').appendChild(divRow);
        aliceJs.initDesignedSelectTag(document.querySelector('#condition'));
    }

    //Change Container
    function changeContainer(type) {
        if (type === 'table') {
            document.getElementById('type-table-container').style.display = '';
            document.getElementById('type-code-container').style.display = 'none';
        } else if (type === 'code') {
            document.getElementById('type-table-container').style.display = 'none';
            document.getElementById('type-code-container').style.display = '';
        }
    }

    //Get Type Id
    function getTypeId() {
        let type = document.getElementsByName('type');
        for (let i = 0; i < type.length; i++) {
            if (type[i].checked) {
                return type[i].id;
            }
        }
    }

    //empty Check
    function emptyCheck(type) {
        const conditionElems = document.querySelectorAll('input[name=conditionValue]');
        if (type === 'table') {
            if (isEmpty('customCodeName', 'customCode.msg.enterCustomCode')) {
                return false;
            }
            if (isEmpty('targetTable', 'customCode.msg.enterTableTarget')) {
                return false;
            }
            if (isEmpty('searchColumn', 'customCode.msg.enterSearchColumn')) {
                return false;
            }
            for (let i = 0; i < conditionElems.length; i++) {
                if (conditionElems[i].value.trim() === '') {
                    zAlert.warning(i18n.msg('customCode.msg.enterCondition'));
                    conditionElems[i].focus();
                    return false;
                }
            }
            return !isEmpty('valueColumn', 'customCode.msg.enterValueColumn');
        } else {
            if (isEmpty('customCodeName', 'customCode.msg.enterCustomCode')) {
                return false;
            }
            return !isEmpty('pCode', 'customCode.msg.enterPCode');
        }
    }

    //insert/update
    function saveCustomCode(method) {
        const type = getTypeId();
        if (emptyCheck(type)) {
            const sessionKeySelectBox = document.getElementById('sessionKey');
            let data = {
                customCodeName: document.getElementById('customCodeName').value,
                type: type,
                sessionKey: sessionKeySelectBox.options[sessionKeySelectBox.selectedIndex].value
            };
            if (type === 'table') {
                data.targetTable = document.getElementById('targetTable').value;
                data.searchColumn = document.getElementById('searchColumn').value;
                data.valueColumn = document.getElementById('valueColumn').value;

                    let conditionDataArr = [];
                    let childNodes = document.getElementById('condition').childNodes;
                    for (let i = 0; i < childNodes.length; i++) {
                        let conditionObj = {};
                        let conditionKey = childNodes[i].getElementsByTagName('select')[0].value;
                        let conditionOperator = childNodes[i].getElementsByTagName('select')[1].value;
                        let conditionValue = childNodes[i].getElementsByTagName('input')[2].value;
                        if (conditionKey === 'use_yn') {
                            if (conditionValue.toLowerCase() === 'true' || conditionValue.toLowerCase() === 'false') {
                                conditionObj.conditionKey = conditionKey;
                                conditionObj.conditionOperator = conditionOperator;
                                conditionObj.conditionValue = conditionValue;
                                conditionDataArr.push(conditionObj);
                            } else {
                                zAlert.warning(i18n.msg('customCode.msg.checkUseYnValue'));
                                return false;
                            }
                        } else {
                            conditionObj.conditionKey = conditionKey;
                            conditionObj.conditionOperator = conditionOperator;
                            conditionObj.conditionValue = conditionValue;
                            conditionDataArr.push(conditionObj);
                        }
                        for (let k = 0; k < i; k++) {
                            let childConditionKey = childNodes[k].getElementsByTagName('select')[0].value;
                            if (conditionKey === childConditionKey) {
                                zAlert.warning(i18n.msg('customCode.msg.selectNotDuplicateSearchColumn'));
                                return false;
                            }
                        }
                    }
                    data.condition = JSON.stringify(conditionDataArr);
                } else {
                    data.pCode = document.getElementById('pCode').value;
                }
                if (method === 'PUT') {
                    data.customCodeId = /*[[${customCode?.customCodeId}]]*/'';
                }
                restSubmit(method, '/rest/custom-codes', data);
            }
            aliceJs.fetchText('/rest/custom-codes', {
                method: method,
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            }).then((status) => {
                switch (status) {
                    case STATUS_SUCCESS:
                        zAlert.success(i18n.msg('common.msg.save'), function () {
                            location.href = '/custom-codes/search';
                        });
                        break;
                    case STATUS_ERROR_CUSTOM_CODE_USED:
                        zAlert.success(i18n.msg('customCode.msg.customCodeUsed'));
                        break;
                    case STATUS_ERROR_CUSTOM_CODE_NAME_DUPLICATION:
                        zAlert.warning(i18n.msg('customCode.msg.duplicateCustomCodeName'));
                        break;
                    case STATUS_ERROR_CUSTOM_CODE_P_CODE_NOT_EXIST:
                        zAlert.warning(i18n.msg('customCode.msg.pCodeNotExist'));
                        break;
                    default :
                        zAlert.danger(i18n.msg('common.msg.fail'));
                        break;
                }
            });
        }
    }

    function deleteCustomCode() {
        zAlert.confirm(i18n.msg('common.msg.confirmDelete'), () => {
            aliceJs.fetchText('/rest/custom-codes/' + /*[[${customCode?.customCodeId}]]*/'', {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
            }).then((rtn) => {
                switch (rtn) {
                    case STATUS_SUCCESS:
                        zAlert.success(i18n.msg('common.msg.delete'), function () {
                            location.href = '/custom-codes/search';
                        });
                        break;
                    case STATUS_ERROR_CUSTOM_CODE_USED:
                        zAlert.warning(i18n.msg('customCode.msg.customCodeUsed'));
                        break;
                    default:
                        zAlert.danger(i18n.msg('common.msg.fail'));
                        break;
                }
            });
        });
    }
    /*]]>*/
</script>
</html>
