<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="layout/defaultLayout">
<head>
    <title th:text="#{menu.workflow.customCode}"></title>
    <meta charset="UTF-8">
</head>
<body>
<th:block layout:fragment="content">
    <div class="contents">
        <div class="contents-title">
            <h1 th:text="#{customCode.label.list}"></h1>
            <span class="title-description" th:text="#{customCode.msg.description}"></span>
        </div>
        <div class="contents-body">
            <div class="usermanage-menubar">
                <div class="menubar-right">
                    <button class="btn-add" onclick="location.href='/custom-codes/new'"
                            sec:authorize="hasAuthority('custom.code.create')"></button>
                </div>
            </div>
            <div class="list" id="customCodeList"></div>
            <div class="menubar-bottom">
                <div class="paging">
                    <ul>
                        <li><span class="btn-prev"></span></li>
                        <li><span class="btn-num">1</span></li>
                        <li><span class="btn-num">2</span></li>
                        <li><span class="btn-num">3</span></li>
                        <li><span class="btn-num">···</span></li>
                        <li><span class="btn-num">6</span></li>
                        <li><span class="btn-next"></span></li>
                    </ul>
                </div>
                <div class="list-count"><span>총:127건</span></div>
            </div>
        </div>
    </div>
</th:block>
</body>
<th:block layout:fragment="pageScript">
    <script type="text/javascript">
        window.onload = function() {
            restSubmit('get', '/custom-codes/list', function(result) {
                document.getElementById('customCodeList').innerHTML = result;
                var customCodeDtEle = document.querySelectorAll('td[name=createDt]');
                for (let i = 0; i < customCodeDtEle.length; i++) {
                    customCodeDtEle[i].textContent = i18n.userDateTime(customCodeDtEle[i].textContent);
                }
            });
        };

        //REST API
        function restSubmit(method, url, result) {
            const opt = {
                method: method,
                url: url,
                callbackFunc: function(response) {
                    result(response.responseText);
                }
            };
            aliceJs.sendXhr(opt);
        }
    </script>
</th:block>
</html>
