<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="layout/defaultLayout">
<head>
    <title th:text="#{custom.code.label.title}"></title>
    <meta charset="UTF-8">
    <style>
        table {
            width: 100%;
            border: 1px solid;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        table label {
            margin: 0;
        }
        table td {
            border: 1px solid;
            height: 50px;
        }
        table input, select {
            width: 100%;
            height: 24px;
        }
    </style>
</head>
<body>
<th:block layout:fragment="content">
    <div style="width: 70%; margin: 50px auto;">
        <div style="height: 90px;">
            <h1 th:text="#{custom.code.label.title}"></h1>
        </div>
        <hr>
        <table>
            <colgroup>
                <col width="35%">
                <col width="65%">
            </colgroup>
            <tbody>
                <tr>
                    <td><label th:text="#{custom.code.label.customCodeName}"></label><span class="required"></span></td>
                    <td><input type="text" id="custom_code_name" required="required" maxlength="100"
                               th:value="${customCode?.customCodeName}"></td>
                </tr>
                <tr>
                    <td><label th:text="#{custom.code.label.targetTable}"></label><span class="required"></span></td>
                    <td>
                        <select id="target_table">
                            <option th:each="customCodeTable: ${customCodeTableList}"
                                    th:value="${customCodeTable.customCodeTable}"
                                    th:text="|${customCodeTable.customCodeTableName}(${customCodeTable.customCodeTable})|"
                                    th:selected="${customCodeTable.customCodeTable} == ${customCode?.targetTable}">
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label th:text="#{custom.code.label.searchColumn}"></label><span class="required"></span></td>
                    <td><select id="search_column"></select></td>
                </tr>
                <tr>
                    <td><label th:text="#{custom.code.label.valueColumn}"></label><span class="required"></span></td>
                    <td><select id="value_column"></select></td>
                </tr>
            </tbody>
        </table>
        <div align="right">
            <button style="margin-right: 5px;" onclick="location.href='/custom-codes/search'"
                    th:text="#{common.btn.list}"></button>
            <button th:if="!${customCode?.customCodeId}" onclick="saveCustomCode('post')"
                    th:text="#{common.btn.save}"></button>
            <button th:unless="!${customCode?.customCodeId}" onclick="saveCustomCode('put')"
                    th:text="#{common.btn.modify}"></button>
        </div>
    </div>
</th:block>
</body>
<th:block layout:fragment="pageScript">
    <script th:src="@{/assets/js/util/validation-alice.js}"></script>
    <script th:inline="javascript" type="text/javascript">
        /*<![CDATA[*/
        //상태값
        const STATUS_SUCCESS = '0';
        const STATUS_ERROR_CUSTOM_CODE_NAME_DUPLICATION = '1';

        window.onload = function() {
            const targetTable = document.getElementById('target_table');
            initSelectBox(targetTable.value);
            targetTable.addEventListener('change', function () {
                initSelectBox(this.value);
            });
        };

        //select box 초기화
        function initSelectBox(value) {
            const searchColumn = document.getElementById('search_column');
            const valueColumn = document.getElementById('value_column');

            //remove Child
            while (searchColumn.hasChildNodes()) { searchColumn.removeChild(searchColumn.firstChild); }
            while (valueColumn.hasChildNodes()) { valueColumn.removeChild(valueColumn.firstChild); }

            const customCodeColumnList = /*[[${customCodeColumnList}]]*/'';
            const searchColumnValue = /*[[${customCode?.searchColumn}]]*/'';
            const valueColumnValue = /*[[${customCode?.valueColumn}]]*/'';

            for (let i = 0; i < customCodeColumnList.length; i++) {
                const customCodeColumn = customCodeColumnList[i];
                if (customCodeColumn.customCodeTable === value) {
                    let option = document.createElement('option');
                    option.value = customCodeColumn.customCodeColumn;
                    option.text = customCodeColumn.customCodeColumnName + '(' + customCodeColumn.customCodeColumn + ')';
                    switch (customCodeColumn.customCodeType) {
                        case "search":
                            option.selected = (searchColumnValue === customCodeColumn.customCodeColumn);
                            searchColumn.append(option);
                            break;
                        case "value":
                            option.selected = (valueColumnValue === customCodeColumn.customCodeColumn);
                            valueColumn.append(option);
                            break;
                        default:
                            break;
                    }
                }
            }
        }

        //empty Check
        function emptyCheck() {
            if (isEmpty('custom_code_name', 'custom.code.msg.inputCustomCodeName')) { return false; }
            if (isEmpty('target_table', 'custom.code.msg.inputTableTarget')) { return false; }
            if (isEmpty('search_column', 'custom.code.msg.inputSearchColumn')) { return false; }
            return !isEmpty('value_column', 'custom.code.msg.inputValueColumn');
        }

        //insert/update Custom Code
        function saveCustomCode(method) {
            if (emptyCheck()) {
                const data = {
                    customCodeName: document.getElementById('custom_code_name').value,
                    targetTable: document.getElementById('target_table').value,
                    searchColumn: document.getElementById('search_column').value,
                    valueColumn: document.getElementById('value_column').value,
                };
                if (method === 'put') {
                    data.customCodeId = /*[[${customCode?.customCodeId}]]*/'';
                }
                restSubmit(method, '/rest/custom-codes', data);
            }
        }

        //REST API
        function restSubmit(method, url, data) {
            const opt = {
                method: method,
                url: url,
                params: JSON.stringify(data),
                contentType: 'application/json',
                callbackFunc: function(response) {
                    switch (response.responseText) {
                        case STATUS_SUCCESS:
                            alert(/*[[#{common.msg.save}]]*/'');
                            location.href = '/custom-codes/search';
                            break;
                        case STATUS_ERROR_CUSTOM_CODE_NAME_DUPLICATION:
                            alert(/*[[#{custom.code.msg.customCodeNameDuplication}]]*/'');
                            break;
                        default :
                            alert(/*[[#{common.msg.save.fail}]]*/'');
                            break;
                    }
                }
            };
            aliceJs.sendXhr(opt);
        }
        /*]]>*/
    </script>
</th:block>
</html>