/*
 * 인증메일
 * 파일 경로 : _email-certification.scss
 * URL : /certification/status
 */
.email-certificate {
  &-main {
    height: 100%;
  }

  &-background {
    width: 50vw;
    height: 100vh;
    background-color: $email-certificate-bg-color;
    overflow: hidden;

    .logo {
      @include relative($top: -59.1875rem); // -947px
      margin: 5rem 0 0 5rem; // 80px 80x
    }
  }

  &-form {
    width: 50vw;
    padding: 21.5625rem 6.25rem; // 345px 100px
    @include border(0.0625rem, solid, $email-certificate-border-color, left);

    h1 {
      line-height: 1.7;
    }

    h3 {
      color: map-get($grays, 'dark');
      margin: 1.25rem 0 5rem 0; // 20px 0 80px 0
    }
  }
}
