@import '../template/_layout.scss';

/*
 * portal 화면 layout
 * 파일 경로 : portal/_layout.scss
 *
 * portal-container - header : 상단
 *                  - main : 메인 (스크롤바)
 *                         - main-banner : 배너, 인사말
 *                         - main-header : 메인 상단 (FAQ, 자료실, 공지사항 메인 상단)
 *                         - main-search : 검색 영역
 *                         - main-content : 내용, 검색 결과 영역
 */

@include keyframe (slideDown) {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@include keyframe (slideUp) {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.z-portal-container {
  @include container;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  // 포탈 상단
  .z-header {
    @include fixedHeader;
    max-width: 120rem;
    height: $layout-header-height;
    padding: 0 1.25rem; // 0 20px
    font-size: $layout-header-font-size;
    font-weight: $layout-header-font-weight;
    align-items: center;
    color: $layout-header-font-color;
    background-color: $layout-header-bg-color;
    .z-name {
      padding: 0 0.9375rem; // 0 15px
      font-size: 1.125rem; // 18px
    }
    // 상단이 존재하면
    + .z-main { top: $layout-header-height; }
  }
  // 포탈 메인
  .z-main {
    @include fixed(0, $layout-properties-width, 0, 0);
    max-width: 120rem;
    margin: 0 auto;
    overflow-y: auto;
    @include scrollbarHidden;

    .z-main-content {
      height: 100%;

      .z-main-banner {
        height: $main-banner-height;
        background-color: $main-search-bg-color;

        .title { padding: 3.75rem 0 1.875rem 0; } // 60px 0px 30px 0px
      }

      .z-main-search {
        height: $main-search-height;
        background-color: $main-search-bg-color;
        @include border(0.0625rem, solid, $gray300 ,bottom);
        padding: 1.875rem 0; // 30px 0

        // 포탈 메인 화면이 슬라이딩 되면, 리스트 영역의 너비가 변경됨
       &.slide-up {
          + .z-main-card .z-card-list {
            height: calc(#{$main-banner-height} + #{$content-list-height});
          }
        }
        &.slide-down {
          + .z-main-card .z-card-list {
            height: $content-list-height;
          }
        }
      }

      // 카드 형태 (포탈 메인)
      .z-main-card {
        // 포탈 메인 검색 전 화면
        .z-card-group {
          padding: 3.4375rem 13.75rem 0 13.75rem; // 55px 220px 0 220px
          .z-card {
            width: 30rem; // 480px
            @include border(0.0625rem, solid, $card-border-color, all);

            &-header { padding-top: 3.4375rem; } // 55px

            // 목록
            &-list-summary {
              padding: 2.188rem 1.875rem 2.813rem 1.875rem; // 35px 30px 45px 30px

              table {
                th, td {
                  padding: 0 1.25rem 0 1.25rem; // 0 20px
                  vertical-align: middle;
                  &:hover { background-color: $card-list-hover-bg-color; }

                  a { color: $card-list-font-color; }
                }
              }
            }
          }
        }
        // 포탈 메인 검색 후 결과 화면
        .z-card-list {
          height: $content-list-height;
          padding: 2.625rem 22.5rem 0 22.5rem; // 42px 360px 0 360px

          .z-card-row {
            width: 100%;
            @include border(0.0625rem, solid, $list-bottom-border-color, bottom);
            padding: 0.8125rem 0; // 13px 0
            // 마지막 row
            &:last-child {
              margin: 0 0 3.125rem 0; //50px
              border-bottom: none;
            }

            .z-card-item {
              &-box { width:  68.13rem; } // 1090px

              &-title {
                padding-bottom: 0.5rem; // 8px

                a { color: $headings-font-color;

                  .keyword { color: $keyword-font-color; }
                }
              }

              &-content {
                font-size: $font-size-s;
                font-weight: $font-weight-regular;
                color: $list-row-content-font-color;

                .keyword { color: $keyword-font-color; }
              }
            }
            // 검색 데이터가 없을 때
            .no-data {
              width: 100%;
              height: 100%;
              margin: 4.375rem 0 0 0; //70px
              color: $no-data-font-color;
            }
          }
        }
      }

      // 검색 영역
      .z-main-header {
        padding: 0 13.75rem 0 13.75rem; // 220px
        background-color: $main-header-bg-color;
        @include border(0.0625rem, solid, $main-header-border-color, bottom); // 1px

        .z-page-title { padding: 2.5rem 0; }  // 40px 0
        .z-page-search {
          .z-search-count {
            font-family: $layout-header-search-font-family;
            font-weight: $layout-header-search-font-weight;
            font-size: 0.875rem;
            color: $layout-header-search-color;
          }
        }
      }

      // 페이징
      .z-list-content {
        padding: 3.375rem 13.75rem 0 13.75rem; // 54px 220px
        height: $content-list-height;

        .z-table {
          @include relative();
          border: none;
        }
      }

      // 아코디언
      .z-main-accordion {
        margin: 3.375rem 13.75rem 0 13.75rem; // 54px 220px 0 220px

        // FAQ
        .z-faq {
          // level 1
          &-group {
            @include relative();
            min-height: 3.438rem; // 55px
            @include border($faq-group-border-width, solid, $faq-group-border-color, all);
            @include borderRadius(0.0625rem); // 1px
            margin-bottom: 0.625rem; // 10px

            &-title {
              height: 3.438rem; // 55px
              padding: 1.25rem 0.9375rem; // 20px 15px
              @include border($faq-group-border-width, solid, transparent, bottom); // 1px
              font-size: $faq-group-font-size;
              font-weight: $faq-group-font-weight;
              color: $faq-group-font-color;
              // 그룹일 경우 summary의 화살표 숨김
              &::-webkit-details-marker { display: none; }
              .z-icon {
                &.i-plus {
                  @include absolute($top: 0.9375rem, $right: 0.9375rem); // 15px 15px
                  display: inline-block;
                  opacity: 1;
                  background: $faq-group-icon-color;
                }
                &.i-minus {
                  @include absolute($top: 0.9375rem, $right: 0.9375rem); // 15px 15px
                  display: inline-block;
                  opacity: 0;
                  background: $faq-group-icon-color;
                }
              }
            }
            &[open] {
              @include border($faq-group-opened-border-width, solid, $faq-group-opened-border-color, all); // 1px
              .z-faq-group-title {
                color: $faq-group-opened-font-color;
                border-bottom-color: $faq-group-opened-border-color;
                .z-icon {
                  &.i-plus {
                    opacity: 0;
                  }
                  &.i-minus {
                    background: $faq-group-opened-icon-color;
                    opacity: 1;
                  }
                }
              }
              .z-faq-row { background-color: $faq-row-opened-bg-color; }
            }
          }
          // level 2
          &-row {
            padding: 1.25rem 1.875rem 0 1.875rem; // 20px 30px 0px 30px
            &:first-of-type { padding-top: 2.188rem; } // 35px
            &:last-of-type { padding-bottom: 2.188rem; } // 35px

            &-title {
              font-size: $faq-row-font-size;
              font-weight: $faq-row-font-weight;
              color: $faq-row-font-color;
            }

            &[open] {
              @include horizontalBar(0.0625rem, 0.9375rem 0, $faq-row-opened-border-color);
            }
          }
          // level 3
          &-row-content {
            margin: 1.25rem 1.063rem 0 0; // 20px 17px
            font-size: $faq-row-content-font-size;
            font-weight: $faq-row-content-font-weight;
            color: $faq-row-content-font-color;
          }
        }
      }

      // 보기 화면 : 자료실, 공지사항
      .z-main-view {
        margin: 3.375rem 13.75rem 0 13.75rem; // 54px 220px 0 220px
        @include portalViewTemplate();
      }

      // 분할 화면 : 로그인, 회원가입, 세션, 에러 , 인증메일
      // 분할 화면 - 횐쪽
      .z-vertical-split-left {
        // 로고
        .i-logo-white {
          @include relative($top: 5rem, $left: 5rem);
        }
        .i-logo {
          @include relative($top: -59.1875rem); // -947px
          margin: 5rem 0 0 5rem; // 80px 0 0 80x
        }

        // 로그인
        &.z-login-background {
          width: calc(100vw - #{$login-form-width});
          height: 100%;
          @include backgroundImage('#{$image-folder-path}login/img_login_main.png', null, no-repeat, 0, 0, $login-bg-color);
          overflow: hidden;
        }

        // 회원 가입
        &.z-signup-background {
          width: calc(100vw - #{$signup-form-width});
          height: 100%;
          @include backgroundImage('#{$image-folder-path}signup/img_signup_main.png', null, no-repeat, 0, 0, $signup-bg-color);
          overflow: hidden;

          // 로그인 버튼 영역
          .z-signup-login-face {
            top: 5rem; // 80px
            margin: 5rem 5rem 0 0; // 80px 80px 0 0
            // 계정이 있으신가요? 문구
            .z-signup-login-note {
              font-weight: $font-weight-medium;
              color: $signup-login-note-color;
              vertical-align: middle;
            }
          }
        }

        // 세션
        &.z-session-background {
          width: 50vw;
          height: 100vh;
          @include backgroundImage('#{$image-folder-path}session/img_session_main.png', null, no-repeat, 0, 0, $session-invalid-bg-color);
          overflow: hidden;
        }

        // 에러
        &.z-error-background {
          width: 50vw;
          height: 100vh;
          @include backgroundImage('#{$image-folder-path}error/img_error_caution.png', null, no-repeat, 0, 0, $error-bg-color);
          overflow: hidden;
        }

        // 인증메일
        &.z-email-certificate-background {
          width: 50vw;
          height: 100vh;
          background-color: $email-certificate-bg-color;
          overflow: hidden;
        }
      }

      // 분할 화면 - 오른쪽
      .z-vertical-split-right {
        // 로그인
        &.z-login-form {
          width: $login-form-width;
          padding: 8.5rem 4.0625rem 0 4.0625rem; // 136px 65px 0 65px
          h1 {
            height: 2.313rem; // 37px
            margin-bottom: 3.75rem; // 60px
          }

          .login-base-form { margin-bottom: 1rem; }  // 16px

          .z-login-divide {
            flex-basis: 100%;
            margin: 4rem 0 4rem 0; // 64px 0 64px 0
            color: $login-divide-font-color;
            font-size: $login-form-font-size;

            &::before {
              content: '';
              flex-grow: 1;
              height: 0.063rem; // 1px
              margin-right: 1rem; // 16px
              background: $login-form-border-color;
            }

            &::after {
              content: '';
              flex-grow: 1;
              height: 0.063rem; // 1px
              margin-left: 1rem; // 16px
              background: $login-form-border-color;
            }
          }

          .z-login-platform {
            .z-button {
              margin-bottom: 1rem; // 16px

              &:last-child { margin: 0; }
            }
          }

          .z-login-other {
            height: 1.063rem; // 17px
            margin-top: 6.188rem; // 99px
            font-size: $login-form-font-size;
            font-weight: $login-form-font-weight;
            color: $login-form-font-color;

            @include verticalBar(1.25rem, 2.5rem, 0.0625rem solid $login-form-border-color, 0 1.875rem 0 0); // 30px,  40px

            a { color: $login-form-font-color; }

            &-signUp,
            &-findPwd,
            &-findId { flex: 1 0 auto; }
          }
        }

        // 회원 가입
        &.z-signup-form {
          width: $signup-form-width;
          padding: 5.6875rem 4.0625rem 0 4.0625rem; // 91px 65px 0 65px
          .z-signup-base-form {
            @include relative(); // tooltip 영역 지정 용도
          }
        }

        // 세션
        &.z-session-form {
          width: 50vw;
          padding: 21.5625rem 6.25rem; // 345px 100px
          @include border(0.0625rem, solid, $session-invalid-border-color, left);

          h1 {
            color: $session-invalid-font-color;
            line-height: 1.7;
          }
          // 세션 카운트
          .z-session-count-txt { color: $session-invalid-count-font-color; }
        }

        // 에러
        &.z-error-form {
          width: 50vw;
          padding: 16.875rem 5.625rem; // 270px 90px
          @include border(0.0625rem, solid, $error-border-color, left);

          h1 {
            color: $error-font-color;
            line-height: 1.7;
          }

          .z-error-code-txt {
            color: $error-code-font-color;
            margin: 1.25rem 0; // 20px
          }

          .z-error-bottom-txt {
            color: $error-description-font-color;
            margin: 5rem 0; // 80px
          }
        }

        // 인증메일
        &.z-email-certificate-form {
          width: 50vw;
          padding: 21.5625rem 6.25rem; // 345px 100px
          @include border(0.0625rem, solid, $email-certificate-border-color, left);

          h1 {
            color: $email-certificate-font-color;
            line-height: 1.7;
          }

          h3 {
            color: $email-certificate-description-font-color;
            margin: 1.25rem 0 5rem 0; // 20px 0 80px 0
          }
        }
      }
    }
  }
}
// 슬라이드 효과
.slide-down {
  display: block;
  @include animation(0s, 0.3s, slideDown, ease-out);
}

.slide-up {
  @include animation(0s, 0.3s, slideUp, ease-out);
}

// 공지사항 상단 공지
.notice-pinned { background-color: $notice-pinned-color; }