@import '../template/_layout.scss';

/*
 * portal 화면 layout
 * 파일 경로 : portal/_layout.scss
 *
 * portal-container - header : 상단
 *                  - main : 메인 (스크롤바)
 *                         - main-banner : 배너, 인사말
 *                         - main-header : 메인 상단 (FAQ, 자료실, 공지사항 메인 상단)
 *                         - main-search : 검색 영역
 *                         - main-content : 내용, 검색 결과 영역
 */

@include keyframe (slideDown) {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@include keyframe (slideUp) {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.portal-container {
  @include container;
  width: 100vw;
  height: 100vh;
  overflow: auto;

  .header {
    @include fixedHeader;
    max-width: 120rem;
    height: $layout-header-height;
    padding: 0 1.25rem; // 0 20px
    margin: 0 auto;
    font-size: $layout-header-font-size;
    font-weight: $layout-header-font-weight;
    color: $layout-header-font-color;
    background-color: $layout-header-bg-color;

    // Technical Support 문구
    .name {
      padding: 0 0.9375rem; // 0 15px
      font-size: 1.125rem; // 18px
    }
  }
  // 포탈 메인
  .main {
    @include fixedContainer;
    max-width: 120rem;
    margin: 0 auto;

    &-banner {
      height: $main-banner-height;
      background-color: $main-search-bg-color;
      
      .title { padding: 3.75rem 0 1.875rem 0; } // 60px 0px 30px 0px
    }

    &-search {
      height: $main-search-height;
      background-color: $main-search-bg-color;
      @include border(0.0625rem, solid, $main-header-border-color ,bottom);
      padding: 1.875rem 0; // 30px 0

      // 포탈 메인 화면이 슬라이딩 되면, 리스트 영역의 너비가 변경됨
      &.slide-up {
        + .portal-search-result .list {
          height: calc(#{$main-banner-height} + #{$content-list-height});
        }
      }
      &.slide-down {
        + .portal-search-result .list {
          height: $content-list-height;
        }
      }
    }
    
    &-content {
      .card-group {
        padding: 3.4375rem 13.75rem 0 13.75rem; // 55px 220px 0 220px
        .card {
          width: 30rem; // 480px
          @include border(0.0625rem, solid, $card-border-color, all);
  
          &-header {
            padding-top: 3.4375rem; // 55px
            .icon { 
              padding-bottom: 1.25rem; // 20px
              img { cursor: pointer; }
            }
          }
          // 목록
          &-list {
            padding: 2.188rem 1.875rem 2.813rem 1.875rem; // 35px 30px 45px 30px
  
            table {
              width: 100%;
              height: 100%;
              th, td {
                padding: 0 1.25rem 0 1.25rem; // 20px
                vertical-align: middle;
                &:hover { background-color: $card-list-hover-bg-color; }

                a { color: $card-list-font-color; }
              }
            }
          }
        }
      }
      // 포탈 메인 검색 결과
      .list {
        height: $content-list-height;
        padding: 2.625rem 22.5rem 0 22.5rem; // 42px 360px 0 360px
  
        .row {
            width: 100%;
            @include border(0.0625rem, solid, $list-bottom-border-color, bottom);
            padding: 0.8125rem 0; // 13px 0
            // 마지막 row
            &:last-child {
              margin: 0 0 3.125rem 0; //50px
              border-bottom: none;
            }
  
            img {
              width: 1.875rem; // 30px
              height: 1.875rem; // 30px
              margin-right: 0.938rem; // 15px
            }
  
            .item {
              &-box { width:  68.13rem; } // 1090px
              &-title {
                padding-bottom: 0.5rem; // 8px
  
                a { color: $headings-font-color; }
              }
              &-content {
                font-size: 1rem; // 16px
                font-weight: $font-weight-regular;
                color: $list-row-content-font-color;
  
                .keyword { color: $keyword-font-color; }
              }
            }
  
            .no-data {
                display: flex;
                width: 100%;
                height: 100%;
                margin: 4.375rem 0 0 0; //70px
                justify-content: center;
                align-items: center;
            }
        }
      }
    }
  }
  // FAQ
  .faq {
    &-header {
      @include portalHeader;
      .faq-search { padding-bottom: 1.875rem; } // 30px
    }
    &-content {
      margin: 3.375rem 13.75rem 0 13.75rem; // 54px 220px 0 220px
      
      .faq {
        // level 1
        &-group {
          @include relative();
          min-height: 3.438rem; // 55px
          @include border($faq-group-border-width, solid, $faq-group-border-color, all);
          @include borderRadius(0.0625rem); // 1px
          margin-bottom: 10px; // 10px

          &-title {
            height: 3.438rem; // 55px
            padding: 1.25rem 0.9375rem; // 20px 15px
            @include border($faq-group-border-width, solid, transparent, bottom); // 1px
            font-size: $faq-group-font-size;
            font-weight: $faq-group-font-weight;
            color: $faq-group-font-color;
            // 그룹일 경우 summary의 화살표 숨김
            &::-webkit-details-marker { display: none; }
            .#{$common-prefix}icon {
              &.i-plus {
                @include absolute($right: 0.9375rem); // 15px
                display: inline-block;
                opacity: 1;
                @include maskImage('#{$icon-folder-path}icon_plus.svg', 16px, 16px, no-repeat, center, 16px 16px, $faq-group-icon-color);
              }
              &.i-minus {
                @include absolute($right: 0.9375rem); // 15px
                display: inline-block;
                opacity: 0;
                @include maskImage('#{$icon-folder-path}icon_minus.svg', 16px, 16px, no-repeat, center, 16px 16px, $faq-group-icon-color);
              }
            }
          }
          &[open] {
            @include border($faq-group-opened-border-width, solid, $faq-group-opened-border-color, all); // 1px
            .faq-group-title {
              color: $faq-group-opened-font-color; 
              border-bottom-color: $faq-group-opened-border-color;
              .#{$common-prefix}icon {
                &.i-plus {
                  opacity: 0;
                }
                &.i-minus {
                  background: $faq-group-opened-icon-color;
                  opacity: 1;
                }
              }
            }
            .faq-row { background-color: $faq-row-opened-bg-color; }
          }
        }
        // level 2
        &-row {
          padding: 20px 30px 0px 30px; // 20px 30px 0px 30px;
          &:first-of-type { padding-top: 35px; } // 30px
          &:last-of-type { padding-bottom: 35px; } // 30px

          &-title {
            font-size: $faq-row-font-size;
            font-weight: $faq-row-font-weight;
            color: $faq-row-font-color;
          }

          &[open] {
            @include horizontalBar(0.0625rem, 0.9375rem 0, $faq-row-opened-border-color);
          }
        }
        // level 3
        &-row-content {
          margin-top: 20px; // 20px
          margin-left: 17px; // 17px
          font-size: $faq-row-content-font-size;
          font-weight: $faq-row-content-font-weight;
          color: $faq-row-content-font-color;
        }
      }
    }
  }
  // 자료실
  .download {
    &-header {
      @include portalHeader;
      .download-search { padding-bottom: 1.875rem; } // 30px
    }
    &-content {
      margin: 3.375rem 13.75rem 0 13.75rem; // 54px 220px 0 220px
      @include portalViewTemplate();

      .list { height: $layout-list-height; }
    }
  }
  // 공지사항
  .notice {
    &-header {
      @include portalHeader;
      .notice-search { padding-bottom: 1.875rem; } // 30px
    }
    &-content {
      margin: 3.375rem 13.75rem 0 13.75rem; // 54px 220px 0 220px
      @include portalViewTemplate();

      .list { height: $layout-list-height }
      .notice-pinned { background-color: $notice-pinned-color; }
    }
  }
}
// 슬라이드 효과
.slide-down {
  display: block;
  @include animation(0s, 0.3s, slideDown, ease-out);
}

.slide-up {
  @include animation(0s, 0.3s, slideUp, ease-out);
}
