/*
 * 로그인
 * 파일 경로 : portal/_login.scss
 */
.login {
  &-main {
    height: 100%;
  }

  &-logo {
    @include relative($top: $login-logo-position-top, $left: $login-logo-position-left);
  }

  &-background {
    width: calc(100vw - #{$login-form-width});
    height: 100%;
    background-color: $login-bg-color;
    overflow: hidden;

    .login-main-image {
      margin: 6.875rem 0 0 6.875rem; // 110px 0 0 110px
    }
  }

  &-form {
    width: $login-form-width;
    padding: 8.5rem 4.0625rem 0 4.0625rem; // 136px 65px 0 65px
    h1 {
      height: 2.313rem; // 37px
      margin-bottom: 3.75rem; // 60px
    }

    .login-base-form {
      margin-bottom: 1rem; // 16px
    }
  }

  &-divide {
    flex-basis: 100%;
    margin: 4rem 0 4rem 0; // 64px 0 64px 0
    color: $gray;
    font-size: $login-form-font-size;

    &::before {
      content: '';
      flex-grow: 1;
      height: 0.063rem; // 1px
      margin-right: 1rem; // 16px
      background: map-get($grays, "line");
    }

    &::after {
      content: '';
      flex-grow: 1;
      height: 0.063rem; // 1px
      margin-left: 1rem; // 16px
      background: map-get($grays, "line");
    }
  }

  &-platform {
    button {
      margin-bottom: 1rem; // 16px

      &:last-child { margin: 0; }
    }
  }

  &-other {
    height: 1.063rem; // 17px
    margin-top: 6.188rem; // 99px
    font-size: $login-form-font-size;
    font-weight: $login-form-font-weight;
    color: $login-form-font-color;

    @include verticalBar(1.25rem, 2.5rem, 0.0625rem solid map-get($grays, "line"), 0 1.875rem 0 0); // 30px,  40px

    a { color: $login-form-font-color; }

    &-signUp, 
    &-findPwd,
    &-findId {
      flex: 1 0 auto;
      text-align: center;
    }
  }
}
