/*
 * 회원 가입
 * 파일 경로 : portal/_signup.scss
 */
.signup {
  &-logo {
    @include relative($top: $signup-logo-position-top, $left: $signup-logo-position-left);
  }

  &-background {
    width: calc(100vw - #{$signup-form-width});
    height: 100%;
    background-color: $signup-bg-color;
    overflow: hidden;

    .signup-main-image {
      margin-top: 0.8125rem; // 13px
    }
  }


  &-login-face {
    top: 5rem; // 80px
    float: right;
    margin: 5rem 5rem 0 0; // 80px 80px 0 0
  }

  &-login-note {
    font-weight: $font-weight-medium;
    color: $white;
    vertical-align: middle;
  }

  &-form {
    width: $signup-form-width;
    padding: 5.6875rem 4.0625rem 0 4.0625rem; // 91px 65px 0 65px
    h1 {
      margin-bottom: 0.625rem; // 10px
    }
    .signup-base-form {
      @include relative(); // tooltip 영역 지정 용도
    }
  }
}