<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/defaultLayout">
<head>
    <title th:text="#{download.label.download}"></title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="download-header">
        <div class="header-title flex-row align-items-baseline">
            <h1 th:text="#{download.label.download}"></h1>
            <h6 class="description ml-2" th:text="#{download.msg.searchDescription}"></h6>
        </div>
        <div class="header-search flex-row">
            <input type="hidden" name="isRole" sec:authorize="hasAuthority('download.update')" th:value="true"/>
            <input type="hidden" name="isRole" sec:authorize="!hasAuthority('download.update')" th:value="false"/>
            <form id="searchFrm">
                <select id="category" name="category" class="col-3">
                    <option value="" th:text="#{download.category.all}"></option>
                    <option th:each="category: ${categoryList}" th:value="${category.code}" th:text="#{${category.code}}"></option>
                </select>
                <input type="text" class="z-input search col-3" id="search" name="search" maxlength="100" th:placeholder="#{download.label.searchPlaceholder}"/>
                <input type="text" class="z-input search-date col-3" id="fromDt" name="fromDt" />
                <span>~</span>
                <input type="text" class="z-input search-date col-3 mr-2" id="searchToDt" name="searchToDt"/>
                <input type="hidden" class="search-date" id="toDt" name="toDt"/>
                <span id="spanTotalCount" class="search-count"></span>
            </form>
            <div class="ml-auto">
                <button type="button" class="default-fill" onclick="location.href='/downloads/new'"
                        sec:authorize="hasAuthority('download.create')" th:text="#{common.btn.add}">
                </button>
            </div>
        </div>
    </div>
    <div class="faq-content flex-fill">
        <div class="list" id="downloadList"></div>
    </div>
</th:block>
</body>
<th:block layout:fragment="pageScript">
    <script th:inline="javascript">
        /*<![CDATA[*/
        let offsetCount = 0;
        let searchFromDt = i18n.getDate({'months': -1});
        let searchToDt = i18n.getDate();

        window.onload = function () {
            document.getElementById('search').focus();

            const fromDtElement = document.getElementById('fromDt');
            const searchToDtElement = document.getElementById('searchToDt');
            fromDtElement.value = searchFromDt;
            searchToDtElement.value = searchToDt;
            zDateTimePicker.initDatePicker(fromDtElement, setDatePicker);
            zDateTimePicker.initDatePicker(searchToDtElement, setDatePicker);

            document.getElementById('category').addEventListener('change', function() { getDownloadList(false); });
            document.getElementById('search').addEventListener('keyup', function() { getDownloadList(false); });

            getDownloadList(false);
        };

        function setDatePicker(element, picker) {
            if (typeof picker === 'undefined') {
                return false;
            }
            if (element.id === 'fromDt') {
                const toDtValue = document.getElementById('searchToDt').value;
                if (i18n.systemDate(toDtValue) < i18n.systemDate(element.value)) {
                    aliceAlert.alertWarning(i18n.msg("common.msg.selectBeforeDate", toDtValue), function () {
                        document.getElementById('fromDt').value = searchFromDt;
                        picker.open();
                    });
                } else {
                    getDownloadList(false);
                }
            } else {
                const fromDtValue = document.getElementById('fromDt').value;
                if (i18n.systemDate(fromDtValue) > i18n.systemDate(element.value)) {
                    aliceAlert.alertWarning(i18n.msg("common.msg.selectAfterDate", fromDtValue), function () {
                        document.getElementById('searchToDt').value = searchToDt;
                        picker.open();
                    });
                } else {
                    getDownloadList(false);
                }
            }
        }

        function getDownloadList(isScroll) {
            let urlParam = '';
            document.getElementById('toDt').value =
                i18n.makeUserDate(document.getElementById('searchToDt').value, {'days': 1});
            if (isScroll) {
                if (offsetCount === 0) {
                    offsetCount = aliceJs.searchDataCount;
                }
            } else {
                offsetCount = 0;
            }
            urlParam = aliceJs.serialize(document.getElementById('searchFrm')) + '&offset=' + offsetCount + '&isScroll=' + isScroll;
            restSubmit('get', '/downloads?' + urlParam, isScroll);
        }

        // REST API
        function restSubmit(method, url, isScroll) {
            const opt = {
                method: method,
                url: url,
                async: false,
                showProgressbar: false,
                callbackFunc: function (response) {
                    if (isScroll) {
                        if (aliceJs.isEnableScrollEvent(offsetCount)) {
                            offsetCount = offsetCount + aliceJs.searchDataCount;
                        }
                        const downloadTbody = document.querySelector('.list-body .os-content');
                        const tbody = document.createElement('tbody');
                        tbody.innerHTML = response.responseText;
                        setDateTimeFormat(tbody);
                        const container = document.createDocumentFragment();
                        for (let i = 0; i < tbody.rows.length; i++) {
                            let node = tbody.rows[i].cloneNode(true);
                            container.appendChild(node);
                        }
                        downloadTbody.appendChild(container)
                    } else {
                        document.getElementById('downloadList').innerHTML = response.responseText;
                        aliceJs.showTotalCount(document.getElementById('totalCount').value);
                        setDateTimeFormat(document.getElementById('downloadList'));

                        OverlayScrollbars(document.querySelector('.list-body'), {
                            className: 'scrollbar',
                            callbacks: {
                                onScroll: function(e) {
                                    const scrollHeight = e.target.scrollHeight;
                                    const scrollTop = e.target.scrollTop;
                                    const clientHeight = e.target.clientHeight;
                                    // 스크롤이 맨 마지막에 있을 경우
                                    if (isScrollbarBottom(scrollHeight, scrollTop, clientHeight)) {
                                        if (aliceJs.isEnableScrollEvent(offsetCount)) {
                                            getDownloadList(true);
                                        }
                                    }
                                }
                            }
                        });
                    }
                }
            };
            aliceJs.sendXhr(opt);
        }

        /**
         * 서버에서 전달받은 데이터의 날짜 포맷을 변경한다.
         */
        function setDateTimeFormat(elem) {
            elem.querySelectorAll('.date-time').forEach(dt => {
                dt.textContent = i18n.userDateTime(dt.textContent.trim());
            });
        }
        /*]]>*/
    </script>
</th:block>
</html>
