<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="layout/defaultLayout">
<head>
    <title th:text="#{download.label.title}"></title>
    <meta charset="UTF-8">
</head>
<body>
<th:block layout:fragment="content">
    <div style="width: 70%; margin: 50px auto;">
        <div style="height: 90px;">
            <h1 th:text="#{download.label.title}"></h1>
            <div style="margin-top: 10px">
                <select id="category" style="width: 230px; height: 30px">
                    <option value="all" th:text="#{download.category.all}"></option>
                    <option th:each="category: ${categoryList}" th:value="${category.code}"
                            th:text="#{${category.code}}"></option>
                </select>
                <input type="text" id="search" style="width: 200px; margin: 0 5px" maxlength="100"
                       th:placeholder="#{download.label.searchPlaceholder}">
                <input type="text" id="fromDt" readonly="readonly"
                       th:with="dateformat=${#strings.substring(#authentication.details.timeFormat, 0, 10)}"
                       th:value="${#temporals.format(fromDt, dateformat)}"/>
                <span>~</span>
                <input type="text" id="toDt" readonly="readonly"
                       th:with="dateformat=${#strings.substring(#authentication.details.timeFormat, 0, 10)}"
                       th:value="${#temporals.format(toDt, dateformat)}"/>
                <button style="float: right" onclick="location.href='/downloads/new'"
                        sec:authorize="hasAuthority('download.create')" th:text="#{common.btn.register}" ></button>
            </div>
        </div>
        <hr>
        <div id="downloadList" style="margin-top: 20px"></div>
    </div>
</th:block>
</body>
<th:block layout:fragment="pageScript">
    <script th:inline="javascript">
        /*<![CDATA[*/
        const format = /*[[${#authentication.details.timeFormat}]]*/'';
        const lang = /*[[${#authentication.details.lang}]]*/'';
        const formatArray = format.split(' ');

        window.onload = function() {
            const dateFormat = formatArray[0].toUpperCase();
            dateTimePicker.initDatePicker('fromDt', dateFormat, lang, setDatePicker);
            dateTimePicker.initDatePicker('toDt', dateFormat, lang, setDatePicker);
            document.getElementById('category').addEventListener('change', function() { getDownloadList(); });
            document.getElementById('search').addEventListener('keyup', function() { getDownloadList(); });

            getDownloadList();
        };

        function setDatePicker(element, picker) {
            if (typeof picker === 'undefined') {
                return false;
            }
            if (element.id === 'fromDt') {
                const toDtValue = document.getElementById('toDt').value;
                if (changeDateFormatYYYYMMDD(toDtValue, formatArray[0]) <
                        changeDateFormatYYYYMMDD(element.value, formatArray[0])) {
                    aliceJs.alert(i18n.get("download.msg.selectBeforeDate", toDtValue), function() { picker.open(); });
                } else {
                    getDownloadList();
                }
            } else {
                const fromDtValue = document.getElementById('fromDt').value;
                if (changeDateFormatYYYYMMDD(fromDtValue, formatArray[0]) >
                        changeDateFormatYYYYMMDD(element.value, formatArray[0])) {
                    aliceJs.alert(i18n.get("download.msg.selectAfterDate", fromDtValue), function() { picker.open(); });
                } else {
                    getDownloadList();
                }
            }
        }

        function getDownloadList() {
            const searchOpt = {
                category: document.getElementById('category').value,
                search: document.getElementById('search').value.trim(),
                fromDt: changeDateFormatYYYYMMDD(document.getElementById('fromDt').value, formatArray[0]),
                toDt: changeDateFormatYYYYMMDD(document.getElementById('toDt').value, formatArray[0])
            };
            const urlParam = 'category=' + searchOpt.category + '&search=' + searchOpt.search +
                             '&fromDt=' + searchOpt.fromDt + '&toDt=' + searchOpt.toDt;
            restSubmit('get', '/downloads/list?' + urlParam);
        }

        //REST API
        function restSubmit(method, url) {
            const opt = {
                method: method,
                url: url,
                callbackFunc: function(response) {
                    document.getElementById('downloadList').innerHTML = response.responseText;
                }
            };
            aliceJs.sendXhr(opt);
        }
        /*]]>*/
    </script>
</th:block>
</html>