<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="layout/defaultLayout">
<head>
    <title th:text="#{download.label.download}"></title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="contents-edit scroll-wrap">
        <div class="header">
            <div class="page-title">
                <h1 th:text="#{download.label.download}"></h1>
                <h6 class="title-description" th:text="#{download.msg.description}"></h6>
            </div>
        </div>
        <div class="edit">
            <div class="form-set">
                <label class="required" th:text="#{download.label.category}" for="downloadCategory"></label>
                <select id="downloadCategory">
                    <option th:each="category: ${categoryList}"
                            th:value="${category.code}"
                            th:text="#{${category.code}}"
                            th:selected="${category.code} == ${download?.downloadCategory}"></option>
                </select>
            </div>
            <div class="form-set">
                <label class="required" th:text="#{common.label.title}" />
                <input type="text" id="downloadTitle" maxlength="100" th:value="${download?.downloadTitle}"></td>
            </div>
            <div class="form-set file-edit-contents">
                <label class="file-head" th:text="#{common.label.attachFile}"/>
                <div id="dropZoneFiles"></div>
                <div id="dropZoneUploadedFiles"></div>
            </div>
            <div class="btn-bar">
                <button onclick="location.href='/downloads/search'"
                        class="default-line" th:text="#{common.btn.list}"></button>
                <button th:if="${download?.downloadId}" onclick="saveDownload('put')"
                        class="point-fill" th:text="#{common.btn.modify}"></button>
                <button th:unless="${download?.downloadId}" onclick="saveDownload('post')"
                        class="point-fill" th:text="#{common.btn.save}"></button>
                <button th:if="${download?.downloadId}" onclick="deleteDownload()"
                        class="default-fill" th:text="#{common.btn.delete}"></button>
            </div>
        </div>
    </div>
</th:block>
</body>
<th:block layout:fragment="pageScript">
    <script th:inline="javascript" type="text/javascript">
        /*<![CDATA[*/
        window.onload = function() {
            fileUploader.init({extra: {formId: 'downloadForm', ownId: [[${download?.downloadId}]]}});
        };

        //Empty Check
        function emptyCheck() {
            if (isEmpty('downloadCategory', 'download.msg.selectCategory')) { return false; }
            return !isEmpty('downloadTitle', 'common.msg.enterTitle')
        }

        function saveDownload(method) {
            if (emptyCheck()) {
                let fileSeqList = [];
                let delFileSeqList = [];
                document.getElementsByName('fileSeq').forEach(elem => fileSeqList.push(elem.value));
                document.getElementsByName('delFileSeq').forEach(elem => delFileSeqList.push(elem.value));
                const data = {
                    downloadCategory: document.getElementById('downloadCategory').value,
                    downloadTitle: document.getElementById('downloadTitle').value,
                    fileSeqList: fileSeqList,
                    delFileSeqList: delFileSeqList
                };
                if (method === 'put') {
                    data.downloadId = /*[[${download?.downloadId}]]*/'';
                    data.views = /*[[${download?.views}]]*/'';
                }
                restSubmit(method, '/rest/downloads', data);
            }
        }

        function deleteDownload() {
            restSubmit('delete', '/rest/downloads/' + /*[[${download?.downloadId}]]*/'');
        }

        //REST API
        function restSubmit(method, url, data) {
            var resultMsg;
            if (method.toLowerCase() === 'post') {
                resultMsg = i18n.get('common.msg.save');
            } else if (method.toLowerCase() === 'put') {
                resultMsg = i18n.get('common.msg.update');
            } else if (method.toLowerCase() === 'delete') {
                resultMsg = i18n.get('common.msg.delete');
            }
            const opt = {
                method: method,
                url: url,
                params: JSON.stringify(data),
                contentType: 'application/json',
                callbackFunc: function() {
                    aliceJs.alertSuccess(resultMsg, function() {
                        location.href = '/downloads/search';
                    });
                }
            };
            aliceJs.sendXhr(opt);
        }
        /*]]>*/
    </script>
</th:block>
</html>
