<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="layout/defaultLayout">
<head>
    <title th:text="#{download.label.title}"></title>
    <meta charset="UTF-8">
</head>
<body>
<th:block layout:fragment="content">
    <div style="width: 70%; margin: 50px auto;">
        <div style="height: 90px;">
            <h1 th:text="#{download.label.title}"></h1>
            <div style="margin-top: 10px">
                <select id="category" style="width: 230px; height: 30px">
                    <option value="all" th:text="#{download.category.all}"></option>
                    <option th:each="category: ${categoryList}" th:value="${category.code}"
                        th:text="#{${category.code}}"></option>
                </select>
                <input type="text" id="search" style="width: 200px; margin: 0 5px" maxlength="100"
                    th:placeholder="#{download.label.searchPlaceholder}">
                <input type="text" id="fromDt" name="fromDt" readonly="readonly"/>
                <span>~</span>
                <input type="text" id="toDt" name="toDt" readonly="readonly"/>
                <button style="float: right" onclick="location.href='/downloads/new'"
                    sec:authorize="hasAuthority('download.create')" th:text="#{common.btn.register}" ></button>
            </div>
        </div>
        <hr>
        <div id="downloadList" style="margin-top: 20px"></div>
    </div>
</th:block>
</body>
<th:block layout:fragment="pageScript">
    <script th:inline="javascript">
        /*<![CDATA[*/
        window.onload = function () {
            document.getElementById('fromDt').value = i18n.getDate({'months':-1});
            document.getElementById('toDt').value = i18n.getDate();
            dateTimePicker.initDatePicker('fromDt', i18n.dateFormat, i18n.lang, setDatePicker);
            dateTimePicker.initDatePicker('toDt', i18n.dateFormat, i18n.lang, setDatePicker);
            document.getElementById('category').addEventListener('change', getDownloadList.bind(null, false), false);
            document.getElementById('search').addEventListener('keyup', getDownloadList.bind(null, false), false);

            getDownloadList(true);
        };

        function setDatePicker(element, picker) {
            if (typeof picker === 'undefined') {
                return false;
            }
            if (element.id === 'fromDt') {
                const toDtValue = document.getElementById('toDt').value;
                if (i18n.systemDate(toDtValue) < i18n.systemDate(element.value)) {
                    aliceJs.alert(i18n.get("download.msg.selectBeforeDate", toDtValue), function () {
                        picker.open();
                    });
                } else {
                    getDownloadList(false);
                }
            } else {
                const fromDtValue = document.getElementById('fromDt').value;
                if (i18n.systemDate(fromDtValue) > i18n.systemDate(element.value)) {
                    aliceJs.alert(i18n.get("download.msg.selectAfterDate", fromDtValue), function () {
                        picker.open();
                    });
                } else {
                    getDownloadList(false);
                }
            }
        }

        function getDownloadList(showProgressbar) {
            const searchOpt = {
                category: document.getElementById('category').value,
                search: document.getElementById('search').value.trim(),
                fromDt: i18n.systemDate(document.getElementById('fromDt').value),
                toDt: i18n.systemDate(document.getElementById('toDt').value, {'days':1})
            };
            const urlParam = 'category=' + searchOpt.category + '&search=' + searchOpt.search +
                             '&fromDt=' + searchOpt.fromDt + '&toDt=' + searchOpt.toDt;
            restSubmit('get', '/downloads/list?' + urlParam, showProgressbar);
        }

        //REST API
        function restSubmit(method, url, showProgressbar) {
            const opt = {
                method: method,
                url: url,
                showProgressbar: showProgressbar,
                callbackFunc: function (response) {
                    document.getElementById('downloadList').innerHTML = response.responseText;
                    var downloadList = document.querySelectorAll('td[name=createDt]');
                    for (let i = 0; i < downloadList.length; i++) {
                        downloadList[i].textContent = i18n.userDateTime(downloadList[i].textContent);
                    }
                }
            };
            aliceJs.sendXhr(opt);
        }
        /*]]>*/
    </script>
</th:block>
</html>
