<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="layout/defaultLayout">
<head>
    <title th:text="${download != null} ? #{download.label.edit} : #{download.label.register}"></title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="flex-column edit">
        <div class="download-header">
            <div class="header-title flex-row align-items-baseline">
                <h1 th:text="#{download.label.download}"></h1>
                <h6 class="description ml-2" th:text="#{download.msg.editDescription}"></h6>
            </div>
        </div>
        <div class="download-content-edit">
            <div class="flex-column edit-row">
                <label for="downloadCategory">
                    <span th:text="#{download.label.category}"></span>
                    <span class="required"></span>
                </label>
                <select id="downloadCategory">
                    <option th:each="category: ${categoryList}"
                            th:value="${category.code}"
                            th:text="#{${category.code}}"
                            th:selected="${category.code} == ${download?.downloadCategory}"></option>
                </select>
            </div>
            <div class="flex-column edit-row">
                <label for="downloadTitle">
                    <span th:text="#{common.label.title}"></span>
                    <span class="required"></span>
                </label>
                <input type="text" id="downloadTitle" maxlength="100" th:value="${download?.downloadTitle}"></td>
            </div>
            <div class="flex-column edit-row file-uploader-edit">
                <label class="file-uploader-title" th:text="#{common.label.attachFile}"/>
                <div id="dropZoneFiles"></div>
                <div id="dropZoneUploadedFiles"></div>
            </div>
            <div class="flex-row justify-content-end edit-row">
                <div class="btn-list">
                    <button th:if="${download?.downloadId}" onclick="saveDownload('put')"
                            class="point-fill" th:text="#{common.btn.modify}"></button>
                    <button th:unless="${download?.downloadId}" onclick="saveDownload('post')"
                            class="point-fill" th:text="#{common.btn.register}"></button>
                    <button th:if="${download?.downloadId}" onclick="deleteDownload()"
                            class="default-fill" th:text="#{common.btn.delete}"></button>
                    <a class="btn default-line" href="/downloads/search" th:text="#{common.btn.list}"></a>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
<th:block layout:fragment="pageScript">
    <script th:inline="javascript" type="text/javascript">
        /*<![CDATA[*/
        window.onload = function() {
            document.getElementById('downloadTitle').focus();
            zFileUploader.init({extra: {formId: 'downloadForm', ownId: [[${download?.downloadId}]]}});
            OverlayScrollbars(document.querySelector('.edit'), {className: 'scrollbar'});
        };

        //Empty Check
        function emptyCheck() {
            if (isEmpty('downloadCategory', 'download.msg.selectCategory')) { return false; }
            return !isEmpty('downloadTitle', 'common.msg.enterTitle')
        }

        function saveDownload(method) {
            if (emptyCheck()) {
                let fileSeqList = [];
                let delFileSeqList = [];
                document.getElementsByName('fileSeq').forEach(elem => fileSeqList.push(elem.value));
                document.getElementsByName('delFileSeq').forEach(elem => delFileSeqList.push(elem.value));
                const data = {
                    downloadCategory: document.getElementById('downloadCategory').value,
                    downloadTitle: document.getElementById('downloadTitle').value,
                    fileSeqList: fileSeqList,
                    delFileSeqList: delFileSeqList
                };
                if (method === 'put') {
                    data.downloadId = /*[[${download?.downloadId}]]*/'';
                    data.views = /*[[${download?.views}]]*/'';
                }
                restSubmit(method, '/rest/downloads', data);
            }
        }

        function deleteDownload() {
            aliceAlert.confirm(i18n.msg('common.msg.confirmDelete'), restSubmit, null, 'delete', '/rest/downloads/' + /*[[${download?.downloadId}]]*/'');
        }

        //REST API
        function restSubmit(method, url, data) {
            var resultMsg;
            if (method.toLowerCase() === 'post') {
                resultMsg = i18n.msg('common.msg.save');
            } else if (method.toLowerCase() === 'put') {
                resultMsg = i18n.msg('common.msg.update');
            } else if (method.toLowerCase() === 'delete') {
                resultMsg = i18n.msg('common.msg.delete');
            }
            const opt = {
                method: method,
                url: url,
                params: JSON.stringify(data),
                contentType: 'application/json',
                callbackFunc: function() {
                    aliceAlert.alertSuccess(resultMsg, function() {
                        location.href = '/downloads/search';
                    });
                }
            };
            aliceJs.sendXhr(opt);
        }
        /*]]>*/
    </script>
</th:block>
</html>
