<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="list-wrap">
    <table>
        <colgroup>
            <col style="width:2.5rem"><!--20px-->
            <col style="width:7.5rem"><!--120px-->
            <col style="width:35rem"><!--580px-->
            <col style="width:7.5rem"><!--120px-->
            <col style="width:15rem"><!--240px-->
            <col style="width:7.5rem"><!--120px-->
        </colgroup>
        <thead>
            <tr>
                <th th:text="#{download.label.seq}"></th>
                <th th:text="#{download.label.category}"></th>
                <th th:text="#{common.label.title}"></th>
                <th th:text="#{common.label.writer}"></th>
                <th th:text="#{common.label.writeDate}"></th>
                <th th:text="#{download.label.views}"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${#arrays.isEmpty(downloadList)}">
                <td colspan="6" th:text="#{common.msg.noData}"></td>
            </tr>
            <tr th:each="download, i: ${downloadList}" th:if="${i.count} < 11">
                <td th:text="|${download.downloadSeq}|"></td>
                <td th:text="#{${download.downloadCategory}}"></td>
                <td class="align-left">
                    <a sec:authorize="!hasAuthority('download.update')" th:text="${download.downloadTitle}"
                       th:href="@{/downloads/{id}/view(id=${download.downloadId})}"></a>
                    <a sec:authorize="hasAuthority('download.update')" th:text="${download.downloadTitle}"
                       th:href="@{/downloads/{id}/edit(id=${download.downloadId})}"></a>
                </td>
                <td th:text="${download.createUserName}"></td>
                <td th:name="createDt" th:text="${download.createDt}"></td>
                <td th:text="${download.views}"></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>
