<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <style>
        table {
            width: 100%;
            border: 1px solid;
            border-collapse: collapse;
            text-align: center;
        }
        table tr td:nth-child(3) {
            text-align: left;
        }
        table th {
            border: 1px solid;
        }
        table td {
            border-top: 1px solid #e7e7e7;
            border-left: 1px solid;
        }
    </style>
</head>
<body>
<div>
    <table class="table-hover">
        <colgroup>
            <col width="10%">
            <col width="10%">
            <col width="40%">
            <col width="10%">
            <col width="20%">
            <col width="10%">
        </colgroup>
        <thead>
            <tr>
                <th th:text="#{download.label.downloadSeq}"></th>
                <th th:text="#{download.label.downloadCategory}"></th>
                <th th:text="#{download.label.downloadTitle}"></th>
                <th th:text="#{download.label.createUser}"></th>
                <th th:text="#{download.label.createDt}"></th>
                <th th:text="#{download.label.views}"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${#arrays.isEmpty(downloadList)}">
                <td colspan="6" th:text="#{common.msg.noData}"></td>
            </tr>
            <tr th:unless="${#arrays.isEmpty(downloadList)}" th:each="download: ${downloadList}">
                <td th:text="|${download.downloadSeq}|"></td>
                <td th:text="#{${download.downloadCategory}}"></td>
                <td><a th:text="${download.downloadTitle}"
                       th:href="@{/downloads/{id}/view(id=${download.downloadId})}"></a></td>
                <td th:text="${download.createUserName}"></td>
                <td th:text="${#temporals.format(download.createDt, dateformat)}"
                    th:with="dateformat=${#authentication.details.timeFormat}"></td>
                <td th:text="${download.views}"></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>