<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layout/defaultLayout">
<head>
    <title th:text="#{board.label.manager}"></title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="contents-edit scroll-wrap">
        <div class="header">
            <div class="page-title">
                <h1 th:text="#{board.label.manager}"></h1>
                <h6 class="title-description" th:text="#{board.label.manager}"></h6>
            </div>
        </div>
        <div class="edit">
            <div class="form-set">
                <label class="required" th:text="#{board.label.name}" for="boardAdminTitle"></label>
                <input type="text" id="boardAdminTitle" maxlength="100" th:value="${boardAdmin?.boardAdminTitle}"
                       required="required" disabled/>
            </div>
            <div class="form-set">
                <label class="switch">
                    <span class="switch-label" th:text="#{board.label.useYn}"></span>
                    <input type="checkbox" id="boardUseYn" name="boardUseYn" onclick="toggle(this);"
                           th:checked="${boardAdmin?.boardUseYn == null || boardAdmin?.boardUseYn == true}" disabled>
                    <span class="slider round"></span>

                </label>
            </div>
            <div class="form-set">
                <label th:text="#{board.label.order}" for="boardAdminSort"></label>
                <input class="column-2" id="boardAdminSort" name="boardAdminSort" type="text" th:value="${boardAdmin?.boardAdminSort}"
                       maxlength="2" disabled/>
            </div>
            <div class="form-set">
                <label th:text="#{board.label.desc}" for="boardAdminDesc"></label>
                <textarea id="boardAdminDesc" name="boardAdminDesc" maxlength="2048" rows="7"
                          th:text="${boardAdmin?.boardAdminDesc}" disabled></textarea>
            </div>
            <div class="form-set">
                <label class="switch">
                    <span class="switch-label" th:text="#{board.label.replyYn}"></span>
                    <input type="checkbox" id="replyYn" name="replyYn" onclick="toggle(this);"
                           th:checked="${boardAdmin?.replyYn == null || boardAdmin?.replyYn == true}" disabled>
                    <span class="slider round"></span>
                </label>
            </div>
            <div class="form-set">
                <label class="switch">
                    <span class="switch-label" th:text="#{board.label.commentYn}"></span>
                    <input type="checkbox" id="commentYn" name="commentYn" onclick="toggle(this);"
                           th:checked="${boardAdmin?.commentYn == null || boardAdmin?.commentYn == true}" disabled>
                    <span class="slider round"></span>
                </label>
            </div>
            <div class="form-set">
                <label class="switch">
                    <span class="switch-label" th:text="#{board.label.category}"></span>
                    <input type="checkbox" id="categoryYn" name="categoryYn" onclick="toggle(this);"
                           th:checked="${boardAdmin?.categoryYn == null || boardAdmin?.categoryYn == true}" disabled>
                    <span class="slider round"></span>
                </label>
            </div>
            <div class="form-set">
                <label class="switch">
                    <span class="switch-label" th:text="#{board.label.attachFileYn}"></span>
                    <input type="checkbox" id="commentYn" name="commentYn" onclick="toggle(this);"
                           th:checked="${boardAdmin?.attachYn == null || boardAdmin?.attachYn == true}"
                           onchange="setDisplay('attachFileSize', this.checked)" disabled>
                    <span class="slider round"></span>
                </label>
            </div>
            <div class="form-set">
                <label th:text="#{board.label.attachFileSize}" for="attachFileSize"></label>
                <input class="column-2" id="attachFileSize" name="attachFileSize" type="text"
                       th:value="${boardAdmin?.attachFileSize}" maxlength="4" disabled/>MB
            </div>
            <div class="btn-bar">
                <button class="default-line" onclick="location.href='/board-admin/search'" th:text="#{common.btn.list}"></button>
                <button class="point-fill" sec:authorize="hasAuthority('board.admin.update')" th:if="${boardAdmin?.boardAdminId}" type="button" th:onclick ="'location.href =\'' + @{/board-admin/{id}/edit(id=${boardAdmin.boardAdminId})}+'\''" th:text="#{common.btn.modify}"></button>
                <button class="default-line" sec:authorize="hasAuthority('board.admin.delete')" th:if="${boardAdmin?.boardAdminId}" type="button" id="delete" th:disabled="${!boardAdmin.enabled}" th:onclick="restSubmit('DELETE',[[@{/rest/board-admin/{boardAdminId}(boardAdminId=${boardAdmin.boardAdminId})}]])" th:text="#{common.btn.delete}"></button>
            </div>
        </div>
    </div>
</th:block>
</body>
<th:block layout:fragment="pageScript">
    <script th:inline="javascript">
        /*<![CDATA[ */
        const boardAdminCreateDt = document.getElementById('spanCreateDt');
        const boardAdminUpdateDt = document.getElementById('spanUpdateDt');

        window.onload = function() {
            boardAdminCreateDt.textContent = i18n.userDateTime(boardAdminCreateDt.textContent);
            boardAdminUpdateDt.textContent = i18n.userDateTime(boardAdminUpdateDt.textContent);

            // 게시물 삭제 처리 시
            const boardAdminId = /*[[${boardAdmin.boardAdminId}]]*/;
            if (boardAdminId === null) {
                aliceJs.alert(i18n.get('common.msg.delete'));
                return history.go(-1);
            }
        };

        //RESTFUL API
        function restSubmit(method, url, async) {
            const opt = {
                method: method,
                url: url,
                async: async,
                callbackFunc: function() {
                    aliceJs.alert(i18n.get('common.msg.delete'), function() {
                        window.location.href = '/board-admin/search';
                    });
                },
                showProgressbar: false
            };
            aliceJs.sendXhr(opt);
        }
        /* ]]> */
    </script>
</th:block>
</html>
