<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="layout/defaultLayout">
<head>
    <title th:text="#{board.label.manager}"></title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="contents-edit scroll-wrap">
        <div class="header">
            <div class="page-title">
                <h1 th:text="#{board.label.manager}"></h1>
                <h6 class="title-description" th:text="#{board.label.manager}"></h6>
            </div>
        </div>
        <div class="edit">
            <div class="form-set">
                <label class="required" th:text="#{board.label.name}" for="boardAdminTitle"></label>
                <input type="text" id="boardAdminTitle" maxlength="70" th:value="${boardAdmin?.boardAdminTitle}"
                       required="required"/>
            </div>
            <div class="form-set">
                <label class="switch">
                    <span class="switch-label" th:text="#{board.label.useYn}"></span>
                    <input type="checkbox" id="boardUseYn" name="boardUseYn" onclick="toggle(this);"
                           th:checked="${boardAdmin?.boardUseYn == null || boardAdmin?.boardUseYn == true}">
                    <span class="slider round"></span>

                </label>
            </div>
            <div class="form-set">
                <label th:text="#{board.label.order}" for="boardAdminSort"></label>
                <input class="column-2" id="boardAdminSort" name="boardAdminSort" type="text"
                       th:value="${boardAdmin?.boardAdminSort}" maxlength="2"
                       onKeyup="this.value=this.value.replace(/[^0-9]/g,'');"/>
            </div>
            <div class="form-set">
                <label th:text="#{board.label.desc}" for="boardAdminDesc"></label>
                <textarea id="boardAdminDesc" name="boardAdminDesc" maxlength="2048" rows="7"
                          class="textarea-scroll-wrapper"  th:text="${boardAdmin?.boardAdminDesc}"></textarea>
            </div>
            <div class="form-set">
                <label class="switch">
                    <span class="switch-label" th:text="#{board.label.replyYn}"></span>
                    <input type="checkbox" id="replyYn" name="replyYn" onclick="toggle(this);"
                           th:checked="${boardAdmin?.replyYn == null || boardAdmin?.replyYn == true}">
                    <span class="slider round"></span>
                </label>
            </div>
            <div class="form-set">
                <label class="switch">
                    <span class="switch-label" th:text="#{board.label.commentYn}"></span>
                    <input type="checkbox" id="commentYn" name="commentYn" onclick="toggle(this);"
                           th:checked="${boardAdmin?.commentYn == null || boardAdmin?.commentYn == true}">
                    <span class="slider round"></span>
                </label>
            </div>
            <div class="form-set">
                <label class="switch">
                    <span class="switch-label" th:text="#{board.label.category}"></span>
                    <input type="checkbox" id="categoryYn" name="categoryYn" onclick="toggle(this);"
                           th:checked="${boardAdmin?.categoryYn == null || boardAdmin?.categoryYn == true}">
                    <span class="slider round"></span>
                </label>
            </div>
            <div class="form-set">
                <label class="switch">
                    <span class="switch-label" th:text="#{board.label.attachFileYn}"></span>
                    <input type="checkbox" id="attachYn" name="attachYn" onclick="toggle(this);"
                           th:checked="${boardAdmin?.attachYn == null || boardAdmin?.attachYn == true}"
                           onchange="setDisplay('attachFileSize', this.checked)">
                    <span class="slider round"></span>
                </label>
            </div>
            <div class="form-set">
                <label th:text="#{board.label.attachFileSize}" for="attachFileSize"></label>
                <input class="column-2" id="attachFileSize" name="attachFileSize" type="text"
                           th:value="${boardAdmin?.attachFileSize}" maxlength="4"
                           onKeyup="this.value=this.value.replace(/[^0-9]/g,'');"/>MB
            </div>
            <div class="btn-bar">
                <button class="default-line" onclick="location.href='/board-admin/search'"
                        th:text="#{common.btn.list}"></button>
                <button class="point-fill" th:if="${boardAdmin?.boardAdminId}" onclick="saveBoardAdmin('put')"
                        th:text="#{common.btn.modify}"></button>
                <button class="default-line" th:if="${boardAdmin?.boardAdminId}" onclick="deleteBoardAdmin()"
                        th:disabled="${!boardAdmin.enabled}" th:text="#{common.btn.delete}"></button>
                <button class="point-fill" th:unless="${boardAdmin?.boardAdminId}" onclick="saveBoardAdmin('post')"
                        th:text="#{common.btn.save}"></button>
            </div>
        </div>
    </div>
</th:block>
</body>
<th:block layout:fragment="pageScript">
    <script th:inline="javascript" type="text/javascript">
        /*<![CDATA[*/
        let boardAdminId = /*[[${boardAdmin?.boardAdminId}]]*/;
        let attachDisable = /*[[${boardAdmin?.attachYn}]]*/;

        window.onload = function() {
            if (!attachDisable && attachDisable !== null) {
                document.getElementById('attachFileSize').disabled = 'false';
            }

            OverlayScrollbars(document.querySelectorAll('#boardAdminDesc'), {
                className: 'scrollbar',
                resize: 'vertical',
                sizeAutoCapable: true,
                textarea: {
                    dynHeight: false,
                    dynWidth: false,
                    inheritedAttrs: "class"
                }
            });
        }
        //radio check 값에 따라서 화면이 변경 할 수 있도록 변경
        function setDisplay(id, value) {
            if (id === 'attachFileSize') {
                if (value) {
                    document.getElementById('attachFileSize').removeAttribute('disabled');
                } else {
                    document.getElementById('attachFileSize').disabled = 'true';
                    document.getElementById('attachFileSize').value = 0;
                }
            }
        }

        //게시판 관리 삭제
        function deleteBoardAdmin() {
            restSubmit('delete', '/rest/board-admin/' + boardAdminId);
        }

        //게시판 관리 저장
        function saveBoardAdmin(method) {
            if (isEmpty('boardAdminTitle', 'board.msg.enterBoardTitle')) return;
            if (document.getElementById('attachYn').checked) {
                if (isExistInScope('attachFileSize', 1, 1024, 'board.msg.enterAttachFileSize')) return;
            }

            const data = {
                boardAdminTitle: document.getElementById('boardAdminTitle').value,
                boardAdminDesc: document.getElementById('boardAdminDesc').value,
                boardAdminSort: document.getElementById('boardAdminSort').value,
                boardUseYn: document.getElementById('boardUseYn').checked,
                replyYn: document.getElementById('replyYn').checked,
                commentYn: document.getElementById('commentYn').checked,
                categoryYn: document.getElementById('categoryYn').checked,
                attachYn: document.getElementById('attachYn').checked,
                attachFileSize: document.getElementById('attachFileSize').value
            };

            if (method === 'put') {
                data.boardAdminId = boardAdminId;
            }
            restSubmit(method, '/rest/board-admin', data);
        }

        //REST API
        function restSubmit(method, url, data) {
            let resultMsg = '';
            if (method === 'put' || method === 'post') {
                resultMsg = i18n.msg('common.msg.save');
            } else if (method === 'delete') {
                resultMsg = i18n.msg('common.msg.delete');
            }

            const opt = {
                method: method,
                url: url,
                params: JSON.stringify(data),
                contentType: 'application/json',
                callbackFunc: function() {
                    aliceJs.alertSuccess(resultMsg, function () {
                        location.href = '/board-admin/search';
                    });
                },
                showProgressbar: false
            };
            aliceJs.sendXhr(opt);
        }
        /*]]>*/
    </script>
</th:block>
</html>
