<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
</head>
<body>
    <table>
        <thead>
        <tr>
            <th width="60%" th:text="#{board.label.categoryName}"></th>
            <th width="30%" th:text="#{board.label.order}"></th>
            <th width="10%"></th>
        </tr>
        </thead>
        <tbody>
            <tr class="no-data-found" th:if="${#arrays.isEmpty(boardCategoryList)}">
                <td colspan="3" th:text="#{common.msg.noData}"></td>
            </tr>
            <tr th:unless="${#arrays.isEmpty(boardCategoryList)}" th:each="boardCategory: ${boardCategoryList}">
                <td width="60%" th:text="${boardCategory.boardCategoryName}"></td>
                <td width="30%" th:text="${boardCategory.boardCategorySort}"></td>
                <td width="10%">
                    <button class="default-line" sec:authorize="hasAuthority('board.admin.delete')" th:text="#{common.btn.delete}"
                            th:attr="onclick=|deleteBoardCategory('${boardCategory.boardCategoryId}')|"></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>