<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layout/defaultLayout">
<head>
    <title th:text="#{board.label.manager}"></title>
    <meta charset="UTF-8">
    <style>
        table {
            width: 100%;
            border: 1px solid;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        table label {
            margin: 0;
        }
        table td {
            border: 1px solid;
            height: 50px;
        }
    </style>
</head>
<body>
<th:block layout:fragment="content">
    <div style="width: 70%; margin: 50px auto;">
        <div style="height: 90px;">
            <h1 th:text="#{board.label.manager}"></h1>
        </div>
        <hr>
        <table>
            <colgroup>
                <col width="20%">
                <col width="30%">
                <col width="20%">
                <col width="30%">
            </colgroup>
            <tbody>
            <tr>
                <td><label th:text="#{board.label.name}"></label></td>
                <td colspan="3"><label th:text="${boardAdmin.boardAdminTitle}"/></td>
            </tr>
            <tr>
                <td><label th:text="#{board.label.useYn}"></label></td>
                <td><label th:text="${boardAdmin.boardUseYn == true} ? #{board.label.enable} : #{board.label.disable}"></label></td>
                <td><label th:text="#{board.label.order}"></label></td>
                <td><label th:text="${boardAdmin?.boardAdminSort}"></label></td>
            </tr>
            <tr>
                <td><label th:text="#{board.label.desc}"></label></td>
                <td colspan="3"><label th:text="${boardAdmin?.boardAdminDesc}"></label></td>
            </tr>
            <tr>
                <td><label th:text="#{board.label.replyYn}"></label></td>
                <td><label th:text="${boardAdmin.replyYn == true} ? #{board.label.enable} : #{board.label.disable}"></label></td>
                <td><label th:text="#{board.label.commentYn}"></label></td>
                <td><label th:text="${boardAdmin.commentYn == true} ? #{board.label.enable} : #{board.label.disable}"></label></td>
            </tr>
            <tr>
                <td><label th:text="#{board.label.category}"></label></td>
                <td colspan="3"><label th:text="${boardAdmin.categoryYn == true} ? #{board.label.enable} : #{board.label.disable}"></label></td>
            </tr>
            <tr>
                <td><label th:text="#{board.label.attachFileYn}"></label></td>
                <td><label th:text="${boardAdmin.attachYn == true} ? #{board.label.enable} : #{board.label.disable}"></label></td>
                <td><label th:text="#{board.label.attachFileSize}"></label></td>
                <td colspan="3"><label th:text="${boardAdmin?.attachFileSize}"></label> MB</td>
            </tr>
            <tr>
                <td><label th:text="#{common.label.createUser}"></label></td>
                <td><span id="spanCreateUserKey" name="spanCreateUserKey" th:text="${boardAdmin?.createUser} ? ${boardAdmin.createUser.userName} : ''"></span></td>
                <td><label th:text="#{common.label.createDate}"></label></td>
                <td><span id="spanCreateDt" name="spanCreateDt" th:text="${boardAdmin?.createDt}"></span></td>
            </tr>
            <tr>
                <td><label th:text="#{common.label.updateUser}"></label></td>
                <td><span id="spanUpdateUserKey" name="spanUpdateUserKey" th:text="${boardAdmin?.updateUser} ? ${boardAdmin.updateUser.userName} : ''"></span></td>
                <td><label th:text="#{common.label.updateDate}"></label></td>
                <td><span id="spanUpdateDt" name="spanUpdateDt" th:text="${boardAdmin?.updateDt}"></span></td>
            </tr>
            </tbody>
        </table>
        <div align="right">
            <button style="margin-right: 5px;" onclick="location.href='/board-admin/search'" th:text="#{common.btn.list}"></button>
            <button style="margin-right: 5px;" sec:authorize="hasAuthority('board.admin.update')" th:if="${boardAdmin?.boardAdminId}" type="button" th:onclick ="'location.href =\'' + @{/board-admin/{id}/edit(id=${boardAdmin.boardAdminId})}+'\''" th:text="#{common.btn.modify}"></button>
            <button style="margin-right: 5px;" sec:authorize="hasAuthority('board.admin.delete')" th:if="${boardAdmin?.boardAdminId}" type="button" id="delete" th:disabled="${!boardAdmin.enabled}" th:onclick="restSubmit('DELETE',[[@{/rest/board-admin/{boardAdminId}(boardAdminId=${boardAdmin.boardAdminId})}]])" th:text="#{common.btn.delete}"></button>
        </div>
    </div>
</th:block>
<th:block layout:fragment="pageScript">
    <script th:inline="javascript">
        /*<![CDATA[ */
        const boardAdminCreateDt = document.getElementById('spanCreateDt');
        const boardAdminUpdateDt = document.getElementById('spanUpdateDt');

        window.onload = function() {
            boardAdminCreateDt.textContent = i18n.userDateTime(boardAdminCreateDt.textContent);
            boardAdminUpdateDt.textContent = i18n.userDateTime(boardAdminUpdateDt.textContent);

            // 게시물 삭제 처리 시
            const boardAdminId = /*[[${boardAdmin.boardAdminId}]]*/;
            if (boardAdminId === null) {
                aliceJs.alert(i18n.get('common.msg.delete'));
                return history.go(-1);
            }
        };

        //RESTFUL API
        function restSubmit(method, url, async) {
            const opt = {
                method: method,
                url: url,
                async: async,
                callbackFunc: function() {
                    aliceJs.alert(i18n.get('common.msg.delete'), function() {
                        window.location.href = '/board-admin/search';
                    });
                },
                showProgressbar: false
            };
            aliceJs.sendXhr(opt);
        }
        /* ]]> */
    </script>
</th:block>
</body>
</html>
