<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <input type="hidden" id="totalCount" th:value="${boardAdminCount}"/>
    <table>
        <thead>
        <tr>
            <th style="width: 55%" th:text="#{board.label.name}"></th>
            <th style="width: 10%" th:text="#{board.label.category}"></th>
            <th style="width: 10%" th:text="#{board.label.count}"></th>
            <th style="width: 10%" th:text="#{common.label.writer}"></th>
            <th style="width: 15%" th:text="#{common.label.writeDate}"></th>
        </tr>
        </thead>
        <tbody class="list-body">
        <tr class="no-data-found" th:if="${#arrays.isEmpty(boardAdminList)}">
            <td colspan="5" th:text="#{common.msg.noData}"></td>
        </tr>
        <tr th:each="boardAdmin: ${boardAdminList}">
            <td style="width: 55%" class="align-left">
                <a sec:authorize="!hasAuthority('board.admin.update')" th:text="${boardAdmin.boardAdminTitle}"
                   th:href="@{/board-admin/{id}/view(id=${boardAdmin.boardAdminId})}"></a>
                <a sec:authorize="hasAuthority('board.admin.update')" th:text="${boardAdmin.boardAdminTitle}"
                   th:href="@{/board-admin/{id}/edit(id=${boardAdmin.boardAdminId})}"></a>
            </td>
            <td style="width: 10%" th:if="${boardAdmin.categoryYn} == true">
                <a th:text="#{board.btn.category}"
                   th:attr="onclick=|openCategoryEdit('${boardAdmin.boardAdminId}')|"></a>
            </td>
            <td style="width: 10%" th:if="${boardAdmin.categoryYn} == false"></td>
            <td style="width: 10%" th:text="${boardAdmin.boardBoardCount}"></td>
            <td style="width: 10%" th:text="${boardAdmin.createUserName}"></td>
            <td style="width: 15%" th:name="boardAdminDt" th:text="${boardAdmin.createDt}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>
