<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- bootstrap -->
<link rel="stylesheet" th:href="@{/assets/vendors/bootstrap-4.3.1-dist/css/bootstrap.min.css}" />
<!-- jQuery -->
<script src="../../assets/vendors/jquery-3.4.0/jquery-3.4.0.min.js"></script>
<!-- dateTimePicker -->
<script type="text/javascript" src="../../assets/vendors/bootstrap-datetimepicker/js/moment.js"></script>
<script type="text/javascript" src="../../assets/vendors/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<link rel="stylesheet" th:href="@{/assets/vendors/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css}" />
<link rel="stylesheet" th:href="@{/assets/vendors/bootstrap-datetimepicker/css/font-awesome-4.7.0/css/font-awesome.min.css}" />
<title>역할 정보</title>
</head>
<body>
    <table>
        <tr>
            <td>
                <button type="button" id="btnSearch" name="btnSearch">추가</button>
                <span sec:authentication="name" id="sessionCreateId" name="sessionCreateId"></span>
            </td>
        </tr>
    </table>
    <table border="1" id="roleTable" >
        <tr>
            <colgroup>
                <col width="620px">
            </colgroup>
            <td>
                <a th:each="role : ${roleList}" th:href="'/roles/'+${role.roleId}" th:text="|[ ${role.roleName} ]|" >
            </td>
        </tr>
    </table>
    <table border="1">
        <colgroup>
            <col width="120px">
            <col width="480px">
        </colgroup>
        <tr>
            <th>* 역할 아이디</th>
            <td>
                <input id="txtRoleId" name="txtRoleId" type="text" th:value="${roleDetail[0]?.roleId}"  maxlength="100"/>
            </td>
        </tr>
        <tr>
            <th>* 역할명</th>
            <td>
                <input id="txtRoleName" name="txtRoleName" type="text" th:value="${roleDetail[0]?.roleName}" maxlength="100" />
            </td>
        </tr>
        <tr>
            <th>역할설명</th>
            <td>
                <textarea id="txtRoleDesc" name="txtRoleDesc" maxlength="200" rows="7" style="width: 500px; resize: none;" th:text="${roleDetail[0]?.roleDesc}"/>
            </td>
        </tr>
        <tr>
            <th>권한</th>
            <td>
                <ui th:each="auth : ${authList}">
                    <input type="checkbox" name="roleAuth" th:id="${auth?.authId}" th:value="${auth?.authName}" th:checked="${auth?.authDesc == 'checked'}">
                    <span th:text="${auth?.authName}"></span>
                </ui>
            </td>
        </tr>
        <tr>
            <th>등록자</th>
            <td><span id="spanCreateUserid" name="spanCreateUserid" th:text="${roleDetail[0]?.createUserid}"></span></td>
        </tr>
        <tr>
            <th>등록일시</th>
            <td><span id="spanCreateDt" name="spanCreateDt" th:text="${#temporals.format(roleDetail[0]?.createDt,'yyyy-MM-dd HH:mm:ss')}"></span></td>
        </tr>
        <tr>
            <th>수정자</th>
            <td><span id="spanUpdateUserid" name="spanUpdateUserid" th:text="${roleDetail[0]?.updateUserid}"></span></td>
        </tr>
        <tr>
            <th>수정일시</th>
            <td><span id="spanUpdateDt" name="spanUpdateDt" th:text="${#temporals.format(roleDetail[0]?.updateDt,'yyyy-MM-dd HH:mm:ss')}"></span></td>
        </tr>
    </table>
    <table>
        <tr>
            <td>
                <button type="button" id="btnDelete" name="btnDelete" >삭제</button>
            </td>
            <td>
                <button type="button" id="btnSave" name="btnSave" >저장</button>
            </td>
        </tr>
    </table>
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/    
$(document).ready(function () {
    $('#sessionCreateId').hide();
    if ($('#txtRoleId').val() != null || $('#txtRoleId').val() != ''){
        $("#txtRoleId").attr("readonly",true);
    } 
    /** 추가 버튼  */
    $('#btnSearch').on('click', function () {
        $('#txtRoleId').val('');
        $("#txtRoleId").attr("readonly",false);
        $('#txtRoleName').val('');
        $('#txtRoleDesc').val('');
        $(".roleAuth input").prop('checked', false);
        $('input:checkbox[name="roleAuth"]').each(function() {
            this.checked = false;
        });
        $('#spanCreateUserid').text('');
        $('#spanCreateDt').text('');
        $('#spanUpdateUserid').text('');
        $('#spanUpdateDt').text('');
    });
    
    /** 삭제 버튼  */
    $('#btnDelete').on('click', function () {
        $.ajax({
            url: '/roles/'+$("#txtRoleId").val(),
            type:"DELETE",
            dataType:"text",
            success: function (result) {
            	console.log(result)
                if (result == "true") {
                    alert("삭제 되었습니다.");
                    window.location.href ="/roles/form";
                } else {
                    alert("삭제가 실패되었습니다 .관리자에게 문의 주세요.")
                }
            },
            error: function (request, status, error) {
                alert("관리자에게 문의 주세요.");
                console.log(request);
                console.log(status);
                console.log(error);
            }
        }) ;
    });
    
    /** 저장 버튼  */
    $('#btnSave').on('click', function () {
        if ($('#txtRoleId').val() == "" || $('#txtRoleId').val() == "" ) {
            alert("역할 아이디를 입력하세요.");
            return;
        }
        
        if ($('#txtRoleName').val() == "" || $('#txtRoleName').val() == "" ) {
            alert("역할 명을 입력하세요.");
            return;
        }
        
        //저장 데이터 수집
        var obj = new Object();
        obj.roleId = $('#txtRoleId').val();    //역할 아이디
        obj.roleName = $('#txtRoleName').val();//역할 명
        obj.roleDesc= $('#txtRoleDesc').val(); //역할 설명
        var arrAuthId = new Array();           //역할 권한
        $("input[name=roleAuth]:checked").each(function(index, item) {
            arrAuthId[index] = this.id;
        });
        obj.arrAuthId = arrAuthId;
        obj.createUserId = $('#sessionCreateId').text(); //등록자
        var roleJson = JSON.stringify(obj);
        
        $.ajax({
            url: "/roles/insertRole",
            type:"POST",
            data:roleJson,
            contentType:"application/json;charset=UTF-8",
            dataType:"text",
            success: function (role) {
                if (role != "") {
                    alert("저장 되었습니다.");
                    window.location.href ="/roles/"+role;
                }
            },
            error: function (request, status, error) {
                alert("관리자에게 문의 주세요.");
                console.log(request);
                console.log(status);
                console.log(error);
            }
        }) ;
    });
});
/*]]>*/
</script>
</body>
</html>