<!DOCTYPE html>
<html layout:decorate="~{layout/itsm/pageType/commonEditLayout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{role.label.role}"></title>
</head>
<body>
<div layout:fragment="pageTitle">
    <h1 th:text="#{role.label.role}"></h1>
    <h6 class="description ml-2 pl-2" th:text="#{role.msg.editDescription}"></h6>
</div>
<div layout:fragment="pageEdit">
    <div class="z-edit-form flex-fill">
        <div class="flex-column z-edit-row">
            <h3 class="sub-title under-bar bold" th:text="#{role.menu.common}"></h3>
        </div>
        <div class="flex-row">
            <div class="z-edit-row flex-column col-6 mr-4">
                <label th:classappend="${view} ? '' : 'required'" th:text="#{role.label.id}"></label>
                <input class="z-input" id="txtRoleId" maxlength="100" name="txtRoleId" th:readonly="${view}"
                       th:value="${role?.roleId}" type="text"/>
            </div>
            <div class="z-edit-row flex-column col-6">
                <label th:classappend="${view} ? '' : 'required'" th:text="#{role.label.name}"></label>
                <input class="z-input" id="txtRoleName" maxlength="100" name="txtRoleName" th:readonly="${view}"
                       th:value="${role?.roleName}" type="text"/>
            </div>
        </div>
        <div class="z-edit-row flex-column">
            <label th:text="#{role.label.desc}"></label>
            <textarea class="z-textarea textarea-scroll-wrapper" id="txtRoleDesc" maxlength="200" name="txtRoleDesc"
                      rows="7" th:readonly="${view}" th:classappend="${view} ? 'z-textarea-readonly'" th:text="${role?.roleDesc}"></textarea>
        </div>
        <div class="z-edit-row flex-column">
            <label th:text="#{role.label.referenceCount}"></label>
            <input class="z-input" id="userRoleMapCount" name="userRoleMapCount"
                   readonly th:value="${role?.userRoleMapCount}" type="text"/>
        </div>
        <div class="z-edit-row flex-column">
            <div class="flex-column z-edit-row">
                <h3 class="sub-title under-bar bold" th:text="#{role.menu.auth}"></h3>
            <div class="z-switch-list">
                <ul>
                    <li class="text-ellipsis" th:each="auth : ${authList}">
                        <label class="z-switch" tabindex="0" th:for="${auth?.authId}">
                            <span class="z-label z-label-name" th:text="${auth?.authName}"></span>
                            <span class="z-label" th:text="#{|role.desc.${auth?.authId}|}"></span>
                            <input type="checkbox" th:id="${auth?.authId}" name="roleAuth" th:value="${auth?.authName}"  th:disabled="${view}"
                                   th:checked="${auth?.authDesc == 'checked'}">
                            <span></span>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="flex-row justify-content-between z-edit-row">
        <div class="z-button-list">
            <a class="z-button secondary" href="/roles/search" th:text="#{common.btn.list}"></a>
        </div>
        <div class="z-button-list" th:if="!${view}" sec:authorize="hasAuthority('system.manage')">
            <button type="button" class="z-button primary" id="btnRegist" name="btnRegist"
                    th:if="!${role?.roleId}" th:text="#{common.btn.register}"
                    th:onclick="|javascript:onSave('POST')|"></button>
            <button type="button" class="z-button primary" id="btnUpdate" name="btnUpdate"
                    th:if="${role?.roleId}" th:text="#{common.btn.modify}"
                    th:onclick="|javascript:onSave('PUT')|"
                    ></button>
            <button type="button" class="z-button secondary" id="btnDelete" name="btnDelete"
                    th:if="${role?.roleId}" th:text="#{common.btn.delete}"
                    th:onclick="|javascript:zAlert.confirm(i18n.msg('common.msg.confirmDelete'), onDelete)|"></button>
        </div>
    </div>
</div>
</body>
<script layout:fragment="pageScript" th:inline="javascript" type="text/javascript">
    /*<![CDATA[*/
    window.onload = function () {
        OverlayScrollbars(document.querySelector('.z-page-content'), {className: 'scrollbar'});
        OverlayScrollbars(document.querySelector('.role-content-edit'), {className: 'scrollbar'});
        Array.prototype.forEach.call(document.querySelectorAll('.z-switch-list'), function (target) {
            OverlayScrollbars(target, {className: 'inner-scrollbar'});
        });
        const roleId = document.getElementById('txtRoleId');
        if (roleId && roleId.value) {
            roleId.setAttribute('disabled', '');
            aliceJs.fetchJson('/rest/roles/' + roleId.value, {
                method: 'GET'
            }).then((responseJson) => {
                let arrAuthList = responseJson.arrAuthList;
                Array.prototype.forEach.call(document.querySelectorAll('input[name=roleAuth]'), function (roleAuth) {
                    roleAuth.checked = false;
                    for (let i = 0; i < arrAuthList.length; i++) {
                        if (roleAuth.id === arrAuthList[i].authId) {
                            roleAuth.checked = true;
                        }
                    }
                });
                disabledButton(responseJson.userRoleMapCount);
                Array.prototype.forEach.call(document.querySelectorAll('.z-switch-list'), function (target) {
                    OverlayScrollbars(target, {
                        className: 'inner-scrollbar',
                        callbacks: {
                            onInitialized: function () {
                                const verticalScrollTrack = document.querySelector('.z-switch-list> .os-scrollbar-vertical');
                                verticalScrollTrack.classList.add('right', 'padding');
                            }
                        }
                    });
                });
                OverlayScrollbars(document.querySelector('#txtRoleDesc'), {
                    className: 'scrollbar',
                    resize: 'vertical',
                    sizeAutoCapable: true,
                    textarea: {
                        dynHeight: false,
                        dynWidth: false,
                        inheritedAttrs: "class"
                    }
                });
            });
        }
    }

    /*등록, 수정 버튼*/
    function onSave(flag) {
        if (isEmpty('txtRoleId', 'role.msg.enterRoleId')) return;
        if (isEmpty('txtRoleName', 'role.msg.enterRoleName')) return;

        let roleIds = [];
        let roleNames = [];
        let validList = document.querySelectorAll('td[name=roleName]');
        for (let i = 0; i < validList.length; i++) {
            roleIds.push(validList[i].id);
            roleNames.push(validList[i].textContent);
        }

        if (flag === 'POST') {
            for (let i = 0; i < roleIds.length; i++) {
                if (document.getElementById('txtRoleId').value === roleIds[i]) {
                    zAlert.warning([[#{role.msg.duplicateRoleId}]]);
                    return;
                }
            }
            for (let i = 0; i < roleNames.length; i++) {
                if (document.getElementById('txtRoleName').value === roleNames[i]) {
                    zAlert.warning([[#{role.msg.duplicateRoleName}]]);
                    return;
                }
            }
        }

        //저장 데이터 수집
        let obj = {};
        obj.roleId = document.getElementById('txtRoleId').value;    //역할 아이디
        obj.roleName = document.getElementById('txtRoleName').value;//역할 명
        obj.roleDesc = document.getElementById('txtRoleDesc').value; //역할 설명
        let arrAuthId = [];                                         //역할 권한
        Array.prototype.forEach.call(document.querySelectorAll('input[name=roleAuth]:checked'), function (item) {
            arrAuthId.push(item.id);
        });

        if (arrAuthId.length === 0) {
            zAlert.warning([[#{role.msg.selectAuth}]]);
            return;
        }

        obj.arrAuthId = arrAuthId;
        let strUrl = '/rest/roles';
        if (flag !== 'POST') {
            strUrl += '/' + document.getElementById('txtRoleId').value;
        }
        aliceJs.fetchText(strUrl, {
            method: flag,
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(obj)
        }).then((status) => {
            zAlert.success([[#{common.msg.save}]], function () {
                window.location.href = '/roles/search';
            });
        });
    }

    /** 삭제 버튼  */
    function onDelete() {
        aliceJs.fetchText('/rest/roles/' + encodeURIComponent(document.getElementById('txtRoleId').value), {
            method: 'DELETE'
        }).then((status) => {
            switch (status) {
                case "true":
                    zAlert.success([[#{common.msg.delete}]], function () {
                        window.location.href = '/roles/search';
                    });
                    break;
                case "false":
                    zAlert.danger(i18n.msg('common.label.delete') + i18n.msg('common.label.blank') + i18n.msg('common.msg.fail'));
                    break;
                default :
                    zAlert.danger([[#{common.msg.fail}]]);
                    break;
            }
        });
    }

    /** 삭제 버튼 활성, 비활성화 */
    function disabledButton(count) {
        let btn = document.getElementById('btnDelete');
        if (count !== 0) {
            btn.disabled = 'disabled';
        } else {
            btn.disabled = false;
        }
    }

    /*]]>*/
</script>
</html>
