<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="../../assets/vendors/jquery-3.4.0/jquery-3.4.0.min.js"></script>
<title>Insert title here</title>
</head>
<script>
function search(){
	//$('#form_search').submit(); test
}
</script>
<body>
<table>
	<tr>
		<td>
			<button type="button" id="btnSearch" name="btnSearch" onclick="search();">추가</button>
		</td>
	</tr>
</table>
<table>
	<tr th:each="role : ${roleList}">
		<td id="noticeTitle" th:text="${role.roleName}" style="text-align: left"></td>
	</tr>
</table>

</body>
</html>