<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<table class="table">
    <thead class="table__head">
        <tr class="flex-row align-items-center">
            <th style="width:25%;" class="align-left" th:text="#{role.label.name}"></th>
            <th style="width:25%;" class="align-left" th:text="#{role.label.id}"></th>
            <th style="width:50%;" class="align-left" th:text="#{role.label.desc}"></th>
        </tr>
    </thead>
    <tbody class="table__body">
    <tr class="flex-row align-items-center no-data-found-list" th:if="${#arrays.isEmpty(roleList)}">
        <td style="width:100%" colspan="3" class="align-center" th:text="#{common.msg.noData}"></td>
    </tr>
        <tr class="flex-row align-items-center" th:each="role : ${roleList}">
            <td style="width:25%;" class="align-left underline">
                <!-- 시스템 관리자 역할을 가진 사용자는 최소 1명은 유지되어야 하기 때문에, 해당 역할을 수정 할 수 없다. -->
                <a th:if="(${#authorization.expression('!hasAuthority(''system.manage'')')}) or (${role.roleId == 'system.admin'})" th:text="${role.roleName}"
                   th:href="@{/roles/{id}/view(id=${role.roleId})}" th:title="${role.roleName}">
                </a>
                <a th:if="(${#authorization.expression('hasAuthority(''system.manage'')')}) and (${role.roleId != 'system.admin'})"
                   th:text="${role.roleName}"
                   th:href="@{/roles/{id}/edit(id=${role.roleId})}" th:title="${role.roleName}"></a>
            </td>
            <td style="width:25%;" class="align-left" id="roleId" name="roleId" th:text="${role.roleId}" th:title="${role.roleId}"></td>
            <td style="width:50%;" class="align-left" id="roleDesc" name="roleDesc" th:text="${role.roleDesc}" th:title="${role.roleDesc}"></td>
        </tr>
    </tbody>
</table>
<th:block th:insert="layout/itsm/fragment/totalCountFragment :: totalCountDataFragment"></th:block>
</body>
</html>
