<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/itsm/pageType/commonViewLayout}">
<head>
    <title th:text="#{role.label.role}"></title>
</head>
<body>
<div layout:fragment="pageTitle">
    <h1 th:text="#{role.label.role}"></h1>
    <h6 class="description ml-2" th:text="#{role.msg.editDescription}"></h6>
</div>
<div layout:fragment="pageView">
    <div class="z-view-row flex-column">
        <label th:text="#{role.label.id}" class="required"></label>
        <input type="text" class="z-input" id="txtRoleId" name="txtRoleId" th:value="${role?.roleId}" disabled>
    </div>
    <div class="z-view-row flex-column">
        <label th:text="#{role.label.name}" class="required"></label>
        <input type="text" class="z-input" id="txtRoleName" name="txtRoleName" th:value="${role?.roleName}" disabled>
    </div>
    <div class="z-view-row flex-column">
        <label th:text="#{role.label.desc}"></label>
        <textarea id="txtRoleDesc" name="txtRoleDesc" maxlength="200" rows="7"
                  class="z-textarea textarea-scroll-wrapper" th:text="${role?.roleDesc}" disabled></textarea>
    </div>
    <div class="z-view-row flex-column">
        <label th:text="#{role.label.auth}"></label>
        <div class="z-checkbox-list">
            <ul>
                <li class="text-ellipsis" th:each="auth : ${authList}">
                    <label class="z-checkbox" th:for="${auth?.authId}" tabindex="0">
                        <input type="checkbox" name="roleAuth" th:id="${auth?.authId}" th:value="${auth?.authName}"
                               th:checked="${auth?.authDesc == 'checked'}" disabled>
                        <span></span>
                        <span class="z-label" th:text="${auth?.authName}"></span>
                    </label>
                </li>
            </ul>
        </div>
    </div>
    <div class="z-view-row flex-column">
        <label th:text="#{common.label.createUser}"></label>
        <input type="text" class="z-input" id="spanCreateUserKey" name="spanCreateUserKey" th:value="${role?.createUserName}" disabled>
    </div>
    <div class="z-view-row flex-column">
        <label th:text="#{common.label.createDate}"></label>
        <input type="text" class="z-input" id="spanCreateDt" name="spanCreateDt" th:value="${role?.createDt}" disabled>
    </div>
    <div class="z-view-row flex-column">
        <label th:text="#{common.label.updateUser}"></label>
        <input type="text" class="z-input" id="spanUpdateUserKey" name="spanUpdateUserKey"
               th:value="${role?.updateUserName}" disabled>
    </div>
    <div class="z-view-row flex-column">
        <label th:text="#{common.label.updateDate}"></label>
        <input type="text" class="z-input" id="spanUpdateDt" name="spanUpdateDt" th:value="${role?.updateDt}"
               disabled>
    </div>
    <div class="z-view-row flex-column">
        <label th:text="#{role.label.referenceCount}"></label>
        <input type="text" class="z-input" id="userRoleMapCount" name="userRoleMapCount"
               th:value="${role?.userRoleMapCount}" disabled>
    </div>
    <div class="flex-row justify-content-start z-view-row">
        <div class="z-button-list">
            <a class="z-button secondary" href="/roles/search" th:text="#{common.btn.list}"></a>
        </div>
    </div>
</div>
</body>
<script layout:fragment="pageScript" type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    window.onload = function () {
        OverlayScrollbars(document.querySelector('.z-page-content'), {className: 'scrollbar'});
        OverlayScrollbars(document.querySelector('.role-content-edit'), {className: 'scrollbar'});
        Array.prototype.forEach.call(document.querySelectorAll('.z-checkbox-list'), function (target) {
            OverlayScrollbars(target, {className: 'inner-scrollbar'});
        });

        if (document.getElementById('txtRoleId').value) {
            document.getElementById('txtRoleId').setAttribute('disabled', '');
            const opt = {
                method: 'get',
                url: '/rest/roles/' + document.getElementById('txtRoleId').value,
                showProgressbar: false,
                callbackFunc: function (response) {
                    let responseJson = JSON.parse(response.responseText);
                    let arrAuthList = responseJson.arrAuthList;
                    Array.prototype.forEach.call(document.querySelectorAll('input[name=roleAuth]'), function (roleAuth) {
                        roleAuth.checked = false;
                        for (let i = 0; i < arrAuthList.length; i++) {
                            if (roleAuth.id === arrAuthList[i].authId) {
                                roleAuth.checked = true;
                            }
                        }
                    });
                    Array.prototype.forEach.call(document.querySelectorAll('.z-checkbox-list'), function (target) {
                        OverlayScrollbars(target, {
                            className: 'inner-scrollbar',
                            callbacks: {
                                onInitialized: function () {
                                    const verticalScrollTrack = document.querySelector('.z-checkbox-list> .os-scrollbar-vertical');
                                    verticalScrollTrack.classList.add('right', 'padding');
                                }
                            }
                        });
                    });
                    OverlayScrollbars(document.querySelector('#txtRoleDesc'), {
                        className: 'scrollbar',
                        textarea: {
                            dynHeight: false,
                            dynWidth: false,
                            inheritedAttrs: "class"
                        }
                    });
                    document.getElementById('spanCreateDt').value = i18n.userDateTime(document.getElementById('spanCreateDt').value)
                    document.getElementById('spanUpdateDt').value = i18n.userDateTime(document.getElementById('spanUpdateDt').value)
                },
            };
            aliceJs.sendXhr(opt);
        }
    }
    /*]]>*/
</script>
</html>
