<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layout/defaultLayout">
<head>
    <title>역할 정보</title>
</head>
<body>
<th:block layout:fragment="content">
    <table>
        <tr>
            <td>
                <button sec:authorize="hasAuthority('role.create')" type="button" id="btnSearch" name="btnSearch" 
                 th:onclick="|javascript:onSearch()|" th:text="#{common.btn.add}">추가</button>
            </td>
        </tr>
    </table>
    <table border="1" id="roleTable">
        <colgroup>
            <col width="620px">
        </colgroup>
        <tr>
            <td>
                <a name="alink" th:each="role : ${roleList}" th:text="|[${role.roleName}]|" th:id="${role.roleId}" ></a>
            </td>
        </tr>
    </table>
    <table border="1">
        <colgroup>
            <col width="120px">
            <col width="480px">
        </colgroup>
        <tr>
            <th th:text="'*' + #{role.label.roleId}"></th>
            <td>
                <input id="txtRoleId" name="txtRoleId" type="text" th:value="${roleDetail?.roleId}"  maxlength="100"/>
            </td>
        </tr>
        <tr>
            <th th:text="'*' + #{role.label.roleName}"></th>
            <td>
                <input id="txtRoleName" name="txtRoleName" type="text" th:value="${roleDetail?.roleName}" maxlength="100" />
            </td>
        </tr>
        <tr>
            <th th:text="#{role.label.roleDesc}"></th>
            <td>
                <textarea id="txtRoleDesc" name="txtRoleDesc" maxlength="200" rows="7" style="width: 500px; resize: none;" th:text="${roleDetail?.roleDesc}"/>
            </td>
        </tr>
        <tr>
            <th th:text="'*' + #{role.label.roleAuth}"></th>
            <td>
                <ui th:each="auth : ${authList}">
                    <input type="checkbox" name="roleAuth" th:id="${auth?.authId}" th:value="${auth?.authName}" th:checked="${auth?.authDesc == 'checked'}">
                    <span th:text="${auth?.authName}"></span>
                </ui>
            </td>
        </tr>
        <tr>
            <th th:text="#{common.label.createUserName}"></th>
            <td><span id="spanCreateUserKey" name="spanCreateUserKey" th:text="${roleDetail?.createUserKey}"></span></td>
        </tr>
        <tr>
            <th th:text="#{common.label.createDate}"></th>
            <td><span id="spanCreateDt" name="spanCreateDt" th:with="dateformat=${#authentication.details.timeFormat}"  th:text="${#temporals.format(roleDetail?.createDt,dateformat)}"></span></td>
        </tr>
        <tr>
            <th th:text="#{common.label.updateUserName}"></th>
            <td><span id="spanUpdateUserKey" name="spanUpdateUserKey" th:text="${roleDetail?.updateUserKey}"></span></td>
        </tr>
        <tr>
            <th th:text="#{common.label.updateDate}"></th>
            <td><span id="spanUpdateDt" name="spanUpdateDt" th:with="dateformat=${#authentication.details.timeFormat}"  th:text="${#temporals.format(roleDetail?.updateDt,dateformat)}"></span></td>
        </tr>
    </table>
    <table>
        <tr>
            <td>
                <button sec:authorize="hasAuthority('role.delete')" type="button" id="btnDelete" name="btnDelete" 
                 th:onclick="|javascript:onDelete()|" th:text="#{common.btn.delete}"></button>
            </td>
            <td>
                <button sec:authorize="hasAuthority('role.update')" type="button" id="btnUpdate" name="btnUpdate" 
                 th:onclick="|javascript:onSave('put')|" th:text="#{common.btn.modify}"></button>
            </td>
            <td>
                <button sec:authorize="hasAuthority('role.create')" type="button" id="btnRegist" name="btnRegist" 
                 th:onclick="|javascript:onSave('post')|" th:text="#{common.btn.save}"></button>
            </td>
        </tr>
    </table>
</th:block>
</body>
<th:block layout:fragment="pageScript">
    <script th:src="@{/assets/js/util/validation-alice.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        var AUTH_DELETE = false;
        var AUTH_CRAETE = false;
        var AUTH_UPDATE = false;

        window.onload = function() {
            if (document.getElementById('btnUpdate') !== null) {
                AUTH_UPDATE = true;
            }

            if (document.getElementById('btnRegist') !== null) {
                AUTH_CRAETE = true;
            }

            if (document.getElementById('btnDelete') !== null) {
                AUTH_DELETE = true;
            }

            if (document.getElementById('txtRoleId').value !== null && document.getElementById('txtRoleId').value !== '') {
                document.getElementById('txtRoleId').setAttribute('readonly','true');
                if (AUTH_UPDATE) {
                    document.getElementById('btnUpdate').style.display = 'block';
                }
                if (AUTH_CRAETE) {
                    document.getElementById('btnRegist').style.display = 'none';
                }
            } else {
                var first = document.querySelector('a[name=alink]');
                onGetDetail(first.getAttribute('id'));
                if (AUTH_UPDATE) {
                    document.getElementById('btnUpdate').style.display = 'block';
                }
                if (AUTH_CRAETE) {
                    document.getElementById('btnRegist').style.display = 'none';
                }
            }

            var roleList = document.querySelectorAll('a[name=alink]');
            for(var i = 0; i < roleList.length; i++) {
                roleList[i].addEventListener('click', function(){
                    if (AUTH_UPDATE) {
                        document.getElementById('btnUpdate').style.display = 'block';
                    }
                    if (AUTH_CRAETE) {
                        document.getElementById('btnRegist').style.display = 'none';
                    }
                    onGetDetail(this.id);
                });
            }

            function onGetDetail(roldId) {
                const opt = {
                    method: 'get',
                    url: '/rest/roles/' +  roldId,
                    callbackFunc: function(response) {
                        var responseJson = JSON.parse(response.responseText);
                        document.getElementById('txtRoleId').value = responseJson.roleId;
                        document.getElementById('txtRoleName').value = responseJson.roleName;
                        document.getElementById('txtRoleDesc').value = responseJson.roleDesc;
                        var arrAuthList = responseJson.arrAuthList;

                        Array.prototype.forEach.call(document.querySelectorAll('input[name=roleAuth]'), function(roleAuth) {
                            roleAuth.checked = false;
                            for (var i = 0; i<arrAuthList.length; i++) {
                                if (roleAuth.id == arrAuthList[i].authId) {
                                    roleAuth.checked = true;
                                }
                            }
                        });
                        document.getElementById('spanCreateUserKey').innerHTML = responseJson.createUserName;
                        document.getElementById('spanCreateDt').innerHTML = responseJson.createDt;
                        document.getElementById('spanUpdateUserKey').innerHTML = responseJson.updateUserName;
                        document.getElementById('spanUpdateDt').innerHTML = responseJson.updateDt;
                        document.getElementById('txtRoleId').setAttribute('readonly','true');
                    },
                };
                aliceJs.sendXhr(opt);
            }
        }

        /*추가 버튼 */
        function onSearch() {
            document.getElementById('txtRoleId').value = '';
            document.getElementById('txtRoleId').removeAttribute('readonly');
            document.getElementById('txtRoleName').value = '';
            document.getElementById('txtRoleDesc').value = '';
            var roleAuths = document.getElementsByName('roleAuth');
            for(var i = 0; i < roleAuths.length; i++) {
                roleAuths[i].checked = false;
            }

            document.getElementById('spanCreateUserKey').innerHTML = '';
            document.getElementById('spanCreateDt').innerHTML = '';
            document.getElementById('spanUpdateUserKey').innerHTML = '';
            document.getElementById('spanUpdateDt').innerHTML = '';
            if (AUTH_UPDATE) {
                document.getElementById('btnUpdate').style.display = 'none';
            }
            if (AUTH_CRAETE) {
                document.getElementById('btnRegist').style.display = 'block';
            }
        }

        /*등록, 수정 버튼*/
        function onSave(flag) {
            if (isEmpty('txtRoleId', 'role.msg.idNotExist')) return;
            if (isEmpty('txtRoleName', 'role.msg.nameNotExist')) return;

            //저장 데이터 수집
            var obj = new Object();
            obj.roleId = document.getElementById('txtRoleId').value;    //역할 아이디
            obj.roleName = document.getElementById('txtRoleName').value;//역할 명
            obj.roleDesc= document.getElementById('txtRoleDesc').value; //역할 설명
            var arrAuthId = new Array();                                //역할 권한
            Array.prototype.forEach.call(document.querySelectorAll('input[name=roleAuth]:checked'), function(item) {
                arrAuthId.push(item.id);
            });

            if (arrAuthId.length === 0) {
                alert([[#{role.msg.authNotExist}]]);
                return;
            }

            obj.arrAuthId = arrAuthId;
            if (flag === 'post') {
                strUrl = '/rest/roles';
            } else {
                strUrl = '/rest/roles/'+ document.getElementById('txtRoleId').value;
            }
            var roleJson = JSON.stringify(obj);

            const opt = {
                method: flag,
                url: strUrl,
                params: roleJson,
                contentType: 'application/json',
                callbackFunc: function () {
                    alert([[#{common.msg.save}]]);
                    window.location.href ='/roles/edit';
                }
            };
            aliceJs.sendXhr(opt);
        }

        /** 삭제 버튼  */
        function onDelete() {
            const opt = {
                    method: 'delete',
                    url: '/rest/roles/' + document.getElementById('txtRoleId').value,
                    callbackFunc: function() {
                        alert([[#{common.msg.delete.success}]]);
                        window.location.href ='/roles/edit';
                    }
                  }
            aliceJs.sendXhr(opt);
        }
        /*]]>*/
    </script>
</th:block>
</html>
