<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layout/defaultLayout">
<head>
    <title>역할 정보</title>
</head>
<body>
<p th:text="${#temporals.formatISO(timestamp)}"></p>
<th:block layout:fragment="content">
    <div class="contents-list-edit">
        <div class="list-area">
            <div class="page-title">
                <h1 th:text="#{role.label.manage}"></h1>
                <h6 class="title-description" th:text="#{role.msg.description}"></h6>
            </div>
            <div class="search-area">
                <div class="right">
                    <button class="default-fill" sec:authorize="hasAuthority('role.create')" type="button" id="btnSearch" name="btnSearch"
                            th:onclick="|javascript:onSearch()|" th:text="#{common.btn.add}">추가</button>
                </div>
            </div>
            <div class="list">
                <table>
                    <thead>
                    <tr>
                        <th width="25%" th:text="#{role.label.name}"></th>
                        <th width="25%" th:text="#{role.label.id}"></th>
                        <th width="50%" th:text="#{role.label.desc}"></th>
                    </tr>
                    </thead>
                    <tbody class="list-body">
                    <tr th:each="role : ${roleList}">
                        <td width="25%" id="roleName" name="roleName" th:text="${role.roleName}" th:id="${role.roleId}" style="cursor: pointer;"></td>
                        <td width="25%" id="roleId" name="roleId" th:text="${role.roleId}"></td>
                        <td width="50%" id="roleDesc" name="roleDesc" th:text="${role.roleDesc}" class="align-left"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="edit-area">
            <div class="scroll-wrap">
                <div class="form-wrap">
                    <div class="form-set">
                        <label th:text="#{role.label.id}" class="required"></label>
                        <input id="txtRoleId" name="txtRoleId" type="text" maxlength="100"/>
                    </div>
                    <div class="form-set">
                        <label th:text="#{role.label.name}" class="required"></label>
                        <input id="txtRoleName" name="txtRoleName" type="text" maxlength="100" />
                    </div>
                    <div class="form-set">
                        <label th:text="#{role.label.desc}"></label>
                        <textarea id="txtRoleDesc" name="txtRoleDesc" maxlength="200" rows="7" class="textarea-scroll-wrapper"></textarea>
                    </div>
                    <div class="form-set">
                        <label th:text="'*' + #{role.label.auth}"></label>
                        <div class="checkbox-list">
                            <ul>
                                <li th:each="auth : ${authList}">
                                    <input type="checkbox" name="roleAuth" th:id="${auth?.authId}" th:value="${auth?.authName}" th:checked="${auth?.authDesc == 'checked'}">
                                    <span th:text="${auth?.authName}"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-set">
                        <label th:text="#{common.label.createUser}"></label>
                        <input id="spanCreateUserKey" name="spanCreateUserKey" disabled />
                    </div>
                    <div class="form-set">
                        <label th:text="#{common.label.createDate}"></label>
                        <input id="spanCreateDt" name="spanCreateDt" disabled />
                    </div>
                    <div class="form-set">
                        <label th:text="#{common.label.updateUser}"></label>
                        <input id="spanUpdateUserKey" name="spanUpdateUserKey" disabled />
                    </div>
                    <div class="form-set">
                        <label th:text="#{common.label.updateDate}"></label>
                        <input id="spanUpdateDt" name="spanUpdateDt" disabled />
                    </div>
                    <div class="form-set">
                        <label th:text="#{role.label.referenceCount}"></label>
                        <input id="userRoleMapCount" name="userRoleMapCount" disabled />
                    </div>
                </div>
            </div>
            <div class="btn-bar">
                <button class="point-fill" sec:authorize="hasAuthority('role.delete')" type="button" id="btnDelete" name="btnDelete"
                        th:onclick="|javascript:onDelete()|" th:text="#{common.btn.delete}"></button>
                <button class="point-fill" sec:authorize="hasAuthority('role.update')" type="button" id="btnUpdate" name="btnUpdate"
                        th:onclick="|javascript:onSave('put')|" th:text="#{common.btn.update}"></button>
                <button class="point-fill" sec:authorize="hasAuthority('role.create')" type="button" id="btnRegist" name="btnRegist"
                        th:onclick="|javascript:onSave('post')|" th:text="#{common.btn.save}"></button>
            </div>
        </div>
    </div>
</th:block>
</body>
<th:block layout:fragment="pageScript">
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        let AUTH_DELETE = false;
        let AUTH_CREATE = false;
        let AUTH_UPDATE = false;

        window.onload = function() {
            if (document.getElementById('btnUpdate') !== null) {
                AUTH_UPDATE = true;
            }

            if (document.getElementById('btnRegist') !== null) {
                AUTH_CREATE = true;
            }

            if (document.getElementById('btnDelete') !== null) {
                AUTH_DELETE = true;
            }

            if (document.getElementById('txtRoleId').value !== null && document.getElementById('txtRoleId').value !== '') {
                document.getElementById('txtRoleId').setAttribute('disabled','');
                if (AUTH_UPDATE) {
                    document.getElementById('btnUpdate').style.display = 'block';
                }
                if (AUTH_CREATE) {
                    document.getElementById('btnRegist').style.display = 'none';
                }
            } else {
                if (AUTH_UPDATE) {
                    document.getElementById('btnUpdate').style.display = 'block';
                }
                if (AUTH_CREATE) {
                    document.getElementById('btnRegist').style.display = 'none';
                }
            }

            let roleList = document.querySelectorAll('td[name=roleName]');
            roleList[0].parentElement.classList.add('active');
            onGetDetail(roleList[0].id);

            for(let i = 0; i < roleList.length; i++) {
                roleList[i].addEventListener('click', function(){
                    let activeTr = document.querySelector('tr.active');
                    if (activeTr !== null) {
                        activeTr.classList.remove('active');
                    }
                    this.parentElement.classList.add('active');
                    if (AUTH_UPDATE) {
                        document.getElementById('btnUpdate').style.display = 'block';
                    }
                    if (AUTH_CREATE) {
                        document.getElementById('btnRegist').style.display = 'none';
                    }
                    onGetDetail(this.id);
                });
            }
            OverlayScrollbars(document.querySelector('.list-body'), { className: 'scrollbar' });
            OverlayScrollbars(document.querySelector('.scroll-wrap'), { className: 'scrollbar' });
            Array.prototype.forEach.call(document.querySelectorAll('.checkbox-list'), function(target) {
                OverlayScrollbars(target, { className: 'scrollbar' });
            });
        }

        function onGetDetail(roldId) {
            const opt = {
                method: 'get',
                url: '/rest/roles/' +  roldId,
                callbackFunc: function(response) {
                    let responseJson = JSON.parse(response.responseText);
                    document.getElementById('txtRoleId').value = responseJson.roleId;
                    document.getElementById('txtRoleName').value = responseJson.roleName;
                    document.getElementById('txtRoleDesc').value = responseJson.roleDesc;
                    let arrAuthList = responseJson.arrAuthList;

                    Array.prototype.forEach.call(document.querySelectorAll('input[name=roleAuth]'), function(roleAuth) {
                        roleAuth.checked = false;
                        for (let i = 0; i<arrAuthList.length; i++) {
                            if (roleAuth.id == arrAuthList[i].authId) {
                                roleAuth.checked = true;
                            }
                        }
                    });
                    document.getElementById('spanCreateUserKey').value = responseJson.createUserName;
                    document.getElementById('spanCreateDt').value = i18n.userDateTime(responseJson.createDt);
                    document.getElementById('spanUpdateUserKey').value = responseJson.updateUserName;
                    document.getElementById('spanUpdateDt').value = i18n.userDateTime(responseJson.updateDt);
                    document.getElementById('txtRoleId').setAttribute('disabled','');
                    document.getElementById('userRoleMapCount').value = responseJson.userRoleMapCount;
                    if (AUTH_DELETE) {
                        disabledButton(responseJson.userRoleMapCount);
                    }
                },
            };
            aliceJs.sendXhr(opt);
            OverlayScrollbars(document.querySelector('.scroll-wrap'), { className: 'scrollbar' });
            Array.prototype.forEach.call(document.querySelectorAll('.checkbox-list'), function(target) {
                OverlayScrollbars(target, { className: 'scrollbar' });
            });
            OverlayScrollbars(document.querySelector('#txtRoleDesc'), {
                className: 'scrollbar',
                resize: 'vertical',
                sizeAutoCapable: true,
                textarea: {
                    dynHeight: false,
                    dynWidth: false,
                    inheritedAttrs: "class"
                }
            });
        }

        /*추가 버튼 */
        function onSearch() {
            document.getElementById('txtRoleId').value = '';
            document.getElementById('txtRoleId').removeAttribute('disabled');
            document.getElementById('txtRoleName').value = '';
            document.getElementById('txtRoleDesc').value = '';
            let roleAuths = document.getElementsByName('roleAuth');
            for(let i = 0; i < roleAuths.length; i++) {
                roleAuths[i].checked = false;
            }

            document.getElementById('spanCreateUserKey').value = '';
            document.getElementById('spanCreateDt').value = '';
            document.getElementById('spanUpdateUserKey').value = '';
            document.getElementById('spanUpdateDt').value = '';
            document.getElementById('userRoleMapCount').value = '';
            if (AUTH_UPDATE) {
                document.getElementById('btnUpdate').style.display = 'none';
            }
            if (AUTH_CREATE) {
                document.getElementById('btnRegist').style.display = 'block';
            }
            if (AUTH_DELETE) {
                document.getElementById('btnDelete').style.display = 'none';
            }
        }

        /*등록, 수정 버튼*/
        function onSave(flag) {
            if (isEmpty('txtRoleId', 'role.msg.enterRoleId')) return;
            if (isEmpty('txtRoleName', 'role.msg.enterRoleName')) return;

            //저장 데이터 수집
            let obj = {};
            obj.roleId = document.getElementById('txtRoleId').value;    //역할 아이디
            obj.roleName = document.getElementById('txtRoleName').value;//역할 명
            obj.roleDesc= document.getElementById('txtRoleDesc').value; //역할 설명
            let arrAuthId = [];                                         //역할 권한
            Array.prototype.forEach.call(document.querySelectorAll('input[name=roleAuth]:checked'), function(item) {
                arrAuthId.push(item.id);
            });

            if (arrAuthId.length === 0) {
                aliceJs.alert([[#{role.msg.selectAuth}]]);
                return;
            }

            obj.arrAuthId = arrAuthId;
            if (flag === 'post') {
                strUrl = '/rest/roles';
            } else {
                strUrl = '/rest/roles/'+ document.getElementById('txtRoleId').value;
            }
            let roleJson = JSON.stringify(obj);

            const opt = {
                method: flag,
                url: strUrl,
                params: roleJson,
                contentType: 'application/json',
                callbackFunc: function () {
                    aliceJs.alert([[#{common.msg.save}]], function() {
                        window.location.href ='/roles/edit';
                    });
                }
            };
            aliceJs.sendXhr(opt);
        }

        /** 삭제 버튼  */
        function onDelete() {
            const opt = {
                    method: 'delete',
                    url: '/rest/roles/' + document.getElementById('txtRoleId').value,
                    callbackFunc: function(response) {
                        switch (response.responseText) {
                            case "true":
                                aliceJs.alert([[#{common.msg.delete}]], function() {
                                    window.location.href ='/roles/edit';
                                });
                                break;
                            case "false":
                                aliceJs.alert(i18n.get('common.label.delete') + i18n.get('common.label.blank') + i18n.get('common.msg.fail'));
                                break;
                            default :
                                aliceJs.alert([[#{common.msg.fail}]]);
                                break;
                        }
                    }
            };
            aliceJs.sendXhr(opt);
        }

        /** 삭제 버튼 활성, 비활성화 */
        function disabledButton(count) {
            let btn = document.getElementById('btnDelete');
            if (count !== 0) {
                btn.disabled = 'disabled';
            } else {
                btn.disabled = false;
            }
        }
        /*]]>*/
    </script>
</th:block>
</html>
