@charset 'utf-8';
@import url("reset.css");

.topMenu {background-color:#224abc;font-size:15px;color:#ffffff;padding:0px 0px 0px 250px;line-height:40px;}

.subMenu {background-color:#f3f1f1;position:fixed;top:40px;font-size:15px;color:#3a3a3a;height:100%; width:240px;}

.contents {margin:20px 0px 0px 260px;}

table.list {
  width: 80%;
  border-top:2px solid #41464f;
  border-spacing: 0;
  border-collapse: collapse;
  margin-top: 10px;
  word-break:break-all;
}

table.list > thead > tr > th,
table.list > tbody > tr > th,
table.list > tr > th {
  background: #e9e9e9;
  border-bottom: 1px solid #dbdbdb;
  font-weight: bold;
  white-space: nowrap;
  padding:5px 10px 5px 10px;
  vertical-align: middle;
}

table.list > tbody > tr > td,
table.list > tr > td {
  color: #686868;
  border-bottom: 1px solid #dbdbdb;
  vertical-align: middle;
  padding:5px 10px;
  word-break:break-all;
  text-align:center;
}