<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/itsm/pageType/commonEditLayout}">
<head>
    <title th:text="#{sla.metric.label.metricPool}"></title>
</head>
<body>
<div layout:fragment="pageTitle">
    <h1 th:text="#{sla.metric.label.metricPool}"></h1>
    <h6 class="description ml-2 pl-2"
        th:text="${view} ? #{sla.metric.msg.viewDescription} : #{sla.metric.msg.description}"></h6>
</div>
<div layout:fragment="pageEdit">
    <div class="z-edit-form flex-fill">
        <form id="frm" method="post">
            <input type="hidden" id="metricId" name="metricId" th:value="${metricId}"/>
            <div class="flex-column">
                <div class="flex-column z-edit-row">
                    <label th:text="#{sla.metric.label.name}" for="metricName" class="required"></label>
                    <input type="text" id="metricName" name="metricName" class="z-input" maxlength="128"
                           th:value="${metric?.metricName}" th:readonly="${view}"/>
                </div>
            </div>
            <div class="flex-column">
                <label th:text="#{sla.metric.label.description}" for="metricDesc" class="required"></label>
                <input type="text" id="metricDesc" name="metricDesc" class="z-input" maxlength="128"
                       th:value="${metric?.metricDesc}" th:readonly="${view}"/>
            </div>
            <div class="z-edit-row flex-row">
                <div class="flex-column col-4">
                    <label for="metricGroup">
                        <span th:classappend="${view} ? '' : 'required'" th:text="#{sla.metric.label.group}"></span>
                    </label>
                    <select id="metricGroup" th:classappend="${view} ? 'readonly' : ''">
                        <option th:text="#{sla.metric.label.selectMetricGroup}" value="" selected></option>
                        <option th:each="metricGroup: ${metricGroupList}" th:text="${metricGroup.codeName}" th:value="${metricGroup.code}"
                                th:selected="${metric?.metricGroup} == ${metricGroup.code}"></option>
                    </select>
                </div>
                <!-- 등록 페이지 -->
                <th:block th:if="!${view || edit}">
                    <div class="flex-column col-2 pl-2">
                        <label for="metricType">
                            <span th:classappend="${view} ? '' : 'required'" th:text="#{sla.metric.label.type}"></span>
                        </label>
                        <select id="metricType">
                            <option th:text="#{sla.metric.label.selectMetricType}" value="" selected></option>
                            <option th:each="metricType: ${metricTypeList}" th:text="${metricType.codeName}" th:value="${metricType.code}"></option>
                        </select>
                    </div>
                    <div class="flex-column col-2 pl-2">
                        <label for="metricUnit">
                            <span th:classappend="${view} ? '' : 'required'" th:text="#{sla.metric.label.unit}"></span>
                        </label>
                        <select id="metricUnit">
                            <option th:text="#{sla.metric.label.selectMetricUnit}" value="" selected></option>
                            <option th:each="metricUnit: ${metricUnitList}" th:text="${metricUnit.codeName}" th:value="${metricUnit.code}"></option>
                        </select>
                    </div>
                    <div class="flex-column col-2 pl-2">
                        <label for="calculationType">
                            <span th:classappend="${view} ? '' : 'required'" th:text="#{common.label.calculationType}"></span>
                        </label>
                        <select id="calculationType">
                            <option th:text="#{sla.metric.label.selectMetricCalcType}" value="" selected></option>
                            <option th:each="calculationType: ${metricCalcTypeList}" th:text="${calculationType.codeName}" th:value="${calculationType.code}"></option>
                        </select>
                    </div>
                </th:block>

                <!-- 편집, 조회 페이지 -->
                <th:block th:if="${view || edit}">
                    <div class="flex-column col-2 pl-2">
                        <label for="metricTypeInput">
                            <span th:classappend="${view} ? '' : 'required'" th:text="#{sla.metric.label.type}"></span>
                        </label>
                        <input type="text" id="metricTypeInput" name="metricTypeInput" class="z-input" maxlength="128"
                               th:value="#{|${metric.metricType}|}" readonly/>
                    </div>
                    <div class="flex-column col-2 pl-2">
                        <label for="metricUnitInput">
                            <span th:classappend="${view} ? '' : 'required'" th:text="#{sla.metric.label.unit}"></span>
                        </label>
                        <input type="text" id="metricUnitInput" name="metricUnitInput" class="z-input" maxlength="128"
                               th:value="#{|${metric.metricUnit}|}" readonly/>
                    </div>
                    <div class="flex-column col-2 pl-2">
                        <label for="calculationTypeInput">
                            <span th:classappend="${view} ? '' : 'required'" th:text="#{common.label.calculationType}"></span>
                        </label>
                        <input type="text" id="calculationTypeInput" name="calculationTypeInput" class="z-input" maxlength="128"
                               th:value="#{|${metric.calculationType}|}" readonly/>
                    </div>
                </th:block>
            </div>
            <div class="flex-row justify-content-between z-edit-row">
                <div class="z-button-list">
                    <a class="z-button secondary" href="/sla/metric-pools/search" th:text="#{common.btn.list}"></a>
                </div>
                <div class="z-button-list" sec:authorize="hasAuthority('sla.manage')">
                    <button th:if="!${metric?.metricId}" type="button" id="insert"
                             class="z-button primary" onclick="saveSLA('POST')" th:text="#{common.btn.register}">
                    </button>
                    <button th:if="${metric?.metricId}" type="button" id="update"
                            class="z-button primary" onclick="saveSLA('PUT')" th:text="#{common.btn.modify}">
                    </button>
                    <button th:if="${metric?.metricId}" type="button" id="delete"
                            class="z-button danger" onclick="deleteSLA()" th:text="#{common.btn.delete}">
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
<script layout:fragment="pageScript" type="text/javascript" th:inline="javascript">
    /*<![CDATA[ */
    window.onload = function() {
        document.getElementById('metricName').focus();
        OverlayScrollbars(document.querySelectorAll('.z-page-content'), { className: 'scrollbar' });
    }

    function saveSLA(method) {
        if (isEmpty('metricName', 'sla.metric.msg.enterMetricName')) return false;
        if (isEmpty('metricDesc', 'common.msg.enterContents')) return false;
        if (isEmpty('metricGroup', 'common.msg.requiredSelect')) return false;
        if (method === 'POST' && isEmpty('metricType', 'common.msg.requiredSelect')) return false;
        if (method === 'POST' && isEmpty('metricUnit', 'common.msg.requiredSelect')) return false;
        if (method === 'POST' && isEmpty('calculationType', 'common.msg.requiredSelect')) return false;

        let data = {
            metricId: '',
            metricName: document.getElementById('metricName').value,
            metricDesc: document.getElementById('metricDesc').value,
            metricGroup: document.getElementById('metricGroup').value,
            metricType: (method === 'POST' ? document.getElementById('metricType').value : document.getElementById('metricTypeInput').value),
            metricUnit: (method === 'POST' ? document.getElementById('metricUnit').value : document.getElementById('metricUnitInput').value),
            calculationType: (method === 'POST' ? document.getElementById('calculationType').value : document.getElementById('calculationTypeInput').value)
        }
        let url = '/rest/sla/metric-pools';
        if (method === 'PUT') {
            url += '/' + /*[[${metric?.metricId}]]*/'';
            data.metricId = /*[[${metric?.metricId}]]*/'';
        }

        aliceJs.fetchJson(url, {
            method: method,
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then((response) => {
            switch (response.status) {
                case aliceJs.response.success: // 등록 성공
                    zAlert.success([[#{common.msg.register}]], function () {
                        window.location.href = '/sla/metric-pools/search';
                    });
                    break;
                case aliceJs.response.successEdit: // 수정 성공
                    zAlert.success([[#{common.msg.modify}]], function () {
                        window.location.href = '/sla/metric-pools/search';
                    });
                    break;
                case aliceJs.response.duplicate: // 이름 중복
                    zAlert.warning([[#{sla.metric.msg.duplicateMetricName}]]);
                    break;
                case aliceJs.response.error:
                    zAlert.danger([[#{common.msg.fail}]]);
                    break;
                default :
                    break;
            }
        });
    }

    function deleteSLA() {
        zAlert.confirm([[#{common.msg.confirmDelete}]], () => {
            aliceJs.fetchJson('/rest/sla/metric-pools/' + [[${metric?.metricId}]], {
                method: 'DELETE'
            }).then((response) => {
                if (response.status === aliceJs.response.success) {
                    zAlert.success([[#{common.msg.delete}]], function () {
                        window.location.href = '/sla/metric-pools/search';
                    });
                }
            });
        });
    }
    /* ]]> */
</script>
</html>
