<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/defaultLayout">
<head>
    <title th:text="#{board.label.detail}"></title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="contents-flex scroll-wrap">
        <div class="header">
            <div class="page-title">
                <h1 th:text="#{board.label.detail}"></h1>
                <h6 class="title-description" th:text="#{board.msg.viewDescription}"></h6>
            </div>
        </div>
        <div class="flex flex-column">
            <h4 class="under-bar">
                <span th:if="${boardAdminInfo.categoryYn}" th:text="'['+${boardInfo?.boardCategoryName}+']'"></span>
                <span th:text="${boardInfo?.boardTitle}"></span>
            </h4>
            <div class="row-right">
                <span th:text="${boardInfo?.createUser} ? ${boardInfo.createUser.userName} : ''"></span>
                <span class="vertical-bar"></span>
                <span id="spanCreateDt" th:text="${boardInfo?.createDt}"></span>
            </div>
            <div class="flex-item horizontal-bar"></div>
            <div class="flex-item item-text">
                <div id="boardContents" class="ql-border-disabled">
                    <span th:text="#{common.label.contents}"></span>
                </div>
            </div>
            <div class="horizontal-bar"></div>
            <div class="file-view-contents">
                <label class="file-head" th:text="#{common.label.attachFile}"></label>
                <div class="vertical-bar"></div>
                <form id="frm" method="post">
                    <div class="file-list-contents">
                        <div id="dropZoneFiles"></div>
                        <div id="dropZoneUploadedFiles"></div>
                    </div>
                </form>
            </div>
            <div class="horizontal-bar"></div>
            <div class="btn-bar">
                <button class="default-line" style="margin-right: 5px;" th:onclick="searchBoard()"
                        th:text="#{common.btn.list}"></button>
                <button sec:authorize="hasAuthority('board.update')" style="margin-right: 5px;"
                        class="point-fill" th:if="${#authentication.details.userKey} == (${boardInfo?.createUser} ? ${boardInfo.createUser.userKey} : '')"
                        th:onclick ="'location.href =\'' + @{/boards/{id}/edit(id=${boardInfo?.boardId})}+'\''"
                        th:text="#{common.btn.modify}">
                </button>
                <button sec:authorize="hasAuthority('board.create')" style="margin-right: 5px;"
                        class="point-fill" th:if="${boardInfo?.boardId} and ${boardAdminInfo.replyYn}"
                        th:onclick ="'location.href =\'' + @{/boards/{id}/replay/edit(id=${boardInfo?.boardId})}+'\''"
                        th:text="#{board.btn.reply}">
                </button>
                <button sec:authorize="hasAuthority('board.delete')" style="margin-right: 5px;"
                        class="default-fill" th:if="${#authentication.details.userKey} == (${boardInfo?.createUser} ? ${boardInfo.createUser.userKey} : '')"
                        th:onclick="deleteBoard('delete')"
                        th:text="#{common.btn.delete}">
                </button>
            </div>
            <div class="reply-body" th:if="${boardAdminInfo.commentYn} and ${boardInfo?.boardId}">
                <div class="reply-input-row flex-row">
                    <img class="profile-photo" alt="profile pic" th:src="${#authentication.details.avatarPath}"/>
                    <input type="text" id="boardComments" name="boardComments" maxlength="500" th:placeholder="#{comment.msg.enterComments}"/>
                    <button class="default-line" onclick="saveBoardComment('post')" th:text="#{common.btn.save}"></button>
                </div>
                <div class="reply-list flex-column" th:if="${boardAdminInfo.commentYn}" id="boardCommentList"></div>
            </div>
        </div>
    </div>
</th:block>
</body>
<th:block layout:fragment="pageScript">
    <script th:inline="javascript" type="text/javascript">
        /*<![CDATA[*/
        const boardId = [[${boardInfo?.boardId}]];
        const boardAdminId = [[${boardAdminInfo?.boardAdminId}]];
        const attachYn  = [[${boardAdminInfo?.attachYn}]];
        const categoryYn = [[${boardAdminInfo?.categoryYn}]];
        const commentYn = [[${boardAdminInfo?.commentYn}]];
        const boardCreateDt = document.getElementById('spanCreateDt');

        window.onload = function() {
            boardCreateDt.textContent = i18n.userDateTime(boardCreateDt.textContent);
            if (attachYn) {
                fileUploader.init({extra: {formId: 'frm', ownId: boardId, editor: false, isView: true}});
            }
            if (boardId !== null && commentYn) {
                getBoardCommentList();
            }
            initTextEditor(true);
            OverlayScrollbars(document.querySelector('.scroll-wrap'), { className: 'scrollbar' });
        };

        //웹에디터 초기화
        function initTextEditor(flag) {
            let textEditorOptions = {
                modules: {toolbar: false},
                theme: 'snow',
                readOnly: flag
            };

            let textEditor = new Quill('#boardContents', textEditorOptions);
            if (boardId !== "") {
                textEditor.setContents(JSON.parse(/*[[${boardInfo?.boardContents}]]*/));
            }
        }

        //조회 화면 이동
        function searchBoard() {
            location.href = '/boards/search/param?boardAdminId=' + boardAdminId;
        }

        //게시판 삭제
        function deleteBoard(method) {
            aliceJs.confirmIcon(i18n.get('common.msg.confirmDelete'), restSubmit, null, 'delete', '/rest/boards/' + boardId);
        }

        //게시판 댓글 저장
        function saveBoardComment(method) {
            if (isEmpty('boardComments', 'comment.msg.enterComments')) return;
            const data = {
                boardId: boardId,
                boardCommentContents: document.getElementById('boardComments').value
            };
            restSubmit(method, '/rest/boards/comments', data);
        }

        //게시판 댓글 조회
        function getBoardCommentList() {
            restSubmit('get', '/boards/' + boardId + '/comments/list');
        }

        //게시판 댓글 수정
        function openCommentEdit(boardCommentId) {
            if (document.getElementById('editComments')) {
                aliceJs.alertWarning(i18n.msg('comment.msg.afterSavedEditComments'), function () {
                    return false;
                });
            } else {
                let context = document.getElementById(boardCommentId).innerText;
                document.getElementById(boardCommentId).innerHTML = "<input type='text' maxlength='500' id='editComments' name='editComments' value='"+context+"'/>" +
                    "<button class='default-line' onclick=\"saveBoardEditComment('put','"+boardCommentId+"')\">"+i18n.get('common.btn.save')+"</button>";
            }
        }

        //게시판 댓글 수정
        function saveBoardEditComment(method, boardCommentId) {
            if (isEmpty('editComments', 'comment.msg.enterComments')) return;
            const data = {
                boardCommentId: boardCommentId,
                boardId: boardId,
                boardCommentContents: document.getElementById('editComments').value
            };
            restSubmit(method, '/rest/boards/comments', data);
        }

        //REST API
        function restSubmit(method, url, data) {
            let resultMsg = '';
            if (method === 'put' || method === 'post') {
                resultMsg = i18n.msg('common.msg.save');
            } else if (method === 'delete') {
                resultMsg = i18n.msg('common.msg.delete');
            }
            const opt = {
                method: method,
                url: url,
                params: JSON.stringify(data),
                contentType: 'application/json',
                callbackFunc: function(response) {
                    if (method === 'put' || method === 'post' || method === 'delete') {
                        aliceJs.alertSuccess(resultMsg, function () {
                            if (url.indexOf('/rest/boards/comments') !== -1) {
                                document.getElementById('boardComments').value = '';
                                getBoardCommentList();
                            } else {
                                searchBoard();
                            }
                        });
                    } else if (method === 'get') {
                        document.getElementById('boardCommentList').innerHTML = response.responseText;
                        document.getElementsByName('commentDt').forEach(function(element) {
                            element.textContent = i18n.userDateTime(element.textContent)
                        });
                    }
                },
                showProgressbar: false
            };
            aliceJs.sendXhr(opt);
        }
        /*]]>*/
    </script>
</th:block>
</html>
