<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/itsm/pageType/commonViewLayout}">
<head>
    <title th:text="#{board.label.view}"></title>
</head>
<body>
<div layout:fragment="pageTitle">
    <h1 th:text="#{board.label.board}"></h1>
    <h6 class="description ml-2 pl-2" th:text="#{board.msg.viewDescription}"></h6>
</div>
<div layout:fragment="pageView">
    <div class="flex-column view-row">
        <div class="view-title text-wordWrap">
            <span th:if="${boardAdminInfo.categoryYn && not #strings.isEmpty(boardInfo?.boardCategoryName)}"
                  th:text="#{common.label.bracketOpen}+${boardInfo?.boardCategoryName}+#{common.label.bracketClose}"></span>
            <span th:text="${boardInfo?.boardTitle}"></span>
        </div>
    </div>
    <div class="flex-column view-row">
        <div class="view-sub-title flex-row justify-content-end">
            <span class="text-wordWrap"
                  th:text="${boardInfo?.createUser} ? ${boardInfo.createUser.userName} : ''"></span>
            <span class="vertical-bar"></span>
            <span class="text-wordNoWrap" id="spanCreateDt" th:text="${boardInfo?.createDt}"></span>
        </div>
    </div>
    <div class="horizontal-bar"></div>
    <div class="flex-column view-row">
        <div id="boardContents" class="view-content ql-border-disabled">
            <span th:text="#{common.label.contents}"></span>
        </div>
    </div>
    <div class="horizontal-bar"></div>
    <div class="flex-row view-row file-uploader-view">
        <label class="file-uploader-title" th:text="#{common.label.attachFile}"></label>
        <div class="vertical-bar"></div>
        <form id="frm" method="post">
            <div class="file-uploader-list">
                <div id="dropZoneFiles"></div>
                <div id="dropZoneUploadedFiles"></div>
            </div>
        </form>
    </div>
    <div class="horizontal-bar"></div>
    <div class="flex-row justify-content-between view-row">
        <div class="button-list">
            <a class="btn__text--box btn--secondary"
               th:href="@{/boards/articles/search/param?boardAdminId={id}(id=${boardAdminInfo.boardAdminId})}"
               th:text="#{common.btn.list}"></a>
        </div>
        <div class="button-list">
            <button type="button" class="btn__text--box btn--primary"
                    th:if="(${#authorization.expression('hasAuthority(''system.manage'')')}) or (${#authorization.expression('hasAuthority(''portal.manage'')')})
                           or (${#authentication.details.userKey} == (${boardInfo?.createUser} ? ${boardInfo.createUser.userKey} : '') and ${#authorization.expression('hasAuthority(''general'')')})"
                    th:onclick="'location.href =\'' + @{/boards/articles/{id}/edit(id=${boardInfo?.boardId})}+'\''"
                    th:text="#{common.btn.toModify}">
            </button>
            <button type="button" sec:authorize="hasAuthority('general') or hasAuthority('system.manage') or hasAuthority('portal.manage')"
                    class="btn__text--box btn--secondary" th:if="${boardInfo?.boardId} and ${boardAdminInfo.replyYn}"
                    th:onclick="'location.href =\'' + @{/boards/articles/{id}/reply/edit(id=${boardInfo?.boardId})}+'\''" th:text="#{board.btn.reply}">
            </button>
            <button type="button" class="btn__text--box btn--danger"
                    th:if="(${#authorization.expression('hasAuthority(''system.manage'')')}) or (${#authorization.expression('hasAuthority(''portal.manage'')')})
                           or (${#authentication.details.userKey} == (${boardInfo?.createUser} ? ${boardInfo.createUser.userKey} : '') and ${#authorization.expression('hasAuthority(''general'')')})"
                    th:onclick="deleteBoard()" th:text="#{common.btn.delete}">
            </button>
        </div>
    </div>
    <div class="reply-body" th:if="${boardAdminInfo.commentYn} and ${boardInfo?.boardId}">
        <div class="flex-row align-items-center reply-input-row">
            <img class="img i-profile-photo mr-2" alt="profile pic" th:src="${#authentication.details.avatarPath}"
                 width="32" height="32"/>
            <input type="text" class="input reply-input" id="boardComments" name="boardComments" maxlength="500"
                   th:placeholder="#{comment.msg.enterComments}"/>
            <button class="btn__text--box btn--form" onclick="saveBoardComment('POST')"
                    th:text="#{common.btn.save}"></button>
        </div>
        <div class="flex-column reply-list" th:if="${boardAdminInfo.commentYn}" id="boardCommentList"></div>
    </div>
</div>
</body>
<th:block layout:fragment="pageScript">
    <script th:inline="javascript" type="text/javascript">
        /*<![CDATA[*/
        const boardId = [[${boardInfo?.boardId}]];
        const boardAdminId = [[${boardAdminInfo?.boardAdminId}]];
        const attachYn = [[${boardAdminInfo?.attachYn}]];
        const categoryYn = [[${boardAdminInfo?.categoryYn}]];
        const commentYn = [[${boardAdminInfo?.commentYn}]];
        const boardCreateDt = document.getElementById('spanCreateDt');
        let textEditor = null;

        window.onload = function () {
            boardCreateDt.textContent = i18n.userDateTime(boardCreateDt.textContent);
            if (attachYn) {
                zFileUploader.init({formId: 'frm', ownId: boardId, editor: false, isView: true});
            }
            if (boardId !== null && commentYn) {
                getBoardCommentList();
            }
            // 텍스트 에디터 초기화
            textEditor = new zQuill(document.getElementById('boardContents'), {
                toolbarVisible: false,
                readOnly: true,
                content: (boardId !== '') ? JSON.parse(/*[[${boardInfo?.boardContents}]]*/) : ''
            });

            OverlayScrollbars(document.querySelectorAll('.page-content'), {className: 'scrollbar'});
            OverlayScrollbars(document.querySelector('.view'), {className: 'scrollbar'});
        };

        //게시판 삭제
        function deleteBoard() {
            zAlert.confirm(i18n.msg('common.msg.confirmDelete'), () => {
                aliceJs.fetchJson('/rest/boards/articles/' + boardId, {
                    method: 'DELETE'
                }).then((response) => {
                    switch (response.status) {
                        case aliceJs.response.success:
                            zAlert.success(i18n.msg('common.msg.delete'), function () {
                                window.location.href = '/boards/articles/search/param?boardAdminId=' + boardAdminId;
                            });
                            break;
                        case aliceJs.response.error:
                            zAlert.danger(i18n.msg('common.msg.fail'));
                            break;
                        default:
                            break;
                    }
                });
            });
        }

        //게시판 댓글 저장 / 수정
        function saveBoardComment(method = 'POST', boardCommentId = '') {
            if (boardCommentId === '' && isEmpty('boardComments', 'comment.msg.enterComments')) return;
            if (boardCommentId !== '' && isEmpty('editComments', 'comment.msg.enterComments')) return;

            const data = {
                boardId: boardId,
                boardCommentContents: (boardCommentId === '' ? document.getElementById('boardComments').value :
                    document.getElementById('editComments').value)
            };

            if (boardCommentId !== '') {
                data.boardCommentId = boardCommentId;
            }
            const resultMsg = (method === 'POST') ? i18n.msg('common.msg.register') : i18n.msg('common.msg.update');
            aliceJs.fetchJson('/rest/boards/articles/comments', {
                method: method,
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            }).then((response) => {
                switch (response.status) {
                    case aliceJs.response.success:
                        zAlert.success(resultMsg, function () {
                            document.getElementById('boardComments').value = '';
                            getBoardCommentList();
                        });
                        break;
                    case aliceJs.response.error:
                        zAlert.danger(i18n.msg('common.msg.fail'));
                        break;
                    default :
                        break;
                }
            });
        }

        //게시판 댓글 조회
        function getBoardCommentList() {
            aliceJs.fetchText('/boards/articles/' + boardId + '/comments', {
                method: 'GET',
            }).then((htmlData) => {
                document.getElementById('boardCommentList').innerHTML = htmlData;
                document.getElementsByName('commentDt').forEach(function (element) {
                    element.textContent = i18n.userDateTime(element.textContent)
                });
            });
        }

        //게시판 댓글 수정
        function openCommentEdit(boardCommentId) {
            if (document.getElementById('editComments')) {
                zAlert.warning(i18n.msg('comment.msg.afterSavedEditComments'), function () {
                    return false;
                });
            } else {
                let context = document.getElementById(boardCommentId).innerText;
                document.getElementById(boardCommentId).innerHTML = "<input type='text' maxlength='500' class='input' id='editComments' name='editComments' value='" + context + "'/>" +
                    "<button class='btn__text--box btn--form' onclick=\"saveBoardComment('PUT','" + boardCommentId + "')\">" + i18n.msg('common.btn.save') + "</button>";
            }
        }

        //게시판 댓글 삭제
        function deleteBoardComment(url) {
            zAlert.confirm(i18n.msg('common.msg.confirmDelete'), () => {
                aliceJs.fetchJson(url, {
                    method: 'DELETE'
                }).then((response) => {
                    switch (response.status) {
                        case aliceJs.response.success:
                            zAlert.success(i18n.msg('common.msg.delete'), () => {
                                document.getElementById('boardComments').value = '';
                                getBoardCommentList();
                            });
                            break;
                        case aliceJs.response.error:
                            zAlert.danger(i18n.msg('common.msg.fail'));
                            break;
                        default:
                            break;
                    }
                });
            });
        }
        /*]]>*/
    </script>
</th:block>
</html>
