<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>
<body>
<table class="z-list-content">
    <thead class="z-list-head">
        <tr class="flex-row align-items-center">
            <th style="width: 65%" class="align-left" th:text="#{board.label.name}"></th>
            <th style="width: 10%" class="align-left" th:text="#{board.label.count}"></th>
            <th style="width: 10%" class="align-left" th:text="#{common.label.createUser}"></th>
            <th style="width: 15%" class="align-left" th:text="#{common.label.createDate}"></th>
        </tr>
    </thead>
    <tbody class="z-list-body">
        <tr class="flex-row align-items-center no-data-found-list" th:if="${#arrays.isEmpty(boardAdminList)}">
            <td style="width:100%" colspan="5" class="align-center" th:text="#{common.msg.noData}"></td>
        </tr>
        <tr class="flex-row align-items-center" th:each="boardAdmin: ${boardAdminList}">
            <td style="width: 65%" class="align-left underline">
                <a sec:authorize="!hasAuthority('board.admin.update')" th:text="${boardAdmin.boardAdminTitle}"
                   th:href="@{/boards/{id}/view(id=${boardAdmin.boardAdminId})}"></a>
                <a sec:authorize="hasAuthority('board.admin.update')" th:text="${boardAdmin.boardAdminTitle}"
                   th:href="@{/boards/{id}/edit(id=${boardAdmin.boardAdminId})}"></a>
            </td>
            <td style="width: 10%" class="align-left" th:text="${boardAdmin.boardBoardCount}"></td>
            <td style="width: 10%" class="align-left" th:text="${boardAdmin.createUserName}"></td>
            <td style="width: 15%" class="align-left date-time" th:text="${boardAdmin.createDt}"></td>
        </tr>
    </tbody>
</table>
<th:block th:replace="layout/itsm/fragment/totalCountFragment :: totalCountDataFragment"></th:block>
</body>
</html>
