<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/itsm/pageType/commonViewLayout}">
<head>
    <title th:text="#{board.label.view}"></title>
</head>
<body>
<div layout:fragment="pageTitle">
    <h1 th:text="#{board.label.board}"></h1>
    <h6 class="description ml-2 pl-2" th:text="#{board.msg.viewDescription}"></h6>
</div>
<div layout:fragment="pageView">
    <div class="flex-column z-view-row">
        <div class="view-title text-ellipsis">
            <span th:if="${boardAdminInfo.categoryYn && not #strings.isEmpty(boardInfo?.boardCategoryName)}"
                  th:text="#{common.label.bracketOpen}+${boardInfo?.boardCategoryName}+#{common.label.bracketClose}"></span>
            <span th:text="${boardInfo?.boardTitle}"></span>
        </div>
    </div>
    <div class="flex-column z-view-row">
        <div class="view-sub-title flex-row justify-content-end">
            <span class="user-name"
                  th:text="${boardInfo?.createUser} ? ${boardInfo.createUser.userName} : ''"></span>
            <span class="vertical-bar"></span>
            <span id="spanCreateDt" th:text="${boardInfo?.createDt}"></span>
        </div>
    </div>
    <div class="horizontal-bar"></div>
    <div class="flex-column z-view-row">
        <div id="boardContents" class="view-content ql-border-disabled">
            <span class="view-text" th:text="${boardInfo?.boardContents}"></span>
        </div>
    </div>
    <div class="horizontal-bar"></div>
    <div class="flex-row z-view-row file-uploader-view">
        <label class="file-uploader-title" th:text="#{common.label.attachFile}"></label>
        <div class="vertical-bar"></div>
        <form id="frm" method="post">
            <div class="file-uploader-list">
                <div id="dropZoneFiles"></div>
                <div id="dropZoneUploadedFiles"></div>
            </div>
        </form>
    </div>
    <div class="horizontal-bar"></div>
    <div class="flex-row justify-content-between z-view-row">
        <div class="z-button-list">
            <a class="z-button secondary"
               th:href="@{/boards/articles/search/param?boardAdminId={id}(id=${boardAdminInfo.boardAdminId})}"
               th:text="#{common.btn.list}"></a>
        </div>
        <div class="z-button-list">
            <button class="z-button primary"
                    th:if="(${#authentication.details.userKey} != (${boardInfo?.createUser} ? ${boardInfo.createUser.userKey} : '') and ${#authorization.expression('hasAuthority(''board.update'')')})
                           or (${#authentication.details.userKey} == (${boardInfo?.createUser} ? ${boardInfo.createUser.userKey} : '') and ${#authorization.expression('hasAuthority(''board.create'')')})"
                    th:onclick="'location.href =\'' + @{/boards/articles/{id}/edit(id=${boardInfo?.boardId})}+'\''"
                    th:text="#{common.btn.modify}">
            </button>
            <button sec:authorize="hasAuthority('board.create')"
                    class="z-button secondary" th:if="${boardInfo?.boardId} and ${boardAdminInfo.replyYn}"
                    th:onclick="'location.href =\'' + @{/boards/articles/{id}/reply/edit(id=${boardInfo?.boardId})}+'\''"
                    th:text="#{board.btn.reply}">
            </button>
            <button class="z-button secondary"
                    th:if="(${#authentication.details.userKey} != (${boardInfo?.createUser} ? ${boardInfo.createUser.userKey} : '') and ${#authorization.expression('hasAuthority(''board.delete'')')})
                           or (${#authentication.details.userKey} == (${boardInfo?.createUser} ? ${boardInfo.createUser.userKey} : '') and ${#authorization.expression('hasAuthority(''board.create'')')})"
                    th:onclick="deleteBoard('delete')"
                    th:text="#{common.btn.delete}">
            </button>
        </div>
    </div>
    <div class="reply-body" th:if="${boardAdminInfo.commentYn} and ${boardInfo?.boardId}">
        <div class="flex-row align-items-center reply-input-row">
            <img class="z-img i-profile-photo mr-2" alt="profile pic" th:src="${#authentication.details.avatarPath}"
                 width="32" height="32"/>
            <input type="text" class="z-input reply-input" id="boardComments" name="boardComments" maxlength="500"
                   th:placeholder="#{comment.msg.enterComments}"/>
            <button class="z-button form" onclick="saveBoardComment('post')"
                    th:text="#{common.btn.save}"></button>
        </div>
        <div class="flex-column reply-list" th:if="${boardAdminInfo.commentYn}" id="boardCommentList"></div>
    </div>
</div>
</body>
<th:block layout:fragment="pageScript">
    <script th:inline="javascript" type="text/javascript">
        /*<![CDATA[*/
        const boardId = [[${boardInfo?.boardId}]];
        const boardAdminId = [[${boardAdminInfo?.boardAdminId}]];
        const attachYn = [[${boardAdminInfo?.attachYn}]];
        const categoryYn = [[${boardAdminInfo?.categoryYn}]];
        const commentYn = [[${boardAdminInfo?.commentYn}]];
        const boardCreateDt = document.getElementById('spanCreateDt');
        let textEditor = null;

        window.onload = function () {
            boardCreateDt.textContent = i18n.userDateTime(boardCreateDt.textContent);
            if (attachYn) {
                zFileUploader.init({extra: {formId: 'frm', ownId: boardId, editor: false, isView: true}});
            }
            if (boardId !== null && commentYn) {
                getBoardCommentList();
            }
            // 텍스트 에디터 초기화
            // textEditor = new zQuill(document.getElementById('boardContents'), {
            //     toolbarVisible: false,
            //     readOnly: true,
            //     content: (boardId !== "") ? JSON.parse(/*[[${boardInfo?.boardContents}]]*/) : ''
            // });

            OverlayScrollbars(document.querySelector('.view'), {className: 'scrollbar'});
        };

        //조회 화면 이동
        function searchBoard() {
            location.href = '/boards/articles/search/param?boardAdminId=' + boardAdminId;
        }

        //게시판 삭제
        function deleteBoard(method) {
            aliceAlert.confirm(i18n.msg('common.msg.confirmDelete'), restSubmit, null, 'delete',
                '/rest/boards/articles/' + boardId);
        }

        //게시판 댓글 저장
        function saveBoardComment(method) {
            if (isEmpty('boardComments', 'comment.msg.enterComments')) return;
            const data = {
                boardId: boardId,
                boardCommentContents: document.getElementById('boardComments').value
            };
            restSubmit(method, '/rest/boards/articles/comments', data);
        }

        //게시판 댓글 조회
        function getBoardCommentList() {
            restSubmit('get', '/boards/articles/' + boardId + '/comments');
        }

        //게시판 댓글 수정
        function openCommentEdit(boardCommentId) {
            if (document.getElementById('editComments')) {
                aliceAlert.alertWarning(i18n.msg('comment.msg.afterSavedEditComments'), function () {
                    return false;
                });
            } else {
                let context = document.getElementById(boardCommentId).innerText;
                document.getElementById(boardCommentId).innerHTML = "<input type='text' maxlength='500' class='z-input' id='editComments' name='editComments' value='" + context + "'/>" +
                    "<button class='z-button form' onclick=\"saveBoardEditComment('put','" + boardCommentId + "')\">" + i18n.msg('common.btn.save') + "</button>";
            }
        }

        //게시판 댓글 수정
        function saveBoardEditComment(method, boardCommentId) {
            if (isEmpty('editComments', 'comment.msg.enterComments')) return;
            const data = {
                boardCommentId: boardCommentId,
                boardId: boardId,
                boardCommentContents: document.getElementById('editComments').value
            };
            restSubmit(method, '/rest/boards/articles/comments', data);
        }

        //REST API
        function restSubmit(method, url, data) {
            let resultMsg = '';
            if (method === 'put' || method === 'post') {
                resultMsg = i18n.msg('common.msg.save');
            } else if (method === 'delete') {
                resultMsg = i18n.msg('common.msg.delete');
            }
            const opt = {
                method: method,
                url: url,
                params: JSON.stringify(data),
                contentType: 'application/json',
                callbackFunc: function (response) {
                    if (method === 'put' || method === 'post' || method === 'delete') {
                        aliceAlert.alertSuccess(resultMsg, function () {
                            if (url.indexOf('/rest/boards/articles/comments') !== -1) {
                                document.getElementById('boardComments').value = '';
                                getBoardCommentList();
                            } else {
                                searchBoard();
                            }
                        });
                    } else if (method === 'get') {
                        document.getElementById('boardCommentList').innerHTML = response.responseText;
                        document.getElementsByName('commentDt').forEach(function (element) {
                            element.textContent = i18n.userDateTime(element.textContent)
                        });
                    }
                },
                showProgressbar: false
            };
            aliceJs.sendXhr(opt);
        }

        /*]]>*/
    </script>
</th:block>
</html>
