<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="layout/defaultLayout">
<head>
    <title th:text="#{menu.portal.board}"></title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="contents">
        <div class="contents-title">
            <h1 th:text="#{board.label.list}"></h1>
            <span class="title-description" th:text="#{board.msg.description}"></span>
        </div>
        <div class="contents-body">
            <div class="search-area">
                <div class="search-area-left">
                    <form id="searchFrm">
                        <select th:class="search-selectBox" id="boardAdminId" name="boardAdminId">
                            <option th:each="boardAdmin: ${boardAdminList}" th:value="${boardAdmin.boardAdminId}"
                                th:text="#{${boardAdmin.boardAdminTitle}}"></option>
                        </select>
                        <input class="search column-3" id="search" name="search" type="text" maxlength="100"
                               th:placeholder="#{board.label.searchBoardPlaceholder}"/>
                        <input class="search-date column-2" type="text" id="fromDt" name="fromDt" readonly="readonly"/>
                        <span>~</span>
                        <input class="search-date column-2" type="text" id="toDt" name="toDt" readonly="readonly"/>
                    </form>
                </div>
                <div class="search-area-right">
                    <button class="btn-add" onclick="openBoardAdd()" sec:authorize="hasAuthority('board.create')"/>
                </div>
            </div>
            <div class="list" id="boardList"></div>
        </div>
    </div>
</th:block>
</body>
<th:block layout:fragment="pageScript">
    <script th:inline="javascript">
        /*<![CDATA[*/
        const boardAdminId = /*[[${boardAdminId}]]*/ null;
        var offsetCount = 0;
        window.onload = function() {
            if (boardAdminId !== null) {
                document.getElementById('boardAdminId').value = boardAdminId;
            }
            document.getElementById('fromDt').value = i18n.getDate({'months':-1});
            document.getElementById('toDt').value = i18n.getDate();
            dateTimePicker.initDatePicker('fromDt', setDatePicker);
            dateTimePicker.initDatePicker('toDt', setDatePicker);
            document.getElementById('boardAdminId').addEventListener('change', function() { getBoardList(); });
            document.getElementById('search').addEventListener('keyup', function() { getBoardList(); });
            getBoardList(false);
        };

        function setDatePicker(element, picker) {
            if (typeof picker === 'undefined') {
                return false;
            }
            if (element.id === 'fromDt') {
                const toDtValue = document.getElementById('toDt').value;
                if (i18n.systemDate(toDtValue) < i18n.systemDate(element.value)) {
                    aliceJs.alert(i18n.get("common.msg.selectBeforeDate", toDtValue), function() {
                        picker.open();
                    });
                } else {
                    getBoardList(false);
                }
            } else {
                const fromDtValue = document.getElementById('fromDt').value;
                if (i18n.systemDate(fromDtValue) > i18n.systemDate(element.value)) {
                    aliceJs.alert(i18n.get("common.msg.selectAfterDate", fromDtValue), function() { picker.open(); });
                } else {
                    getBoardList(false);
                }
            }
        }

        //게시판 조회
        //isScroll : true 스크롤 이벤트 조회, false 초기 조회
        function getBoardList(isScroll) {
            let urlParam = '';
            if (isScroll) {
                if (offsetCount === 0) {
                    offsetCount = 10;
                }
                urlParam = aliceJs.serialize(document.getElementById('searchFrm')) + '&offset=' + offsetCount;
                restSubmit('get', '/rest/boards?' + urlParam, isScroll);
            } else {
                offsetCount = 0;
                urlParam = aliceJs.serialize(document.getElementById('searchFrm')) + '&offset=' + offsetCount;
                restSubmit('get', '/boards/list?' + urlParam, isScroll);
            }
        }

        //게시판 관리 등록
        function openBoardAdd() {
            location.href = '/boards/' + document.getElementById('boardAdminId').value + '/new';
        }

        //REST API
        function restSubmit(method, url, isScroll) {
            const opt = {
                method: method,
                url: url,
                async: false,
                callbackFunc: function(response) {
                    if (isScroll) {
                        let dataList = JSON.parse(response.responseText);
                        if (dataList.length > 0) {
                            document.getElementById('totalCount').textContent = dataList[0].totalCount;
                            if (scrollerEventCheck()) {
                                offsetCount = offsetCount + 10;
                                dataList.forEach(function(data) {
                                    getDataTemplate(data);
                                });
                            }
                        }
                    } else {
                        document.getElementById('boardList').innerHTML = "";
                        document.getElementById('boardList').innerHTML = response.responseText;
                        let boardDtEle = document.querySelectorAll('td[name=boardDt]');
                        for (let i = 0; i < boardDtEle.length; i++) {
                            boardDtEle[i].textContent = i18n.userDateTime(boardDtEle[i].textContent);
                        }
                    }

                    OverlayScrollbars(document.getElementById('list'), {
                        className: 'scrollbar',
                        callbacks: {
                            onScroll: function(e) {
                                const scrollHeight = e.target.scrollHeight;
                                const scrollTop = e.target.scrollTop;
                                const clientHeight = e.target.clientHeight;
                                //스크롤이 맨 마지막에 있을 경우
                                if (scrollHeight - scrollTop === clientHeight) {
                                    if (scrollerEventCheck()) {
                                        getBoardList(true);
                                    }
                                }
                            }
                        }
                    });
                },
                showProgressbar: false
            };
            aliceJs.sendXhr(opt);
        }

        //현재 리스트 개수가 전체 개수보다 작은지 확인 하는 함수
        function scrollerEventCheck() {
            let scrollerCheck = false;
            let totalCount = document.getElementById('totalCount').innerText;
            if (offsetCount < totalCount) {
                scrollerCheck = true;
            }
            return scrollerCheck;
        }

        //Tr 동적 데이터 만들기
        function getDataTemplate(data) {
            let div = document.querySelector('.os-content');
            let tr = document.createElement('tr');

            let tdBoardSeq = document.createElement('td');
            tdBoardSeq.innerText = data.boardSeq;
            tdBoardSeq.style.width = '10%';

            let tdBoardCategoryName = document.createElement('td');
            tdBoardCategoryName.innerText = data.boardCategoryName;
            tdBoardCategoryName.style.width = '15%';

            let tdBoardTitle = document.createElement('td');
            tdBoardTitle.style.width = '30%';
            tdBoardTitle.className = 'align-left';
            let aBoardTitle = document.createElement('a');
            aBoardTitle.href = '/boards/'+ data.boardId +'/view';
            aBoardTitle.innerText = data.boardTitle;
            tdBoardTitle.appendChild(aBoardTitle);

            let tdReplyCount = document.createElement('td');
            tdReplyCount.innerText = data.replyCount;
            tdReplyCount.style.width = '10%';

            let tdReadCount = document.createElement('td');
            tdReadCount.innerText = data.readCount;
            tdReadCount.style.width = '10%';

            let tdCreateUserName = document.createElement('td');
            tdCreateUserName.innerText = data.createUserName;
            tdCreateUserName.style.width = '10%';

            let tdCreateDt = document.createElement('td');
            tdCreateDt.innerText = i18n.userDateTime(data.createDt);
            tdCreateDt.style.width = '15%';

            tr.appendChild(tdBoardSeq);
            tr.appendChild(tdBoardCategoryName);
            tr.appendChild(tdBoardTitle);
            tr.appendChild(tdReplyCount);
            tr.appendChild(tdReadCount);
            tr.appendChild(tdCreateUserName);
            tr.appendChild(tdCreateDt);
            div.appendChild(tr);
        }

        /* ]]> */
    </script>
</th:block>
</html>
