<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<table class="z-table">
    <thead class="z-table-head">
        <tr class="flex-row align-items-center">
            <th style="width:10%;" class="align-left" th:text="#{board.label.number}"></th>
            <th style="width:15%;" class="align-left" th:if="${categoryUseYn}" th:text="#{board.label.category}"></th>
            <th style="width:30%;" class="align-left" th:text="#{common.label.title}"></th>
            <th style="width:10%;" class="align-left" th:text="#{board.label.commentCount}"></th>
            <th style="width:10%;" class="align-left" th:text="#{board.label.readCount}"></th>
            <th style="width:10%;" class="align-left" th:text="#{common.label.writer}"></th>
            <th style="width:15%;" class="align-left" th:text="#{common.label.writeDate}"></th>
        </tr>
    </thead>
    <tbody class="z-table-body">
        <tr class="flex-row align-items-center no-data-found-list" th:if="${#arrays.isEmpty(boardList)}">
            <td style="width:100%" colspan="7" class="align-center" th:text="#{common.msg.noData}"></td>
        </tr>
        <tr class="flex-row align-items-center" th:each="board : ${boardList}">
            <td style="width:10%;" class="align-left" th:text="${board.boardSeq}" th:title="${board.boardSeq}"></td>
            <td style="width:15%;" class="align-left" th:if="${board.categoryYn}" th:text="${board.boardCategoryName}" th:title="${board.boardCategoryName}"></td>
            <td style="width:30%;" class="align-left underline">
                <a th:href="@{/boards/articles/{id}/view(id=${board.boardId})}" th:text="${board.boardTitle}" th:title="${board.boardTitle}"></a>
            </td>
            <td style="width:10%;" class="align-left" th:text="${board.replyCount}" th:title="${board.replyCount}"></td>
            <td style="width:10%;" class="align-left" th:text="${board.readCount}" th:title="${board.readCount}"></td>
            <td style="width:10%;" class="align-left" th:text="${board.createUserName}" th:title="${board.createUserName}"></td>
            <td style="width:15%;" class="align-left date-time" th:text="${board.createDt}" th:title="${board.createDt}"></td>
        </tr>
    </tbody>
</table>
<th:block th:replace="layout/itsm/fragment/totalCountFragment :: totalCountDataFragment"></th:block>
</body>
</html>
