<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/defaultLayout">
<head>
    <title th:text="#{board.label.detail}"></title>
    <meta charset="UTF-8">
    <style>
        table {
            width: 100%;
            border: 1px solid;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        table label {
            margin: 0;
        }
        table td {
            border: 1px solid;
            height: 50px;
        }
        table input {
            width: 90%;
            height: 24px;
        }
    </style>
</head>
<body>
<th:block layout:fragment="content">
    <div style="width: 70%; margin: 50px auto;">
        <div style="height: 90px;">
            <h1 th:text="#{board.label.detail}"></h1>
        </div>
        <hr>
        <form id="boardForm" method="post" onsubmit="return false">
            <table>
                <colgroup>
                    <col width="20%">
                    <col width="30%">
                    <col width="20%">
                    <col width="30%">
                </colgroup>
                <tbody>
                    <tr>
                        <td><label th:text="#{board.label.board}"></label></td>
                        <td colspan="3">
                            <label th:if="${boardAdminInfo.categoryYn}" th:text="'['+${boardInfo?.boardCategoryName}+']'"></label>
                            <label th:text="${boardInfo?.boardTitle}"></label>
                        </td>
                    </tr>
                    <tr style="height: 250px;">
                        <td><label th:text="#{common.label.contents}"></label></td>
                        <td colspan="3" style="height: 80%;">
                            <div id="boardContents" style="height: 100%;"></div>
                        </td>
                    </tr>
                    <tr th:if="${boardAdminInfo.attachYn}">
                        <td><label th:text="#{common.label.attachFile}"></label></td>
                        <td colspan="3">
                            <div id="dropZoneFiles"></div>
                            <div id="dropZoneUploadedFiles"></div>
                        </td>
                    </tr>
                    <tr>
                        <td><label th:text="#{common.label.createUser}"></label></td>
                        <td><span id="spanCreateUserKey" name="spanCreateUserKey" th:text="${boardInfo?.createUser} ? ${boardInfo.createUser.userName} : ''"></span></td>
                        <td><label th:text="#{common.label.createDate}"></label></td>
                        <td><span id="spanCreateDt" name="spanCreateDt" th:text="${boardInfo?.createDt}"></span></td>
                    </tr>
                    <tr>
                        <td><label th:text="#{common.label.updateUser}"></label></td>
                        <td><span id="spanUpdateUserKey" name="spanUpdateUserKey" th:text="${boardInfo?.updateUser} ? ${boardInfo.updateUser.userName} : ''"></span></td>
                        <td><label th:text="#{common.label.updateDate}"></label></td>
                        <td><span id="spanUpdateDt" name="spanUpdateDt" th:text="${boardInfo?.updateDt}"></span></td>
                    </tr>
                </tbody>
            </table>
            <table th:if="${boardAdminInfo.commentYn} and ${boardInfo?.boardId}">
                <tr>
                    <td><label th:text="#{common.label.comment}"></label></td>
                    <td><input type="text" id="boardComments" name="boardComments" maxlength="500"/></td>
                    <td><div align="center"><button onclick="saveBoardComment('post')" th:text="#{common.btn.save}"></button></div></td>
                </tr>
                <tr>
                    <td colspan="3"><div th:if="${boardAdminInfo.commentYn}" id="boardCommentList"></div></td>
                </tr>
            </table>
            <div align="right">
                <button style="margin-right: 5px;" th:onclick="searchBoard()" th:text="#{common.btn.list}"></button>
                <button sec:authorize="hasAuthority('board.update')" style="margin-right: 5px;"
                        th:if="${#authentication.details.userKey} == (${boardInfo?.createUser} ? ${boardInfo.createUser.userKey} : '')"
                        th:onclick ="'location.href =\'' + @{/boards/{id}/edit(id=${boardInfo?.boardId})}+'\''"
                        th:text="#{common.btn.modify}">
                </button>
                <button sec:authorize="hasAuthority('board.create')" style="margin-right: 5px;"
                        th:if="${boardInfo?.boardId} and ${boardAdminInfo.replyYn}"
                        th:onclick ="'location.href =\'' + @{/boards/{id}/replay/edit(id=${boardInfo?.boardId})}+'\''"
                        th:text="#{board.btn.reply}">
                </button>
                <button sec:authorize="hasAuthority('board.delete')" style="margin-right: 5px;"
                        th:if="${#authentication.details.userKey} == (${boardInfo?.createUser} ? ${boardInfo.createUser.userKey} : '')"
                        th:onclick="deleteBoard('delete')"
                        th:text="#{common.btn.delete}">
                </button>
            </div>
        </form>
    </div>
</th:block>
</body>
<th:block layout:fragment="pageScript">
    <script th:src="@{/assets/js/util/validation-alice.js}"></script>
    <script th:inline="javascript" type="text/javascript">
        /*<![CDATA[*/
        const boardId = /*[[${boardInfo?.boardId}]]*/;
        const boardAdminId = /*[[${boardAdminInfo?.boardAdminId}]]*/;
        const attachYn  = /*[[${boardAdminInfo?.attachYn}]]*/;
        const categoryYn = /*[[${boardAdminInfo?.categoryYn}]]*/;
        const commentYn = /*[[${boardAdminInfo?.commentYn}]]*/;
        const boardCreateDt = document.getElementById('spanCreateDt');
        const boardUpdateDt = document.getElementById('spanUpdateDt');

        window.onload = function() {
            boardCreateDt.textContent = i18n.userDateTime(boardCreateDt.textContent);
            boardUpdateDt.textContent = i18n.userDateTime(boardUpdateDt.textContent);

            if (attachYn) {
                fileUploader.init({extra: {formId: 'boardForm', ownId: boardId, editor: false}});
            }
            if (boardId !== null && commentYn) {
                getBoardCommentList();
            }
            initTextEditor(true);
        };

        //웹에디터 초기화
        function initTextEditor(flag) {
            let textEditorOptions = {
                modules: {toolbar: false},
                theme: 'snow',
                readOnly: flag
            };

            let textEditor = new Quill('#boardContents', textEditorOptions);
            if (boardId !== "") {
                textEditor.setContents(JSON.parse(/*[[${boardInfo?.boardContents}]]*/));
            }
        }

        //조회 화면 이동
        function searchBoard() {
            location.href = '/boards/search/param?boardAdminId=' + boardAdminId;
        }

        //게시판 삭제
        function deleteBoard(method) {
            restSubmit(method, '/rest/boards/' + boardId);
        }

        //게시판 댓글 저장
        function saveBoardComment(method) {
            if (isEmpty('boardComments', 'comment.msg.enterComments')) return;
            const data = {
                boardId: boardId,
                boardCommentContents: document.getElementById('boardComments').value
            };
            restSubmit(method, '/rest/boards/comments', data);
        }

        //게시판 댓글 조회
        function getBoardCommentList() {
            restSubmit('get', '/boards/' + boardId + '/comments/list');
        }

        //게시판 댓글 수정
        function openCommentEdit(boardCommentId) {
            if (document.getElementById('editComments')) {
                aliceJs.alert(i18n.get('comment.msg.afterSavedEditComments'), function () {
                    return false;
                });
            } else {
                let context = document.getElementById(boardCommentId).innerText;
                document.getElementById(boardCommentId).innerHTML = "<input type='text' maxlength='500' id='editComments' name='editComments' value='"+context+"'/>" +
                    "<button onclick=\"saveBoardEditComment('put','"+boardCommentId+"')\">"+i18n.get('common.btn.save')+"</button>";
            }
        }

        //게시판 댓글 수정
        function saveBoardEditComment(method, boardCommentId) {
            if (isEmpty('editComments', 'comment.msg.enterComments')) return;
            const data = {
                boardCommentId: boardCommentId,
                boardId: boardId,
                boardCommentContents: document.getElementById('editComments').value
            };
            restSubmit(method, '/rest/boards/comments', data);
        }

        //REST API
        function restSubmit(method, url, data) {
            let resultMsg = '';
            if (method === 'put' || method === 'post') {
                resultMsg = i18n.get('common.msg.save');
            } else if (method === 'delete') {
                resultMsg = i18n.get('common.msg.delete');
            }
            const opt = {
                method: method,
                url: url,
                params: JSON.stringify(data),
                contentType: 'application/json',
                callbackFunc: function(response) {
                    if (method === 'put' || method === 'post' || method === 'delete') {
                        aliceJs.alert(resultMsg, function () {
                            if (url.indexOf('/rest/boards/comments') !== -1) {
                                location.reload();
                            } else {
                                searchBoard();
                            }
                        });
                    } else if (method === 'get') {
                        document.getElementById('boardCommentList').innerHTML = response.responseText;
                        var commentDtEle = document.querySelectorAll('td[name=commentDt]');
                        for (let i = 0; i < commentDtEle.length; i++) {
                            commentDtEle[i].textContent = i18n.userDateTime(commentDtEle[i].textContent);
                        }
                    }
                },
                showProgressbar: false
            };
            aliceJs.sendXhr(opt);
        }
        /*]]>*/
    </script>
</th:block>
</html>
