<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/itsm/pageType/pagingListLayout}">
<head>
    <title th:text="#{board.label.board}"></title>
</head>
<body>
<div layout:fragment="pageTitle">
    <h1 th:text="#{board.label.board}"></h1>
    <h6 class="description ml-2 pl-2" th:text="#{board.msg.adminSearchDescription}"></h6>
</div>
<div layout:fragment="pageSearching">
    <input type="hidden" sec:authorize="hasAuthority('board.admin.update')" th:name="isRole"
               th:value="true"/>
        <input type="hidden" sec:authorize="!hasAuthority('board.admin.update')" th:name="isRole"
               th:value="false"/>
        <form id="searchFrm">
            <input type="text" id="searchValue" name="searchValue" class="z-input i-search col-5 mr-2" maxlength="100"
                   th:placeholder="#{board.label.searchPlaceholder}"/>
            <th:block th:replace="layout/itsm/fragment/totalCountFragment :: totalCountFragment"></th:block>
        </form>
        <div class="ml-auto">
            <button type="button" class="z-button secondary" onclick="openBoardAdminAdd()"
                    sec:authorize="hasAuthority('board.admin.create')" th:text="#{common.btn.add}"></button>
        </div>
</div>
<div layout:fragment="pageList">
    <div class="z-list-content flex-row" id="boardAdminList"></div>
</div>
</body>
<script layout:fragment="pageScript" th:inline="javascript">
    /*<![CDATA[*/
    window.onload = function() {
        document.getElementById('searchValue').focus();
        document.getElementById('searchValue').addEventListener('keyup', function() { getList(); });
        getList();
    };

    // 게시판 관리 조회
    function getList(pageNum = 1) {
        restSubmit('get', '/boards?' + aliceJs.serialize(document.getElementById('searchFrm')) + '&pageNum=' + pageNum);
    }

    // 게시판 관리 등록
    function openBoardAdminAdd() {
        location.href = '/boards/new';
    }

    // REST API
    function restSubmit(method, url) {
        const opt = {
            method: method,
            url: url,
            async: false,
            callbackFunc: function(response) {
                document.getElementById('boardAdminList').innerHTML = response.responseText;
                setDateTimeFormat(document.getElementById('boardAdminList'));
            },
            showProgressbar: false
        };
        aliceJs.sendXhr(opt);
    }

    /**
     * 서버에서 전달받은 데이터의 날짜 포맷을 변경한다.
     */
    function setDateTimeFormat(elem) {
        elem.querySelectorAll('.date-time').forEach(dt => {
            dt.textContent = i18n.userDateTime(dt.textContent.trim());
        });
    }
    /*]]>*/
</script>
</html>
