<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="list-wrap">
    <table>
        <colgroup>
            <col style="width:7.5rem"><!--120px-->
            <col style="width:11.25rem"><!--180px-->
            <col style="width:22.5rem"><!--360px-->
            <col style="width:7.5rem"><!--120px-->
            <col style="width:7.5rem"><!--120px-->
            <col style="width:7.5rem"><!--120px-->
            <col style="width:11.25rem"><!--180px-->
        </colgroup>
        <thead>
            <tr>
                <th th:text="#{board.label.number}"></th>
                <th th:text="#{board.label.category}"></th>
                <th th:text="#{common.label.title}"></th>
                <th th:text="#{board.label.commentCount}"></th>
                <th th:text="#{board.label.readCount}"></th>
                <th th:text="#{common.label.writer}"></th>
                <th th:text="#{common.label.writeDate}"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${#arrays.isEmpty(boardList)}">
                <td colspan="7" th:text="#{common.msg.noData}"></td>
            </tr>
            <tr th:each="board, i: ${boardList}" th:if="${i.count} < 11">
                <td th:text="${board.boardSeq}"></td>
                <td th:text="${board.boardCategoryName}"></td>
                <td class="align-left">
                    <a th:href="@{/boards/{id}/view(id=${board.boardId})}" th:text="${board.boardTitle}"></a>
                </td>
                <td th:text="${board.replyCount}"></td>
                <td th:text="${board.readCount}"></td>
                <td th:text="${board.createUser.userName}"></td>
                <td th:text="${board.createDt}" th:name="boardDt"></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>
