<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/defaultLayout">
<head>
    <title th:if="${boardInfo?.boardId} and ${replyYn} == false" th:text="#{board.label.modify}"></title>
    <title th:if="(!${boardInfo?.boardId} and ${replyYn} == false)" th:text="#{board.label.create}"></title>
    <title th:if="${boardInfo?.boardId} and ${boardAdminInfo.replyYn} and ${replyYn}" th:text="#{board.label.reply}"></title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="contents-edit scroll-wrap">
        <div class="header">
            <div class="page-title">
                <h1 th:if="${boardInfo?.boardId} and ${replyYn} == false" th:text="#{board.label.modify}"></h1>
                <h1 th:if="(!${boardInfo?.boardId} and ${replyYn} == false)" th:text="#{board.label.create}"></h1>
                <h1 th:if="${boardInfo?.boardId} and ${boardAdminInfo.replyYn} and ${replyYn}" th:text="#{board.label.reply}"></h1>
                <h6 th:if="${boardInfo?.boardId} and ${replyYn} == false" class="title-description"
                    th:text="#{board.msg.modifyDescription}"></h6>
                <h6 th:if="(!${boardInfo?.boardId} and ${replyYn} == false)" class="title-description"
                    th:text="#{board.msg.createDescription}"></h6>
                <h6 th:if="${boardInfo?.boardId} and ${boardAdminInfo.replyYn} and ${replyYn}"
                    class="title-description" th:text="#{board.msg.replayDescription}"></h6>
            </div>
        </div>
        <div class="edit">
            <form id="boardForm" method="post" onsubmit="return false">
                <div class="form-set">
                    <label class="required" th:text="#{board.label.board}" for="boardAdminId" />
                    <select id="boardAdminId" name="boardAdminId">
                        <option th:each="boardAdmin: ${boardAdminList}" th:value="${boardAdmin.boardAdminId}"
                                th:text="#{${boardAdmin.boardAdminTitle}}"
                                th:selected="${boardAdmin.boardAdminId} == ${boardAdminInfo?.boardAdminId}"></option>
                    </select>
                </div>
                <div class="form-set" th:if="${boardAdminInfo.categoryYn}">
                    <label class="required" th:text="#{board.label.category}" for="boardCategory" />
                    <select id="boardCategory">
                        <option th:each="boardCategory: ${boardCategoryInfo}" th:value="${boardCategory.boardCategoryId}"
                                th:text="#{${boardCategory.boardCategoryName}}">
                        </option>
                    </select>
                </div>
                <div class="form-set">
                    <label class="required" th:text="#{board.label.title}" for="boardTitle"/>
                    <input type="text" id="boardTitle" maxlength="100" th:value="${boardInfo?.boardTitle}">
                </div>
                <div class="form-set">
                    <label th:text="#{common.label.contents}" for="boardContents"/>
                    <div class="text-editor" id="boardContents"></div>
                </div>
                <div class="form-set file-edit-contents" th:if="${boardAdminInfo.attachYn}">
                    <label class="file-head" th:text="#{common.label.attachFile}"/>
                    <div id="dropZoneFiles"></div>
                    <div id="dropZoneUploadedFiles"></div>
                </div>
                <div id="boardUserInfo">
                    <div class="form-set">
                        <label th:text="#{common.label.createUser}"/>
                        <input id="spanCreateUserKey" name="spanCreateUserKey" type="text" disabled
                               th:value="${boardInfo?.createUser} ? ${boardInfo.createUser.userName} : ''"/>
                    </div>
                    <div class="form-set">
                        <label th:text="#{common.label.createDate}"/>
                        <input id="spanCreateDt" name="spanCreateDt" type="text" disabled
                               th:value="${boardInfo?.createDt} ? ${boardInfo.createDt} : ''"/>
                    </div>
                    <div class="form-set">
                        <label th:text="#{common.label.updateUser}"/>
                        <input id="spanUpdateUserKey" name="spanUpdateUserKey" type="text" disabled
                               th:value="${boardInfo?.updateUser} ? ${boardInfo.updateUser.userName} : ''"/>
                    </div>
                    <div class="form-set">
                        <label th:text="#{common.label.updateDate}"/>
                        <input id="spanUpdateDt" name="spanUpdateDt" type="text" disabled
                               th:value="${boardInfo?.updateDt} ? ${boardInfo.updateDt} : ''"/>
                    </div>
                </div>
                <div class="btn-bar">
                    <button class="default-line" th:onclick="searchBoard()" th:text="#{common.btn.list}"></button>
                    <button class="point-fill" sec:authorize="hasAuthority('board.update')"
                            th:if="${#authentication.details.userKey} == (${boardInfo?.createUser} ? ${boardInfo.createUser.userKey} : '')
                               and ${boardInfo?.boardId} and ${replyYn} == false"
                            onclick ="saveBoard('put', 'normal')"
                            th:text="#{common.btn.modify}">
                    </button>
                    <button class="point-fill" sec:authorize="hasAuthority('board.create')"
                            th:if="(!${boardInfo?.boardId} and ${replyYn} == false)"
                            onclick="saveBoard('post', 'normal')"
                            th:text="#{common.btn.save}">
                    </button>
                    <button class="point-fill" sec:authorize="hasAuthority('board.create')"
                            th:if="${boardInfo?.boardId} and ${boardAdminInfo.replyYn} and ${replyYn}"
                            onclick="saveBoard('post', 'reply')"
                            th:text="#{board.btn.reply}">
                    </button>
                </div>
            </form>
        </div>
    </div>
</th:block>
</body>
<th:block layout:fragment="pageScript">
    <script th:inline="javascript" type="text/javascript">
        /*<![CDATA[*/
        const boardId = /*[[${boardInfo?.boardId}]]*/;
        const boardAdminId = /*[[${boardAdminInfo?.boardAdminId}]]*/;
        const attachYn  = /*[[${boardAdminInfo?.attachYn}]]*/;
        const attachFileSize  = /*[[${boardAdminInfo?.attachFileSize}]]*/;
        const categoryYn = /*[[${boardAdminInfo?.categoryYn}]]*/;
        const commentYn = /*[[${boardAdminInfo?.commentYn}]]*/;
        const replyYn = /*[[${replyYn}]]*/;
        const boardCreateDt = document.getElementById('spanCreateDt');
        const boardUpdateDt = document.getElementById('spanUpdateDt');

        window.onload = function() {
            if (boardId === null) {
                document.getElementById('boardUserInfo').style.display = 'none';
            }

            boardCreateDt.value = i18n.userDateTime(boardCreateDt.value);
            boardUpdateDt.value = i18n.userDateTime(boardUpdateDt.value);

            if (attachYn) {
                var ownId = '';
                if (!replyYn) {
                    ownId = boardId;
                }
                fileUploader.init({extra: {formId: 'boardForm', ownId: ownId, dropZoneMaxFileSize: attachFileSize}});
            }
            if (categoryYn && /*[[${boardInfo?.boardCategoryId}]]*/ !== '') {
                document.getElementById('boardCategory').value = /*[[${boardInfo?.boardCategoryId}]]*/;
            }
            initTextEditor(false);
        };

        function initTextEditor(flag) {
            let textEditorOptions = {
                modules: {
                    toolbar: [
                        [{'header': [1, 2, 3, 4, false]}],
                        ['bold', 'italic', 'underline'],
                        [{'color': []}, {'background': []}],
                        [{'align': []}, { 'list': 'bullet' }],
                        ['image']
                    ]
                },
                theme: 'snow',
                readOnly: flag
            };

            let textEditor = new Quill('#boardContents', textEditorOptions);
            if (boardId !== "" && replyYn === false) {
                textEditor.setContents(JSON.parse(/*[[${boardInfo?.boardContents}]]*/));
            }
        }

        //게시판 저장
        function saveBoard(method, kind) {
            if (isEmpty('boardTitle', 'board.msg.enterBoardTitle')) return;

            let fileSeqList = [];
            let delFileSeqList = [];
            if (attachYn) {
                document.getElementsByName('fileSeq').forEach(elem => fileSeqList.push(elem.value));
                document.getElementsByName('delFileSeq').forEach(elm => delFileSeqList.push(elm.value));
            }

            let boardCategoryId;
            if (categoryYn) {
                boardCategoryId = document.getElementById('boardCategory').value;
            }
            let boardContents = Quill.find(document.getElementById('boardContents'));

            const data = {
                boardAdminId: document.getElementById('boardAdminId').value,
                boardTitle: document.getElementById('boardTitle').value,
                boardContents: JSON.stringify(boardContents.getContents()),
                fileSeqList: fileSeqList,
                delFileSeqList: delFileSeqList,
                boardCategoryId: boardCategoryId
            };

            if (method === 'put' || kind === 'reply') {
                data.boardId = boardId;
            }
            if (kind === 'normal') {
                restSubmit(method, '/rest/boards', data);
            } else if (kind === 'reply') {
                restSubmit(method, '/rest/boards/reply', data);
            }
        }

        //조회 화면 이동
        function searchBoard() {
            location.href = '/boards/search/param?boardAdminId='+boardAdminId;
        }

        //REST API
        function restSubmit(method, url, data) {
            let resultMsg = '';
            if (method === 'put' || method === 'post') {
                resultMsg = i18n.msg('common.msg.save');
            } else if (method === 'delete') {
                resultMsg = i18n.msg('common.msg.delete');
            }

            const opt = {
                method: method,
                url: url,
                params: JSON.stringify(data),
                contentType: 'application/json',
                callbackFunc: function(response) {
                    if (method === 'put' || method === 'post' || method === 'delete') {
                        aliceJs.alertSuccess(resultMsg, function () {
                            searchBoard();
                        });
                    } else if (method === 'get') {
                        document.getElementById('boardCommentList').innerHTML = response.responseText;
                    }
                },
                showProgressbar: false
            };
            aliceJs.sendXhr(opt);
        }
        /*]]>*/
    </script>
</th:block>
</html>
