<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/defaultLayout">
<head>
    <title th:text="${boardAdmin?.boardAdminId != null} ? #{board.label.boardEdit} : #{board.label.boardRegister}"></title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="flex-column edit">
        <div class="board-admin-header">
            <div class="header-title flex-row align-items-baseline">
                <h1 th:text="#{board.label.board}"></h1>
                <h6 class="description ml-2" th:text="#{board.msg.adminEditDescription}"></h6>
            </div>
        </div>
        <div class="board-admin-content-edit">
            <div class="flex-column edit-row">
                <label for="boardAdminTitle">
                    <span th:text="#{board.label.name}"></span>
                    <span class="required"></span>
                </label>
                <input type="text" id="boardAdminTitle" maxlength="70" th:value="${boardAdmin?.boardAdminTitle}"
                       class="z-input" required="required"/>
            </div>
            <div class="flex-column edit-row">
                <label class="switch">
                    <span class="label" th:text="#{board.label.useYn}"></span>
                    <input type="checkbox" id="boardUseYn" name="boardUseYn"
                           th:checked="${boardAdmin?.boardUseYn == null || boardAdmin?.boardUseYn == true}">
                    <span></span>
                </label>
            </div>
            <div class="flex-column edit-row">
                <label th:text="#{board.label.order}" for="boardAdminSort"></label>
                <input class="z-input col-6" id="boardAdminSort" name="boardAdminSort" type="text"
                       th:value="${boardAdmin?.boardAdminSort}" maxlength="2"
                       onKeyup="this.value=this.value.replace(/[^0-9]/g,'');"/>
            </div>
            <div class="flex-column edit-row">
                <label th:text="#{board.label.desc}" for="boardAdminDesc"></label>
                <textarea id="boardAdminDesc" name="boardAdminDesc" class="z-textarea textarea-scroll-wrapper"
                          maxlength="2048" rows="7" th:text="${boardAdmin?.boardAdminDesc}"></textarea>
            </div>
            <div class="flex-column edit-row">
                <label class="switch">
                    <span class="label" th:text="#{board.label.replyYn}"></span>
                    <input type="checkbox" id="replyYn" name="replyYn"
                           th:checked="${boardAdmin?.replyYn == null || boardAdmin?.replyYn == true}">
                    <span></span>
                </label>
            </div>
            <div class="flex-column edit-row">
                <label class="switch">
                    <span class="label" th:text="#{board.label.commentYn}"></span>
                    <input type="checkbox" id="commentYn" name="commentYn"
                           th:checked="${boardAdmin?.commentYn == null || boardAdmin?.commentYn == true}">
                    <span></span>
                </label>
            </div>
            <div class="flex-column edit-row">
                <label class="switch">
                    <span class="label" th:text="#{board.label.category}"></span>
                    <input type="checkbox" id="categoryYn" name="categoryYn"
                           th:checked="${boardAdmin?.categoryYn == null || boardAdmin?.categoryYn == true}"
                           onchange="setDisplay('category-detail', this.checked)">
                    <span></span>
                </label>
                <div id="category-detail" class="category">
                    <div class="flex-row">
                        <div class="flex-column col-6 mr-2">
                            <label for="boardCategoryName">
                                <span th:text="#{board.label.categoryName}"></span>
                                <span class="required"></span>
                            </label>
                            <input type="text" id="boardCategoryName" class="z-input" maxlength="100" required="required"/>
                        </div>
                        <div class="flex-column col-5 mr-2">
                            <label th:text="#{board.label.order}" for="boardCategorySort"></label>
                            <input type="text" id="boardCategorySort" class="z-input" maxlength="2"
                                   onKeyup="this.value=this.value.replace(/[^0-9]/g,'');"/>
                        </div>
                        <div class="flex-column justify-content-end col-1">
                            <button class="point-fill" onclick="addBoardCategory('post')" th:text="#{common.btn.add}"></button>
                        </div>
                    </div>
                    <div class="flex-row">
                        <div class="category-list">
                            <table class="edit-table">
                                <thead class="edit-table-thead">
                                <tr>
                                    <th class="col-6 align-left" th:text="#{board.label.category}"></th>
                                    <th class="col-5 align-left" th:text="#{board.label.order}"></th>
                                    <th class="col-1 align-center"></th>
                                </tr>
                                </thead>
                                <tbody id="boardCategoryList" class="edit-table-tbody">
                                <tr class="no-data-found-list align-center" th:if="${#arrays.isEmpty(boardAdmin?.categoryList)}">
                                    <td style="width:100%" colspan="5" th:text="#{common.msg.noData}"></td>
                                </tr>
                                <tr th:each="category: ${boardAdmin?.categoryList}">
                                    <td class="col-6 align-left" th:text="${category.boardCategoryName}"></td>
                                    <td class="col-5 align-left" th:text="${category.boardCategorySort}"></td>
                                    <td class="col-1 align-center">
                                        <th:block th:if="${category.boardCount == 0}">
                                            <button class="minus">
                                                <span class="icon-delete-gray" th:onclick="deleteBoardCategory(this.parentNode, [[@{{boardCategoryId}(boardCategoryId=${category.boardCategoryId})}]])"></span>
                                            </button>
                                        </th:block>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-column edit-row">
                <label class="switch">
                    <span class="label" th:text="#{board.label.attachFileYn}"></span>
                    <input type="checkbox" id="attachYn" name="attachYn"
                           th:checked="${boardAdmin?.attachYn == null || boardAdmin?.attachYn == true}"
                           onchange="setDisplay('attachFileSize', this.checked)">
                    <span></span>
                </label>
            </div>
            <div class="flex-column edit-row">
                <label th:text="#{board.label.attachFileSize}" for="attachFileSize"></label>
                <input class="z-input col-6 mb" id="attachFileSize" name="attachFileSize" type="text"
                       th:value="${boardAdmin?.attachFileSize}" maxlength="4"
                       onKeyup="this.value=this.value.replace(/[^0-9]/g,'');"/>
            </div>
            <div class="flex-row justify-content-end edit-row">
                <div class="btn-list">
                    <button sec:authorize="hasAuthority('board.admin.create')" th:unless="${boardAdmin?.boardAdminId}"
                            onclick="saveBoardAdmin('post')" class="point-fill" th:text="#{common.btn.register}"></button>
                    <button sec:authorize="hasAuthority('board.admin.update')" th:if="${boardAdmin?.boardAdminId}"
                            onclick="saveBoardAdmin('put')" class="point-fill" th:text="#{common.btn.modify}"></button>
                    <button sec:authorize="hasAuthority('board.admin.delete')" th:if="${boardAdmin?.boardAdminId}" onclick="deleteBoardAdmin()"
                            th:disabled="${!boardAdmin.enabled}" class="default-line" th:text="#{common.btn.delete}"></button>
                    <a class="btn default-line" href="/boards/search" th:text="#{common.btn.list}"></a>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
<th:block layout:fragment="pageScript">
    <script th:inline="javascript" type="text/javascript">
        /*<![CDATA[*/
        let boardAdminId = /*[[${boardAdmin?.boardAdminId}]]*/;
        let attachDisable = /*[[${boardAdmin?.attachYn}]]*/;
        let boardCategoryList = /*[[${boardAdmin?.categoryList}]]*/;
        let categoryList = [];
        window.onload = function() {
            if (boardCategoryList != null && boardCategoryList.length > 0) {
                boardCategoryList.forEach(function(data) {
                    categoryList.push({
                        boardCategoryId: data.boardCategoryId,
                        boardCategoryName: data.boardCategoryName,
                        boardCategorySort: data.boardCategorySort
                    })
                });
            }
            document.getElementById('boardAdminTitle').focus();
            if (!attachDisable && attachDisable !== null) {
                document.getElementById('attachFileSize').disabled = 'false';
            }

            setDisplay('category-detail', document.getElementById('categoryYn').checked);

            OverlayScrollbars(document.querySelector('.edit'), {className: 'scrollbar'});
            OverlayScrollbars(document.querySelectorAll('.textarea-scroll-wrapper'), {
                className: 'scrollbar',
                resize: 'vertical',
                sizeAutoCapable: true,
                textarea: {
                    dynHeight: false,
                    dynWidth: false,
                    inheritedAttrs: "class"
                }
            });
        }
        //radio check 값에 따라서 화면이 변경 할 수 있도록 변경
        function setDisplay(id, value) {
            if (id === 'attachFileSize') {
                if (value) {
                    document.getElementById('attachFileSize').removeAttribute('disabled');
                } else {
                    document.getElementById('attachFileSize').disabled = 'true';
                    document.getElementById('attachFileSize').value = 0;
                }
            } else if (id === 'category-detail') {
                if (value) {
                    document.getElementById(id).style.display = '';
                } else {
                    document.getElementById(id).style.display = 'none';
                }
            }
        }

        //게시판 관리 삭제
        function deleteBoardAdmin() {
            aliceAlert.confirm(i18n.msg('common.msg.confirmDelete'), restSubmit, null, 'delete', '/rest/boards/' +
                boardAdminId);
        }

        //게시판 관리 저장
        function saveBoardAdmin(method) {
            if (isEmpty('boardAdminTitle', 'board.msg.enterBoardTitle')) return;
            if (document.getElementById('attachYn').checked) {
                if (isExistInScope('attachFileSize', 1, 1024, 'board.msg.enterAttachFileSize')) return;
            }

            const data = {
                boardAdminTitle: document.getElementById('boardAdminTitle').value,
                boardAdminDesc: document.getElementById('boardAdminDesc').value,
                boardAdminSort: document.getElementById('boardAdminSort').value,
                boardUseYn: document.getElementById('boardUseYn').checked,
                replyYn: document.getElementById('replyYn').checked,
                commentYn: document.getElementById('commentYn').checked,
                categoryYn: document.getElementById('categoryYn').checked,
                attachYn: document.getElementById('attachYn').checked,
                attachFileSize: document.getElementById('attachFileSize').value
            };

            if (document.getElementById('categoryYn').checked) {
                data.categoryList = categoryList;
            }

            if (method === 'put') {
                data.boardAdminId = boardAdminId;
            }
            restSubmit(method, '/rest/boards', data);
        }

        //REST API
        function restSubmit(method, url, data) {
            let resultMsg = '';
            if (method === 'put' || method === 'post') {
                resultMsg = i18n.msg('common.msg.save');
            } else if (method === 'delete') {
                resultMsg = i18n.msg('common.msg.delete');
            }

            const opt = {
                method: method,
                url: url,
                params: JSON.stringify(data),
                contentType: 'application/json',
                callbackFunc: function (response) {
                    let result = response.responseText === "true" ? true : false;
                    if (result) {
                        aliceAlert.alertSuccess(resultMsg, function () {
                            location.href = '/boards/search';
                        });
                    } else {
                        if (method == 'delete') {
                            resultMsg = i18n.msg('common.msg.fail');
                        } else {
                            resultMsg = i18n.msg('board.msg.duplicateBoardAdminTitle');
                        }
                        aliceAlert.alertWarning(resultMsg);
                    }
                },
                showProgressbar: false
            };
            aliceJs.sendXhr(opt);
        }

        // Category 삭제
        function deleteBoardCategory(categoryObject, boardCategoryId) {
            if (boardCategoryId !== undefined) {
                categoryList.forEach(function(category, index) {
                    if (category.boardCategoryId === boardCategoryId) {
                        categoryList.splice(index, 1);
                    }
                });
            } else {
                categoryList.forEach(function(category, index) {
                    if (category.boardCategoryName === categoryObject.parentNode.parentNode.childNodes[0].textContent) {
                        categoryList.splice(index, 1);
                    }
                });
            }
            categoryObject.parentNode.parentNode.remove();
            if (document.querySelectorAll('#boardCategoryList > tr').length === 0) {
                const noDataRow = document.createElement('tr');
                const noDataColumn = document.createElement('td');
                noDataRow.className = 'no-data-found-list align-center';
                noDataColumn.colSpan = 5;
                noDataColumn.textContent = i18n.msg('common.msg.noData');
                noDataRow.appendChild(noDataColumn)
                document.querySelector('#boardCategoryList').appendChild(noDataRow);
            }
        }

        // Category 추가
        function addBoardCategory(method) {
            if (isEmpty('boardCategoryName', 'board.msg.enterCategoryName')) return;

            if (categoryList.some(function(category) {
                return category.boardCategoryName === document.getElementById('boardCategoryName').value;
            })) {
                aliceAlert.alertWarning(i18n.msg('validation.msg.dataNotDuplicate'));
                return;
            }

            // no data 제거
            if (document.querySelectorAll('#boardCategoryList > tr').length > 0) {
                if (document.querySelector('#boardCategoryList > tr:first-child').classList.contains('no-data-found-list')) {
                    document.querySelector('#boardCategoryList > tr:first-child').remove();
                }
            }

            const categoryNameObject = document.getElementById('boardCategoryName');
            const categorySortObject = document.getElementById('boardCategorySort');
            const categoryRow = document.createElement('tr');
            const categoryNameColumn = document.createElement('td');
            const categorySortColumn = document.createElement('td');
            const categoryDeleteColumn = document.createElement('td');
            categoryNameColumn.className = 'col-6';
            categorySortColumn.className = 'col-5';
            categoryDeleteColumn.className = 'col-1';
            categoryNameColumn.textContent = categoryNameObject.value;
            categorySortColumn.textContent = categorySortObject.value;
            categoryList.push({
                boardCategoryId: '',
                boardCategoryName: categoryNameObject.value,
                boardCategorySort: categorySortObject.value
            })
            const deleteBtn = document.createElement('button');
            deleteBtn.classList.add('minus');
            const deleteIcon = document.createElement('span');
            deleteIcon.classList.add('icon-delete-gray');
            deleteBtn.appendChild(deleteIcon);
            deleteBtn.addEventListener('click', function () {
                deleteBoardCategory(this);
            });
            categoryDeleteColumn.appendChild(deleteBtn);
            categoryRow.appendChild(categoryNameColumn);
            categoryRow.appendChild(categorySortColumn);
            categoryRow.appendChild(categoryDeleteColumn);
            document.querySelector('#boardCategoryList').appendChild(categoryRow);

            categoryNameObject.value = '';
            categorySortObject.value = '';
        }
        /*]]>*/
    </script>
</th:block>
</html>
