<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/portal/pageType/accordionLayout}">
<head>
    <title th:text="#{faq.label.faq}"></title>
</head>
<body>
<th:block layout:fragment="pageSearching">
    <div class="z-main-header">
        <div class="z-page-title flex-row align-items-baseline">
            <h1 th:text="#{faq.label.faq}"></h1>
            <h6 class="description ml-2 pl-2" th:text="#{faq.msg.portalDescription}"></h6>
        </div>
        <div class="z-page-search pb-4">
            <select id="groupCode" name="groupCode" onchange="getFaqList(this.value, '')" class="col-5 mr-2">
                <option th:each="category:${faqs.faqCategory}"
                        th:text="${category.codeName}" th:value="${category.code}"></option>
            </select>
            <span id="spanTotalCount" class="z-search-count"></span>
        </div>
    </div>
</th:block>
<th:block layout:fragment="pageAccordion">
    <div class="z-main-accordion"></div>
</th:block>
</body>
<script layout:fragment="pageScript" th:inline="javascript">
    /*<![CDATA[ */
    const faqId = [[${faqs?.faqId}]];

    window.onload = function () {
        if (faqId !== '') {
            getFaqList('', faqId);
        } else {
            restSubmit('get', '/portals/faqs');
        }
    }

    function getFaqList(category, faqId) {
        let urlParam = '';
        if (category !== '') {
            urlParam += 'category=' + category;
        } else {
            urlParam += 'id=' + faqId;
        }
        restSubmit('get', '/portals/faqs?' + urlParam);
    }

    function restSubmit(method, url) {
        const opt = {
            method: method,
            url: url,
            showProgressbar: false,
            async: false,
            callbackFunc: function(response) {
                document.querySelector('.z-main-accordion').innerHTML = response.responseText;
                document.getElementsByClassName('z-faq-group')[0].open = true;
                document.getElementsByClassName('z-faq-row')[0].open = true;
                aliceJs.showTotalCount(document.getElementsByClassName('z-faq-row').length);

                let selectedGroup = document.getElementById('selected-group').value;
                let selectedId = document.getElementById('selected-id').value;
                if (selectedId !== '') {
                    let group = document.getElementsByClassName('z-faq-group');
                    let row = document.getElementsByClassName('z-faq-row');
                    for (let i = 0; i < group.length; i++) {
                        if (group[i].id === selectedGroup) {
                            document.getElementsByClassName('z-faq-group')[0].open = false;
                            group[i].open = true;
                            break;
                        }
                    }
                    for (let i = 0; i < row.length; i++) {
                        if (row[i].id === selectedId) {
                            document.getElementsByClassName('z-faq-row')[0].open = false;
                            row[i].open = true;
                            row[i].setAttribute('id', 'highlight')
                            break;
                        }
                    }
                }
                OverlayScrollbars(document.querySelector('.z-main'), { className: 'scrollbar' });
            }
        };
        aliceJs.sendXhr(opt);
    }
    /* ]]> */
</script>
</html>
