<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	  layout:decorator="layout/portalLayout">
<head>
	<title th:text="#{menu.faq.parent}"></title>
</head>
<body>
<th:block layout:fragment="content">
	<div class="portal-faq-container">
		<div class="page-title">
			<h1 class="title" th:text="#{faq.label.list}"></h1>
			<h6 class="title-description" th:text="#{faq.label.description}"></h6>
		</div>
		<div class="portal-faq-select">
			<select id="groupCode" name="groupCode" onchange="getFaqList(this.value, '')" class="column-4">
				<option th:text="#{common.code.faq.category.all}" value="" selected></option>
				<option th:each="category:${faqs.faqCategory}"
				        th:text="#{|common.code.${category}|}" th:value="${category}"></option>
			</select>
		</div>
	</div>
	<div class="portal-faq-result">
		<div class="list" id="faqList"></div>
	</div>
</th:block>
</body>
<th:block layout:fragment="pageScript">
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[ */
		const faqId = [[${faqs?.faqId}]];

		window.onload = function () {
			if (faqId !== '') {
				getFaqList('', faqId);
			} else {
				restSubmit('get', '/portal/faqs/list');
			}
	    }

	    function getFaqList(category, faqId) {
			let urlParam = '';
			if (category !== '') {
				urlParam += 'category=' + category;
			} else {
				urlParam += 'id=' + faqId;
			}
			restSubmit('get', '/portal/faqs/list?' + urlParam);
	    }

		function restSubmit(method, url) {
	        const opt = {
	            method: method,
	            url: url,
	            showProgressbar: false,
	            async: false,
	            callbackFunc: function(response) {
	                document.querySelector('.list').innerHTML = response.responseText;
					document.getElementsByClassName('faq-group')[0].open = true;
	                document.getElementsByClassName('faq-title')[0].open = true;
					let selectedGroup = document.getElementsByClassName('selected-group')[0].id;
					let selectedId = document.getElementsByClassName('selected-id')[0].id;
					if (selectedId !== '') {
						let group = document.getElementsByClassName('faq-group');
	                    let title = document.getElementsByClassName('faq-title');
	                    for (let i = 0; i < group.length; i++) {
	                        if (group[i].id === selectedGroup) {
	                            document.getElementsByClassName('faq-group')[0].open = false;
	                            group[i].open = true;
	                            break;
	                        }
	                    }
	                    for (let i = 0; i < title.length; i++) {
	                        if (title[i].id === selectedId) {
	                            document.getElementsByClassName('faq-title')[0].open = false;
	                            title[i].open = true;
	                            title[i].setAttribute('id', 'highlight')
	                            break;
	                        }
	                    }
	                }
	            }
	        };
	        aliceJs.sendXhr(opt);
	    }
	    /* ]]> */
	</script>
</th:block>
</html>
