<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head></head>
<body>
<table class="table">
    <thead class="table-head">
    <tr class="flex-row align-items-center">
        <th style="width:25%;" class="align-left" th:text="#{statistic.label.templateName}"></th>
        <th style="width:25%;" class="align-left" th:text="#{statistic.label.description}"></th>
        <th style="width:25%;" class="align-left" th:text="#{statistic.label.chart}"></th>
        <th style="width:10%;" class="align-center" th:text="#{common.label.createUser}"></th>
        <th style="width:15%;" class="align-center" th:text="#{common.label.createDate}"></th>
    </tr>
    </thead>
    <tbody class="table-body">
    <tr class="flex-row align-items-center no-data-found-list" th:if="${#arrays.isEmpty(templateList)}">
        <td style="width:100%" colspan="6" class="align-center" th:text="#{common.msg.noData}"></td>
    </tr>
    <tr class="flex-row align-items-center" th:each="template : ${templateList}">
        <td style="width:25%;" class="align-left underline">
            <a sec:authorize="!hasAuthority('report.manage')" th:text="${template.templateName}"
               th:href="@{/statistics/customReportTemplate/{id}/view(id=${template.templateId})}" th:title="${template.templateName}"></a>
            <a sec:authorize="hasAuthority('report.manage')" th:text="${template.templateName}"
               th:href="@{/statistics/customReportTemplate/{id}/edit(id=${template.templateId})}" th:title="${template.templateName}"></a>
        </td>
        <td style="width:25%;" class="align-left" th:text="${template.templateDesc}" th:title="${template.templateDesc}"></td>
        <td style="width:25%;" class="align-left font-bold" th:text="#{${template.chartNameList}}" th:title="#{${template.chartNameList}}"></td>
        <td style="width:10%;" class="align-center" id="userName" th:text="${template?.createUserName}" th:title="${template?.createUserName}"></td>
        <td style="width:15%;" class="align-center date-time" name="createDt" th:text="${template.createDt}" th:title="${template.createDt}"></td>
    </tr>
    </tbody>
</table>
<th:block th:replace="layout/itsm/fragment/totalCountFragment :: totalCountDataFragment"></th:block>
</body>
</html>
