@import '../template/_layout.scss';

/* 폼 디자이너 팝업 layout
 * form-container - form-header : 상단
 *                - form-component-palette : 컴포넌트 팔레트
 *                - form-main : 폼 메인
 *                             - drawing-board : 실제 컴포넌트들이 그려지는 영역
 *                - form-properties-panel-header: 세부 속성 제목
 *                - form-properties-panel : 세부속성
 */
// 폼 양식
.form {
  &-container {
    @include container;
  }
  &-header {
    @include fixedHeader;
    font-size: $layout-header-font-size;
    font-weight: $layout-header-font-weight;
    color: $layout-header-font-color;
    background-color: $layout-header-bg-color;
    z-index: $z-index-gnb;
    .logo {
      width: 12.5rem; // 200px
      padding: 0 $layout-header-padding; // 0 12px
    }
    .name {
      font-size: $layout-header-font-size;
    }
    .buttons {
      width: 20rem; // 320px
      padding: 0 $layout-header-padding; // 0 12px
      .dropdown {
        &-content {
          visibility: hidden;
          background-color: $layout-header-dropdown-bg-color;
          color: map-get($blues, "hover");
          text-align: center;
          font-size: 1.125rem; // 18px
          margin: 0.6875rem 0 0 0; // 11px
          position: absolute;
          z-index: 500;
          box-shadow: $layout-header-box-shadow;
        }
        &-item {
          padding: 0.6875rem 0.875rem; // 11px 14px
          &:hover { background-color: $layout-header-dropdown-hover-bg-color; }
        }
      }
      .btn-dropdown:hover {
        > .dropdown-content {
          visibility: visible;
          display: block;
        }
        &:last-child > .dropdown-content {
          right: $layout-header-padding; // 12px
        }
      }
    }
  }
  &-component-palette {
    position:fixed;
    top: $layout-header-height;
    left: 0;
    bottom: 0;
    width: $layout-component-palette-width;
    background-color: $layout-component-palette-bg-color;
    border-right: $layout-component-palette-border;
    box-shadow: $layout-component-palette-box-shadow;
    overflow: hidden;

  }
  &-main {
    @include fixedContainer;
    left: $layout-component-palette-width;
    right: $layout-properties-panel-width;
    background-color: $layout-main-bg-color;
    @include scrollbarHidden;
  }
  &-properties-panel-header {
    position:fixed;
    top: $layout-header-height;
    right: 0;
    width: $layout-properties-panel-width;
    height: $layout-properties-panel-header-height;
    font-size: $layout-properties-panel-header-font-size;
    font-weight: $layout-properties-panel-header-font-weight;
    color: $layout-properties-panel-header-font-color;
    background-color: $layout-properties-panel-header-bg-color;
    padding: 0.9375rem; // 15px;
  }
  &-properties-panel {
    @include fixed(calc(#{$layout-header-height} + #{$layout-properties-panel-header-height}), 0, 0, null);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    width: $layout-properties-panel-width;
    background-color: $layout-properties-panel-bg-color;
    border-left: $layout-properties-panel-border;
    box-shadow: $layout-properties-panel-box-shadow;
    padding: 0.9375rem; // 15px;
    overflow-x: hidden;
    overflow-y: auto;
    @include scrollbarHidden;
  }
}
// 아코디언
.component-accordion-box {
  .component-accordion {
    width: 100%;
    input[type=radio] {
      position: absolute;
      opacity: 0;
      z-index: $z-index-hidden;
    }
    .accordion-label {
      height: $accordion-height;
      border-bottom: $accordion-border;
      padding: 0 0.625rem; // 0 10px
      font-size: $accordion-font-size;
      color: $accordion-font-color;
      font-weight: $accordion-font-weight;
      cursor:pointer;
      .arrow-left {
        @include maskImage($icon-arrow-left, 0.75rem, 1.25rem, no-repeat, center, null, map-get($grays, "blue")); // 12px 20px
      }
    }
    .accordion-content {
      height: 0;
      border-bottom: $accordion-border;
      border-bottom-color: transparent;
      overflow: hidden;
      transition: all 0.25s ease-out;

      .component-icon-box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width:100%;
        padding: 0;
        margin: 0;

        .component-icon {
          width: $component-icon-width; // 124px
          height: $component-icon-height;
          text-align: center;
          border: $accordion-border;
          padding: 0.625rem 0; // 10px 0
          margin-top: -0.0625rem; // -1px
          margin-right: -0.0625rem; // -1px
          cursor: move;
          // 홀수
          //&:nth-child(odd) {
          //  border-right: $accordion-border;
          //  border-bottom: $accordion-border;
          //}
          // 짝수
          &:nth-child(even) {
            flex: 1 1 auto;
          }
          &:hover {
            background-color: $component-icon-hover-bg-color;
            > .icon { background: $icon-component-focus-color; }
            > .component-name { color: $icon-component-focus-color; }
          }

          .icon {
            display: inline-block;
          }
          .icon-inputBox { @include maskImage($icon-component-inputBox, 2rem, 2rem, no-repeat, center, 2rem 2rem, $icon-component-color); } // 32px 32px
          .icon-textArea { @include maskImage($icon-component-textArea, 2rem, 2rem, no-repeat, center, 2rem 2rem, $icon-component-color); } // 32px 32px
          .icon-textEditor { @include maskImage($icon-component-textEditor, 2rem, 2rem, no-repeat, center, 2rem 2rem, $icon-component-color); } // 32px 32px
          .icon-dropdown { @include maskImage($icon-component-dropdown, 2rem, 2rem, no-repeat, center, 2rem 2rem, $icon-component-color); } // 32px 32px
          .icon-radio { @include maskImage($icon-component-radio, 2rem, 2rem, no-repeat, center, 2rem 2rem, $icon-component-color); } // 32px 32px
          .icon-checkBox { @include maskImage($icon-component-checkBox, 2rem, 2rem, no-repeat, center, 2rem 2rem, $icon-component-color); } // 32px 32px
          .icon-label { @include maskImage($icon-component-label, 2rem, 2rem, no-repeat, center, 2rem 2rem, $icon-component-color); } // 32px 32px
          .icon-date { @include maskImage($icon-component-date, 2rem, 2rem, no-repeat, center, 2rem 2rem, $icon-component-color); } // 32px 32px
          .icon-time { @include maskImage($icon-component-time, 2rem, 2rem, no-repeat, center, 2rem 2rem, $icon-component-color); } // 32px 32px
          .icon-dateTime { @include maskImage($icon-component-dateTime, 2rem, 2rem, no-repeat, center, 2rem 2rem, $icon-component-color); } // 32px 32px
          .icon-fileUpload { @include maskImage($icon-component-fileUpload, 2rem, 2rem, no-repeat, center, 2rem 2rem, $icon-component-color); } // 32px 32px
          .icon-customCode { @include maskImage($icon-component-customCode, 2rem, 2rem, no-repeat, center, 2rem 2rem, $icon-component-color); } // 32px 32px
          .icon-dynamicRowTable { @include maskImage($icon-component-dynamicRowTable, 2rem, 2rem, no-repeat, center, 2rem 2rem, $icon-component-color); } // 32px 32px
          .icon-ci { @include maskImage($icon-component-ci, 2rem, 2rem, no-repeat, center, 2rem 2rem, $icon-component-color); } // 32px 32px
          .icon-label { @include maskImage($icon-component-label, 2rem, 2rem, no-repeat, center, 2rem 2rem, $icon-component-color); } // 32px 32px
          .icon-image { @include maskImage($icon-component-image, 2rem, 2rem, no-repeat, center, 2rem 2rem, $icon-component-color); } // 32px 32px
          .icon-divider { @include maskImage($icon-component-divider, 2rem, 2rem, no-repeat, center, 2rem 2rem, $icon-component-color); } // 32px 32px

          .component-name {
            display: block;
            padding-top: 0.375rem; // 6px
            color: $gray;
            font-size: 0.875rem; // 14px
          }
          // drag & drop
          &.drag-on {
            .icon { background: $blue; }
            .component-name { color: map-get($grays, "dark"); }
          }
        }
      }
    }
    input[type=radio]:checked {
      + .accordion-label {
        .arrow-left {
          transform: rotate(-90deg);
        }
      }
      ~ .accordion-content {
        height: calc(100vh - (#{$accordion-height} * 4) - #{$layout-header-height});
        border-bottom-color: $accordion-border-color;
        overflow-y: auto;
        @include scrollbarHidden;
      }
    }
  }
}

// drawing board
.drawing-board {
  .drag-ghost {
    opacity: 0.5;
  }
  .drag-in {
    background-color: hexToRGBA(map-get($blues, 'light'), 0.1);
    border: 0.0625rem dashed map-get($blues, "light"); // 1px
  }
  // drag & drop
  .component-icon-drag-in {
    display: inline-block;
    width: 100%;
    height: 7.875rem; // 126px
    background-color: hexToRGBA(map-get($blues, 'light'), 0.1);
    border: 0.0625rem dashed map-get($blues, "light"); // 1px
    .icon { opacity: 0; }
    .component-name { opacity: 0; }
  }

  // 문서 상태에 따라 편집을 막음
  &.edit {
    .zenius-group-label { pointer-events: none; }
  }
}
