/* 세부 속성 디자인 */

.property-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1.25rem; // 20px
  // 라벨
  .property-group-label {
    font-size: $property-group-label-font-size;
    color: $property-group-label-color;
  }
}

.property {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 0.9375rem; // 15px
  flex-basis: calc((100% * var(--data-column, 12)) / 12);
  // 라벨
  .property-label {
    font-size: $property-label-font-size;
    color: $property-label-color;
    padding-bottom: 0.625rem; // 10px
  }
  // margin / padding 등 박스 모델
  .input-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .input {
      width: 4.375rem; // 70px
    }
  }

  .input {
    padding: 0 0.625rem; // 0 10px
    vertical-align: middle;
    width: 100%;
    // clipboard
    &.copy {
      width: 18.38rem; // 294px
    }

    &.icon-unit-search {
      background: url($icon-folder-path + "formRefactoring/unit/icon_unit_search.svg") no-repeat 100%-3 50%;
      background-color: $element-bg-color;
      padding-right: 1.875rem; // 30px
    }

    &.icon-unit-px {
      background: url($icon-folder-path + "formRefactoring/unit/icon_unit_px.svg") no-repeat 100%-3 50%;
      background-color: $element-bg-color;
      padding-right: 1.875rem; // 30px
    }
  }

  .textArea {
    min-height: 7.5rem; // 120px
  }

  .slider {
    .range { width : 75%; }
    .input {
      width: 23%;
      text-align: center;
      margin-left: 2%;
    }
  }

  .select {
    width: 100%;
  }

  .default-type {
    display: flex;
    flex-direction: row;

    .btn-switch { width: 3.75rem; } // 60px
    .input {
      display: block;
      margin-left : 0.625rem; // 10px
      &.off { display: none; }
    }
    .select {
      display: block;
      margin-left: 0.625rem; // 10px
      &.off { display: none; }
    }
  }

}