@import '../template/_tooltip.scss';

// clipboard - 복사 용도
.clipboard-tooltip {
  position: relative;
  display: inline-block;
  margin-left: 0.3125rem; // 5px
  cursor: pointer;

  &:hover {
    .clipboard-tooltip-text {
      visibility: visible;
      opacity: 1;
    }
  }

  .clipboard-tooltip-text {
    visibility: hidden;
    position: absolute;
    width: 9.375rem; //150px
    font-size: $clipboard-tooltip-font-size;
    font-weight: $clipboard-tooltip-font-weight;
    color: $clipboard-tooltip-font-color;
    background-color: $clipboard-tooltip-bg-color;
    border: $clipboard-tooltip-border;
    border-radius: $clipboard-tooltip-border-radius;
    text-align: center;
    padding: 0.313rem; // 5px
    z-index: $z-index-tooltip;
    bottom: 120%;
    left: 50%;
    margin-left: -8.125rem; // -130px
    opacity: 0;
    transition: opacity 0.3s;

    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -0.313rem; // -5px
    }
  }
}

// 도움말용
.help-tooltip {
  display: inline-block;
  margin-left: $tooltip-help-margin;
  vertical-align: middle;

  .help-tooltip-icon {
    display: inline-block;
    cursor: pointer;
    @include maskImage('#{$icon-folder-path}icon_tooltip.svg', $tooltip-help-size, $tooltip-help-size, no-repeat, center, null, $pressed-gray);
  }

  .tooltip-contents {
    position: absolute;
    left: $tooltip-contents-left;
    width: $tooltip-contents-width;
    font-size: $tooltip-font-size;
    color: $tooltip-contents-color;
    border: $tooltip-contents-border;
    border-radius: $tooltip-contents-border-radius;
    padding: $tooltip-contents-padding;
    margin: 0.25rem 0 0 0;
    box-shadow: $tooltip-contents-box-shadow;
    background-color: $tooltip-contents-background;
    visibility: hidden;
    z-index: $z-index-tooltip;
    span {
      color: $point-blue;
      word-break: keep-all;
      line-height: 1.5;
    }
  }

  &:hover {
    .tooltip-contents {
      visibility: visible;
      @include animation (0s, 0.3s, fadeIn, ease-out);
    }
    .help-tooltip-icon {
      background: $tooltip-help-hover-bg-color;
    }
  }
}