/* _alerts.scss 
 *
 * 파일 경로 : template/_alerts.scss
 * @description 알림 모달
 * @author jy.lim
 * @version 1.0
 */
.gmodal {
  &-active {
    overflow: hidden !important;
  }

  &-wrapper {
    display: none;
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &.gmodal-active {
      z-index: 2002;
      display: block;
    }
  }

  &-backdrop {
    z-index: 999999998;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(116, 147, 179, 0.5);
  }

  &-dialog {
    z-index: 999999999;
    border: $alert-border;
    border-radius: $alert-border-size;
    position: absolute;
    top: 8em;
    left: 0;
    right: 0;
    width: 100%;
    line-height: 1;
    max-width: 26.875rem;
    margin: 0 auto 2em auto;
    box-sizing: $alert-box-sizing;
    background: $white;
    box-shadow: $alert-box-shadow;
    padding: 1.5625rem;
  }

  &-title {
    padding: 1em;
    text-align: center;
    font-size: $alert-font-size;
    box-sizing: $alert-box-sizing;
  }

  &-body {
    padding: 0 0 0 3.875rem;  // 0 0 0 62px
    margin-bottom: 2rem;      // 32px
    overflow: auto;
    min-height: 3.4375rem;    //55px
    box-sizing: $alert-box-sizing;
  }

  &-message {
    display: flex;
    align-items: center;
    min-height: 3.5rem;       // 56px
    font-size: $alert-font-size;
    font-weight: $font-weight-medium;
    line-height: 1.7143;
  }

  &-buttons {
    box-sizing: $alert-box-sizing;
    text-align: right;
  }

  &-button {
    border: $alert-border;
    margin: 0rem 0rem 0rem $alert-margin-size;
    padding: 0.4375rem 1.5rem;
    text-align: center;
    color: #3F4B56;
    font-size: $alert-font-size;
    font-weight: $font-weight-medium;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    -webkit-border-radius: $alert-border-size;   // 1px
    -moz-border-radius: $alert-border-size;      // 1px
    border-radius: $alert-border-size;           // 1px
    text-decoration: none;
  }

  &-icon {
    &-success {
      @include background ('#{$icon-folder-path}/alert/icon_alert_success.svg', null, no-repeat, 0, $alert-margin-size, null); // 5px
    }
    &-info {
      @include background ('#{$icon-folder-path}alert/icon_alert_info.svg', null, no-repeat, 0, $alert-margin-size, null);    // 5px
    }
    &-warning {
      @include background ('#{$icon-folder-path}alert/icon_alert_warning.svg', null, no-repeat, 0, $alert-margin-size, null); // 5px
    }
    &-danger {
      @include background ('#{$icon-folder-path}alert/icon_alert_danger.svg', null, no-repeat, 0, $alert-margin-size, null);  // 5px
    }
    &-confirm {
      @include background ('#{$icon-folder-path}alert/icon_alert_confirm.svg', null, no-repeat, 0, $alert-margin-size, null); // 5px
    }
  }
  &-no-icon { padding: 0; }

  &-input {
    width: 100%;

    &-text {
      width: 100%;
      padding-left: 0.438rem;
    }

    &-textarea {
      width: 100%;
      min-height: 5.625rem;
      padding-left: 0.438rem;
    }

    &-label {
      display: block;
      margin: $alert-margin-size 0;  // 5px
    }
  }

  &-required {
    display: none;
    text-align: center;
    font-size: $alert-font-size;
    color: #FF405A;
  }
}

@media only screen and (max-width:53em){
  .gmodal-dialog{
    width: auto;
    margin: 0 auto $alert-margin-size auto;  // 5px
    top: $alert-margin-size;                 // 5px
    right: $alert-margin-size;               // 5px
    left: $alert-margin-size;                // 5px
  }
}
@media only screen and (max-width:32em){
  .gmodal-button{
    display: block;
    margin: 0.5em;
  }
}