/* _alignments.scss 
 *
 * 파일 경로 : template/_alignments.scss
 * @description 정렬, 배치 관련 디자인
 * @author jy.lim
 * @vertionn 1.0
 */

$flex-align-type: (row, column);
@each $direction in $flex-align-type {
    .flex-#{$direction} {
        display: flex;
        flex-direction: #{$direction};
    }
}
