/* _buttons.scss 
 *
 * 파일 경로 : template/_buttons.scss
 * @description 버튼 디자인
 * @author wdj
 * @version 1.0
 */
 button {
  background: inherit ; border:none; box-shadow:none; border-radius:0; padding:0; overflow:visible; cursor:pointer;
}
