/* _color-picker.scss 
 *
 * 파일 경로 : template/_color-picker.scss
 * @description 컬러 피커 디자인
 * @author jy.lim
 * @version 1.0
 */

.color-picker {
  display: flex;
  flex-direction: column;
  .color-input {
    display: inline-flex;
    .selected-color {
      width: $color-picker-color-size;
      height: $color-picker-color-size;
      margin: $color-picker-margin;
      border: transparent;
      cursor: pointer;
      &-box {
        width: $color-picker-box-size;
        height: $color-picker-box-size;
        margin-right: $color-picker-margin;
        border: 0.0625rem solid map-get($gray, "line");
        display: flex;
        &:hover {
          border: 0.0625rem solid $blue; // 1px
        }
      }
    }
  }
}
