/* _color-picker.scss 
 *
 * 파일 경로 : template/_color-picker.scss
 * @description 컬러 피커 디자인
 * @author jy.lim
 * @version 1.0
 */

.color-picker {
    display: flex;
    flex-direction: column;
    .color-input {
        display: inline-flex;
        .selected-color {
            width: $color-picker-color-size;
            height: $color-picker-color-size;
            margin: $color-picker-margin;
            border: 0.1875rem solid #68717c;
            cursor: pointer;
            &-box {
                width: $color-picker-box-size;
                height: $color-picker-box-size;
                margin-right: $color-picker-margin;
                border: 0.0625rem solid $line-gray;
                display: flex;
                &:hover {
                    border: 0.0625rem solid $point-blue; // 1px
                }
            }
        }
    }
}

@mixin color-palette() {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: $white;
    width: $color-picker-palette-width;
    margin-top: $color-picker-margin;
    padding: $color-picker-palette-padding;
    border: 0.0625rem solid $line-gray;
    & div {                          // 컬러 팔레트 내부의 색상표 박스 디자인
        display: inline-block;
        width: $color-picker-colorchip-size;
        height: $color-picker-colorchip-size;
        margin-right: $color-picker-palette-margin;
        margin-bottom: $color-picker-palette-margin;
        cursor: pointer;
        &.selected {
            border: $color-picker-colorchip-border;
            outline: 0.0625rem solid $point-blue;
        }
    }
}

@mixin opacity() {
    background-color: $white;
    width: 100%;
    border: 0.0625rem solid $line-gray; // 1px
    border-top: none;
    padding-left: 0.219rem; // 3.5px
    display: none;
    height: 2.5rem; // 40px
    span {
        display: table-cell;
        vertical-align: middle;
        height: 3rem; // 48px
        input {
            vertical-align: middle;
            width: 1.875rem; // 30px
            height: 2rem; // 32px
        }

        input[type=range] {
            -webkit-appearance: none;

            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                width: 0.625rem; // 10px
                height: 0.625rem; // 10px
                border: 0.0625rem solid #c8ced8;
                border-radius: 50%;
                background: #ffffff;
                cursor: pointer;
            }

            &::-moz-range-thumb {
                width: 0.625rem; //10px
                height: 0.625rem;
                border: 0.0625rem solid #c8ced8;
                border-radius: 50%;
                background: #ffffff;
                cursor: pointer;
            }

            &::-moz-range-progress {
                background-color: $point-blue;
                height: 0.0625rem; // 1px
            }
        }

        input.slide-object {
            width: 9.125rem;   // 146px
            height: 0.0625rem; // 1px
            background: #c8ced8;
            border: initial;
            padding: initial;
            outline: none;
            margin: {
                left: 0.594rem; // 9.5px
                right: 0.625rem; // 10px
            }
        }

        input.slide-input {
            width: 3rem; // 48px
            text-align: center;
        }

        label {
            margin: 0 0 0 0.25rem; // 4px
            width: 0.813rem; // 13px
            height: 1.25rem; // 20px
            line-height: 1.25rem; // 20px
            vertical-align: middle;
        }
    }
}