/* _common.scss 
 *
 * 파일 경로 : template/_common.scss
 * @description 공통으로 사용되는 디자인
 * @author wdj
 * @vertionn 1.0
 */
// 밑줄
.underline {
  text-decoration: underline;
}
// 설명 (description)
.desc {
  color: $warm-gray;
}
// 필수 (*) 표시
.required {
  padding-left: 0.3125rem; //5px
  font-weight: 700;
  &::after {
    color: $red;
    content: '\002a'; // *
  }
}