/* _elements.scss 
 *
 * 파일 경로 : template/_elements.scss
 * @description HTML element 디자인
 * @author wdj
 * @vertionn 1.0
 */
 
 input, button, select, optgroup, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1;
  margin: 0;
}

a:link{text-decoration: none; color: inherit;}
a:visited{text-decoration: none; color: inherit;}
a:hover{text-decoration: none;}
a:active{text-decoration: none;}

button{
  background: inherit ; border:none; box-shadow:none; border-radius:0; padding:0; overflow:visible; cursor:pointer
}

input, button, select, optgroup, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1;
  margin: 0;
}

a:link{text-decoration: none; color: inherit;}
a:visited{text-decoration: none; color: inherit;}
a:hover{text-decoration: none;}
a:active{text-decoration: none;}

button{
  background: inherit ; border:none; box-shadow:none; border-radius:0; padding:0; overflow:visible; cursor:pointer
}