/* _flex.scss
 *
 * 파일 경로 : template/_flex.scss
 * @description flex display 관련 디자인
 * @author jy.lim
 * @version 1.0
 */

$flex-align-type: (row, column);
@each $direction in $flex-align-type {
  .flex-#{$direction} {
    display: flex;
    flex-direction: #{$direction};
  }
}

.inline-flex {
  display: inline-flex;
}

.justify-content-start {
  justify-content: flex-start;
}
.justify-content-end {
  justify-content: flex-end;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}

.align-items-start {
  align-items: flex-start;
}
.align-items-end {
  align-items: flex-end;
}
.align-items-center {
  align-items: center;
}
.align-items-baseline {
  align-items: baseline;
}

.align-self-start {
  align-self: flex-start;
}
.align-self-end {
  align-self: flex-end;
}
.align-self-center {
  align-self: center;
}
.align-self-baseline {
  align-self: baseline;
}

.flex-fill {
  flex: 1 1 auto;
}
.mr-auto {
  margin-right: auto;
}
.ml-auto {
  margin-left: auto;
}