/* _fonts.scss 
 *
 * 파일 경로 : template/_fonts.scss
 * @description 폰트 디자인
 * @author wdj
 * @vertionn 1.0
 */

@mixin font-face($name, $path, $format, $style, $weight) {
    @font-face {
        font-family: $name;
        src: local($name), url($path) format($format);
        font-style: if($style == null, normal, $style);
        font-weight: $weight;
    }
}
