/* _layout.scss
 *
 * 파일 경로 : template/_layout.scss
 * @description HTML layout 관련 디자인
 * @author jy.lim
 * @version 1.0
 */
$properties-box-shadow: -0.0625rem 0.9375rem 0.4375rem 0 rgba(204, 206, 209, 0.6);// -1px 15px 7px 0px $pressed-gray, 불투명도 60%;

.alice-wrapper {
  display: flex;
  max-width: 120rem;
  margin: 0 auto;
}

@mixin container {
  max-width: 120rem;
  margin: 0 auto;
}

@mixin header {
  display: flex;
  position: fixed;
  width: 100vw;
  height: $layout-header-height;
  align-items: center;
}

@mixin properties {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  float: right;
  width: 18.75rem;
  height: $layout-properties-height;
  min-height: $layout-properties-height;
  box-shadow: $layout-properties-box-shadow;
  overflow-y: auto;
}

// 추후 테마 등 추가가 가능한 상황을 고려하여 구성에 포함합니다.
// @mixin footer {}