// 공통으로 사용하고자 하는 디자인 묶음을 mixin으로 정의합니다.

@mixin keyframe($animation_name) {
  @-webkit-keyframes #{$animation_name} {
    @content;
  }

  @-moz-keyframes #{$animation_name} {
    @content;
  }

  @-o-keyframes #{$animation_name} {
    @content;
  }

  @keyframes #{$animation_name} {
    @content;
  }
}
// 애니메이션
@mixin animation($delay, $duration, $name, $timing, $count:1) {
  animation-delay: $delay;
  animation-duration: $duration;
  animation-name: $name;
  animation-timing-function: $timing;
  animation-iteration-count: $count;
}
// 배경 이미지
@mixin background($path, $size, $repeat, $posX, $posY, $color) {
  background-image: url($path);
  background-size: if($size == null, auto, $size);
  background-repeat: if($repeat == null, no-repeat, $repeat);
  background-position-x: if($posX == null, center, $posX);
  background-position-y: if($posY == null, center, $posY);
  @if ($color != null) {
    background-color: $color;
  }
}
// 아이콘
@mixin maskImage($path, $width, $height, $repeat, $pos, $size, $color) {
  @if ($width != null) {
    width: $width;
  }
  @if ($height != null) {
    height: $height;
  }
  -webkit-mask-image: url($path);
  mask-image: url($path);
  -webkit-mask-repeat: if($repeat == null, no-repeat, $repeat);
  mask-repeat: if($repeat == null, no-repeat, $repeat);
  -webkit-mask-position: if($pos == null, center, $pos);
  mask-position: if($pos == null, center, $pos);
  @if ($size != null) {
    -webkit-mask-size: $size;
    mask-size: $size;
  }
  background: $color;
}
// 스크롤은 동작하되 스크롤바는 숨김
@mixin scrollbarHidden {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar { display: none; /* Chrome, Safari, Opera*/ }
}

// 조회 화면 템플릿
@mixin viewTemplate() {
  .view {
    // 제목
    &-title {
      font-size: $layout-view-title-font-size;
      font-weight: $layout-view-title-font-weight;
      color: $layout-view-title-font-color;
      padding-bottom: 0.625rem; // 10px
      margin-bottom: 0.625rem; //10px
      border-bottom: 0.125rem solid $default-gray; // 2px
    }
    // 등록일, 등록자
    &-sub-title {
      font-size: $layout-view-sub-title-font-size;
      font-weight: $layout-view-sub-title-font-weight;
      color: $layout-view-sub-title-font-color;
      padding: 0 1.25rem; // 0 20px
    }
    // 내용
    &-content {
      font-size: $layout-view-content-font-size;
      font-weight: $layout-view-content-font-weight;
      color: $layout-view-content-font-color;
      min-height: 13.4375rem; // 215px
      padding: 0.3125rem 1.25rem; // 5px 20px

      .view-text { margin: 0; }
    }
    // 버튼 영역
    &-btn-content {
      padding: 0.625rem 0 0 0; // 10px 0 0 0
    }
  }
}

@mixin content-header() {
    .header {
        padding: 3.1875rem 3.75rem 3.1875rem 3.75rem; // 51px 60px 51px 60px
        background: $light-gray;
        border-bottom: 0.0625rem solid $line-gray;
    }
}

// 조회화면 템플릿
@mixin view-template() {
  .flex {
    padding: 3.125rem 19.375rem 9.315rem 19.375rem; // 50px 310px 150px 310px
    background-color: $white;
    display: flex;
    flex-grow: 1;
    min-height: calc(100vh - 10.375rem);
    &.flex-column {
      flex-direction: column;
    }
    &.flex-row {
      flex-direction: row;
    }
    .flex-item {
      display: flex;
      &.item-text {
        min-height: 13.4375rem; // 215px
        padding: 0.3125rem 1.25rem; // 5px 20px
        margin-bottom: 0.75rem; // 12px
        span {
          margin: 0;
          white-space: normal;
          word-break: normal;
        }
      }
    }
  }
}

// 입력 및 수정화면 템플릿
@mixin edit-template() {
  background-color: white;
  @include content-header();
  .edit {
    padding-top: 3.125rem; // 50px
    width: 61.25rem; // 980px
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    & .scroll-wrap {
      height: 43.125rem; // 690px
      display: flex;
      flex-direction: column;
      .form-wrap {
        flex: 1;
        overflow: auto;
        padding: 0 1.875rem 0 4.0625rem; // 0 30px 0 65px
      }
    }
    .table-set {
      margin-top: 0.6875rem;
      height: 28.125rem; // 450px
      overflow: auto;
      thead tr {
        border-bottom: 0.125rem solid #E1E3E6;
      }
      tr {
        height: 2.5rem; // 40px
      }
      th {
        font-weight: 500;
        padding: 1rem; // 16px
        vertical-align: middle;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      td {
        padding: 0.75rem 0.75rem 0 0; // 6px 6px 0 0
      }
    }
    .form-set {
      display: flex;
      flex-direction: column;
      margin-top: 0.6875rem; // 11px
      li {
        color: $dark-gray;
        font-weight: 400;
        height: 1.5rem; // 24px
      }
      label {
        font-weight: 500;
        margin-left: 1.25rem; // 20px
        &:first-child {
          margin-left: 0;
        }
      }
      .checkbox-list {
        height: 13.5rem; // 216px
        border: 0.0625rem solid $element-border-color; // 1px
        border-radius: $element-border-radius;
        overflow-y: auto;
        padding: 0.5rem 0.625rem; // 8px 10px
      }
      .radio-list {
        height: 27rem;
        border: 0.0625rem solid $element-border-color; // 1px
        border-radius: $element-border-radius;
        overflow-y: auto;
        padding: 0.5rem 0.625rem; // 8px 10px
      }
      .text-editor {
        height: 12.5rem; // 200px
      }
      .label-row {
        display: flex;
        align-items: center;
      }
    }
  }
}