/* _tooltip.scss 
 *
 * 파일 경로 : template/_tooltip.scss
 * @description 툴팁 디자인
 * @author jy.lim
 * @version 1.0
 */

@include keyframe(fadeIn) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.help-tooltip {
  display: inline-block;
  margin-left: $tooltip-help-margin;
  vertical-align: middle;

  .help-tooltip-icon {
    display: inline-block;
    cursor: pointer;
    @include maskImage('#{$icon-folder-path}icon_tooltip.svg', $tooltip-help-size, $tooltip-help-size, no-repeat, center, null, map-get($grays, "pressed"));
  }

  .tooltip-contents {
    @include absolute($left: $tooltip-contents-left);
    visibility: hidden;
    background-color: $tooltip-contents-background;
    color: $tooltip-contents-color;
    width: $tooltip-contents-width;
    font-size: $tooltip-font-size;
    @include border(0.125rem, solid, $blue, all); // 2xp
    @include borderRadius(0.125rem); // 2px
    padding: $tooltip-contents-padding;
    margin: 0.25rem 0 0 0;
    z-index: $z-index-tooltip;
    @include boxShadow(0, 0, 0.3125rem, 0, hexToRGBA(#1e2f3f, 0.2)); // 5px
    span {
      color: $blue;
      word-break: keep-all;
      line-height: 1.5;
    }
  }

  &:hover {
    .tooltip-contents {
      visibility: visible;
      @include animation (0s, 0.3s, fadeIn, ease-out);
    }
    .help-tooltip-icon {
      background: $blue;
    }
  }
}

.header-tooltip {
  .tooltip-contents {
    @include absolute();
    min-width: $tooltip-header-contents-width;
    visibility: hidden;
    background-color: map-get($blues, "hover");
    color: $white;
    text-align: center;
    font-size: $tooltip-header-contents-size;
    @include borderRadius(0.1875rem); // 3px
    padding: $tooltip-header-contents-padding;
    margin: $tooltip-header-contents-margin;
    z-index: $z-index-tooltip;
    span {
      color: $white;
      font-weight: $font-weight-medium;
    }
  }

  &:hover {
    .tooltip-contents {
      visibility: visible;
      @include animation (0s, 0.3s, fadeIn, ease-out);
    }
  }
}
