// template / 하위 SCSS에서 사용하는 변수 모음
// font family
$font-face-map: (
    "NotoSansKR-Thin.otf":                    100,
    "NotoSansKR-Light.otf":                   300,
    "NotoSansKR-Regular.otf":                 400,
    "NotoSansKR-Medium.otf":                  500,
    "NotoSansKR-Bold.otf":                    700,
    "NotoSansKR-Black.otf":                   900
);
// 폰트 패밀리만 작은 따옴표(') 대신 큰 따옴표 (") 사용
$font-family:                                 "Noto Sans KR", "맑은고딕", "Malgun Gothic", dotum, gulim, sans-serif; 

// font size
$font-size-base:                              1rem !default;  // 16px

// font weight
$font-weight-thin:                            100 !default;
$font-weight-light:                           300 !default;
$font-weight-regular:                         400 !default;
$font-weight-medium:                          500 !default;
$font-weight-bold:                            700 !default;
$font-weight-bolder:                          900 !default;

// asset path
$font-folder-path:                            '../fonts';
$icon-folder-path:                            '../media/icons/';
$image-folder-path:                           '../media/images/';

// color
$black:                                       #000000;
$white:                                       #ffffff;
$red:                                         #FF405A;
$orange:                                      #FF7319;
$green:                                       #00C462;
$focus-black:                                 #283238;
$ground-black:                                #333D47;
$light-black:                                 #3F4B56;
$dark-gray:                                   #586872;
$warm-gray:                                   #7E848C;
$blue-gray:                                   #929AA6;
$gray:                                        #ACB4BF;
$pressed-gray:                                #CCCED1;
$default-gray:                                #E1E3E6;
$line-gray:                                   #EBEBEB;
$light-gray:                                  #F7F8F9;
$dark-blue:                                   #0060A5;
$pressed-blue:                                #0088E6;
$point-blue:                                  #0098FF;
$hover-blue:                                  #33ADFF;
$light-blue:                                  #87CEFF;

// element default
$element-font-size:                           $font-size-base;
$element-font-color:                          $dark-gray;
$element-font-weight:                         $font-weight-regular;
$element-line-height:                         1.2;
$element-bg-color:                            $white;
$element-border-color:                        $line-gray;
$element-border-width:                        0.0625rem; // 1px
$element-border:                              $element-border-width solid $element-border-color;
$element-border-radius:                       0.0625rem; // 1px
$element-indent:                              0.625rem; // 10px 내부 들여쓰기

// 사용자 미입력시 나올 문구 = placeholder
$element-placeholder-font-color:              $gray;

// 키보드 또는 선택시, 해당 element에 포커싱되었을때 사용하는 디자인 변수
$element-focus-border-color:                  $point-blue;
$element-focus-border-width:                  0.0625rem; // 1px
$element-focus-border:                        $element-focus-border-width solid $element-focus-border-color;

// element 마우스 오버시 사용하는 디자인 변수 
$element-hover-border-color:                  $point-blue;
$element-hover-border-width:                  0.0625rem; // 1px
$element-hover-border:                        $element-hover-border-width solid $element-hover-border-color;
$element-hover-box-shadow:                    0 0 0.3125rem 0 rgba(0, 152, 255, 0.2); // 흐림 5px

// element disabled시 사용하는 디자인 변수
$element-disabled-font-color:                 $gray;
$element-disabled-bg-color:                   $light-gray;
$element-disabled-border-color:               $line-gray;
$element-disabled-border-width:               0.0625rem; // 1px

// 체크박스, 라디오 버튼, 스위치 등 선택되었을때 (ON) 디자인 변수
$element-checked-bg-color:                    $point-blue;

//셀렉트 박스 선택되었을때 옵션에 사용하는 디자인 변수
$element-selected-font-color:                 $point-blue;
$element-hover-bg-color:                      rgba(0, 152, 255, 0.08);

// 유효성 검증 실패시 디자인 변수
$element-error-font-color:                    $red !important;
$element-error-border-color:                  $red;
$element-error-border-width:                  0.0625rem; // 1px
$element-error-border:                        $element-error-border-width solid $element-error-border-color !important;

// headings
$h1-font-size:                                $font-size-base * 2.25; // 36px
$h2-font-size:                                $font-size-base * 1.75; // 28px
$h3-font-size:                                $font-size-base * 1.5;  // 24px
$h4-font-size:                                $font-size-base * 1.25; // 20px
$h5-font-size:                                $font-size-base;
$h6-font-size:                                $font-size-base * 0.875; // 14px

$headings-font-color:                         $light-black;
$headings-font-weight:                        $font-weight-medium;
$headings-line-height:                        1.2;

// label
$label-font-color:                            $light-black;
$label-font-size:                             $font-size-base;
$label-font-weight:                           $font-weight-medium;

// table
$table-th-font-weight:                        $font-weight-medium;

// button, a
$btn-font-size:                              $font-size-base;
$btn-font-color:                             $light-black;
$btn-font-weight:                            $font-weight-medium;
$btn-line-height:                            1.2;
$btn-bg-color:                               transparent;
$btn-border-color:                           transparent;
$btn-border-width:                           0.0625rem; // 1px
$btn-border:                                 $btn-border-width solid $btn-border-color;
$btn-border-radius:                          0.1875rem; // 3px

// button-group 디자인 요소
$btn-group-font-size:                        $font-size-base;
$btn-group-font-color:                       $light-black;
$btn-group-font-weight:                      $font-weight-medium;
$btn-group-line-height:                      1.2;
$btn-group-font-color:                       $light-black;
$btn-group-bg-color:                         $white;
$btn-group-border-color:                     $line-gray;
$btn-group-border-width:                     0.0625rem; // 1px
$btn-group-border:                           $btn-group-border-width solid $btn-group-border-color;
$btn-group-border-radius:                    0.1875rem; // 3px

// button-group hover 시 디자인 요소
$btn-group-hover-font-color:                 $light-black;
$btn-group-hover-bg-color:                   rgba(230, 230, 230, 0.3);
$btn-group-hover-border-color:               $line-gray;

// button-group pressed 시 디자인 요소
$btn-group-pressed-font-color:               $point-blue;
$btn-group-pressed-bg-color:                 $white;
$btn-group-pressed-border-color:             $point-blue;

// button-group disabled 시 디자인 요소
$btn-group-disabled-font-color:              $light-black;
$btn-group-disabled-bg-color:                $white;
$btn-group-disabled-border-color:            $line-gray;

// button-group-toggle 디자인 요소
$btn-group-toggle-font-color:                $gray;
$btn-group-toggle-bg-color:                  $light-gray;

// layout-header 디자인 요소
$layout-header-height:                       3.125rem; // 50px
// layout-properties 디자인 요소
$layout-properties-height:                   calc(100vh - #{$layout-header-height});
$layout-properties-box-shadow:               -0.0625rem 0.9375rem 0.4375rem 0 rgba(204, 206, 209, 0.6); // -1px 15px 7px 0px $pressed-gray, 불투명도 60%;

//////////////////////////////// scrollbar ////////////////////////////////
// scrollbar 두께
$scrollbar-thick:                            8px; // 8px
// element 내부 scrollbar 두께
$scrollbar-thick-sm:                         4px; // 4px 
// scrollbar 색상
$scrollbar-color:                            $default-gray;
// scrollbar 모서리 곡선
$scrollbar-border-radius:                     8px; // 8px 
// scrollbar 배경 색상
$scrollbar-bg-color:                         rgba(235,235,235, 0.6);
// scrollbar hover, click 이동시 색상
$scrollbar-hover-color:                      $pressed-gray;

//////////////////////////////// fileuploader ////////////////////////////////
$file-uploader-font-size:                    $font-size-base;
$file-uploader-font-color:                   $dark-gray;
$file-uploader-font-weight:                  $font-weight-regular;
// drag and drop 영역
$dropzone-font-size:                         $font-size-base;
$dropzone-font-color:                        $gray;
$dropzone-font-weight:                       $font-weight-regular;
$dropzone-bg-color:                          $light-gray;
$dropzone-border:                            0.0625rem solid $line-gray; // 1px
// browse click 버튼
$dropzone-clickable-font-color:             $point-blue;
// 미리보기
$file-uploader-preview-height:               5rem; // 80px;
$file-uploader-progress-color:               $point-blue;
$file-uploader-progress-bg-color:            $line-gray;
$file-uploader-filename-font-color:          $dark-gray;
$file-uploader-filesize-font-color:          $gray;
// 파일 미존재시
$file-uploader-no-date-font-color:           $gray;