// template / 하위 SCSS에서 사용하는 변수 모음
// font family
$font-face-map: (
    "NotoSansKR-Thin.otf":                    100,
    "NotoSansKR-Light.otf":                   300,
    "NotoSansKR-Regular.otf":                 400,
    "NotoSansKR-Medium.otf":                  500,
    "NotoSansKR-Bold.otf":                    700,
    "NotoSansKR-Black.otf":                   900
);
// 폰트 패밀리만 작은 따옴표(') 대신 큰 따옴표 (") 사용
$font-family:                                 "Noto Sans KR", "맑은고딕", "Malgun Gothic", dotum, gulim, sans-serif; 

// font size
$font-size-base:                              1rem !default;  // 16px

// font weight
$font-weight-thin:                            100 !default;
$font-weight-light:                           300 !default;
$font-weight-regular:                         400 !default;
$font-weight-medium:                          500 !default;
$font-weight-bold:                            700 !default;
$font-weight-bolder:                          900 !default;

// asset path
$font-folder-path:                            '../fonts';
$icon-folder-path:                            '../media/icons/';
$image-folder-path:                           '../media/images/';

// color
$black:                                       #000000;
$white:                                       #ffffff;
$red:                                         #FF405A;
$orange:                                      #FF7319;
$green:                                       #00C462;
$focus-black:                                 #283238;
$ground-black:                                #333D47;
$light-black:                                 #3F4B56;
$dark-gray:                                   #586872;
$warm-gray:                                   #7E848C;
$blue-gray:                                   #929AA6;
$gray:                                        #ACB4BF;
$pressed-gray:                                #CCCED1;
$default-gray:                                #E1E3E6;
$line-gray:                                   #EBEBEB;
$light-gray:                                  #F7F8F9;
$dark-blue:                                   #0060A5;
$pressed-blue:                                #0088E6;
$point-blue:                                  #0098FF;
$hover-blue:                                  #33ADFF;
$light-blue:                                  #87CEFF;

// element default
$element-font-size:                           $font-size-base;
$element-font-color:                          $dark-gray;
$element-font-weight:                         $font-weight-regular;
$element-line-height:                         1.2;
$element-bg-color:                            $white;
$element-border-color:                        $line-gray;
$element-border-width:                        0.0625rem; // 1px
$element-border:                              $element-border-width solid $element-border-color;
$element-border-radius:                       0.0625rem; // 1px
$element-indent:                              0.625rem; // 10px 내부 들여쓰기

// 사용자 미입력시 나올 문구 = placeholder
$element-placeholder-font-color:              $gray;

// 키보드 또는 선택시, 해당 element에 포커싱되었을때 사용하는 디자인 변수
$element-focus-border-color:                  $point-blue;
$element-focus-border-width:                  0.0625rem; // 1px
$element-focus-border:                        $element-focus-border-width solid $element-focus-border-color;

// element 마우스 오버시 사용하는 디자인 변수 
$element-hover-border-color:                  $point-blue;
$element-hover-border-width:                  0.0625rem; // 1px
$element-hover-border:                        $element-hover-border-width solid $element-hover-border-color;
$element-hover-box-shadow:                    0 0 0.3125rem 0 rgba(0, 152, 255, 0.2); // 흐림 5px

// element disabled시 사용하는 디자인 변수
$element-disabled-font-color:                 $gray;
$element-disabled-bg-color:                   $light-gray;
$element-disabled-border-color:               $line-gray;
$element-disabled-border-width:               0.0625rem; // 1px

// 체크박스, 라디오 버튼, 스위치 등 선택되었을때 (ON) 디자인 변수
$element-checked-bg-color:                    $point-blue;

//셀렉트 박스 선택되었을때 옵션에 사용하는 디자인 변수
$element-selected-font-color:                 $point-blue;
$element-hover-bg-color:                      rgba(0, 152, 255, 0.08);

// 유효성 검증 실패시 디자인 변수
$element-error-font-color:                    $red !important;
$element-error-border-color:                  $red;
$element-error-border-width:                  0.0625rem; // 1px
$element-error-border:                        $element-error-border-width solid $element-error-border-color !important;

// headings
$h1-font-size:                                $font-size-base * 2.25; // 36px
$h2-font-size:                                $font-size-base * 1.75; // 28px
$h3-font-size:                                $font-size-base * 1.5;  // 24px
$h4-font-size:                                $font-size-base * 1.25; // 20px
$h5-font-size:                                $font-size-base;
$h6-font-size:                                $font-size-base * 0.875; // 14px

$headings-font-color:                         $light-black;
$headings-font-weight:                        $font-weight-medium;
$headings-line-height:                        1.2;

// label
$label-font-color:                            $light-black;
$label-font-size:                             $font-size-base;
$label-font-weight:                           $font-weight-medium;

// table
$table-th-font-size:                          1.125rem; // 18px
$table-th-font-weight:                        $font-weight-medium;

// button, a
$btn-font-size:                              $font-size-base;
$btn-font-color:                             $light-black;
$btn-font-weight:                            $font-weight-medium;
$btn-line-height:                            1.2;
$btn-bg-color:                               transparent;
$btn-border-color:                           transparent;
$btn-border-width:                           0.0625rem; // 1px
$btn-border:                                 $btn-border-width solid $btn-border-color;
$btn-border-radius:                          0.1875rem; // 3px

// button-group 디자인 요소
$btn-group-font-size:                        $font-size-base;
$btn-group-font-color:                       $light-black;
$btn-group-font-weight:                      $font-weight-medium;
$btn-group-line-height:                      1.2;
$btn-group-font-color:                       $light-black;
$btn-group-bg-color:                         $white;
$btn-group-border-color:                     $line-gray;
$btn-group-border-width:                     0.0625rem; // 1px
$btn-group-border:                           $btn-group-border-width solid $btn-group-border-color;
$btn-group-border-radius:                    0.1875rem; // 3px

// button-group hover 시 디자인 요소
$btn-group-hover-font-color:                 $light-black;
$btn-group-hover-bg-color:                   rgba(230, 230, 230, 0.3);
$btn-group-hover-border-color:               $line-gray;

// button-group pressed 시 디자인 요소
$btn-group-pressed-font-color:               $point-blue;
$btn-group-pressed-bg-color:                 $white;
$btn-group-pressed-border-color:             $point-blue;

// button-group disabled 시 디자인 요소
$btn-group-disabled-font-color:              $light-black;
$btn-group-disabled-bg-color:                $white;
$btn-group-disabled-border-color:            $line-gray;

// button-group-toggle 디자인 요소
$btn-group-toggle-font-color:                $gray;
$btn-group-toggle-bg-color:                  $light-gray;

//////////////////////////////// layout ////////////////////////////////
$layout-header-height:                       3.125rem; // 50px
$layout-properties-width:                    18.75rem; // 300px

//////////////////////////////// scrollbar ////////////////////////////////
// scrollbar 두께
$scrollbar-thick:                            0.5rem; // 8px
// element 내부 scrollbar 두께
$scrollbar-thick-sm:                         0.25rem; // 4px
// scrollbar 색상
$scrollbar-color:                            $default-gray;
// scrollbar 모서리 곡선
$scrollbar-border-radius:                     0.5rem; // 8px
// scrollbar 배경 색상
$scrollbar-bg-color:                         rgba(235,235,235, 0.6);
// scrollbar hover, click 이동시 색상
$scrollbar-hover-color:                      $pressed-gray;

///////////////////////////////// columns /////////////////////////////////
// Column width (fixed)
$column-init: 5rem; // 80px
$column-1: $column-init * 1; // 80px
$column-2: $column-init * 2; // 160px
$column-3: $column-init * 3; // 240px
$column-4: $column-init * 4; // 320px
$column-5: $column-init * 5; // 400px
$column-6: $column-init * 6; // 480px
$column-7: $column-init * 7; // 560px
$column-8: $column-init * 8; // 640px
$column-9: $column-init * 9; // 720px
$column-10: $column-init * 10; // 800px
$column-11: $column-init * 11; // 880px
$column-12: $column-init * 12; // 960px

//////////////////////////////// fileuploader ////////////////////////////////
$file-uploader-font-size:                    $font-size-base;
$file-uploader-font-color:                   $dark-gray;
$file-uploader-font-weight:                  $font-weight-regular;
// drag and drop 영역
$dropzone-font-size:                         $font-size-base;
$dropzone-font-color:                        $gray;
$dropzone-font-weight:                       $font-weight-regular;
$dropzone-bg-color:                          $light-gray;
$dropzone-border:                            0.0625rem solid $line-gray; // 1px
// browse click 버튼
$dropzone-clickable-font-color:              $point-blue;
// 미리보기
$file-uploader-preview-height:               5rem; // 80px;
$file-uploader-progress-color:               $point-blue;
$file-uploader-progress-bg-color:            $line-gray;
$file-uploader-filename-font-color:          $dark-gray;
$file-uploader-filesize-font-color:          $gray;
// 파일 미존재시
$file-uploader-no-date-font-color:           $gray;

//////////////////////////////// avatar ////////////////////////////////
$avatar-font-size:                           $font-size-base;
$avatar-font-color:                          $light-black;
$avatar-font-weight:                         $font-weight-medium;
// drag and drop 영역
$avatar-dropzone-width:                      20.63rem; // 330px
$avatar-dropzone-height:                     20.63rem; // 330px
$avatar-dropzone-sm-width:                   9.375rem; // 150px
$avatar-dropzone-sm-height:                  9.375rem; // 150px
$avatar-dropzone-font-size:                  $font-size-base;
$avatar-dropzone-font-color:                 $gray;
$avatar-dropzone-font-weight:                $font-weight-regular;
$avatar-dropzone-bg-color:                   $light-gray;
$avatar-dropzone-border:                     0.0625rem solid $line-gray; // 1px
// browse click 버튼
$avatar-dropzone-clickable-font-color:       $point-blue;
// description
$avatar-desc-font-size:                      $font-size-base;
$avatar-desc-font-color:                     $gray;
$avatar-desc-font-weight:                    $font-weight-regular;

///////////////////////////////// date picker /////////////////////////////////
$datepicker-font-size:                       $font-size-base;
$datepicker-font-color:                      $dark-gray;
$datepicker-font-weight:                     $font-weight-regular;
$datepicker-line-height:                     1.2;
$datepicker-bg-color:                        $white;
$datepicker-border-color:                    $line-gray;
$datepicker-border-width:                    0.0625rem; // 1px
$datepicker-border:                          $datepicker-border-width solid $datepicker-border-color;
$datepicker-border-radius:                   0.0625rem; // 1px
$datepicker-border-box-shadow:               0 0 0.3125rem 0 rgba(235, 235, 235, 1); // 0 0 5px 0 $line-gray
$datepicker-hover-color:                     $point-blue;
// focus
$datepicker-focus-border-color:              $point-blue;
$datepicker-focus-border-width:              0.0625rem; // 1px
$datepicker-focus-border:                    $datepicker-focus-border-width solid $datepicker-focus-border-color;
// title
$datepicker-title-font-size:                 1.125rem; // 18px
$datepicker-title-font-color:                $light-black;
$datepicker-title-font-weight:               $font-weight-medium;
// sub title
$datepicker-sub-title-font-size:             $font-size-base;
$datepicker-sub-title-font-color:            $dark-gray;
$datepicker-sub-title-font-weight:           $font-weight-regular;
$datepicker-sub-title-bg-color:              $light-gray;
// cell
$datepicker-cell-font-color:                 $gray;
// current cell
$datepicker-current-cell-font-color:         $dark-gray;
// selected cell
$datepicker-selected-cell-font-color:        $white;
$datepicker-selected-cell-bg-color:          $point-blue;;
// time
$datepicker-time-font-size:                  1.75rem; // 28px
$datepicker-time-font-color:                 $light-black;
$datepicker-time-font-weight:                $font-weight-medium;
// toggle button
$datepicker-btn-border-radius:               0.0625rem; // 1px

///////////////////////////////// text editor /////////////////////////////////
$text-editor-font-size:                      $font-size-base;
$text-editor-font-color:                     $dark-gray;
$text-editor-font-weight:                    $font-weight-regular;
$text-editor-line-height:                    1.5;
$text-editor-border-color:                   $line-gray;
$text-editor-bg-color:                       $white;
$text-editor-border-width:                   0.0625rem; // 1px
$text-editor-border:                         $text-editor-border-width solid $text-editor-border-color;
$text-editor-toolbar-font-size:              $font-size-base;
$text-editor-toolbar-font-color:             $light-black;
$text-editor-toolbar-font-weight:            $font-weight-medium;
$text-editor-toolbar-box-shadow:             0 0 0.3125rem 0 $line-gray;
// text editor의 hover와 pressec 는 동일한 디자인이다.
$text-editor-toolbar-hover-font-color:       $light-black;
$text-editor-toolbar-hover-bg-color:         $line-gray;
$text-editor-toolbar-selected-font-color:    $point-blue;

///////////////////////////////// tree /////////////////////////////////
$tree-folder-path:                           '/../media/icons/tree';
$tree-font-size:                             $font-size-base;
$tree-font-color:                            $light-black;
$tree-font-weight:                           $font-weight-medium;
// tree 간격
$tree-line-height:                           1.875rem; // 30px
$tree-bg-color:                              $light-gray;
$tree-line-color:                            $default-gray;
$tree-line-width:                            0.0625rem; // 1px
$tree-line:                                  $tree-line-width solid $tree-line-color;
// +, - icon
$tree-toggle-icon-width:                     0.875rem; // 14px
// folder icon
$tree-folder-icon-width:                     1.438rem; // 23px
// folder icon margin left
$tree-folder-margin-left:                    0.5rem; // 8px
// line 위치 계산
$tree-indentation:                           calc((#{$tree-toggle-icon-width} / 2) + #{$tree-folder-margin-left} + (#{$tree-folder-icon-width} / 2));
// node 선택
$tree-selected-border-color:                 $point-blue;
$tree-selected-border-width:                 0.0625rem; // 1px;
$tree-selected-border:                       $tree-selected-border-width solid $tree-selected-border-color;
$tree-selected-bg-color:                     rgba(0, 152, 255, 0.05);
$tree-hover-bg-color:                        rgba(0, 152, 255, 0.05);

///////////////////////////////// modal //////////////////////////////
// 모달 오픈시 바탕 어둡게
$modal-backdrop-bg-color:                    rgba(116, 147, 179, 0.5);
$modal-border-color:                         $line-gray;
$modal-bg-color:                             $white;
$modal-border-width:                         0.0625rem; // 1px
$modal-border:                               $modal-border-width solid $modal-border-color;
$modal-box-shadow:                           0 0 0.3125rem 0 $line-gray; // 흐림 5px, $line-gray
// 모달 제목
$modal-title-font-size:                      1.5rem; // 24px
$modal-title-font-color:                     $light-black;
$modal-title-font-weight:                    $font-weight-medium;

///////////////////////////////// alert //////////////////////////////
$alert-font-size:                            1rem;
$alert-border-size:                          0.0625rem;  // 1px
$alert-border:                               solid $alert-border-size $line-gray;  // 1px
$alert-margin-size:                          0.3125rem;  // 5px
$alert-box-sizing:                           border-box;
$alert-box-shadow:                           0 0 $alert-margin-size $alert-margin-size rgba(116, 147, 179, 0.25);

///////////////////////////// color-picker ///////////////////////////
$color-picker-color-size:                    1.75rem;    // 28px
$color-picker-box-size:                      2.5rem;     // 40px
$color-picker-margin:                        0.3125rem;  // 5px
// color-picker palette
$color-picker-palette-width:                 30rem;      // 480px
$color-picker-palette-margin:                0.3125rem;  // 5px
$color-picker-palette-padding:               1.25rem 0 0.625rem 1.25rem; // 20px 0 10px 20px;
$color-picker-colorchip-size:                2.5rem;     // 40px
$color-picker-colorchip-margin:              0.625rem;   // 10px
$color-picker-colorchip-border:              0.375rem solid $white;      // 6px

////////////////////////////// thumbnail /////////////////////////////
$thumbnail-asset-path:                       "../media/icons/thumbnail";
$thumbnail-font-family:                      "Noto Sans KR";
$thumbnail-font-size:                        1rem; // 16px;
$thumbnail-font-weight:                      400; // regulalr
$thumbnail-font-color:                       $gray;
$thumbnail-border-color:                     $line-gray;
$thumbnail-background-color:                 $white;
$thumbnail-selected-border-color:            $point-blue;
$thumbnail-selected-background-color:        rgba(0, 152, 255, 0.05);
$thumbnail-container-height:                 100%;
$thumbnail-container-padding:                0;
$thumbnail-margin:                           0.4375rem; // 7px
$thumbnail-box-shadow:                       0 0 0.0625rem 0.0625rem $thumbnail-border-color; // 1px

$thumbnail-modal-backdrop-color:             rgba(116, 147, 179, 0.5);
$thumbnail-modal-dialog-width:               77.5rem; // 1240px;
$thumbnail-modal-dialog-box-shadow:          0 0 0.3125rem 0.3125rem rgba(116, 147, 179, 0.25); // 5px
$thumbnail-modal-close-in-color:             #333333;
$thumbnail-modal-close-out-color:            #CCCCCC;
$thumbnail-btn-default-color:                $white;
$thumbnail-btn-red-color:                    #e51c23;
$thumbnail-btn-blue-color:                   #007aff;
$thumbnail-btn-green-color:                  #00ca3c;
$thumbnail-btn-gray-color:                   #969696;

/////////////////////////////// tooltip ///////////////////////////////
$tooltip-help-size:                          1rem; // 16px
$tooltip-help-margin:                        0.3125rem; // 5px
$tooltip-font-size:                          1rem; // 16px
$tooltip-contents-background:                $white;
$tooltip-contents-color:                     $point-blue;
$tooltip-contents-left:                      0;
$tooltip-contents-width:                     100%;
$tooltip-contents-border:                    0.125rem; // 2px
$tooltip-contents-padding:                   1.0625rem 0.9375rem 0.9375rem 0.9375rem; // 17px 15px 15px 15px
$tooltip-contents-box-shadow:                0 0 0.3125rem 0 rgba(30, 47, 63, 0.2); // 5px

