<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/itsm/itsmLayout}">
<!--/* 화면을 좌우로 분할하여 좌측에서는 트리, 우측에는 편집화면이 출력되는 트리/편집 화면 레이아웃 */-->
<body>
<th:block layout:fragment="pageContent">
    <div class="flex-row flex-fill pb-5">
        <div class="z-page-column-item flex-column">
            <!--/* 페이지별 검색 */-->
            <div layout:fragment="pageSearching" class="z-page-search"></div>
            <!--/* 페이지별 트리 */-->
            <div layout:fragment="pageTree" class="z-page-tree"></div>
        </div>
        <div class="z-page-column-item flex-column">
            <!--/* 편집 영역 */-->
            <div layout:fragment="pageEdit" class="z-page-edit"></div>
        </div>
    </div>
</th:block>
</body>
</html>
