<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>
<body>
<table class="z-list-table">
    <thead class="z-list-head">
        <tr class="flex-row align-items-center">
            <th style="width: 20%;" class="align-left" th:text="#{chart.label.name}"></th>
            <th style="width: 20%;" class="align-left" th:text="#{chart.label.type}"></th>
            <th style="width: 25%;" class="align-left" th:text="#{chart.label.description}"></th>
            <th style="width: 10%;" class="align-center" th:text="#{common.label.preview}"></th>
            <th style="width: 10%;" class="align-left" th:text="#{common.label.writer}"></th>
            <th style="width: 15%;" class="align-left" th:text="#{common.label.writeDate}"></th>
        </tr>
    </thead>
    <tbody class="z-list-body">
        <tr class="flex-row align-items-center no-data-found-list" th:if="${#arrays.isEmpty(chartList)}">
            <td style="width:100%;" colspan="6" class="align-center" th:text="#{common.msg.noData}"></td>
        </tr>
        <tr class="flex-row align-items-center" th:unless="${#arrays.isEmpty(chartList)}" th:each="chart: ${chartList}">
            <td style="width: 20%;" class="align-left underline pointer">
                <a sec:authorize="hasAuthority('chart.update')" th:text="${chart.chartName}"
                   th:href="@{/charts/{id}/edit(id=${chart?.chartId})}">
                </a>
            </td>
            <td style="width: 20%;" class="align-left" th:text="#{|chart.${chart.chartType}|}"></td>
            <td style="width: 25%;" class="align-left" th:text="${chart.chartDesc}"></td>
            <td style="width: 10%;" class="align-center">
                <button type="button" class="z-button-icon form" sec:authorize="hasAuthority('chart.create') || hasAuthority('chart.update')"
                        th:onclick="openChartViewModal([[${chart.chartId}]], [[${chart.chartType}]], [[${chart.chartName}]])">
                    <span class="z-icon i-popup"></span>
                </button>
            </td>
            <td style="width: 10%;" class="align-left" th:text="${chart.createUserName}"></td>
            <td style="width: 15%;" class="align-left date-time" th:text="${chart.createDt}"></td>
        </tr>
    </tbody>
</table>
<th:block th:replace="layout/itsm/fragment/totalCountFragment :: totalCountDataFragment"></th:block>
</body>
</html>
