<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/itsm/pageType/pagingListLayout}">
<head>
    <title th:text="#{chart.label.chartList}"></title>
</head>
<th:block layout:fragment="pageHead">
    <script th:src="@{/assets/vendors/highCharts/highcharts.js}"></script>
    <script th:src="@{/assets/vendors/highCharts/highcharts-more.js}"></script>
    <script th:src="@{/assets/vendors/highCharts/modules/no-data-to-display.js}"></script>
    <script th:src="@{/assets/vendors/highCharts/modules/exporting.js}"></script>
    <script th:src="@{/assets/vendors/highCharts/modules/solid-gauge.js}"></script>
    <script th:src="@{/assets/vendors/highCharts/plugin/pattern-fill-v2.js}"></script>
    <script th:src="@{/assets/js/chart/zChart.js}"></script>
</th:block>
<body>
<div layout:fragment="pageTitle">
    <h1 th:text="#{chart.label.chartList}"></h1>
    <h6 class="description ml-2 pl-2" th:text="#{chart.msg.searchDescription}"></h6>
</div>
<div layout:fragment="pageSearching">
    <input type="hidden" sec:authorize="hasAuthority('chart.create') || hasAuthority('chart.update')"
           th:name="isRole" th:value="true"/>
    <input type="hidden" sec:authorize="!hasAuthority('chart.create') && !hasAuthority('chart.update')"
           th:name="isRole" th:value="false"/>
    <form id="searchFrm">
        <select id="searchGroupName" name="searchGroupName" class="col-3 mr-2">
            <option value="" th:text="#{chart.label.all}" selected></option>
            <option th:each="type:${typeList}" th:value="${type.codeValue}" th:text="${type.codeName}"></option>
        </select>
        <th:block th:replace="layout/itsm/fragment/totalCountFragment :: totalCountFragment"></th:block>
    </form>
    <div class="ml-auto">
        <button type="button" class="z-button secondary" sec:authorize="hasAuthority('chart.create')"
                th:text="#{common.btn.add}" onclick="location.href='/charts/new'"></button>
    </div>
</div>
<div layout:fragment="pageList">
    <input type="hidden" id="deletable" th:value="${#authorization.expression('hasAuthority(''chart.delete'')')}"/>
    <div class="z-list-content flex-row" id="chartList"></div>
</div>
</body>
<script layout:fragment="pageScript" th:inline="javascript">
    /*<![CDATA[*/
    const CHART_YEAR = 'Y';
    const CHART_MONTH = 'M';
    const CHART_DAY = 'D';
    const CHART_HOUR = 'H';
    const PIE_CHART = 'chart.pie';
    const STACKED_COLUMN_CHART = 'chart.stackedColumn';
    const STACKED_BAR_CHART = 'chart.stackedBar';
    const LINE_AND_COLUMN_CHART = 'chart.lineAndColumn';
    const BASIC_LINE_CHART = 'chart.basicLine';
    const ACTIVITY_GAUGE_CHART = 'chart.activityGauge';

    window.onload = function () {
        document.getElementById('searchGroupName').addEventListener('change', function () {
            getList();
        });
        getList();
    }

    /**
     * Chart 검색
     */
    function getList(pageNum = 1) {
        const opt = {
            method: 'get',
            url: '/charts?' + aliceJs.serialize(document.getElementById('searchFrm')) + '&pageNum=' + pageNum,
            async: false,
            showProgressbar: false,
            callbackFunc: function (response) {
                document.getElementById('chartList').innerHTML = response.responseText;
                setDateTimeFormat(document.getElementById('chartList'));
            }
        };
        aliceJs.sendXhr(opt);
    }

    /**
     * 서버에서 전달받은 데이터의 날짜 포맷을 변경한다.
     */
    function setDateTimeFormat(elem) {
        elem.querySelectorAll('.date-time').forEach(dt => {
            dt.textContent = i18n.userDateTime(dt.textContent.trim());
        });
    }

    /**
     * Chart view 화면 호출 (Modal)
     */
    function openChartViewModal(chartId, chartType, chartName) {
        let modalOptions = {
            title: chartName,
            body: createModalContent(),
            classes: 'chart-view-modal',
            buttons: [{
                content: i18n.msg('common.btn.close'),
                classes: 'z-button secondary',
                bindKey: false,
                callback: function (modal) {
                    modal.hide();
                }
            }],
            close: {
                closable: false,
            },
            onCreate: function () {
                getChart(chartId, chartType);
            }
        };

        const chartViewModal = new modal(modalOptions);
        chartViewModal.show();
    }

    function createModalContent() {
        return `<div class="chart-edit-content">` +
            `<div class="flex-column" id="getChart"></div>` +
            `</div>`;
    }

    function getChart(chartId, chartType) {
        const opt = {
            method: 'get',
            url: '/charts/' + chartId + '/preview',
            contentType: 'application/json',
            showProgressbar: false,
            callbackFunc: function (response) {
                document.getElementById('getChart').innerHTML = response.responseText;
                setChart(chartType, document.getElementById('propertyJson').value);
                parsedPropertyJson(
                    chartType,
                    document.getElementById('chartConfig').value,
                    document.getElementById('propertyJson').value
                );
            }
        };
        aliceJs.sendXhr(opt);
    }

    function parsedPropertyJson(chartType, chartConfig, property) {
        chart.parsedPropertyJson(chartType, chartConfig, property);
    }

    /** 하이차트 초기화 */
    function setChart(chartType, property) {
        chart = new ZChart('container', chartType, property);
    }

    /*]]>*/
</script>
</html>
