<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<!--<input type="hidden" id="propertyJson" name="propertyJson" th:value="|${chart?.propertyJson}|"/>-->
<!--<input type="hidden" id="chartConfig" name="chartConfig" th:value="|${chart?.chartConfigStr}|"/>-->
<input type="hidden" id="tags" name="tags" th:value="|${chart?.tags}|"/>
<div class="flex-column z-edit-row mt-2">
    <div id="container" class="flex-row flex-wrap z-chart-content-view"/>
</div>
</body>
</html>
