<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/itsm/pageType/commonSearchLayout}">
<head>
    <title th:text="#{dashboard.label.dashboard}"></title>
</head>
<body>
<div layout:fragment="pageTitle">
    <h1 th:text="#{dashboard.label.dashboard}"></h1>
    <h6 class="description ml-2 pl-2" th:text="#{dashboard.msg.viewDescription}"></h6>
</div>
<div layout:fragment="pageSearchResult">
    <h3 class="sub-title" th:text="#{dashboard.label.statistics}"></h3>
    <div id="statistic" class="flex-row">
        <div class="statistic-box flex-row align-items-center mr-4" th:each="statistic: ${dashboardStatistic}">
            <table class="statistic-table">
                <thead>
                <tr>
                    <td th:switch="${statistic.type}" class="align-center" rowspan="2">
                        <img th:case="todo" class="z-icon" height="50%" width="50%"
                             th:src="@{/assets/theme/{theme}/media/icons/dashboard/Icon_todo_document.svg(theme=${#authentication.details.theme})}">
                        <img th:case="running" class="z-icon" height="50%" width="50%"
                             th:src="@{/assets/theme/{theme}/media/icons/dashboard/Icon_running_document.svg(theme=${#authentication.details.theme})}">
                        <img th:case="monthDone" class="z-icon" height="50%" width="50%"
                             th:src="@{/assets/theme/{theme}/media/icons/dashboard/Icon_month_done_document.svg(theme=${#authentication.details.theme})}">
                        <img th:case="done" class="z-icon" height="50%" width="50%"
                             th:src="@{/assets/theme/{theme}/media/icons/dashboard/Icon_done_document.svg(theme=${#authentication.details.theme})}">
                    </td>
                    <td th:switch="${statistic.type}" colspan="2">
                        <h4 th:case="todo" class="flex-row" th:text="#{dashboard.label.todoDocument}"></h4>
                        <h4 th:case="running" class="flex-row" th:text="#{dashboard.label.runningDocument}"></h4>
                        <h4 th:case="monthDone" class="flex-row" th:text="#{dashboard.label.monthDoneDocument}"></h4>
                        <h4 th:case="done" class="flex-row" th:text="#{dashboard.label.doneDocument}"></h4>
                    </td>
                </tr>
                <tr>
                    <td class="align-left" colspan="2">
                        <h1 class="statistic-header-type" name="total" th:text="${statistic.total}"></h1>
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="align-center">
                        <img class="z-icon" height="35%" width="35%"
                             th:src="@{/assets/theme/{theme}/media/icons/dashboard/icon_incident.svg(theme=${#authentication.details.theme})}">
                    </td>
                    <td>
                        <h5 class="flex-row" th:text="#{dashboard.label.incident}"></h5>
                    </td>
                    <td>
                        <h5 class="statistic-type" name="incident" th:text="${statistic.incident}"></h5>
                    </td>
                </tr>
                <tr>
                    <td class="align-center">
                        <img class="z-icon" height="35%" width="35%"
                             th:src="@{/assets/theme/{theme}/media/icons/dashboard/icon_inquiry.svg(theme=${#authentication.details.theme})}">
                    </td>
                    <td>
                        <h5 class="flex-row" th:text="#{dashboard.label.inquiry}"></h5>
                    </td>
                    <td>
                        <h5 class="statistic-type" name="inquiry" th:text="${statistic.inquiry}"></h5>
                    </td>
                </tr>
                <tr>
                    <td class="align-center">
                        <img class="z-icon" height="35%" width="35%"
                             th:src="@{/assets/theme/{theme}/media/icons/dashboard/icon_request.svg(theme=${#authentication.details.theme})}">
                    </td>
                    <td>
                        <h5 class="flex-row" th:text="#{dashboard.label.request}"></h5>
                    </td>
                    <td>
                        <h5 class="statistic-type" name="request" th:text="${statistic.request}"></h5>
                    </td>
                </tr>
                <tr>
                    <td class="align-center">
                        <img height="35%" width="35%"
                             th:src="@{/assets/theme/{theme}/media/icons/dashboard/icon_etc.svg(theme=${#authentication.details.theme})}">
                    </td>
                    <td>
                        <h5 class="flex-row" th:text="#{dashboard.label.etc}"></h5>
                    </td>
                    <td>
                        <h5 class="statistic-type" name="etc" th:text="${statistic.etc}"></h5>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <form id="frmSearch">
        <input type="hidden" id="searchTokenType" name="searchTokenType" value="token.type.todo" />
        <input type="hidden" id="searchDocumentId" name="searchDocumentId" value="" />
        <input type="hidden" id="searchValue" name="searchValue" value="" />
        <input type="hidden" id="searchFromDt" name="searchFromDt" class="search-date" />
        <input type="hidden" id="toDt" name="toDt" class="search-date" />
        <input type="hidden" id="searchToDt" name="searchToDt" class="search-date" />
        <input type="hidden" id="searchTags" name="searchTags" value="" />
    </form>
    <h3 class="sub-title">처리할 문서</h3>
    <div class="scroll-wrap">
        <div id="tokenList"></div>
    </div>
</div>
<script layout:fragment="pageScript" type="text/javascript" th:inline="javascript">
    /*<![CDATA[ */
    let offsetCount = 0;
    window.onload = function () {
        setInterval(function () {
            getStatistic();
        }, aliceJs.autoRefreshPeriod
            )
    }

    window.addEventListener('load', function () {
        document.getElementById('searchFromDt').value = i18n.getDate({'months': -3});
        document.getElementById('toDt').value = i18n.getDate();
        tokenSearch(false);
        aliceJs.openNoticePopup(/*[[${noticePopUp}]]*/);
    });

    /**
     * 문서함을 검색한다.
     */
    function tokenSearch(isScroll) {
        let urlParam = '';
        document.getElementById('searchToDt').value = i18n.makeUserDate(document.getElementById('toDt').value, {'days': 1});
        if (isScroll) {
            if (offsetCount === 0) {
                offsetCount = aliceJs.searchDataCount;
            }
        } else {
            offsetCount = 0;
        }
        urlParam = aliceJs.serialize(document.getElementById('frmSearch')) + '&offset=' + offsetCount + '&isScroll=' + isScroll;
        restSubmit('get', '/tokens?' + urlParam, isScroll);
        document.querySelectorAll('input[name=tokenTagList]').forEach(function (tagInput) {
            new zTag(tagInput, {
                suggestion: false,
                realtime: false,
                tagType: 'instance'
            });
        });
    }

    function restSubmit(method, url, isScroll) {
        const opt = {
            method: method,
            url: url,
            async: false,
            showProgressbar: false,
            callbackFunc: function (response) {
                if (isScroll) {
                    if (aliceJs.isEnableScrollEvent(offsetCount)) {
                        offsetCount = offsetCount + aliceJs.searchDataCount;
                    }
                    let tempDiv = document.createElement('div');
                    tempDiv.innerHTML = response.responseText;
                    setDateTimeFormat(tempDiv);
                    document.querySelector('.dashboard-content .card-list').insertAdjacentHTML('beforeend', tempDiv.innerHTML);
                } else {
                    document.getElementById('tokenList').innerHTML = response.responseText;
                    setDateTimeFormat(document.getElementById('tokenList'));
                    OverlayScrollbars(document.querySelector('.z-page-content'), {
                        className: 'scrollbar',
                        callbacks: {
                            onScroll: function (e) {
                                const scrollHeight = e.target.scrollHeight;
                                const scrollTop = e.target.scrollTop;
                                const clientHeight = e.target.clientHeight;
                                if (isScrollbarBottom(scrollHeight, scrollTop, clientHeight)) {
                                    if (aliceJs.isEnableScrollEvent(offsetCount)) {
                                        tokenSearch(true);
                                    }
                                }
                            }
                        }
                    });
                }
            }
        };
        aliceJs.sendXhr(opt);
    }

    /**
     * 서버에서 전달받은 데이터의 날짜 포맷을 변경한다.
     */
    function setDateTimeFormat(elem) {
        elem.querySelectorAll('.date-time').forEach(dt => {
            dt.title = i18n.userDateTime(dt.textContent.trim());
            dt.textContent = dateFormatFromNow(dt.textContent.trim());
        });
    }

    /**
     * 클릭한 문서를 연다. 완료된 문서일 경우 보기 화면을 연다.
     */
    function openTokenEdit(tokenId) {
        let popUpUrl = '/tokens/' + tokenId + '/edit';
        window.open(popUpUrl, 'token_' + tokenId, 'width=' + (screen.width - 50) + ', height=' + (screen.height - 150));
    }

    /**
     * 주기적으로 업무통계 데이터들을 새로고침해준다.
     */
    function getStatistic() {
        aliceJs.fetchJson('/rest/dashboard/statistic', {
            method: 'get'
        }).then((result) => {
            let total = document.querySelectorAll('h1[name=total]');
            let incident = document.querySelectorAll('h5[name=incident]');
            let inquiry = document.querySelectorAll('h5[name=inquiry]');
            let request = document.querySelectorAll('h5[name=request]');
            let etc = document.querySelectorAll('h5[name=etc]');

            for (let i = 0; i < result.length; i++) {
                total[i].innerHTML = result[i].total;
                incident[i].innerHTML = result[i].incident;
                inquiry[i].innerHTML = result[i].inquiry;
                request[i].innerHTML = result[i].request;
                etc[i].innerHTML = result[i].etc;
            }
        })
    }
    /* ]]> */
</script>
</body>
</html>
