<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <style>
        table {
            width: 100%;
            border: 1px solid;
            border-collapse: collapse;
            text-align: center;
        }
    </style>
</head>
<body>
<div>
    <table border="1">
        <colgroup>
            <col width="30%">
            <col width="30%">
            <col width="30%">
        </colgroup>
        <thead>
        <tr>
            <th th:text="#{dashboard.label.status.wait}"></th>
            <th th:text="#{dashboard.label.status.running}"></th>
            <th th:text="#{dashboard.label.status.finish}"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:each="statusCount: ${statusCountList}" th:text="${statusCount.instanceCount}" th:id="${statusCount.instanceStatus}"></td>
            <td colspan="3" th:if="${#arrays.isEmpty(statusCountList)}" th:text="#{dashboard.label.status.noData}"></td>
        </tr>
<!--        <tr>-->
<!--            <td th:each="statusCount: ${statusCountList}" th:if="${statusCountList.instanceStatus == 'running'}" th:text="${statusCount.instanceCount}"></td>-->
<!--        </tr>-->
        </tbody>
    </table>
</div>
</body>
</html>
