<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/defaultLayout">
<head>
    <title th:text="#{dashboard.label.dashboard}"></title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="dashboard-header">
        <div class="header-title flex-row align-items-baseline">
            <h1 th:text="#{token.label.list}"></h1>
            <h6 class="description" th:text="#{dashboard.msg.viewDescription}"></h6>
        </div>
    </div>
    <div class="dashboard-content flex-fill">
        <h3 class="sub-title">업무통계</h3>
        <div id="statistic" class="flex-row">
            <div class="statistic-box flex-row align-items-center mr-4">
                <img th:src="@{/assets/theme/{theme}/media/images/dashboard/img_dashboard_document.png(theme=${#authentication.details.theme})}">
                <div class="statistic-info">
                    <h3 class="statistic-count flex-row">1</h3>
                    <span class="statistic-type">처리할 문서</span>
                </div>
            </div>
            <div class="statistic-box flex-row align-items-center mr-4">
                <img th:src="@{/assets/theme/{theme}/media/images/dashboard/img_dashboard_daily.png(theme=${#authentication.details.theme})}">
                <div class="statistic-info">
                    <h3 class="statistic-count flex-row">0(3)</h3>
                    <span class="statistic-type">오늘</span>
                </div>
            </div>
            <div class="statistic-box flex-row align-items-center mr-4">
                <img th:src="@{/assets/theme/{theme}/media/images/dashboard/img_dashboard_weekly.png(theme=${#authentication.details.theme})}">
                <div class="statistic-info">
                    <h3 class="statistic-count flex-row">4(5)</h3>
                    <span class="statistic-type">이번 주</span>
                </div>
            </div>
            <div class="statistic-box flex-row align-items-center">
                <img th:src="@{/assets/theme/{theme}/media/images/dashboard/img_dashboard_monthly.png(theme=${#authentication.details.theme})}">
                <div class="statistic-info">
                    <h3 class="statistic-count flex-row">11(12)</h3>
                    <span class="statistic-type">이번 달</span>
                </div>
            </div>
        </div>
        <form id="frmSearch">
            <input type="hidden" id="searchTokenType" name="searchTokenType" value="token.type.todo" />
            <input type="hidden" id="searchDocumentId" name="searchDocumentId" value="" />
            <input type="hidden" id="searchValue" name="searchValue" value="" />
            <input type="hidden" id="searchFromDt" name="searchFromDt" class="search-date" />
            <input type="hidden" id="toDt" name="toDt" class="search-date" />
            <input type="hidden" id="searchToDt" name="searchToDt" class="search-date" />
            <input type="hidden" id="searchTags" name="searchTags" value="" />
        </form>
        <h3 class="sub-title">처리할 문서</h3>
        <div class="scroll-wrap">
            <div id="tokenList"></div>
        </div>
    </div>
</th:block>
<th:block layout:fragment="pageScript">
    <script type="text/javascript">
        /*<![CDATA[ */
        let offsetCount = 0;
        window.addEventListener('load', function () {
            document.getElementById('searchFromDt').value = i18n.getDate({'months': -3});
            document.getElementById('toDt').value = i18n.getDate();

            /*aliceJs.sendXhr({
                method: 'GET',
                url: '/dashboard/statistic',
                callbackFunc: function (response) {
                    document.getElementById('statistic').innerHTML = response.responseText;
                }
            });*/
            tokenSearch(false);
        });

        /**
         * 문서함을 검색한다.
         */
        function tokenSearch(isScroll) {
            let urlParam = '';
            document.getElementById('searchToDt').value = i18n.makeUserDate(document.getElementById('toDt').value, {'days': 1});
            if (isScroll) {
                if (offsetCount === 0) {
                    offsetCount = aliceJs.searchDataCount;
                }
                urlParam = aliceJs.serialize(document.getElementById('frmSearch')) + '&offset=' + offsetCount;
                restSubmit('get', '/rest/tokens?' + urlParam, isScroll);
            } else {
                offsetCount = 0;
                urlParam = aliceJs.serialize(document.getElementById('frmSearch')) + '&offset=' + offsetCount;
                restSubmit('get', '/tokens?' + urlParam, isScroll);
            }
        }

        function restSubmit(method, url, isScroll) {
            const opt = {
                method: method,
                url: url,
                async: false,
                showProgressbar: false,
                callbackFunc: function (response) {
                    if (isScroll) {
                        let dataList = JSON.parse(response.responseText);
                        if (dataList.length > 0) {
                            document.getElementById('totalCount').value = dataList[0].totalCount;
                            if (aliceJs.isEnableScrollEvent(offsetCount)) {
                                offsetCount = offsetCount + aliceJs.searchDataCount;
                                dataList.forEach(function (data) {
                                    getDataTemplate(data);
                                });
                            }
                        }
                    } else {
                        document.getElementById('tokenList').innerHTML = response.responseText;
                        document.querySelectorAll('.create-dt').forEach(tokenCreateDt => {
                            tokenCreateDt.title = i18n.userDateTime(tokenCreateDt.textContent.trim());
                            tokenCreateDt.textContent = dateFormatFromNow(tokenCreateDt.textContent.trim());
                        });
                        OverlayScrollbars(document.querySelector('.scroll-wrap'), {
                            className: 'scrollbar',
                            callbacks: {
                                onScroll: function (e) {
                                    const scrollHeight = e.target.scrollHeight;
                                    const scrollTop = e.target.scrollTop;
                                    const clientHeight = e.target.clientHeight;
                                    if (scrollHeight - scrollTop === clientHeight) {
                                        if (aliceJs.isEnableScrollEvent(offsetCount)) {
                                            tokenSearch(true);
                                        }
                                    }
                                }
                            }
                        });
                    }
                }
            };
            aliceJs.sendXhr(opt);
        }

        function getDataTemplate(data) {
             let divList = document.querySelector('.dashboard-content .card-list');

            let divCard = document.createElement('div');
            divCard.className = 'card flex-row';
            divCard.addEventListener('click', function (e) {
                if (document.getElementsByName('isRole')[0].value) {
                    openTokenEdit(data.tokenId);
                }
            }, false);

            let divDocumentColor = document.createElement('div');
            divDocumentColor.className = 'document-color';
            divDocumentColor.style.backgroundColor = data.documentColor;

            let divDocumentRow = document.createElement('div');
            divDocumentRow.className = 'document-row flex-row justify-content-between';

            let divDocumentRowContent = document.createElement('div');
            divDocumentRowContent.className = 'document-row-content';

            let divDocumentTitle = document.createElement('div');
            divDocumentTitle.className = 'document-title flex-row align-items-center';

            let h3DocumentName = document.createElement('h3');
            h3DocumentName.className = 'mr-2 text-ellipsis';
            h3DocumentName.innerText = data.documentName;

            let spanDocumentNo = document.createElement('span');
            spanDocumentNo.className = 'document-numbering text-ellipsis';
            spanDocumentNo.innerText = data.documentNo;

            let divDocumentTopic = document.createElement('div');
            divDocumentTopic.className = 'document-topic';

            for (let i = 0; i < data.topics.length; i++) {
                let labelTopic = document.createElement('label');
                labelTopic.innerText = data.topics[i];
                divDocumentTopic.appendChild(labelTopic);
            }

            let divDocumentRowInfo = document.createElement('div');
            divDocumentRowInfo.className = 'document-row-info';

            let divDocumentDetail = document.createElement('div');
            divDocumentDetail.className = 'document-detail flex-row align-items-center';

            let divDocumentUser = document.createElement('div');
            divDocumentUser.className = 'document-user inline-flex align-items-center justify-content-center';

            let imgProfilePhoto = document.createElement('img');
            imgProfilePhoto.className = 'profile-photo mr-2';
            imgProfilePhoto.style.width = '32px';
            imgProfilePhoto.style.height = '32px';
            imgProfilePhoto.alt = 'profile pic';
            imgProfilePhoto.src = data.avatarPath;

            let spanCreateUserName = document.createElement('span');
            spanCreateUserName.className = 'user-name';
            spanCreateUserName.innerText = data.createUserName;

            let spanUserVerticalBar = document.createElement('span');
            spanUserVerticalBar.className = 'vertical-bar';

            let spanNameVerticalBar = document.createElement('span');
            spanNameVerticalBar.className = 'vertical-bar';

            let spanCreateDt = document.createElement('span');
            spanCreateDt.className = 'create-dt';
            spanCreateDt.title = i18n.userDateTime(data.createDt);
            spanCreateDt.innerText = dateFormatFromNow(data.createDt);

            let spanElementName = document.createElement('span');
            spanElementName.className = 'element-name';
            spanElementName.innerText = data.elementName;

            let documentTag = document.createElement('div');
            documentTag.className = 'document-tag';
            for (let i = 0; i < data.tags.length; i++) {
                let spanTag = document.createElement('span');
                spanTag.className = 'tag align-center text-ellipsis';
                spanTag.innerText = data.tags[i];
                documentTag.appendChild(spanTag);
            }

            divDocumentTitle.appendChild(h3DocumentName);
            divDocumentTitle.appendChild(spanDocumentNo);
            divDocumentRowContent.appendChild(divDocumentTitle);
            divDocumentRowContent.appendChild(divDocumentTopic);

            divDocumentUser.appendChild(imgProfilePhoto);
            divDocumentUser.appendChild(spanCreateUserName);

            divDocumentDetail.appendChild(divDocumentUser);
            divDocumentDetail.appendChild(spanUserVerticalBar);
            divDocumentDetail.appendChild(spanCreateDt);
            divDocumentDetail.appendChild(spanNameVerticalBar);
            divDocumentDetail.appendChild(spanElementName);

            divDocumentRowInfo.appendChild(divDocumentDetail);
            divDocumentRowInfo.appendChild(documentTag);

            divDocumentRow.appendChild(divDocumentRowContent);
            divDocumentRow.appendChild(divDocumentRowInfo);

            divCard.appendChild(divDocumentColor);
            divCard.appendChild(divDocumentRow);

            divList.appendChild(divCard);
        }

        /**
         * 클릭한 문서를 연다. 완료된 문서일 경우 보기 화면을 연다.
         */
        function openTokenEdit(tokenId) {
            let popUpUrl = '/tokens/' + tokenId + '/edit';
            window.open(popUpUrl, 'token_' + tokenId, 'width=' + (screen.width - 50) + ', height=' + (screen.height - 150));
        }

        /* ]]> */
    </script>
</th:block>
</body>
</html>
