<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/itsm/pageType/commonSearchLayout}">
<head>
    <title th:text="#{dashboard.label.dashboard}"></title>
</head>
<th:block layout:fragment="pageHead">
    <script th:src="@{/assets/vendors/highCharts/highcharts.js}"></script>
    <script th:src="@{/assets/vendors/highCharts/highcharts-more.js}"></script>
    <script th:src="@{/assets/vendors/highCharts/modules/no-data-to-display.js}"></script>
    <script th:src="@{/assets/vendors/highCharts/modules/exporting.js}"></script>
    <script th:src="@{/assets/vendors/highCharts/modules/solid-gauge.js}"></script>
    <script th:src="@{/assets/vendors/highCharts/modules/stock.js}"></script>
    <script th:src="@{/assets/vendors/highCharts/plugin/pattern-fill-v2.js}"></script>
</th:block>
<body>
<div layout:fragment="pageTitle">
    <h1 th:text="#{dashboard.label.dashboard}"></h1>
    <h6 class="description ml-2 pl-2" th:text="#{dashboard.msg.viewDescription}"></h6>
</div>
<div layout:fragment="pageSearchResult">
    <div class="flex-row mb-4">
    <!-- 부서별 요청현황 -->
    <div class="flex-column component">
        <div class="component-title flex-row mb-4">
            <span th:text="${template?.result[0].title}"></span>
        </div>
        <div id="container" class="contents contents__req-organization"></div>
    </div>
    <!-- 개인 요청현황 -->
    <div class="flex-column ml-auto component">
        <div class="component-title flex-row mb-4">
            <span th:text="${template?.result[1].title}"></span>
        </div>
        <div class="contents">
            <table class="contents__req-user">
                <thead>
                <tr class="contents__req-user-total">
                    <td class="contents__req-user-title pl-5 col-2 text-gray700">
                        <span th:text="#{dashboard.label.requestUnprocessedCount}"></span>
                    </td>
                    <td class="align-center col-1">
                        <h1 th:text="${#arrays.length(template?.result[1].result)} > 0 ? ${#aggregates.sum(template?.result[1].result.![count])} : 0"></h1>
                    </td>
                </tr>
                </thead>
                <tbody th:if="${#arrays.length(template?.result[1].result)} > 0">
                    <tr class="contents__req-user-contents" th:each="request:${template?.result[1].result}">
                        <td class="contents__req-user-title pl-5 col-2">
                            <h3 class="text-ellipsis pt-2" th:text="${request.documentName}" th:title="${request.documentName}"></h3>
                        </td>
                        <td class="align-center col-1"><h2 th:text="${request.count}"></h2></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
    <!-- 요청현황 -->
    <div class="flex-column component">
        <div class="component-title flex-row mb-2">
            <span th:text="#{dashboard.label.requestStatus}"></span>
            <span id="organizationName" class="text-gray600 pl-4"></span>
        </div>
        <div class="contents contents__req-status">
            <div class="grid"></div>
        </div>
    </div>
</div>
</body>
<th:block layout:fragment="pageScript">
    <script th:inline="javascript" type="text/javascript">
    /*<![CDATA[ */
        const DATE_TYPE = [ 'date', 'time', 'dateTime' ];

        window.onload = function () {
            const container = /*[[${template.result[0].result}]]*/ "";

            // 태그 데이터 변환
            container.tags.forEach(tag => {
                if (typeof tag.value === 'undefined' && typeof tag.tagValue !== 'undefined') {
                    tag.value = tag.tagValue;
                }
            });
            // 차트 초기화
            zChartManager.load(container);
            // 차트 데이터 업데이트
            zChartManager.update(container.chartData);

            updateReqStatus();

            OverlayScrollbars(document.querySelector('.contents__req-user'), {className: 'inner-scrollbar'});
            OverlayScrollbars(document.querySelector('.contents__req-status'), {
                className: 'inner-scrollbar',
                overflowBehavior: {
                    y: 'hidden'
                }
            });
        }

        /**
         * 요청현황 데이터를 업데이트한다.
         * 부서별 업무현황에서 클릭한 부서 정보가 있을 경우 해당 부서의 요청현황 목록을 검색한다.
         */
        function updateReqStatus(organizationId) {
            console.log(organizationId);
            // 업무현황 grid 초기화
            const gridElem = document.querySelector('.grid');
            gridElem.innerHTML = '';

            // 업무현황 dummy data load
            fetch('../../assets/js/temp/thirdComponentDummy.json')
                .then(response => { return response.json(); })
                .then(data => {
                    // todo: 테스트 용 추가 코드 (organizationId 여부에 따라 다르게 나오는지 확인)
                    data.contents = organizationId ? data.contents : {};

                    // sub title
                    document.querySelector('#organizationName').textContent = organizationId ? data.organizationName : i18n.msg('dashboard.label.all');

                    // grid column width
                    document.querySelector('.grid').style.setProperty('--data-columns-width', data.columnWidth.toString().trim().replaceAll(',', ' '));

                    // grid header
                    const gridHeadElem = document.createElement('div');
                    gridHeadElem.className = 'grid__head';
                    let gridHead = '';
                    const headerRow = document.createElement('div');
                    headerRow.className = 'grid__row';
                    data.columnTitle.forEach( title => {
                        gridHead = gridHead.concat(
                            `<div class="grid__cell pr-2 pl-2" data-grid-sortable="false">${title}</div>`
                        );
                    });
                    headerRow.insertAdjacentHTML('beforeend', gridHead);
                    gridHeadElem.appendChild(headerRow);
                    gridElem.appendChild(gridHeadElem);

                    // grid body
                    const gridBodyElem = document.createElement('div');
                    gridBodyElem.className = 'grid__body';
                    if (Object.keys(data.contents).length > 0) { // 요청사항 내역이 있는 경우
                        for (let i = 0; i < Object.keys(data.contents).length; i++) {
                            const gridRowElem = document.createElement('div');
                            gridRowElem.className = 'grid__row';

                            let gridContent = `<div class="grid__cell pr-2 pl-2">${i + 1}</div>`;
                            data.contents[i].forEach( (value, index) => {
                                // columnType에 따라 데이터 변환
                                const columnType = data.columnType[index + 1];
                                value = DATE_TYPE.includes(columnType) ? convertDate(columnType, value): value;

                                gridContent = gridContent.concat(
                                    `<div class="grid__cell">${value}</div>`
                                );
                            });
                            gridRowElem.insertAdjacentHTML('beforeend', gridContent);
                            gridBodyElem.appendChild(gridRowElem);
                        }
                    } else { // 요청사항 내역이 없는 경우
                        const noDataElem = document.createElement('div');
                        const gridCell = document.createElement('div');
                        noDataElem.classList.add('grid__row', 'grid--noData');
                        gridCell.classList.add('grid__cell');
                        gridCell.textContent = i18n.msg('common.msg.noData');
                        noDataElem.appendChild(gridCell);
                        gridBodyElem.appendChild(noDataElem);
                    }
                    gridElem.appendChild(gridBodyElem);
                    OverlayScrollbars(document.querySelector('.grid__body'), { className: 'inner-scrollbar' });

                });
        }

        /**
         * column Type에 따라 date type 변환
         */
        function convertDate(type, date) {
            const types = {
                'date' : i18n.userDate(date),
                'dateTime' : i18n.userDateTime(date),
                'time' : i18n.userTime(date)
            }
            return types[type] || '';
        }

    /* ]]> */
    </script>
    <script type="module">
        import ZChart from '../../assets/js/chart/zChart.js';

        const zChartManager = {
            load: function(data) {
                // 개별 정의 차트 옵션
                const userOption = {
                    chart: {
                        events: {
                            redraw: function () {
                                const ticks = this.xAxis[0].ticks;
                                const points = this.series[0].points;
                                points.forEach(function (point, i) {
                                   if (ticks[i]) {
                                       const label = ticks[i].label.element;
                                       label.addEventListener('click', function () {
                                           updateReqStatus(point.linkKey);
                                           test(event.point.linkKey);
                                       });
                                   }
                                });
                            }
                        },
                        marginTop: 40
                    },
                    title: {
                        style: { display: 'none' }
                    },
                    xAxis: {
                        min: 0,
                        max: 10
                    },
                    yAxis: {
                        title: {
                            text: i18n.msg('dashboard.label.requestUnprocessedCount')
                        }
                    }
                };
                // 차트 초기화
                this.zChart = new ZChart('container', data, userOption);
            },
            update: function (data) {
                // 데이터 업데이트
                this.zChart.update(data);
            },
            destroy: function () {
                if (this.zChart) {
                    this.zChart.destroy();
                    this.zChart = null;
                    delete this.zChart;
                }
            }
        }
        window.zChartManager = zChartManager;

        function test(id) {
            console.log(id);
            aliceJs.fetchText('/template' + urlParam, {
                method: 'GET'
            }).then((htmlData) => {

            });
        }
    </script>
</th:block>
</html>
