spring: 
    datasource: 
        hikari.maximum-pool-size: 10
        platform: postgres
        url: ENC(YbJqvHIZCJfoeXSAtzK59GtHmcQFMS3vh/emNM5vzl1bHUzGIiNoFwfkcZGg4idmmB0NbibwMy4r5SAIwc1Udw==) #jdbc:log4jdbc:postgresql://10.0.10.175:32784/itsm 
        username: ENC(C4bWbxHAbRqyUnYZQNlsjA==) # itsm
        password: ENC(Nkoufw9FfHXYGOYykZFpqA==) # itsm123
        driver-class-name: ENC(Arw4J0ZjOrhA7dVeRVgnR7n1SbuwU+e2b1TUmlskxnRbd0/Zf/hRY5wf4PEk43DU) # net.sf.log4jdbc.sql.jdbcapi.DriverSpy
    jpa: 
        database: POSTGRESQL
        show-sql: true
    data.jpa.repositories.bootstrap-mode: lazy
    thymeleaf: 
        suffix: .html
        mode: HTML
        cache: false
        prefix: classpath:/public/template/
        enabled: true
        encoding: UTF-8
    # multipart max upload size
    servlet: 
        multipart.max-file-size: 2MB
        multipart.max-request-size: 2MB
    # developer option. hot swap
    devtools: 
        livereload.enabled: true
        restart.enabled: true
    # https://support.google.com/accounts/answer/185833?p=InvalidSecondFactor&visit_id=637112185418770392-2382070392&rd=1
    mail: 
        host: smtp.gmail.com
        port: 587
        username: brainz.zitsm
        password: vyemkkpeoavujich
        properties:
            mail:  
                smtp.auth: true
                smtp.starttls.enable: true
        titleName: Alice
server: 
    port: 443
    protocol: https
    ssl:
     enabled: true
     key-store: classpath:public\key\itsm.jks
     key-store-password: itsm123 
     key-password: itsm123
     key-alias: itsm
     trust-store: classpath:public\key\itsm.ts
     trust-store-password: itsm123
# upload file directory (default: tomcat)
file.upload.dir: D:\\
    
jasypt.encryptor.bean: jasyptStringEncryptor