/* button 공통 */
button { // 기본 버튼 : ghost
    display: inline-block;
    font-size: $button-font-size;
    line-height: $button-line-height;
    font-weight: $button-font-weight;
    color: $button-font-color; 
    background-color: $button-bg-color;
    border: $button-border;
    border-radius: 0.1875rem; // 3px
    text-align: center;
    user-select: none;
    white-space: nowrap;
    vertical-align: middle;
    opacity: 1;
    cursor: pointer;
    padding: 0.4375rem 1.5rem; // 7px 24px

    &:focus,
    &:hover {
        outline: 0;
        background-color: rgba(230, 230, 230, 0.3); // #E6E6E6
    }

    &:disabled {
        background-color: $white;
        opacity: 0.3;
        cursor: default;
    }

    &:not(:disabled) {
        &:active { // pressed
            background-color: $line-gray;
        }
    }

    &.default-line {
        color: $light-black;
        background-color: $white;
        border: 0.0625rem solid $line-gray; // 1px
        &:focus,
        &:hover {
            outline: 0;
            background-color: rgba(230, 230, 230, 0.3);
        }

        &:disabled {
            opacity: 0.3;
        }

        &:not(:disabled) {
            &:active { // pressed
                background-color: $line-gray;
                border: 0.0625rem solid $pressed-gray; // 1px
            }
        }
    }

    &.default-fill {
        color: $light-black; 
        background-color: $default-gray;
        border: 0.0625rem solid transparent; // 1px
        &:focus,
        &:hover {
            outline: 0;
            background-color: $line-gray;
        }

        &:disabled {
            opacity: 0.3;
        }

        &:not(:disabled) {
            &:active { // pressed
                background-color: $pressed-gray;
            }
        }
    }

    &.point-line {
        color: $point-blue;
        background-color: $white;
        border: 0.0625rem solid $point-blue; // 1px
        &:focus,
        &:hover {
            outline: 0;
            background-color: rgba(0, 152, 255, 0.1);
        }

        &:disabled {
            opacity: 0.3;
        }

        &:not(:disabled) {
            &:active { // pressed
                background-color: $hover-blue;
                opacity: 0.3;
            }
        }
    }

    &.point-fill {
        color: $white;
        background-color: $point-blue;
        border: 0.0625rem solid transparent; // 1px
        &:focus,
        &:hover {
            outline: 0;
            background-color: $hover-blue;
        }

        &:disabled {
            opacity: 0.3;
        }

        &:not(:disabled) {
            &:active { // pressed
                background-color: $pressed-blue;
            }
        }
    }
}

.button-group {
    display: inline-flex;
    vertical-align: middle;
    position: relative;
    button {
        flex: 1 1 auto;
        color: $light-black;
        background-color: $white;
        border: 0.0625rem solid $line-gray; // 1px
        &:first-child {
            margin-left: 0;
        }
        span.icon { // 아이콘이 존재한다면
            display: inline-block;
            background: $light-black;
        }
        &.active {
            color: $point-blue;
            background-color: $white;
            border-color: $point-blue;
            span.icon {
                background: $point-blue;
            }
        }
    }
    button:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    button:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right-color: transparent;
    }
}

.button-group-toggle {
    button {
        color: $gray;
        background-color: $light-gray;
        border: 0.0625rem solid $line-gray; // 1px
        span.icon {
            background: $gray;
        }
        &.active {
            color: $point-blue;
            background-color: $white;
            border-color: $point-blue;
            span.icon {
                background: $point-blue;
            }
        }
    }
}