/* 컴포넌트 */
:root {
    --data-column: 12;
    --data-row: 2;
}

.component {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 100%;
    border: $component-border;
    padding: 1.25rem 2.125rem 1.25rem 0.8125rem; // 20px 34.8px 20px 13px

    .move-handler {
        // drag and drop icon
        display: none;
        width: 0.625rem; // 10px
        height: 0.75rem; // 12px
        margin: 0 0.5rem 0 0; // 0 8.8px 0 0
        content: '';
        cursor: move;
        opacity: 0;
        background: $component-move-handler-color;
        -webkit-mask-image: url("#{$form-asset-path}/editor/icon_component_move.svg");
        mask-image: url("#{$form-asset-path}/editor/icon_component_move.svg");
    }

    .field-group {
        // label + display
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;

        .field-label {
            // label
            flex-basis: calc((100% * var(--data-column, #{$column-row})) / #{$column-row});
            padding-right: 0.938rem; // 15px;
            // 라벨 정렬
            &.left {
                text-align: left;
            }
            &.center {
                text-align: center;
            }
            &.right {
                text-align: right;
            }
            &.hidden {
                display: none;
            }

            .label {
                display: inline-block;
            }
        }

        // 라벨 위치가 top일 경우 라벨 위치 조정용 필드
        .field-empty {
            flex-basis: calc(100% * (#{$column-row} - var(--data-column, #{$column-row})));
            &:not(.top) {
                display: none;
            }
        }

        .field-content {
            flex-basis: calc((100% * var(--data-column, #{$column-row})) / #{$column-row});

            &.horizontal div {
                display: inline-block;
            }

            > input[type=text] {
                width: 100%;
                padding-left: $component-indent-padding-left;
            }

            textarea {
                width: 100%;
                height: calc(2.5rem * var(--data-row)); // quill editor 높이 : 40 * row 갯수
                padding: $component-indent-padding-left;
            }

            .editor-container { // text editor
                height: calc(2.5rem * var(--data-row)); // quill editor 높이 : 40 * row 갯수
            }

            select {
                width: 100%;
                padding-left: $component-indent-padding-left;
            }

            .datepicker,
            .datetimepicker {
                background: $input-bg-color url("#{$datepicker-asset-path}/icon_calendar.svg") no-repeat 98% 50%;
            }
            .timepicker {
                background: $input-bg-color url("#{$datepicker-asset-path}/icon_clock.svg") no-repeat 98% 50%;
            }

            .picker-wrapper-date {
                // datepicker
                width: 100%;
                .picker-main {
                    width: 100%;
                    height: 2.5rem; // 40px
                }
            }

            //radio button
            .field-radio {
                margin: 0 0.625rem 0 0; // 0px 10px 0px 0px
                span:first-of-type {
                    padding-right: 0.4375rem; // 7px
                }
            }

            //checkbox 
            .field-checkbox {
                margin: 0 0.625rem 0 0; // 0px 10px 0px 0px
                span:first-of-type {
                    padding-right: 0.4375rem;
                }
            }

            &.vertical {
                .field-checkbox,
                .field-radio {
                    display: table;
                    margin-bottom: 0.625rem; //10px
                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }

            &.left {
                text-align: left;
            }
            &.center {
                text-align: center;
            }
            &.right {
                text-align: right;
            }

            //image 컴포넌트
            .img-placeholder {
                display: none;
                font-size: $img-font-size;
                line-height: $img-line-height;
                font-weight: $img-font-weight;
                color: $img-placeholder-color;
                height: 8.75rem;
                // 140px
                border: $img-border;
                background-color: $img-bg-color;
                text-align: center;
                margin: 0 1.875rem; // 0 30px
                padding: 1.25rem 0 0.625rem; // 20px 0 10px 0
                img {
                    content: url("#{$form-asset-path}/editor/icon_imageupload_s.svg");
                }
                p {
                    margin: 0.625rem 0 0; // 10px 0 0 0
                }
            }

            .field-img[src=""] {
                display: none;
                + .img-placeholder {
                    display: block;
                }
            }

            //divider
            hr {
                border-bottom-width: 0;
            }

            //custom-code 
            &.custom-code {
                display: flex;
                input[type=text] {
                    background-color: $input-bg-color;
                    &:read-only {
                        pointer-events: none;
                    }
                }
                input[type=button] {
                    flex: 1 1 auto;
                    width: 6.875rem; // 110px
                    height: 2.5rem; // 40px
                    white-space: nowrap;
                    border: $input-border;
                    border-left: 0;
                    background-color: $input-bg-color;
                    cursor: pointer;
                }
            }
        }
    }

    // tooltip menu
    .tooltip-menu {
        visibility: hidden;
        position: absolute;
        background-color: $component-bg-color;
        height: 2.5rem; // 40px;
        box-shadow: 0 0 0 0.0625rem $component-pressed-border-color inset; // 1px
        bottom: 100%;
        right: -0.0625rem; // -1px
        .menu {
            margin: 0 0.125rem; // 0 2px
            padding: 0.5625rem 0 0; // 9px 0 0 0
            .menu-item {
                display: inline-block;
                a {
                    margin: 0 0.25rem; // 0 4px
                    padding: 0 0.5rem; // 0 8px
                    span.icon {
                        display: inline-block;
                        width: 1.25rem; // 20px
                        height: 1.25rem; // 20px
                        background: $light-blue;
                        -webkit-mask-repeat: no-repeat;
                        mask-repeat: no-repeat;
                        -webkit-mask-position: center;
                        mask-position: center;
                        &.list {
                            -webkit-mask-image: url("#{$form-asset-path}/tooltip/icon_list.svg");
                            mask-image: url("#{$form-asset-path}/tooltip/icon_list.svg");
                        }
                        &.copy {
                            -webkit-mask-image: url("#{$form-asset-path}/tooltip/icon_copy.svg");
                            mask-image: url("#{$form-asset-path}/tooltip/icon_copy.svg");
                        }
                        &.delete {
                            -webkit-mask-image: url("#{$form-asset-path}/tooltip/icon_delete.svg");
                            mask-image: url("#{$form-asset-path}/tooltip/icon_delete.svg");
                        }
                        &.add {
                            -webkit-mask-image: url("#{$form-asset-path}/tooltip/icon_add.svg");
                            mask-image: url("#{$form-asset-path}/tooltip/icon_add.svg");
                        }
                    }
                }
                &:hover {
                    cursor: pointer;
                    a span.icon {
                        background: $point-blue;
                    }
                }
            }

        }
        .menu-item.list {
            // tooltip 메뉴의 list 항목 미출력
            display: none;
        }
    }
}

// editbox 컴포넌트
.component[data-type="editbox"] {
    padding: 0 2.125rem 0 0.8125rem;
    // 0px 34.8px 0px 13px

    .field-group[contenteditable=true] {
        font-size: $editbox-font-size;
        font-weight: $editbox-font-weight;
        color: $editbox-font-color;
        height: 5.625rem;
        //90px
        line-height: 5.625rem;
        cursor: text;
        &:empty::before {
            // 입력된 값이 없으면 placeholder 표시
            content: attr(placeholder);
            display: block;
        }
    }
    // toomtip menu
    .tooltip-menu {
        .menu-item.list {
            // tooltip 메뉴의 list 항목 출력
            display: inline-block;
        }
    }
}

// 컴포넌트 select
.component.selected {
    background-color: $component-pressed-bg-color;
    border: solid 0.0625rem $component-pressed-border-color; // 1px
    .move-handler {
        background: $component-pressed-border-color;
    }
    .field-group .field-content .img-placeholder {
        background-color: $img-pressed-bg-color;
    }
    .dropzone {
        background-color: $dropzone-pressed-bg-color;
    }
    .field-group[contenteditable=true] {
        color: $editbox-pressed-color;
    }
    .tooltip-menu {
        visibility: visible;
        .menu-item.hidden {
            display: none;
        }
    }
    &.adjoin {
        border-bottom-color: rgba(135, 206, 255, 0); // $light bule
    }
    + .component.selected {
        // 인접 컴포넌트
        border-width: 0.0625rem; // 1px
        border-style: solid;
        border-color: rgba(135, 206, 255, 0) $component-pressed-border-color $component-pressed-border-color $component-pressed-border-color;
        &.adjoin {
            border-bottom-color: rgba(135, 206, 255, 0);
        }
    }
    ~ .component.selected {
        // 첫번째 선택된 컴포넌트를 제외하고 tooltip 미출력
        .tooltip-menu {
            visibility: hidden;
        }
    }
}

// 컴포넌트 drag
.component.over {
    border-top: 0.125rem dashed $point-blue;
    * {
        pointer-events: none;
    }
}

// 컴포넌트 마우스 오버
.component:hover {
    .move-handler {
        opacity: 1;
    }
    [data-type="editbox"] {
        cursor: text;
    }
    [data-type]:not([data-type="editbox"]) {
        cursor: pointer;
    }
}

// 컴포넌트 display Type에 따른 처리 :  'editable', 'editableRequired', 'readonly', 'hidden'
.component[data-displayType="hidden"] {
    display: none;
}
.component[data-displayType]:not([data-displayType="editableRequired"]) {
    .field-group .field-label span[class="required"] {
        display: none;
    }
    // 필수값 표시 숨김
}
.component[data-displayType="readonly"] {
    input[type=text],
    input[type=button],
    select,
    textarea {
        background-color: $component-disabled-bg-color !important;
        color: $component-disabled-font-color !important;
        pointer-events: none;
    }
}
.validate-error {
    border: 1px solid $red !important;
    color: $red !important;
}
