/* 컨텍스트 메뉴 */
// editbox 컴포넌트에서 키를 입력하거나 툴팁에서 리스트 아이콘 클릭시 호출
.context-menu {
    display: none;
    position: absolute;
    width: $context-menu-width;
    max-height: $context-menu-height;
    background-color: $context-menu-background-color;
    border: $context-menu-border;
    box-shadow: $context-menu-box-shadow;
    font-size: $context-menu-font-size;
    color: $context-menu-font-color;
    overflow: auto;
    @include scrollbar-hidden;

    .menu {
        padding: 0 0.625rem; // 0 10px
        margin: 0;
        .menu-item {
            border-bottom: $context-menu-border;
            div {
                display: flex;
                align-items: center;
                height: 2.188rem; // 35px
                line-height: 2.188rem;
                margin: 0.3125rem 0; // 5px 0
                svg {
                    margin: 0 0.9375rem 0 0.3125rem; // 0 15px 0 5px
                    fill: $blue-gray;
                }
                label { 
                    pointer-events: none;
                    margin: 0;
                }
            }
            &:last-child { border: none; }
            &.active,
            &:hover {
                div {
                    background-color: $context-menu-focus-background-color;
                    color: $context-menu-focus-font-color;
                    cursor: pointer;
                    svg {
                        fill: $context-menu-focus-font-color;
                    }
                }
            }
        }
    }

    &.on { display: block; }
}

