@import "../template/_elements.scss";

textarea {
  min-height: 7.5rem; // 120px
  resize: vertical;
}

table {
  tr {
    td, th {
      text-align: center;
      vertical-align: middle;
      border-color: $table-border-color;
    }
  }
}
