@import "../template/_elements.scss";

textarea {
  resize: none;
  @include scrollbarHidden;
}

label {
  &.point {
    color: $label-point-font-color;
  }

  &.ghost {
    color: $label-ghost-font-color;
  }
}

span {
  font-size: $span-font-size;
  font-weight: $span-font-weight;
}

table {
  tr {
    td, th {
      text-align: center;
      vertical-align: middle;
      border-color: $table-border-color;
    }
  }
}
