/* Form Designer Default Font Setting */
@font-face {
    font-family: "Noto Sans KR";
    src: local('Noto Sans KR'), url(font/NotoSansKR-Thin.otf) format('otf');
    font-style: normal;
    font-weight: 100;

}
@font-face {
    font-family: "Noto Sans KR";
    src: local('Noto Sans KR'), url(font/NotoSansKR-Light.otf) format('otf');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Noto Sans KR";
    src: local('Noto Sans KR'),url(font/NotoSansKR-Regular.otf) format('otf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Noto Sans KR";
    src: local('Noto Sans KR'),url(font/NotoSansKR-Medium.otf) format('otf');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Noto Sans KR";
    src: local('Noto Sans KR'),url(font/NotoSansKR-Bold.otf) format('otf');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Noto Sans KR";
    src: local('Noto Sans KR'),url(font/NotoSansKR-Black.otf) format('otf');
    font-style: normal;
    font-weight: 900;
}