/* 공통 form */
h1 {
    font-size: $h1-font-size;
    line-height: $h1-line-height;
    font-weight: $h1-font-weight;
    color: $h1-font-color;
}

h2 {
    font-size: $h2-font-size;
    line-height: $h2-line-height;
    font-weight: $h2-font-weight;
    color: $h2-font-color;
}
  
h3 {
    font-size: $h3-font-size;
    line-height: $h3-line-height;
    font-weight: $h3-font-weight;
    color: $h3-font-color;
}

h4 {
    font-size: $h4-font-size;
    line-height: $h4-line-height;
    font-weight: $h4-font-weight;
    color: $h4-font-color;
}

h5 {
    font-size: $h5-font-size;
    line-height: $h5-line-height;
    font-weight: $h5-font-weight;
    color: $h5-font-color;
}

input {
    font-size: $input-font-size;
    line-height: $input-line-height;
    font-weight: $input-font-weight;
    color: $input-font-color;
    border: $input-border;
    background-color: $input-bg-color;
    height: 2.5rem;    // 40px

    &::placeholder {
        color: $input-placeholder-color;
    }

    &:focus,
    &:hover {
        outline: 0;
        border: $input-focus-border;
        box-shadow: $input-focus-box-shadow;
    }

    &:disabled,
    &:read-only {
        color: $input-disabled-color;
        background-color: $input-disabled-bg-color;
        cursor: default;
    }

    &.validate-error {
        color: $input-error-color;
        border: $input-error-border;
    }
}

textarea {
    font-size: $textarea-font-size;
    line-height: $textarea-line-height;
    font-weight: $textarea-font-weight;
    color: $textarea-font-color;
    border: $textarea-border;
    background-color: $textarea-bg-color;
    line-height: 2.5rem; // 40px
    resize: none;
    @include scrollbar-hidden;

    &::placeholder {
        color: $textarea-placeholder-color;
    }

    &:focus,
    &:hover {
        outline: 0;
        border: $textarea-focus-border;
        box-shadow: $textarea-focus-box-shadow;
    }

    &:disabled {
        color: $textarea-disabled-color;
        background-color: $textarea-disabled-bg-color;
        cursor: default;
    }

    &.validate-error {
        color: $textarea-error-color;
        border: $textarea-error-border;
    }
}

select {
    font-size: $select-font-size;
    line-height: $select-line-height;
    font-weight: $select-font-weight;
    color: $select-font-color;
    border: $select-border;
    background-color: $select-bg-color;
    height: 2.5rem; // 40px
    
    &:focus,
    &:hover {
        outline: 0;
        border: $select-focus-border;
        box-shadow: $select-focus-box-shadow;
    }

    &:disabled {
        color: $select-disabled-color;
        background-color: $select-disabled-bg-color;
        cursor: default;
    }
}

label,
.label {
    font-size: $label-font-size;
    line-height: $label-line-height;
    font-weight: $label-font-weight;
    color: $label-font-color;

    &.point {
        color: $label-point-font-color;
    }

    &.ghost {
        color: $label-ghost-font-color;
    }
}

span {
    font-size: $span-font-size;
    line-height: $span-line-height;
    font-weight: $span-font-weight;
}

label.radio-group {
    position: relative;
    font-size: $radio-font-size;
    line-height: $radio-line-height;
    font-weight: $radio-font-weight;
    color: $input-font-color;
    input[type=radio] {
        display: none;
        + span {
            cursor: pointer;
            &:before {
                content: '';
                display: inline-block;
                border-radius: 50%;
                border: $radio-border;
                width: 1.125rem; // 18px
                height: 1.125rem; // 18px
                position: relative;
                top: -0.0625rem; // -1px
                margin-right: 0.3125rem; // 5px 
                vertical-align: middle;
                text-align: center;
                background-color: $radio-bg-color;
            }
            &:after {
                content: '';
                position: absolute;
                top: 2px;
                left: 0;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: transparent;
            }
            &:empty {
                &:before {
                    margin-right: 0;
                }
            }
        }
        &:checked {
            + span {
                &:before {
                    border-color: $radio-pressed-border-color;
                }
                &:after {
                    background-color: $radio-pressed-color;
                    transform: translate(4px, 7px) scale(1);
                }
            }
        }
        &:hover,
        &:focus {
            + span {
                &:before {
                    border-color: $radio-focus-border-color;
                    box-shadow: $radio-focus-box-shadow;
                }
            }
        }
        &:disabled {
            + span {
                color: $radio-disabled-color;
                &:before {
                    border-color: $radio-disabled-bg-color;
                }
                &:after {
                    background-color: $radio-disabled-bg-color;
                }
            }
        }
    }
}

label.checkbox-group {
    font-size: $checkbox-font-size;
    line-height: $checkbox-line-height;
    font-weight: $checkbox-font-weight;
    color: $checkbox-font-color;
    input[type=checkbox] {
        display: none;
        + span {
            position: relative;
            cursor: pointer;
            &:before {
                content: '';
                margin-right: 0.3125rem; // 5px
                display: inline-block;
                border-radius: 0.125rem; // 2px
                border: $checkbox-border;
                width: 1.125rem; // 18px
                height: 1.125rem; // 18px
                vertical-align: middle;
                background-color: $checkbox-bg-color;
            }
            &:empty {
                &:before {
                    margin-right: 0;
                }
            }
        }
        &:checked {
            + span {
                &:after {
                    content: '';
                    position: absolute;
                    top: 6px;
                    left: 0;
                    width: 12px;
                    height: 6px;
                    border: solid 2px $checkbox-pressed-color;
                    border-right: none;
                    border-top: none;
                    transform: translate(3px, 4px) rotate(-45deg);
                }
            }
        }
        &:hover,
        &:focus {
            + span {
                &::before {
                    border-color: $checkbox-focus-border-color;
                    box-shadow: $checkbox-focus-box-shadow;
                }
            }
        }
        &:disabled {
            + span {
                color: $checkbox-disabled-color;
                &:before {
                    background-color: $checkbox-disabled-bg-color;
                }
            }
        }
    }
}

input[type=range] {
    -webkit-appearance: none;
    width: 78%;
    height: 0.0625rem; // 1px
    background-color: $input-range-border-color;
    outline: 0;
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width:  1.125rem;    // 18px
        height: 1.125rem;    // 18px
        border: $input-range-round-border;
        border-radius: 50%;
        background: $input-range-round-bg-color;
        cursor: pointer;
    }
    &::-moz-range-thumb {
        width:  1.125rem;    // 18px
        height: 1.125rem;    // 18px
        border: $input-range-round-border;
        border-radius: 50%;
        background: $input-range-round-bg-color;
        cursor: pointer;
    }
    + input[type=text] {
        width: 16%;
        margin-left: 4%;
        text-align: center;
        padding: 0;
        &:read-only {
            color: $input-font-color;
            background-color: $input-bg-color;
        }
    }
}

table {
    font-size: $table-font-size;
    line-height: $table-line-height;
    font-weight: $table-font-weight;
    color: $table-font-color;
    border: $table-border;
    background-color: $table-bg-color;
    tr {
        height: 2.5rem;    // 40px
        td, th {
            text-align: center;
            vertical-align: middle;
            border: $table-border;
        }
        th {
            font-weight: $table-head-font-weight;
        }
    }
}