/* 전체 layout */

*,
*::before,
*::after {
          box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    // 폼 양식
    &.form {
        min-width: $form-container-width;
        min-height: $form-container-height;
    }
    // TODO: 신청서
    &.document {
        min-width: $document-container-width;
        min-height: $document-container-height;
    }
}

.content {
    display: flex;
    justify-content: center;
    left: 0;
    background-color: $container-background-color;
    float: left;
    // 실제 컴포넌트들이 그려지는 영역
    .drawing-board {
        display: flex; 
        flex: 1 1 auto;
        flex-direction: column;
        align-items: center;
        background-color: $drawing-board-background-color;
        box-shadow: 0 0 0.625rem 0.0625rem rgba(222,233,247,0.6);// 0px 0px 10px 1px rgba(222,233,247,0.6); 
        overflow: auto;
        @include scrollbar-hidden;
    }
    // 포커스가 잡힐 경우 테두리 삭제
    .drawing-board *:focus { outline: none !important; }

     // 폼 양식
     &.form {
        top: $toolbar-height;
        width: calc(100vw - #{$form-aside-width});
        height: calc(100vh - #{$toolbar-height});
        min-width: calc(100vw - #{$form-aside-width});
        min-height: calc(100vh - #{$toolbar-height});

        .drawing-board {
            width: $form-drawing-board-width;
            max-width: $form-drawing-board-width;
            margin-top: $form-drawing-board-top-margin;
            padding: 6.25rem 4.063rem 0 4.063rem; // 100px 65px 0px 65px;
            &[data-readonly=true] { // 폼 양식 화면에서 수정을 막음
                input[type=text],
                textarea,
                button,
                .ql-toolbar { pointer-events: none; }
            }
        }
    }
}

.aside {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    float: left;
    right: 0;
    background-color: $aside-background-color;
    box-shadow: -0.0625rem 0.9375rem 0.4375rem 0 rgba(222,233,247,0.6);// -1px 15px 7px 0px rgba(222,233,247,0.6);
    overflow: auto;
    @include scrollbar-hidden;
    // 폼 양식
    &.form {
        top: $toolbar-height;
        width: $form-aside-width;
        height: calc(100vh - #{$toolbar-height});
        min-height: calc(100vh - #{$toolbar-height});
    }
}
