/* 폼 디자이너 팝업 layout
 * container - toolbar : 상단 메뉴
 *           - contents : 왼쪽 패널
 *                   - drawing-board : 실제 컴포넌트들이 그려지는 영역
 *           - aside : 오른쪽 패널
 */
*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: $font-family;
}

.form-designer {
    .container {
        width: 100vw;
        height: 100vh;
        padding: 0;
        margin: 0;
        background-color: $container-background-color;

        // 포커스가 잡힐 경우 테두리 삭제
        & *:focus {
            outline: none !important;
        }

        .toolbar {
            width: 100vw;
            height: $toolbar-height;
            font-size: $toolbar-font-size;
            font-weight: $toolbar-font-weight;
            color: $toolbar-font-color;
            background-color: $toolbar-bg-color;
            padding: $toolbar-top-bottom-padding $toolbar-margin-right;
            svg.logo {
                // 로고
                float: left;
            }
            span.name {
                // 문구
                float: left;
                padding: 0 $toolbar-margin-right;
                line-height: $toolbar-real-height;
            }

            span.separator {
                // 아이콘 구분자  
                width: 0.063rem; // 1px
                height: $toolbar-real-height;
                background-color: $toolbar-separator-color;
                margin-right: $toolbar-margin-right;
                float: left;
                opacity: 0.3;
            }

            a {
                // 아이콘
                height: $toolbar-real-height;
                line-height: $toolbar-real-height;
                margin-right: $toolbar-margin-right;
                float: left;
                img {
                    cursor: pointer;
                }
            }

            span.form-name {
                // 상단 우측 이름
                height: $toolbar-real-height;
                line-height: $toolbar-real-height;
                font-size: $toolbar-name-font-size;
                line-height: $toolbar-real-height;
                float: right;
            }
        }

        .contents {
            display: flex;
            left: 0;
            float: left;
            min-width: auto;
            padding: 0;
            margin: 0;

            .drawing-board {
                display: flex;
                flex: 1 1 auto;
                flex-direction: column;
                align-items: center;
                background-color: $drawing-board-bg-color;
                border: $drawing-board-border;
                box-shadow: $drawing-board-box-shadow;
                overflow-y: auto;
                @include scrollbar-hidden;
            }
        }

        .aside {
            display: flex;
            flex: 0 0 auto;
            flex-direction: column;
            float: left;
            right: 0;
        }

        // 폼 양식
        &.form {
            min-width: 93.75rem; // 1500px
            min-height: 56.25rem; // 900px

            .contents {
                justify-content: center;
                top: $toolbar-height;
                width: calc(100vw - #{$form-aside-width});
                height: calc(100vh - #{$toolbar-height});
                min-width: calc(100vw - #{$form-aside-width});
                min-height: calc(100vh - #{$toolbar-height});

                .drawing-board {
                    width: $form-drawing-board-width;
                    max-width: $form-drawing-board-width;
                    margin-top: $form-drawing-board-top-margin;
                    padding: 6.25rem 4.063rem 0; // 100px 65px 0px 65px;
                    &[data-readonly=true] {
                        // 폼 양식 화면에서 수정을 막음
                        .dropzone,
                        //.ql-toolbar,
                        //textarea,
                        button,
                        input[type=text],
                        label.checkbox-group,
                        label.radio-group,
                        select {
                            pointer-events: none;
                        }
                        .component .move-handler {
                            display: inherit;
                        }
                    }
                }
            }

            .aside {
                top: $toolbar-height;
                width: $form-aside-width;
                height: calc(100vh - #{$toolbar-height});
                min-height: calc(100vh - #{$toolbar-height});
                background-color: $form-aside-bg-color;
                box-shadow: $form-aside-box-shadow;
                overflow-y: auto;
                @include scrollbar-hidden;
            }
        }

        // 문서 양식
        &.document {
            display: flex;
            justify-content: center;

            .contents {
                flex-direction: column;
                height: 100vh;
                min-height: 100vh;
                overflow: auto;

                .button-board {
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-end;
                    padding-bottom: 0.9375rem; // 15px
                    width: $document-content-drawing-board-width;
                    max-width: $document-content-drawing-board-width;
                    height: $document-button-board-height;
                    > .button-group {
                        display: inline-block;
                        button {
                            margin-right: 0.625rem; // 10px
                        }
                    }
                }

                .drawing-board {
                    width: $document-content-drawing-board-width;
                    max-width: $document-content-drawing-board-width;
                    height: calc(100vh - #{$document-button-board-height});
                    min-height: calc(100vh - #{$document-button-board-height});
                    padding: 6.25rem 4.063rem 0; // 100px 65px 0px 65px;
                }
            }
            .aside {
                margin-top: $document-button-board-height;
                height: calc(100vh - #{$document-button-board-height});
                min-height: calc(100vh - #{$document-button-board-height});

                // TODO: 처리할 문서
                .drawing-board {
                    display: flex;
                    flex: 1 1 auto;
                    flex-direction: column;
                    align-items: center;
                    width: $document-aside-drawing-board-width;
                    max-width: $document-aside-drawing-board-width;
                    margin-left: 0.625rem;
                    padding: 3.125rem 3.75rem 0; // 50px 60px 0 60px
                    background-color: $drawing-board-bg-color;
                    border: $drawing-board-border;
                    box-shadow: $drawing-board-box-shadow;
                    overflow-y: auto;
                    @include scrollbar-hidden;

                    ul.menu {
                        display: table-row;
                        border-bottom: solid 0.0625rem $line-gray;
                        margin-bottom: 1.875rem; // 30px
                        li.menu-item {
                            display: table-cell;
                            vertical-align: middle;
                            text-align: center;
                            width: 6.25rem; // 100px
                            height: 2.5rem; // 40px
                            font-size: 16px; // 16px
                            font-weight: 500;
                            // medium
                            color: $blue-gray;
                            border-bottom: solid 0.25rem $white; // 4px
                            cursor: pointer;

                            &.selected {
                                color: $light-black;
                                border-bottom: solid 0.25rem $point-blue; // 4px
                            }
                        }
                        div.menu-content {
                            display: none;

                            &.selected {
                                display: inherit;
                            }
                        }
                    }
                }
            }
        }
        // 프린트
        &.print {
            .contents {
                flex-direction: column;
                height: 100vh;
                min-height: 100vh;
                overflow: auto;

                .print-board {
                    margin: 0.9375rem; // 15px;
                    height: 2.813rem; // 45px
                    span {
                        float: right;
                        font-size: 16px;
                        line-height: 24px;
                        font-weight: 400; // regular
                        color: $black;
                        text-align: right;
                    }
                }

                .drawing-board {
                    width: $document-content-drawing-board-width;
                    max-width: $document-content-drawing-board-width;
                    height: calc(100vh - #{$document-button-board-height});
                    min-height: calc(100vh - #{$document-button-board-height});
                    padding: 6.25rem 4.063rem 0; // 100px 65px 0px 65px;
                    .component {
                        page-break-inside: avoid;
                    }
                }
            }
            .aside {
                margin-top: $document-button-board-height;
                height: calc(100vh - #{$document-button-board-height});
                min-height: calc(100vh - #{$document-button-board-height});

                // TODO: 처리할 문서
                .drawing-board {
                    display: flex;
                    flex: 1 1 auto;
                    flex-direction: column;
                    align-items: center;
                    width: $document-aside-drawing-board-width;
                    max-width: $document-aside-drawing-board-width;
                    margin-left: 0.625rem;
                    padding: 3.125rem 3.75rem 0; // 50px 60px 0 60px
                    background-color: $drawing-board-bg-color;
                    border: $drawing-board-border;
                    box-shadow: $drawing-board-box-shadow;
                    overflow-y: auto;
                    @include scrollbar-hidden;
                }
            }
        }
    }
}
