/* 전체 layout */

*,
*::before,
*::after {
          box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, input, textarea, select, button {
    font-family: $font-family;
}

h1 {
    font-size: 36px;
    line-height: 54px;
    font-weight: 700; // bold
    color: $light-black;
}

h2 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 500; // medium
    color: $light-black;
}

h3 {
    font-size: 18px;
    line-height: 27px;
    font-weight: 500; // medium
    color: $light-black;
}

h4 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400; // regular
    color: $dark-gray;
}

h5 {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400; // regular
    color: $warm-gray;
}

input, textarea, select {
    font-size: 1rem;
    line-height: 1.5; // 24
    font-weight: 400; // regular
    color: $dark-gray;
    &::placeholder {
        color: gray;
    }
}

/* 폼 디자이너 팝업 layout  */
.form-designer {
    .container {
        width: 100vw;
        height: 100vh;
        background-color: $container-background-color;
        padding: 0;
        margin: 0;

        // 포커스가 잡힐 경우 테두리 삭제
        & *:focus { outline: none !important; }

        .toolbar {
            width: 100vw;
        }

        .contents {
            display: flex;
            left: 0;
            float: left;
            min-width: auto;
            padding: 0;
            margin: 0;
            // 실제 컴포넌트들이 그려지는 영역
            .drawing-board {
                display: flex; 
                flex: 1 1 auto;
                flex-direction: column;
                align-items: center;
                background-color: $drawing-board-background-color;
                border: $drawing-board-border;
                box-shadow: $drawing-board-box-shadow; 
                overflow-y: auto;
                @include scrollbar-hidden;
            }
        }

        .aside {
            display: flex;
            flex: 0 0 auto;
            flex-direction: column;
            float: left;
            right: 0;
        }

        // 폼 양식
        &.form {
            min-width: $form-container-width;
            min-height: $form-container-height;

            .contents {
                justify-content: center;
                top: $form-toolbar-height;
                width: calc(100vw - #{$form-aside-width});
                height: calc(100vh - #{$form-toolbar-height});
                min-width: calc(100vw - #{$form-aside-width});
                min-height: calc(100vh - #{$form-toolbar-height});

                .drawing-board {
                    width: $form-drawing-board-width;
                    max-width: $form-drawing-board-width;
                    margin-top: $form-drawing-board-top-margin;
                    padding: 6.25rem 4.063rem 0 4.063rem; // 100px 65px 0px 65px;
                    &[data-readonly=true] { // 폼 양식 화면에서 수정을 막음
                        input[type=text],
                        textarea,
                        button,
                        .ql-toolbar { pointer-events: none; }
                        .component .move-handler {
                            display: inherit;
                        }
                        .component[data-type="editbox"] { 
                            pointer-events: none;
                        }
                    }
                }
            }

            .aside {
                top: $form-toolbar-height;
                width: $form-aside-width;
                height: calc(100vh - #{$form-toolbar-height});
                min-height: calc(100vh - #{$form-toolbar-height});
                background-color: $form-aside-background-color;
                border-right: $form-aside-border;
                box-shadow: $form-aside-box-shadow;
                overflow-y: auto;
                @include scrollbar-hidden;
            }
        }
        // 문서 양식
        &.document {
            display: flex;
            justify-content: center;

            .contents {
                flex-direction: column;
                height: 100vh;
                min-height: 100vh;
                overflow: auto;

                .button-board {
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-end;
                    padding-bottom:  0.9375rem; // 15px
                    width: $document-content-drawing-board-width;
                    max-width: $document-content-drawing-board-width;
                    height: $document-button-board-height;
                    > .button-group {
                        display: inline-block;
                        button {
                            margin-right: 0.625rem; // 10px
                        }
                    }
                }

                .drawing-board {
                    width: $document-content-drawing-board-width;
                    max-width: $document-content-drawing-board-width;
                    height: calc(100vh - #{$document-button-board-height});
                    min-height: calc(100vh - #{$document-button-board-height});
                    padding: 6.25rem 4.063rem 0 4.063rem; // 100px 65px 0px 65px;
                }
            }
            .aside {
                margin-top: $document-button-board-height;
                height: calc(100vh - #{$document-button-board-height});
                min-height: calc(100vh - #{$document-button-board-height});

                // TODO: 처리할 문서
                .drawing-board {
                    display: flex; 
                    flex: 1 1 auto;
                    flex-direction: column;
                    align-items: center;
                    width: $document-aside-drawing-board-width;
                    max-width: $document-aside-drawing-board-width;
                    margin-left: 0.625rem;
                    padding: 3.125rem 3.75rem 0 3.75rem; // 50px 60px 0 60px
                    background-color: $drawing-board-background-color;
                    border: $drawing-board-border;
                    box-shadow: $drawing-board-box-shadow;
                    overflow-y: auto;
                    @include scrollbar-hidden;
    
                    ul.menu {
                        display: table-row;
                        border-bottom: solid 0.0625rem $line-gray;
                        margin-bottom: 1.875rem; // 30px
                        li.menu-item {
                            display: table-cell;
                            vertical-align: middle;
                            text-align: center;
                            width: 6.25rem; // 100px
                            height: 2.5rem; // 40px
                            font-size: 16px; // 16px
                            font-weight: 500;  // medium
                            color: $blue-gray;
                            border-bottom: solid 0.25rem $white; // 4px
                            cursor: pointer;
    
                            &.selected {
                                color: $light-black;
                                border-bottom: solid 0.25rem $point-blue; // 4px
                            }
                        }
                        div.menu-content {
                            display: none;
    
                            &.selected {
                                display: inherit;
                            }
                        }
                    }
                }
            }
        }
        // 프린트
        &.print {
            .contents {
                flex-direction: column;
                height: 100vh;
                min-height: 100vh;
                overflow: auto;

                .print-board {
                    margin: 0.9375rem; // 15px;
                    height: 2.813rem; // 45px
                    span {
                        float: right;
                        font-size: 16px;
                        line-height: 24px;
                        font-weight: 400; // regular
                        color: $black;
                        text-align: right;
                    }
                }

                .drawing-board {
                    width: $document-content-drawing-board-width;
                    max-width: $document-content-drawing-board-width;
                    height: calc(100vh - #{$document-button-board-height});
                    min-height: calc(100vh - #{$document-button-board-height});
                    padding: 6.25rem 4.063rem 0 4.063rem; // 100px 65px 0px 65px;
                    .component {
                        page-break-inside: avoid;
                    }
                }
            }
            .aside {
                margin-top: $document-button-board-height;
                height: calc(100vh - #{$document-button-board-height});
                min-height: calc(100vh - #{$document-button-board-height});

                // TODO: 처리할 문서
                .drawing-board {
                    display: flex; 
                    flex: 1 1 auto;
                    flex-direction: column;
                    align-items: center;
                    width: $document-aside-drawing-board-width;
                    max-width: $document-aside-drawing-board-width;
                    margin-left: 0.625rem;
                    padding: 3.125rem 3.75rem 0 3.75rem; // 50px 60px 0 60px
                    background-color: $drawing-board-background-color;
                    border: $drawing-board-border;
                    box-shadow: $drawing-board-box-shadow;
                    overflow-y: auto;
                    @include scrollbar-hidden;
                }
            }
        }
    }
}