@mixin keyframe ($animation_name) {
    @keyframes #{$animation_name} {
        @content;
    }
}

@mixin animation ($delay, $duration, $name, $timing, $count:1) {
    animation-delay: $delay;
    animation-duration: $duration;
    animation-name: $name;
    animation-timing-function: $timing;
    animation-iteration-count: $count;
}

@mixin background($path) {
    background-size: initial;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("#{$form-asset-path}/" + $path);
}

@mixin scrollbar-hidden { // 스크롤은 동작하되 스크롤바는 숨김
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar { display: none; /* Chrome, Safari, Opera*/ }
}

@mixin document-button {
    display: flex;
    align-items: center;
    padding-bottom: 0.9375rem; // 15px
    width: $document-content-drawing-board-width;
    max-width: $document-content-drawing-board-width;
    padding-top: 8.438rem; //135px
}

@mixin h1() {
    color: $light-black;
    font: {
        size: 2.25rem; // 36px
        weight: 700;
    }
}

@mixin h2() {
    color: $light-black;
    font: {
        size: 1.75rem; // 28px
        weight: 500;
    }
}

@mixin h3() {
    color: $light-black;
    font: {
        size: 1.5rem; // 24px
        weight: 500;
    }
}

@mixin h4() {
    color: $light-black;
    font: {
        size: 1.125rem; // 18px
        weight: 500;
    }
}

@mixin h5() {
    color: $dark-gray;
    font: {
        size: 1rem; // 16px
        weight: 400;
    }
}

@mixin h6() {
    color: $warm-gray;
    font: {
        family: 맑은고딕;
        size: 0.875rem; // 14px
        weight: 400;
    }
}
