/* 우측 properties panel */
@include keyframe (HideList) {
    from {
        transform: scaleY(1);
    }
    to {
        transform: scaleY(0);
    }
}

@include keyframe (fadeIn) {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

// 제목: form, 컴포넌트 이름
.properties-title {
    display: none;
    height: $properties-title-height;
    line-height: $properties-title-height;
    background-color: $properties-title-bg-color;

    label {
        padding-left: 0.938rem; // 15px
    }

    &.on {
        display: block;
    }
}

// 컴포넌트가 여러개 선택될 경우 세부 속성은 존재하지 않는다.
.property-empty {
    display: none;
    &.on {
        display: block;
    }
    h3 {
        line-height: normal;
        margin: 0.9375rem 0.9375rem 0; // 15px 15px 0 15px
        font: {
            size: 0.8125rem; // 13px
            weight: bold;
        }
    }
}

.property-group {
    display: none;
    border-bottom: $properties-border;
    padding: 0.9375rem 0 0.3125rem; // 15px 0 5px 0
    &.on {
        display: block;
        &.last {
            border-bottom-color: transparent;
        }
    }

    input[type=text],
    select,
    textarea {
        width: 100%;
        padding-left: $properties-indent-padding-left;
    }

    // 소제목: Data Attribute, Label, Display, Option 등
    h3 {
        margin: 1.25rem; // 0 20px
        label {
            background-color: $white;
            padding-right: 0.625rem; // 10px
        }
    }

    // 옵션
    &[id="option"] {
        position: relative;
    }
    .property-group-option {
        float: right;
        margin-right: 0.3125rem; // 5px;
        button {
            height: 1.5rem; // 24px
            padding: 0;
            line-height: inherit;
            span.icon {
                width: 1.5rem; // 24px
                height: 1.5rem; // 24px
            }
        }
        // 옵션 버튼
        button[class*="option-minus"] span.icon {
            mask-image: url("#{$form-asset-path}/editor/icon_option_minus.svg");
            mask-repeat: no-repeat;
            mask-position: center;
        }
        button[class*="option-plus"] span.icon {
            mask-image: url("#{$form-asset-path}/editor/icon_option_plus.svg");
            mask-repeat: no-repeat;
            mask-position: center;
        }
    }

    // 하위 속성
    .property-field {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0.8125rem 1.25rem;
        //13px 20px
        // 하위 속성 제목
        label.property-name {
            display: inline-block;
            flex-shrink: 0;
            flex-grow: 0;
            vertical-align: top;
            margin-bottom: 0.375rem;
            // TODO: 하위 속성 제목 툴팁
            .help-tooltip {
                position: relative;
                display: inline-block;
                width: 13px;
                //13px 
                height: 13px;
                //13px
                background-color: #ffffff;
                color: #c8ced8;
                font-size: 0.625rem;
                //10px
                font-weight: bold;
                border: 0.0625rem solid #c8ced8; // 1px
                border-radius: 50%;
                margin-left: 0.3125rem; //5px
                text-align: center;
                cursor: help;
                &:before {
                    content: '?';
                }
                &:hover {
                    color: $properties-active-font-color;
                    border-color: $properties-active-border-color;
                    p {
                        display: block;
                        transform-origin: 100% 0;
                        @include animation (0s, 0.3s, fadeIn, ease-in-out);
                    }
                }
                p {
                    display: none;
                    position: absolute;
                    text-align: left;
                    background-color: #1E2021;
                    padding: 0.625rem;
                    //10px
                    width: 13.75rem; // 220px
                    border-radius: 0.1875rem; //3px
                    box-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0, 0, 0, 0.2);
                    //1px 1px 1p
                    top: 1.125rem; // 18px
                    right: -0.6875rem;
                    //-11px
                    color: #FFF;
                    font-size: 0.6875rem;
                    //11px
                    line-height: 1.3;
                    z-index: 999;
                    &:before {
                        // The pointer of the tooltip
                        position: absolute;
                        content: '';
                        border: 0.375rem solid transparent;
                        //6px
                        border-bottom-color: #1E2021;
                        right: 0.625rem;
                        //10px
                        top: -0.75rem;
                        //-12px
                    }
                    &:after {
                        // Prevents the tooltip from being hidden
                        width: 100%;
                        height: 2.5rem;
                        //40px
                        content: '';
                        top: -2.5rem;
                        //-40px
                        left: 0;
                    }
                }
            }
        }

        &[id="dataAttribute-isTopic"],
        &[id="display-editorUseYn"] {
            .checkbox-group span:first-of-type {
                padding-right: 0.4375rem;
            }
            // 7px
        }

        //  아이콘로 이루어진 버튼 그룹
        div.property-field-icon {
            width: 100%;
            button {
                height: 2.5rem;
                // 40px
                line-height: inherit;
                padding: 0;
                span.icon {
                    width: 2.5rem;
                    // 40px
                    height: 2.5rem;
                    // 40px
                }
            }
        }
        &[id="label-position"] {
            div.property-field-icon {
                button[id="left"] span.icon {
                    mask-image: url("#{$form-asset-path}/property/icon_label_position_left.svg");
                    mask-repeat: no-repeat;
                    mask-position: center;
                }
                button[id="top"] span.icon {
                    mask-image: url("#{$form-asset-path}/property/icon_label_position_top.svg");
                    mask-position: center;
                    mask-repeat: no-repeat;
                }
                button[id="hidden"] span.icon {
                    mask-image: url("#{$form-asset-path}/property/icon_label_position_hidden.svg");
                    mask-position: center;
                    mask-repeat: no-repeat;
                }
            }
        }
        &[id="display-position"] {
            div.property-field-icon {
                button[id="left"] span.icon {
                    mask-image: url("#{$form-asset-path}/property/icon_display_left.svg");
                    mask-repeat: no-repeat;
                    mask-position: center;
                }
                button[id="right"] span.icon {
                    mask-image: url("#{$form-asset-path}/property/icon_display_right.svg");
                    mask-position: center;
                    mask-repeat: no-repeat;
                }
            }
        }
        &[id="display-align"] {
            div.property-field-icon {
                button[id="left"] span.icon {
                    mask-image: url("#{$form-asset-path}/property/icon_align_left.svg");
                    mask-repeat: no-repeat;
                    mask-position: center;
                }
                button[id="center"] span.icon {
                    mask-image: url("#{$form-asset-path}/property/icon_align_center.svg");
                    mask-position: center;
                    mask-repeat: no-repeat;
                }
                button[id="right"] span.icon {
                    mask-image: url("#{$form-asset-path}/property/icon_align_right.svg");
                    mask-position: center;
                    mask-repeat: no-repeat;
                }
            }
        }

        // bold, italic, underline, align 으로 이루어진 버튼 그룹
        div.property-field-button {
            button {
                width: 2.5rem;
                // 40px
                height: 2.5rem;
                // 40px
                line-height: inherit;
                padding: 0;
                span.icon {
                    width: 1.25rem; // 20px
                    height: 1.25rem;
                    // 20px
                }
            }
            button[id="bold"] span.icon {
                mask-image: url("#{$form-asset-path}/property/icon_bold.svg");
                mask-repeat: no-repeat;
                mask-position: center;
            }
            button[id="italic"] span.icon {
                mask-image: url("#{$form-asset-path}/property/icon_italic.svg");
                mask-repeat: no-repeat;
                mask-position: center;
            }
            button[id="underline"] span.icon {
                mask-image: url("#{$form-asset-path}/property/icon_underline.svg");
                mask-repeat: no-repeat;
                mask-position: center;
            }
            div {
                margin-left: 0.9375rem; // 15px
                button[id="left"] span.icon {
                    mask-image: url("#{$form-asset-path}/property/icon_align_left.svg");
                    mask-repeat: no-repeat;
                    mask-position: center;
                }
                button[id="center"] span.icon {
                    mask-image: url("#{$form-asset-path}/property/icon_align_center.svg");
                    mask-repeat: no-repeat;
                    mask-position: center;
                }
                button[id="right"] span.icon {
                    mask-image: url("#{$form-asset-path}/property/icon_align_right.svg");
                    mask-repeat: no-repeat;
                    mask-position: center;
                }
            }
        }

        // TODO:  color picker
        div.property-field-color-picker {
            width: 100%;
            display: inline-flex;
            span.selected-color-layer {
                display: inline-block;
                width: 1.563rem;
                // 25px
                height: 1.563rem; // 25px
                margin-right: 0.313rem; // 5px
                border: 0.063rem solid $properties-border-color;
                padding-top: 0.1875rem; // 3px
                padding-left: 0.1875rem; // 3px
                span.selected-color {
                    display: inline-block;
                    width: 1.063rem; // 17px
                    height: 1.063rem; // 17px
                    border: 0.1875rem solid #68717c;
                    cursor: pointer;
                }
                + input[type=text] {
                    width: 10rem; // 160px
                }
            }
        }
        // color picker popup
        div.color-palette {
            background-color: $properties-bg-color;
            width: 11.875rem; // 190px
            height: 4.938rem; // 79px
            margin-top: 0.188rem;
            // 3px
            border: 0.063rem solid $properties-border-color;
            padding-left: 0.219rem; // 3.5px
            padding-top: 0.188rem; // 3px
            div {
                display: inline-block;
                vertical-align: top;
                width: 1rem; // 16px
                height: 1rem; // 16px
                margin: {
                    top: 0.375rem; // 6px
                    left: 0.375rem; // 6px
                };
                border: 0.063rem solid #a3adbb; // 1px
                cursor: pointer;
            }
            div.selected {
                border: 0.125rem solid #ffffff; // 2px
                outline: 0.063rem solid #0055ff; // 1px
            }
        }
        div.color-palette-opacity {
            background-color: $properties-bg-color;
            width: 11.875rem; // 190px
            border: 0.063rem solid $properties-border-color; // 1px
            border-top: none;
            padding-left: 0.219rem; // 3.5px
            display: none;
            height: 2.5rem; // 40px
            span {
                display: table-cell;
                vertical-align: middle;
                input {
                    vertical-align: middle;
                    width: 1.875rem; // 30px
                    height: 1.25rem; // 20px
                }
                input[type=range] {
                    -webkit-appearance: none;
                    &::-webkit-slider-thumb {
                        -webkit-appearance: none;
                        width: 0.625rem; // 10px
                        height: 0.625rem; // 10px
                        border: 0.0625rem solid #c8ced8;
                        border-radius: 50%;
                        background: #fff;
                        cursor: pointer;
                    }
                    &::-moz-range-thumb {
                        width: 0.625rem;
                        //10px
                        height: 0.625rem;
                        border: 0.0625rem solid #c8ced8;
                        border-radius: 50%;
                        background: #fff;
                        cursor: pointer;
                    }
                    &::-moz-range-progress {
                        background-color: #0055ff;
                        height: 0.0625rem; // 1px
                    }
                }
                input.slide-object {
                    width: 7.625rem;
                    height: 0.0625rem; // 1px
                    background: #c8ced8;
                    border: initial;
                    padding: initial;
                    outline: 0;
                    margin-left: 0.594rem; // 9.5px
                }
                input.slide-input {
                    width: 1.75rem; // 28px
                    padding-left: 0;
                    padding-right: 0.25rem; // 4px
                    text-align: right;
                }
                label {
                    margin: 0 0 0 0.125rem; // 2px
                    width: 0.813rem; // 13px
                    height: 1.25rem; // 20px
                    line-height: 1.25rem; // 20px
                }
            }
        }

        // display > default 항목
        &[id="display-default"] .property-name {
            width: 100%;
        }
        div.property-field-toggle {
            ~ input[type=text],
            ~ select {
                margin-top: 0.4375rem; // 7px
            }
        }

        // image path
        div.property-field-image {
            width: 100%;
            display: flex;
            button {
                flex: 1 1 auto;
                width: 2.5rem;
                // 40px
                padding: 0;
                border-left-color: transparent;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                @include background("property/icon_search.svg");
                &:focus,
                &:hover {
                    border-left-color: $point-blue;
                }
            }
        }

        // default
        &.vertical {
            flex-direction: column;
            align-items: flex-start;
            .property-value {
                width: 2.813rem;
                //45px
                margin: 0 0.3125rem 0 0; // 5px
            }
            .vertical-group {
                width: 100%;
                display: inline-flex;
                align-items: center;
                flex-wrap: wrap;
                margin: 0.375rem 0;
                //6px 0
                .picker-wrapper-date {
                    display: inline-block;
                    width: auto;
                    [class*="timepicker"],
                    [class*="datepicker"],
                    [class*="datetimepicker"] {
                        width: 14.81rem; // 237px
                        margin: 0;
                    }
                }
                span {
                    margin-right: 0.3125rem;
                }
                // 5px
                select {
                    margin-top: 0.3125rem;
                }
                // 5px
            }
        }

        .picker-wrapper-date {
            width: 100%;
            .datepicker,
            .datetimepicker {
                background: $input-bg-color url("#{$datepicker-asset-path}/icon_calendar.svg") no-repeat 98% 50%;
            }
            .timepicker {
                background: $input-bg-color url("#{$datepicker-asset-path}/icon_clock.svg") no-repeat 98% 50%;
            }
        }

        // 단위
        span.property-field-unit {
            position: absolute;
            top: 50%;
            right: $properties-indent-padding-left;
            color: $gray;
        }
    }

    // 테이블
    table.property-field-table {
        margin: 0.8125rem 1.25rem;
        //13px 20px
        label {
            margin: 0 0.625rem; // 10px
        }
        input[type=text] {
            border-color: transparent;
            padding: 0;
            text-align: center;
            &:focus,
            &:hover {
                border-color: $point-blue;
            }
        }
    }
}
