/* 상단 툴 바 */
.container {
    &.form {
        .toolbar {
            height: $form-toolbar-height;
            font-size: $form-toolbar-font-size;
            color: $form-toolbar-font-color;
            background-color: $form-toolbar-background-color;
            padding-top: $form-toolbar-top-bottom-padding;
            padding-bottom: $form-toolbar-top-bottom-padding;
            line-height: 1.0rem;
    
            span.logo { // 로고
                width: $form-toolbar-logo-width;
                height: $form-toolbar-real-height;
                float: left;
                @include background("topmenu/logo.png");
            }
    
            span.name { // 문구
                float: left;
                padding : 0 0.938rem; // 15px;
            }
    
            span.separator { // 아이콘 구분자  
                width: 0.063rem; // 1px
                height: $form-toolbar-real-height;
                background-color: $form-toolbar-separator-color;
                margin-right: 0.75rem; // 12px
                float: left;
            }
    
            a { // 아이콘
                margin-right: 0.75rem; // 12px
                height: $form-toolbar-real-height;
                line-height: $form-toolbar-real-height;
                float: left;
                img {
                    cursor: pointer;
                }
                label {
                    margin-left: 0.313rem;  // 5px
                    cursor: pointer;
                }
            }
    
            span.form-name { // 상단 우측 이름
                height: $form-toolbar-real-height;
                line-height: $form-toolbar-real-height;
                float: right;
                margin-right: 0.938rem; // 15px
            }
        }
    }
}
