/* Variables */
// font
$font-family    : "Noto Sans KR";
$font-size      : 11px;
// color
$black          : #000000;
$white          : #ffffff;
$red            : #FF405A;
$orange         : #FF7319;
$green          : #00C462;
$focus-black    : #283238;
$ground-black   : #333D47;
$light-black    : #3F4B56;
$dark-gray      : #586872;
$warm-gray      : #7E848C;
$blue-gray      : #929AA6;
$gray           : #ACB4BF;
$pressed-gray   : #CCCED1;
$default-gray   : #E1E3E6;
$line-gray      : #EBEBEB;
$light-gray     : #F7F8F9;
$dark-blue      : #0060A5;
$pressed-blue   : #0088E6;
$point-blue     : #0098FF;
$hover-blue     : #33ADFF;
$light-blue     : #87CEFF;

// container
$container-background-color: $light-gray;

// container > contents, aside > drawing-board
$drawing-board-background-color: $white;
$drawing-board-border: 0.0625rem solid $line-gray; // 1px
$drawing-board-box-shadow: 0 0 0.9375rem 0 rgba(204, 206, 209, 0.3); // 흐림 15px,  $pressed-gray, 불투명도 30%;

/* form */
$form-asset-path: "../media/icons/form";
$column-row: 12;  // 폼을 나누는 갯수

// container > toolbar
$form-toolbar-height: 3.125rem; // 50px 
$form-toolbar-top-bottom-padding: 0.9375rem; // 15px
$form-toolbar-real-height: $form-toolbar-height - ($form-toolbar-top-bottom-padding * 2); // 25px
$form-toolbar-background-color: $point-blue;
$form-toolbar-font-size: 1.125rem; // 18px
$form-toolbar-font-color: $white;
$form-toolbar-logo-width: 10.94rem; // 175px
$form-toolbar-separator-color: $white;
$form-toolbar-margin-right: 1.25rem; // 20px

// container > contents > drawing-board
$form-drawing-board-width: 59.38rem; // 950px
$form-drawing-board-top-margin: 6.563rem; // 105px

// container > aside
$form-aside-background-color: $white;
$form-aside-width: 16.25rem; // 260px
$form-aside-box-shadow: -0.0625rem 0.9375rem 0.4375rem 0 rgba(204, 206, 209, 0.6);// -1px 15px 7px 0px $pressed-gray, 불투명도 60%;

// component 
$component-font-family: "Noto Sans KR";
$component-label-font-size: 16px;
$component-label-line-height: 27px;
$component-label-font-weight: 500; // medium
$component-label-font-color: $light-black;
$component-content-font-size: 16px;
$component-content-line-height: 27px;
$component-content-font-weight: 400; // regular
$component-content-font-color: $dark-gray;
$component-content-background-color: $white;
$component-border-color: $line-gray;
$component-indent-padding-left: 10px; // 10px 컴포넌트 들여쓰기
$component-selected-border-color: $light-blue;
$component-selected-background-color: rgba(135, 206, 255, 0.1);
$component-disabled-background-color: $light-gray;
$component-disabled-font-color: $gray;
$component-focus-border-color: $point-blue;

// context menu
$context-menu-width: 11.88rem; // 190px 
$context-menu-height: 14.06rem; // 225px
$context-menu-background-color: $white;
$context-menu-font-size: 0.875rem; // 14px
$context-menu-font-color: $dark-gray;
$context-menu-border: 0.0625rem solid $line-gray; // 1px
$context-menu-box-shadow: 0 0 0.3125rem 0 $line-gray; // 흐림 5px, $line-gray
$context-menu-focus-background-color: rgba(135, 206, 255, 0.1);
$context-menu-focus-font-color: $point-blue;

// properties title
$properties-title-height: 3.125rem; // 50px
$properties-title-background-color: $hover-blue;
$properties-title-font-size: 18px; // 18px
$properties-title-line-height: 27px;
$properties-title-font-color: $white;
$properties-title-font-weight: 500;

// properties detail
$properties-border-color: #c8ced8; // default
$properties-background-color: $white; // default
$properties-value-font-color: #67717F; // default 
$properties-large-title-font-size: 0.75rem; // 12px
$properties-large-title-font-color: #3E4752;
$properties-large-title-font-weight: 500;
$properties-small-title-font-size: 0.6875rem; // 11px
$properties-small-title-font-color: #68717c;
$properties-small-title-font-weight: normal;
$properties-indent-padding-left: 0.438rem; // 7px input, select 등 들여쓰기
$properties-active-font-color: $point-blue;
$properties-active-border-color: $point-blue;
$properties-active-background-color: $white;
$properties-inactive-font-color: $gray;
$properties-inactive-border-color: $line-gray;
$properties-inactive-background-color: $light-gray;
$properties-disabled-font-color: #aeb7c2;
$properties-disabled-border-color: #c8ced8;
$properties-disabled-background-color: #f2f5fa;

/* document */

// container > contents > button-board, drawing-board
$document-button-board-height: 9.375rem; // 150px
$document-content-drawing-board-width: 61.56rem; // 985px

// container > aside > drawing-board
$document-aside-drawing-board-width: 33.75rem; // 540px