/* Variables */

// font family
$font-family:                     "Noto Sans KR";
$font-size-base:                  1rem; /* 16px */


// color
$black:            #000000;
$white:            #ffffff;
$red:              #FF405A;
$orange:           #FF7319;
$green:            #00C462;
$focus-black:      #283238;
$ground-black:     #333D47;
$light-black:      #3F4B56;
$dark-gray:        #586872;
$warm-gray:        #7E848C;
$blue-gray:        #929AA6;
$gray:             #ACB4BF;
$pressed-gray:     #CCCED1;
$default-gray:     #E1E3E6;
$line-gray:        #EBEBEB;
$light-gray:       #F7F8F9;
$dark-blue:        #0060A5;
$pressed-blue:     #0088E6;
$point-blue:       #0098FF;
$hover-blue:       #33ADFF;
$light-blue:       #87CEFF;

// h1 ~ h5
$h1-font-size:                    $font-size-base * 2.25; /* 36px */
$h2-font-size:                    $font-size-base * 1.75; /* 28px */
$h3-font-size:                    $font-size-base * 1.5;  /* 24px */
$h4-font-size:                    $font-size-base * 1.25; /* 20px */
$h5-font-size:                    $font-size-base;
$h6-font-size:                    $font-size-base * 0.875; /* 14px */

$headings-font-family:            "Noto Sans KR";
$headings-font-weight:            500;
$headings-line-height:            1.2;
$headings-color:                  $light-black;

//$h1-font-color:      $light-black; 
//$h2-font-color:      $light-black;
//$h3-font-color:      $light-black;
//$h4-font-color:      $dark-gray;
//$h5-font-color:      $warm-gray;

// input
$input-font-size:            16px;
$input-font-weight:          400; // regular
$input-line-height:          24px;
$input-font-color:           $dark-gray;
$input-border:               0.0625rem solid $line-gray;
$input-bg-color:             $white;
$input-placeholder-color:    $gray;
$input-focus-border:         0.0625rem solid $point-blue;
$input-focus-box-shadow:     0 0 0.3125rem 0 rgba(0, 152, 255, 0.2); // 흐림 5px
$input-pressed-border:       0.0625rem solid $point-blue;
$input-disabled-color:       $gray;
$input-disabled-bg-color:    $light-gray;
$input-error-color:          $red !important;
$input-error-border:         0.0625rem solid $red !important;

// range
$input-range-border-color:   $line-gray;
$input-range-round-border:   0.0625rem solid $line-gray;
$input-range-round-bg-color: $white;

// textarea
$textarea-font-size:         16px;
$textarea-font-weight:       400; // regular
$textarea-line-height:       16px;
$textarea-font-color:        $dark-gray;
$textarea-border:            0.0625rem solid $line-gray;
$textarea-bg-color:          $white;
$textarea-placeholder-color: $gray;
$textarea-focus-border:      0.0625rem solid $point-blue;
$textarea-focus-box-shadow:  0 0 0.3125rem 0 rgba(0, 152, 255, 0.2); // 흐림 5px
$textarea-pressed-border:    0.0625rem solid $point-blue;
$textarea-disabled-color:    $gray;
$textarea-disabled-bg-color: $light-gray;
$textarea-error-color:       $red !important;
$textarea-error-border:      0.0625rem solid $red !important;

// select
$select-font-size:           16px;
$select-font-weight:         400; // regular
$select-line-height:         24px;
$select-font-color:          $dark-gray;
$select-border:              0.0625rem solid $line-gray;
$select-bg-color:            $white;
$select-focus-border:        0.0625rem solid $point-blue;
$select-focus-box-shadow:    0 0 0.3125rem 0 rgba(0, 152, 255, 0.2); // 흐림 5px
$select-pressed-border:      0.0625rem solid $point-blue;
$select-disabled-color:      $gray;
$select-disabled-bg-color:   $light-gray;

// label
$label-font-size:            16px;
$label-font-weight:          500; // medium
$label-line-height:          24px;
$label-font-color:           $light-black;
$label-point-font-color:     $hover-blue;
$label-ghost-font-color:     $white;

// span
$span-font-size:            16px;
$span-font-weight:          400; // regular
$span-line-height:          24px;
//$span-font-color:           $light-black;

// radio button 
$radio-font-size:            16px;
$radio-font-weight:          400; // regular
$radio-line-height:          24px;
$radio-font-color:           $dark-gray;
$radio-border:               0.0625rem solid $line-gray;
$radio-bg-color:             $white;
$radio-focus-border-color:   $point-blue;
$radio-focus-box-shadow:     0 0 0.3125rem 0 rgba(0, 152, 255, 0.2); // 흐림 5px
$radio-pressed-color:        $point-blue;
$radio-pressed-border-color: $line-gray;
$radio-disabled-color:       $gray;
$radio-disabled-bg-color:    $light-gray;

// checkbox
$checkbox-font-size:            16px;
$checkbox-font-weight:          400; // regular
$checkbox-line-height:          24px;
$checkbox-font-color:           $dark-gray;
$checkbox-border:               0.0625rem solid $line-gray;
$checkbox-bg-color:             $white;
$checkbox-focus-border-color:   $point-blue;
$checkbox-focus-box-shadow:     0 0 0.3125rem 0 rgba(0, 152, 255, 0.2); // 흐림 5px
$checkbox-pressed-color:        $point-blue;
$checkbox-pressed-border-color: $line-gray;
$checkbox-disabled-color:       $gray;
$checkbox-disabled-bg-color:    $light-gray;

// table
$table-font-size:            16px;
$table-font-weight:          400; // regular
$table-head-font-weight:     500; // medium
$table-line-height:          24px;
$table-font-color:           $dark-gray;
$table-border:               0.0625rem solid $line-gray;
$table-bg-color:             $white;

// image
$img-font-size:                 16px;
$img-font-weight:               400; // regular
$img-line-height:               24px;
$img-placeholder-color:         $gray;
$img-border:                    0.0625rem solid $line-gray;
$img-bg-color:                  $light-gray;
$img-pressed-bg-color:          $white;

// button
$button-font-size:              16px;
$button-font-weight:            500; // medium
$button-line-height:            24px;
$button-font-color:             $light-black;
$button-border:                 0.0625rem solid transparent;
$button-bg-color:               transparent;

// fileuploader
$dropzone-asset-path:           "../media/icons/dropzone";
$dropzone-font-size:            16px;
$dropzone-font-weight:          400; // regular
$dropzone-line-height:          24px;
$dropzone-font-color:           $gray;
$dropzone-border:               0.0625rem solid $line-gray;
$dropzone-bg-color:             $light-gray;
$dropzone-progress-color:       $point-blue;
$dropzone-progress-bg-color:    $line-gray;
$dropzone-filename-font-color:  $dark-gray;
$dropzone-filesize-font-color:  $gray;
$dropzone-preview-height:       5rem; // 80px;
$dropzone-point-color:          $point-blue;
$dropzone-pressed-bg-color:     $white;

// TODO: datepicker 변수 정리
$datepicker-asset-path:         "../media/icons/datepicker";

// container
$container-background-color:    $light-gray;

// container > toolbar
$toolbar-font-size:             18px;
$toolbar-font-weight :          500; // medium
$toolbar-font-color:            $white;
$toolbar-height:                3.125rem; // 50px 
$toolbar-top-bottom-padding:    0.9375rem; // 15px
$toolbar-real-height:           $toolbar-height - ($toolbar-top-bottom-padding * 2); // 25px
$toolbar-bg-color:              $point-blue;
$toolbar-separator-color:       $white;
$toolbar-margin-right:          1.25rem; // 20px
$toolbar-name-font-size:        16px;

// container > contents, aside > drawing-board
$drawing-board-bg-color:        $white;
$drawing-board-border:          0.0625rem solid $line-gray; // 1px
$drawing-board-box-shadow:      0 0 0.9375rem 0 rgba(204, 206, 209, 0.3); // 흐림 15px,  $pressed-gray, 불투명도 30%;

// form
$form-asset-path:               "../media/icons/form";
$column-row:                    12;  // 폼을 나누는 갯수

// container > contents > drawing-board
$form-drawing-board-width:      59.38rem; // 950px
$form-drawing-board-top-margin: 6.563rem; // 105px

// container > aside
$form-aside-bg-color:           $white;
$form-aside-width:              18.75rem; // 300px
$form-aside-box-shadow:         -0.0625rem 0.9375rem 0.4375rem 0 rgba(204, 206, 209, 0.6);// -1px 15px 7px 0px $pressed-gray, 불투명도 60%;

// component
$component-border:               0.0625rem solid transparent;
$component-indent-padding-left:  10px; // 10px 컴포넌트 들여쓰기
$component-bg-color:             $white;
$component-pressed-border-color: $light-blue; // 컴포넌트 선택시
$component-pressed-bg-color:     rgba(135, 206, 255, 0.1); // 컴포넌트 선택시
$component-disabled-bg-color:    $light-gray;
$component-disabled-font-color:  $gray;
$component-move-handler-color:   $pressed-gray;

// editbox component
$editbox-font-size:              16px;
$editbox-font-weight:            400; // regular
$editbox-font-color:             $blue-gray;
$editbox-pressed-color:          $light-blue;

// context menu
$context-menu-width:             11.88rem; // 190px 
$context-menu-height:            14.06rem; // 225px
$context-menu-bg-color:          $white;
$context-menu-font-size:         0.875rem; // 14px
$context-menu-font-color:        $dark-gray;
$context-menu-border:            0.0625rem solid $line-gray; // 1px
$context-menu-box-shadow:        0 0 0.3125rem 0 $line-gray; // 흐림 5px, $line-gray
$context-menu-focus-bg-color:   rgba(135, 206, 255, 0.1);
$context-menu-focus-font-color:  $point-blue;

// properties title
$properties-title-height:        2.5rem; // 40px
$properties-title-bg-color:      $hover-blue;
$properties-title-font-size:     16px;
$properties-title-font-weight:   500; // medium
$properties-title-line-height:   24px;
$properties-title-font-color:    $white;

// properties detail
$properties-indent-padding-left:   0.438rem; // 7px input, select 등 들여쓰기
$properties-border:              0.0625rem solid $line-gray; // 1px

// color palette
$properties-border-color:          #c8ced8; // default
$properties-bg-color:              $white; // default

$properties-active-font-color:     $point-blue; // 삭제 예정
$properties-active-border-color:   $point-blue; // 삭제 예정

// document
// container > contents > button-board, drawing-board
$document-content-drawing-board-width:  61.56rem; // 985px
$document-content-drawing-board-top-margin: 6.563rem; // 105px

$image-folder-path: "../media/image/";