<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link th:href="@{/assets/css/alice-bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/assets/vendors/gModal/css/gModal.css}" rel="stylesheet"/>
    <link th:href="@{/assets/vendors/dropzone/dropzone.css}" rel="stylesheet"/>
    <title>회원가입 페이지</title>
</head>
<body>
    <div id="divProgressBar" style="z-index: 1000; position: fixed; display: block; width: 100%; height: 100%; top: 50;  left: 0;  right: 0;  bottom: 0;  background-color: grey; opacity: 0.5; pointer-events: all;">
        <img id="aProgressBar" name="aProgressBar" th:src="@{/assets/media/image/loading_w_dark.gif}" style="position: absolute; left: 50%; top: 0; bottom:0; margin:auto;"/>
    </div>
    <div class="white-base" id="signUp">
        <div class="login-face">
            <p th:text="#{login.loginNote}"></p>
            <a class="btn btn-primary" href="/login" id="sendLogin" th:text="#{login.sendLogin}"></a>
        </div>
        <img th:src="@{/assets/media/icons/logo.png}" alt="Alice">
            <div class="signup-base">
                <p th:text="#{login.userSignUp}"></p>
                <form id="signUpForm" method="post" onsubmit="return false">
                    <table class="signup-form">
                        <input type="hidden" id="avatarUUID" name="avatarUUID" value=""/>
                        <tr>
                            <th><a class="required" th:text="#{user.id}"></a></th>
                            <td><input type="text" id="userId" name="userId" maxlength="100" required="required"></td>
                        </tr>
                        <tr>
                            <th><a class="required" href="#password-guide" tabindex="-1" th:text="#{user.password}"></a></th>
                            <td><input type="password" id="password" name="password" maxlength="100" required="required"></td>
                        </tr>
                        <tr>
                            <th><a class="required" href="#password-guide" tabindex="-1" th:text="#{user.rePassword}"></a></th>
                            <td><input type="password" id="rePassword" name="rePassword" maxlength="100" required="required"></td>
                        </tr>
                        <tr>
                            <th><a class="required" th:text="#{user.name}"></a></th>
                            <td><input type="text" id="userName" name="userName" maxlength="100" required="required"></td>
                        </tr>
                        <tr>
                            <th><a class="required" th:text="#{user.email}"></a></th>
                            <td><input type="text" id="email" name="email" maxlength="100" required="required"></td>
                        </tr>
                        <tr>
                            <th><a th:text="#{user.position}"></a></th>
                            <td><input type="text" id="position" name="position" maxlength="100"></td>
                        </tr>
                        <tr>
                            <th><a th:text="#{user.department}"></a></th>
                            <td><input type="text" id="department" name="department" maxlength="100"></td>
                        </tr>
                        <tr>
                            <th><a th:text="#{user.officeNumber}"></a></th>
                            <td><input type="text" id="officeNumber" name="officeNumber" maxlength="100"></td>
                        </tr>
                        <tr>
                            <th><a th:text="#{user.mobileNumber}"></a></th>
                            <td><input type="text" id="mobileNumber" name="mobileNumber" maxlength="100"></td>
                        </tr>
                        <tr>
                            <th th:text="#{user.avatar}"/>
                            <td>
                                <!--<img th:src="${attachImage}" th:border="1" th:width="200" th:height="200"/>-->
                                <div id="dropZoneFiles"></div>
                                <div id="dropZoneUploadedFiles"></div>
                                <br/>
                            </td>
                        </tr>
                    </table>
                </form>
                <button class="btn btn-primary" id="userSignUp" th:text="#{login.doSignUp}" onclick="userRegister()"></button>
            </div>
        <div id="password-guide">
            <pre>
            [ 비밀번호 생성 가이드 ]

            1. 2가지 이상의 문자 구성(대문자, 소문자, 특수문자, 숫자)인 경우, 8자 이상 20자 미만, 1가지 종류의 문자 구성인 경우 10자 이상 20자 미만의 비밀번호 입력 제한 범위를 가진다.

            2. 사용자의 ID를 포함하지 않는다.
                   예) ID가 ITSM인 경우, ITS는 포함 가능, ITSM은 포함 불가.

            3. 사용자의 이메일 ID를 포함하지 않는다.
                   예) 이메일 ID가 ITSM인 경우, ITS는 포함 가능, ITSM은 포함 불가

            4. 공백을 허용하지 않는다.
            </pre>
        </div>
    </div>
    <script th:src="@{/assets/vendors/gModal/js/gModal.js}"></script>
    <script th:src="@{/assets/vendors/rsa/jsbn.js}"></script>
    <script th:src="@{/assets/vendors/rsa/rsa.js}"></script>
    <script th:src="@{/assets/vendors/rsa/prng4.js}"></script>
    <script th:src="@{/assets/vendors/rsa/rng.js}"></script>
    <script th:src="@{/assets/js/util/i18n-alice.js}"></script>
    <script th:src="@{/assets/js/util/validation-alice.js}"></script>
    <script th:src="@{/assets/js/util/util-alice.js}"></script>
    <script th:src="@{/assets/vendors/dropzone/dropzone.js}"></script>
    <script th:src="@{/assets/js/util/fileuploader-alice.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        window.onload = function() {
            i18n.add();
            hiddenProgressBar();

            document.getElementById('avatarUUID').value = uuid();
            var avatarUUID = document.getElementById('avatarUUID').value;
            fileUploader.init({extra: {
                    formId: 'signUpForm',
                    dropZoneMaxFileSize: 0.1,
                    dropZoneUrl: '/certification/fileupload?target=avatar&fileName='+ avatarUUID,
                    dropZoneMaxFiles: 1,
                    clickable: '.add-img-button'
            }});
        }
        const STATUS_SUCCESS = "0";
        const STATUS_ERROR_USER_ID_DUPLICATION = "1";
        const STATUS_ERROR_EMAIL_DUPLICATION = "3";

        // 사용자 등록
        function userRegister() {
            if (emptyValidation()) {
                if (isNotEquals('password', 'rePassword', 'msg.user.passwordNotEquals')) {
                    return false;
                } else {
                    // 비밀번호 validation Check
                    if (!isValidPassword("password")) return false;
                    // 비밀번호 RSA 암호화
                    const keyModule = [[${#request.getAttribute('_publicKeyModulus')}]];
                    const keyExponent = [[${#request.getAttribute('_publicKeyExponent')}]];
                    const rsa = new RSAKey();
                    rsa.setPublic(keyModule, keyExponent);

                    // 이메일 validation Check
                    if (!isValidEmail("email")) return false;

                    const password = document.getElementById("password").value;
                    const registerInfo = {
                        userId: document.getElementById("userId").value,
                        password: rsa.encrypt(password),
                        userName: document.getElementById("userName").value,
                        email: document.getElementById("email").value,
                        position: document.getElementById("position").value,
                        department: document.getElementById("department").value,
                        officeNumber: document.getElementById("officeNumber").value,
                        mobileNumber: document.getElementById("mobileNumber").value,
                        fileSeq: document.getElementsByName('fileSeq').value,
                        avatarUUID: document.getElementById('avatarUUID').value
                    };
                    // 등록
                    restSubmit("POST", "/certification/register",true,registerInfo);
                }
            }
        }
        // 빈 값 체크
        function emptyValidation() {
            if (isEmpty('userId', 'user.msg.idNotExist')) return false;
            if (isEmpty('password', 'user.msg.passwordNotExist')) return false;
            if (isEmpty('rePassword', 'user.msg.rePasswordNotExist')) return false;
            if (isEmpty('userName', 'user.msg.nameNotExist')) return false;
            if (isEmpty('email', 'user.msg.emailNotExist')) return false;
            return true;
        }

        function uuid() {
            function s4() {
                return ((1 + Math.random()) * 0x10000 | 0).toString(16).substring(1);
            }
            return s4() + s4() + '-' + s4() + '-' + s4() + '-' + s4() + '-' + s4() + s4() + s4();
        }

        // 데이터 전송
        function restSubmit(method, url, async, data) {
            const opt = {
                method: method,
                url: url,
                async: async,
                params: JSON.stringify(data),
                contentType: 'application/json',
                callbackFunc: function(response) {
                    switch (response.responseText) {
                        case STATUS_SUCCESS:
                            aliceJs.alert([[#{user.msg.joinUser}]], function() {
                                location.href = "/login";
                            });
                            break;
                        case STATUS_ERROR_USER_ID_DUPLICATION:
                            aliceJs.alert([[#{user.msg.sameUserId}]]);
                            break;
                        case STATUS_ERROR_EMAIL_DUPLICATION:
                            aliceJs.alert([[#{user.msg.sameEmail}]]);
                            break;
                        default :
                            aliceJs.alert([[#{common.msg.save.fail}]]);
                            break;
                    }
                }
            };
            aliceJs.sendXhr(opt);
        }
        /*]]>*/
    </script>
</body>
</html>