// 구분선 mixin
// include verticalBar(1.25rem, 1.25rem, 0.0625rem solid map-get($grays, "line"), 0.0625rem 0.9375rem 0.0625rem 0);
@mixin verticalBar($width, $height, $border, $margin) {
  .vertical-bar {
    width: $width;
    min-height: $height;
    border-right: $border;
    margin: $margin;
    vertical-align: middle;
  }
}

// @include horizontalBar(0.0625rem,  0.625rem 0, #000000);
@mixin horizontalBar($height, $margin, $color) {
  .horizontal-bar {
    height: $height;
    margin: $margin;
    background-color: $color;
  }
}
// 아래 선
@mixin underBar($width, $distance, $color) {
  .under-bar {
    border-bottom: $width solid $color;
    padding-bottom: $distance;
    margin-bottom: $distance;
    .bold {
      border-bottom: calc(#{$width} * 2) solid $color;
    }
  }
}