// font face 설정 mixin
// @include fontFace("Noto Sans KR", $font-folder-path + "/" + $fname , "opentype", normal, $weight);
@mixin fontFace($name, $path, $format, $style, $weight) {
  @font-face {
    font-family: $name;
    src: local($name), url($path) format($format);
    font-style: if($style == null, normal, $style);
    font-weight: $weight;
  }
}
