// 배경 이미지
// @include backgroundImage($icon-folder-path + 'login/icon_login_google.svg', 1.188rem, no-repeat, 0.625rem, center, null);
@mixin backgroundImage($path, $size, $repeat, $posX, $posY, $color) {
  background-image: url($path);
  background-size: if($size == null, auto, $size);
  background-repeat: if($repeat == null, no-repeat, $repeat);
  background-position-x: if($posX == null, center, $posX);
  background-position-y: if($posY == null, center, $posY);
  @if ($color != null) {
    background-color: $color;
  }
}

// 아이콘
// @include maskImage('#{$icon-folder-path}icon_close.svg', 0.875rem, 0.875rem, no-repeat, center, null, $notification-icon-color);
@mixin maskImage($path, $width: 1.5rem, $height: 1.5rem, $repeat, $pos, $size: null, $color: null) {
  width: $width;  // 기본값 24px
  height: $height; // 기본값 24px
  -webkit-mask-image: url($path);
  mask-image: url($path);
  -webkit-mask-repeat: if($repeat == null, no-repeat, $repeat);
  mask-repeat: if($repeat == null, no-repeat, $repeat);
  -webkit-mask-position: if($pos == null, center, $pos);
  mask-position: if($pos == null, center, $pos);
  @if ($size != null) {
    -webkit-mask-size: $size;
    mask-size: $size;
  }
  @if ($color != null) {
    background: $color;
  }
}