// todo: layout 내 mixin 이름 refactoring
// 메인 화면을 중앙 위치에 표시하기 위한 공통 디자인
@mixin container {
  max-width: 120rem;
  margin: 0 auto;
}

// 고정 layout 디자인
@mixin fixedHeader {
  @include fixed(0, 0, null, 0);
  display: flex;
  align-items: center;
}

@mixin fixedContainer {
  @include fixed($layout-header-height, $layout-properties-width, 0, 0);
  overflow-y: auto;
}

// portal 디자인
@mixin portalHeader() {
  // 제목
  .header-title {
    height: 10.625rem; // 170px
    padding: 3.75rem 0; // 60px 0
  }
}

@mixin portalViewTemplate() {
  .view {
    // 제목
    &-title {
      font-size: $view-title-font-size;
      font-weight: $view-title-font-weight;
      color: $view-title-font-color;
      padding-bottom: 0.625rem; // 10px
      margin-bottom: 0.625rem; //10px
      @include border(calc(#{$view-content-border-width} * 2), solid, $view-content-border-color, bottom);
    }
    // 등록일, 등록자
    &-sub-title {
      font-size: $view-sub-title-font-size;
      font-weight: $view-sub-title-font-weight;
      color: $view-sub-title-font-color;
      padding: 0 1.25rem; // 0 20px
    }
    // 내용
    &-content {
      font-size: $view-content-font-size;
      font-weight: $view-content-font-weight;
      color: $view-content-font-color;
      min-height: 13.4375rem; // 215px
      padding: 0.3125rem 1.25rem; // 5px 20px
      // 줄바꿈
      pre { @include wordWrap(break-word); }

      .view-text { margin: 0; }
    }
    // 버튼 영역
    &-btn-content {
      padding: 0.625rem 0 0 0; // 10px 0 0 0
    }
  }
}

// itsm 디자인
@mixin defaultMainHeader {
  // 제목
  .z-main-header-title {
    padding: 0 0 1.563rem 0; // 0 0px 25px 0px
  }
  // 검색 영역
  .z-main-header-search {
    font-family: $layout-header-search-font-family;
    font-size: $layout-header-search-font-size;
    padding: 0.3125rem 0px 1.25rem 0px; // 5px 0px 20px 0px
  }
}
// view
@mixin commonViewTemplate {
  .z-page-view {
    display: flex;
    flex-direction: column;
    flex: 1 0 0; // 고정
    padding: 2.1875rem 23.125rem 3.125rem 23.125rem; // 35px 370px 50px 370px

    // 각 행
    .z-view-row {
      width: 100%;
      margin: 0.625rem 0 0 0; // 10px 0 0 0
      label { margin: 0.625rem 0; } // 10px 0
    }
    .z-button-list { margin-top: 1.875rem; } // 30px

    &-sub-title {
      font-size: $view-sub-title-font-size;
      font-weight: $view-sub-title-font-weight;
      color: $view-sub-title-font-color;
      padding: 0 1.25rem; // 0 20px
    }
    // 내용
    &-content {
      font-size: $view-content-font-size;
      font-weight: $view-content-font-weight;
      color: $view-content-font-color;
      min-height: 13.4375rem; // 215px
      padding: 0.3125rem 1.25rem; // 5px 20px

      // 줄바꿈
      pre { @include wordWrap(break-word); }

      .view-text { margin: 0; }
    }
  }
}
// view
@mixin defaultViewTemplate() {
  .view {
    height: 100vh; // edit 화면에서 스크롤이 생기는 영역
    // 각 행
    .view-row {
      margin: 0.625rem 0 0 0; // 10px 0 0 0
      // 버튼 목록
      .z-button-list { margin-top: 1.875rem; } // 30px
    }
    // 제목
    &-title {
      font-size: $view-title-font-size;
      font-weight: $view-title-font-weight;
      color: $view-title-font-color;
      padding-bottom: 0.625rem; // 10px
      @include border(calc(#{$view-content-border-width} * 2), solid, $view-content-border-color, bottom);
    }
    // 등록일, 등록자
    &-sub-title {
      font-size: $view-sub-title-font-size;
      font-weight: $view-sub-title-font-weight;
      color: $view-sub-title-font-color;
      padding: 0 1.25rem; // 0 20px
    }
    // 내용
    &-content {
      font-size: $view-content-font-size;
      font-weight: $view-content-font-weight;
      color: $view-content-font-color;
      min-height: 13.4375rem; // 215px
      padding: 0.3125rem 1.25rem; // 5px 20px

      // 줄바꿈
      pre { @include wordWrap(break-word); }

      .view-text { margin: 0; }
    }
  }
}
// commonSearchTemplate
@mixin commonSearchTemplate() {
  .z-page-result {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1.875rem 3.75rem 1.875rem 3.75rem; // 30px 60px 30px 60px
    background-color: $layout-page-content-bg-color;

    // 문서함 > 우측 업무흐름 색상바
    .z-document-color {
      width: 0.75rem;  // 12px
      margin: 0.05rem;
    }

    // 문서함 > 제목 내용
    .z-document-row {
      padding: 1.875rem 3rem; // 30px 48px

      &-content {
        // 문서 제목
        .z-document {
          &-title {
            color: $token-name-color;
            // 문서 번호
            .z-document-numbering {
              font-size: $font-size-s; // 16px
              font-weight: $font-weight-regular;
              color: $token-numbering-color;
            }
          }
          &-topic {
            width: 39.38rem; //630px
            margin-top: 1.5625rem; // 25px

            .topic {
              font-size: $font-size-s; // 16px
              font-weight: $font-weight-regular;
            }
          }
        }
      }
      &-info {
        .z-document {
          &-detail {
            .user-name,
            .create-dt,
            .element-name {
              font-size: $font-size-s; // 16px
              font-weight: $font-weight-regular;
            }
          }
          &-tag {
            max-width: 23.75rem; // 380px
            margin-top: 3.5rem; // 56px
          }
        }
      }
    }
    // TODO: 추후 대시보드 디자인 완료시 아래 부분은 삭제 예정
    // 대시보드 > 소제목
    .sub-title {
      margin: 1.25rem 0; // 20px 0
    }
    // 대시보드 > 업무 통계
    .statistic {
      &-box {
        width: 23.75rem; // 380px
        @include border($card-border-width, solid, $card-border-color, all);
        @include borderRadius($card-border-radius);
        padding: 1.5625rem; // 25px
      }
      &-info {
        margin-left: 1.5625rem; // 25px
      }
      &-count {
        margin-bottom: 0.9375rem; // 15px
      }
      &-type { color: $gray500; }
    }
    // 대시보드 > 처리할 문서
    .scroll-wrap {
      flex: 1 1 auto;
      margin-right: 1.25rem; //20px
      .card:first-of-type { margin-top: 0;}
    }
  };
}
// pagingListTemplate
@mixin pagingListTemplate() {
  .z-page-list {
    display: flex;
    flex: 1;  // flex: 1 1 0;
    padding: 0 3.75rem 1.25rem 3.75rem; // 0 60px 20px 60px

    .z-list {
      &-content {
        display: flex;
        flex: 1; // flex: 1 1 0;
        a, button { cursor: pointer; }
      }
      // 테이블
      &-table {
        @include relative();
        display: flex;
        flex-direction: column;
        width: 100%;
        border: none;
      }
      // thead
      &-head {
        tr {
          height: 2.5rem; // 42px
          th {
            font-size: $font-size-s;
            font-weight: $font-weight-medium;
            color: $list-head-font-color;
            padding: 0 0.9375rem; // 0 15px

            &:first-child { padding-left: 1.25rem; } // 20px
          }
        }
      }
      // tbody
      &-body {
        width: 100%;
        height: 100%;
        @include border(calc(#{$list-border-width} * 2), solid, $list-border-color, top);
        @include border($list-border-width, solid, $list-border-color, bottom);
        tr {
          height: 2.8125rem; // 45px
          // 마우스 오버시 배경 색상
          &:hover { background-color: $list-hover-bg-color; }
          // 선택된 경우
          &.active {
            background-color: $list-active-bg-color;
            td { color: $list-active-font-color; }
          }
          td {
            font-size: $font-size-xs;
            font-weight: $font-weight-regular;
            color: $list-body-font-color;
            padding: 0 0.9375rem; // 0 15px
            line-height: initial; // 소문자 글자 짤림현상 방지

            &:first-child { padding-left: 1.25rem; } // 20px

            a { color: $list-body-font-color; }
          }
        }
        // 데이터 없을때
        .no-data-found-list {
          background-color: $no-data-found-list-bg;
          pointer-events: none;
        }
      }
      // tree
      &-tree {
        height: 37.88rem; // 606px
      }
    }
  }
}
// treeEditTemplate
@mixin treeEditTemplate() {
  .z-page-column-item {
    display: flex;
    flex: 1; // flex: 1 1 0;
    padding: 0 1.875rem; // 30px
    &:first-child {
      padding-left: 3.75rem; // 60PX
    }
    &:last-child {
      padding-right: 3.75rem; // 60px
    }
    .z-page-tree {
      flex: 1;
      margin-top: 0.9375rem; // 15px
    }
    .z-page-search {
      display: flex;
      flex-direction: row;
      padding: 0 0 1.25rem 0; // 20px
    }
    // 역할, 권한, 코드 화면의 우측 영역
    .z-page-edit {
      display: flex;
      flex-direction: column;
      flex: 1 0 100%; // 고정
      background-color: $layout-aside-bg-color;
      padding: 2.1875rem 0; // 35px 0
      .z-edit-form {
        display: flex;
        flex-direction: column;
        padding: 0 2.5rem 0 2.5rem; // 0 40px 0 40px
        .z-edit-row {
          margin-top: 0.625rem; // 10px

          label { margin: 0.625rem 0; } // 10px 0

          .z-input {
            &.attribute { width: 100%; }
          }
        }
        .z-button-list { margin: 1.875rem 0; } // 30px
      }
    }
  }
}
// commonEditTemplate
@mixin commonEditTemplate() {
  // 역할, 권한, 코드 화면의 우측 영역
  .z-page-edit {
    display: flex;
    flex-direction: column;
    flex: 1 0 0; // 고정
    padding: 2.1875rem 23.125rem 3.125rem 23.125rem; // 35px 370px 50px 370px
    background-color: $layout-aside-bg-color;
    .z-edit-form {
      display: flex;
      flex-direction: column;
    }
    .z-edit-row {
      width: 100%;
      margin: 0.625rem 0 0 0; // 10px 0 0 0
      label { margin: 0.625rem 0; } // 10px 0
    }
    label { margin: 0.625rem 0; } // 10px 0
    .z-button-list {
      margin: 1.875rem 0; // 30px
    }
  }
}
// list
/*
@mixin defaultListTemplate() {
  .list {
    a, button { cursor: pointer; }
    // 테이블
    &-table {
      position: relative;
      display: inline-table;
      width: 100%;
    }
    // thead
    &-head {
      tr {
        height: 2.125rem; // 34px
        border-bottom: 0.125rem solid map-get($grays, "default"); // 2px

        th {
          font-size: 1.125rem; // 18px
          font-weight: $font-weight-medium;
          color: map-get($blacks, "light");
          padding: 0 0.9375rem; // 0 15px

          &:first-child { padding-left: 1.25rem; } // 20px
        }
      }
    }
    // tbody
    &-body {
      position: absolute;
      width: 100%;
      height: 33.75rem; // 540px
      tr {
        height: 3.375rem; //54px
        // 마우스 오버시 배경 색상
        &:hover { background-color: $list-hover-bg-color; }
        // 선택된 경우
        &.active {
          background-color: $list-active-bg-color;

          td { color: $list-active-font-color; }
        }

        td {
          font-size: 1rem; // 16px
          font-weight: $font-weight-regular;
          color: map-get($grays, "dark");
          padding: 0 0.9375rem; // 0 15px
          line-height: initial; // 소문자 글자 짤림현상 방지

          &:first-child { padding-left: 1.25rem; } // 20px

          a { color: map-get($grays, "dark"); }
        }
      }
      // 데이터 없을때
      .no-data-found-list {
        background-color: $no-data-found-list-bg;
        pointer-events: none;
      }
    }
    // tree
    &-tree {
      height: 37.88rem; // 606px
    }
  }
}
*/
// card
@mixin defaultCardTemplate() {
  .card-list {
    flex-wrap: wrap;
    padding-bottom: 0.625rem; // 10px

    .card {
      position: relative;
      min-width: 32.0625rem; // 513px
      width: 100%;
      min-height: 9.375rem; // 150px
      margin: 1.25rem 1.25rem 0 0; // 20px 20px 0 0
      padding: 0;
      @include border($card-border-width, solid, $card-border-color, all);
      @include borderRadius($card-border-radius);
      overflow: hidden;
      cursor: pointer;
      // 마우스 오버시
      &:hover { box-shadow: $card-hover-box-shadow; }

      .document-column {
        h3 {
          width: 28rem; // 448px
        }
      }
    }
    // 데이터 없을 때
    .no-data-found {
      width: 100%;
      background-color:$no-data-found-bg-color;
      pointer-events: none;

      .i-no-card { content: url('#{$icon-folder-path}icon_no_card.svg'); }
      .no-data-text {
        font-size: $font-size-m;; // 18px
        font-weight: $font-weight-medium;
        color: $no-data-found-font-color;
        margin-left: 2.5rem; // 40px
      }
    }
  }
}
// register, edit
@mixin defaultEditTemplate() {
  .z-edit {
    height: 100vh; // edit 화면에서 스크롤이 생기는 영역
    .z-edit-row {
      margin: 0.625rem 0 0; // 10px 0 0 0

      label { margin: 0.625rem 0; } // 10px 0

      // 버튼 목록
      .z-button-list { margin-top: 1.875rem; } // 30px
    }

    .z-edit-column {
      .z-edit-row { margin: 0.625rem 0 0 0; } // 10px 0 0 0
    }
  }
}
