<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="_csrf" th:content="${_csrf.token}"/>
<script src="../../assets/js/withoutJquery.js"></script>
</head>
<body>
    <div class="container">
        <form id="faqForm" method="post" onsubmit="return false">
            <table>
                <tr>
                    <th>*그룹</th>
                    <td><input id="faqGroup" name="faqGroup" type="text" th:value="${faqDetail?.faqGroup}" maxlength = "100" required="required" /></td>
                </tr>
                   <tr>
                       <th>*제목</th>
                       <td><input id="faqTitle" name="faqTitle" type="text" th:value="${faqDetail?.faqTitle}" maxlength = "200" required="required" /></td>
                   </tr>
                <tr>
                    <th>*내용</th>
                    <td><textarea id="faqContent" name="faqContent" th:text="${faqDetail?.faqContent}"></textarea></td>
                </tr>
            </table>
            <div class="button">
                <button type="button" id="btnList" onclick="location.href='/faqs/listView'">목록</button>
                <button th:if="!${faqDetail?.faqId}" id="btnRegist" th:formaction="@{/faqs}">등록</button>
                <button th:if="${faqDetail?.faqId}" id="btnUpdate" th:formaction="@{/faqs/{faqId}(faqId=${faqDetail?.faqId})}" >수정 완료</button>
                <button th:if="${faqDetail?.faqId}" id="btnDelete" th:formaction="@{/faqs/{faqId}(faqId=${faqDetail?.faqId})}" >삭제</button>            
            </div>
        </form>
    </div>
</body>
<script type="text/javascript">
/*<![CDATA[*/
window.onload = function() {
    if ("[[${faqDetail?.faqId}]]" == "") {
        document.getElementById("btnRegist").addEventListener("click", function() { restSubmit("post","[[@{/faqs}]]","true"); });
    } else {
        document.getElementById("btnUpdate").addEventListener("click", function() { restSubmit("put","[[@{/faqs/{faqId}(faqId=${faqDetail?.faqId})}]]","true"); });
        document.getElementById("btnDelete").addEventListener("click", function() { restSubmit("delete","[[@{/faqs/{faqId}(faqId=${faqDetail?.faqId})}]]","true"); });
    }
}

function restSubmit(method, url, async) {
    var xmlhttp = createXmlHttpRequestObject(method,url, async);
    xmlhttp.onreadystatechange = function() {
        if (xmlhttp.readyState == XMLHttpRequest.DONE) {   // XMLHttpRequest.DONE == 4
            if (xmlhttp.status == 200) {
                alert("Success");
                window.location = "/faqs/listView";
            } else if (xmlhttp.status == 400) {
                alert('There was an error 400');
            } else {
                alert('something else other than 200 was returned');
            }
        }
    };
    xmlhttp.send(new FormData(document.getElementById("faqForm")));
}
/*]]>*/
</script>
</html>