<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layout/defaultLayout">
<head>
    <title>FAQ 편집</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="container" style="width: 70%; margin: 50px auto;">
        <h1 th:text="#{menu.help.faq}"></h1>
        <p th:text="#{faq.msg.description}"></p>
        <hr>
        <form id="faqForm" method="post" onsubmit="return false">
            <input type="hidden" id="faqId" name="faqId" th:value="${faq?.faqId}"/>
            <table>
                <colgroup>
                    <col width="20%">
                    <col width="*">
                </colgroup>
                <tr>
                    <th class="required" th:text="#{faq.group}">*그룹</th>
                    <td>
                        <select id="faqGroup" name="faqGroup">
                            <option th:each="faqGroup :${faqGroupList}" th:text="#{${faqGroup.code}}"
                                    th:value="${faqGroup.code}" th:selected="${faqGroup.code} == ${faq?.faqGroup}">
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th class="required" th:text="#{faq.title}">제목</th>
                    <td><input id="faqTitle" name="faqTitle" type="text" th:value="${faq?.faqTitle}" maxlength="200"
                               required="required"/></td>
                </tr>
                <tr>
                    <th class="required" th:text="#{faq.contents}">내용</th>
                    <td><textarea id="faqContent" name="faqContent" th:text="${faq?.faqContent}"></textarea></td>
                </tr>
            </table>

            <div class="button">
                <button type="button" id="btnList" onclick="location.href='/faqs/search'" th:text="#{faq.list}">목록
                </button>
                <button sec:authorize="hasAuthority('faq.create')" th:if="!${faq?.faqId}" id="btnRegist"
                        th:text="#{faq.save}">저장
                </button>
                <button sec:authorize="hasAuthority('faq.update')" th:if="${faq?.faqId}" id="btnUpdate"
                        th:text="#{faq.save}">저장
                </button>
                <button sec:authorize="hasAuthority('faq.delete')" th:if="${faq?.faqId}" id="btnDelete"
                        th:text="#{faq.delete}">삭제
                </button>
            </div>
        </form>
    </div>
</th:block>
</body>
<th:block layout:fragment="pageScript">
    <script th:src="@{/assets/js/util/validation-alice.js}"></script>
    <script type="text/javascript">
        /*<![CDATA[*/
        window.onload = function() {
            if ("[[${faq?.faqId}]]" === "") {
                document.getElementById("btnRegist").addEventListener("click", function () {
                    restSubmit("post", "[[@{/rest/faqs}]]");
                });
            } else {
                document.getElementById("btnUpdate").addEventListener("click", function () {
                    restSubmit("put", "[[@{/rest/faqs/{faqId}(faqId=${faq?.faqId})}]]");
                });
                document.getElementById("btnDelete").addEventListener("click", function () {
                    restSubmit("delete", "[[@{/rest/faqs/{faqId}(faqId=${faq?.faqId})}]]");
                });
            }
        };

        function restSubmit(method, url) {
            const formData = new FormData(document.getElementById("faqForm"));
            var object = {};

            if (!validation()) {
                return false;
            }

            formData.forEach(function(value, key) {
                object[key] = value;
            });

            const opt = {
                method: method,
                url: url,
                params: JSON.stringify(object),
                contentType: 'application/json',
                callbackFunc: function() {
                    aliceJs.alert("Success", function() {
                        window.location.href = "/faqs/search";
                    });
                }
            };
            aliceJs.sendXhr(opt);
        }

        function validation() {
            if (isEmpty('faqTitle', 'faq.msg.titleNotExist')) { return false; }
            if (isEmpty('faqContent', 'faq.msg.contentNotExist')) { return false; }
            return true;
        }
        /*]]>*/
    </script>
</th:block>
</html>
