<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/itsm/pageType/commonEditLayout}">
<head>
    <title th:text="${faq != null} ? #{faq.label.edit} : #{faq.label.register}"></title>
</head>
<body>
<div layout:fragment="pageTitle">
    <h1 th:text="#{faq.label.faq}"></h1>
    <h6 class="description ml-2 pl-2" th:text="#{faq.msg.editDescription}"></h6>
</div>
<div layout:fragment="pageEdit">
    <div class="edit-form flex-fill">
        <form id="faqForm" method="post" onsubmit="return false">
            <input type="hidden" id="faqId" name="faqId" th:value="${faq?.faqId}"/>
            <div class="flex-column edit-row">
                <label for="faqGroup">
                    <span th:text="#{faq.label.category}"></span>
                    <span class="required"></span>
                </label>
                <select id="faqGroup" name="faqGroup" required="required">
                    <option th:each="faqGroup :${faqGroupList}" th:text="${faqGroup.codeName}"
                            th:value="${faqGroup.code}" th:selected="${faqGroup.code} == ${faq?.faqGroup}">
                    </option>
                </select>
            </div>
            <div class="flex-column edit-row">
                <label for="faqTitle">
                    <span th:text="#{common.label.title}"></span>
                    <span class="required"></span>
                </label>
                <input type="text" class="input" id="faqTitle" name="faqTitle" th:value="${faq?.faqTitle}"
                       maxlength="100" required="required"/>
            </div>
            <div class="flex-column edit-row">
                <label for="faqContent">
                    <span th:text="#{common.label.contents}"></span>
                    <span class="required"></span>
                </label>
                <textarea id="faqContent" name="faqContent" th:text="${faq?.faqContent}"
                          maxlength="2048" rows="7" class="textarea textarea-scroll-wrapper"></textarea>
            </div>
            <div class="flex-row justify-content-between edit-row">
                <div class="btn__list">
                    <a class="btn__text--box secondary" href="/faqs/search" th:text="#{common.btn.list}"></a>
                </div>
                <div class="btn__list" sec:authorize="hasAuthority('portal.manage')">
                    <button type="button" class="btn__text--box primary" id="btnRegist"
                            onclick="saveFaq('POST')"
                            th:if="!${faq?.faqId}" th:text="#{common.btn.register}"></button>
                    <button type="button" class="btn__text--box primary" id="btnUpdate"
                            onclick="saveFaq('PUT')"
                            th:if="${faq?.faqId}" th:text="#{common.btn.modify}"></button>
                    <button type="button" class="btn__text--box danger"
                            onclick="deleteFaq()"
                            th:if="${faq?.faqId}" th:text="#{common.btn.delete}"></button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
<script layout:fragment="pageScript" type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    window.onload = function () {
        document.getElementById('faqTitle').focus();
        OverlayScrollbars(document.querySelector('.page-content'), { className: 'scrollbar' });
        OverlayScrollbars(document.querySelectorAll('.textarea-scroll-wrapper'), {
            className: 'scrollbar',
            resize: 'vertical',
            sizeAutoCapable: true,
            textarea: {
                dynHeight: false,
                dynWidth: false,
                inheritedAttrs: "class"
            }
        });
    };

    /**
     * FAQ 등록 / 수정
     */
    function saveFaq(method) {
        if (!validation()) { return false; }
        const faqId = (method === 'POST') ? '' : '/' + /*[[${faq?.faqId}]]*/'';
        const data = aliceJs.formDataToObject(document.getElementById('faqForm'))
        const resultMsg = (method === 'POST') ? i18n.msg('common.msg.register') : i18n.msg('common.msg.update');
        aliceJs.fetchJson('/rest/faqs' + faqId, {
            method: method,
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then((response) => {
            switch (response.status) {
                case aliceJs.response.success:
                    zAlert.success(resultMsg, function () {
                        location.href = '/faqs/search';
                    });
                    break;
                case aliceJs.response.duplicate:
                    zAlert.warning(i18n.msg('faq.msg.duplicateTitleInCategory'));
                    break;
                case aliceJs.response.error:
                    zAlert.danger(i18n.msg('common.msg.fail'));
                    break;
                default :
                    break;
            }
        });
    }

    /**
     * FAQ 삭제
     */
    function deleteFaq() {
        zAlert.confirm(i18n.msg('common.msg.confirmDelete'),  () => {
            aliceJs.fetchJson('/rest/faqs/' + /*[[${faq?.faqId}]]*/'', {
                method: 'DELETE'
            }).then((response) => {
                if (response.status === aliceJs.response.success) {
                    zAlert.success(i18n.msg('common.msg.delete'), function () {
                        window.location.href = '/faqs/search';
                    });
                }
            });
        });
    }

    /**
     * 유효성을 검사한다.
     */
    function validation() {
        if (isEmpty('faqTitle', 'common.msg.enterTitle')) {
            return;
        }
        if (isEmpty('faqContent', 'common.msg.enterContents')) {
            return;
        }
        return true;
    }
    /*]]>*/
</script>
</html>
