<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <style>
        #faqGroup {
            background-color: #f1f9ff;
            width: 100%;
        }
        #faqTitle {
            padding-left: 2rem;
        }
        #faqContents {
            padding-left: 4rem;
        }
    </style>
</head>
<body>

<!--test-->
<details th:each="faqGroup :${faqGroupList}">
    <summary th:text="${faqGroup}" id="faqGroup">카테고리</summary>
    <details>
        <summary id="faqTitle" >제목</summary>
        <p id ="faqContents">내용</p>
    </details>
</details>

<table class="table table-hover" style="text-align: center">
    <colgroup>
        <col width="30%">
        <col width="70%">
        </colgroup>
    <thead>
    <tr>
        <th th:text="#{faq.group}">그룹</th>
        <th th:text="#{faq.title}">제목</th>
        <th></th>
    </tr>
    </thead>
    <tbody id="faqs">
    <tr th:each="faq : ${faqs}">
        <td th:text="${faq.faqGroup}"></td>
        <td><a th:href="@{/faqs/{id}/view(id=${faq.faqId})}" th:text="${faq.faqTitle}"></a></td>
        <td><a sec:authorize="hasAuthority('faq.update')" th:href="@{/faqs/{id}/edit(id=${faq.faqId})}" th:text="#{faq.edit}">편집</a></td>
    </tr>
    </tbody>
</table>
</body>
<script type="text/javascript">

</script>
</html>
