<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="list-wrap">
    <table>
        <colgroup>
            <col style="width: 1rem">
            <col style="width: 7rem">
        </colgroup>
        <thead>
        <tr>
            <th th:text="#{faq.label.category}"></th>
            <th th:text="#{faq.label.title}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${#arrays.isEmpty(faqs)}">
            <td colspan="2" th:text="#{common.msg.noData}"></td>
        </tr>
        <tr th:unless="${#arrays.isEmpty(faqs)}" th:each="faq: ${faqs}">
            <td th:text="#{|common.code.${faq.faqGroup}|}"></td>
            <td class="align-left" th:text="${faq.faqTitle}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
