<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/defaultLayout">
<head>
    <title>FAQ 리스트</title>
</head>
<body>
<th:block layout:fragment="content">
<div class="container" style="width: 70%; margin: 50px auto;">
    <h1 th:text="#{menu.help.faq}">FAQ</h1>
    <p th:text="#{faq.msg}">자주 묻는 질문과 답변입니다.</p>
    <div id="faqSearch" style="margin: 30px 0;">
        <select align="left" id="searchKeyword">
            <option th:text="#{faq.category.all}" value="" selected>전체</option>
            <option th:each="faqGroup :${faqGroupList}" th:text="${faqGroup}" th:value="${faqGroup}"></option>
        </select>
        <div sec:authorize="hasAuthority('faq.create')" class="button" style="float:right">
            <button type="button" onclick="location.href='/faqs/new'" th:text="#{faq.add}">추가</button>
        </div>
    </div>
    <div id="faqList">
    </div>
</div>
</th:block>
</body>
<th:block layout:fragment="pageScript">
<script type="text/javascript">
window.onload = function() {
    search();
}

let keyword = document.getElementById("searchKeyword");
keyword.addEventListener('change', function(event){
    search(event.target.value);
});

function search(val) {
    const opt = {
        method: "GET",
        url: "/faqs/list",
        callbackFunc: function(response) {
            document.getElementById("faqList").innerHTML = response.responseText;
        }
    };
    aliceJs.sendXhr(opt);
}

</script>
</th:block>
</html>
