<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/defaultLayout">
<head>
    <title th:text="#{menu.portal.faq}"></title>
    <link th:href="@{/assets/css/reset.css}" rel="stylesheet"/>
</head>
<body>
<th:block layout:fragment="content">
    <div class="wrap-screen">
        <div class="container">
            <div class="contents">
                <div class="contents-title">
                    <span class="title-txt" th:text="#{menu.portal.faq}"></span>
                    <span class="title-description" th:text="#{faq.msg.description}"></span>
                </div>
                <div class="contents-body">
                    <div class="usermanage-menubar">
                        <div class="menubar-left">
                            <form id="searchFrm">
                                <input class="search" id="search" name="search" type="text" maxlength="100" th:placeholder="#{faq.label.searchPlaceholder}">
                                <span class="icon-search"></span>
                            </form>
                        </div>
                        <div class="menubar-right">
                            <button class="btn-add" onclick="location.href='/faqs/new'" sec:authorize="hasAuthority('faq.create')"></button>
                        </div>
                    </div>

                    <div class="list" id="faqList"></div>

                    <div class="menubar-bottom">
                        <div class="paging">
                            <ul>
                                <li><span class="btn-prev"></span></li>
                                <li><span class="btn-num">1</span></li>
                                <li><span class="btn-num">2</span></li>
                                <li><span class="btn-num">3</span></li>
                                <li><span class="btn-num">···</span></li>
                                <li><span class="btn-num">6</span></li>
                                <li><span class="btn-next"></span></li>
                            </ul>
                        </div>
                        <div class="list-count"><span>총:127명</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
<th:block layout:fragment="pageScript">
    <script type="text/javascript">
        /*<![CDATA[*/
        const searchFaqs = function () {
            const search = aliceJs.serialize(document.getElementById('searchFrm'));
            const opt = {
                method: 'GET',
                url: '/faqs/list?' + search,
                showProgressbar: false,
                callbackFunc: function (response) {
                    document.getElementById('faqList').innerHTML = response.responseText;
                }
            };
            aliceJs.sendXhr(opt);
        };

        window.onload = function () {
            document.getElementById('search').addEventListener('keyup', function () {
                searchFaqs()
            });
            searchFaqs()
        }

        /*]]>*/
    </script>
</th:block>
</html>
