<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/defaultLayout">
<head>
    <title>FAQ 상세</title>
</head>
<body>
<th:block layout:fragment="content">
<div class="container" style="width: 70%; margin: 50px auto;">
    <h1 th:text="#{menu.help.faq}"></h1>
    <p th:text="#{faq.msg}"></p>
    <div id="faqSearch" style="margin: 30px 0;">
        <select align="left" id="searchKeyword" onchange="loadXMLDoc(this.value)">
            <option th:text="#{faq.category.all}" value="" selected></option>
            <option th:each="faqGroup :${faqGroupList}" th:text="#{${faqGroup}}" th:value="${faqGroup}"></option>
        </select>
    </div>
    <div id="faqList">
    </div>
</div>
</th:block>
</body>
<th:block layout:fragment="pageScript">
    <script type="text/javascript">
        window.onload = function() {
            loadXMLDoc('');
        }

        function loadXMLDoc(param) {
            const opt = {
                method: 'GET',
                url: '/faqs/list?searchValue=' + param,
                callbackFunc: function(response) {
                    document.getElementById('faqList').innerHTML = response.responseText;
                    if (param === '') {
                        const group = document.getElementsByClassName('faqGroup');
                        const title = document.getElementsByClassName('faqTitle');
                        for (let i = 0; i < group.length; i++) {
                            if (group[i].id === '[[${faq?.faqGroup}]]') {
                                group[i].open = true;
                                break;
                            }
                        }
                        for (let i = 0; i < title.length; i++) {
                            if (title[i].id === '[[${faq?.faqId}]]') {
                                title[i].open = true;
                                title[i].setAttribute('id', 'highlight')
                                break;
                            }
                        }
                    } else {
                        document.getElementsByClassName('faqGroup')[0].open = true;
                    }
                }
            };
            aliceJs.sendXhr(opt);
        }
    </script>
</th:block>
</html>
