/* Date compoent 기본 */
.picker-wrapper-date {display: inline;}

option {
    &:hover {background-color: #F2F6FF;}
    &:visited {color: #0050ff;background-color: white;}
    &:active {color: #0050ff;}
    &:focus {color: #0050ff;}
}
select {
    &:focus {border: 1px solid #0050ff;}
}
input {
    border: 1px solid #c8ced8;
    &:focus {border: 1px solid #0050ff;}
    &.search {width: 305px;height: 30px;background: url("../media/icons/icon_search.svg") no-repeat center right;padding: 0 10px;border-radius: 2px;font-size: 13px;}
    &.user-register-input {width: 340px;height: 26px;margin-top: 8px;padding-left: 10px;font-size: 14px;}
    &.auth {
        &-name {width: 340px;height: 30px;}
        &-id {width: 340px;height: 30px;}
        &-txt {width: 340px;height: 166px;}
        &-list {width: 340px;height: 216px;border: 1px solid #C8CED8;}
        &-url {width: 340px;height: 216px;	border: 1px solid #C8CED8;}
    }
}
label {
    &.auth {
        &-name {display: block;}
        &-id {display: inline-block;}
        &-txt {display: block;}
        &-list {display: block;}
        &-url {width: 340px;}
    }
}
textarea {width: 695px;border: 1px solid #c8ced8;}