// 전체 화면
.wrap-screen {
    position: relative;
    min-height: 100vh;
}

.trash {
    width: 18px;
    height: 20px;
    background: url("../icons/icon_trash.svg") no-repeat center center;
    &:hover { background-color: rgba(0,0,0,0);}
}
.required::after {
    color: #E83828;
    content: "\002a"; // *
}

// 리스트 출력용 아바타 이미지
.profile-photo {
    height: 2rem; // 32px
    width: 2rem; // 32px
    border-radius: 50%;
    background: rgba(240, 240, 240, 1);
    margin-right: 0.625rem; // 10px
}

// 리스트 출력용 아바타 이미지
.document-color-circle {
    height: 1rem; // 16px
    width: 1rem; // 16px
    border-radius: 50%;
    margin-right: 0.625rem; // 10px
    display: inline-block;
}

// 검색 영역
.search-area {
    height: 6.875rem; // 110px
    padding: 3.125rem 0 1.25rem 0; // 50px 0 20px 0
    display: flex;
    .left {flex:none;}
    .right {margin-left: auto;}
    .txt-num {
        color: $warm-gray;
        margin-left: 0.623rem; // 10px
    }
}

// 페이지 제목
.page-title {
    display: flex;
    align-items: baseline;
    //padding: 2.875rem 3.75rem 2.875rem 3.75rem; // 46px 60px 46px 60px
}

// 공지사항 상단 공지 (배경색 별도 처리)
.tr-notice {
    background-color: rgba(135, 206, 255, 0.15); // $light-blue;
}

// 데이터 없을 때 테이블 처리
.no-data-found {
    pointer-events: none;
    background: $line-gray;
    td { text-align: center; }
}
.horizontal-bar {
    height: 0.0625rem; // 1px
    margin: 0.625rem 0; // 10px
    background-color: $line-gray;
}
// 버튼 영역
.btn-bar {
    padding: 0.625rem 0 0 0; // 10px 0 0 0
    display: flex;
    justify-content: flex-end;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.align-top {
    align-items: start;
}
.radio-row {
    display: flex;
}
span.vertical-bar {
        width: 1.875rem; // 30px
        height: 1.875rem; // 30px
        border-right: 0.0625rem solid $line-gray; // 1px
        margin-right: 1.875rem; // 30px
}

.title-description {
    padding-left: 0.625rem; // 10px
}

.avatar {
    @include h5();
    color: $placeholder-color;
    &-text {
        text-align: center;
    }
    &-bottom-text-wrap {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
    }
    &-bottom-text {
        margin-bottom: 0.3125rem; // 5px
    }
}

.color-picker {
    display: flex;
    flex-direction: column;
    .color-input {
        display: inline-flex;
        .selected-color {
            width: 1.75rem; // 28px
            height: 1.75rem; // 28px
            margin: auto;
            &-layer {
                width: 2.5rem; // 40px
                height: 2.5rem; // 40px
                margin-right: 0.3125rem; // 5px
                border: 0.0625rem solid $line-gray;
                cursor: pointer;
                display: flex;
            }
        }
    }
    .color-palette {
        background-color: #d3d3d3;
        width: 30rem; // 480px
        height: 11.25rem; // 180px
        & div {
            display: inline-block;
            width: 2.5rem; // 40px
            height: 2.5rem; // 40px
            margin: 0.3125rem;
            cursor: pointer;
        }
        &-opacity {
        }
    }

}

.container {
    height: 100%;
    padding: 0 0 0 13.75rem; // 220px

    &-popup {
        padding: 1.875rem 2.5rem 1.25rem 2.5rem; // 30px 40px 20px 40px
        @include view-template();
        @include edit-template();
        .view, .edit {
            padding: 0;
            width: auto;
        }
    }

    &-document {
        justify-content: flex-end;
        .token-document {
            flex: 1;
            & > div { margin: 0 auto;}
        }
        .token-info {
            width: 600px;
            padding: 0 65px;
            background-color: white;
            &-tab {
                display: flex;
                margin-top: 125px;
                h4 {
                    flex: 1;
                    text-align: center;
                    color: $gray;
                    padding-bottom: 10px;
                    border-bottom: 2px solid $default-gray;
                }
                .active {
                    border-bottom: 4px solid $point-blue;
                    color: $light-black;
                }
            }
            &-contents {
                .token {
                    &-tag {
                        display: none;
                        margin-top: 20px;
                    }
                    &-history {
                        .table {
                            border: none;
                            thead {
                                border-bottom: 1px solid $default-gray;
                            }
                            th { color: $light-black; font-weight: 500; }
                            td { color: $dark-gray; font-weight: 400;}
                            th,td {
                                border: none;
                                text-align: left;
                                &:first-child {
                                    margin-left: 20px;
                                }
                            }
                        }
                        display: none;
                    }
                    &-related {
                        display: none;
                        padding-top: 10px;
                        display: flex;
                        flex-direction: column;
                        .list-item {
                            height: 185px;
                            margin-top: 10px;
                            display: flex;
                            .document {
                                &-color {
                                    width: 10px;
                                }
                                &-row {
                                    border: 1px solid $line-gray;
                                    padding: 20px 40px;
                                    display: flex;
                                    flex-direction: column;
                                    flex: 1;
                                    &-content {
                                        display: flex;
                                        justify-content: space-between;
                                        .document-title {
                                            display: flex;
                                            align-items: center;
                                            h5 {
                                                &:first-child {
                                                    color: $light-black;
                                                    font-weight: 500;
                                                }
                                                &:last-child {
                                                    color: $gray;
                                                    margin-left: 5px;
                                                }
                                            }
                                        }
                                    }
                                    &-topic {
                                        height: 100%;
                                    }
                                    &-info {
                                        display: flex;
                                        align-items: center;
                                        .document-user {
                                            display: flex;
                                            align-items: center;
                                        }
                                    }
                                }
                            }
                        }
                        .related-add {
                            height: 185px;
                            border: 1px solid $line-gray;
                            background-color: $light-gray;
                            align-items: center;
                            justify-content: center;
                        }

                    }
                    &-comment {
                        display: none;
                        padding-top: 10px;
                        display: flex;
                        flex-direction: column;
                        .list-item {
                            padding: 20px 25px;
                            margin-top: 10px;
                            display: flex;
                            flex-direction: column;
                            border: 1px solid $line-gray;
                            background-color: $light-gray;
                            .comment {
                                &-row {
                                    margin-top: 10px;
                                    &-info {
                                        display: flex;
                                        align-items: center;
                                        .comment-user {
                                            display: flex;
                                            align-items: center;
                                        }
                                        div, h5 {
                                            flex: none;
                                        }
                                        & > h5 {
                                            margin-left: 15px;
                                            color: $gray;
                                        }
                                        div:last-child {
                                            margin-left: auto;
                                        }
                                    }
                                }
                            }
                        }
                        .comment-input {
                            margin-top: 10px;
                            padding: 0;
                            align-items: start;
                            textarea {
                                resize: none;
                                height: 70px;
                                flex: 1;
                            }
                        }
                    }
                }
            }
        }
    }

    @import "contents/_contents-token.scss";
    @import "contents/_contents-list.scss";
    @import "contents/_contents-edit.scss";
    @import "contents/_contents-view.scss";
    @import "contents/_contents-list-edit.scss";
    @import "contents/_contents-document.scss";

    .contents {
        min-width: 78.75rem; // 1260px
        min-height: 51.25rem; // 820px
        display: block;
        padding: 1.25rem 8.5rem 2.3125rem 8.5rem; // 20px 136px 37px 136px

        .contents-title {
            padding: 1.25rem 0 1.25rem 0.3125rem; // 20px 0 20px 5px

            .title-description {
                font-size: 0.9375rem; // 15px
                color: #94a6bf;
                font-weight: 400;
            }
        }

        .contents-body {
            background: rgba(255, 255, 255, 1);
            padding: 4% 8%;

            .edit-area {
                padding: 31px 237px 31px 237px;

                input {
                    width: 340px;
                    margin-top: 8px;
                }

                select {
                    width: 340px;
                    margin-top: 8px;
                }

                .input {
                    &-title {
                        font-size: 14px;
                        display: block;
                        padding: 10px 0;
                    }

                    &-title-guide {
                        display: flex;
                        vertical-align: middle;
                    }

                    &-button {
                        width: 60px;
                        height: 30px;
                        background: rgba(255, 255, 255, 1);
                        border: 1px solid #C8CED8;
                        margin-left: -63px;
                        font-size: 14px;
                    }
                }

                .profile {
                    &-manage {
                        margin-top: 11px;
                        border-top: 2px solid #C8CED8;
                        width: 698px;
                    }

                    &-input {
                        &-body-list {
                            margin-top: 15px;
                            margin-left: 10px;

                            &:last-child {
                                margin-bottom: 62px;
                            }

                            textarea {
                                width: 42.5rem;
                                height: 11.25rem;
                            }
                        }
                    }
                }

                .user-register-top-list {
                    margin-top: 37px;
                    margin-left: 10px;
                }

                .custom-setting-top-select {
                    width: 678px;
                    height: 26px;
                    padding-left: 5px;
                    border: 1px solid #C8CED8;
                }

                .select-date-time {
                    width: 244px;
                    height: 26px;
                    border: 1px solid #C8CED8;
                    padding-left: 5px;
                }

                .hour-select {
                    width: 85px;
                    height: 26px;
                    color: black;
                    border: 1px solid #C8CED8;
                    margin-left: 5px;
                    padding-left: 5px;
                }

                .language-select {
                    width: 244px;
                    height: 30px;
                    border: 1px solid #C8CED8;
                    font-size: 14px;
                    padding-left: 5px;
                }

                .theme-color-select {
                    width: 244px;
                    height: 30px;
                    border: 1px solid #C8CED8;
                    padding-left: 5px;
                }

                .user-role-checkbox {
                    width: 15px;
                    height: 15px;
                    line-height: 15px;

                    &-wrap {
                        margin-top: 15px;
                        margin-left: 10px;
                        display: inline-block;
                        width: 162px;
                    }

                    &-list {
                        margin-top: 22px;
                        margin-left: 10px;
                        margin-bottom: 62px;

                        &-middle {
                            margin-top: 15px;
                            margin-left: 10px;
                        }

                        &-bottom {
                            margin-top: 15px;
                            margin-left: 10px;
                            margin-bottom: 51px;
                        }
                    }

                    &-block {
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }
                }

                .checkbox-label {
                    vertical-align: -5px;
                    margin-left: 10px;
                    margin-right: 14px;
                }

                .btn-wrap {
                    margin-top: 32px;
                    text-align: right;
                    margin-right: 10px;
                    font-size: 13px;
                }

                .btn-register {
                    padding: 7px 12px;
                    border: 1px solid #0050ff;
                    color: #0050ff;
                    border-radius: 2px;
                    font-size: 0.875rem;

                    &:hover {
                        background-color: #0050ff;
                        color: rgba(255, 255, 255, 1);
                    }
                }



                .browse-link {
                    text-decoration: underline;
                    color: #0050ff;
                }

                .switch {
                    position: relative;
                    display: inline-block;
                    width: 60px;
                    height: 25px;
                    margin-top: 29px;
                    margin-left: 10px;

                    input {
                        opacity: 1;
                        width: 0;
                        height: 0;
                    }
                }

                .slider {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: #ccc;
                    -webkit-transition: .4s;
                    transition: .4s;

                    &:before {
                        position: absolute;
                        content: "";
                        height: 17px;
                        width: 17px;
                        left: 4px;
                        bottom: 4px;
                        background-color: rgba(255, 255, 255, 1);
                        -webkit-transition: .4s;
                        transition: .4s;
                    }
                }

                input {
                    &:checked + .slider {
                        background-color: #0050ff;

                        &:before {
                            -webkit-transform: translateX(33px);
                            transform: translateX(33px);
                        }
                    }

                    &:focus + .slider {
                        -webkit-box-shadow: 0 0 1px #707579;
                        box-shadow: 0 0 1px #707579;
                    }
                }

                .slider.round {
                    border-radius: 34px;

                    &::before {
                        border-radius: 50%;
                    }
                }

                .switch-label {
                    vertical-align: -4px;
                    margin-left: 17px;
                    color: #7A8594;
                }
            }

            &-auth {
                background: white;
                padding: 4% 4%;
                display: inline-block;

                .search-area {
                    .search {
                        width: 19.0625rem;
                        height: 1.875rem;
                        padding: 0 0.625rem;
                        font-size: 0.875rem;
                        color: #707B8A;
                    }

                    .txt-num {
                        color: #717B89;
                        text-align: right;
                        padding-left: 9.75rem;
                    }
                }
            }
        }

        // 테이블 리스트 타입 속성
        .list {
            clear: both;
            padding-top: 15px;

            & table {
                width: 100%;

                & span {
                    display: block;
                    margin-left: 30px;
                }

                & tr {
                    color: #67717f;
                    font-size: 13px;
                    border-bottom: 1px solid #d2d9e2;
                    padding: 0 16px;

                    th {
                        height: 38px;
                        color: #3e4752;
                        font-size: 14px;
                        border-bottom: 2px solid #d2d9e2;
                        vertical-align: middle;
                        border-top: 1px solid #d2d9e2;
                    }

                    td {
                        height: 45px;
                        vertical-align: middle;
                        text-align: center;

                        &:first-child {
                            width: 30px;
                        }
                        button {
                            font-size: 13px;
                        }
                    }

                    &:hover {
                        background: rgba(0, 80, 255, 0.05);
                    }

                    &:first-child {
                        background: rgba(0, 80, 255, 0);
                    }
                }
            }

            & a {
                cursor: pointer;
            }

            // 리스트 출력용 아바타 이미지
            .profile-photo {
                height: 27px;
                width: 27px;
                border-radius: 50%;
                background: rgba(240, 240, 240, 1);
                cursor: pointer;
            }



            .align-center {
                text-align: center;
            }

            .align-left {
                text-align: left;
            }

            .align-right {
                text-align: right;
            }

            .scroller-wrap {
                height: 28.75rem; //460px
                & table {
                    position: relative;
                    display: inline-table;
                }
                & tbody {
                    position: absolute;
                    height: 25.88rem; //414px
                    width: 100%;
                    & tr {
                        width: 100%;
                        display: table;
                    }
                }
            }
        }

        .list-wrap {
            // padding: 15px 0;
            height: 400px;
            // height:490px;
            overflow-y: auto;
            &-edit {
                table {
                    margin: 0 0 15px 0;

                    span {
                        margin: 0 auto;
                    }

                    & th {
                        background: rgba(204, 211, 217, 0.1);
                        padding-left: 15px;
                    }

                    & tr td {
                        font-size: 14px;
                        margin: 0 auto;

                        .edit-name {
                            border-right: 1px solid #C8CED8;
                            padding: 3px 15px;
                        }

                        .file-attachment {
                            border-right: 1px solid #C8CED8;
                            padding: 3px 15px;
                        }

                        &.edit-textarea {
                            height: 150px;
                            min-height: 150px;
                            padding: 15px;
                            text-align: left;
                            vertical-align: text-top;
                        }

                        &.file-attach-input {
                            text-align: left;
                            padding: 0 15px;
                        }
                    }

                    & tr.edit-title {
                        height: 56px;
                    }

                    & tr:hover {
                        background: none;
                    }
                }
            }

            &-auth {
                padding: 0.9375rem 0.9375rem 0.9375rem 0;
                width: 33.375rem;
                height: 30.625rem;
                float: left;
                border-right: 0.0625rem solid #D2D9E2;

                table {
                    thead {
                        display: block;

                        tr {
                            height: 2.375rem;
                            color: #3e4752;
                            font-size: 0.875rem;
                            border-bottom: 0.125rem solid #D2D9E2;
                            vertical-align: middle;
                            border-top: 0.0625rem solid #D2D9E2;
                            padding: 0.3125rem 0.9375rem;

                            th {
                                &:nth-of-type(1) {
                                    width: 8.125rem;
                                }

                                &:nth-of-type(2) {
                                    width: 8.125rem;
                                }

                                &:nth-of-type(3) {
                                    width: 15rem;
                                }
                            }
                        }
                    }

                    tbody {
                        display: block;
                        height: 28.125rem;
                        overflow-y: scroll;

                        tr td {
                            &:nth-of-type(1) {
                                width: 8.125rem;
                            }

                            &:nth-of-type(2) {
                                width: 8.125rem;
                            }

                            &:nth-of-type(3) {
                                width: 16.25rem;
                            }

                            span {
                                display: block;
                                max-height: 1rem;
                                line-height: 1.6;
                                max-height: 1rem;
                                text-overflow: ellipsis;
                                overflow: hidden;
                            }
                        }

                        tr.active {
                            border-left: 0.1875rem solid #0050ff;
                            -webkit-box-shadow: rgba(0, 80, 255, 0.1) 0 0 7px 0;
                            box-shadow: rgba(0, 80, 255, 0.1) 0 0 7px 0;

                            td {
                                color: #0050ff;
                                font-weight: 700;
                            }
                        }
                    }
                }

                &-edit {
                    float: right;
                    padding: 0.9375rem 0 0 0.375rem;

                    label {
                        display: block;
                        color: #3E4752;
                        font-size: 0.875rem;
                    }

                    input {
                        &.auth-name {
                            width: 21.875rem;
                            height: 1.875rem;
                            margin: 0.5rem 0.875rem 0.9375rem 0;
                        }

                        &.auth-id {
                            width: 21.875rem;
                            height: 1.875rem;
                            margin: 0.5rem 0 0.9375rem 0;
                        }

                        &.auth-list {
                            height: 13.5rem;
                            border: 0.0625rem solid #C8CED8;
                        }

                        &.auth-url {
                            height: 13.5rem;
                            border: 0.0625rem solid #C8CED8;
                        }

                        &.reference-count {
                            width: 44.75rem;
                            height: 1.875rem;
                            color: #3E4752;
                            background: #f7f9fa;
                            margin: 0.5rem 0.875rem 0.9375rem 0;
                            border: 0.0625rem solid #c8ced8;
                        }
                    }

                    textarea.auth-desc {
                        width: 44.75rem;
                        height: 6.875rem;
                        margin: 0.625rem 0 0.948rem 0;
                        display: block;
                        border: 0.0625rem solid #C8CED8;
                        color: #3E4752;
                    }

                    ul {
                        width: 21.875rem;
                        height: 10.625rem;
                        overflow-y: scroll;
                        border: 0.0625rem solid #C8CED8;
                        padding: 0.625rem;
                        margin: 0.5rem 0 0.9375rem 0;

                        li {
                            line-height: 2;
                        }

                        li.checked {
                            font-weight: bold;
                        }
                    }
                }
            }
        }

        .list-count {
            float: right;
            color: #67717F;
            font-size: 13px;
            padding: 10px 10px;
            display: block;
        }

        .btn-bar {
            display: block;
            width: 100%;
            text-align: right;
            margin-top: 0.9375rem;
        }

        .search-area {
            &-left {
                float: left;
            }

            &-right {
                float: right;
            }
        }
    }

    &-close {
        height: 100%;
        padding: 90px 0 0 80px;
        background: rgba(234, 241, 247, 1);
    }

    .btn {
        display: inline-block;
        font-size: 13px;
        color: #0050ff;
        padding: 10px;
        border-radius: 2px;
        border: 1px solid #0050ff;
        text-align: center;

        &:hover {
            background: #0050ff;
            color: #fff;
            border: 1px solid #0050ff;
        }

        &:disabled {
            background: white;
            color: #c8ced8;
            border: 1px solid #c8ced8;
            cursor: auto;
        }

        &-add {
            display: inline-block;
            background: url($icon-folder-path + "icon_add.svg") no-repeat center center;
            padding: 10px;
            border-radius: 2px;
            border: 1px solid rgba(0, 80, 255, 1);
            text-align: center;

            &:hover {
                background: rgba(0, 80, 255, 1) url($icon-folder-path + "icon_add_ov.svg") no-repeat center center;
                color: $alice-primary;
                border: rgba(64, 158, 230, 0.05) 1px solid;
            }
        }

        &-import {
            display: inline-block;
            background: rgba(255, 255, 255, 1) url($icon-folder-path + "icon_import.svg") no-repeat center center;
            padding: 10px;
            border-radius: 2px;
            border: 1px solid rgba(200, 206, 216, 1);
            text-align: center;
            position: relative;
            right: 3px;

            &:hover {
                background: rgba(233, 235, 237, 1) url($icon-folder-path + "icon_import_ov.svg") no-repeat center center;
                color: rgba(233, 235, 237, 1);
                border: rgba(200, 206, 216, 1) 1px solid;
                position: relative;
                right: 3px;
            }
        }

        &-info {
            background: url("../icons/icon_info.png") no-repeat right;
            display: inline-block;
            margin-left: 5px;
            width: 15px;
            height: 15px;

            &:hover {
                background: url("../icons/icon_info_select.png") no-repeat right;
            }
        }

        &-gray {
            width: 64px;
            height: 30px;
            padding: 7px 12px;
            border: 1px solid #BEC5CE;
            color: #3D4752;
            border-radius: 2px;
            font-size: 14px;

            &:hover {
                background-color: #BEC5CE;
                color: white;
            }
        }
    }

    // 플롯 정렬
    .float-left {
        float: left;
    }

    .float-right {
        float: right;
    }

    .float-clear {
        clear: both;
    }

    // 텍스트 정렬
    .align-center {
        text-align: center;
    }

    .align-left {
        text-align: left;
    }

    .align-right {
        text-align: right;
    }
}
