/* Date compoent 기본 */

body, input, textarea, select, span {
    font-family: $default-font-family;
    font-size: 1rem; // 16px
    color: $element-font-color;
}

h1 {
    font-family: $default-font-family;
    font-size: 2.25rem; // 36px
    color: $light-black;
    padding: 0.625rem 0 .625rem .3125rem; // 10px 0 10px 5px
    font-weight: 700;
}

h3 {
    font-family: $default-font-family;
    color: $light-black;
    font-size: 1.25rem; // 20px
    padding-bottom: 0.625rem; // 10px
    margin-bottom: 0.625rem; // 10px
    border-bottom: .125rem solid $default-gray;
}

h4 {
    font-family: $default-font-family;
    font-size: 1rem; // 20px
    font-weight: 400;
}

h5 {
    font-family: 맑은고딕;
    font-size: 0.875rem; // 14px
    color: $warm-gray;
    padding: 0 0 0 .625rem; // 10px
    font-weight: 400;
}

span {margin: auto 0;}

.picker-wrapper-date {display: inline;}

option {
    &:hover {background-color: rgba(0, 80, 255, 0.05);}
    &:visited{color:$alice-primary;background-color: white;}
    &:active{color:$alice-primary;}
    &:focus{color:$alice-primary}
}

select {
    height: 2.5rem; // 40px
    color:$element-font-color;
    font-size: $element-font-size;
    border: $element-border solid $border-color;
    border-radius: $element-border-radius;
    padding: 0 10px;
    margin-right: 0.0625rem; // 1px
    vertical-align: middle;
    background-color: $element-background-color;
    &:focus {
        outline: $element-border solid $alice-primary;
        border-radius: $element-border-radius;
    }
    &.search-selectBox {
    }
}

input {
    height: 2.5rem; // 40px
    color:$element-font-color;
    font-size: $element-font-size;
    border: $element-border solid $border-color;
    border-radius: $element-border-radius;
    padding: 0 10px;
    margin-right: 0.0625rem; // 1px
    vertical-align: middle;
    background-color: $element-background-color;
    &::placeholder {
        color: $placeholder-color;
    }
    &:focus {
        outline: $element-border solid $alice-primary;
        border-radius: $element-border-radius;
    }
    &:disabled {
        background: $light-gray;
        color: $gray;
    }
    &.search {
        background: url($icon-folder-path + "icon_search.svg") no-repeat center right;
        background-color: $element-background-color;
    }
    &.search-datetime {
        background: url($icon-folder-path + "icon_calendar.png") no-repeat 100%-5 50%;
        background-color: $element-background-color;
    }
    &.search-date {
        background: url($icon-folder-path + "icon_calendar.png") no-repeat 100%-5 50%;
        background-color: $element-background-color;
    }
    &.search-time {
        background: url($icon-folder-path + "icon_calendar.png") no-repeat 100%-5 50%;
        background-color: $element-background-color;
    }
    &.date {
        background: url($icon-folder-path + "icon_calendar.png") no-repeat calc(100% - 10px) 50%;
        background-color: $element-background-color;
    }
    &.px {
        background: url($icon-folder-path + "icon_px.svg") no-repeat calc(100% - 10px) 50%;
        background-color: $element-background-color;
    }
    &[type=checkbox] {
        margin-right: 0.625rem; // 10px
        width: 1.125rem; // 18px
        height: 1.125rem; // 18px
        border-radius: $element-border-radius;
        border: 0.0625rem solid $border-color; // 1px
        &:checked {
            background-color: $white;
        }
    }
}

label {
    margin: 0.5625rem 0 0.5625rem 0; // 5px 0 5px 0
    color: $light-black;
}

textarea{
    padding: 0.5rem 0.625rem; // 8px 10px
    display: block;
    border: 0.0625rem solid $border-color; // 1px
    border-radius: $element-border-radius;
    color: $element-font-color;
    background-color: $element-background-color;
    font-size: $element-font-size;
    resize: vertical;
    line-height: 1.3;
    &:focus {
        outline: $element-border solid $alice-primary;
        border-radius: $element-border-radius;
    }
}

// switch 요소 디자인
.switch {
    position: relative;
    height: 25px;
    margin: 1.875rem 0 1.25rem 0; // 30px 0 20px 0
    input {
        display: none;
        &:checked + .slider {
            background-color: #0050ff;

            &:before {
                -webkit-transform: translateX(33px);
                transform: translateX(33px);
            }
        }

        &:focus + .slider {
            -webkit-box-shadow: 0 0 1px #707579;
            box-shadow: 0 0 1px #707579;
        }
    }
    .slider.round {
        border-radius: 34px;
        width: 60px;
        &::before {
            border-radius: 50%;
        }
    }

    .switch-label {
        vertical-align: -4px;
        color: $dark-gray;
        font-weight: 400;
        margin-left: 70px;
    }
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;

        &:before {
            position: absolute;
            content: "";
            height: 17px;
            width: 17px;
            left: 4px;
            bottom: 4px;
            background-color: rgba(255, 255, 255, 1);
            -webkit-transition: .4s;
            transition: .4s;
        }
    }
}
