/* Date compoent 기본 */

body, input, textarea, select, span {
    font-family: $default-font-family;
    font-size: 1rem; // 16px
    color: $element-font-color;
}

h1 {
    font-family: $default-font-family;
    font-size: 2.25rem; // 36px
    color: $light-black;
    padding: 0.625rem 0 .625rem .3125rem; // 10px 0 10px 5px
    font-weight: 700;
}

h3 {
    font-family: $default-font-family;
    color: $light-black;
    font-size: 1.25rem; // 20px
}

h5 {
    font-family: 맑은고딕;
    font-size: 0.875rem; // 14px
    color: $warm-gray;
    padding: 0 0 0 .625rem; // 10px
    font-weight: 400;
}

.picker-wrapper-date {display: inline;}

option {
    &:hover {background-color: rgba(0, 80, 255, 0.05);}
    &:visited{color:$alice-primary;background-color: white;}
    &:active{color:$alice-primary;}
    &:focus{color:$alice-primary}
}

select {
    height: 2.5rem; // 40px
    color:$element-font-color;
    font-size: $element-font-size;
    border: $element-border solid $element-line;
    border-radius: $element-border-radius;
    padding: 0 10px;
    margin-right: 0.0625rem; // 1px
    vertical-align: middle;
    background-color: $element-background-color;
    &:focus {
        outline: $element-border solid $alice-primary;
        border-radius: $element-border-radius;
    }
    &.search-selectBox {
    }
}

input {
    height: 2.5rem; // 40px
    color:$element-font-color;
    font-size: $element-font-size;
    border: $element-border solid $element-line;
    border-radius: $element-border-radius;
    padding: 0 10px;
    margin-right: 0.0625rem; // 1px
    vertical-align: middle;
    background-color: $element-background-color;
    &::placeholder {
        color: $placeholder-color;
    }
    &:focus {
        outline: $element-border solid $alice-primary;
        border-radius: $element-border-radius;
    }
    &:disabled {
        background: $light-gray;
        color: $gray;
    }
    &.search {
        background: url($icon-folder-path + "icon_search.svg") no-repeat center right;
        background-color: $element-background-color;
    }
    &.search-datetime {
        background: url($icon-folder-path + "icon_calendar.png") no-repeat 100%-5 50%;
        background-color: $element-background-color;
    }
    &.search-date {
        background: url($icon-folder-path + "icon_calendar.png") no-repeat 100%-5 50%;
        background-color: $element-background-color;
    }
    &.search-time {
        background: url($icon-folder-path + "icon_calendar.png") no-repeat 100%-5 50%;
        background-color: $element-background-color;
    }
    &[type=checkbox] {
        margin-right: 0.625rem; // 10px
        width: 1.125rem; // 18px
        height: 1.125rem; // 18px
        border-radius: $element-border-radius;
        border: 0.0625rem solid $border-color; // 1px
        &:checked {
            background-color: $white;
        }
    }
}

label {
    margin: 0.3125rem 0 0.3125rem 0; // 5px 0 5px 0
    color: $light-black;
}

textarea{
    padding: 0.5rem 0.625rem; // 8px 10px
    display: block;
    border: 0.0625rem solid $border-color; // 1px
    border-radius: $element-border-radius;
    color: $element-font-color;
    background-color: $element-background-color;
    font-size: $element-font-size;
    resize: vertical;
    line-height: 1.3;
}
