.dropzone {
    box-sizing: border-box;

    * {
        box-sizing: border-box;
    }

    min-height: 6.25rem;
    border: $element-border solid $element-line;
    background: white;
    padding: 0.625rem 0.625rem 0 0.625rem;

    &.avatar {
        box-sizing: border-box;
        width: 18.75rem; // 300px;
        height: 18.75rem;
        padding: 0;
        @include background("icon_image.png", 5rem, no-repeat, center, 5rem, #FDFDFD);

        .dz-message {
            text-align: center;
            margin: 12.5rem 0 3rem 0;
            color: #7A8594;
        }

        .dz-preview {
            position: relative;
            vertical-align: top;
            height: 100%;
            border: $element-border solid $element-line;
            margin-bottom: 0.625rem;
            padding: 0;
            border: 0;

            .dz-image {
                //border-radius: 5px;
                overflow: hidden;
                position: relative;
                display: block;
                z-index: 10;

                img {
                    display: block;
                }
            }

            .dz-details {
                position: absolute;
                top: 50%;
                display: block;

                .dz-file-type {
                    display: none;
                }

                .dz-filename {
                    display: none;
                    text-align: center;
                }

                .dz-size {
                    display: none;
                    text-align: center;

                    span {
                        background-color: rgba(255, 255, 255, 0.4);
                        border-radius: 3px;
                        color: #67717f;
                    }
                }

                .dz-remove {
                    text-align: center;
                    width: 1.125rem;
                    height: 1.125rem;
                    background-color: rgba(255, 255, 255, 0.4);
                    margin: 0.625rem 8.813rem;
                    position: absolute;
                    top: -10rem;
                    left: 8.75rem;
                    @include backgroundImage("icon_close.png");

                    &:hover {
                        background-color: rgba(255, 255, 255, 0.9);
                    }
                }
            }

            .dz-progress {
                width: 14.25rem;
            }
        }
    }

    .dz-clickable {
        cursor: pointer;
        text-decoration: underline;
        color: $alice-primary;

        * {
            cursor: default;
        }

        .dz-message {
            cursor: pointer;

            * {
                cursor: pointer;
            }
        }
    }

    &.dz-started .dz-message {
        display: none;
    }

    &.dz-drag-hover {
        border-style: solid;

        .dz-message {
            opacity: 0.5;
        }
    }

    .dz-uploaded {
        border: 0;
    }

    .dz-message {
        text-align: center;
        margin: 1.875rem 0;
        color: #7A8594;

        .add-file-button-wrap {
            margin-top: 0.5rem;
        }
    }

    .dz-preview {
        position: relative;
        vertical-align: top;
        height: 5rem;
        border: $element-border solid $element-line;
        margin-bottom: 0.625rem;
        padding: 1rem;

        &:hover {
            z-index: 1000;

            .dz-details {
                opacity: 1;
            }
        }

        &.dz-file-preview {
            .dz-image {
                border-radius: 20px;
                background: #999;
                background: linear-gradient(to bottom, #eee, #ddd);
            }

            .dz-details {
                opacity: 1;
            }
        }

        &.dz-image-preview {
            background: white;

            .dz-details {
                -webkit-transition: opacity 0.2s linear;
                -moz-transition: opacity 0.2s linear;
                -ms-transition: opacity 0.2s linear;
                -o-transition: opacity 0.2s linear;
                transition: opacity 0.2s linear;
            }
        }

        .dz-remove {
            height: 100%;
            text-align: center;
            display: block;
            cursor: pointer;
            border: none;
            grid-column: 3;
            grid-row: 1 / span 2;
            @include backgroundImageAndSize("icon_notice_delete.svg", 1.125rem);

            &:hover {
                //text-decoration: underline;
            }
        }

        &:hover .dz-details {
            opacity: 1;
        }

        .dz-details {
            z-index: 20;
            top: 0;
            left: 0;
            opacity: 0;
            min-width: 100%;
            max-width: 100%;
            text-align: center;
            color: rgba(0, 0, 0, 0.9);
            line-height: 150%;
            display: grid;
            grid-template-columns: 2.25rem auto 1.125rem;
            align-items: center;

            .dz-filename {
                white-space: nowrap;
                text-align: left;
                padding: 0 0.4em;

                &:hover span {
                    border: 1px solid rgba(200, 200, 200, 0.8);
                    background-color: rgba(255, 255, 255, 0.8);
                }

                &:not(:hover) {
                    overflow: hidden;
                    text-overflow: ellipsis;

                    span {
                        border: 1px solid transparent;
                    }
                }

                span {
                    background-color: rgba(255, 255, 255, 0.4);
                    border-radius: 3px;
                }
            }

            .dz-size {
                text-align: left;
                padding: 0 0.4em;

                span {
                    background-color: rgba(255, 255, 255, 0.4);
                    border-radius: 3px;
                    color: #67717f;
                }
            }

            .dz-file-type {
                height: 100%;
                grid-column: 1;
                grid-row: 1 / span 2;
                @include backgroundImageAndSize("icon_notice_document.svg", 2.25rem);
            }
        }

        &:hover .dz-image img {
            -webkit-transform: scale(1.05, 1.05);
            -moz-transform: scale(1.05, 1.05);
            -ms-transform: scale(1.05, 1.05);
            -o-transform: scale(1.05, 1.05);
            transform: scale(1.05, 1.05);
            //-webkit-filter: blur(8px);
            //filter: blur(8px);
        }

        .dz-image {
            overflow: hidden;
            position: relative;
            display: block;
            z-index: 10;

            img {
                display: block;
            }
        }

        &.dz-success .dz-success-mark {
            -webkit-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
            -moz-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
            -ms-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
            -o-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
            animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
        }

        &.dz-error .dz-error-mark {
            opacity: 1;
            -webkit-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
            -moz-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
            -ms-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
            -o-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
            animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
        }

        .dz-success-mark, .dz-error-mark {
            pointer-events: none;
            opacity: 0;
            z-index: 500;
            position: absolute;
            display: block;
            top: 50%;
            left: 50%;
            margin-left: -27px;
            margin-top: -27px;
        }

        .dz-success-mark svg, .dz-error-mark svg {
            display: block;
            width: 54px;
            height: 54px;
        }

        &.dz-processing .dz-progress {
            opacity: 1;
            -webkit-transition: all 0.2s linear;
            -moz-transition: all 0.2s linear;
            -ms-transition: all 0.2s linear;
            -o-transition: all 0.2s linear;
            transition: all 0.2s linear;
        }

        &.dz-complete .dz-progress {
            opacity: 0;
            -webkit-transition: opacity 0.4s ease-in;
            -moz-transition: opacity 0.4s ease-in;
            -ms-transition: opacity 0.4s ease-in;
            -o-transition: opacity 0.4s ease-in;
            transition: opacity 0.4s ease-in;
        }

        &:not(.dz-processing) .dz-progress {
            -webkit-animation: pulse 6s ease infinite;
            -moz-animation: pulse 6s ease infinite;
            -ms-animation: pulse 6s ease infinite;
            -o-animation: pulse 6s ease infinite;
            animation: pulse 6s ease infinite;
        }

        .dz-progress {
            opacity: 1;
            z-index: 1000;
            pointer-events: none;
            position: relative;
            height: 0.25rem;
            top: -1.375rem;
            left: 2.25rem;
            width: 36.25rem;
            background: rgba(190, 197, 206, 0.9);
            -webkit-transform: scale(1);
            border-radius: 8px;
            overflow: hidden;

            .dz-upload {
                background: linear-gradient(to bottom, #0050ff, #0050ff);
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                width: 0;
                -webkit-transition: width 300ms ease-in-out;
                -moz-transition: width 300ms ease-in-out;
                -ms-transition: width 300ms ease-in-out;
                -o-transition: width 300ms ease-in-out;
                transition: width 300ms ease-in-out;
            }
        }

        &.dz-error {
            .dz-error-message {
                display: block;
            }

            &:hover .dz-error-message {
                opacity: 1;
                pointer-events: auto;
            }
        }

        .dz-error-message {
            pointer-events: none;
            z-index: 1000;
            position: absolute;
            display: block;
            //display: none;
            opacity: 0;
            -webkit-transition: opacity 0.3s ease;
            -moz-transition: opacity 0.3s ease;
            -ms-transition: opacity 0.3s ease;
            -o-transition: opacity 0.3s ease;
            transition: opacity 0.3s ease;
            border-radius: 8px;
            //font-size: 13px;
            top: 140px;
            left: -10px;
            width: 140px;
            background: #be2626;
            background: linear-gradient(to bottom, #be2626, #a92222);
            padding: 0.5em 1.2em;
            color: white;

            &:after {
                content: '';
                position: absolute;
                top: -6px;
                left: 64px;
                width: 0;
                height: 0;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-bottom: 6px solid #be2626;
            }
        }
    }
}
