// *********************************************************************************************************************
// 이 파일(_gnb)에서는 전체 Frame 구조 중에서 Container 영역을 제외한 부분에 대한 공통 부분에 대해 아래와 같은 내용을 포함한다.
//
// * navigation
//   - breadcrumb, nav-config 와 같은 공통요소를 묶을때 사용하지만 디자인에 따라서
//     내부의 각 요소만 별도로 사용해도 되며 공통요소가 필요한 경우에만 사용해도 된다.
//
//    * breadcrumb - 현재 화면의 경로를 출력하는 디자인 요소. default theme 에는 없다.
//    * nav-config - 알람창, 로그인 사용자 아바타, 로그아웃, 자기 정보 수정등의 메뉴가 출력되는 부분.
//
// * logo
//   - 로고가 출력되는 부분이며 menu.html 파일에 포함되지만 가장 최상위 요소중에 하나이다.
// * menu
//   - 메뉴가 출력되는 부분. default theme 에는 메뉴 부분 전체를 접고 펴는 기능은 없다.
// *********************************************************************************************************************
.navigation {
    width: 100%;
    height: 60px;
    background: rgba(255, 255, 255, 1);
}

.logo {
    width: 220px;
    height: 60px;
    background: $alice-primary url($icon-folder-path + "icon_menu_open_logo.png") no-repeat 20px center;
    position: fixed;
}

.menu {
    width:220px;
    height:100%;
    background:$alice-primary;
    position: fixed;
    left: 0;
    top: 60px;
    z-index: 999;
}

.breadcrumb {
    height: 60px;
    padding: 0 0 0 240px;
    color: #5c6776;
    opacity: 0.57;
    font-size: 13px;
    float: left;
}

/* 상단 알람 및 프로필 메뉴  */
.nav-config {
    float: right;
    /* 상단 알람 */
    .notice {
        padding-left: 122px;
        background: url($icon-folder-path + "icon_notice.svg") no-repeat center center;
        vertical-align: middle;
        &-num {
            width: 30px;
            margin-top: 26px;
            padding: 2px 8px 2px 8px; border-radius: 20px; border: 1.2px solid $alice-primary;
            margin-left: 60px; color: $alice-primary;
            text-align: center;
        }
    }
    .user-info {
        float:right; border-left: 1px solid #D2D9E2; display: inline-block; padding:12px 15px;vertical-align: middle; background: url($icon-folder-path + "icon_userinfo_arrow_d.svg") no-repeat center right;
        & ul li {display: inline-block;vertical-align: middle;}
        .my-edit {display: none;}
        .user-name {padding: 10px;display: inline-block; }
        .user-profile {
            width:32px; height:32px; border-radius: 50%; background: rgba(240, 240, 240, 1);
            display: inline-block; vertical-align: middle;
        }
        &.active{
            .my-edit{
                display: list-item; padding: 5px; position: absolute; top:70px; right:10px; background: rgba(255, 255, 255, 1);
                & ul li{
                    padding: 10px 0; display: block;
                    &:hover{background: rgba(0, 80, 255, 0.05);}
                    & span{padding:0 40px;}
                }
            }

        }
    }
    /* 상단바 프로필 메뉴 */
    .my-modify{padding:5px 20px; background: url($icon-folder-path + "icon_profiledit.svg") no-repeat 10px center;}
    .my-logout{padding: 5px 20px; background: url($icon-folder-path + "icon_logout.svg") no-repeat 10px center; }
}

// *********************************************************************************************************************
// LEFT (Menu)
// *********************************************************************************************************************

/* GNB 아이콘 */
.my{ @include gnb-icon("icon_gnb01_mywork.svg")}
.portal{ @include gnb-icon("icon_gnb02_portal.svg") }
.config{ @include gnb-icon("icon_gnb03_sysmange.svg") }
.workflow{ @include gnb-icon("icon_gnb04_wfmanage.svg") }

/* SNB 아이콘 */
.dashboard{ @include snb-icon("icon_gnb01_snb00_dashboard.svg") }
.token{ @include snb-icon("icon_gnb01_snb01_docbox.svg") }
.document{ @include snb-icon("icon_gnb01_snb02_edit.svg") }

.notice{ @include snb-icon("icon_gnb02_snb01_notice.svg") }
.faq{ @include snb-icon("icon_gnb02_snb02_faq.svg") }
.download{ @include snb-icon("icon_gnb02_snb03_archive.svg") }
.board{ @include snb-icon("icon_gnb02_snb04_board.svg") }

.user{ @include snb-icon("icon_gnb03_snb01_usermanage.svg") }
.auth{ @include snb-icon("icon_gnb03_snb02_authority.svg") }
.role{ @include snb-icon("icon_gnb03_snb03_role.svg") }
.boardAdmin{ @include snb-icon("icon_gnb03_snb04_sysboard.svg") }
.code{ @include snb-icon("icon_gnb03_snb05_code.svg") }

.process{ @include snb-icon("icon_gnb04_snb01_process.svg") }
.form{ @include snb-icon("icon_gnb04_snb02_form.svg") }
.workflowAdmin{ @include snb-icon("icon_gnb04_snb03_workflow.svg") }
.customCode{ @include snb-icon("icon_gnb04_snb04_customcode.svg") }
.image{ @include snb-icon("icon_gnb04_snb05_image.svg") }



// GNB
.gnb {
    ul li {
        padding:10px 0; line-height: 1.6; color:#fff; font-weight: 300; opacity: 0.6;
        &:hover {opacity: 1; background: rgba(2, 66, 235, 1)}
        ul li {
            color:#fff; font-weight: 300; opacity: 0.6;
            &:hover{opacity: 1; background: rgba(255, 255, 255, 0.1);}
        }
        .snb{margin:16px 0 0 0; }
        &.toggle {
            line-height: 1.6; color:#fff; font-weight: 300; opacity: 0.6;
            background: url($icon-folder-path + "icon_arrow_d.svg")no-repeat right 7px;
            &:hover {
                opacity: 1;
                background: rgba(2, 66, 235, 1) url($icon-folder-path + "icon_arrow_d.svg") no-repeat right 7px;
            }
            & ul li {
                color:#fff; font-weight: 300; opacity: 0.6;
                &:hover{opacity: 1; background: rgba(255, 255, 255, 0.1);}
            }
        }
    }
}