// *********************************************************************************************************************
// 이 파일(_gnb)에서는 전체 Frame 구조 중에서 Container 영역을 제외한 부분에 대한 공통 부분에 대해 아래와 같은 내용을 포함한다.
//
// * navigation
//   - breadcrumb, nav-config 와 같은 공통요소를 묶을때 사용하지만 디자인에 따라서
//     내부의 각 요소만 별도로 사용해도 되며 공통요소가 필요한 경우에만 사용해도 된다.
//
//    * breadcrumb - 현재 화면의 경로를 출력하는 디자인 요소. default theme 에는 없다.
//    * nav-config - 알람창, 로그인 사용자 아바타, 로그아웃, 자기 정보 수정등의 메뉴가 출력되는 부분.
//
// * logo
//   - 로고가 출력되는 부분이며 menu.html 파일에 포함되지만 가장 최상위 요소중에 하나이다.
// * menu
//   - 메뉴가 출력되는 부분. default theme 에는 메뉴 부분 전체를 접고 펴는 기능은 없다.
// *********************************************************************************************************************
.navigation {
    width: 13.75rem; // 220px
    height: 6.25rem; // 100px
    background: rgba(255, 255, 255, 1);
    position: fixed;
    bottom: 0;
    z-index: 999999;
}

.logo {
    width: 13.75rem; // 220px
    height: 3.8125rem; // 60px
    background: $menu-bg-color url($icon-folder-path + "icon_menu_open_logo.png") no-repeat 1.25rem center; // 20px
    position: fixed;
}

.menu {
    width: 13.75rem; // 220px
    height: 100%;
    background: $menu-bg-color;
    position: fixed;
    left: 0;
    top: 3.8125rem; // 60px
    bottom: 6.25rem; // 100px
    z-index: 999;
    overflow: auto;
}

.breadcrumb {
    display: none;
}

.nav-config {
    float: right;
    /* 상단 알람 */
    .notification {
        margin-left: 1.25rem; // 20px
        height: 3.125rem; // 50px
        width: 100%;
        background: url($icon-folder-path + "icon_notice.svg") no-repeat left center;
        &-num {
            margin: 1.125rem 0 1.0625rem 2.4375rem; // 18px 0 17px 39px
            padding: 0.125rem 0.5rem 0.125rem 0.5rem; // 2px 8px 2px 8px
            border-radius: 1.25rem; // 20px
            background-color: $alice-primary;
            color: $white;
            font-size: 0.75rem; // 12px
            text-align: center;
            position: absolute;
        }
    }
    .user-info {
        display: inline-block;
        vertical-align: middle; background: url($icon-folder-path + "icon_userinfo_arrow_d.svg") no-repeat center right;
        & ul li {display: inline-block;vertical-align: middle;}
        .my-edit {display: none;}
        .user-name {padding: 10px;display: inline-block; }
        .user-profile {
            width:32px; height:32px; border-radius: 50%; background: rgba(240, 240, 240, 1);
            display: inline-block; vertical-align: middle;
        }
        &.active{
            .my-edit{
                display: list-item;
                padding: 0.3125rem; // 5px
                position: absolute;
                top: -6.25rem; // -100px;
                right: -16.875rem; // -270px;
                background: rgba(255, 255, 255, 1);
                & ul li {
                    padding: 0.625rem 0; // 10px 0
                    display: block;
                    &:hover {background: rgba(0, 80, 255, 0.05);}
                    & span {
                        padding:0 2.5rem; // 40px
                    }
                }
            }
        }
    }
    /* 상단바 프로필 메뉴 */
    .my-modify{padding:5px 20px; background: url($icon-folder-path + "icon_profiledit.svg") no-repeat 10px center;}
    .my-logout{padding: 5px 20px; background: url($icon-folder-path + "icon_logout.svg") no-repeat 10px center; }
}

// GNB
.gnb-area {
    .gnb {
        padding: 15px 20px 15px 20px;
        vertical-align: middle;
    }
    & > ul > li {
        line-height: 1.3;
        color: $menu-color;
        font-weight: 500;

        &:hover {
            background: $menu-bg-hover;
        }

        .snb-set {
            display: none;
        }

        &:first-child {
            margin-top: 5px;
        }

        & > a {
            display: flex;
            cursor: pointer;

            span {
                padding-left: 19px;
                display: inline-block;

                &.arrow-left {
                    background: url($icon-folder-path + "icon_arrow_left.svg") no-repeat center center;
                    padding: 0 6px 0 0;
                    float: right;
                    width: 6px;
                    height: 20px;
                    margin-left: auto;
                }
            }
        }

        & > ul > li {
            font-size: $menu-font;
            color: $menu-color;
            font-weight: 400;

            &:hover {
                background: $menu-bg-hover;
            }

            & > a {
                display: block;
                cursor: pointer;

                span {
                    padding-left: 39px;
                    display: inline-block;
                }

                &.snb {
                    padding: 8px 20px 8px 20px;
                }
            }
        }
    }
    .active {
        color: $white;
        background-color: $menu-bg-hover;
        svg {
            fill: red;
            stroke: red;
        }
    }
    .active-parent {
        color: $white;
        svg {
            fill: red;
            stroke: red;
        }
    }
}
