// *********************************************************************************************************************
// 이 파일(_gnb)에서는 전체 Frame 구조 중에서 Container 영역을 제외한 부분에 대한 공통 부분에 대해 아래와 같은 내용을 포함한다.
//
// * navigation
//   - breadcrumb, nav-config 와 같은 공통요소를 묶을때 사용하지만 디자인에 따라서
//     내부의 각 요소만 별도로 사용해도 되며 공통요소가 필요한 경우에만 사용해도 된다.
//
//    * breadcrumb - 현재 화면의 경로를 출력하는 디자인 요소. default theme 에는 없다.
//    * navigation-config - 알람창, 로그인 사용자 아바타, 로그아웃, 자기 정보 수정등의 메뉴가 출력되는 부분.
//
// * logo
//   - 로고가 출력되는 부분이며 menu.html 파일에 포함되지만 가장 최상위 요소중에 하나이다.
// * menu
//   - 메뉴가 출력되는 부분. default theme 에는 메뉴 부분 전체를 접고 펴는 기능은 없다.
// *********************************************************************************************************************

.navigation {
    width: $nav-width;
    height: $nav-height;
    background-color: $nav-bg-color;
    position: fixed;
    bottom: 0;
    z-index: 1000;

    .breadcrumb {
        display: none;
    }

    &-config {
        .notification-menu {
            height: 3.125rem; // 50px
            width: 100%;
            cursor: pointer;
            svg {
                margin: 0.5rem 0 0.5rem 1.25rem; // 8px 0 8px 20px
                fill: $blue-gray;
            }
            .notification-num {
                margin: 1rem 0 1rem 1rem; // 16px 0 16px 10px
                padding: 0.125rem 0.625rem; // 2px 10px
                border-radius: 1.25rem; // 20px
                background-color: $blue-gray;
                font-size: 0.75rem; // 12px
                font-weight: 700;  // bold
                text-align: center;
                position: absolute;
                line-height: inherit;
            }
            &.active { // 알림이 존재할 경우
                .notification-round {
                    fill: $point-blue;
                }
                .notification-bell {
                    fill: $white;
                }
                .notification-num {
                    color: $white;
                    background-color: $point-blue;
                }
            }
            &:hover {
                background: $menu-bg-hover;
            }
        }
        .user-info-menu {
            height: 3.125rem; // 50px
            span {
                color: $blue-gray;
                font-weight: 500;
            }
            a {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                .user-profile {
                    width: 1.688rem; // 27px
                    height: 1.688rem;  // 27px
                    border-radius: 50%;
                    display: inline-block; 
                    vertical-align: middle;
                    margin-right: 1rem; // 16px
                    margin-left: 1.25rem; //20px
                }
                .my-modify {
                    width: 15px; //15px
                    height: 15px;
                    background: $blue-gray;
                    -webkit-mask: url($icon-folder-path + "icon_setting.svg") no-repeat center center;
                    mask-image: url($icon-folder-path + "icon_setting.svg");
                    mask-repeat: no-repeat;
                    mask-position: center;
                    float: right;
                    margin-left: auto;
                    margin-right: 1.25rem; //20px
                }
            }
            &:hover {
                background: $menu-bg-hover;
            }
        }
        .logout-menu {
            height: 3.125rem; // 50px
            span {
                color: $blue-gray;
                font-weight: 500;
            }
            a {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                .my-logout {
                    width: 27px;
                    height: 27px;
                    background: $blue-gray;
                    -webkit-mask: url($icon-folder-path + "icon_logout.svg") no-repeat center center;
                    mask-image: url($icon-folder-path + "icon_logout.svg");
                    mask-repeat: no-repeat;
                    mask-position: center;
                    margin-left: 1.25rem; // 20px
                    margin-right: 1rem; // 16px
                }
            }
            &:hover {
                background: $menu-bg-hover;
            }
        }
    }
}

.logo {
    width: $logo-width;
    height: $logo-height;
    background: $menu-bg-color url($icon-folder-path + "icon_menu_open_logo.png") no-repeat 1.25rem center; // 20px
    position: fixed;
}

.menu {
    width: $menu-width;
    height: $menu-height;
    background-color: $menu-bg-color;
    position: fixed;
    left: 0;
    top: $logo-height;
    z-index: 999;
    overflow: auto;
}

// GNB
.gnb-area {
    .gnb {
        padding: 15px 20px 15px 20px;
        vertical-align: middle;
        &.active {
            background-color: $menu-bg-hover;
            span {
                color: $white;
                &.icon-gnb {
                    background: $point-blue;
                }
            }
        }
        &.active-parent {
            span {
                color: $white;
                &.icon-gnb{
                    background: $point-blue;
                }
                &.arrow-right, &.arrow-down {
                    background: $white;
                }
            }
        }
    }
    & > ul > li {
        line-height: 1.3;
        font-weight: 500;

        svg {
            fill: #929aa6;
        }

        &:hover {
            background: $menu-bg-hover;
        }

        .snb-set {
            display: none;
        }

        &:first-child {
            margin-top: 5px;
        }

        & > a {
            display: flex;
            cursor: pointer;

            span {
                padding-left: 19px;
                display: inline-block;
                color: $menu-color;
                font-weight: 500;
                line-height: 1.3rem;

                &.arrow {
                    &-right {
                        @include menuArrow;
                        -webkit-mask: url($icon-arrow-left) no-repeat center center;
                        mask-image: url($icon-arrow-left);
                    }
                    &-down {
                        @include menuArrow;
                        -webkit-mask: url($icon-arrow-bottom) no-repeat center center;
                        mask-image: url($icon-arrow-bottom);
                    }
                }
            }
        }

        & > ul > li {
            font-size: $menu-font;
            color: $menu-color;
            font-weight: 400;

            &:hover {
                background: $menu-bg-color;
            }

            & > a {
                display: block;
                cursor: pointer;

                span {
                    padding-left: 39px;
                    display: inline-block;
                }

                &.snb {
                    padding: 8px 20px 8px 20px;
                }
                &.active {
                    span {
                        color: $white;
                    }
                }
            }
        }
    }
}

.icon-gnb {
    @include menuIcon;
    &-board {
        -webkit-mask: url($icon-gnb-board) no-repeat center center;
        mask-image: url($icon-gnb-board);
    }
    &-dashboard {
        -webkit-mask: url($icon-gnb-dashboard) no-repeat center center;
        mask-image: url($icon-gnb-dashboard);
    }
    &-document {
        -webkit-mask: url($icon-gnb-document) no-repeat center center;
        mask-image: url($icon-gnb-document);
    }
    &-download {
        -webkit-mask: url($icon-gnb-download) no-repeat center center;
        mask-image: url($icon-gnb-download);
    }
    &-faq {
        -webkit-mask: url($icon-gnb-faq) no-repeat center center;
        mask-image: url($icon-gnb-faq);
    }
    &-notice {
        -webkit-mask: url($icon-gnb-notice) no-repeat center center;
        mask-image: url($icon-gnb-notice);
    }
    &-config {
        -webkit-mask: url($icon-gnb-config) no-repeat center center;
        mask-image: url($icon-gnb-config);
    }
    &-workflow {
        -webkit-mask: url($icon-gnb-workflow) no-repeat center center;
        mask-image: url($icon-gnb-workflow);
    }
    &-token {
        -webkit-mask: url($icon-gnb-token) no-repeat center center;
        mask-image: url($icon-gnb-token);
    }
}
