// *********************************************************************************************************************
// TOP (breadcrumb)
// *********************************************************************************************************************
/* 상단 바 */
.top-menu {width:100%; height:60px; background: rgba(255, 255, 255, 1); position: fixed; top: 0; z-index: 2;}

/* 상단 Breadcrumb */
.breadcrumb {
    height:60px; padding:0 0 0 240px; color:#5c6776; opacity: 0.57; font-size: 13px; float: left;
    & ul li {
        display: inline-block;
        & span {vertical-align: middle; padding: 0 0 0 18px; line-height:3;}
    }
    &.close {
        height:60px; padding:0 0 0 80px; color:#5c6776; opacity: 0.57; font-size: 13px; float: left;
        & ul li{
            display: inline-block;
            & span{vertical-align: middle; padding: 0 0 0 18px; line-height:3;}
        }
    }

    .arrow-r {padding:9px; background: url($icon-folder-path + "icon_arrow_r.svg") no-repeat center left;}
    .home {background: url($icon-folder-path + "icon_home.svg") no-repeat center center; }
}

.bread-end{color:#67717f; font-size: 13px;}

/* 상단 알람 및 프로필 메뉴  */
.top-config {
    float: right;
    /* 상단 알람 */
    .notice {
        padding-left: 122px;
        background: url($icon-folder-path + "icon_notice.svg") no-repeat center center;
        vertical-align: middle;
        &-num {
            width: 14px;
            margin-top: 26px;
            padding: 2px 8px 2px 8px; border-radius: 20px; border: 1.2px solid $alice-primary;
            margin-left: 60px; color: $alice-primary;
            text-align: center;
        }
    }
    .user-info {
        float:right; border-left: 1px solid #D2D9E2; display: inline-block; padding:12px 15px;vertical-align: middle; background: url($icon-folder-path + "icon_userinfo_arrow_d.svg") no-repeat center right;
        & ul li {display: inline-block;vertical-align: middle;}
        .my-edit {display: none;}
        .user-name {padding: 10px;display: inline-block; }
        .user-profile {
            width:32px; height:32px; border-radius: 50%; background: rgba(240, 240, 240, 1);
            display: inline-block; vertical-align: middle;
        }
        &.active{
            .my-edit{
                display: block; padding: 5px; position: absolute; top:70px; right:10px; background: rgba(255, 255, 255, 1);
                & ul li{
                    padding: 10px 0; display: list-item;
                    &:hover{background: rgba(0, 80, 255, 0.05);}
                    & span{padding:0 40px;}
                }
            }

        }
    }
    /* 상단바 프로필 메뉴 */
    .my-modify{padding:5px 20px; background: url($icon-folder-path + "icon_profiledit.svg") no-repeat 10px center;}
    .my-logout{padding: 5px 20px; background: url($icon-folder-path + "icon_logout.svg") no-repeat 10px center; }
}

// *********************************************************************************************************************
// LEFT (Menu)
// *********************************************************************************************************************

/* GNB 아이콘 */
.my{ @include gnb-icon("icon_gnb01_mywork.svg")}
.portal{ @include gnb-icon("icon_gnb02_portal.svg") }
.config{ @include gnb-icon("icon_gnb03_sysmange.svg") }
.workflow{ @include gnb-icon("icon_gnb04_wfmanage.svg") }

/* SNB 아이콘 */
.dashboard{ @include snb-icon("icon_gnb01_snb00_dashboard.svg") }
.token{ @include snb-icon("icon_gnb01_snb01_docbox.svg") }
.document{ @include snb-icon("icon_gnb01_snb02_edit.svg") }

.notice{ @include snb-icon("icon_gnb02_snb01_notice.svg") }
.faq{ @include snb-icon("icon_gnb02_snb02_faq.svg") }
.download{ @include snb-icon("icon_gnb02_snb03_archive.svg") }
.board{ @include snb-icon("icon_gnb02_snb04_board.svg") }

.user{ @include snb-icon("icon_gnb03_snb01_usermanage.svg") }
.auth{ @include snb-icon("icon_gnb03_snb02_authority.svg") }
.role{ @include snb-icon("icon_gnb03_snb03_role.svg") }
.boardAdmin{ @include snb-icon("icon_gnb03_snb04_sysboard.svg") }
.code{ @include snb-icon("icon_gnb03_snb05_code.svg") }

.process{ @include snb-icon("icon_gnb04_snb01_process.svg") }
.form{ @include snb-icon("icon_gnb04_snb02_form.svg") }
.workflowAdmin{ @include snb-icon("icon_gnb04_snb03_workflow.svg") }
.customCode{ @include snb-icon("icon_gnb04_snb04_customcode.svg") }
.image{ @include snb-icon("icon_gnb04_snb05_image.svg") }



// GNB
.gnb {
    &-open {
        ul li {
            padding:10px 0; line-height: 1.6; color:#fff; font-weight: 300; opacity: 0.6;
            &:hover {opacity: 1; background: rgba(2, 66, 235, 1)}
            ul li {
                color:#fff; font-weight: 300; opacity: 0.6;
                &:hover{opacity: 1; background: rgba(255, 255, 255, 0.1);}
            }
            .snb{margin:16px 0 0 0; }
            &.toggle {
                line-height: 1.6; color:#fff; font-weight: 300; opacity: 0.6;
                background: url($icon-folder-path + "icon_arrow_d.svg")no-repeat right 7px;
                &:hover {
                    opacity: 1;
                    background: rgba(2, 66, 235, 1) url($icon-folder-path + "icon_arrow_d.svg") no-repeat right 7px;
                }
                & ul li {
                    color:#fff; font-weight: 300; opacity: 0.6;
                    &:hover{opacity: 1; background: rgba(255, 255, 255, 0.1);}
                }
            }
        }
    }

    &-close {
        ul li {
            height:20px; padding:16px 0 24px 6px;  line-height: 1.6; color:#fff; font-weight: 300; opacity: 0.6;
            &:hover{opacity: 1; background: rgba(2, 66, 235, 1); }
            & a{visibility: hidden;}
        }

        /* GNB 메뉴 닫혔을 때 - 서브메뉴 */
        .snb {
            display: none;
            &.active{
                display: block; margin:0 0 0 54px;
                & ul li {
                    padding:10px 0; z-index: 999; width:150px; background: rgba(255, 255, 255, 1 ); color:rgba(103, 113, 127, 1);
                    font-weight: 300; opacity: 1;
                    &:hover { background: rgba(0, 80, 255,0.05); color:rgba(72 , 80, 92, 1);}
                    & a { visibility: visible; }
                    & .snb-title{color:#48505C; font-size: 15px; font-weight: 600; text-align: center; display: block;}
                    /* GNB 접혔을 때 SNB 아이콘 */
                    .dashboard{ @include snb-icon2("icon_gnb01_snb00_dashboard.svg") }
                    .token{ @include snb-icon2("icon_gnb01_snb01_docbox.svg")}
                    .document{ @include snb-icon2("icon_gnb01_snb02_edit.svg") }

                    .notice{ @include snb-icon2("icon_gnb02_snb01_notice.svg") }
                    .faq{ @include snb-icon2("icon_gnb02_snb02_faq.svg") }
                    .download{ @include snb-icon2("icon_gnb02_snb03_archive.svg") }
                    .board{ @include snb-icon2("icon_gnb02_snb04_board.svg") }

                    .user{ @include snb-icon2("icon_gnb03_snb01_usermanage.svg") }
                    .auth{ @include snb-icon2("icon_gnb03_snb02_authority.svg") }
                    .role{ @include snb-icon2("icon_gnb03_snb03_role.svg") }
                    .boardAdmin{ @include snb-icon2("icon_gnb03_snb04_sysboard.svg") }
                    .code{ @include snb-icon2("icon_gnb03_snb05_code.svg") }

                    .process{ @include snb-icon2("icon_gnb04_snb01_process.svg") }
                    .form{ @include snb-icon2("icon_gnb04_snb02_form.svg") }
                    .workflowAdmin{ @include snb-icon2("icon_gnb04_snb03_workflow.svg") }
                    .customCode{ @include snb-icon2("icon_gnb04_snb04_customcode.svg") }
                    .image{ @include snb-icon2("icon_gnb04_snb05_image.svg") }


                }
                &.snb-mywork{position: absolute; top:60px;}
                &.snb-portal{position: absolute; top:120px;}
                &.snb-system{position: absolute; top:180px;}
                &.snb-workflow{position: absolute; top:240px;}
            }
        }
    }
}

.left-open-menu.disable{display: none;}
.left-close-menu.disable{display: none;}

/* GNB 메뉴 열렸을 때 */
.left-open-menu{width:220px; height:100%; background:$alice-primary; position: fixed; left: 0; z-index: 999;}
.logo-open{height:60px; background:rgba(255, 255, 255, 0.1) url($icon-folder-path + "icon_logo_open.svg") no-repeat 20px center;}

/* GNB 메뉴 닫혔을 때 */
.left-close-menu{width:60px; height:100%; background:$alice-primary; position: fixed; left: 0; z-index: 999;}
.logo-close{height:60px; background:rgba(255, 255, 255, 0.1) url($icon-folder-path + "icon_logo_close.svg") no-repeat 20px center;}

/* 토글메뉴 리스트 */
.toggle-container {display: none;}
.toggle-container.active{display: block;}

.btn-menuclose {
    background:rgba(255, 255, 255, 1) url($icon-folder-path + "icon_menuclose.svg") no-repeat center center;
    width:34px; height:34px; border-radius: 50%; box-shadow: 0px 2px 7px 0px rgba(0,72,230,0.45);
    position: absolute; left: 202px; bottom: 60px;
}
.btn-menuopen {
    background:rgba(255, 255, 255, 1) url($icon-folder-path + "icon_menuopen.svg") no-repeat center center;
    width:34px; height:34px;border-radius: 50%; box-shadow: 0px 2px 7px 0px rgba(0,72,230,0.45);
    position: absolute; left: 42px; bottom: 60px;
}
