@import "../../template/_layout.scss";

.itsm-container {
  @include container;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  // 메뉴 디자인은 _gnb.scss 참조
  // 메인
  .main {
    width: calc(100vw - #{$nav-width});
    height: 100vh;
    
    // 상단 영역
    @include headerTemplate();
    // #9572 [ITSM] 상단 제목을 공통 mixin 생성 일감 작업시 삭제 필요
    .page-title {
      display: flex;
      align-items: baseline;
      .title-description {
        @include h6();
        padding-left: 0.625rem;
      }
    }
    
    // 리스트
    @include listTemplate();
  }
}

// 공지사항 
.notice-header {
  padding: 2.188rem 3.75rem 0 3.75rem; // 35px 60px 0px 60px
  background-color: $light-gray;
}
.notice-content {
  padding: 0.9375rem 3.75rem; // 15px 60px
  background-color: $light-gray;
  // 공지사항 상단 공지
  .notice-pinned { background-color: $notice-pinned-color; }
}

// TODO : 리팩토링

.itsm {
  // 기본 ITSM 구성
  &-container {
    

    @import "contents/_contents-token.scss";
    @import "contents/_contents-list.scss";
    @import "contents/_contents-edit.scss";
    @import "contents/_contents-flex.scss";
    @import "contents/_contents-list-edit.scss";
    @import "contents/_contents-document.scss";
    @import "contents/_contents-tree-edit.scss";

    &-close {
      height: 100%;
      padding: 5.625rem 0 0 5rem; // 90px 0 0 80px
      background: rgba(234, 241, 247, 1);
    }
  }
  
  &-popup {
    padding: 1.875rem 2.5rem 1.25rem 2.5rem; // 30px 40px 20px 40px
    width: 100%;
    // 문서함 > 관련 문서
    .related-instance-main {
      margin-top: 0.9375rem; // 15px
      .table-set {
        margin-top: 2.188rem; // 35px
        table {
          width: 100%;
          thead {
            tr {
              color: $light-black;
              border-bottom: 0.125rem solid $default-gray;
            }
          }
          tbody {
            display: block;
            width: 57.44rem; // 919px
            height: 32.5rem; // 520px
            color: $dark-gray;
            overflow-y: auto;
            tr {
              display: table;
              width: 100%;
              height: 3.125rem; // 50px
              line-height: 3.125rem; // 50px
              td {
                display: inline-block; // 말줄임 적용을 위해 추가
                vertical-align: middle;
              }
            }
          }
        }
      }
    }
    .view {
      padding: 0;
      &-content {
        height: 44.625rem; // 714px
        div.form-set {
          margin: 0 0.6875rem 0 0.6875rem; // 11px
        }
      }
    }
  }
}

.search-area {
  height: 6.875rem; // 110px
  padding: 3.125rem 0 1.25rem 0; // 50px 0 20px 0
  display: flex;
  flex-direction: row;
  .search-input { flex : none; }
  .txt-num {
    color: $warm-gray;
    margin-left: 0.623rem; // 10px
  }
}

@include horizontalBar(0.0625rem,  0.625rem 0, $line-gray);

// div 내부에 여러개의 span을 우측으로 붙이는 클래스
// ex) 공지사항, 게시판 상세조회에서 작성자와 작성일은 오른쪽에 정렬되어 출력
.row-right {
  display: inherit;
  justify-content: flex-end;
  span {
    &:last-child {
      margin: auto 1.25rem auto 0; // 20px
      }
    }
}

.btn-list {
  padding: 0.625rem 0 0 0;
  display: flex;
  justify-content: flex-end;
}

.profile-photo {
  width: $profile-photo-size;
  height: $profile-photo-size;
  border-radius: 50%;
  background: $profile-photo-background;
  margin-right: 0.625rem; // 10px
}

.user-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 8.75rem; // 140px
}

.user-align-item {
    align-items: start;
}

// 리스트 출력용 컬러 아이콘
.document-color-circle {
  width: $document-color-size;
  height:$document-color-size;
  border-radius: 50%;
  margin-right: 0.625rem; // 10px
  display: inline-block;
}

// 조회 데이터 없을 때
.no-data-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 13.75rem; // 220px
  margin: 3.125rem 3.75rem; // 50px 60px
  background-color: rgba(247, 248, 249, 0.45); // $light-gray
  border: 0.0625rem solid $line-gray; // 1px
  border-radius: 0.0625rem; // 1px
  pointer-events: none;
  .no-data-icon {
    content: url("../media/icons/icon_no_data.svg")
  }
  .no-data-text {
    font-size: 1.125rem;; // 18px
    font-weight: $font-weight-medium;
    color: $pressed-gray;
    margin-left: 1.875rem; // 30px
  }
  
  &-list {
    pointer-events: none;
    background: $line-gray;
    td { text-align: center; }
  }
}