@import "../../template/_layout.scss";

// layout 이벤트
@include keyframe (slideDown) {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@include keyframe (slideUp) {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.itsm-container {
  @include container;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  // 메뉴 디자인은 _gnb.scss 참조
  // 메인
  .main {
    width: calc(100vw - #{$nav-width});
    height: 100vh;
    
    // 상단 영역
    @include headerTemplate();
    // #9572 [ITSM] 상단 제목을 공통 mixin 생성 일감 작업시 삭제 필요
    .page-title {
      display: flex;
      align-items: baseline;
      .title-description {
        @include h6();
        padding-left: 0.625rem;
      }
    }
    
    // 리스트
    @include listTemplate();

    // 카드
    @include cardTemplate();
  }
  // 역할, 권한, 코드 화면의 우측 영역
  .aside {
    flex-shrink: 0; // 고정
    width: 38.125rem; // 610px
    background-color: $white;
    padding: 9.625rem 2.1875rem 3.125rem 0; // 154px 35px 50px 0

    // 코드 화면은 너비가 다름
    &.code { width: 62.5rem; } // 1000px

    // 역할, 권한, 코드
    .auth-edit,
    .role-edit,
    .code-edit {
      height: 41.25rem; // 660px
      margin: 0 0 1.875rem 0; // 30px

      .edit-form {
        padding: 0 1.875rem 0 4.0625rem; // 0 30px 0 65px
        overflow: auto;

        .edit-row {
          margin-top: 0.625rem; // 10px
        }
      }
    }
  }
}

// 공지사항, FAQ, 자료실, 게시판
// 시스템관리 > 사용자, 게시판
// 업무흐름 관리 > 프로세스, 문서양식, 업무흐름, 커스텀 코드
// 업무흐름 관리 > 역할, 권한
// 업무흐름 관리 > 코드
.notice-header,
.faq-header,
.download-header,
.board-header,
.user-header,
.board-admin-header,
.process-header,
.form-header,
.document-admin-header,
.custom-code-header,
.auth-header,
.role-header,
.code-header {
  padding: 2.188rem 3.75rem 0 3.75rem; // 35px 60px 0px 60px
  background-color: $light-gray;
}
.notice-content,
.faq-content,
.download-content,
.board-content,
.user-content,
.board-admin-content,
.process-content,
.form-content,
.document-admin-content,
.custom-code-content,
.auth-content,
.role-content,
.code-content {
  padding: 0.9375rem 3.75rem; // 15px 60px
  background-color: $light-gray;
}
// 공지사항 상단 공지
.notice-pinned { background-color: $notice-pinned-color; }

// 문서함
// 신청서
// 대시보드
.document-header,
.token-header,
.dashboard-header {
  padding: 2.188rem 3.75rem 0 3.75rem; // 35px 60px 0px 60px
  background-color: $light-gray;
  border-bottom: $layout-header-border;
}

.document-content {
  padding: 1.875rem 1.875rem 0 3.75rem; // 30px 30px 0 60px
  background-color: $white;
}

.token-content,
.dashboard-content {
  padding: 1.875rem 1.875rem 0 3.75rem; // 30px 30px 0 60px
  background-color: $white;

  .card { width: 100%; }

  // 문서함 > 업무흐름 색상
  .document-color {
    width: 0.75rem; // 12px
  }
  // 문서함 > 제목 내용
  .document-row {
    padding: 1.875rem 3rem; // 30px 48px

    &-content {
      // 문서 제목
      .document {
        &-title {
          // 문서 번호
          .document-numbering {
            font-size: 1rem; // 16px
            font-weight: $font-weight-regular;
            color: $gray;
          }
        }
        &-topic {
          width: 39.38rem; //630px
          margin-top: 1.5625rem; // 25px

          .topic {
            font-size: 1rem; // 16px
            font-weight: $font-weight-regular;
            color: $dark-gray;
          }
        }
      }
    }
    &-info {
      .document {
        &-detail {
          .user-name,
          .create-dt,
          .element-name {
            font-size: 1rem; // 16px
            font-weight: $font-weight-regular;
            color: $dark-gray;
          }
        }
        &-tag {
          max-width: 23.75rem; // 380px
          margin-top: 3.5rem; // 56px
        }
      }
    }
  }
  // TODO: 추후 대시보드 디자인 완료시 아래 부분은 삭제 예정
  // 대시보드 > 소제목
  .sub-title {
    margin: 20px 0; // 20px 0
  }
  // 대시보드 > 업무 통계
  .statistic {
    &-box {
      width: 23.75rem; // 380px
      border: $token-dashbaord-border;
      border-radius: 0.3125rem; // 5px
      padding: 1.5625rem; // 25px
    }
    &-info {
      margin-left: 1.5625rem; // 25px
    }
    &-count {
      margin-bottom: 0.9375rem; // 15px
    }
    &-type { color: $blue-gray; }
  }
  // 대시보드 > 처리할 문서
  .scroll-wrap {
    height: 440px; // 440px
    margin-right: 20px;
    .card:first-of-type { margin-top: 0;}
  }
}

// 슬라이드 효과
.slide-down {
  @include animation(0s, 0.3s, slideDown, ease-out);
}

.slide-up {
  @include animation(0s, 0.3s, slideUp, ease-out);
}


// TODO : 리팩토링

.itsm {
  // 기본 ITSM 구성
  &-container {

    @import "contents/_contents-edit.scss";
    @import "contents/_contents-flex.scss";
    @import "contents/_contents-list-edit.scss";
    @import "contents/_contents-document.scss";

    &-close {
      height: 100%;
      padding: 5.625rem 0 0 5rem; // 90px 0 0 80px
      background: rgba(234, 241, 247, 1);
    }
  }
  
  &-popup {
    padding: 1.875rem 2.5rem 1.25rem 2.5rem; // 30px 40px 20px 40px
    width: 100%;
    // 문서함 > 관련 문서
    .related-instance-main {
      margin-top: 0.9375rem; // 15px
      .table-set {
        margin-top: 2.188rem; // 35px
        table {
          width: 100%;
          thead {
            tr {
              color: $light-black;
              border-bottom: 0.125rem solid $default-gray;
            }
          }
          tbody {
            display: block;
            width: 57.44rem; // 919px
            height: 32.5rem; // 520px
            color: $dark-gray;
            overflow-y: auto;
            tr {
              display: table;
              width: 100%;
              height: 3.125rem; // 50px
              line-height: 3.125rem; // 50px
              td {
                display: inline-block; // 말줄임 적용을 위해 추가
                vertical-align: middle;
              }
            }
          }
        }
      }
    }
    .view {
      padding: 0;
      &-content {
        height: 44.625rem; // 714px
        div.form-set {
          margin: 0 0.6875rem 0 0.6875rem; // 11px
        }
      }
    }
  }
}

.search-area {
  height: 6.875rem; // 110px
  padding: 3.125rem 0 1.25rem 0; // 50px 0 20px 0
  display: flex;
  flex-direction: row;
  .search-input { flex : none; }
  .txt-num {
    color: $warm-gray;
    margin-left: 0.623rem; // 10px
  }
}

@include horizontalBar(0.0625rem,  0.625rem 0, $line-gray);

// div 내부에 여러개의 span을 우측으로 붙이는 클래스
// ex) 공지사항, 게시판 상세조회에서 작성자와 작성일은 오른쪽에 정렬되어 출력
.row-right {
  display: inherit;
  justify-content: flex-end;
  span {
    &:last-child {
      margin: auto 1.25rem auto 0; // 20px
      }
    }
}

.btn-list {
  padding: 0.625rem 0 0 0;
  display: flex;
  justify-content: flex-end;
}

// 사용자 아이콘
.profile-photo {
  border-radius: 50%;
  background-color: $profile-photo-background;
}

.user-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 8.75rem; // 140px
}

.user-align-item {
    align-items: start;
}

// 리스트 출력용 컬러 아이콘
.document-color-circle {
  width: $document-color-size;
  height:$document-color-size;
  border-radius: 50%;
  margin-right: 0.625rem; // 10px
  display: inline-block;
}

// 조회 데이터 없을 때
.no-data-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 13.75rem; // 220px
  margin: 3.125rem 3.75rem; // 50px 60px
  background-color: rgba(247, 248, 249, 0.45); // $light-gray
  border: 0.0625rem solid $line-gray; // 1px
  border-radius: 0.0625rem; // 1px
  pointer-events: none;
  .no-data-icon {
    content: url("../media/icons/icon_no_data.svg")
  }
  .no-data-text {
    font-size: 1.125rem;; // 18px
    font-weight: $font-weight-medium;
    color: $pressed-gray;
    margin-left: 1.875rem; // 30px
  }
  
  &-list {
    pointer-events: none;
    background: $line-gray;
    td { text-align: center; }
  }
}