@mixin contents-template() {
    height: 100vh;
    background: $light-gray;
    display: flex;
    flex-direction: column;
}
@mixin backgroundImage($path) {
    @include background($path, null, null, null, null, null)
}

@mixin backgroundImageAndSize($path, $size) {
    @include background($path, $size, null, null, null, null)
}

@mixin background($path, $size, $repeat, $posX, $posY, $color) {
    background-image: url($icon-folder-path + $path);
    background-size: if($size == null, auto, $size);
    background-repeat: if($repeat == null, no-repeat, $repeat);
    background-position-x: if($posX == null, center, $posX);
    background-position-y: if($posY == null, center, $posY);
    @if ($color != null) {
        background-color: $color;
    }
}

@mixin menuIcon {
    width: 1.25rem; // 20px
    height: 1.25rem; // 20px
    background: #929aa6;
    mask-repeat: no-repeat;
    mask-position: center center;
}

@mixin menuArrow {
    padding: 0 0.375rem 0 0; // 0 6px 0 0
    float: right;
    width: 0.75rem; // 12px
    height: 1.25rem; // 20px
    margin-left: auto;
    background: #929aa6;
    mask-repeat: no-repeat;
    mask-position: center center;
}

@mixin content-header() {
    .header { padding: 2.875rem 3.75rem 2.875rem 3.75rem; background: $light-gray;} // 46px 60px 46px 60px
}

@mixin list-template() {
    .list {
        padding-top: 1.25rem; // 20px
        a { cursor: pointer; }
        table {
            width: 100%;
            thead {
                display: block;
                & > tr {
                    height: 2.375rem; // 38px
                    border-bottom: .125rem solid $default-gray;
                    display: flex;
                    th {
                        @include h4();
                        vertical-align: middle;
                        text-align: left;
                        &:first-child {
                            padding-left: 1.25rem; // 20px
                        }
                    }
                }
            }
            tbody {
                display: block;
                height: 35.3125rem; // 565px;
                overflow-y: auto;
                width: 100%;
                tr {
                    height: 2.875rem;
                    width: 100%;
                    display: table;
                    &:hover {
                        background: $line-gray;
                    }
                    &.active {
                        td {
                            color: $dark-blue;
                            background: $line-gray;
                        }
                    }
                    td {
                        @include h5();
                        vertical-align: middle;
                        &:first-child {
                            padding-left: 1.25rem; // 20px
                        }
                    }
                }
            }
        }
    }
}

// TODO #9089 view-template 믹스인 수정 필요
@mixin view-template() {
    @include content-header();
    .view {
        padding: 3.125rem 19.375rem 3.125rem 19.375rem; // 50px 310px 50px 310px
        background-color: white;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        .view-column {
            display: flex;
            &.view-text {
                min-height: 13.4375rem; // 215px
                padding: 0.3125rem 1.25rem; // 5px 20px
                margin-bottom: 0.75rem; // 12px
                span {margin: 0;}
            }

            &.view-attach-file {
                min-height: 3.125rem; // 50px
                padding: 0.125rem 1.25rem; // 2px 20px
            }
        }
    }
}

@mixin flex-template() {
    @include content-header();
    .flex {
        padding: 3.125rem 19.375rem 3.125rem 19.375rem; // 50px 310px 50px 310px
        background-color: white;
        display: flex;
        flex-grow: 1;
        &.flex-column {
            flex-direction: column;
        }
        &.flex-row {
            flex-direction: row;
        }
        .flex-item {
            display: flex;
            &.item-text {
                min-height: 13.4375rem; // 215px
                padding: 0.3125rem 1.25rem; // 5px 20px
                margin-bottom: 0.75rem; // 12px
                span {margin: 0;}
            }
            // TODO: 공통으로 만들어서 첨부파일 쪽으로 소스를 옮기는 것이 좋을 것 같음
            &.item-attach-file {
                min-height: 3.125rem; // 50px
                padding: 0.125rem 1.25rem; // 2px 20px
                .vertical-bar {
                    width: 1.875rem; // 30px
                    border-right: 0.0625rem solid $line-gray; // 1px
                    margin-right: 1.875rem; // 30px
                }
            }
        }
    }
}

@mixin edit-template() {
    background-color: white;
    @include content-header();
    .edit {
        padding-top: 3.125rem; // 50px
        width: 61.25rem; // 980px
        margin: auto;
        display: flex;
        flex-direction: column;
        height: 100%;
        & .scroll-wrap {
            height: 43.125rem; // 690px
            display: flex;
            flex-direction: column;
            .form-wrap {
                flex: 1;
                overflow: auto;
                padding: 0 1.875rem 0 4.0625rem; // 0 30px 0 65px
            }
        }
        .form-set {
            display: flex;
            flex-direction: column;
            margin-top: 0.6875rem; // 11px
            li {
                color: $dark-gray;
                font-weight: 400;
                height: 1.5rem; // 24px
            }
            label {
                font-weight: 500;
                margin-left: 1.25rem; // 20px
                &:first-child {
                    margin-left: 0;
                }
            }
            .checkbox-list {
                height: 13.5rem; // 216px
                border: 0.0625rem solid $border-color; // 1px
                border-radius: $element-border-radius;
                overflow-y: auto;
                padding: 0.5rem 0.625rem; // 8px 10px
            }
            .radio-list {
                height: 27rem;
                border: 0.0625rem solid $border-color; // 1px
                border-radius: $element-border-radius;
                overflow-y: auto;
                padding: 0.5rem 0.625rem; // 8px 10px
            }
            .text-editor {
                height: 12.5rem; // 200px
            }
            .label-row {
                display: flex;
                align-items: center;
            }
        }
    }
}

@mixin h1() {
    color: $light-black;
    font: {
        size: 2.25rem; // 36px
        weight: 700;
    }
}

@mixin h2() {
    color: $light-black;
    font: {
        size: 1.75rem; // 28px
        weight: 500;
    }
}

@mixin h3() {
    color: $light-black;
    font: {
        size: 1.5rem; // 24px
        weight: 500;
    }
}

@mixin h4() {
    color: $light-black;
    font: {
        size: 1.125rem; // 18px
        weight: 500;
    }
}

@mixin h5() {
    color: $dark-gray;
    font: {
        size: 1rem; // 16px
        weight: 400;
    }
}

@mixin h6() {
    color: $warm-gray;
    font: {
        family: 맑은고딕;
        size: 0.875rem; // 14px
        weight: 400;
    }
}
