@import '../../template/_modal.scss';

.modal-dialog {
  // 트리 모달
  &.tree {
    width: $tree-modal-width;
    height: $tree-modal-height;

    .modal-content {
      height: calc(#{$tree-modal-height} - #{$modal-header-height} - #{$modal-bottom-height});
      padding: 1.125rem 0 0 1.25rem;
      div {
        height: 100%;
        label {
          font-weight: 400;
        }
        li {
          &:last-child:before {
            background-color: $modal-bg-color;
          }
        }
      }
    }
  }
  // 폼 / 프로세스 IMPORT 모달
  &.form-import, &.process-import {
    width: $import-modal-width;
    height: $import-modal-height;

    .modal-content {
      height: calc(#{$import-modal-height} - #{$modal-header-height} - #{$modal-bottom-height});
      padding: 0.625rem 1.25rem 1.25rem 1.25rem; // 10px 20px 20px 20px

      .field-label {
        display: inline-block;
        margin: 1rem 0 0.5rem 0; // 16px 0 8px 0
      }

    }
  }
  // 폼 / 프로세스 등록 / 수정 모달
  &.form-edit, &.process-edit {
    width: $modal-edit-width;
    height: $modal-edit-height;

    .modal-content {
      height: calc(#{$modal-edit-height} - #{$modal-header-height} - #{$modal-bottom-height});
      padding: 0.625rem 1.25rem 1.25rem 1.25rem; // 10px 20px 20px 20px

      .field-label {
        display: inline-block;
        margin: 1rem 0 0.5rem 0; // 16px 0 8px 0
      }
    }
  }

  // 업무 흐름 등록 / 수정 모달
  &.document-edit {
    width: $document-edit-modal-width;
    height: $document-edit-modal-height;

    .modal-content {
      height: calc(#{$document-edit-modal-height} - #{$modal-header-height} - #{$modal-bottom-height});
      padding: 1.25rem; // 20px
      overflow: hidden;

      .document-content {
        width: calc(#{$document-edit-modal-width} - 2.5rem); // 너비에서 여백만큼 빼준다.
        height: calc(#{$document-edit-modal-height} - #{$modal-header-height} - #{$modal-bottom-height} - 2.5rem); // 높이에서 여백만큼 빼준다.
        padding: 0 1.25rem; // 0 20px
        overflow-y: auto;
      }

      .field-label {
        display: inline-block;
        margin: 1rem 0 0.5rem 0; // 16px 0 8px 0
      }

      // 신청서 아이콘
      .document-icon-content {
        display: none;

        &.on { display: block; }
        // TODO: #9371 input + button 디자인 적용시 수정
        .input-button {
          input[type="text"] { 
            margin: 0; 
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;

            &:focus,
            &:hover {
              z-index: 1;
            }
          }
          button { 
            margin-left: -0.0625rem;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;

            &:focus,
            &:hover,
            &:active {
              z-index: 1;
            }
          }
        }
      }
    }
  }

  // 업무 흐름 신청서 양식 편집 모달
  &.document-display {
    width: $document-display-modal-width;
    height: $document-display-modal-height;

    .modal-content {
      height: calc(#{$document-display-modal-height} - #{$modal-header-height} - #{$modal-bottom-height});
      padding: 1.25rem; // 20px
      overflow: hidden;

      .document-display-content {
        width: calc(#{$document-display-modal-width} - 2.5rem); // 너비에서 여백만큼 빼준다.
        height: calc(#{$document-display-modal-height} - #{$modal-header-height} - #{$modal-bottom-height} - 2.5rem); // 높이에서 여백만큼 빼준다.
        padding: 0 1.25rem; // 0 20px
        overflow-y: auto;

        table {
          tr {
            th, td {
              font-weight: $font-weight-regular;
              font-size: 1rem; // 16px
              padding: 0 1.5rem 0.625rem 0; // 0 24px 10px 0
            }
            th {
              &.column-title {
                vertical-align: bottom;
                padding-bottom: 0.625rem; // 10px
              }
              width: 6.25rem; // 100px
              min-width: 6.25rem; // 100px
            }
          }
        }
      }
    }
  }
  // 관련문서 모달
  &.token-list {
    width: $token-list-modal-width;
    height: $token-list-modal-height;

    .modal-content {
      height: calc(#{$token-list-modal-height} - #{$modal-header-height});
      padding: 0.625rem 1.25rem 1.25rem 1.25rem; // 10px 20px 20px 20px

      // 관련문서 목록
      .related-instance-list {
        margin-top: 0.9375rem; // 15px
        .table-set {
          margin-top: 2.188rem; // 35px
          table {
            width: 100%;
            .list-head {
              tr {
                color: $light-black;
                border-bottom: 0.125rem solid $default-gray;
              }
            }
            .list-body {
              display: block;
              width: 60rem; // 960px
              height: 33.125rem; // 530px
              color: $dark-gray;
              overflow-y: auto;
              .instance-list {
                display: table;
                width: 100%;
                height: 3.125rem; // 50px
                line-height: 3.125rem; // 50px
                & > td {
                  display: inline-block; // 말줄임 적용을 위해 추가
                  vertical-align: middle;
                }
              }
            }
          }
        }
      }
    }
  }
}
