/* 알림 임시 css */
.notification-menu {
    height: 4.25rem; // 68px
    position: relative;
    display: inline-block;
    .count {
        position: absolute;
        top: -0.125rem; // -2px
        left: 1.25rem; // 20px
        border-radius: 50%;
        font-size: 0.75rem; // 12px
        display: none;
        cursor: pointer;
    }
    img, button {
        width: 1.125rem; // 18px
        height: 1.125rem; // 18px
        margin: 0;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
    .notification-container {
        position: absolute;
        border: 0.063rem solid #c8ced8; // 1px
        background-color: #ffffff;
        width: 21.875rem; // 350px
        right: -0.063rem; // -1px
        top: 4rem; // 64px
        color: black;
        display: none;
        font-weight: normal;
        font-size: 0.75rem; // 12px
        box-shadow: 0 0 0.3125rem 0.3125rem rgba(116, 147, 179, 0.25);
        .notification-header {
            height: 2.25rem; // 36px
            line-height: 1.875rem; // 30px
            color: #ffffff;
            background-color: #0050ff;
            display: flex;
            align-items: baseline;
            padding-left: 0.938rem; // 15px
            padding-right: 0.938rem; // 15px
            font-weight: 400;
            span {
                font-size: 0.688rem; // 11px
                display: inline-block;
            }
            span.title {
                width: 2.125rem; // 34px
                font-size: 0.875rem; // 14px
                font-weight: 500;
                line-height: 2rem; // 32px
            }
            span.count {
                width: 2.125rem; // 34px
            }
            span.message {
                width: 15.625rem; // 250px
                padding-left: 0.25rem; // 4px
            }
            span.close {
                width: 2.125rem; // 34px
                text-align: center;
            }
        }
        .notification-body {
            overflow: auto;
            max-height: 14.625rem; // 234px
            button {
                float: right;
                &.remove {
                    margin-top: -0.188rem; // 3px
                    background-image: url('../icons/icon_notification_delete.png');
                    background-repeat: no-repeat;
                    opacity: 0.6;
                }
            }
            span.title:hover {
                text-decoration: underline;
                cursor: pointer;
            }
            .notification {
                height: 3.375rem; // 54px
                border-bottom: 0.063rem solid #dce1e8; // 1px
                padding: 0.75rem 0.938rem 0.75rem 0.938rem; // 12px 15px 12px 15px
                &[is-confirm=false] {
                }
                &.nodata {
                    border: none;
                }
            }
        }
    }
    &:hover .notification-container {
        display: block;
    }
}

.alice-toastify {
    width: 25.625rem; // 410px
    height: 4.438rem; // 71px
    padding: 0.688rem !important; // 11px
    .toast-close {
        position: absolute;
        top: 0.563rem; // 9px
        right: 0.688rem; // 11px
    }
}

.notification-content {
    div {
        &.title {
            padding-bottom: 0.375rem; // 6px
            height: 0.813rem; // 13px
        }
        &.message {
            padding-bottom: 1rem; // 16px
            height: 0.625rem; // 10px
        }
        &.date {
            padding-bottom: 0.75rem; // 12px
            height: 0.625rem; // 10px
        }
        label {
            display: flex;
            float: left;
            background-color: #ffffff;
            input[type="checkbox"] {
                -webkit-appearance: none;
                border: 0.063rem solid #0050ff; // 1px
                padding: 0.313rem; // 5px
                border-radius: 0.063rem; // 1px
                display: inline-block;
                position: relative;
                cursor: pointer;
                &:checked {
                    border: 0.063rem solid #c8ced8; // 1px
                    color: #c8ced8;
                    cursor: unset;
                }
                &:checked::after {
                    content: '\2714';
                    font-size: 0.688rem; // 11px
                    position: absolute;
                    top: -0.063rem; // -1px
                    left: 0.063rem; // 1px
                    color: #c8ced8;
                }
            }
        }
        span {
            vertical-align: top;
            &.title {
                font-size: 0.875rem; // 14px
                font-weight: 500;
                color: #3E4752;
                max-width: 11.875rem; // 190px
                padding-left: 0.625rem; // 10px
                &.confirm {
                    color: #6b747f;
                }
            }
            &.message {
                font-size: 0.688rem; // 11px
                color: #666f7a;
                max-width: 24.375rem; // 390px
                padding-left: 1.438rem; // 23px
            }
            &.date {
                font-size: 0.688rem; // 11px
                color: #98a1ac;
                padding-left: 1.438rem; // 23px
            }
        }
    }
}

.notification-content.confirm {
    color: #747c86;
}

.notification-content:hover {
    background-color: rgba(0, 80, 255, 0.05);
}

.text-ellipsis {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
