// *********************************************************************************************************************
// * notification
//   - gnb 내부 요소로 종 모양 아이콘(.notification)에 hover시 노출되는 요소
//     notification-container 내부에 크게 header와 body로 나뉘며,
//     body 내부에 여러개의 contents로 구성된다.
//
// * alice-toastify
//   - toastify를 커스텀하여 생성되며, 우측 하단에서 설정 값에 따라 n초 간 노출되는 요소
// *********************************************************************************************************************

.notification {
  width: $notification-icon-width;
  height: $notification-icon-height;
  padding: $notification-icon-padding;
  position: relative;
  display: inline-block;
  img, button {
    margin: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  // .notification hover 시 노출되는 영역 전반
  &-block {
    position: absolute;
    width: 26.25rem; // 420px
    bottom: 0;
    left: calc(#{$nav-width} + 0.3125rem); // 좌측 간격 5px
    color: $notification-container-color;
    background-color: $notification-container-background;
    border: $notification-container-border;
    box-shadow: $notification-container-box-shadow;
    display: none;
    &.on { display: block; }
  }

  // notification 상단 영역 
  &-header {
    height: 2.5rem; // 40px
    display: flex;
    align-items: baseline;
    background-color: $notification-header-background;
    padding: 0 0.938rem; // 0 15px
    span {
      display: inline-block;
      font-size: 0.875rem; // 14px
      font-weight: $font-weight-regular;
      color: $white;

      // header 내부 컨텐츠
      &.title {
        font-size: 1rem; // 16px
        font-weight: $font-weight-medium;
      }
      &.total {
        margin: auto 0.3125rem; //5px
      }
      &.message {
        margin-left: 0.625rem;  // 10px
      }

      // 우측 상단 X 버튼
      &.close { 
        width: 0.875rem; //14px
        height: 0.875rem;
        float: right;
        margin-left: auto;
        @include maskImage('#{$icon-folder-path}icon_close.svg', 0.875rem, 0.875rem, no-repeat, center, null, $white); // 14px
      }
    }
  }

  // notification의 contents들이 나열되는 영역
  &-body {
    overflow-y: auto;
    height: 20.63rem;    // 330px
    &.nodata {
      height: 6.875rem;  // 110px
      padding: 0.938rem; // 15px
    }
  }
  &-content {
    height: 6.875rem; // 110px
    padding: 0.938rem;// 15px
    border-bottom: 0.063rem solid $line-gray; // 1px
    &:hover {
      background-color: rgba(135, 206, 255, 0.1);
    }
    // 체크 박스 영역
    .notification-checked {
      display: flex;
      float: left;
      background-color: $white;
      margin: 0;
      input[type="checkbox"] {
        width: $notification-checkbox-size;
        height: $notification-checkbox-size;
        border: $notification-checkbox-border-defualt;
        border-radius: $notification-checkbox-border;
        padding: 0.313rem; // 5px
        display: inline-block;
        position: relative;
        -webkit-appearance: none;
        margin: 0;
        cursor: pointer;
        &:checked {
          border: $notification-checkbox-border-checked;
          color: $pressed-gray;
          cursor: unset;
        }
        &:checked::after {
          content: '\2714';
          font-size: 1rem; // 16px
          position: absolute;
          top: -0.063rem; // -1px
          left: 0.063rem; // 1px
          color: $pressed-gray;
        }
      }
    }
    // 제거 버튼 영역
    .btn-remove {
      float: right;
      padding: 0;
      @include maskImage('#{$icon-folder-path}icon_delete.svg', 1.125rem, 1.25rem, no-repeat, center, null, $pressed-gray); // 18px 20px
    }
    span {
      &.title {
        font-weight: $font-weight-medium;
        font-size: 1rem; // 16px
        line-height: 1.2;
        color: $light-black;
        max-width: 18.13rem; // 290px
        margin-left: 0.625rem; // 10px
        &.confirm {
          opacity: 0.75;
        }
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
      &.message {
        font-weight: $font-weight-regular;
        font-size: 1rem; // 16px
        display: block;
        color: $dark-gray;
        max-width: 22.5rem; // 360px
        min-height: 2.5rem; // 40px
        margin-left: 1.75rem; // 28px
        &.confirm {
            color: $gray;
        }
      }
      &.date {
        font-weight: $font-weight-regular;
        font-size: 0.875rem; // 14px
        color: $gray;
        margin-left: 1.75rem; // 28px
      }
    }
  }
}

// 신규 알림 발생 시,
// 전체 화면 우측 하단에서 지정한 시간동안만 노출되는 notification
.alice-toastify {
  height: $toastify-height;
  background: $toastify-background;
  border-radius: $toastify-border-radius !important;
  box-shadow: $toastify-box-shadow;
  padding: 0 !important;
  &.toastify-right {
    right: 0.625rem; // 10px
  }
  &.toast-content {
    .icon {
      float: left;
      width: $toastify-icon-size;
      height: $toastify-icon-size;
      @include backgroundImageAndSize('#{$image-folder-path}notification/img_notification_logo.png', 6.25rem) // 100px
    }
    .content {
      float: left;
      width: 23.13rem; // 370px
      height: 100%;
      padding: 0.938rem; // 15px
      border: $toastify-border;
      div {
        &.title {
          padding-bottom: 0.625rem; // 10px
          label, button { display: none; }
        }
        &.message {
          padding-bottom: 0.625rem; // 10px
        }
        span {
          &.title {
            font-size: 1rem; // 16px
            font-weight: $font-weight-medium;
            color: $light-black;
            max-width: 18.13rem; // 290px
          }
          &.message {
            font-size: 1rem; // 16px
            font-weight: $font-weight-regular;
            color: $dark-gray;
            max-width: 22.5rem; // 360px
          }
          &.date {
            font-size: 0.875rem; // 14px
            font-weight: $font-weight-regular;
            color: $gray;
          }
        }
      }
    }
  }
  .toast-close {
    position: absolute;
    padding: 0;
    top: 0.688rem; // 11px
    right: 0.688rem; // 11px
    @include maskImage('#{$icon-folder-path}icon_close.svg', 0.875rem, 0.875rem, no-repeat, center, null, $pressed-gray); // 14px
  }
}