@import "../../template/_thumbnail.scss";


.thumbnail-icon-modal-wrapper {
  @include thumbnail-modal-wrapper();

  .thumbnail-icon-modal-dialog {
    @include thumbnail-modal-dialog();
    border: 0.0625rem solid $line-gray;
    border-radius: 0.0625rem;
    width: $thumbnail-icon-modal-width;

    .thumbnail-modal-body {
      .thumbnail-container {
        padding: $thumbnail-container-padding;
        height: auto;
        .thumbnail {
          width: $thumbnail-icon-size;
          height: $thumbnail-icon-size;
          margin: $thumbnail-icon-margin;
          div.thumbnail-img, div.thumbnail-icon {
            height: $thumbnail-icon-div-size;
            background-size: 100% !important
          }
        }
      }
    }
  }
}