@import "../../template/_thumbnail.scss";

// thumnbnail > modal(type: icon) 관련 템플릿
.thumbnail-icon {
  .thumbnail-main {
    padding: $thumbnail-icon-container-padding;
    height: auto;
    .thumbnail {
      width: $thumbnail-size;
      height: $thumbnail-size;
      margin: 0.4375rem; // 7px
      box-shadow: $thumbnail-icon-box-shadow;

      .thumbnail-icon {
        width: $thumbnail-icon-size;
        height: $thumbnail-icon-size;
        margin: 2rem auto; // 32px auto
      }
    }
  }
}