@import "../../template/_thumbnail.scss";

// 썸네일 모달
.modal-dialog {
  // thumnbnail > modal(type: icon) 관련 템플릿
  &.thumbnail-icon {
    width: $thumbnail-icon-modal-width;
    height: $thumbnail-icon-modal-height;
    top: 7rem; // 112px

    .modal-content {
      height: calc(#{$thumbnail-icon-modal-height} - #{$modal-header-height} - #{$modal-bottom-height});

      .thumbnail-main {
        padding: $thumbnail-icon-container-padding;
        height: auto;
        .thumbnail {
          width: $thumbnail-size;
          height: $thumbnail-size;
          margin: 0.4375rem; // 7px
          box-shadow: $thumbnail-icon-box-shadow;
    
          .thumbnail-icon {
            width: $thumbnail-icon-size;
            height: $thumbnail-icon-size;
            margin: 2rem auto; // 32px auto
          }
        }
      }
    }
  }
  // CMDB > Type icon modal
  &.thumbnail-cmdb-icon {
    top: $thumbnail-cmdb-icon-modal-top;

    .thumbnail {
      width: $thumbnail-cmdb-size;
      height: $thumbnail-cmdb-size;
      margin: $thumbnail-cmdb-margin;
      box-shadow: $thumbnail-icon-box-shadow;

      .thumbnail-icon {
        width: $thumbnail-cmdb-icon-size;
        height: $thumbnail-cmdb-icon-size;
        margin: $thumbnail-cmdb-margin;
        background-repeat: no-repeat;
      }
    }
  }

  // 이미지 관리 > 이미지 미리보기 모달
  &.thumbnail-preview {
    width: $thumbnail-preview-modal-width;
    height: $thumbnail-preview-modal-height;

    .modal-content {
      height: calc(#{$thumbnail-preview-modal-height} - #{$modal-header-height} - #{$modal-bottom-height});
      padding: 30px; // 30px

      .thumbnail-preview-img {
        width: 100%;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
      }
    }
  }
}