$tree-font-family: "Noto Sans KR";
$tree-font-size: 1rem; // 16px;
$tree-font-weight: 400; // regulalr
$tree-font-color: #3F4B56;
$tree-border-color: #EBEBEB;
$tree-background-color: #ffffff;
$tree-selected-border-color: #0098FF;
$tree-selected-background-color: rgba(0, 152, 255, 0.05);

body.thumbnail-modal-active {
    overflow:hidden !important;
}

.tree-modal-wrapper {
    display:none;
    overflow:auto;
    //position:fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &.tree-modal-active {
        display:block;
    }

    .tree-modal-backdrop { // 배경
        z-index: 2001;
        position:fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(116, 147, 179, 0.5);
    }

    .tree-modal-dialog {
        z-index: 2001;
        position: absolute;
        top: 10em;
        left: 0;
        right: 0;
        width: 550px;
        margin: 0 auto 0 auto;
        box-sizing: border-box;
        background-color: #ffffff;
        box-shadow: 0 0 0.3125rem 0.3125rem rgba(116, 147, 179, 0.25); /* 5px */

        .tree-modal-close-in,
        .tree-modal-close-out {
            position:absolute;
            right: 0.5em;
            top: 0.5em;
            width: 32px;
            height: 32px;
            opacity: 0.5;
        }

        .tree-modal-title {
            height: 2.5rem; // 40px
            color: #3F4B56;
            font-size: 1.25rem; // 20px
            font-weight: 700;
            box-sizing:border-box;
            border-bottom: solid 0.0625rem $tree-border-color;
            padding: 0.5rem 0 0 0.9375rem; // 8px 0 0 15px
        }
        .tree-modal-body {
            overflow: auto;
            height: auto;
            box-sizing:border-box;
            border-bottom: solid 0.0625rem $tree-border-color;

            .tree-container {
                font-family: $tree-font-family;
                margin: 24px;
                position: relative;
                .tree-title {
                    height: 42px;
                    font-size: 24px;
                    border-bottom: 1px solid $tree-border-color;
                }
                .tree-list {
                    margin-top: 10px;
                    height: 420px;
                    li.last {
                        background-color: $tree-background-color;
                    }
                    span.node {
                        font-size: $tree-font-size;
                        color: $tree-font-color;
                    }
                    span.node_selected {
                        border: 1px solid $tree-selected-border-color;
                        background-color: $tree-selected-background-color;
                    }
                }

                .tree-nodata {
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    color: $tree-font-color;
                    font-weight: 700;
                    font-size: 30px;
                }
            }
        }
        .tree-modal-buttons {
            //height: 2.5rem; // 40px
            height: 4.5rem;
            box-sizing:border-box;
            text-align:right;
            //padding-right: 1.25rem; // 20px
            padding: 16px;
            //padding: 0.4375rem; // 7px

            .tree-modal-button {
                padding: 0.6em 1em;
                margin: 0;
                color: #3F4B56;
                text-transform:uppercase;
                cursor:pointer;
                display: inline-block;
                border: solid 0.0625rem $tree-border-color;
                border-radius: 0.0625rem; // 1px
                &:first-child {
                    margin-right: 0.3125rem; // 5px
                }
            }
            .tree-modal-button-default { background-color:#ffffff; }
            .tree-modal-button-red { background-color:#e51c23; }
            .tree-modal-button-blue { background-color:#007aff; }
            .tree-modal-button-green { background-color:#00ca3c; }
            .tree-modal-button-gray { background-color:#969696; }
        }
    }
}
