//////////////////////////// Asset path ////////////////////////////
$icon-folder-path:                            '../media/icons/';
$image-folder-path:                           '../media/images/';
$tree-folder-path:                            '../../../media/icons/tree';

////////////////////////////// Layout //////////////////////////////
// DOM Elements
$element-font-size:                           1rem; // 16px
$element-font-color:                          $dark-gray;
$element-font-weight:                         $font-weight-regular;
$element-bg-color:                            $white;
$element-border-color:                        $line-gray;
$element-border-width:                        0.0625rem; // 1px
$element-border-radius:                       0.0625rem; // 1px

// Logo
$logo-width:                                  13.75rem; // 220px
$logo-height:                                 3.8125rem; // 60px

// Navigation
$nav-width:                                   13.75rem; // 220px
$nav-height:                                  9.375rem; // 150px
$nav-bg-color:                                $ground-black;

// Menu
$menu-width:                                  13.75rem; // 220px
$menu-height:                                 calc(100vh - #{$nav-height} - #{$logo-height}); // 메뉴 높이는 상단 로고와 하단 네비게이션 높이를 제외
$menu-bg-color:                               $ground-black;
$menu-bg-selected-color:                      $focus-black;
$menu-bg-hover:                               $focus-black;
$menu-color:                                  $blue-gray;
$menu-selected-color:                         $white;
$menu-hover:                                  $blue-gray;
$menu-font:                                   1rem; // 16px;

// Menu Icons
$icon-gnb-board:                              $icon-folder-path + "gnb/icon_gnb_board.svg";
$icon-gnb-dashboard:                          $icon-folder-path + "gnb/icon_gnb_dashboard.svg";
$icon-gnb-document:                           $icon-folder-path + "gnb/icon_gnb_document.svg";
$icon-gnb-download:                           $icon-folder-path + "gnb/icon_gnb_download.svg";
$icon-gnb-faq:                                $icon-folder-path + "gnb/icon_gnb_faq.svg";
$icon-gnb-notice:                             $icon-folder-path + "gnb/icon_gnb_notice.svg";
$icon-gnb-config:                             $icon-folder-path + "gnb/icon_gnb_config.svg";
$icon-gnb-workflow:                           $icon-folder-path + "gnb/icon_gnb_workflow.svg";
$icon-gnb-token:                              $icon-folder-path + "gnb/icon_gnb_token.svg";

$icon-arrow-left:                             $icon-folder-path + "icon_arrow_left.svg";
$icon-arrow-bottom:                           $icon-folder-path + "icon_arrow_bottom.svg";

// Profile
$profile-photo-size:                          2rem; // 16px
$profile-photo-background:                    #F0F0F0;

// Document color icon
$document-color-size:                         1rem; // 16px

// Notice pinned color
$notice-pinned-color:                         $light-blue;

///////////////////////////// Dropzone /////////////////////////////
$dropzone-folder-path:                        "../../../media/icons/dropzone/";

//////////////////////////// Thumbnail /////////////////////////////
$thumbnail-border:                            0.0625rem solid $line-gray;
$thumbnail-box-shadow:                        0 0 0.3125rem 0.0625rem $thumbnail-border-color; // 5px
$thumbnail-asset-path:                        "../../../media/icons/thumbnail";

// 업무흐름 아이콘 선택
$thumbnail-icon-modal-width:                  47.81rem; // 765px
$thumbnail-icon-modal-height:                 45rem; // 720px
$thumbnail-icon-container-padding:            1.375rem; // 22px

$thumbnail-size:                              10.31rem; // 165px
$thumbnail-icon-size:                         6.25rem; // 100px
$thumbnail-icon-box-shadow:                   0 0 0 0.0625rem $thumbnail-border-color;

///////////////////////////// Tooltip //////////////////////////////
$tooltip-contents-left:                       auto;
$tooltip-contents-width:                      22.5rem; // 360px

/////////////////////////// Notification ///////////////////////////
$notification-icon-width:                     100%;
$notification-icon-height:                    3.125rem; // 50px
$notification-icon-padding:                   0.6875rem 0 0.6875rem 1.3125rem; // 11px 0 11px 21px

$notification-container-color:                $light-black;
$notification-container-background:           $white;
$notification-container-border:               0.0625rem solid $line-gray; // 1px
$notification-container-box-shadow:           0 0 0.3125rem 0 $line-gray; // 5px

$notification-header-background:              $point-blue;
$notification-checkbox-size:                  1.125rem; // 18px
$notification-checkbox-border:                0.063rem; // 1px
$notification-checkbox-border-defualt:        $notification-checkbox-border solid $point-blue;
$notification-checkbox-border-checked:        $notification-checkbox-border solid $line-gray;

$toastify-height:                             6.25rem; // 100px
$toastify-background:                         $white !important;
$toastify-border-radius:                      0.0625rem; // 1px
$toastify-border:                             $toastify-border-radius solid $line-gray !important;
$toastify-box-shadow:                         0 0 0.3125rem 0 $line-gray !important;
$toastify-icon-size:                          6.25rem; // 100px


///////////////////////////// Tree ////////////////////////////////
$tree-modal-width:                            40rem; // 640px
$tree-modal-height:                           44.19rem; // 707px

//////////////////////////// IMPORT  //////////////////////////////
$import-modal-width:                          37.5rem; // 600px
$import-modal-height:                         37.5rem; // 600px

////////////////////// FORM EDIT / EXPORT /////////////////////////
$form-edit-modal-width:                       34.38rem; // 550px
$form-edit-modal-height:                      22.5rem; // 360px

////////////////////// 업무 흐름 등록 / 수정 모달 /////////////////////////
$document-edit-modal-width:                   40rem; // 640px
$document-edit-modal-height:                  50.63rem; // 810px

/////////////////////////// contents //////////////////////////////
$token-list-background-color:                 $white;
$token-list-topic-color:                      $dark-gray;
$token-list-tag-color:                        rgba(0, 152, 255, 0.1 );
$token-list-border:                           0.0625rem solid $line-gray;

$token-dashbaord-background-color:            $white;
$token-dashbaord-header-color:                $light-gray;
$token-dashbaord-border:                      0.0625rem solid $line-gray;

$document-header-background-color:            $light-gray;
$document-header-radius:                      0.0625rem;
$document-header-border:                      $document-header-radius solid $line-gray;

$document-card-radius:                        0.0625rem;
$document-card-box-border:                    $document-card-radius solid $line-gray;
$document-card-box-shadow:                    0 0 0.9375rem rgba(204, 206, 209, 0.15);
$document-card-border:                        $document-card-radius solid $white;
$document-card-hover-border:                  $document-card-radius solid $line-gray;

//////////////////////////// common //////////////////////////////
$vertical-bar-width:                          1.25rem; // 20px
$vertical-bar-height:                         1.25rem; // 20px
$vertical-bar-margin:                         0.0625rem 0.9375rem 0.0625rem 0; // 1px 5px 1px 0
