/* 알림 임시 css */
.notification-menu {
    margin-right: 10px;
    height: 50px;
    position: relative;
    display: inline-block;
    .count {
        position: absolute;
        top: -7px;
        left: 14px;
        padding: 1px 4px;
        border-radius: 50%;
        color: white;
        font-size: 12px;
        display: none;
        cursor: pointer;
    }
    img, button {
        width: 24px;
        height: 24px;
        margin: 0;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
    .notification-container {
        position: absolute;
        border: 1px solid #dce1e8;
        background-color: #ffffff;
        width: 350px;
        right: -1px;
        top: 46px;
        color: black;
        display: none;
        font-weight: normal;
        font-size: 12px;
        .notification-header {
            height: 32px;
            line-height: 30px;
            color: #ffffff;
            background-color: #0050ff;
            display: flex;
            align-items: baseline;
            padding-left: 18px;
            padding-right: 10px;
            span {
                font-size: 12px;
                display: inline-block;
            }
            span.title {
                width: 34px;
                font-size: 14px;
                line-height: 32px;
            }
            span.count {
                width: 34px;
            }
            span.message {
                width: 250px;
                padding-left: 4px;
            }
            span.close {
                width: 34px;
                text-align: center;
            }
        }
        .notification-body {
            overflow: auto;
            max-height: 234px;
            button {
                float: right;
                &.remove {
                    background-image: url('../icons/delete.png');
                    background-repeat: no-repeat;
                }
            }
            span.title:hover {
                text-decoration: underline;
                cursor: pointer;
            }
            .notification {
                height: 55px;
                border-bottom: 1px solid black;
                padding: 11px;
                &:last-child {
                    border-bottom: none;
                }
                &[is-confirm=false] {
                    //background-color: #b3d7ff3b;
                }
                &.nodata {
                    height: 55px;
                    padding-left: 18px;
                    border: none;
                }
            }
            
        }
    }
    &:hover .notification-container {
        display: block;
    }
}

.alice-toastify {
    width: 410px;
    height: 71px;
    padding: 11px !important;
    .toast-close {
        position: absolute;
        top: 9px;
        right: 11px;
    }
}

.notification-content {
    label {
        display: flex;
        float: left;
        background-color: #ffffff;
        input[type="checkbox"] {
            -webkit-appearance: none;
            border: 1.5px solid #0242eb;
            padding: 6px;
            border-radius: 3px;
            display: inline-block;
            position: relative;
            cursor: pointer;
            &:checked {
                background-color: #e9ecee;
                border: 1px solid #adb8c0;
                color: #99a1a7;
                cursor: unset;
            }
            &:checked::after {
                content: '\2714';
                font-size: 12px;
                position: absolute;
                top: -1px;
                left: 1px;
                color: #99a1a7;
            }
        }
    }
    span {
        &.title {
            font-size: 14px;
            font-weight: bold;
            line-height: 14px;
            max-width: 190px;
            height: 20px;
            padding-left: 11px;
        }
        &.message {
            font-size: 12px;
            max-width: 390px;
            line-height: 12px;
            height: 20px;
            padding-left: 23px;
        }
        &.date {
            font-size: 12px;
            vertical-align: top;
            line-height: 16px;
            height: 18px;
            padding-left: 23px;
        }
    }
}
.notification-content.confirm {
    color: #5c6776;
    opacity: 0.6;
}
.notification-content:hover {
    background-color: #eaf1f7;
}

.text-ellipsis {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}