/* 알림 임시 css */
.notification-menu {
    margin-right: 10px;
    height: 32px;
    position: relative;
    display: inline-block;
    .count {
        position: absolute;
        top: -7px;
        left: 14px;
        padding: 1px 4px;
        border-radius: 50%;
        background: red;
        color: white;
        font-size: 12px;
        display: none;
        cursor: pointer;
    }
    img, button {
        width: 24px;
        height: 24px;
        margin: 0;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
    .notification-container {
        position: absolute;
        border: 1px solid black;
        background-color: #ffffff;
        width: 350px;
        right: -1px;
        top: 54px;
        color: black;
        //display: none;
        font-weight: normal;
        font-size: 12px;
        .notification-header {
            height: 32px;
            line-height: 30px;
            color: #ffffff;
            background-color: #0050ff;
            display: flex;
            align-items: baseline;
            padding-left: 18px;
            padding-right: 10px;
            span {
                font-size: 12px;
                display: inline-block;
            }
            span.title {
                width: 34px;
                font-size: 14px;
                //font-weight: bold;
                line-height: 32px;
            }
            span.count {
                width: 34px;
            }
            span.message {
                width: 250px;
                padding-left: 4px;
            }
            span.delete {
                width: 34px;
                text-align: center;
            }
        }
        .notification-body {
            overflow: auto;
            max-height: 234px;
            button {
                float: right;
                &.check {
                    background-image: url('/assets/media/icons/icon_check.png');
                }
                &.remove {
                    background-image: url('/assets/media/icons/icon_remove.png');
                }
            }
            span.title:hover {
                text-decoration: underline;
                cursor: pointer;
            }
            .notification {
                height: 55px;
                border-bottom: 1px solid black;
                padding: 11px;
                &:last-child {
                    border-bottom: none;
                }
                &[is-confirm=false] {
                    //background-color: #b3d7ff3b;
                }
                .nodata {
                    height: 55;
                }
            }
        }
    }
    &:hover .notification-container {
        display: block;
    }
}

.alice-toastify {
    width: 410px;
    height: 71px;
    padding: 11px !important;
    .toast-close {
        position: absolute;
        top: 9px;
        right: 11px;
    }
}

.notification-content {
    span {
        &.date {
            font-size: 12px;
            margin-left: 5px;
            vertical-align: top;
            line-height: 24px;
            height: 18px;
        }
        &.title {
            font-size: 14px;
            font-weight: bold;
            line-height: 14px;
            max-width: 190px;
            height: 20px;
        }
        &.message {
            font-size: 12px;
            max-width: 390px;
            line-height: 14px;
            height: 20px;
        }
    }
}
.notification-content:hover {
    background-color: #eaf1f7;
}

.text-ellipsis {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}