<!DOCTYPE html>
<html layout:decorate="~{layout/itsm/pageType/commonEditLayout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${schedule != null} ? #{scheduler.label.edit} : #{scheduler.label.register}"></title>
</head>
<body>
<div layout:fragment="pageTitle">
    <h1 th:text="#{scheduler.label.schedule}"></h1>
    <h6 class="description ml-2 pl-2" th:text="#{scheduler.msg.scheduleDescription}"></h6>
</div>
<div layout:fragment="pageEdit">
    <div class="z-edit-form flex-fill">
        <div class="flex-column z-edit-row">
            <label for="taskName">
                <span th:classappend="${view} ? '' : 'required'" th:text="#{scheduler.label.name}"></span>
            </label>
            <input class="z-input text-ellipsis" id="taskName" maxlength="100" required="required" th:readonly="${view}"
                   th:value="${schedule?.taskName}" type="text"/>
        </div>
        <div class="flex-column z-edit-row">
            <label for="taskDesc">
                <span th:text="#{scheduler.label.description}"></span>
            </label>
            <textarea class="z-textarea textarea-scroll-wrapper" id="taskDesc" maxlength="250" name="taskDesc"
                      rows="5" th:readonly="${view}" th:classappend="${view} ? 'z-textarea-readonly'" th:text="${schedule?.taskDesc}"></textarea>
        </div>
        <div class="flex-column z-edit-row">
            <label for="taskStatus">
                <span th:classappend="${view} ? '' : 'required'" th:text="#{scheduler.label.status}"></span>
            </label>
            <select id="taskStatus" required="required" th:classappend="${view} ? 'readonly' : ''">
                <option th:selected="true == ${schedule?.useYn}" th:text="#{scheduler.status.true}"
                        value="true"></option>
                <option th:selected="false == ${schedule?.useYn}" th:text="#{scheduler.status.false}"
                        value="false"></option>
            </select>
        </div>
        <div class="flex-column z-edit-row">
            <label for="taskType">
                <span th:classappend="${view} ? '' : 'required'" th:text="#{scheduler.label.taskType}"></span>
            </label>
            <select id="taskType" onchange="changeContainer(this.value)" required="required" th:classappend="${view} ? 'readonly' : ''">
                <option th:each="taskType: ${taskTypeList}" th:selected="${taskType.codeValue} == ${schedule?.taskType}"
                        th:text="${taskType.codeName}"
                        th:value="${taskType.codeValue}">
                </option>
            </select>
        </div>
        <div id="details"></div>
        <!-- 타입: class -->
        <div id="type-class-container"
             th:style="${schedule?.taskType == null || schedule?.taskType == 'class' ? '' : 'display: none'}">
            <div class="flex-column z-edit-row">
                <label>
                    <span th:classappend="${view} ? '' : 'required'" th:text="#{scheduler.label.class}"></span>
                </label>
                <input class="z-input text-ellipsis" id="executeClass" maxlength="100" required="required" th:readonly="${view}"
                       th:value="${schedule?.executeClass}" type="text"/>
            </div>
            <div class="flex-column z-edit-row">
                <label>
                    <span th:text="#{scheduler.label.args}"></span>
                </label>
                <input class="z-input text-ellipsis" id="args" maxlength="100" th:readonly="${view}" th:value="${schedule?.args}" type="text" />
            </div>
        </div>
        <!-- 타입: jar -->
        <div id="type-jar-container" th:style="${schedule?.taskType == 'jar' ? '' : 'display: none'}">
            <div class="flex-column z-edit-row">
                <label>
                    <span th:classappend="${view} ? '' : 'required'" th:text="#{scheduler.label.src}"></span>
                </label>
                <input class="z-input text-ellipsis" id="src" maxlength="250" required="required" th:readonly="${view}"
                       th:value="${schedule?.src}" type="text"/>
            </div>
            <div class="flex-column z-edit-row">
                <label>
                    <span th:classappend="${view} ? '' : 'required'" th:text="#{scheduler.label.command}"></span>
                </label>
                <input class="z-input text-ellipsis" id="executeCommand" maxlength="500" required="required" th:readonly="${view}"
                       th:value="${schedule?.executeCommand}" type="text"/>
            </div>
        </div>
        <!-- 타입: query -->
        <div id="type-query-container" th:style="${schedule?.taskType == 'query' ? '' : 'display: none'}">
            <div class="flex-column z-edit-row">
                <label for="executeQuery">
                    <span th:classappend="${view} ? '' : 'required'" th:text="#{scheduler.label.query}"></span>
                </label>
                <textarea class="z-textarea textarea-scroll-wrapper" id="executeQuery" maxlength="500" name="executeQuery" required="required"
                          rows="10" th:readonly="${view}" th:text="${schedule?.executeQuery}"></textarea>
            </div>
        </div>
        <div class="flex-column z-edit-row">
            <label for="executeCycleType">
                <span th:classappend="${view} ? '' : 'required'" th:text="#{scheduler.label.executeCycleType}"></span>
                <div class="z-help-tooltip">
                    <span class="z-icon i-tooltip"></span>
                    <div class="z-tooltip-contents right" id="tooltipContent">
                        <span id="fixedDelayTooltip" th:utext="#{scheduler.tooltip.fixedDelay}"></span>
                        <span id="fixedRateTooltip" th:utext="#{scheduler.tooltip.fixedRate}"></span>
                        <span id="cronTooltip" th:utext="#{scheduler.tooltip.cron}"></span>
                    </div>
                </div>
            </label>
            <select id="executeCycleType" onchange="changeContainer(this.value)" required="required" th:classappend="${view} ? 'readonly' : ''">
                <option th:each="executeCycleType: ${executeCycleTypeList}" th:selected="${executeCycleType.codeValue} == ${schedule?.executeCycleType}"
                        th:text="${executeCycleType.codeName}"
                        th:value="${executeCycleType.codeValue}">
                </option>
            </select>
        </div>
        <!-- executeCycleType: fixed_delay, fixed_rate -->
        <div class="flex-column z-edit-row" id="executeCycleType-cron-container"
             th:style="${schedule?.executeCycleType == 'cron' ? '' : 'display: none'}">
            <label for="cronExpression">
                <span th:classappend="${view} ? '' : 'required'" th:text="#{scheduler.label.cronExpression}"></span>
            </label>
            <input class="z-input text-ellipsis" id="cronExpression" maxlength="100" required="required" th:readonly="${view}"
                   th:value="${schedule?.cronExpression}" type="text"/>
        </div>
        <div class="flex-column z-edit-row" id="executeCycleType-fixed-container"
             th:style="${schedule?.executeCycleType != 'cron' ? '' : 'display: none'}">
            <label for="executeCyclePeriod">
                <span th:classappend="${view} ? '' : 'required'" th:text="#{scheduler.label.executeCyclePeriod}"></span>
            </label>
            <input class="z-input text-ellipsis" id="executeCyclePeriod" maxlength="10" required="required" th:onkeydown="${view} ? '' : 'return onlyNumber(event)'"
                   th:onkeyup="${view} ? '' : 'aliceJs.removeChar(event)'" th:readonly="${view}"
                   th:value="${schedule?.executeCyclePeriod}" type="text"/>
        </div>
        <div class="flex-row justify-content-between z-edit-row">
            <div class="z-button-list">
                <a class="z-button secondary" href="/schedulers/search" th:text="#{common.btn.list}"></a>
            </div>
            <div class="z-button-list">
                <button class="z-button primary" onclick="actionScheduler('post')"
                        sec:authorize="hasAuthority('scheduler.create')"
                        th:if="${schedule == null}" th:text="#{common.btn.register}"></button>
                <button class="z-button primary" onclick="actionScheduler('put')"
                        sec:authorize="hasAuthority('scheduler.update')"
                        th:disabled="${!schedule.editable}" th:if="${schedule != null}"
                        th:text="#{common.btn.modify}">
                </button>
                <button class="z-button secondary" onclick="actionScheduler('delete')"
                        sec:authorize="hasAuthority('scheduler.delete')"
                        th:disabled="${!schedule.editable}" th:if="${schedule != null}"
                        th:text="#{common.btn.delete}">
                </button>
                <button class="z-button secondary" onclick="actionScheduler('execute')"
                        sec:authorize="hasAuthority('scheduler.execute')"
                        th:if="${schedule != null}" th:text="#{scheduler.btn.immediatelyExecute}"></button>
                <button class="z-button secondary" onclick="openHistoryViewModal()"
                        sec:authorize="hasAuthority('scheduler.read')"
                        th:if="${schedule != null}" th:text="#{scheduler.btn.history}"></button>
            </div>
        </div>
    </div>
</div>
</body>
<script layout:fragment="pageScript" th:inline="javascript" type="text/javascript">
    /*<![CDATA[*/
    const STATUS_SUCCESS = '0';
    const STATUS_ERROR_SCHEDULE_USED = '1';
    const STATUS_ERROR_SCHEDULE_NAME_DUPLICATION = '2';
    const STATUS_ERROR_SCHEDULER_EXECUTE = '3';
    const STATUS_ERROR_SCHEDULER_JAR_NOT_EXIST = '4';
    const STATUS_ERROR_SCHEDULER_CLASS_NOT_EXIST = '5';

    window.onload = function () {
        changeContainer(document.getElementById('taskType').value);
        changeContainer(document.getElementById('executeCycleType').value);
        OverlayScrollbars(document.getElementById('#type-query-container'), {
            className: 'scrollbar',
            resize: 'vertical',
            sizeAutoCapable: true,
            textarea: {
                dynHeight: false,
                dynWidth: false,
                inheritedAttrs: "class"
            }
        });
        OverlayScrollbars(document.querySelectorAll('#taskDesc'), {
            className: 'scrollbar',
            resize: 'vertical',
            sizeAutoCapable: true,
            textarea: {
                dynHeight: false,
                dynWidth: false,
                inheritedAttrs: "class"
            }
        });

        OverlayScrollbars(document.querySelector('.z-page-content'), {className: 'scrollbar'});
        if ([[${!view}]]) document.getElementById('taskName').focus();
    };

    /** 작업 유형, 실행 유형에 따른 입력 화면 출력 **/
    function changeContainer(type) {
        let tooltipElems = document.getElementById('tooltipContent').childNodes;
        for (let i = 1; i < tooltipElems.length; i += 2) {
            tooltipElems[i].style.display = 'none';
        }
        if (type === 'class') {
            document.getElementById('type-query-container').style.display = 'none';
            document.getElementById('type-jar-container').style.display = 'none';
            document.getElementById('type-class-container').style.display = '';
        } else if (type === 'query') {
            document.getElementById('type-class-container').style.display = 'none';
            document.getElementById('type-jar-container').style.display = 'none';
            document.getElementById('type-query-container').style.display = '';
        } else if (type === 'jar') {
            document.getElementById('type-class-container').style.display = 'none';
            document.getElementById('type-query-container').style.display = 'none';
            document.getElementById('type-jar-container').style.display = '';
        } else if (type === 'cron') {
            document.getElementById('executeCycleType-cron-container').style.display = '';
            document.getElementById('executeCycleType-fixed-container').style.display = 'none';
            document.getElementById('cronTooltip').style.display = '';
        } else if (type === 'fixedDelay' || type === 'fixedRate') {
            document.getElementById('executeCycleType-fixed-container').style.display = '';
            document.getElementById('executeCycleType-cron-container').style.display = 'none';
            if (type === 'fixedDelay') {
                document.getElementById('fixedDelayTooltip').style.display = '';
            } else {
                document.getElementById('fixedRateTooltip').style.display = '';
            }
        }
    }

    /** 이력 모달 **/
    function openHistoryViewModal() {
        let historyOptions = {
            title: i18n.msg('scheduler.label.history'),
            classes: 'scheduler-list-modal',
            body: `<div class="table-set" id="historyList"></div>`,
            buttons: [{
                content: i18n.msg('common.btn.close'),
                classes: 'z-button secondary',
                bindKey: false,
                callback: function (modal) {
                    modal.hide();
                }
            }],
            close: {
                closable: false
            },
            onCreate: function (modal) {
                const taskId = /*[[${schedule?.taskId}]]*/''
                restModalSubmit('/schedulers/' + taskId + '/history', 'GET', {}, false, function (content) {
                    document.getElementById('historyList').innerHTML = content;
                    let executeTimeEle = document.querySelectorAll('td[name=executeTime]');
                    for (let i = 0; i < executeTimeEle.length; i++) {
                        const excuteTime = i18n.userDateTime(executeTimeEle[i].textContent);
                        executeTimeEle[i].textContent = excuteTime;
                        executeTimeEle[i].setAttribute('title', excuteTime);
                    }
                    OverlayScrollbars(document.querySelector('.z-table-body'), {className: 'scrollbar'});
                });
            }
        };
        const historyViewModal = new modal(historyOptions);
        historyViewModal.show();
    }

    function restModalSubmit(url, method, data, progressbar, callbackFunc) {
        aliceJs.sendXhr({
            method: method,
            url: url,
            params: JSON.stringify(data),
            callbackFunc: function (xhr) {
                if (typeof callbackFunc === 'function') {
                    callbackFunc(xhr.responseText);
                }
            },
            contentType: 'application/json; charset=utf-8',
            showProgressbar: progressbar
        });
    }

    /** method 에 따른 데이터 셋팅 **/
    function actionScheduler(method) {
        if (method === 'post' || method === 'put' || method === 'execute') {
            const taskType = document.getElementById('taskType').value;
            const executeCycleType = document.getElementById('executeCycleType').value;
            if (isValidRequired()) {
                let data = {
                    taskName: document.getElementById('taskName').value,
                    taskType: taskType,
                    taskDesc: document.getElementById('taskDesc').value,
                    useYn: document.getElementById('taskStatus').value,
                    executeCycleType: document.getElementById('executeCycleType').value
                };
                if (taskType === 'class') {
                    data.executeClass = document.getElementById('executeClass').value;
                    data.args = document.getElementById('args').value;
                } else if (taskType === 'jar') {
                    data.executeCommand = document.getElementById('executeCommand').value;
                    data.src = document.getElementById('src').value;
                } else {
                    data.executeQuery = document.getElementById('executeQuery').value;
                }
                if (executeCycleType === 'cron') {
                    data.cronExpression = document.getElementById('cronExpression').value;
                } else {
                    data.executeCyclePeriod = document.getElementById('executeCyclePeriod').value;
                }
                let url = '/rest/schedulers';
                if (method === 'put' || method === 'execute') {
                    url += '/' + /*[[${schedule?.taskId}]]*/'';
                    data.taskId = /*[[${schedule?.taskId}]]*/'';
                }
                if (method === 'execute') {
                    url += '/execute';
                }
                restSubmit(method, url, data);
            }
        } else if (method === 'delete') {
            zAlert.confirm(i18n.msg('common.msg.confirmDelete'), () => {
                aliceJs.fetchText('/rest/schedulers/' + /*[[${schedule?.taskId}]]*/'', {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                }).then((rtn) => {
                    switch (rtn) {
                        case STATUS_SUCCESS:
                            zAlert.success(i18n.msg('common.msg.delete'), function () {
                                location.href = '/schedulers/search';
                            });
                            break;
                        case STATUS_ERROR_SCHEDULE_USED:
                            zAlert.warning(i18n.msg('scheduler.msg.useSchedule'));
                            break;
                        default:
                            zAlert.danger(i18n.msg('common.msg.fail'));
                            break;
                    }
                });
            });
        }
    }

    /** 조건에 따른 필수값 체크 **/
    function isValidRequired() {
        if (isEmpty('taskName', 'common.msg.requiredEnter')) {
            return false;
        }
        if (isEmpty('taskStatus', 'common.msg.requiredEnter')) {
            return false;
        }
        if (isEmpty('taskType', 'common.msg.requiredEnter')) {
            return false;
        }
        const taskType = document.getElementById('taskType').value;
        if (taskType === 'class') {
            if (isEmpty('executeClass', 'common.msg.requiredEnter')) {
                return false;
            }
        } else if (taskType === 'jar') {
            if (isEmpty('src', 'common.msg.requiredEnter') || isEmpty('executeCommand', 'common.msg.requiredEnter')) {
                return false;
            }
        } else { // query
            if (isEmpty('executeQuery', 'common.msg.requiredEnter')) {
                return false;
            }
        }
        const executeCycleType = document.getElementById('executeCycleType').value;
        if (executeCycleType === 'cron') {
            if (isEmpty('cronExpression', 'common.msg.requiredEnter')) {
                return false;
            }
            if (cronSplit()) {
                return false;
            }
        } else { // fixedDelay, fixedRate
            if (isEmpty('executeCyclePeriod', 'common.msg.requiredEnter')) {
                return false;
            }
            if (isExistMinValue('executeCyclePeriod', 60000, 'common.msg.minValue')) {
                return false;
            }
        }
        return true;
    }

    /** 크론 표현식 검사 **/
    function cronSplit() {
        let elem = document.getElementById('cronExpression');
        let regex = new RegExp(/^(\*|([1-5]?[0-9])) (\*|([1-5]?[0-9])|([1-5]?[0-9]\/[1-5]?[0-9])) (\*|(1?[0-9]|2[0-3])) (\?|\*|([12]?[0-9]|3[0-1])) (\*|([1-9]|1[0-2])|(jan)|(feb)|(mar)|(apr)|(may)|(jun)|(jul)|(aug)|(sep)|(oct)|(nov)|(dec)) (\?|\*|([0-6])|(sun)|(mon)|(tue)|(wed)|(thu)|(fri)|(sat))$/i);
        //공백 제거 및 배열로 저장
        let cronValue = elem.value.replace(/ +/g, " ").trim().split(' ');

        if (cronValue.length > 6) {
            zAlert.warning(i18n.msg('scheduler.msg.cronValue'), function () {
                elem.focus();
            });
            return true;
        } else {
            for (let i = cronValue.length; i < 6; i++) {
                cronValue.push('*');
            }
            elem.value = cronValue.join(' ');
        }

        if (!regex.test(elem.value)) {
            zAlert.warning(i18n.msg('scheduler.msg.cronError'), function () {
                elem.focus();
            });
            return true;
        }

        return false;
    }

    /** Rest API 호출 **/
    function restSubmit(method, url, data) {
        const opt = {
            method: method === "execute" ? "post" : method,
            url: url,
            params: JSON.stringify(data),
            contentType: 'application/json',
            callbackFunc: function (response) {
                if (method === 'post' || method === 'put') {
                    switch (response.responseText) {
                        case STATUS_SUCCESS:
                            zAlert.success(i18n.msg('common.msg.save'), function () {
                                location.href = '/schedulers/search';
                            });
                            break;
                        case STATUS_ERROR_SCHEDULE_USED:
                            zAlert.warning(i18n.msg('scheduler.msg.useSchedule'));
                            break;
                        case STATUS_ERROR_SCHEDULE_NAME_DUPLICATION:
                            zAlert.warning(i18n.msg('scheduler.msg.duplicateTaskName'));
                            break;
                        case STATUS_ERROR_SCHEDULER_JAR_NOT_EXIST:
                            zAlert.warning(i18n.msg('scheduler.msg.jarNotExist'));
                            break;
                        case STATUS_ERROR_SCHEDULER_CLASS_NOT_EXIST:
                            zAlert.warning(i18n.msg('scheduler.msg.classNotExist'));
                            break;
                        default :
                            zAlert.danger(i18n.msg('common.msg.fail'));
                            break;
                    }
                } else if (method === 'execute') {
                    switch (response.responseText) {
                        case STATUS_SUCCESS:
                            zAlert.success(i18n.msg('common.msg.success'));
                            break;
                        case STATUS_ERROR_SCHEDULER_EXECUTE:
                            zAlert.warning(i18n.msg('common.msg.fail'));
                            break;
                        case STATUS_ERROR_SCHEDULER_JAR_NOT_EXIST:
                            zAlert.warning(i18n.msg('scheduler.msg.jarNotExist'));
                            break;
                        case STATUS_ERROR_SCHEDULER_CLASS_NOT_EXIST:
                            zAlert.warning(i18n.msg('scheduler.msg.classNotExist'));
                            break;
                        default:
                            zAlert.danger(i18n.msg('common.msg.fail'));
                            break;
                    }
                }
            }
        };
        aliceJs.sendXhr(opt);
    }

    /*]]>*/
</script>
</html>
