<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/itsm/pageType/pagingListLayout}">
<head>
    <title th:text="#{scheduler.label.scheduler}"></title>
</head>
<body>
<div layout:fragment="pageTitle">
    <h1 th:text="#{scheduler.label.scheduler}"></h1>
    <h6 class="description ml-2" th:text="#{scheduler.msg.searchDescription}"></h6>
</div>
<div layout:fragment="pageSearching">
    <input type="hidden" sec:authorize="hasAuthority('scheduler.create') || hasAuthority('scheduler.update')"
           th:name="isRole" th:value="true"/>
    <input type="hidden" sec:authorize="!hasAuthority('scheduler.create') && !hasAuthority('scheduler.update')"
           th:name="isRole" th:value="false"/>
    <form id="searchFrm">
        <input type="text" id="searchValue" name="searchValue" class="z-input i-search col-5 mr-2" maxlength="100"
               th:placeholder="#{scheduler.label.searchPlaceholder}"/>
        <th:block th:replace="layout/itsm/fragment/totalCountFragment :: totalCountFragment"></th:block>
    </form>
    <div class="ml-auto">
        <button type="button" class="z-button secondary" onclick="openSchedulerAdd()"
                sec:authorize="hasAuthority('scheduler.create')" th:text="#{common.btn.add}"></button>
    </div>
</div>
<div layout:fragment="pageList">
    <div class="list-content" id="schedulerList"></div>
</div>
</body>
<script layout:fragment="pageScript" th:inline="javascript">
    /*<![CDATA[*/
    window.onload = function() {
        document.getElementById('searchValue').focus();
        document.getElementById('searchValue').addEventListener('keyup', function() { getList(); });
        getList();
    };

    function getList(pageNum = 1) {
        restSubmit('get', '/schedulers?' + aliceJs.serialize(document.getElementById('searchFrm')) + '&pageNum=' + pageNum);
    }

    function openSchedulerAdd() {
        location.href = '/schedulers/new';
    }

    // REST API
    function restSubmit(method, url) {
        const opt = {
            method: method,
            url: url,
            async: false,
            callbackFunc: function(response) {
                document.getElementById('schedulerList').innerHTML = response.responseText;
                setDateTimeFormat(document.getElementById('schedulerList'));
                OverlayScrollbars(document.querySelector('.list-body'), {
                    className: 'scrollbar'
                });
            },
            showProgressbar: false
        };
        aliceJs.sendXhr(opt);
    }

    /**
     * 서버에서 전달받은 데이터의 날짜 포맷을 변경한다.
     */
    function setDateTimeFormat(elem) {
        elem.querySelectorAll('.date-time').forEach(dt => {
            dt.textContent = i18n.userDateTime(dt.textContent.trim());
        });
    }
    /*]]>*/
</script>
</html>
