<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<div class="grid" style="--data-columns-width: 15% 15% 8% 8% 8% 15% 31%;">
    <div class="grid__head">
        <div class="grid__row">
            <div class="grid__cell pr-2 pl-2" data-grid-sortable="true" data-grid-column="metricGroup">
                <span class="text-ellipsis" th:text="#{sla.metric.label.group}"></span>
            </div>
            <div class="grid__cell pr-2 pl-2" data-grid-sortable="true" data-grid-column="metricName">
                <span class="text-ellipsis" th:text="#{sla.metric.label.name}"></span>
            </div>
            <div class="grid__cell pr-2 pl-2" data-grid-sortable="true" data-grid-column="metricYearMin">
                <span class="text-ellipsis" th:text="#{sla.metricYear.label.minValue}"></span>
            </div>
            <div class="grid__cell pr-2 pl-2" data-grid-sortable="true" data-grid-column="metricYearMax">
                <span class="text-ellipsis" th:text="#{sla.metricYear.label.maxValue}"></span>
            </div>
            <div class="grid__cell pr-2 pl-2" data-grid-sortable="true" data-grid-column="metricYearWeight">
                <span class="text-ellipsis" th:text="#{sla.metricYear.label.weightValue}"></span>
            </div>
            <div class="grid__cell pr-2 pl-2" data-grid-sortable="true" data-grid-column="metricYearOwner">
                <span class="text-ellipsis" th:text="#{sla.metricYear.label.owner}"></span>
            </div>
            <div class="grid__cell pr-2 pl-2" data-grid-sortable="true" data-grid-column="metricYearComment">
                <span class="text-ellipsis" th:text="#{sla.metricYear.label.comment}"></span>
            </div>
        </div>
    </div>
    <div class="grid__body">
        <div class="grid__row grid--noData read-only" th:if="${#arrays.isEmpty(metricYearsList)}">
            <div class="grid__cell"><span th:text="#{common.msg.noData}"></span></div>
        </div>
        <div class="grid__row" th:unless="${#arrays.isEmpty(metricYearsList)}" th:each="metric: ${metricYearsList}">
            <div class="grid__cell pr-2 pl-2">
                <span class="text-ellipsis" th:text="${metric.metricGroupName}" th:title="${metric.metricGroupName}"></span>
            </div>
            <div class="grid__cell pr-2 pl-2 underline">
                <a sec:authorize="hasAuthority('sla.manage')" th:text="${metric.metricName}"
                   th:href="@{/sla/metric-pools/{id}/edit(id=${metric.metricId})}" th:title="${metric.metricName}"></a>
                <a sec:authorize="!hasAuthority('sla.manage')" th:text="${metric.metricName}"
                   th:href="@{/sla/metric-pools/{id}/view(id=${metric.metricId})}" th:title="${metric.metricName}">
                </a>
            </div>
            <div class="grid__cell pr-2 pl-2">
                <span class="text-ellipsis" th:text="${metric.minValue}" th:title="${metric.minValue}"></span>
            </div>
            <div class="grid__cell pr-2 pl-2">
                <span class="text-ellipsis" th:text="${metric.maxValue}" th:title="${metric.maxValue}"></span>
            </div>
            <div class="grid__cell pr-2 pl-2">
                <span class="text-ellipsis" th:text="${metric.weightValue}" th:title="${metric.weightValue}"></span>
            </div>
            <div class="grid__cell pr-2 pl-2">
                <span class="text-ellipsis" th:text="${metric.owner}" th:title="${metric.owner}"></span>
            </div>
            <div class="grid__cell pl-2">
                <span class="text-ellipsis" th:text="${metric.comment}" th:title="${metric.comment}"></span>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="layout/itsm/fragment/totalCountFragment :: totalCountDataFragment"></th:block>
</body>
</html>
