<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="list-wrap">
    <table>
        <colgroup>
            <col style="width:250px">
            <col style="width:100px">
            <col style="width:100px">
            <col style="width:150px">
            <col style="width:300px">
            <col style="width:150px">
            <col style="width:150px">
        </colgroup>
        <thead>
            <tr>
                <th th:text="#{form.label.name}"></th>
                <th th:text="#{form.label.preview}"></th>
                <th th:text="#{common.label.update}"></th>
                <th th:text="#{form.label.state}"></th>
                <th th:text="#{form.label.description}"></th>
                <th th:text="#{common.label.writer}"></th>
                <th th:text="#{common.label.writeDate}"></th>
            </tr>
        </thead>
        <tbody>
            <tr class="align-left" th:if="${#arrays.isEmpty(formList)}">
                <td colspan="7" th:text="#{common.msg.noData}"></td>
            </tr>
            <tr th:each="form, i: ${formList}" th:if="${i.count} < 11">
                <td th:class="align-left">
                    <a th:attr="onclick=|openFormDesignerView('${form.id}')|" th:text="${form.name}"></a>
                </td>
                <td>
                    <a th:attr="onclick=|openFormDesignerView('${form.id}')|">
                        <img src="../assets/media/icons/process/list/icon_preview.png"></a>
                </td>
                <td>
                    <a sec:authorize="hasAuthority('form.update')" th:disabled="${!form.editable}"
                       th:attr="onclick=|openFormDesignerEdit('${form.id}')|">
                       <img src="../assets/media/icons/process/list/icon_edit.png"></a>
                </td>
                <td th:text="#{${form.status}}"></td>
                <td th:class="align-left" th:text="${form.desc}"></td>
                <td th:text="${form.createUserName}"></td>
                <td th:name="createDt" th:text="${form.createDt}"></td>
                <!--<td>
                    <button sec:authorize="hasAnyAuthority('form.create', 'form.update')"
                            th:text="#{form.btn.export}" th:disabled="${!form.editable}"
                            th:attr="onclick=|workflowUtil.export('${form.id}', 'form')|"></button>
                </td>
                <td>
                    <button sec:authorize="hasAuthority('form.update')"
                            th:text="#{common.btn.modify}" th:disabled="${!form.editable}"
                            th:attr="onclick=|openFormDesignerEdit('${form.id}')|"></button>
                </td>
                <td>
                    <button sec:authorize="hasAuthority('form.delete')"
                            th:text="#{common.btn.delete}" th:disabled="${!form.editable}"
                            th:attr="onclick=|deleteForm('${form.id}')|"></button>
                </td>-->
            </tr>
        </tbody>
    </table>
</div>
<!--    <div>
        <table class="table-hover">
            <colgroup>
                <col width="16%">
                <col width="28%">
                <col width="10%">
                <col width="15%">
                <col width="7%">
                <col width="7%">
                <col width="7%">
                <col width="5%">
                <col width="5%">
            </colgroup>
            <tbody>
                <tr th:if="${#arrays.isEmpty(formList)}">
                    <td colspan="7" th:text="#{common.msg.noData}"></td>
                </tr>
                <tr th:unless="${#arrays.isEmpty(formList)}" th:each="form: ${formList}">
                    <td>
                        <a href="javascript:void(0);" th:text="${form.name}"
                           th:attr="onclick=|openFormDesignerView('${form.id}')|"></a>
                    </td>
                    <td th:text="${form.desc}"></td>
                    <td th:text="${form.createUserName}"></td>
                    <td th:if="${form.updateDt == null && form.updateUserKey == null}" th:name="formDt"
                        th:text="${form.createDt}"></td>
                    <td th:if="${form.updateDt == null && form.updateUserKey == null}" th:text="${form.createUserName}"></td>
                    <td th:unless="${form.updateDt == null && form.updateUserKey == null}" th:name="formDt"
                        th:text="${form.updateDt}"></td>
                    <td th:unless="${form.updateDt == null && form.updateUserKey == null}" th:text="${form.updateUserName}"></td>
                    <td th:text="#{${form.status}}"></td>
                    <td>
                        <button sec:authorize="hasAnyAuthority('form.create', 'form.update')"
                                th:text="#{form.btn.export}" th:disabled="${!form.editable}"
                                th:attr="onclick=|workflowUtil.export('${form.id}', 'form')|"></button>
                    </td>
                    <td>
                        <button sec:authorize="hasAuthority('form.update')"
                            th:text="#{common.btn.modify}" th:disabled="${!form.editable}"
                            th:attr="onclick=|openFormDesignerEdit('${form.id}')|"></button>
                    </td>
                    <td>
                        <button sec:authorize="hasAuthority('form.delete')"
                            th:text="#{common.btn.delete}" th:disabled="${!form.editable}"
                            th:attr="onclick=|deleteForm('${form.id}')|"></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div> -->
</body>
</html>
