<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/popupLayout">
<head>
    <title th:text="#{form.label.import}"></title>
    <script th:src="@{/assets/js/workflow/workflow.util.js}"></script>
</head>
<body>
<th:block layout:fragment="content">
    <div class="edit">
        <h3 class="under-bar" th:text="#{form.label.import}"></h3>
        <div class="form-set">
            <label class="required" th:text="#{form.label.name}" for="form_name"></label>
            <input type="text" id="form_name" maxlength="50" required="required" tabindex="1"/>
        </div>
        <div class="form-set">
            <label th:text="#{form.label.description}" for="form_desc"></label>
            <textarea id="form_desc" maxlength="256" tabindex="2" class="textarea-scroll-wrapper"></textarea>
        </div>
        <div class="form-set">
            <label class="required" th:text="#{form.label.importFile}"></label>
            <div id="dropZoneFiles"></div>
            <div id="dropZoneUploadedFiles"></div>
        </div>
        <div class="horizontal-bar"></div>
        <div class="btn-bar">
            <button class="point-fill" th:text="#{common.btn.save}" onclick="javascript:importForm();"></button>
            <button class="default-line" th:text="#{common.btn.cancel}" onclick="javascript:window.close();"></button>
        </div>
    </div>
</th:block>
<th:block layout:fragment="pageScript">
    <script type="text/javascript">
        /*<![CDATA[*/
        window.onload = function () {
            fileUploader.import({
                extra: {
                    formId: 'downloadForm',
                    dropZoneMaxFiles: 1,
                    acceptedFiles: '.xml',
                    editor: true
                }
            });
            OverlayScrollbars(document.getElementById('form_desc'), {className: 'inner-scrollbar'});
        };

        function importForm() {
            if (validation()) {
                let fileList = fileUploader.getFile();
                const formInfo = {
                    formName: document.getElementById('form_name').value,
                    formDesc: document.getElementById('form_desc').value
                };

                workflowUtil.import(fileList, formInfo, 'form', function (result) {
                    if (result) {
                        aliceJs.alertSuccess(i18n.msg('common.msg.save'), function () {
                            opener.location.reload();
                            window.close();
                        });
                    } else {
                        aliceJs.alertDanger(i18n.msg('common.label.fail'));
                    }
                });
            }
        }

        function validation() {
            // 필수 체크
            if (isEmpty('form_name', 'form.msg.enterFormName')) {
                return false;
            }

            // fileTemplate가 동적으로 생기고 존재여부로 파일 업로드를 체크하기 때문에 isEmpty 함수를 사용하기 어려움.
            if (document.getElementById('fileTemplate') === null) {
                aliceJs.alertWarning(i18n.msg('form.msg.selectImportFile'));
                return false;
            }
            return true;
        }

        /*]]>*/
    </script>
</th:block>
</body>
</html>
