<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="layout/popupLayout">
<head>
    <title th:text="#{form.label.import}"></title>
    <script th:src="@{/assets/js/workflow/workflow.util.js}"></script>
</head>
<body>
<th:block layout:fragment="content">
    <div class="edit">
        <h3 class="under-bar" th:text="#{form.label.import}"></h3>
        <div class="form-set">
            <label class="required" th:text="#{form.label.name}" for="form_name"></label>
            <input type="text" id="form_name" maxlength="50" required="required" tabindex="1"/>
        </div>
        <div class="form-set">
            <label th:text="#{form.label.description}" for="form_desc"></label>
            <textarea id="form_desc" maxlength="500" tabindex="2" class="textarea-scroll-wrapper"></textarea>
        </div>
        <div class="form-set">
            <label th:text="#{form.label.importFile}" for="form_file"></label>
            <input type="file" id="form_file" accept=".xml" tabindex="3"/>
        </div>
        <div class="horizontal-bar"></div>
        <div class="btn-bar">
            <button class="point-fill" th:text="#{common.btn.save}" onclick="javascript:importForm();"></button>
            <button class="default-line" th:text="#{common.btn.cancel}" onclick="javascript:window.close();"></button>
        </div>
    </div>
</th:block>
<th:block layout:fragment="pageScript">
    <script type="text/javascript">
        /*<![CDATA[*/
        const allowedExtension = 'XML';
        let fileList = [];

        window.onload = function () {
            const fileSelector = document.getElementById('form_file');
            fileSelector.addEventListener('change', function (e) {
                fileList = e.target.files;
            });
            OverlayScrollbars(document.getElementById('form_desc'), {className: 'inner-scrollbar'});
        };

        function importForm() {
            if (validation()) {
                const formInfo = {
                    formName: document.getElementById('form_name').value,
                    formDesc: document.getElementById('form_desc').value
                };
                if (fileList.length > 0) {
                    workflowUtil.import(fileList[0], formInfo, 'form', function (result) {
                        if (result) {
                            aliceJs.alertSuccess(i18n.get('common.msg.save'), function () {
                                opener.location.reload();
                                window.close();
                            });
                        } else {
                            aliceJs.alertDanger(i18n.get('common.label.fail'));
                        }
                    });
                } else {
                    console.error('No file selected.');
                }
            }
        }

        function validation() {
            // 필수 체크
            if (isEmpty('form_name', 'form.msg.enterFormName')) {
                return false;
            }
            if (isEmpty('form_file', 'form.msg.selectImportFile')) {
                return false;
            }
            // 확장자 체크
            let filename = document.getElementById('form_file').value;
            if (filename.split('.').pop().toUpperCase() !== allowedExtension) {
                aliceJs.alertWarning(i18n.get('form.msg.fileExtensionNotAllow', allowedExtension));
                return false;
            }
            return true;
        }

        /*]]>*/
    </script>
</th:block>
</body>
</html>
