<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link th:href="@{/assets/css/form-designer.css}" rel="stylesheet"/>
    <link th:href="@{/assets/vendors/gModal/css/gModal.css}" rel="stylesheet"/>
    <link th:href="@{/assets/vendors/window-date-picker/css/window-date-picker.css}" rel="stylesheet" />
    <link th:href="@{/assets/vendors/quill/quill.snow.css}" rel="stylesheet"/>
    <link th:href="@{/assets/vendors/dropzone/dropzone.css}" rel="stylesheet"/>
    <th:block layout:fragment="css"></th:block>
    <script th:src="@{/assets/vendors/moment/moment.js}"></script>
    <script th:src="@{/assets/vendors/moment/moment-timezone-with-data.js}"></script>
    <script th:src="@{/assets/vendors/luxon/luxon.js}"></script>
    <script th:src="@{/assets/js/util/i18n-alice.js}"></script>
    <script th:src="@{/assets/js/util/util-alice.js}"></script>
    <script th:src="@{/assets/vendors/gModal/js/gModal.js}"></script>
    <script th:src="@{/assets/vendors/window-date-picker/js/window-date-picker.custom.js}"></script>
    <script th:src="@{/assets/js/util/datetimepicker-alice.js}"></script>
    <script th:src="@{/assets/vendors/piklor/piklor.js}"></script>
    <script th:src="@{/assets/js/util/colorPalette-alice.js}"></script>
    <script th:src="@{/assets/vendors/quill/quill.js}"></script>
    <script th:src="@{/assets/vendors/dropzone/dropzone.js}"></script>
    <script th:src="@{/assets/js/util/fileuploader-alice.js}"></script>
    <script th:src="@{/assets/js/util/validation-alice.js}"></script>
    <script th:src="@{/assets/js/form/form.core.js}"></script>
    <script th:src="@{/assets/js/form/form.component.js}"></script>
    <script type="text/javascript">
        /*<![CDATA[*/
        const parsedDateTimeFormat = '[[${#authentication.details.timeFormat}]]'.split(' ');
        i18n.init(JSON.stringify({
            dateTimeFormat: '[[${#authentication.details.timeFormat}]]',
            dateFormat: parsedDateTimeFormat[0],
            timeFormat: (parsedDateTimeFormat[2] !== undefined) ? parsedDateTimeFormat[1] + ' ' + parsedDateTimeFormat[2] : parsedDateTimeFormat[1],
            lang: '[[${#authentication.details.lang}]]',
            timezone: '[[${#authentication.details.timezone}]]'
        }));

        aliceForm.initSession(JSON.stringify({
            userKey : '[[${#authentication.details.userKey}]]',
            userId : '[[${#authentication.details.userId}]]',
            userName: '[[${#authentication.details.userName}]]',
            email: '[[${#authentication.details.email}]]',
            position: '[[${#authentication.details.position}]]',
            department: '[[${#authentication.details.department}]]',
            officeNumber: '[[${#authentication.details.officeNumber}]]',
            mobileNumber: '[[${#authentication.details.mobileNumber}]]'
        }));
    </script>
</head>
<body>
    <th:block layout:fragment="content"></th:block>
</body>
<th:block layout:fragment="script"></th:block>
</html>
