<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <style>
        table {
            width: 100%;
            border: 1px solid;
            border-collapse: collapse;
        }
        table tr:nth-child(1) td {
            border-top: 1px solid;
        }
        table td {
            border-top: 1px solid #e7e7e7;
            border-left: 1px solid;
            text-align: center;
            padding: 3px;
            height: 40px;
        }
        table td:nth-child(1), table td:nth-child(2) {
            text-align: left;
        }
    </style>
</head>
<body>
    <div>
        <table class="table-hover">
            <colgroup>
                <col width="15%">
                <col width="33%">
                <col width="12%">
                <col width="23%">
                <col width="7%">
                <col width="5%">
                <col width="5%">
            </colgroup>
            <tbody>
                <tr th:if="${#arrays.isEmpty(formList)}">
                    <td colspan="7" th:text="#{common.msg.noData}"></td>
                </tr>
                <tr th:unless="${#arrays.isEmpty(formList)}" th:each="form: ${formList}">
                    <td>
                        <a href="javascript:void(0);" th:text="${form.name}"
                           th:attr="onclick=|openFormDesignerView('${form.id}')|"></a>
                    </td>
                    <td th:text="${form.desc}"></td>
                    <td th:text="${form.createUserName}"></td>
                    <td th:if="${form.updateDt == null && form.updateUserKey == null}"
                        th:with="dateformat=${#authentication.details.timeFormat}"
                        th:text="|${#temporals.format(form.createDt,dateformat)} ${form.createUserName}|"></td>
                    <td th:unless="${form.updateDt == null && form.updateUserKey == null}"
                        th:with="dateformat=${#authentication.details.timeFormat}"
                        th:text="|${#temporals.format(form.updateDt,dateformat)} ${form.updateUserName}|"></td>
                    <td th:text="#{${form.status}}"></td>
                    <td>
                        <button sec:authorize="hasAuthority('form.update')"
                            th:text="#{common.btn.modify}" th:disabled="${!form.editable}"
                            th:attr="onclick=|openFormDesignerEdit('${form.id}')|"></button>
                    </td>
                    <td>
                        <button sec:authorize="hasAuthority('form.delete')"
                            th:text="#{common.btn.delete}" th:disabled="${!form.editable}"
                            th:attr="onclick=|deleteForm('${form.id}')|"></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
