<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:text="#{form.label.edit}"></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta http-equiv="expire" content="-1"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <link th:href="@{/assets/css/form-designer.css}" rel="stylesheet"/>
    <link th:href="@{/assets/vendors/window-date-picker/css/window-date-picker.css}" rel="stylesheet" />
    <link th:href="@{/assets/vendors/popupmodal/css/popupmodal.css}" rel="stylesheet"/>
    <script th:src="@{/assets/vendors/popupmodal/js/popupmodal.js}"></script>
    <script th:src="@{/assets/js/util/util-alice.js}"></script>
    <script th:src="@{/assets/js/util/i18n-alice.js}"></script>
    <script th:src="@{/assets/vendors/window-date-picker/js/window-date-picker.custom.js}"></script>
    <script th:src="@{/assets/js/util/datetimepicker-alice.js}"></script>
    <script th:src="@{/assets/vendors/piklor/piklor.js}"></script>
    <script th:src="@{/assets/js/util/colorPalette-alice.js}"></script>
    <script th:src="@{/assets/js/process/workflow.util.js}"></script>
    <script th:src="@{/assets/js/form/formEditor.menu.js}"></script>
    <script th:src="@{/assets/js/form/formEditor.component.js}"></script>
    <script th:src="@{/assets/js/form/formEditor.js}"></script>
</head>
<body>
<div class="alice-form-container light-thema" id="form-designer">
    <div class="alice-form-toolbar">
        <span class="logo"></span>
        <a th:if="${#strings.isEmpty(isView)}" href="javascript:void(0);" onclick="formEditor.save();">
            <img th:src="@{/assets/media/icons/form/topmenu/save.png}"/>
            <label th:text="#{common.btn.save}"></label>
        </a>
        <a th:if="${isView}" href="javascript:void(0);" onclick="formEditor.saveAs();">
            <img th:src="@{/assets/media/icons/form/topmenu/save.png}"/>
            <label th:text="#{common.btn.saveAs}"></label>
        </a>
        <a th:if="${#strings.isEmpty(isView)}" href="#">
            <img th:src="@{/assets/media/icons/form/topmenu/undo.png}"/>
            <label th:text="#{form.label.undo}"></label>
        </a>
        <a th:if="${#strings.isEmpty(isView)}" href="#">
            <img th:src="@{/assets/media/icons/form/topmenu/redo.png}"/>
            <label th:text="#{form.label.redo}"></label>
        </a>
        <span class="separator"></span>
        <a th:if="${#strings.isEmpty(isView)}" href="#">
            <img th:src="@{/assets/media/icons/form/topmenu/import.png}"/>
            <label th:text="#{form.label.import}"></label>
        </a>
        <a href="#">
            <img th:src="@{/assets/media/icons/form/topmenu/export.png}"/>
            <label th:text="#{form.label.export}"></label>
        </a>
        <span class="separator"></span>
        <a href="javascript:void(0);" onclick="formEditor.preview();">
            <img th:src="@{/assets/media/icons/form/topmenu/preview.png}"/>
            <label th:text="#{form.label.preview}"></label>
        </a>
        <a th:if="${#strings.isEmpty(isView)}" href="#">
            <img th:src="@{/assets/media/icons/form/topmenu/save_exit.png}"/>
            <label th:text="#{form.label.saveExist}"></label>
        </a>
        <span class="form-name"></span>
    </div>
    <div class="alice-form-panel">
        <div class="drawing-board" id="panel-form"></div>
    </div>
    <div class="alice-form-properties-panel" id="panel-properties"></div>
</div>
<div id="context-menu" class="context-menu">
    <ul id="context-menu-control" class="context-menu-control active">
        <li class="context-item-link" data-action="copy">
            <img th:src="@{/assets/media/icons/form/context-menu/copy.png}"/>
            <label th:text="#{form.label.copy}"></label>
        </li>
        <li class="context-item-link" data-action="delete">
            <img th:src="@{/assets/media/icons/form/context-menu/delete.png}"/>
            <label th:text="#{common.btn.delete}"></label>
        </li>
        <li class="context-item-link" data-action="addEditboxUp">
            <!-- TODO 위에 editbox 추가 아이콘 필요 -->
            <label th:text="#{form.label.addAbove}"></label>
        </li>
        <li class="context-item-link" data-action="addEditboxDown">
            <!-- TODO 위에 editbox 추가 아이콘 필요 -->
            <label th:text="#{form.label.addBelow}"></label>
        </li>
    </ul>
    <ul id="context-menu-component" class="context-menu-component">
        <li class="context-item-link" data-action="text">
            <img th:src="@{/assets/media/icons/form/context-component/text.png}"/>
            <label th:text="#{form.component.text}"></label>
        </li>
        <li class="context-item-link" data-action="textarea">
            <img th:src="@{/assets/media/icons/form/context-component/sentence.png}"/>
            <label th:text="#{form.component.textarea}"></label>
        </li>
        <li class="context-item-link" data-action="select">
            <img th:src="@{/assets/media/icons/form/context-component/dropdown.png}"/>
            <label th:text="#{form.component.select}"></label>
        </li>
        <li class="context-item-link" data-action="radio">
            <img th:src="@{/assets/media/icons/form/context-component/radiobutton.png}"/>
            <label th:text="#{form.component.radio}"></label>
        </li>
        <li class="context-item-link" data-action="checkbox">
            <img th:src="@{/assets/media/icons/form/context-component/checkbox.png}"/>
            <label th:text="#{form.component.checkbox}"></label>
        </li>
        <li class="context-item-link" data-action="label">
            <img th:src="@{/assets/media/icons/form/context-component/label.png}"/>
            <label th:text="#{form.component.label}"></label>
        </li>
        <li class="context-item-link" data-action="image">
            <img th:src="@{/assets/media/icons/form/context-component/image.png}"/>
            <label th:text="#{form.component.image}"></label>
        </li>
        <li class="context-item-link" data-action="divider">
            <!--TODO divider 가로선 아이콘으로 변경 필요-->
            <img th:src="@{/assets/media/icons/form/context-component/divider.png}"/>
            <label th:text="#{form.component.divider}"></label>
        </li>
        <li class="context-item-link" data-action="date">
            <img th:src="@{/assets/media/icons/form/context-component/calendar.png}"/>
            <label th:text="#{form.component.date}"></label>
        </li>
        <li class="context-item-link" data-action="time">
            <img th:src="@{/assets/media/icons/form/context-component/time.png}"/>
            <label th:text="#{form.component.time}"></label>
        </li>
        <li class="context-item-link" data-action="datetime">
            <img th:src="@{/assets/media/icons/form/context-component/date-time.png}"/>
            <label th:text="#{form.component.datetime}"></label>
        </li>
        <li class="context-item-link" data-action="fileupload">
            <img th:src="@{/assets/media/icons/form/context-component/upload.png}"/>
            <label th:text="#{form.component.fileupload}"></label>
        </li>
        <li class="context-item-link" data-action="custom-code">
        <!-- TODO: 커스텀 코드 컴포넌트 아이콘 변경 -->
            <img th:src="@{/assets/media/icons/form/context-component/text.png}"/>
            <label th:text="#{form.component.customCode}"></label>
        </li>
    </ul>
</div>
</body>
<script type="text/javascript">
    window.onload = function() {
        const userAuthInfo = {
            userId : '[[${#authentication.details.userId}]]',
            userName: '[[${#authentication.details.userName}]]',
            email: '[[${#authentication.details.email}]]',
            position: '[[${#authentication.details.position}]]',
            department: '[[${#authentication.details.department}]]',
            officeNumber: '[[${#authentication.details.officeNumber}]]',
            mobileNumber: '[[${#authentication.details.mobileNumber}]]',
            timeFormat : '[[${#authentication.details.timeFormat}]]',
            lang: '[[${#authentication.details.lang}]]'
        };
        i18n.add(function(){
            formEditor.init('[[${formId}]]', JSON.stringify(userAuthInfo));
        });
    };
</script>
</html>
