<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="layout/popupLayout">
<head>
    <title th:text="#{form.label.detail}"></title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="edit">
        <h3 class="under-bar" th:text="#{form.label.detail}"></h3>
        <div class="form-set">
            <label th:text="#{form.label.name}"></label>
            <span id="form_name" th:text="${formInfo?.name}"/>
        </div>
        <div class="form-set">
            <label th:text="#{form.label.description}"></label>
            <textarea id="form_desc" th:text="${formInfo?.desc}" class="textarea-scroll-wrapper" disabled/>
        </div>
        <div class="horizontal-bar"></div>
        <div class="btn-list">
            <button class="default-fill" th:attr="onclick=|window.close()|" th:text="#{common.btn.close}"></button>
        </div>
    </div>
</th:block>
<th:block layout:fragment="pageScript">
    <script type="text/javascript">
        /*<![CDATA[*/
        window.onload = function() {
            document.getElementById('form_name').focus();
            OverlayScrollbars(document.getElementById('form_desc'), { className: 'scrollbar' });
        }
        /*]]>*/
    </script>
</body>
</html>
