<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="layout/defaultLayout">
<head>
    <title th:text="#{menu.workflow.form}"></title>
</head>
<th:block layout:fragment="scriptLink">
    <script th:src="@{/assets/js/workflow/workflow.util.js}"></script>
</th:block>
<body>
<th:block layout:fragment="content">
    <div class="contents-list">
        <div class="page-title">
            <h1 th:text="#{form.label.list}"></h1>
            <h6 class="title-description" th:text="#{form.msg.description}"></h6>
        </div>

        <div class="search-area">
            <div class="left">
                <input class="search column-5" id="search" type="text" maxlength="100" th:placeholder="#{form.label.searchPlaceholder}"/>
            </div>
            <div class="right">
                <button class="btn-import" type="button" onclick="openFormImport();" sec:authorize="hasAuthority('form.create')"/>
                <button class="default-fill" onclick="openFormEdit();" sec:authorize="hasAuthority('form.create')" th:text="#{common.btn.add}"></button>
            </div>
        </div>
        <div class="list" id="formList"></div>
    </div>
</th:block>
</body>
<th:block layout:fragment="pageScript">
    <script type="text/javascript">
        /*<![CDATA[*/
        window.onload = function() {
            getFormList(document.getElementById('search').value, true);
        }
        
        document.getElementById('search').onkeyup = function() {
            getFormList(this.value, false);
        };
    
        // 폼 리스트 조회
        function getFormList(search, showProgressbar) {
            restSubmit('GET', '/forms-admin/list?search=' + search.trim(), function(result) {
                document.getElementById('formList').innerHTML = result;
                let formDtEle = document.querySelectorAll('td[name=createDt]');
                for (let i = 0; i < formDtEle.length; i++) {
                    formDtEle[i].textContent = i18n.userDateTime(formDtEle[i].textContent);
                }
            }, showProgressbar);
        }

        // 폼 신규 추가 화면 오픈
        function openFormEdit(formId) {
            if (formId !== undefined) {
                window.open('/forms-admin/' + formId + '/edit', 'form_edit', 'width=550, height=360');
            } else {
                window.open('/forms-admin/new', 'form_new', 'width=550, height=360');
            }
        }

        // 폼 상세 화면 오픈
        function openFormView(formId) {
            window.open('/forms-admin/' + formId + '/view', 'form_view', 'width=550, height=300');
        }

        //폼 디자이너 편집화면 오픈
        function openFormDesignerEdit(formId) {
            const _width = 1500,
                  _height = 980;
            //중앙 배치
            const _left = Math.ceil((window.screen.width - _width) / 2);
            const _top = Math.ceil((window.screen.height - _height) / 4);
            
            let specs = 'left=' + _left + ',top=' + _top;
            specs += ',menubar=no,toolbar=no,location=no,status=no,titlebar=no,scrollbars=yes,resizable=no';
            window.open('/forms/' + formId + '/edit', 'form_' + formId + '_edit', 'width=' + _width + ',height=' + _height + ','+ specs);
        }

        //폼 디자이너 미리보기화면 오픈
        function openFormDesignerView(formId) {
            const _width = 1500,
                  _height = 920;
            //중앙 배치
            const _left = Math.ceil((window.screen.width - _width) / 2);
            const _top = Math.ceil((window.screen.height - _height) / 4);

            let specs = 'left=' + _left + ',top=' + _top;
            specs += ',menubar=no,toolbar=no,location=no,status=no,titlebar=no,scrollbars=yes,resizable=no';
            window.open('/forms/' + formId + '/view', 'form_' + formId + '_view', 'width=' + _width + ',height=' + _height + ','+ specs);
        }

        //폼 IMPORT 화면 오픈
        function openFormImport() {
            window.open('/forms/import', 'form_import', 'width=600, height=350');
        }

        //REST API
        function restSubmit(method, url, result, showProgressbar) {
            const opt = {
                method: method,
                url: url,
                showProgressbar: showProgressbar,
                callbackFunc: function(response) {
                    result(response.responseText);
                }
            };
            aliceJs.sendXhr(opt);
        }
        /*]]>*/
    </script>
</th:block>
</html>
