<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="layout/popupLayout">
<head>
    <title th:text="#{form.label.detail}"></title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="edit">
        <h3 class="under-bar" th:if="${formInfo?.id}" th:text="#{form.label.detail}"></h3>
        <h3 class="under-bar" th:if="!${formInfo?.id}" th:text="#{form.label.create}"></h3>
        <div class="form-set">
            <label th:text="#{form.label.name}" for="form_name"></label>
            <input type="text" id="form_name" maxlength="50" required="required" tabindex="1"
                   th:value="${formInfo?.name}" disabled/>
        </div>
        <div class="form-set">
            <label th:text="#{form.label.description}" for="form_desc"></label>
            <textarea id="form_desc" maxlength="128" tabindex="2" th:text="${formInfo?.desc}"
                      class="textarea-scroll-wrapper" disabled></textarea>
        </div>
        <div class="horizontal-bar"></div>
        <div class="btn-bar">
            <button class="default-fill" th:attr="onclick=|window.close()|" th:text="#{common.btn.close}"></button>
        </div>
    </div>
</th:block>
</body>
</html>
