<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="form/formCore">
<head>
    <title th:text="${isView != null} ? #{form.label.form} + #{common.label.blank} + #{form.label.preview} : #{form.label.edit}"></title>
    <meta http-equiv="expire" content="-1"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="pragma" content="no-cache"/>
</head>
<body>
<th:block layout:fragment="content">
    <form id="frm" name="frm">
        <div class="form-container">
            <div class="form-header">
                <img class="logo"  th:src="@{/assets/media/icons/icon_logo_white.svg}" width="152" height="26" alt="Zenius ITSM" />
                <span class="name" th:text="#{form.label.title}"></span>
                <span class="separator"></span>
                <th:block th:if="${#strings.isEmpty(isView)}" sec:authorize="hasAuthority('form.create')">
                    <button type="button" id="btnSave" class="btn-header header-tooltip" onclick="editor.save(false);">
                        <span class="icon-save"></span>
                        <div class="tooltip-contents">
                            <span th:text="#{common.btn.save}"></span>
                        </div>
                    </button>
                </th:block>
                <th:block sec:authorize="hasAnyAuthority('form.create', 'form.update')">
                    <button type="button" id="btnSaveAs" class="btn-header header-tooltip" onclick="editor.saveAs();">
                        <span class="icon-save-as"></span>
                        <div class="tooltip-contents">
                            <span th:text="#{common.btn.saveAs}"></span>
                        </div>
                    </button>
                </th:block>
                <th:block th:if="${#strings.isEmpty(isView)}">
                    <button type="button" id="btnUndo" class="btn-header header-tooltip" onclick="editor.undo();">
                        <span class="icon-undo"></span>
                        <div class="tooltip-contents">
                            <span th:text="#{form.label.undo}"></span>
                        </div>
                    </button>
                </th:block>
                <th:block th:if="${#strings.isEmpty(isView)}">
                    <button type="button" id="btnRedo" class="btn-header header-tooltip" onclick="editor.redo();">
                        <span class="icon-redo"></span>
                        <div class="tooltip-contents">
                            <span th:text="#{form.label.redo}"></span>
                        </div>
                    </button>
                </th:block>
                <button type="button" id="btnPreview" class="btn-header header-tooltip" onclick="editor.preview();">
                    <span class="icon-preview"></span>
                    <div class="tooltip-contents">
                        <span th:text="#{form.label.preview}"></span>
                    </div>
                </button>
                <th:block th:if="${#strings.isEmpty(isView)}" sec:authorize="hasAnyAuthority('form.create', 'form.update')">
                    <button type="button" id="btnSaveExit" class="btn-header header-tooltip" onclick="editor.save(true);">
                        <span class="icon-save-out"></span>
                        <div class="tooltip-contents">
                            <span th:text="#{form.label.saveExit}"></span>
                        </div>
                    </button>
                </th:block>
                <span class="ml-auto" id="form-name"></span>
            </div>
            <div class="form-main flex-row justify-content-center">
                <div class="drawing-board" id="form-panel"></div>
            </div>
            <div class="form-properties-header">
                <span id="properties-name"></span>
            </div>
            <div class="form-properties" id="properties-panel"></div>
        </div>
        <div class="context-menu" id="context-menu">
            <ul class="menu">
                <li class="menu-item inputbox" data-action="inputbox">
                    <div>
                        <img class="load-svg"  th:src="@{/assets/media/icons/form/context-menu/icon-inputbox.svg}"/>
                        <label th:text="#{form.component.inputbox}"></label>
                    </div>
                </li>
                <li class="menu-item textbox" data-action="textbox">
                    <div>
                        <img class="load-svg" th:src="@{/assets/media/icons/form/context-menu/icon-textbox.svg}"/>
                        <label th:text="#{form.component.textbox}"></label>
                    </div>
                </li>
                <li class="menu-item dropdown" data-action="dropdown">
                    <div>
                        <img class="load-svg" th:src="@{/assets/media/icons/form/context-menu/icon-dropdown.svg}"/>
                        <label th:text="#{form.component.dropdown}"></label>
                    </div>
                </li>
                <li class="menu-item radio" data-action="radio">
                    <div>
                        <img class="load-svg" th:src="@{/assets/media/icons/form/context-menu/icon-radio.svg}"/>
                        <label th:text="#{form.component.radio}"></label>
                    </div>
                </li>
                <li class="menu-item checkbox" data-action="checkbox">
                    <div>
                        <img class="load-svg" th:src="@{/assets/media/icons/form/context-menu/icon-checkbox.svg}"/>
                        <label th:text="#{form.component.checkbox}"></label>
                    </div>
                </li>
                <li class="menu-item label" data-action="label">
                    <div>
                        <img class="load-svg" th:src="@{/assets/media/icons/form/context-menu/icon-label.svg}"/>
                        <label th:text="#{form.component.label}"></label>
                    </div>
                </li>
                <li class="menu-item image" data-action="image">
                    <div>
                        <img class="load-svg" th:src="@{/assets/media/icons/form/context-menu/icon-image.svg}"/>
                        <label th:text="#{form.component.image}"></label>
                    </div>
                </li>
                <li class="menu-item divider" data-action="divider">
                    <div>
                        <img class="load-svg" th:src="@{/assets/media/icons/form/context-menu/icon-divider.svg}"/>
                        <label th:text="#{form.component.divider}"></label>
                    </div>
                </li>
                <li class="menu-item date" data-action="date">
                    <div>
                        <img class="load-svg" th:src="@{/assets/media/icons/form/context-menu/icon-date.svg}"/>
                        <label th:text="#{form.component.date}"></label>
                    </div>
                </li>
                <li class="menu-item time" data-action="time">
                    <div>
                        <img class="load-svg" th:src="@{/assets/media/icons/form/context-menu/icon-time.svg}"/>
                        <label th:text="#{form.component.time}"></label>
                    </div>
                </li>
                <li class="menu-item datetime" data-action="datetime">
                    <div>
                        <img class="load-svg" th:src="@{/assets/media/icons/form/context-menu/icon-datetime.svg}"/>
                        <label th:text="#{form.component.datetime}"></label>
                    </div>
                </li>
                <li class="menu-item fileupload" data-action="fileupload">
                    <div>
                        <img class="load-svg" th:src="@{/assets/media/icons/form/context-menu/icon-fileupload.svg}"/>
                        <label th:text="#{form.component.fileupload}"></label>
                    </div>
                </li>
                <li class="menu-item custom-code" data-action="custom-code">
                    <div>
                        <img class="load-svg" th:src="@{/assets/media/icons/form/context-menu/icon-custom-code.svg}"/>
                        <label th:text="#{form.component.custom-code}"></label>
                    </div>
                </li>
                <li class="menu-item dynamic-row-table" data-action="dynamic-row-table">
                    <div>
                        <img class="load-svg" th:src="@{/assets/media/icons/form/context-menu/icon-dynamic-row-table.svg}"/>
                        <label th:text="#{form.component.dynamic-row-table}"></label>
                    </div>
                </li>
                <li class="menu-item accordion-start" data-action="accordion-start">
                    <div>
                        <img class="load-svg" th:src="@{/assets/media/icons/form/context-menu/icon-accordion.svg}"/>
                        <label th:text="#{form.component.accordion-start}"></label>
                    </div>
                </li>
                <li class="menu-item ci" data-action="ci">
                    <div>
                        <img class="load-svg" th:src="@{/assets/media/icons/form/context-menu/icon-ci.svg}"/>
                        <label th:text="#{form.component.ci}"></label>
                    </div>
                </li>
            </ul>
        </div>
    </form>
    <!-- 툴팁 템플릿 -->
    <template id="tooltip-template">
        <div class="tooltip-menu">
            <ul class="menu">
                <li class="menu-item list" data-action="list">
                    <div class="item">
                        <span class="icon icon-list"></span>
                        <!--<label th:text="#{form.label.list}"></label>-->
                    </div>
                </li>
                <li class="menu-item copy" data-action="copy">
                    <div class="item">
                        <span class="icon icon-copy"></span>
                    </div>
                </li>
                <li class="menu-item delete" data-action="delete">
                    <div class="item">
                        <span class="icon icon-delete"></span>
                        <!--<label th:text="#{common.btn.delete}"></label>-->
                    </div>
                </li>
                <li class="menu-item add" data-action="add">
                    <div class="item">
                        <span class="icon icon-add"></span>
                        <!--<label th:text="#{form.label.addBelow}"></label>-->
                    </div>
                </li>
            </ul>
        </div>
    </template>
    <!-- 컴포넌트 properties 템플릿 -->
    <template id="component-template">
        <div class="property-empty">
            <h5 th:text="#{form.msg.information}"></h5>
        </div>
        <div class="property-group" id="dataAttribute">
            <h5><label class="property-group-name" th:text="#{form.properties.dataAttribute}"></label></h5>
        </div>
        <div class="property-group" id="label">
            <h5><label class="property-group-name" th:text="#{form.properties.label}"></label></h5>
        </div>
        <div class="property-group" id="display">
            <h5><label class="property-group-name" th:text="#{form.properties.display}"></label></h5>
        </div>
        <div class="property-group" id="header">
            <h5><label class="property-group-name" th:text="#{form.properties.header}"></label></h5>
        </div>
        <div class="property-group" id="option">
            <h5>
                <label class="property-group-name" th:text="#{form.properties.option}"></label>
                <div class="property-group-option">
                    <button type="button" class="ghost-line btn-option" id="option-minus"><span class="icon icon-minus"></span></button>
                    <button type="button" class="ghost-line btn-option" id="option-plus"><span class="icon icon-plus"></span></button>
                </div>
            </h5>
            <table class="property-field-table" id="table-option">
                <colgroup>
                    <col width="20%">
                    <col width="40%">
                    <col width="40%">
                </colgroup>
            </table>
        </div>
        <div class="property-group" id="validate">
            <h5><label class="property-group-name" th:text="#{form.properties.validate}"></label></h5>
        </div>
        <div class="property-group" id="field">
            <h5>
                <label class="property-group-name" th:text="#{form.properties.field}"></label>
                <div class="property-group-field">
                    <button type="button" class="ghost-line btn-option" id="field-delete"><span class="icon icon-minus"></span></button>
                    <button type="button" class="ghost-line btn-option" id="field-add"><span class="icon icon-plus"></span></button>
                </div>
            </h5>
        </div>
    </template>
    <!-- 폼 properties 템플릿 -->
    <template id="form-template">
        <div class="property-group on last">
            <div class="property-field" id="formId">
                <label class="property-field-name" for="formId" th:text="#{form.properties.id}"></label>
                <input type="text" class="property-value" disabled>
            </div>
            <div class="property-field" id="name">
                <label class="property-field-name" for="name" th:text="#{form.properties.name}"></label>
                <span class="required"></span>
                <input type="text" class="property-value" required="required" maxlength="20">
            </div>
            <div class="property-field" id="desc">
                <label class="property-field-name" for="desc" th:text="#{form.properties.desc}"></label>
                <textarea class="property-value" maxlength="200"></textarea>
            </div>
            <div class="property-field" id="status">
                <label class="property-field-name" for="status" th:text="#{form.properties.status}"></label>
                <select class="property-value">
                    <option value="form.status.edit" th:text="#{form.status.edit}"></option>
                    <option value="form.status.publish" th:text="#{form.status.publish}"></option>
                    <option value="form.status.use" th:text="#{form.status.use}"></option>
                    <option value="form.status.destroy" th:text="#{form.status.destroy}"></option>
                </select>
            </div>
        </div>
    </template>
</th:block>
</body>
<th:block layout:fragment="script">
    <script th:src="@{/assets/js/workflow/workflow.util.js}"></script>
    <script th:src="@{/assets/js/util/shortcut-alice.js}"></script>
    <script th:src="@{/assets/js/util/alert-alice.js}"></script>
    <script th:src="@{/assets/js/form/form.editor.context.js}"></script>
    <script th:src="@{/assets/js/form/form.editor.js}"></script>
    <script type="text/javascript">
        /*<![CDATA[*/
        window.onload = function() {
            aliceJs.loadSvg();
            aliceForm.init(editor.init, '[[${formId}]]', '[[${#strings.isEmpty(isView)}]]');
        };
        /*]]>*/
    </script>
</th:block>
</html>
