<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta http-equiv="expire" content="-1"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <title th:text="#{form.component.image}"></title>
    <link th:href="@{/assets/vendors/dropzone/dropzone.css}" rel="stylesheet"/>
    <link th:href="@{/assets/vendors/gModal/css/gModal.css}" rel="stylesheet"/>
    <script th:src="@{/assets/js/util/i18n-alice.js}"></script>
    <script th:src="@{/assets/vendors/gModal/js/gModal.js}"></script>
    <script th:src="@{/assets/js/util/util-alice.js}"></script>
    <script th:src="@{/assets/vendors/dropzone/dropzone.js}"></script>
    <!-- TODO: 임시 style -->
    <style>
        .dropzone {
            height: 650px;
            overflow-y: auto;
            overflow-x: hidden;
        }
        .dropzone img {
            width: 100%;
            height: 100%;
        }
        .dropzone .dz-message { text-align: center; font-size: 26px; margin: 240px 0;}
        .dropzone .note { display: block; font-size: 16px; }
        .dropzone .dz-preview { cursor: pointer; }
        .dropzone .dz-preview > *:not(button) { pointer-events: none; }
        .dropzone .dz-preview .dz-image { z-index: 0; }
        .dropzone .dz-preview .dz-details .dz-filename { padding-bottom: 10px; }
        .dropzone .dz-preview .dz-selected-mark {
            position: absolute;
            display: block;
            top: 0;
            left: 100%;
            pointer-events: none;
            margin-top: -12px;
        }
        .dropzone .dz-preview .dz-selected-mark .round-icon span {
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 50%;
            height: 28px;
            left: 0;
            position: absolute;
            top: 0;
            width: 28px;
        }
        .dropzone .dz-preview .dz-selected-mark .round-icon span:after {
            border: 2px solid #fff;
            border-top: none;
            border-right: none;
            content: "";
            height: 6px;
            left: 7px;
            opacity: 0;
            position: absolute;
            top: 8px;
            transform: rotate(-45deg);
            width: 12px;
        }
        .dropzone .dz-preview.selected .dz-selected-mark .round-icon span {
            background-color: #66bb6a;
            border-color: #66bb6a;
        }
        .dropzone .dz-preview.selected .dz-selected-mark .round-icon span:after {
            opacity: 1;
        }
        .btn-container {
            margin-top: 10px;
        }
        .btn-upload-wrapper {
            position: relative;
            display: inline-block;
        }
        .btn-check-wrapper {
            display: inline-block;
            float: right;
        }
        .btn-upload-wrapper input[type=file] {
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
        }
    </style>
</head>
<body>
    <div class="fileEditorable" id="dropZoneFiles">
        <div class="dropzone" id="dropZoneFileUpload">
            <div class="dz-message">
                Drop images here to upload
                <span class="note">(Images must be smaller than <strong>3MB</strong>)</span>
            </div>
            <div class="fallback">
                <input name="file" type="file" multiple />
            </div>
        </div>
        <div class="btn-container">
            <div class="btn-upload-wrapper">
                <button type="button" th:text="#{form.btn.upload}" class="btn-upload"></button>
            </div>
            <div class="btn-check-wrapper">
                <button type="button" th:text="#{common.btn.check}" onclick="selectedImageSave();"></button>
                <button type="button" th:text="#{common.btn.close}" onclick="window.close();"></button>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    /*<![CDATA[*/
    i18n.add();

    const componentId = '[(${componentId})]';
    let selectedImagePreview = null;

    Dropzone.autoDiscover = false; //dropzone 이 중복으로 등록되는 것을 막아줌

    /**
     *  이미지 선택 후 확인 버튼 클릭시 호출
     */
    function selectedImageSave() {
        //이미지가 하나라도 선택되어 있지 않으면 알림창 출력
        if (selectedImagePreview === null) {
            aliceJs.alert(i18n.get('form.msg.alert.fileSelect'));
            return false;
        }
        if (window.opener && !window.opener.closed) {
            const pathGroupElem = window.opener.document.getElementById('panel-properties').querySelector('#path');
            if (pathGroupElem) {
                const pathElem =  pathGroupElem.querySelector('input[type="text"]');
                if (pathElem) {
                    pathElem.value = selectedImagePreview.querySelector('#dz-filepath').value;
                    pathElem.dispatchEvent(new Event('change'));
                    window.close();
                }
            }
        }
    }

    /**
     * 팝업 오픈시 이미지 선택 초기화
     */
    function initSelectImage() {
        if (!window.opener || window.opener.closed) { return false; }

        let component = window.opener.document.getElementById(componentId);
        let componentImgElem =  component.querySelector('img');
        document.querySelectorAll('.dz-preview').forEach(function(elem) {
            let thumbnailElem = elem.querySelector('.dz-image > img');
            if (thumbnailElem !== null && componentImgElem.src === thumbnailElem.src) {
                selectedImagePreview = elem;
                elem.classList.add('selected');
                return false;
            }
        });
    }

    /**
     * 이미지를 선택 이벤트 핸들러
     */
    function onImageSelectHandler(e) {
        //기존 이미지 선택 해제
        if (selectedImagePreview !== null) {
            if (selectedImagePreview.classList.contains('selected')) {
                selectedImagePreview.classList.remove('selected');
                if (e.target === selectedImagePreview) {
                    selectedImagePreview = null;
                    return false;
                }
            }
        }
        if (!e.target.classList.contains('selected') && e.target.classList.contains('dz-preview')) {
            e.target.classList.add('selected');
        }
        selectedImagePreview = e.target;
    }

    /**
     * 특정 클래스 이름을 가진 요소 내부를 클릭했는지 확인
     */
    function clickInsideElement(e, className) {
        let el = e.srcElement || e.target;
        if (el.classList.contains(className)) {
            return el;
        } else {
            while (el = el.parentNode) {
                if (el.classList && el.classList.contains(className)) {
                    return el;
                }
            }
        }
        return false;
    }

    window.onload = function() {
        const imageDropzone = new Dropzone('#dropZoneFiles #dropZoneFileUpload', {
            paramName: 'file', // file 매개변수명
            params: { dropZoneFilesId: 'dropZoneFiles' }, // 추가 매개변수
            url: '/rest/forms/imageUpload',
            method: 'post',
            enctype: 'multipart/form-data',
            maxFilesize: 3, // 파일 용량 제한
            maxThumbnailFilesize: 10, // MB, 썸네일 생성 최소 기준값, 초과시 썸네일 생성 안함
            maxFiles: null, // 첨부파일 개수 제한
            autoProcessQueue: true, //자동업로드, processQueue() 사용
            previewTemplate: `<div class="dz-preview dz-file-preview" id="dz-preview-template">
                <div class="dz-image">
                    <img data-dz-thumbnail />
                </div>
                <div class="dz-details">
                    <div class="dz-filename"><span data-dz-name></span></div>
                    <input type="hidden" id="dz-filepath" value="">
                    <div class="dz-size" data-dz-size></div>
                </div>
                <div class="dz-progress">
                    <span class="dz-upload" data-dz-uploadprogress></span>
                </div>
                <button type="button" class="dz-remove" data-dz-remove>DELETE</button>
                <div class="dz-success-mark">
                    <span>SUCCESS</span>
                </div>
                <div class="dz-error-mark">
                    <span>FAILED</span>
                </div>
                <div class="dz-error-message">
                    <span data-dz-errormessage></span>
                </div>
                <div class="dz-selected-mark">
                    <div class="round-icon">
                        <span></span>
                    </div>
                </div>
            </div> `,
            //thumbnailWidth: 80,
            //thumbnailHeight: 80,
            uploadMultiple: true,  //여러장 사진 업로드 허용
            addRemoveLinks: false, //업로드 취소 및 추가 삭제 미리 보기 그림 링크
            acceptedFiles: '.jpeg,.jpg,.png,.gif,.JPEG,.JPG,.PNG,.GIF',
            autoQueue: false, // 자동 서버 업로드 막기
            clickable: '.btn-upload', // Define the element that should be used as click trigger to select files.
            headers: {
                'X-CSRF-Token': document.querySelector('meta[name="_csrf"]').getAttribute('content')
            },
            fallback: function() { // 지원하지 않는 IE 10 미만일 경우
                document.getElementById('dropZoneFiles').style.display = 'none';
            },
            init: function () { // 드랍존 초기화시 사용할 이벤트 리스너 등록
                let _self = this;

                _self.on('addedfile', function (file) {
                    //확장자 검사
                    let isAccepted = false;
                    let acceptedFileArr = _self.options.acceptedFiles.split(',');
                    let fileDotIdx = file.name.lastIndexOf('.');
                    const fileExtension = file.name.substring(fileDotIdx, file.name.length);
                    if (acceptedFileArr.indexOf(fileExtension) > -1) {
                        isAccepted = true;
                    }

                    if (!isAccepted) {
                        if (file.previewElement != null && file.previewElement.parentNode != null) {
                            file.previewElement.parentNode.removeChild(file.previewElement);
                        }
                        this.files.splice(-1, 1);
                        aliceJs.alert('[[#{fileupload.msg.fileNameExtensionNotExist}]]');
                    }

                    let isDuplicated = false;  //중복된 파일명이 존재하면 업로드를 알림창을 띄운다.
                    if (this.files.length > 0) {
                        for (let i = 0, len = this.files.length - 1 ; i < len; i++) {
                            if (this.files[i].name === file.name && this.files[i].size === file.size) {
                                if (file.previewElement != null && file.previewElement.parentNode != null) {
                                    file.previewElement.parentNode.removeChild(file.previewElement);
                                }
                                this.files.splice(-1, 1);
                                aliceJs.alert('[[#{form.msg.alert.fileNameDuplication}]]');
                                isDuplicated = true;
                                break;
                            }
                        }
                    }
                    let maxFileSizeExceeded = false; //max file size 를 초과하는 경우 알림창을 띄운다.
                    if (_self.options.maxFilesize && file.size > _self.options.maxFilesize * 1024 * 1024) {
                        if (file.previewElement != null && file.previewElement.parentNode != null) {
                            file.previewElement.parentNode.removeChild(file.previewElement);
                            aliceJs.alert(i18n.get('fileupload.msg.maxfilesizeexceeded', _self.options.maxFilesize));
                            maxFileSizeExceeded = true;
                        }
                        this.files.splice(-1, 1);
                    }

                    if (isAccepted && !isDuplicated && !maxFileSizeExceeded) {
                        file.previewElement.querySelector('#dz-filepath').value = file.imgPath;
                        file.previewElement.addEventListener('click', onImageSelectHandler, false);
                        if (typeof file.isNew === 'undefined') {
                            file.status = Dropzone.QUEUED;
                            _self.processQueue(file);
                        }
                    }
                });

                _self.on('removedfile', function (file) {
                    if (file.previewElement.classList.contains('selected')) {
                        selectedImagePreview = null;
                    }
                    const opt = {
                        method: 'DELETE',
                        url: '/rest/forms/imageDelete',
                        params: JSON.stringify({name: file.name, url: file.url}),
                        contentType: 'application/json',
                        callbackFunc: function (response) {
                            if (response.responseText === 'true') {
                                aliceJs.alert('[[#{common.msg.delete.success}]]', function () {
                                    location.reload();
                                });
                            } else {
                                aliceJs.alert(i18n.get('common.msg.delete.fail'));
                            }
                        }
                    };
                    aliceJs.sendXhr(opt);
                });

                _self.on('sending', function (file, xhr, formData) {
                    formData.append('file', file);
                });

                _self.on('success', function (file, response) {
                    if (response === '') { //업로드 실패
                        if (file.previewElement != null && file.previewElement.parentNode != null) {
                            file.previewElement.parentNode.removeChild(file.previewElement);
                        }
                        this.files.splice(-1, 1);
                        aliceJs.alert(i18n.get('form.msg.alert.fileuploadFailed'));
                    } else {
                        file.url = response.imgUrl;
                        file.imgPath = response.imgPath;
                        file.previewElement.querySelector('#dz-filepath').value = file.imgPath;
                    }
                });

                _self.on('error', function (file, message) {
                    file.previewElement.querySelector('.dz-error-message').innerText = message;
                });

                _self.on('complete', function (file) {});

                _self.on('queuecomplete', function (progress) {});

                _self.on('maxfilesexceeded', function (file, maxFiles) {});

                _self.on('maxfilesizeexceeded', function (file, maxFileSize) {});

                //기존 이미지가 존재하면 dropzone에 넣어준다.
                let imageList = JSON.parse('[(${data})]');
                if (imageList) {
                    for (let i = 0; i < imageList.length; i++) {
                        let imageFile = imageList[i];
                        let mockFile = {
                            name: imageFile['fileName'],
                            size: Number(imageFile['fileSize']),
                            url: imageFile['imgUrl'], //절대경로
                            imgPath: imageFile['imgPath'], //상대경로
                            accepted: true,
                            status: Dropzone.ADDED,
                            isNew: false
                        };
                        _self.emit('addedfile', mockFile);
                        _self.emit('thumbnail', mockFile, imageFile['imgPath']);
                        _self.emit('complete', mockFile);
                        _self.files.push(mockFile);
                    }
                }
                //기존 이미지 선택
                initSelectImage();
            },
            accept: function(file, done) { // done 함수 호출시 인수없이 호출해야 정상 업로드 진행
                done();
            }
        });

        //dropzone 영역 클릭시 선택된 이미지 해제
        document.getElementById('dropZoneFileUpload').addEventListener('click', function (e) {
            if (clickInsideElement(e, 'dz-preview')) { return false; }

            if (selectedImagePreview !== null && selectedImagePreview.classList.contains('selected')) {
                selectedImagePreview.classList.remove('selected');
                selectedImagePreview = null;
            }
        }, false);
    };
    /*]]>*/
</script>
</html>
