@font-face {
  font-family: "Noto Sans";
  src: url(font/NotoSansKR-Regular.woff) format('woff');
  font-weight: normal;
}
@font-face {
  font-family: "Noto Sans";
  src: url(font/NotoSansKR-Bold.woff) format('woff');
  font-weight: bold;
}
@font-face {
  font-family: "Noto Sans";
  src: url(font/NotoSansKR-Medium.woff) format('woff');
  font-weight: 500;
}
