.alice-process {
    &-container {
        position: relative;
        width: 100vw;
        height: 100vh;
        min-width: $process-container-min-width;
        min-height: $process-container-min-height;
    }

    &-toolbar {
        width: 100vw;
        min-width: $process-container-min-width;
        height: $process-toolbar-height;
        background-color: $point-blue;
        color: #ffffff;
        padding-top: $process-toolbar-top-bottom-padding;
        padding-bottom: $process-toolbar-top-bottom-padding;
        line-height: 1.0rem;
        display: flex;
        align-items: center;

        .logo {
            width: 13.125rem; // 210px
            height: $process-toolbar-real-height;
            float: left;
            background: {
                color: transparent;
                size: initial;
                repeat: no-repeat;
                position: center center;
                image: url("../media/icons/process/editor/logo.svg");
            };
        }

        .process-designer {
            font-size: 1.125rem; // 18px
            font-weight: 500;
            color: $white;
        }

        a {
            text-decoration: none;
            margin-right: 2.5625rem; // 41px
            height: $process-toolbar-real-height;
            line-height: $process-toolbar-real-height;
            vertical-align: middle;
            float: left;
            display: flex;
            align-items: center;

            img {
                cursor: pointer;
            }
        }

        span.separator {
            width: 0.063rem; // 1px
            height: $process-toolbar-real-height;
            background-color: #3079ff;
            margin: 0 1.25rem; // 20px
            float: left;
        }

        .process-name {
            height: $process-toolbar-real-height;
            line-height: $process-toolbar-real-height;
            //float: right;
            margin-left: auto;
            margin-right: 0.938rem; // 15px
            font-size: 1rem; // 16px
            font-weight: 500;
        }
    }

    &-element-palette {
        display: inline-block;
        width: $process-element-palette-width;
        height: calc(100vh - #{$process-toolbar-height});
        min-height: #{$process-container-min-height - $process-toolbar-height};
        background-color: #ffffff;
        position: absolute;
        top: $process-toolbar-height;
        color: #666f7a;
        box-shadow: 0.063rem 0 0.313rem -0.25rem #182738;

        .rectangle-menu {
            position: relative;
            display: inline-block;
            width: 5.625rem; // 90px
            height: 4.375rem; // 70px
            margin: 0.313rem 0.313rem 0 0.313rem; // 5px
            border: 0.063rem solid $line-gray;
            border-radius: 0.1875rem; // 3px
            background: {
                color: transparent;
                size: initial;
                repeat: no-repeat;
                position: 50% 30%;
            }

            label {
                @include h6();
                position: absolute;
                top: 2.5rem; // 40px
                width: 100%;
                text-align: center;
                color: $light-black;
            }
        }

        .connector {
            position: absolute;
            bottom: 5rem; // 80px
            left: 0;
            label {color: $gray;}
            background: {
                color: $light-gray;
                image: url("../media/icons/process/element/connector.png");
            }
        }

        .connector.selected {
            border-color: $point-blue;
            label {color: $point-blue;}
            background: {
                color: transparent;
                image: url("../media/icons/process/element/connector-select.png");
            }
        }

        .shape.event {
            background-image: url("../media/icons/process/element/event.png");
        }

        .shape.task {
            background-image: url("../media/icons/process/element/task.png");
        }

        .shape.subprocess {
            background-image: url("../media/icons/process/element/subprocess.png");
        }

        .shape.gateway {
            background-image: url("../media/icons/process/element/gateway.png");
        }

        .shape.group {
            background-image: url("../media/icons/process/element/group.png");
        }

        .shape.annotation {
            background-image: url("../media/icons/process/element/annotation.png");
        }

        .move-icon {
            position: absolute;
            bottom: 0.313rem; // 5px
            left: 0;
            label {color: $gray;}
            background: {
                color: $light-gray;
                image: url("../media/icons/process/editor/icon-background.png");
            }
        }

        .move-icon.selected {
            border-color: $point-blue;
            label {color: $point-blue;}
            background: {
                color: transparent;
                image: url("../media/icons/process/editor/icon-background-select.png");
            }
        }
    }

    &-drawing-board {
        display: inline-block;
        position: absolute;
        top: $process-toolbar-height;
        left: $process-element-palette-width;
        width: calc(100vw - #{$process-element-palette-width + $process-properties-panel-width});
        min-width: #{$process-container-min-width - ($process-element-palette-width + $process-properties-panel-width)};
        height: calc(100vh - #{$process-toolbar-height});
        min-height: #{$process-container-min-height - $process-toolbar-height};
        overflow: hidden;

        div.minimap {
            background-color: #ffffff;
            display: inline-block;
            width: 12.5rem; // 200px
            height: 9.375rem; // 150px
            overflow: hidden;
            position: absolute;
            bottom: 0.625rem; // 10px
            right: 3.125rem; // 50px
            box-shadow: -0.063rem 0 0.313rem -0.25rem #def9f7, // -1px 0 5px -4px #def9f7
            0.063rem 0 0.313rem -0.25rem #def9f7; // 1px 0 5px -4px #def9f7

            svg {
                position: absolute;
                top: 1.25rem; // 20px
                left: 1.25rem; // 20px
                background-color: #eef2f7;
                border: 1px solid #c8ced8;

                rect.minimap-guide {
                    fill: #A3B6CC;
                    fill-opacity: 0.25;
                    stroke-width: 0;
                }
            }

            &.closed {
                display: none;
            }

            &-button {
                display: inline-block;
                width: 2.5rem; // 40px
                height: 2.5rem; // 40px
                position: absolute;
                bottom: 0.625rem; // 10px
                right: 0.625rem; // 10px
                cursor: pointer;

                .icon-minimap-border {
                    fill: #ffffff;
                    stroke: #ebebeb;
                }

                .icon-minimap {
                    fill: #ccced1
                }

                &.active {
                    .icon-minimap-border {
                        stroke: #0098ff;
                    }

                    .icon-minimap {
                        fill: #0098ff;
                    }
                }
            }
        }


        .simulation-report {
            position: absolute;
            width: 63.75rem; // 1020px
            height: 22.688rem; // 363px
            display: block;
            background-color: #ffffff;
            overflow: hidden;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            border: solid 1px #ebebeb;

            .title {
                height: 3.375rem;
                border-bottom: solid 1px #ebebeb;
                font-size: 1.125rem;
                padding: 1.063rem;

                &-text {
                    display: inline-block;
                }

                &-close {
                    display: inline-block;
                    width: 16px;
                    height: 18px;
                    float: right;
                    background: {
                        image: url("../media/icons/process/editor/icon-simulation-close.svg");
                        position-y: center;
                        repeat: no-repeat;
                    };
                    cursor: pointer;
                }
            }

            .contents {
                position: relative;
                height: calc(100% - 3.375rem);
                font-size: 1.125rem;

                .result {
                    margin: 0.938rem;

                    &.success {
                        color: #00c462;
                    }

                    &.failed {
                        color: #ff405a;
                    }
                }

                .details {
                    font-size: 1rem;
                    color: #586872;

                    div {
                        margin: 0.313rem 0 0.313rem 0.75rem;

                        &.failed {
                            color: #ff405a;
                        }
                    }

                    &-number-of, &-result, &-element-info, &-failed-message {
                        margin-left: 0.313rem;
                    }
                }
            }

            &.closed {
                display: none;
            }

            &-icon {
                position: absolute;
                width: 2.5rem; // 40px
                height: 2.5rem; // 40px
                bottom: 3.438rem; // 55px
                right: 0.625rem; // 10px
                display: inline-block;
                cursor: pointer;

                .icon-eye-bg {
                    fill: #fff;
                    stroke: #ebebeb;
                }

                .icon-eye {
                    fill: #CCCED1;
                }

                &.active {
                    .icon-eye-bg {
                        stroke: #0098ff;
                    }

                    .icon-eye {
                        fill: #0098ff;
                    }
                }
            }

            &:active {
                border: solid 0.063rem #0098ff;
            }
        }
    }

    &-properties-panel {
        display: inline-block;
        background-color: #fafbfd;
        width: $process-properties-panel-width;
        height: calc(100vh - #{$process-toolbar-height});
        min-height: #{$process-container-min-height - $process-toolbar-height};
        position: absolute;
        top: $process-toolbar-height;
        right: 0;
        box-shadow: -0.063rem 0 0.313rem -0.25rem #def9f7; // -1px 0 5px -4px #def9f7

        h3 {
            margin: 1.25rem 0 1rem 1.5625rem; // 20px 0 16px 25px
        }
        h3 span {
            padding-right: 0.625rem;
            @include h5();
            color: $hover-blue;
            font-weight: 500;
        }

        div.properties-container {
            height: calc(100vh - #{$process-toolbar-height});

            div.element-title {
                height: 2.5rem; // 40px
                background-color: $hover-blue;

                h2 {
                    @include h5();
                    color: $white;
                    font-weight: 500;
                    padding: 0.719rem 0 0.719rem 0.938rem; // 11.5px 0 11.5px 15px
                }
            }

            div.element-properties {
                height: calc(100vh - #{$process-toolbar-height} - 2.5rem);
                overflow: auto;

                fieldset {
                    border: 0.063rem solid #c8ced8;
                    padding: 0.5rem; // 8px
                    margin: {
                        right: 1.25rem; // 20px
                        left: 1.25rem; // 20px
                        bottom: 0.5rem; // 8px
                    }

                    legend {
                        width: 6.25rem; // 100px
                        height: 1.875rem; // 30px

                        input {
                            margin: 0 0.3125rem; //5px
                        }

                        label {
                            font: {
                                size: 0.688rem; // 11px
                                weight: bold;
                            }
                        }
                    }

                    div.properties {
                        margin: 0;

                        label {
                            width: 4.375rem; // 70px
                        }
                    }
                }

                div.properties {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    margin: {
                        top: 1rem; // 16px
                        left: 1.5625rem; // 25px
                        right: 1.5625rem; // 25px
                    }

                    font: {
                        size: 0.688rem; // 11px
                    }

                    label {
                        display: inline-block;
                        width: 100%;
                        vertical-align: top;
                        margin-bottom: 0.5625rem; // 9px
                        @include h5();
                        font-weight: 500;
                        color: $light-black;
                        &.required::after {
                            color: #E83828;
                            content: "\002a"; // *
                        }
                    }

                    label.checkbox {
                        width: initial;
                        margin-left: 0.625rem; // 10px
                    }

                    input[type=checkbox] {
                        width: 1.125rem; // 18px
                        height: 1.125rem; // 18px
                        border : 0.0625rem solid $line-gray;
                    }

                    input,
                    textarea,
                    select {
                        border: 0.063rem solid $line-gray;
                        color: #68717c;
                        padding-left: 0.438rem; // 7px
                        &:focus {
                            border-color: $point-blue;
                        }
                    }

                    input:not([type=checkbox]),
                    textarea,
                    select {
                        width: 100%;
                        @include h5();
                        border-color: $line-gray;
                        &:focus {
                            border-color: $point-blue;
                        }
                    }

                    textarea {
                        height: 7.5rem; // 120px
                        padding: 0.5rem 0.625rem; // 8px 10px
                        &:focus {
                            border-color: $point-blue;
                        }
                    }

                    input:not([type=checkbox]), select {
                        height: 2.5rem; // 40px
                        width: 100%;
                        @include h5();
                        border-color: $line-gray;
                        &:focus {
                            border-color: $point-blue;
                        }
                    }

                    input:read-only {
                        color: $gray;
                        background-color: $light-gray;
                    }

                    input.color,
                    input.copy {
                        flex: 1;
                    }

                    select.candidate {
                        width: 8.563rem; // 137px
                    }

                    input.file {
                        width: 10rem; // 160px
                    }

                    button {
                        border: 0.063rem solid $line-gray;
                        background-color: #ffffff;
                        width: 3.125rem; // 50px
                        height: 1.563rem; // 25px
                        margin-left: 0.188rem; // 3px
                    }

                    table {
                        width: 11.875rem; // 190px
                        margin-top: 0.188rem; // 3px

                        tr {
                            border: {
                                top: 0.063rem solid #c8ced8;
                                bottom: 0.063rem solid #c8ced8;
                            }
                        }

                        thead {
                            th {
                                background-color: #ffffff;
                                text-align: center;
                            }
                        }

                        tbody {
                            tr:nth-child(even) {
                                background-color: #ffffff;
                            }

                            tr:nth-child(odd) {
                                background-color: #eff3f8
                            }

                            td:first-child {
                                padding-left: 0.313rem;
                            }

                            td:last-child {
                                text-align: right;
                                padding-right: 0.313rem;

                                span.remove {
                                    display: inline-block;
                                    width: 1rem; // 16px
                                    height: 1rem; // 16px
                                    border: 0.063rem solid #c8ced8;
                                    background-color: #ffffff;
                                    cursor: pointer;
                                    position: relative;
                                    vertical-align: middle;
                                }

                                span.remove:after {
                                    position: absolute;
                                    left: 0.188rem; // 3px
                                    top: -0.063rem; // -1px
                                    content: '\2212';
                                }
                            }
                        }

                    }

                    @import "_colorpicker.scss";

                    .script-action-container {
                        display: flex;
                        flex-wrap: wrap;

                        .btn-container {
                            width: 100%;
                            padding-top: 0.5rem;

                            &.right {
                                text-align: right;
                            }
                        }

                        .file-tooltip {
                            position: relative;
                            display: inline-block;
                            cursor: pointer;
                            margin-left: 0.188rem; // 3px

                            .file-tooltip-button {
                                display: inline-block;
                                width: 2.5rem; // 40px
                                height: 2.5rem; // 40px
                                border: 0.063rem solid $line-gray;
                                background: {
                                    size: initial;
                                    repeat: no-repeat;
                                    image: url("../media/icons/process/editor/icon-search.png");
                                    position: center center;
                                };
                            }
                        }

                        table {
                            margin-top: 0.5rem; // 8px
                            width: 11.875rem; // 190px

                            tr {
                                border: {
                                    top: 0.063rem solid #c8ced8;
                                    bottom: 0.063rem solid #c8ced8;
                                }
                            }

                            tr:nth-child(even) {
                                background-color: #ffffff;
                            }

                            tr:nth-child(odd) {
                                background-color: #eff3f8
                            }

                            tr > th, td {
                                height: 1.563rem; // 25px
                                vertical-align: middle
                            }

                            tr > td:first-child {
                                padding-left: 0.625rem;
                            }

                            tr > td:last-child {
                                text-align: right;
                                padding-right: 0.625rem;
                            }

                            label {
                                height: 0.938rem; // 15px
                                margin: 0;
                            }
                        }

                        .condition-txt {
                            width: 30%;
                            word-break: break-all;
                        }

                        .file-txt {
                            width: 50%;
                            word-break: break-all;
                        }
                    }

                    .clipboard-tooltip {
                        position: relative;
                        display: inline-block;
                        cursor: pointer;
                        margin-left: 0.3125rem; // 5px

                        .clipboard-tooltip-button {
                            display: inline-block;
                            width: 2.5rem; // 40px
                            height: 2.5rem; // 40px
                            border: 0.063rem solid $line-gray;
                            border-radius: 0.1875rem; // 3px
                            background: {
                                size: initial;
                                repeat: no-repeat;
                                image: url("../media/icons/process/editor/icon-clipboard.png");
                                position: center center;
                            }
                        }

                        .clipboard-tooltip-text {
                            visibility: hidden;
                            width: 8.75rem; //140px
                            background-color: #555;
                            color: #fff;
                            text-align: center;
                            border-radius: 0.375rem; //6px
                            padding: 0.313rem; //5px
                            position: absolute;
                            z-index: 1;
                            bottom: 120%;
                            left: 50%;
                            margin-left: -8.125rem; // -130px
                            opacity: 0;
                            transition: opacity 0.3s;
                        }

                        .clipboard-tooltip-text::after {
                            content: "";
                            position: absolute;
                            top: 100%;
                            left: 50%;
                            margin-left: -0.313rem; //-5px
                            border-width: 0.313rem; //5px
                            border-style: solid;
                            border-color: #555 transparent transparent transparent;
                        }
                    }

                    .clipboard-tooltip:hover {
                        .clipboard-tooltip-text {
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
            }

            div.process-info-container {
                overflow: hidden;

                border: {
                    top: 0.063rem solid $line-gray;
                }
                margin-top: 1.875rem; // 30px
                padding-top: 0.25rem; // 4px

                div.info {

                    margin: {
                        top: 0.5rem; // 8px
                        left: 1.25rem; // 20px
                        right: 1.25rem; // 20px
                    }

                    padding-bottom: 1.3125rem; // 21px

                    font: {
                        size: 0.688rem; // 11px
                    }

                    div.total {
                        @include h5();
                        font-weight: 500;
                        color: $light-black;
                        margin-top: 0.5rem; // 8px
                        text-align: right;
                    }

                    table {
                        @include h5();
                        font-weight: 500;
                        color: $dark-gray;
                        margin-top: 0.5rem; // 8px
                        width: 100%;

                        tr:first-child {
                            border-top: 0.125rem solid $line-gray;
                        }

                        tr > td {
                            height: 2.4375rem; // 39px
                            vertical-align: middle
                        }

                        tr > td:first-child {
                            padding-left: 0.625rem;
                        }

                        tr > td:last-child {
                            text-align: right;
                            padding-right: 0.625rem;
                        }

                        label {
                            height: 0.938rem; // 15px
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}

