$white: #fff;
$alice-font-family: "Noto Sans KR";
$process-toolbar-height: 3.125rem; // 50px
$process-toolbar-top-bottom-padding: 0.563rem; // 9px
$process-toolbar-real-height: $process-toolbar-height - ($process-toolbar-top-bottom-padding * 2);
$process-element-palette-width: 6.25rem; // 100px
$process-properties-panel-width: 18.75rem; // 300px
$process-container-min-width: 75rem;  // 1200px
$process-container-min-height: 41.563rem;  // 665px

// color
$black:            #000000;
$white:            #ffffff;
$red:              #FF405A;
$orange:           #FF7319;
$green:            #00C462;
$focus-black:      #283238;
$ground-black:     #333D47;
$light-black:      #3F4B56;
$dark-gray:        #586872;
$warm-gray:        #7E848C;
$blue-gray:        #929AA6;
$gray:             #ACB4BF;
$pressed-gray:     #CCCED1;
$default-gray:     #E1E3E6;
$line-gray:        #EBEBEB;
$light-gray:       #F7F8F9;
$dark-blue:        #0060A5;
$pressed-blue:     #0088E6;
$point-blue:       #0098FF;
$hover-blue:       #33ADFF;
$light-blue:       #87CEFF;