// Variables

$element-readonly-font-color:                 $gray;
$element-readonly-bg-color:                   $light-gray;
$element-readonly-border-color:               $line-gray;
$element-readonly-border-width:               0.0625rem; // 1px


$white: #ffffff;
$process-header-height: 3.125rem; // 50px
$process-header-top-bottom-padding: 0.563rem; // 9px
$process-header-real-height: $process-header-height - ($process-header-top-bottom-padding * 2);
$process-element-palette-width: 6.25rem; // 100px
$process-properties-panel-width: 18.75rem; // 300px
$process-container-min-width: 75rem;  // 1200px
$process-container-min-height: 41.563rem;  // 665px


// button
$button-font-size:                            16px;
$button-font-weight:                          500; // medium
$button-line-height:                          24px;
$button-font-color:                           $light-black;
$button-border:                               0.0625rem solid transparent;
$button-bg-color:                             transparent;

// color-picker palette
$color-picker-palette-width:                  100%;
$color-picker-palette-margin:                 0.1875rem;  // 3px
$color-picker-palette-padding:                0.9375rem 0 0.9375rem 0.9375rem; // 15px 0 15px 15px
$color-picker-colorchip-size:                 1rem; // 16px
$color-picker-colorchip-margin:               0.1875rem; // 3px
$color-picker-colorchip-border:               0.125rem solid $white; // 2px