<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" th:href="@{/assets/media/icons/zenius.ico}" type="image/x-icon">
    <link th:href="@{/assets/css/alice-portal.css}" rel="stylesheet"/>
    <title th:text="#{error.label.error}"></title>
</head>
<body class="error-body">
<div class="error-div flex-row">
    <div class="error-div-left">
        <img th:src="@{/assets/media/image/error/error_caution.png}"/>
        <img th:src="@{/assets/media/image/error/error_logo_alice.png}" class="error-img">
    </div>
    <div class="error-div-right">
        <h1 th:text="#{error.label.topPhrase}"></h1>
        <h1 th:text="#{error.label.middlePhrase}"></h1>
        <p th:text="|#{error.label.errorCode} : ${error} (${status})|" class="error-code-txt"/>
        <p th:text="#{error.label.bottomPhrase}" class="error-bottom-txt"/>
        <button th:text="#{error.btn.return}" class="error-btn"></button>
    </div>
</div>
</body>
<script type="text/javascript">
    window.addEventListener('load', function () {
        document.querySelector('.error-btn').addEventListener('click', function () {
            if (window.opener) {
                self.close();
            } else {
                history.go(-1);
            }
        })
    })
</script>
</html>
