<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/portalLayout">
<head>
    <title th:text="#{project.title.error}"></title>
</head>
<body>
<th:block layout:fragment="portalHead"></th:block>
<th:block layout:fragment="portalContent">
    <div class="error-main flex-row">
        <div class="error-background float-left">
            <img th:src="@{/assets/media/images/error/img_error_caution.png}"/>
            <img class="logo"  th:src="@{/assets/media/icons/icon_logo.svg}" width="234" height="40" alt="Zenius ITSM" />
        </div>
        <div class="error-form float-right">
            <h1 th:text="#{error.label.topPhrase}"></h1>
            <h1 th:text="#{error.label.middlePhrase}"></h1>
            <h3 th:text="${message}" class="error-code-txt"></h3>
            <h3 th:text="|#{error.label.errorCode} : ${error} (${status})|" class="error-code-txt"></h3>
            <h3 th:text="#{error.label.bottomPhrase}" class="error-bottom-txt"></h3>
            <button th:text="#{error.btn.return}" class="z-button primary" id="errorButton"></button>
        </div>
    </div>
</th:block>
</body>
<th:block layout:fragment="pageScript">
    <script type="text/javascript">
        window.addEventListener('load', function () {
            document.getElementById('errorButton').addEventListener('click', function () {
                if (window.opener) {
                    self.close();
                } else {
                    history.go(-1);
                }
            })
        })
    </script>
</th:block>
</html>
