<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link th:href="@{/assets/css/alice-bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/assets/vendors/gModal/css/gModal.css}" rel="stylesheet"/>
    <title>Login</title>
</head>
<body>
<form id="loginForm" name="loginForm" th:action="@{/login}" method="post">
    <input type="hidden" id="userId" name="userId"/>
    <input type="hidden" id="password" name="password"/>
</form>
<div class="white-base">
  <img th:src="@{/assets/media/icons/logo_blue.png}" alt="Alice">
  <div class="login-base">
      <p th:text="#{login.label.login}"></p>
      <div class="login-form">
        <img th:src="@{/assets/media/icons/icon_id.png}" alt="Alice">
        <input type="text" id="uid" name="uid" th:placeholder="#{login.label.id}"/>
      </div>
      <div class="login-form">
        <img th:src="@{/assets/media/icons/icon_pass.png}" alt="Alice">
        <input type="password" id="upasswd" name="upasswd" th:placeholder="#{login.label.password}"/>
      </div>
      <div class="login-find">
        <a href="" tabindex="-1" th:text="#{login.label.findId}"></a>
        |
        <a href="" tabindex="-1" th:text="#{login.label.findPassword}"></a>
      </div>
      <button class="btn btn-primary" id="sendLogin" th:text="#{login.btn.login}" onclick="onLogin();"></button>
      <a class="btn btn-danger"  href="/oauth/google/login" th:text="#{login.btn.googleLogin}"></a>
      <a class="btn btn-warning" href="/oauth/kakao/login" th:text="#{login.btn.kakaoLogin}"></a>
  </div>
  <div class="signup-face">
    <p th:text="#{login.label.signupNote}"></p>
    <a class="btn btn-primary" href="/certification/signup" id="userSignUp" th:text="#{login.btn.userSignUp}"></a>
  </div>
  <!--/*@thymesVar id="errorMsg" type=""*/-->
  <div th:text="${errorMsg}"></div>
</div>
<script th:src="@{/assets/vendors/rsa/jsbn.js}"></script>
<script th:src="@{/assets/vendors/rsa/rsa.js}"></script>
<script th:src="@{/assets/vendors/rsa/prng4.js}"></script>
<script th:src="@{/assets/vendors/rsa/rng.js}"></script>
<script th:src="@{/assets/vendors/gModal/js/gModal.js}"></script>
<script th:src="@{/assets/js/util/i18n-alice.js}"></script>
<script th:src="@{/assets/js/util/util-alice.js}"></script>

<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    i18n.initMessages();
    let keyModule = '';
    let keyExponent = '';
    let ipList = /*[[${ipList}]]*/;
    let clientIp = /*[[${clientIp}]]*/;
    let ipSeparator = ".*";
    window.onload = function() {
        if (window.opener) {
            opener.location.reload();
            window.close();
        }
        keyModule = [[${#request.getAttribute('_publicKeyModulus')}]];
        keyExponent = [[${#request.getAttribute('_publicKeyExponent')}]];
        const authFailedMsg = [[${#httpServletRequest.getParameter(\'authfailed\')}]];
        if (authFailedMsg !== null) {
            aliceJs.alert(i18n.get(authFailedMsg), function() {
                document.getElementById('uid').focus();
            });
        } else {
            document.getElementById('uid').focus();
        }
    };

    window.onkeydown = function() {
        if (event.keyCode === 13) {
            onLogin();
        }
    };

    function onLogin() {
        if (document.getElementById('uid').value.trim() === '') {
            aliceJs.error([[#{login.msg.enterId}]]);
            return false;
        }
        if (document.getElementById('upasswd').value.trim() === '') {
            aliceJs.alert([[#{login.msg.enterPassword}]]);
            return false;
        }

        if (!ipAccessCheck()) {
            aliceJs.alert([[#{login.msg.ipAccessDenied}]]);
            return false;
        }

        const rsa = new RSAKey();
        rsa.setPublic(keyModule, keyExponent);
        document.getElementById('userId').value = rsa.encrypt(document.getElementById('uid').value.trim());
        document.getElementById('password').value = rsa.encrypt(document.getElementById('upasswd').value.trim());
        document.loginForm.submit();
    }

    function ipAccessCheck() {
        if (ipList !== null && clientIp !== null) {
            for (var i = 0; i < ipList.length; i++) {
                var comparativeIndex = ipList[i].ipAddr.indexOf(ipSeparator);
                if (clientIp === ipList[i].ipAddr) {
                    return true;
                } else if ((comparativeIndex != -1) && (clientIp.substr(0,comparativeIndex) === ipList[i].ipAddr.substr(0,comparativeIndex))) {
                    return true;
                }
            }
            return false;
        }
        return true;
    }
    /*]]>*/
</script>
</body>
</html>
