<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
</head>
<body>
<form id="loginForm" name="loginForm" th:action="@{/login}" method="post">
    <input type="hidden" id="userId" name="userId"/>
    <input type="hidden" id="password" name="password"/>
</form>
<div>
    <label for="uid" th:text="#{login.uid}"></label> : <input type="text" id="uid" name="uid"/>
    <label for="upasswd" th:text="#{login.upasswd}"></label> : <input type="password" id="upasswd" name="upasswd"/>
    <button id="sendLogin" th:text="#{login.sendLogin}" type="button" onclick="onLogin();"></button>
    <button id="userSignUp" th:text="#{login.userSignUp}" type="button" onclick="location.href='/certification/signup'"></button>
</div>
<div>
    <a href="/oauth/google/login" th:text="#{login.gooleLogin}"></a>
</div>
<div>
    <a href="/oauth/kakao/login" th:text="#{login.KokaoLogin}"></a>
</div>
<!--/*@thymesVar id="errorMsg" type=""*/-->
<div th:text="${errorMsg}"></div>

<script th:src="@{/assets/vendors/rsa/jsbn.js}"></script>
<script th:src="@{/assets/vendors/rsa/rsa.js}"></script>
<script th:src="@{/assets/vendors/rsa/prng4.js}"></script>
<script th:src="@{/assets/vendors/rsa/rng.js}"></script>

<script type="text/javascript" th:inline="javascript">
    var keyModule = "";
    var keyExponent = "";
    
    /*<![CDATA[*/
    window.onload = function() {
        keyModule = [[ ${#request.getAttribute('_publicKeyModulus')}]];
        keyExponent = [[ ${#request.getAttribute('_publicKeyExponent')}]];
        document.getElementById('uid').focus();
    }
    
    document.onkeypress = keyPress;
    function keyPress() {
      var ieKey = window.event.keyCode;
      if (ieKey == 13 ) {
          onLogin();
      }
    }
    
    function onLogin() {
        const rsa = new RSAKey();
        rsa.setPublic(keyModule, keyExponent);
        document.getElementById('userId').value = rsa.encrypt(document.getElementById("uid").value.trim());
        document.getElementById('password').value = rsa.encrypt(document.getElementById("upasswd").value.trim());
        document.loginForm.submit();
    }
/*]]>*/
</script>
</body>
</html>