<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="shortcut icon" th:href="@{/assets/media/images/zenius.ico}" type="image/x-icon">
    <link th:href="@{/assets/css/portal.css}" rel="stylesheet"/>
    <title th:text="#{project.title.sessionInvalid}"></title>
</head>
<body>
<div class="alice-wrapper">
    <div class="portal-container flex-row">
        <div class="session-background float-left">
            <img th:src="@{/assets/media/images/session/img_session_main.png}"/>
            <img class="logo"  th:src="@{/assets/media/icons/icon_logo.svg}" width="234" height="40" alt="Zenius ITSM" />
        </div>
        <div class="session-form float-right">
            <h1 th:text="#{login.msg.sessionExpired}"></h1>
            <div class="flex-row">
                <h1 id="counter" class="session-count-txt"></h1>
                <h1 th:text="#{login.msg.redirectedLoginPage}"></h1>
            </div>
            <a class="btn point-fill session-return" href="/login" id="gotoLoginPage" th:text="#{login.btn.gotoLoginPage}"></a>
        </div>
    </div>
    <form id="logoutForm" name="logoutForm" th:action="@{/logout}" method="post"></form>
</div>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    window.onload = function () {
        let count = [[${counter}]],
            timer;

        setCounter(count);
        document.querySelector('#gotoLoginPage').addEventListener('click', gotoLoginPage);
        const counting = function () {
            clearTimeout(timer);
            if (count !== 1) {
                count -= 1;
                setCounter(count);
                timer = setTimeout(counting, 1000);
            } else {
                gotoLoginPage();
            }
        };
        timer = setTimeout(counting, 1000);

        function setCounter(count) {
            document.querySelector('#counter').textContent = count;
        }

        function gotoLoginPage() {
            clearTimeout(timer);
            const logoutForm = document.getElementById('logoutForm');
            if (!window.opener && '[[${redirectUrl}]]' !== '') {
                let prev = document.createElement('input');
                prev.setAttribute('type', 'hidden');
                prev.setAttribute('name', 'redirectUrl');
                prev.setAttribute('value', [[${redirectUrl}]]);
                logoutForm.appendChild(prev);
            }
            if (window.opener) {
                window.opener.name = 'alice_web';
                logoutForm.target = window.opener.name;
            }
            logoutForm.submit();
            if (window.opener) {
                window.close();
            }
        }
    };
    /*]]>*/
</script>
</body>
</html>
