<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="shortcut icon" th:href="@{/assets/media/icons/zenius.ico}" type="image/x-icon">
    <link th:href="@{/assets/css/alice-portal.css}" rel="stylesheet"/>
</head>
<body class="session-body">
<div class="session-div flex-row">
    <div class="session-div-left">
        <img th:src="@{/assets/media/image/session/session_screen.png}"/>
        <img th:src="@{/assets/media/image/session/session_logo_alice.png}" class="session-img">
    </div>
    <div class="session-div-right">
        <h1 th:text="#{login.msg.sessionExpired}"></h1>
        <div class="flex-row">
            <h1 id="counter" class="session-count-txt"></h1>
            <h1 th:text="#{login.msg.redirectedLoginPage}"></h1>
        </div>
        <button id="gotoLoginPage" th:text="#{login.btn.gotoLoginPage}" th:onclick="location.href='/login'"
                class="session-btn"></button>
    </div>
</div>
<form id="logoutForm" name="logoutForm" th:action="@{/logout}" method="post"></form>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    window.onload = function () {
        let count = [[${counter}]],
            timer;

        setCounter(count);
        document.querySelector('#gotoLoginPage').addEventListener('click', gotoLoginPage);
        const counting = function () {
            clearTimeout(timer);
            if (count !== 1) {
                count -= 1;
                setCounter(count);
                timer = setTimeout(counting, 1000);
            } else {
                gotoLoginPage();
            }
        };
        timer = setTimeout(counting, 1000);

        function setCounter(count) {
            document.querySelector('#counter').textContent = count;
        }

        function gotoLoginPage() {
            clearTimeout(timer);
            const logoutForm = document.getElementById('logoutForm');
            if (!window.opener && '[[${redirectUrl}]]' !== '') {
                let prev = document.createElement('input');
                prev.setAttribute('type', 'hidden');
                prev.setAttribute('name', 'redirectUrl');
                prev.setAttribute('value', [[${redirectUrl}]]);
                logoutForm.appendChild(prev);
            }
            if (window.opener) {
                window.opener.name = 'alice_web';
                logoutForm.target = window.opener.name;
            }
            logoutForm.submit();
            if (window.opener) {
                window.close();
            }
        }
    };
    /*]]>*/
</script>
</body>
</html>
