/* _chart.scss
 *
 * 파일 경로 : components/_chart.scss
 * @description Highcharts custom design 을 위해 추가됨
 * @author jy.lim
 * @version 1.0
 */
// Pie chart
.highcharts-pie {
  &-series {
    &.highcharts-legend-item {
      > span {
        @include border(0.0625rem, solid, $gray200, bottom); // 1px
        width: 20.75rem; // 332px
        height: 2.625rem; // 43px
        padding: 0 10px;
        color: $neutral800;
        font-size: $font-size-xs !important;
        font-weight: $font-weight-medium !important;
        &:hover {
          background: $neutral200 no-repeat 0 0;
          color: inherit !important;
        }
      }
      &:first-child > span {
        @include border(0.125rem, solid, $gray300, bottom); // 2px
        pointer-events: none;
      }
      &:last-child > span {
        @include border(0.0625rem, solid, $gray300, bottom); // 1px
      }
      rect { display: none; }
      .highcharts-legend-row { margin: 0.875rem 0.625rem; } // 14px 10px
    }
  }
}
.highcharts-total {
  width: 10rem; // 160px
  color: $gray500;
  text-align: center;
  font-size: $font-size-xs;
  font-weight: $font-weight-regular;
  line-height: 1.1;
  &-count {
    color: $gray800;
    font-size: 3.25rem; // 52px
  }
}
