/* _context-menu.scss
 *
 * 파일 경로 : components/_context-menu.scss
 * @description 드롭다운 디자인
 * @author Woo Da Jung <wdj@brainz.co.kr>
 * @version 1.0
 */

$contextMenu: (
  'default': ('font': $gray800, 'background': $white, 'border': $white),
  'hover': ('font' : $gray800, 'background': $blue50, 'border': $blue50),
  'focus': ('font': $gray800, 'background': $white, 'border': $blue600, 'shadow': 0 0 0.125rem $blue600),
  'active': ('font': $blue700, 'background': $blue100, 'border': $blue100)
);

// ... 메뉴 클릭시 드롭다운
.context-menu {
  @include relative();

  span[class*="ic-"] { pointer-events: none; }

  .context-menu__toggle {
    padding: 0.25rem; // 4px

    &.on {
      + .context-menu__content {
        display: flex;
      }
    }
  }

  .context-menu__content {
    @include border(0.0625rem, solid, $gray300, all); // 1px
    @include borderRadius(0.125rem); // 2px
    display: none;
    flex-direction: column;
    min-width: 5rem; // 80px
    margin: 0;
    padding: 0 0.25rem 0.25rem 0.25rem; // 0 4px 4px 4px
    background-color: $white;
    z-index: $z-index-between-tooltip-gnb;

    &.left-top {
      @include absolute(0, auto, auto, 0);
      @include translate(0, calc(-100%)); // 10px

      .context-menu__item {
        .btn__text--box { text-align: left; }
      }
    }

    &.left-bottom {
      @include absolute(auto, auto, auto, 0);

      .context-menu__item {
        .btn__text--box { text-align: left; }
      }
    }

    &.right-top {
      @include absolute(0, 0, auto, auto);
      @include translate(0, calc(-100%)); // 10px

      .context-menu__item {
        .btn__text--box { text-align: right; }
      }
    }

    &.right-bottom {
      @include absolute(auto, 0, auto, auto);

      .context-menu__item {
        .btn__text--box { text-align: right; }
      }
    }

    .context-menu__item {
      padding: 0.25rem 0 0 0; // 4px 0 0 0
      .btn__text--box {
        width: 100%;
        border-color: map-get($contextMenu, 'default', 'border');
        background-color: map-get($contextMenu, 'default', 'background');
        color: map-get($contextMenu, 'default', 'font');
        font-weight: $font-weight-medium;
        font-size: $font-size-xs;
        padding: 0.625rem 0.75rem; // 10px 12px
        @if map-get($contextMenu, 'default', 'shadow') != null {
          box-shadow: map-get($contextMenu, 'default', 'shadow');
        }
        &:focus {
          border-color: map-get($contextMenu, 'focus', 'border');
          background-color: map-get($contextMenu, 'focus', 'background');
          color: map-get($contextMenu, 'focus', 'font');
          outline: 0;
          @if map-get($contextMenu, 'focus', 'shadow') != null {
            box-shadow: map-get($contextMenu, 'focus', 'shadow');
          }
        }

        &:hover {
          border-color: map-get($contextMenu, 'hover', 'border');
          background-color: map-get($contextMenu, 'hover', 'background');
          color: map-get($contextMenu, 'hover', 'font');
          outline: 0;
          @if map-get($contextMenu, 'hover', 'shadow') != null {
            box-shadow: map-get($contextMenu, 'hover', 'shadow');
          }
          text-decoration: none;
        }

        &:enabled:active,
        &:enabled.active {
          border-color: map-get($contextMenu, 'active', 'border');
          background-color: map-get($contextMenu, 'active', 'background');
          color: map-get($contextMenu, 'active', 'font');
          z-index: 25;
          @if map-get($contextMenu, 'active', 'shadow') != null {
            box-shadow: map-get($contextMenu, 'active', 'shadow');
          }
        }
      }
    }
  }
}