/* _pagination.scss
 *
 * 파일 경로 : components/_pagination.scss
 * @description 페이징 목록 디자인
 * @author Jung Hee Chan
 */
.pagination {
  padding: 1.875rem 3.75rem; // 30px 60px
  font-family: $font-family;
  font-size: $font-size-xs;
  line-height: 1.5rem;

  &__link {
    a {
      @include border(0.0625rem, solid, $gray300, all); // 1px
      display: inline-block;
      min-width: 1.5625rem; // 25px
      height: 100%;
      border-left: 0;
      color: $gray800;
      font-weight: $font-weight-regular;
      text-align: center;
      &:hover {
        background-color: $blue100;
        color: $gray800;
      }
      &:active {
        background-color: $gray100;
        color: $blue700;
        font-weight: $font-weight-bold;
      }
      &.selected {
        background-color: $gray100;
        color: $blue700;
        font-weight: $font-weight-bold;
      }
    }
  }

  &__btn__ic {
    &--arrow {
      @include border(0.0625rem, solid, $gray300, all); // 1px
      cursor: text;
      &:not(:first-child) { border-left: 0; }
      &.active {
        cursor: pointer;
        span[class*="ic-"] { background: $blue700; }
      }
    }
  }

  #pagingStartArrow {
    border-top-left-radius: 0.15rem; // 1.5px
    border-bottom-left-radius: 0.15rem;
  }
  #pagingEndArrow {
    border-top-right-radius: 0.15rem; // 1.5px
    border-bottom-right-radius: 0.15rem;
  }
  #spanCurrentPageNum {
    @include absolute($right: 3.75rem);
    color: $neutral600;
    font-weight: $font-weight-medium;
  }
}