/* _thumbnail.scss
 *
 * 파일 경로 : components/_thumbnail.scss
 * @description 썸네일 디자인
 * @author Woo Da Jung <wdj@brainz.co.kr>
 * @version 1.0
 */

// 레이아웃
.thumbnail-main {
  padding: 0;
  color: $gray500;
  font-family: $font-family;
  font-size: $font-size-xs;
  font-weight: $font-weight-medium;

   // 썸네일
  .thumbnail {
    @include border(0.0625rem, solid, $gray300, all);
    display: inline-block;
    overflow: hidden;
    width: 15rem; // 240px;
    height: 18.13rem; // 290px;
    margin: 0.625rem; // 10px
    padding: 0;
    background-color: $white;
    cursor: pointer;

    &:hover {
      @include border(0.0625rem, solid, $blue500, all);
      background-color: $white;
    }

    &.selected {
      @include border(0.0625rem, solid, $blue600, all);
      @include boxShadow(0, 0, 0.125rem, 0, $blue600); // 2px
      background-color: $white;
    }
    // 썸네일 이미지
    .thumbnail-image,
    .thumbnail-file {
      @include relative();
      display: inline-block;
      width: 100%;
      height: 9.063rem; // 145px
      background-size: auto;
      background-repeat: no-repeat;
      background-position: center center;
      img {
        @include absolute(0, 0, 0, 0);
        margin: auto;
      }
    }
    // 썸네일 정보
    .thumbnail-info {
      height: 6.563rem; // 105px
      padding: 0.75rem 0.9375rem; // 12px 15px

      .thumbnail-info-text {
        height: 1.5rem; // 24px
        line-height: 1.5rem; // 24px

        label { display: block; }

        &:first-child {
          label {
            color:  $gray800;
            font-weight: $font-weight-bold;
            cursor: pointer;
          }
          // 더블 클릭시 fileName 수정 가능
          .input {
            display: none;
            height: 1.875rem; // 30px
            float: left;
          }
        }
      }
    }
    // 생성일, 삭제 버튼
    .thumbnail-bottom {
      @include border(0.0625rem, solid, $gray300, top);
      height: 2.5rem; // 40px
      padding: 0 0.625rem 0 0.9375rem; // 0 10px 0 15px
      line-height: 2.5rem;

      // 삭제 버튼
      .btn__ic {
        padding: 0;
        height: 2.5rem; // 40px
        .ic-delete { background: $gray400; }
      }
    }
  }
  // 썸네일 파일 업로드
  .thumbnail-upload {
    @include border(0.0625rem, solid, $gray300, all);
    display: inline-block;
    overflow: hidden;
    width: 15rem; // 240px;
    height: 18.13rem; // 290px;
    margin: 0.625rem; // 10px
    padding: 5.313rem 0 0 0; // 85px
    background-color: $neutral50;
    box-shadow: none;
    cursor: pointer;

    .thumbnail-upload-text {
      color: $blue500;
      font-weight: $font-weight-bold;
    }

    &:hover {
      @include border(0.0625rem, solid, $blue500, all);
      background-color: $blue100;
    }
  }
  // 아이콘
  .ic-file-upload {
    @include maskImage('#{$icon-folder-path}icon_file_upload.svg', 5rem, 5rem, no-repeat, center); // 80px 80px
    background: $gray400;
  }
  // 데이터 없을 때
  .thumbnail-nodata {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: $gray500;
    font-family: $blue500;
    font-size: $font-size-xl;
    font-weight: $font-weight-bold;
  }
}

// 썸네일 모달
.modal__dialog {
  // CMDB > Type icon modal
  &.thumbnail-cmdb-icon {
    top: 15rem; // 240px

    .thumbnail {
      @include boxShadow(0, 0, 0, 0.0625rem, $gray300);
      width: 2.5rem; // 40px
      height: 2.5rem; // 40px
      margin: 0.4375rem; // 7px

      .thumbnail-icon {
        width: 1.5rem; // 24px
        height: 1.5rem; // 24px
        margin: 0.4375rem; // 7px
        background-repeat: no-repeat;
      }
    }
  }
  // 파일 관리 > 미리보기 모달
  &.thumbnail-preview {
    width: 760px; // 760px

    .modal__dialog__header .thumbnail-preview-name { line-height: 1.2; }

    .modal__dialog__body {
      height: calc(645px - 3.875rem - 5rem);
      padding: 30px; // 30px

      .thumbnail-preview-file {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center center;
      }
    }
  }
}


// 썸네일
.grid {
  &__thumbnail {
    @include border(0.0625rem, solid, $gray300, all);
    @include borderRadius(0.25rem); // 4px
    display: inline-block;
    width: 15.625rem; // 250px
    box-shadow: none;
    cursor: pointer;
    overflow: visible;

    &:hover {
      @include border(0.0625rem, solid, $blue500, all);
    }

    &.selected {
      @include border(0.0625rem, solid, $blue600, all);
      @include boxShadow(0, 0, 0.125rem, 0, $blue600); // 2px
    }

    .thumbnail__image {
      @include relative();
      display: inline-block;
      width: 100%;
      height: 6.375rem; // 102px
      background-size: auto;
      background-repeat: no-repeat;
      background-position: center center;
      img {
        @include absolute(0, 0, 0, 0);
        margin: auto;
      }
    }

    .thumbnail__caption {
      padding: 0.5rem 1rem; // 8px 16px

      //파일명
      .thumbnail__caption--title {
        height: 1.25rem; // 20px
        color: $neutral800;
        font-size: $font-size-xs;
        font-weight: $font-weight-medium;
      }

      .thumbnail__caption--description {
        color: $neutral500;
        font-size: $font-size-xxs;
        font-weight: $font-weight-regular;
      }

      // 이름 변경
      .thumbnail__caption--rename {
        display: none;
        width: 100%;
        float: left;
      }
    }

    .thumbnail__footer {
      @include border(0.0625rem, solid, $gray300, top);
      padding: 0 1rem; // 0 16px
      height: 2.375rem; // 38px;

      .thumbnail__footer--description {
        color: $neutral500;
        font-size: $font-size-xxs;
        font-weight: $font-weight-regular;
      }
      [class*="ic-"] { background: $neutral500; }
    }
  }
}