/* _tooltip.scss
 *
 * 파일 경로 : components/_tooltip.scss
 * @description 툴팁 디자인
 * @author jy.lim
 * @version 1.0
 */

@include keyframe(fadeIn) {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.tooltip {
  @include relative();
  &__box {
    @include absolute($left: 50%);
    @include translate(-50%, 0);
    display: flex;
    height: 1.875rem;
    width: max-content;
    visibility: hidden;
    background-color: $white;
    text-align: center;
    @include borderRadius(0.0625rem);
    @include border(0.0625rem, solid, $gray300, all);
    @include boxShadow(0, 0, 0.125rem, 0, $gray300); // 2px
    padding: 0.4375rem; // 7px
    margin: 1rem 0 0 0;
    z-index: $z-index-tooltip;

    &.last {
      @include translate(-70%, 0);
      left: 0;
    }
    &.right {
      &-top {
        left: auto;
        right: 0;
        top: 0;
        transform: translate(0, -3rem);
      }
      &-bottom {
        right: 0;
        bottom: 0;
        @include translate(-150%, -15%);
      }
    }

    &__text {
      font-family: $font-family;
      font-size: $font-size-xs;
      color: $gray800;
      font-weight: $font-weight-medium;
    }
  }
  
  // 마우스 오버
  &:hover {
    .tooltip__box {
      visibility: visible;
      @include animation (0s, 0.3s, fadeIn, ease-out);
    }
  }
  
  // info
  &--info {
    @include relative();
    display: inline-block;
    margin-left: 0.3125rem;
    vertical-align: middle;

    .ic-tooltip {
      background: $gray500;
      cursor: pointer;
    }

    .tooltip__box {
      // 툴팁 표시 위치 기본은 우측 하단
      @include absolute($left: 0);
      @include border(0.125rem, solid, $blue500, all);
      @include borderRadius(0.125rem); // 2px
      @include boxShadow(0, 0, 0.125rem, 0, $gray300); // 2px
      width: 28.125rem; // 450px
      height: auto;
      margin: 0.25rem 0 0 0;
      padding: 1.0625rem 0.9375rem 0.9375rem 0.9375rem; // 17px 15px 15px 15px
      color: $blue500;
      transform: none;
      text-align: left;
      visibility: hidden;
      span {
        color: $blue500;
        line-height: 1.5;
        word-break: keep-all;
      }
      // 툴팁 표시 위치 조정 가능
      &.top {
        @include absolute(0, auto, auto, 50%);
        @include translate(-50%, calc(-100% - 0.625rem)); // 10px
      }
      &.right {
        @include absolute(0, 0, auto, auto);
        @include translate(calc(100% + 0.625rem), -50%);
        &-bottom {
          @include absolute(2rem, 0, auto, auto);
          @include translate(0, 0);
        }
      }
      &.bottom {
        @include absolute(auto, auto, auto, 50%);
        @include translate(-50%, 0);
      }
      &.left {
        @include absolute(0, auto, auto, 0);
        @include translate(calc(-100% - 0.625rem), -50%);
      }
    }

    &:hover {
      .tooltip__box {
        @include animation (0s, 0.3s, fadeIn, ease-out);
        visibility: visible;
      }
      .ic-tooltip { background: $blue500; }
    }
  }
}
