/* _tooltip.scss
 *
 * 파일 경로 : components/_tooltip.scss
 * @description 툴팁 디자인
 * @author jy.lim
 * @version 1.0
 */

@include keyframe(fadeIn) {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.z-help-tooltip {
  @include relative();
  display: inline-block;
  margin-left: 0.3125rem;
  vertical-align: middle;

  .z-icon.i-tooltip {
    background: $gray500;
    cursor: pointer;
  }

  .z-tooltip-contents {
    // 툴팁 표시 위치 기본은 우측 하단
    @include absolute($left: auto);
    @include border(0.125rem, solid, $blue500, all);
    @include borderRadius(0.125rem); // 2px
    @include boxShadow(0, 0, 0.125rem, 0, $gray300); // 2px
    width: 28.125rem; // 450px
    margin: 0.25rem 0 0 0;
    padding: 1.0625rem 0.9375rem 0.9375rem 0.9375rem; // 17px 15px 15px 15px
    background-color: $white;
    color: $blue500;
    font-family: $font-family;
    font-size: $font-size-xs;
    z-index: 500;
    visibility: hidden;
    span {
      color: $blue500;
      line-height: 1.5;
      word-break: keep-all;
    }
    // 툴팁 표시 위치 조정 가능
    &.top {
      @include absolute(0, auto, auto, 50%);
      @include translate(-50%, calc(-100% - 0.625rem)); // 10px
    }
    &.right {
      @include absolute(0, 0, auto, auto);
      @include translate(calc(100% + 0.625rem), -50%);
    }
    &.bottom {
      @include absolute(auto, auto, auto, 50%);
      @include translate(-50%, 0);
    }
    &.left {
      @include absolute(0, auto, auto, 0);
      @include translate(calc(-100% - 0.625rem), -50%);
    }
  }

  &:hover {
    .z-tooltip-contents {
      @include animation (0s, 0.3s, fadeIn, ease-out);
      visibility: visible;
    }
    .z-icon.i-tooltip { background: $blue500; }
  }
}

// header tooltip
.z-header-tooltip {
  @include relative();
  .z-header-tooltip-contents {
    @include absolute($left: 50%);
    @include translate(-50%, 0);
    display: flex;
    height: 1.875rem;
    visibility: hidden;
    background-color: $white;
    text-align: center;
    @include borderRadius(0.0625rem);
    @include border(0.0625rem, solid, $gray300, all);
    @include boxShadow(0, 0, 0.125rem, 0, $gray300); // 2px
    margin: 1rem 0 0 0;
    padding: 0.4375rem; // 7px
    background-color: $white;
    text-align: center;
    z-index: 500;
    visibility: hidden;

    &.last {
      @include translate(-70%, 0);
      left: 0;
    }

    .z-header-tooltip-text {
      color: $gray800;
      font-family: $font-family;
      font-size: $font-size-xs;
      font-weight: $font-weight-medium;
    }
  }
  // 마우스 오버
  &:hover {
    .z-header-tooltip-contents {
      @include animation (0s, 0.3s, fadeIn, ease-out);
      visibility: visible;
    }
  }
}

// clipboard - 복사 용도
.z-clipboard-tooltip {
  @include relative();
  display: inline-block;
  margin-left: 0.3125rem; // 5px
  cursor: pointer;

  &:hover {
    .z-clipboard-tooltip-text {
      visibility: visible;
      opacity: 1;
    }
  }

  .z-clipboard-tooltip-text {
    @include absolute($left: 50%, $bottom: 120%);
    @include border(0.125rem, solid, $blue500, all);
    @include borderRadius(0.0625rem);
    @include transition(opacity 0.3s);
    width: 9.375rem; //150px
    margin-left: -8.125rem; // -130px
    padding: 0.313rem; // 5px
    background-color: $white;
    color: $blue500;
    font-family: $font-family;
    font-size: $font-size-xs;
    font-weight: $font-weight-regular;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    z-index: 500;

    &::after {
      @include absolute($top: 100%, $left: 50%);
      content: '';
      margin-left: -0.313rem; // -5px
    }
  }
}

// drawing palette tooltip
.z-palette-tooltip {
  @include relative();
  .z-palette-tooltip-contents {
    @include absolute($left: 50%);
    @include translate(-50%, 0);
    display: flex;
    height: 1.875rem;
    width: max-content;
    visibility: hidden;
    background-color: $white;
    text-align: center;
    @include borderRadius(0.0625rem);
    @include border(0.0625rem, solid, $gray300, all);
    @include boxShadow(0, 0, 0.125rem, 0, $gray300); // 2px
    padding: 0.4375rem; // 7px
    margin: 1rem 0 0 0;
    z-index: 500;

    &.right-bottom {
      right: 0;
      bottom: 0;
      @include translate(-150%, -15%);
    }

    .z-palette-tooltip-text {
      font-family: $font-family;
      font-size: $font-size-xs;
      color: $gray800;
      font-weight: $font-weight-medium;
    }
  }
  // 마우스 오버
  &:hover {
    .z-palette-tooltip-contents {
      visibility: visible;
      @include animation (0s, 0.3s, fadeIn, ease-out);
    }
  }
}
