/* _tree.scss
 *
 * 파일 경로 : componenets/_tree.scss
 * @description 트리 구조 디자인
 * @author wdj
 * @version 1.0
 */
// Level 1
// -------------------------
ul.tree {
  @include userSelect(none);
  margin: 0;
  padding: 0;
  color: $gray800;
  font-family: $font-family;
  font-size:  $font-size-xs;
  font-weight:  $font-weight-medium;
  list-style-type: none;
  cursor: default;

  li {
    @include relative();
    overflow: hidden;
    display: block;
    padding-right: 0.125rem; // 2px
    line-height: 1.875rem; // 30px
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
  }
  // Level 2
  // -------------------------
  ul {
    @include relative();
    @include userSelect(none);
    margin: 0 0 0 calc(0.875rem * 2.3);
    padding: 0;
    list-style-type: none;
    // vertical line
    &:before {
      @include absolute($top: 0, $bottom: 0);
      @include border(0.0625rem, solid, $gray300, left);
      content: '';
    }

    li {
      padding-left: calc((0.875rem / 2) + 0.5rem + (1.438rem / 2));
      // horizontal line
      &:before {
        @include absolute($top: (1.875rem / 2), $left: 0); // 30px half of line-height
        @include border(0.0625rem, solid, $gray300, top);
        content: '';
        width: calc((0.875rem / 2) + 0.5rem + (1.438rem / 2));
        height: 0.0625rem; // 1px
      }
       // cover the excess line
       &:last-child:before {
         @include border(0.0625rem, solid, $white, left);
         top: (1.875rem / 2); // 30px
         bottom: 0;
         height: auto;
      }
    }
  }
  label { color: $gray800; }
}

img {
  // +, - 아이콘
  &.exp_col { cursor: pointer; }
  &.exp_col_empty {
    width: 1rem; // 16px
    cursor: pointer;
  }
  // 폴더 아이콘
  &.icon_tree {
    margin-top: -0.188rem; // 3px
    padding-left: 0.188rem; // 3px
    vertical-align: middle;
  }
}

span.node {
  @include border(0.0625rem, solid, transparent, all);
  padding: 0.25rem 0.188rem 0.25rem 0; // 4px 3px 4px 0
  cursor: pointer;
  &:hover {
    @include borderRadius(0.125rem); // 2px
    background-color: $blue100;
  }
  label {
    padding-left: 0.5rem; // 8px
    cursor: pointer;
  }
}
// 노드 선택시
span.node_selected,
span.modal_node_selected,{
  @include border(0.0625rem, solid, transparent, all);
  padding: 0.25rem 0.188rem 0.25rem 0; // 4px 3px 4px 0
  background-color: transparent;
  cursor: pointer;
  label {
    padding-left: 0.5rem; // 8px
    color: $blue500;
    cursor: pointer;
  }
}

// 트리 전용 모달
.tree-container {
  @include relative();
  margin: 1.875rem 2.5rem; // 30px 40px
  font-family: $font-family;

  .tree-title {
    @include border(0.0625rem, solid, $gray300, bottom);
    height: 2.5rem; // 40px
    color: $gray800;
    font-size:  1.5rem; // 24px;
    font-weight:  $font-weight-medium;
  }

  .tree-list {
    height: 32.5rem; // 520px
    margin-top: 0.625rem; // 10px
  }

  .tree-nodata {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: $gray800;
    text-align: center;
    font-size: $font-size-xs;
    font-weight: $font-weight-medium;
  }
}
