/* _validation.scss
 *
 * 파일 경로 : components/_validation.scss
 * @description validation message
 * @author jy.lim
 * @version 1.0
 */

// 필수 (*) 표시
.required {
  &::after {
    content: '\002a'; // *
    margin-left: 0.1875rem;
    color: $red500;
    font-weight: $font-weight-bold;
  }
}

.validation {
  display: inherit;
  height: 2rem;
  margin: 0.25rem 0; // 4px 0px
  padding: 0.375rem 0.375rem 0.375rem 2.5rem; // 6px 6px 6px 40px

  &.default {
    @include border(0.0625rem, solid, $gray400, all);
    @include backgroundImage('#{$icon-folder-path}validation/icon_default.svg', null, no-repeat, 1rem, center, null);
    @include boxShadow(0, 0, 0.125rem, 0, $gray300);
    background-color: $white;
    color: $neutral800;
  }
  &.info {
    @include border(0.0625rem, solid, $blue100, all);
    @include backgroundImage('#{$icon-folder-path}validation/icon_info.svg', null, no-repeat, 1rem, center, null);
    background-color: $blue100;
    color: $blue500;
    .icon.i-remove { background: $blue500; }
  }
  &.error {
    @include border(0.0625rem, solid, $red50 !important, all);
    @include backgroundImage('#{$icon-folder-path}validation/icon_error.svg', null, no-repeat, 1rem, center, null);
    background-color: $red50;
    color: $red500;
    .icon.i-remove { background: $red500; }
  }
  &.success {
    @include border(0.0625rem, solid, $green100, all);
    @include backgroundImage('#{$icon-folder-path}validation/icon_success.svg', null, no-repeat, 1rem, center, null);
    background-color: $green100;
    color: $green600;
    .icon.i-remove { background: $green600; }
  }

  .icon.i-remove {
    padding-right: 0.9375rem; // 15px
    background: $gray500;
  }
}

