<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/itsm/pageType/pagingListLayout">
<head>
    <title th:text="#{sla.metric.label.metricStatus}"></title>
</head>
<body>
<div layout:fragment="pageTitle">
    <h1 th:text="#{sla.metric.label.metricStatus}"></h1>
</div>
<div layout:fragment="pageSearching">
    <form id="searchFrm">
        <select id="statusMetricYear" class="flex-column col-2 mr-1">
            <option th:each="years: ${yearsList}" th:text="${metricYears}" th:value="${metricYears}" ></option>
        </select>
        <select id="statusMetricName" class="flex-column col-2 mr-1">
            <option th:each="years: ${yearsList}" th:text="${metricName}" th:value="${metricId}" ></option>
        </select>
        <div class="flex-row mr-auto">
            <label class="z-radio" for="lineChart" tabindex="0">
                <input id="lineChart" type="radio" name="type"
                       th:checked="${chartType == 'chart.basicLine'}"
                       th:classappend="${view} ? 'readonly'"
                       th:disabled="${view}"
                       th:readonly="${view}">
                <span></span>
                <span class="z-label mr-4" th:text="#{sla.chart.line}"></span>
            </label>
            <label class="z-radio" for="column" tabindex="0">
                <input id="column" type="radio" name="type" th:checked="${chartType == 'chart.lineLine'}"
                       th:classappend="${view} ? 'readonly'"
                       th:disabled="${view}"
                       th:readonly="${view}">
                <span></span>
                <span class="z-label" th:text="#{sla.chart.column}"></span>
            </label>
        </div>
        <th:block th:replace="layout/itsm/fragment/totalCountFragment :: totalCountFragment"></th:block>
    </form>
</div>
<div layout:fragment="pageList">
    <div class="z-list-content flex-row" id="metricStatusChart"></div>
</div>
</body>
<script layout:fragment="pageScript" th:inline="javascript">
    /*<![CDATA[*/
    window.onload = function () {
        getList();
    };

    /**
     * 지표별 SLA 현황
     */
    function getList() {
        let urlParam = '/rest/sla/metric-status?metricId='
                        + document.getElementById('statusMetricName').value
                        + '&year=' + document.getElementById('statusMetricYear').value
                        + '&chartType=' + document.getElementById('statusMetricYear').value;
        aliceJs.fetchText(urlParam, {
            method: 'GET'
        }).then((htmlData) => {
            const chartBody = document.getElementById('metricStatusChart')
            chartBody.innerHTML = htmlData;
        });
    }
    /*]]>*/
</script>
</html>