<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/itsm/pageType/pagingListLayout">
<head>
    <title th:text="#{sla.metric.label.metricStatus}"></title>
</head>
<body>
<div layout:fragment="pageTitle">
    <h1 th:text="#{sla.metric.label.metricStatus}"></h1>
</div>
<div layout:fragment="pageSearching">
    <form id="searchFrm">
        <input type="text" class="z-input i-date-picker search-date col-3 mr-2" id="year" name="year"/>
        <th:block th:replace="layout/itsm/fragment/totalCountFragment :: totalCountFragment"></th:block>
        <span class="font-bold text-red500 pl-1" id="weightValueScore" th:text="#{sla.metricYear.msg.totalScore}"></span>
    </form>
</div>
<div layout:fragment="pageList">
    <div class="z-list-content flex-row" id="metricStatusChart"></div>
</div>
</body>
<script layout:fragment="pageScript" th:inline="javascript">
    /*<![CDATA[*/
    window.onload = function () {
        getList();
    };

    /**
     * 연도별 SLA 지표관리 검색
     */
    function getList() {
        let urlParam = '';
        aliceJs.fetchText(urlParam, {
            method: 'GET'
        }).then((htmlData) => {
            const chartBody = document.getElementById('metricStatusChart')
            chartBody.innerHTML = htmlData;
        });
    }
    /*]]>*/
</script>
</html>