<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layout/defaultLayout">
<head>
    <title th:text="#{cmdb.attribute.label.view}"></title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="flex-column edit">
        <div class="cmdb-attribute-header">
            <div class="header-title flex-row align-items-baseline">
                <h1 th:text="#{cmdb.attribute.label.name}"></h1>
                <h6 class="description" th:text="#{cmdb.attribute.msg.viewDescription}"></h6>
            </div>
        </div>
        <div class="cmdb-attribute-content-edit">
            <div class="flex-column edit-row">
                <label for="attributeName">
                    <span th:text="#{cmdb.attribute.label.name}"></span>
                    <span class="required"></span>
                </label>
                <input type="text" id="attributeName" required="required" maxlength="100"
                       th:value="${attribute?.attributeName}"/>
            </div>
            <div class="flex-column edit-row">
                <label for="attributeDesc">
                    <span th:text="#{cmdb.attribute.label.description}"></span>
                </label>
                <textarea id="attributeDesc" name="attributeDesc" maxlength="250" rows="5"
                          class="textarea-scroll-wrapper" th:text="${attribute?.attributeDesc}"></textarea>
            </div>
            <div class="flex-column edit-row">
                <label for="attributeText">
                    <span th:text="#{cmdb.attribute.label.label}"></span>
                </label>
                <input type="text" id="attributeText" maxlength="100"
                       th:value="${attribute?.attributeText}"/>
            </div>
            <div class="flex-column edit-row">
                <label for="attributeType">
                    <span th:text="#{cmdb.attribute.label.type}"></span>
                    <span class="required"></span>
                </label>
                <select id="attributeType">
                </select>
            </div>
            <div class="flex-column edit-row">
                <div class="under-bar">
                    <label>
                        <span th:text="#{cmdb.attribute.label.details}"></span>
                        <span class="required"></span>
                    </label>
                </div>
                <div id="details"></div>
            </div>
            <div class="flex-row justify-content-end edit-row">
                <div class="btn-list">
                    <button class="point-fill" th:if="${attribute == null}" sec:authorize="hasAuthority('cmdb.attribute.create')"
                            onclick="actionAttribute('post')" th:text="#{common.btn.register}"></button>
                    <button class="point-fill" th:if="${attribute?.attributeId}" sec:authorize="hasAuthority('cmdb.attribute.update')"
                            onclick="actionAttribute('put')" th:text="#{common.btn.modify}"></button>
                    <button class="default-fill" th:if="${attribute?.attributeId}" sec:authorize="hasAuthority('cmdb.attribute.delete')"
                            th:disabled="${!attribute.enabled}" onclick="actionAttribute('delete')" th:text="#{common.btn.delete}"></button>
                    <a class="btn default-line" href="/cmdb/attributes/search" th:text="#{common.btn.list}"></a>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
<th:block layout:fragment="pageScript">
    <script th:src="@{/assets/js/cmdb/cmdb.attribute.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        const STATUS_SUCCESS = '0';
        const STATUS_ERROR_CMDB_ATTRIBUTE_NAME_DUPLICATION = '1';

        window.onload = function () {
            const attributeType = /*[[${attribute?.attributeType}]]*/ null;
            let attributeTypeObject = document.querySelector('#attributeType');
            for (let i = 0; i < attribute.attributeTypeList.length; i++) {
                const option = document.createElement('option');
                option.text = attribute.attributeTypeList[i].name
                option.value = attribute.attributeTypeList[i].type
                if (attributeType != null && option.value === attributeType) {
                    option.setAttribute('selected', 'true');
                }
                attributeTypeObject.add(option);
            }
            aliceJs.initDesignedSelectTag();


            OverlayScrollbars(document.querySelectorAll('.edit'), { className: 'scrollbar' });
            OverlayScrollbars(document.querySelectorAll('.textarea-scroll-wrapper'), {
                className: 'scrollbar',
                resize: 'vertical',
                sizeAutoCapable: true,
                textarea: {
                    dynHeight: false,
                    dynWidth: false,
                    inheritedAttrs: "class"
                }
            });
        };

        function emptyCheck() {
            if (isEmpty('attributeName', 'cmdb.attribute.msg.enterAttributeName')) { return false; }
            if (isEmpty('attributeType', 'cmdb.attribute.msg.selectAttributeType')) { return false; }
            return attribute.checkDetails(document.querySelector('#attributeType').value)
        }

        function actionAttribute(method) {
            if (method === 'post' || method === 'put') {
                if (emptyCheck()) {
                    let data = {
                        attributeName: document.querySelector('#attributeName').value,
                        attributeType: document.querySelector('#attributeType').value,
                        attributeText: document.querySelector('#attributeText').value,
                        attributeDesc: document.querySelector('#attributeDesc').value
                    }
                    let url = '/rest/cmdb/attributes';
                    if (method === 'put') {
                        data.attributeId = /*[[${attribute?.attributeId}]]*/'';
                        url += '/' + /*[[${attribute?.attributeId}]]*/'';
                    }
                    // TODO: attributeValue 저장 (attributeType 값에 따른 다른 데이터)

                    restSubmit(method, url, data);
                }
            } else if (method === 'delete') {
                aliceJs.confirmIcon(i18n.msg('common.msg.confirmDelete'), restSubmit, null, 'delete', '/rest/cmdb/attributes/' + /*[[${attribute?.attributeId}]]*/'');
            }
        }

        function restSubmit(method, url, data) {
            const opt = {
                method: method,
                url: url,
                params: JSON.stringify(data),
                contentType: 'application/json',
                callbackFunc: function(response) {
                    if (method === 'post' || method === 'put') {
                        switch (response.responseText) {
                            case STATUS_SUCCESS:
                                aliceJs.alertSuccess(i18n.msg('common.msg.save'), function () {
                                    location.href = '/cmdb/attributes/search';
                                });
                                break;
                            case STATUS_ERROR_CMDB_ATTRIBUTE_NAME_DUPLICATION:
                                aliceJs.alertSuccess(i18n.msg('cmdb.attribute.msg.attributeNameUsed'));
                                break;
                            default :
                                aliceJs.alertDanger(i18n.msg('common.msg.fail'));
                                break;
                        }
                    } else if (method === 'delete'){
                        switch (response.responseText) {
                            case STATUS_SUCCESS:
                                aliceJs.alertSuccess(i18n.msg('common.msg.delete'), function () {
                                    location.href = '/cmdb/attributes/search';
                                });
                                break;
                            default:
                                aliceJs.alertDanger(i18n.msg('common.msg.fail'));
                                break;
                        }
                    }
                }
            };
            aliceJs.sendXhr(opt);
        }
        /*]]>*/
    </script>
</th:block>
</html>
