<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layout/defaultLayout">
<head>
    <title th:text="#{cmdb.class.label.management}"></title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="cmdb-class-header">
        <div class="header-title flex-row align-items-baseline">
            <h1 th:text="#{cmdb.class.label.management}"></h1>
            <h6 class="description" th:text="#{cmdb.class.msg.editDescription}"></h6>
        </div>
        <div class="header-search flex-row">
            <input type="text" class="search col-5 mr-2" id="search" name="search" maxlength="100"
                   th:placeholder="#{cmdb.class.label.searchPlaceholder}"/>
            <span id="totalCount" class="txt-num"></span>
            <div class="ml-auto">
                <button type="button" class="default-fill" id="btnImport" name="btnImport"
                        sec:authroize="hasAuthority('cmdb.class.create')" th:text="#{cmdb.class.btn.import}"></button>
                <button type="button" class="default-fill" id="btnCreate" name="btnCreate" onclick="onCreate();"
                        sec:authorize="hasAuthority('cmdb.class.create')" th:text="#{common.btn.add}"></button>
            </div>
        </div>
    </div>
    <div class="cmdb-class-content flex-fill">
        <div class="list-tree">
            <div id="treeList"></div>
        </div>
    </div>
</th:block>
<th:block layout:fragment="aside">
    <div class="aside">
        <div class="cmdb-class-content-edit flex-column">
            <div class="edit-form">
                <input type="hidden" id="txtClassId" name="txtClassId"/>
                <input type="hidden" id="txtPClassId" name="txtPClassId"/>
                <div class="edit-row flex-column">
                    <label class="form-title" th:text="#{cmdb.class.label.pClassName}" for="txtPClassName"></label>
                    <input type="text" id="txtPClassName" name="txtPClassName" maxlength="128" readonly/>
                </div>
                <div class="edit-row flex-column">
                    <label class="required" th:text="#{cmdb.class.label.name}" for="txtClassName"></label>
                    <input type="text" id="txtClassName" name="txtClassName" maxlength="100"/>
                </div>
                <div class="edit-row flex-column">
                    <label class="form-title" th:text="#{cmdb.class.label.description}" for="txtClassDesc"></label>
                    <textarea id="txtClassDesc" name="txtClassDesc" th:maxlength="500" th:rows="7"
                              class="textarea-scroll-wrapper"></textarea>
                </div>
                <div class="edit-row flex-column">
                    <div class="under-bar">
                        <label>
                            <span class="required" th:text="#{cmdb.class.label.attributeList}"></span>
                            <button type="button" class="default-line plus float-right"
                                    onclick="openClassAttributeListModal()">
                                <span class="icon-plus"></span>
                            </button>
                        </label>
                    </div>
                </div>
                <div id="extendsAttributeList"></div>
                <div id="attributeList"></div>
            </div>
        </div>
        <div class="flex-row justify-content-end">
            <div class="btn-list">
                <button sec:authorize="hasAuthority('cmdb.class.create')"
                        class="default-fill" type="button" id="btnExport" name="btnExport"
                        th:text="#{cmdb.class.btn.export}"></button>
                <button sec:authorize="hasAuthority('cmdb.class.create')"
                        class="point-fill" type="button" id="btnRegist" name="btnRegist"
                        th:onclick="|javascript:onSave('post')|" th:text="#{common.btn.register}"></button>
                <button sec:authorize="hasAuthority('cmdb.class.update')"
                        class="point-fill" type="button" id="btnUpdate" name="btnUpdate"
                        th:onclick="|javascript:onSave('put')|" th:text="#{common.btn.update}"></button>
                <button sec:authorize="hasAuthority('cmdb.class.delete')"
                        class="point-fill" type="button" id="btnDelete" name="btnDelete"
                        th:onclick="|javascript:aliceJs.confirmIcon(i18n.msg('common.msg.confirmDelete'), onDelete)|"
                        th:text="#{common.btn.delete}"></button>
            </div>
        </div>
    </div>
</th:block>
</body>
<th:block layout:fragment="pageScript">
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        const STATUS_SUCCESS = '0';
        const STATUS_SUCCESS_EDIT_CLASS = '1';
        let extendsAttributeList = document.getElementById('extendsAttributeList');
        let attributeList = document.getElementById('attributeList');

        window.onload = function () {
            document.getElementById('search').focus();
            onCreate();

            function getCmdbClassList() {
                tree.load({
                    search: encodeURIComponent(document.getElementById('search').value),
                    source: 'ciClass',
                    target: 'treeList',
                    text: 'className',
                    totalCount: true,
                    selectedNode: function (response) {
                        onGetDetail(response.id)
                    }
                });
            }

            getCmdbClassList();
            document.getElementById('root').click();

            /** CMDB Class 상세 정보 **/
            function onGetDetail(cmdbClassId) {
                const opt = {
                    method: 'get',
                    url: '/rest/cmdb/classes/' + encodeURIComponent(cmdbClassId),
                    callbackFunc: function (response) {
                        let responseJson = JSON.parse(response.responseText);
                        document.getElementById('txtClassId').value = responseJson.classId;
                        document.getElementById('txtPClassId').value = responseJson.pclassId;
                        document.getElementById('txtPClassName').value = responseJson.pclassName;
                        document.getElementById('txtClassName').value = responseJson.className;
                        document.getElementById('txtClassDesc').value = responseJson.classDesc;
                        if (responseJson.editable) {
                            document.getElementById('btnUpdate').removeAttribute('disabled');
                            document.getElementById('btnDelete').removeAttribute('disabled');
                        } else {
                            document.getElementById('btnUpdate').disabled = true;
                            document.getElementById('btnDelete').disabled = true;
                        }
                        while (extendsAttributeList.hasChildNodes()) {
                            extendsAttributeList.removeChild(extendsAttributeList.firstChild);
                        }
                        while (attributeList.hasChildNodes()) {
                            attributeList.removeChild(attributeList.firstChild);
                        }
                        if (responseJson.extendsAttributes !== null) {
                            responseJson.extendsAttributes.forEach(function (data) {
                                drawAttribute({
                                    key: data.attributeId,
                                    value: data.attributeName
                                }, 'extendsAttribute', false);
                            });
                        }
                        if (responseJson.attributes !== null) {
                            responseJson.attributes.forEach(function (data) {
                                drawAttribute({
                                    key: data.attributeId,
                                    value: data.attributeName
                                }, 'attribute', true);
                            });
                        }
                        onEdit();
                    }
                };
                aliceJs.sendXhr(opt);
            }

            OverlayScrollbars(document.querySelector('.list-tree'), {className: 'scrollbar'});
            document.getElementById('search').addEventListener('keyup', function () {
                getCmdbClassList();
            });
            OverlayScrollbars(document.querySelectorAll('.cmdb-class-content-edit'), {className: 'scrollbar'});
            OverlayScrollbars(document.getElementById('txtClassDesc'), {
                className: 'scrollbar',
                resize: 'vertical',
                sizeAutoCapable: true,
                textarea: {
                    dynHeight: false,
                    dynWidth: false,
                    inheritedAttrs: "class"
                }
            });
        };

        /** 추가 버튼 **/
        function onCreate() {
            while (extendsAttributeList.hasChildNodes()) {
                extendsAttributeList.removeChild(extendsAttributeList.firstChild);
            }
            while (attributeList.hasChildNodes()) {
                attributeList.removeChild(attributeList.firstChild);
            }

            document.getElementById('btnUpdate').style.display = 'none';
            document.getElementById('btnDelete').style.display = 'none';
            document.getElementById('btnRegist').style.display = 'block';
            document.getElementById('txtClassId').value = '';
            document.getElementById('txtPClassId').value = '';
            document.getElementById('txtClassName').value = '';
            document.getElementById('txtClassDesc').value = '';
            document.getElementById('btnExport').style.display = 'none';

            let selectedNode = tree.getTreeSelectNode();
            if (selectedNode !== null) {
                document.getElementById('txtPClassName').value = selectedNode.dataset.name;
                document.getElementById('txtPClassId').value = selectedNode.id;
            }
        }

        function onEdit() {
            document.getElementById('btnUpdate').style.display = 'block';
            document.getElementById('btnDelete').style.display = 'block';
            document.getElementById('btnRegist').style.display = 'none';
        }

        /** CMDB Class 등록, 수정 **/
        function onSave(flag) {
            let pClassId = document.getElementById('txtPClassId').value;
            if (isEmpty('txtClassName', 'cmdb.class.msg.enterClassName')) return;
            let attributeList = [];
            document.getElementsByName('attribute').forEach(elem => attributeList.push(elem.id));

            let obj = {};
            obj.classId = document.getElementById('txtClassId').value;
            obj.className = document.getElementById('txtClassName').value;
            obj.classDesc = document.getElementById('txtClassDesc').value;
            obj.attributes = attributeList;

            if (pClassId !== '' || pClassId !== null) {
                obj.pclassId = pClassId;
            }

            let strUrl = '/rest/cmdb/classes';
            if (flag !== 'post') {
                strUrl += '/' + document.getElementById('txtClassId').value;
            }

            const opt = {
                method: flag,
                url: strUrl,
                params: JSON.stringify(obj),
                contentType: 'application/json',
                callbackFunc: function (response) {
                    switch (response.responseText) {
                        case STATUS_SUCCESS:
                            aliceJs.alertSuccess(i18n.msg('common.msg.register'), function () {
                                window.location.href = '/cmdb/class/edit';
                            });
                            break;
                        case STATUS_SUCCESS_EDIT_CLASS:
                            aliceJs.alertSuccess(i18n.msg('common.msg.update'), function () {
                                window.location.href = '/cmdb/class/edit';
                            });
                            break;
                        default:
                            aliceJs.alertDanger(i18n.msg('common.msg.fail'));
                            break;
                    }
                }
            };
            aliceJs.sendXhr(opt);
        }

        /** CMDB Class 삭제 **/
        function onDelete() {
            const opt = {
                method: 'delete',
                url: '/rest/cmdb/classes/' + document.getElementById('txtClassId').value,
                callbackFunc: function (response) {
                    switch (response.responseText) {
                        case STATUS_SUCCESS:
                            aliceJs.alertSuccess(i18n.msg('common.msg.delete'), function () {
                                window.location.href = '/cmdb/class/edit';
                            });
                            break;
                        default:
                            aliceJs.alertDanger(i18n.msg('common.msg.fail'));
                            break;
                    }
                }
            };
            aliceJs.sendXhr(opt)
        }

        function drawAttribute(param, target, editable) {
            const divRow = document.createElement('div');
            divRow.name = 'attributeDiv';
            divRow.classList.add('edit-row', 'flex-row');

            const inputElem = document.createElement('input');
            inputElem.type = 'text';
            inputElem.id = param.key;
            inputElem.name = target;
            inputElem.value = (typeof param !== 'undefined') ? param.value : '';
            inputElem.classList.add('attribute');
            inputElem.readOnly = true;

            const deleteBtn = document.createElement('button');
            deleteBtn.classList.add('btn-minus');
            const deleteIcon = document.createElement('span');
            deleteIcon.classList.add('icon-delete-gray', 'ml-1');
            deleteBtn.appendChild(deleteIcon);
            deleteBtn.addEventListener('click', function () {
                aliceJs.confirmIcon(i18n.msg('cmdb.class.msg.confirmDeleteAttribute'), function () {
                    const row = deleteBtn.parentNode;
                    row.remove();
                }, null);
            });
            divRow.appendChild(inputElem);
            if (editable) {
                inputElem.readOnly = false;
                divRow.appendChild(deleteBtn);
            }
            if (editable) {
                document.getElementById('attributeList').appendChild(divRow);
            } else {
                document.getElementById('extendsAttributeList').appendChild(divRow);
            }
        }

        function openClassAttributeListModal() {
            classAttributeListModal = new modal({
                title: i18n.msg('cmdb.class.label.attributeList'),
                body: createModalContent(),
                classes: 'cmdb-class-attribute-modal',
                buttons: [{
                    content: i18n.msg('common.btn.select'),
                    classes: "point-fill",
                    bindKey: false,
                    callback: function (modal) {
                        while (attributeList.hasChildNodes()) {
                            attributeList.removeChild(attributeList.firstChild);
                        }
                        document.querySelectorAll('input[type=checkbox]:checked').forEach(function (data) {
                            drawAttribute({
                                key: data.value,
                                value: data.name
                            }, 'attribute', true);
                        });
                        modal.hide();
                    }
                }, {
                    content: i18n.msg('common.btn.cancel'),
                    classes: "default-line",
                    bindKey: false,
                    callback: function (modal) {
                        modal.hide();
                    }
                }],
                close: {
                    closable: false,
                },
                onCreate: function (modal) {
                    document.getElementById('attributeSearch').addEventListener('keyup', function () {
                        getAttributeList(this.value, false);
                    });
                    getAttributeList(document.getElementById('attributeSearch').value, true);
                }
            });
            classAttributeListModal.show();
        }

        function createModalContent() {
            return `<div class="cmdb-class-attribute-list">` +
                `<input class="search col-5 mr-2" type="text" name="search" id="attributeSearch" maxlength="100" placeholder="${i18n.msg('cmdb.attribute.label.searchPlaceholder')}"/><span id="spanTotalCount" class="txt-num"></span>` +
                `<div class="table-set" id="cmdbClassAttributeList"></div>` +
                `</div>`;
        }

        function getAttributeList(search, showProgressbar) {
            let classId = document.getElementById('txtClassId').value;
            let strUrl = '/cmdb/class/view-pop/attributes?search=' + search.trim() + '&classId=' + classId;

            const opt = {
                method: 'get',
                url: strUrl,
                contentType: 'application/json',
                showProgressbar: showProgressbar,
                callbackFunc: function (response) {
                    document.getElementById('cmdbClassAttributeList').innerHTML = response.responseText;
                    aliceJs.showTotalCount(document.querySelectorAll('.attribute-list').length);
                    OverlayScrollbars(document.querySelector('.list-body'), {className: 'scrollbar'});
                }
            };
            aliceJs.sendXhr(opt);
        }

        /*]]>*/
    </script>
</th:block>

</html>
