<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/itsm/pageType/treeEditLayout}">
<head>
    <title th:text="#{code.label.code}"></title>
</head>
<th:block layout:fragment="pageHead">
    <script th:src="@{/assets/js/lib/zPageMutationObserver.js}"></script>
</th:block>
<body>
<div layout:fragment="pageTitle">
    <h1 th:text="#{code.label.code}"></h1>
    <h6 class="description ml-2 pl-2" th:text="#{code.msg.editDescription}"></h6>
</div>
<div layout:fragment="pageSearching">
    <input type="text" class="input ic-search text-ellipsis col-5 mr-2" id="searchValue" name="searchValue"
           maxlength="100" th:placeholder="#{code.label.searchPlaceholder}"/>
    <span id="totalCount" class="search-count"></span>
    <div class="ml-auto" sec:authorize="hasAuthority('system.manage')">
        <button type="button" class="btn__text--box btn--theme-primary" id="btnCreate" name="btnCreate"
                th:text="#{common.btn.add}" th:onclick="|javascript:onCreate()|"></button>
        <button type="button" class="btn__ic btn--theme-secondary" id="btnExcelDownload" name="btnExcelDownload"
                th:title="#{common.btn.export}" th:onclick="|javascript:onExcelDownload()|">
            <img class="load-svg" th:src="@{/assets/media/icons/icon_download_xls.svg}" />
        </button>
    </div>
</div>
<div layout:fragment="pageTree">
    <div id="treeList"></div>
</div>
<div layout:fragment="pageEdit">
    <div class="edit-form flex-fill">
        <div class="edit-row flex-row">
            <div class="flex-column flex-fill mr-4">
                <label class="required" th:text="#{code.label.code}" for="txtCode"></label>
                <span id="tooltipCode" th:title="${codeDetail?.code}">
                <input id="txtCode" name="txtCode" class="input text-ellipsis col-pct-12" type="text"
                       th:value="${codeDetail?.code}" maxlength="100"/>
                </span>
            </div>
            <div class="flex-column flex-fill">
                <label class="required" th:text="#{code.label.pCode}" for="txtPCode"></label>
                <span id="tooltipPcode" th:title="${codeDetail?.pCode}">
                <input id="txtPCode" name="txtPCode" class="input text-ellipsis col-pct-12" type="text"
                       th:value="${codeDetail?.pCode}" maxlength="100"/>
                </span>
            </div>
        </div>
        <div class="edit-row flex-row">
            <div class="flex-column flex-fill mr-4">
                <label class="form-title" th:text="#{code.label.name}" for="txtCodeName"></label>
                <input id="txtCodeName" name="txtCodeName" class="input text-ellipsis" type="text"
                       th:value="${codeDetail?.codeName}" maxlength="100"/>
            </div>
            <div class="flex-column flex-fill">
                <label class="form-title" th:text="#{code.label.defaultCodeValue}" for="txtCodeValue"></label>
                <input id="txtCodeValue" name="txtCodeValue" class="input text-ellipsis" type="text"
                       th:value="${codeDetail?.codeValue}" maxlength="100"/>
            </div>
        </div>
        <div class="edit-row flex-column">
            <label class="form-title" th:text="#{code.label.seqNum}" for="txtSeqNum"></label>
            <input id="txtSeqNum" name="txtSeqNum" class="input text-ellipsis" type="text" th:value="${codeDetail?.seqNum}"
                   onkeydown="return onlyNumber(event)" onkeyup="aliceJs.removeChar(event)" maxlength="5"/>
        </div>
        <div class="edit-row flex-column">
            <label class="switch">
                <span class="label" th:text="#{code.label.useYn}"></span>
                <input type="checkbox" id="codeUseYn" name="codeUseYn"
                       th:checked="${codeDetail?.useYn == null || codeDetail?.useYn == true}">
                <span></span>
            </label>
        </div>
        <div class="edit-row flex-column">
            <label class="form-title" th:text="#{code.label.description}" for="txtCodeDesc"></label>
            <textarea id="txtCodeDesc" name="txtCodeDesc" th:maxlength="200" th:rows="7"
                      class="textarea textarea-scroll-wrapper" th:text="${codeDetail?.codeDesc}"></textarea>
        </div>
        <div class="edit-row flex-column flex-fill">
            <div class="flex-row justify-content-between">
                <label th:text="#{code.label.codeLang}"></label>
                <button sec:authorize="hasAuthority('system.manage')" type="button"
                        class="btn__ic btn--theme-extra float-right" id="btnCodeLang">
                    <span class="ic-plus"></span>
                </button>
            </div>
            <div class="horizontal-bar"></div>
            <div id="codeLang"></div>
        </div>
        <div class="flex-row justify-content-end">
            <div class="btn__list" sec:authorize="hasAuthority('system.manage')">
                <button type="button" class="btn__text--box btn--theme-primary" id="btnRegist" name="btnRegist"
                        th:onclick="|javascript:onSave('POST')|" th:text="#{common.btn.register}"></button>
                <button type="button" class="btn__text--box btn--theme-primary" id="btnUpdate" name="btnUpdate"
                        th:onclick="|javascript:onSave('PUT')|" th:text="#{common.btn.modify}"></button>
                <button type="button" class="btn__text--box btn--theme-danger" id="btnDelete" name="btnDelete"
                        th:onclick="|javascript:zAlert.confirm(i18n.msg('common.msg.confirmDelete'), onDelete)|"
                        th:text="#{common.btn.delete}"></button>
            </div>
        </div>
    </div>
    <template id="langCodeRowTemplate">
        <div class="edit-row flex-row align-items-center">
            <label class="required" th:text="#{'code.label.lang'}"></label>
            <div class="col-2 ml-3 mr-5"><select></select></div>
            <label class="required" th:text="#{code.label.name}"></label>
            <input class="input text-ellipsis flex-fill ml-3 mr-3" type="text" name="codeLangValue" maxlength="100">
            <button type="button" sec:authorize="hasAuthority('system.manage')" class="item-remove ml-2 mr-2 mt-2 mb-2">
                <span class="ic-remove"></span>
            </button>
        </div>
    </template>
</div>
</body>
<script layout:fragment="pageScript" type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    let CODE_DELETE = false;
    let CODE_CREATE = false;
    let CODE_UPDATE = false;
    const sessionKey = 'code_expand_key';
    let observer = aliceJs.pageObserver;

    window.addEventListener('load', function() {
        observer.set();

        if (document.getElementById('btnCodeLang') !== null) {
            document.getElementById('btnCodeLang').addEventListener('click', drawCodeLang);
        }
        OverlayScrollbars(document.querySelector('.page-tree'), { className: 'scrollbar' });
        OverlayScrollbars(document.querySelector('.page-edit'), { className: 'scrollbar' });
        OverlayScrollbars(document.getElementById('txtCodeDesc'), { className: 'scrollbar' });
        document.getElementById('searchValue').addEventListener('keyup', aliceJs.debounce (() => getCodeList()), false);

        if (document.getElementById('btnUpdate') !== null) {
            CODE_UPDATE = true;
        }
        if (document.getElementById('btnRegist') !== null) {
            CODE_CREATE = true;
        }
        if (document.getElementById('btnDelete') !== null) {
            CODE_DELETE = true;
        }
        document.getElementById('searchValue').focus();
        onCreate();

        getCodeList();
    });

    function getCodeList() {
        const search = encodeURIComponent(document.getElementById('searchValue').value);
        tree.load({
            dataUrl: '/rest/codes?search=' + search,
            target: 'treeList',
            text: 'code',
            leafIcon: '/assets/media/icons/tree/icon_tree_leaf.svg',
            sessionKey: sessionKey,
            totalCount: true,
            onCreate: function() {
                document.getElementById('treeList').querySelector('.node').click();
            },
            selectedNode: function(response) {
                onGetDetail(response.id);
            }
        });
    }

    function onGetDetail(codeId) {
        if (!observer.canPageChange()) { return false; }

        aliceJs.fetchJson('/rest/codes/' + codeId, {
            method: 'GET',
        }).then((response) => {
            if (response.status !== aliceJs.response.success) {
                zAlert.warning('[(#{code.msg.selectAvailableCode})]');
                return false;
            }
            // 코드
            const txtCode = document.getElementById('txtCode');
            txtCode.value = response.data.code;
            txtCode.disabled = true;
            document.getElementById('tooltipCode').title = response.data.code;
            // 부모 코드
            const pTxtCode = document.getElementById('txtPCode');
            pTxtCode.value = response.data.pcode;
            pTxtCode.disabled = true;
            document.getElementById('tooltipPcode').title = response.data.pcode;
            // 코드 이름
            document.getElementById('txtCodeName').value = response.data.codeName;
            // 코드 값
            document.getElementById('txtCodeValue').value = response.data.codeValue;
            // 출력 순서
            document.getElementById('txtSeqNum').value = response.data.seqNum;
            // 코드 설명
            const txtCodeDesc = document.getElementById('txtCodeDesc');
            txtCodeDesc.value = response.data.codeDesc;
            // 사용 여부
            document.getElementById('codeUseYn').checked = response.data.useYn;
            // 다국어 코드
            initCodeLang(response.data.codeLang, response.data.editable);
            // 편집 가능 여부에 따른 처리
            if (response.data.editable) {
                if (CODE_UPDATE) {
                    document.getElementById('btnUpdate').disabled = false;
                    document.getElementById('codeUseYn').disabled = false;
                }
                if (CODE_DELETE) {
                    document.getElementById('btnDelete').disabled = false;
                }
                document.querySelector('.textarea').classList.remove('textarea-readonly');
                txtCodeDesc.readOnly = false;
                document.getElementById('btnCodeLang').disabled = false;
                txtCode.parentElement.previousElementSibling.classList.add('required');
                pTxtCode.parentElement.previousElementSibling.classList.add('required');
            } else {
                if (CODE_UPDATE) {
                    document.getElementById('btnUpdate').disabled = true;
                    document.getElementById('codeUseYn').disabled = true;
                }
                if (CODE_DELETE) {
                    document.getElementById('btnDelete').disabled = true;
                }
                document.querySelector('.textarea').classList.add('textarea-readonly');
                txtCodeDesc.readOnly = true;
                document.getElementById('btnCodeLang').disabled = true;
                txtCode.parentElement.previousElementSibling.classList.remove('required');
                pTxtCode.parentElement.previousElementSibling.classList.remove('required');
            }
            // 편집 불가 처리
            const editInputElems = document.querySelector('.page-edit').querySelectorAll('input[type=text]');
            editInputElems.forEach((elem) => {
                elem.readOnly = !response.data.editable;
            });
            onEdit();
            observer.isChanged = false;
        });
    }

    /** create **/
    function onCreate() {
        if (!observer.canPageChange()) { return false; }

        if (CODE_CREATE) {
            document.getElementById('btnRegist').style.display = 'block';
        }
        if (CODE_UPDATE) {
            document.getElementById('btnUpdate').style.display = 'none';
        }
        if (CODE_DELETE) {
            document.getElementById('btnDelete').style.display = 'none';
        }

        const editElems = document.querySelector('.page-edit').querySelectorAll('input[type=text], textarea');
        editElems.forEach((elem) => {
            elem.readOnly = false;
            elem.value = '';
        });
        document.querySelector('.textarea').classList.remove('textarea-readonly');
        document.getElementById('txtCode').disabled = false;
        document.getElementById('codeUseYn').disabled = false;
        document.getElementById('btnCodeLang').disabled = false;
        document.getElementById('codeLang').innerHTML = '';
        document.getElementById('txtCode').parentElement.previousElementSibling.classList.add('required');
        document.getElementById('txtPCode').parentElement.previousElementSibling.classList.add('required');

        let selectedNode = tree.getTreeSelectNode();
        if (selectedNode !== null) {
            document.getElementById('txtPCode').value = selectedNode.id;
        }
        observer.isChanged = false;
    }

    function onEdit() {
        if (CODE_UPDATE) {
            document.getElementById('btnUpdate').style.display = 'block';
        }
        if (CODE_DELETE) {
            document.getElementById('btnDelete').style.display = 'block';
        }
        if (CODE_CREATE) {
            document.getElementById('btnRegist').style.display = 'none';
        }
    }


    /** save **/
    function onSave(method) {
        const jsonData = {
            code: document.getElementById('txtCode').value,
            pCode: document.getElementById('txtPCode').value,
            codeName: document.getElementById('txtCodeName').value,
            codeValue: document.getElementById('txtCodeValue').value,
            codeDesc: document.getElementById('txtCodeDesc').value,
            seqNum: document.getElementById('txtSeqNum').value,
            useYn: document.getElementById('codeUseYn').checked
        };

        if (jsonData.code === null || jsonData.code.trim() === '') {
            zAlert.warning('[(#{code.msg.enterCode})]');
            return false;
        }

        if (jsonData.pCode === null || jsonData.pCode.trim() === '') {
            zAlert.warning('[(#{code.msg.enterPCode})]');
            return false;
        }

        if (codeUnacceptableChar(jsonData.code) === false) {
            zAlert.warning('[(#{validation.msg.unacceptableCharacters})]', function() {
                document.getElementById('txtCode').focus();
            });
            return false;
        }

        const codeLangList = document.querySelectorAll('input[name=codeLangValue]');
        for (let i = 0; i < codeLangList.length; i++) {
            if (codeLangList[i].value.trim() === '') {
                zAlert.warning('[(#{code.msg.enterCodeLangValue})]');
                return false;
            }
        }

        let codeLangData = {};
        let divLang = document.getElementById('codeLang').children;
        for (let i = 0; i < divLang.length; i++) {
            const selectValue = divLang[i].getElementsByTagName('select')[0].value;
            const codeLangValue = divLang[i].getElementsByTagName('input')[1].value;
            if (typeof codeLangData[selectValue] === 'undefined') {
                codeLangData[selectValue] = codeLangValue;
            } else {
                zAlert.warning('[(#{code.msg.selectNotDuplicateLang})]');
                return false;
            }
        }
        if (divLang.length !== 0) {
            jsonData.codeLang = JSON.stringify(codeLangData);
        }

        let url = '/rest/codes';
        if (method !== 'POST') {
            url += '/' + document.getElementById('txtCode').value;
        }
        const resultMsg = (method === 'POST') ? '[(#{common.msg.register})]' : '[(#{common.msg.update})]';
        aliceJs.fetchJson(url, {
            method: method,
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(jsonData)
        }).then((response) => {
            switch (response.status) {
                case aliceJs.response.success:
                    tree.setTreeExpandNode(sessionKey);
                    zAlert.success(resultMsg, function() {
                        window.location.href = '/codes/edit';
                    });
                    break;
                case aliceJs.response.duplicate:
                    zAlert.warning('[(#{code.msg.duplicateCode})]');
                    break;
                case aliceJs.response.notExist:
                    zAlert.warning('[(#{code.msg.pCodeNotExist})]');
                    break;
                case aliceJs.response.error:
                    zAlert.danger('[(#{common.msg.fail})]');
                    break;
                default :
                    break;
            }
        });
    }

    /** delete **/
    function onDelete() {
        aliceJs.fetchJson('/rest/codes/' + document.getElementById('txtCode').value, {
            method: 'DELETE'
        }).then((response) => {
            switch (response.status) {
                case aliceJs.response.success:
                    tree.setTreeExpandNode(sessionKey);
                    zAlert.success('[(#{common.msg.delete})]', function() {
                        window.location.href = '/codes/edit';
                    });
                    break;
                case aliceJs.response.exist:
                    zAlert.warning('[(#{code.msg.referenceCodeExist})]');
                    break;
                case aliceJs.response.error:
                    zAlert.danger('[(#{common.msg.fail})]');
                    break;
                default:
                    break;
            }
        });
    }

    function codeUnacceptableChar(code) {
        let regex = new RegExp('[/\\\\%;]');
        return !code.match(regex);
    }

    function drawCodeLang(param, editable = true) {
        const langCodeRow = document.getElementById('langCodeRowTemplate').content.cloneNode(true);

        const langList = /*[[${langList}]]*/'';
        const selectTag = langCodeRow.querySelector('select');
        for (let i = 0; i < langList.length; i++) {
            const selectOption = document.createElement('option');
            selectOption.value = langList[i].codeValue;
            selectOption.text = langList[i].codeValue;
            selectOption.selected = (typeof param !== 'undefined') ? (param.lang === selectOption.value) : '';
            selectTag.appendChild(selectOption);
        }

        langCodeRow.querySelector('input').value = (typeof param.codeLangValue !== 'undefined') ? param.codeLangValue : '';
        const deleteBtn = langCodeRow.querySelector('button.btn__ic');
        if (deleteBtn !== null) {
            deleteBtn.addEventListener('click', function() {
                const row = deleteBtn.parentNode;
                row.remove();
                observer.isChanged = true;
            });
        }

        // 편집 불가 시 readonly 처리
        if (!editable) selectTag.classList.add('readonly');

        document.getElementById('codeLang').appendChild(langCodeRow);
        aliceJs.initDesignedSelectTag(document.querySelector('#codeLang'));
        observer.set();
    }

    function initCodeLang(param, editable) {
        const divCodeLang = document.getElementById('codeLang');
        while (divCodeLang.hasChildNodes()) {
            divCodeLang.removeChild(divCodeLang.firstChild);
        }
        if (param !== '') {
            const codeLang = JSON.parse(param);
            for (let index in codeLang) {
                drawCodeLang({ lang: codeLang[index].lang, codeLangValue: codeLang[index].codeValue }, editable);
            }
        }
        divCodeLang.querySelectorAll('button').forEach((elem) => {
            elem.disabled = !editable;
        });
    }

    function onExcelDownload() {
        const search = encodeURIComponent(document.getElementById('searchValue').value);
        aliceJs.fetchDownload({
            url: '/rest/codes/excel?search=' + search,
            fileName: i18n.msg('code.label.code') + '_' + new Date().toISOString().substring(0, 10).replace(/-/g, '')
        });
    }

    /*]]>*/
</script>
</html>
