@import "../../template/buttons";

.btn,
button {
  // 커스텀 코드 + 버튼
  &.plus {
    width: 1.625rem; // 26px
    height: 1.625rem; // 26px
    padding: 0;
  }
  // CI Attribute 삭제 버튼
  &.btn-delete {
    height: 2.5rem; // 40px
    padding: 0;
  }
  // + 버튼
  // 돋보기 아이콘
  .icon-search {
    display: inline-block;
    @include maskImage('#{$icon-folder-path}icon_search.svg', 1.125rem, 1.125rem, no-repeat, center, 1.125rem 1.125rem, $gray); // 18px 18px
  }
  // 삭제 아이콘
  .icon-delete-gray {
    display: inline-block;
    @include maskImage('#{$icon-folder-path}icon_delete.svg', 1.625rem, 1.25rem, no-repeat, center, 1.625rem 1.25rem, map-get($grays, "pressed")); // 18px 20px
  }
}
