@import "../../template/elements";

// 체크박스 목록
// ex) 권한, 역할, 사용자 정보 수정 > 체크박스 목록
.z-checkbox {
  // 전체 선택
  &-all { display: table-cell; }
  // 목록
  &-list {
    height: 13.5rem; // 216px
    @include border($element-border-width, solid, $element-border-color, all);
    @include borderRadius(0.0625rem); // 1px
    padding: 0.5rem 0.625rem; // 8px 10px

    .right {
      right: 0.25rem; // 4px
    }
    .padding {
      padding: 0.1875rem 0 0.1875rem 0; // 3px
    }

    li {
      height: 1.5rem; // 24px
      @include ellipsis(list-item);
    }
  }
}
