@import '../../template/_layout.scss';

// layout 이벤트
@include keyframe (slideDown) {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@include keyframe (slideUp) {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
// z-itsm-container ----------------------------------------------------------------------------------------------------
.z-itsm-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  overflow: auto;

  .z-main {
    display: flex;
    flex-direction: column;
    width: calc(100% - #{$nav-width});
    height: 100vh;
    background-color: $layout-main-bg-color;

    &-title {
      display: flex;
      align-items: baseline!important;
      padding: 0 3.75rem 2rem 3.75rem; // 0 60px 32px 60px
    }

    &-content {
      background-color: $layout-content-bg-color;
      height: calc(100vh - 9.75rem);

      .z-page-content {
        @include border(0.0625rem,solid,$layout-main-header-border-color,top);
        flex: 1 1 auto;
        background: $layout-page-content-bg-color;
      }

      .z-page-search {
        display: flex;
        flex-direction: row;
        padding: 0 3.75rem 1.25rem 3.75rem; // 0 60px 20px 60px
        .z-search-count {
          font-weight: $layout-header-search-font-weight;
          font-size: 0.875rem;
          color: $layout-header-search-color;
        }
      }

      // commonSearchTemplate
      @include commonSearchTemplate();

      // commonEdit
      @include commonEditTemplate();

      // pagingList
      @include pagingListTemplate();

      // treeEdit
      @include treeEditTemplate();

      // 카드
      @include defaultCardTemplate();

      // view
      @include commonViewTemplate();

      .z-page-view {
        // CMDB CI
        // 세부 속성
        .attribute-group {
          background-color: $cmdb-ci-attribute-bg-color;
          padding: 0 1.25rem 1.25rem 1.25rem; // 0px 20px 20px 20px
          @include border($cmdb-ci-attribute-border-width, solid, $cmdb-ci-attribute-border-color, all);
          @include borderRadius($cmdb-ci-attribute-border-radius);
          margin-bottom: 0.625rem; // 10px

          // Group List일 경우, 하위 속성 존재함
          .child-attribute-group {
            @include relative();
            padding-top: 0.625rem; // 10px

            .z-button-attribute-add {
              @include absolute($top: -1.875rem, $right: 0); //-30px 0
            }

            .child-attribute-row {
              background-color: $cmdb-ci-child-attribute-bg-color;
              padding: 0.3125rem 1.25rem 1.25rem 1.25rem; // 5px 20px 20px 20px
              @include border($cmdb-ci-child-attribute-border-width, solid, $cmdb-ci-child-attribute-border-color, all);
              @include borderRadius($cmdb-ci-child-attribute-border-radius);
              margin-top: 0.625rem; // 10px

              .z-button-attribute-delete {
                @include absolute($right: 0.3125rem); //5px
              }
            }
          }
        }
      }
    }

    // 리스트
    //@include defaultListTemplate();

    // edit, register
    @include defaultEditTemplate();

    // view
    @include defaultViewTemplate();
  }
}

// 슬라이드 효과
.slide-down {
  @include animation(0s, 0.3s, slideDown, ease-out);
}

.slide-up {
  @include animation(0s, 0.3s, slideUp, ease-out);
}
// 사용자 아이콘
.i-profile-photo {
  @include borderRadius(50%);
  background-color: transparent;
}

//작성자 말줄임
.user-name {
  @include ellipsis(inline-block, 8.75rem); // 140px
}

// 리스트 출력용 컬러 아이콘
.document-color-circle {
  width: $document-color-size;
  height:$document-color-size;
  @include borderRadius(50%);
  margin-right: 0.625rem; // 10px
  display: inline-block;
}

/////////////////////////////////////////////// 헤더 ////////////////////////////////////////////////////////
// 공지사항, FAQ, 자료실, 게시판, 사용자 정의 차트
// 시스템관리 > 사용자, 게시판
// 업무흐름 관리 > 프로세스, 문서양식, 업무흐름, 커스텀 코드
// 업무흐름 관리 > 역할, 권한
// 업무흐름 관리 > 코드
// 업무흐름 관리 > 패턴
// 업무흐름 관리 > 문서번호
// CMDB > Attribute
// CMDB > Class
// CMDB > Type
// CMDB > Ci
.z-faq-header,
.z-download-header,
.z-board-header,
.z-user-header,
.z-board-admin-header,
.z-process-header,
.z-form-header,
.z-document-admin-header,
.z-custom-code-header,
.z-auth-header,
.z-role-header,
.z-code-header,
.z-numbering-pattern-header,
.z-numbering-rule-header,
.z-chart-header,
.z-cmdb-attribute-header,
.z-cmdb-class-header,
.z-cmdb-type-header,
.z-cmdb-ci-header,
.z-scheduler-header,
.z-report-template-header {
  padding: 0 3.75rem 0 3.75rem; // 0px 60px 0px 60px
}

// 문서함
// 신청서
// 대시보드
// 업무흐름 관리 > 이미지 관리
.z-document-header,
.z-token-header,
.z-image-header {
  padding: 0 3.75rem 0 3.75rem; // 0px 60px 0px 60px
  @include border($layout-main-header-border-width, solid, $layout-main-header-border-color, bottom);
}

/////////////////////////////////////////////// 리스트 /////////////////////////////////////////////////////
// 공지사항, FAQ, 자료실, 게시판, 사용자 정의 차트
// 시스템관리 > 사용자, 게시판
// 업무흐름 관리 > 프로세스, 문서양식, 업무흐름, 커스텀 코드
// 업무흐름 관리 > 역할, 권한
// 업무흐름 관리 > 코드
// 업무흐름 관리 > 패턴
// 업무흐름 관리 > 문서번호
// CMDB > Attribute
// CMDB > Type
// CMDB > Class
// CMDB > Ci
.z-faq-content,
.z-download-content,
.z-board-content,
.z-user-content,
.z-board-admin-content,
.z-process-content,
.z-form-content,
.z-document-admin-content,
.z-custom-code-content,
.z-auth-content,
.z-role-content,
.z-code-content,
.z-numbering-pattern-content,
.z-numbering-rule-content,
.z-chart-content,
.z-cmdb-attribute-content,
.z-cmdb-type-content,
.z-cmdb-class-content,
.z-cmdb-ci-content,
.z-report-template-content {
  padding: 0.9375rem 3.75rem; // 15px 60px
  background-color: $layout-content-bg-color;
}

/////////////////////////////////////////////// 카드 /////////////////////////////////////////////////////
// 문서함
// 신청서
// 대시보드
.z-document-content {
  padding: 1.875rem 1.875rem 0 3.75rem; // 30px 30px 0 60px
  background-color: $card-content-bg-color;

  .document-column {
    width: 100%;
    height: 100%;
    padding: 1.975rem; // 30px

    // 신청서 > 아이콘
    .document-icon {
      @include absolute($top: 3.75rem,$left: 23.125rem); // 60px 370px
      overflow: hidden;
    }
    // 신청서 > 설명
    .document-description {
      display: block;
      width: 20rem; // 320px
      margin-top: 0.625rem; // 10px
      font-size: $font-size-s; // 16px
      font-weight: $font-weight-regular;
      color: $description-color;
      margin-top: 0.625rem; // 10px
    }
  }
}

.z-token-content,
.z-dashboard-content {
  padding: 1.875rem 1.875rem 0 3.75rem; // 30px 30px 0 60px
  background-color: $card-content-bg-color;
}

/////////////////////////////////////////////// EDIT /////////////////////////////////////////////////////
// 공지사항, FAQ, 자료실, 게시판
.z-notice-content-edit,
.z-faq-content-edit,
.z-download-content-edit,
.z-board-content-edit {
  padding: 2.188rem 23.13rem 3.125rem 23.13rem; // 35px 370px 50px 370px
  background-color: $edit-content-bg-color;
  @include border($edit-content-border-width, solid, $edit-content-border-color, top);
}

// 역할, 권한, 코드, 패턴, 문서번호, CMDB Type
.z-auth-content-edit {
  height: 41.25rem; // 660px
  margin: 0 0 1.875rem 0; // 30px
  // 스크롤바
  .edit-form {
    padding: 0 1.875rem 0 4.0625rem; // 0 30px 0 65px

    .edit-row {
      margin-top: 0.625rem; // 10px
    }
  }
}
// 시스템관리 > 사용자
.z-user-content-edit {
  padding: 0 23.13rem 3.125rem 23.13rem; // 0 370px 50px 370px
  @include border($edit-content-border-width, solid, $edit-content-border-color, top);
  background-color: $edit-content-bg-color;

  .sub-title { margin-top: 2.5rem; } // 40px

  .select-date-time {
    width: calc(100% - 10.0005rem); // 310px
  }
  .hour-select {
    width: 9.688rem; // 155px
  }
}
// 시스템관리 > 게시판
.z-board-admin-content-edit {
  padding: 2.188rem 23.13rem 3.125rem 23.13rem; // 35px 370px 50px 370px
  @include border($edit-content-border-width, solid, $edit-content-border-color, top);
  background-color: $edit-content-bg-color;

  // 카테고리 테이블
  .edit-table {
    margin: 1.25rem 0 0 0; // 20px 0 0 0
    tr {
      height: 2.5rem; // 40px
      line-height: 2.5rem;
      th {
        @include border($element-border-width, solid, $element-border-color, bottom);
      }
      td {
        padding: 0 0.9375rem; // 0 15px
        @include border($element-border-width, solid, $element-border-color, bottom);
      }
    }
    .tbody {
      tr:hover { background-color: $list-hover-bg-color; }
      // 데이터 없을때
      .no-data-found-list {
        background-color: $no-data-found-list-bg;
        pointer-events: none;
      }
    }
  }
}
// 업무흐름 관리 > 이미지 관리
.z-image-content-edit {
  padding: 3.125rem 3.75rem; // 50px 60px
  background-color: $edit-content-bg-color;
}
// 업무흐름 관리 > 커스텀 코드
// CMDB > Attribute
.z-custom-code-content-edit,
.z-cmdb-attribute-content-edit,
.z-scheduler-content-edit {
  padding: 2.188rem 23.13rem 3.125rem 23.13rem; // 35px 370px 50px 370px
  @include border($edit-content-border-width, solid, $edit-content-border-color, top);
  background-color: $edit-content-bg-color;
  height: 100%;

  .under-bar {
    margin-top: 0.625rem; // 10px
  }
  // 조건
  .condition {
    width: 28.31rem; // 453px
  }

  .attribute {
    margin-left: 4rem;
  }
}
// CMDB > Class
.z-cmdb-class-content-edit{
  height: 41.25rem; // 660px
  margin: 0 0 1.875rem 0; // 30px
  // 스크롤바
  .edit-form {
    padding: 0 1.875rem 0 4.0625rem; // 0 30px 0 65px

    .edit-row {  margin-top: 0.625rem; } // 10px
  }
  .attribute { width: 27.94rem; } // 447px;
}
// Report > Template
.z-report-template-content-edit {
  padding: 2.188rem 23.13rem 3.125rem 23.13rem; // 35px 370px 50px 370px
  @include border($edit-content-border-width, solid, $edit-content-border-color, top);
  background-color: $edit-content-bg-color;
  height: 100%;
}

/////////////////////////////////////////////// VIEW /////////////////////////////////////////////////////
// 공지사항, FAQ, 자료실, CMDB Attribute
.z-notice-content-view,
.z-faq-content-view,
.z-download-content-view,
.z-board-content-view,
.z-cmdb-attribute-content-view {
  padding: 2.188rem 23.13rem 3.125rem 23.13rem; // 35px 370px 50px 370px
  @include border($view-content-border-width, solid, $view-content-border-color, top);
  background-color: $view-content-bg-color;
}

.z-chart-content-view {
  width: 100%;
  height: 25rem; // 400px
}

// 공지사항 상단 공지
.notice-pinned { background-color: $notice-pinned-color; }
