@import '../../template/modal';

.modal-dialog {
  &.scheduler-list-modal {
    width: $scheduler-modal-width;
    height: $scheduler-modal-height;
    .modal-content {
      height: calc(#{$scheduler-modal-height} - #{$modal-header-height} - #{$modal-bottom-height});
      padding: 1.25rem; // 20px

      .table-set {
        margin-top: 2.188rem; // 35px
        .z-table {
          .z-table-body {
            display: block;
            width: 60rem; // 960px
            height: 21.75rem; // 348px
            overflow-y: auto;
            border: none;
            .list-row {
              display: table;
              width: 100%;
              height: 2.125rem; // 34px
              line-height: 2.125rem; // 24px
              & > td {
                display: inline-block; // 말줄임 적용을 위해 추가
                max-width: 22.5rem; // 360px 에러 메시지 말줄임
                vertical-align: middle;
              }
            }
          }
        }
      }
    }
  }
  // 트리 모달
  &.tree {
    width: $tree-modal-width;
    height: $tree-modal-height;

    .modal-content {
      height: calc(#{$tree-modal-height} - #{$modal-header-height} - #{$modal-bottom-height});
      padding: 1.125rem 0 0 1.25rem;
      div {
        height: 100%;
        label {
          font-weight: $font-weight-regular;
        }
        li {
          &:last-child:before {
            background-color: $modal-bg-color;
          }
        }
      }
    }
  }
  // 폼 / 프로세스 IMPORT 모달
  &.form-import, &.process-import {
    width: $import-modal-width;
    height: $import-modal-height;

    .modal-content {
      height: calc(#{$import-modal-height} - #{$modal-header-height} - #{$modal-bottom-height});
      padding: 0.625rem 1.25rem 1.25rem 1.25rem; // 10px 20px 20px 20px

      .field-label {
        display: inline-block;
        margin: 1rem 0 0.5rem 0; // 16px 0 8px 0
      }

    }
  }
  // 폼 / 프로세스 등록 / 수정 모달
  &.form-edit, &.process-edit {
    width: $modal-edit-width;
    height: $modal-edit-height;

    .modal-content {
      height: calc(#{$modal-edit-height} - #{$modal-header-height} - #{$modal-bottom-height});
      padding: 0.625rem 1.25rem 1.25rem 1.25rem; // 10px 20px 20px 20px

      .field-label {
        display: inline-block;
        margin: 1rem 0 0.5rem 0; // 16px 0 8px 0
      }
    }
  }
  // 업무 흐름 등록 / 수정 모달
  &.document-edit {
    width: $document-edit-modal-width;
    height: $document-edit-modal-height;

    .modal-content {
      height: calc(#{$document-edit-modal-height} - #{$modal-header-height} - #{$modal-bottom-height});
      padding: 1.25rem; // 20px

      .workflow-content {
        width: calc(#{$document-edit-modal-width} - 2.5rem); // 너비에서 여백만큼 빼준다.
        height: calc(#{$document-edit-modal-height} - #{$modal-header-height} - #{$modal-bottom-height} - 2.5rem); // 높이에서 여백만큼 빼준다.
        padding: 0 1.25rem; // 0 20px
      }

      .field-label {
        display: inline-block;
        margin: 1rem 0 0.5rem 0; // 16px 0 8px 0
      }

      // 신청서 아이콘
      .document-icon-content {
        display: none;

        &.on { display: block; }
      }
    }
  }
  // 업무 흐름 신청서 양식 편집 모달
  &.document-display {
    width: $document-display-modal-width;
    height: $document-display-modal-height;

    .modal-content {
      height: calc(#{$document-display-modal-height} - #{$modal-header-height} - #{$modal-bottom-height});
      padding: 1.25rem; // 20px
      overflow: hidden;

      .document-display-content {
        width: calc(#{$document-display-modal-width} - 2.5rem); // 너비에서 여백만큼 빼준다.
        height: calc(#{$document-display-modal-height} - #{$modal-header-height} - #{$modal-bottom-height} - 2.5rem); // 높이에서 여백만큼 빼준다.
        padding: 0 1.25rem; // 0 20px
        overflow-y: auto;

        .z-table {
          width: auto;

          .z-table-body {
            border: none;
            tr:hover { background-color: transparent; }
          }

          th, td {
            padding: 0 1.5rem 0.625rem 0; // 0 24px 10px 0
            overflow: initial; // selectbox 짤림 현상 방지
          }
        }
      }
    }
  }
  // CMDB > Class > AttributeList 모달
  // 사용자 정보 수정 > 업무 대리인 모달
  &.cmdb-class-attribute-modal,
  &.sub-user-modal {
    width: $token-list-modal-width;
    height: $token-list-modal-height;

    .modal-content {
      height: calc(#{$token-list-modal-height} - #{$modal-header-height} - #{$modal-bottom-height});
      padding: 0.625rem 1.25rem; // 10px 20px

      // CMDB > Class > AttributeList 목록
      // 사용자 정보 수정 > 업무 대리인 목록
      .cmdb-class-attribute-list,
      .sub-user-list {
        margin-top: 0.9375rem; // 15px
        .table-set {
          margin-top: 1.875rem; // 30px
          .z-table {
            .z-table-body {
              display: block;
              width: 60rem; // 960px
              height: 35.313rem; // 565px
              overflow-y: auto;
              border: none;
              .attribute-list,
              .instance-list {
                display: flex;
                width: 100%;
                height: 2.188rem; // 35px
                line-height: 2.188rem; // 35px
              }
            }
          }
        }
      }
    }
  }
  // 사용자 정의 차트 모달
  &.chart-edit-modal {
    width: $chart-edit-modal-width;
    height: $chart-edit-modal-height;
    .modal-content {
      height: calc(#{$chart-edit-modal-height} - #{$modal-header-height} - #{$modal-bottom-height});
      padding: 0.625rem 1.25rem 2.5rem 1.25rem; // 10px 20px 40px 20px
      overflow: hidden;

      .chart-edit-content {
        width: calc(#{$chart-edit-modal-width} - 2.5rem); // 너비에서 여백만큼 빼준다.
        height: calc(#{$chart-edit-modal-height} - #{$modal-header-height} - #{$modal-bottom-height} - 3.125rem); // 높이에서 여백만큼 빼준다.
        padding: 0 1.25rem; // 0 20px
        overflow-y: auto;

        label { margin: 0.625rem 0; } // 10px 0
      }
    }
  }
  // 사용자 정의 차트 미리보기
  &.chart-view-modal {
    width: $token-list-modal-width;
    .modal-content {
      padding: 0.625rem 1.25rem 2.5rem 1.25rem; // 10px 20px 40px 20px
      height: auto;
    }
  }
  // 제품 정보 모달
  &.product-info-modal {
    width: $product-info-modal-width;
    height: $product-info-modal-height;
    .modal-content {
      margin: $product-info-modal-content-margin;
      height: $product-info-modal-content-height;
      padding:$product-info-modal-content-padding;
      border-color: $product-info-modal-content-border-color;
      label {
        color: $product-info-modal-content-color;
        margin: 0.625rem 0;  // 10px 0
      }
      .i-logo {
        height: $product-info-modal-content-icon-height;
        margin-bottom: $product-info-modal-content-margin-bottom;
      }
      .top-line {
        color: $product-info-modal-line-color;
        border-color: $product-info-modal-line-border-color;
        border-width: $product-info-modal-line-border-width;
        border-top-color: $product-info-modal-line-border-top-color;
        border-style: ridge;
        padding-top: $product-info-modal-line-padding-top;
      }
      .product-href {
        color: $product-info-modal-content-href-color;
        margin: 0.625rem 0;
      }
    }
  }
}
