// *********************************************************************************************************************
// 이 파일에서는 전체 Frame 구조 중에서 Container 영역을 제외한 부분에 대한 공통 부분에 대해 아래와 같은 내용을 포함한다.
//
// * logo
//   - 로고가 출력되는 부분이며 menu.html 파일에 포함되지만 가장 최상위 요소중에 하나이다.
//
// * menu
//   - 메뉴가 출력되는 부분. default theme 에는 메뉴 부분 전체를 접고 펴는 기능은 없다.
// *********************************************************************************************************************

// 네비게이션
.z-navigation {
  .z-gnb {
    width: $nav-width;

    .z-logo {
      @include fixed();
      width: $logo-width;
      height: $logo-height;
      padding: 0.9375rem 1.25rem 0.9375rem 1.25rem; // 15px 20px 15px 20px
      background-color: $menu-bg-color;
      z-index: $z-index-gnb;
    }

    .z-menu {
      @include fixed($top: $logo-height);
      width: $menu-width;
      height: $menu-height;
      background-color: $menu-bg-color;
      z-index: $z-index-gnb;
      overflow: auto;

      .z-menu-area {

        .z-gnb-area {
          line-height: 1.3;
          font-weight: $font-weight-medium;

          &:first-child { margin-top: 0.3125rem; }  // 5px

          .z-gnb-link {
            color: $menu-color;
            padding: 0.5rem 1.25rem 0.5rem 1.25rem; // 8px 20px 8px 20px
            vertical-align: middle;
            cursor: pointer;

            &:hover {
              &:not(.active, .active-parent) {
                color: $menu-hover-color;
                background: $menu-bg-hover;
                .z-icon { background: $menu-hover-color; }
              }
            }

            .z-menu-name {
              display: inline-block;
              padding-left: 1.1875rem; //19px
              font-weight: $font-weight-medium;
              line-height: 1.3rem;
            }

            // 문서함 카운트
            .z-token-count {
              @include absolute();
              margin: 0.3125rem 9rem; // 5px 144px
              padding: 0.125rem 0.625rem; // 2px 10px
              @include borderRadius(1.25rem); // 20px
              line-height: inherit;
              font-size: 0.688rem; // 11px
              font-weight: $font-weight-medium;
              background-color: $menu-count-bg-color;
              color: $menu-count-color;
              &.active {
                color: $menu-count-active-color;
                background-color: $menu-count-bg-active-color;
              }
            }

            // 메뉴 선택시
            &.active {
              background-color: $menu-bg-selected-color;
              .z-menu-name { color: $menu-selected-color; }
              .z-icon {
                background: $menu-active-color;
              }
            }
            &.active-parent {
              .z-menu-name { color: $menu-selected-color; }
              .z-icon {
                background: $menu-active-color;

                &.i-arrow-right {
                  background: $menu-selected-color;
                  @include rotate(90);
                }
              }
            }
          }

          .z-snb {
            &-group {
              display: none;
              background-color: $menu-bg-color;
            }

            &-area {
              font-size: $menu-snb-font;
              font-weight: $font-weight-regular;
              color: $menu-color;

              &:hover { background-color: $menu-bg-hover; }

              .z-snb-link {
                display: block;
                padding: 0.5rem 1.25rem 0.5rem 1.25rem; // 8px 20px 8px 20px
                color: $menu-snb-color;
                cursor: pointer;

                .z-menu-name {
                  display: inline-block;
                  padding-left: 0.625rem; // 10px
                }

                &:hover {
                  &:not(.active) {
                    color: $menu-hover-color;

                    .z-icon {
                      &.i-gnb_sub_dot {
                        background: $menu-snb-dot-hover;
                        visibility: visible;
                      }
                    }
                  }
                }

                &.active {
                  background-color: $menu-bg-selected-color;
                  .z-menu-name { color: $menu-selected-color; }
                  .z-icon {
                    &.i-gnb_sub_dot {
                      background: $menu-snb-dot-selected-color;
                      visibility: visible;
                    }
                  }
                }
              }
            }
          }
        }
      }

      // 스크롤바 간격
      .z-right { right: 0.375rem; } // 6px
    }
     // 아이콘
    .z-icon {
      background: $icon-gnb-color;

      &.i-gnb-board {
        @include maskImage($icon-gnb-board, 1.5rem, 1.5rem, no-repeat, center); // 20xp 20px
      }
      &.i-gnb-chart {
        @include maskImage($icon-gnb-chart, 1.5rem, 1.5rem, no-repeat, center); // 20xp 20xp
      }
      &.i-gnb-dashboard {
        @include maskImage($icon-gnb-dashboard, 1.5rem, 1.5rem, no-repeat, center); // 20xp 20px
      }
      &.i-gnb-document {
        @include maskImage($icon-gnb-document, 1.5rem, 1.5rem, no-repeat, center); // 20xp 20px
      }
      &.i-gnb-download {
        @include maskImage($icon-gnb-download, 1.5rem, 1.5rem, no-repeat, center); // 20xp 20px
      }
      &.i-gnb-faq {
        @include maskImage($icon-gnb-faq, 1.5rem, 1.5rem, no-repeat, center); // 20xp 20px
      }
      &.i-gnb-notice {
        @include maskImage($icon-gnb-notice, 1.5rem, 1.5rem, no-repeat, center); // 20xp 20px
      }
      &.i-gnb-config {
        @include maskImage($icon-gnb-config, 1.5rem, 1.5rem, no-repeat, center); // 20xp 20px
      }
      &.i-gnb-workflow {
        @include maskImage($icon-gnb-workflow, 1.5rem, 1.5rem, no-repeat, center); // 20xp 20px
      }
      &.i-gnb-token {
        @include maskImage($icon-gnb-token, 1.5rem, 1.5rem, no-repeat, center); // 20xp 20px
      }
      &.i-gnb-cmdb {
        @include maskImage($icon-gnb-cmdb, 1.5rem, 1.5rem, no-repeat, center); // 20xp 20px
      }
      //점
      &.i-gnb_sub_dot {
        @include maskImage($icon-gnb-sub-dot, 0.25rem, 0.25rem, no-repeat, center); // 4xp 4px
        margin-left: 2.5rem; // 40px
        padding-left: 0.375rem; // 6px
        visibility: hidden;
      }
      // 화살표
      &.i-arrow-right {
        padding: 0 0.375rem 0 0; // 0 6px 0 0
        margin-left: auto;
        float: right;
      }
    }
  }
}
