// *********************************************************************************************************************
// * notification
//   - gnb 내부 요소로 종 모양 아이콘(.notification)에 hover시 노출되는 요소
//     notification-container 내부에 크게 header와 body로 나뉘며,
//     body 내부에 여러개의 contents로 구성된다.
//
// * alice-toastify
//   - toastify를 커스텀하여 생성되며, 우측 하단에서 설정 값에 따라 n초 간 노출되는 요소
// *********************************************************************************************************************

.z-notification {
  width: $notification-icon-width;
  height: $notification-icon-height;
  padding: $notification-icon-padding;
  position: relative;
  display: inline-block;
  img, button {
    margin: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  // .notification hover 시 노출되는 영역 전반
  &-panel {
    @include absolute($left: calc(#{$nav-width} + 0.3125rem), $bottom: 0); // 좌측 간격 5px
    width: 26.25rem; // 420px
    @include border(0.0625rem solid map-get($grays, 'line'), all); // 1px
    @include boxShadow(0, 0, 0.3125rem, 0, map-get($grays, 'line')); // 5px
    color: $notification-container-color;
    background-color: $notification-container-background;
    display: none;
    &.z-on { display: block; }
  }

  // notification 상단 영역 
  &-header {
    display: flex;
    height: 2.5rem; // 40px
    padding: 0 0.938rem; // 0 15px
    align-items: baseline;
    background-color: $notification-header-background;
    span {
      display: inline-block;
      font-size: 0.875rem; // 14px
      font-weight: $font-weight-regular;
      color: $white;

      // header 내부 컨텐츠
      &.z-title {
        font-size: 1rem; // 16px
        font-weight: $font-weight-medium;
      }
      &.z-total {
        margin: auto 0.3125rem; //5px
      }
      &.z-message {
        margin-left: 0.625rem;  // 10px
      }

      // 우측 상단 X 버튼
      &.z-icon-close {
        width: 0.875rem; //14px
        height: 0.875rem;
        margin-left: auto;
        @include maskImage('#{$icon-folder-path}icon_clear.svg', 0.875rem, 0.875rem, no-repeat, center, null, $white); // 14px
      }
    }
  }

  // notification의 contents들이 나열되는 영역
  &-body {
    overflow-y: auto;
    height: 20.63rem;    // 330px
    &.z-nodata {
      height: 6.875rem;  // 110px
      padding: 0.938rem; // 15px
    }
  }
  &-content {
    height: 6.875rem; // 110px
    padding: 0.938rem;// 15px
    @include border(0.063rem, solid, map-get($grays, "line"), bottom); // 1px
    &:hover {
      background-color: hexToRGBA(map-get($blues, 'light'), 0.1);
    }
    // 체크 박스 영역
    .z-notification-checked {
      display: flex;
      margin: 0;
      background-color: $white;
      input[type="checkbox"] {
        @include relative();
        display: inline-block;
        width: $notification-checkbox-size;
        height: $notification-checkbox-size;
        padding: 0.313rem; // 5px
        margin: 0;
        @include border($notification-checkbox-border, solid, $blue, all);
        @include borderRadius($notification-checkbox-border);
        -webkit-appearance: none;
        cursor: pointer;
        &:checked {
          @include border($notification-checkbox-border, solid, map-get($grays, 'line'), all);
          color: map-get($grays, "pressed");
          cursor: unset;
        }
        &:checked::after {
          content: '\2714';
          @include absolute($top: -0.063rem, $left: 0.063rem); // -1px 1px
          font-size: 1rem; // 16px
          color: map-get($grays, "pressed");
        }
      }
    }
    // 제거 버튼 영역
    .z-icon-remove {
      padding: 0;
      @include maskImage('#{$icon-folder-path}icon_delete.svg', 1.125rem, 1.25rem, no-repeat, center, null, $notification-icon-color); // 18px 20px
    }
    span {
      &.z-title {
        max-width: 18.13rem; // 290px
        margin-left: 0.625rem; // 10px
        font-weight: $font-weight-medium;
        font-size: 1rem; // 16px
        line-height: 1.2;
        color: map-get($blacks, "light");
        &.z-confirm {
          opacity: 0.75;
        }
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
      &.z-message {
        display: block;
        max-width: 22.5rem; // 360px
        min-height: 2.5rem; // 40px
        margin-left: 1.75rem; // 28px
        font-weight: $font-weight-regular;
        font-size: 1rem; // 16px
        color: map-get($grays, "dark");
        &.z-confirm {
            color: $gray;
        }
      }
      &.z-date {
        margin-left: 1.75rem; // 28px
        font-weight: $font-weight-regular;
        font-size: 0.875rem; // 14px
        color: $gray;
      }
    }
  }
}

// 신규 알림 발생 시,
// 전체 화면 우측 하단에서 지정한 시간동안만 노출되는 notification
.alice-toastify {
  height: $toastify-height;
  padding: 0 !important;
  @include borderRadius($toastify-border-radius !important);
  @include boxShadow(0, 0, 0.3125rem, 0, map-get($grays, 'line') !important);
  background: $toastify-background;
  &.toastify-right {
    right: 0.625rem; // 10px
  }
  &.toast-content {
    .icon {
      width: $toastify-icon-size;
      height: $toastify-icon-size;
      @include backgroundImage('#{$image-folder-path}notification/img_notification_logo.png', 6.25rem, null, null, null, null); // 100px
    }
    .content {
      width: 23.13rem; // 370px
      height: 100%;
      padding: 0.938rem; // 15px
      @include border($toastify-border-radius, solid, map-get($grays, 'line') !important, all);
      div {
        &.title {
          padding-bottom: 0.625rem; // 10px
          label, button { display: none; }
        }
        &.message {
          padding-bottom: 0.625rem; // 10px
        }
        span {
          &.title {
            max-width: 18.13rem; // 290px
            font-size: 1rem; // 16px
            font-weight: $font-weight-medium;
            color: map-get($blacks, "light");
          }
          &.message {
            max-width: 22.5rem; // 360px
            font-size: 1rem; // 16px
            font-weight: $font-weight-regular;
            color: map-get($grays, "dark");
          }
          &.date {
            font-size: 0.875rem; // 14px
            font-weight: $font-weight-regular;
            color: $gray;
          }
        }
      }
    }
  }
  .toast-close {
    @include absolute($top: 0.688rem, $right: 0.688rem); // 11px 11px
    padding: 0;
    @include maskImage('#{$icon-folder-path}icon_clear.svg', 0.875rem, 0.875rem, no-repeat, center, null, $notification-icon-color); // 14px
  }
}
