/** 
 * 팝업 디자인
 * /default/_popup.scss
 * 화면 : 공지사항 팝업, custom-code 대상 선택 팝업
 */
.itsm-popup {
  width: 100%;
  height: 100vh;
  padding: 1.875rem 2.5rem 1.25rem 2.5rem; // 30px 40px 20px 40px
  background-color: $white;

  .popup-title {
    margin-bottom: 1.75rem; //26px
    color: $view-sub-title-font-color;
  }

  &-btn-content {
    margin-top: 2rem; //32px
    @include border(0.0625rem, solid, map-get($grays, "default"), top); //1px
  }

  &-button-list {
    margin-top: 1.25rem; //20px
  }

  @include defaultViewTemplate();
  // custom-code 대상 선택 팝업
  .custom-code-content-popup {
    &.view {
      height: auto;
    }

    .radio-list {
      height: 34.375rem; // 550px
      margin: 1.25rem 0 2.5rem 0; // 20px 0 40px 0
    }
  }
  // 공지사항 팝업
  .notice-content-popup {
    &.view {
      height: auto;
    }
  }
}