/** 
 * 댓글 디자인
 * /default/_reply.scss
 * 화면 : 게시판
 */
.reply {
  &-body {
    margin-top: 2.5rem; // 40px
  }
  &-input-row {
    padding: 1.3125rem 1.25rem; // 21px 20px
    @include border($reply-content-border-width, solid, $reply-content-border-color, top);
    @include border($reply-content-border-width, solid, $reply-content-border-color, bottom);
    background-color: $reply-content-bg-color;
    .reply-input {
      width: 100%;
      margin: 0 0.3125rem; // 5px
    }
    .reply-button {
      flex : none;
    }
  }

  &-list {
    padding: 0 0;
    @include border($reply-content-border-width, solid, $reply-content-border-color, bottom);
    @include verticalBar(1.25rem, 1.25rem, $reply-content-border-width solid $reply-content-border-color, 0.0625rem 0.9375rem 0.0625rem 0);
    margin-top: 0.0625rem; // -1px
    // 댓글이 없으면 라인 생략
    &:empty { border-color: transparent; }
    .reply {
      &-info {
        align-items: center;
      }
      &-user-name {
        font-weight: $font-weight-regular;
      }
      &-create-date {
        color: $reply-date-font-color;
        font-weight: $font-weight-regular;
      }
      &-row {
        margin-top : 1.875rem; // 30px
        margin-bottom: 1.875rem; // 30px
      }
      &-edit,
      &-delete {
        padding: 0 1.25rem 0 0; // 0 20px 0 0
      }
      &-comment {
        display: flex;
        margin-top: 0.9375rem; // 5px
        margin-left: 3rem; // 48px
        word-break: break-all;
        input {
          width: 100%;
          margin: 0 0.3125rem; // 5px
        }
      }
    }
  }
  // 사용자 아이콘
  .i-profile-photo {
    flex : none;
    margin: auto 0.9376rem auto 0; // 15px
    @include borderRadius(50%);
    background-color: transparent;
  }
}