@import "form.core";

.drawing-board {
    display: flex; 
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    height: 46.875rem; /* 750px */
    border: 0.0625rem solid #BCC5D3;  //1px
    background: $white;
    overflow: auto;
    margin: 0.625rem;
    .move-icon { display: none; }
}
.drawing-board[data-readonly=true] {
    input[type=text],
    textarea,
    button,
    .ql-toolbar {
        pointer-events: none;
    }
}
