#document-container {
    overflow-y: auto;
    height: 46.875rem; /* 750px */
    border: 0.0625rem /* 1px */ solid #bcc5d3;
    >.component {
        padding: 0.9375rem 3.75rem; /* 15px 60px */
        .field {
            .label {
                display: inline;
            }
            textarea {
                resize: vertical;
            }
        }
        input[type=text] {
            width: 100%;
            outline: solid 0.0625rem; /* 1px */
        }
        input[type=radio] {
            cursor: pointer;
            &:focus {
                outline: 0.0625rem /* 1px */ #3c3cff solid;
            }
        }
        span[class*="required"] {
            padding-left: 0.3125rem; /* 5px */
            color: #fc5f6b;
            font-weight: bold;
        }
    }
}

textarea {
    width: 100%;
    outline: solid 0.0625rem; /* 1px */
}

select {
    width: 100%;
}

.field {
    >div {
        width: 100%;
    }
}

input[type=checkbox] {
    cursor: pointer;
    &:focus {
        outline: 0.0625rem /* 1px */ #3c3cff solid;
    }
}

input[type=file] {
    cursor: pointer;
}