@import "form.core";

.drawing-board {
    display: flex; 
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    height: 46.875rem; /* 750px */
    border: 0.0625rem solid #BCC5D3;  //1px
    background: $white;
    overflow: auto;
    margin: 0.625rem;
    .move-icon { display: none; }
    .component[data-readonly=true] .group {
        pointer-events: none;
        div#fileupload {
            pointer-events: auto;
        }
    }
}
/*미리 보기*/
.drawing-board[data-readonly=true] {
    input[type=text],
    textarea,
    button,
    .ql-toolbar,
    .editor-container {
        pointer-events: none;
    }
    .component[data-type="editbox"] { 
        pointer-events: none;
    }
}

.comment {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 100%;
    border: none;
    padding: 0.625rem 1.25rem;
    background-color: #ffffff;
    .field {
        display: flex;
        height: 3.563rem;
        textarea {
            width: 100%;
            resize: vertical;
        }
        button {
            flex: 1 1 auto;
            line-height: 1rem;
            padding: 0 0.625rem;
            white-space: nowrap;
        }
    }
}
