@import url(reset.css);

@font-face {
    font-family: "Noto Sans";
    src: url(font/NotoSansKR-Regular.woff) format('woff');
    font-weight: normal;
}
@font-face {
    font-family: "Noto Sans";
    src: url(font/NotoSansKR-Bold.woff) format('woff');
    font-weight: bold;
}
@font-face {
    font-family: "Noto Sans";
    src: url(font/NotoSansKR-Medium.woff) format('woff');
    font-weight: 500;
}

@import "form/mixins";

$alice-font-family: "Noto Sans";
$alice-font-color: #000000;
$alice-font-size: 0.688rem; // 11px
$alice-font-weight: normal;
$asset-path: "../media/icons";

//폼 디자이너 : 1500 * 980px

// toolbar
$toolbar-height: 2.188rem; // 35px
$toolbar-top-bottom-padding: 0.563rem; // 9px
$toolbar-real-height: $toolbar-height - ($toolbar-top-bottom-padding * 2);
$toolbar-background-color: #0050ff;
$toolbar-font-size: 0.75rem; // 12px
$toolbar-font-color: #ffffff;
$toolbar-logo-width: 5.625rem; // 90px
$toolbar-separator-color: #3079ff;

// container
$container-background-color: #f2f5fa;
// container > form 
$form-container-width: 93.75rem;    // 1500px
$form-container-height: 61.25rem;    // 980px
// container > document
$document-container-width: 93.75rem;    // 1500px
$document-container-height: 61.25rem;    // 980px

// content > drawing-board
$drawing-board-background-color: #ffffff;
// content > form > drawing-board
$form-drawing-board-width: 59.38rem; // 950px
$form-drawing-board-top-margin: 6.563rem; // 105px

// aside
$aside-background-color: #ffffff;
// aside > form
$form-aside-width: 16.25rem; // 260px

// 폼을 나누는 갯수
$column-row: 12; 

// component 
$component-font-family: "Noto Sans";
$component-font-size: 0.688rem; // 11px
$component-font-color: #000000;
$component-font-weight: normal;
$component-border-color: #C8CED8;
$component-indent-padding-left: 0.438rem; // 7px 컴포넌트 들여쓰기

// context
$context-menu-width: 11.88rem; // 190px 
$context-menu-height: 14.13rem; // 226px
$context-menu-background-color: #ffffff;
$context-menu-font-size: 0.875rem; // 14px
$context-menu-font-color: #68717c;
$context-menu-border-color: #c8ced8;

// properties title
$properties-title-height: 2.5rem; // 40px
$properties-title-background-color: #2669ff;
$properties-title-font-size: 0.875rem; // 14px
$properties-title-font-color: #ffffff;
$properties-title-font-weight: bold;

// properties detail
$properties-border-color: #c8ced8;
$properties-large-title-font-size: 0.75rem; // 12px
$properties-large-title-font-color: #000000;
$properties-large-title-font-weight: 500;
$properties-small-title-font-size: 0.6875rem; // 11px
$properties-small-title-font-color: #68717c;
$properties-small-title-font-weight: normal;

// 공통
*,
*::before,
*::after {
          box-sizing: border-box;
}
body {
    color: $alice-font-color;
    font: {
        family: $alice-font-family;
        size: $alice-font-size;
        weight: $alice-font-weight;
    }
}

input[type=range] {
    -webkit-appearance: none;
    width: 78%;
    height: 0.0625rem; // 1px
    background: #4C5264;
    outline: none;

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width:  0.625rem;    //10px
        height: 0.625rem;
        border: 0.0625rem solid #C8CED8; // 1px
        border-radius: 50%;
        background: #ffffff;
        cursor: pointer;
    }
    
    &::-moz-range-thumb {
        width: 0.625rem;     //10px
        height:  0.625rem;
        border: 0.0625rem solid #C8CED8; // 1px
        border-radius: 50%;
        background: #ffffff;
        cursor: pointer;
    }
    + input[type=text] {
        width: 16%;
        margin-left: 4%;
        text-align: center;
        padding: 0;
    }
}

//TODO: dropdown 컴포넌트
/*.select-box {
    width: 13.75rem;  // 220px
    height: 1.563rem;    //25px
    &-current {
        position: relative;
        cursor: pointer;
        border: 0.0625rem solid #C8CED8; // 1px
        .select-box-value { 
            display: flex; 
            .select-box-input { 
                display: none; 
                &:checked {
                    + .select-box-text { display: block; }
                }
            }
            .select-box-text {
                display: none;
                width: 100%;
                margin: 0;
                padding: 5px 7px;
                background-color: #fff;
            }
        }
        .select-box-icon {
            position: absolute;
            top: 50%;
            right: 10px;
            width: 0.9375rem; //15px;
            width: 0.9375rem; //15px;
            transform: translateY(-50%);
            content: url("#{$asset-path}/form/editor/icon_arrow.png");
        }
        &:focus {
            border: 0.0625rem solid #0050ff; // 1px
            + .select-box-list {
                opacity: 1;
                height: auto;
                animation-name: none;
                .select-box-option { cursor: pointer; }
            }
            .select-box-icon {
                content: url("#{$asset-path}/form/editor/icon_arrow_select.png");
            }
        }
    }
    &-list {
        width: 220px;
        padding: 0;
        list-style: none;
        opacity: 0;
        height: 0;
        border: 0.0625rem solid #C8CED8;
        box-shadow: 0 0 0.125rem rgba(116, 147, 179, 0.2); // 2 px
        margin: 0.1875rem 0 0 0; // 3px
        @include animation (0.5s, 0.5s, HideList, step-start);
        .select-box-option {
            display: block;
            padding: 5px 7px;
            background-color: #fff;
            &:hover,
            &:focus {
                background-color: rgba(0, 80, 255, 0.05);
            }
            &.checked { color: #0050ff; }
        }

    }
}*/

@import "form/layout";
@import "form/toolbar";
@import "form/components";
@import "form/context";
@import "form/properties";
