@import "bootstrap-4.4.1/bootstrap";
//@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
@font-face {
    font-family: NanumSquare;
    src: url(NanumSquareL.woff) format('woff');
    font-weight: 300;
}
@font-face {
    font-family: NanumSquare;
    src: url(NanumSquareR.woff) format('woff');
    font-weight: 400;
}
@font-face {
    font-family: NanumSquare;
    src: url(NanumSquareB.woff) format('woff');
    font-weight: 700;
}
@font-face {
    font-family: NanumSquare;
    src: url(NanumSquareEB.woff) format('woff');
    font-weight: 800;
}

$alice-font-family: NanumSquare, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$nav-logo-height: 1.5rem; // 24px
$nav-top-bottom-margin: 0.5rem; //8px;
$property-width: 300px;
$form-top-margin: 80px;
$form-left-margin: 140px;

body {
    font-family: $alice-font-family;
}

.form {
    &-navbar {
        background: #4C5264;
        color: $white;
        padding: $nav-top-bottom-margin 1.25rem; // 0px 20px
        line-height: 1.0rem;
        
        font: {
            size: 1rem; // 20px
        }

        a {
            color: $white;
        }
    }
    &-container {
        height: calc(100vh - #{$nav-logo-height + ($nav-top-bottom-margin * 2)});
    }
}

.navbar-brand {
    height: $nav-logo-height;
    padding: 0rem;
    margin-right: 1.25rem; // 20px
}

.nav-link {
    padding: 0.25rem 0.5rem;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

#main-menu > li {
    float: left;
    position: relative;

    a {
        display: inline-block;
        margin: 0rem 1.375rem 0rem 0rem;
        text-align: center;
        text-decoration: none;
        letter-spacing: 0.05em;
    }
}

.panel {
    display: flex;
    flex: 1 1 auto;
    width: 100%; 
    height:100%;
    background: #F6F6F7;

    &-form {
        display: flex; 
        flex: 1 1 auto;
        flex-direction: column;
        align-items: center;
        width: calc(100% - #{$property-width});
        max-width: calc(100% - #{$property-width});
        margin: $form-top-margin $form-left-margin 0px $form-left-margin;
        border: 1px solid #BCC5D3;
        background: $white;
        overflow: auto;
    }

    &-property { /*추후 분리작업 필요*/
        display: flex;
        flex: 0 0 auto;
        flex-direction: column;
        width: $property-width;
        height: 100%;
        max-height: 100%;
        border-left: 1px solid #BCC5D3;
        background: $white;
        overflow: auto;
    }
}

.context-menu {
    display: none;
    position: absolute;
    width: 314px;
    max-height: 225px;
    background-color: #fff;
    border: solid 1px #BCC5D3;
    box-shadow: 1px 1px 2px #707070;
    overflow: auto;
    z-index: 10;
    ul {
        display: none;
        li {
            height: 40px;
            line-height: 40px;
        }
    }
}

.context-menu.on { display: block; }
.context-menu ul.active { display: block; }
.context-menu ul li.active { background-color: rgba(188, 197, 211, 0.1); }
.context-menu ul li:hover { background-color: rgba(188, 197, 211, 0.1); cursor: pointer; }
.context-menu #context-menu-component li { height: 60px; line-height: 60px; }

.component {
    display: flex; 
    align-items: center; 
    width: 100%; 
    max-width: 100%; 
    border: none; 
    padding-right: 60px; 
    padding-bottom: 20px;
    .move-icon { 
        width:60px; 
        height:80px; 
        content:url("https://placehold.it/60X80"); 
        opacity: 0;
    }
    .group {
        display: flex; 
        flex-wrap: wrap; 
        width: 100%; 
        align-items: center; 
        .field input[type=text] {
            width: 100%; 
            height: 25px;
        }
        .field textarea, select {
            width: 100%;
        }
        .field span[class*="required"] { color:#fc5f6b; }
        .field.horizontal { 
            display: flex; 
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
}

.component[data-type]:not([data-type="editbox"]):hover { cursor: pointer; }
//.component[data-type]:not([data-type="editbox"]) .group { pointer-events: none; }

.component[data-type="editbox"]:hover { cursor: text; }

.group[contenteditable=true]:empty::before {
    content: attr(placeholder); 
    display: block;
}

.group[contenteditable=true] {
    color : #BCC5D3;
    font-size: 12px; 
    height:80px; 
    line-height: 80px;
}

.group:focus {
    outline: none;
}

.property-title {
    margin: 40px 0px 0px 20px; 
    font-size: 28px; 
    font-weight: bold;
    height:30px;
    line-height: 30px;
}
.property-group {
    padding: 20px 10px;
    margin: 0px 20px; 
    border-bottom: 1px solid #707070;
    font-size: 18px; 
    font-weight: bold;
    &[id*="option"] button {
        width: 25px;
        height: 25px;
        outline: 0;
        margin-right: 2px;
        border: 1px solid #4C5264;
        float: right;
    }
    button[class*="plus"]::before {
        content: '+';
    }
    button[class*="minus"]::before {
        content: '-';
    }
    table { border-collapse: collapse; font-size: 14px; width: 100%; margin: 10px 0px; text-align: center;}
    th, td { border: 1px solid #ccc; }
    th { font-weight: bold; }
    td input[type=text] { width:100%; height:100%; border: none; text-align: center; }
}
.property-field {
    display: flex;
    align-items: center;
    font-size: 14px;
    width: 100%;
    min-height: 20px;
    font-weight: normal;
    margin: 10px 0px;
    .property-field-name {
        flex-shrink: 0;
        flex-grow: 0;
        width: 80px;
    }
    input[type=text] {
        flex: 1;
        border: 1px solid #4C5264;
        width: 100%;
        height: 20px;
        padding-left:2px;
    }
    input[type=text].underline {
        border: none;
        border-bottom: 1px solid #4C5264;
        text-align: right; 
        padding-right:2px;
        padding-left: 0px;
    }
    select {
        flex: 1;
    }
    input[type=range] {
        -webkit-appearance: none;
        width: 50%;
        height: 1px;
        background: #4C5264;
        outline: none;

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 10px;
            height: 10px;
            border: 1px solid #4C5264;
            border-radius: 50%;
            background: #fff;
            cursor: pointer;
          }
          
          &::-moz-range-thumb {
            width: 10px;
            height: 10px;
            border: 1px solid #4C5264;
            border-radius: 50%;
            background: #fff;
            cursor: pointer;
          }
    }
    label {
        margin: 0px 20px 0px 5px;
    }
    .property-field-button {
        button {
            width: 25px;
            height: 25px;
            background-color: #f8f9fa;
            outline: 0;
            margin-right: 2px;
            border: 1px solid #4C5264;
        }
        button.active {
            background-color: #C1C1C1;
        }
        button[class*="bold"]::before {
            content: 'B';
        }
        button[class*="italic"]::before {
            content: 'I';
        }
        button[class*="underline"]::before {
            content: 'U';
            text-decoration: underline; 
        }
        button[id*="left"] {
            margin-left: 20px;
        }
        button[id*="left"]::before {
            content: 'L';
        }
        button[id*="center"]::before {
            content: 'C';
        }
        button[id*="right"]::before {
            content: 'R';
        }
    }

}
