@import "bootstrap-4.4.1/bootstrap";

@font-face {
    font-family: "Noto Sans";
    src: url(font/NotoSansKR-Regular.woff) format('woff');
    font-weight: normal;
}
@font-face {
    font-family: "Noto Sans";
    src: url(font/NotoSansKR-Bold.woff) format('woff');
    font-weight: bold;
}
@font-face {
    font-family: "Noto Sans";
    src: url(font/NotoSansKR-Medium.woff) format('woff');
    font-weight: 500;
}

@font-face {
    font-family: NanumSquare;
    src: url(NanumSquareL.woff) format('woff');
    src: url(NanumSquareL.woff) format('woff');
    font-weight: 300;
}
@font-face {
    font-family: NanumSquare;
    src: url(NanumSquareR.woff) format('woff');
    font-weight: 400;
}
@font-face {
    font-family: NanumSquare;
    src: url(NanumSquareB.woff) format('woff');
    font-weight: 700;
}
@font-face {
    font-family: NanumSquare;
    src: url(NanumSquareEB.woff) format('woff');
}

$alice-font-family: "Noto Sans";
$process-toolbar-height: 2.188rem; // 35px
$process-toolbar-top-bottom-padding: 0.563rem; // 9px
$process-toolbar-real-height: $process-toolbar-height - ($process-toolbar-top-bottom-padding * 2);
$process-element-palette-width: 5.625rem; // 90px
$process-properties-panel-width: 14.375rem; // 230px
$process-container-min-width: 75rem;  // 1200px
$process-container-min-height: 37.5rem;  // 600px

body {
    font: {
        family: $alice-font-family;
        size: 0.688rem; // 11px
    }
}

.alice-process {
    &-container {
        position: relative;
        width: 100vw;
        height: 100vh;
        min-width: $process-container-min-width;
        min-height: $process-container-min-height;
    }
    &-toolbar {
        width: 100vw;
        min-width: $process-container-min-width;
        height: $process-toolbar-height;
        background-color: #0050ff;
        color: $white;
        padding-top: $process-toolbar-top-bottom-padding;
        padding-bottom: $process-toolbar-top-bottom-padding;
        line-height: 1.0rem;

        font: {
            size: 0.75rem; // 12px
        }

        .logo {
            width: $process-element-palette-width;
            height: $process-toolbar-real-height;
            float: left;
            background: {
                color: transparent;
                size: initial;
                repeat: no-repeat;
                position: center center;
                image: url("../media/icons/process/editor/logo.png");
            };
        }

        .process-designer {
            width: 5.938rem; // 95px
            margin: {
                left: 0.938rem;
                right: 0.938rem; // 15px
            };
        }

        a {
            text-decoration: none;
            margin: {
                left: 0.75rem; // 12px
                right: 0.75rem; // 12px
            }
            height: $process-toolbar-real-height;
            line-height: $process-toolbar-real-height;
            vertical-align: middle;

            img {
                cursor: pointer;
            }
        }

        .process-name {
            height: $process-toolbar-real-height;
            line-height: $process-toolbar-real-height;
            float: right;
            margin-right: 0.938rem; // 15px
        }
    }

    &-element-palette {
        display: inline-block;
        width: $process-element-palette-width;
        height: calc(100vh - #{$process-toolbar-height});
        min-height: #{$process-container-min-height - $process-toolbar-height};
        background-color: #ffffff;
        position: absolute;
        top: $process-toolbar-height;
        color: #666f7a;
        box-shadow: 0.063rem 0 0.313rem -0.25rem #182738;

        .rectangle-menu {
            position: relative;
            display: inline-block;
            width: 4.875rem;  // 78px
            height: 4.375rem;  // 70px
            margin: 0.313rem 0.313rem 0 0.313rem;  // 5px
            border: 0.063rem solid #bec4ce;
            background: {
                color: transparent;
                size: initial;
                repeat: no-repeat;
                position: 50% 30%;
            }

            label {
                position: absolute;
                top: 2.5rem; // 40px
                width: 100%;
                text-align: center;
                font-size: 0.688rem; // 11px
            }
        }

        .connector {
            position: absolute;
            bottom: 5rem; // 80px
            left: 0;
            background: {
                color: #f9f9f9;
                image: url("../media/icons/process/element/connector.png");
            }
        }

        .connector.selected {
            background: {
                color: transparent;
                image: url("../media/icons/process/element/connector-select.png");
            }
        }

        .shape.event {
            background-image: url("../media/icons/process/element/event.png");
        }

        .shape.task {
            background-image: url("../media/icons/process/element/task.png");
        }

        .shape.subprocess {
            background-image: url("../media/icons/process/element/subprocess.png");
        }

        .shape.gateway {
            background-image: url("../media/icons/process/element/gateway.png");
        }

        .shape.group {
            background-image: url("../media/icons/process/element/group.png");
        }

        .shape.annotation {
            background-image: url("../media/icons/process/element/annotation.png");
        }

        .move-icon {
            position: absolute;
            bottom: 0.313rem; // 5px
            left: 0;
            background: {
                color: #f9f9f9;
                image: url("../media/icons/process/editor/icon-background.png");
            }
        }

        .move-icon.selected {
            background: {
                color: transparent;
                image: url("../media/icons/process/editor/icon-background-select.png");
            }
        }
    }

    &-drawing-board {
        display: inline-block;
        position: absolute;
        top: $process-toolbar-height;
        left: $process-element-palette-width;
        width: calc(100vw - #{$process-element-palette-width + $process-properties-panel-width});
        min-width: #{$process-container-min-width - ($process-element-palette-width + $process-properties-panel-width)};
        height: calc(100vh - #{$process-toolbar-height});
        min-height: #{$process-container-min-height - $process-toolbar-height};
        background-color: #f2f5fa;

        svg {
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
        }

        path.connector {
            fill: none;
            stroke: #596f7a;
            stroke-width: 1;
            cursor: default;
        }
        path.connector.selected {
            stroke-dasharray: 10,2;
            stroke-width: 2;
        }
        path.connector.is-default {
            stroke-width: 3;
        }
        path.connector.drag-line {
            pointer-events: none;
        }
        path.connector.hidden {
            stroke-width: 0;
        }
        path.painted-connector {
            fill: none;
            stroke: none;
            stroke-width: 20;
            pointer-events: stroke;
        }

        .connector {
            text {
                fill: #000000;
                font: {
                    weight: bold;
                    size: 0.813rem; // 13px
                }
                dominant-baseline: text-before-edge;
                user-select: none;
            }

            text.selected {
                fill: #0c4dcd;
            }

            circle.pointer {
                fill: #596f7a;
                cursor: move;
            }

            circle.pointer.move {
                fill: #5887f9;
            }
        }

        defs {
            marker {
                path {
                    fill: #000000;
                }
            }
        }

        g.alice-tooltip {
            rect.tooltip-container {
                fill: #ffffff;
                stroke: #bec4ce;
                stroke-width: 0.5;
            }
            rect.action-tooltip-item:hover,
            rect.element-tooltip-item:hover {
                cursor: pointer;
            }
        }

        .grid path {
            display: none;
        }

        .grid line {
            stroke: #e5ebf5;
            stroke-width: 0.5;
            stroke-opacity: 1;
            shape-rendering: crispEdges;
        }

        .element {
            .node {
                fill: #ffffff;
                opacity: 1;
                stroke-width: 1;
            }

            .element-type.task {
                stroke-width: 1;
            }
            .node.task.userTask,
            .element-type.task.userTask {
                stroke: #0099ff;
            }
            .node.task.manualTask,
            .element-type.task.manualTask {
                stroke: #23c8c1;
            }
            .node.task.scriptTask,
            .element-type.task.scriptTask {
                stroke: #66cc00;
            }
            .element-type.subprocess {
                stroke-width: 1;
            }
            .node.subprocess,
            .element-type.subprocess {
                stroke: #6774ff;
            }
            .node.gateway {
                stroke: #fac900;
            }
            .node.event {
                stroke: #ff6f61;
            }
            .node.event.commonEnd,
            .node.event.messageEnd {
                stroke-width: 2;
            }
            .node.selected {
                stroke: #0050ff !important;
                stroke-width: 2 !important;
            }
            .node.reject-element {
                stroke: #ff0000 !important;
                stroke-width: 2 !important;
            }
            .group {
                stroke: #000000;
                fill-opacity: 0;
                stroke-dasharray: 5,5;
            }

            .annotation {
                stroke: #000000;
                fill-opacity: 0;
                stroke-dasharray: 5,5,5,5,5,5,0,35,5,5,5,5,5,5,5,5;
            }

            text {
                fill: #000000;
                font: {
                    weight: bold;
                    size: 0.813rem; // 13px
                }
                text-anchor: middle;
                dominant-baseline: middle;
                user-select: none;
            }
        }

        g.guides-container {
            line.guides-line {
                stroke: darkgray;
                stroke-width: 0;
            }
        }

        div.minimap-button {
            display: inline-block;
            width: 2.188rem;  // 35px
            height: 2.188rem;  // 35px
            position: absolute;
            bottom: 0.625rem; // 10px
            right: 0.625rem; // 10px
            cursor: pointer;
            background: {
                image: url("../media/icons/process/editor/icon-map.png");
                repeat: no-repeat;
            };
        }

        div.minimap {
            background-color: #ffffff;
            display: inline-block;
            width: 12.5rem;  // 200px
            height: 9.375rem; // 150px
            overflow: hidden;
            position: absolute;
            bottom: 0.625rem; // 10px
            right: 3.438rem;  // 55px
            box-shadow: -0.063rem 0 0.313rem -0.25rem #def9f7, // -1px 0 5px -4px #def9f7
                        0.063rem 0 0.313rem -0.25rem #def9f7; // 1px 0 5px -4px #def9f7

            svg {
                position: absolute;
                top: 1.25rem;  // 20px
                left: 1.25rem;  // 20px
                background-color: #eef2f7;
                border: 1px solid #c8ced8;
            }

            rect.minimap-guide {
                fill: #A3B6CC;
                fill-opacity: 0.25;
                stroke-width: 0;
            }

            path.connector {
                fill: none;
                stroke: #000;
                stroke-width: 2;
                cursor: default;
            }
            path.connector.is-default {
                stroke-width: 2;
            }

            .connector {
                text {
                    fill: #000000;
                    font: {
                        weight: bold;
                        size: 0.813rem; // 13px
                    }
                    dominant-baseline: text-before-edge;
                    user-select: none;
                }
            }

            .element {
                .node {
                    fill: #ffffff;
                    opacity: 1;
                    stroke-width: 1;
                }

                .node.task.userTask {
                    stroke: #0099ff;
                }
                .node.task.manualTask {
                    stroke: #23c8c1;
                }
                .node.task.scriptTask {
                    stroke: #66cc00;
                }
                .node.subprocess {
                    stroke: #6774ff;
                }

                .node.gateway {
                    stroke: #fac900;
                }

                .node.event {
                    stroke: #ff6f61;
                }

                .node.event.commonEnd,
                .node.event.messageEnd {
                    stroke-width: 3;
                }

                text {
                    fill: #3E4752;
                    font: {
                        size: 0.75rem; // 12px
                        weight: 500;
                    }
                    text-anchor: middle;
                    dominant-baseline: middle;
                    user-select: none;
                }
            }
        }

        div.minimap.closed {
            display: none;
        }
    }

    &-properties-panel {
        display: inline-block;
        background-color: #fafbfd;
        width: $process-properties-panel-width;
        height: calc(100vh - #{$process-toolbar-height});
        min-height: #{$process-container-min-height - $process-toolbar-height};
        position: absolute;
        top: $process-toolbar-height;
        right: 0;
        box-shadow: -0.063rem 0 0.313rem -0.25rem #def9f7; // -1px 0 5px -4px #def9f7

        h3 {
            border-bottom: 0.063rem solid #c8ced8;
            line-height: 0.1em;

            margin: {
                top: 0.969rem; // 15.5px
                left: 1.25rem; // 20px
                right: 1.25rem; // 20px
                bottom: 0.813rem;
            }
        }

        h3 span {
            background-color: #fafbfd;
            padding-right: 0.625rem;
            font: {
                size: 0.75rem; // 12px
                weight: 500;
            }
        }

        div.properties-container {
            height: calc(100vh - #{$process-toolbar-height});

            div.element-title {
                height: 2.5rem; // 40px
                background-color: #2669ff;

                h2 {
                    color: #ffffff;
                    font: {
                        size: 0.875rem; // 14px
                        weight: bold;
                    }
                    padding: 0.719rem 0 0.719rem 0.938rem; // 11.5px 0 11.5px 15px
                }
            }

            div.element-properties {
                height: calc(100vh - #{$process-toolbar-height} - 2.5rem);
                overflow: auto;

                fieldset {
                    border: 0.063rem solid #c8ced8;
                    padding: 0.5rem;  // 8px
                    margin: {
                        right: 1.25rem; // 20px
                        left: 1.25rem; // 20px
                        bottom: 0.5rem;  // 8px
                    }

                    legend {
                        width: 6.25rem; // 100px
                        height: 1.875rem; // 30px

                        input {
                            margin: 0 0.3125rem; //5px
                        }

                        label {
                            font: {
                                size: 0.688rem; // 11px
                                weight: bold;
                            }
                        }
                    }

                    div.properties {
                        margin: 0;
                        label {
                            width: 4.375rem; // 70px
                        }
                    }
                }

                div.properties {
                    display: flex;
                    flex-wrap: wrap;
                    margin: {
                        top: 0.5rem; // 8px
                        left: 1.25rem; // 20px
                        right: 1.25rem; // 20px
                    }

                    font: {
                        size: 0.688rem; // 11px
                    }

                    label {
                        display: inline-block;
                        width: 10.625rem;  // 168px
                        vertical-align: top;
                        margin-bottom: 0.375rem;
                    }

                    label.required {
                        width: 0.5rem;  // 8px
                        color: #ff0000;
                    }

                    input,
                    textarea,
                    select {
                        border: 0.063rem solid #c8ced8;
                        color: #68717c;
                        padding-left: 0.438rem; // 7px
                    }

                    input:not([type=checkbox]),
                    textarea,
                    select {
                        width: 11.875rem; // 190px
                    }

                    textarea {
                        height: 4.375rem; // 70px
                    }

                    input:not([type=checkbox]), select {
                        height: 1.563rem; //25px
                    }

                    input:read-only {
                        color: #a3adbb;
                        background-color: #eff3f8;
                    }

                    input.color,
                    input.copy {
                        width: 10rem; // 160px
                    }

                    select.candidate {
                        width: 8.563rem; // 137px
                    }

                    button {
                        width: 3.125rem;  // 50px
                        height: 1.563rem; // 25px
                        margin-left: 0.188rem; // 3px
                    }

                    table {
                        width: 11.875rem; // 190px
                        margin-top: 0.188rem; // 3px

                        tr {
                            border: {
                                top: 0.063rem solid #c8ced8;
                                bottom: 0.063rem solid #c8ced8;
                            }
                        }
                        th {
                            background-color: lightgrey;
                            text-align: center;
                        }

                        td {
                            padding: {
                                left: 0.313rem;
                            };

                            span.remove {
                                display: inline-block;
                                background-image: url("../media/icons/icon_delete.png");
                                width: 0.938rem;  // 15px
                                height: 0.938rem; // 15px
                                cursor: pointer;
                            }
                        }

                        td:last-child {
                            text-align: right;
                        }
                    }

                    span.selected-color {
                        display: inline-block;
                        width: 1.563rem;    //25px
                        height: 1.563rem;
                        margin-right: 0.3125rem; //5px
                        border: 0.0625rem solid #000000;
                        cursor: pointer;
                    }

                    div.color-palette {
                        background-color: #ffffff;
                        width: 11.875rem; // 190px
                        margin-top: 0.188rem;  // 3px
                        border: 0.063rem solid #c8ced8;
                        padding-left: 0.219rem; // 3.5px
                        div {
                            display: inline-block;
                            width: 1rem;    //16px
                            height: 1rem;
                            margin: {
                                top: 0.375rem; //6px
                                left: 0.375rem; //6px
                            }
                            cursor: pointer;
                        }
                    }

                    .clipboard-tooltip {
                        position: relative;
                        display: inline-block;
                        cursor: pointer;
                        margin-left: 0.188rem;  // 3px

                        .clipboard-tooltip-button {
                            display: inline-block;
                            width: 1.563rem;    //25px
                            height: 1.563rem;    //25px
                            border: 0.063rem solid #c8ced8;
                            background: {
                                size: initial;
                                repeat: no-repeat;
                                image: url("../media/icons/process/editor/icon-clipboard.png");
                                position: center center;
                            }
                        }

                        .clipboard-tooltip-text {
                            visibility: hidden;
                            width: 8.75rem;  //140px
                            background-color: #555;
                            color: #fff;
                            text-align: center;
                            border-radius: 0.375rem;  //6px
                            padding: 0.313rem;  //5px
                            position: absolute;
                            z-index: 1;
                            bottom: 120%;
                            left: 50%;
                            margin-left: -8.125rem;  // -130px
                            opacity: 0;
                            transition: opacity 0.3s;
                        }

                        .clipboard-tooltip-text::after {
                            content: "";
                            position: absolute;
                            top: 100%;
                            left: 50%;
                            margin-left: -0.313rem;  //-5px
                            border-width: 0.313rem;  //5px
                            border-style: solid;
                            border-color: #555 transparent transparent transparent;
                        }
                    }

                    .clipboard-tooltip:hover {
                        .clipboard-tooltip-text {
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
            }

            div.process-info-container {
                height: 15rem; // 240px
                border: {
                    top: 0.063rem solid #c8ced8;
                    bottom: 0.063rem solid #c8ced8;
                }
                margin-top: 1.25rem; // 20px
                padding-top: 0.625rem;  // 10px

                div.info {
                    width: $process-properties-panel-width;
                    height: 6.563rem; // 105px

                    padding: {
                        right: 1.563rem; // 25px
                        left: 1.563rem; // 25px
                    }

                    font: {
                        size: 0.688rem; // 11px
                    }

                    div.total {
                        text-align: right;
                    }

                    table {
                        width: 11.875rem; // 190px

                        tr {
                            border: {
                                top: 0.063rem solid #c8ced8;
                                bottom: 0.063rem solid #c8ced8;
                            }
                        }
                        tr:nth-child(even) {
                            background-color: #ffffff;
                        }
                        tr:nth-child(odd) {
                            background-color: #eff3f8
                        }

                        tr > td {
                            height: 1.563rem;  // 25px
                        }

                        tr > td:first-child {
                            padding-left: 0.625rem;
                        }

                        tr > td:last-child {
                            text-align: right;
                            padding-right: 0.625rem;
                        }

                        label {
                            height: 0.938rem; // 15px
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}