<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/portalLayout">
<head>
    <title th:text="#{notice.label.notice}"></title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="notice-header">
        <div class="header-title flex-row align-items-baseline">
            <h1 th:text="#{notice.label.notice}"></h1>
            <h6 class="description" th:text="#{notice.msg.portalDescription}"></h6>
        </div>
        <div class="notice-search">
            <form id="searchFrm">
                <input type="text" class="search col-5" id="searchValue" name="searchValue" maxlength="100"
                       th:placeholder="#{notice.label.searchPlaceholder}"/>
                <input type="text" class="search-date icon-date col-3" id="fromDt" name="fromDt"/>
                <span>~</span>
                <input type="text" class="search-date icon-date col-3 mr-2" id="searchToDt" name="searchToDt"/>
                <input type="hidden" class="search-date icon-date" id="toDt" name="toDt" readonly="readonly"/>
                <span id="spanTotalCount" class="txt-num"></span>
            </form>
        </div>
    </div>
    <div class="notice-content">
        <div class="list" id="noticeList"></div>
    </div>
</th:block>
</body>
<th:block layout:fragment="pageScript">
    <script th:inline="javascript">
        /*<![CDATA[ */
        let offsetCount = 0;
        let searchFromDt = i18n.getDate({'months': -1});
        let searchToDt = i18n.getDate();

        window.onload = function () {
            // initialization date picker
            document.getElementById('searchValue').focus();
            document.getElementById('fromDt').value = searchFromDt;
            document.getElementById('searchToDt').value = searchToDt;
            dateTimePicker.initDatePicker('fromDt', setDatePicker);
            dateTimePicker.initDatePicker('searchToDt', setDatePicker);
            document.getElementById('searchValue').addEventListener('keyup', function () {
                getNoticeList(false);
            });
            getNoticeList(false);
        };

        function setDatePicker(element, picker) {
            if (typeof picker === 'undefined') {
                return false;
            }
            if (element.id === 'fromDt') {
                const toDtValue = document.getElementById('searchToDt').value;
                if (i18n.systemDate(toDtValue) < i18n.systemDate(element.value)) {
                    aliceAlert.alertWarning(i18n.msg("common.msg.selectBeforeDate", toDtValue), function () {
                        document.getElementById('fromDt').value = searchFromDt;
                        picker.open();
                    });
                } else {
                    getNoticeList(false);
                }
            } else {
                const fromDtValue = document.getElementById('fromDt').value;
                if (i18n.systemDate(fromDtValue) > i18n.systemDate(element.value)) {
                    aliceAlert.alertWarning(i18n.msg("common.msg.selectAfterDate", fromDtValue), function () {
                        document.getElementById('searchToDt').value = searchToDt;
                        picker.open();
                    });
                } else {
                    getNoticeList(false);
                }
            }
        }

        //get notice list
        function getNoticeList(isScroll) {
            let urlParam = '';
            document.getElementById('toDt').value =
                i18n.makeUserDate(document.getElementById('searchToDt').value, {'days': 1});
            if (isScroll) {
                if (offsetCount === 0) {
                    offsetCount = aliceJs.searchDataCount;
                }
            } else {
                offsetCount = 0;
            }
            urlParam = aliceJs.serialize(document.getElementById('searchFrm')) + '&offset=' + offsetCount  + '&isScroll=' + isScroll;
            restSubmit('get', '/portals/notices?' + urlParam, isScroll);
        }

        //REST API
        function restSubmit(method, url, isScroll) {
            const opt = {
                method: method,
                url: url,
                async: false,
                showProgressbar: false,
                callbackFunc: function (response) {
                    if (isScroll) {
                        if (aliceJs.isEnableScrollEvent(offsetCount)) {
                            offsetCount = offsetCount + aliceJs.searchDataCount;
                        }
                        const noticeTbody = document.querySelector('.list-body .os-content');
                        const tbody = document.createElement('tbody');
                        tbody.innerHTML = response.responseText;
                        setDateTimeFormat(tbody);
                        const container = document.createDocumentFragment();
                        for (let i = 0; i < tbody.rows.length; i++) {
                            let node = tbody.rows[i].cloneNode(true);
                            container.appendChild(node);
                        }
                        noticeTbody.appendChild(container)
                    } else {
                        document.getElementById('noticeList').innerHTML = response.responseText;
                        aliceJs.showTotalCount(document.getElementById('totalCount').value);
                        setDateTimeFormat(document.getElementById('noticeList'));

                        OverlayScrollbars(document.querySelector('.list-body'), {
                            className: 'scrollbar',
                            callbacks: {
                                onScroll: function(e) {
                                    const scrollHeight = e.target.scrollHeight;
                                    const scrollTop = e.target.scrollTop;
                                    const clientHeight = e.target.clientHeight;
                                    // 스크롤이 맨 마지막에 있을 경우
                                    if (isScrollbarBottom(scrollHeight, scrollTop, clientHeight)) {
                                        if (aliceJs.isEnableScrollEvent(offsetCount)) {
                                            getNoticeList(true);
                                        }
                                    }
                                }
                            }
                        });
                    }
                }
            };
            aliceJs.sendXhr(opt);
        }

        /**
         * 서버에서 전달받은 데이터의 날짜 포맷을 변경한다.
         */
        function setDateTimeFormat(elem) {
            elem.querySelectorAll('.date-time').forEach(dt => {
                dt.textContent = i18n.userDateTime(dt.textContent.trim());
            });
        }
        /* ]]> */
    </script>
</th:block>
</html>
