<!DOCTYPE html>
<table class="z-table flex-column">
    <thead class="z-table-head">
        <tr class="flex-row">
            <th width="75%" class="align-left" th:text="#{common.label.title}"></th>
            <th width="10%" class="align-center" th:text="#{common.label.createUser}"></th>
            <th width="15%" class="align-center" th:text="#{common.label.createDate}"></th>
        </tr>
    </thead>
    <tbody class="z-table-body">
        <tr class="notice-pinned" th:each="topNotice: ${topNoticeList}">
            <td width="75%" class="align-left underline">
                <a th:text="${topNotice.noticeTitle}"
                   th:href="@{/portals/notices/{id}/view(id=${topNotice.noticeNo})}"></a>
            </td>
            <td width="10%" class="align-center" th:text="${topNotice?.createUserName}"></td>
            <td width="15%" class="align-center date-time" th:text="${topNotice.createDt}"></td>
        </tr>
        <tr class="no-data-found-list" th:if="${#arrays.isEmpty(noticeList)} and ${#arrays.isEmpty(topNoticeList)}">
            <td style="width:100%" colspan="6" class="align-center" th:text="#{common.msg.noData}"></td>
        </tr>
        <th:block th:fragment="list">
            <tr th:each="notice : ${noticeList}">
                <td width="75%" class="align-left underline">
                    <a th:text="${notice.noticeTitle}"
                       th:href="@{/portals/notices/{id}/view(id=${notice.noticeNo})}" th:title="${notice.noticeTitle}"></a>
                </td>
                <td width="10%" class="align-center" id="userName" th:text="${notice?.createUserName}" th:title="${notice?.createUserName}"></td>
                <td width="15%" class="align-center date-time" th:text="${notice.createDt}" th:title="${notice.createDt}"></td>
            </tr>
        </th:block>
    </tbody>
</table>
<th:block th:insert="layout/portal/fragment/totalCountFragment :: totalCountDataFragment"></th:block>
