<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- bootstrap -->
<link rel="stylesheet" th:href="@{/assets/vendors/bootstrap-4.3.1-dist/css/bootstrap.min.css}"/>
<!-- jQuery -->
<script src="../../assets/vendors/jquery-3.4.0/jquery-3.4.0.min.js"></script>
<!-- dateTimePicker -->
<script type="text/javascript" src="../../assets/vendors/bootstrap-datetimepicker/js/moment.js"></script>
<script type="text/javascript" src="../../assets/vendors/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<link rel="stylesheet" th:href="@{/assets/vendors/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css}" />

<title>Insert title here</title>
</head>
<body>
	<div class="container">
		<br />
		<form action= "/notice/insert" method = "post">
		<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
		
		<input type="hidden" th:value="${notice?.noticeNo}" /> 
		<input type="hidden" th:value="${notice?.createDt}" />

		<table class="table" border="1">
			<tr>
				<th>제목</th>
				<td colspan="3"><input id="notice_title" type="text" th:value="${notice?.noticeTitle}" /></td>
			</tr>
			<tr>
				<th>내용</th>
				<td colspan="3" style="text-align:center;"><textarea id="notice_contents" maxlength="140" rows="7" style="width: 750px; resize:none;" th:text="${notice?.noticeContents}"></textarea></td>
			</tr>
			<tr>
				<th>작성자</th>
				<td colspan="3"><input id=create_userid type="text" th:value="${notice?.createUserid}" /></td>
			</tr>
			<tr>
				<td>팝업 알림 설정</td>
				<td>
					<div>
						<label><input type="radio" id = "pop_radio_bt_up" name="pop_radio_bt" th:value="${notice?.popYn}" checked = "checked" onchange = "setDisplay('pop_tab',true)"/>설정</label>
						<label><input type="radio" id = "pop_radio_bt_down" name="pop_radio_bt" th:value="${notice?.popYn}" onchange = "setDisplay('pop_tab',false)">미설정</label>
					</div>
				</td>
				<td>상단 공지 설정</td>
				<td>
					<div>
						<label><input type="radio" id = "top_radio_bt_up" name="top_radio_bt" th:value="${notice?.topNoticeYn}" checked = "checked" onchange = "setDisplay('top_notice_tab',true)">설정</label>
						<label><input type="radio" id = "top_radio_bt_down" name = "top_radio_bt" th:value="${notice?.topNoticeYn}" onchange = "setDisplay('top_notice_tab',false)">미설정</label>
					</div>
				</td>
			</tr>
		</table>
		<div id="pop_tab">
			<table class="table" border="1">
				<tr>
					<th rowspan="4">팝업 알림 설정 정보</th>
					<th>높이</th>
					<th colspan="2"><input type="text" name="pop_height" th:value="${notice.popHeight} ? ${notice.popHeight} : 500">px</th>
				</tr>
				<tr>
					<td>넓이</td>
					<td colspan="2"><input type="text" name="pop_width" th:value="${notice?.popWidth} ? ${notice.popHeight} : 500"/>px</td>
				</tr>
				<tr>
					<td>시작일</td>
					<td colspan="2"><input type="text" name="pop_strt_dt" th:value="${notice.popStrtDt} ?  ${#temporals.format(notice.popStrtDt,'yyyy-MM-dd hh:mm:ss')} : ${#dates.format(#dates.createNow(), 'yyyy-MM-dd hh:mm:ss')}" /></td>
				</tr>
				<tr>
					<td>종료일</td>
					<td colspan="2"><input type="text" name="pop_end_dt" th:value="${notice.popEndDt} ? ${#temporals.format(notice.popEndDt,'yyyy-MM-dd hh:mm:ss')} : ${#dates.format(#dates.createNow(), 'yyyy-MM-dd hh:mm:ss')}" /></td>
				</tr>
			</table>
		</div>

		<div id="top_notice_tab">
			<table class="table" border="1">
				<tr>
					<th rowspan="4">상단 공지 설정 정보</th>
					<th>시작일</th>
					<th colspan="2"><input type="text" name="top_notice_strt_dt" th:value="${notice.topNoticeStrtDt} ? ${#temporals.format(notice.topNoticeStrtDt,'yyyy-MM-dd hh:mm:ss')} : ${#dates.format(#dates.createNow(), 'yyyy-MM-dd hh:mm:ss')}"></th>
				</tr>
				<tr>
					<th>종료일</th>
					<th colspan="2"><input type="text" name="top_notice_end_dt" th:value="${notice.topNoticeEndDt} ? ${#temporals.format(notice.topNoticeEndDt,'yyyy-MM-dd hh:mm:ss')} : ${#dates.format(#dates.createNow(), 'yyyy-MM-dd hh:mm:ss')}"></th>
				</tr>
			</table>
		</div>
		<div style = "float:right;">
			<button type="button" onclick="location.href='/notice'">목록</button>
			<button th:if="!${notice?.noticeNo}" type="submit" id = "insert" value="insert">등록</button>
			<button th:if="${notice?.noticeNo}" type="button" id="update" value="update">수정 완료</button>
		</div>
		</form> 
		
	</div>
	

	<script th:inline="javascript">
	
	$(document).ready(function() {	
		/*<![CDATA[*/


		/*]]>*/
	    if(/*[[${notice.noticeNo}]]*/ != null) {
		if($("input[name=pop_radio_bt]").val() == "true"){
			$('#pop_radio_bt_up').prop('checked',true) 
		       $('#pop_tab').show();
		}else{
			$('#pop_radio_bt_down').prop('checked',true) 
		       $('#pop_tab').hide();
		}
		if($("input[name=top_radio_bt]").val() == "true"){
			$('#top_radio_bt_up').prop('checked',true) 
		       $('#top_notice_tab').show();
		}else{
			$('#top_radio_bt_down').prop('checked',true) 
		       $('#top_notice_tab').hide();
		}
	    }
	})
	
	// 팝업 및 상단 설정 관련 함수
	function setDisplay(param, param2) {
		
		if(param2 == true){
	       $('#'+param).show();
		}else{
	       $('#'+param).hide();
		}
	}
	
	</script>
	


</body>
</html>