<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- bootstrap -->
<link rel="stylesheet" th:href="@{/assets/vendors/bootstrap-4.3.1-dist/css/bootstrap.min.css}"/>
<!-- jQuery -->
<script src="../../assets/vendors/jquery-3.4.0/jquery-3.4.0.min.js"></script>
<!-- dateTimePicker -->
<script type="text/javascript" src="../../assets/vendors/bootstrap-datetimepicker/js/moment.js"></script>
<script type="text/javascript" src="../../assets/vendors/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="../../assets/vendors/window-date-picker/js/window-date-picker.js"></script>
<link rel="stylesheet" th:href="@{/assets/vendors/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css}" />
<link rel="stylesheet" th:href="@{/assets/vendors/bootstrap-datetimepicker/css/font-awesome-4.7.0/css/font-awesome.min.css}" />
<link rel="stylesheet" th:href="@{/assets/vendors/window-date-picker/css/window-date-picker.css}" />
</head>
<body>
	<br />
	<br />
	<div id="picker"></div>
	<div class="container">
		<form id="form_search" method="get" action="/notices/list">
			<div class="pull-right" style="width: 1100px; margin: 10px 0;">
				<input type="checkbox" id="notice_title" name="notice_title" value="check" />제목 
				<input type="checkbox" id="create_userId" name="create_userId" value="check" />작성자 
				<input type="text" name="keyword" id="keyword">
				<!-- calendar -->
				<input type="text" id = "from_date" name = "fromDate" th:value = "${#httpServletRequest.getParameter('toDate')!=null?#httpServletRequest.getParameter('fromDate'):#dates.format(#dates.createNow(),'yyyy-MM-dd hh:mm:ss')}" class="form-control datetimepicker-input" data-target="#fromDateCal"/>
				<input type="text" id = "to_date" name = "toDate" th:value = "${#httpServletRequest.getParameter('toDate')!=null?#httpServletRequest.getParameter('toDate'):#temporals.format(addCurrentDate, 'yyyy-MM-dd')}" class="form-control datetimepicker-input" data-target="#toDateCal"/>
				<!-- submit -->
				<button type="submit" id="btnSearch" name="btnSearch" onclick="return validation()">검색</button>
			</div>
		</form>
		<button type="button" style="text-align: left; float: right;" onclick="location.href='/notices/form'">등록</button>
		<div>
			<table class="table table-hover" style="text-align: center">
				<colgroup>
					<col width="10%">
					<col width="40%">
					<col width="10%">
					<col width="20%">
					<col width="20%">
				</colgroup>
				<thead>
					<tr>
						<th></th>
						<th>제목</th>
						<th>팝업</th>
						<th>작성자</th>
						<th>등록일시</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="topNotice : ${topNoticeList}">
						<td th:if="${topNotice.topNoticeYn} == true"><img src="../assets/media/icons/icon_notice.gif"></td>
						<td th:unless="${topNotice.topNoticeYn} == true"></td>
						<td style = "text-align:left"><a href="/notices/notice?id="  th:attrappend="href=${topNotice.noticeNo}" th:text="${topNotice.noticeTitle}"></a></td>
						<td th:if="${topNotice.popYn} == true "><a th:attr="onclick=|openPopUp('${topNotice.noticeNo}')|"><img src="../assets/media/icons/icon_pop.gif"></a></td>
						<td th:unless="${topNotice.popYn} == true "></td>
						<td th:text="${topNotice.createUserid}"></td>
						<td th:text="${topNotice.createDt} ? ${#temporals.format(topNotice.createDt,'yyyy-MM-dd')} : ${topNotice.createDt}"></td>
					</tr>
					<tr th:each="notice : ${noticeList}">
						<td id="topNoticeYn"></td>
						<td style = "text-align:left"><a href="/notices/notice?id=" th:attrappend="href=${notice.noticeNo}" th:text="${notice.noticeTitle}" style="text-align:left"></a></td>
						<td th:if="${notice.popYn} == true "><a th:attr="onclick=|openPopUp('${notice.noticeNo}')|"><img src="../assets/media/icons/icon_pop.gif" ></a></td>
						<td th:unless="${notice.popYn} == true "></td>
						<td id="createUserid" th:text="${notice.createUserid}"></td>
						<td th:text="${notice.createDt} ? ${#temporals.format(notice.createDt,'yyyy-MM-dd')} : ${notice.createDt}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<script th:inline="javascript">

	    //calendar 설정 함수
        $(function () {
            /*$('#fromDateCal').datetimepicker({
                format: 'YYYY-MM-DD'
            });*/

			let picker = new WindowDatePicker({
				el: '#picker',
				inputEl: '#from_date',
				type: 'DATEHOUR',
				dateType: 'YYYY-MM-DD',
				hourType: "24",
				inputToggle: true
			});
			picker.setPosition();
            
            /*$('#toDateCal').datetimepicker({
                format: 'YYYY-MM-DD'
            });*/
        });
		
		//validation check and submit
		function validation() {
			var search_value = $('#form_search #keyword').val();
			var check_value = $("input:checkbox[id='notice_title']").is(":checked") == false && jQuery("input:checkbox[id='create_userId']").is(":checked") == false
			
			if(check_value == true){alert("검색 조건을 선택해 주세요."); return false;}
			if(search_value == ''){alert("검색어를 입력해주세요."); return false;}
			if($('#from_date').val() == ''){alert("검색 시작 날짜를 입력해주세요."); return false;}
			if($('#to_date').val() == ''){alert("검색 종료 날짜를 입력해주세요."); return false;}	
			if($('#from_date').val() > $('#to_date').val()){alert("검색 시작 날짜가 종료 날짜보다 큽니다."); return false;}
		}
		
		//list 팝업 생성
		function openPopUp(id) {
			var targetId = id;
			var targetUrl = "noticePopUp/" + targetId;
			window.open(targetUrl, targetId, "width = 500, height = 500");			
		}
	</script>
</body>
</html>