<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" th:href="@{/assets/vendors/bootstrap-4.3.1-dist/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/assets/vendors/bootstrap-datepicker/css/bootstrap-datepicker.css}" />
<script src="../../assets/js/common.js"></script>
<script src="../../assets/vendors/jquery-3.4.0/jquery-3.4.0.min.js"></script>
<script src="../../assets/vendors/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
</head>
<body>
	<br />
	<br />
	<div class="container">
		<form id="form_search" method="get" action="/notice">
			<div class="pull-right" style="width: 1100px; margin: 10px 0;">
				<input type="checkbox" id="notice_title" name="notice_title" value="check" />제목 
				<input type="checkbox" id="create_userId" name="create_userId" value="check" />작성자 
				<input type="text" name="keyword" id="keyword">
				
				<!-- calendar -->
				<input type="text" id="fromDate" name="fromDate" th:value="${#httpServletRequest.getParameter('fromDate')!=null?#httpServletRequest.getParameter('fromDate'):#calendars.format(#calendars.createNow(), 'yyyy-MM-dd')}" onclick="javascript:datepicker(fromDate)" style = "cursor:pointer" readonly="readonly" autocomplete="off"><img src="assets/media/icons/icon_calendar.png" /> ~ 
				<input type="text" id="toDate" name="toDate" th:value="${#httpServletRequest.getParameter('toDate')!=null?#httpServletRequest.getParameter('toDate'):#temporals.format(addCurrentDate, 'yyyy-MM-dd')}"  onclick="javascript:datepicker(toDate)" style = "cursor:pointer" readonly="readonly" autocomplete="off"><img src="assets/media/icons/icon_calendar.png" />
			
				<!-- submit -->
				<button type="button" id="btnSearch" name="btnSearch" onclick="search();">검색</button>
			</div>
		</form>
		<button type="button" style="text-align: left; float: right;"
			onclick="location.href='notice/form'">등록</button>
		<div>
			<table class="table table-hover" style="text-align: center">
				<colgroup>
					<col width="10%">
					<col width="40%">
					<col width="10%">
					<col width="20%">
					<col width="20%">
				</colgroup>
				<thead>
					<tr>
						<th></th>
						<th>제목</th>
						<th>팝업</th>
						<th>작성자</th>
						<th>등록일시</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="topNotice : ${topNoticeList}">
						<td th:if="${topNotice.topNoticeYn} == true"><img
							src="assets/media/icons/icon_notice.gif"></td>
						<td th:unless="${topNotice.topNoticeYn} == true"></td>
						<td style = "text-align:left"><a th:href="'/notice/detail?noticeNo='+${topNotice.noticeNo}" th:text="${topNotice.noticeTitle}"></a></td>
						<td th:if="${topNotice.popYn} == true "><img src="assets/media/icons/icon_pop.gif"></td>
						<td th:unless="${topNotice.popYn} == true "></td>
						<td th:text="${topNotice.createUserid}"></td>
						<td th:text="${topNotice.createDt} ? ${#temporals.format(topNotice.createDt,'yyyy-MM-dd')} : ${topNotice.createDt}"></td>
					</tr>
					<tr th:each="notice : ${noticeList}">
						<td id="topNoticeYn"></td>
						<td style = "text-align:left"><a th:href="'/notice/detail?noticeNo='+${notice.noticeNo}" th:text="${notice.noticeTitle}" style="text-align:left"></a></td>
						<td th:if="${notice.popYn} == true "><img src="assets/media/icons/icon_pop.gif"></td>
						<td th:unless="${notice.popYn} == true "></td>
						<td id="createUserid" th:text="${notice.createUserid}"></td>
						<td th:text="${notice.createDt} ? ${#temporals.format(notice.createDt,'yyyy-MM-dd')} : ${notice.createDt}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<script th:inline="javascript">
		$(document).ready(function() {	
			/*<![CDATA[*/


			/*]]>*/
		})
		
		//validation check and submit
		function search(){
			var search_value = jQuery('#form_search #keyword').val();
			var check_value = jQuery("input:checkbox[id='notice_title']").is(":checked") == false && jQuery("input:checkbox[id='create_userId']").is(":checked") == false
			if(check_value == true){
				alert("검색 조건을 선택해 주세요.")
			} else if(search_value == '') {
				alert("검색어를 입력하시오.")
			} else {
				jQuery('#form_search').submit();
			}
		}
	</script>
</body>
</html>