<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="_csrf" th:content="${_csrf.token}"/>
<link rel="stylesheet" th:href="@{/assets/vendors/bootstrap-4.3.1-dist/css/bootstrap.min.css}" />
<script src="../../assets/vendors/jquery-3.4.0/jquery-3.4.0.min.js"></script>
<script src="../../assets/js/withoutJquery.js"></script>
</head>
<body>
    <div class="container">
        <br />
        <form id = "frm" method = "post">
        <table class="table" border="1">
            <tr>
                <th th:text="#{notice.title}"></th>
                <td colspan="3"><span th:text="${notice?.noticeTitle}"></span></td>
            </tr>
            <tr>
                <th th:text="#{notice.contents}"></th>
                <td colspan="3" style="text-align:left; width:500px; height:250px;"><span th:text="${notice?.noticeContents}"></span></td>
            </tr>
            <tr>
                <th th:text="#{notice.user}"></th>
                <td colspan="3"><span th:text="${notice?.createUserid}"/></span></td>
            </tr>
            <tr style = "display:none;">
                <th th:text="#{notice.popUpNoticeSettings}"></th>
                <td>
                    <div>
                        <label><input type="radio" id = "popRadioBtUp" name="popYn" th:value="${notice.popYn}" onclick ="return(false);" th:text="#{notice.set}"></label>
                        <label><input type="radio" id = "popRadioBtDown" name="popYn" th:value="${notice.popYn}" onclick ="return(false);" th:text="#{notice.notSet}"></label>
                    </div>
                </td>
                <th th:text="#{notice.topNoticeSettings}"></th>
                <td>
                    <div>
                        <label><input type="radio" id = "topRadioBtUp" name="topNoticeYn" th:value="${notice.topNoticeYn}" onclick ="return(false);" th:text="#{notice.set}"></label>
                        <label><input type="radio" id = "topRadioBtDown" name="topNoticeYn" th:value="${notice.topNoticeYn}" onclick ="return(false);" th:text="#{notice.notSet}"></label>
                    </div>
                </td>
            </tr>
        </table>
        <div id="popTab" style = "display:none;">
            <table class="table" border="1">
                <tr>
                    <th rowspan="4" th:text="#{notice.popUpNoticeSettingsInfo}"></th>
                    <th th:text="#{notice.height}"></th>
                    <td colspan="2"><span th:text="${notice?.popHeight}"></span></td>
                </tr>
                <tr>
                    <th th:text="#{notice.width}"></th>
                    <td colspan="2"><span th:text="${notice?.popWidth}"/></span></td>
                </tr>
                <tr>
                    <th th:text="#{notice.strtDt}"></th>
                    <td colspan="2"><span th:text="${#temporals.format(notice.popStrtDt,'yyyy-MM-dd HH:mm:ss')}" ></span></td>
                </tr>
                <tr>
                    <th th:text="#{notice.endDt}"></th>
                    <td colspan="2"><span th:text="${#temporals.format(notice.popEndDt,'yyyy-MM-dd HH:mm:ss')}"/></span></td>
                </tr>
            </table>
        </div>

        <div id="topNoticeTab" style = "display:none;">
            <table class="table" border="1">
                <tr>
                    <th rowspan="4" th:text="#{notice.topNoticeSettingsInfo}"></th>
                    <th th:text="#{notice.strtDt}"></th>
                    <td colspan="2"><span th:text="${#temporals.format(notice.topNoticeStrtDt,'yyyy-MM-dd HH:mm:ss')}"></span></td>
                </tr>
                <tr>
                    <th th:text="#{notice.endDt}"></th>
                    <td colspan="2"><span th:text="${#temporals.format(notice.topNoticeEndDt,'yyyy-MM-dd HH:mm:ss')}"></span></td>
                </tr>
            </table>
        </div>
        <div style = "float:right;">
            <button type="button" onclick="location.href='/notices/search'" th:text="#{notice.list}"></button>
            <button sec:authorize="hasAuthority('notice.update')" th:if="${notice?.noticeNo}" type="button" th:onclick ="'location.href =\'' + @{/notices/{id}/edit(id=${notice.NoticeNo})}+'\''" th:text="#{notice.modify}"></button>
            <button sec:authorize="hasAuthority('notice.delete')" th:if="${notice?.noticeNo}" type="button" id="delete" th:onclick="restSubmit('DELETE',[[@{/rest/notices/{noticeNo}(noticeNo=${notice.noticeNo})}]])" th:text="#{notice.delete}"></button>
        </div>
        </form>
    </div>
    
<script th:inline="javascript">
/*<![CDATA[ */    
    window.onload = function() {
        // 게시물 삭제 처리 시, validation 체크.
        var noticeNo = /*[[${notice.noticeNo}]]*/;
        if (noticeNo == null) {
            if (noticeNo == null) {alert("이미 삭제된 게시물 입니다."); return history.go(-1);}
        }

        if (document.getElementsByName('popYn')[0].value == 'true') {
            document.getElementById('popRadioBtUp').checked = true;
        } else {
            document.getElementById('popRadioBtDown').checked = true;
            document.getElementById('popTab').style.display = 'none';
        }
        
        if (document.getElementsByName('topNoticeYn')[0].value == 'true') {
            document.getElementById('topRadioBtUp').checked = true;
        } else {
            document.getElementById('topRadioBtDown').checked = true;
            document.getElementById('topNoticeTab').style.display = 'none';
        }
    }

    //RESTFUL API
    function restSubmit(method, url, async) {
        var xmlhttp = createXmlHttpRequestObject(method, url, async);
        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState == XMLHttpRequest.DONE) {   // XMLHttpRequest.DONE == 4
                if (xmlhttp.status == 200) {
                    alert("삭제 처리되었습니다.");
                    window.location = "/notices/search";
                } else if (xmlhttp.status == 400) {
                    alert('There was an error 400');
                } else {
                    alert('something else other than 200 was returned');
                }
            }    
        };
        xmlhttp.send(null);    
    }
/* ]]> */
</script>
</body>
</html>