<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <div class="container">
        <table class="table" border="1">
            <tr>
                <th th:text="#{notice.title}"></th>
                <td colspan="3"><span th:text="${noticePopUp.noticeTitle}"></span></td>
            </tr>
            <tr>
                <th th:text="#{notice.contents}"></th>
                <td colspan="3" style="text-align: center;"><textarea maxlength="140" rows="10" style="width: 750px; resize: none;" th:text="${noticePopUp.noticeContents}" readonly="readonly"></textarea></td>
            </tr>
            <tr>
                <th th:text="#{notice.user}"></th>
                <td colspan="3"><span th:text="${noticePopUp.createUserid}" /></span></td>
            </tr>
        </table>
    </div>
    
    <div align="right" th:if="!${isPopUp}">
        <input type="checkbox" name="close" value="OK" onclick="closePop(1);">오늘 하루 이창을 열지 않음
    </div>
    
<script th:inline="javascript">
    
    function closePop(expiredays) {
    	var winName = window.name
    	setCookie(winName, "done", expiredays);
    	self.close();
    }

    //create cookie
    function setCookie(name, value, expiredays) {
    	var todayDate = new Date();
    	todayDate = new Date(parseInt(todayDate.getTime() / 86400000) * 86400000 + 54000000); 
    	if (todayDate > new Date()) {
    		expiredays = expiredays - 1;
    	}
    	todayDate.setDate(todayDate.getDate() + expiredays);
    	document.cookie = name + "=" + escape(value) + "; path=/; expires=" + todayDate.toGMTString() + ";"
    }
</script>
</body>
</html>