<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
       <div class= "container">
            <table class="table table-hover" style="text-align: center">
                <colgroup>
                    <col width="10%">
                    <col width="40%">
                    <col width="10%">
                    <col width="20%">
                    <col width="20%">
                </colgroup>
                <thead>
                    <tr>
                        <th></th>
                        <th th:text="#{notice.title}"></th>
                        <th th:text="#{notice.popUp}"></th>
                        <th th:text="#{notice.user}"></th>
                        <th th:text="#{notice.createDt}"></th>
                    </tr>
                </thead>
                <tbody id="tbody">
                    <tr th:each="topNotice : ${topNoticeList}">
                        <td th:if="${topNotice.topNoticeYn}"><img src="../assets/media/icons/icon_notice.gif"></td>
                        <td th:unless="${topNotice.topNoticeYn}"></td>
                        <td style = "text-align:left"><a th:href="@{/notices/{id}/view(id=${topNotice.noticeNo})}" th:text="${topNotice.noticeTitle}"></a></td>
                        <td th:if="${topNotice.popYn}"><a th:attr="onclick=|openPopUp('${topNotice.noticeNo}')|"><img src="../assets/media/icons/icon_pop.gif"></a></td>
                        <td th:unless="${topNotice.popYn}"></td>
                        <td th:text="${topNotice?.aliceUserEntity.userName}"></td>
                        <td th:text="${topNotice.createDt} ? ${#temporals.format(topNotice.createDt,'yyyy-MM-dd HH:mm')} : ${topNotice.createDt}"></td>
                    </tr>
                    <tr th:each="notice : ${noticeList}" th:if="${notice.topNoticeYn} ==  false">
                        <td id="topNoticeYn"></td>
                        <td style = "text-align:left"><a th:href="@{/notices/{id}/view(id=${notice.noticeNo})}" th:text="${notice.noticeTitle}" style="text-align:left"></a></td>
                        <td th:if="${notice.popYn}"><a th:attr="onclick=|openPopUp('${notice.noticeNo}')|"><img src="../assets/media/icons/icon_pop.gif" ></a></td>
                        <td th:unless="${notice.popYn}"></td>
                        <td id="userName" th:text="${notice?.aliceUserEntity.userName}"></td>
                        <td th:text="${notice.createDt} ? ${#temporals.format(notice.createDt,'yyyy-MM-dd HH:mm')} : ${notice.createDt}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
</body>
</html>
