<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layout/defaultLayout">
<head>
    <title th:text="#{notice.label.edit}"></title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="contents-edit scroll-wrap">
        <div class="header">
            <div class="page-title">
                <h1 th:text="#{notice.label.list}"></h1>
                <h6 class="title-description" th:text="#{notice.msg.description}"></h6>
            </div>
        </div>
        <div class="edit">
            <form id="frm" method="post">
                <div class="form-set">
                    <label th:text="#{common.label.title}" for="noticeTitle"></label>
                    <input id="noticeTitle" name="noticeTitle" type="text" th:value="${notice?.noticeTitle}"
                           maxlength="128"/>
                </div>
                <div class="form-set">
                    <label th:text="#{common.label.contents}" for="noticeContents"></label>
                    <textarea id="noticeContents" name="noticeContents" maxlength="2048" rows="11" class="textarea-scroll-wrapper"
                              th:text="${notice?.noticeContents}"></textarea>
                </div>
                <div class="form-set file-edit-contents">
                    <label class="file-head" th:text="#{common.label.attachFile}"></label>
                    <div id="dropZoneFiles"></div>
                    <div id="dropZoneUploadedFiles"></div>
                </div>
                <div class="form-set">
                    <label th:text="#{common.label.createUser}"></label>
                    <input th:value="${notice?.aliceUserEntity?.userName} ? ${notice.aliceUserEntity.userName} : ${#authentication.details.userName}"
                           disabled/>
                </div>
                <div class="form-set">
                    <label class="switch">
                        <input type="checkbox" id="popYn" name="popYn" onclick="toggle(this);"
                               onchange="setDisplay('popTab',this)"
                               th:checked="${notice?.popYn == true}">
                        <span class="slider round"></span>
                        <span class="switch-label" th:text="#{notice.label.popUpNoticeSettings}"></span>
                    </label>
                </div>
                <div id="popTab" class="form_set">
                    <div class="row">
                        <div class="form-set column-6">
                            <label th:text="#{notice.label.height}" for="popHeight"></label>
                            <input type="text" id="popHeight" name="popHeight" class="px"
                                   th:value="${notice?.popHeight} ? ${notice.popHeight} : 500" max="1000" maxlength="4"
                                   oninput="maxLengthCheck(this)" />
                        </div>
                        <div class="form-set column-6">
                            <label th:text="#{notice.label.width}" for="popWidth"></label>
                            <input type="text" id="popWidth" name="popWidth" class="px"
                                   th:value="${notice?.popWidth} ? ${notice.popWidth} : 500" max="1000" maxlength="4"
                                   oninput="maxLengthCheck(this)" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-set column-6">
                            <label th:text="#{notice.label.strtDt}" for="popStrtDt"></label>
                            <input type="text" id="popStrtDt" name="popStrtDt" class="date column-fluid" />
                        </div>
                        <div class="form-set column-6">
                            <label th:text="#{notice.label.endDt}" for="popEndDt"></label>
                            <input type="text" id="popEndDt" name="popEndDt" class="date column-fluid" />
                        </div>
                    </div>
                </div>
                <div class="form-set">
                    <label class="switch">
                        <input type="checkbox" id="topNoticeYn" name="topNoticeYn" onclick="toggle(this);"
                               onchange="setDisplay('topNoticeTab',this)"
                               th:checked="${notice?.topNoticeYn == true}">
                        <span class="slider round"></span>
                        <span class="switch-label" th:text="#{notice.label.topNoticeSettings}"></span>
                    </label>
                </div>
                <div id="topNoticeTab" class="form-set">
                    <div class="row">
                        <div class="form-set column-6">
                            <label th:text="#{notice.label.strtDt}" for="popStrtDt"></label>
                            <input type="text" id="topNoticeStrtDt" class="date column-fluid" name="topNoticeStrtDt"/>
                        </div>
                        <div class="form-set column-6">
                            <label th:text="#{notice.label.endDt}" for="popEndDt"></label>
                            <input type="text" id="topNoticeEndDt" class="date column-fluid" name="topNoticeEndDt"/>
                        </div>
                    </div>
                </div>
                <div class="btn-bar">
                    <button type="button" class="default-line" onclick="location.href='/notices/search'" th:text="#{common.btn.list}"></button>
                    <button sec:authorize="hasAuthority('notice.create')" th:if="!${notice?.noticeNo}" type="button" id="insert"
                            class="point-fill" th:onclick="restSubmit('post',[[@{/rest/notices}]])" th:text="#{common.btn.register}">
                    </button>
                    <button sec:authorize="hasAuthority('notice.update')" th:if="${notice?.noticeNo}" type="button" id="update"
                            class="point-fill" th:onclick="restSubmit('put',[[@{/rest/notices/{noticeNo}(noticeNo=${notice.noticeNo})}]])"
                            th:text="#{notice.label.modifyCompleted}">
                    </button>
                    <button sec:authorize="hasAuthority('notice.delete')" th:if="${notice?.noticeNo}" type="button" id="delete"
                            class="default-fill" th:onclick="restSubmit('delete',[[@{/rest/notices/{noticeNo}(noticeNo=${notice.noticeNo})}]])"
                            th:text="#{common.btn.delete}">
                    </button>
                </div>
            </form>
        </div>
    </div>
</th:block>
</body>
<th:block layout:fragment="pageScript">
    <script th:inline="javascript">
        /*<![CDATA[ */
        window.onload = function() {
            setDisplay('popTab',document.getElementById('popYn'));
            setDisplay('topNoticeTab',document.getElementById('topNoticeYn'));
            fileUploader.init({extra: {formId: 'frm', ownId: /*[[${notice?.noticeNo}]]*/''}});
            OverlayScrollbars(document.querySelectorAll('.scroll-wrap'), { className: 'scrollbar' });
            OverlayScrollbars(document.querySelectorAll('#noticeContents'), {
                className: 'scrollbar',
                resize: 'vertical',
                sizeAutoCapable: true,
                textarea: {
                    dynHeight: false,
                    dynWidth: false,
                    inheritedAttrs: "class"
                }
            });
        }

        function setDisplay(viewId, swithElement) {
            if (swithElement.checked) {
                if (viewId === 'popTab') {
                    const popStrtDtVal = /*[[${notice?.popStrtDt}]]*/;
                    const popEndDtVal = /*[[${notice?.popEndDt}]]*/;;
                    document.getElementById('popWidth').value = /*[[${notice?.popWidth} ? ${notice.popWidth} : 500]]*/;
                    document.getElementById('popHeight').value = /*[[${notice?.popHeight} ? ${notice.popHeight} : 500]]*/;
                    document.getElementById('popStrtDt').value = popStrtDtVal ? i18n.userDateTime(popStrtDtVal) : i18n.getDateTime();
                    document.getElementById('popEndDt').value = popEndDtVal ? i18n.userDateTime(popEndDtVal) : i18n.getDateTime({'days':30});
                    dateTimePicker.initDateTimePicker('popStrtDt');
                    dateTimePicker.initDateTimePicker('popEndDt');
                } else if (viewId === 'topNoticeTab') {
                    const topNoticeStrtDtVal = /*[[${notice?.topNoticeStrtDt}]]*/;
                    const topNoticeEndDtVal = /*[[${notice?.topNoticeEndDt}]]*/;
                    document.getElementById('topNoticeStrtDt').value = topNoticeStrtDtVal ? i18n.userDateTime(topNoticeStrtDtVal) : i18n.getDateTime();
                    document.getElementById('topNoticeEndDt').value = topNoticeEndDtVal ? i18n.userDateTime(topNoticeEndDtVal) : i18n.getDateTime({'days':30});
                    dateTimePicker.initDateTimePicker('topNoticeStrtDt');
                    dateTimePicker.initDateTimePicker('topNoticeEndDt');
                }
                document.getElementById(viewId).style.display = 'block';
            } else {
                if (viewId === 'popTab') {
                    document.getElementById('popWidth').value = '';
                    document.getElementById('popHeight').value = '';
                    document.getElementById('popStrtDt').value = '';
                    document.getElementById('popEndDt').value = '';
                } else if (viewId === 'topNoticeTab') {
                    document.getElementById('topNoticeStrtDt').value = '';
                    document.getElementById('topNoticeEndDt').value = '';
                }
                document.getElementById(viewId).style.display = 'none';
            }
        }

        // validation check
        function validation() {
            if (isEmpty('noticeTitle', 'common.msg.enterTitle')) return false;
            if (isEmpty('noticeContents', 'common.msg.enterContents')) return false;
            if (document.getElementById('popYn').checked) {
                if (isEmpty('popHeight', 'notice.msg.enterPopHeight')) return false;
                if (isExistInScope('popHeight', 500, 1000, 'notice.msg.checkPopHeightRange')) return false;
                if (isEmpty('popWidth', 'notice.msg.enterPopWidth')) return false;
                if (isExistInScope('popWidth', 500, 1000, 'notice.msg.checkPopWidthRange')) return false;
                if (isEmpty('popStrtDt', 'notice.msg.enterPopStrtDt')) return false;
                if (isEmpty('popEndDt', 'notice.msg.enterPopEndDt')) return false;
                if (isOrOperator((i18n.systemDateTime(document.getElementById('popStrtDt').value) > i18n.systemDateTime(document.getElementById('popEndDt').value))
                    , (i18n.systemDateTime(document.getElementById('popStrtDt').value) === i18n.systemDateTime(document.getElementById('popEndDt').value))
                    , 'notice.msg.compareWithPopUpValue')) return false;
            }


            if (document.getElementById('topNoticeYn').checked) {
                if (isEmpty('topNoticeStrtDt', 'notice.msg.enterTopNoticeStrtDt')) return false;
                if (isEmpty('topNoticeEndDt', 'notice.msg.enterTopNoticeEndDt')) return false;
                if (isOrOperator((i18n.systemDateTime(document.getElementById('topNoticeStrtDt').value) > i18n.systemDateTime(document.getElementById('topNoticeEndDt').value))
                    , (i18n.systemDateTime(document.getElementById('topNoticeStrtDt').value) === i18n.systemDateTime(document.getElementById('topNoticeEndDt').value))
                    , 'notice.msg.compareWithTopNoticeValue')) return false;
            }
            return true;
        }

        function maxLengthCheck(object) {
            if (object.value.length > object.maxLength) {
                object.value = object.value.slice(0, object.maxLength);
            }
        }
        /* ]]> */
    </script>

    <script th:inline="javascript" th:if="!${notice?.noticeNo}">
        /*<![CDATA[ */
        function restSubmit(method, url, async) {
            if (!validation()) {
                return false;
            }

            const fileSeq = [];
            document.getElementsByName('fileSeq').forEach(elm => fileSeq.push(elm.value));

            const jsonData = JSON.stringify({
                noticeTitle: document.getElementById('noticeTitle').value,
                noticeContents: document.getElementById('noticeContents').value,
                popYn: document.getElementById('popYn').checked,
                popStrtDt: i18n.systemDateTime(document.getElementById('popStrtDt').value),
                popEndDt: i18n.systemDateTime(document.getElementById('popEndDt').value),
                popWidth: document.getElementById('popWidth').value,
                popHeight: document.getElementById('popHeight').value,
                topNoticeYn: document.getElementById('topNoticeYn').checked,
                topNoticeStrtDt: i18n.systemDateTime(document.getElementById('topNoticeStrtDt').value),
                topNoticeEndDt: i18n.systemDateTime(document.getElementById('topNoticeEndDt').value),
                fileSeq: fileSeq
            });

            const opt = {
                method: method,
                url: url,
                async: async,
                params: jsonData,
                contentType: 'application/json',
                callbackFunc: function() {
                    aliceJs.alertSuccess(i18n.get('common.msg.register'), function() {
                        window.location.href = '/notices/search';
                    });

                }
            };
            aliceJs.sendXhr(opt)
        }
        /* ]]> */
    </script>

    <script th:inline="javascript" th:if="${notice?.noticeNo}">
        /*<![CDATA[ */
        function restSubmit(method, url, async) {
            let jsonData = '';
            if (method === 'put') {
                const noticeNo = /*[[${notice.noticeNo}]]*/;

                if (!validation()) {
                    return false;
                }

                const fileSeq = [];
                const delFileSeq = [];
                document.getElementsByName('fileSeq').forEach(elm => fileSeq.push(elm.value));
                document.getElementsByName('delFileSeq').forEach(elm => delFileSeq.push(elm.value));
                jsonData = JSON.stringify({
                    noticeNo: noticeNo,
                    noticeTitle: document.getElementById('noticeTitle').value,
                    noticeContents: document.getElementById('noticeContents').value,
                    popYn: document.getElementById('popYn').checked,
                    popStrtDt: i18n.systemDateTime(document.getElementById('popStrtDt').value),
                    popEndDt: i18n.systemDateTime(document.getElementById('popEndDt').value),
                    popWidth: document.getElementById('popWidth').value,
                    popHeight: document.getElementById('popHeight').value,
                    topNoticeYn: document.getElementById('topNoticeYn').checked,
                    topNoticeStrtDt: i18n.systemDateTime(document.getElementById('topNoticeStrtDt').value),
                    topNoticeEndDt: i18n.systemDateTime(document.getElementById('topNoticeEndDt').value),
                    fileSeq: fileSeq,
                    delFileSeq: delFileSeq
                });
            }
            const opt = {
                method: method,
                url: url,
                async: async,
                params: jsonData,
                contentType: 'application/json',
                callbackFunc: function() {
                    if (method === 'put') {
                        aliceJs.alertSuccess(i18n.get('common.msg.modify'), function() {
                            window.location = '/notices/search';
                        });
                    } else if (method === 'delete') {
                        aliceJs.alertSuccess(i18n.get('common.msg.delete'), function() {
                            window.location = '/notices/search';
                        });
                    }
                }
            };
            aliceJs.sendXhr(opt)
        }
        /* ]]> */
    </script>
</th:block>
</html>
