<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layout/defaultLayout">
<head>
    <title>공지사항 리스트</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="container">
        <br />
        <form id = "frm" method = "post">
        <table class="table" border="1">
            <tr>
                <th th:text="#{common.label.title}"></th>
                <td colspan="3"><span th:text="${notice?.noticeTitle}"></span></td>
            </tr>
            <tr>
                <th th:text="#{common.label.contents}"></th>
                <td colspan="3" style="text-align:left; width:500px; height:250px;"><span th:text="${notice?.noticeContents}"></span></td>
            </tr>
            <tr>
                <th th:text="#{common.label.attachFile}"></th>
                <td colspan="3">
                    <div id="dropZoneFiles"></div>
                    <div id="dropZoneUploadedFiles"></div>
                </td>
            </tr>
            <tr>
                <th th:text="#{common.label.createUser}"></th>
                <td colspan="3"><span th:text="${notice?.aliceUserEntity.userName}"></span></td>
            </tr>
            <tr style = "display:none;">
                <th th:text="#{notice.label.popUpNoticeSettings}"></th>
                <td>
                    <div>
                        <label>
                            <input type="radio" id = "popRadioBtUp" name="popYn" th:value="${notice.popYn}"
                                   onclick ="return(false);" th:text="#{notice.label.set}">
                        </label>
                        <label>
                            <input type="radio" id = "popRadioBtDown" name="popYn" th:value="${notice.popYn}"
                                   onclick ="return(false);" th:text="#{notice.label.notSet}">
                        </label>
                    </div>
                </td>
                <th th:text="#{notice.label.topNoticeSettings}"></th>
                <td>
                    <div>
                        <label>
                            <input type="radio" id = "topRadioBtUp" name="topNoticeYn" th:value="${notice.topNoticeYn}"
                                   onclick ="return(false);" th:text="#{notice.label.set}">
                        </label>
                        <label>
                            <input type="radio" id = "topRadioBtDown" name="topNoticeYn" th:value="${notice.topNoticeYn}"
                                   onclick ="return(false);" th:text="#{notice.label.notSet}">
                        </label>
                    </div>
                </td>
            </tr>
        </table>
        <div id="popTab" style = "display:none;">
            <table class="table" border="1">
                <tr>
                    <th rowspan="4" th:text="#{notice.label.popUpNoticeSettingsInfo}"></th>
                    <th th:text="#{notice.label.height}"></th>
                    <td colspan="2"><span th:text="${notice?.popHeight}"></span></td>
                </tr>
                <tr>
                    <th th:text="#{notice.label.width}"></th>
                    <td colspan="2"><span th:text="${notice?.popWidth}"></span></td>
                </tr>
                <tr>
                    <th th:text="#{notice.label.strtDt}"></th>
                    <td colspan="2">
                        <span th:with="dateformat=${#authentication.details.timeFormat}"
                              th:text="${#temporals.format(notice.popStrtDt,dateformat)}"></span>
                    </td>
                </tr>
                <tr>
                    <th th:text="#{notice.label.endDt}"></th>
                    <td colspan="2">
                        <span th:with="dateformat=${#authentication.details.timeFormat}"
                              th:text="${#temporals.format(notice.popEndDt,dateformat)}"></span>
                    </td>
                </tr>
            </table>
        </div>

        <div id="topNoticeTab" style = "display:none;">
            <table class="table" border="1">
                <tr>
                    <th rowspan="4" th:text="#{notice.label.topNoticeSettingsInfo}"></th>
                    <th th:text="#{notice.label.strtDt}"></th>
                    <td colspan="2">
                        <span th:with="dateformat=${#authentication.details.timeFormat}"
                              th:text="${#temporals.format(notice.topNoticeStrtDt,dateformat)}"></span>
                    </td>
                </tr>
                <tr>
                    <th th:text="#{notice.label.endDt}"></th>
                    <td colspan="2">
                        <span th:with="dateformat=${#authentication.details.timeFormat}"
                              th:text="${#temporals.format(notice.topNoticeEndDt,dateformat)}"></span>
                    </td>
                </tr>
            </table>
        </div>
        <div style = "float:right;">
            <button type="button" onclick="location.href='/notices/search'" th:text="#{common.btn.list}"></button>
        </div>
        </form>
    </div>
</th:block>
</body>
<th:block layout:fragment="pageScript">
    <script th:inline="javascript">
        /*<![CDATA[ */
        window.onload = function() {
            // 게시물 삭제 처리 시, validation 체크.
            const noticeNo = /*[[${notice.noticeNo}]]*/;
            if (noticeNo === null) {
                aliceJs.alert('이미 삭제된 게시물 입니다.');
                return history.go(-1);
            }

            if (document.getElementsByName('popYn')[0].value === 'true') {
                document.getElementById('popRadioBtUp').checked = true;
            } else {
                document.getElementById('popRadioBtDown').checked = true;
                document.getElementById('popTab').style.display = 'none';
            }

            if (document.getElementsByName('topNoticeYn')[0].value === 'true') {
                document.getElementById('topRadioBtUp').checked = true;
            } else {
                document.getElementById('topRadioBtDown').checked = true;
                document.getElementById('topNoticeTab').style.display = 'none';
            }
            fileUploader.init({extra: {formId: 'frm', ownId: noticeNo, editor: false}});
        }
        /* ]]> */
    </script>
</th:block>
</html>
