<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    layout:decorator="layout/defaultLayout">
<head>
    <title>공지사항 등록/수정</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="contents">
        <div class="contents-title">
            <span class="title-txt" th:text="#{menu.portal.notice}"></span>
            <span class="title-description" th:text="#{notice.msg.description}"></span>
        </div>
        <form id="frm" method="post">
            <div class="contents-body">
                <div class="usermanage-menubar">
                    <div class="menubar-left">
                        <input class="search" placeholder="아이디/이름/직책/부서/전화번호">
                        <span class="icon-search"></span>
                    </div>
                    <div class="menubar-right">
                        <span class="btn-add"></span>
                    </div>
                </div>
                <div class="list">
                    <div class="list-wrap-edit">
                        <table>
                            <tr>
                                <th colspan="3">제목</th>
                            </tr>
                            <tr>
                                <td colspan="2" class="edit-name">작성자이름</td>
                                <td class="edit-date">2020-07-17 14:45:56</td>
                            </tr>
                            <tr>
                                <td class="edit-txtarea" colspan="3">본문</td>
                            </tr>
                            <tr>
                                <td class="file-attachment">첨부파일</td>
                                <td class="file-attach-input" colspan="2"><input class="notice-file-attach" type="file" aria-placeholder="첨부파일이 없습니다."></td>
                            </tr>
                        </table>
                        <div class="menubar-bottom">
                            <div class="float-right">
                                <span class="btn-gray"><a href="#">목록</a></span>
                                <span class="btn"><a href="#">수정</a></span>
                                <span class="btn-gray"><a href="#">삭제</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table" border="1">
                <tr>
                    <th th:text="#{common.label.title}"></th>
                    <td colspan="3">
                        <input id="noticeTitle" name="noticeTitle" type="text" th:value="${notice?.noticeTitle}"
                               maxlength="128"/>
                    </td>
                </tr>
                <tr>
                    <th th:text="#{common.label.contents}"></th>
                    <td colspan="3">
                        <textarea id="noticeContents" name="noticeContents" maxlength="2048" rows="7" style="width: 750px; resize: none;"
                                  th:text="${notice?.noticeContents}"></textarea>
                    </td>
                </tr>
                <tr>
                    <th th:text="#{common.label.attachFile}">첨부파일</th>
                    <td colspan="3">
                        <div id="dropZoneFiles"></div>
                        <div id="dropZoneUploadedFiles"></div>
                    </td>
                </tr>
                <tr>
                    <th th:text="#{common.label.createUser}"></th>
                    <td><span sec:authentication="details.userName"></span></td>
                </tr>
                <tr>
                    <th th:text="#{notice.label.popUpNoticeSettings}"></th>
                    <td>
                        <div>
                            <label>
                                <input type="radio" id="popRadioBtUp" name="popYn"
                                       th:value="${notice?.popYn != null} ? ${notice.popYn} : true" checked="checked"
                                       onchange="setDisplay('popTab',true)" th:text="#{notice.label.set}"/>
                            </label>
                            <label>
                                <input type="radio" id="popRadioBtDown" name="popYn"
                                       th:value="${notice?.popYn != null} ? ${notice.popYn} : false"
                                       onchange="setDisplay('popTab',false)" th:text="#{notice.label.notSet}"/>
                            </label>
                        </div>
                    </td>
                    <th th:text="#{notice.label.topNoticeSettings}"></th>
                    <td>
                        <div>
                            <label>
                                <input type="radio" id="topRadioBtUp" name="topNoticeYn"
                                       th:value="${notice?.topNoticeYn != null} ? ${notice.topNoticeYn} : true"
                                       checked="checked" onchange="setDisplay('topNoticeTab',true)"
                                       th:text="#{notice.label.set}"/>
                            </label>
                            <label>
                                <input type="radio" id="topRadioBtDown" name="topNoticeYn"
                                       th:value="${notice?.topNoticeYn != null} ? ${notice.topNoticeYn} : false"
                                       onchange="setDisplay('topNoticeTab',false)" th:text="#{notice.label.notSet}"/>
                            </label>
                        </div>
                    </td>
                </tr>
            </table>
            <div id="popTab">
                <table class="table" border="1">
                    <tr>
                        <th rowspan="4" th:text="#{notice.label.popUpNoticeSettingsInfo}"></th>
                        <th th:text="#{notice.label.height}"></th>
                        <th colspan="2">
                            <input type="number" id="popHeight" name="popHeight"
                                   th:value="${notice?.popHeight} ? ${notice.popHeight} : 500" max="1000" maxlength="4"
                                   oninput="maxLengthCheck(this)" />px
                        </th>
                    </tr>
                    <tr>
                        <th th:text="#{notice.label.width}"></th>
                        <td colspan="2">
                            <input type="number" id="popWidth" name="popWidth"
                                   th:value="${notice?.popWidth} ? ${notice.popWidth} : 500" max="1000" maxlength="4"
                                   oninput="maxLengthCheck(this)" />px</td>
                    </tr>
                    <tr>
                        <th th:text="#{notice.label.strtDt}"></th>
                        <td colspan="2">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="input-group date" id="popStrtDtCal" data-target-input="nearest">
                                                <input type="text" id="popStrtDt" name="popStrtDt"
                                                       class="form-control datetimepicker-input"
                                                       data-target="#popStrtDtCal"/>
                                                <div class="input-group-append" data-target="#popStrtDtCal"
                                                     data-toggle="datetimepicker">
                                                    <div class="input-group-text">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th th:text="#{notice.label.endDt}"></th>
                        <td colspan="2">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="input-group date" id="popEndDtCal" data-target-input="nearest">
                                                <input type="text" id="popEndDt" name="popEndDt"
                                                       class="form-control datetimepicker-input" data-target="#popEndDtCal"/>
                                                <div class="input-group-append" data-target="#popEndDtCal"
                                                     data-toggle="datetimepicker">
                                                    <div class="input-group-text">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="topNoticeTab">
                <table class="table" border="1">
                    <tr>
                        <th rowspan="4" th:text="#{notice.label.topNoticeSettingsInfo}"></th>
                        <th th:text="#{notice.label.strtDt}"></th>
                        <td colspan="2">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="input-group date" id="topNoticeStrtDtCal" data-target-input="nearest">
                                                <input type="text" id="topNoticeStrtDt" name="topNoticeStrtDt"
                                                       class="form-control datetimepicker-input"
                                                       data-target="#topNoticeStrtDtCal"/>
                                                <div class="input-group-append" data-target="#topNoticeStrtDtCal"
                                                     data-toggle="datetimepicker">
                                                    <div class="input-group-text">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th th:text="#{notice.label.endDt}"></th>
                        <td colspan="2">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="input-group date" id="topNoticeEndDtCal"
                                                data-target-input="nearest">
                                                <input type="text" id="topNoticeEndDt" name="topNoticeEndDt"
                                                       class="form-control datetimepicker-input"
                                                       data-target="#topNoticeEndDtCal">
                                                <div class="input-group-append" data-target="#topNoticeEndDtCal"
                                                     data-toggle="datetimepicker">
                                                    <div class="input-group-text">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div style="float: right;">
                <button type="button" onclick="location.href='/notices/search'" th:text="#{common.btn.list}"></button>
                <button sec:authorize="hasAuthority('notice.create')" th:if="!${notice?.noticeNo}" type="button" id="insert"
                        th:onclick="restSubmit('post',[[@{/rest/notices}]])" th:text="#{common.btn.register}">
                </button>
                <button sec:authorize="hasAuthority('notice.update')" th:if="${notice?.noticeNo}" type="button" id="update"
                        th:onclick="restSubmit('put',[[@{/rest/notices/{noticeNo}(noticeNo=${notice.noticeNo})}]])"
                        th:text="#{notice.label.modifyCompleted}">
                </button>
                <button sec:authorize="hasAuthority('notice.delete')" th:if="${notice?.noticeNo}" type="button" id="delete"
                        th:onclick="restSubmit('delete',[[@{/rest/notices/{noticeNo}(noticeNo=${notice.noticeNo})}]])"
                        th:text="#{common.btn.delete}">
                </button>
            </div>
        </form>
    </div>
</th:block>
</body>
<th:block layout:fragment="pageScript">
    <script th:inline="javascript">
        /*<![CDATA[ */
        window.onload = function() {
            if (/*[[${notice?.noticeNo}]]*/ != null) {
                if (document.getElementsByName('popYn')[0].value === 'true') {
                    document.getElementById('popRadioBtUp').checked = true;
                    document.getElementById('popTab').style.display = '';
                    setDisplay('popTab',true)
                } else {
                    document.getElementById('popRadioBtDown').checked = true;
                    document.getElementById('popWidth').value = '';
                    document.getElementById('popHeight').value = '';
                    document.getElementById('popStrtDt').value = '';
                    document.getElementById('popEndDt').value = '';
                    document.getElementById('popTab').style.display = 'none';
                }

                if (document.getElementsByName('topNoticeYn')[0].value === 'true') {
                    document.getElementById('topRadioBtUp').checked = true;
                    document.getElementById('topNoticeTab').style.display = '';
                    setDisplay('topNoticeTab',true)
                } else {
                    document.getElementById('topRadioBtDown').checked = true;
                    document.getElementById('topNoticeStrtDt').value = '';
                    document.getElementById('topNoticeEndDt').value = '';
                    document.getElementById('topNoticeTab').style.display = 'none';
                }
            } else {
                document.getElementById('topRadioBtDown').checked = true;
                setDisplay('topNoticeTab', false);
                document.getElementById('popRadioBtDown').checked = true;
                setDisplay('popTab', false);
            }
            fileUploader.init({extra: {formId: 'frm', ownId: /*[[${notice?.noticeNo}]]*/''}});
        }

        function setDisplay(name, condition) {
            if (condition) {
                if (name === 'popTab') {
                    const popStrtDtVal = /*[[${notice?.popStrtDt}]]*/;
                    const popEndDtVal = /*[[${notice?.popEndDt}]]*/;;
                    document.getElementById('popWidth').value = /*[[${notice?.popWidth} ? ${notice.popWidth} : 500]]*/;
                    document.getElementById('popHeight').value = /*[[${notice?.popHeight} ? ${notice.popHeight} : 500]]*/;
                    document.getElementById('popStrtDt').value = popStrtDtVal ? i18n.userDateTime(popStrtDtVal) : i18n.getDateTime();
                    document.getElementById('popEndDt').value = popEndDtVal ? i18n.userDateTime(popEndDtVal) : i18n.getDateTime({'days':30});
                    dateTimePicker.initDateTimePicker('popStrtDt', i18n.dateFormat, i18n.timeFormat, i18n.lang);
                    dateTimePicker.initDateTimePicker('popEndDt', i18n.dateFormat, i18n.timeFormat, i18n.lang);
                    document.getElementsByName('popYn')[0].value = true;
                } else if (name === 'topNoticeTab') {
                    const topNoticeStrtDtVal = /*[[${notice?.topNoticeStrtDt}]]*/;
                    const topNoticeEndDtVal = /*[[${notice?.topNoticeEndDt}]]*/;
                    document.getElementById('topNoticeStrtDt').value = topNoticeStrtDtVal ? i18n.userDateTime(topNoticeStrtDtVal) : i18n.getDateTime();
                    document.getElementById('topNoticeEndDt').value = topNoticeEndDtVal ? i18n.userDateTime(topNoticeEndDtVal) : i18n.getDateTime({'days':30});
                    document.getElementsByName('topNoticeYn')[0].value = true;
                    dateTimePicker.initDateTimePicker('topNoticeStrtDt', i18n.dateFormat, i18n.timeFormat, i18n.lang);
                    dateTimePicker.initDateTimePicker('topNoticeEndDt', i18n.dateFormat, i18n.timeFormat, i18n.lang);
                }
                document.getElementById(name).style.display = '';
            } else {
                if (name === 'popTab') {
                    document.getElementById('popWidth').value = '';
                    document.getElementById('popHeight').value = '';
                    document.getElementById('popStrtDt').value = '';
                    document.getElementById('popEndDt').value = '';
                    document.getElementsByName('popYn')[0].value = false;
                } else if (name === 'topNoticeTab') {
                    document.getElementById('topNoticeStrtDt').value = '';
                    document.getElementById('topNoticeEndDt').value = '';
                    document.getElementsByName('topNoticeYn')[0].value = false;
                }
                document.getElementById(name).style.display = 'none';
            }
        }

        // validation check
        function validation() {
            if (isEmpty('noticeTitle', 'common.msg.enterTitle')) return false;
            if (isEmpty('noticeContents', 'common.msg.enterContents')) return false;
            if (document.getElementById('popRadioBtUp').checked) {
                if (isEmpty('popHeight', 'notice.msg.enterPopHeight')) return false;
                if (isExistInScope('popHeight', 500, 1000, 'notice.msg.checkPopHeightRange')) return false;
                if (isEmpty('popWidth', 'notice.msg.enterPopWidth')) return false;
                if (isExistInScope('popWidth', 500, 1000, 'notice.msg.checkPopWidthRange')) return false;
                if (isEmpty('popStrtDt', 'notice.msg.enterPopStrtDt')) return false;
                if (isEmpty('popEndDt', 'notice.msg.enterPopEndDt')) return false;
                if (isOrOperator((i18n.systemDateTime(document.getElementById('popStrtDt').value) > i18n.systemDateTime(document.getElementById('popEndDt').value))
                    , (i18n.systemDateTime(document.getElementById('popStrtDt').value) === i18n.systemDateTime(document.getElementById('popEndDt').value))
                    , 'notice.msg.compareWithPopUpValue')) return false;
            }


            if (document.getElementById('topRadioBtUp').checked) {
                if (isEmpty('topNoticeStrtDt', 'notice.msg.enterTopNoticeStrtDt')) return false;
                if (isEmpty('topNoticeEndDt', 'notice.msg.enterTopNoticeEndDt')) return false;
                if (isOrOperator((i18n.systemDateTime(document.getElementById('topNoticeStrtDt').value) > i18n.systemDateTime(document.getElementById('topNoticeEndDt').value))
                    , (i18n.systemDateTime(document.getElementById('topNoticeStrtDt').value) === i18n.systemDateTime(document.getElementById('topNoticeEndDt').value))
                    , 'notice.msg.compareWithTopNoticeValue')) return false;
            }
            return true;
        }

        function maxLengthCheck(object) {
            if (object.value.length > object.maxLength) {
                object.value = object.value.slice(0, object.maxLength);
            }
        }
        /* ]]> */
    </script>

    <script th:inline="javascript" th:if="!${notice?.noticeNo}">
        /*<![CDATA[ */
        function restSubmit(method, url, async) {
            if (!validation()) {
                return false;
            }

            const fileSeq = [];
            document.getElementsByName('fileSeq').forEach(elm => fileSeq.push(elm.value));

            const jsonData = JSON.stringify({
                noticeTitle: document.getElementById('noticeTitle').value,
                noticeContents: document.getElementById('noticeContents').value,
                popYn: document.getElementsByName('popYn')[0].value,
                popStrtDt: i18n.systemDateTime(document.getElementById('popStrtDt').value),
                popEndDt: i18n.systemDateTime(document.getElementById('popEndDt').value),
                popWidth: document.getElementById('popWidth').value,
                popHeight: document.getElementById('popHeight').value,
                topNoticeYn: document.getElementsByName('topNoticeYn')[0].value,
                topNoticeStrtDt: i18n.systemDateTime(document.getElementById('topNoticeStrtDt').value),
                topNoticeEndDt: i18n.systemDateTime(document.getElementById('topNoticeEndDt').value),
                fileSeq: fileSeq
            });

            const opt = {
                method: method,
                url: url,
                async: async,
                params: jsonData,
                contentType: 'application/json',
                callbackFunc: function() {
                    aliceJs.alert(i18n.get('common.msg.register'), function() {
                        window.location.href = '/notices/search';
                    });

                }
            };
            aliceJs.sendXhr(opt)
        }
        /* ]]> */
    </script>

    <script th:inline="javascript" th:if="${notice?.noticeNo}">
        /*<![CDATA[ */
        function restSubmit(method, url, async) {
            let jsonData = '';
            if (method === 'put') {
                const noticeNo = /*[[${notice.noticeNo}]]*/;

                if (!validation()) {
                    return false;
                }

                delFileCheck();

                const fileSeq = [];
                document.getElementsByName('fileSeq').forEach(elm => fileSeq.push(elm.value));
                jsonData = JSON.stringify({
                    noticeNo: noticeNo,
                    noticeTitle: document.getElementById('noticeTitle').value,
                    noticeContents: document.getElementById('noticeContents').value,
                    popYn: document.getElementsByName('popYn')[0].value,
                    popStrtDt: i18n.systemDateTime(document.getElementById('popStrtDt').value),
                    popEndDt: i18n.systemDateTime(document.getElementById('popEndDt').value),
                    popWidth: document.getElementById('popWidth').value,
                    popHeight: document.getElementById('popHeight').value,
                    topNoticeYn: document.getElementsByName('topNoticeYn')[0].value,
                    topNoticeStrtDt: i18n.systemDateTime(document.getElementById('topNoticeStrtDt').value),
                    topNoticeEndDt: i18n.systemDateTime(document.getElementById('topNoticeEndDt').value),
                    fileSeq: fileSeq
                });
            }
            const opt = {
                method: method,
                url: url,
                async: async,
                params: jsonData,
                contentType: 'application/json',
                callbackFunc: function() {
                    if (method === 'put') {
                        aliceJs.alert(i18n.get('common.msg.modify'), function() {
                            window.location = '/notices/search';
                        });
                    } else if (method === 'delete') {
                        aliceJs.alert(i18n.get('common.msg.delete'), function() {
                            window.location = '/notices/search';
                        });
                    }
                }
            };
            aliceJs.sendXhr(opt)
        }
        /* ]]> */
    </script>
</th:block>
</html>
