<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <!-- CI 등록 / 수정 모달 -->
    <div class="cmdb-ci-content-edit flex-column">
        <div class="edit-form">
            <input type="hidden" id="ciId" th:value="${ciData?.ciId}"/>
            <input type="hidden" id="ciIconData" th:value="${ciData?.ciIconData}"/>
            <input type="hidden" id="interlink" th:value="${ciData?.interlink}"/>
            <!-- CI No -->
            <div class="flex-column edit-row">
                <label class="field-label" for="ciNo">
                    <span th:text="#{cmdb.ci.label.seqNum}"></span>
                </label>
                <input type="text" id="ciNo" class="z-input" th:value="${ciData?.ciNo}" maxlength="100" disabled />
            </div>
            <!-- CI 타입 -->
            <div class="flex-column edit-row">
                <label class="field-label" for="typeName">
                    <span th:text="#{cmdb.ci.label.type}"></span>
                    <span class="required"></span>
                </label>
                <div class="flex-row input-button">
                    <input type="hidden" id="typeId" th:value="${ciData?.typeId}" />
                    <input type="text" id="typeName" class="z-input col-pct-12 inherit" th:value="${ciData?.typeName}" readonly  required="true"
                           data-validation-required="true" th:attr="data-validation-required-name=#{cmdb.ci.label.type}"/>
                    <button class="z-button form" id="typeSelectBtn" type="button"  th:text="#{common.btn.select}"></button>
                </div>
            </div>
            <!-- 아이콘 -->
            <div class="flex-column edit-row">
                <label class="field-label" for="ciIcon">
                    <span th:text="#{cmdb.type.label.icon}"></span>
                </label>
                <div class="flex-row input-button">
                    <input type="text" id="ciIcon" class="z-input col-pct-12 inherit" th:value="${ciData?.ciIcon}" readonly>
                </div>
            </div>
            <!-- CI 이름 -->
            <div class="flex-column edit-row">
                <label class="field-label" for="ciName">
                    <span th:text="#{cmdb.ci.label.name}"></span>
                    <span class="required"></span>
                </label>
                <input type="text" class="z-input" id="ciName" maxlength="100" required="true" th:value="${ciData?.ciName}"
                       data-validation-required="true" th:attr="data-validation-required-name=#{cmdb.ci.label.name}"/>
            </div>
            <!--CI 설명 -->
            <div class="flex-column edit-row">
                <label class="field-label" for="ciDesc">
                    <span th:text="#{cmdb.ci.label.description}"></span>
                </label>
                <textarea id="ciDesc" class="z-textarea textarea-scroll-wrapper" rows="7" maxlength="500"
                          th:text="${ciData?.ciDesc}"></textarea>
            </div>
            <!--클래스 -->
            <div class="flex-column edit-row">
                <label class="field-label" for="className">
                    <span th:text="#{cmdb.type.label.class}"></span>
                    <span class="required"></span>
                </label>
                <input type="hidden" id="classId" th:value="${ciData?.classId}"/>
                <input type="text" class="z-input" id="className" maxlength="100" readonly required="true"
                       data-validation-required="true" th:attr="data-validation-required-name=#{cmdb.type.label.class}" th:value="${ciData?.className}"/>
                <!-- // 2021-02-09 타입선택시 클래스가 변경되는 것 외에 클래스 선택 기능은 막음
                <div class="flex-row input-button">
                    <input type="hidden" id="classId" th:value="${ciData?.classId}"/>
                    <input type="text" id="className" class="col-pct-12 inherit" th:value="${ciData?.className}" readonly required="true" th:attr="data-validation-required-name=#{cmdb.type.label.class}"/>
                    <button class="z-button form" type="button" th:onclick="CI.openSelectClassModal([[${ciData?.classId}]]);" th:text="#{common.btn.select}"></button>
                </div>-->
            </div>
            <!-- CI 태그 -->
            <div class="flex-column edit-row">
                <label class="field-label">
                    <span th:text="#{cmdb.ci.label.tag}"></span>
                </label>
                <input type="text" class="z-input" id="ciTags" th:value="${ciData?.ciTags}" />
            </div>
            <!-- 세부속성 -->
            <div class="flex-column edit-row" id="ciAttributes" th:onclick="zCmdbAttribute.drawDetails(this, [[${ciData?.classes}]], [[${userInfo}]], 'edit');">
            </div>
            <!-- 연관 관계 -->
            <div class="flex-column z-edit-row z-relation-group">
                <div class="under-bar mt-4 z-relation-title-group">
                    <label id="relationLabel" class="z-sub-title">
                        <span th:text="#{cmdb.ci.label.relation}"></span>
                    </label>
                    <button id="addCIRelationBtn" type="button" class="z-button-icon extra float-right">
                        <span class="z-icon i-plus"></span>
                    </button>
                </div>
            </div>
            <div class="flex-column z-edit-row z-relation-group">
                <div class="flex-row z-relation-select-box-group">
                    <div class="flex-column align-left" style="width: 40%;" th:text="#{cmdb.ci.label.relationType}"></div>
                    <div class="flex-column align-left" style="width: 60%;" th:text="#{cmdb.ci.label.targetCiName}"></div>
                </div>
            </div>
            <div id="ciRelation"/>
        </div>
    </div>
</body>
</html>
