<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<div class="grid" th:style="'--data-columns-width:' + ${#strings.arrayJoin(ciData.columnWidth,' ')}">
    <div class="grid__head">
        <div class="grid__row">
            <th:block th:each="title,status: ${ciData.columnTitle}">
                <div class="grid__cell" th:classappend="${status.index != 0} ? 'pl-2' : ''"
                     th:data-grid-column="${ciData.columnName[status.index]}"
                     th:data-grid-sortable="${(ciData.columnType[status.index] != 'icon' and ciData.columnType[status.index] != 'hidden') ? 'true' : 'false'}">
                    <span class="text-ellipsis" th:text="${title}"></span>
                </div>
            </th:block>
        </div>
    </div>
    <div class="grid__body" th:onclick="setSearchItems(this, [[${ciData?.searchItems}]]);">
        <div class="grid--noData" th:if="${#arrays.isEmpty(ciData.contents)}" style="--data-columns-width: 100%;">
            <div class="grid__row read-only">
                <div class="grid__cell">
                    <span class="ic-no-data"></span>
                    <span class="mt-3" th:text="#{common.msg.noData}"></span>
                </div>
            </div>
        </div>
        <!--<div class="grid__row grid&#45;&#45;noData read-only" >
            <div class="grid__cell justify-content-start ml-5"><span th:text="#{common.msg.noData}"></span></div>
        </div>-->
        <div class="grid__row" th:unless="${#arrays.isEmpty(ciData.contents)}" th:each="ci: ${ciData.contents}">
            <th:block th:each="text,status: ${ci.value}">
                <div class="grid__cell" th:classappend="${status.index != 0} ? 'pl-2' : ''">
                    <img class="img" th:if="${ciData.columnType[status.index] == 'icon'}" th:src="${text}" width="20" height="20">
                    <input type="hidden" th:if="${ciData.columnType[status.index] == 'hidden'}" th:id="${ciData.columnName[status.index]}" th:value="${text}">
                    <th:block th:if="${ciData.columnType[status.index] == 'inputbox' || ciData.columnType[status.index] == 'radio' || ciData.columnType[status.index] == 'checkbox' || ciData.columnType[status.index] == 'dropdown'}">
                        <a th:if="${status.index == 2}" class="text-ellipsis underline-grid"
                           th:onclick="openCIDetailModal(this);" th:text="${text}" th:title="${text}"></a>
                        <span th:unless="${status.index == 2}" class="text-ellipsis" th:text="${text}" th:title="${text}"></span>
                    </th:block>
                    <th:block th:if="${ciData.columnType[status.index] == 'datetime' || ciData.columnType[status.index] == 'time' || ciData.columnType[status.index] == 'date'}">
                        <span class="text-ellipsis" th:classappend="${ciData.columnType[status.index]}" th:text="${text}" th:title="${text}"></span>
                    </th:block>
                    <th:block th:if="${ciData.columnType[status.index] == 'userSearch' || ciData.columnType[status.index] == 'organizationSearch'}">
                        <span class="text-ellipsis" th:if="${not #strings.isEmpty(text)}" th:text="${text}" th:title="${text}"></span>
                    </th:block>
                </div>
            </th:block>
        </div>
    </div>
</div>
<th:block th:replace="layout/itsm/fragment/totalCountFragment :: totalCountDataFragment"></th:block>
</body>
</html>
