<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>
<body>
<table class="z-list-table">
    <thead class="z-list-head">
        <tr class="flex-row align-items-center">
            <th style="width: 4%;"></th>
            <th style="width: 21%;" class="align-left" th:text="#{cmdb.ci.label.ciNo}"></th>
            <th style="width: 10%;" class="align-left" th:text="#{cmdb.ci.label.type}"></th>
            <th style="width: 15%;" class="align-left" th:text="#{cmdb.ci.label.name}"></th>
            <th style="width: 25%;" class="align-left" th:text="#{cmdb.ci.label.description}"></th>
            <th style="width: 25%;" class="align-left" th:text="#{cmdb.ci.label.tag}"></th>
        </tr>
    </thead>
    <tbody class="z-list-body">
        <tr class="flex-row align-items-center no-data-found-list" th:if="${#arrays.isEmpty(ciList)}">
            <td style="width: 100%;" colspan="6" class="align-center" th:text="#{common.msg.noData}"></td>
        </tr>
        <tr class="flex-row align-items-center" th:unless="${#arrays.isEmpty(ciList)}" th:each="ci: ${ciList}">
            <td style="width: 4%;">
                <img th:src="${ci.ciIconData}"/>
            </td>
            <input type="hidden" name="ciId" th:value="${ci.ciId}">
            <td style="width: 21%;" class="align-left underline pointer">
                <a sec:authorize="hasAuthority('cmdb.ci.read')" th:text="${ci.ciNo}"
                   th:href="@{/cmdb/cis/{id}/view(id=${ci.ciId})}">
                </a>
            </td>
            <td style="width: 10%;" class="align-left" th:text="${ci.typeName}"></td>
            <td style="width: 15%;" class="align-left" th:text="${ci.ciName}"></td>
            <td style="width: 25%;" class="align-left" th:text="${ci.ciDesc}"></td>
            <td style="width: 25%;" class="align-left">
                <input type="text" name="ciListTags" class="align-left text-ellipsis flex-nowrap" th:value="${ci.ciTags}" readonly />
            </td>
        </tr>
    </tbody>
</table>
<th:block th:replace="layout/itsm/fragment/totalCountFragment :: totalCountDataFragment"></th:block>
</body>
</html>
