<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<div class="grid" style="--data-columns-width: 20px 180px 120px 150px 245px auto;">
    <div class="grid__head">
        <div class="grid__row">
            <div class="grid__cell" data-grid-sortable="false"></div>
            <div class="grid__cell" data-grid-sortable="true" data-grid-column="ciNo">
                <span class="text-ellipsis" th:text="#{cmdb.ci.label.ciNo}"></span>
            </div>
            <div class="grid__cell" data-grid-sortable="true" data-grid-column="typeName">
                <span class="text-ellipsis" th:text="#{cmdb.ci.label.type}"></span>
            </div>
            <div class="grid__cell" data-grid-sortable="true" data-grid-column="ciName">
                <span class="text-ellipsis" th:text="#{cmdb.ci.label.name}"></span>
            </div>
            <div class="grid__cell" data-grid-sortable="true" data-grid-column="ciDesc">
                <span class="text-ellipsis" th:text="#{cmdb.ci.label.description}"></span>
            </div>
        </div>
    </div>
    <div class="grid__body">
        <div class="grid__row grid--noData" th:if="${#arrays.isEmpty(ciList)}">
            <div class="grid__cell"><span th:text="#{common.msg.noData}"></span></div>
        </div>
        <div class="grid__row" th:unless="${#arrays.isEmpty(ciList)}" th:each="ci: ${ciList}">
            <div class="grid__cell">
                <img class="z-img " alt="profile pic" th:src="ci.ciIconData" width="20" height="20">
            </div>
            <div class="grid__cell">
                <input type="hidden" name="ciId" th:value="${ci.ciId}">
                <a class="text-ellipsis underline" sec:authorize="hasAuthority('cmdb.manage') or hasAuthority('cmdb.view')"
                   th:text="${ci.ciNo}" th:href="@{/cmdb/cis/{id}/view(id=${ci.ciId})}" th:title="${ci.ciNo}">
                </a>
            </div>
            <div class="grid__cell">
                <span class="text-ellipsis" th:text="${ci.typeName}" th:title="${ci.typeName}"></span>
            </div>
            <div class="grid__cell">
                <span class="text-ellipsis bold" th:text="${ci.ciName}" th:title="${ci.ciName}"></span>
            </div>
            <div class="grid__cell">
                <span class="text-ellipsis sub-text" th:text="${ci.ciDesc}" th:title="${ci.ciDesc}"></span>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="layout/itsm/fragment/totalCountFragment :: totalCountDataFragment"></th:block>
<!--<table class="z-table">
    <thead class="z-table-head">
        <tr class="flex-row align-items-center">
            <th style="width: 4%;"></th>
            <th style="width: 21%;" class="align-left" th:text="#{cmdb.ci.label.ciNo}"></th>
            <th style="width: 10%;" class="align-left" th:text="#{cmdb.ci.label.type}"></th>
            <th style="width: 15%;" class="align-left" th:text="#{cmdb.ci.label.name}"></th>
            <th style="width: 25%;" class="align-left" th:text="#{cmdb.ci.label.description}"></th>
            <th style="width: 25%;" class="align-left" th:text="#{cmdb.ci.label.tag}"></th>
        </tr>
    </thead>
    <tbody class="z-table-body">
        <tr class="flex-row align-items-center no-data-found-list" th:if="${#arrays.isEmpty(ciList)}">
            <td style="width: 100%;" colspan="6" class="align-center" th:text="#{common.msg.noData}"></td>
        </tr>
        <tr class="flex-row align-items-center" th:unless="${#arrays.isEmpty(ciList)}" th:each="ci: ${ciList}">
            <td style="width: 4%;">
                <img th:src="${ci.ciIconData}"/>
            </td>
            <input type="hidden" name="ciId" th:value="${ci.ciId}">
            <td style="width: 21%;" class="align-left underline pointer">
                <a sec:authorize="hasAuthority('cmdb.manage') or hasAuthority('cmdb.view')" th:text="${ci.ciNo}"
                   th:href="@{/cmdb/cis/{id}/view(id=${ci.ciId})}" th:title="${ci.ciNo}">
                </a>
            </td>
            <td style="width: 10%;" class="align-left" th:text="${ci.typeName}" th:title="${ci.typeName}"></td>
            <td style="width: 15%;" class="align-left" th:text="${ci.ciName}" th:title="${ci.ciName}"></td>
            <td style="width: 25%;" class="align-left" th:text="${ci.ciDesc}" th:title="${ci.ciDesc}"></td>
            <td style="width: 25%;" class="align-left">
                <input type="text" name="ciListTags" class="align-left text-ellipsis flex-nowrap" th:value="${ci.ciTags}" readonly />
            </td>
        </tr>
    </tbody>
</table>-->
</body>
</html>
