<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/itsm/itsmLayout}">
<head>
    <title th:text="#{cmdb.ci.label.ciInquiry}"></title>
</head>
<th:block layout:fragment="pageHead">
    <script th:src="@{/assets/js/workflow/zWorkflowUtil.js}"></script>
    <script th:src="@{/assets/js/cmdb/zCmdbAttribute.js}"></script>
</th:block>
<body>
<div layout:fragment="pageTitle">
    <h1 th:text="#{cmdb.ci.label.ciInquiry}"></h1>
    <h6 class="description ml-2 pl-2" th:text="#{cmdb.ci.msg.searchDescription}"></h6>
</div>
<th:block layout:fragment="pageContent">
    <div class="cmdb-ci-content flex-row flex-fill pb-5">
        <!-- 트리 화면 -->
        <div class="z-page-column-item flex-column flex-col-3">
            <input type="hidden" id="treeTypeId" value="root"/>
            <input type="hidden" id="treeTypeName" th:value="#{cmdb.ci.label.all}"/>
            <div class="z-page-tree">
                <div id="treeList"></div>
            </div>
        </div>
        <!-- 목록 화면 -->
        <div class="z-page-column-item flex-column flex-col-9">
            <div class="z-page-search">
                <form id="searchFrm">
                    <input type="text" class="z-input text-ellipsis i-search col-5" id="searchValue" name="searchValue"
                           maxlength="100" th:placeholder="#{cmdb.ci.label.searchPlaceholder}" onKeyup="getList()"/>
                    <button type="button" class="z-button secondary mr-1 ml-1" id="btnDetailSearch" name="btnDetailSearch"
                            onclick="onDetailSearch()" th:text="#{cmdb.ci.btn.detailSearch}"></button>
                    <input type="hidden" id="flag" name="flag" value="itsm"/>
                    <th:block th:replace="layout/itsm/fragment/totalCountFragment :: totalCountFragment"></th:block>
                </form>
                <div class="ml-auto">
                    <button type="button" class="z-button-icon secondary" id="btnExcelDownload" name="btnExcelDownload"
                            th:onclick="|javascript:onExcelDownload();|" th:title="#{common.btn.export}"
                            sec:authorize="hasAuthority('cmdb.manage') or hasAuthority('cmdb.view')">
                        <img class="load-svg" th:src="@{/assets/media/icons/icon_download_xls.svg}" />
                    </button>
                </div>
            </div>
            <div class="z-page-list p-0">
                <div class="z-list-content flex-row" id="ciList"></div>
            </div>
            <div class="z-page-paging" style="visibility: hidden">
                <a href="" id="pagingStartArrow" class="z-paging-arrow flex-row"><span class="z-icon i-paging-start-arrow"></span></a>
                <a href="" id="pagingPrevArrow" class="z-paging-arrow flex-row"><span class="z-icon i-paging-prev-arrow"></span></a>
                <div class="z-paging-numbers"></div>
                <a href="" id="pagingNextArrow" class="z-paging-arrow flex-row"><span class="z-icon i-paging-next-arrow"></span></a>
                <a href="" id="pagingEndArrow" class="z-paging-arrow flex-row"><span class="z-icon i-paging-end-arrow"></span></a>
                <span id="spanCurrentPageNum"></span>
            </div>
        </div>
    </div>
</th:block>
</body>
<th:block layout:fragment="pageScript">
    <script th:inline="javascript" type="text/javascript">
        /*<![CDATA[*/
        let searchData = null;
        let tempSearchData = null;
        window.onload = function () {
            getTree();

            OverlayScrollbars(document.querySelector('.z-page-tree'), {className: 'scrollbar'});
            OverlayScrollbars(document.querySelector('.z-page-list'), {
                className: 'scrollbar',
                overflowBehavior: {
                    y: 'hidden'
                }
            });
        };
        /**
         * CI 유형 트리 조회
         * “전체”가 선택되면 속성항목이 없기 때문에 현재 나오는 기본항목만 출력된다.
         * CI유형을 선택하면 해당 유형으로 검색이 자동으로 처리된다.
         */
        function getTree() {
            tree.load({
                source: 'ciType',
                dataUrl: '/rest/cmdb/types?search=',
                target: 'treeList',
                text: 'typeName',
                totalCount: false,
                onCreate: function () {
                    zPagingManager.load();
                    // 전체 선택
                    document.getElementById('treeList').querySelector('.node').click();
                },
                selectedNode: function(response) {
                    document.getElementById('treeTypeId').value = response.id;
                    document.getElementById('treeTypeName').value = response.textContent;
                    getList();
                }
            });
        }
        /**
         * CI 목록 조회
         */
        function getList(pageNum = 1) {
            const orderColName = document.getElementById('orderColName') ? document.getElementById('orderColName').value : '';
            const orderDir = document.getElementById('orderDir') ? document.getElementById('orderDir').value : '';
            let detailSearchData = { searchItems: [] };
            if (searchData) {
                detailSearchData.searchItems = searchData.map((item) => {
                    return { attributeId: item.attributeId, searchValue: item.searchValue }
                });
            }
            const urlParam = aliceJs.serialize(document.getElementById('searchFrm')) + '&pageNum=' + pageNum
                + '&typeId=' + document.getElementById('treeTypeId').value
                + '&orderColName=' + orderColName
                + '&orderDir=' + orderDir;
            aliceJs.fetchText('/cmdb/cis?' + urlParam, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(detailSearchData)
            }).then((htmlData) => {
                document.getElementById('ciList').innerHTML = htmlData;
                convertDateTime();
                document.querySelector('.grid__body').click();
            });
        }
        /**
         *  상세 검색 데이터 세팅
         *  (검색시 상세 데이터 구조 형태로 전달하기 위함)
         */
        function setSearchItems(target, data) {
            searchData = data;
            tempSearchData = data;
            target.removeAttribute('onclick');
            // 상세 검색 데이터가 없을 경우에는 버튼을 비활성화.
            const btnDetailSearch = document.getElementById('btnDetailSearch');
            if (btnDetailSearch) {
                btnDetailSearch.disabled = (data === null || data.length === 0);
            }
        }
        /**
         *  날짜시간 변환
         */
        function convertDateTime() {
            document.querySelectorAll('.date').forEach(dt => {
                dt.textContent = i18n.userDate(dt.textContent.trim());
            });

            document.querySelectorAll('.time').forEach(dt => {
                dt.textContent = i18n.userTime(dt.textContent.trim());
            });

            document.querySelectorAll('.datetime').forEach(dt => {
                dt.textContent = i18n.userDateTime(dt.textContent.trim());
            });
        }

        /**
         * CI 상세 검색 모달 세부 화면
         */
        function getItemWithType(data) {
            const attributeValue = JSON.parse(data.attributeValue);
            switch (data.attributeType) {
                case 'inputbox':
                    return `<input type="text" class="z-input field-element" id="${data.attributeId}" value="${data.searchValue}" onBlur="changeSearchDetail(this)">`;
                case 'dropdown':
                    const optionTemplate = attributeValue.option.map(function (opt) {
                        return `<option value='${opt.value}' ${opt.value === data.searchValue ? 'selected=\'true\'' : ''}>${opt.text}</option>`;
                    }).join('');
                    return `<select id="${data.attributeId}" class="field-element" onclick="changeSearchDetail(this)">${optionTemplate}</select>`;
                case 'radio':
                    const radioTemplate = attributeValue.option.map(function (opt, idx) {
                        return `<label for="${data.attributeId}_${idx}" class="z-radio horizontal" tabindex="-1">` +
                            `<input class="z-radio" type="radio" id="${data.attributeId}_${idx}" value="${opt.value}" name="${data.attributeId}" ` +
                            `${opt.value === data.searchValue ? 'checked=\'true\'' : ''} onclick="changeSearchDetail(this)">` +
                            `<span></span><span>${opt.text}</span>` +
                            `</label>`;
                    }).join('');
                    return `<div class="z-radio-group field-element">${radioTemplate}</div>`;
                case 'date':
                    return `<input type="text" class="z-input field-element i-date-picker search-date" id="${data.attributeId}" value="${i18n.userDate(data.searchValue)}">`;
                case 'datetime':
                    return `<input type="text" class="z-input field-element i-datetime-picker search-datetime" id="${data.attributeId}" value="${i18n.userDateTime(data.searchValue)}">`;
                default:
                    break;
            }
        }

        function createDetailSearchContent() {
            let searchTemplate = ``;
            if (searchData !== null) {
                searchTemplate = searchData.map(function (item) {
                    const templateWithType = getItemWithType(item);
                    return `<div class="flex-row align-items-center">` +
                        `<label class="field-label text-ellipsis">${item.attributeText}</label>` +
                        `${templateWithType}` +
                        `</div>`;
                }).join('');
            }

            const targetName = document.getElementById('treeTypeName').value;
            return `<div class="flex-column">` +
                `<h3 class="modal-sub-title mt-2 mb-4">${i18n.msg('cmdb.ci.label.targetType', targetName)}</h3>` +
                `${searchTemplate}` +
                `</div>`;
        }

        /**
         * CI 상세 검색 모달
         * 상세검색 조건을 입력하고 “검색”버튼을 클릭하면
         * 리스트 화면의 “상세검색” 버튼은 해당 조건이 사용되었다는 의미로 Primary 색상으로 변경된다.
         * 상세검색을 열어서 검색조건을 모두 “초기화”하면 다시 CI 유형만으로 검색하고 “상세검색” 버튼도 회색으로 돌아온다.
         */
        function onDetailSearch() {
            const ciDetailSearchModal = new modal({
                title: i18n.msg('cmdb.ci.label.detailSearch'),
                body: createDetailSearchContent(),
                classes: 'cmdb-ci-detailSearch-modal',
                buttons: [{
                    content: i18n.msg('common.btn.search'),
                    classes: 'z-button primary',
                    bindKey: false,
                    callback: function (modal) {
                        searchData = tempSearchData;
                        const btnDetailSearch = document.getElementById('btnDetailSearch');
                        if (btnDetailSearch && btnDetailSearch.classList.contains('secondary')) {
                            btnDetailSearch.classList.remove('secondary');
                            btnDetailSearch.classList.add('primary');
                        }
                        getList();
                        modal.hide();
                    }
                }, {
                    content: i18n.msg('common.btn.initialization'),
                    classes: 'z-button secondary',
                    bindKey: false,
                    callback: function (modal) {
                        const btnDetailSearch = document.getElementById('btnDetailSearch');
                        if (btnDetailSearch && btnDetailSearch.classList.contains('primary')) {
                            btnDetailSearch.classList.remove('primary');
                            btnDetailSearch.classList.add('secondary');
                        }
                        if (searchData !== null) {
                            searchData.forEach(function (item) {
                                item.searchValue = '';
                            });
                        }
                        getList();
                        modal.hide();
                    }
                }, {
                    content: i18n.msg('common.btn.cancel'),
                    classes: 'z-button secondary',
                    bindKey: false,
                    callback: function (modal) {
                        tempSearchData = searchData;
                        modal.hide();
                    }
                }],
                close: {
                    closable: false,
                },
                onCreate: function (modal) {
                    aliceJs.initDesignedSelectTag();
                    // 날짜시간 picker 추가
                    document.querySelectorAll('.search-date').forEach(function (elem) {
                        zDateTimePicker.initDatePicker(elem, changeSearchDetail);
                    });
                    document.querySelectorAll('.search-datetime').forEach(function (elem) {
                        zDateTimePicker.initDateTimePicker(elem, changeSearchDetail);
                    });
                    OverlayScrollbars(document.querySelector('.cmdb-ci-detailSearch-modal .modal-content'), {className: 'scrollbar'});
                }
            });
            ciDetailSearchModal.show();
        }
        /**
         * 상세 검색 날짜 데이터 업데이트시 호출되는 이벤트
         */
        function changeSearchDetail(target) {
            const targetId = target.id.split('_')[0];
            let changeValue = target.value;
            if (target.classList.contains('search-date')) {
                changeValue = i18n.systemDate(target.value);
            } else if (target.classList.contains('search-datetime')) {
                changeValue = i18n.systemDateTime(target.value);
            }
            const findIndex = tempSearchData.findIndex(function (item) {
                return item.attributeId === targetId;
            });
            tempSearchData[findIndex].searchValue = changeValue;
        }

        /**
         * 목록 다운로드 (엑셀)
         */
        function onExcelDownload() {
            const orderColName = document.getElementById('orderColName') ? document.getElementById('orderColName').value : '';
            const orderDir = document.getElementById('orderDir') ? document.getElementById('orderDir').value : '';
            let detailSearchData = { searchItems: [] };
            if (searchData) {
                detailSearchData.searchItems = searchData.map((item) => {
                    return { attributeId: item.attributeId, searchValue: item.searchValue }
                });
            }
            const urlParam = aliceJs.serialize(document.getElementById('searchFrm'))
                + '&typeId=' + document.getElementById('treeTypeId').value
                + '&orderColName=' + orderColName
                + '&orderDir=' + orderDir;
            let excelFileName = i18n.msg('cmdb.ci.label.ciInquiry') + '_' + new Date().toISOString().substring(0, 10).replace(/-/g, '');
            aliceJs.fetchBlob('/rest/cmdb/cis/excel?' + urlParam, {
                method: 'POST',
                showProgressBar: true,
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(detailSearchData)
            }).then((blob) => {
                if (typeof blob === 'object') {
                    const a = document.createElement('a');
                    const url = window.URL.createObjectURL(blob);
                    a.href = url;
                    a.download = excelFileName;
                    document.body.append(a);
                    a.click();
                    a.remove();
                    window.URL.revokeObjectURL(url);
                }
            });
            aliceJs.fetchDownload({
                url: urlParam,
                fileName: i18n.msg('cmdb.ci.label.ciInquiry') + '_' + new Date().toISOString().substring(0, 10).replace(/-/g, '')
            });
        }
        /**
         * 단일 CI 상세 정보 조회 (모달)
         */
        function openCIDetailModal(target) {
            const ciId = target.querySelector('#ciId').value;
            aliceJs.fetchText('/cmdb/cis/' + ciId + '/view', {
                method: 'GET',
                showProgressbar: true
            }).then((rtn) => {
                const ciDetailModal = new modal({
                    title: i18n.msg('cmdb.ci.label.view'),
                    body: rtn,
                    classes: 'cmdb-ci-view-modal',
                    buttons: [{
                        content: i18n.msg('common.btn.close'),
                        classes: 'z-button secondary',
                        bindKey: false,
                        callback: function (modal) {
                            modal.hide();
                        }
                    }],
                    close: {
                        closable: false,
                    },
                    onCreate: function (modal) {
                        document.getElementById('ciAttributes').click();
                        const ciDetailModalContent = document.querySelector('.cmdb-ci-view-modal');
                        // 스크롤바 추가
                        OverlayScrollbars(ciDetailModalContent.querySelector('.modal-content'), {className: 'scrollbar'});
                        new zTag(document.querySelector('input[name=ciDetailTags]'), {
                            suggestion: false,
                            realtime: false,
                            tagType: 'ci',
                            targetId: ciDetailModalContent.querySelector('#ciId').getAttribute('value')
                        });
                        // 서버에서 전달받은 데이터의 날짜 포맷을 변경한다.
                        ciDetailModalContent.querySelectorAll('.date-time').forEach(dt => {
                            dt.textContent = i18n.userDateTime(dt.textContent.trim());
                        });
                    }
                });
                ciDetailModal.show();
            })
        }
        /*]]>*/
    </script>
    <script type="module">
        import ZPaging from '../../../assets/js/lib/zPaging.js';
        const zPagingManager = {
            load: function() {
                if (typeof this.zPaging === 'undefined') {
                    this.zPaging = new ZPaging();
                }
            }
        };
        window.zPagingManager = zPagingManager;
    </script>
</th:block>
</html>