<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/itsm/itsmLayout}">
<head>
    <title th:text="#{cmdb.ci.label.ciInquiry}"></title>
</head>
<th:block layout:fragment="pageHead">
    <script th:src="@{/assets/js/workflow/zWorkflowUtil.js}"></script>
    <script th:src="@{/assets/js/cmdb/zCmdbAttribute.js}"></script>
</th:block>
<body>
<div layout:fragment="pageTitle">
    <h1 th:text="#{cmdb.ci.label.ciInquiry}"></h1>
    <h6 class="description ml-2 pl-2" th:text="#{cmdb.ci.msg.searchDescription}"></h6>
</div>
<th:block layout:fragment="pageContent">
    <div class="cmdb-ci-content flex-row flex-fill pb-5">
        <!-- 트리 화면 -->
        <div class="page-column-item flex-column flex-col-3">
            <input type="hidden" id="treeTypeId" value="root"/>
            <input type="hidden" id="treeTypeName" th:value="#{cmdb.ci.label.all}"/>
            <div class="page-tree">
                <div id="treeList"></div>
            </div>
        </div>
        <!-- 목록 화면 -->
        <div class="page-column-item flex-column flex-col-9">
            <div class="page-search">
                <form id="searchFrm" onsubmit="return false">
                    <input type="text" class="z-input text-ellipsis i-search col-5" id="searchValue" name="searchValue"
                           maxlength="100" th:placeholder="#{cmdb.ci.label.searchDetailPlaceholder}"/>
                    <input type="text" class="z-input i-search col-3 mr-2" id="tagSearch" name="tagSearch"
                           maxlength="100" th:placeholder="#{token.label.tagPlaceHolder}"/>
                    <button type="button" class="button secondary mr-1 ml-1" id="btnDetailSearch"
                            name="btnDetailSearch"
                            onclick="onDetailSearch()" th:text="#{cmdb.ci.btn.detailSearch}"></button>
                    <input type="hidden" id="flag" name="flag" value="itsm"/>
                    <th:block th:replace="layout/itsm/fragment/totalCountFragment :: totalCountFragment"></th:block>
                </form>
                <div class="ml-auto">
                    <button type="button" class="button secondary" id="btnTemplateDownload" name="btnTemplateDownload"
                            sec:authorize="hasAuthority('cmdb.manage')" th:text="#{cmdb.ci.btn.exportTemplate}"
                            th:onclick="|javascript:onTemplateDownload()|"></button>
                    <button type="button" class="button secondary" id="btnTemplateUpload" name="btnTemplateUpload"
                            sec:authorize="hasAuthority('cmdb.manage')" th:text="#{cmdb.ci.btn.importTemplate}"
                            th:onclick="|javascript:openTemplateUploadModal()|"></button>
                    <button type="button" class="button-icon secondary" id="btnExcelDownload" name="btnExcelDownload"
                            th:onclick="|javascript:onExcelDownload();|" th:title="#{common.btn.export}"
                            sec:authorize="hasAuthority('cmdb.manage') or hasAuthority('cmdb.view')">
                        <img class="load-svg" th:src="@{/assets/media/icons/icon_download_xls.svg}"/>
                    </button>
                </div>
            </div>
            <div class="page-list p-0">
                <div class="list-content flex-row" id="ciList">
                    <div class="no-data-text"><span th:text="#{common.msg.noData}"></span></div>
                </div>
            </div>
            <div class="page-paging" style="visibility: hidden">
                <a href="" id="pagingStartArrow" class="paging-arrow flex-row"><span
                        class="icon i-paging-start-arrow"></span></a>
                <a href="" id="pagingPrevArrow" class="paging-arrow flex-row"><span
                        class="icon i-paging-prev-arrow"></span></a>
                <div class="paging-numbers"></div>
                <a href="" id="pagingNextArrow" class="paging-arrow flex-row"><span
                        class="icon i-paging-next-arrow"></span></a>
                <a href="" id="pagingEndArrow" class="paging-arrow flex-row"><span
                        class="icon i-paging-end-arrow"></span></a>
                <span id="spanCurrentPageNum"></span>
            </div>
        </div>
    </div>
</th:block>
</body>
<th:block layout:fragment="pageScript">
    <script th:inline="javascript" type="text/javascript">
        /*<![CDATA[*/
        let searchData = null;
        let tempSearchData = null;
        let importFile;
        window.onload = function() {
            document.getElementById('searchValue').addEventListener('keyup', aliceJs.debounce(() => getList()), false);

            new zTag(document.getElementById('tagSearch'), {
                suggestion: true,
                realtime: false,
                tagType: 'ci',
                targetId: '',
                callback: function () {
                    getList();
                }
            });

            getTree();

            OverlayScrollbars(document.querySelector('.page-tree'), { className: 'scrollbar' });
            OverlayScrollbars(document.querySelector('.page-list'), {
                className: 'scrollbar',
                overflowBehavior: {
                    y: 'hidden'
                }
            });
        };

        /**
         * CI 유형 트리 조회
         * “전체”가 선택되면 속성항목이 없기 때문에 현재 나오는 기본항목만 출력된다.
         * CI유형을 선택하면 해당 유형으로 검색이 자동으로 처리된다.
         */
        function getTree() {
            tree.load({
                source: 'ciType',
                dataUrl: '/rest/cmdb/types?search=',
                target: 'treeList',
                text: 'typeName',
                totalCount: false,
                onCreate: function() {
                    zPagingManager.load();
                    // 전체 선택
                    document.getElementById('treeList').querySelector('.node').click();
                },
                selectedNode: function(response) {
                    document.getElementById('treeTypeId').value = response.id;
                    document.getElementById('treeTypeName').value = response.textContent;
                    // 버튼 색상 초기화
                    const btnDetailSearch = document.getElementById('btnDetailSearch');
                    if (btnDetailSearch && btnDetailSearch.classList.contains('primary')) {
                        btnDetailSearch.classList.remove('primary');
                        btnDetailSearch.classList.add('secondary');
                    }
                    // 상세 검색 초기화
                    document.getElementById('searchValue').value = '';
                    searchData = null;
                    tempSearchData = null;
                    getList();
                }
            });
        }

        /**
         * CI 목록 조회
         */
        function getList(pageNum = 1) {
            const orderColName = document.getElementById('orderColName') ? document.getElementById('orderColName').value : '';
            const orderDir = document.getElementById('orderDir') ? document.getElementById('orderDir').value : '';
            let detailSearchData = { searchItems: [] };
            if (searchData) {
                detailSearchData.searchItems = searchData.map((item) => {
                    return { attributeId: item.attributeId, searchValue: item.searchValue };
                });
            }
            const urlParam = aliceJs.serialize(document.getElementById('searchFrm')) + '&pageNum=' + pageNum
                + '&typeId=' + document.getElementById('treeTypeId').value
                + '&orderColName=' + orderColName
                + '&orderDir=' + orderDir
                + '&isSearchType=false';
            aliceJs.fetchText('/cmdb/cis?' + urlParam, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(detailSearchData)
            }).then((htmlData) => {
                document.getElementById('ciList').innerHTML = htmlData;
                convertDateTime();
                document.querySelector('.grid__body').click();
            });
        }

        /**
         *  상세 검색 데이터 세팅
         *  (검색시 상세 데이터 구조 형태로 전달하기 위함)
         */
        function setSearchItems(target, data) {
            searchData = data;
            tempSearchData = data;
            target.removeAttribute('onclick');
            // 상세 검색 데이터가 없을 경우에는 버튼을 비활성화.
            const btnDetailSearch = document.getElementById('btnDetailSearch');
            if (btnDetailSearch) {
                btnDetailSearch.disabled = (data === null || !data.length);
            }
        }

        /**
         *  날짜시간 변환
         */
        function convertDateTime() {
            document.querySelectorAll('.date').forEach(dt => {
                dt.textContent = i18n.userDate(dt.textContent.trim());
            });

            document.querySelectorAll('.time').forEach(dt => {
                dt.textContent = i18n.userTime(dt.textContent.trim());
            });

            document.querySelectorAll('.datetime').forEach(dt => {
                dt.textContent = i18n.userDateTime(dt.textContent.trim());
            });
        }

        /**
         * CI 상세 검색 모달 세부 화면
         */
        function getItemWithType(data, index) {
            const attributeValue = JSON.parse(data.attributeValue);
            switch (data.attributeType) {
                case 'inputbox': {
                    return `<input type="text" class="z-input field-element" ` +
                        `id="${data.attributeId}" value="${data.searchValue}" ` +
                        `data-attributeType="${data.attributeType}" onBlur="changeSearchDetail(this);">`;
                }
                case 'dropdown': {
                    const optionTemplate = attributeValue.option.map(function(opt) {
                        return `<option value='${opt.value}' ${opt.value === data.searchValue ? 'selected=\'true\'' : ''}>` +
                            `${opt.text}` +
                            `</option>`;
                    }).join('');
                    return `<select id="${data.attributeId}" class="field-element" ` +
                        `data-attributeType="${data.attributeType}" onchange="changeSearchDetail(this)">` +
                        `${optionTemplate}` +
                        `</select>`;
                }
                case 'radio': {
                    const radioTemplate = attributeValue.option.map(function(opt, idx) {
                        return `<label for="${data.attributeId}_${idx}" class="z-radio horizontal" tabindex="-1">` +
                            `<input class="z-radio" type="radio" id="${data.attributeId}_${idx}" ` +
                            `value="${opt.value}" name="${data.attributeId}" data-attributeType="${data.attributeType}" ` +
                            `${opt.value === data.searchValue ? 'checked=\'true\'' : ''} onclick="changeSearchDetail(this)">` +
                            `<span></span><span>${opt.text}</span>` +
                            `</label>`;
                    }).join('');
                    return `<div class="z-radio-group field-element">${radioTemplate}</div>`;
                }
                case 'date': {
                    return `<input type="text" class="z-input field-element i-date-picker search-date" ` +
                        `id="${data.attributeId}" value="${i18n.userDate(data.searchValue)}" ` +
                        `data-attributeType="${data.attributeType}">`;
                }
                case 'datetime': {
                    return `<input type="text" class="z-input field-element i-datetime-picker search-datetime" ` +
                        `id="${data.attributeId}" value="${i18n.userDateTime(data.searchValue)}" ` +
                        `data-attributeType="${data.attributeType}">`;
                }
                case 'userSearch': {
                    const userDefaultValues = (data.searchValue !== '') ? data.searchValue.split('|') : ['', '', ''];
                    return `<input type="text" class="z-input field-element i-user-search text-ellipsis" ` +
                        `id="${data.attributeId}" value="${userDefaultValues[1]}" ` +
                        `data-attributeType="${data.attributeType}" data-attributeIdx="${index}" ` +
                        `onkeydown="return false;" onkeypress="return false;" oncontextmenu="return false;" ` +
                        `onclick="openUserSearchModal(this);" ` +
                        `data-user-id="${userDefaultValues[2]}" data-user-search="${userDefaultValues[0]}" ` +
                        `data-realTimeSelectedUser="${(data.searchValue !== '') ? data.searchValue : ''}">`;
                }
                case 'organizationSearch': {
                    const defaultValues = (data.searchValue !== '') ? data.searchValue.split('|') : ['', '', ''];
                    return `<input type="text" class="z-input field-element i-organization-search text-ellipsis" ` +
                        `id="${data.attributeId}" value="${defaultValues[1]}" ` +
                        `data-attributeType="${data.attributeType}" data-attributeIdx="${index}" `+
                        `onkeydown="return false;" onkeypress="return false;" oncontextmenu="return false;" ` +
                        `onclick="openOrganizationSearchModal(this);" ` +
                        `data-organization-search="${defaultValues[0]}">`;
                }
                default:
                    break;
            }
        }

        function createDetailSearchContent() {
            let searchTemplate = ``;
            if (searchData !== null) {
                searchTemplate = searchData.map(function(item, index) {
                    const templateWithType = getItemWithType(item, index);
                    return `<div class="flex-row align-items-center">` +
                        `<label class="field-label text-ellipsis" title="${item.attributeText}">${item.attributeText}</label>` +
                        `${templateWithType}` +
                        `</div>`;
                }).join('');
            }

            const targetName = document.getElementById('treeTypeName').value;
            return `<div class="flex-column">` +
                `<h3 class="modal-sub-title mt-2 mb-4">${i18n.msg('cmdb.ci.label.targetType', targetName)}</h3>` +
                `${searchTemplate}` +
                `</div>`;
        }

        /**
         * CI 상세 검색 모달
         * 상세검색 조건을 입력하고 “검색”버튼을 클릭하면
         * 리스트 화면의 “상세검색” 버튼은 해당 조건이 사용되었다는 의미로 Primary 색상으로 변경된다.
         * 상세검색을 열어서 검색조건을 모두 “초기화”하면 다시 CI 유형만으로 검색하고 “상세검색” 버튼도 회색으로 돌아온다.
         */
        function onDetailSearch() {
            const ciDetailSearchModal = new modal({
                title: i18n.msg('cmdb.ci.label.detailSearch'),
                body: createDetailSearchContent(),
                classes: 'cmdb-ci-detailSearch-modal',
                buttons: [{
                    content: i18n.msg('common.btn.search'),
                    classes: 'button primary',
                    bindKey: false,
                    callback: function(modal) {
                        searchData = tempSearchData;
                        const btnDetailSearch = document.getElementById('btnDetailSearch');
                        if (btnDetailSearch && btnDetailSearch.classList.contains('secondary')) {
                            btnDetailSearch.classList.remove('secondary');
                            btnDetailSearch.classList.add('primary');
                        }
                        getList();
                        modal.hide();
                    }
                }, {
                    content: i18n.msg('common.btn.initialization'),
                    classes: 'button secondary',
                    bindKey: false,
                    callback: function(modal) {
                        const btnDetailSearch = document.getElementById('btnDetailSearch');
                        if (btnDetailSearch && btnDetailSearch.classList.contains('primary')) {
                            btnDetailSearch.classList.remove('primary');
                            btnDetailSearch.classList.add('secondary');
                        }
                        if (searchData !== null) {
                            searchData.forEach(function(item) {
                                item.searchValue = '';
                            });
                        }
                        getList();
                        modal.hide();
                    }
                }, {
                    content: i18n.msg('common.btn.cancel'),
                    classes: 'button secondary',
                    bindKey: false,
                    callback: function(modal) {
                        tempSearchData = searchData;
                        modal.hide();
                    }
                }],
                close: {
                    closable: false,
                },
                onCreate: function(modal) {
                    aliceJs.initDesignedSelectTag();
                    // 날짜시간 picker 추가
                    document.querySelectorAll('.search-date').forEach(function(elem) {
                        zDateTimePicker.initDatePicker(elem, changeSearchDetail);
                    });
                    document.querySelectorAll('.search-datetime').forEach(function(elem) {
                        zDateTimePicker.initDateTimePicker(elem, changeSearchDetail);
                    });
                    OverlayScrollbars(
                        document.querySelector('.cmdb-ci-detailSearch-modal .modal-content'), { className: 'scrollbar' });
                }
            });
            ciDetailSearchModal.show();
        }

        /**
         * 상세 검색 날짜 데이터 업데이트시 호출되는 이벤트
         */
        function changeSearchDetail(target) {
            const targetType = target.getAttribute('data-attributeType');
            const targetId = target.id.split('_')[0];
            const findIndex = tempSearchData.findIndex(function(item) {
                return item.attributeId === targetId;
            });
            let changeValue = '';
            switch (targetType) {
                case 'date':
                    changeValue = i18n.systemDate(target.value);
                    break;
                case 'datetime':
                    changeValue = i18n.systemDateTime(target.value);
                    break;
                case 'userSearch':
                    if (target.value !== '') {
                        changeValue = `${target.getAttribute('data-user-search')}|` +
                            `${target.value}|${target.getAttribute('data-user-id')}`;
                    }
                    break;
                case 'organizationSearch':
                    if (target.value !== '') {
                        changeValue = `${target.getAttribute('data-organization-search')}|${target.value}`;
                    }
                    break;
                default:
                    changeValue = target.value;
                    break;
            }
            tempSearchData[findIndex].searchValue = changeValue;
        }

        /**
         * 목록 다운로드 (엑셀)
         */
        function onExcelDownload() {
            const orderColName = document.getElementById('orderColName') ? document.getElementById('orderColName').value : '';
            const orderDir = document.getElementById('orderDir') ? document.getElementById('orderDir').value : '';
            let detailSearchData = { searchItems: [] };
            if (searchData) {
                detailSearchData.searchItems = searchData.map((item) => {
                    return { attributeId: item.attributeId, searchValue: item.searchValue };
                });
            }
            const urlParam = aliceJs.serialize(document.getElementById('searchFrm'))
                + '&typeId=' + document.getElementById('treeTypeId').value
                + '&orderColName=' + orderColName
                + '&orderDir=' + orderDir;
            let excelFileName = i18n.msg('cmdb.ci.label.ciInquiry') + '_'
                    + new Date().toISOString().substring(0, 10).replace(/-/g, '');

            aliceJs.fetchBlob('/rest/cmdb/cis/excel?' + urlParam, {
                method: 'POST',
                showProgressBar: true,
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(detailSearchData)
            }).then((blob) => {
                if (typeof blob === 'object') {
                    const a = document.createElement('a');
                    const url = window.URL.createObjectURL(blob);
                    a.href = url;
                    a.download = excelFileName;
                    document.body.append(a);
                    a.click();
                    a.remove();
                    window.URL.revokeObjectURL(url);
                }
            });
        }

        /**
         * 템플릿 다운로드
         */
        function onTemplateDownload() {
            const urlParam = 'typeId=' + document.getElementById('treeTypeId').value;
            // 다운로드 되는 파일은 “IT자산 템플릿-[CI유형명]-20220214”와 같은 형식의 이름을 가진다.
            const typeName = document.getElementById('treeTypeName').value;
            let excelFileName = i18n.msg('cmdb.ci.label.ciTemplate') + '-' + typeName + '-'
                + new Date().toISOString().substring(0, 10).replace(/-/g, '');

            aliceJs.fetchBlob('/rest/cmdb/cis/template?' + urlParam, {
                method: 'GET',
                showProgressBar: true
            }).then((blob) => {
                if (typeof blob === 'object') {
                    const a = document.createElement('a');
                    const url = window.URL.createObjectURL(blob);
                    a.href = url;
                    a.download = excelFileName;
                    document.body.append(a);
                    a.click();
                    a.remove();
                    window.URL.revokeObjectURL(url);
                }
            });
        }

        // 파일업로드 라이브러리로 파일 drag & drop시 callback으로 전달받는 파일을 저장한다.
        function getImportFile(file) {
            if (typeof file !== 'undefined') {
                importFile = file;
            }
        }

        /**
         * 템플릿 업로드 모달 오픈
         */
        function importTemplate() {
            const formData = new FormData();
            formData.append('files', importFile);
            aliceJs.fetchJson('/rest/cmdb/cis/templateUpload', {
                method: 'POST',
                body: formData,
                showProgressBar: true
            }).then((response) => {
                // 성공시 페이지 새로 고침
                if (response.status === aliceJs.response.success) {
                    zAlert.success(i18n.msg('common.msg.save'), function() {
                        location.reload();
                        return true;
                    });
                }
            });
        }

        /**
         * 템플릿 업로드 모달 오픈
         */
        function openTemplateUploadModal() {
            const createTemplateUploadContent = function() {
                return `<div class="import-main flex-column">` +
                    `<div class="file-uploader-edit">` +
                    `<label class="file-uploader-title field-label">` +
                    `${i18n.msg('common.label.importFile')}<span class="required"></span>` +
                    `</label>` +
                    `<div id="dropZoneFiles"></div>` +
                    `<div id="dropZoneUploadedFiles"></div>` +
                    `</div>` +
                    `<h6 class="description mt-1 pl-2">${i18n.msg('cmdb.ci.msg.noticeImportFile')}</h6>` +
                    `</div>`;
            };
            const importModal = new modal({
                title: i18n.msg('cmdb.ci.label.ciTemplateImport'),
                body: createTemplateUploadContent(),
                classes: 'template-import',
                buttons: [
                    {
                        content: i18n.msg('cmdb.ci.btn.import'),
                        classes: 'button primary',
                        bindKey: false,
                        callback: function(modal) {
                            if (isNotNull('dropZoneFileUpload') && document.getElementById('fileTemplate') === null) {
                                zAlert.warning(i18n.msg('common.msg.selectImportFile'));
                                return false;
                            }
                            importTemplate();
                        }
                    }, {
                        content: i18n.msg('common.btn.cancel'),
                        classes: 'button secondary',
                        bindKey: false,
                        callback: function(modal) {
                            modal.hide();
                        }
                    }
                ],
                close: {
                    closable: false,
                },
                onCreate: function(modal) {
                    // 파일 업로드 추가
                    zFileUploader.init({
                        formId: 'importForm',
                        dropZoneMaxFiles: 1,
                        acceptedFiles: '.xlsx,.xls',
                        dropZoneUrl: '/fileupload?target=import',
                        editor: true,
                        userCallback: getImportFile
                    });
                    // 스크롤바 추가
                    OverlayScrollbars(document.querySelector('.template-import .modal-content'), { className: 'scrollbar' });
                }
            });
            importModal.show();
        }

        /**
         * 단일 CI 상세 정보 조회 (모달)
         */
        function openCIDetailModal(target) {
            const ciId = target.parentElement.parentElement.querySelector('#ciId').value;
            aliceJs.fetchText('/cmdb/cis/' + ciId + '/view', {
                method: 'GET',
                showProgressbar: true
            }).then((rtn) => {
                const ciDetailModal = new modal({
                    title: i18n.msg('cmdb.ci.label.view'),
                    body: rtn,
                    classes: 'cmdb-ci-view-modal',
                    buttons: [{
                        content: i18n.msg('common.btn.close'),
                        classes: 'button secondary',
                        bindKey: false,
                        callback: function(modal) {
                            modal.hide();
                        }
                    }],
                    close: {
                        closable: false,
                    },
                    onCreate: function(modal) {
                        document.getElementById('ciAttributes').click();
                        const ciDetailModalContent = document.querySelector('.cmdb-ci-view-modal');
                        // 스크롤바 추가
                        OverlayScrollbars(ciDetailModalContent.querySelector('.modal-content'), { className: 'scrollbar' });
                        new zTag(document.querySelector('input[name=ciDetailTags]'), {
                            suggestion: false,
                            realtime: false,
                            tagType: 'ci',
                            targetId: ciDetailModalContent.querySelector('#ciId').getAttribute('value')
                        });
                        // 서버에서 전달받은 데이터의 날짜 포맷을 변경한다.
                        ciDetailModalContent.querySelectorAll('.date-time').forEach(dt => {
                            dt.textContent = i18n.userDateTime(dt.textContent.trim());
                        });
                    }
                });
                ciDetailModal.show();
            });
        }

        /**
         * 사용자 검색 모달
         */
        function openUserSearchModal(target) {
            const targetUserModalTemplate = `<div class="target-user-list">` +
                `<input class="z-input i-search col-5 mr-2" type="text" name="search" id="search" maxlength="100" ` +
                `placeholder="` + i18n.msg('user.label.userSearchPlaceholder') + `">` +
                `<span id="spanTotalCount" class="search-count"></span>` +
                `<div class="table-set" id="searchUserList"></div>` +
                `</div>`;
            const targetUserModal = new modal({
                title: i18n.msg('common.btn.select'),
                body: targetUserModalTemplate,
                classes: 'target-user-modal',
                buttons: [{
                    content: i18n.msg('common.btn.select'),
                    classes: 'button primary',
                    bindKey: false,
                    callback: (modal) => {
                        // 최근 선택값이 있는 경우, 해당 사용자 id와 이름을 전달한다.
                        if (target.getAttribute('data-realTimeSelectedUser') === '') {
                            zAlert.warning(i18n.msg('form.msg.selectTargetUser'));
                            return false;
                        } else {
                            const realTimeSelectedUserArr = target.getAttribute('data-realTimeSelectedUser').split('|');
                            target.setAttribute('data-user-search', realTimeSelectedUserArr[0]);
                            target.setAttribute('data-user-id', realTimeSelectedUserArr[2]);
                            target.value = realTimeSelectedUserArr[1];
                            changeSearchDetail(target);
                        }
                        modal.hide();
                    }
                }, {
                    content: i18n.msg('common.btn.cancel'),
                    classes: 'button secondary',
                    bindKey: false,
                    callback: (modal) => {
                        modal.hide();
                    }
                }],
                close: { closable: false },
                onCreate: function() {
                    // 기존 선택된 값 할당
                    if (target.getAttribute('data-user-search') !== '') {
                        const realTimeSelectedUser = `${target.getAttribute('data-user-search')}|` +
                            `${target.value}|${target.getAttribute('data-user-id')}`;
                        target.setAttribute('data-realTimeSelectedUser', realTimeSelectedUser);
                    }
                    document.getElementById('search').addEventListener('keyup', aliceJs.debounce((e) => {
                        getUserList(target, e.target.value, false);
                    }), false);
                    getUserList(target, document.getElementById('search').value, true);
                    OverlayScrollbars(document.querySelector('.modal-content'), { className: 'scrollbar' });
                }
            });
            targetUserModal.show();
        }

        /**
         * 사용자 검색 모달 - 사용자 조회
         */
        function getUserList(target, search, showProgressbar) {
            const data = searchData[target.getAttribute('data-attributeIdx')];
            const attributeValue = JSON.parse(data.attributeValue);
            const targetCriteria = attributeValue.targetCriteria;
            let searchKeys = '';
            attributeValue.searchKey.forEach((elem, index) => {
                searchKeys += (index > 0) ? '+' + elem.id : elem.id;
            });
            // 검색
            const strUrl = '/users/searchUsers?searchValue=' + encodeURIComponent(search.trim()) +
                '&targetCriteria=' + targetCriteria + '&searchKeys=' + searchKeys;
            aliceJs.fetchText(strUrl, {
                method: 'GET',
                showProgressbar: showProgressbar
            }).then((htmlData) => {
                const searchUserList = document.getElementById('searchUserList');
                searchUserList.innerHTML = htmlData;
                OverlayScrollbars(searchUserList.querySelector('.table-body'), { className: 'scrollbar' });
                // 갯수 가운트
                aliceJs.showTotalCount(searchUserList.querySelectorAll('.table-row').length);
                // 체크 이벤트
                searchUserList.querySelectorAll('input[type=radio]').forEach((element) => {
                    element.addEventListener('change', () => {
                        const userId = element.getAttribute('data-user-id');
                        const realTimeSelectedUser = element.checked ? `${element.id}|${element.value}|${userId}` : '';
                        target.setAttribute('data-realTimeSelectedUser', realTimeSelectedUser);
                    });
                });
                // 기존 선택값 표시
                const realTimeSelectedUser = target.getAttribute('data-realTimeSelectedUser');
                const checkedTargetId = realTimeSelectedUser.split('|')[0];
                const checkedTargetRadio = searchUserList.querySelector('input[id="' + checkedTargetId + '"]');
                if (checkedTargetId !== '' && checkedTargetRadio !== null) {
                    checkedTargetRadio.checked = true;
                }
            });
        }

        /**
         * 부서 선택 모달
         */
        function openOrganizationSearchModal(target) {
            const organizationSearchData = target.getAttribute('data-organization-search');
            tree.load({
                view: 'modal',
                title: i18n.msg('common.btn.select'),
                dataUrl: '/rest/organizations',
                target: 'organizationTreeList',
                source: 'organization',
                text: 'organizationName',
                nodeNameLabel: i18n.msg('common.msg.dataSelect', i18n.msg('department.label.deptName')),
                defaultIcon: '/assets/media/icons/tree/icon_tree_organization.svg',
                selectedValue: organizationSearchData,
                callbackFunc: (response) => {
                    target.value = response.textContent;
                    target.setAttribute('data-organization-search', response.id);
                    changeSearchDetail(target);
                }
            });
        }

        /*]]>*/
    </script>
    <script type="module">
        import ZPaging from '../../../assets/js/lib/zPaging.js';

        const zPagingManager = {
            load: function() {
                if (typeof this.zPaging === 'undefined') {
                    this.zPaging = new ZPaging();
                }
            }
        };
        window.zPagingManager = zPagingManager;
    </script>
</th:block>
</html>
