<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/defaultLayout">
<head>
    <title th:text="#{cmdb.ci.label.ciInquiry}"></title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="cmdb-ci-header">
        <div class="header-title flex-row align-items-baseline">
            <h1 th:text="#{cmdb.ci.label.ciInquiry}"></h1>
            <h6 class="description" th:text="#{cmdb.ci.msg.searchDescription}"></h6>
        </div>
        <div class="header-search flex-row">
            <input type="hidden" sec:authorize="hasAuthority('cmdb.ci.create') || hasAuthority('cmdb.ci.update')"
                   th:name="isRole" th:value="true"/>
            <input type="hidden" sec:authorize="!hasAuthority('cmdb.ci.create') && !hasAuthority('cmdb.ci.update')"
                   th:name="isRole" th:value="false"/>
            <form id="searchFrm">
                <input class="search col-5" id="search" name="search" type="text" maxlength="100"
                       th:placeholder="#{cmdb.ci.label.searchPlaceholder}"/>
                <input class="search col-3 mr-2" id="tagSearch" name="tagSearch" type="text" maxlength="100"
                       th:placeholder="#{cmdb.ci.label.tagPlaceholder}"/>
                <span id="spanTotalCount" class="txt-num"></span>
            </form>
        </div>
    </div>
    <div class="cmdb-ci-content flex-fill">
        <div class="list" id="ciList"></div>
    </div>
</th:block>
</body>
<th:block layout:fragment="pageScript">
    <script type="text/javascript">
        /*<![CDATA[*/
        let offsetCount = 0;
        window.onload = function () {
            document.getElementById('search').focus();
            document.querySelectorAll('#search, #tagSearch').forEach(search => {
                search.addEventListener('keyup', function () {
                    searchCis(false);
                });
            });
            searchCis(false);
        }

        function openCIDetailModal(ciId) {
            restSubmit('GET', '/cmdb/cis/view?'+ciId, false);
        }

        function searchCis(isScroll) {
            let urlParam = '';
            if (isScroll) {
                if (offsetCount === 0) {
                    offsetCount = aliceJs.searchDataCount;
                }
                urlParam = aliceJs.serialize(document.getElementById('searchFrm')) + '&offset=' + offsetCount;
                restSubmit('get', '/rest/cmdb/cis?' + urlParam, isScroll);
            } else {
                offsetCount = 0;
                urlParam = aliceJs.serialize(document.getElementById('searchFrm')) + '&offset=' + offsetCount;
                restSubmit('get', '/cmdb/cis?' + urlParam, isScroll);
            }
        }

        function restSubmit(method, url, isScroll) {
            const opt = {
                method: method,
                url: url,
                async: false,
                showProgressbar: false,
                callbackFunc: function (response) {
                    if (isScroll) {
                        let dataList = JSON.parse(response.responseText);
                        if (dataList.length > 0) {
                            aliceJs.showTotalCount(dataList[0].totalCount);
                            document.getElementById('totalCount').value = dataList[0].totalCount;
                            if (aliceJs.isEnableScrollEvent(offsetCount)) {
                                offsetCount = offsetCount + aliceJs.searchDataCount;
                                dataList.forEach(function (data) {
                                    getDataTemplate(data);
                                });
                            }
                        }
                    } else {
                        console.log("=====================");
                        console.log(url);
                        if (url === '/cmdb/cis/view/1111') {
                            const ciDetailModal = new modal({
                                title: i18n.msg('cmdb.ci.label.ciInquiry'),
                                body: content,
                                classes: 'cmdb-ci-detail-modal',
                                buttons: [{
                                    content: i18n.msg('common.btn.cancel'),
                                    classes: "default-line",
                                    bindKey: false,
                                    callback: function (modal) {
                                        modal.hide();
                                    }
                                }],
                                close: {
                                    closable: false,
                                },
                                onCreate: function (modal) {
                                    // 스크롤바 추가
                                    OverlayScrollbars(document.querySelector('.cmdb-ci-content-edit'), {className: 'scrollbar'});
                                    OverlayScrollbars(document.querySelectorAll('textarea'), {
                                        className: 'scrollbar',
                                        resize: 'vertical',
                                        sizeAutoCapable: true,
                                        textarea: {
                                            dynHeight: false,
                                            dynWidth: false,
                                            inheritedAttrs: "class"
                                        }
                                    });
                                    // TODO: 태그 기능 추가
                                    /*new Tagify(document.getElementById('ciTags'), {
                                        pattern: /^.{0,100}$/,
                                        editTags: false,
                                        callbacks: {
                                            'add': onAddTag,
                                            'remove': onRemoveTag
                                        },
                                        placeholder: i18n.msg('token.msg.tag')
                                    });*/
                                }
                            });
                            ciDetailModal.show();
                        } else {
                            document.getElementById('ciList').innerHTML = response.responseText;
                            aliceJs.showTotalCount(document.getElementById('totalCount').value);
                        }
                    }

                    OverlayScrollbars(document.querySelector('.list-body'), {
                        className: 'scrollbar',
                        callbacks: {
                            onScroll: function (e) {
                                const scrollHeight = e.target.scrollHeight;
                                const scrollTop = e.target.scrollTop;
                                const clientHeight = e.target.clientHeight;
                                if (scrollHeight - scrollTop === clientHeight) {
                                    if (aliceJs.isEnableScrollEvent(offsetCount)) {
                                        searchCis(true);
                                    }
                                }
                            }
                        }
                    });
                }
            };
            aliceJs.sendXhr(opt);
        }

        function getDataTemplate(data) {
            let div = document.querySelector('.list-body .os-content');
            let tr = document.createElement('tr');
            tr.className = 'flex-row align-items-center';

            let tdCiIcon = document.createElement('td');
            tdCiIcon.style.width = '5%';
            let imgCiIcon = document.createElement('img');
            imgCiIcon.style.width = '27';
            imgCiIcon.style.height = '27';
            imgCiIcon.src = '';
            tdCiIcon.appendChild(imgCiIcon);

            let tdCiTypeName = document.createElement('td');
            tdCiTypeName.style.width = '10%';
            tdCiTypeName.className = 'align-center';
            tdCiTypeName.innerText = data.ciTypeName;

            let tdCiNo = document.createElement('td');
            tdCiNo.style.width = '20%';
            tdCiNo.className = 'align-center';
            tdCiNo.innerText = data.ciNo;

            let tdCiName = document.createElement('td');
            tdCiName.style.width = '15%';
            tdCiName.className = 'align-left';
            tdCiName.innerText = data.ciName;

            let tdCiDesc = document.createElement('td');
            tdCiDesc.style.width = '25%';
            tdCiDesc.className = 'align-left';
            tdCiDesc.innerText = data.ciDesc;

            let tdCiTag = document.createElement('td');
            tdCiTag.style.width = '25%';
            tdCiTag.className = 'align-left';
            tdCiTag.innerText = data.ciTag;

            tr.appendChild(tdCiIcon);
            tr.appendChild(tdCiNo);
            tr.appendChild(tdCiTypeName);
            tr.appendChild(tdCiName);
            tr.appendChild(tdCiDesc);
            tr.appendChild(tdCiTag);
            div.appendChild(tr);
        }

        /*]]>*/
    </script>
</th:block>
</html>
