<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <!-- CI 상세 모달  -->
    <div class="cmdb-ci-content-view flex-column">
        <div class="edit-form">
            <input type="hidden" id="ciId" th:value="${ci?.ciId}"/>
            <!-- CI No -->
            <div class="flex-column edit-row">
                <label class="field-label" for="ciNo">
                    <span th:text="#{cmdb.ci.label.seqNum}"></span>
                </label>
                <div class="flex-row input-button">
                   <input type="text" id="ciNo" class="col-pct-12 inherit" th:value="${ci?.ciNo}" maxlength="100"
                          readonly/>
                </div>
            </div>
            <!-- CI 타입 -->
            <div class="flex-column edit-row">
                <label class="field-label" for="typeName">
                    <span th:text="#{cmdb.ci.label.type}"></span>
                </label>
                <div class="flex-row input-button">
                    <input type="hidden" id="typeId" th:value="${ci?.typeId}" />
                    <input type="text" id="typeName" class="col-pct-12 inherit" th:value="${ci?.typeName}" readonly required="true" th:attr="data-required-name=#{cmdb.ci.label.type}"/>
                </div>
            </div>
            <!-- 아이콘 -->
            <div class="flex-column edit-row">
                <label class="field-label" for="ciIcon">
                    <span th:text="#{cmdb.type.label.icon}"></span>
                </label>
                <div class="flex-row input-button">
                    <input type="text" id="typeIcon" class="col-pct-12 inherit" th:value="${ci?.ciIcon}" readonly>
                </div>
            </div>
            <!-- CI 이름 -->
            <div class="flex-column edit-row">
                <label class="field-label" for="ciName">
                    <span th:text="#{cmdb.ci.label.name}"></span>
                </label>
                <div class="flex-row input-button">
                    <input id="ciName" type="text" class="col-pct-12 inherit"  readonly maxlength="100" required="true"
                           th:value="${ci?.ciName}" th:attr="data-required-name=#{cmdb.ci.label.name}"/>
                </div>
            </div>
            <!--CI 설명 -->
            <div class="flex-column edit-row">
                <label class="field-label" for="ciDesc">
                    <span th:text="#{cmdb.ci.label.description}"></span>
                </label>
                <textarea id="ciDesc" class="textarea-scroll-wrapper" readonly rows="7" maxlength="128"
                          th:text="${ci?.ciDesc}"></textarea>
            </div>
            <!--클래스 -->
            <div class="flex-column edit-row">
                <label class="field-label" for="className">
                    <span th:text="#{cmdb.type.label.class}"></span>
                </label>
                <div class="flex-row input-button">
                    <input type="hidden" id="classId" th:value="${ci?.classId}"/>
                    <input type="text" id="className" class="col-pct-12 inherit" th:value="${ci?.className}" readonly required="true" th:attr="data-required-name=#{cmdb.type.label.class}"/>
                </div>
            </div>
            <!-- CI 태그 -->
            <div class="flex-column edit-row">
                <label class="field-label">
                    <span th:text="#{cmdb.ci.label.tag}"></span>
                </label>
                <input type="text" id="ciTags" readonly th:value="${ci?.ciTags}" />
            </div>
            <!-- 세부속성 -->
            <div class="flex-column edit-row">
                <h3 class="sub-title under-bar bold mt-4" th:text="#{cmdb.attribute.label.details}"></h3>
            </div>
            <div id="ciAttributes">
            </div>
        </div>
    </div>
</body>
</html>
