<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <!-- CI 보기 모달 -->
    <div class="cmdb-ci-content-view flex-column">
        <div class="view-form">
            <input type="hidden" id="ciId" th:value="${ciData?.ciId}"/>
            <!-- CI No -->
            <div class="flex-column view-row">
                <label class="field-label" for="ciNo">
                    <span th:text="#{cmdb.ci.label.seqNum}"></span>
                </label>
                <input type="text" id="ciNo" class="z-input" th:value="${ciData?.ciNo}" maxlength="100" readonly />
            </div>
            <!-- CI 타입 -->
            <div class="flex-column view-row">
                <label class="field-label" for="typeName">
                    <span th:text="#{cmdb.ci.label.type}"></span>
                    <span class="required"></span>
                </label>
                <div class="flex-row input-button">
                    <input type="hidden" id="typeId" th:value="${ciData?.typeId}" />
                    <input type="text" id="typeName" class="z-input col-pct-12 inherit" th:value="${ciData?.typeName}"
                           readonly required="true" th:attr="data-validation-required-name=#{cmdb.ci.label.type}"/>
                    <button class="z-button form" id="typeSelectBtn" type="button" disabled th:text="#{common.btn.select}"></button>
                </div>
            </div>
            <!-- 아이콘 -->
            <div class="flex-column view-row">
                <label class="field-label">
                    <span th:text="#{cmdb.type.label.icon}"></span>
                </label>
                <div class="flex-row input-button">
                    <input type="text" id="typeIcon" class="z-input col-pct-12 inherit" th:value="${ciData?.ciIcon}" readonly>
                </div>
            </div>
            <!-- CI 이름 -->
            <div class="flex-column view-row">
                <label class="field-label" for="ciName">
                    <span th:text="#{cmdb.ci.label.name}"></span>
                    <span class="required"></span>
                </label>
                <input type="text" id="ciName" class="z-input" maxlength="100" th:value="${ciData?.ciName}"
                       th:attr="data-validation-required-name=#{cmdb.ci.label.name}" readonly required="true"/>
            </div>
            <!--CI 설명 -->
            <div class="flex-column view-row">
                <label class="field-label" for="ciDesc">
                    <span th:text="#{cmdb.ci.label.description}"></span>
                </label>
                <textarea id="ciDesc" class="z-textarea textarea-scroll-wrapper" rows="7" maxlength="500"
                          th:text="${ciData?.ciDesc}" readonly></textarea>
            </div>
            <!--클래스 -->
            <div class="flex-column view-row">
                <label class="field-label" for="className">
                    <span th:text="#{cmdb.type.label.class}"></span>
                    <span class="required"></span>
                </label>
                <input type="hidden" id="classId" th:value="${ciData?.classId}"/>
                <input type="text" id="className" class="z-input" maxlength="100" th:value="${ciData?.className}"
                       th:attr="data-validation-required-namee=#{cmdb.type.label.class}" readonly required="true"/>
            </div>
            <!-- CI 태그 -->
            <div class="flex-column view-row">
                <label class="field-label">
                    <span th:text="#{cmdb.ci.label.tag}"></span>
                </label>
                <input type="text" id="ciTags" class="z-input col-pct-12 inherit" th:value="${ciData?.ciTags}" readonly/>
            </div>
            <!-- 세부속성 -->
            <div class="flex-column view-row" id="ciAttributes" th:onclick="zCmdbAttribute.drawDetails(this, [[${ciData?.classes}]], [[${userInfo}]], 'view');">
            </div>
            <!-- 연관 관계 -->
            <div class="flex-row z-edit-row under-bar mt-4 z-relation-group">
                <h3 id="relationLabel" class="z-sub-title" th:text="#{cmdb.ci.label.relation}"></h3>
                <button id="editCIRelationBtn" type="button" class="z-button-icon extra ml-auto">
                    <span class="z-icon i-edit"></span>
                </button>
            </div>
            <div class="flex-column view-row z-relation-group">
                <table class="z-table">
                    <thead class="z-table-head">
                    <tr class="flex-row align-items-center">
                        <th style="width: 10%;" class="align-center"></th>
                        <th style="width: 45%;" class="align-left" th:text="#{cmdb.ci.label.type}"></th>
                        <th style="width: 45%;" class="align-left" th:text="#{cmdb.ci.label.name}"></th>
                    </tr>
                    </thead>
                    <tbody class="z-table-body" id="ciRelation"/></tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
