<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layout/defaultLayout">
<head>
    <title th:text="#{image.label.list}"></title>
</head>
<body>
<th:block layout:fragment="content">
        <div class="image-header">
            <div class="header-title flex-row align-items-baseline">
                <h1 th:text="#{image.label.list}"></h1>
                <h6 class="description ml-2" th:text="#{image.msg.searchDescription}"></h6>
            </div>
            <div class="header-search flex-row">
                <input type="text" class="search col-5 mr-2" id="searchValue" name="searchValue" maxlength="100"
                       th:placeholder="#{image.label.name}"/>
                <span id="totalCount" class="search-count"></span>
            </div>
        </div>
        <div class="image-content-edit flex-fill">
            <div class="thumbnail-main"></div>
        </div>
</th:block>
<th:block layout:fragment="pageScript">
    <script type="text/javascript" th:inline="javascript">
        let previewModal;
        let offsetCount = 0;
        window.onload = function () {
            getImages(false);
            // 미리보기 모달 생성
            previewModal = new modal({
                title: i18n.msg('image.label.name'),
                body: `<div class="thumbnail-preview-img"></div>`,
                classes: 'thumbnail-preview',
                buttons: [{
                    content: i18n.msg('common.btn.close'),
                    classes: "default-line",
                    bindKey: false,
                    callback: function(modal) {
                        modal.hide();
                    }
                }],
                close: { closable: false },
                onHide: function(modal) {
                    // 기존 선택된  클래스를 제거
                    const selectedThumbnails = document.querySelectorAll('.thumbnail.selected');
                    for (let i = 0, len = selectedThumbnails.length; i < len; i++) {
                        selectedThumbnails[i].classList.remove('selected');
                    }
                }
            });
            // 썸네일 표시
            document.getElementById('searchValue').focus();
            document.getElementById('searchValue').addEventListener('keyup', function () {
                document.querySelector('.thumbnail-main').innerHTML = '';
                 getImages(false);
            });
        }

        function getImages(isScroll) {
            let urlParam = 'searchValue=' + document.getElementById('searchValue').value;
            if (isScroll) {
                if (offsetCount === 0) {
                    offsetCount = aliceJs.imageOffsetCount;
                }
                urlParam += '&offset=' + offsetCount;
            } else {
                offsetCount = 0;
                urlParam += '&offset=' + offsetCount;
            }
            restSubmit('get', '/rest/images?' + urlParam, isScroll);
        }

        function restSubmit(method, url, isScroll) {
            aliceJs.sendXhr({
                url: url,
                method: method,
                contentType: 'application/json',
                async: false,
                callbackFunc: function (response) {
                    let imageList = JSON.parse(response.responseText);
                    addThumbnailUpload();
                    if (isScroll) {
                        if (aliceJs.isEnableScrollEvent(offsetCount)) {
                            offsetCount = offsetCount + aliceJs.imageOffsetCount;
                            imageList.forEach(function (image) {
                                addThumbnail(image);
                            });
                        }
                    } else {
                        let count = JSON.stringify(imageList.totalCount)
                        aliceJs.showTotalCount(count, 'totalCount');
                        document.getElementById('totalCount').value = count;
                        imageList.data.forEach(function (image) {
                            addThumbnail(image);
                        });
                        OverlayScrollbars(document.querySelector('.image-content-edit'), {
                            className: 'scrollbar',
                            callbacks: {
                                onScroll: function (e) {
                                    const scrollHeight = e.target.scrollHeight;
                                    const scrollTop = e.target.scrollTop;
                                    const clientHeight = e.target.clientHeight;
                                    if (isScrollbarBottom(scrollHeight, scrollTop, clientHeight)) {
                                        if (aliceJs.isEnableScrollEvent(offsetCount)) {
                                            getImages(true);
                                        }
                                    }
                                }
                            }
                        });
                    }
                }
            });
        }

        function addThumbnail(image) {
            const thumbnailContainer = document.querySelector('.thumbnail-main');
            const thumbnailUpload = thumbnailContainer.querySelector('.thumbnail-upload');
            let thumbnailTemplate = `
                <div class="thumbnail" >
                    <div class="thumbnail-img" onclick="imagePreview(this);" style="background-image: url('data:image/${image.extension};base64,${image.data}');"></div>
                    <div class="thumbnail-info">
                        <p class="thumbnail-info-text">
                            <label class="thumbnail-img-name text-ellipsis" ondblclick="renameImage(this);">${image.name}</label>
                            <input type="text" class="fileName float-left" />
                        </p>
                        <p class="thumbnail-info-text"><label class="text-ellipsis">${image.width} X ${image.height} ${image.size}</label></p>
                    </div>
                    <div class="thumbnail-bottom">
                        <label>${i18n.userDateTime(image.updateDt)}</label>
                        <button type="button" class="float-right" data-name="${image.name}" onclick="removeImage(this);"><span class="icon icon-delete"></span></button>
                    </div>
                </div>
            `;
            thumbnailContainer.insertAdjacentHTML('beforeend', thumbnailTemplate);
        }

        function addThumbnailUpload() {
            const thumbnailCnt = document.querySelector('.thumbnail-main').querySelectorAll('.thumbnail-upload').length;
            if (thumbnailCnt === 0) {
                let thumbnailUploadTemplate = `
                    <div class="thumbnail-upload align-center" onclick="document.getElementById('image-upload-file').click();">
                        <img src="" />
                        <p class="thumbnail-upload-text">${i18n.msg('image.label.upload')}</p>
                        <input type="file" class="fileInput" id="image-upload-file" accept=".png,.gif,.jpeg,.jpg" multiple onchange="uploadImage(this);"/>
                    </div>
                `;
                document.querySelector('.thumbnail-main').insertAdjacentHTML('beforeend', thumbnailUploadTemplate);
            }
        }

        function removeImage(imgObj) {
            aliceAlert.confirmIcon(i18n.msg('common.msg.confirmDelete'), () => {
                aliceJs.sendXhr({
                    url: '/rest/images/' + imgObj.dataset.name,
                    method: 'delete',
                    contentType: 'application/json',
                    callbackFunc: xhr => {
                        if (xhr.responseText === 'true') {
                            document.querySelector('.thumbnail-main').removeChild(imgObj.parentNode.parentNode);
                            let deleteAfterCount = Number(document.getElementById("totalCount").value) - 1;
                            document.getElementById('totalCount').value = deleteAfterCount;
                            aliceJs.showTotalCount(deleteAfterCount, 'totalCount');
                        }
                    }
                });
            });
        }

        function renameImage(labelObj) {
            const name = labelObj.textContent.trim();
            labelObj.style.display = 'none';
            let inputObj = labelObj.parentNode.querySelector('input');
            let extension = name.split('.').pop();
            inputObj.value = name.split('.' + extension)[0];
            inputObj.style.display = 'block';
            let renameEventHandler = e => {
                e.preventDefault();
                e.target.removeEventListener('focusout', renameEventHandler);
                e.target.removeEventListener('keyup', renameEventHandler);
                inputObj.style.display = 'none';
                labelObj.style.display = 'block';
                let modifyName = labelObj.textContent;
                if (inputObj.value.trim() !== '') {
                    modifyName = inputObj.value.trim() + '.' + extension;
                }

                if (name !== modifyName) {
                    aliceJs.sendXhr({
                        url: '/rest/images',
                        method: 'put',
                        params: JSON.stringify({originName: name, modifyName: modifyName}),
                        contentType: 'application/json; charset=utf-8',
                        callbackFunc: xhr => {
                            if (xhr.responseText === 'true') {
                                labelObj.textContent = modifyName;
                                labelObj.parentNode.parentNode.parentNode.querySelector('button').dataset.name = modifyName;
                            } else {
                                aliceAlert.alertWarning(i18n.msg("image.msg.failedRename"));
                            }
                        }
                    });
                }
            };
            inputObj.addEventListener('focusout', renameEventHandler, false);
            inputObj.addEventListener('keyup', e => {
                if (e.keyCode === 13) {
                    renameEventHandler(e);
                }
            }, false);
            inputObj.focus();
        }
        // 이미지 업로드
        function uploadImage(fileObj) {
            let fileList = fileObj.files;
            if (fileList.length > 0) {
                const allowedExtensions = ['png', 'jpg', 'jpeg', 'gif'];
                const uploadImage = function () {
                    let xhr = new XMLHttpRequest(),
                        formData = new FormData();
                    for (let i = 0, len = fileList.length; i < len; i++) {
                        formData.append('files', fileList[i]);
                    }
                    xhr.onreadystatechange = () => {
                        if (xhr.readyState === 4 && xhr.status === 200) {
                            let list = JSON.parse(xhr.responseText);
                            for (let i = 0, len = list.length; i < len; i++) {
                                addThumbnail(list[i]);
                            }
                        }
                    }
                    xhr.open('POST', '/rest/images', true);
                    xhr.send(formData);
                    document.getElementById('image-upload-file').value = '';
                }

                if (isAllowedExtensions(allowedExtensions, fileList)) {
                    uploadImage();
                    aliceAlert.alertSuccess(i18n.msg('image.msg.registrationSuccess'), function () {
                        location.reload();
                    });
                } else {
                    aliceAlert.confirmIcon(
                        i18n.msg('image.msg.existNotAllowedExtension'),
                        uploadImage, // OK 시 업로드
                        () => document.getElementById('image-upload-file').value = ''  // CANCEL 시 file object 값 비움 처리
                        );
                }
            }
        }
        // 이미지 미리보기
        function imagePreview(thumbnail) {
            thumbnail.parentNode.classList.add('selected');

            // 이미지 파일명 제목 표시
            const previewModalHeader = previewModal.wrapper.querySelector('.modal-header');
            if (previewModalHeader !== null) {
                previewModalHeader.textContent = thumbnail.parentNode.querySelector('.thumbnail-img-name').textContent;
            }

            // 내부 이미지 경로 변경
            const previewModalContent = previewModal.wrapper.querySelector('.thumbnail-preview-img');
            if (previewModalContent !== null) {
                previewModalContent.style.backgroundImage = thumbnail.style.backgroundImage;
            }
            // 모달 호출
            previewModal.show();
        }
    </script>
</th:block>
</body>
</html>
