<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layout/defaultLayout">
<head>
    <title th:text="#{image.label.list}"></title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="contents-edit scroll-wrap">
        <div class="header">
            <div class="page-title">
                <h1 th:text="#{image.label.list}"></h1>
                <h6 class="title-description" th:text="#{image.msg.description}"></h6>
            </div>
            <div class="search-area">
                <div class="left">
                    <form id="searchFrm">
                        <input class="search column-5" id="searchValue" name="searchValue" type="text" maxlength="100"
                               th:placeholder="이미지명"/>
                    </form>
                </div>
            </div>
        </div>
        <div class="image-list">
            <div class="thumbnail-container"></div>
        </div>
    </div>
</th:block>
<th:block layout:fragment="pageScript">
    <script type="text/javascript" th:inline="javascript">
        window.onload = () => {
            // 썸네일 표시
            /*[# th:each="image : ${imageList}"]*/
            addThumbnail(/*[[${image}]]*/);
            /*[/]*/
            addThumbnailUpload();
        }

        function addThumbnail(image) {
            const thumbnailContainer = document.querySelector('.thumbnail-container');
            const thumbnailUpload = thumbnailContainer.querySelector('.thumbnail-upload');
            let thumbnailTemplate = `
                <div class="thumbnail">
                    <div class="thumbnail-img" style="background-image: url('data:image/${image.extension};base64,${image.data}');"></div>
                    <div class="thumbnail-info">
                        <p class="thumbnail-info-text">
                            <label ondblclick="renameImage(this);">${image.name}</label>
                            <input type="text" class="fileName" />
                        </p>
                        <p class="thumbnail-info-text"><label>${image.width} X ${image.height} ${image.size}</label></p>
                    </div>
                    <div class="thumbnail-bottom">
                        <label>${i18n.userDateTime(image.updateDt)}</label>
                        <img src="" data-name="${image.name}" onclick="removeImage(this);"/>
                    </div>
                </div>
            `;
            if (thumbnailUpload) {
                thumbnailUpload.insertAdjacentHTML('beforebegin', thumbnailTemplate);
            } else {
                thumbnailContainer.insertAdjacentHTML('beforeend', thumbnailTemplate);
            }
        }

        function addThumbnailUpload() {
            const thumbnailCnt = document.querySelector('.thumbnail-container').querySelectorAll('.thumbnail-upload').length;
            if (thumbnailCnt === 0) {
                let thumbnailUploadTemplate = `
                    <div class="thumbnail-upload" onclick="document.getElementById('image-upload-file').click();">
                        <img src="" />
                        <p class="thumbnail-upload-text">${i18n.get('image.label.upload')}</p>
                        <input type="file" class="fileInput" id="image-upload-file" accept=".png,.gif,.jpeg,.jpg" multiple onchange="uploadImage(this);"/>
                    </div>
                `;
                document.querySelector('.thumbnail-container').insertAdjacentHTML('beforeend', thumbnailUploadTemplate);
            }
        }

        function removeImage(imgObj) {
            aliceJs.confirm(i18n.get('common.msg.confirmDelete'), () => {
                aliceJs.sendXhr({
                    url: '/rest/images/' + imgObj.dataset.name,
                    method: 'delete',
                    contentType: 'application/json',
                    callbackFunc: xhr => {
                        if (xhr.responseText === 'true') {
                            document.querySelector('.thumbnail-container').removeChild(imgObj.parentNode.parentNode);
                        }
                    }
                });
            });
        }

        function renameImage(labelObj) {
            const name = labelObj.textContent.trim();
            labelObj.style.display = 'none';
            let inputObj = labelObj.parentNode.querySelector('input');
            let extension = name.split('.').pop();
            inputObj.value = name.split('.' + extension)[0];
            inputObj.style.display = 'block';
            let renameEventHandler = e => {
                e.preventDefault();
                e.target.removeEventListener('focusout', renameEventHandler);
                e.target.removeEventListener('keyup', renameEventHandler);
                inputObj.style.display = 'none';
                labelObj.style.display = 'block';
                let modifyName = labelObj.textContent;
                if (inputObj.value.trim() !== '') {
                    modifyName = inputObj.value.trim() + '.' + extension;
                }

                if (name !== modifyName) {
                    aliceJs.sendXhr({
                        url: '/rest/images',
                        method: 'put',
                        params: JSON.stringify({originName: name, modifyName: modifyName}),
                        contentType: 'application/json; charset=utf-8',
                        callbackFunc: xhr => {
                            if (xhr.responseText === 'true') {
                                labelObj.textContent = modifyName;
                                labelObj.parentNode.parentNode.parentNode.querySelector('img').dataset.name = modifyName;
                            } else {
                                aliceJs.alertWarning(i18n.get("image.msg.failedRename"));
                            }
                        }
                    });
                }
            };
            inputObj.addEventListener('focusout', renameEventHandler, false);
            inputObj.addEventListener('keyup', e => {
                if (e.keyCode === 13) {
                    renameEventHandler(e);
                }
            }, false);
            inputObj.focus();
        }

        function uploadImage(fileObj) {
            let fileList = fileObj.files;
            if (fileList.length > 0) {
                const allowedExtensions = ['png', 'jpg', 'jpeg', 'gif'];
                let isExistNotAllowedExtension = false;
                for (let i = 0, len = fileList.length; i < len; i++) {
                    if (allowedExtensions.indexOf(fileList[i].name.split('.').pop().toLowerCase()) === -1) {
                        isExistNotAllowedExtension = true;
                    }
                }

                const uploadImage = function() {
                    let xhr = new XMLHttpRequest(),
                        formData = new FormData();
                    for (let i = 0, len = fileList.length; i < len; i++) {
                        formData.append('files', fileList[i]);
                    }
                    xhr.onreadystatechange = () => {
                        if (xhr.readyState === 4 && xhr.status === 200) {
                            let list = JSON.parse(xhr.responseText);
                            for (let i = 0, len = list.length; i < len; i++) {
                                addThumbnail(list[i]);
                            }
                        }
                    }
                    xhr.open('POST', '/rest/images', true);
                    xhr.send(formData);
                    document.getElementById('image-upload-file').value = '';
                }

                if (isExistNotAllowedExtension) {
                    aliceJs.confirm(
                        i18n.get('image.msg.existNotAllowedExtension'),
                        uploadImage, // OK 시 업로드
                        () => document.getElementById('image-upload-file').value = ''  // CANCEL 시 file object 값 비움 처리
                    );
                } else {
                    uploadImage();
                }

            }
        }
    </script>
</th:block>
</body>
</html>
