<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layout/defaultLayout">
<head>
    <title th:text="#{auth.label.manage}"></title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="contents">
        <div class="contents-title">
            <h1 th:text="#{auth.label.manage}"></h1>
            <span class="title-description" th:text="#{auth.msg.description}"></span>
        </div>
        <div class="contents-body-auth">
            <div class="search-area">
                <div class="float-left">
                    <input class="search" th:placeholder="#{auth.msg.searchPlaceholder}">
                    <span class="icon-search"></span>
                    <span class="txt-num">32건</span>
                </div>
                <div class="float-right">
                    <button class="btn-add" id="btnCreate" name="btnCreate" type="button"
                            sec:authorize="hasAuthority('auth.create')" th:onclick="|javascript:onCreate()|" ></button>
                </div>
            </div>
            <div class="list">
                <div class="list-wrap-auth float-left">
                    <table>
                        <thead>
                            <tr>
                                <th th:text="#{auth.label.authName}"></th>
                                <th th:text="#{auth.label.authId}"></th>
                                <th th:text="#{auth.label.authDesc}"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="auth : ${authList}">
                                <td name="authName" th:text="${auth.authName}" th:id="${auth.authId}"></td>
                                <td th:text="${auth.authId}"></td>
                                <td><span class="align-left" th:text="${auth.authDesc}"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="list-wrap-auth-edit">
                    <div class="float-left">
                        <label class="auth-name" th:text="#{auth.label.authName}"></label>
                        <input class="auth-name" id="txtAuthName" name="txtAuthName" type="text">
                        <input id="txtAuthNameOrg" name="txtAuthNameOrg" type="hidden"/>
                    </div>
                    <div class="float-right">
                        <label class="auth-id" th:text="#{auth.label.authId}"></label>
                        <input class="auth-id" id="txtAuthId" name="txtAuthId" type="text">
                    </div>
                    <div class="float-clear">
                        <label class="auth-desc" th:text="#{auth.label.authDesc}"></label>
                        <textarea class="auth-desc" id="txtAuthDesc" name="txtAuthDesc"
                                  maxlength="200" rows="7" th:text="${authDetail?.authDesc}"></textarea>
                    </div>
                    <div class="float-left">
                        <div class="auth-list">
                            <label class="auth-url" th:text="#{auth.label.urlList}"></label>
                            <ul>
                                <li th:each="url : ${urlList}">
                                    <input type="checkbox" name="authUrl" th:id="${url?.url}"
                                           th:text="|[${url?.method}] ${url?.url}|" th:value="${url?.url}">
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="float-right">
                        <div class="auth-list">
                            <label class="auth-list" th:text="#{auth.label.menuList}"></label>
                            <ul>
		                        <li th:each="menu : ${menuList}">
			                        <input class="auth-list-check" type="checkbox" name="authMenu" th:id="${menu?.menuId}"
			                               th:value="${menu?.menuId}" th:text="#{|menu.${menu?.menuId}|}">
		                        </li>
                            </ul>
                        </div>
                    </div>
                    <div class="float-clear">
                        <label class="reference-count" th:text="#{auth.label.referenceCount}"></label>
                        <input class="reference-count" id="roleAuthMapCount" name="roleAuthMapCount" type="text" disabled>
                    </div>
                </div>
                <div class="btn-bar float-right">
                    <button sec:authorize="hasAuthority('auth.delete')"
                            class="btn" type="button" id="btnDelete" name="btnDelete"
                            th:onclick="|javascript:onDelete()|" th:text="#{common.btn.delete}"></button>
                    <button sec:authorize="hasAuthority('auth.update')"
                            class="btn" type="button" id="btnUpdate" name="btnUpdate"
                            th:onclick="|javascript:onSave('put')|" th:text="#{common.btn.update}"></button>
                    <button sec:authorize="hasAuthority('auth.create')"
                            class="btn" type="button" id="btnRegist" name="btnRegist"
                            th:onclick="|javascript:onSave('post')|" th:text="#{common.btn.register}"></button>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
<th:block layout:fragment="pageScript">
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        let AUTH_DELETE = false;
        let AUTH_CREATE = false;
        let AUTH_UPDATE = false;

        window.addEventListener('load', function() {
            if (document.getElementById('btnUpdate') !== null) {
                AUTH_UPDATE = true;
            }
            if (document.getElementById('btnRegist') !== null) {
                AUTH_CREATE = true;
            }
            if (document.getElementById('btnDelete') !== null) {
                AUTH_DELETE = true;
            }
            if (document.getElementById('txtAuthId').value !== null && document.getElementById('txtAuthId').value !== '') {
                document.getElementById('txtAuthId').setAttribute('readonly','true');
                if (AUTH_UPDATE) {
                    document.getElementById('btnUpdate').style.display = 'inline-block';
                }
                if (AUTH_CREATE) {
                    document.getElementById('btnRegist').style.display = 'none';
                }
            } else {
                let first = document.querySelector('td[name=authName]');
                onGetDetail(first.getAttribute('id'));
                if (AUTH_UPDATE) {
                    document.getElementById('btnUpdate').style.display = 'inline-block';
                }
                if (AUTH_CREATE) {
                    document.getElementById('btnRegist').style.display = 'none';
                }
            }

            let authList = document.querySelectorAll('td[name=authName]');
            for(let i = 0; i < authList.length; i++) {
                authList[i].addEventListener('click', function(){
                    let activeTr = document.querySelector('tr.active')
                    if (activeTr !== null) {
                        activeTr.classList.remove('active');
                    }
                    this.parentElement.classList.add('active');
                    if (AUTH_UPDATE) {
                        document.getElementById('btnUpdate').style.display = 'inline-block';
                    }
                    if (AUTH_CREATE) {
                        document.getElementById('btnRegist').style.display = 'none';
                    }
                    if (AUTH_DELETE) {
						document.getElementById('btnDelete').style.display = 'inline-block';
	                }
                    onGetDetail(this.id);
                });
            }

            function onGetDetail(roldId) {
                const opt = {
                    method: 'get',
                    url: '/rest/auths/' +  roldId,
                    callbackFunc: function(response) {
                        let responseJson = JSON.parse(response.responseText)[0];
                        document.getElementById('txtAuthId').value = responseJson.authId;
                        document.getElementById('txtAuthName').value = responseJson.authName;
                        document.getElementById('txtAuthNameOrg').value = responseJson.authName;
                        document.getElementById('txtAuthDesc').value = responseJson.authDesc;

                        let arrMenuList = responseJson.arrMenuList;
                        Array.prototype.forEach.call(document.querySelectorAll('input[name=authMenu]'), function(authMenu) {
                            authMenu.checked = false;
                            for (let i = 0; i<arrMenuList.length; i++) {
                                if (authMenu.id == arrMenuList[i].menuId) {
                                    authMenu.checked = true;
                                }
                            }
                        });

                        let arrUrlList = responseJson.arrUrlList;
                        Array.prototype.forEach.call(document.querySelectorAll('input[name=authUrl]'), function(authUrl) {
                            authUrl.checked = false;
                            for (let i = 0; i<arrUrlList.length; i++) {
                                if (authUrl.id == arrUrlList[i].url) {
                                    authUrl.checked = true;
                                }
                            }
                        });

                        document.getElementById('txtAuthId').setAttribute('readonly','true');
                        document.getElementById('roleAuthMapCount').value = responseJson.roleAuthMapCount;
                        if (AUTH_DELETE) {
                            disabledButton(responseJson.roleAuthMapCount);
                        }
                    },
                };
                aliceJs.sendXhr(opt);
            }
        });

        /* 추가 버튼 */
        function onCreate() {
            document.getElementById('txtAuthId').value = '';
            document.getElementById('txtAuthId').removeAttribute('readonly');
            document.getElementById('txtAuthName').value = '';
            document.getElementById('txtAuthDesc').value = '';

            let authMenus = document.getElementsByName('authMenu');
            for(let i = 0; i < authMenus.length; i++) {
                authMenus[i].checked = false;
            }
            let authUrls = document.getElementsByName('authUrl');
            for(let i = 0; i < authUrls.length; i++) {
                authUrls[i].checked = false;
            }
            let activeTr = document.querySelector('tr.active')
            if (activeTr !== null) {
                activeTr.classList.remove('active');
            }
            document.getElementById('roleAuthMapCount').innerHTML = '';
            if (AUTH_UPDATE) {
                document.getElementById('btnUpdate').style.display = 'none';
            }
            if (AUTH_CREATE) {
                document.getElementById('btnRegist').style.display = 'inline-block';
            }
            if (AUTH_DELETE) {
                document.getElementById('btnDelete').style.display = 'none';
            }
        }

        /* 등록, 수정 버튼 */
        function onSave(flag) {
            // validation
            if (isOrOperator(isNull('txtAuthId', null), isEmpty('txtAuthId', null), 'auth.msg.enterAuthId')) return;
            if (isOrOperator(isNull('txtAuthName', null), isEmpty('txtAuthName', null), 'auth.msg.enterAuthName')) return;

            let authIds = [];
            let authNames = [];
            let validList = document.querySelectorAll('td[name=authName]')
            for(let i = 0; i < validList.length; i++) {
                authIds.push(validList[i].id);
                authNames.push(validList[i].text);
            }
            if (flag === 'post') {
                for(let i = 0; i < authIds.length; i++) {
                    if (document.getElementById('txtAuthId').value === authIds[i]) {
                        aliceJs.alert([[#{auth.msg.duplicateAuthId}]]);
                        return;
                    }
                }
                for(let i = 0; i < authNames.length; i++) {
                    if (document.getElementById('txtAuthName').value === authNames[i]) {
                        aliceJs.alert([[#{auth.msg.duplicateAuthName}]]);
                        return;
                    }
                }
            } else {
                if (document.getElementById('txtAuthName').value !== document.getElementById('txtAuthNameOrg').value) {
                    for(let i = 0; i < authNames.length; i++) {
                        if (document.getElementById('txtAuthName').value === authNames[i]) {
                            aliceJs.alert([[#{auth.msg.duplicateAuthName}]]);
                            return;
                        }
                    }
                }
            }

            //저장 process
            let obj = {};
            obj.authId = document.getElementById('txtAuthId').value;    //권한 아이디
            obj.authName = document.getElementById('txtAuthName').value;//권한명
            obj.authDesc= document.getElementById('txtAuthDesc').value; //권한 설명
            
            let arrMenuId = [];                                         //권한-메뉴
            Array.prototype.forEach.call(document.querySelectorAll('input[name=authMenu]:checked'), function(item) {
                arrMenuId.push(item.id);
            });
            obj.arrMenuId = arrMenuId;
            
            let arrUrl = [];                                             //권한-Url
            Array.prototype.forEach.call(document.querySelectorAll('input[name=authUrl]:checked'), function(item) {
                arrUrl.push(item.id);
            });
            obj.arrUrl = arrUrl;

            if (flag === 'post') {
                strUrl = '/rest/auths';
            } else {
                strUrl = '/rest/auths/'+ document.getElementById('txtAuthId').value;
            }
            let authJson = JSON.stringify(obj);

            const opt = {
                method: flag,
                url: strUrl,
                params: authJson,
                contentType: 'application/json',
                callbackFunc: function() {
                    aliceJs.alert([[#{common.msg.save}]], function() {
                        window.location.href ='/auths/edit';
                    });
                }
            };
            
            aliceJs.sendXhr(opt);
        }

        /* 삭제 버튼  */
        function onDelete() {
            const opt = {
                    method: 'delete',
                    url: '/rest/auths/' + document.getElementById('txtAuthId').value,
                    callbackFunc: function() {
                        aliceJs.alert([[#{common.msg.delete}]], function() {
                            window.location.href ='/auths/edit';
                        });
                    }
                  }
            aliceJs.sendXhr(opt);
        }

        /** 삭제 버튼 활성, 비활성화 */
        function disabledButton(count) {
            let btn = document.getElementById('btnDelete');
            if (count !== 0) {
                btn.disabled = 'disabled';
            } else {
                btn.disabled = false;
            }
        }
        /*]]>*/
    </script>
</th:block>
</html>
