<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layout/defaultLayout">
<head>
    <title th:text="#{auth.label.auth}"></title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="auth-header">
        <div class="header-title flex-row align-items-baseline">
            <h1 th:text="#{auth.label.auth}"></h1>
            <h6 class="description" th:text="#{auth.msg.editDescription}"></h6>
        </div>
        <div class="header-search flex-row">
            <input type="text" class="search col-5 mr-2" id="search" name="search" th:placeholder="#{auth.msg.searchPlaceholder}"/>
            <span id="totalCount" class="txt-num"></span>
            <div class="ml-auto">
                <button type="button" class="default-fill" id="btnCreate" name="btnCreate" onclick="onCreate();"
                        sec:authorize="hasAuthority('auth.create')" th:text="#{common.btn.add}"></button>
            </div>
        </div>
    </div>
    <div class="auth-content flex-fill">
        <div class="list" id="authList"></div>
    </div>
</th:block>
<th:block layout:fragment="aside">
    <div class="aside">
        <div class="auth-content-edit flex-column">
            <div class="edit-form">
                <div class="edit-row flex-column">
                    <label th:text="#{auth.label.authName}" class="required"></label>
                    <input id="txtAuthName" name="txtAuthName" type="text" maxlength="100">
                    <input id="txtAuthNameOrg" name="txtAuthNameOrg" type="hidden"/>
                </div>
                <div class="edit-row flex-column">
                    <label th:text="#{auth.label.authId}" class="required"></label>
                    <input id="txtAuthId" name="txtAuthId" type="text" maxlength="100">
                </div>
                <div class="edit-row flex-column">
                    <label th:text="#{auth.label.authDesc}"></label>
                    <textarea id="txtAuthDesc" name="txtAuthDesc" class="textarea-scroll-wrapper"
                              maxlength="200" rows="7" th:text="${authDetail?.authDesc}"></textarea>
                </div>
                <div class="edit-row flex-column">
                    <label th:text="#{auth.label.urlList}"></label>
                    <div class="checkbox-list">
                        <ul>
                            <li class="text-ellipsis" th:each="url : ${urlList}">
                                <label class="checkbox" th:for="${url?.url}" tabindex="0">
                                    <input type="checkbox" name="authUrl" th:id="${url?.url}" th:value="${url?.url}">
                                    <span></span>
                                    <span class="label" th:text="|[${url?.method}] ${url?.url}|"></span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="edit-row flex-column">
                    <label class="auth-list" th:text="#{auth.label.menuList}"></label>
                    <div class="checkbox-list">
                        <ul id='menuList'>
                            <li th:each="menu : ${menuList}">
                                <label class="checkbox" th:for="${menu?.menuId}" tabindex="0">
                                    <input class="auth-list-check" type="checkbox" name="authMenu" th:id="${menu?.menuId}"
                                           th:value="${menu?.menuId}">
                                    <span></span>
                                    <span class="label" th:text="#{|menu.${menu?.menuId}|}"></span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="edit-row flex-column">
                    <label th:text="#{auth.label.referenceCount}"></label>
                    <input id="roleAuthMapCount" name="roleAuthMapCount" type="text" disabled>
                </div>
            </div>
        </div>
        <div class="flex-row justify-content-end">
            <div class="btn-list">
                <button sec:authorize="hasAuthority('auth.create')"
                        class="point-fill" type="button" id="btnRegist" name="btnRegist"
                        th:onclick="|javascript:onSave('post')|" th:text="#{common.btn.register}"></button>
                <button sec:authorize="hasAuthority('auth.update')"
                        class="point-fill" type="button" id="btnUpdate" name="btnUpdate"
                        th:onclick="|javascript:onSave('put')|" th:text="#{common.btn.modify}"></button>
                <button sec:authorize="hasAuthority('auth.delete')"
                        class="point-fill" type="button" id="btnDelete" name="btnDelete"
                        th:onclick="|javascript:aliceJs.confirmIcon(i18n.msg('common.msg.confirmDelete'), onDelete)|" th:text="#{common.btn.delete}"></button>
            </div>
        </div>
    </div>
</th:block>
</body>
<th:block layout:fragment="pageScript">
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        let AUTH_DELETE = false;
        let AUTH_CREATE = false;
        let AUTH_UPDATE = false;
        let defaultMenuList = [];
        let defaultUrlList = [];

        /*[# th:each="defaultUserMenu : ${defaultUserMenuList}"]*/
        defaultMenuList.push(/*[[${defaultUserMenu.codeValue}]]*/);
        /*[/]*/

        /*[# th:each="defaultUserUrl : ${defaultUserUrlList}"]*/
        defaultUrlList.push(/*[[${defaultUserUrl.codeValue}]]*/);
        /*[/]*/

        getAuthList(true);

        window.onload = function () {
            if (document.getElementById('btnUpdate') !== null) {
                AUTH_UPDATE = true;
            }
            if (document.getElementById('btnRegist') !== null) {
                AUTH_CREATE = true;
            }
            if (document.getElementById('btnDelete') !== null) {
                AUTH_DELETE = true;
            }
            if (document.getElementById('txtAuthId').value !== null && document.getElementById('txtAuthId').value !== '') {
                document.getElementById('txtAuthId').setAttribute('disabled','');
                if (AUTH_UPDATE) {
                    document.getElementById('btnUpdate').style.display = 'inline-block';
                }
                if (AUTH_CREATE) {
                    document.getElementById('btnRegist').style.display = 'none';
                }
            } else {
                if (AUTH_UPDATE) {
                    document.getElementById('btnUpdate').style.display = 'inline-block';
                }
                if (AUTH_CREATE) {
                    document.getElementById('btnRegist').style.display = 'none';
                }
            }

            let authList = document.querySelectorAll('td[name=authName]');
            for(let i = 0; i < authList.length; i++) {
                authList[i].style.cursor = 'pointer';
                authList[i].addEventListener('click', function() {
                    let activeTr = document.querySelector('tr.active');
                    if (activeTr !== null) {
                        activeTr.classList.remove('active');
                    }
                    this.parentElement.classList.add('active');
                    if (AUTH_UPDATE) {
                        document.getElementById('btnUpdate').style.display = 'inline-block';
                    }
                    if (AUTH_CREATE) {
                        document.getElementById('btnRegist').style.display = 'none';
                    }
                    if (AUTH_DELETE) {
                        document.getElementById('btnDelete').style.display = 'inline-block';
                    }
                    onGetDetail(this.id);
                });
            }
            document.getElementById('search').focus();
            document.getElementById('search').addEventListener('keyup', function() {
                getAuthList(false);
            });

            OverlayScrollbars(document.querySelector('#txtAuthDesc'), {
                className: 'inner-scrollbar',
                resize: 'vertical',
                sizeAutoCapable: true,
                textarea: {
                    dynHeight: false,
                    dynWidth: false,
                    inheritedAttrs: "class"
                }
            });

            sortMenuList();
        };

        /* 추가 버튼 */
        function onCreate() {
            document.getElementById('txtAuthId').value = '';
            document.getElementById('txtAuthId').removeAttribute('disabled');
            document.getElementById('txtAuthName').value = '';
            document.getElementById('txtAuthDesc').value = '';

            let authMenus = document.getElementsByName('authMenu');
            for (let i = 0; i < authMenus.length; i++) {
                authMenus[i].checked = false;
                for (let k = 0; k < defaultMenuList.length; k++) {
                    if (authMenus[i].id == defaultMenuList[k]) {
                        authMenus[i].checked = true;
                        authMenus[i].disabled = true;
                    }
                }
            }
            let authUrls = document.getElementsByName('authUrl');
            for (let i = 0; i < authUrls.length; i++) {
                authUrls[i].checked = false;
                for (let k = 0; k < defaultUrlList.length; k++) {
                    if (authUrls[i].id == defaultUrlList[k]) {
                        authUrls[i].checked = true;
                        authUrls[i].disabled = true;
                    }
                }
            }
            let activeTr = document.querySelector('tr.active');
            if (activeTr !== null) {
                activeTr.classList.remove('active');
            }
            document.getElementById('roleAuthMapCount').value = '';
            if (AUTH_UPDATE) {
                document.getElementById('btnUpdate').style.display = 'none';
            }
            if (AUTH_CREATE) {
                document.getElementById('btnRegist').style.display = 'inline-block';
            }
            if (AUTH_DELETE) {
                document.getElementById('btnDelete').style.display = 'none';
            }
        }

        /* 등록, 수정 버튼 */
        function onSave(flag) {
            // validation
            if (isOrOperator(isNull('txtAuthName'), isEmpty('txtAuthName'), 'auth.msg.enterAuthName')) return;
            if (isOrOperator(isNull('txtAuthId'), isEmpty('txtAuthId'), 'auth.msg.enterAuthId')) return;

            let authIds = [];
            let authNames = [];
            let validList = document.querySelectorAll('td[name=authName]');
            for(let i = 0; i < validList.length; i++) {
                authIds.push(validList[i].id);
                authNames.push(validList[i].text);
            }
            if (flag === 'post') {
                for(let i = 0; i < authIds.length; i++) {
                    if (document.getElementById('txtAuthId').value === authIds[i]) {
                        aliceJs.alertWarning([[#{auth.msg.duplicateAuthId}]]);
                        return;
                    }
                }
                for(let i = 0; i < authNames.length; i++) {
                    if (document.getElementById('txtAuthName').value === authNames[i]) {
                        aliceJs.alertWarning([[#{auth.msg.duplicateAuthName}]]);
                        return;
                    }
                }
            } else {
                if (document.getElementById('txtAuthName').value !== document.getElementById('txtAuthNameOrg').value) {
                    for(let i = 0; i < authNames.length; i++) {
                        if (document.getElementById('txtAuthName').value === authNames[i]) {
                            aliceJs.alertWarning([[#{auth.msg.duplicateAuthName}]]);
                            return;
                        }
                    }
                }
            }

            //저장 process
            let obj = {};
            obj.authId = document.getElementById('txtAuthId').value;    //권한 아이디
            obj.authName = document.getElementById('txtAuthName').value;//권한명
            obj.authDesc= document.getElementById('txtAuthDesc').value; //권한 설명

            let arrMenuId = [];                                         //권한-메뉴
            Array.prototype.forEach.call(document.querySelectorAll('input[name=authMenu]:checked'), function(item) {
                arrMenuId.push(item.id);
            });
            obj.arrMenuId = arrMenuId;

            let arrUrl = [];                                             //권한-Url
            Array.prototype.forEach.call(document.querySelectorAll('input[name=authUrl]:checked'), function(item) {
                arrUrl.push(item.id);
            });
            obj.arrUrl = arrUrl;

            if (flag === 'post') {
                strUrl = '/rest/auths';
            } else {
                strUrl = '/rest/auths/'+ document.getElementById('txtAuthId').value;
            }
            let authJson = JSON.stringify(obj);

            const opt = {
                method: flag,
                url: strUrl,
                params: authJson,
                contentType: 'application/json',
                callbackFunc: function() {
                    aliceJs.alertSuccess([[#{common.msg.save}]], function() {
                        window.location.href ='/auths/edit';
                    });
                }
            };

            aliceJs.sendXhr(opt);
        }

        /* 삭제 버튼  */
        function onDelete() {
            const opt = {
                    method: 'delete',
                    url: '/rest/auths/' + document.getElementById('txtAuthId').value,
                    callbackFunc: function() {
                        aliceJs.alertSuccess([[#{common.msg.delete}]], function() {
                            window.location.href ='/auths/edit';
                        });
                    }
            };
            aliceJs.sendXhr(opt);
        }

        /** 삭제 버튼 활성, 비활성화 */
        function disabledButton(count) {
            let btn = document.getElementById('btnDelete');
            if (count !== 0) {
                btn.disabled = 'disabled';
            } else {
                btn.disabled = false;
            }
        }

        /** 권한 데이터 검색  **/
        function getAuthList(showProgressbar) {
            const data = {
                search: encodeURIComponent(document.getElementById('search').value.trim())
            };
            const urlParam = 'search=' + data.search;
            const opt = {
                method: 'get',
                url: '/auths?' + urlParam,
                showProgressbar: showProgressbar,
                callbackFunc: function(response) {
                    let result = response.responseText;
                    document.getElementById('authList').innerHTML = result;
                    let authList = document.querySelectorAll('td[name=authName]');
                    document.getElementById('totalCount').textContent = i18n.msg("common.label.count", authList.length);

                    if (result.indexOf('no-data-found') === -1) {
                        for (let i = 0; i < authList.length; i++) {
                            authList[i].style.cursor = 'pointer';
                            authList[i].addEventListener('click', function () {
                                let activeTr = document.querySelector('tr.active')
                                if (activeTr !== null) {
                                    activeTr.classList.remove('active');
                                }
                                this.parentElement.classList.add('active');
                                if (AUTH_UPDATE) {
                                    document.getElementById('btnUpdate').style.display = 'inline-block';
                                }
                                if (AUTH_CREATE) {
                                    document.getElementById('btnRegist').style.display = 'none';
                                }
                                if (AUTH_DELETE) {
                                    document.getElementById('btnDelete').style.display = 'inline-block';
                                }
                                onGetDetail(this.id);
                            });
                        }
                        document.querySelector('td[name=authName]').click();
                        OverlayScrollbars(document.querySelector('.list-body'), {className: 'scrollbar'});
                    } else {
                        onCreate();
                    }
                }
            };
            aliceJs.sendXhr(opt);
        }

        function onGetDetail(authId) {
            const opt = {
                method: 'get',
                async: false,
                url: '/rest/auths/' +  authId,
                callbackFunc: function(response) {
                    let responseJson = JSON.parse(response.responseText)[0];
                    document.getElementById('txtAuthId').value = responseJson.authId;
                    document.getElementById('txtAuthName').value = responseJson.authName;
                    document.getElementById('txtAuthNameOrg').value = responseJson.authName;
                    document.getElementById('txtAuthDesc').value = responseJson.authDesc;

                    let arrMenuList = responseJson.arrMenuList;
                    Array.prototype.forEach.call(document.querySelectorAll('input[name=authMenu]'), function(authMenu) {
                        authMenu.checked = false;
                        authMenu.disabled = false;
                        for (let i = 0; i < arrMenuList.length; i++) {
                            if (authMenu.id == arrMenuList[i].menuId) {
                                authMenu.checked = true;
                            }
                            for (let k = 0; k < defaultMenuList.length; k++) {
                                if (authMenu.id == defaultMenuList[k]) {
                                    authMenu.checked = true;
                                    authMenu.disabled = true;
                                }
                            }
                        }
                    });

                    let arrUrlList = responseJson.arrUrlList;
                    Array.prototype.forEach.call(document.querySelectorAll('input[name=authUrl]'), function(authUrl) {
                        authUrl.checked = false;
                        authUrl.disabled = false;
                        for (let i = 0; i < arrUrlList.length; i++) {
                            if (authUrl.id == arrUrlList[i].url) {
                                authUrl.checked = true;
                            }
                            for (let k = 0; k < defaultUrlList.length; k++) {
                                if (authUrl.id == defaultUrlList[k]) {
                                    authUrl.checked = true;
                                    authUrl.disabled = true;
                                }
                            }
                        }
                    });

                    document.getElementById('txtAuthId').setAttribute('disabled','');
                    document.getElementById('roleAuthMapCount').value = responseJson.roleAuthMapCount;
                    if (AUTH_DELETE) {
                        disabledButton(responseJson.roleAuthMapCount);
                    }
                    OverlayScrollbars(document.querySelector('.auth-content-edit'), { className: 'scrollbar' });
                    OverlayScrollbars(document.querySelectorAll('.checkbox-list'), { className: 'inner-scrollbar' });
                },
            };
            aliceJs.sendXhr(opt);
        }

        function sortMenuList() {
            let menuList = document.getElementById("menuList");
            var switching = true;
            var liTag, switchLiTag;

            while (switching) {
                switching = false;
                liTag = menuList.getElementsByTagName("LI");

                for (var i = 0; i < (liTag.length - 1); i++) {
                    switchLiTag = false;
                    if (liTag[i].textContent > liTag[i + 1].textContent) {
                        switchLiTag = true;
                        break;
                    }
                }
                if (switchLiTag) {
                    liTag[i].parentNode.insertBefore(liTag[i + 1], liTag[i]);
                    switching = true;
                }
            }
        }
        /*]]>*/
    </script>
</th:block>
</html>
