<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/itsm/pageType/commonViewLayout}">
<head>
    <title th:text="#{auth.label.auth}"></title>
</head>
<body>
<div layout:fragment="pageTitle">
    <h1 th:text="#{auth.label.auth}"></h1>
    <h6 class="description ml-2" th:text="#{auth.msg.editDescription}"></h6>
</div>
<div layout:fragment="pageView">
    <div class="z-view-row flex-column">
        <label th:text="#{auth.label.authId}" class="required"></label>
        <input id="txtAuthId" name="txtAuthId" class="z-input" type="text" th:value="${auth?.authId}" disabled>
    </div>
    <div class="z-view-row flex-column">
        <label th:text="#{auth.label.authName}" class="required"></label>
        <input id="txtAuthName" name="txtAuthName" class="z-input" type="text" maxlength="100" th:value="${auth?.authName}" disabled>
    </div>
    <div class="z-view-row flex-column">
        <label th:text="#{auth.label.authDesc}"></label>
        <textarea id="txtAuthDesc" name="txtAuthDesc" class="z-textarea textarea-scroll-wrapper"
                  maxlength="200" rows="7" th:text="${auth?.authDesc}" disabled></textarea>
    </div>
    <div class="z-view-row flex-column">
        <label th:text="#{auth.label.urlList}"></label>
        <div class="z-checkbox-list">
            <ul>
                <li class="text-ellipsis" th:each="url : ${urlList}">
                    <label class="z-checkbox" th:for="${url?.url}" tabindex="0">
                        <input type="checkbox" name="authUrl" th:id="${url?.url}" th:value="${url?.url}" disabled>
                        <span></span>
                        <span class="z-label" th:text="|[${url?.method}] ${url?.url}|"></span>
                    </label>
                </li>
            </ul>
        </div>
    </div>
    <div class="z-view-row flex-column">
        <label class="auth-list" th:text="#{auth.label.menuList}"></label>
        <div class="z-checkbox-list">
            <ul id='menuList'>
                <li th:each="menu : ${menuList}">
                    <label class="z-checkbox" th:for="${menu?.menuId}" tabindex="0">
                        <input class="auth-list-check" type="checkbox" name="authMenu"
                               th:id="${menu?.menuId}"
                               th:value="${menu?.menuId}" disabled>
                        <span></span>
                        <span class="z-label" th:text="#{|menu.${menu?.menuId}|}"></span>
                    </label>
                </li>
            </ul>
        </div>
    </div>
    <div class="z-view-row flex-column">
        <label th:text="#{auth.label.referenceCount}"></label>
        <input id="roleAuthMapCount" name="roleAuthMapCount" class="z-input" type="text"
               th:value="${auth?.roleAuthMapCount}" disabled>
    </div>
    <div class="flex-row justify-content-start z-view-row">
        <div class="z-button-list">
            <a class="z-button secondary" href="/auths/search" th:text="#{common.btn.list}"></a>
        </div>
    </div>
</div>
</body>
<script layout:fragment="pageScript" type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    let defaultMenuList = [];
    let defaultUrlList = [];

    /*[# th:each="defaultUserMenu : ${defaultUserMenuList}"]*/
    defaultMenuList.push(/*[[${defaultUserMenu.codeValue}]]*/);
    /*[/]*/

    /*[# th:each="defaultUserUrl : ${defaultUserUrlList}"]*/
    defaultUrlList.push(/*[[${defaultUserUrl.codeValue}]]*/);
    /*[/]*/

    window.onload = function() {
        OverlayScrollbars(document.querySelector('.z-page-content'), {className: 'scrollbar'});
        OverlayScrollbars(document.querySelectorAll('.z-checkbox-list'), {
            className: 'inner-scrollbar',
            callbacks: {
                onInitialized: function () {
                    const verticalScrollTrack = document.querySelectorAll('.z-checkbox-list> .os-scrollbar-vertical');
                    for (let i = 0; i < verticalScrollTrack.length; i++) {
                        verticalScrollTrack.item(i).classList.add('right', 'padding');
                    }
                }
            }
        });

        if (document.getElementById('txtAuthId').value) {
            document.getElementById('txtAuthId').setAttribute('disabled','');
            const opt = {
                method: 'get',
                async: false,
                url: '/rest/auths/' + document.getElementById('txtAuthId').value,
                callbackFunc: function (response) {
                    let responseJson = JSON.parse(response.responseText);

                    let arrMenuList = responseJson.arrMenuList;
                    Array.prototype.forEach.call(document.querySelectorAll('input[name=authMenu]'), function (authMenu) {
                        authMenu.checked = false;
                        for (let i = 0; i < arrMenuList.length; i++) {
                            if (authMenu.id === arrMenuList[i].menuId) {
                                authMenu.checked = true;
                            }
                            for (let k = 0; k < defaultMenuList.length; k++) {
                                if (authMenu.id === defaultMenuList[k]) {
                                    authMenu.checked = true;
                                    authMenu.disabled = true;
                                }
                            }
                        }
                    });

                    let arrUrlList = responseJson.arrUrlList;
                    Array.prototype.forEach.call(document.querySelectorAll('input[name=authUrl]'), function (authUrl) {
                        authUrl.checked = false;
                        for (let i = 0; i < arrUrlList.length; i++) {
                            if (authUrl.id === arrUrlList[i].url) {
                                authUrl.checked = true;
                            }
                            for (let k = 0; k < defaultUrlList.length; k++) {
                                if (authUrl.id === defaultUrlList[k]) {
                                    authUrl.checked = true;
                                    authUrl.disabled = true;
                                }
                            }
                        }
                    });

                    if (document.getElementById('roleAuthMapCount').value) {
                        document.getElementById('roleAuthMapCount').value = i18n.msg('auth.label.count', responseJson.roleAuthMapCount);
                    }

                    OverlayScrollbars(document.querySelector('.z-auth-content-edit'), {className: 'scrollbar'});
                    OverlayScrollbars(document.querySelectorAll('.z-checkbox-list'), {
                        className: 'inner-scrollbar',
                        callbacks: {
                            onInitialized: function () {
                                const verticalScrollTrack = document.querySelectorAll('.z-checkbox-list> .os-scrollbar-vertical');
                                for (let i = 0; i < verticalScrollTrack.length; i++) {
                                    verticalScrollTrack.item(i).classList.add('right', 'padding');
                                }
                            }
                        }
                    });
                },
            };
            aliceJs.sendXhr(opt);
        }
    }

    OverlayScrollbars(document.querySelector('#txtAuthDesc'), {
        className: 'inner-scrollbar',
        resize: 'vertical',
        sizeAutoCapable: true,
        textarea: {
            dynHeight: false,
            dynWidth: false,
            inheritedAttrs: "class"
        }
    });
    /*]]>*/
</script>
</html>
