@import "../template/buttons";

// header button
.#{$common-prefix}header-button {
  &.#{$common-prefix}button-icon {
    .#{$common-prefix}icon {
      pointer-events: none;
      &.i-save {
        @include maskImage('#{$icon-folder-path}formDesigner/topmenu/icon_save.svg', 1.5rem, 1.5rem, no-repeat, center); // 24px 24px
      }
      &.i-save-as {
        @include maskImage('#{$icon-folder-path}formDesigner/topmenu/icon_save_as.svg', 1.5rem, 1.5rem, no-repeat, center);// 24px 24px
      }
      &.i-undo {
        @include maskImage('#{$icon-folder-path}formDesigner/topmenu/icon_undo.svg', 1.5rem, 1.5rem, no-repeat, center);// 24px 24px
      }
      &.i-redo {
        @include maskImage('#{$icon-folder-path}formDesigner/topmenu/icon_redo.svg', 1.5rem, 1.5rem, no-repeat, center);// 24px 24px
      }
      &.i-preview {
        @include maskImage('#{$icon-folder-path}formDesigner/topmenu/icon_preview.svg', 1.5rem, 1.5rem, no-repeat, center);// 24px 24px
      }
      &.i-arrow-right {
        @include rotate(90);
      }
    }
  }
}

// header dropdown button
.#{$common-prefix}header-button-dropdown {
  width: 1.25rem; // 20px
  padding: 0.25rem 0; // 4px 0

  .#{$common-prefix}icon {
    margin-left: -0.1875rem; // -3px
    pointer-events: none;
  }

  + .#{$common-prefix}dropdown-content {
    min-width: 9.625rem; // 154px
    visibility: hidden;
    @include absolute($right: 0);
    padding: 0 0.25rem 0.25rem 0.25rem; // 0 4px 4px 4px
    margin: 0.6875rem 0 0 0; // 11px
    z-index: 500;
    background-color: $layout-header-dropdown-bg-color;
    @include border($layout-header-dropdown-border-width, solid, $layout-header-dropdown-border-color, all); // 1px
    @include boxShadow(0, 2px, 12px, 0, $layout-header-dropdown-box-shadow-color); // 0, 2px, 12px, 0

    .#{$common-prefix}dropdown-item {
      padding: 0.25rem 0 0 0; // 4px 0 0 0

      .#{$common-prefix}button-dropdown {
        width: 100%;
        font-weight: $font-weight-medium;
        color: map-get($layout-header-dropdown, 'default', 'font');
        background-color: map-get($layout-header-dropdown, 'default', 'background');
        border-color: map-get($layout-header-dropdown, 'default', 'border');
        @if map-get($layout-header-dropdown, 'default', 'shadow') != null {
          box-shadow: map-get($layout-header-dropdown, 'default', 'shadow');
        }
        &:focus {
          outline: 0;
          color: map-get($layout-header-dropdown, 'focus', 'font');
          background-color: map-get($layout-header-dropdown, 'focus', 'background');
          border-color: map-get($layout-header-dropdown, 'focus', 'border');
          @if map-get($layout-header-dropdown, 'focus', 'shadow') != null {
            box-shadow: map-get($layout-header-dropdown, 'focus', 'shadow');
          }
        }

        &:hover {
          outline: 0;
          color: map-get($layout-header-dropdown, 'hover', 'font');
          background-color: map-get($layout-header-dropdown, 'hover', 'background');
          border-color: map-get($layout-header-dropdown, 'hover', 'border');
          @if map-get($layout-header-dropdown, 'hover', 'shadow') != null {
            box-shadow: map-get($layout-header-dropdown, 'hover', 'shadow');
          }
        }

        &:enabled:active,
        &:enabled.active {
          color: map-get($layout-header-dropdown, 'active', 'font');
          background-color: map-get($layout-header-dropdown, 'active', 'background');
          border-color: map-get($layout-header-dropdown, 'active', 'border');
          z-index: $z-index-event;
          @if map-get($layout-header-dropdown, 'active', 'shadow') != null {
            box-shadow: map-get($layout-header-dropdown, 'active', 'shadow');
          }
        }
      }
    }
  }

  &.active {
    .#{$common-prefix}icon {
      &.i-arrow-right {
        @include rotate(-90);
      }
    }
    + .#{$common-prefix}dropdown-content {
      visibility: visible;
      display: block;
    }
  }
}

// button group
// (1) button switch group : 버튼 그룹 중 하나의 버튼만 선택
// (2) button toggle group : 버튼 그룹 각 버튼 토글 가능
.#{$common-prefix}button-switch-group,
.#{$common-prefix}button-toggle-group {

  .#{$common-prefix}button-switch,
  .#{$common-prefix}button-toggle {

    .#{$common-prefix}text { pointer-events: none; }

    .#{$common-prefix}icon {
      pointer-events: none;
      &.i-align-left {
        @include maskImage('#{$icon-folder-path}formDesigner/property/icon_align_left.svg', 1.5rem, 1.5rem, no-repeat, center); // 24px 24px
      }
      &.i-align-center {
        @include maskImage('#{$icon-folder-path}formDesigner/property/icon_align_center.svg', 1.5rem, 1.5rem, no-repeat, center); // 24px 24px
      }
      &.i-align-right {
        @include maskImage('#{$icon-folder-path}formDesigner/property/icon_align_right.svg', 1.5rem, 1.5rem, no-repeat, center); // 24px 24px
      }
      &.i-position-left {
        @include maskImage('#{$icon-folder-path}formDesigner/property/icon_label_position_left.svg', 1.5rem, 1.5rem, no-repeat, center); // 24px 24px
      }
      &.i-position-top {
        @include maskImage('#{$icon-folder-path}formDesigner/property/icon_label_position_top.svg', 1.5rem, 1.5rem, no-repeat, center); // 24px 24px
      }
      &.i-position-hidden {
        @include maskImage('#{$icon-folder-path}formDesigner/property/icon_label_position_hidden.svg', 1.5rem, 1.5rem, no-repeat, center); // 24px 24px
      }
      &.i-display-position-left {
        @include maskImage('#{$icon-folder-path}formDesigner/property/icon_display_left.svg', 20px, 20px, no-repeat, center); // 20px 20px
      }
      &.i-display-position-right {
        @include maskImage('#{$icon-folder-path}formDesigner/property/icon_display_right.svg', 20px, 20px, no-repeat, center); // 20px 20px
      }
      &.i-bold {
        @include maskImage('#{$icon-folder-path}formDesigner/property/icon_bold.svg', 1.5rem, 1.5rem, no-repeat, center); // 24px 24px
      }
      &.i-italic {
        @include maskImage('#{$icon-folder-path}formDesigner/property/icon_italic.svg', 1.5rem, 1.5rem, no-repeat, center); // 24px 24px
      }
      &.i-underline {
        @include maskImage('#{$icon-folder-path}formDesigner/property/icon_underline.svg', 1.5rem, 1.5rem, no-repeat, center); // 24px 24px
      }
    }
  }
}

// 열속성 > tab 버튼
.#{$common-prefix}tab {
  color: map-get($button-tab, 'default', 'font');
  background-color: map-get($button-tab, 'default', 'background');
  border-color: map-get($button-tab, 'default', 'border');
  @if map-get($button-tab, 'default', 'shadow') != null {
    box-shadow: map-get($button-tab, 'default', 'shadow');
  }
  .#{$common-prefix}icon {
    background: map-get($button-tab, 'default', 'font');
  }

  &:focus {
    outline: 0;
    color: map-get($button-tab, 'focus', 'font');
    background-color: map-get($button-tab, 'focus', 'background');
    border-color: map-get($button-tab, 'focus', 'border');
    @if map-get($button-tab, 'focus', 'shadow') != null {
      box-shadow: map-get($button-tab, 'focus', 'shadow');
    }
    .#{$common-prefix}icon {
      background: map-get($button-tab, 'focus', 'font');
    }
  }

  &:hover {
    outline: 0;
    color: map-get($button-tab, 'hover', 'font');
    background-color: map-get($button-tab, 'hover', 'background');
    border-color: map-get($button-tab, 'hover', 'border');
    @if map-get($button-tab, 'hover', 'shadow') != null {
      box-shadow: map-get($button-tab, 'hover', 'shadow');
    }
    .#{$common-prefix}icon {
      background: map-get($button-tab, 'hover', 'font');
    }
  }

  &:enabled:active,
  &:enabled.active {
    color: map-get($button-tab, 'active', 'font');
    background-color: map-get($button-tab, 'active', 'background');
    border-color: map-get($button-tab, 'active', 'border');
    z-index: $z-index-event;
    @if map-get($button-tab, 'active', 'shadow') != null {
      box-shadow: map-get($button-tab, 'active', 'shadow');
    }
    .#{$common-prefix}icon {
      background: map-get($button-tab, 'active', 'font');
    }
  }
  // 선택된 경우
  &.selected:not(:disabled),
  &.selected:not(.disabled) {
    color: map-get($button-tab, 'selected', 'font');
    background-color: map-get($button-tab, 'selected', 'background');
    border-color: map-get($button-tab, 'selected', 'border');
    z-index: $z-index-event;
    @if map-get($button-tab, 'selected', 'shadow') != null {
      box-shadow: map-get($button-tab, 'selected', 'shadow');
    }
    .#{$common-prefix}icon {
      background: map-get($button-tab, 'selected', 'font');
    }
  }

  &:disabled,
  &.disabled {
    color: map-get($button-tab, 'disabled', 'font');
    background-color: map-get($button-tab, 'disabled', 'background');
    border-color: map-get($button-tab, 'disabled', 'border');
    cursor: default;
    @if map-get($button-tab, 'disabled', 'shadow') != null {
      box-shadow: map-get($button-tab, 'disabled', 'shadow');
    }
    .#{$common-prefix}icon {
      background: map-get($button-tab, 'disabled', 'font');
    }
  }
}

