@import "../template/buttons";

// header button
.btn-header {
  width: 1.625rem; // 26px
  height: 3.125rem; // 50px
  padding: 0;
  border-radius: 0;
  &:not(.btn-dropdown) {
    width: 2rem; // 32px
  }

  // mouse over and pressed
  &:focus,
  &:hover,
  &:active {
    background-color: #26A7FF;
  }

  .icon-save {
    display: inline-block;
    @include maskImage('#{$icon-folder-path}formDesigner/topmenu/icon_save.svg', 1.5rem, 1.5rem, no-repeat, center, null, $white); // 24px 24px
  }
  .icon-save-as {
    display: inline-block;
    @include maskImage('#{$icon-folder-path}formDesigner/topmenu/icon_save_as.svg', 1.5rem, 1.5rem, no-repeat, center, null, $white);// 24px 24px
  }
  .icon-undo {
    display: inline-block;
    @include maskImage('#{$icon-folder-path}formDesigner/topmenu/icon_undo.svg', 1.5rem, 1.5rem, no-repeat, center, null, $white);// 24px 24px
  }
  .icon-redo {
    display: inline-block;
    @include maskImage('#{$icon-folder-path}formDesigner/topmenu/icon_redo.svg', 1.5rem, 1.5rem, no-repeat, center, null, $white);// 24px 24px
  }
  .icon-preview {
    display: inline-block;
    @include maskImage('#{$icon-folder-path}formDesigner/topmenu/icon_preview.svg', 1.5rem, 1.5rem, no-repeat, center, null, $white);// 24px 24px
  }
  .icon-dropdown {
    display: inline-block;
    @include maskImage('#{$icon-folder-path}formDesigner/topmenu/icon_dropdown.svg', 1.5rem, 1.5rem, no-repeat, center, null, $white);// 24px 24px
  }
}

// button group
// (1) button switch group : 버튼 그룹 중 하나의 버튼만 선택
// (2) button toggle group : 버튼 그룹 각 버튼 토글 가능
.#{$common-prefix}button-switch-group,
.#{$common-prefix}button-toggle-group {

  .#{$common-prefix}button-switch,
  .#{$common-prefix}button-toggle {

    .#{$common-prefix}text { pointer-events: none; }

    .#{$common-prefix}icon {
      pointer-events: none;
      &.i-align-left {
        @include maskImage('#{$icon-folder-path}formDesigner/property/icon_align_left.svg', 1.5rem, 1.5rem, no-repeat, center); // 24px 24px
      }
      &.i-align-center {
        @include maskImage('#{$icon-folder-path}formDesigner/property/icon_align_center.svg', 1.5rem, 1.5rem, no-repeat, center); // 24px 24px
      }
      &.i-align-right {
        @include maskImage('#{$icon-folder-path}formDesigner/property/icon_align_right.svg', 1.5rem, 1.5rem, no-repeat, center); // 24px 24px
      }
      &.i-position-left {
        @include maskImage('#{$icon-folder-path}formDesigner/property/icon_label_position_left.svg', 1.5rem, 1.5rem, no-repeat, center); // 24px 24px
      }
      &.i-position-top {
        @include maskImage('#{$icon-folder-path}formDesigner/property/icon_label_position_top.svg', 1.5rem, 1.5rem, no-repeat, center); // 24px 24px
      }
      &.i-position-hidden {
        @include maskImage('#{$icon-folder-path}formDesigner/property/icon_label_position_hidden.svg', 1.5rem, 1.5rem, no-repeat, center); // 24px 24px
      }
      &.i-display-position-left {
        @include maskImage('#{$icon-folder-path}formDesigner/property/icon_display_left.svg', 20px, 20px, no-repeat, center); // 20px 20px
      }
      &.i-display-position-right {
        @include maskImage('#{$icon-folder-path}formDesigner/property/icon_display_right.svg', 20px, 20px, no-repeat, center); // 20px 20px
      }
      &.i-bold {
        @include maskImage('#{$icon-folder-path}formDesigner/property/icon_bold.svg', 1.5rem, 1.5rem, no-repeat, center); // 24px 24px
      }
      &.i-italic {
        @include maskImage('#{$icon-folder-path}formDesigner/property/icon_italic.svg', 1.5rem, 1.5rem, no-repeat, center); // 24px 24px
      }
      &.i-underline {
        @include maskImage('#{$icon-folder-path}formDesigner/property/icon_underline.svg', 1.5rem, 1.5rem, no-repeat, center); // 24px 24px
      }
    }
  }
}

// 열속성 > tab 버튼
.#{$common-prefix}tab {
  color: map-get($button-tab, 'default', 'font');
  background-color: map-get($button-tab, 'default', 'background');
  border-color: map-get($button-tab, 'default', 'border');
  @if map-get($button-tab, 'default', 'shadow') != null {
    box-shadow: map-get($button-tab, 'default', 'shadow');
  }
  .#{$common-prefix}icon {
    background: map-get($button-tab, 'default', 'font');
  }

  &:focus {
    outline: 0;
    color: map-get($button-tab, 'focus', 'font');
    background-color: map-get($button-tab, 'focus', 'background');
    border-color: map-get($button-tab, 'focus', 'border');
    @if map-get($button-tab, 'focus', 'shadow') != null {
      box-shadow: map-get($button-tab, 'focus', 'shadow');
    }
    .#{$common-prefix}icon {
      background: map-get($button-tab, 'focus', 'font');
    }
  }

  &:hover {
    outline: 0;
    color: map-get($button-tab, 'hover', 'font');
    background-color: map-get($button-tab, 'hover', 'background');
    border-color: map-get($button-tab, 'hover', 'border');
    @if map-get($button-tab, 'hover', 'shadow') != null {
      box-shadow: map-get($button-tab, 'hover', 'shadow');
    }
    .#{$common-prefix}icon {
      background: map-get($button-tab, 'hover', 'font');
    }
  }

  &:enabled:active,
  &:enabled.active {
    color: map-get($button-tab, 'active', 'font');
    background-color: map-get($button-tab, 'active', 'background');
    border-color: map-get($button-tab, 'active', 'border');
    z-index: $z-index-event;
    @if map-get($button-tab, 'active', 'shadow') != null {
      box-shadow: map-get($button-tab, 'active', 'shadow');
    }
    .#{$common-prefix}icon {
      background: map-get($button-tab, 'active', 'font');
    }
  }
  // 선택된 경우
  &.selected:not(:disabled),
  &.selected:not(.disabled) {
    color: map-get($button-tab, 'selected', 'font');
    background-color: map-get($button-tab, 'selected', 'background');
    border-color: map-get($button-tab, 'selected', 'border');
    z-index: $z-index-event;
    @if map-get($button-tab, 'selected', 'shadow') != null {
      box-shadow: map-get($button-tab, 'selected', 'shadow');
    }
    .#{$common-prefix}icon {
      background: map-get($button-tab, 'selected', 'font');
    }
  }

  &:disabled,
  &.disabled {
    color: map-get($button-tab, 'disabled', 'font');
    background-color: map-get($button-tab, 'disabled', 'background');
    border-color: map-get($button-tab, 'disabled', 'border');
    cursor: default;
    @if map-get($button-tab, 'disabled', 'shadow') != null {
      box-shadow: map-get($button-tab, 'disabled', 'shadow');
    }
    .#{$common-prefix}icon {
      background: map-get($button-tab, 'disabled', 'font');
    }
  }
}

