/* form, group, row, component 디자인 */
// 폼
.z-form {
  display: inline-block;
  min-height: $form-min-height;
  background-color: $form-bg-color;
  @include border($form-border-width, solid, $form-border-color, all); // 1px
  & *:focus { outline: none !important; }
}
// 그룹 툴팁
.z-group-tooltip {
  @include relative();
  padding: 0.9375rem; // 15px
  @include border($group-border-width, solid, $group-border-color, all); // 1px
  @include borderRadius($group-selected-border-radius); // 2px
  background-color: $white;
  &.selected {
    @include border($group-selected-border-width, solid, $group-selected-border-color, all); // 1px
    background-color: $group-selected-bg-color;
    > .z-tooltip-menu { visibility: visible; }
  }
  &.focus {
    background-color: $group-selected-bg-color;
  }
  // displayType이 hidden일 경우
  &[data-displaytype='document.displayType.hidden'] { display: none; }
}
// 그룹
.z-group {
  // 체크 박스
  &-accordion-checkBox {
    @include absolute();
    opacity: 0;
    z-index: $z-index-hidden;
  }
  // 라벨
  &-label {
    display: table;
    width: 100%;
    min-height: 2.5rem; // 40px
    font-weight: $font-weight-medium;
    padding: 0 0.625rem 0 0.625rem; // 0 10px 0 10px
    margin: 0 0 0.9375rem 0; // 0 0 15px 0
    &.off { display: none; }
    // 라벨 문구
    .z-group-label-text {
      display: table-cell;
      vertical-align: middle;
      opacity: 1;
    }
    // 화살표 아이콘
    .z-icon {
      &.i-arrow-right {
        display: table-cell;
        @include rotate(180);
        background: $group-accordion-icon-color;
        opacity: 0;
      }
    }
  }
  // 아코디언 사용중일 경우
  &.accordion {
    // 체크박스 선택 = 아코디언 펼침
    .z-group-accordion-checkBox:checked {
      + .z-group-label {
        .z-icon {
          &.i-arrow-right {
            @include rotate(90);
          }
        }
      }
      ~ .z-row-tooltip:not(.off) {
        display: block;
      }
    }
    // 라벨
    .z-group-label {
      @include border($group-accordion-border-width, solid, $group-accordion-border-color, bottom);
      padding: 0 1.125rem 0 0.625rem; // 0 18px 0 10px
      cursor: pointer;

      &.off {
        display: table;
        .z-group-label-text {
          opacity: 0;
        }
      }

      .z-group-label-text {
        padding: 0 0.625rem 0.625rem 0; // 0 10px 10px 0
      }

      .z-icon {
        &.i-arrow-right {
          opacity: 1;
        }
      }
    }

    // row
    .z-row-tooltip {
      display: none;
      @include transition(all 0.25s ease-out);
    }
  }
}
// row 툴팁
.z-row-tooltip {
  position: relative;
  @include border($row-border-width, solid, $row-border-color, all); // 1px
  @include borderRadius($row-selected-border-radius);
  background-color: transparent;
  &.selected {
    @include border($row-selected-border-width, solid, $row-selected-border-color, all); // 1px
    background-color: $row-selected-bg-color;
    > .z-tooltip-menu { visibility: visible; }
  }
  // displayType이 hidden일 경우
  &.off { display: none; }
}

// component 툴팁
.z-component-tooltip {
  position: relative;
  flex-basis: getFlexBasis(100%, 0px, $column-row, 0px);
  padding: 0.375rem 0.5rem; // 6px 8px
  margin: $component-gutter;
  @include border($component-border-width, dashed, $component-border-color, all); // 1px
  @include borderRadius(0.0625rem); // 2px
  background-color: transparent;
  // 1 row 1 component 일 경우 dashed border 제거
  &:first-child:nth-last-child(1) { border-style: solid; }
  // 컴포넌트 선택시
  &.selected {
    @include border($component-selected-border-width, solid, $component-selected-border-color, all); // 1px
    background-color: $component-selected-bg-color;
    >.z-tooltip-menu { visibility: visible; }

    // component
    .z-component {
      // element
      .z-element {
        // image 컴포넌트
        .z-imagebox-placeholder {
          background-color: $component-selected-imagebox-bg-color;
        }
      }
    }
  }
  // displayType이 hidden일 경우
  &.off { display: none; }
  // 컴포넌트 드래그시 마진 제거 (디자인팀 요청사항)
  &.sortable-ghost {
    margin: 0;
  }
}
// component
.z-component {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  // label
  .z-component-label {
    flex-basis: getFlexBasis(100%, 0px, $column-row, 0px);
    justify-content: var(--data-align);
    font-weight: $font-weight-medium;
    padding: 0.4375rem 0.938rem 0.4375rem 0; // 7px 15px 7px 0

    &.on { display: flex; }
    &.off { display: none; }
  }
  // element
  .z-element {
    flex-basis: getFlexBasis(100%, 0px, $column-row, 0px);
    padding: 0.4375rem 0; // 7px 0
    pointer-events: none;

    // inputBox
    .input, .z-input:not(.z-select-box-label) {
      width: 100%;
      @include border(0.0625rem, solid, $element-border-color, all); // 1px
      @include borderRadius(0.0625rem); // 2px
      &:hover {
        outline: 0;
        @include border($element-hover-border-width, solid, $element-hover-border-color, all);
      }
      &:focus {
        outline: 0;
        @include border($element-focus-border-width, solid, $element-focus-border-color, all);
        @include boxShadow(0, 0, 0.125rem, 0, $element-focus-shadow-color); // 2px
      }
      &:active {
        outline: 0;
        @include border($element-active-border-width, solid, $element-active-border-color, all);
      }
    }

    // textArea
    .textArea, .z-textarea {
      width: 100%;
      height: calc(2.5rem * var(--data-row));
    }

    // text editor
    .z-text-editor {
      .ql-editor {
        height: calc(2.5rem * var(--data-row)); // quill editor 높이 : 40 * row 갯수
      }
    }

    // radio , checkbox
    .z-radio, .z-checkbox {
      &.vertical {
        display: block;
        margin-top: 0.625rem;
        &:first-of-type { margin-top: 0; }
      }
      &.horizontal {
        display: inline-block;
        margin-right: 0.625rem;
      }
    }

    // image 컴포넌트
    .z-imagebox-placeholder {
      display: none;
      height: 8.75rem; // 140px
      font-size: $component-imagebox-font-size;
      font-weight: $component-imagebox-font-weight;
      color: $component-imagebox-font-color;
      @include border(0.0625rem, solid, $element-border-color, all); // 1px
      background-color: $component-imagebox-bg-color;
      text-align: center;
      padding: 1.875rem 0 0.625rem; // 30px 0 10px 0
    }
    .z-imagebox {
      width: 100%;
      height: 100%;
      &[src=''] {
        display: none;
        + .z-imagebox-placeholder {
          display: block;
        }
      }
    }

    // fileuploader 컴포넌트
    .file-uploader-view {
      @include border($element-border-width, solid, $element-border-color, left);
    }

    // CI 컴포넌트
    .z-ci-table {
      background-color: $component-ciTable-bg-color;
      tr {
        td {
          display: none;
          padding: 0.5rem; // 8px
          @include border(0.0625rem, solid, $component-ciTable-border-color, all);
          border-left: none;
          border-right: none;

          &.on { display: table-cell; }
        }
      }
      .z-ci-table-row {
        color: $element-font-color;
      }
      // 데이터 없음
      .no-data-found-list {
        color: $component-ciTable-noData-font-color;
        background-color: $component-ciTable-noData-bg-color;
        pointer-events: none;
        td { vertical-align: middle; }
      }
    }

    // time, date, datepicker 컴포넌트
    .picker-wrapper-date {
      .z-input {
        margin-right: 2rem;
      }
      .datepicker {
        width: 100%;
      }
    }

    // DR 테이블 컴포넌트
    .z-dr-table {
      background-color: $component-drTable-bg-color;
      tr td {
        padding: 0 0.3125rem 0 0; // 0 5px 0 0
        @include border(0.0625rem, solid, $component-drTable-border-color, all);
        border-left: none;
        border-right: none;
        overflow: initial;

        &.on { display: table-cell; }
      }
      // 제목
      .z-dr-table-header {
        @include border(0.125rem, solid, $component-drTable-border-color, bottom);
        td { padding: 0.6875rem 0.3125rem 0.6875rem 0; } // 11px 5px 11px 0
        .z-dr-table-header-cell {
          padding: 0 $element-indent;
        }
      }

      .z-dr-table-row {
        .z-button-icon { padding: 0; }

        .z-input:not(.z-select-box-label) {
          padding: 0.4375rem 0;
          margin: 0.25rem 0;
          text-indent: $element-indent;
          &.picker-main {
            padding-right: 2.25rem;
          }
        }
      }
      // 데이터 없음
      .no-data-found-list {
        height: 2.5625rem; // 41px
        color: $component-drTable-noData-font-color;
        background-color: $component-drTable-noData-bg-color;
        pointer-events: none;
        td { vertical-align: middle; }
      }
    }
    .z-dr-table-button-group {
      display: inline-block;
      @include absolute($top: 0, $right: 0.8125rem); // 0 13px
      height: 2.5rem;
      line-height: 2rem;
      padding-top: 0.625rem;
    }

    // custom code 컴포넌트
    .z-custom-code {
      > .z-input {
        margin-right: 0.5rem;
        @include borderRadius(0.125rem); // 2px
      }
    }
  }
}
// label
.z-component { // 필수값 숨김
  .z-component-label {
    .required {
      &.off { display: none; }
      &.on { display: inline; }
    }
  }
}
// tooptip
.z-tooltip-menu {
  visibility: hidden;
  @include absolute($right: -0.0625rem, $bottom: 100%); // -1px
  background-color: $tooltip-menu-bg-color;
  height: 2.5rem; // 40px;
  @include boxShadow(0, 0, 0, 0.0625rem, $tooltip-menu-border-color, true); // 1px
  .z-tooltip-menu-items {
    margin: 0 0.125rem; // 0 2px
    padding: 0.5625rem 0 0; // 9px 0 0 0
    .z-tooltip-menu-item {
      display: inline-block;
      margin: 0 0.25rem; // 0 4px
      padding: 0 0.5rem; // 0 8px
      cursor: pointer;
      .z-icon {
        display: inline-block;
        vertical-align: middle;
        pointer-events: none;
        background: $tooltip-menu-icon-color;
      }
      &:hover {
        .z-icon {
          background: $tooltip-menu-focus-bg-color;
        }
      }
    }
  }
}
