/* form, group, row, component 디자인 */
// 폼
:root {
  --data-column: 12;
  --data-row: 2;
  --data-align: flex-start;
}


.z-form {
  display: inline-block;
  min-height: 56.25rem; // 900px
  background-color: $white;
  @include border(0.0625rem, solid, $gray300, all); // 1px
  & *:focus { outline: none !important; }
}
// 그룹 툴팁
.z-group-tooltip {
  @include relative();
  padding: 0.9375rem; // 15px
  @include border(0.0625rem, solid, $gray300, all); // 1px
  @include borderRadius(0.125rem); // 2px
  background-color: $white;
  &.selected {
    @include border(0.0625rem, solid, $blue500, all); // 1px
    background-color: $blue50;
    > .z-tooltip-menu:not(.off) { visibility: visible; }
  }
  &.focus {
    background-color: $blue50;
  }
  // displayType이 hidden일 경우
  &[data-displaytype='document.displayType.hidden'] { display: none; }
}
// 그룹
.z-group {
  // 체크 박스
  &-accordion-checkBox {
    @include absolute();
    opacity: 0;
    z-index: -1;
  }
  // 라벨
  &-label {
    display: table;
    width: 100%;
    min-height: 2.5rem; // 40px
    font-weight: $font-weight-medium;
    padding: 0 0.625rem 0 0.625rem; // 0 10px 0 10px
    margin: 0 0 0.9375rem 0; // 0 0 15px 0
    &.off { display: none; }
    // 라벨 문구
    .z-group-label-text {
      display: table-cell;
      vertical-align: middle;
      opacity: 1;
    }
    // 화살표 아이콘
    .z-icon {
      &.i-arrow-right {
        @include rotate(270);
        display: table-cell;
        background: $gray500;
        opacity: 0;
      }
    }
  }
  // 아코디언 사용중일 경우
  &.accordion {
    // 체크박스 선택 = 아코디언 펼침
    .z-group-accordion-checkBox:checked {
      + .z-group-label {
        .z-icon {
          &.i-arrow-right {
            @include rotate(90);
          }
        }
      }
      ~ .z-row-tooltip:not(.off) {
        display: block;
      }
    }
    // 라벨
    .z-group-label {
      @include border(0.125rem, solid, $gray300, bottom);
      padding: 0 1.125rem 0 0.625rem; // 0 18px 0 10px
      cursor: pointer;

      &.off {
        display: table;
        .z-group-label-text {
          opacity: 0;
        }
      }

      .z-group-label-text {
        padding: 0 0.625rem 0.625rem 0; // 0 10px 10px 0
      }

      .z-icon {
        &.i-arrow-right {
          opacity: 1;
        }
      }
    }

    // row
    .z-row-tooltip {
      display: none;
      @include transition(all 0.25s ease-out);
    }
  }
}
// row 툴팁
.z-row-tooltip {
  position: relative;
  @include border(0.0625rem, solid, $gray300, all); // 1px
  @include borderRadius(0.125rem);
  background-color: transparent;
  &.selected {
    @include border(0.0625rem, solid, $blue500, all); // 1px
    background-color: $blue50;
    > .z-tooltip-menu:not(.off) { visibility: visible; }
  }
  // displayType이 hidden일 경우
  &.off { display: none; }
}

// component 툴팁
.z-component-tooltip {
  position: relative;
  flex-basis: getFlexBasis(100%, 0px, 12, 0px);
  padding: 0.375rem 0.5rem; // 6px 8px
  margin: 0.5rem; // 8px
  @include border(0.0625rem, dashed, $gray300, all); // 1px
  @include borderRadius(0.0625rem); // 2px
  background-color: transparent;
  // 1 row 1 component 일 경우 dashed border 제거
  &:first-child:nth-last-child(1) { border-style: solid; }
  // 컴포넌트 선택시
  &.selected {
    @include border(0.0625rem, solid, $blue500, all); // 1px
    background-color: $blue50;
    >.z-tooltip-menu:not(.off) { visibility: visible; }

    // component
    .z-component {
      // element
      .z-element {
        // image 컴포넌트
        .z-imagebox-placeholder {
          background-color: $white;
        }
      }
    }
  }
  // displayType이 hidden일 경우
  &.off { display: none; }
  // 컴포넌트 드래그시 마진 제거 (디자인팀 요청사항)
  &.sortable-ghost {
    margin: 0;
  }
}
// component
.z-component {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  // label
  .z-component-label {
    flex-basis: getFlexBasis(100%, 0px, 12, 0px);
    justify-content: var(--data-align);
    font-weight: $font-weight-medium;
    padding: 0;
    .z-component-label-text {
      line-height: 1;
    }

    &.on { display: flex; }
    &.off { display: none; }
  }
  // divider
  &.divider {
    padding: 0;
  }
  // element
  .z-element[style="--data-column:12;"], .z-element[style="--data-column:0;"] {
    padding: 0.4375rem 0 0.4375rem 0 ; // 7px 0  7px 0px
  }
  .z-element {
    flex-basis: getFlexBasis(100%, 0px, 12, 0px);
    padding: 0.4375rem 0 0.4375rem 0.938rem ; // 7px 0  7px 15px
    pointer-events: none;

    // inputBox
    .input, .z-input:not(.z-select-box-label):not(:read-only) {
      width: 100%;
      @include border(0.0625rem, solid, $gray400, all); // 1px
      @include borderRadius(0.0625rem); // 2px
      &:hover {
        outline: 0;
        @include border(0.0625rem, solid, $blue400, all);
      }
      &:focus {
        outline: 0;
        @include border(0.0625rem, solid, $blue600, all);
        @include boxShadow(0, 0, 0.125rem, 0, $blue600); // 2px
      }
      &:active {
        outline: 0;
        @include border(0.0625rem, solid, $blue600, all);
      }
    }

    // textArea
    .textArea, .z-textarea {
      width: 100%;
      height: calc(2.5rem * var(--data-row));
    }

    // text editor
    .z-text-editor {
      .ql-editor {
        height: calc(2.5rem * var(--data-row)); // quill editor 높이 : 40 * row 갯수
      }
    }

    // radio, checkbox
    .z-radio, .z-checkbox {
      &.vertical {
        display: block;
        margin-top: 0.625rem;
        &:first-of-type { margin-top: 0; }
      }
      &.horizontal {
        display: inline-block;
        margin-right: 0.625rem;
      }
    }

    // radio
    .z-radio {
      + span {
        display: inline-block;
        height: 2.25rem;
        padding: 0.5rem 0.5rem 0.5em 0;
        &::before { margin: 0.25rem 0; }
      }
    }

    // image 컴포넌트
    .z-imagebox-placeholder {
      display: none;
      height: 8.75rem; // 140px
      font-size: $font-size-s;
      font-weight: $font-weight-regular;
      color: $gray400;
      @include border(0.0625rem, solid, $gray400, all); // 1px
      background-color: $neutral50;
      text-align: center;
      padding: 1.875rem 0 0.625rem; // 30px 0 10px 0
    }
    .z-imagebox {
      width: 100%;
      height: 100%;
      &[src=''] {
        display: none;
        + .z-imagebox-placeholder {
          display: grid;
        }
      }
    }

    // filedownload 컴포넌트
    .z-fileDownload {
      cursor: pointer;

      .z-icon {
        &.i-download {
          background: $gray500;
        }
      }
      .z-file-text {
        font-size: $font-size-xs;
        font-weight: $font-weight-regular;
      }
    }

    // fileuploader 컴포넌트
    .file-uploader-view {
      @include border(0.0625rem, solid, $gray400, left);
    }

    // CI 컴포넌트
    .z-ci-table {
      background-color: $white;
      tr {
        td {
          display: none;
          padding: 0.5rem; // 8px
          @include border(0.0625rem, solid, $gray300, all);
          border-left: none;
          border-right: none;

          &.on { display: table-cell; }
        }
      }
      .z-ci-table-row {
        color: $neutral800;
      }
      // 데이터 없음
      .no-data-found-list {
        color: $gray400;
        background-color: $white;
        pointer-events: none;
        td { vertical-align: middle; }
      }
    }

    // time, date, datepicker 컴포넌트
    .picker-wrapper-date {
      .z-input {
        margin-right: 2rem;
      }
      .datepicker {
        width: 100%;
      }
    }

    // DR 테이블 컴포넌트
    .z-dr-table {
      background-color: $white;
      tr td {
        padding: 0 0.3125rem 0 0; // 0 5px 0 0
        @include border(0.0625rem, solid, $gray300, all);
        border-left: none;
        border-right: none;
        overflow: initial;
        line-height: 1;

        &.on { display: table-cell; }
      }
      // 제목
      .z-dr-table-header {
        @include border(0.125rem, solid, $gray300, bottom);
        td { padding: 0.6875rem 0 0.6875rem 0.3125rem; } // 11px 5px 11px 0
        .z-dr-table-header-cell {
          @include ellipsis();
          padding: 0 0.5rem;
        }
      }

      .z-dr-table-row {
        .z-button-icon { padding: 0; }

        .z-input:not(.z-select-box-label) {
          padding: 0.4375rem 0;
          margin: 0.25rem 0;
          text-indent: 0.75rem;
          &.picker-main {
            padding-right: 2.25rem;
          }
        }

        .z-input:read-only:not(:disabled):not(.tagify),
        .z-select .z-select-box.readonly { border-bottom: none; }

        span { line-height: 1.6; }

        // 문서양식에서 설정한 컬럼에 대한 style을 상속 받음
        .readonly input, input:read-only {
          color: inherit;
          font-size: inherit;
          font-style: inherit;
          font-weight: inherit;
          text-align: inherit;
        }
        .z-select-box { padding: 0.5rem 0.75rem; };
      }
      // 데이터 없음
      .no-data-found-list {
        height: 2.5625rem; // 41px
        color: $gray400;
        background-color: $white;
        pointer-events: none;
        td { vertical-align: middle; }
      }
    }
    .plugIn-check {
      &.off { display: none; }
    }

    // custom code 컴포넌트
    .z-custom-code {
      > .z-input {
        @include borderRadius(0.125rem); // 2px
      }
      > .z-button-icon { margin-left: 0.5rem; }
    }

    // 컴포넌트 내부 버튼 리스트
    .z-button-list {
      .z-button {
        min-width: 3.25rem; // 52px
        padding: 0.3125rem 0.625rem; //5px 10px
        font-size: $font-size-xxs;
      }
    }
  }
}
// label
.z-component { // 필수값 숨김
  .z-component-label {
    .required {
      &.off { display: none; }
      &.on { display: inline; }
    }
  }
}
// tooptip
.z-tooltip-menu {
  visibility: hidden;
  z-index: 500;
  @include absolute($right: -0.0625rem, $bottom: 100%); // -1px
  background-color: $white;
  height: 2.5rem; // 40px;
  @include boxShadow(0, 0, 0, 0.0625rem, $blue500, true); // 1px
  .z-tooltip-menu-items {
    margin: 0 0.125rem; // 0 2px
    padding: 0.5625rem 0 0; // 9px 0 0 0
    .z-tooltip-menu-item {
      display: inline-block;
      margin: 0 0.25rem; // 0 4px
      padding: 0 0.5rem; // 0 8px
      cursor: pointer;
      .z-icon {
        display: inline-block;
        vertical-align: middle;
        pointer-events: none;
        background: $blue300;
      }
      &:hover {
        .z-icon {
          background: $blue500;
        }
      }
    }
  }
}

// preview
.preview {
  .z-dr-table-button-group { top: -0.25rem; }
  .z-group-tooltip { border: 0.0625rem solid #FFFFFF; }
  .z-row-tooltip { border: 0.0625rem solid #FFFFFF; }
  .z-component {
    &-tooltip {
      margin: 0;
      padding: 0;
      border-color: transparent !important;
    }
  }
}
