@import '../template/_icons.scss';           // 공통 아이콘

.z-icon {
  // 상단
  &.i-save {
    @include maskImage('#{$icon-folder-path}formDesigner/topmenu/icon_save.svg', 1.5rem, 1.5rem, no-repeat, center); // 24px 24px
  }
  &.i-save-as {
    @include maskImage('#{$icon-folder-path}formDesigner/topmenu/icon_save_as.svg', 1.5rem, 1.5rem, no-repeat, center);// 24px 24px
  }
  &.i-undo {
    @include maskImage('#{$icon-folder-path}formDesigner/topmenu/icon_undo.svg', 1.5rem, 1.5rem, no-repeat, center);// 24px 24px
  }
  &.i-redo {
    @include maskImage('#{$icon-folder-path}formDesigner/topmenu/icon_redo.svg', 1.5rem, 1.5rem, no-repeat, center);// 24px 24px
  }
  &.i-preview {
    @include maskImage('#{$icon-folder-path}formDesigner/topmenu/icon_preview.svg', 1.5rem, 1.5rem, no-repeat, center);// 24px 24px
  }

  // 컴포넌트 팔레트
  &.i-inputBox { @include maskImage('#{$icon-folder-path}formDesigner/palette/icon_inputbox.svg ', 2rem, 2rem, no-repeat, center); } // 32px 32px
  &.i-textArea { @include maskImage('#{$icon-folder-path}formDesigner/palette/icon_textarea.svg ', 2rem, 2rem, no-repeat, center); } // 32px 32px
  &.i-textEditor { @include maskImage('#{$icon-folder-path}formDesigner/palette/icon_text_editor.svg ', 2rem, 2rem, no-repeat, center); } // 32px 32px
  &.i-dropdown { @include maskImage('#{$icon-folder-path}formDesigner/palette/icon_dropdown.svg ', 2rem, 2rem, no-repeat, center); } // 32px 32px
  &.i-radio { @include maskImage('#{$icon-folder-path}formDesigner/palette/icon_radio.svg ', 2rem, 2rem, no-repeat, center); } // 32px 32px
  &.i-checkBox { @include maskImage('#{$icon-folder-path}formDesigner/palette/icon_checkbox.svg ', 2rem, 2rem, no-repeat, center); } // 32px 32px
  &.i-date { @include maskImage('#{$icon-folder-path}formDesigner/palette/icon_date.svg ', 2rem, 2rem, no-repeat, center); } // 32px 32px
  &.i-time { @include maskImage('#{$icon-folder-path}formDesigner/palette/icon_time.svg ', 2rem, 2rem, no-repeat, center); } // 32px 32px
  &.i-dateTime { @include maskImage('#{$icon-folder-path}formDesigner/palette/icon_datetime.svg ', 2rem, 2rem, no-repeat, center); } // 32px 32px
  &.i-fileUpload { @include maskImage('#{$icon-folder-path}formDesigner/palette/icon_fileupload.svg ', 2rem, 2rem, no-repeat, center); } // 32px 32px
  &.i-customCode { @include maskImage('#{$icon-folder-path}formDesigner/palette/icon_custom_code.svg ', 2rem, 2rem, no-repeat, center); } // 32px 32px
  &.i-dynamicRowTable { @include maskImage('#{$icon-folder-path}formDesigner/palette/icon_dynamic_row_table.svg ', 2rem, 2rem, no-repeat, center); } // 32px 32px
  &.i-ci { @include maskImage('#{$icon-folder-path}formDesigner/palette/icon_ci.svg ', 2rem, 2rem, no-repeat, center); } // 32px 32px
  &.i-label { @include maskImage('#{$icon-folder-path}formDesigner/palette/icon_label.svg ', 2rem, 2rem, no-repeat, center); } // 32px 32px
  &.i-image { @include maskImage('#{$icon-folder-path}formDesigner/palette/icon_image.svg ', 2rem, 2rem, no-repeat, center); } // 32px 32px
  &.i-divider { @include maskImage('#{$icon-folder-path}formDesigner/palette/icon_divider.svg ', 2rem, 2rem, no-repeat, center); } // 32px 32px

  // 컴포넌트
  &.i-no-image {
    @include maskImage('#{$icon-folder-path}formDesigner/form/icon_image_component.svg', 100%, 2.813rem, no-repeat, center, 2.813rem, $component-imagebox-font-color);
  }

  // 세부 속성
  &.i-align-left {
    @include maskImage('#{$icon-folder-path}formDesigner/property/icon_align_left.svg', 1.5rem, 1.5rem, no-repeat, center); // 24px 24px
  }
  &.i-align-center {
    @include maskImage('#{$icon-folder-path}formDesigner/property/icon_align_center.svg', 1.5rem, 1.5rem, no-repeat, center); // 24px 24px
  }
  &.i-align-right {
    @include maskImage('#{$icon-folder-path}formDesigner/property/icon_align_right.svg', 1.5rem, 1.5rem, no-repeat, center); // 24px 24px
  }
  &.i-position-left {
    @include maskImage('#{$icon-folder-path}formDesigner/property/icon_label_position_left.svg', 1.5rem, 1.5rem, no-repeat, center); // 24px 24px
  }
  &.i-position-top {
    @include maskImage('#{$icon-folder-path}formDesigner/property/icon_label_position_top.svg', 1.5rem, 1.5rem, no-repeat, center); // 24px 24px
  }
  &.i-position-hidden {
    @include maskImage('#{$icon-folder-path}formDesigner/property/icon_label_position_hidden.svg', 1.5rem, 1.5rem, no-repeat, center); // 24px 24px
  }
  &.i-display-position-left {
    @include maskImage('#{$icon-folder-path}formDesigner/property/icon_display_left.svg', 20px, 20px, no-repeat, center); // 20px 20px
  }
  &.i-display-position-right {
    @include maskImage('#{$icon-folder-path}formDesigner/property/icon_display_right.svg', 20px, 20px, no-repeat, center); // 20px 20px
  }
  &.i-bold {
    @include maskImage('#{$icon-folder-path}formDesigner/property/icon_bold.svg', 1.5rem, 1.5rem, no-repeat, center); // 24px 24px
  }
  &.i-italic {
    @include maskImage('#{$icon-folder-path}formDesigner/property/icon_italic.svg', 1.5rem, 1.5rem, no-repeat, center); // 24px 24px
  }
  &.i-underline {
    @include maskImage('#{$icon-folder-path}formDesigner/property/icon_underline.svg', 1.5rem, 1.5rem, no-repeat, center); // 24px 24px
  }
}