/* 세부 속성 디자인 */

.property-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.625rem 0.75rem; // 10px 12px;
  @include border(0.0625rem, solid, $gray300, bottom); // 1px
  &:first-child { @include border(0.0625rem, solid, $layout-properties-panel-header-border-color, top); }

  // 라벨
  .property-group-label {
    width: 100%;
    font-size: $property-group-label-font-size;
    color: $property-group-label-color;
  }
}

.property {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-basis: getFlexBasis(100%, 44px, 12, 4px);
  margin: 0.9375rem 0 0 0; // 15px 0 0 0
  // 라벨
  .property-label {
    font-size: $property-label-font-size;
    color: $property-label-color;
    padding-bottom: 0.625rem; // 10px
  }
  .property-value {
    width: 2.813rem !important; // 45px
    margin: 0 0.3125rem 0 0; // 0 5px 0 0
  }
  // margin / padding 박스 모델
  .box-model {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .z-input {
      width: 4.375rem; // 70px
    }
  }
  // clipboard 엘리먼트
  .z-clipboard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .z-input {
      width: 100%
    }
  }
  // input 엘리먼트
  .z-input:not(.tagify) {
    width: 100%;
    padding: 0 1rem; // 0 16px
    font-size: $property-font-size;
    vertical-align: middle;

    &.icon-unit-search {
      background: url($icon-folder-path + "formDesigner/unit/icon_unit_search.svg") no-repeat 100%-3 50%;
      background-color: $element-bg-color;
      padding-right: 1.875rem; // 30px
    }

    &.icon-unit-px {
      background: url($icon-folder-path + "formDesigner/unit/icon_unit_px.svg") no-repeat calc(100% - 0.5rem) 50%;
      background-color: $element-bg-color;
      padding-right: 1.875rem; // 30px
      text-align: right;

      &:not(:last-child) {
        margin-right: 0.25rem; // 4px
      }
    }
  }
  // textarea 엘리먼트
  .textArea {
    min-height: 7.5rem; // 120px
  }
  // input + button
  .input-button {
    .z-button {
      height: 2.5rem; // 40px
    }
  }
  // column 너비 조정
  .z-slider {
    .z-range {
      width : 75%;
    }
    .z-input {
      width: 23%;
      text-align: center;
      margin-left: 2%;
      &:read-only {
        @include border($element-border-width, solid, $gray300, all);
        @include borderRadius(0.125rem); // 2px
      }
    }
  }
  // select box
  .select {
    width: 100%;
  }
  // inputBox 컴포넌트 - 기본값 속성
  .default-type {
    display: flex;
    flex-direction: row;

    .btn-switch { width: 3.75rem; } // 60px
    .z-input {
      display: block;
      margin-left : 0.625rem; // 10px
      &.off { display: none; }
    }
    .z-select {
      display: block;
      margin-left: 0.625rem; // 10px
      &.off { display: none; }
    }
  }
  .picker-wrapper-date {
    .datepicker,
    .timepicker,
    .datetimepicker {
      width: 100%;
    }
  }
  // time, date, datepicker - 기본값 속성
  .default-type-radio {
    position: relative;
    display: block;

    .radio-property-group {
      width: 100%;
      display: inline-flex;
      align-items: center;
      flex-wrap: wrap;
      margin: 0.3125rem 0; // 5px 0

      .radio-item {
        .z-input {
          width: 2.813rem; // 45px
          margin: 0 0.3125rem 0 0; // 5px
        }
      }

      .picker-wrapper-date {
        display: inline-block;
        width: auto;
        .datepicker,
        .timepicker,
        .datetimepicker {
          width: 260px; // 260px
          margin: 0;
        }
      }
    }
  }
  // tab
  .z-tab-panel {
    .z-tabs {
      .z-button-icon {
        padding: 4px 9px; // 4px 9px

        &:not(:last-child) {
          margin-right: 0.3125rem; // 5px
        }
        // 버튼 안보이게 처리
        &.off {
          display: none;
        }
      }
    }
    .z-panels {
      .z-panel {
        @include relative();
        margin-top: 0.625rem;
        padding-top: 0.625rem;
        @include border(0.0625rem, solid, $gray300, all); // 1px

        .z-panel-common {
          .panel-name {
            padding: 0 0.75rem; // 12px
          }
          .panel-delete-button {
            @include absolute($right: 0.625rem); // 10px
          }

          & > .property {
            padding: 0 0.75rem; // 12px
          }
        }

        .z-button {
          padding: 0;
          .z-icon {
            display: inline-block;
            background: $blue500;

            &.z-prev {
              @include rotate(180);
            }
          }
        }

        .z-button-switch-group,
        .z-button-toggle-group {

          .z-button-switch,
          .z-button-toggle {
            padding: 0.25rem  0.5625rem; // 4px 9px
          }
        }

        // individual panel 내부 중복 border 제거
        .z-panel-individual > .property-group {
          border: none;

          &:last-child {
            @include border(0.0625rem, solid, $gray300, top); // 1px
          }
        }
      }
    }
  }
  .z-option-table {
    width: 100%;
    border: none;
    border-collapse: collapse;
    color: $property-option-tb-color;
    font-size: $element-font-size;
    font-weight: $property-option-tb-font-weight;

    .z-option-table-header {
      height: 2rem;
      @include border(0.125rem, solid, $property-option-tb-header-color, bottom);
      background-color: $property-option-tb-header-bg-color;
      text-indent: $element-indent;
      font-weight: $property-option-tb-header-font-weight;
    }
    tr td {
      @include border(0.0625rem, solid, $property-option-tb-header-color, all);
      border-left: none;
      border-right: none;
      vertical-align: middle;
      .z-input {
        width: 85%;
        padding: 0.75rem;
        margin: 0 0.25rem;
      }
      .z-icon {
        display: block;
        margin: 0 auto;
        background: $property-option-tb-content-btn-color;
        &:hover {
          background: $property-option-tb-content-btn-hv-color;
        }
      }
    }
  }
}
