@import '../template/_tooltip.scss';
// clipboard - 복사 용도
.z-clipboard-tooltip {
  position: relative;
  display: inline-block;
  margin-left: 0.3125rem; // 5px
  cursor: pointer;

  &:hover {
    .z-clipboard-tooltip-text {
      visibility: visible;
      opacity: 1;
    }
  }

  .z-clipboard-tooltip-text {
    @include absolute($left: 50%, $bottom: 120%);
    width: 9.375rem; //150px
    font-family: $clipboard-tooltip-font-family;
    font-size: $clipboard-tooltip-font-size;
    font-weight: $clipboard-tooltip-font-weight;
    color: $clipboard-tooltip-font-color;
    background-color: $clipboard-tooltip-bg-color;
    @include border($clipboard-tooltip-border-width, solid, $clipboard-tooltip-border-color, all);
    @include borderRadius($clipboard-tooltip-border-radius);
    text-align: center;
    padding: 0.313rem; // 5px
    margin-left: -8.125rem; // -130px
    opacity: 0;
    @include transition(opacity 0.3s);
    visibility: hidden;
    z-index: $z-index-tooltip;

    &::after {
      @include absolute($top: 100%, $left: 50%);
      content: '';
      margin-left: -0.313rem; // -5px
    }
  }
}

