:root {
  --data-column: 12;
  --data-row: 2;
}
/////////////////////////// color Set //////////////////////////
$form-grays: (
  'icon':                                         #A0A4A6,
  'line':                                         #D7DBE0,
  'fill':                                         #EBECED,
  'focus':                                        #283238
) !default;

$form-blues: (
  'focus':                                        #F7FCFF,
  'dark':                                         #333D47
) !default;

//////////////////////////// layout ////////////////////////////
// header
$layout-header-height:                             2.875rem; // 46px
$layout-header-padding:                            0.75rem; // 12px
$layout-header-font-family:                        $font-family-m;
$layout-header-font-size:                          $font-size-m;
$layout-header-font-color:                         $white;
$layout-header-font-weight:                        $font-weight-medium;
$layout-header-bg-color:                           $blue500;
// header > dropdown
$layout-header-dropdown-border-width:              0.0625rem; // 1px
$layout-header-dropdown-border-color:              $gray300;
$layout-header-dropdown-box-shadow-color:          $gray300;
$layout-header-dropdown-bg-color:                  $white;
$layout-header-dropdown: (
  'default': ('font': $gray800, 'background': $white, 'border': $white),
  'hover': ('font' : $gray800, 'background': $blue50, 'border': $blue50),
  'focus': ('font': $gray800, 'background': $white, 'border': $blue600, 'shadow': 0 0 0.125rem $blue600),
  'active': ('font': $blue700, 'background': $blue100, 'border': $blue100)
);

// component palette
$layout-component-palette-width:                   12.5rem; // 200px
$layout-component-palette-bg-color:                $white;
$layout-component-palette-border-color:            $gray300;
$layout-component-palette-border-width:            0.0625rem; // 1px
$layout-component-palette-box-shadow-color:        $blue600;
// component palette > accordion
$layout-component-palette-accordion-height:        40px; // 40px
$layout-component-palette-accordion-font-family:   $font-family-m;
$layout-component-palette-accordion-font-size:     $font-size-s;
$layout-component-palette-accordion-font-weight:   $font-weight-bold;
$layout-component-palette-accordion-font-color:    $gray800;
$layout-component-palette-accordion-icon-color:    $gray500; // 화살표 아이콘 색상
// 컴포넌트 아이콘 > default
$component-icon-width:                             6.188rem; // 99px
$component-icon-height:                            4.6875rem; // 75px
$component-icon-font-family:                       $font-family-s;
$component-icon-font-size:                         $font-size-xs;
$component-icon-font-weight:                       $font-weight-medium;
$component-icon: (
  'default': ('font': $gray600, 'icon': $gray500, 'background': $white, 'border': $gray300),
  'hover': ('font' : $gray600, 'icon': $gray600,  'background': $blue100, 'border': $gray300),
  'focus': ('font': $gray600, 'icon': $gray500, 'background': $white, 'border': $blue600, 'shadow': 0 0 0.125rem $blue600),
  'active': ('font': $blue700, 'icon': $blue700, 'background': $blue100, 'border': $blue400),
  'drag': ('font': $gray800, 'icon': $blue500, 'background': $white, 'border': $gray300, 'shadow': 0 0 0.125rem $gray300),
  'placeholder': ('font': $gray400, 'icon': $gray400, 'background': $neutral200, 'border': $gray300)
);
// 컴포넌트 아이콘 > drag item (폼 내부에 나타나는 item)
$component-icon-drag-bg-color:                     $blue100;
$component-icon-drag-border-color:                 $blue400;

// properties header
$layout-properties-panel-header-height:            2.5rem; // 40px
$layout-properties-panel-header-font-size:         $font-size-s;
$layout-properties-panel-header-font-color:        map-get($form-blues, "dark");
$layout-properties-panel-header-font-weight:       $font-weight-bold;
$layout-properties-panel-header-bg-color:          $white;
$layout-properties-panel-header-border-color:      map-get($form-grays, "line");

// properties panel
$layout-properties-panel-width:                    20rem; // 320px
$layout-properties-panel-bg-color:                 $white;
$layout-properties-panel-border:                   0.0625rem solid map-get($grays, "line"); // 1px
$layout-properties-panel-box-shadow:               -0.0625rem 0.9375rem 0.4375rem 0 hexToRGBA(map-get($grays, 'pressed'), 0.15);// -1px 15px 7px 0px $pressed-gray, 불투명도 15%;

// main
$layout-main-bg-color:                             $neutral50;
// main - save info
$layout-main-save-info-font-family:                $font-family-s;
$layout-main-save-info-font-size:                  $font-size-xs;
$layout-main-save-info-font-weight:                $font-weight-bold;
$layout-main-save-info-font-color:                 $gray500;

///////////////////////////// common /////////////////////////
$column-row:                                       12;  // 폼을 나누는 갯수

//////////////////////////// form ////////////////////////////
$form-min-height:                                  56.25rem; // 900px
$form-bg-color:                                    $white;
$form-box-shadow:                                  0 0 0.9375rem 0 hexToRGBA(map-get($grays, 'pressed'), 0.3); // 흐림 15px,  $pressed-gray, 불투명도 30%;

//////////////////////////// group ///////////////////////////
$group-accordion-bg-color:                         map-get($grays, "light");
$group-accordion-border-color:                     map-get($form-grays, "line");
$group-accordion-icon-color:                       $gray500; // 화살표 아이콘 색상
$group-selected-border-color:                      map-get($blues, "light");
$group-selected-border-radius:                     0.125rem; // 2px
$group-selected-bg-color:                          map-get($form-blues, "focus");

//////////////////////////// row ///////////////////////////
$row-selected-border-color:                        map-get($blues, "light");
$row-selected-border-radius:                       0.125rem; // 2px
$row-selected-bg-color:                            map-get($form-blues, "focus");

////////////////////////// components /////////////////////////
$component-gutter:                                 0.5rem; // 8px
$component-selected-border-color:                  map-get($blues, "light");
$component-selected-bg-color:                      map-get($form-blues, "focus");

///////////////////////// image 컴포넌트 ////////////////////////////
$component-imagebox-font-size:                     $font-size-s;
$component-imagebox-font-weight:                   $font-weight-regular;
$component-imagebox-font-color:                    $gray;
$component-imagebox-bg-color:                      map-get($grays, "light");
$component-selected-imagebox-bg-color:             $white;

//////////////////////// CI 컴포넌트 /////////////////////////////
$component-ciTable-bg-color:                       $white;
$component-ciTable-border-color:                   map-get($grays, 'line');
$component-ciTable-header-font-weight:             $font-weight-bold;
$component-ciTable-header-font-color:              map-get($grays, 'dark');
$component-ciTable-header-bg-color:                map-get($grays, "light");
$component-ciTable-noData-font-color:              $gray;
$component-ciTable-noData-bg-color:                $white;

//////////////////////// DR Table 컴포넌트 /////////////////////////
$component-drTable-bg-color:                       $white;
$component-drTable-border-color:                   map-get($grays, 'line');
$component-drTable-header-bg-color:                map-get($grays, "light");
$component-drTable-noData-font-color:              $gray;
$component-drTable-noData-bg-color:                $white;

///////////////////////// tooltip-menu /////////////////////////
$tooltip-menu-bg-color:                            $white;
$tooltip-menu-border-color:                        map-get($blues, "light");
$tooltip-menu-focus-bg-color:                      $blue;
$tooltip-menu-icon-color:                          map-get($blues, "light");
//////////////////////////// thumbnail //////////////////////////
// 썸네일 모달
$thumbnail-modal-width:                            1040px; // 1040px
$thumbnail-modal-height:                           48.44rem; // 775px
$thumbnail-main-padding:                           0.625rem; // 10px

//////////////////////////// tooltip ////////////////////////////
$tooltip-font-size:                                0.875rem; // 14px
$tooltip-contents-width:                           21.25rem; // 340px
$tooltip-contents-left:                            0.9375rem; // 15px
$tooltip-contents-padding:                         1.0625rem 0.9375rem 0.9375rem 0.9375rem; // 17px 15px 15px 15px
$tooltip-contents-background:                      $white;
$tooltip-contents-color:                           $blue;
$tooltip-contents-left:                            0;
$tooltip-contents-border-width:                    0.125rem; // 2px
$tooltip-contents-border-color:                    $blue;
$tooltip-contents-border:                          $tooltip-contents-border-width solid $tooltip-contents-border-color;
$tooltip-contents-border-radius:                   0.125rem; // 2px
$tooltip-contents-padding:                         1.0625rem 0.9375rem 0.9375rem 0.9375rem; // 17px 15px 15px 15px
$tooltip-contents-box-shadow:                      0 0 0.3125rem 0 rgba(30, 47, 63, 0.2); // 5px

// clipboard tooltip
// ID 복사하는 용도 > _tooltip.scss에 정의되어 있음
$clipboard-tooltip-font-family:                    $font-family-s;
$clipboard-tooltip-font-size:                      $font-size-xs;
$clipboard-tooltip-font-weight:                    $font-weight-regular;
$clipboard-tooltip-font-color:                     $blue;
$clipboard-tooltip-bg-color:                       $white;
$clipboard-tooltip-border-color:                   $blue;
$clipboard-tooltip-border-width:                   0.125rem; // 2px
$clipboard-tooltip-border:                         $clipboard-tooltip-border-width solid $clipboard-tooltip-border-color;
$clipboard-tooltip-border-radius:                  0.0625rem; // 1px

// 도움말용
$tooltip-help-size:                                1rem; // 16px
$tooltip-help-margin:                              0.3125rem; // 5px
$tooltip-help-hover-bg-color:                      $blue;

// 유효성 검증용
$tooltip-validate-contents-width:                  3.75rem; // 60px
$tooltip-validate-contents-bg-color:               $white;
$tooltip-validate-contents-font-size:              0.875rem; // 14px
$tooltip-validate-contents-font-weight:            $font-weight-regular;
$tooltip-validate-contents-font-color:             $red;
$tooltip-validate-contents-border-color:           $red;
$tooltip-validate-contents-border-width:           0.125rem; // 2px
$tooltip-validate-contents-border:                 $tooltip-validate-contents-border-width solid $tooltip-validate-contents-border-color;
$tooltip-validate-contents-border-radius:          0.0625rem; // 1px
$tooltip-validate-contents-padding:                0.6875rem 0.875rem; // 11px 14px
//////////////////////////// 다른이름으로 저장하기 //////////////////////////
$save-as-modal-height:                             25.63rem; // 410px

/////////////////////////// properties ////////////////////////////
$property-font-size:                               0.875rem; // 14px

$property-group-label-color:                       #323233;
$property-group-label-font-size:                   1rem; // 16px

$property-label-color:                             #8D9299;
$property-label-font-size:                         0.875rem; // 14px

// 열 속성 > tab button
$button-tab: (
  'default': ('font': $white, 'background': $white, 'border': $gray300),
  'hover': ('font' : $blue100, 'background': $blue100, 'border': $gray300 ),
  'focus': ('font': $white, 'background': $white, 'border': $blue600, 'shadow': 0 0 0.125rem $blue600),
  'active': ('font': $blue200, 'background': $blue200, 'border': $blue400),
  'selected': ('font': $blue500, 'background': $white, 'border': $blue500),
  'disabled': ('font': $neutral200, 'background': $neutral200, 'border': $neutral200)
);