:root {
  --data-column: 12;
  --data-row: 2;
  --data-align: flex-start
}

//////////////////////////// layout ////////////////////////////
// header
$layout-header-height:                             2.875rem; // 46px
$layout-header-padding:                            0.75rem; // 12px
$layout-header-font-family:                        $font-family-m;
$layout-header-font-size:                          $font-size-m;
$layout-header-font-color:                         $white;
$layout-header-font-weight:                        $font-weight-medium;
$layout-header-bg-color:                           $blue500;
// header > dropdown
$layout-header-dropdown-border-width:              0.0625rem; // 1px
$layout-header-dropdown-border-color:              $gray300;
$layout-header-dropdown-box-shadow-color:          $gray300;
$layout-header-dropdown-bg-color:                  $white;
$layout-header-dropdown: (
  'default': ('font': $gray800, 'background': $white, 'border': $white),
  'hover': ('font' : $gray800, 'background': $blue50, 'border': $blue50),
  'focus': ('font': $gray800, 'background': $white, 'border': $blue600, 'shadow': 0 0 0.125rem $blue600),
  'active': ('font': $blue700, 'background': $blue100, 'border': $blue100)
);

// component palette
$layout-component-palette-width:                   12.5rem; // 200px
$layout-component-palette-bg-color:                $white;
$layout-component-palette-border-color:            $gray300;
$layout-component-palette-border-width:            0.0625rem; // 1px
$layout-component-palette-box-shadow-color:        $blue600;
// component palette > accordion
$layout-component-palette-accordion-height:        40px; // 40px
$layout-component-palette-accordion-font-family:   $font-family-m;
$layout-component-palette-accordion-font-size:     $font-size-s;
$layout-component-palette-accordion-font-weight:   $font-weight-bold;
$layout-component-palette-accordion-font-color:    $gray800;
$layout-component-palette-accordion-icon-color:    $gray500; // 화살표 아이콘 색상
// 컴포넌트 아이콘 > default
$component-icon-width:                             6.188rem; // 99px
$component-icon-height:                            4.6875rem; // 75px
$component-icon-font-family:                       $font-family-s;
$component-icon-font-size:                         $font-size-xs;
$component-icon-font-weight:                       $font-weight-medium;
$component-icon: (
  'default': ('font': $gray600, 'icon': $gray500, 'background': $white, 'border': $gray300),
  'hover': ('font' : $gray600, 'icon': $gray600,  'background': $blue100, 'border': $gray300),
  'focus': ('font': $gray600, 'icon': $gray500, 'background': $white, 'border': $blue600, 'shadow': 0 0 0.125rem $blue600),
  'active': ('font': $blue700, 'icon': $blue700, 'background': $blue100, 'border': $blue400),
  'drag': ('font': $gray800, 'icon': $blue500, 'background': $white, 'border': $gray300, 'shadow': 0 0 0.125rem $gray300),
  'placeholder': ('font': $gray400, 'icon': $gray400, 'background': $neutral200, 'border': $gray300)
);
// 컴포넌트 아이콘 > drag item (폼 내부에 나타나는 item)
$component-icon-drag-bg-color:                     $blue100;
$component-icon-drag-border-color:                 $blue400;
$component-icon-drag-font-color:                   $blue400;

// properties header
$layout-properties-panel-header-height:            2.5rem; // 40px
$layout-properties-panel-header-font-size:         $font-size-s;
$layout-properties-panel-header-font-color:        $gray600;
$layout-properties-panel-header-font-weight:       $font-weight-bold;
$layout-properties-panel-header-bg-color:          $white;
$layout-properties-panel-header-border-color:      $gray300;

// properties panel
$layout-properties-panel-width:                    20rem; // 320px
$layout-properties-panel-bg-color:                 $white;
$layout-properties-panel-border:                   0.0625rem solid $gray300; // 1px

// main
$layout-main-bg-color:                             $neutral50;
// main - save info
$layout-main-save-info-font-family:                $font-family-s;
$layout-main-save-info-font-size:                  $font-size-xs;
$layout-main-save-info-font-weight:                $font-weight-bold;
$layout-main-save-info-font-color:                 $gray500;

///////////////////////////// common /////////////////////////
$column-row:                                       12;  // 폼을 나누는 갯수

//////////////////////////// form ////////////////////////////
$form-min-height:                                  56.25rem; // 900px
$form-bg-color:                                    $white;
$form-border-color:                                $gray300;

//////////////////////////// group ///////////////////////////
$group-accordion-bg-color:                         $neutral100;
$group-accordion-border-color:                     $gray300;
$group-accordion-icon-color:                       $gray500; // 화살표 아이콘 색상
$group-selected-border-color:                      $blue500;
$group-selected-border-radius:                     0.125rem; // 2px
$group-selected-bg-color:                          $blue50;

//////////////////////////// row ///////////////////////////
$row-selected-border-color:                        $blue500;
$row-selected-border-radius:                       0.125rem; // 2px
$row-selected-bg-color:                            $blue50;

////////////////////////// components /////////////////////////
$component-gutter:                                 0.5rem; // 8px
$component-selected-border-color:                  $blue500;
$component-selected-bg-color:                      $blue50;

///////////////////////// image 컴포넌트 ////////////////////////////
$component-imagebox-font-size:                     $font-size-s;
$component-imagebox-font-weight:                   $font-weight-regular;
$component-imagebox-font-color:                    $gray;
$component-imagebox-bg-color:                      $neutral50;
$component-selected-imagebox-bg-color:             $white;

//////////////////////// CI 컴포넌트 /////////////////////////////
$component-ciTable-bg-color:                       $white;
$component-ciTable-border-color:                   $gray300;
$component-ciTable-header-font-weight:             $font-weight-bold;
$component-ciTable-header-font-color:              $gray400;
$component-ciTable-header-bg-color:                $neutral100;
$component-ciTable-noData-font-color:              $gray;
$component-ciTable-noData-bg-color:                $white;

//////////////////////// DR Table 컴포넌트 /////////////////////////
$component-drTable-bg-color:                       $white;
$component-drTable-border-color:                   $gray300;
$component-drTable-header-bg-color:                $neutral100;
$component-drTable-noData-font-color:              $gray;
$component-drTable-noData-bg-color:                $white;

///////////////////////// tooltip-menu /////////////////////////
$tooltip-menu-bg-color:                            $white;
$tooltip-menu-border-color:                        $gray300;
$tooltip-menu-focus-bg-color:                      $blue500;
$tooltip-menu-icon-color:                          $gray300;
//////////////////////////// thumbnail //////////////////////////
// 썸네일 모달
$thumbnail-modal-width:                            1040px; // 1040px
$thumbnail-modal-height:                           48.44rem; // 775px
$thumbnail-main-padding:                           0.625rem; // 10px
//////////////////////////// 다른이름으로 저장하기 //////////////////////////
$save-as-modal-height:                             25.63rem; // 410px

/////////////////////////// properties ////////////////////////////
$property-font-size:                               $font-size-xs; // 14px

$property-group-label-color:                       $gray800;
$property-group-label-font-size:                   $font-size-s; // 16px

$property-label-color:                             $gray500;
$property-label-font-size:                         $font-size-xs; // 14px

// 열 속성 > tab button
$button-tab: (
  'default': ('font': $white, 'background': $white, 'border': $gray300),
  'hover': ('font' : $blue100, 'background': $blue100, 'border': $gray300 ),
  'focus': ('font': $white, 'background': $white, 'border': $blue600, 'shadow': 0 0 0.125rem $blue600),
  'active': ('font': $blue200, 'background': $blue200, 'border': $blue400),
  'selected': ('font': $blue500, 'background': $white, 'border': $blue500),
  'disabled': ('font': $neutral200, 'background': $neutral200, 'border': $neutral200)
);

$property-option-tb-color:                         $gray400;
$property-option-tb-font-weight:                   $font-weight-regular;

$property-option-tb-header-color:                  $gray300;
$property-option-tb-header-bg-color:               $neutral100;
$property-option-tb-header-font-weight:            $font-weight-medium;

$property-option-tb-content-btn-color:             $gray400;
$property-option-tb-content-btn-hv-color:          $blue500;
