:root {
  --data-column: 12;
  --data-row: 2;
  --data-align: flex-start;
}

//////////////////////////// layout ////////////////////////////
// header
$layout-header-height:                             2.875rem; // 46px
// header > dropdown
$layout-header-dropdown: (
  'default': ('font': $gray800, 'background': $white, 'border': $white),
  'hover': ('font' : $gray800, 'background': $blue50, 'border': $blue50),
  'focus': ('font': $gray800, 'background': $white, 'border': $blue600, 'shadow': 0 0 0.125rem $blue600),
  'active': ('font': $blue700, 'background': $blue100, 'border': $blue100)
);

$component-icon: (
  'default': ('font': $gray600, 'icon': $gray500, 'background': $white, 'border': $gray300),
  'hover': ('font' : $gray600, 'icon': $gray600,  'background': $blue100, 'border': $gray300),
  'focus': ('font': $gray600, 'icon': $gray500, 'background': $white, 'border': $blue600, 'shadow': 0 0 0.125rem $blue600),
  'active': ('font': $blue700, 'icon': $blue700, 'background': $blue100, 'border': $blue400),
  'drag': ('font': $gray800, 'icon': $blue500, 'background': $white, 'border': $gray300, 'shadow': 0 0 0.125rem $gray300),
  'placeholder': ('font': $gray400, 'icon': $gray400, 'background': $neutral200, 'border': $gray300)
);

// 썸네일 모달
$thumbnail-main-padding:                           0.625rem; // 10px

$property-group-label-color:                       $neutral600;
$property-group-label-font-size:                   $font-size-m ; // 16px

$property-label-color:                             $neutral600;

// 열 속성 > tab button
$button-tab: (
  'default': ('font': $white, 'background': $white, 'border': $gray300),
  'hover': ('font' : $blue100, 'background': $blue100, 'border': $gray300 ),
  'focus': ('font': $white, 'background': $white, 'border': $blue600, 'shadow': 0 0 0.125rem $blue600),
  'active': ('font': $blue200, 'background': $blue200, 'border': $blue400),
  'selected': ('font': $blue500, 'background': $blue500, 'border': $blue500),
  'disabled': ('font': $neutral200, 'background': $neutral200, 'border': $neutral200)
);

$property-panel-border-color:                      $gray300;
$property-panel-border-width:                      0.0625rem;
$property-panel-icon-color:                        $blue500;

//////////////////////////////// tooltip //////////////////////////////////
$tooltip-contents-left:                            0;
$tooltip-contents-width:                           100%;
