/* content
 *
 *
 * 파일 경로 : layout/_content.scss
 * @description content에서 사용되는 scss
 * @version 1.0
 */

////////////////////////// 리스트 //////////////////////////
// sla 연도별 SLA 현황 최종점수
#resultScore { font-size: $font-size-xl; }

////////////////////////// 카드 //////////////////////////
// 신청서
// 대시보드
.document-content {
  background-color: $white;

  .document__group {
    width: 100%;
    .document__label {
      min-height: 2rem; // 32px
      &--text { font-size: $font-size-m; } // 18px
    }
    .document__item {
      width: 100%;
      height: 100%;
      padding: 1.25rem;
      &--title {
        max-width: 100%;
        font-size: $font-size-m; // 18px
        font-weight: $font-weight-semibold;
        &.temp {max-width: 16.25rem; } // 260px
      }
      &--desc {
        display: block;
        width: 100%;
        cursor: inherit;
      }
    }
  }
}
////////////////////////// EDIT //////////////////////////
// 업무흐름 관리 > 업무흐름
.workflow-content-edit {
  .hidden-control-content {
    display: none;
  }
}
// 업무흐름 관리 > 파일 관리
.file-content-edit {
  padding: 0 3.75rem; // 0 60px
  background-color: $white;
}

////////////////////////// VIEW //////////////////////////

.chart-content-view {
  .chart-content-title {
    color: $gray800;
    font-family: $font-family;
    font-size: $font-size-m;
    font-weight: $font-weight-bold;
  }
}
// 공지사항 상단 공지
.notice-pinned { background-color: $blue100; }
// CI 조회
.cmdb-ci-content {
  height: 100%;
  .grid__body { max-height: 36.25rem; } // 580px
}