/* FormDesigner
 *
 *
 * 파일 경로 : template/_tree.scss
 * @description 폼 디자이너에서만 사용되는 scss
 * @version 1.0
 */

////////////////////////// button //////////////////////////
// header button
.z-header-button {
  &.z-button-icon {
    .z-icon {
      pointer-events: none;
      &.i-arrow-right { @include rotate(90); }
    }
  }
}
// header dropdown button
.z-header-button-dropdown {
  width: 1.25rem; // 20px
  padding: 0.5625rem 0.1875rem; // 9px 3px

  .z-icon {
    margin-left: -0.1875rem; // -3px
    pointer-events: none;
  }

  + .z-dropdown-content {
    @include absolute($right: 0);
    @include border(0.0625rem, solid, $gray300, all); // 1px
    @include boxShadow(0, 2px, 12px, 0, $gray300); // 0, 2px, 12px, 0
    min-width: 9.625rem; // 154px
    margin: 0.6875rem 0 0 0; // 11px
    padding: 0 0.25rem 0.25rem 0.25rem; // 0 4px 4px 4px
    background-color: $white;
    z-index: 250;
    visibility: hidden;

    .z-dropdown-item {
      padding: 0.25rem 0 0 0; // 4px 0 0 0

      .z-button-dropdown {
        width: 100%;
        border-color: map-get($layout-header-dropdown, 'default', 'border');
        background-color: map-get($layout-header-dropdown, 'default', 'background');
        color: map-get($layout-header-dropdown, 'default', 'font');
        font-weight: $font-weight-medium;
        @if map-get($layout-header-dropdown, 'default', 'shadow') != null {
          box-shadow: map-get($layout-header-dropdown, 'default', 'shadow');
        }
        &:focus {
          border-color: map-get($layout-header-dropdown, 'focus', 'border');
          background-color: map-get($layout-header-dropdown, 'focus', 'background');
          color: map-get($layout-header-dropdown, 'focus', 'font');
          outline: 0;
          @if map-get($layout-header-dropdown, 'focus', 'shadow') != null {
            box-shadow: map-get($layout-header-dropdown, 'focus', 'shadow');
          }
        }

        &:hover {
          border-color: map-get($layout-header-dropdown, 'hover', 'border');
          background-color: map-get($layout-header-dropdown, 'hover', 'background');
          color: map-get($layout-header-dropdown, 'hover', 'font');
          outline: 0;
          @if map-get($layout-header-dropdown, 'hover', 'shadow') != null {
            box-shadow: map-get($layout-header-dropdown, 'hover', 'shadow');
          }
        }

        &:enabled:active,
        &:enabled.active {
          border-color: map-get($layout-header-dropdown, 'active', 'border');
          background-color: map-get($layout-header-dropdown, 'active', 'background');
          color: map-get($layout-header-dropdown, 'active', 'font');
          z-index: 25;
          @if map-get($layout-header-dropdown, 'active', 'shadow') != null {
            box-shadow: map-get($layout-header-dropdown, 'active', 'shadow');
          }
        }
      }
    }
  }

  &.active {
    .z-icon {
      &.i-arrow-right { @include rotate(-90); }
    }
    + .z-dropdown-content {
      display: block;
      visibility: visible;
    }
  }
}
// button group
// (1) button switch group : 버튼 그룹 중 하나의 버튼만 선택
// (2) button toggle group : 버튼 그룹 각 버튼 토글 가능
.z-button-switch-group,
.z-button-toggle-group {

  .z-button-switch,
  .z-button-toggle {
    .z-text { pointer-events: none; }
    .z-icon { pointer-events: none; }
  }
}

// 열속성 > tab 버튼
.z-tab {
  border-width: 0.0625rem; //1px
  border-color: map-get($button-tab, 'default', 'border');
  background-color: map-get($button-tab, 'default', 'background');
  color: map-get($button-tab, 'default', 'font');
  @if map-get($button-tab, 'default', 'shadow') != null {
    box-shadow: map-get($button-tab, 'default', 'shadow');
  }
  .z-icon { background: map-get($button-tab, 'default', 'font'); }

  &:focus {
    border-color: map-get($button-tab, 'focus', 'border');
    background-color: map-get($button-tab, 'focus', 'background');
    color: map-get($button-tab, 'focus', 'font');
    outline: 0;
    @if map-get($button-tab, 'focus', 'shadow') != null {
      box-shadow: map-get($button-tab, 'focus', 'shadow');
    }
    .z-icon { background: map-get($button-tab, 'focus', 'font'); }
  }

  &:hover {
    border-color: map-get($button-tab, 'hover', 'border');
    background-color: map-get($button-tab, 'hover', 'background');
    color: map-get($button-tab, 'hover', 'font');
    outline: 0;
    @if map-get($button-tab, 'hover', 'shadow') != null {
      box-shadow: map-get($button-tab, 'hover', 'shadow');
    }
    .z-icon { ackground: map-get($button-tab, 'hover', 'font'); }
  }

  &:enabled:active,
  &:enabled.active {
    border-color: map-get($button-tab, 'active', 'border');
    background-color: map-get($button-tab, 'active', 'background');
    color: map-get($button-tab, 'active', 'font');
    z-index: 25;
    @if map-get($button-tab, 'active', 'shadow') != null {
      box-shadow: map-get($button-tab, 'active', 'shadow');
    }
    .z-icon { background: map-get($button-tab, 'active', 'font'); }
  }
  // 선택된 경우
  &.selected:not(:disabled),
  &.selected:not(.disabled) {
    border-color: map-get($button-tab, 'selected', 'border');
    background-color: map-get($button-tab, 'selected', 'background');
    color: map-get($button-tab, 'selected', 'font');
    z-index: 25;
    @if map-get($button-tab, 'selected', 'shadow') != null {
      box-shadow: map-get($button-tab, 'selected', 'shadow');
    }
    .z-icon { background: map-get($button-tab, 'selected', 'font'); }
  }

  &:disabled,
  &.disabled {
    border-color: map-get($button-tab, 'disabled', 'border');
    background-color: map-get($button-tab, 'disabled', 'background');
    color: map-get($button-tab, 'disabled', 'font');
    cursor: default;
    @if map-get($button-tab, 'disabled', 'shadow') != null {
      box-shadow: map-get($button-tab, 'disabled', 'shadow');
    }
    .z-icon { background: map-get($button-tab, 'disabled', 'font'); }
  }
}

.z-button,
.z-button-icon,
.z-button-icon-sm {
  &:disabled, &.disabled { display: none; }
}

.z-button-icon {
  &.z-button-attach-file {
    .z-icon {
      &.i-folder { background: $gray500; }
    }
  }
  &.z-button-code {
    .z-icon {
      &.i-search { background: $gray500; }
    }
  }
}

.z-button.success--check {
  position: relative;
  border-color: $neutral200;
  background-color: $neutral200;
  color: $gray400;
  &::before {
    @include position(absolute, 0.313rem, null, null, -2rem); // 5px  32px;
    @include backgroundImage('#{$icon-folder-path}alert/icon_alert_success.svg', 100%, no-repeat, 0, 0, null); // 5px
    content: '';
    width: 1.25rem; // 20px
    height: 1.25rem; // 20px
  }
}

.z-switch {
  input[type=checkbox] {
    // 스위치 버튼
    + span {
      // 동그라미
      &::before { top: 0.125rem; } // 2px
    }
  }
}

////////////////////////// date-picker //////////////////////////
.z-picker-wrapper-date { width: 100%; }

////////////////////////// element //////////////////////////
// input + button for custom code
.z-input-button {
  .z-button-icon-sm { -webkit-print-color-adjust:exact; }
}

// main
.z-component {
  .z-radio {
    input[type=radio] {
      + span {
        &::after { top: 0.35rem; } // 5.6px
      }
    }
  }
}