/* header
 *
 *
 * 파일 경로 : layout/_header.scss
 * @description header에서 사용되는 scss
 * @version 1.0
 */

////////////////////////// Top 메뉴 //////////////////////////
.main-top {
  height: 3.5rem; // 56px
  .divide {
    padding: 0 0.75rem 0 1.25rem; // 0 12px 0 20px
    height: 1.25rem; // 20px
    color: $gray300;
  }
  .user-info {
    @include borderRadius(0.25rem); // 4px
    height: 2.5rem; // 40px
    margin: 0.313rem 0.5rem 0.313rem 0; // 5px 8px 5px 0
    padding: 0 0.5rem 0 0.5rem; // 0 8px 0 8px
    z-index: $z-index-gnb;

    .context-menu__toggle {
      .user-name {
        display: inline-block;
        min-width: 2.75rem; // 44px
        max-width: 12.5rem; // 200px
        height: 1.688rem; // 27px
        padding: 0 0.5rem; // 0 8px
        color: $gray800;
        font-weight: $font-weight-medium;
        line-height: 1.688rem; // 27px
      }
      .i-user-profile {
        @include borderRadius(50%);
        display: inline-block;
        width: 1.875rem; // 30px
        height: 1.875rem; // 30px
        vertical-align: middle;
      }
      .ic-arrow-right {
        @include rotate(90);
        float: right;
        margin-left: auto;
        background-color: $gray500;
        pointer-events: none;
      }

      &:hover {
        background-color: $gray100;
        outline: 0;
        cursor: pointer;
      }
      &:focus {
        box-shadow: 0 0 0 0.125rem $blue800;
        outline: 0;
      }
      &:active {
        background-color: $white;
        border-color: $gray300;
        box-shadow: 0 0 0 0.125rem $blue800;
        .ic-arrow-right { background-color: $gray800; }
      }

      &.active {
        .ic-arrow-right { @include rotate(-90); }
      }
    }
  }
}
