/* portal
 *
 *
 * 파일 경로 : layout/_portal.scss
 * @description portal에서 사용되는 scss
 * @version 1.0
 */
////////////////////////// browser-guide //////////////////////////
.browser-guide-main {
  height: 100%;
  background-color: $neutral50;
  h1 { margin: 14.81rem 19.063rem 3.75rem 19.063rem; } // 237px 305px 60px 305px
  .browser-box {
    @include border(0.0625rem, solid, $gray300, all);
    display: inline-block;
    width: 22.5rem; // 360px
    height: 22.5rem; // 360px
    margin-left: 0.8125rem; // 13px
    background-color: $white;
    img {
      width: 11.25rem; // 180px
      height: 11.25rem; // 180px
      margin-top: 3.875rem; // 62px
    }
    &:hover { @include boxShadow(0, 0, 0.9375rem, 0, $gray400, true); }
  }
}

////////////////////////// button //////////////////////////
$button-themes-social: (
        'google': (
                'default': ('font': $gray800, 'background': $white, 'border': $gray300),
                'hover': ('font' : $gray800, 'background': $neutral200, 'border': $gray300),
                'focus': ('font': $gray800, 'background': $white, 'border': $blue600, 'shadow': 0 0 0.125rem $blue600),
                'active': ('font': $gray800, 'background': $neutral300, 'border': $gray400),
                'disabled': ('font': $gray400, 'background': $neutral200, 'border': $neutral200)
        ),
        'kakao': (
                'default': ('font': $gray800, 'background': $yellow500, 'border': $yellow600),
                'hover': ('font' : $gray800, 'background': $yellow400, 'border': $yellow600),
                'focus': ('font': $gray800, 'background': $yellow500, 'border': $blue600, 'shadow': 0 0 0.125rem $blue600),
                'active': ('font': $gray800, 'background': $yellow600, 'border': $yellow800),
                'disabled': ('font': $gray400, 'background': $neutral200, 'border': $neutral200)
        )
);
.btn__text--box {
  // 구글 로그인 버튼
  // 카카오 로그인 버튼
  @each $theme, $value in $button-themes-social {
    &.#{$theme} {
      border-color: map-get($value, 'default', 'border');
      background-color: map-get($value, 'default', 'background');
      color: map-get($value, 'default', 'font');
      @if (map-get($value, 'default', 'shadow') != null) {
        box-shadow: map-get($value, 'default', 'shadow');
      }
      @if $theme == 'google' {
        @include backgroundImage($icon-folder-path + 'login/icon_google.svg', 1.5rem, no-repeat, 0.875rem, center, null); // 24px 14px
      } @else if $theme == 'kakao' {
        @include backgroundImage($icon-folder-path + 'login/icon_kakao.svg', 1.5rem, no-repeat, 0.875rem, center, null); // 24px 14px
      }
      &:focus {
        border-color: map-get($value, 'focus', 'border');
        background-color: map-get($value, 'focus', 'background');
        color: map-get($value, 'focus', 'font');
        @if map-get($value, 'focus', 'shadow') != null {
          box-shadow: map-get($value, 'focus', 'shadow');
        }
      }
      &:hover {
        border-color: map-get($value, 'hover', 'border');
        background-color: map-get($value, 'hover', 'background');
        color: map-get($value, 'hover', 'font');
        @if map-get($value, 'hover', 'shadow') != null {
          box-shadow: map-get($value, 'hover', 'shadow');
        }
      }
      &:enabled:active,
      &:enabled.active {
        border-color: map-get($value, 'active', 'border');
        background-color: map-get($value, 'active', 'background');
        color: map-get($value, 'active', 'font');
        @if map-get($value, 'active', 'shadow') != null {
          box-shadow: map-get($value, 'active', 'shadow');
        }
      }
      &:disabled,
      &.disabled {
        border-color: map-get($value, 'disabled', 'border');
        background-color: map-get($value, 'disabled', 'background');
        color: map-get($value, 'disabled', 'font');
        @if map-get($value, 'disabled', 'shadow') != null {
          box-shadow: map-get($value, 'disabled', 'shadow');
        }
        @if $theme == 'google' {
          @include backgroundImage($icon-folder-path + 'login/icon_google_disabled.svg', 1.5rem, no-repeat, 0.875rem, center, null); // 24px 14px
        } @else if $theme == 'kakao' {
          @include backgroundImage($icon-folder-path + 'login/icon_kakao_disabled.svg', 1.5rem, no-repeat, 0.875rem, center, null); // 24px 14px
        }
      }
    }
  }

  // 로그인 되돌아가기
  &.signup-return { margin-left: 2.5rem; } // 40px
  // 세션 Invalid > 로그인 되돌아가기
  &.session-return { margin-top: 6.25rem; }
}

////////////////////////// element //////////////////////////
.portal-container {
  label {
    display: inline-block;
    margin: 1rem 0 0.5rem 0; // 16px 0 8px 0
  }

  summary {
    cursor: pointer;
    &:focus { outline: none; }
  }

  .tbl {
    &__body {
      display: block;
      height: 35rem; // 560px
      tr {
        display: table;
        width: 100%;
        height: 2.688rem; // 43px
        table-layout: fixed;
      }
    }
    &.card-table {
      tr { height: 2.5rem; } // 40px
    }
  }
}

////////////////////////// layout //////////////////////////
/*
 * portal-container - header : 상단
 *                  - main : 메인 (스크롤바)
 *                         - main-banner : 배너, 인사말
 *                         - main-header : 메인 상단 (FAQ, 자료실, 공지사항 메인 상단)
 *                         - main-search : 검색 영역
 *                         - main-content : 내용, 검색 결과 영역
 */
@include keyframe (slideDown) {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@include keyframe (slideUp) {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.portal-container {
  @include container;
  overflow: auto;
  width: 100vw;
  height: 100vh;
  // 포탈 상단
  .header {
    @include fixedHeader;
    align-items: center;
    max-width: 120rem;
    height: 3.125rem; // 50px
    padding: 0 1.25rem; // 0 20px
    background-color: $blue500;
    color: $white;;
    font-size: $font-size-s;
    font-weight: $font-weight-medium;
    .name {
      padding: 0 0.9375rem; // 0 15px
      font-size: 1.125rem; // 18px
    }
    // 상단이 존재하면
    + .main { top: 3.125rem }; // 50px
  }
  // 포탈 메인
  .main {
    @include fixed(0, 0, 0, 0);
    overflow-y: auto;
    max-width: 120rem;
    margin: 0 auto;
    @include scrollbarHidden;

    .main-content {
      height: 100%;
      .main-banner {
        height: 8.75rem; // 140px
        background-color: $neutral50;
        .title { padding: 3.75rem 0 1.875rem 0; } // 60px 0px 30px 0px
      }

      .main-search {
        @include border(0.0625rem, solid, $gray300 ,bottom);
        height: 6.25rem; // 100px
        padding: 1.875rem 0; // 30px 0
        background-color: $neutral50;

        // 포탈 메인 화면이 슬라이딩 되면, 리스트 영역의 너비가 변경됨
        &.slide-up {
          + .main-card .card-list { height: calc(8.75rem + 40.438rem); }// 140px 647px
        }
        &.slide-down {
          + .main-card .card-list { height: 40.438rem; } // 647px
        }
      }

      // 카드 형태 (포탈 메인)
      .main-card {
        // 포탈 메인 검색 전 화면
        .card-group {
          padding: 3.4375rem 13.75rem 0 13.75rem; // 55px 220px 0 220px
          .card {
            @include border(0.0625rem, solid, $gray300, all);
            width: 30rem; // 480px
            &-header { padding-top: 3.4375rem; } // 55px

            // 목록
            &-list-summary {
              padding: 2.188rem 1.875rem 2.813rem 1.875rem; // 35px 30px 45px 30px

              table {
                th, td {
                  padding: 0 1.25rem 0 1.25rem; // 0 20px
                  vertical-align: middle;
                  &:hover { background-color: $neutral200; }
                  a { color: $gray600; }
                }
              }
            }
          }
        }
        // 포탈 메인 검색 후 결과 화면
        .card-list {
          height: 40.438rem; // 647px
          padding: 2.625rem 22.5rem 0 22.5rem; // 42px 360px 0 360px

          .card-row {
            @include border(0.0625rem, solid, $gray300, bottom);
            width: 100%;
            padding: 0.8125rem 0; // 13px 0
            // 마지막 row
            &:last-child {
              margin: 0 0 3.125rem 0; //50px
              border-bottom: none;
            }

            .card-item {
              &-box { width:  68.13rem; } // 1090px
              &-title {
                padding-bottom: 0.5rem; // 8px
                a {
                  color: $neutral800;
                  .keyword { color: $blue500; }
                }
              }

              &-content {
                color: $gray600;
                font-size: $font-size-s;
                font-weight: $font-weight-regular;
                .keyword { color: $blue500; }
              }
            }
            // 검색 데이터가 없을 때
            .no-data {
              width: 100%;
              height: 100%;
              margin: 4.375rem 0 0 0; //70px
              color: $gray400;
            }
          }
        }
      }

      // 검색 영역
      .main-header {
        @include border(0.0625rem, solid, $gray300, bottom); // 1px
        padding: 0 13.75rem 0 13.75rem; // 220px
        background-color: $neutral50;

        .page-title { padding: 2.5rem 0; }  // 40px 0
        .page-search {
          .search-count {
            color: $neutral600;
            font-family: $font-family;
            font-weight: $font-weight-medium;
            font-size: 0.875rem;
          }
        }
      }

      // 페이징
      .list-content {
        height: 40.438rem; // 647px
        padding: 1.5rem 13.75rem 0 13.75rem; // 24px 220px

        .table {
          @include relative();
          border: none;
        }

        + .pagination {
          padding: 0 13.75rem 1.875rem 13.75rem; // 0 220px 30px 220px
          #spanCurrentPageNum { @include absolute($right: 13.75rem); }
        }
      }

      // 아코디언
      .main-accordion {
        margin: 3.375rem 13.75rem 0 13.75rem; // 54px 220px 0 220px
        // FAQ
        .faq {
          // level 1
          &-group {
            @include relative();
            @include border(0.0625rem, solid, $gray300, all);
            @include borderRadius(0.0625rem); // 1px
            min-height: 3.438rem; // 55px
            margin-bottom: 0.625rem; // 10px

            &-title {
              @include border(0.0625rem, solid, transparent, bottom); // 1px
              height: 3.438rem; // 55px
              padding: 1.25rem 0.9375rem; // 20px 15px
              color: $gray600;
              font-size: $font-size-m;
              font-weight: $font-weight-medium;
              // 그룹일 경우 summary의 화살표 숨김
              &::-webkit-details-marker { display: none; }

              .ic-plus, .ic-minus {
                @include absolute($top: 0.9375rem, $right: 0.9375rem); // 15px 15px
                display: inline-block;
                background: $gray500;
              }
              .ic-plus { opacity: 1; }
              .ic-minus { opacity: 0; }
            }
            &[open] {
              @include border(0.0625rem, solid, $blue500, all); // 1px
              .faq-group-title {
                border-bottom-color: $blue500;
                color: $blue500;
                .ic-plus { opacity: 0; }
                .ic-minus {
                  background: $blue500;
                  opacity: 1;
                }
              }
              .faq-row { background-color: $blue100; }
            }
          }
          // level 2
          &-row {
            padding: 1.25rem 1.875rem 0 1.875rem; // 20px 30px 0px 30px
            &:first-of-type { padding-top: 2.188rem; } // 35px
            &:last-of-type { padding-bottom: 2.188rem; } // 35px

            &-title {
              color: $gray600;
              font-size: $font-size-s;
              font-weight: $font-weight-medium;
            }

            &[open] { @include horizontalBar(0.0625rem, 0.9375rem 0, $blue500); }
          }
          // level 3
          &-row-content {
            margin: 1.25rem 1.063rem 0 0; // 20px 17px
            color: $gray800;
            font-size: $font-size-s;
            font-weight: $font-weight-regular;
          }
        }
      }

      // 보기 화면 : 자료실, 공지사항
      .main-view {
        @include portalViewTemplate();
        margin: 3.375rem 13.75rem 0 13.75rem; // 54px 220px 0 220px
      }

      // 분할 화면 : 로그인, 회원가입, 세션, 에러 , 인증메일
      // 분할 화면 - 횐쪽
      .vertical-split-left {
        // 로고
        .i-logo-white { @include relative($top: 5rem, $left: 5rem); }
        .i-logo {
          @include relative($top: -59.1875rem); // -947px
          margin: 5rem 0 0 5rem; // 80px 0 0 80x
        }

        // 로그인
        &.login-background {@include backgroundImage('#{$image-folder-path}login/img_login_main.png', null, no-repeat, 0, 0, $blue500);
          overflow: hidden;
          width: calc(100vw - 38.13rem); // 610px
          height: 100%;
        }

        // 회원 가입
        &.signup-background {
          @include backgroundImage('#{$image-folder-path}signup/img_signup_main.png', null, no-repeat, 0, 0, $blue500);
          overflow: hidden;
          width: calc(100vw - 38.13rem); // 610px
          height: 100%;

          // 로그인 버튼 영역
          .signup-login-face {
            top: 5rem; // 80px
            margin: 5rem 5rem 0 0; // 80px 80px 0 0
            // 계정이 있으신가요? 문구
            .signup-login-note {
              color: $white;
              font-weight: $font-weight-medium;
              vertical-align: middle;
            }
          }
        }

        // 세션
        &.session-background {
          @include backgroundImage('#{$image-folder-path}session/img_session_main.png', null, no-repeat, 0, 0, $gray50);
          overflow: hidden;
          width: 50vw;
          height: 100vh;
        }

        // 에러
        &.error-background {
          @include backgroundImage('#{$image-folder-path}error/img_error_caution.png', null, no-repeat, 0, 0, $blue50);
          overflow: hidden;
          width: 50vw;
          height: 100vh;
        }

        // 인증메일
        &.email-certificate-background {
          overflow: hidden;
          width: 50vw;
          height: 100vh;
          background-color: $neutral50;
        }
      }

      // 분할 화면 - 오른쪽
      .vertical-split-right {
        // 로그인
        &.login-form {
          width: 38.13rem; // 610px
          padding: 8.5rem 4.0625rem 0 4.0625rem; // 136px 65px 0 65px
          h1 {
            height: 2.313rem; // 37px
            margin-bottom: 3.75rem; // 60px
          }

          .login-base-form { margin-bottom: 1rem; }  // 16px
          .login-divide {
            flex-basis: 100%;
            margin: 4rem 0 4rem 0; // 64px 0 64px 0
            color: $gray400;
            font-size: $font-size-s;

            &::before {
              content: '';
              flex-grow: 1;
              height: 0.063rem; // 1px
              margin-right: 1rem; // 16px
              background: $gray300;
            }
            &::after {
              content: '';
              flex-grow: 1;
              height: 0.063rem; // 1px
              margin-left: 1rem; // 16px
              background: $gray300;
            }
          }

          .login-platform {
            .btn__text--box {
              margin-bottom: 1rem; // 16px
              &:last-child { margin: 0; }
            }
          }

          .login-other {
            @include verticalBar(1.25rem, 2.5rem, 0.0625rem solid $gray300, 0 1.875rem 0 0); // 30px,  40px
            height: 1.063rem; // 17px
            margin-top: 6.188rem; // 99px
            color: $gray800;
            font-size: $font-size-s;
            font-weight: $font-weight-regular;
            a { color: $gray800; }

            &-signUp,
            &-findPwd,
            &-findId { flex: 1 0 auto; }
          }
        }

        // 회원 가입
        &.signup-form {
          width: 38.13rem; // 610px
          padding: 5.6875rem 4.0625rem 0 4.0625rem; // 91px 65px 0 65px
          .signup-base-form { @include relative(); } // tooltip 영역 지정 용도
        }

        // 세션
        &.session-form {
          @include border(0.0625rem, solid, $gray300, left);
          width: 50vw;
          padding: 21.5625rem 6.25rem; // 345px 100px

          h1 {
            color: $gray800;
            line-height: 1.7;
          }
          // 세션 카운트
          .session-count-txt { color: $blue500; }
        }

        // 에러
        &.error-form {
          @include border(0.0625rem, solid, $gray300, left);
          width: 50vw;
          padding: 16.875rem 5.625rem; // 270px 90px

          h1 {
            color: $gray800;
            line-height: 1.7;
          }

          .error-code-txt {
            margin: 1.25rem 0; // 20px
            color: $blue500;
          }

          .error-bottom-txt {
            margin: 5rem 0; // 80px
            color: $gray600;
          }
        }

        // 인증메일
        &.email-certificate-form {
          @include border(0.0625rem, solid, $gray300, left);
          width: 50vw;
          padding: 21.5625rem 6.25rem; // 345px 100px

          h1 {
            color: $gray800;
            line-height: 1.7;
          }

          h3 {
            color: $gray600;
            margin: 1.25rem 0 5rem 0; // 20px 0 80px 0
          }
        }
      }
    }
  }
}
// 슬라이드 효과
.slide-down {
  @include animation(0s, 0.3s, slideDown, ease-out);
  display: block;
}
.slide-up { @include animation(0s, 0.3s, slideUp, ease-out); }
// 공지사항 상단 공지
.notice-pinned { background-color: $blue100; }
// 데이터 없을 때
.no-data-found { background-color:$neutral200; }