<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/itsm/pageType/treeEditLayout}">
<head>
    <title th:text="#{cmdb.class.label.management}"></title>
</head>
<body>
<th:block layout:fragment="pageHead">
    <script th:src="@{/assets/js/lib/zPageMutationObserver.js}"></script>
</th:block>
<div layout:fragment="pageTitle">
    <h1 th:text="#{cmdb.class.label.management}"></h1>
    <h6 class="description ml-2 pl-2" th:text="#{cmdb.class.msg.editDescription}"></h6>
</div>
<div layout:fragment="pageSearching">
    <input type="text" class="input i-search col-5 mr-2" id="search" name="search" maxlength="100"
           th:placeholder="#{cmdb.class.label.searchPlaceholder}"/>
    <span id="totalCount" class="search-count"></span>
    <div class="ml-auto">
        <button type="button" class="btn__text--box btn--primary" id="btnCreate" name="btnCreate" onclick="onCreate();"
                sec:authorize="hasAuthority('cmdb.manage')" th:text="#{common.btn.add}"></button>
    </div>
</div>
<div layout:fragment="pageTree">
    <div id="treeList"></div>
</div>
<div layout:fragment="pageEdit">
    <div class="edit-form flex-fill">
        <input type="hidden" id="txtClassId" name="txtClassId"/>
        <input type="hidden" id="txtPClassId" name="txtPClassId"/>
        <div class="edit-row flex-column">
            <label class="form-title" th:text="#{cmdb.class.label.pClassName}" for="txtPClassName"></label>
            <input type="text" class="input text-ellipsis" id="txtPClassName" name="txtPClassName" maxlength="128" readonly/>
        </div>
        <div class="edit-row flex-column">
            <label class="required" th:text="#{cmdb.class.label.name}" for="txtClassName"></label>
            <input type="text" class="input" id="txtClassName" name="txtClassName" maxlength="100"/>
        </div>
        <div class="edit-row flex-column">
            <label class="form-title" th:text="#{cmdb.class.label.description}" for="txtClassDesc"></label>
            <textarea id="txtClassDesc" name="txtClassDesc" th:maxlength="500" th:rows="7"
                      class="textarea textarea-scroll-wrapper"></textarea>
        </div>
        <div class="edit-row flex-column">
            <label class="required" th:text="#{cmdb.class.label.seq}" for="txtClassSeq"></label>
            <input type="text" class="input" id="txtClassSeq" name="txtClassSeq" maxlength="4"
                   onKeyup="this.value=this.value.replace(/[^0-9]/g,'');"/>
        </div>
        <div class="edit-row flex-column">
            <div class="flex-row justify-content-between">
                <label th:text="#{cmdb.class.label.alarm}"></label>
                <button type="button" class="btn__icon btn--extra float-right" name="alarmConditionButton"
                        onclick="addAlarmCondition()" sec:authorize="hasAuthority('cmdb.manage')">
                    <span class="icon i-plus"></span>
                </button>
            </div>
            <div class="horizontal-bar"></div>
            <div id="alarmList" tabindex="-1">
                <div class="flex-row edit-row justify-content-between">
                    <label class="col-pct-3" th:text="#{cmdb.class.label.alertItem}"></label>
                    <label class="col-pct-4" th:text="#{cmdb.class.label.condition}"></label>
                    <label class="col-pct-3" th:text="#{cmdb.class.label.alertTarget}"></label>
                    <label style="width: 34px;" id="alarmDelete"><!-- 삭제 버튼 영역 너비는 고정됨 --></label>
                </div>
            </div>
        </div>
        <div class="edit-row flex-column flex-fill">
            <div class="flex-row justify-content-between">
                <label class="required" th:text="#{cmdb.class.label.attributeList}"></label>
                <button type="button" sec:authorize="hasAuthority('cmdb.manage')"
                        class="btn__icon btn--extra float-right" id="attribute-add" name="classAttributeButton"
                        onclick="openClassAttributeListModal()">
                    <span class="icon i-plus"></span>
                </button>
            </div>
            <div class="horizontal-bar"></div>
            <div id="extendsAttributeList"></div>
            <div id="attributeList"></div>
        </div>
        <div class="flex-row justify-content-end">
            <div class="btn__list" sec:authorize="hasAuthority('cmdb.manage')">
                <button type="button" class="btn__text--box btn--primary" id="btnRegister" name="btnRegister"
                        th:onclick="|javascript:onSave('POST')|" th:text="#{common.btn.register}"></button>
                <button type="button" class="btn__text--box btn--primary" id="btnUpdate" name="btnUpdate"
                        th:onclick="|javascript:onSave('PUT')|" th:text="#{common.btn.modify}"></button>
                <button type="button" class="btn__text--box btn--danger" id="btnDelete" name="btnDelete"
                        th:onclick="|javascript:zAlert.confirm(i18n.msg('common.msg.confirmDelete'), onDelete)|"
                        th:text="#{common.btn.delete}"></button>
            </div>
        </div>
    </div>
    <template id="alarmConditionTemplate">
        <div class="flex-row edit-row justify-content-between alarm">
            <select class="col-pct-3" id="alarmAttributeId">
                <option selected="selected" th:text="#{common.label.notSelect}" value=""></option>
            </select>
            <div class="flex-row justify-content-between col-pct-4" id="alarmCondition">
                <input type="text" class="input col-pct-2" id="periodValue" maxlength="3"
                       onkeydown="return onlyNumber(event)" onkeyup="aliceJs.removeChar(event)">
                <select class="col-pct-5 mr-1 ml-1" id="unitValue">
                    <option selected="selected" th:text="#{cmdb.class.label.month}" value="month"></option>
                    <option th:text="#{cmdb.class.label.day}" value="day"></option>
                </select>
                <select class="col-pct-5" id="optionValue">
                    <option selected="selected" th:text="#{cmdb.class.label.before}" value="before"></option>
                    <option th:text="#{cmdb.class.label.after}" value="after"></option>
                </select>
            </div>
            <select class="col-pct-3" id="alarmTargetAttributeId">
                <option selected="selected" th:text="#{common.label.notSelect}" value=""></option>
            </select>
            <button class="item-remove ml-2 mr-2 mt-auto mb-auto" name="alarmCondition"
                    onclick="deleteAlarmCondition(event)">
                <span class="icon i-remove"></span>
            </button>
        </div>
    </template>
</div>
</body>
<script layout:fragment="pageScript" type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    let extendsAttributeList = document.getElementById('extendsAttributeList');
    let attributeList = document.getElementById('attributeList');
    let classAttributeMap = new Map();
    let observer = aliceJs.pageObserver;

    window.onload = function() {
        observer.set();
        document.getElementById('search').focus();
        onCreate();

        getCIClassList();
        document.getElementById('search').addEventListener('keyup', aliceJs.debounce (() => getCIClassList()), false);

        OverlayScrollbars(document.querySelector('.page-tree'), { className: 'scrollbar' });
        OverlayScrollbars(document.querySelector('.page-edit'), { className: 'scrollbar' });
        OverlayScrollbars(document.getElementById('txtClassDesc'), {
            className: 'scrollbar',
            resize: 'vertical',
            sizeAutoCapable: true,
            textarea: {
                dynHeight: false,
                dynWidth: false,
                inheritedAttrs: 'class'
            }
        });
    };

    /** CMDB Class 상세 정보 **/
    function onGetDetail(ciClassId) {
        if (!observer.canPageChange()) {
            return;
        }
        aliceJs.fetchJson('/rest/cmdb/classes/' + encodeURIComponent(ciClassId), {
            method: 'GET'
        }).then((response) => {
            if (response.status !== aliceJs.response.success) {
                zAlert.danger(i18n.msg('cmdb.type.msg.selectAvailableClass'));
                return false;
            }

            document.getElementById('txtClassId').value = response.data.classId;
            document.getElementById('txtPClassId').value = response.data.pclassId;
            document.getElementById('txtPClassName').value = response.data.pclassName;
            // 속성그룹 이름
            const txtClassName = document.getElementById('txtClassName');
            txtClassName.value = response.data.className;
            // 설명
            const txtClassDesc = document.getElementById('txtClassDesc');
            txtClassDesc.value = response.data.classDesc;
            // 정렬 순서
            const txtClassSeq = document.getElementById('txtClassSeq');
            txtClassSeq.value = response.data.classSeq;
            // 속성 목록
            while (extendsAttributeList.hasChildNodes()) {
                extendsAttributeList.removeChild(extendsAttributeList.firstChild);
            }
            while (attributeList.hasChildNodes()) {
                attributeList.removeChild(attributeList.firstChild);
            }
            if (response.data.extendsAttributes !== null) {
                response.data.extendsAttributes.forEach(function(data) {
                    drawAttribute({
                        key: data.attributeId,
                        value: data.attributeName
                    }, 'extendsAttribute', false);
                });
            }
            classAttributeMap.clear();
            if (response.data.attributes !== null) {
                response.data.attributes.forEach(function(data) {
                    classAttributeMap.set(data.attributeId, data.attributeName);
                    drawAttribute({
                        key: data.attributeId,
                        value: data.attributeName
                    }, 'attribute', true);
                });
            }

            if (response.data.editable) {
                if (document.getElementById('btnUpdate') != null) {
                    document.getElementById('btnUpdate').removeAttribute('disabled');
                }
                if (document.getElementById('btnDelete') != null) {
                    document.getElementById('btnDelete').removeAttribute('disabled');
                    document.getElementById('alarmDelete').hidden = false; // 알림설정 header > 삭제 아이콘 영역 원복
                }
                if (document.querySelectorAll('button[name=alarmCondition]').length > 0) {
                    document.querySelectorAll('button[name=alarmCondition]')
                        .forEach((elem) => elem.removeAttribute('disabled'));
                }
                if (document.querySelector('button[name=alarmConditionButton]') != null) {
                    document.querySelector('button[name=alarmConditionButton]').removeAttribute('disabled');
                }
                if (document.querySelectorAll('button[name=classAttributeButton]').length > 0) {
                    document.querySelectorAll('button[name=classAttributeButton]')
                        .forEach((elem) => elem.removeAttribute('disabled'));
                }
                document.querySelector('.textarea').classList.remove('textarea-readonly');
                txtClassName.readOnly = false;
                txtClassDesc.readOnly = false;
                txtClassSeq.readOnly = false;
                txtClassName.previousElementSibling.classList.add('required');
                txtClassSeq.previousElementSibling.classList.add('required');
                attributeList.parentElement.firstElementChild.firstElementChild.classList.add('required');
            } else {
                if (document.getElementById('btnUpdate') != null) {
                    document.getElementById('btnUpdate').disabled = true;
                }
                if (document.getElementById('btnDelete') != null) {
                    document.getElementById('btnDelete').disabled = true;
                }
                if (document.querySelector('button[name=alarmConditionButton]') != null) {
                    document.querySelector('button[name=alarmConditionButton]').disabled = true;
                    document.getElementById('alarmDelete').hidden = true; // 알림설정 header > 삭제 아이콘 영역 hidden
                }
                if (document.querySelectorAll('button[name=alarmCondition]').length > 0) {
                    document.querySelectorAll('button[name=alarmCondition]').forEach((elem) => elem.disabled = true);
                }
                if (document.querySelectorAll('button[name=classAttributeButton]').length > 0) {
                    document.querySelectorAll('button[name=classAttributeButton]').forEach((elem) => elem.disabled = true);
                }
                document.querySelector('.textarea').classList.add('textarea-readonly');
                txtClassName.readOnly = true;
                txtClassDesc.readOnly = true;
                txtClassSeq.readOnly = true;
                txtClassName.previousElementSibling.classList.remove('required');
                txtClassSeq.previousElementSibling.classList.remove('required');
                attributeList.parentElement.firstElementChild.firstElementChild.classList.remove('required');
            }
            onEdit();

            // 트리 선택시 기존 알림 삭제
            const alarmList = document.getElementById('alarmList');
            while (alarmList.children.length > 1) {
                alarmList.children[1].remove();
            }
            // 알림 설정 추가
            setAlarmCondition(response.data);

            observer.isChanged = false;
        });
    }

    function getCIClassList() {
        const search = encodeURIComponent(document.getElementById('search').value);
        tree.load({
            source: 'ciClass',
            dataUrl: '/rest/cmdb/classes?search=' + search,
            target: 'treeList',
            text: 'className',
            totalCount: true,
            onCreate: function() {
                document.getElementById('treeList').querySelector('.node').click();
            },
            selectedNode: function(response) {
                onGetDetail(response.id);
            }
        });
    }

    /** 추가 버튼 **/
    function onCreate() {
        if (!observer.canPageChange()) {
            return;
        }
        while (extendsAttributeList.hasChildNodes()) {
            extendsAttributeList.removeChild(extendsAttributeList.firstChild);
        }
        while (attributeList.hasChildNodes()) {
            attributeList.removeChild(attributeList.firstChild);
        }
        classAttributeMap.clear();

        if (document.getElementById('btnUpdate') != null) {
            document.getElementById('btnUpdate').style.display = 'none';
        }
        if (document.getElementById('btnDelete') != null) {
            document.getElementById('btnDelete').style.display = 'none';
        }
        if (document.getElementById('btnRegister') != null) {
            document.getElementById('btnRegister').style.display = 'block';
        }

        document.getElementById('txtClassId').value = '';
        document.getElementById('txtPClassId').value = '';
        // 속성그룹 이름
        const txtClassName = document.getElementById('txtClassName');
        txtClassName.value = '';
        txtClassName.readOnly = false;
        // 설명
        const txtClassDesc = document.getElementById('txtClassDesc');
        txtClassDesc.value = '';
        txtClassDesc.readOnly = false;
        document.querySelector('.textarea').classList.remove('textarea-readonly');
        // 정렬 순서
        const txtClassSeq = document.getElementById('txtClassSeq');
        txtClassSeq.value = '';
        txtClassSeq.readOnly = false;

        txtClassName.previousElementSibling.classList.add('required');
        txtClassSeq.previousElementSibling.classList.add('required');
        attributeList.parentElement.firstElementChild.firstElementChild.classList.add('required');
        document.querySelector('button[name=alarmConditionButton]').disabled = false;
        document.querySelector('button[name=classAttributeButton]').disabled = false;

        let selectedNode = tree.getTreeSelectNode();
        if (selectedNode !== null) {
            document.getElementById('txtPClassName').value = selectedNode.dataset.name;
            document.getElementById('txtPClassId').value = selectedNode.id;
        }
        observer.isChanged = false;
    }

    function onEdit() {
        if (document.getElementById('btnUpdate') != null) {
            document.getElementById('btnUpdate').style.display = 'block';
        }
        if (document.getElementById('btnDelete') != null) {
            document.getElementById('btnDelete').style.display = 'block';
        }
        if (document.getElementById('btnRegister') != null) {
            document.getElementById('btnRegister').style.display = 'none';
        }
    }

    /**
     * 저장시 알림 목록 조회
     */
    function getSaveAlarmList() {
        const saveAlarmsList = [];
        const alarmNodeList = document.querySelectorAll('.alarm');

        if (!alarmNodeList.length) { return saveAlarmsList; }

        let isValid = true;
        outer : for (let i = 0; i < alarmNodeList.length; i++) {
            const saveAlarm = { condition: {} };
            // 감시항목 미선택시
            const alarmAttributeId = alarmNodeList[i].querySelector('#alarmAttributeId');
            const selectedAlarmAttributeId = alarmAttributeId.options[alarmAttributeId.selectedIndex].value;
            if (alarmAttributeId && selectedAlarmAttributeId === '') {
                isValid = false;
                zAlert.warning(i18n.msg('cmdb.class.msg.selectAlertItem'), function() {
                    alarmAttributeId.focus();
                });
                break outer;
            }
            saveAlarm.attributeId = selectedAlarmAttributeId;

            // 조건 미입력시
            const period = alarmNodeList[i].querySelector('#periodValue');
            if (period && period.value === '') {
                isValid = false;
                zAlert.warning(i18n.msg('cmdb.class.msg.enterCondition'), function() {
                    period.focus();
                });
                break outer;
            }
            saveAlarm.condition.period = period.value;
            const unit = alarmNodeList[i].querySelector('#unitValue');
            saveAlarm.condition.unit = unit.options[unit.selectedIndex].value;
            const option = alarmNodeList[i].querySelector('#optionValue');
            saveAlarm.condition.option = option.options[option.selectedIndex].value;

            // 대상 미선택시
            const alarmTargetAttributeId = alarmNodeList[i].querySelector('#alarmTargetAttributeId');
            const selectedAlarmTargetAttributeId
                = alarmTargetAttributeId.options[alarmTargetAttributeId.selectedIndex].value;
            if (alarmTargetAttributeId && selectedAlarmTargetAttributeId === '') {
                isValid = false;
                zAlert.warning(i18n.msg('cmdb.class.msg.selectAlertTarget'), function() {
                    alarmTargetAttributeId.focus();
                });
                break outer;
            }
            saveAlarm.targetAttributeId = selectedAlarmTargetAttributeId;

            saveAlarmsList.push(saveAlarm);
        }
        // 중복 체크
        const saveAlarmsSet = new Set(saveAlarmsList.map(alarm => JSON.stringify(alarm)));
        if (saveAlarmsSet.size < saveAlarmsList.length) {
            isValid = false;
            zAlert.warning(i18n.msg('cmdb.class.msg.duplicateAlarm'), function() {
                document.getElementById('alarmList').focus();
            });
        }

        return isValid ? saveAlarmsList : null;
    }

    /** CMDB Class 등록, 수정 **/
    function onSave(flag) {
        // 유효성 검증
        if (isEmpty('txtClassName', 'cmdb.class.msg.enterClassName')) return false;
        if (isEmpty('txtClassSeq', 'cmdb.class.msg.enterClassSeq')) return false;

        const saveAlarmsList = getSaveAlarmList();
        if (saveAlarmsList === null) return false;

        // 속성 목록
        const attributeNodeList = document.getElementsByName('attribute');
        if (!attributeNodeList.length) {
            zAlert.warning(i18n.msg('cmdb.class.msg.enterAttributeList'));
            return false;
        }
        const saveAttributeList = [];
        attributeNodeList.forEach(function(elem) {
            saveAttributeList.push(elem.id);
        });

        const saveData = {
            classId: document.getElementById('txtClassId').value,
            className: document.getElementById('txtClassName').value,
            classDesc: document.getElementById('txtClassDesc').value,
            classSeq: document.getElementById('txtClassSeq').value,
            attributes: saveAttributeList,
            alarms: saveAlarmsList
        };

        const pClassId = document.getElementById('txtPClassId');
        if (pClassId !== null && pClassId.value !== '') {
            saveData.pclassId = pClassId.value;
        }

        let strUrl = '/rest/cmdb/classes';
        if (flag !== 'POST') {
            strUrl += '/' + document.getElementById('txtClassId').value;
        }
        const resultMsg = (flag === 'POST') ? i18n.msg('common.msg.register') : i18n.msg('common.msg.update');
        aliceJs.fetchJson(strUrl, {
            method: flag,
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(saveData)
        }).then((response) => {
            switch (response.status) {
                case aliceJs.response.success:
                    if (response.data) {
                        zAlert.success(resultMsg, function() {
                            window.location.href = '/cmdb/class/edit';
                        });
                    }
                    break;
                case aliceJs.response.error:
                    zAlert.danger(i18n.msg('common.msg.fail'));
                    break;
                default :
                    break;
            }
        });
    }

    /** CMDB Class 삭제 **/
    function onDelete() {
        aliceJs.fetchJson('/rest/cmdb/classes/' + document.getElementById('txtClassId').value, {
            method: 'DELETE'
        }).then((response) => {
            switch (response.status) {
                case aliceJs.response.success:
                    zAlert.success(i18n.msg('common.msg.delete'), function() {
                        window.location.href = '/cmdb/class/edit';
                    });
                    break;
                case aliceJs.response.exist:
                    zAlert.warning(i18n.msg('cmdb.class.msg.relatedTypes'));
                    break;
                case aliceJs.response.error:
                    zAlert.danger(i18n.msg('common.msg.fail'));
                    break;
                default:
                    break;
            }
        });
    }

    function drawAttribute(param, target, editable) {
        const divRow = document.createElement('div');
        divRow.name = 'attributeDiv';
        divRow.className = 'edit-row flex-row mb-2';

        const inputElem = document.createElement('input');
        inputElem.type = 'text';
        inputElem.id = param.key;
        inputElem.name = target;
        inputElem.value = (typeof param !== 'undefined') ? param.value : '';
        inputElem.classList.add('input', 'attribute');
        inputElem.readOnly = true;

        divRow.appendChild(inputElem);

        if (document.getElementById('attribute-add') != null) {
            const deleteBtn = document.createElement('button');
            deleteBtn.className = 'item-remove ml-2 mr-2 mt-auto mb-auto';
            deleteBtn.name = 'classAttributeButton';
            const deleteIcon = document.createElement('span');
            deleteIcon.className = 'icon i-remove';
            deleteBtn.appendChild(deleteIcon);
            deleteBtn.addEventListener('click', function() {
                zAlert.confirm(i18n.msg('cmdb.class.msg.confirmDeleteAttribute'), () => {
                    const row = deleteBtn.parentNode;
                    classAttributeMap.delete(inputElem.id);
                    row.remove();
                    observer.isChanged = true;
                });
            });
            if (editable) {
                divRow.appendChild(deleteBtn);
            }
        }
        if (editable) {
            document.getElementById('attributeList').appendChild(divRow);
            inputElem.readOnly = true;
        } else {
            document.getElementById('extendsAttributeList').appendChild(divRow);
        }
        observer.set();
    }

    function openClassAttributeListModal() {
        const classAttributeListModal = new modal({
            title: i18n.msg('cmdb.class.label.attributeList'),
            body: createModalContent(),
            classes: 'cmdb-class-attribute-modal',
            buttons: [{
                content: i18n.msg('common.btn.select'),
                classes: 'btn__text--box btn--primary',
                bindKey: false,
                callback: function(modal) {
                    while (attributeList.hasChildNodes()) {
                        attributeList.removeChild(attributeList.firstChild);
                    }
                    classAttributeMap.forEach(function(value, key) {
                        drawAttribute({
                            key: key,
                            value: value
                        }, 'attribute', true);
                    });
                    modal.hide();
                }
            }, {
                content: i18n.msg('common.btn.cancel'),
                classes: 'btn__text--box btn--secondary',
                bindKey: false,
                callback: function(modal) {
                    document.querySelectorAll('td> label> input[type= checkbox]').forEach((checkbox) => {
                        if (checkbox.checked && !checkbox.disabled) {
                            classAttributeMap.delete(checkbox.value);
                        }
                    });
                    modal.hide();
                }
            }],
            close: {
                closable: false,
            },
            onCreate: function() {
                document.getElementById('attributeSearch').addEventListener('keyup', aliceJs.debounce ((e) => {
                    getAttributeList(e.target.value, false);
                }), false);
                getAttributeList(document.getElementById('attributeSearch').value, true);
            }
        });
        classAttributeListModal.show();
    }

    function createModalContent() {
        return `<div class="cmdb-class-attribute-list">` +
            `<input class="input i-search text-ellipsis col-5 mr-2" type="text" name="search" id="attributeSearch" ` +
                `maxlength="100" placeholder="${i18n.msg('cmdb.attribute.label.searchPlaceholder')}"/>` +
            `<span id="spanTotalCount" class="search-count"></span>` +
            `<div class="table-set" id="ciClassAttributeList"></div>` +
            `</div>`;
    }

    function getAttributeList(search, showProgressbar) {
        let classId = document.getElementById('txtClassId').value;
        let strUrl = '/cmdb/class/view-pop/attributes?search=' + search.trim() + '&classId=' + classId;

        aliceJs.fetchText(strUrl, {
            method: 'GET',
            showProgressbar: showProgressbar
        }).then((htmlData) => {
            document.getElementById('ciClassAttributeList').innerHTML = htmlData;
            OverlayScrollbars(document.querySelector('.table-body'), { className: 'scrollbar' });
            aliceJs.showTotalCount(document.querySelectorAll('.attribute-list').length);
            document.querySelectorAll('input[type=checkbox]').forEach(function(checkbox) {
                checkbox.addEventListener('change', function(e) {
                    if (e.target.checked) {
                        classAttributeMap.set(e.target.value, e.target.name);
                    } else {
                        classAttributeMap.delete(e.target.value);
                    }
                });
                classAttributeMap.forEach(function(value, key) {
                    if (checkbox.value === key) {
                        checkbox.checked = true;
                        checkbox.disabled = true;
                    }
                });
            });
        });
    }

    /**
     * 기존 알림 설정 추가
     */
    function setAlarmCondition(data) {
        const alarmConditionTemplate = document.getElementById('alarmConditionTemplate');
        const alarmAttributeSelect = alarmConditionTemplate.content.querySelector('#alarmAttributeId');
        const alarmTargetAttributeSelect = alarmConditionTemplate.content.querySelector('#alarmTargetAttributeId');
        // 감시 항목 옵션 삭제
        while (alarmAttributeSelect.options.length > 1) {
            alarmAttributeSelect.remove(1);
        }
        // 감시 항목 옵션 추가
        const alarmAttributeOptions = data.alarmAttributes.map(function(opt) {
            return `<option value="${opt.attributeId}">${aliceJs.filterXSS(opt.attributeText)}</option>`;
        }).join('');
        alarmAttributeSelect.insertAdjacentHTML('beforeend', alarmAttributeOptions);

        // 대상 옵션 삭제
        while (alarmTargetAttributeSelect.options.length > 1) {
            alarmTargetAttributeSelect.remove(1);
        }
        // 대상 옵션 추가
        const alarmTargetAttributeOptions = data.alarmTargetAttributes.map(function(opt) {
            return `<option value="${opt.attributeId}">${aliceJs.filterXSS(opt.attributeText)}</option>`;
        }).join('');
        alarmTargetAttributeSelect.insertAdjacentHTML('beforeend', alarmTargetAttributeOptions);

        data.alarms.forEach((alarm) => {
            addAlarmCondition(alarm);
        });
    }

    /**
     * + 버튼 클릭시 알림 설정 신규 추가
     */
    function addAlarmCondition(
        data = { attributeId: '', condition: { period: '', unit: 'month', option: 'before' }, targetAttributeId: '' } ) {
        const alarmConditionTemplate = document.getElementById('alarmConditionTemplate');
        const alarmList = document.getElementById('alarmList');
        const alarm =  alarmConditionTemplate.content.cloneNode(true);
        // 기본 값 세팅
        alarm.querySelector('#alarmAttributeId').value = data.attributeId;
        alarm.querySelector('#periodValue').value = data.condition.period;
        alarm.querySelector('#unitValue').value = data.condition.unit;
        alarm.querySelector('#optionValue').value = data.condition.option;
        alarm.querySelector('#alarmTargetAttributeId').value = data.targetAttributeId;

        alarmList.appendChild(alarm);
        aliceJs.initDesignedSelectTag(alarm.content);
    }

    /**
     * 휴지통 버튼 클릭시 알림 삭제
     */
    function deleteAlarmCondition(e) {
        e.target.parentNode.remove();
    }

    /*]]>*/
</script>
</html>
