<!DOCTYPE html>
<html layout:decorate="~{layout/itsm/pageType/commonEditLayout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{pattern.label.pattern}"></title>
</head>
<body>
<div layout:fragment="pageTitle">
    <h1 th:text="#{pattern.label.pattern}"></h1>
    <h6 class="description ml-2 pl-2" th:text="#{pattern.msg.editDescription}"></h6>
</div>
<div layout:fragment="pageEdit">
    <div class="z-edit-form flex-fill">
        <div class="z-edit-row flex-column">
            <label th:classappend="${view}? '': 'required'" th:text="#{pattern.label.name}"></label>
            <input id="txtPatternId" name="txtPatternId" th:value="${pattern?.patternId}" type="hidden"/>
            <input class="z-input" id="txtPatternName" maxlength="100" name="txtPatternName"
                   th:readonly="${view}" th:value="${pattern?.patternName}" type="text"/>
        </div>
        <div class="z-edit-row flex-column">
            <label th:classappend="${view}? '': 'required'" th:text="#{pattern.label.type}"></label>
            <div class="flex-row mr-auto">
                <label class="z-radio">
                    <input id="numbering.pattern.text" name="patternType"
                           th:checked="${pattern?.patternType == null || pattern?.patternType == 'numbering.pattern.text'}"
                           th:classappend="${view} ? 'readonly'"
                           th:disabled="${view}"
                           th:onclick="${view} ? '' : 'changePatternValueInput(\'numbering.pattern.text\')'"
                           th:readonly="${view}"
                           type="radio">
                    <span></span>
                    <span class="z-label  mr-4" th:text="#{pattern.type.text}"></span>
                </label>
                <label class="z-radio">
                    <input id="numbering.pattern.date" name="patternType"
                           th:checked="${pattern?.patternType == 'numbering.pattern.date'}"
                           th:classappend="${view} ? 'readonly'"
                           th:disabled="${view}"
                           th:onclick="${view} ? '' : 'changePatternValueInput(\'numbering.pattern.date\')'"
                           th:readonly="${view}"
                           type="radio">
                    <span></span>
                    <span class="z-label mr-4" th:text="#{pattern.type.date}"></span>
                </label>
                <label class="z-radio">
                    <input id="numbering.pattern.sequence" name="patternType"
                           th:checked="${pattern?.patternType == 'numbering.pattern.sequence'}"
                           th:classappend="${view} ? 'readonly'"
                           th:disabled="${view}"
                           th:onclick="${view} ? '' : 'changePatternValueInput(\'numbering.pattern.sequence\')'"
                           th:readonly="${view}"
                           type="radio">
                    <span></span>
                    <span class="z-label" th:text="#{pattern.type.sequence}"></span>
                </label>
            </div>
        </div>
        <div class="z-edit-row flex-column"
             id="type-input-pattern"
             th:style="${pattern?.patternType == null || pattern?.patternType == 'numbering.pattern.text' || pattern?.patternType == 'numbering.pattern.sequence' ? '' : 'display: none'}">
            <label th:classappend="${view}? '': 'required'" th:text="#{pattern.label.value}"></label>
            <input class="z-input" id="txtPatternValue" maxlength="100" name="txtPatternValue"
                   th:readonly="${view}"
                   th:value="${pattern?.patternValue}" type="text">
        </div>
        <div class="z-edit-row flex-column"
             id="type-select-pattern"
             th:style="${pattern?.patternType == 'numbering.pattern.date' ? '': 'display: none'}">
            <label th:classappend="${view}? '': 'required'" th:text="#{pattern.label.value}"></label>
            <select class="select-date-time mr-1" id="selectPatternDateValue" name="selectPatternDateValue"
                    th:classappend="${view} ? 'readonly' : ''">
                <option th:each="date: ${dateList}" th:selected="${date.codeValue == pattern?.patternValue}"
                        th:text="${date.codeValue}" th:value="${date.code}"></option>
            </select>
        </div>
        <div class="flex-row justify-content-between z-edit-row">
            <div class="z-button-list">
                <a class="z-button secondary" href="/numberingPatterns/search" th:text="#{common.btn.list}"></a>
            </div>
            <div class="z-button-list">
                <button class="z-button primary" id="btnRegist" name="btnRegist"
                        sec:authorize="hasAuthority('numbering.pattern.create')"
                        th:if="!${pattern?.patternId}" th:onclick="|javascript:onSave('post')|"
                        th:text="#{common.btn.register}" type="button"></button>
                <button class="z-button primary" id="btnUpdate" name="btnUpdate"
                        sec:authorize="hasAuthority('numbering.pattern.update')"
                        th:if="${pattern?.patternId}" th:onclick="|javascript:onSave('put')|"
                        th:text="#{common.btn.modify}" type="button"></button>
                <button class="z-button secondary" id="btnDelete"
                        name="btnDelete"
                        sec:authorize="hasAuthority('numbering.pattern.delete')" th:if="${pattern?.patternId}"
                        th:onclick="|javascript:zAlert.confirm(i18n.msg('common.msg.confirmDelete'), onDelete)|"
                        th:text="#{common.btn.delete}"
                        type="button"></button>
            </div>
        </div>
    </div>
</div>
</body>
<script layout:fragment="pageScript" th:inline="javascript" type="text/javascript">
    /*<![CDATA[*/
    const STATUS_SUCCESS = '0';
    const STATUS_ERROR_PATTERN_USED = '1';
    const STATUS_ERROR_DUPLICATE_PATTERN_NAME = '2';

    window.onload = function () {
        OverlayScrollbars(document.querySelector('.z-page-content'), {className: 'scrollbar'});
    };

    /** 등록, 수정 기능 **/
    function onSave(flag) {
        const patternType = getPatternType();
        if (isEmpty('txtPatternName', 'pattern.msg.enterPatternName')) return;
        if (patternType !== 'numbering.pattern.date' && isEmpty('txtPatternValue', 'pattern.msg.enterPatternValue')) return;
        if (patternType === 'numbering.pattern.sequence' && isExistInScope('txtPatternValue', 1, 4, 'pattern.msg.enterPatternSequenceValue')) return;

        let obj = {};
        obj.patternId = document.getElementById('txtPatternId').value;//패턴 아이디
        obj.patternName = document.getElementById('txtPatternName').value;//패턴 명
        obj.patternType = patternType;

        if (patternType === 'numbering.pattern.text' || patternType === 'numbering.pattern.sequence') {
            obj.patternValue = document.getElementById('txtPatternValue').value;//패턴
        } else {
            obj.patternValue = document.getElementById('selectPatternDateValue').value;
        }

        let strUrl = '/rest/numberingPatterns';
        if (flag !== 'post') {
            strUrl += '/' + document.getElementById('txtPatternId').value;
        }
        const opt = {
            method: flag,
            url: strUrl,
            params: JSON.stringify(obj),
            contentType: 'application/json',
            callbackFunc: function (response) {
                switch (response.responseText) {
                    case STATUS_SUCCESS:
                        zAlert.success(i18n.msg('common.msg.save'), function () {
                            window.location.href = '/numberingPatterns/search';
                        });
                        break;
                    case STATUS_ERROR_PATTERN_USED:
                        zAlert.warning(i18n.msg('pattern.msg.usedPattern'));
                        break;
                    case STATUS_ERROR_DUPLICATE_PATTERN_NAME:
                        zAlert.warning(i18n.msg('pattern.msg.duplicatePatternName'));
                        break;
                    default:
                        zAlert.danger(i18n.msg('common.msg.fail'));
                        break;
                }
            }
        };
        aliceJs.sendXhr(opt);
    }

    /** 삭제 기능  **/
    function onDelete() {
        const opt = {
            method: 'delete',
            url: '/rest/numberingPatterns/' + encodeURIComponent(document.getElementById('txtPatternId').value),
            callbackFunc: function (response) {
                switch (response.responseText) {
                    case STATUS_SUCCESS:
                        zAlert.success(i18n.msg('common.msg.delete'), function () {
                            window.location.href = '/numberingPatterns/search';
                        });
                        break;
                    case STATUS_ERROR_PATTERN_USED:
                        zAlert.warning(i18n.msg('pattern.msg.usedPattern'));
                        break;
                    default:
                        zAlert.danger(i18n.msg('common.msg.fail'));
                        break;
                }
            }
        };
        aliceJs.sendXhr(opt);
    }

    /** 라디오 버튼 변경에 따른 패턴 값 입력 엘리먼트 화면 출력 변경 함수**/
    function changePatternValueInput(type) {
        document.getElementById('txtPatternValue').value = '';
        if (type === 'numbering.pattern.text') {
            document.getElementById('type-input-pattern').style.display = '';
            document.getElementById('type-select-pattern').style.display = 'none';
            document.getElementById('txtPatternValue').removeEventListener('keydown', onlyNumber);
            document.getElementById('txtPatternValue').removeEventListener('keyup', aliceJs.removeChar);
        } else if (type === 'numbering.pattern.sequence') {
            document.getElementById('type-input-pattern').style.display = '';
            document.getElementById('type-select-pattern').style.display = 'none';
            document.getElementById('txtPatternValue').addEventListener('keydown', onlyNumber);
            document.getElementById('txtPatternValue').addEventListener('keyup', aliceJs.removeChar);
        } else {
            document.getElementById('selectPatternDateValue')[0].selected = true;
            document.getElementById('type-input-pattern').style.display = 'none';
            document.getElementById('type-select-pattern').style.display = '';
            aliceJs.initDesignedSelectTag();
        }
    }

    function getPatternType() {
        let type = document.getElementsByName('patternType');
        for (let i = 0; i < type.length; i++) {
            if (type[i].checked) {
                return type[i].id;
            }
        }
    }

    /*]]>*/
</script>
</html>
