<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<table class="z-table">
    <thead class="z-table-head">
    <tr class="flex-row align-items-center">
        <th style="width:25%;" class="align-left" th:text="#{pattern.label.name}"></th>
        <th style="width:25%;" class="align-left" th:text="#{pattern.label.type}"></th>
        <th style="width:50%;" class="align-left" th:text="#{pattern.label.value}"></th>
    </tr>
    </thead>
    <tbody class="z-table-body">
    <tr class="flex-row align-items-center no-data-found-list" th:if="${#arrays.isEmpty(patternList)}">
        <td style="width:100%" colspan="3" class="align-center" th:text="#{common.msg.noData}"></td>
    </tr>
    <tr class="flex-row align-items-center" th:each="pattern : ${patternList}">
        <td style="width:25%;" class="align-left underline" th:id="${pattern.patternId}">
            <a sec:authorize="!hasAuthority('numbering.pattern.update')" th:text="${pattern.patternName}"
               th:href="@{/numberingPatterns/{id}/view(id=${pattern.patternId})}" th:title="${pattern.patternName}"></a>
            <a sec:authorize="hasAuthority('numbering.pattern.update')" th:text="${pattern.patternName}"
               th:href="@{/numberingPatterns/{id}/edit(id=${pattern.patternId})}" th:title="${pattern.patternName}"></a>
        </td>
        <td style="width:25%;" class="align-left" id="patternType" th:text="${pattern.patternType}" th:title="${pattern.patternType}"></td>
        <td style="width:50%;" class="align-left" id="patternValue" th:text="${pattern.patternValue}" th:title="${pattern.patternValue}"></td>
    </tr>
    </tbody>
</table>
<th:block th:insert="layout/itsm/fragment/totalCountFragment :: totalCountDataFragment"></th:block>
</body>
</html>
