<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-itsmurity"
      layout:decorator="layout/defaultLayout">
<head>
    <title th:text="#{pattern.label.pattern}"></title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="numbering-pattern-header">
        <div class="header-title flex-row align-items-baseline">
            <h1 th:text="#{pattern.label.pattern}"></h1>
            <h6 class="description" th:text="#{pattern.msg.editDescription}"></h6>
        </div>
        <div class="header-search flex-row">
            <input type="text" class="search col-5 mr-2" id="search" name="search" maxlength="100"
                   th:placeholder="#{pattern.msg.searchPlaceholder}"/>
            <span id="totalCount" class="txt-num"></span>
            <div class="ml-auto">
                <button type="button" class="default-fill" id="btnSearch" name="btnSearch" onclick="onCreate();"
                        sec:authorize="hasAuthority('numbering.pattern.create')" th:text="#{common.btn.add}"></button>
            </div>
        </div>
    </div>
    <div class="numbering-pattern-content flex-fill">
        <div class="list" id="patternList"></div>
    </div>
</th:block>
<th:block layout:fragment="aside">
    <div class="aside">
        <div class="numbering-pattern-content-edit flex-column">
            <div class="edit-form">
                <div class="edit-row flex-column">
                    <label th:text="#{pattern.label.name}" class="required"></label>
                    <input type="hidden" id="txtPatternId" name="txtPatternId"/>
                    <input type="hidden" id="txtPatternNameOrg" name="txtPatternNameOrg"/>
                    <input id="txtPatternName" name="txtPatternName" type="text" maxlength="100"/>
                </div>
                <div class="edit-row flex-column">
                    <label th:text="#{pattern.label.type}" class="required"></label>
                    <div class="flex-row mr-auto">
                        <label class="radio mr-4">
                            <input id="numbering.pattern.text" name="patternType" type="radio"
                                   onclick="changePatternValueInput('numbering.pattern.text')">
                            <span></span>
                            <span class="label" th:text="#{pattern.type.text}"></span>
                        </label>
                        <label class="radio mr-4">
                            <input id="numbering.pattern.date" name="patternType" type="radio"
                                   onclick="changePatternValueInput('numbering.pattern.date')">
                            <span></span>
                            <span class="label" th:text="#{pattern.type.date}"></span>
                        </label>
                        <label class="radio">
                            <input id="numbering.pattern.sequence" name="patternType" type="radio"
                                   onclick="changePatternValueInput('numbering.pattern.sequence')">
                            <span></span>
                            <span class="label" th:text="#{pattern.type.sequence}"></span>
                        </label>
                    </div>
                </div>
                <div id="type-input-pattern" class="edit-row flex-column">
                    <label th:text="#{pattern.label.value}" class="required"></label>
                    <input id="txtPatternValue" name="txtPatternValue" type="text" maxlength="100"/>
                </div>
                <div id="type-select-pattern" class="edit-row flex-column">
                    <label th:text="#{pattern.label.value}" class="required"></label>
                    <select id="selectPatternDateValue" name="selectPatternDateValue" class="select-date-time mr-1">
                        <option th:each="date: ${dateList}" th:value="${date.code}"
                                th:text="${date.codeValue}"></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="flex-row justify-content-end">
            <div class="btn-list">
                <button type="button" class="point-fill" sec:authorize="hasAuthority('numbering.pattern.create')"
                        id="btnRegist" name="btnRegist"
                        th:onclick="|javascript:onSave('post')|" th:text="#{common.btn.register}"></button>
                <button type="button" class="point-fill" sec:authorize="hasAuthority('numbering.pattern.update')"
                        id="btnUpdate" name="btnUpdate"
                        th:onclick="|javascript:onSave('put')|" th:text="#{common.btn.modify}"></button>
                <button type="button" class="point-fill" sec:authorize="hasAuthority('numbering.pattern.delete')"
                        id="btnDelete" name="btnDelete"
                        th:onclick="|javascript:aliceAlert.confirmIcon(i18n.msg('common.msg.confirmDelete'), onDelete)|"
                        th:text="#{common.btn.delete}"></button>
            </div>
        </div>
    </div>
</th:block>
</body>
<th:block layout:fragment="pageScript">
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        let PATTERN_DELETE = false;
        let PATTERN_CREATE = false;
        let PATTERN_UPDATE = false;
        const STATUS_SUCCESS = '0';
        const STATUS_ERROR_PATTERN_USED = '1';

        window.onload = function () {
            getPatternList(true);
            if (document.getElementById('btnUpdate') !== null) {
                PATTERN_UPDATE = true;
            }

            if (document.getElementById('btnRegist') !== null) {
                PATTERN_CREATE = true;
            }

            if (document.getElementById('btnDelete') !== null) {
                PATTERN_DELETE = true;
            }

            if (isNotNull('txtPatternId') && isNotEmpty('txtPatternId')) {
                if (PATTERN_UPDATE) {
                    document.getElementById('btnUpdate').style.display = 'inline-block';
                }
                if (PATTERN_CREATE) {
                    document.getElementById('btnRegist').style.display = 'none';
                }
            }

            let patternList = document.querySelectorAll('td[name=patternName]');
            for (let i = 0; i < patternList.length; i++) {
                patternList[i].addEventListener('click', function () {
                    let activeTr = document.querySelector('tr.active');
                    if (activeTr !== null) {
                        activeTr.classList.remove('active');
                    }
                    this.parentElement.classList.add('active');
                    if (PATTERN_UPDATE) {
                        document.getElementById('btnUpdate').style.display = 'inline-block';
                    }
                    if (PATTERN_CREATE) {
                        document.getElementById('btnRegist').style.display = 'none';
                    }
                    onGetDetail(this.id);
                });
            }

            document.getElementById('search').focus();
            document.getElementById('search').addEventListener('keyup', function () {
                getPatternList(false);
            });

            OverlayScrollbars(document.querySelector('.numbering-pattern-content-edit'), {className: 'scrollbar'});
        };

        /** 패턴 상세 정보 가져오기 **/
        function onGetDetail(patternName) {
            const opt = {
                method: 'get',
                url: '/rest/numberingPatterns/' + encodeURIComponent(patternName),
                callbackFunc: function (response) {
                    let responseJson = JSON.parse(response.responseText);
                    document.getElementById('txtPatternId').value = responseJson.patternId;
                    document.getElementById('txtPatternName').value = responseJson.patternName;
                    document.getElementById('txtPatternNameOrg').value = responseJson.patternName;
                    document.getElementById(responseJson.patternType).checked = true;
                    changePatternValueInput(responseJson.patternType);
                    document.getElementById('txtPatternValue').value = responseJson.patternValue;

                    if (responseJson.editable) {
                        document.getElementById('btnUpdate').removeAttribute('disabled');
                        document.getElementById('btnDelete').removeAttribute('disabled');
                    } else {
                        document.getElementById('btnUpdate').disabled = true;
                        document.getElementById('btnDelete').disabled = true;
                    }

                    const selectPatternDateValue = document.getElementById('selectPatternDateValue');
                    for (let i = 0; i < selectPatternDateValue.length; i++) {
                        if (selectPatternDateValue[i].textContent === responseJson.patternValue) {
                            document.querySelector('.designed-select').textContent = responseJson.patternValue;
                            selectPatternDateValue[i].selected = true;
                        }
                    }
                },
            };
            aliceJs.sendXhr(opt);
        }

        /** 추가 버튼 **/
        function onCreate() {
            document.getElementById('txtPatternId').value = '';
            document.getElementById('txtPatternName').value = '';
            document.getElementById('txtPatternValue').value = '';
            document.getElementById('numbering.pattern.text').checked = true;
            changePatternValueInput('numbering.pattern.text');

            if (PATTERN_UPDATE) {
                document.getElementById('btnUpdate').style.display = 'none';
            }
            if (PATTERN_CREATE) {
                document.getElementById('btnRegist').style.display = 'inline-block';
            }
            if (PATTERN_DELETE) {
                document.getElementById('btnDelete').style.display = 'none';
            }
        }

        /** 등록, 수정 기능 **/
        function onSave(flag) {
            const patternType = getPatternType();
            if (isEmpty('txtPatternName', 'pattern.msg.enterPatternName')) return;
            if (patternType !== 'numbering.pattern.date' && isEmpty('txtPatternValue', 'pattern.msg.enterPatternValue')) return;
            if (patternType === 'numbering.pattern.sequence' && isExistInScope('txtPatternValue', 1, 4, 'pattern.msg.enterPatternSequenceValue')) return;

            let patternNames = [];
            let validList = document.querySelectorAll('td[name=patternName]');
            for (let i = 0; i < validList.length; i++) {
                patternNames.push(validList[i].textContent);
            }

            if (flag === 'post') {
                for (let i = 0; i < patternNames.length; i++) {
                    if (document.getElementById('txtPatternName').value === patternNames[i]) {
                        aliceAlert.alertWarning([[#{pattern.msg.duplicatePatternName}]]);
                        return;
                    }
                }
            } else {
                if (isNotEquals('txtPatternName', 'txtPatternNameOrg')) {
                    for (let i = 0; i < patternNames.length; i++) {
                        if (document.getElementById('txtPatternName').value === patternNames[i]) {
                            aliceAlert.alertWarning([[#{pattern.msg.duplicatePatternName}]]);
                            return;
                        }
                    }
                }
            }

            let obj = {};
            obj.patternId = document.getElementById('txtPatternId').value;//패턴 아이디
            obj.patternName = document.getElementById('txtPatternName').value;//패턴 명
            obj.patternType = patternType;

            if (patternType === 'numbering.pattern.text' || patternType === 'numbering.pattern.sequence') {
                obj.patternValue = document.getElementById('txtPatternValue').value;//패턴
            } else {
                obj.patternValue = document.getElementById('selectPatternDateValue').value;
            }

            let strUrl = '/rest/numberingPatterns';
            if (flag !== 'post') {
                strUrl += '/' + document.getElementById('txtPatternId').value;
            }
            const opt = {
                method: flag,
                url: strUrl,
                params: JSON.stringify(obj),
                contentType: 'application/json',
                callbackFunc: function (response) {
                    switch (response.responseText) {
                        case STATUS_SUCCESS:
                            aliceAlert.alertSuccess(i18n.msg('common.msg.save'), function () {
                                window.location.href = '/numberingPatterns/edit';
                            });
                            break;
                        case STATUS_ERROR_PATTERN_USED:
                            aliceAlert.alertWarning(i18n.msg('pattern.msg.usedPattern'));
                            break;
                        default:
                            aliceAlert.alertDanger(i18n.msg('common.msg.fail'));
                            break;
                    }
                }
            };
            aliceJs.sendXhr(opt);
        }

        /** 삭제 기능  **/
        function onDelete() {
            const opt = {
                method: 'delete',
                url: '/rest/numberingPatterns/' + encodeURIComponent(document.getElementById('txtPatternId').value),
                callbackFunc: function (response) {
                    switch (response.responseText) {
                        case STATUS_SUCCESS:
                            aliceAlert.alertSuccess(i18n.msg('common.msg.delete'), function () {
                                window.location.href = '/numberingPatterns/edit';
                            });
                            break;
                        case STATUS_ERROR_PATTERN_USED:
                            aliceAlert.alertWarning(i18n.msg('pattern.msg.usedPattern'));
                            break;
                        default:
                            aliceAlert.alertDanger(i18n.msg('common.msg.fail'));
                            break;
                    }
                }
            };
            aliceJs.sendXhr(opt);
        }

        /** 패턴 리스트 출력 기능 **/
        function getPatternList(showProgressbar) {
            const data = {
                search: encodeURIComponent(document.getElementById('search').value)
            };
            const urlParam = 'search=' + data.search;
            const opt = {
                method: 'get',
                url: '/numberingPatterns?' + urlParam,
                showProgressbar: showProgressbar,
                callbackFunc: function (response) {
                    document.getElementById('patternList').innerHTML = response.responseText;
                    let patternList = document.querySelectorAll('td[name=patternName]');
                    document.getElementById('totalCount').textContent = i18n.msg("common.label.count", patternList.length);
                    if (response.responseText.indexOf('no-data-found') === -1) {
                        for (let i = 0; i < patternList.length; i++) {
                            patternList[i].style.cursor = 'pointer';
                            patternList[i].addEventListener('click', function () {
                                let activeTr = document.querySelector('tr.active');
                                if (activeTr !== null) {
                                    activeTr.classList.remove('active');
                                }
                                this.parentElement.classList.add('active');
                                if (PATTERN_UPDATE) {
                                    document.getElementById('btnUpdate').style.display = 'inline-block';
                                }
                                if (PATTERN_CREATE) {
                                    document.getElementById('btnRegist').style.display = 'none';
                                }
                                if (PATTERN_DELETE) {
                                    document.getElementById('btnDelete').style.display = 'inline-block';
                                }
                                onGetDetail(this.id);
                            });
                        }
                        if (patternList.length > 0) {
                            document.querySelector('td[name=patternName]').click();
                        }
                        OverlayScrollbars(document.querySelector('.list-body'), {className: 'scrollbar'});
                    } else {
                        onCreate();
                    }
                }
            };
            aliceJs.sendXhr(opt);
        }

        /** 라디오 버튼 변경에 따른 패턴 값 입력 엘리먼트 화면 출력 변경 함수**/
        function changePatternValueInput(type) {
            document.getElementById('txtPatternValue').value = '';
            if (type === 'numbering.pattern.text') {
                document.getElementById('type-input-pattern').style.display = '';
                document.getElementById('type-select-pattern').style.display = 'none';
                document.getElementById('txtPatternValue').removeEventListener('keydown', onlyNumber);
                document.getElementById('txtPatternValue').removeEventListener('keyup', removeChar);
            } else if (type === 'numbering.pattern.sequence') {
                document.getElementById('type-input-pattern').style.display = '';
                document.getElementById('type-select-pattern').style.display = 'none';
                document.getElementById('txtPatternValue').addEventListener('keydown', onlyNumber);
                document.getElementById('txtPatternValue').addEventListener('keyup', removeChar);
            } else {
                document.querySelector('.designed-select').textContent = document.querySelector('.designed-options').firstElementChild.textContent;
                document.getElementById('selectPatternDateValue')[0].selected = true;
                document.getElementById('type-input-pattern').style.display = 'none';
                document.getElementById('type-select-pattern').style.display = '';
            }
        }

        function getPatternType() {
            let type = document.getElementsByName('patternType');
            for (let i = 0; i < type.length; i++) {
                if (type[i].checked) {
                    return type[i].id;
                }
            }
        }
        /*]]>*/
    </script>
</th:block>
</html>
