<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/portalLayout">
<head>
    <title th:text="#{download.label.download}"></title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="portal-search-container">
        <div class="contents-view">
            <div class="header">
                <div class="page-title">
                    <h1 th:text="#{download.label.download}"></h1>
                    <h6 class="title-description" th:text="#{download.msg.portalDescription}"></h6>
                </div>
            </div>
        </div>
    </div>
    <div class="portal-search-view">
        <div class="view">
            <h4 class="under-bar" th:text="#{${download.downloadTitle}}"></h4>
            <div class="row-right">
                <span id="spanCreateDt" th:text="${download?.createDt}"></span>
                <span class="vertical-bar"></span>
                <span th:text="${download?.createUserName}"></span>
            </div>
            <div class="horizontal-bar"></div>
            <div class="view-text">
                <h5 th:text="#{download.label.category}"></h5>
                <span th:text="#{${download.downloadCategory}}"></span>
            </div>
            <div class="horizontal-bar"></div>
            <div class="view-attach-file">
                <span class="file-attachment" th:text="#{common.label.attachFile}"></span>
                <form id="frm" method="post">
                    <div class="file-attach-input">
                        <div id="dropZoneFiles"></div>
                        <div id="dropZoneUploadedFiles"></div>
                    </div>
                </form>
            </div>
            <div class="horizontal-bar"></div>
            <div class="btn-bar">
                <button class="default-line" th:text="#{common.btn.list}"
                        onclick="location.href='/portal/downloads/search'"></button>
            </div>
        </div>
    </div>
</th:block>
</body>
<th:block layout:fragment="pageScript">
    <script th:inline="javascript" type="text/javascript">
        /*<![CDATA[*/
        window.onload = function() {
            document.getElementById('spanCreateDt').textContent =
                i18n.userDateTime(document.getElementById('spanCreateDt').textContent);
            portalFileUploader.init({extra: {formId: 'downloadForm', ownId: [[${download.downloadId}]], editor: false}});
            OverlayScrollbars(document.querySelector('.view-text'), {className: 'scrollbar'});
            OverlayScrollbars(document.querySelector('.view-attach-file'), {className: 'scrollbar'});
        };
        /*]]>*/
    </script>
</th:block>
</html>
