/* _contents-edit.scss
 *
 * 파일 경로 : contents/_contents-edit.scss
 * @description 입력화면 (ex. 공지사항 등록)
 * @author jy.lim
 * @version 1.0
 */
.contents-edit {
  @include contents-template();
  @include edit-template();
  .btn-list { padding: 2.5rem 0 3.125rem 0; } // 40px 0 50px 0
  .flex-row { margin-bottom: 3.125rem; }

  // 커스텀 코드
  .custom-code-edit {
    .condition { width: 28.3125rem; } // 453px
    .equal { padding: 0 0.3125rem; } // 0 5px
    .minus { padding: 0.5625rem 0.8125rem; } // 9px 13px
    .icon-delete { background: $pressed-gray; }
  }
}
