/* _contents-tree-edit.scss
 *
 * 파일 경로 : contents/_contents-tree-edit.scss
 * @description 코드관리와 같이 트리와 편집화면이 1개의 화면으로 구성되는 경우
 * @author jy.lim
 * @version 1.0
 */
.contents-tree-edit {
  @include contents-template();
  & > .tree-area {
    height: 100vh;
    flex: 1;
    padding: 2.875rem 3.75rem 6.875rem 3.75rem; // 46px 60px 110px 60px
    @include list-template();
    .list {
      width: 35.125rem; // 562px
      height: 37.5rem; // 600px
    }
  }
  & > .edit-area {
    width: 65.625rem; // 1050px
    padding: 9.625rem 2.1875rem 3.125rem 0; // 154px 35px 50px 0
    background: $white;
    font-weight: $font-weight-medium;
    & .scroll-wrap {
      height: 43.125rem; // 690px
      margin: 0 0 0.625rem 0; // 0 0 10px 0
      .form-wrap {
        flex: 1;
        overflow: auto;
        padding: 0 1.875rem 0 4.0625rem; // 0 30px 0 65px
      }
    }
    .form {
      &-row {
        flex-flow: wrap;
        .form-div {
          width: 49%;
        }
      }
      &-set {
        margin-top: 0.6875rem; // 11px
        .title {
          font-weight: $font-weight-medium;
        }
      }
    }
  }
}
