// 문서함 리스트 화면
.contents-document {
    @include contents-template();
    .header { padding: 2.875rem 3.75rem 0.625rem 3.75rem; } // 46px 60px 10px 60px
    .service-request {
        background-color: white;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        flex: auto;
        .card-area {
            margin: 30px 40px 0 3.75rem; // 60px
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-content: flex-start ;
            .document-card {
                position: relative;
                padding: 30px;
                min-width: 513px;
                height: 200px;
                margin-right: 20px;
                margin-top: 20px;
                border: 1px solid $line-gray;
                border-radius: 1px;
                overflow: hidden;
                cursor: pointer;
                &:first-child {
                    margin-left: 0px;
                }
                &:hover {
                    border: 2px solid $line-gray;
                    border-radius: 1px;
                    box-shadow: 0 0 15px rgba(204, 206, 209, 0.15);
                }
                .document-icon {
                    overflow: hidden;
                    position: absolute;
                    top: 60px;
                    left: 370px;
                }
                h3 { @include h3();}
                h5 { @include h5(); margin-top: 5px;}
            }
        }
    }
}