.contents-token {
    @include contents-template();
    .header { padding: 2.875rem 3.75rem 0.625rem 3.75rem; } // 46px 60px 10px 60px
    .search-area {
        padding: 1.875rem 3.75rem 1.875rem 3.75rem; // 30px 60px 30px 60px
        height: 6.25rem; // 100px
    }
    .list {
        background-color: white;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        flex: auto;
        &-item {
            margin: 0.625rem 3.75rem; // 10px 60px
            background-color: white;
            display: flex;
            &:first-child {
                margin-top:  3.125rem; // 50px
            }
            .document {
                &-color {
                    width: 0.75rem; // 12px
                    margin-left: 0;
                }
                &-row {
                    flex: auto;
                    display: flex;
                    justify-content: space-between;
                    padding: 1.875rem 3rem; // 30px 48px
                    border: {
                        top: 0.0625rem solid $line-gray; // 1px
                        right: 0.0625rem solid $line-gray; // 1px
                        bottom: 0.0625rem solid $line-gray; // 1px
                    }
                    &-content {
                        .document-title {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            h3 { margin-right: 0.625rem;} // 10px
                        }
                        .document-topic {
                            width: 23.75rem; // 380px
                            h5 {
                                color: $dark-gray;
                                margin-top: 0.625rem; // 10px
                                &:first-child {
                                    margin-top: 1.5625rem; // 25px
                                }
                            }
                        }
                    }
                    &-info {
                        flex-direction: column;
                        .document-detail {
                            display: flex;
                            align-items: center;
                            float: right;
                            .document-user {
                                display: inline-flex;
                                align-items: center;
                                justify-content: center;
                            }
                        }
                        .document-tag {
                            max-width: 23.75rem; // 380px
                            margin-top: 3.5rem; // 56px
                            color: #67717F;
                            span {
                                background: rgba(0, 152, 255, 0.1 );
                                color: rgba(0, 152, 255, 1 );
                                text-align: center;
                                margin: 0.25rem; // 4px
                                border-radius: 0.0625rem; // 1px
                                padding: 0.3125rem 0.9375rem; // 5px 15px
                                max-width: 13.75rem; // 220px
                                display: inline-block;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                overflow: hidden;
                            }
                        }
                    }
                }
            }
        }
    }

    &.dashboard {
        background: $white;
        .header.dashboard{
            padding-bottom: 2.875rem;
            background: $light-gray;
        }

        .dashboard-statistic {
            width: 100%;
            padding: 0.625rem 3.75rem;
            background-color: $white;
            display: flex;
            justify-content: space-between;
            .statistic-box {
                display: flex;
                align-items: center;
                width: 380px;
                border: 1px solid $line-gray;
                border-radius: 5px;
                padding: 25px;
                .statistic-info {
                    margin-left: 25px;
                    .statistic-count {
                        @include h3;
                        margin-bottom: 15px;
                    }
                    .statistic-type {
                        @include h5;
                        color: $blue-gray;
                    }
                }
            }
        }

        .title-middle {
            margin-top: 50px;
            margin-left: 3.75rem;
            @include h3();
        }
        .list {
            .list-item {
                margin: 0.625rem 3.75rem;
            }
        }
    }
}
.total-count {
    line-height: 2;
}

.slide-down {
    display: block;
    -webkit-animation: slide-down 0.3s ease-out;
    -moz-animation: slide-down 0.3s ease-out;
}

.slide-up {
    -webkit-animation: slide-up 0.3s ease-out;
    -moz-animation: slide-up 0.3s ease-out;
}

@-webkit-keyframes slide-down {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes slide-down {
    0% {
        opacity: 0;
        -moz-transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

@-webkit-keyframes slide-up {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-webkit-keyframes slide-up {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}
