<!DOCTYPE html>
<html>
<body>
    <div class="flex-row justify-content-center page-paging" style="visibility: hidden">
        <a href="" id="pagingStartArrow" class="paging-arrow flex-row"><span class="ic-paging-start-arrow"></span></a>
        <a href="" id="pagingPrevArrow" class="paging-arrow flex-row"><span class="ic-paging-prev-arrow"></span></a>
        <div class="paging-numbers"></div>
        <a href="" id="pagingNextArrow" class="paging-arrow flex-row"><span class="ic-paging-next-arrow"></span></a>
        <a href="" id="pagingEndArrow" class="paging-arrow flex-row"><span class="ic-paging-end-arrow"></span></a>
        <span id="spanCurrentPageNum"></span>
    </div>
</body>
<script type="module">
    import ZPaging from '../../../assets/js/lib/zPaging.js';
    let zPaging = new ZPaging();
</script>
</html>
