/* form, group, row, component 디자인 - document ver. */
// 툴팁 border 초기화
$tooltip-type: (group, row, component);
@each $type in $tooltip-type {
  .z-#{$type}-tooltip {
    @include border(0.0625rem, solid, $drawing-board-bg-color, all); // 1px
  }
}

.z-component {
  &-tooltip {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .z-component-label {
    padding-left: 1rem;
  }
  .z-element {
    padding-right: 1rem;
  }
  span {
    word-break: break-all;
  }
}

.z-group {
  &.accordion {
    .z-group-accordion-checkBox:checked {
      ~ .row-tooltip:not(.off):last-child {
        @include border(0.0625rem, solid, $group-accordion-border-color, bottom); // 1px
      }
    }
  }
  .z-element {
    pointer-events: auto;
  }
}
