@import '../template/_layout.scss';

/* 신청서 / 처리할 문서 양식 layout
 * z-document-container
 *                - z-document-main : 문서양식 메인
 *                             - z-document-main-header : 문서 번호, 버튼 등이 그려지는 영역
 *                             - z-drawing-board : 실제 컴포넌트들이 그려지는 영역 (컴포넌트 디자인 수정 > form/_component.scss )
 *                - z-token-properties : 문서이력, 관련문서, 의견, 태그
 */

// 신청서, 문서함 공통
.z-document-container {
  @include container;

  .z-document-main {
    @include fixed(0, 33.125rem, 0, 0); // 530px
    @include scrollbarHidden;
    overflow-y: auto;
    background-color: $neutral50;

    // 상단 영역
    .z-document-main-header {
      @include fixed(0, 33.125rem null, 0); // 530px
      padding: 0.75rem 1rem; // 12px
      background: $blue500;
      z-index: 100;

      .z-action-button-top-area {
        .z-button-list {
          width: 100%;
        }
      }

      .z-button-list {
        .primary {
          border-color: $white;
        }

        .secondary {
          border-color: $white;
        }
      }
    }

    .z-document-main-content {
      display: inline-block;
      width: 100%;
      text-align: center;
      // 문서 번호
      .z-document-numbering {
        margin: 6.25rem 0 0.625rem; // 100px 0 0 10px
        text-align: left;
        font-family: $font-family;
        font-size: $font-size-xs;
      }
    }

    // board 영역
    .z-drawing-board {
      margin: 6.25rem 0 3rem; // 100px 48px
      //.z-form { margin: 0 3.125rem !important; } // 50px
    }

    // 하단 영역
    .z-document-main-footer {
      width: 100%;
      padding: 0.75rem 0 4rem; // 12px 0 64px
    }
  }

  // 속성 탭 toggle 버튼
  .toggle--tab {
    position: absolute;
    top: 4.688rem; // 75px
    right: 33.125rem; // 530px
    padding: 0.25rem 0; // 4px 0
    background-color: $gray400;
    border-radius: 0;
    border-top-left-radius: 0.3125rem; // 5px
    border-bottom-left-radius: 0.3125rem; // 5px
    z-index: 500;

    .z-icon {
      &.i-arrow-double {
        background: $white;
      }
    }

    &.off {
      right: 0;

      .z-icon {
        &.i-arrow-double {
          @include rotate(180);
        }
      }

      + form {
        .z-document-main {
          right: 0;

          .z-document-main-header {
            right: 0;
          }
        }
      }

      ~ .z-token-properties {
        width: 0;
      }
    }
  }

  // TODO: 문서함에서 문서속성 탭쪽 디자인
  // 2021-06-26 Jung Hee Chan
  // 신청서 디자인은 되었는데 문서함쪽은 고려가 안되어 있는 것 같아 일단 붙여 놓음.
  // 디자인 적용 작업 시 신청서 + 문서함 부분과 나눠지는 부분에 대한 고려가 필요함.
  .z-token-properties {
    @include fixed(0, 0, 0, null);
    width: 33.125rem; // 530px
    background-color: $white;
    @include border(0.0625rem, solid, $gray300, left);
    overflow: hidden;
    @include transition(all 0.25s ease-out);

    .z-token-tabs {
      display: flex;
      margin-top: 2rem; // 32px
      padding: 0 1.375rem; // 22px

      .z-token-tab {
        color: $gray400;
        flex: 1;
        padding: 0.625rem 0; // 10px 0
        @include border(0.0625rem, solid, $gray300, bottom);

        // 선택된 탭일 경우
        &.active {
          color: $gray800;
          @include border(0.188rem, solid, $blue500, bottom); // 3px
        }
      }
    }

    // 탭 내용
    .z-token-panels {
      height: 100%;
      overflow-y: auto;

      .z-token-panel {
        display: none;
        padding: 0 1.375rem; // 22px

        &.on {
          display: block;
        }

        // 아이콘
        .z-icon {
          &.i-delete {
            background: $gray500;
          }
        }
      }

      .z-token {
        // 태그
        &-tag {
          margin: 0.625rem 0 0 0; // 10px 0 0 0
          padding-bottom: 1.25rem; // 20px
        }

        // 보관처리
        &-storage {
          margin: 1.75rem 0 0 0; // 28px 0 0 0
          .z-icon-document-storage {
            display:contents;

            &.active {
              .document-storage-star {
                fill: $yellow500;
                stroke: $yellow600;
              }
            }
          }

          .z-token-storage-label {
            margin-left: 0.25rem; // 4px
          }
        }

        // 처리 이력
        &-history {
          height: 100%;

          &-sub-title {
            display: block;
            color: $gray500;
            margin: 1.75rem 0 0.3125rem 0; // 28px 0 5px 0
          }

          &-table {
            th, td {
              padding: 0 0.625rem; // 0 10px
            }

            .z-table-head {
              background-color: $neutral100;
              @include border(0.0625rem, solid, $gray300, top);

              tr {
                height: 2rem; // 32px

                th {
                  color: $gray400;
                }
              }
            }

            .z-table-body {
              border: none;
              overflow-y: auto;

              tr {
                width: 100%;
                @include border(0.0625rem, solid, $gray300, bottom);
              }
            }
          }
        }

        // 관련 문서
        &-related {
          &-sub-title {
            display: block;
            color: $gray500;
            margin: 2.5rem 0 0.3125rem 0; // 40px 0 5px 0
          }

          &-item {
            height: 9.75rem; // 156px
            margin: 0.625rem 0 0 0; // 10px 0 0 0

            // 추가된 관련 문서
            .z-document {
              &-color {
                width: 0.375rem; // 6px
                @include borderRadius(0.125rem);
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
              }

              &-row {
                flex: 1;
                @include border(0.0625rem, solid, $gray300, all);
                @include borderRadius(0.125rem);
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                padding: 1rem; // 16px
                &-content {
                  a {
                    width: 100%;

                    .z-document-title {
                      @include wordWrap();

                      h6 {
                        &:first-child {
                          font-weight: $font-weight-bold;
                          color: $gray800;
                        }

                        &:last-child {
                          color: $gray500;
                          margin-left: 0.5rem; //8px
                        }
                      }
                    }
                  }
                }

                &-topic {
                  height: 100%;

                  h6 {
                    width: 27.5rem;
                  }

                  // 440px (말줄임을 위하여 너비 지정)
                }
              }
            }
          }

          // 관련 문서 추가
          .z-document-add {
            @include border(0.0625rem, solid, $gray300, all);
            background-color: $neutral50;

            .z-button-icon {
              width: 100%;
              height: 100%;

              .z-icon {
                &.i-plus {
                  background: $gray500;
                }
              }
            }
          }
        }

        // 댓글
        &-comment {
          &-item {
            padding: 1rem; // 16px
            margin: 0.625rem 0 0 0; // 10px 0 0 0
            @include border(0.0625rem, solid, $gray300, all);
            @include borderRadius(0.125rem);

            .z-comment {
              &-row {
                &-info {
                  .z-user-name {
                    font-weight: $font-weight-bold;
                    color: $gray800;
                  }

                  .z-comment-time {
                    color: $gray500;
                    margin-left: 0.5rem; //8px
                  }
                }

                &-content {
                  height: 100%;
                  margin: 0.625rem 0 0 0; // 10px 0 0 0
                  h6 {
                    width: 27.5rem;
                  }

                  // 440px (말줄임을 위하여 너비 지정)
                }
              }
            }
          }

          // 댓글 추가
          .z-comment-add {
            margin: 0.625rem 0 0 0; // 10px 0 0 0
          }
        }

        // 참조인
        &-viewer {
          &-sub-title {
            display: block;
            color: $gray500;
            margin: 2.5rem 0 0.3125rem 0; // 40px 0 5px 0
          }

          &-table {
            td, th {
              &:nth-child(3) {
                color: $gray500;
              }
            }

            .z-table-body {
              border: none;

              tr:hover {
                background-color: transparent;
              }
            }

            .z-icon {
              &.i-clear {
                background: $gray500;
              }
            }
          }
        }
      }
    }
  }
}
