@import '../template/_layout.scss';

/* 신청서 / 처리할 문서 양식 layout
 * z-document-container
 *                - z-document-main : 문서양식 메인
 *                             - z-document-main-header : 문서 번호, 버튼 등이 그려지는 영역
 *                             - z-drawing-board : 실제 컴포넌트들이 그려지는 영역 (컴포넌트 디자인 수정 > form/_component.scss )
 *                - z-token-properties : 문서이력, 관련문서, 의견, 태그
 */

// 신청서, 문서함 공통
.z-document-container {
  @include container;

  .z-document-main {
    @include fixedContainer;
    background-color: $layout-main-bg-color;
    @include scrollbarHidden;

    // 상단 영역
    .z-document-main-header {
      width: $drawing-board-width;
      max-width: $drawing-board-width;
      padding: 4rem 0 0.75rem 0; // 64px 0 12px 0

      // 문서 번호
      .z-document-numbering {
        font-family: $document-numbering-font-family;
        font-size: $document-numbering-font-size;
        color: $document-numbering-color;
      }

      .z-action-button-top-area {
        width: 100%;
        margin: 0.75rem 0 0 0; // 12px 0 0 0

        .z-button-list {
          width: 100%;
        }
      }
    }

    // 하단 영역
    .z-document-main-footer {
      width: $drawing-board-width;
      max-width: $drawing-board-width;
      padding: 0.75rem 0 4rem 0; // 12px 0 64px 0
    }
  }


  // TODO: 문서함에서 문서속성 탭쪽 디자인
  // 2021-06-26 Jung Hee Chan
  // 신청서 디자인은 되었는데 문서함쪽은 고려가 안되어 있는 것 같아 일단 붙여 놓음.
  // 디자인 적용 작업 시 신청서 + 문서함 부분과 나눠지는 부분에 대한 고려가 필요함.
  .z-token-properties {
    @include fixed(0, 0, 0, null);
    width: $layout-properties-width;
    background-color: $layout-properties-bg-color;
    @include border($layout-properties-border-width, solid, $layout-properties-border-color, left);
    padding: 0 4.0625rem;
    overflow: hidden;

    .z-token-tabs {
      display: flex;
      margin-top: 2rem; // 32px

      .z-token-tab {
        color: $token-tab-color;
        flex: 1;
        padding: 0.625rem 0; // 10px 0
        @include border($token-tab-border-width, solid, $token-tab-border-color, bottom);

        // 선택된 탭일 경우
        &.active {
          color: $token-tab-selected-color;
          @include border($token-tab-selected-border-width, solid, $token-tab-selected-border-color, bottom);
        }
      }
    }
    // 탭 내용
    .z-token-panels {
      height: 100%;
      overflow-y: auto;

      .z-token-panel {
        display: none;

        &.on { display: block; }

        // 아이콘
        .z-icon {
          &.i-delete { background: $element-icon-color; }
        }
      }

      .z-token {
        // 태그
        &-tag {
          margin: 0.625rem 0 0 0; // 10px 0 0 0
        }

        // 처리 이력
        &-history {
          height: 100%;

          &-sub-title {
            display: block;
            color: $token-tab-sub-title-color;
            margin: 1.75rem 0 0.375rem 0; // 28px 0 6px 0
          }

          &-table {
            width: 100%;
            font-family: $token-history-table-font-family;
            font-size: $token-history-table-font-size;

            thead {
              background-color: $token-history-thead-bg-color;
              @include border($token-history-table-border-width, solid, $token-history-table-border-color, top);

              tr { height: 2rem; } // 32px
            }

            th, td {
              @include ellipsis(table-cell);
              padding: 0 0.625rem; // 0 10px
            }

            th {
              font-size: $token-history-table-font-size;
              color: $token-history-thead-color;
              font-weight: $token-history-thead-font-weight;
            }

            td {
              color: $token-history-tbody-color;
            }

            tbody {
              width: 100%;
              @include border(calc(#{$token-history-table-border-width} * 2), solid, $token-history-table-border-color, top);
              overflow-y: auto;

              tr {
                width: 100%;
                @include border($token-history-table-border-width, solid, $token-history-table-border-color, bottom);
              }
            }
          }
        }

        // 관련 문서
        &-related {
          &-sub-title {
            display: block;
            color: $token-tab-sub-title-color;
            margin: 2.5rem 0 0.375rem 0; // 40px 0 6px 0
          }

          &-item {
            height: 9.75rem; // 156px
            margin: 0.625rem 0 0 0; // 10px 0 0 0

            // 추가된 관련 문서
            .z-document {
              &-color {
                width: 0.375rem;  // 6px
                @include borderRadius($token-related-border-radius);
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
              }

              &-row {
                flex: 1;
                @include border($token-related-border-width, solid, $token-related-border-color, all);
                @include borderRadius($token-related-border-radius);
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                padding: 1rem; // 16px
                &-content {
                  a {
                    width: 100%;

                    .z-document-title {
                      @include wordWrap();

                      h6 {
                        &:first-child {
                          font-weight: $font-weight-bold;
                          color: $token-related-name-color;
                        }

                        &:last-child {
                          color: $token-related-numbering-color;
                          margin-left: 0.5rem; //8px
                        }
                      }
                    }
                  }
                }

                &-topic {
                  height: 100%;
                  h6 { width: 27.5rem; } // 440px (말줄임을 위하여 너비 지정)
                }
              }
            }
          }

          // 관련 문서 추가
          .z-document-add {
            @include border($token-related-border-width, solid, $token-related-border-color, all);
            background-color: $token-related-add-bg-color;
            .z-button-icon {
              width: 100%;
              height: 100%;
              .z-icon {
                &.i-plus { background: $element-icon-color; }
              }
            }
          }
        }

        // 댓글
        &-comment {
          &-item {
            padding: 1rem; // 16px
            margin: 0.625rem 0 0 0; // 10px 0 0 0
            @include border($token-comment-border-width, solid, $token-comment-border-color, all);
            @include borderRadius($token-comment-border-radius);

            .z-comment {
              &-row {
                &-info {
                  .z-user-name {
                    font-weight: $font-weight-bold;
                    color: $token-comment-user-name-color;
                  }

                  .z-comment-time {
                    color: $token-comment-time-color;
                    margin-left: 0.5rem; //8px
                  }
                }

                &-content {
                  height: 100%;
                  margin: 0.625rem 0 0 0; // 10px 0 0 0
                  h6 { width: 27.5rem; } // 440px (말줄임을 위하여 너비 지정)
                }
              }
            }
          }

          // 댓글 추가
          .z-comment-add {
            margin: 0.625rem 0 0 0; // 10px 0 0 0
          }
        }
      }
    }
  }
}
