@import '../template/_modal.scss';

.modal-wrapper {

  &.modal-active { 
    display:block;
    z-index: $z-index-modal;
  }

  .modal-dialog {
    // CMDB 등록 / 수정 모달 / CI 상세 조회 / CI 조회 모달
    &.cmdb-ci-register-modal,
    &.cmdb-ci-update-modal,
    &.cmdb-ci-view-modal,
    &.cmdb-ci-list-modal {
      width: $cmdb-ci-modal-width;
      height: $cmdb-ci-modal-height;

      .modal-content {
        height: calc(#{$cmdb-ci-modal-height} - #{$modal-header-height} - #{$modal-bottom-height});
        padding: 1.25rem; // 20px
        // TODO: UX팀 디자인 작업 후 변경 예정
        .cmdb-ci-content-edit {
          height: calc(#{$cmdb-ci-modal-height} - #{$modal-header-height} - #{$modal-bottom-height} - 3.125rem); // 부모 높이 - 50px
          .edit-form { padding: 0 2.5rem; } // 40px

          .edit-row {  margin-top: 0.625rem; } // 10px
          .field-label { margin: 0.625rem 0; } // 10px 0

          // 세부 속성
          .attribute-group {
            background-color: $cmdb-ci-attribute-bg-color;
            padding: 0 1.25rem 1.25rem 1.25rem; // 0px 20px 20px 20px
            @include border($cmdb-ci-attribute-border-width, solid, $cmdb-ci-attribute-border-color, all);
            @include borderRadius($cmdb-ci-attribute-border-radius);
            margin-bottom: 0.625rem; // 10px
          }
          // 연관 관계
          .z-relation-group {
            .z-relation-title-group {
              height: $cmdb-ci-relation-height;
              .z-sub-title {
                font-size: $cmdb_ci-relation-font-size;
              }
            }
            .z-relation-select-box-group {
              width: $cmdb-ci-relation-select-group-width;
              font-size: $cmdb-ci-relation-select-group-font-size;
              font-weight: $cmdb-ci-relation-select-group-font-weight;
              font-family: $cmdb-ci-relation-select-group-font-family;
              padding: $cmdb-ci-relation-select-group-padding;
            }
            .z-target-ci-select-box {
              width: $cmdb-ci-target-select-box-width;
            }
            .z-relation-type-select-box {
              width: $cmdb-ci-relation-select-box-width;
            }
          }
        }
        .cmdb-ci-content-view {
          height: calc(#{$cmdb-ci-modal-height} - #{$modal-header-height} - #{$modal-bottom-height} - 3.125rem); // 부모 높이 - 50px
          .view-form { padding: 0 2.5rem; } // 40px

          .view-row {  margin-top: 0.625rem; } // 10px
          .field-label { margin: 0.625rem 0; } // 10px 0

          // 세부 속성
          .attribute-group {
            background-color: $cmdb-ci-attribute-bg-color;
            padding: 0 1.25rem 1.25rem 1.25rem; // 0px 20px 20px 20px
            @include border($cmdb-ci-attribute-border-width, solid, $cmdb-ci-attribute-border-color, all);
            @include borderRadius($cmdb-ci-attribute-border-radius);
            margin-bottom: 0.625rem; // 10px
          }
        }
        // CI 선택 목록
        .table-set {
          margin-top: 2.188rem; // 35px
          table {
            width: 100%;
            .z-list-head {
              tr {
                color: $list-head-font-color;
                @include border(calc(#{$list-border-width} * 2), solid, $list-border-color, bottom);
              }
            }
            .z-list-body {
              display: block;
              width: 60rem; // 960px
              height: 32.8125rem; // 525px
              overflow-y: auto;
              .list-row {
                display: table;
                width: 100%;
                height: 3.125rem; // 50px
                line-height: 3.125rem; // 50px
                & > td {
                  display: inline-block; // 말줄임 적용을 위해 추가
                  vertical-align: middle;
                  // 태그
                  .tag-group {
                    display: initial;
                    line-height: 1.2;
                  }
                }
              }
            }
          }
        }
      }
    }
    // 신청서
    &.document-modal-dialog {
      // 신청서일 경우 우측 properties가 존재하지 않음
      .z-document-main { right: 0; }
    }
    // 트리 모달
    &.tree {
      width: $tree-modal-width;
      height: $tree-modal-height;

      .modal-content {
        height: calc(#{$tree-modal-height} - #{$modal-header-height} - #{$modal-bottom-height});
        padding: 1.125rem 0 0 1.25rem;
        div {
          height: 100%;
          label { font-weight: $font-weight-regular; }
          li {
            &:last-child:before {
              background-color: $modal-bg-color;
            }
          }
        }
      }
    }

    &.custom-code-list {
      width: $custom-code-modal-width;
      height: $custom-code-modal-height;

      .modal-content {
        height: calc(#{$custom-code-modal-height} - #{$custom-code-modal-header-height} - #{$custom-code-modal-bottom-height});
        padding: 0.625rem 1.25rem 0.625rem 1.25rem; // 10px 20px 20px 20px

        .field-label {
          display: inline-block;
          margin: 1rem 0 0.5rem 0; // 16px 0 8px 0
        }
      }

      .input-search {
        padding-top: 1.875rem; // 30px
      }

      .custom-code-main {
        padding-top: 1.25rem; // 20px
      }
    }
  }
}

