@import '../template/_modal.scss';

.modal-wrapper {

  &.modal-active { 
    display:block;
    z-index: $z-index-modal;
  }

  .modal-dialog {
    // CMDB 등록 / 수정 모달 / CI 상세 조회 / CI 조회 모달
    &.cmdb-ci-register-modal,
    &.cmdb-ci-update-modal,
    &.cmdb-ci-view-modal,
    &.cmdb-ci-list-modal {
      width: $cmdb-ci-modal-width;
      height: $cmdb-ci-modal-height;

      .modal-content {
        height: calc(#{$cmdb-ci-modal-height} - #{$modal-header-height} - #{$modal-bottom-height});
        padding: 1.25rem; // 20px

        .cmdb-ci-content-edit {
          height: calc(#{$cmdb-ci-modal-height} - #{$modal-header-height} - #{$modal-bottom-height} - 3.125rem); // 부모 높이 - 50px
          .edit-form { padding: 0 2.5rem; } // 40px

          .edit-row {  margin-top: 0.625rem; } // 10px
          .field-label { margin: 0.625rem 0; } // 10px 0

          // 세부 속성
          .attribute-group {
            background-color: map-get($grays, "light");
            padding: 0 1.25rem 1.25rem 1.25rem; // 0px 20px 20px 20px
            border: $cmdb-ci-attribute-border;
            border-radius:  0.0625rem; // 1px
            margin-bottom: 0.625rem; // 10px
          }
        }
        // TODO: UX팀 디자인 작업 후 변경 예정
        .cmdb-ci-content-view {
          height: calc(#{$cmdb-ci-modal-height} - #{$modal-header-height} - #{$modal-bottom-height} - 3.125rem); // 부모 높이 - 50px
          .view-form { padding: 0 2.5rem; } // 40px

          .view-row {  margin-top: 0.625rem; } // 10px
          .field-label { margin: 0.625rem 0; } // 10px 0

          // 세부 속성
          .attribute-group {
            background-color: map-get($grays, "light");
            padding: 0 1.25rem 1.25rem 1.25rem; // 0px 20px 20px 20px
            border: $cmdb-ci-attribute-border;
            border-radius:  0.0625rem; // 1px
            margin-bottom: 0.625rem; // 10px
          }
        }

        .table-set {
          margin-top: 2.188rem; // 35px
          table {
            width: 100%;
            .list-head {
              tr {
                color: map-get($blacks, "light");
                border-bottom: 0.125rem solid map-get($grays, "default");
              }
            }
            .list-body {
              display: block;
              width: 60rem; // 960px
              height: 32.8125rem; // 525px
              color: map-get($grays, "dark");
              overflow-y: auto;
              .list-row {
                display: table;
                width: 100%;
                height: 3.125rem; // 50px
                line-height: 3.125rem; // 50px
                & > td {
                  display: inline-block; // 말줄임 적용을 위해 추가
                  vertical-align: middle;
                }
              }
            }
          }
        }
      }
    }
    // 신청서
    &.document-modal-dialog {
      // 신청서일 경우 우측 properties가 존재하지 않음
      .z-document-main { right: 0; }
    }
    // 트리 모달
    &.tree {
      width: $tree-modal-width;
      height: $tree-modal-height;

      .modal-content {
        height: calc(#{$tree-modal-height} - #{$modal-header-height} - #{$modal-bottom-height});
        padding: 1.125rem 0 0 1.25rem;
        div {
          height: 100%;
          label { font-weight: $font-weight-regular; }
          li {
            &:last-child:before {
              background-color: $modal-bg-color;
            }
          }
        }
      }
    }

    &.custom-code-list {
      width: $custom-code-modal-width;
      height: $custom-code-modal-height;

      .modal-content {
        height: calc(#{$custom-code-modal-height} - #{$custom-code-modal-header-height} - #{$custom-code-modal-bottom-height});
        padding: 0.625rem 1.25rem 0.625rem 1.25rem; // 10px 20px 20px 20px

        .field-label {
          display: inline-block;
          margin: 1rem 0 0.5rem 0; // 16px 0 8px 0
        }
      }

      .input-search {
        padding-top: 1.875rem; // 30px
      }

      .custom-code-main {
        padding-top: 1.25rem; // 20px
      }
    }
  }
}

