/* _print.scss 
 *
 * 파일 경로 : document/_print.scss
 * @description 프린트 화면 디자인
 * @author wdj
 * @version 1.0
 */
.z-print {
  margin: 0 auto;

  z-print-main > div {
    height: 0;
  }

  &-main-footer {
    line-height: 1.2;
    padding: 5mm 0;
  }

  &-header-space,
  &-footer-space { height: 0; }

  &-main {
    .z-drawing-board {
      .z-form {
        box-shadow: none; // 인쇄 영역의 테두리엔 그림자 효과 제외
        border: none; // 인쇄시 테두리 제외
        // 인쇄시 폼 내의 모든 컴포넌트 동작을 막음
        * { pointer-events: none; }
      }
    }
  }
}

@page {
  size: A4;
  margin: 0 20mm;
}
@media print {
  html, body {
    width: $print-a4-width;
    height: $print-a4-height;
    color-adjust: exact;
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }
  .z-print {
    padding: 0;
    margin: 0;
    border: initial;
    border-radius: initial;
    width: 100%;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-before: auto;

    &-main-header {
      margin: 5mm 0 0 0;
    }

    &-header-space { height: 10mm; }
    &-footer-space { height: 20mm; }

    &-main {
      margin: 0 auto;

      .z-print-header-space { display: table-header-group; }
      .z-drawing-board { display: table-row-group; }
      .z-print-footer-space { display: table-footer-group; }

      // 폼이 그려지는 영역
      .z-drawing-board {
        .z-form {
          display: table-row;
          .z-row-tooltip {
            break-inside: avoid;
          }
        }
      }
    }

    &-main-footer {
      position: fixed;
      bottom: 0;
      width: $print-a4-width;
    }
  }
}

