/* _print.scss 
 *
 * 파일 경로 : document/_print.scss
 * @description 프린트 화면 디자인
 * @author wdj
 * @version 1.0
 */
.#{$common-prefix}print {
  margin: 1cm auto;

  .#{$common-prefix}print-main-header {
    line-height: 1.2;
    margin: 0 0 10mm 0;
  }
  .#{$common-prefix}form {
    box-shadow: none;
    // 인쇄시 모든 동작을 막음
    input, textarea, button, select,
    .dropzone, .ql-toolbar,
    label.radio, label.checkbox {
      pointer-events: none;
    }
  }
}

@page {
  size: A4;
  margin: 0;
}
@media print {
  html, body {
    width: 210mm;
    height: 297mm;
  }
  .#{$common-prefix}print {
    padding: 0mm 20mm;
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;

    .#{$common-prefix}print-main-header {
      margin: 0 0 10mm 0;
    }

    .#{$common-prefix}form {
      box-shadow: none; // 인쇄 영역의 테두리엔 그림자 효과 제외
    }
  }
}

