//////////////////////////// layout ////////////////////////////
// header
$layout-header-height:                       0; // 0px

// main
$layout-main-bg-color:                       $neutral50;

// 문서 번호
$document-numbering-font-family:             $font-family-s;
$document-numbering-font-size:               $font-size-xs;
$document-numbering-color:                   $gray800;

// main > drawing-board
$drawing-board-width:                        60rem; // 960px
$drawing-board-bg-color:                     $white;
$drawing-board-border:                       0.0625rem solid map-get($grays, 'line'); // 1px
$drawing-board-box-shadow:                   0 0 0.9375rem 0 hexToRGBA(map-get($grays, 'pressed'), 0.3); // 흐림 15px,  $pressed-gray, 불투명도 30%;
$drawing-board-padding:                      6.25rem 4.688rem; // 100px 75px;

$layout-properties-width:                    38.13rem; // 610px

//////////////////////////// CI 모달 /////////////////////////
$cmdb-ci-modal-width:                        62.5rem; // 1000px
$cmdb-ci-modal-height:                       53.0625rem; // 849px

$cmdb-ci-attribute-border:                   0.0625rem solid map-get($grays, 'line'); // 1px
$cmdb-ci-attribute-bg-color:                 map-get($grays, 'light');

///////////////////////////// Tree ////////////////////////////////
$tree-modal-width:                           40rem; // 640px
$tree-modal-height:                          44.19rem; // 707px

///////////////////////// 커스텀코드 리스트 모달 /////////////////////////
$custom-code-modal-width:                    40rem; // 640px
$custom-code-modal-height:                   53.75rem; // 860px
$custom-code-modal-header-height:            3.125rem; // 50px
$custom-code-modal-bottom-height:            6.25rem; //100px

/////////////////////////// color Set //////////////////////////
$grays: (
  'icon':                                         #A0A4A6,
  'line':                                         #D7DBE0,
  'fill':                                         #EBECED,
  'focus':                                        #283238
) !default;
