//////////////////////////// layout ////////////////////////////
// header
$layout-header-height:                       0; // 0px

// main
$layout-main-bg-color:                       $neutral50;

// 문서 번호
$document-numbering-font-family:             $font-family-s;
$document-numbering-font-size:               $font-size-xs;
$document-numbering-color:                   $gray800;

// main > drawing-board
$drawing-board-width:                        60rem; // 960px
$drawing-board-bg-color:                     $white;

// properties
$layout-properties-width:                    38.13rem; // 610px
$layout-properties-bg-color:                 $white;
$layout-properties-border-color:             $gray300;
$layout-properties-border-width:             0.0625rem; // 1px

// properties > 탭
$token-tab-color:                            $gray400;
$token-tab-border-color:                     $gray300;
$token-tab-border-width:                     0.0625rem; // 1px

$token-tab-selected-color:                   $gray800;
$token-tab-selected-border-color:            $blue500;
$token-tab-selected-border-width:            0.188rem; // 3px

$token-tab-sub-title-color:                  $gray500;

// 처리이력 테이블
$token-history-table-border-color:           $gray300;
$token-history-table-border-width:           0.0625rem; // 1px
$token-history-thead-color:                  $gray400;
$token-history-thead-bg-color:               $neutral100;

// 관련 문서
$token-related-border-color:                 $gray300;
$token-related-border-width:                 0.0625rem; // 1px
$token-related-border-radius:                0.125rem; // 2px
$token-related-add-bg-color:                 $neutral50;

$token-related-name-color:                   $gray800;
$token-related-numbering-color:              $gray500;

$token-list-modal-width:                     62.5rem; // 1000px
$token-list-modal-height:                    53.0625rem; // 849px

// 댓글
$token-comment-border-color:                 $gray300;
$token-comment-border-width:                 0.0625rem; // 1px
$token-comment-border-radius:                0.125rem; // 2px

$token-comment-user-name-color:              $gray800;
$token-comment-time-color:                   $gray500;

//////////////////////////// Form ///////////////////////////
$group-accordion-border-color:               $gray300;

//////////////////////////// CI 모달 /////////////////////////
$cmdb-ci-modal-width:                        62.5rem; // 1000px
$cmdb-ci-modal-height:                       53.0625rem; // 849px

$cmdb-ci-attribute-border-color:             $gray300;
$cmdb-ci-attribute-border-width:             0.0625rem; // 1px
$cmdb-ci-attribute-bg-color:                 $neutral50;
$cmdb-ci-attribute-border-radius:            0.0625rem; // 1px

$cmdb-ci-relation-height:                    2.4375rem; // 39px
$cmdb_ci-relation-font-size:                 $font-size-l; // 24px
$cmdb-ci-relation-select-group-width:        54.75rem; // 876px
$cmdb-ci-relation-select-group-font-size:    $font-size-m;
$cmdb-ci-relation-select-group-font-weight:  $font-weight-medium;
$cmdb-ci-relation-select-group-font-family:  $font-family-m;
$cmdb-ci-relation-select-group-padding:      0.6875rem 0 0.6875rem 0; // 11px 0 11px 0

$cmdb-ci-target-select-box-width:            30.5rem; // 488px
$cmdb-ci-relation-select-box-width:          21.8125rem; // 349px

$cmdb-ci-child-attribute-border-color:       $gray300;
$cmdb-ci-child-attribute-border-width:       0.0625rem; // 1px
$cmdb-ci-child-attribute-bg-color:           $white;
$cmdb-ci-child-attribute-border-radius:      0.0625rem; // 1px

///////////////////////////// Tree ////////////////////////////////
$tree-modal-width:                           40rem; // 640px
$tree-modal-height:                          44.19rem; // 707px

///////////////////////// 커스텀코드 리스트 모달 /////////////////////////
$custom-code-modal-width:                    40rem; // 640px
$custom-code-modal-height:                   46.875rem; // 750px

///////////////////////// 인쇄 /////////////////////////
$print-font-color:                           $black;
$print-a4-width:                             210mm;
$print-a4-height:                            297mm;
