<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/assets/css/alice-portal.css}" rel="stylesheet"/>
</head>
<body>
<div class="alicePortal">
    <div class="portal-search-top">
        <img class="left" th:src="@{/assets/media/image/portalSearch/zenius_itsm_logo.png}" alt="Alice">
        <div class="right login" sec:authorize="isAuthenticated()" onclick="location.href='/layout'"
             th:text="#{portal.label.main}"></div>
        <div class="right login" sec:authorize="isAnonymous()" onclick="location.href='/login'"
             th:text="#{portal.label.login}"></div>
    </div>
    <div class="portal-search-main">
        <h1 class="title" th:text="#{portal.label.topPhrase}"></h1>
        <input class="icon" type="text" id="searchValue" name="searchValue" th:value="${portalSearchDto?.searchValue}"
               th:placeholder="#{common.label.searchWord}"/>
    </div>
    <div class="portal-search-content">
        <ul>
            <li class="part-box">
                <div class="header">
                    <div class="icon">
                        <img th:src="@{/assets/media/image/portal/graphic_notice.png}"/>
                    </div>
                    <h3 th:text="#{menu.notice.parent}"></h3>
                </div>
                <div class="list">
                    <table id="notice"></table>
                </div>
            </li>
            <li class="part-box">
                <div class="header">
                    <div class="icon">
                        <img th:src="@{/assets/media/image/portal/graphic_faq.png}"/>
                    </div>
                    <h3 th:text="#{menu.faq.parent}"></h3>
                </div>
                <div class="list">
                    <table id="faq"></table>
                </div>
            </li>
            <li class="part-box">
                <div class="header">
                    <div class="icon">
                        <img th:src="@{/assets/media/image/portal/graphic_download.png}"/>
                    </div>
                    <h3 th:text="#{menu.download.parent}"></h3>
                </div>
                <div class="list">
                    <table id="download"></table>
                </div>
            </li>
        </ul>
    </div>
</div>
</body>
<script th:src="@{/assets/js/util/util-alice.js}"></script>
<script th:src="@{/assets/js/util/i18n-alice.js}"></script>
<script th:src="@{/assets/vendors/luxon/luxon.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[ */
    const topSize = 6;

    window.onload = function () {
        i18n.init(JSON.stringify({}));
        initEventListener();
        initPortalTops('get', '/rest/portal/top?limit=' + topSize);
    }

    /*
    * 이벤트리스너 초기화
    */
    function initEventListener() {
        document.getElementById('searchValue').addEventListener('keyup', (e) => {
            if (e.key === 'Enter') {
                portalSearch('get', '/portal/list?page=0')
            }
        });
    }

    /*
    * 포탈 화면 초기화
    */
    function initPortalTops(method, url) {
        const opt = {
            method: method,
            url: url,
            contentType: 'application/json; charset=utf-8',
            showProgressbar: false,
            callbackFunc: function (response) {
                let tops = Object.entries(JSON.parse(response.responseText));
                tops.forEach(([topName, topData]) => {
                    let topElement = document.getElementById(topName);
                    for (let i = 0; i < topData.length; i++) {
                        let data = topData[i];
                        let row = document.createElement('tr');
                        let cell = document.createElement('td');
                        let contentAnchor = document.createElement('a');
                        contentAnchor.setAttribute('href', '#N');
                        let contentText = document.createElement('h5');
                        contentText.classList.add('text-ellipsis');
                        let dt = (data['updateDt'] == null) ? data['createDt'] : data['updateDt']
                        contentText.textContent = '[' + i18n.userDateTime(dt) + '] ' + data[topElement.id + 'Title'];
                        contentAnchor.appendChild(contentText);
                        cell.appendChild(contentAnchor);
                        row.appendChild(cell);
                        topElement.appendChild(row);
                    }
                });
            }
        };
        aliceJs.sendXhr(opt);
    }

    /*
    * 포탈 검색
    */
    function portalSearch(method, url) {
        url = url + '&' + encodeURIComponent('searchValue') + "=" + encodeURIComponent(document.getElementById('searchValue').value.trim())
        const opt = {
            method: method,
            url: url,
            showProgressbar: false,
            callbackFunc: function (response) {
                if (document.querySelector('.portal-search-content')) {
                    document.querySelector('.portal-search-content').className = 'portal-search-result'
                }
                document.querySelector('.portal-search-result').innerHTML = response.responseText
            }
        };
        aliceJs.sendXhr(opt);
    }
    /* ]]> */
</script>
</html>
