<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/assets/css/alice-portal.css}" rel="stylesheet"/>
</head>
<body>
<div class="alicePortal">
    <div class="portal-search-top">
        <img class="left" th:src="@{/assets/media/image/portalSearch/zenius_itsm_logo.png}" alt="Alice">
        <div class="right login" sec:authorize="isAuthenticated()" onclick="location.href='/layout'" th:text="#{portal.label.main}"></div>
        <div class="right login" sec:authorize="isAnonymous()" onclick="location.href='/login'" th:text="#{portal.label.login}"></div>
    </div>
    <div class="portal-search-main">
        <h1 class="title" th:text="#{portal.label.topPhrase}"></h1>
        <input class="icon" type="text" id="searchValue" name="searchValue" th:value="${portalSearchDto?.searchValue}" placeholder="검색어를 입력해주세요." onKeydown="javascript:if(event.keyCode == 13) locationSubmit('get', '/portal/list?page=0'); "/>
    </div>
    <div class="portal-search-content">
        <ul>
            <li class="part-box">
                <div class="header">
                    <div class="icon">
                        <img th:src="@{/assets/media/image/portal/graphic_notice.png}" />
                    </div>
                    <h3 th:text="#{menu.notice.parent}"></h3>
                </div>
                <div class="list">
                    <table id="notice"></table>
                </div>
            </li>
            <li class="part-box">
                <div class="header">
                    <div class="icon">
                        <img th:src="@{/assets/media/image/portal/graphic_faq.png}" />
                    </div>
                    <h3 th:text="#{menu.faq.parent}"></h3>
                </div>
                <div class="list">
                    <table id="faq"></table>
                </div>
            </li>
            <li class="part-box">
                <div class="header">
                    <div class="icon">
                        <img th:src="@{/assets/media/image/portal/graphic_download.png}" />
                    </div>
                    <h3 th:text="#{menu.download.parent}"></h3>
                </div>
                <div class="list">
                    <table id="download"></table>
                </div>
            </li>
        </ul>
    </div>
</div>
</body>
<script th:src="@{/assets/js/util/util-alice.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[ */
    const topSize = 6;

    window.onload = function() {
        restSubmit('get', '/rest/portal/top?limit=' + topSize);
    }

    function restSubmit(method, url) {
        const opt = {
            method: method,
            url: url,
            contentType: 'application/json; charset=utf-8',
            showProgressbar: false,
            callbackFunc: function(response) {
                setTopList(JSON.parse(response.responseText));
            }
        };
        aliceJs.sendXhr(opt);
    }

    function setTopList(data) {
        makeTopList(data['notice'], document.getElementById('notice'));
        makeTopList(data['faq'], document.getElementById('faq'));
        makeTopList(data['download'], document.getElementById('download'));
    }

    function makeTopList(data, element) {
        for (let i = 0; i < topSize; i++) {
            let row = document.createElement('tr');
            let cell = document.createElement('td');
            if (data[i] !== undefined) {

                let content_anchor = document.createElement('a');
                content_anchor.setAttribute('href', '#N');
                let content_text = document.createElement('h5');
                content_text.textContent = data[i][element.id + 'Title'];
                content_anchor.appendChild(content_text);
                cell.appendChild(content_anchor);
            }
            row.appendChild(cell);
            element.appendChild(row);
        }
    }

    function locationSubmit(method, url) {
        const data = {
            searchValue: encodeURIComponent(document.getElementById('searchValue').value.trim())
        };
        location.href = url + '&searchValue=' + data.searchValue;
    }
    /* ]]> */
</script>
</html>
