<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p th:text="#{portal.label.browserGuidePhrase}"></p>
<a href="https://www.google.co.kr/chrome/?brand=CHBD&gclid=EAIaIQobChMI8OfW9ezB6QIVVKWWCh28vgcoEAAYASAAEgJk2fD_BwE&gclsrc=aw.ds" th:text="#{portal.label.chrome}" target="_blank"></a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="https://www.mozilla.org/ko/firefox/new/" th:text="#{portal.label.firefox}" target="_blank"></a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="https://www.microsoft.com/ko-kr/edge" th:text="#{portal.label.msEdge}" target="_blank"></a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="https://support.apple.com/ko_KR/downloads/safari" th:text="#{portal.label.safari}" target="_blank"></a>
</body>
</html>