<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" th:href="@{/assets/media/icons/zenius.ico}" type="image/x-icon">
</head>
<body>
<div class="list">
    <div class="row" th:each="portalList : ${portalList}">
        <div class="type-icon" th:classappend="${portalList.tableName} != '' ? ${portalList.tableName}"></div>
        <div class="content-box">
            <div class="title text-ellipsis">
                <a href="#N" th:if="${portalList.portalTitle != null}" th:text="${portalList.portalTitle}"></a></div>
            <div class="content text-ellipsis" th:text="${portalList.portalContent}"></div>
        </div>
    </div>
    <div class="row" th:if="${#arrays.isEmpty(portalList)}">
        <div class="no-data" th:text="#{common.msg.noData}"></div>
    </div>
</div>
</body>
</html>
