<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="css/workflow.css"></head>
<body>
<div class="wf.document">
	<div class="wf.row">
        <div class="wf.label">제목</div>
        <div class="wf.input"><input type="text" /></div>
        <div class="wf.label">작성자</div>
        <div class="wf.input"><input type="text" /></div>
    </div>
    <div class="wf.row">
        <div class="wf.label">내용</div>
        <div class="wf.textarea"><textarea></textarea></div>
        <div class="wf.label">승인자</div>
        <div class="wf.label"><select></select></div>
    </div>
    <div class="wf.row">
        <div class="wf.label">작성일</div>
        <div class="wf.date"><input type="text" /></div>
    </div>
    
</div>
</body>
</html>