<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:text="#{form.label.title}"></title>
    <meta http-equiv="expire" content="-1"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <th:block th:replace="formRefactoring/fragments/formHead :: formHead"></th:block>
    <script th:src="@{/assets/js/util/shortcut-alice.js}"></script>
    <script type="module">
        // 사용자 세션 정보 저장
        import { SESSION } from '../../assets/js/formRefactoring/lib/constants.js';
        import FormDesigner from '../../assets/js/formRefactoring/formDesigner/formDesigner.js';

        const userSession = {
            userKey : '[[${#authentication.details.userKey}]]',
            userId : '[[${#authentication.details.userId}]]',
            userName: '[[${#authentication.details.userName}]]',
            email: '[[${#authentication.details.email}]]',
            position: '[[${#authentication.details.position}]]',
            department: '[[${#authentication.details.department}]]',
            officeNumber: '[[${#authentication.details.officeNumber}]]',
            mobileNumber: '[[${#authentication.details.mobileNumber}]]'
        };
        if (userSession['department'] !== '') {
            aliceJs.sendXhr({
                method: 'GET',
                async: false,
                url: '/rest/codes/' + userSession['department'],
                callbackFunc: function(xhr) {
                    let result = JSON.parse(xhr.responseText);
                    userSession['departmentName'] = result.codeName;
                    Object.assign(SESSION, userSession);
                },
                contentType: 'application/json; charset=utf-8'
            });
        } else {
            Object.assign(SESSION, userSession);
        }
        const designer = new FormDesigner('[[${formId}]]');
        console.log(designer);
        OverlayScrollbars(document.getElementById('formMain'), { className: 'scrollbar' });
    </script>
</head>
<body>
    <div class="alice-wrapper">
        <form id="frm" name="frm">
            <div class="form-container">
                <!-- 상단 네비게이션 -->
                <div class="form-header"  id="menuBar">
                    <img class="logo"  th:src="@{/assets/media/icons/icon_logo_white.svg}" width="152" height="26" alt="Zenius ITSM" />
                    <span class="name" th:text="#{form.label.title}"></span>
                    <span class="separator"></span>
                    <th:block th:if="${#strings.isEmpty(isView)}" sec:authorize="hasAuthority('form.create')">
                        <button type="button" id="btnSave" class="btn-header header-tooltip">
                            <span class="icon-save"></span>
                            <div class="tooltip-contents">
                                <span th:text="#{common.btn.save}"></span>
                            </div>
                        </button>
                    </th:block>
                    <th:block sec:authorize="hasAnyAuthority('form.create', 'form.update')">
                        <button type="button" id="btnSaveAs" class="btn-header header-tooltip">
                            <span class="icon-save-as"></span>
                            <div class="tooltip-contents">
                                <span th:text="#{common.btn.saveAs}"></span>
                            </div>
                        </button>
                    </th:block>
                    <th:block th:if="${#strings.isEmpty(isView)}">
                        <button type="button" id="btnUndo" class="btn-header header-tooltip">
                            <span class="icon-undo"></span>
                            <div class="tooltip-contents">
                                <span th:text="#{form.label.undo}"></span>
                            </div>
                        </button>
                    </th:block>
                    <th:block th:if="${#strings.isEmpty(isView)}">
                        <button type="button" id="btnRedo" class="btn-header header-tooltip">
                            <span class="icon-redo"></span>
                            <div class="tooltip-contents">
                                <span th:text="#{form.label.redo}"></span>
                            </div>
                        </button>
                    </th:block>
                    <button type="button" id="btnPreview" class="btn-header header-tooltip">
                        <span class="icon-preview"></span>
                        <div class="tooltip-contents">
                            <span th:text="#{form.label.preview}"></span>
                        </div>
                    </button>
                    <span class="ml-auto" id="form-name"></span>
                </div>
                <!-- 컴포넌트 팔레트 -->
                <div class="form-component-palette" id="componentPalette">
                    <div class="component-accordion-box" id="componentList">
                        <!-- inputs: 일반적인 입력 항목 -->
                        <div class="component-accordion">
                            <input type="radio" id="inputs" name="accordion-type" checked="true">
                            <label class="flex-row justify-content-between accordion-label" for="inputs">
                                <span class="type-name">Inputs</span>
                                <span class="arrow-left"></span>
                            </label>
                            <div class="accordion-content">
                                <ul class="flex-row flex-wrap component-icon-box">
                                    <li class="component-icon inputBox draggable" id="inputBox" draggable="true" data-draggable-role="copy">
                                        <span class="icon icon-inputBox"></span>
                                        <span class="component-name" th:text="#{form.component.inputBox}"></span>
                                    </li>
                                    <li class="component-icon textArea draggable" id="textArea" draggable="true" data-draggable-role="copy">
                                        <span class="icon icon-textArea"></span>
                                        <span class="component-name" th:text="#{form.component.textArea}"></span>
                                    </li>
                                    <li class="component-icon textEditor draggable" id="textEditor" draggable="true" data-draggable-role="copy">
                                        <span class="icon icon-textEditor"></span>
                                        <span class="component-name" th:text="#{form.component.textEditor}"></span>
                                    </li>
                                    <li class="component-icon dropdown draggable" id="dropdown" draggable="true" data-draggable-role="copy">
                                        <span class="icon icon-dropdown"></span>
                                        <span class="component-name" th:text="#{form.component.dropdown}"></span>
                                    </li>
                                    <li class="component-icon radio draggable" id="radio" draggable="true" data-draggable-role="copy">
                                        <span class="icon icon-radio"></span>
                                        <span class="component-name" th:text="#{form.component.radio}"></span>
                                    </li>
                                    <li class="component-icon checkBox draggable" id="checkBox" draggable="true" data-draggable-role="copy">
                                        <span class="icon icon-checkBox"></span>
                                        <span class="component-name" th:text="#{form.component.checkBox}"></span>
                                    </li>
                                    <li class="component-icon date draggable" id="date" draggable="true" data-draggable-role="copy">
                                        <span class="icon icon-date"></span>
                                        <span class="component-name" th:text="#{form.component.date}"></span>
                                    </li>
                                    <li class="component-icon time draggable" id="time" draggable="true" data-draggable-role="copy">
                                        <span class="icon icon-time"></span>
                                        <span class="component-name" th:text="#{form.component.time}"></span>
                                    </li>
                                    <li class="component-icon dateTime draggable" id="dateTime" draggable="true" data-draggable-role="copy">
                                        <span class="icon icon-dateTime"></span>
                                        <span class="component-name" th:text="#{form.component.dateTime}"></span>
                                    </li>
                                    <li class="component-icon fileUpload draggable" id="fileUpload" draggable="true" data-draggable-role="copy">
                                        <span class="icon icon-fileUpload"></span>
                                        <span class="component-name" th:text="#{form.component.fileUpload}"></span>
                                    </li>
                                    <li class="component-icon customCode draggable" id="customCode" draggable="true" data-draggable-role="copy">
                                        <span class="icon icon-customCode"></span>
                                        <span class="component-name" th:text="#{form.component.customCode}"></span>
                                    </li>
                                    <li class="component-icon dynamicRowTable draggable" id="dynamicRowTable" draggable="true" data-draggable-role="copy">
                                        <span class="icon icon-dynamicRowTable"></span>
                                        <span class="component-name" th:text="#{form.component.dynamicRowTable}"></span>
                                    </li>
                                    <li class="component-icon ci draggable" id="ci" draggable="true" data-draggable-role="copy">
                                        <span class="icon icon-ci"></span>
                                        <span class="component-name" th:text="#{form.component.ci}"></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- format:가로선, 이미지, 라벨 등 꾸미기 항목 -->
                        <div class="component-accordion">
                            <input type="radio" id="format" name="accordion-type">
                            <label class="flex-row justify-content-between accordion-label" for="format">
                                <span class="type-name">Format</span>
                                <span class="arrow-left"></span>
                            </label>
                            <div class="accordion-content">
                                <ul class="flex-row flex-wrap component-icon-box">
                                    <li class="component-icon label draggable" id="label" draggable="true" data-draggable-role="copy">
                                        <span class="icon icon-label"></span>
                                        <span class="component-name" th:text="#{form.component.label}"></span>
                                    </li>
                                    <li class="component-icon image draggable" id="image" draggable="true" data-draggable-role="copy">
                                        <span class="icon icon-image"></span>
                                        <span class="component-name" th:text="#{form.component.image}"></span>
                                    </li>
                                    <li class="component-icon divider draggable" id="divider" draggable="true" data-draggable-role="copy">
                                        <span class="icon icon-divider"></span>
                                        <span class="component-name" th:text="#{form.component.divider}"></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- visual: video, html, map, chart 등 추후 구현 -->
                        <div class="component-accordion">
                            <input type="radio" id="visual" name="accordion-type">
                            <label class="flex-row justify-content-between accordion-label" for="visual">
                                <span class="type-name">Visual</span>
                                <span class="arrow-left"></span>
                            </label>
                            <div class="accordion-content">
                                <ul class="flex-row flex-wrap component-icon-box">
                                </ul>
                            </div>
                        </div>
                        <!-- custom: 고객 설정 컴포넌트 -->
                        <div class="component-accordion">
                            <input type="radio" id="custom" name="accordion-type">
                            <label class="flex-row justify-content-between accordion-label" for="custom">
                                <span class="type-name">Custom</span>
                                <span class="arrow-left"></span>
                            </label>
                            <div class="accordion-content" id="customComponentList">
                                <ul class="flex-row flex-wrap component-icon-box">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 폼 -->
                <div class="form-main" id="formMain">
                    <div class="align-center drawing-board" id="drawingBoard"></div>
                </div>
                <!-- 속성 패널 -->
                <div class="form-properties-panel-header">
                    <span iid="propertyName"></span>
                </div>
                <div class="form-properties-panel" id="propertyPanel"></div>
            </div>
        </form>
    </div>
</body>
</html>
