<!DOCTYPE html>
<html layout:decorate="~{layout/itsm/pageType/commonEditLayout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{notification.label.notificationManagement}"></title>
</head>
<body>
<div layout:fragment="pageTitle">
    <h1 th:text="#{notification.label.notificationManagement}"></h1>
</div>
<div layout:fragment="pageEdit">
    <div class="flex-row justify-content-end tooltip--info ">
        <label th:text="#{notification.label.aliasInfo}"></label>
        <span class="ic-tooltip"></span>
        <div class="tooltip__box right-bottom col-3">
            <span th:utext="#{notification.tooltip.aliasList}"></span>
        </div>
    </div>
    <div class="flex-column edit-row" th:each="configs: ${notificationConfigs}">
        <div th:id="${configs.notificationCode}">
            <h2 th:text="${configs.notificationName}"></h2>
            <div th:name="${configsDetail.channel}" class="mt-5"
                 th:each="configsDetail: ${configs.notificationConfigDetails}">
                <input type="checkbox" name="useYn" th:checked="${configsDetail?.useYn == true}">
                <span th:text="${configsDetail.channel}"></span>
                <div class="mt-2 mb-5">
                    <textarea class="col-10" rows="10"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="flex-row justify-content-end edit-row">
        <div class="btn__list ">
            <button class="btn__text--box primary" th:text="#{common.btn.save}"
                    onclick="notificationConfigSave()"></button>
        </div>
    </div>
</div>
</body>
<script layout:fragment="pageScript" type="text/javascript" th:inline="javascript">
    let notificationConfigs = [[${notificationConfigs}]];

    window.onload = function () {
        console.log(notificationConfigs);
        setNotificationConfigJson();
        OverlayScrollbars(document.querySelector('.page-content'), {className: 'scrollbar'});
    }

    // 알람 유형별 채널 textarea 데이터 셋팅
    function setNotificationConfigJson() {
        // 알람 유형 리스트 가져오기 ex> 신청서
        notificationConfigs.forEach(config => {
            // 알람 유형 별 상세(채널) 정보 가져오기 ex> mail
            config.notificationConfigDetails.forEach(configDetail => {
                let configDetailJson = null;

                if (configDetail.channel == 'mail') {
                    configDetailJson = {
                        title: configDetail.titleFormat,
                        message: configDetail.messageFormat,
                        template: configDetail.template,
                        url: configDetail.url
                    }
                } else {
                    configDetailJson = {
                        title: configDetail.titleFormat,
                        message: configDetail.messageFormat
                    }
                }
                document.getElementById(config.notificationCode)
                    .querySelector('div[name="' + configDetail.channel + '"] > div > textarea ')
                    .textContent = JSON.stringify (configDetailJson).replaceAll(',', ',\n');
            })
        });
    }

    function notificationConfigSave() {
        // Controller에 전달할 데이터
        let updateList = [];

        // 알람 유형 리스트 가져오기 ex> 신청서, CMDB 라이센스
        notificationConfigs.forEach(config => {
            // Controller에 전달할 데이터 format
            let configData = {
                notificationCode: config.notificationCode,
                notificationName: config.notificationName,
                notificationConfigDetails: []
            };

            config.notificationConfigDetails.forEach(configDetail => {
                // 알람 유형 Div ex> 신청서내 mail, sms , toast 포함
                let notificationConfigDiv = document.getElementById(config.notificationCode);

                // 알람 유형 별 상세(채널) 정보 가져오기 ex> mail
                let configDetailJson = JSON.parse(notificationConfigDiv
                    .querySelector('div[name="' + configDetail.channel + '"] > div > textarea ')
                    .value);

                let useYn = notificationConfigDiv
                    .querySelector('div[name="' + configDetail.channel + '"] > input[type=checkbox]')
                    .checked;

                // configData내  notificationConfigDetails에 데이터 추가
                let configDetailData = {
                    channel: configDetail.channel,
                    useYn: useYn,
                    titleFormat: configDetailJson.title,
                    messageFormat: configDetailJson.message,
                    template: configDetail.channel === 'mail' ? configDetailJson.template : null, // 메일일 경우에만 template 설정
                    url: configDetail.channel === 'mail' ? configDetailJson.url : null // 메일일 경우에만 url 설정
                };
                configData.notificationConfigDetails.push(configDetailData);
            })
            updateList.push(configData);
        });

        aliceJs.fetchJson('/rest/notifications/notificationConfig', {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(updateList)
        }).then((response) => {
            if (response.status === aliceJs.response.success) {
                zAlert.success([[#{common.msg.save}]], function () {
                    location.href = '/notifications/edit';
                });
            } else {
                zAlert.danger([[#{common.msg.fail}]]);
            }
        });
    }
</script>
</html>
