<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div class="notification-header">
        <span class="title" th:text="#{notification.label.notification}"></span>
        <span id="total"></span>
        <span class="message" th:text="#{notification.msg.description}"></span>
        <span class="close">X</span>
    </div>
    <div class="notification-body">
        <div class="notification nodata" th:if="${#arrays.isEmpty(notificationList)}" >
            <span th:text="#{notification.msg.noNotificationData}"></span>
        </div>
        <div>
            <div class="notification notification-content" th:unless="${#arrays.isEmpty(notificationList)}"
                 th:each="notification: ${notificationList}"
                th:id="${notification.notificationId}" th:attr="instance-id=${notification.instanceId}"
                th:attrappend="is-confirm=${notification.confirmYn}" th:attrprepend="is-display=${notification.displayYn}"
                th:classappend="${notification.confirmYn} ? confirm">
                <div>
                    <label><input type="checkbox" th:checked="${notification.confirmYn}"
                                  th:onclick="updateNotification([[${notification.notificationId}]], 'confirm')"
                                  th:disabled="${notification.confirmYn}"/></label>
                    <span class="title text-ellipsis" th:text="${notification.title}"
                        th:onclick="openTokenPage([[${notification.notificationId}]], [[${notification.instanceId}]])"></span>
                    <button class="remove" th:onclick="deleteNotification([[${notification.notificationId}]])"></button>
                </div>
                <div>
                    <span class="message text-ellipsis" th:text="${notification.message}"></span>
                </div>
                <div>
                    <span class="date" th:text="${#temporals.format(notification.createDt, dateformat)}"
                          th:with="dateformat=${#authentication.details.timeFormat}"></span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
