<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div class="notification-panel__header">
        <span class="notification-panel__header__title" th:text="#{notification.label.notification}"></span>
        <span id="total"></span>
        <span class="notification-panel__header__message" th:text="#{notification.msg.description}"></span>
        <span class="ic-remove float-right" onclick="toggleNotificationContainer();"></span>
    </div>
    <div class="notification-panel__body" th:classappend="${#arrays.isEmpty(notificationList)} ? nodata">
        <div class="noData align-center" th:if="${#arrays.isEmpty(notificationList)}">
            <span th:text="#{notification.msg.noNotificationData}"></span>
        </div>
        <div class="notification-panel__body__list" th:id="${notification.notificationId}"
             th:each="notification: ${notificationList}" th:unless="${#arrays.isEmpty(notificationList)}"
             th:attr="token-id=${notification.tokenId}, notification-type=${notification.type}"
             th:attrappend="isnot-confirm=${notification.confirmYn}" th:attrprepend="is-display=${notification.displayYn}"
             th:classappend="${notification.confirmYn} ? confirm">
            <div>
                <label class="checkbox checked float-left">
                    <input type="checkbox" th:checked="${notification.confirmYn}"
                              th:onclick="updateNotification([[${notification.notificationId}]], 'confirm')"
                              th:disabled="${notification.confirmYn}"/>
                </label>
                <span th:if="${notification.type == 'document'}" th:text="${notification.title}"
                      class="notification-panel__body__list__title notification-panel__body__list__title__link text-ellipsis"
                      th:classappend="${notification.confirmYn} ? confirm"
                      th:onclick="openTokenPage([[${notification.notificationId}]], [[${notification.tokenId}]])"></span>
                <span th:unless="${notification.type == 'document'}"
                      class="notification-panel__body__list__title text-ellipsis" th:text="${notification.title}"
                      th:classappend="${notification.confirmYn} ? confirm"></span>
                <span class="document-no ml-2 text-ellipsis" th:text="${notification.documentNo}"></span>
                <button class="ic-delete float-right" th:onclick="deleteNotification([[${notification.notificationId}]])"></button>
            </div>
            <div>
                <span class="notification-panel__body__list__message text-ellipsis" th:text="${notification.message}"></span>
            </div>
            <div>
                <span class="notification-panel__body__list__date" th:text="${notification.createDt}"></span>
            </div>
        </div>
    </div>
</body>
</html>
