<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block layout:fragment="content">
    <h1 th:text="#{token.label.relatedInstance}" style="text-align:left;"></h1>
    <input type="text" id="search" style="width: 270px" th:placeholder="#{token.label.searchPlaceholder}">
    <div id = tokenRelatedDocList></div>
    <div style="float:right;">
        <button type="button" th:onclick="setParentText()" th:text="#{common.btn.add}">추가</button>
    </div>
</th:block>
</body>
<th:block layout:fragment="script">
    <script th:src="@{/assets/js/document/document.js}"></script>
    <script th:src="@{/assets/vendors/gModal/js/gModal.js}"></script>
    <script th:src="@{/assets/js/util/i18n-alice.js}"></script>
    <script th:src="@{/assets/js/util/validation-alice.js}"></script>
    <script th:src="@{/assets/js/util/util-alice.js}"></script>
    <script type="text/javascript">
        /*<![CDATA[*/
        window.onload = function() {
            getTokenRelatedDocList(document.getElementById('search').value, true);
        };

        document.getElementById('search').onkeyup = function() {
            getTokenRelatedDocList(this.value, false);
        };

        // Related Document List Search
        function getTokenRelatedDocList(search, showProgressbar) {
            restSubmit('get', '/tokens/[[${tokenId}]]/view-pop/list?search=' + search.trim(), function(result) {
                document.getElementById('tokenRelatedDocList').innerHTML = result;
            }, showProgressbar);
        }

        //rest Api
        function restSubmit(method, url, result, showProgressbar) {
            const opt = {
                method: method,
                url: url,
                showProgressbar: showProgressbar,
                callbackFunc: function(response) {
                    result(response.responseText);
                }
            };
            aliceJs.sendXhr(opt);
        }

        // 부모창으로 값 넘기기
        function setParentText() {
            alert("test");
        }
        /*]]>*/
    </script>
</th:block>
</html>