<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<div class="grid" style="--data-columns-width: 3% 12% 20% 15% 15% 10% 10% 15%;">
    <div class="grid__head">
        <div class="grid__row">
            <div class="grid__cell" data-grid-sortable="false"></div>
            <div class="grid__cell pr-2 pl-2" data-grid-sortable="true" data-grid-column="documentNo">
                <span class="text-ellipsis" th:text="#{token.label.docNo}"></span>
            </div>
            <div class="grid__cell pr-2 pl-2" data-grid-sortable="false" data-grid-column="topics">
                <span class="text-ellipsis" th:text="#{token.label.name}"></span>
            </div>
            <div class="grid__cell pr-2 pl-2" data-grid-sortable="true" data-grid-column="documentGroup">
                <span class="text-ellipsis" th:text="#{token.label.documentGroup}"></span>
            </div>
            <div class="grid__cell pr-2 pl-2" data-grid-sortable="true" data-grid-column="assigneeUserName">
                <span class="text-ellipsis" th:text="#{token.label.assignee}"></span>
            </div>
            <div class="grid__cell pr-2 pl-2" data-grid-sortable="true" data-grid-column="elementName">
                <span class="text-ellipsis" th:text="#{token.label.status}"></span>
            </div>
            <div class="grid__cell pr-2 pl-2" data-grid-sortable="true" data-grid-column="createUserName">
                <span class="text-ellipsis" th:text="#{common.label.createUser}"></span>
            </div>
            <div class="grid__cell pl-2" data-grid-sortable="true" data-grid-column="createDt">
                <span class="text-ellipsis" th:text="#{common.label.createDate}"></span>
            </div>
        </div>
    </div>
    <div class="grid__body">
        <div class="grid__row grid--noData" th:if="${#arrays.isEmpty(tokenList)}">
            <div class="grid__cell"><span th:text="#{common.msg.noData}"></span></div>
        </div>
        <div class="grid__row" th:unless="${#arrays.isEmpty(tokenList)}" th:each="token: ${tokenList}"
             sec:authorize="hasAuthority('general')" th:onclick="openTokenEdit([[${token.tokenId}]])">
            <div class="grid__cell pr-2 pl-4">
                <span class="document-color-round" th:style="|background-color: ${token.documentColor}|"></span>
            </div>
            <div class="grid__cell pr-2 pl-2">
                <span class="text-ellipsis" th:text="${token.documentNo}" th:title="${token.documentNo}"></span>
            </div>
            <div class="grid__cell pr-2 pl-2">
                <span th:if="${token.documentStatus} == 'document.status.temporary'"
                      th:text="#{document.label.tempDocument}" class="label normal mr-2"></span>
                <span class="text-ellipsis bold" th:if="${#arrays.length(token.topics)} > 0" th:text="${token.topics[0]}" th:title="${token.topics[0]}"></span>
            </div>
            <div class="grid__cell pr-2 pl-2">
                <span class="text-ellipsis" th:text="${token.documentGroupName}" th:title="${token.documentGroupName}"></span>
            </div>
            <div class="grid__cell pr-2 pl-2">
                <img th:if="${token.assigneeUserAvatarPath != null}" class="z-img i-profile-photo mr-2" alt="profile pic" th:src="${token.assigneeUserAvatarPath}"
                     width="32" height="32">
                <span class="text-ellipsis bold mr-2" th:text="${token.assigneeUserName}"></span>
                <span class="text-ellipsis sub-text" th:text="${token.assigneeUserId}"></span>
            </div>
            <div class="grid__cell pr-2 pl-2">
                <span class="text-ellipsis bold" th:text="${token.elementName}" th:title="${token.elementName}"></span>
            </div>
            <div class="grid__cell pr-2 pl-2">
                <img class="z-img i-profile-photo mr-2" alt="profile pic" th:src="${token.createUserAvatarPath}"
                     width="32" height="32">
                <span class="text-ellipsis" th:text="${token.createUserName}"></span>
            </div>
            <div class="grid__cell pl-2">
                <span class="text-ellipsis date-time-from-now mr-2" th:text="${token.createDt}"></span>
                <span class="text-ellipsis date-time sub-text" th:text="${token.createDt}" th:title="${token.createDt}"></span>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="layout/itsm/fragment/totalCountFragment :: totalCountDataFragment"></th:block>
</body>
</html>
