<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="form/formCore">
<head>
    <title th:text="#{token.label.write}"></title>
</head>
<th:block layout:fragment="css">
    <link th:href="@{/assets/vendors/tagify/tagify.css}" rel="stylesheet"/>
    <link th:href="@{/assets/css/document.css}" rel="stylesheet"/>
    <link th:href="@{/assets/theme/{theme}/css/itsm.css(theme=${#authentication.details.theme})}"
          rel="stylesheet"/>
</th:block>
<body>
<th:block layout:fragment="content">
    <div class="document-container">
        <form id="frm" name="frm">
            <div class="document-main flex-column align-items-center">
                <div class="document-main-header flex-row justify-content-between align-items-center">
                    <span class="document-numbering" th:text="|#{document.label.docNo} : ${documentNo}|"></span>
                    <div class="btn-list">
                        <button type="button" class="default-line" onclick="openProcessStatusPopUp()" th:text="#{process.label.processMap}"></button>
                        <div id="button-panel"></div>
                        <button type="button" class="default-line" th:onclick="aliceDocument.print('/tokens/' + [[${tokenId}]])" th:text="#{common.btn.print}"></button>
                    </div>
                </div>
                <div class="drawing-board" id="document-panel"></div>
            </div>
        </form>
        <div class="token-properties"></div>
    </div>
</th:block>
</body>
<th:block layout:fragment="script">
    <script th:src="@{/assets/js/document/document.js}"></script>
    <script th:src="@{/assets/vendors/tagify/tagify.js}"></script>
    <script type="text/javascript">
        /*<![CDATA[*/
        let tokenListModal;
        window.onload = function () {
            aliceForm.init(aliceDocument.initToken, '[[${tokenId}]]');
            OverlayScrollbars(document.querySelectorAll('.list-wrap'), {className: 'scrollbar'});
        };

        function getInstanceList(search, showProgressbar) {
            restSubmit('get', '/tokens/view-pop/documents?searchValue=' + search.trim() + '&tokenId=' + '[[${tokenId}]]', function(result) {
                document.getElementById('instanceList').innerHTML = result;
                let instanceDtEle = document.querySelectorAll('td[name=instanceDt]');
                for (let i = 0; i < instanceDtEle.length; i++) {
                    if (instanceDtEle[i].textContent !== '') {
                        instanceDtEle[i].textContent = i18n.userDateTime(instanceDtEle[i].textContent);
                    }
                }
                // 스크롤바
                OverlayScrollbars(document.querySelector('.list-body'), { className: 'scrollbar' });
            }, null, showProgressbar);
        }

        // 관련문서 추가
        function saveTokenList() {
            let checked = document.querySelectorAll('input[name=chk]:checked');
            if (checked.length === 0) {
                aliceJs.alertWarning(i18n.msg('token.msg.selectToken'));
                return;
            } else {
                let jsonArray = new Array();
                for (let i = 0; i < checked.length; i++) {
                    let jsonObject = new Object();
                    jsonObject.folderId = '[[${folderId}]]';
                    jsonObject.instanceId = checked[i].value;
                    jsonArray.push(jsonObject);
                }
                restSubmit('POST', '/rest/folders', function() {
                    aliceDocument.createTokenInfoTab();
                    tokenListModal.hide();
                }, jsonArray, true);
            }
        }

        // 관련 문서 모달 내부 Template
        function createModalContent(data) {
            return `<div class="related-instance-list">` +
                       `<input class="search col-5" type="text" name="search" id="search" maxlength="100" placeholder="${i18n.msg('token.label.searchPlaceholder')}"/>` +
                       `<div class="table-set" id="instanceList"></div>` +
                    `</div>`;
        }

        // 관련문서 모달
        function openRelatedToken(tokenId, search) {
            tokenListModal = new modal({
                title: i18n.msg('token.label.relatedInstance'),
                body: createModalContent(),
                classes: 'token-list',
                buttons: [{
                    content: i18n.msg('common.btn.add'),
                    classes: "point-fill",
                    bindKey: false,
                    callback: function(modal) {
                        saveTokenList();
                    }
                },{
                    content: i18n.msg('common.btn.close'),
                    classes: "default-line",
                    bindKey: false,
                    callback: function(modal) {
                        modal.hide();
                    }
                }],
                close: {
                    closable: false,
                },
                onCreate: function(modal) {
                    document.getElementById('search').addEventListener('keyup', function() {
                        getInstanceList(this.value, false);
                    });
                    getInstanceList(document.getElementById('search').value, true);
                }
            });
            tokenListModal.show();
        }

        function openProcessStatusPopUp() {
            window.open('/process/[[${instanceId}]]/status', 'process_status_[[${instanceId}]]', 'width=1300, height=500');
        }

        function openTokenEdit(tokenId) {
            const _width = 1500, _height = 920;
            const _left = Math.ceil((window.screen.width - _width) / 2);
            const _top = Math.ceil((window.screen.height - _height) / 4);
            window.open('/tokens/' + tokenId + '/view', 'token_' + tokenId, 'width=' + (screen.width - 50) + ', height=' + (screen.height - 150) + ', left=' + _left + ', top=' + _top);
        }

        function restSubmit(method, url, result, data, showProgressbar) {
            const opt = {
                method: method,
                url: url,
                params: JSON.stringify(data),
                contentType: 'application/json',
                showProgressbar: showProgressbar,
                callbackFunc: function (response) {
                    result(response.responseText);
                }
            };
            aliceJs.sendXhr(opt);
        }

        /*]]>*/
    </script>
</th:block>
</html>
