<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="form/formCore">
<head>
    <title th:text="#{token.label.view}"></title>
</head>
<th:block layout:fragment="css">
    <link th:href="@{/assets/vendors/tagify/tagify.css}" rel="stylesheet"/>
    <link th:href="@{/assets/css/document.css}" rel="stylesheet"/>
    <link th:href="@{/assets/theme/{theme}/css/itsm.css(theme=${#authentication.details.theme})}"
          rel="stylesheet"/>
</th:block>
<body>
<th:block layout:fragment="content">
    <div class="document-container">
        <form id="frm" name="frm">
            <div class="document-main flex-column align-items-center">
                <div class="document-main-header flex-row justify-content-between align-items-center">
                    <div class="btn-list">
                        <button type="button" class="default-line" onclick="openProcessStatusPopUp()"
                                th:text="#{process.label.processMap}"></button>
                        <div id="button-panel" class="btn-list"></div>
                        <button type="button" class="default-line"
                                th:onclick="aliceDocument.print('/tokens/' + [[${tokenId}]])"
                                th:text="#{common.btn.print}"></button>
                    </div>
                </div>
                <div class="drawing-board" id="document-panel"></div>
            </div>
        </form>
        <div class="token-properties">
            <div class="token-info-tab">
                <h4 class="align-center" data-target-contents="token-history" th:text="#{token.label.history}"></h4>
                <h4 class="align-center" data-target-contents="token-related" th:text="#{token.label.relatedInstance}"></h4>
                <h4 class="align-center" data-target-contents="token-comment" th:text="#{common.label.comment}"></h4>
                <h4 class="align-center" data-target-contents="token-tag" th:text="#{common.label.tag}"></h4>
            </div>
            <div class="token-info-contents">
                <div class="token-history">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th width="45%" th:text="#{token.label.startDt}">시작일시</th>
                            <th width="40%" th:text="#{token.label.elementName}">업무</th>
                            <th width="15%" th:text="#{token.label.assignee}">담당자</th>
                        </tr>
                        </thead>
                        <tbody id="history" class="list-wrap">
                        <tr th:each="tokenHistory : ${instanceHistory}">
                            <td width="45%" th:name="tokenDt" th:text="${tokenHistory.tokenStartDt}"/>
                            <td width="40%" th:text="${tokenHistory.elementName}"></td>
                            <td width="15%" th:text="${tokenHistory.assigneeName}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="token-related">
                    <div class="list-item flex-row" th:each="rInstance: ${relatedInstance}">
                        <div class="document-color" th:style="|background-color: ${rInstance.documentColor}|"></div>
                        <div class="document-row flex-column">
                            <div class="document-row-content flex-row justify-content-between">
                                <a th:onclick="openTokenEdit([[${rInstance.tokenId}]])">
                                    <div class="document-title flex-row align-items-center">
                                        <h5 th:text="${rInstance.documentName}"></h5>
                                        <h5 th:text="${rInstance.documentNo}"></h5>
                                    </div>
                                </a>
                                <button type="button"
                                        th:onclick="aliceDocument.deleteRelatedDoc({folderId: [[${rInstance.folderId}]], instanceId: [[${rInstance.instanceId}]]})">
                                    <span class="icon icon-delete"></span>
                                </button>
                            </div>
                            <div class="document-row-topic">
                            </div>
                            <div class="document-row-info flex-row align-items-center">
                                <div class="document-user flex-row align-items-center">
                                    <img class="profile-photo" th:src="@{${rInstance.avatarPath}}"/>
                                    <h5 th:text="${rInstance.instanceCreateUserName}"></h5>
                                </div>
                                <span class="vertical-bar"></span>
                                <h5 class="dateFormatFromNow" th:text="${rInstance.instanceStartDt}"></h5>
                                <span class="vertical-bar"></span>
                                <h5 th:text="#{token.label.completed}"></h5>
                            </div>
                        </div>
                    </div>
                    <div class="related-add justify-content-center align-items-center">
                        <button th:onclick="openPopUp([[${tokenId}]])">
                            <span class="icon-plus"></span>
                        </button>
                    </div>
                </div>
                <div id="commentList" class="token-comment">
                    <div class="list-item flex-column" th:each="comment : ${commentList}">
                        <div class="comment-row-info flex-row align-items-center">
                            <div class="comment-user flex-row align-items-center">
                                <img class="profile-photo" th:src="@{${comment.avatarPath}}"/>
                                <h5 class="user-name" th:text="${comment.createUserName}"></h5>
                            </div>
                            <h5 class="should-be-modify-userdate" th:text="${comment.createDt}"></h5>
                            <div th:if="${#authentication.details.userKey} == ${comment.createUserKey}">
                                <button th:attr="onclick=|aliceDocument.deleteComment('${comment.commentId}')|">
                                    <span class="icon icon-delete"></span>
                                </button>
                            </div>
                        </div>
                        <div class="comment-row">
                            <span th:text="${comment.content}"></span>
                        </div>
                    </div>
                    <div id="comment-container" class="comment comment-input flex-row align-items-start"></div>
                </div>
                <div class="token-tag">
                    <div style="margin-bottom: 1rem;">
                        <input name="tags" th:value="|${tagList}|"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
<th:block layout:fragment="script">
    <script th:src="@{/assets/js/document/document.js}"></script>
    <script th:src="@{/assets/vendors/tagify/tagify.js}"></script>
    <script type="text/javascript">
        /*<![CDATA[*/
        window.onload = function () {
            // view 일 경우, 컴포넌트들의 세부 값을 편집 할 수 없음
            document.getElementById('document-panel').setAttribute('data-readonly', true);

            aliceForm.init(aliceDocument.initToken, '[[${tokenId}]]');
            var tokenDtEle = document.querySelectorAll('td[name=tokenDt]');
            for (let i = 0; i < tokenDtEle.length; i++) {
                if (tokenDtEle[i].textContent !== '') {
                    tokenDtEle[i].textContent = i18n.userDateTime(tokenDtEle[i].textContent);
                }
            }

            let tagInput = document.querySelector('input[name=tags]');
            new Tagify(tagInput, {
                pattern: /^.{0,100}$/,
                editTags: false,
                callbacks: {
                    'add': onAddTag,
                    'remove': onRemoveTag
                },
                placeholder: '[[#{token.msg.tag}]]'
            });

            document.querySelectorAll('.token-info-tab > h4').forEach((ele) => {
                ele.addEventListener('click', (e) => {
                    // 탭 동작
                    Array.prototype.filter.call(e.target.parentNode.children, function (child) {
                        return child !== e.target;
                    }).forEach((sblingEle) => {
                        sblingEle.classList.remove('active');
                    });
                    e.target.classList.add('active');
                    // 컨텐츠 내용 동작
                    let targetElement = document.querySelector('.' + e.target.dataset.targetContents);
                    if (targetElement != null) {
                        Array.prototype.filter.call(targetElement.parentNode.children, function (child) {
                            return child !== targetElement;
                        }).forEach((sblingEle) => {
                            sblingEle.style.display = 'none';
                        });
                        targetElement.style.display = 'block';
                    };
                    // 선택된 탭을 저장 > 새로고침시 초기화를 막기 위함
                    sessionStorage.setItem('token-info-tab', e.target.dataset.targetContents);
                });
            });

            const selectedTab = sessionStorage.getItem('token-info-tab');
            if (selectedTab !== null) {
                document.querySelector('h4[data-target-contents="' + selectedTab +  '"]').click();
            } else {
                document.querySelector('h4[data-target-contents="token-history"]').click();
            }

            document.querySelectorAll('.dateFormatFromNow').forEach((ele) => {
                ele.textContent = dateFormatFromNow(ele.textContent);
            });
            document.querySelectorAll('.should-be-modify-userdate').forEach((element) => {
                element.textContent = i18n.userDateTime(element.textContent);
            });
            OverlayScrollbars(document.querySelectorAll('.list-wrap'), {className: 'scrollbar'});

            OverlayScrollbars(document.querySelectorAll('.token-info-contents'), {className: 'scrollbar'});
        };

        function onAddTag(tag) {
            const jsonData = {
                tagContent: tag.detail.data.value,
                instanceId: '[[${instanceId}]]'
            };
            restSubmit('POST', '/rest/tags', function () {
                location.reload();
            }, jsonData, false);
        }

        function onRemoveTag(tag) {
            restSubmit('DELETE', '/rest/tags/' + tag.detail.data.id, function () {
                location.reload();
            });
        }

        function openPopUp(tokenId) {
            window.open('/tokens/' + tokenId + '/view-pop', tokenId, 'width=1000, height=790');
        }

        function openProcessStatusPopUp() {
            window.open('/processes/[[${instanceId}]]/status', 'process_status_[[${instanceId}]]', 'width=1300, height=500');
        }

        function onRelatedInstanceDelete(instanceId) {
            const jsonData = {
                instanceId: instanceId
            };

            restSubmit('DELETE', '/rest/folders/[[${folderId}]]', function () {
                location.reload();
            }, jsonData, false);
        }

        function openTokenEdit(tokenId) {
            const _width = 1500,
                _height = 920;
            const _left = Math.ceil((window.screen.width - _width) / 2);
            const _top = Math.ceil((window.screen.height - _height) / 4);
            window.open('/tokens/' + tokenId + '/view', 'token_' + tokenId, 'width=' + (screen.width - 50) + ', height=' + (screen.height - 150) + ', left=' + _left + ', top=' + _top);
        }

        function restSubmit(method, url, result, data, showProgressbar) {
            const opt = {
                method: method,
                url: url,
                params: JSON.stringify(data),
                contentType: 'application/json',
                showProgressbar: showProgressbar,
                callbackFunc: function (response) {
                    result(response.responseText);
                }
            };
            aliceJs.sendXhr(opt);
        }

        /*]]>*/
    </script>
</th:block>
</html>
