<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        layout:decorator="form/formCore">
<head>
    <title th:text="#{token.label.print}"></title>
</head>
<th:block layout:fragment="css">
    <link th:href="@{/assets/css/document.css}" rel="stylesheet"/>
</th:block>
<body>
<th:block layout:fragment="content">
    <div class="print">
        <div class="print-main flex-column align-items-center">
            <div class="print-main-header">
                <img src="/assets/media/images/zenius.ico" width="25" height="25">
                <span class="float-right align-right" id="print-information"></span>
            </div>
            <div class="print-area justify-content-center">
                <div class="drawing-board" id="document-panel" data-status="print"></div>
            </div>
        </div>
    </div>
</th:block>
</body>
<th:block layout:fragment="script">
    <script th:src="@{/assets/js/document/document.js}"></script>
    <script th:inline="javascript" type="text/javascript">
        /*<![CDATA[*/
        window.onload = function() {
            const printInfo = document.getElementById('print-information');
            printInfo.innerHTML = aliceForm.session.userName + ' ['
                + aliceForm.session.email + ']<br>'
                + i18n.printFormat(/*[[${time}]]*/'') + '<br>'
                + [[${documentNo}]];

            let data = sessionStorage.getItem('alice_print');
            aliceForm.init(aliceDocument.drawDocument, data);

            setTimeout(function() {
                window.print();
            }, 500);
        };
        /*]]>*/
    </script>
</th:block>
</html>
