<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        layout:decorator="form/formCore">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Title</title>
</head>
<body>
<th:block layout:fragment="content">
    <h1 th:text="#{token.label.relatedInstance}" style="text-align: left;"></h1>
    <input type="text" id="search" style="width: 270px" th:placeholder="#{token.label.searchPlaceholder}">
    <hr>
    <div id = instanceList></div>
    <hr>
    <div style="text-align: center;">
        <button th:onclick="onSave()" style="display: inline-block;" th:text="#{common.btn.add}"></button>
    </div>
</th:block>
</body>
<th:block layout:fragment="script">
    <script th:src="@{/assets/js/document/document.js}"></script>
    <script th:src="@{/assets/vendors/gModal/js/gModal.js}"></script>
    <script type="text/javascript">
        /*<![CDATA[*/
        window.onload = function() {
            getAllInstanceList(document.getElementById('search').value, true);
        };

        document.getElementById('search').onkeyup = function() {
            getAllInstanceList(this.value, false);
        };

        function getAllInstanceList(search, showProgressbar) {
            restSubmit('get', '/tokens/view-pop/list?searchValue=' + search.trim() + '&tokenId=' + '[[${tokenId}]]', function(result) {
                document.getElementById('instanceList').innerHTML = result;
                var instanceDtEle = document.querySelectorAll('td[name=instanceDt]');
                for (let i = 0; i < instanceDtEle.length; i++) {
                    if (instanceDtEle[i].textContent !== '') {
                        instanceDtEle[i].textContent = i18n.userDateTime(instanceDtEle[i].textContent);
                    }
                }
            },null ,showProgressbar);
        }

        function onSave() {
            var checked = document.querySelectorAll('input[name=chk]:checked');
            var jsonArray = new Array();

            for (var i = 0; i<checked.length; i++) {
                var jsonObject = new Object();

                jsonObject.folderId = '[[${folderId}]]';
                jsonObject.instanceId = checked[i].value;
                jsonArray.push(jsonObject);
            }

            restSubmit('POST', '/rest/folders', function() {
                opener.location.reload();
                window.close();
            },jsonArray ,false);
        }

        function restSubmit(method, url, result, data, showProgressbar) {
            const opt = {
                method: method,
                url: url,
                params: JSON.stringify(data),
                contentType: 'application/json',
                showProgressbar: showProgressbar,
                callbackFunc: function(response) {
                    result(response.responseText);
                }
            };
            aliceJs.sendXhr(opt);
        }
        /*]]>*/
    </script>
</th:block>
</html>
