<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        layout:decorator="form/formCore">
<head>
    <title th:text="#{token.label.write}"></title>
</head>
<th:block layout:fragment="css">
    <link th:href="@{/assets/css/document.css}" rel="stylesheet"/>
    <link th:href="@{/assets/theme/{theme}/css/alice-itsm.css(theme=${#authentication.details.theme})}" rel="stylesheet"/>
    <link th:href="@{/assets/vendors/tagify/tagify.css}" rel="stylesheet"/>
</th:block>
<body>
<th:block layout:fragment="content">
    <div class="container-document">
        <div class="contents token-document">
            <div class="button-board-all">
                <div class="numbering-content">
                    <label th:text="|#{document.label.docNo} : ${documentNo}|"></label>
                </div>
                <div>
                    <div class="button-group">
                        <button type="button" class="default-line" onclick="openProcessStatusPopUp()"
                                th:text="#{process.label.processMap}"></button>
                        <button type="button" class="default-line" th:onclick="aliceDocument.print('/tokens/' + [[${tokenId}]])"
                                th:text="#{common.btn.print}"></button>
                    </div>
                    <div id="button-container" class="button-group"></div>
                </div>
            </div>
            <div>
                <form id="frm" name="frm">
                    <div class="drawing-board" id="document-panel"></div>
                </form>
            </div>
        </div>
        <div class="token-info">
            <div class="token-info-tab">
                <h4 data-target-contents="token-history" th:text="#{token.label.history}"></h4>
                <h4 data-target-contents="token-related" th:text="#{token.label.relatedInstance}"></h4>
                <h4 data-target-contents="token-comment" th:text="#{common.label.comment}"></h4>
                <h4 data-target-contents="token-tag" th:text="#{common.label.tag}"></h4>
            </div>
            <div class="token-info-contents">
                <div class="token-history">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th width="45%" th:text="#{token.label.startDt}">시작일시</th>
                            <th width="35%" th:text="#{token.label.elementName}">업무</th>
                            <th width="20%" th:text="#{token.label.assignee}">담당자</th>
                        </tr>
                        </thead>
                        <tbody id="history" class="list-wrap">
                        <tr th:each="tokenHistory : ${instanceHistory}">
                            <td width="45%" th:name="tokenDt" th:text="${tokenHistory.tokenStartDt}"/>
                            <td width="35%" th:text="${tokenHistory.elementName}"></td>
                            <td width="20%" th:text="${tokenHistory.assigneeName}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="token-related">
                    <div class="list-item" th:each="rInstance: ${relatedInstance}">
<!--                        <div class="document-color" style="background-color: ${rInstance.documentColor}"></div>-->
                        <div class="document-color" style="background-color: blue;"></div>
                        <div class="document-row">
                            <div class="document-row-content">
                                <a th:onclick="openTokenEdit([[${rInstance.tokenId}]])">
                                    <div class="document-title">
                                        <h5 th:text="${rInstance.documentName}"></h5>
                                        <h5 th:text="${rInstance.documentNo}"></h5>
                                    </div>
                                </a>
                                <div class="trash-icon"></div>
                            </div>
                            <div class="document-row-topic">
<!--                            <h4 th:each="topic: ${rInstance.topics}" th:text="${topic}"></h4>-->
                            </div>
                            <div class="document-row-info">
                                <div class="document-user">
<!--                                        <img class="profile-photo" alt="profile pic" th:src="${rInstance.avatarPath}">-->
                                    <img class="profile-photo" src="/assets/media/image/avatar/profile_sample.jpg">
                                    <h5 th:text="${rInstance.instanceCreateUserName}"></h5>
                                </div>
                                <span class="vertical-bar"></span>
                                <h5 class="dateFormatFromNow" th:text="${rInstance.instanceStartDt}"></h5>
                                <span class="vertical-bar"></span>
<!--                                    <h5 th:text="${rInstance.status}"></h5>-->
                                <h5 th:text="#{token.label.completed}"></h5>
                            </div>
                        </div>
                    </div>
                    <div class="related-add list-item">
                        <button class="plus" th:onclick="openPopUp([[${tokenId}]])"></button>
                    </div>
                </div>
                <div id="commentList" class="token-comment">
                    <div class="list-item" th:each="comment : ${commentList}">
                        <div class="comment-row-info">
                            <div class="comment-user">
<!--                            <img class="profile-photo" alt="profile pic" th:src="${rInstance.avatarPath}">-->
                                <img class="profile-photo" src="/assets/media/image/avatar/profile_sample.jpg">
                                <h5 th:text="${comment.createUserName}"></h5>
                            </div>
                            <h5 th:text="${comment.createDt}"></h5>
                            <div th:if="${#authentication.details.userKey} == ${comment.createUserKey}">
                                <button th:attr="onclick=|aliceDocument.deleteComment('${comment.commentId}')|" class="trash-icon"></button>
                            </div>
                        </div>
                        <div class="comment-row">
                            <span th:text="${comment.content}"></span>
                        </div>
                    </div>
                    <div id="comment-container" class="comment comment-input"></div>
                </div>
                <div class="token-tag">
                    <div style="margin-bottom: 1rem;">
                        <input name="tags" th:value="|${tagList}|"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
<th:block layout:fragment="script">
    <script th:src="@{/assets/js/document/document.js}"></script>
    <script th:src="@{/assets/vendors/tagify/tagify.js}"></script>
    <script type="text/javascript">
        /*<![CDATA[*/
        window.onload = function() {
            aliceForm.init(aliceDocument.initToken, '[[${tokenId}]]');
            var tokenDtEle = document.querySelectorAll('td[name=tokenDt]');
            for (let i = 0; i < tokenDtEle.length; i++) {
                if (tokenDtEle[i].textContent !== '') {
                    tokenDtEle[i].textContent = i18n.userDateTime(tokenDtEle[i].textContent);
                }
            }

            let tagInput = document.querySelector('input[name=tags]');
            new Tagify(tagInput, {
                pattern         : /^.{0,100}$/,
                editTags        : false,
                callbacks       : { 'add'    : onAddTag,
                                    'remove' : onRemoveTag },
                placeholder     : '[[#{token.msg.tag}]]'
            });

            document.querySelectorAll('.token-info-tab > h4').forEach((ele) => {
                ele.addEventListener('click', (e) => {
                    // 탭 동작
                    Array.prototype.filter.call(e.target.parentNode.children, function(child){
                        return child !== e.target;
                    }).forEach((sblingEle) => {
                        sblingEle.classList.remove('active');
                    });
                    e.target.classList.add('active');
                    // 컨텐츠 내용 동작
                    let targetElement = document.querySelector('.' + e.target.dataset.targetContents);
                    if (targetElement != null) {
                        Array.prototype.filter.call(targetElement.parentNode.children, function(child){
                            return child !== targetElement;
                        }).forEach((sblingEle) => {
                            sblingEle.style.display = 'none';
                        });
                        targetElement.style.display = 'block';
                    };
                });
            });
            document.querySelector('h4[data-target-contents="token-history"]').click();

            document.querySelectorAll('.dateFormatFromNow').forEach((ele) => {
                ele.textContent = dateFormatFromNow(ele.textContent);
            });
            OverlayScrollbars(document.querySelectorAll('.list-wrap'), { className: 'scrollbar' });
        };

        function onAddTag(tag) {
            const jsonData = {
                tagContent: tag.detail.data.value,
                instanceId: '[[${instanceId}]]'
            };
            restSubmit('POST', '/rest/tags', function () {
                location.reload();
            }, jsonData, false);
        }

        function onRemoveTag(tag) {
            restSubmit('DELETE', '/rest/tags/' + tag.detail.data.id, function () {
                location.reload();
            });
        }

        function openPopUp(tokenId) {
            window.open('/tokens/' + tokenId + '/view-pop', tokenId, 'width=1300, height=500');
        }

        function openProcessStatusPopUp() {
            window.open('/processes/[[${instanceId}]]/status', 'process_status_[[${instanceId}]]', 'width=1300, height=500');
        }

        function onRelatedInstanceDelete(instanceId) {
            const jsonData = {
                instanceId: instanceId
            };

            restSubmit('DELETE', '/rest/folders/[[${folderId}]]', function () {
                location.reload();
            }, jsonData, false);
        }

        function openTokenEdit(tokenId) {
            const _width = 1500,
                    _height = 920;
            const _left = Math.ceil((window.screen.width - _width) / 2);
            const _top = Math.ceil((window.screen.height - _height) / 4);
            window.open('/tokens/' + tokenId + '/view', 'token_' + tokenId, 'width=' + (screen.width - 50) + ', height=' + (screen.height - 150) + ', left='+_left+', top='+_top);
        }

        function restSubmit(method, url, result, data, showProgressbar) {
            const opt = {
                method: method,
                url: url,
                params: JSON.stringify(data),
                contentType: 'application/json',
                showProgressbar: showProgressbar,
                callbackFunc: function(response) {
                    result(response.responseText);
                }
            };
            aliceJs.sendXhr(opt);
        }
        /*]]>*/
    </script>
</th:block>
</html>
