<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<table id="instanceTable">
    <colgroup>
        <col width="5%">
        <col width="20%">
        <col width="20%">
        <col width="20%">
        <col width="20%">
        <col width="15%">
    </colgroup>
    <thead class="list-head">
        <tr>
            <th style="width:5%;"  class="align-center"></th>
            <th style="width:20%;" class="align-left" th:text="#{document.label.docNo}"></th>
            <th style="width:20%;" class="align-left" th:text="#{document.label.name}"></th>
            <th style="width:20%;" class="align-left" th:text="#{token.label.startDt}"></th>
            <th style="width:20%;" class="align-left" th:text="#{token.label.endDt}"></th>
            <th style="width:15%;" class="align-left" th:text="#{common.label.createUser}"></th>
        </tr>
    </thead>
    <tbody id="instanceList" class="list-body">
        <tr class="no-data-found-list flex-row justify-content-center align-items-center"
            th:if="${#arrays.isEmpty(instanceList)}">
            <td style="width:100%" th:text="#{common.msg.noData}"></td>
        </tr>
        <tr class="instance-list" th:each="instance, index : ${instanceList}">
            <td style="width:5%;" class="align-center">
                <label class="checkbox" th:for="${index.index}" tabindex="0">
                    <input type="checkbox" name="chk" th:id="${index.index}"
                           th:value="${instance.instanceId}" th:checked="${instance.related == null || instance.related == true}"
                           th:disabled="${instance.related == null || instance.related == true}">
                    <span></span>
                </label>
            <td style="width:20%;" class="align-left" th:text="${instance.documentNo}"></td>
            <td style="width:20%;" class="align-left" th:text="${instance.documentName}"></td>
            <td style="width:20%;" class="align-left" th:name="instanceDt" th:text="${instance.instanceStartDt}"/>
            <td style="width:20%;" class="align-left" th:name="instanceDt" th:text="${instance.instanceEndDt}"/>
            <td style="width:15%;" class="align-left" th:text="${instance.instanceCreateUserName}"></td>
        </tr>
    </tbody>
</table>
</body>
</html>
