<div class="z-token-tabs">
    <h5 class="z-token-tab align-center pointer active" data-target-contents="tokenInformation"
        th:text="#{token.label.information}"></h5>
    <h5 class="z-token-tab align-center pointer" data-target-contents="tokenComments"
        th:text="#{common.label.comment}"></h5>
    <h5 class="z-token-tab align-center pointer" data-target-contents="tokenTag" th:text="#{common.label.tag}"></h5>
</div>
<div class="z-token-panels">
    <div class="z-token-panel on" id="tokenInformation">
        <!-- 문서 보관함 -->
        <span class="z-token-storage inline-flex align-items-center pointer">
            <span class="icon-document-storage" id="documentStorage"
                  onclick="zFormTokenTab.toggleDocumentStorage(this);">
                <img class="load-svg" th:src="@{/assets/media/icons/document/icon_document_storage.svg}" width="20"
                     height="20">
                <label class="z-token-storage-label pointer" for="documentStorage">
                    <span th:text="#{token.label.storage}"></span>
                </label>
            </span>
        </span>
        <!-- 문서이력 -->
        <div class="z-token-history">
            <label class="z-token-history-sub-title" th:text="#{token.label.history}"></label>
            <table class="table z-token-history-table">
                <thead class="table-head">
                <tr class="flex-row align-items-center">
                    <th style="width: 30%;" class="align-center" th:text="#{token.label.startDt}"></th>
                    <th style="width: 32%;" class="align-center" th:text="#{token.label.elementName}"></th>
                    <th style="width: 20%;" class="align-center" th:text="#{token.label.assignee}"></th>
                    <th style="width: 18%;" class="align-center" th:text="#{token.label.status}"></th>
                </tr>
                </thead>
                <tbody class="table-body" id="history"></tbody>
            </table>
        </div>
        <!-- 참조인 -->
        <div class="z-token-viewer">
            <div class="flex-row align-items-end justify-content-between mb-2">
                <label class="z-token-viewer-sub-title" th:text="#{token.label.viewer}"></label>
                <button type="button" class="button-text float-right mb-1"
                        th:text="#{token.label.viewerAdd}"
                        th:onclick="zFormTokenTab.openViewerModal()">
                </button>
            </div>
            <table class="table z-token-viewer-table">
                <tbody class="table-body" id="viewer"></tbody>
            </table>
        </div>
        <!-- 일정 등록 -->
        <div class="z-token-calendar">
            <div class="flex-row align-items-end justify-content-between mb-2">
                <label class="z-token-calendar-sub-title" th:text="#{token.label.calendar}"></label>
                <button type="button" class="button-text float-right mb-1"
                        th:text="#{token.label.calendarAdd}"
                        th:onclick="zFormTokenTab.openCalendarModal()">
                </button>
            </div>
            <table class="table z-token-calendar-table">
                <tbody class="table-body" id="calendar"></tbody>
            </table>
        </div>
        <!-- 관련문서 -->
        <div class="z-token-related" id="related">
            <label class="z-token-related-sub-title" th:text="#{token.label.relatedInstance}"></label>
            <div class="z-token-related-item flex-row justify-content-center align-items-center document-add">
                <button class="button-icon" th:onclick="zFormTokenTab.openRelatedDocModal()">
                    <span class="icon i-plus"></span>
                </button>
            </div>
        </div>
    </div>
    <!-- 댓글 -->
    <div class="z-token-panel z-token-comment" id="tokenComments">
        <div class="z-comment-add flex-row align-items-start">
            <textarea id="commentValue" class="textarea textarea-scroll-wrapper flex-fill mr-1" maxlength="200"
                      rows="2" th:placeholder="#{comment.msg.enterComments}"></textarea>
            <button class="button secondary" th:onclick="zFormTokenTab.saveComments()"
                    th:text="#{common.btn.register}"></button>
        </div>
    </div>
    <!-- 태그 -->
    <div class="z-token-panel z-token-tag" id="tokenTag">
        <div class="tag-input">
            <input type="text" class="input" id="tokenTags" th:value="${tagList}"/>
        </div>
    </div>
</div>
<!-- 관련 문서 모달-->
<template id="relatedTokenModalTemplate">
    <div class="related-instance-list">
        <input class="input i-search col-5 mr-2" type="text" name="search" id="search" maxlength="100"
               th:placeholder="#{token.label.relatedInstancePlaceholder}"/>
        <span id="spanTotalCount" class="search-count"></span>
        <div class="table-set" id="instanceList"></div>
    </div>
</template>
<!-- 사용자 모달 -->
<template id="viewerModalTemplate">
    <div class="sub-user-list">
        <input class="input i-search col-5 mr-2" type="text" name="search" id="search" maxlength="100"
               th:placeholder="#{user.label.userSearchPlaceholder}">
        <span id="spanTotalCount" class="search-count"></span>
        <div class="table-set" id="subUserList"></div>
    </div>
</template>
<!-- 일정 등록 모달 -->
<template id="calendarModalTemplate">
    <div class="calendar__modal--register__main flex-column">
        <input type="text" class="input schedule__title" id="scheduleTitle"
               th:placeholder="#{calendar.label.titlePlaceholder}">
        <div class="flex-row align-items-baseline" id="rangeDate">
            <input type="text" class="input i-datetime-picker schedule__date" id="startDt"/>
            ~
            <input type="text" class="input i-datetime-picker schedule__date" id="endDt"/>
        </div>
        <div class="flex-row align-items-baseline">
            <label class="checkbox">
                <input type="checkbox" id="allDayYn" name="allDayYn" checked>
                <span></span>
                <span class="label" th:text="#{calendar.label.allDay}"></span>
            </label>
            <!-- 문서함 등록시 반복일정은 없음 -->
        </div>
        <textarea class="textarea textarea-scroll-wrapper schedule__contents" id="scheduleContents" rows="3"
                  th:placeholder="#{calendar.label.contentsPlaceholder}"></textarea>
    </div>
</template>