// font face 설정 mixin
@mixin fontFace($name, $path, $format, $style, $weight) {
  @font-face {
    font-family: $name;
    src: local($name), url($path) format($format);
    font-style: if($style == null, normal, $style);
    font-weight: $weight;
  }
}
