// 공통으로 사용하고자 하는 디자인 묶음을 mixin으로 정의합니다.
@mixin keyframe($animation_name) {
  @-webkit-keyframes #{$animation_name} {
    @content;
  }

  @-moz-keyframes #{$animation_name} {
    @content;
  }

  @-o-keyframes #{$animation_name} {
    @content;
  }

  @keyframes #{$animation_name} {
    @content;
  }
}
// 애니메이션
@mixin animation($delay, $duration, $name, $timing, $count:1) {
  animation-delay: $delay;
  animation-duration: $duration;
  animation-name: $name;
  animation-timing-function: $timing;
  animation-iteration-count: $count;
}
//  transform
@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}
// Rotate
@mixin rotate($deg) {
  @include transform(rotate(#{$deg}deg));
}
// Scale
@mixin scale($scale) {
  @include transform(scale($scale));
}
// Translate
@mixin translate($x, $y) {
  @include transform(translate($x, $y));
}
// Transform Origin
@mixin transformOrigin ($origin) {
  -webkit-transform-origin: $origin;
  -moz-transform-origin: $origin;
  -ms-transform-origin: $origin;
  transform-origin: $origin;
}