<!DOCTYPE html>
<html layout:decorate="~{layout/itsm/pageType/commonEditLayout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{rule.label.rule}"></title>
</head>
<body>
<div layout:fragment="pageTitle">
    <h1 th:text="#{rule.label.rule}"></h1>
    <h6 class="description ml-2 pl-2" th:text="#{rule.msg.editDescription}"></h6>
</div>
<div layout:fragment="pageEdit">
    <div class="z-edit-form flex-fill">
        <div class="z-edit-row flex-column">
            <label th:classappend="${view} ? '' : 'required'" th:text="#{rule.label.name}"></label>
            <input id="txtRuleId" name="txtRuleId" th:value="${rule?.numberingId}" type="hidden"/>
            <input class="z-input" id="txtRuleName" maxlength="100" name="txtRuleName" th:readonly="${view}"
                   th:value="${rule?.numberingName}" type="text"/>
        </div>
        <div class="z-edit-row flex-column">
            <label th:text="#{rule.label.desc}"></label>
            <textarea class="z-textarea textarea-scroll-wrapper" id="txtRuleDesc" maxlength="200" name="txtRuleDesc"
                      rows="7" th:readonly="${view}"
                      th:text="${rule?.numberingDesc}"></textarea>
        </div>
        <div class="z-edit-row" id="type-select-pattern">
            <div class="z-edit-row flex-column">
                <div class="under-bar">
                    <label th:classappend="${view} ? '' : 'required'" th:text="#{pattern.label.pattern}"></label>
                    <button class="z-button-icon extra float-right" onclick="addPattern()" th:if="!${view}"
                            type="button">
                        <span class="z-icon i-plus"></span>
                    </button>
                </div>
            </div>
            <div class="z-edit-row flex-column" id="patternList">
                <th:block th:if="${#arrays.isEmpty(rule?.patternList)}">
                    <div class="flex-row z-edit-row">
                        <select class="mr-1" name="pattern" th:classappend="${view} ? 'readonly' : ''">
                            <option th:each="pattern: ${patternList}" th:name="${pattern.patternType}"
                                    th:text="${pattern.patternName}" th:value="${pattern.patternId}">
                            </option>
                        </select>
                        <button class="z-button-icon extra ml-1" style="visibility:hidden" th:if="!${view}"
                                type="button">
                            <span class="z-icon i-delete"></span>
                        </button>
                    </div>
                </th:block>
                <th:block th:unless="${#arrays.isEmpty(rule)}">
                    <th:block th:each="patternData, iterStat : ${#lists.sort(rule?.patternList, byPatternOrder)}">
                        <div class="flex-row z-edit-row">
                            <select class="mr-1" name="pattern" th:classappend="${view} ? 'readonly' : ''">
                                <option th:each="pattern: ${patternList}" th:name="${pattern.patternType}"
                                        th:selected="${patternData.patternName} == ${pattern.patternName}"
                                        th:text="${pattern.patternName}"
                                        th:value="${pattern.patternId}">
                                </option>
                            </select>
                            <button class="z-button-icon extra ml-1" onclick="deletePattern(this)"
                                    th:if="!${view}" th:style="(${iterStat.index} > 0)? '':'visibility:hidden'"
                                    type="button">
                                <span class="z-icon i-delete"></span>
                            </button>
                        </div>
                    </th:block>
                </th:block>
            </div>
        </div>
        <div class="flex-row justify-content-between z-edit-row">
            <div class="z-button-list">
                <a class="z-button secondary" href="/numberingRules/search" th:text="#{common.btn.list}"></a>
            </div>
            <div class="z-button-list">
                <button class="z-button primary" id="btnAdd" name="btnAdd"
                        sec:authorize="hasAuthority('numbering.rule.create')" th:if="!${rule?.numberingId}"
                        th:onclick="|javascript:onSave('POST')|"
                        th:text="#{common.btn.register}" type="button"></button>
                <button class="z-button primary" id="btnUpdate" name="btnUpdate"
                        sec:authorize="hasAuthority('numbering.rule.update')" th:if="${rule?.numberingId}"
                        th:onclick="|javascript:onSave('PUT')|"
                        th:text="#{common.btn.modify}" type="button"></button>
                <button class="z-button secondary" id="btnDelete" name="btnDelete"
                        sec:authorize="hasAuthority('numbering.rule.delete')" th:if="${rule?.numberingId}"
                        th:onclick="|javascript:zAlert.confirm(i18n.msg('common.msg.confirmDelete'), onDelete)|"
                        th:text="#{common.btn.delete}"
                        type="button"></button>
            </div>
        </div>
    </div>
    <template id="patternRowTemplate">
        <div class="flex-row z-edit-row">
            <select class="mr-1" name="pattern">
                <option th:each="pattern: ${patternList}" th:name="${pattern.patternType}"
                        th:text="${pattern.patternName}" th:value="${pattern.patternId}">
                </option>
            </select>
            <button class="z-button-icon extra ml-1" onclick="deletePattern(this)" type="button">
                <span class="z-icon i-delete"></span>
            </button>
        </div>
    </template>
</div>
</body>
<script layout:fragment="pageScript" th:inline="javascript" type="text/javascript">
    /*<![CDATA[*/
    const STATUS_SUCCESS = '0';
    const STATUS_ERROR_RULE_USED = '1';
    const maxCount = 3;

    window.onload = function () {
        OverlayScrollbars(document.querySelector('.z-page-content'), {className: 'scrollbar'});
        OverlayScrollbars(document.querySelector('#txtRuleDesc'), {
            className: 'scrollbar',
            resize: 'vertical',
            sizeAutoCapable: true,
            textarea: {
                dynHeight: false,
                dynWidth: false,
                inheritedAttrs: 'class'
            }
        });
    };

    /** 등록, 수정 기능 **/
    function onSave(flag) {
        if (isEmpty('txtRuleName', 'rule.msg.enterRuleName')) return;

        let ruleNames = [];
        let validList = document.querySelectorAll('td[name=ruleName]');
        for (let i = 0; i < validList.length; i++) {
            ruleNames.push(validList[i].textContent);
        }

        if (flag === 'POST') {
            for (let i = 0; i < ruleNames.length; i++) {
                if (document.getElementById('txtRuleName').value === ruleNames[i]) {
                    zAlert.warning([[#{rule.msg.duplicateRuleName}]]);
                    return;
                }
            }
        }

        let obj = {};
        let patternList = [];
        let patternTypeList = [];

        document.querySelectorAll('#patternList div.z-edit-row.flex-row select[name="pattern"]').forEach(function (pattern) {
            patternList.push(pattern.value);
        });

        document.querySelectorAll('option:checked').forEach(elem => patternTypeList.push(elem.getAttribute('name')));
        if (!patternTypeList.includes('numbering.pattern.sequence')) {
            zAlert.warning(i18n.msg('rule.msg.selectSequence'));
            return;
        }

        obj.numberingId = document.getElementById('txtRuleId').value;//문서번호 아이디
        obj.numberingName = document.getElementById('txtRuleName').value;//문서번호 명
        obj.numberingDesc = document.getElementById('txtRuleDesc').value;//문서번호 설명
        obj.patternList = patternList;//패턴

        let strUrl = '/rest/numberingRules';
        if (flag !== 'POST') {
            strUrl += '/' + document.getElementById('txtRuleId').value;
        }
        aliceJs.fetchText(strUrl, {
            method: flag,
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(obj)
        }).then((status) => {
            switch (status) {
                case STATUS_SUCCESS:
                    zAlert.success(i18n.msg('common.msg.save'), function () {
                        window.location.href = '/numberingRules/search';
                    });
                    break;
                case STATUS_ERROR_RULE_USED:
                    zAlert.warning(i18n.msg('rule.msg.usedRule'));
                    break;
                default:
                    zAlert.danger(i18n.msg('common.msg.fail'));
                    break;
            }
        });
    }

    /** 삭제 기능  **/
    function onDelete() {
        aliceJs.fetchText('/rest/numberingRules/' + encodeURIComponent(document.getElementById('txtRuleId').value), {
            method: 'DELETE'
        }).then((status) => {
            switch (status) {
                case STATUS_SUCCESS:
                    zAlert.success(i18n.msg('common.msg.delete'), function () {
                        window.location.href = '/numberingRules/search';
                    });
                    break;
                case STATUS_ERROR_RULE_USED:
                    zAlert.warning(i18n.msg('rule.msg.usedRule'));
                    break;
                default:
                    zAlert.danger(i18n.msg('common.msg.fail'));
                    break;
            }
        });
    }

    function addPattern() {
        let validPatternList = document.querySelectorAll('#patternList div.z-edit-row.flex-row');
        if (validPatternList.length >= maxCount) {
            zAlert.warning(i18n.msg('rule.msg.addPattern', maxCount));
            return;
        }

        const patternListRow = document.getElementById('patternRowTemplate').content.cloneNode(true);
        document.getElementById('patternList').appendChild(patternListRow);

        aliceJs.initDesignedSelectTag(document.querySelector('#patternList'));
    }

    function deletePattern(row) {
        row.parentNode.remove();
    }

    /*]]>*/
</script>
</html>
