<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<table class="z-table">
    <thead class="z-table-head">
    <tr class="flex-row align-items-center">
        <th style="width:30%;" class="align-left" th:text="#{rule.label.name}"></th>
        <th style="width:30%;" class="align-left" th:text="#{rule.label.desc}"></th>
        <th style="width:20%;" class="align-left" th:text="#{rule.label.value}"></th>
        <th style="width:20%;" class="align-left" th:text="#{rule.label.date}"></th>
    </tr>
    </thead>
    <tbody class="z-table-body">
    <tr class="flex-row align-items-center no-data-found-list" th:if="${#arrays.isEmpty(ruleList)}">
        <td style="width:100%" colspan="3" class="align-center" th:text="#{common.msg.noData}"></td>
    </tr>
    <tr class="flex-row align-items-center" th:each="rule : ${ruleList}">
        <td style="width:30%;" class="align-left underline" th:id="${rule.numberingId}">
            <a sec:authorize="!hasAuthority('numbering.rule.update')" th:text="${rule.numberingName}"
               th:href="@{/numberingRules/{id}/view(id=${rule.numberingId})}"></a>
            <a sec:authorize="hasAuthority('numbering.rule.update')" th:text="${rule.numberingName}"
               th:href="@{/numberingRules/{id}/edit(id=${rule.numberingId})}"></a>
        </td>
        <td style="width:30%;" class="align-left" id="ruleDesc" th:text="${rule.numberingDesc}"></td>
        <td style="width:20%;" class="align-left" id="ruleLatestValue" th:text="${rule.latestValue}"></td>
        <td style="width:20%;" class="align-left date-time" id="ruleLatestDate" th:text="${rule.latestDate}"></td>
    </tr>
    </tbody>
</table>
<th:block th:insert="layout/itsm/fragment/totalCountFragment :: totalCountDataFragment"></th:block>
</body>
</html>
