<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/itsm/pageType/commonEditLayout}">
<head>
    <title th:text="#{rule.label.rule}"></title>
</head>
<body>
<div layout:fragment="pageTitle">
    <h1 th:text="#{rule.label.rule}"></h1>
    <h6 class="description ml-2" th:text="#{rule.msg.editDescription}"></h6>
</div>
z
<div layout:fragment="pageEdit">
    <div class="z-edit-form flex-fill">
        <div class="z-edit-row flex-column">
            <label th:text="#{rule.label.name}" class="required"></label>
            <input type="hidden" id="txtRuleId" name="txtRuleId" th:value="${rule?.numberingId}"/>
            <input type="text" class="z-input" id="txtRuleName" name="txtRuleName" maxlength="100"
                   th:value="${rule?.numberingName}"/>
        </div>
        <div class="z-edit-row flex-column">
            <label th:text="#{rule.label.desc}"></label>
            <textarea id="txtRuleDesc" name="txtRuleDesc" maxlength="200" rows="7"
                      class="z-textarea textarea-scroll-wrapper" th:value="${rule?.numberingDesc}"></textarea>
        </div>
        <div id="type-select-pattern" class="z-edit-row">
            <div class="z-edit-row flex-column">
                <div class="under-bar">
                    <label th:text="#{pattern.label.pattern}" class="required"></label>
                    <button type="button" class="z-button-icon extra float-right" onclick="addPattern()">
                        <span class="z-icon i-plus"></span>
                    </button>
                </div>
            </div>
            <div id="firstPattern" class="z-edit-row flex-row pattern">
                <span th:text="#{rule.label.firstPattern}" class="pattern-type"></span>
                <select id="selectFirstPattern" name="pattern"
                        class="select-date-time select-pattern-type mr-1">
                    <option th:each="pattern: ${patternList}" th:value="${pattern.patternId}"
                            th:text="${pattern.patternName}" th:name="${pattern.patternType}"
                            th:selected="${rule?.patternList[0]?.patternName == pattern.patternName}"></option>
                </select>
            </div>
            <div id="secondPattern" class="z-edit-row flex-row pattern">
                <span th:text="#{rule.label.secondPattern}" class="pattern-type"></span>
                <select id="selectSecondPattern" name="pattern"
                        class="select-date-time select-pattern-type mr-1">
                    <option th:each="pattern: ${patternList}" th:value="${pattern.patternId}"
                            th:text="${pattern.patternName}" th:name="${pattern.patternType}"
                            th:selected="${rule?.patternList[1].patternName == pattern.patternName}">
                    </option>
                </select>
                <button type="button" name="secondPattern" class="z-button-icon extra ml-l"
                        onclick="deletePattern(this.name)">
                    <span class="z-icon i-delete"></span>
                </button>
            </div>
            <div id="thirdPattern" class="z-edit-row flex-row pattern">
                <span th:text="#{rule.label.thirdPattern}" class="pattern-type"></span>
                <select id="selectThirdPattern" name="pattern"
                        class="select-date-time select-pattern-type mr-1">
                    <option th:each="pattern: ${patternList}" th:value="${pattern.patternId}"
                            th:text="${pattern.patternName}" th:name="${pattern.patternType}"
                            th:selected="${rule?.patternList[2].patternName == pattern.patternName}">
                    </option>
                </select>
                <button type="button" name="thirdPattern" class="z-button-icon extra"
                        onclick="deletePattern(this.name)">
                    <span class="z-icon i-delete"></span>
                </button>
            </div>
        </div>
        <div class="flex-row justify-content-between z-edit-row">
            <div class="z-button-list">
                <a class="z-button secondary" href="/numberingRules/search" th:text="#{common.btn.list}"></a>
            </div>
            <div class="z-button-list">
                <button type="button" class="z-button primary" sec:authorize="hasAuthority('numbering.rule.create')"
                        id="btnRegist" name="btnRegist" th:if="!${rule?.ruleId}"
                        th:onclick="|javascript:onSave('post')|" th:text="#{common.btn.register}"></button>
                <button type="button" class="z-button primary" sec:authorize="hasAuthority('numbering.rule.update')"
                        id="btnUpdate" name="btnUpdate" th:if="${rule?.ruleId}"
                        th:onclick="|javascript:onSave('put')|" th:text="#{common.btn.modify}"></button>
                <button type="button" class="z-button secondary" sec:authorize="hasAuthority('numbering.rule.delete')"
                        id="btnDelete" name="btnDelete"
                        th:onclick="|javascript:aliceAlert.confirm(i18n.msg('common.msg.confirmDelete'), onDelete)|"
                        th:text="#{common.btn.delete}"></button>
            </div>
        </div>
    </div>
</div>
</body>
<script layout:fragment="pageScript" type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    const STATUS_SUCCESS = '0';
    const STATUS_ERROR_RULE_USED = '1';
    let count = 2;
    const maxCount = 3;

    window.onload = function () {
        OverlayScrollbars(document.querySelector('.z-page-content'), {className: 'scrollbar'});
        OverlayScrollbars(document.querySelector('#txtRuleDesc'), {
            className: 'scrollbar',
            resize: 'vertical',
            sizeAutoCapable: true,
            textarea: {
                dynHeight: false,
                dynWidth: false,
                inheritedAttrs: "class"
            }
        });
    };

    /** 등록, 수정 기능 **/
    function onSave(flag) {
        if (isEmpty('txtRuleName', 'rule.msg.enterRuleName')) return;

        let ruleNames = [];
        let validList = document.querySelectorAll('td[name=ruleName]');
        for (let i = 0; i < validList.length; i++) {
            ruleNames.push(validList[i].textContent);
        }

        if (flag === 'post') {
            for (let i = 0; i < ruleNames.length; i++) {
                if (document.getElementById('txtRuleName').value === ruleNames[i]) {
                    aliceAlert.alertWarning([[#{rule.msg.duplicateRuleName}]]);
                    return;
                }
            }
        }

        let obj = {};
        let patternList = [];
        let patternTypeList = [];

        document.getElementsByName('pattern').forEach(function (pattern, index) {
            if (document.querySelectorAll('.pattern')[index].getAttribute('style') === 'display: flex;') {
                patternList.push(pattern.value);
            }
        });

        document.querySelectorAll('option:checked').forEach(elem => patternTypeList.push(elem.getAttribute('name')));
        if (!patternTypeList.includes('numbering.pattern.sequence')) {
            aliceAlert.alertWarning(i18n.msg('rule.msg.selectSequence'));
            return;
        }

        obj.numberingId = document.getElementById('txtRuleId').value;//문서번호 아이디
        obj.numberingName = document.getElementById('txtRuleName').value;//문서번호 명
        obj.numberingDesc = document.getElementById('txtRuleDesc').value;//문서번호 설명
        obj.patternList = patternList;//패턴

        let strUrl = '/rest/numberingRules';
        if (flag !== 'post') {
            strUrl += '/' + document.getElementById('txtRuleId').value;
        }
        const opt = {
            method: flag,
            url: strUrl,
            params: JSON.stringify(obj),
            contentType: 'application/json',
            callbackFunc: function (response) {
                switch (response.responseText) {
                    case STATUS_SUCCESS:
                        aliceAlert.alertSuccess(i18n.msg('common.msg.save'), function () {
                            window.location.href = '/numberingRules/search';
                        });
                        break;
                    case STATUS_ERROR_RULE_USED:
                        aliceAlert.alertWarning(i18n.msg('rule.msg.usedRule'));
                        break;
                    default:
                        aliceAlert.alertDanger(i18n.msg('common.msg.fail'));
                        break;
                }
            }
        };
        aliceJs.sendXhr(opt);
    }

    /** 삭제 기능  **/
    function onDelete() {
        const opt = {
            method: 'delete',
            url: '/rest/numberingRules/' + encodeURIComponent(document.getElementById('txtRuleId').value),
            callbackFunc: function (response) {
                switch (response.responseText) {
                    case STATUS_SUCCESS:
                        aliceAlert.alertSuccess(i18n.msg('common.msg.delete'), function () {
                            window.location.href = '/numberingRules/search';
                        });
                        break;
                    case STATUS_ERROR_RULE_USED:
                        aliceAlert.alertWarning(i18n.msg('rule.msg.usedRule'));
                        break;
                    default:
                        aliceAlert.alertDanger(i18n.msg('common.msg.fail'));
                        break;
                }
            }
        };
        aliceJs.sendXhr(opt);
    }

    function addPattern() {
        if (count === 0) {
            document.querySelectorAll('.pattern')[1].style.display = 'flex';
            count++;
        } else if (count === 1) {
            if (document.querySelectorAll('.pattern')[1].getAttribute('style') === 'display: flex;') {
                document.querySelectorAll('.pattern')[2].style.display = 'flex';
            } else {
                document.querySelectorAll('.pattern')[1].style.display = 'flex';
            }
            count++;
        } else {
            aliceAlert.alertWarning(i18n.msg('rule.msg.addPattern', maxCount));
        }
    }

    function deletePattern(name) {
        document.getElementById(name).style.display = 'none';
        count--;
    }

    /*]]>*/
</script>
</html>
