<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{form.label.customCodeTarget}"></title>
    <!-- 임시 style -->
    <style>
        table {
            border: 1px solid #BCC5D3;
        }
        tbody {
            display: block;
            max-height: 540px;
            overflow: auto;
        }
        td {
            vertical-align: middle;
        }
        .btn-container {
            margin-top: 10px;
            text-align: center;
        }
    </style>
</head>
<body>
<div>
    <table>
        <colgroup>
            <col width="20%">
            <col width="80%">
        </colgroup>
        <tbody>
            <tr th:if="${#arrays.isEmpty(customCodeDataList)}">
                <td colspan="2" th:text="#{common.msg.noData}"></td>
            </tr>
            <tr th:unless="${#arrays.isEmpty(customCodeDataList)}" th:each="customCode: ${customCodeDataList}">
                <td><input type="checkbox" th:id="${customCode.key}" th:value="${customCode.value}"/></td>
                <td th:text="${customCode.value}"></td>
            </tr>
        </tbody>
    </table>
    <div class="btn-container">
        <button type="button" th:text="#{common.btn.check}" onclick="customCodeDataSave();"></button>
        <button type="button" th:text="#{common.btn.close}" onclick="window.close();"></button>
    </div>
</div>
</body>
<script type="text/javascript">
    /*<![CDATA[*/
    let componentData = {};
    function customCodeDataSave() {
        let checkElems = document.getElementsByTagName('input');
        let componentValue = '';
        let componentDataValue = '';
        for (let i = 0, len = checkElems.length; i < len; i++) {
            if (checkElems[i].checked) {
                if (componentValue === '' && componentValue.indexOf('/') === -1) {
                    componentDataValue = checkElems[i].id + '|' + checkElems[i].value;
                    componentValue = checkElems[i].value;
                } else {
                    componentDataValue += (',' + checkElems[i].id + '|' + checkElems[i].value);
                    componentValue += '/' + checkElems[i].value;
                }
            }
        }
        if (window.opener && !window.opener.closed) {
            let component = window.opener.document.getElementById(componentData.componentId);
            let componentChild =  component.querySelector('input[type="text"]');
            componentChild.value = componentValue;
            componentChild.setAttribute('custom-data', componentDataValue);
            window.close();

        }
    }
    window.onload = function() {
        componentData = JSON.parse('[(${customCodeData})]');
        let compDataList = componentData.componentValues.split(','); //key|value,key|value
        for (let i = 0, len = compDataList.length; i < len; i++) {
            let compDataMap = compDataList[i].split('|');
            let checkboxElem = document.querySelector('input[id="' + compDataMap[0] + '"]');
            if (checkboxElem) {
                checkboxElem.checked = true;
            }
        }
    };
    /*]]>*/
</script>
</html>
