<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="form/formCore">
<head>
    <title th:text="#{document.label.write}"></title>
</head>
<body>
<th:block layout:fragment="content">
    <form id="frm" name="frm">
        <div class="container document">
            <div class="contents">
                <div class="button-board">
                    <div class="button-group" id="button-container"></div>
                    <button type="button" th:onclick="aliceDocument.print('/documents/' + [[${documentId}]])" th:text="#{common.btn.print}"></button>
                </div>
                <div class="drawing-board" id="document-panel"></div>
            </div>
        </div>
    </form>
</th:block>
</body>
<th:block layout:fragment="script">
    <script th:src="@{/assets/js/document/document.js}"></script>
    <script type="text/javascript">
        /*<![CDATA[*/
        window.onload = function() {
            aliceForm.init(aliceDocument.init, '[[${documentId}]]');
        };
        /*]]>*/
    </script>
</th:block>
</html>
