<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
</head>
<body>
<div class="card-area">
    <div class="no-data-found" th:if="${#arrays.isEmpty(documentList)}">
        <img class="no-data-icon" />
        <span class="no-data-text" th:text="#{common.msg.noData}"></span>
    </div>
    <div th:unless="${#arrays.isEmpty(documentList)}" th:each="document: ${documentList}">
        <a sec:authorize="hasAuthority('document.create')" th:attr="onclick=|openDocument('${document.documentId}')|">
            <div class="document-card">
                <h3 th:text="${document.documentName}"></h3>
                <h5 th:text="${document.documentDesc}"></h5>
                <div class="document-icon">
                    <img th:src="@{/assets/media/image/document/{documentIcon}(documentIcon=${document.documentIcon})}"/>
                </div>
            </div>
        </a>
    </div>
</div>
</body>
</html>
