<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{document.label.write}"></title>
    <th:block th:replace="layout/fragments/commonHead"></th:block>
</head>
<body>
<div>
    <h1 th:text="#{document.label.display}">신청서 양식 편집</h1>
    <hr>
    <div th:each="display :${documentDisplayList}">
        <p th:text=${display}></p>
    </div>
    <hr>

    <table>
        <thead>
            <tr>
                <th>구분</th>
                <th>엘리먼트 이름 →</th>  <!--th:each="userTask: ${userTaskList}"-->
            </tr>
        </thead>
        <tbody>
            <tr> <!--th:each="component: ${componentList}"-->
                <td>컴포넌트 이름 ↓</td>  <!--th:text="|${component.componentName}(${component.componentType)|"-->
                <td>
                    <select>
                        <option value="editable">editable</option>
                        <option value="editable.required">editable (required)</option>
                        <option value="readonly">readonly</option>
                        <option value="hidden">hidden</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<hr>
<div style="margin-top: 10px; text-align: center;">
    <button th:text="#{common.btn.register}" onclick="window.close()"></button>
    <button th:text="#{common.btn.close}" onclick="window.close();"></button>
</div>
</body>
<script type="text/javascript">
    /*<![CDATA[*/
    window.onload = function() {
<!--        restSubmit('get', '/rest/documents/display/[[${documentId}]]');-->
    };

    //REST API
    function restSubmit(method, url, result) {
        const opt = {
            method: method,
            url: url,
            callbackFunc: function(response) {
                result(response.responseText);
            }
        };
        aliceJs.sendXhr(opt);
    }
    /*]]>*/
</script>
</html>