<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
            layout:decorator="layout/defaultLayout">
<head>
    <title th:text="#{document.label.list}"></title>
</head>
<body>
<th:block layout:fragment="content">
    <div style="width: 70%; margin: 50px auto;">
        <h1 th:text="#{document.label.list}"></h1>
        <div sec:authorize="hasAuthority('document.create')" class="button" align="right">
            <button type="button" onclick="openDocumentEdit()" th:text="#{common.btn.register}">등록</button>
        </div>
        <hr>
        <div id="documentList" style="margin-top: 20px"></div>
    </div>
</th:block>
</body>
<th:block layout:fragment="pageScript">
    <script type="text/javascript">
        /*<![CDATA[*/
        window.onload = function() {
            restSubmit('GET', '/documents/list', function(result){
                document.getElementById('documentList').innerHTML = result;
            });
        };

        //신청서 작성 화면 오픈.
        function openDocumentEdit(documentId) {
            //TODO: 임시 size. 추후 변경 필요.
            if (documentId !== undefined) {
                window.open('/documents/' + documentId + '/edit', '_blank', 'width=800, height=805');
            } else {
                window.open('/documents/new', '_blank', 'width=625, height=400, left=1000, top=350');
            }
        }

        //신청서 삭제 기능
        function deleteDocument(documentId) {
            restSubmit('DELETE', '/rest/documents/' + documentId, function(result) {
                alert('[[#{common.msg.delete.fail}]]');
                // alert('[[#{common.msg.delete.success}]]');
                // location.reload();
            });
        }

        //REST API
        function restSubmit(method, url, result) {
            const opt = {
                method: method,
                url: url,
                callbackFunc: function(response) {
                    result(response.responseText);
                }
            };
            aliceJs.sendXhr(opt);
        }
        /*]]>*/

    </script>
</th:block>
</html>
