<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="form/formCore">
<head>
    <title th:text="#{document.label.write}"></title>
    <link th:href="@{/assets/css/document.css}" rel="stylesheet"/>
    <script th:src="@{/assets/js/document/document.js}"></script>
</head>
<body>
<form id="frm" name="frm">
<div class="drawing-board" id="document-container"></div>
<div id="button-container"></div>
</form>
</body>
<th:block layout:fragment="script">
    <script type="text/javascript">
        /*<![CDATA[*/
        window.onload = function() {
            aliceDocument.init('[[${documentId}]]');
        };
        /*]]>*/
    </script>
</th:block>
</html>