<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
</head>
<body>
<div class="card-list flex-row justify-content-start align-itmes-start">
    <input th:type="hidden" id="totalCount" name="totalCount" th:value="${totalCount}"/>
    <div class="card flex-row justify-content-center no-data-found" th:if="${#arrays.isEmpty(documentList)}">
        <img class="z-img i-no-card" />
        <span class="no-data-text" th:text="#{common.msg.noData}"></span>
    </div>
    <th:block th:fragment="list">
        <div class="card" th:unless="${#arrays.isEmpty(documentList)}" th:each="document: ${documentList}"
             sec:authorize="hasAuthority('document.create')" th:onclick="zDocument.openDocument([[${document.documentId}]])">
            <div class="document-column">
                <div class="flex-row align-items-center" >
                    <span th:text="${document.documentName}" class="text-ellipsis document-name mr-2"></span>
                    <span th:if="${document.documentStatus} == 'document.status.temporary'"
                          th:text="#{document.label.tempDocument}" class="document-temp-status"> </span>
                </div>
                <label th:text="${document.documentDesc}" class="document-description text-ellipsis"></label>
                <div class="document-icon">
                    <img class="z-img i-document-icon" th:src="${document.documentIcon}"/>
                </div>
            </div>
        </div>
    </th:block>
</div>
</body>
</html>
