<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="layout/defaultLayout">
<head>
    <title th:text="#{document.label.list}"></title>
</head>
<th:block layout:fragment="cssLink">
    <link th:href="@{/assets/css/form-designer.css}" rel="stylesheet"/>
</th:block>
<th:block layout:fragment="scriptLink">
    <script th:src="@{/assets/vendors/piklor/piklor.js}"></script>
    <script th:src="@{/assets/js/util/colorPalette-alice.js}"></script>
    <script th:src="@{/assets/js/form/form.core.js}"></script>
    <script th:src="@{/assets/js/form/form.component.js}"></script>
    <script th:src="@{/assets/js/document/document.js}"></script>
    <script type="text/javascript">
            (function() {
                aliceForm.init();
                aliceForm.initSession(JSON.stringify({
                    userKey : '[[${#authentication.details.userKey}]]',
                    userId : '[[${#authentication.details.userId}]]',
                    userName: '[[${#authentication.details.userName}]]',
                    email: '[[${#authentication.details.email}]]',
                    position: '[[${#authentication.details.position}]]',
                    department: '[[${#authentication.details.department}]]',
                    officeNumber: '[[${#authentication.details.officeNumber}]]',
                    mobileNumber: '[[${#authentication.details.mobileNumber}]]'
                }));
            })();
        </script>
</th:block>
<th:block layout:fragment="pageScript">
    <script type="text/javascript">
        /*<![CDATA[*/
        window.onload = function() {
            document.querySelectorAll('#searchDocuments, #searchProcessName, #searchFormName').forEach(search => {
                search.addEventListener('keyup', function() {
                    documentSearches(false);
                });
            });
            documentSearches();
        };

        function documentSearches(isShowProgressBar) {
            restSubmit('GET', '/documents/list?'+ aliceJs.serialize(document.getElementById('searchDocumentsFrm')), function(result) {
                document.getElementById('documentList').innerHTML = result;
            }, isShowProgressBar);
        }

        function openDocument(documentId) {
            aliceDocument.init(documentId);
        }

        function restSubmit(method, url, result, isShowProgressbar) {
            const opt = {
                method: method,
                url: url,
                showProgressbar: isShowProgressbar,
                callbackFunc: function(response) {
                    result(response.responseText);
                }
            };
            aliceJs.sendXhr(opt);
        }
        /*]]>*/
    </script>
</th:block>
<body>
<th:block layout:fragment="content">
    <div style="width: 70%; margin: 50px auto;">
        <h1 th:text="#{document.label.list}"></h1>
        <form id="searchDocumentsFrm">
            <div class="pull-right">
                <label for="searchDocuments"></label><input type="text" id="searchDocuments" name="searchDocuments" th:placeholder="#{document.label.searchPlaceholder}" class="search"/>
                <label for="searchProcessName"></label><input type="text" id="searchProcessName" name="searchProcessName" th:placeholder="#{document.label.process}" class="search"/>
                <label for="searchFormName"></label><input type="text" id="searchFormName" name="searchFormName" th:placeholder="#{document.label.form}" class="search"/>
                <input sec:authorize="hasAuthority('document.read.admin')" type="hidden" id="viewType" name="viewType" value="admin">
            </div>
        </form>
        <hr>
        <div id="documentList" style="margin-top: 20px"></div>
    </div>
</th:block>
</body>
</html>
