<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="form/formCore">
<head>
    <title th:text="#{document.label.write}"></title>
    <th:block layout:fragment="css">
        <link th:href="@{/assets/css/document.css}" rel="stylesheet"/>
    </th:block>
</head>
<body>
<th:block layout:fragment="content">
    <form id="frm" name="frm">
        <div class="print-btn">
            <button type="button" th:onclick="aliceDocument.print('/documents/' + [[${documentId}]])"
                    th:text="#{document.label.print}"></button>
        </div>
        <div class="drawing-board" id="document-container"></div>
        <div id="button-container"></div>
    </form>
</th:block>
</body>
<th:block layout:fragment="script">
    <script th:src="@{/assets/js/document/document.js}"></script>
    <script type="text/javascript">
        /*<![CDATA[*/
        window.onload = function() {
            aliceForm.init(aliceDocument.init, '[[${documentId}]]');
        };
        /*]]>*/
    </script>
</th:block>
</html>
