<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{document.label.write}"></title>
    <th:block th:replace="layout/fragments/commonHead"></th:block>
    <style>
        body {
            width: 70%;
            margin: 50px auto;
        }
        table {
            border: 1px solid;
            border-collapse: collapse;
        }
        table tr:nth-child(2) td {
            border-top: 1px solid;
        }
        table td {
            border-top: 1px solid #e7e7e7;
            border-left: 1px solid;
        }
    </style>
</head>
<body>
<div>
    <h1 th:text="#{document.label.display}">신청서 양식 편집</h1>
    <hr>
    <table border="1" id="documentDisplay">
        <tbody>
            <tr id="documentElementRow">
                <th>구분</th>
            </tr>
        </tbody>
    </table>
</div>
<hr>
<div style="margin-top: 10px; text-align: center;">
    <button th:text="#{common.btn.register}" onclick="onSave();"></button>
    <button th:text="#{common.btn.close}" onclick="window.close();"></button>
</div>
</body>
<script type="text/javascript">
    /*<![CDATA[*/
    window.onload = function() {
        onGetDetail();
    };

    /* 동적 화면 구성 */
    function onGetDetail(documentId) {
        const opt = {
            method: 'get',
            url: '/rest/documents/[[${documentId}]]/display',
            callbackFunc: function(response) {
                var responseJson = JSON.parse(response.responseText);
                // set element row
                var elements = responseJson.elements;
                var displayTable = document.getElementById('documentDisplay');
                var elementRow = document.getElementById('documentElementRow');
                for(let i=0; i < elements.length; i++) {
                    var elementData = document.createElement('th');
                    elementData.id = elements[i].elementId;
                    elementData.innerHTML = elements[i].attributeValue;
                    elementRow.appendChild(elementData);
                }
                displayTable.appendChild(elementRow);
                // set component row
                var components = responseJson.components;
                for(let i=0; i < components.length; i++) {
                    var componentRow = document.createElement('tr');
                    var componentData = document.createElement('th');
                    componentData.id = components[i].componentId;
                    componentData.innerHTML = components[i].attributeValue;
                    componentRow.appendChild(componentData);
                    // set display data
                    var displayValue = components[i].displayValue;
                    for(let j =0; j < displayValue.length; j++) {
                        var displayData = document.createElement('td');
                        setDisplaySelect(displayData, components[i].componentId, displayValue[j]);
                        componentRow.appendChild(displayData);
                    }
                    displayTable.appendChild(componentRow);
                }
            }
        };
        aliceJs.sendXhr(opt);
    }

    /* Display data setting */
    function setDisplaySelect(obj, componentId, displayData) {
        var displaySelect = document.createElement('select');
        var elementId = displayData.elementId;
        var displayData = displayData.display;
        var values = ['editable', 'editableRequired', 'readonly', 'hidden'];
        for (let i=0; i<values.length; i++) {
            var option=document.createElement("option");
            option.setAttribute('id',componentId + '_' + elementId + '_' + displayData);
            option.text = i18n.get('document.label.' + values[i]);
            option.value = values[i];
            if (values[i] == displayData) {
                option.setAttribute('selected', 'true');
            }
            displaySelect.add(option);
        }
        obj.appendChild(displaySelect);
    }

    function onSave() {
        // 저장 데이터 수집
        var obj = {};
        var arrDisplay = [];
        Array.prototype.forEach.call(document.querySelectorAll('option[selected=true]'), function(item) {
            var objDisplay = {};
            var strArr = item.id.split('_');
            objDisplay.componentId = strArr[0]; // componentId
            objDisplay.elementId = strArr[1]; // elementId
            objDisplay.display = strArr[2]; // display
            arrDisplay.push(objDisplay);
        });

        obj.documentId = '[[${documentId}]]';
        obj.displays = arrDisplay;
        var displayJson = JSON.stringify(obj);

        console.log(displayJson);


        const opt = {
            method: 'put',
            url: '/rest/documents/[[${documentId}]]/display',
            params: displayJson,
            contentType: 'application/json',
            callbackFunc: function () {
                aliceJs.alert(i18n.get('common.msg.save'), function() {
                    location.href = '/documents/search';
                    window.close();
                });
            }
        };
        aliceJs.sendXhr(opt);
    }

    //REST API
    function restSubmit(method, url, result) {
        const opt = {
            method: method,
            url: url,
            callbackFunc: function(response) {
                console.log(response);
            }
        };
        aliceJs.sendXhr(opt);
    }
    /*]]>*/
</script>
</html>