<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- 신청서 양식 편집 모달 -->
<div class="document-display-content">
    <table id="documentDisplay">
        <tr id="documentElementRow">
            <th:block th:each="element : ${documentDisplayList.elements}">
                <th class="column-title" th:id="${element.elementId}" th:text="${element.elementName}"/>
            </th:block>
        </tr>
        <tr th:each="component : ${documentDisplayList.components}">
            <th th:id="${component.componentId}" th:text="${component.attributeValue}"/>
            <th:block th:each="display : ${component.displayValue}">
                <td>
                    <select th:id="${component.componentId}_${display.elementId}" name="displays" class="col-3">
                        <option th:each="displayType :${documentDisplayTypeList}" th:text="${displayType.codeValue}"
                                th:value="${displayType.code}" th:selected="${displayType.code} == ${display?.display}">
                        </option>
                    </select>
                </td>
            </th:block>
        </tr>
    </table>
</div>
</body>
</html>
