<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/itsm/pageType/pagingListLayout">
<head>
    <title th:text="#{document.label.workFlow}"></title>
</head>
<th:block layout:fragment="pageHead">
    <script th:src="@{/assets/js/lib/zColorPicker.js}"></script>
    <script th:src="@{/assets/js/workflow/zWorkflowUtil.js}"></script>
</th:block>
<body>
<div layout:fragment="pageTitle">
    <h1 th:text="#{document.label.workFlow}"></h1>
    <h6 class="description ml-2 pl-2" th:text="#{document.msg.adminSearchDescription}"></h6>
</div>
<div layout:fragment="pageSearching">
    <input type="hidden" id="updatable" th:value="${#authorization.expression('hasAuthority(''workflow.manage'')')}"/>
    <input type="hidden" id="deletable" th:value="${#authorization.expression('hasAuthority(''workflow.manage'')')}"/>
    <form id="searchDocumentsFrm">
        <select id="searchGroupName" name="searchGroupName" class="col-3">
            <option value="" th:text="#{document.label.all}" selected></option>
            <option th:each="group:${groupList}" th:value="${group.code}" th:text="${group.codeValue}"></option>
        </select>
        <label for="searchDocuments"></label>
        <input type="text" class="input i-search text-ellipsis" maxlength="100" id="searchDocuments"
               name="searchDocuments" th:placeholder="#{document.label.searchPlaceholder}"/>
        <label for="searchProcessName"></label>
        <input type="text" class="input i-search text-ellipsis" maxlength="100" id="searchProcessName"
               name="searchProcessName" th:placeholder="#{document.label.process}"/>
        <label for="searchFormName"></label>
        <input type="text" class="input i-search text-ellipsis mr-2" maxlength="100" id="searchFormName"
               name="searchFormName" th:placeholder="#{document.label.form}"/>
        <th:block th:replace="layout/itsm/fragment/totalCountFragment :: totalCountFragment"></th:block>
    </form>
    <div class="ml-auto" sec:authorize="hasAuthority('workflow.manage')">
        <button type="button" class="button primary" onclick="location.href='/workflows/new'"
                th:text="#{common.btn.add}"></button>
        <button type="button" class="button secondary" onclick="openDocumentImport();"
                th:text="#{common.btn.import}"></button>
    </div>
</div>
<div layout:fragment="pageList">
    <div class="list-content flex-row" id="documentList"></div>
</div>
</body>
<script layout:fragment="pageScript" th:inline="javascript">
    /*<![CDATA[*/
    // Document type.
    const DOCUMENT_TYPE_FORM = 'application-form';
    const DOCUMENT_TYPE_WORKFLOW = 'workflow';
    const DOCUMENT_TYPE_LINK = 'application-form-link';

    let importFile;
    window.onload = function() {
        document.getElementById('searchDocuments').focus();
        document.getElementById('searchGroupName').addEventListener('change', function() { getList(); });
        document.querySelectorAll('#searchDocuments, #searchProcessName, #searchFormName').forEach(search => {
            search.addEventListener('keyup', aliceJs.debounce (() => getList()), false);
        });
        getList();
    };

    function getList(pageNum = 1) {
        const urlParam = aliceJs.serialize(document.getElementById('searchDocumentsFrm')) + '&pageNum=' + pageNum;
        aliceJs.fetchText('/workflows?' + urlParam, {
            method: 'GET'
        }).then((htmlData) => {
            document.getElementById('documentList').innerHTML = htmlData;
            aliceJs.showTotalCount(document.getElementById('totalCount').value);
        });
    }

    // ID 검색을 위한 prefix 반환
    function getPrefixForId(type) {
        switch (type) {
            case DOCUMENT_TYPE_FORM:
                return 'application';
            case DOCUMENT_TYPE_WORKFLOW:
                return 'workflow';
            case DOCUMENT_TYPE_LINK:
                return 'link';
        }
    }

    // 신청서 아이콘 선택 팝업
    function openIcon() {
        const documentType = document.getElementById('documentType');
        const prefix = getPrefixForId(documentType.value);
        aliceJs.thumbnail({
            title: i18n.msg('document.label.icon'),
            targetId: prefix + 'DocumentIcon',
            type: 'icon',
            isThumbnailInfo: false,
            isFilePrefix: false,
            thumbnailDoubleClickUse: true,
            selectedPath: document.getElementById(prefix + 'DocumentIcon').value,
        });
    }

    // 업무흐름 구분 변경
    function setDocumentType(type) {
        const applicationForm = document.getElementById('applicationFormGroup');
        const workflow = document.getElementById('workflowGroup');
        const applicationFormLink = document.getElementById('applicationFormLinkGroup');
        const prefix = getPrefixForId(type);

        switch (type) {
            case DOCUMENT_TYPE_FORM:
                applicationForm.classList.add('block');
                workflow.classList.remove('block');
                applicationFormLink.classList.remove('block');
                break;
            case DOCUMENT_TYPE_WORKFLOW:
                workflow.classList.add('block');
                applicationForm.classList.remove('block');
                applicationFormLink.classList.remove('block');
                break;
            case DOCUMENT_TYPE_LINK:
                applicationFormLink.classList.add('block');
                workflow.classList.remove('block');
                applicationForm.classList.remove('block');
                break;
            default:
        }
        if (document.querySelector('.hidden-control-content.on .color-box') == null) {
            new zColorPicker(document.getElementById(prefix + 'DocumentColor'), { type: 'fill' });
        }
    }

    function restSubmit(method, url, data, resultFunc, isShowProgressbar) {
        aliceJs.fetchJson(url, {
            method: method,
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data),
            showProgressbar: isShowProgressbar
        }).then((response) => {
            resultFunc(response);
        });
    }

    /**
     * XML 다운로드
     */
    function onXMLDownload(documentId) {
        ZWorkflowUtil.export(documentId, '/rest/workflows/' + documentId + '/export', 'workflow');
    }

    // 파일업로드 라이브러리로 파일 drag & drop시 callback으로 전달받는 파일을 저장한다.
    function getImportFile(file) {
        if (typeof file !== 'undefined') {
            importFile = file;
        }
    }

    /**
     * 업무흐름 import 유효성 검증
     * @param prefix 구분자
     */
    function checkValidationForImportWorkflow(prefix) {
        if (isEmpty('documentName', 'document.msg.enterDocumentName')) { return false; }
        if (isEmpty(prefix + 'NumberingRule', 'document.msg.selectNumberingRule')) { return false; }
        if (isEmpty(prefix + 'DocumentColor', 'document.msg.enterWorkFlowColor')) { return false; }
        if (isEmpty('formName', 'form.msg.enterFormName')) { return false; }
        if (isEmpty('processName', 'process.msg.enterProcessName')) { return false; }
        if (document.getElementById('dropZoneFileUpload') !== null && document.getElementById('fileTemplate') === null) {
            zAlert.warning(i18n.msg('common.msg.selectImportFile'));
            return false;
        }
        return true;
    }
    /**
     * 업무흐름 import
     */
    function importWorkFlow() {
        const documentType = document.getElementById('documentType').value;
        const prefix = getPrefixForId(documentType);
        if (importFile === null || !checkValidationForImportWorkflow(prefix)) { return false; }

        const importData = {
            documentType: documentType,
            documentName: document.getElementById('documentName').value,
            documentDesc: document.getElementById('documentDesc').value,
            formId: '',
            processId: '',
            documentNumberingRuleId: document.getElementById(prefix + 'NumberingRule').value,
            documentStatus: document.getElementById(prefix + 'DocumentStatus').value,
            apiEnable: document.getElementById(prefix + 'ApiEnable').value,
            documentLinkUrl: null,
            documentColor: document.getElementById(prefix + 'DocumentColor').value,
            documentGroup: (documentType === DOCUMENT_TYPE_FORM)
                ? document.getElementById(prefix + 'DocumentGroup').value : null,
            documentIcon: (documentType === DOCUMENT_TYPE_FORM)
                ?  document.getElementById(prefix + 'DocumentIcon').value : null,
            formName: document.getElementById('formName').value,
            formDesc: document.getElementById('formDesc').value,
            processName: document.getElementById('processName').value,
            processDesc: document.getElementById('processDesc').value,
        };
        ZWorkflowUtil.import(importFile, importData, 'workflow', function(response) {
            switch (response.status) {
                case aliceJs.response.duplicate:
                    zAlert.warning(i18n.msg(response.message + '.msg.duplicateName'));
                    break;
                case aliceJs.response.success:
                    zAlert.success(i18n.msg('common.msg.success'), function() {
                        location.reload();
                    });
                    break;
                case aliceJs.response.error:
                    zAlert.danger(i18n.msg('workflowAdmin.msg.failedImport'));
                    break;
                default:
                    break;
            }
        });
    }
    /**
     * XML 가져오기
     */
    function openDocumentImport() {
        aliceJs.fetchText('/workflows/import', {
            method: 'GET'
        }).then((htmlData) => {
            const importModal = new modal({
                title: i18n.msg('workflowAdmin.label.import'),
                body: htmlData,
                classes: 'workFlow-import',
                buttons: [{
                    content: i18n.msg('common.btn.import'),
                    classes: 'button primary',
                    bindKey: false,
                    callback: function() {
                        importWorkFlow();
                    }
                }, {
                    content: i18n.msg('common.btn.cancel'),
                    classes: 'button secondary',
                    bindKey: false,
                    callback: function(modal) {
                        modal.hide();
                    }
                }],
                close: { closable: false },
                onCreate: function() {
                    const documentType = document.getElementById('documentType').value;
                    setDocumentType(documentType);

                    // 파일 업로드 추가
                    zFileUploader.init({
                        formId: 'importWorkFlow',
                        dropZoneMaxFiles: 1,
                        acceptedFiles: '.xml',
                        dropZoneUrl: '/fileupload?target=import',
                        editor: true,
                        userCallback: getImportFile
                    });
                    // 스크롤바 추가
                    const modalDialog = document.querySelector('.workFlow-import');
                    OverlayScrollbars(modalDialog.querySelector('.modal-content'), { className: 'scrollbar' });
                    modalDialog.querySelectorAll('.textarea-scroll-wrapper').forEach(function(elem) {
                        OverlayScrollbars(elem, {
                            className: 'inner-scrollbar',
                            resize: 'vertical',
                            sizeAutoCapable: true,
                            textarea: {
                                dynHeight: false,
                                dynWidth: false,
                                inheritedAttrs: 'class'
                            }
                        });
                    });
                    // select 디자인
                    aliceJs.initDesignedSelectTag();
                }
            });
            // 모달 호출
            importModal.show();
        });
    }
    /*]]>*/
</script>
</html>
