<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- 업무흐름 모달 -->
<div class="workflow-content">
    <div class="flex-column">
        <!-- 업무흐름 구분 -->
        <label class="field-label" for="documentType">
            <span th:text="#{document.label.type}"></span>
            <span class="required"></span>
        </label>
        <select id="documentType" onchange="setDocumentType(this.value)" th:disabled="${documentData?.documentId != undefined}">
            <option value="application-form" th:text="#{document.type.applicationForm}" th:selected="${documentData?.documentType == 'application-form'}"></option>
            <option value="workflow" th:text="#{document.type.workflow}" th:selected="${documentData?.documentType == 'workflow'}"></option>
            <option value="application-form-link" th:text="#{document.type.applicationFormLink}" th:selected="${documentData?.documentType == 'application-form-link'}"></option>
        </select>
        <!-- 신청서 이름 -->
        <label class="field-label" for="documentName">
            <span th:text="#{document.label.name}"></span>
            <span class="required"></span>
        </label>
        <input type="text" class="z-input" id="documentName" maxlength="50" required="required" th:value="${documentData?.documentName}"/>
        <!-- 설명 -->
        <label class="field-label" th:text="#{document.label.description}" for="documentDesc"></label>
        <textarea id="documentDesc" class="z-textarea textarea-scroll-wrapper" rows="7" maxlength="128"
                  th:text="${documentData?.documentDesc}"></textarea>
        <!-- 업무흐름 구분 :  신청서 -->
        <div id= "applicationFormGroup" class="hidden-control-content">
            <!-- 그룹 -->
            <label class="field-label" th:text="#{common.label.group}" for="applicationDocumentGroup"></label>
            <select id="applicationDocumentGroup">
                <option value="" th:text="#{document.label.notSelect}" selected></option>
                <option th:each="group:${groupList}" th:value="${group.code}"
                        th:text="${group.codeValue}" th:selected="${documentData?.documentGroup} == ${group.code}"></option>
            </select>
            <!-- 문서양식 -->
            <label class="field-label" for="applicationDocumentForm">
                <span th:text="#{document.label.form}"></span>
                <span class="required"></span>
            </label>
            <select id="applicationDocumentForm" th:disabled="${documentId}">
                <option value="" th:text="#{common.msg.select}" selected></option>
                <option th:each="form:${formList}"
                        th:id="${form?.id}"
                        th:value="${form?.id}"
                        th:text="${form?.name}"
                        th:selected="${documentData?.formId} == ${form?.id}"></option>
            </select>
            <!-- 프로세스 -->
            <label class="field-label" for="applicationDocumentProcess">
                <span th:text="#{document.label.process}"></span>
                <span class="required"></span>
            </label>
            <select id="applicationDocumentProcess" th:disabled="${documentId}">
                <option value="" th:text="#{common.msg.select}" selected></option>
                <option th:each="process:${processList}"
                        th:id="${process?.id}"
                        th:value="${process?.id}"
                        th:text="${process?.name}"
                        th:selected="${documentData?.processId} == ${process?.id}"></option>
            </select>
            <!-- 문서번호 규칙 -->
            <label class="field-label" for="applicationNumberingRule">
                <span th:text="#{document.label.numberingRule}"></span>
                <span class="required"></span>
            </label>
            <select id="applicationNumberingRule" th:disabled="${documentId}">
                <option value="" th:text="#{common.msg.select}" selected></option>
                <option th:each="numberingRule:${numberingRuleList}"
                        th:id="${numberingRule.numberingId}"
                        th:value="${numberingRule.numberingId}"
                        th:text="${numberingRule.numberingName}"
                        th:selected="${documentData?.documentNumberingRuleId} == ${numberingRule.numberingId}"></option>
            </select>
            <!-- 신청서 상태 -->
            <label class="field-label" th:text="#{document.label.status}" for="applicationDocumentStatus"></label>
            <input type="hidden" id="applicationPrevDocumentStatus" th:value="${documentData?.documentStatus}"/>
            <select id="applicationDocumentStatus">
                <option th:each="status:${statusList}" th:value="${status.code}"
                        th:text="${status.codeName}" th:selected="${status.code} == ${documentData?.documentStatus}"></option>
            </select>
            <!-- API 활성화 -->
            <label class="field-label" th:text="#{document.label.apiEnable}" for="applicationApiEnable"></label>
            <select id="applicationApiEnable" required="required">
                <option value="true" th:text="#{document.label.enable}" th:selected="${documentData?.apiEnable == true}"></option>
                <option value="false" th:text="#{document.label.disable}" th:selected="${documentData?.apiEnable == false}"></option>
            </select>
            <!-- 업무 흐름 색상 -->
            <label class="field-label" for="applicationDocumentColor">
                <span th:text="#{document.label.workFlowColor}"></span>
                <span class="required"></span>
            </label>
            <input type="text" id="applicationDocumentColor" th:value="${documentData?.documentColor}"/>
            <!-- 신청서 아이콘 -->
            <label class="field-label" for="applicationDocumentIcon" th:text="#{document.label.icon}"></label>
            <div class="flex-row z-input-button">
                <input type="text" id="applicationDocumentIcon" class="z-input col-pct-11" th:value="${documentData?.documentIcon}" readonly />
                <span class="z-icon i-remove" name="clearIcon" onclick="aliceJs.clearText(this);" tabindex="-1"></span>
                <button type="button" class="z-button-search z-button form" th:text="#{common.btn.select}" th:onclick="openIcon();"></button>
            </div>
        </div>
        <!-- 업무흐름 구분 :  업무흐름 -->
        <div id="workflowGroup" class="hidden-control-content">
            <!-- 문서양식 -->
            <label class="field-label" for="workflowDocumentForm">
                <span th:text="#{document.label.form}"></span>
                <span class="required"></span>
            </label>
            <select id="workflowDocumentForm" th:disabled="${documentId}">
                <option value="" th:text="#{common.msg.select}" selected></option>
                <option th:each="form:${formList}"
                        th:id="${form?.id}"
                        th:value="${form?.id}"
                        th:text="${form?.name}"
                        th:selected="${documentData?.formId} == ${form?.id}"></option>
            </select>
            <!-- 프로세스 -->
            <label class="field-label" for="workflowDocumentProcess">
                <span th:text="#{document.label.process}"></span>
                <span class="required"></span>
            </label>
            <select id="workflowDocumentProcess" th:disabled="${documentId}">
                <option value="" th:text="#{common.msg.select}" selected></option>
                <option th:each="process:${processList}"
                        th:id="${process?.id}"
                        th:value="${process?.id}"
                        th:text="${process?.name}"
                        th:selected="${documentData?.processId} == ${process?.id}"></option>
            </select>
            <!-- 문서번호 규칙 -->
            <label class="field-label" for="workflowNumberingRule">
                <span th:text="#{document.label.numberingRule}"></span>
                <span class="required"></span>
            </label>
            <select id="workflowNumberingRule"th:disabled="${documentId}">
                <option value="" th:text="#{common.msg.select}" selected></option>
                <option th:each="numberingRule:${numberingRuleList}"
                        th:id="${numberingRule.numberingId}"
                        th:value="${numberingRule.numberingId}"
                        th:text="${numberingRule.numberingName}"
                        th:selected="${documentData?.documentNumberingRuleId} == ${numberingRule.numberingId}"></option>
            </select>
            <!-- 신청서 상태 -->
            <label class="field-label" th:text="#{document.label.status}" for="workflowDocumentStatus"></label>
            <input type="hidden" id="workflowPrevDocumentStatus" th:value="${documentData?.documentStatus}"/>
            <select id="workflowDocumentStatus">
                <option th:each="status:${statusList}" th:value="${status.code}"
                        th:text="${status.codeName}" th:selected="${status.code} == ${documentData?.documentStatus}"></option>
            </select>
            <!-- API 활성화 -->
            <label class="field-label" th:text="#{document.label.apiEnable}" for="workflowApiEnable"></label>
            <select id="workflowApiEnable" required="required">
                <option value="true" th:text="#{document.label.enable}" th:selected="${documentData?.apiEnable == true}"></option>
                <option value="false" th:text="#{document.label.disable}" th:selected="${documentData?.apiEnable == false}"></option>
            </select>
            <!-- 업무 흐름 색상 -->
            <label class="field-label" for="workflowDocumentColor">
                <span th:text="#{document.label.workFlowColor}"></span>
                <span class="required"></span>
            </label>
            <input type="text" id="workflowDocumentColor" th:value="${documentData?.documentColor}"/>
        </div>
        <!-- 업무흐름 구분 :  링크 -->
        <div id="applicationFormLinkGroup" class="hidden-control-content">
            <label class="field-label" th:text="#{document.label.status}" for="linkDocumentStatus"></label>
            <input type="hidden" id="linkPrevDocumentStatus" th:value="${documentData?.documentStatus}"/>
            <select id="linkDocumentStatus">
                <option th:each="status:${statusList}" th:value="${status.code}"
                        th:text="${status.codeName}" th:selected="${status.code} == ${documentData?.documentStatus}"></option>
            </select>
            <!-- url 링크 -->
            <label class="field-label" for="linkUrl">
                <span th:text="#{document.label.link}"></span>
                <span class="required"></span>
            </label>
            <div class="flex-column">
                <input type="text" class="z-input" id="linkUrl" th:value="${documentData?.documentLinkUrl}" maxlength="512"/>
            </div>
            <!-- 업무 흐름 색상 -->
            <label class="field-label" for="linkDocumentColor">
                <span th:text="#{document.label.workFlowColor}"></span>
                <span class="required"></span>
            </label>
            <input type="text" id="linkDocumentColor" th:value="${documentData?.documentColor}"/>
            <!-- 신청서 아이콘 -->
            <label class="field-label" for="linkDocumentIcon" th:text="#{document.label.icon}"></label>
            <div class="flex-row z-input-button">
                <input type="text" id="linkDocumentIcon" class="z-input col-pct-11" th:value="${documentData?.documentIcon}" readonly />
                <span class="z-icon i-remove" name="clearIcon" onclick="aliceJs.clearText(this);" tabindex="-1"></span>
                <button type="button" class="z-button-search z-button form" th:text="#{common.btn.select}" th:onclick="openIcon();"></button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
