<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <style>
        table {
            width: 100%;
            border: 1px solid;
            border-collapse: collapse;
        }
        table td {
            border-left: 1px solid;
        }
    </style>
</head>
<body>
<div>
    <table>
        <colgroup>
            <col width="20%">
            <col width="45%">
            <col width="30%">
            <col width="5%">
        </colgroup>
        <tbody>
            <tr th:each="ticket: ${ticketList}">
                <td th:text="${ticket.ticketName}"></td>
                <td th:text="${ticket.ticketDesc}"></td>
                <td th:with="dateformat=${#authentication.details.timeFormat}"
                    th:text="|${#temporals.format(ticket.createDt, dateformat)} ${ticket.userKey}|"></td>
                <td><button sec:authorize="hasAuthority('ticket.create')" th:text="#{common.btn.check}"></button></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>