/* _alignments.scss 
 *
 * 파일 경로 : template/utilities/_alignments.scss
 * @description 정렬, 배치 관련 디자인
 * @author jy.lim
 * @version 1.0
 */

$text-align-type: (center, left, right);
@each $direction in $text-align-type {
  .align-#{$direction} {
    text-align: #{$direction} !important;
  }
}

$vertical-align-type: (baseline, top, middle, bottom, text-bottom, text-top);
@each $direction in $vertical-align-type {
  .align-#{$direction} {
    vertical-align: #{$direction} !important;
  }
}

$float-align-type: (clear, left, right);
@each $direction in $float-align-type {
  .float-#{$direction} {
    @if $direction == 'clear' {
      clear: both;
    } @else {
      float: #{$direction};
    }
  }
}