/* _columns.scss 
 *
 * 파일 경로 : template/utilities/_columns.scss
 * @description HTML element column 너비 관련 디자인
 * @author jy.lim
 * @version 1.0
 */
// col-1 ~ col-12
@for $i from 1 through $column-count {
  .col-#{$i} {
    width: $column-init * $i;
  }
}

// 고정 값이 아닌 %(퍼센트) 비율을 사용하는 경우, 아래 클래스를 사용한다.
$i: 1;
@while $i <= $column-count {
  .col-pct-#{$i} {
    width: getColumnPercentWidth($column-count) * $i;
  }
  $i: $i + 1;
}
