/* _common.scss 
 *
 * 파일 경로 : template/utilities/_common.scss
 * @description 공통으로 사용되는 디자인
 * @author wdj
 * @version 1.0
 */
// 밑줄
.underline {
  @include underline;
}
// 설명
.description {
  color: $description-color;
}
// 필수 (*) 표시
.required {
  &::after {
    color: $required-color;
    content: '\002a'; // *
    font-weight: $font-weight-bold;
    margin-left: 0.1875rem;
  }
}
// 말줄임
.text-ellipsis {
  @include ellipsis();
}
//줄바꿈
.text-wordWrap{
  @include wordWrap();
}
//줄바꿈제거
.text-wordNoWrap{
  white-space: nowrap;
}
// 가로 선
@include horizontalBar($horizontal-bar-width, 0.9375rem 0, $element-border-color); // 15px
// 세로 선
@include verticalBar($vertical-bar-width, $vertical-bar-height, $element-border, $vertical-bar-margin); // 0 30px 0 0
// 아래 실선
@include underBar(0.0625rem, 0.625rem, $element-border-color); // 1px 10px
// 포인터
.pointer {
  cursor: pointer;
}