<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>
<body>
<table class="table">
    <thead class="table-head">
        <tr class="flex-row align-items-center">
            <th style="width:5%;" class="align-center" th:text="#{archive.label.seq}"></th>
            <th style="width:10%;" class="align-center" th:text="#{archive.label.category}"></th>
            <th style="width:45%;" class="align-left" th:text="#{common.label.title}"></th>
            <th style="width:10%;" class="align-center" th:text="#{archive.label.views}"></th>
            <th style="width:10%;" class="align-center" th:text="#{common.label.createUser}"></th>
            <th style="width:20%;" class="align-center" th:text="#{common.label.createDate}"></th>
        </tr>
    </thead>
    <tbody class="table-body">
        <tr class="flex-row align-items-center no-data-found-list" th:if="${#arrays.isEmpty(archiveList)}">
            <td style="width:100%" colspan="6" class="align-center" th:text="#{common.msg.noData}"></td>
        </tr>
        <tr class="flex-row align-items-center" th:each="archive : ${archiveList}">
            <td style="width:5%;" class="align-center" th:text="|${archive.archiveSeq}|" th:title="|${archive.archiveSeq}|"></td>
            <td style="width:10%;" class="align-center" th:text="${archive.archiveCategoryName}" th:title="${archive.archiveCategoryName}"></td>
            <td style="width:45%;" class="align-left underline">
                <a sec:authorize="!hasAuthority('portal.manage')" th:text="${archive.archiveTitle}"
                   th:href="@{/archives/{id}/view(id=${archive.archiveId})}" th:title="${archive.archiveTitle}">
                </a>
                <a sec:authorize="hasAuthority('portal.manage')" th:text="${archive.archiveTitle}"
                   th:href="@{/archives/{id}/edit(id=${archive.archiveId})}" th:title="${archive.archiveTitle}"></a>
            </td>
            <td style="width:10%;" class="align-center" th:text="${archive.views}" th:title="${archive.views}"></td>
            <td style="width:10%;" class="align-center" th:text="${archive.createUserName}" th:title="${archive.createUserName}"></td>
            <td style="width:20%;" class="align-center date-time" name="createDt" th:text="${archive.createDt}" th:title="${archive.createDt}"></td>
        </tr>
    </tbody>
</table>
<th:block th:replace="layout/itsm/fragment/totalCountFragment :: totalCountDataFragment"></th:block>
</body>
</html>
