<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="layout/defaultLayout">
<head>
    <title th:text="#{user.label.user}"></title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="user-header">
        <div class="header-title flex-row align-items-baseline">
            <h1 th:text="#{user.label.user}"></h1>
            <h6 class="description" th:text="#{user.msg.searchDescription}"></h6>
        </div>
        <div class="header-search flex-row">
            <input class="search col-5" id="search" type="text" maxlength="100" th:placeholder="#{user.label.searchPlaceholder}"/>
            <div class="ml-auto">
                <button type="button" class="default-fill" onclick="location.href='/users/new'"
                        sec:authorize="hasAuthority('user.create')" th:text="#{common.btn.add}"></button>
            </div>
        </div>
    </div>
    <div class="user-content flex-fill">
        <div class="list" id="userList"></div>
    </div>
</th:block>
</body>
<th:block layout:fragment="pageScript">
    <script type="text/javascript">
        /*<![CDATA[*/
        let offsetCount = 0;
        window.onload = function() {
            document.getElementById('search').focus();
            document.getElementById('search').addEventListener('keyup', getUserList.bind(null, false), false);
            getUserList(false);
        }

        document.getElementById('search').onkeyup = function() {
            getUserList(false);
        };

        function getUserList(isScroll) {
            const searchOpt = {
                search: document.getElementById('search').value.trim()
            }
            let urlParam = 'search=' + searchOpt.search;
            if (isScroll) {
                if (offsetCount === 0) {
                    offsetCount = aliceJs.searchDataCount;
                }
                urlParam += '&offset=' + offsetCount;
                restSearchSubmit('get', '/rest/users?' + urlParam, isScroll);
            } else {
                offsetCount = 0;
                urlParam += '&offset=' + offsetCount;
                restSearchSubmit('get', '/users?' + urlParam, isScroll);
            }
        }

        function restSearchSubmit(method, url, isScroll) {
            const opt = {
                method: method,
                url: url,
                showProgressbar: false,
                callbackFunc: function(response) {
                    if (isScroll) {
                        let dataList = JSON.parse(response.responseText);
                        if (dataList.length > 0) {
                            document.getElementById('totalCount').value = dataList[0].totalCount;
                            if (aliceJs.isEnableScrollEvent(offsetCount)) {
                                offsetCount = offsetCount + aliceJs.searchDataCount;
                                dataList.forEach(function (data) {
                                    getDataTemplate(data);
                                });
                            }
                        }
                    } else {
                        document.getElementById('userList').innerHTML = response.responseText;
                        let createDtList = document.querySelectorAll('td[name=createDt]');
                        for (let i = 0; i < createDtList.length; i++) {
                            createDtList[i].textContent = i18n.userDateTime(createDtList[i].textContent);
                        }
                    }

                    OverlayScrollbars(document.querySelector('.list-body'), {
                        className: 'scrollbar',
                        callbacks: {
                            onScroll: function(e) {
                                const scrollHeight = e.target.scrollHeight;
                                const scrollTop = e.target.scrollTop;
                                const clientHeight = e.target.clientHeight;
                                if (scrollHeight - scrollTop === clientHeight) {
                                    if (aliceJs.isEnableScrollEvent(offsetCount)) {
                                        getUserList(true);
                                    }
                                }
                            }
                        }
                    });
                }
            };
            aliceJs.sendXhr(opt);
        }

        function getDataTemplate(data) {
            let div = document.querySelector('.list-body .os-content');
            let tr = document.createElement('tr');
            tr.className = 'flex-row align-items-center';

            let tdAvatar = document.createElement('td');
            tdAvatar.className = 'align-right p-0';
            tdAvatar.style.width = '3.2%';
            let avatarImage = document.createElement('img');
            avatarImage.className = 'profile-photo';
            avatarImage.src = data.avatarPath;
            avatarImage.style.width = '27px';
            avatarImage.style.height = '27px';
            avatarImage.alt = 'profile pic';
            tdAvatar.appendChild(avatarImage);

            let tdName = document.createElement('td');
            tdName.className = 'align-left';
            tdName.style.width = '9.8%';
            let aName = document.createElement('a');
            aName.href = '/users/' + data.userKey + '/edit';
            aName.innerText = data.userName;
            tdName.appendChild(aName);

            let tdId = document.createElement('td');
            tdId.className = 'align-left';
            tdId.style.width = '10%';
            let aId = document.createElement('a');
            aId.href = '/users/' + data.userKey + '/edit';
            aId.innerText = data.userName;
            tdId.appendChild(aId);

            let tdEmail = document.createElement('td');
            tdEmail.className = 'align-left';
            tdEmail.style.width = '16%';
            tdEmail.innerText = data.email;

            let tdDepartment = document.createElement('td');
            tdDepartment.className = 'align-left';
            tdDepartment.style.width = '16%';
            tdDepartment.innerText = data.department;

            let tdPosition = document.createElement('td');
            tdPosition.className = 'align-left';
            tdPosition.style.width = '10%';
            tdPosition.innerText = data.position;

            let tdOfficeNumber = document.createElement('td');
            tdOfficeNumber.className = 'align-left';
            tdOfficeNumber.style.width = '10%';
            tdOfficeNumber.innerText = data.officeNumber;

            let tdMobileNumber = document.createElement('td');
            tdMobileNumber.className = 'align-left';
            tdMobileNumber.style.width = '10%';
            tdMobileNumber.innerText = data.mobileNumber;

            let tdSignUpDate = document.createElement('td');
            tdSignUpDate.className = 'align-left';
            tdSignUpDate.style.width = '15%';
            tdSignUpDate.innerText = i18n.userDateTime(data.createDt);

            tr.appendChild(tdAvatar);
            tr.appendChild(tdName);
            tr.appendChild(tdId);
            tr.appendChild(tdEmail);
            tr.appendChild(tdDepartment);
            tr.appendChild(tdPosition);
            tr.appendChild(tdOfficeNumber);
            tr.appendChild(tdMobileNumber);
            tr.appendChild(tdSignUpDate);

            div.appendChild(tr);
        }
        /*]]>*/
    </script>
</th:block>
</html>
