<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>사용자데이터</title>
</head>
<body>
<div sec:authorize="hasAuthority('user.read')" th:unless="${#lists.isEmpty(users)}">
    <table>
        <thead>
        <tr>
            <th th:text="#{user.key}">사용자키</th>
            <th th:text="#{user.id}">아이디</th>
            <th th:text="#{user.name}">이름</th>
            <th th:text="#{user.department}">부서</th>
            <th th:text="#{user.position}">직책</th>
            <th th:text="#{user.extensionNumber}">내선번호</th>
        </tr>
        </thead>
        <tbody>
        <tr style="cursor: pointer" class="userRows" th:each="user : ${users}">
            <td th:text="${user.userKey}">사용자키</td>
            <td><label th:text="${user.userId}"></label><input type="hidden" name="userId" th:value="${user.userId}"></td>
            <td th:text="${user.userName}">이름</td>
            <td th:text="${user.department}">부서</td>
            <td th:text="${user.position}">직책</td>
            <td th:text="${user.extensionNumber}">내선번호</td>
        </tr>
        </tbody>
    </table>
</div>
<th:block layout:fragment="pageScript">
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    window.onload = function() {
        hiddenProgressBar();
    }
    /*]]>*/
    </script>
</th:block>
</body>
</html>
