<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/itsm/pageType/commonEditLayout}">
<head>
    <title th:text="#{user.label.editUserInfo}"></title>
</head>
<th:block layout:fragment="pageHead">
    <script th:src="@{/assets/vendors/rsa/jsbn.js}"></script>
    <script th:src="@{/assets/vendors/rsa/rsa.js}"></script>
    <script th:src="@{/assets/vendors/rsa/prng4.js}"></script>
    <script th:src="@{/assets/vendors/rsa/rng.js}"></script>
</th:block>
<body>
<div layout:fragment="pageTitle">
    <h1 th:text="#{user.label.editUserInfo}"></h1>
    <h6 class="description ml-2 pl-2" th:text="#{user.msg.editSelfDescription}"></h6>
</div>
<div layout:fragment="pageEdit">
    <div class="edit-form flex-fill">
        <input type="hidden" id="userKey" name="userKey" th:value="${users?.userKey}"/>
        <input type="hidden" id="avatarUUID" name="avatarUUID" value=""/>
        <div class="flex-column edit-row">
            <h3 class="sub-title under-bar border-thick" th:text="#{user.label.profile}"></h3>
        </div>
        <div class="flex-column edit-row">
            <div class="flex-row">
                <div class="edit-column col-6">
                    <div class="flex-column edit-row"
                         th:style="${users?.userKey != null && !users?.platform.equals('user.platform.alice')} ? 'display: none' : ''">
                        <label for="userId">
                            <span th:text="#{user.label.id}"></span>
                            <span class="required"></span>
                            <div class="help-tooltip">
                                <span class="ic-tooltip"></span>
                                <div class="tooltip-contents">
                                    <span th:utext="#{user.tooltip.idRule}"></span>
                                </div>
                            </div>
                        </label>
                        <input type="text" class="input" id="userId" name="userId" th:value="${users?.userId}"
                               maxlength="100" required="required"/>
                    </div>
                    <div class="flex-column edit-row"
                         th:style="${users?.userKey != null && !users?.platform.equals('user.platform.alice')} ? 'display: none' : ''">
                        <label for="password">
                            <span th:text="#{user.label.password}"></span>
                            <span class="required"></span>
                            <div class="help-tooltip">
                                <span class="ic-tooltip"></span>
                                <div class="tooltip-contents">
                                    <span th:utext="#{user.tooltip.pwRule}"></span>
                                </div>
                            </div>
                        </label>
                        <input type="password" class="input" id="password" name="password" maxlength="100"
                               autocomplete="new-password" required="required"/>
                    </div>
                    <div class="flex-column edit-row"
                         th:style="${users?.userKey != null && !users?.platform.equals('user.platform.alice')} ? 'display: none' : ''">
                        <label for="rePassword">
                            <span th:text="#{user.label.rePassword}"></span>
                            <span class="required"></span>
                        </label>
                        <input type="password" class="input" id="rePassword" name="rePassword" maxlength="100"
                               autocomplete="new-password" required="required"/>
                    </div>
                    <div class="flex-column edit-row">
                        <label for="userName">
                            <span th:text="#{user.label.name}"></span>
                            <span class="required"></span>
                        </label>
                        <input type="text" class="input" id="userName" name="userName" th:value="${users?.userName}"
                               maxlength="100" required="required"/>
                    </div>
                    <div class="flex-column edit-row"
                         th:style="${users?.userKey != null && !users?.platform.equals('user.platform.alice')} ? 'display: none' : ''">
                        <label for="email">
                            <span th:text="#{user.label.email}"></span>
                            <span class="required"></span>
                        </label>
                        <span th:text="#{user.msg.emailAlert}" hidden></span>
                        <input type="text" class="input" id="email" name="email" th:value="${users?.email}"
                               maxlength="100" required="required">
                    </div>
                    <div class="flex-column edit-row">
                        <label th:text="#{user.label.position}" for="position"></label>
                        <input type="text" class="input" id="position" name="position" th:value="${users?.position}"
                               maxlength="100" onchange="isSpecialChar('position','validation.msg.checkPositionFormat')">
                    </div>
                    <div class="flex-column edit-row">
                        <label th:text="#{user.label.department}"></label>
                        <div class="flex-row input--remove">
                            <input type="hidden" id="organizationCode" name="organizationCode"
                                   th:value="${organizationDetail?.organizationId}"/>
                            <input type="text" class="input col-5" id="organization" name="organization"
                                   th:value="${organizationDetail?.organizationName}" readonly>
                            <button type="button" class="item-remove" onclick="aliceJs.clearText(this);"
                                    tabindex="-1" th:if="!${view}">
                                <span class="ic-remove"></span>
                            </button>
                            <button type="button" class="button-search btn__text--box tertiary" onclick="deptPopUp();"
                                    th:text="#{common.btn.select}"></button>
                        </div>
                    </div>
                    <div class="flex-column edit-row">
                        <label th:text="#{user.label.officeNumber}" for="officeNumber"></label>
                        <input type="text" class="input" id="officeNumber" name="officeNumber"
                               th:value="${users?.officeNumber}" maxlength="100"
                               onchange="isPhoneNumberOrExtenstionNumber('officeNumber','validation.msg.checkPhoneNumberOrExtentionNumberFormat')">
                    </div>
                    <div class="flex-column edit-row">
                        <label th:text="#{user.label.mobileNumber}" for="mobileNumber"></label>
                        <input type="text" class="input" id="mobileNumber" name="mobileNumber"
                               th:value="${users?.mobileNumber}" maxlength="100"
                               onchange="isPhoneNumberOrExtenstionNumber('mobileNumber','validation.msg.checkPhoneNumberOrExtentionNumberFormat')">
                    </div>
                </div>
                <div class="flex-column avatar-edit ml-4">
                    <label class="avatar__title" th:text="#{user.label.avatar}"></label>
                    <div id="avatarDropZone"></div>
                    <div class="avatar__description">
                        <span class="avatar__description__text" th:text="#{user.label.FileSizeLimit}"></span>
                        <span class="avatar__description__text" th:text="#{user.label.FileExtensionAllowed}"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-column edit-row">
            <h3 class="sub-title under-bar border-thick" th:text="#{user.label.customSetting}"></h3>
        </div>
        <div class="flex-column edit-row">
            <div class="flex-row">
                <div class="flex-column col-6 mr-4">
                    <label for="timezone">
                        <span th:text="#{user.label.timezone}"></span>
                        <span class="required"></span>
                    </label>
                    <select name="timezone" id="timezone">
                        <option th:each="timezone: ${timezoneList}" th:value="${timezone.timezoneValue}"
                                th:text="${timezone.timezoneId}"
                                th:selected="${timezone.timezoneValue} == ${users?.timezone}"></option>
                    </select>
                </div>
                <div class="flex-column col-6">
                    <label th:text="#{user.label.timeFormat}" for="date"></label>
                    <div class="flex-row">
                        <select class="select-date-time mr-1" name="date" id="date">
                            <option th:each="date: ${dateList}" th:value="${date.codeValue}"
                                    th:text="${date.codeValue}"
                                    th:selected="${date.codeValue} == ${usersDate}"></option>
                        </select>
                        <select class="hour-select" name="time" id="time">
                            <option th:each="time: ${timeList}" th:value="${time.codeValue}"
                                    th:text="${time.code}" th:selected="${time.codeValue} == ${usersTime}"></option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-column edit-row">
            <div class="flex-row">
                <div class="flex-column col-6 mr-4">
                    <label for="lang">
                        <span th:text="#{user.label.lang}"></span>
                        <span class="required"></span>
                    </label>
                    <select name="lang" id="lang">
                        <option th:each="lang: ${langList}" th:value="${lang.codeValue}"
                                th:text="${lang.codeValue}" th:selected="${lang.codeValue} == ${users?.lang}"></option>
                    </select>
                </div>
                <div class="flex-column col-6">
                    <label for="theme">
                        <span th:text="#{user.label.theme}"></span>
                        <span class="required"></span>
                    </label>
                    <select name="theme" id="theme">
                        <option th:each="theme: ${themeList}" th:value="${theme.codeValue}"
                                th:text="${theme.codeValue}" th:selected="${theme.codeValue} == ${users?.theme}"
                                th:unless="${theme.codeValue} == 'dark'"></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="flex-column edit-row">
            <h3 class="sub-title under-bar border-thick" th:text="#{user.label.userAbsence}"></h3>
            <label class="switch" for="userAbsence">
                <input type="checkbox" id="userAbsence" name="userAbsence" onchange="setAbsenceDisplay()"
                       th:checked="${users?.absenceYn == true}" th:disabled="${view}" />
                <span></span>
                <span class="label" th:text="#{user.msg.userAbsence}"></span>
            </label>
            <div id="absenceData" class="flex-column edit-row">
                <div class="flex-row">
                    <div class="flex-column col-3">
                        <label class="field-label required" th:text="#{common.label.startDate}"></label>
                        <div>
                            <input type="text" class="input ic-date-picker search-date"
                                   id="absenceStartDt" name="absenceStartDt" th:readonly="${view}">
                        </div>
                    </div>
                    <div class="flex-column col-3 ml-2">
                        <label class="field-label required" th:text="#{common.label.endDate}"></label>
                        <div>
                            <input type="text" class="input ic-date-picker search-date"
                                   id="absenceEndDt" name="absenceEndDt" th:readonly="${view}">
                        </div>
                    </div>
                    <div class="flex-column col-4 ml-2">
                        <label class="field-label required" th:text="#{user.label.substituteUser}"></label>
                        <div class="flex-row input--remove">
                            <input type="hidden" id="substituteUserKey" name="substituteUserKey">
                            <input type="text" class="input col-2" id="substituteUser" name="substituteUser"
                                    readonly>
                            <button type="button" class="item-remove" onclick="aliceJs.clearText(this);">
                                <span class="ic-remove"></span>
                            </button>
                            <button type="button" class="button-search btn__text--box tertiary" onclick="openSubUserModal();"
                                    th:text="#{common.btn.select}"></button>
                        </div>
                    </div>
                    <div class="flex-column col-2 ml-2">
                        <label class="field-label"></label>
                        <label class="checkbox align-center">
                            <input type="checkbox" id="transferYN" th:checked="${users?.absence.transferYN}">
                            <span></span>
                            <span class="label" th:text="#{user.label.executeCurrentAbsence}"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-row justify-content-end edit-row">
            <div class="btn__list">
                <button class="btn__text--box primary" type="button" th:text="#{common.btn.modify}"
                        th:onclick="preSubmitCheck([[@{/rest/users/{userKey}/info(userKey=${users.userKey})}]])"></button>
            </div>
        </div>
    </div>
</div>
<div id="password-guide" hidden>
        <pre>
            [ 아이디 생성 가이드 ]
            1. 영문, 숫자, 특수문자(@, ., -, _)만 허용한다.
            2. 허용된 특수문자는 맨 앞에 올수 없다.
            3. 공백을 허용하지 않는다.
            [ 비밀번호 수정 가이드 ]
            1. 2가지 이상의 문자 구성(대문자, 소문자, 특수문자, 숫자)인 경우, 8자 이상 20자 미만, 1가지 종류의 문자 구성인 경우 10자 이상 20자 미만의 비밀번호 입력 제한 범위를 가진다.
            2. 사용자의 ID를 포함하지 않는다.
               예) ID가 ITSM인 경우, ITS는 포함 가능, ITSM은 포함 불가.
            3. 사용자의 이메일 ID를 포함하지 않는다.
               예) 이메일 ID가 ITSM인 경우, ITS는 포함 가능, ITSM은 포함 불가
            4. 공백을 허용하지 않는다.
        </pre>
</div>
</body>
<script layout:fragment="pageScript" th:inline="javascript">
    /*<![CDATA[*/
    const alicePlatform = 'user.platform.alice';
    let subUserInfo = {};

    window.onload = function () {
        document.getElementById('userId').focus();
        zFileUploader.avatar({
            dropZoneFilesId: 'avatarDropZone',
            type: 'avatar',
            dropZoneMaxFileSize: 0.2,
            dropZoneUrl: '/fileupload?target=avatar',
            dropZoneMaxFiles: 1,
            acceptedFiles: '.png,.jpeg,.jpg,.gif',
            avatar: {
                id: [[${users?.userKey}]],
                path: [[${users?.avatarPath}]],
                value: [[${users?.avatarValue}]],
                size: [[${users?.avatarSize}]]
            }
        });
        OverlayScrollbars(document.querySelector('.page-content'), {className: 'scrollbar'});

        setAbsenceDisplay();
    };

    function preSubmitCheck(url) {
        if (!validation()) {
            return false;
        }
        restSubmit(url);
    }

    function restSubmit(url) {
        // 사용자 부재 설정
            const absenceInfo = {
                startDt: i18n.systemDateTime(document.getElementById('absenceStartDt').value),
                endDt: i18n.systemDateTime(document.getElementById('absenceEndDt').value),
                substituteUserKey: document.getElementById('substituteUserKey').value,
                userKey: document.getElementById('userKey').value,
                transferYN: document.getElementById('transferYN').checked
            }
        const data = {
            userKey: document.getElementById('userKey').value,
            userId: document.getElementById('userId').value,
            userName: document.getElementById('userName').value,
            email: document.getElementById('email').value,
            position: document.getElementById('position').value,
            department: document.getElementById('organizationCode').value,
            officeNumber: document.getElementById('officeNumber').value,
            mobileNumber: document.getElementById('mobileNumber').value,
            timezone: document.getElementById('timezone').value,
            lang: document.getElementById('lang').value,
            theme: document.getElementById('theme').value,
            absenceYn: document.getElementById('userAbsence').checked,
            timeFormat: document.getElementById('date').value + ' ' + document.getElementById('time').value,
            fileSeq: document.getElementsByName('fileSeq').value,
            avatarUUID: document.getElementById('avatarUUID').value,
            absence: absenceInfo
        };
        const password = document.getElementById('password').value;
        if (password !== '') {
            const rsa = new RSAKey();
            const keyModule = [[${#request.getAttribute('_publicKeyModulus')}]];
            const keyExponent = [[${#request.getAttribute('_publicKeyExponent')}]];
            rsa.setPublic(keyModule, keyExponent);
            data.password = rsa.encrypt(password);
        }

        aliceJs.fetchJson(url, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then((response) => {
            switch (response.status) {
                case aliceJs.response.success: // 수정 성공
                    zAlert.success([[#{common.msg.modify}]], function () {
                        history.back();
                    });
                    break;
                case aliceJs.response.successEditEmail: // 이메일 업데이트 성공
                    zAlert.success([[#{user.msg.emailWithUpdate}]], function () {
                        history.back();
                    });
                    break;
                case aliceJs.response.duplicate: // ID 중복
                    zAlert.warning([[#{user.msg.sameUserId}]]);
                    break;
                case aliceJs.response.duplicateEmail: // 이메일 중복
                    zAlert.warning([[#{user.msg.sameEmail}]]);
                    break;
                case aliceJs.response.error:
                    zAlert.warning([[#{validation.msg.pwValidationFail}]]);
                    break;
                default :
                    zAlert.danger([[#{common.msg.fail}]]);
                    break;
            }
        });
    }

    /**
     * 부재설정 radio 버튼 on/off 시 관련 폼을 그리거나 제거합니다.
     */
    function setAbsenceDisplay() {
        let absenceElement = document.getElementById('userAbsence');
        if (absenceElement.checked) {
            const startDtVal = /*[[${users?.absence?.startDt}]]*/null;
            const endDtVal = /*[[${users?.absence?.endDt}]]*/null;
            const startDtElement = document.getElementById('absenceStartDt');
            const endDtElement = document.getElementById('absenceEndDt');
            startDtElement.value = startDtVal ? i18n.userDateTime(startDtVal) : i18n.getDateTime();
            endDtElement.value = endDtVal ? i18n.userDateTime(endDtVal) : i18n.getDateTime({'days':7});
            zDateTimePicker.initDateTimePicker(startDtElement, changeDateTimePicker);
            zDateTimePicker.initDateTimePicker(endDtElement, changeDateTimePicker);
            document.getElementById('substituteUserKey').value = /*[[${users?.absence?.substituteUserKey}]]*/'';
            document.getElementById('substituteUser').value = /*[[${users?.absence?.substituteUser}]]*/'';
            document.getElementById('absenceData').style.display = 'block';
        } else {
            document.getElementById('absenceStartDt').value = '';
            document.getElementById('absenceEndDt').value = '';
            document.getElementById('substituteUserKey').value = '';
            document.getElementById('substituteUser').value = '';
            document.getElementById('absenceData').style.display = 'none';
        }
    }

    /**
     * DateTimePicker 변경시 호출
     */
    function changeDateTimePicker(element, picker) {
        if (typeof picker === 'undefined') { return false; }

        if (element.id === 'absenceStartDt') {
            const toDtValue = document.getElementById('absenceEndDt').value;
            if (!i18n.compareSystemDateTime(element.value, toDtValue)) {
                zAlert.warning(i18n.msg('user.msg.compareWithAbsenceDtValue', toDtValue), function () {
                    element.value = i18n.getDateTime({'days':7});
                    picker.open();
                });
            }
        } else {
            const fromDtValue = document.getElementById('absenceStartDt').value;
            if (!i18n.compareSystemDateTime(fromDtValue, element.value)) {
                zAlert.warning(i18n.msg('user.msg.compareWithAbsenceDtValue', fromDtValue), function () {
                    element.value = i18n.getDateTime();
                    picker.open();
                });
            }
        }
    }

    function validation() {
        if (isEmpty('userId', 'user.msg.enterUserId')) return false;
        if (isAndOperator(isEmpty('password'), isNotEmpty('rePassword'), 'user.msg.enterUserPassword')) return false;
        if (isAndOperator(isNotEmpty('password'), isEmpty('rePassword'), 'user.msg.enterUserRePassword')) return false;
        if (isNotEquals('password', 'rePassword', 'user.msg.passwordNotEquals')) return false;
        if (isAndOperator(isNotEmpty('password'), isNotEmpty('rePassword'))) {
            if (!isValidPassword('password')) return false;
        }
        if (!isValidUserId("userId", true)) return false;
        if (isEmpty('userName', 'user.msg.enterUserName')) return false;
        if ([[${users.platform}]] === alicePlatform) {
            if (isEmpty('email', 'user.msg.enterUserEmail')) return false;
            if (!isValidEmail('email', true)) return false;
        }
        if(isNotEmpty('officeNumber')) {
            if(!isPhoneNumberOrExtenstionNumber('officeNumber','validation.msg.checkPhoneNumberOrExtentionNumberFormat')) return false;
        }
        if(isNotEmpty('mobileNumber')) {
            if(!isPhoneNumber('mobileNumber','validation.msg.checkPhoneNumberFormat')) return false;
        }
        if (document.getElementById('userAbsence').checked) {
            if (isEmpty('absenceStartDt', 'user.msg.enterAbsenceStartDt')) return false;
            if (isEmpty('absenceEndDt', 'user.msg.enterAbsenceEndDt')) return false;
            if (isEmpty('substituteUserKey', 'user.msg.enterSubstituteUser')) return false;
        }

        return true;
    }

    function setDepartment(node) {
        document.getElementById('organization').value = node.textContent;
        document.getElementById('organizationCode').value = node.id;
    }

    function deptPopUp() {
        tree.load({
            view: 'modal',
            title: i18n.msg('department.label.deptList'),
            dataUrl: '/rest/organizations',
            target: 'treeList',
            source: 'organization',
            text: 'organizationName',
            nodeNameLabel: i18n.msg('common.msg.dataSelect', i18n.msg('department.label.deptName')),
            defaultIcon: '/assets/media/icons/tree/icon_tree_organization.svg',
            selectedValue: document.getElementById('organizationCode').value,
            callbackFunc: function (response) {
                setDepartment(response);
            }
        });
    }

    function openSubUserModal() {
        let isValid = true
        if (isEmpty('absenceStartDt', 'user.msg.enterAbsenceStartDt')) isValid = false;
        if (isEmpty('absenceEndDt', 'user.msg.enterAbsenceEndDt')) isValid = false;
        if (isValid) {
            const subUserModal = new modal({
                title: i18n.msg('user.label.substituteUser'),
                body: createModalContent(),
                classes: 'sub-user-modal',
                buttons: [{
                    content: i18n.msg('common.btn.select'),
                    classes: 'btn__text--box primary',
                    bindKey: false,
                    callback: (modal) => {
                        // 최근 선택값이 있는 경우, 해당 사용자 id와 이름을 전달한다.
                        if (Object.keys(subUserInfo).length > 0) {
                            document.getElementById('substituteUserKey').value = subUserInfo.id;
                            document.getElementById('substituteUser').value = subUserInfo.value;
                        } else {
                            zAlert.warning(i18n.msg('user.msg.enterSubstituteUser'));
                            return false;
                        }
                        modal.hide();
                    }
                }, {
                    content: i18n.msg('common.btn.cancel'),
                    classes: 'btn__text--box secondary',
                    bindKey: false,
                    callback: (modal) => {
                        modal.hide();
                    }
                }],
                close: {
                    closable: false,
                },
                onCreate: () => {
                    subUserInfo = {};
                    document.getElementById('search').addEventListener('keyup', aliceJs.debounce ((e) => {
                        this.getSubUserList(e.target.value, false);
                    }), false);
                    this.getSubUserList(document.getElementById('search').value, true);
                }
            });
            subUserModal.show();
        }
    }

    function createModalContent() {
        return `<div class="sub-user-list">` +
            `<input class="input ic-search col-5 mr-2" type="text" name="search" id="search" maxlength="100" placeholder="${i18n.msg('user.label.searchPlaceholder')}">` +
            `<span id="spanTotalCount" class="search-count"></span>` +
            `<div class="table-set" id="subUserList"></div>` +
            `</div>`;
    }

    function getSubUserList(search, showProgressbar) {
        let strUrl = '/users/substituteUsers?search=' + encodeURIComponent(search.trim())
            + '&from=' + i18n.systemDateTime(document.getElementById('absenceStartDt').value)
            + '&to=' + i18n.systemDateTime(document.getElementById('absenceEndDt').value)
            + '&userKey=' + document.getElementById('userKey').value
            + '&multiSelect=false';

        aliceJs.fetchText(strUrl, {
            method: 'GET',
            showProgressbar: showProgressbar
        }).then((htmlData) => {
            document.getElementById('subUserList').innerHTML = htmlData;
            OverlayScrollbars(document.querySelector('.table-body'), { className: 'scrollbar' });
            //갯수 카운트
            const substituteUserList = document.getElementById('userList');
            aliceJs.showTotalCount(substituteUserList.querySelectorAll('.table-row').length);
            document.querySelectorAll('input[type=radio]').forEach(function (radio) {
                // 체크 이벤트
                radio.addEventListener('change', () => {
                    if (radio.checked) {
                        subUserInfo.id = radio.id;
                        subUserInfo.value = radio.value;
                    }
                });
            });
            // 선택된 항목 표시
            const selectedSubUserKey = document.getElementById('substituteUserKey').value;
            const selectedSubUserName = document.getElementById('substituteUser').textContent;
            const radioElem = document.querySelector('input[id="' + selectedSubUserKey + '"]');
            if (radioElem) {
                radioElem.checked = true;
                subUserInfo.id = selectedSubUserKey;
                subUserInfo.value = selectedSubUserName;
            }
        });
    }
    /*]]>*/
</script>
</html>
