<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/itsm/pageType/pagingListLayout}">
<head>
    <title th:text="#{user.label.user}"></title>
</head>
<body>
<div layout:fragment="pageTitle">
    <h1 th:text="#{user.label.user}"></h1>
    <h6 class="description ml-2" th:text="#{user.msg.searchDescription}"></h6>
</div>
<div layout:fragment="pageSearching">
    <input class="z-input i-search col-5 mr-2" id="searchValue" type="text" maxlength="100"
           th:placeholder="#{user.label.searchPlaceholder}"/>
    <th:block th:replace="layout/itsm/fragment/totalCountFragment :: totalCountFragment"></th:block>
    <div class="ml-auto">
        <button type="button" class="z-button secondary" onclick="location.href='/users/new'"
                sec:authorize="hasAuthority('user.create')" th:text="#{common.btn.add}"></button>
    </div>
</div>
<div layout:fragment="pageList">
    <div class="z-list-content" id="userList"></div>
</div>
</body>
<script layout:fragment="pageScript" th:inline="javascript">
    /*<![CDATA[*/
    let offsetCount = 0;
    window.onload = function() {
        document.getElementById('searchValue').focus();
        document.getElementById('searchValue').addEventListener('keyup', function () {
            getList();
        });
        getList();
    }

    document.getElementById('searchValue').onkeyup = function() {
        getList();
    };

    function getList(pageNum = 1) {
        restSearchSubmit('get', '/users?searchValue=' + document.getElementById('searchValue').value + '&pageNum=' + pageNum);
    }

    function restSearchSubmit(method, url) {
        const opt = {
            method: method,
            url: url,
            showProgressbar: false,
            callbackFunc: function(response) {
                document.getElementById('userList').innerHTML = response.responseText;
                setDateTimeFormat(document.getElementById('userList'));
                OverlayScrollbars(document.querySelector('.z-list-body'), {
                    className: 'scrollbar'
                });
            }
        };
        aliceJs.sendXhr(opt);
    }

    /**
     * 서버에서 전달받은 데이터의 날짜 포맷을 변경한다.
     */
    function setDateTimeFormat(elem) {
        elem.querySelectorAll('.date-time').forEach(dt => {
            dt.textContent = i18n.userDateTime(dt.textContent.trim());
        });
    }
    /*]]>*/
</script>
</html>
