<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>사용자데이터</title>
</head>
<body>
<div sec:authorize="hasAuthority('user.read')" th:unless="${#lists.isEmpty(users)}">
    <table class="table table-hover">
        <thead>
        <tr>
            <th th:text="#{user.id}">아이디</th>
            <th th:text="#{user.name}">이름</th>
            <th th:text="#{user.department}">부서</th>
            <th th:text="#{user.position}">직책</th>
            <th th:text="#{user.extensionNumber}">내선번호</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}" data-toggle="modal" data-target="#userDetailModal" th:data-id="${user.userId}">
            <td th:text="${user.userId}">사용자 아이디</td>
            <td th:text="${user.userName}">사용자 이름</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        </tbody>
    </table>
</div>

<div id="saveResult"></div>



</body>
</html>