<!DOCTYPE html>
<html layout:decorate="~{layout/itsm/pageType/commonEditLayout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${users != null} ? #{user.label.edit} : #{user.label.register}"></title>
</head>
<th:block layout:fragment="pageHead">
    <script th:src="@{/assets/vendors/rsa/jsbn.js}"></script>
    <script th:src="@{/assets/vendors/rsa/rsa.js}"></script>
    <script th:src="@{/assets/vendors/rsa/prng4.js}"></script>
    <script th:src="@{/assets/vendors/rsa/rng.js}"></script>
</th:block>
<body>
<div layout:fragment="pageTitle">
    <h1 th:text="#{user.label.user}"></h1>
    <h6 class="description ml-2 pl-2" th:text="#{user.msg.editDescription}"></h6>
</div>
<div layout:fragment="pageEdit">
    <div class="edit-form flex-fill">
        <input id="userKey" name="userKey" th:value="${users?.userKey}" type="hidden"/>
        <input id="avatarUUID" name="avatarUUID" type="hidden" value=""/>
        <div class="flex-column edit-row">
            <h3 class="sub-title under-bar border-thick" th:text="#{user.label.profile}"></h3>
        </div>
        <div class="flex-column edit-row">
            <div class="flex-row">
                <div class="edit-column col-6">
                    <div class="flex-column edit-row"
                         th:style="${users?.userKey != null && !users?.platform.equals('user.platform.alice')} ? 'display: none' : ''">
                        <label for="userId">
                            <span th:classappend="${view} ? '':'required'" th:text="#{user.label.id}"></span>
                            <div class="help-tooltip">
                                <span class="ic-tooltip"></span>
                                <div class="tooltip-contents">
                                    <span th:utext="#{user.tooltip.idRule}"></span>
                                </div>
                            </div>
                        </label>
                        <input class="input text-ellipsis" id="userId" maxlength="100" name="userId" th:readonly="${view}"
                               th:required="!${view}" th:value="${users?.userId}" type="text" />
                    </div>
                    <div class="flex-column edit-row"
                         th:if="${users?.userKey != null && mailEnabled && users?.platform.equals('user.platform.alice') && !view}">
                        <label th:text="#{user.label.password}"></label>
                        <button class="btn__text--box primary"
                                th:onclick="preSubmitCheck('put', [[@{/rest/users/{userKey}/resetpassword(userKey=${users.userKey})}]], 'false')"
                                th:text="#{user.btn.resetPassword}" type="button"></button>
                    </div>
                   <div th:if="${!mailEnabled && !view}">
                        <div class="flex-column edit-row">
                            <label for="password">
                                <span th:classappend="${users?.userKey != null} ? '':'required'" th:text="#{user.label.password}"></span>
                                <div class="help-tooltip">
                                    <span class="ic-tooltip"></span>
                                    <div class="tooltip-contents">
                                        <span th:utext="#{user.tooltip.pwRule}"></span>
                                    </div>
                                </div>
                            </label>
                            <input class="input text-ellipsis" id="password" maxlength="100" name="password"
                                   th:readonly="${view}" th:required="!${view}" type="password" />
                        </div>
                        <div class="flex-column edit-row">
                            <label for="rePassword">
                                <span th:classappend="${users?.userKey != null} ? '':'required'" th:text="#{user.label.rePassword}"></span>
                            </label>
                            <input class="input text-ellipsis" id="rePassword" maxlength="100" name="rePassword"
                                   th:readonly="${view}" th:required="!${view}" type="password" />
                        </div>
                    </div>
                    <div class="flex-column edit-row">
                        <label for="userName">
                            <span th:classappend="${view} ? '':'required'" th:text="#{user.label.name}"></span>
                        </label>
                        <input class="input text-ellipsis" id="userName" maxlength="100" name="userName" th:readonly="${view}"
                               th:required="!${view}" th:value="${users?.userName}" type="text" />
                    </div>
                    <div class="flex-column edit-row">
                        <label for="email">
                            <span th:classappend="${view} ? '':'required'" th:text="#{user.label.email}"></span>
                        </label>
                        <input class="input text-ellipsis" id="email" maxlength="100" name="email" th:readonly="${view}"
                               th:required="!${view}" th:value="${users?.email}" type="text" />
                    </div>
                    <div class="flex-column edit-row">
                        <label for="position" th:text="#{user.label.position}"></label>
                        <input class="input text-ellipsis" id="position" maxlength="100" name="position" th:readonly="${view}"
                               th:value="${users?.position}" type="text" onchange="isSpecialChar('position','validation.msg.checkPositionFormat')">
                    </div>
                    <div class="flex-column edit-row">
                        <label th:text="#{user.label.department}"></label>
                        <div class="flex-row input--remove">
                            <input id="organizationId" name="organizationId" th:value="${organizationDetail?.organizationId}"
                                   type="hidden"/>
                            <input class="input text-ellipsis" id="organization" name="organization" readonly
                                   th:value="${organizationDetail?.organizationName}" type="text">
                            <button type="button" class="item-remove" onclick="clearOrganization(this);"
                                    th:if="!${view}" tabindex="-1">
                                <span class="ic-remove"></span>
                            </button>
                            <button class="button-search btn__text--box tertiary" onclick="organizationPopUp();" th:if="!${view}"
                                    th:text="#{common.btn.select}" type="button"></button>
                        </div>
                    </div>
                    <div class="flex-column edit-row">
                        <label for="officeNumber" th:text="#{user.label.officeNumber}"></label>
                        <input class="input" id="officeNumber" maxlength="100" name="officeNumber"
                               th:readonly="${view}" th:value="${users?.officeNumber}" type="text"
                               onchange="isPhoneNumberOrExtenstionNumber('officeNumber','validation.msg.checkPhoneNumberOrExtentionNumberFormat')">
                    </div>
                    <div class="flex-column edit-row">
                        <label for="mobileNumber" th:text="#{user.label.mobileNumber}"></label>
                        <input class="input text-ellipsis" id="mobileNumber" maxlength="100" name="mobileNumber"
                               th:readonly="${view}" th:value="${users?.mobileNumber}" type="text"
                               onchange="isPhoneNumberOrExtenstionNumber('mobileNumber','validation.msg.checkPhoneNumberOrExtentionNumberFormat')">
                    </div>
                </div>
                <div class="flex-column avatar-edit ml-4">
                    <label class="avatar__title" th:text="#{user.label.avatar}"></label>
                    <div id="avatarDropZone"></div>
                    <div class="avatar__description">
                        <span class="avatar__description__text" th:text="#{user.label.FileSizeLimit}"></span>
                        <span class="avatar__description__text" th:text="#{user.label.FileExtensionAllowed}"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-column edit-row">
            <h3 class="sub-title under-bar border-thick" th:text="#{user.label.customSetting}"></h3>
        </div>
        <div class="flex-column edit-row">
            <div class="flex-row">
                <div class="flex-column col-6 mr-4">
                    <label for="timezone">
                        <span th:classappend="${view} ? '':'required'" th:text="#{user.label.timezone}"></span>
                    </label>
                    <select id="timezone" name="timezone" th:classappend="${view} ? 'readonly':''">
                        <option th:each="timezone: ${timezoneList}" th:selected="${timezone.timezoneValue} == ${users?.timezone?:defaultTimezone}"
                                th:text="${timezone.timezoneId}"
                                th:value="${timezone.timezoneValue}"></option>
                    </select>
                </div>
                <div class="flex-column col-6">
                    <label for="date" th:text="#{user.label.timeFormat}"></label>
                    <div class="flex-row">
                        <select class="select-date-time mr-1" id="date" name="date" th:classappend="${view} ? 'readonly':''">
                            <option th:each="date: ${dateList}" th:selected="${date.codeValue} == ${usersDate}"
                                    th:text="${date.codeValue}"
                                    th:value="${date.codeValue}"></option>
                        </select>
                        <select class="hour-select" id="time" name="time" th:classappend="${view} ? 'readonly':''">
                            <option th:each="time: ${timeList}" th:selected="${time.codeValue} == ${usersTime}"
                                    th:text="${time.code}" th:value="${time.codeValue}"></option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-column edit-row">
            <div class="flex-row">
                <div class="flex-column col-6 mr-4">
                    <label for="lang">
                        <span th:classappend="${view} ? '':'required'" th:text="#{user.label.lang}"></span>
                    </label>
                    <select id="lang" name="lang" th:classappend="${view} ? 'readonly':''">
                        <option th:each="lang: ${langList}" th:selected="${lang.codeValue} == ${users?.lang}"
                                th:text="${lang.codeValue}" th:value="${lang.codeValue}"></option>
                    </select>
                </div>
                <div class="flex-column col-6">
                    <label for="theme">
                        <span th:classappend="${view} ? '':'required'" th:text="#{user.label.theme}"></span>
                    </label>
                    <select id="theme" name="theme" th:classappend="${view} ? 'readonly':''">
                        <option th:each="theme: ${themeList}" th:selected="${theme.codeValue} == ${users?.theme}"
                                th:text="${theme.codeValue}" th:unless="${theme.codeValue} == 'dark'"
                                th:value="${theme.codeValue}"></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="flex-column edit-row">
            <h3 th:classappend="${view} ? '':'required'" class="sub-title under-bar border-thick" th:text="#{user.label.role}"></h3>
        </div>
        <div class="flex-column edit-row">
            <div class="checkbox-list">
                <ul>
                    <li class="user-role-checkbox-wrap" th:each="allRole : ${allRoles}">
                        <label class="checkbox" tabindex="0" th:for="|allRoles*{allRoleStat.index}|"
                               th:title="*{allRole.roleName}">
                            <input class="user-role-checkbox" name="roles"
                                    th:disabled="${view}"
                                   th:id="|allRoles*{allRoleStat.index}|" th:value="*{allRole.roleId}" type="checkbox"
                                   onclick="checkUserRole(this)">
                            <span></span>
                            <span class="label" th:text="*{allRole.roleName}"></span>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
        <div th:if="${users?.userKey != null}" class="flex-column edit-row">
            <h3 class="sub-title under-bar border-thick" th:text="#{user.label.userAbsence}"></h3>
            <label class="switch" for="userAbsence">
                <input type="checkbox" id="userAbsence" name="userAbsence" onchange="setAbsenceDisplay()"
                       th:checked="${users?.absenceYn == true}" th:disabled="${view}" />
                <span></span>
                <span class="label" th:text="#{user.msg.userAbsence}"></span>
            </label>
            <div id="absenceData" class="flex-column edit-row">
                <div class="flex-row">
                    <div class="flex-column col-3">
                        <label class="field-label required" th:text="#{common.label.startDate}"></label>
                        <div>
                            <input type="text" class="input ic-date-picker search-date"
                                   id="absenceStartDt" name="absenceStartDt" th:readonly="${view}">
                        </div>
                    </div>
                    <div class="flex-column col-3">
                        <label class="field-label required" th:text="#{common.label.endDate}"></label>
                        <div>
                            <input type="text" class="input ic-date-picker search-date"
                                   id="absenceEndDt" name="absenceEndDt" th:readonly="${view}">
                        </div>
                    </div>
                    <div class="flex-column col-4">
                        <label class="field-label required" th:text="#{user.label.substituteUser}"></label>
                        <div class="flex-row input--remove">
                            <input type="hidden" id="substituteUserKey" name="substituteUserKey">
                            <input type="text" class="input col-5" id="substituteUser" name="substituteUser"
                                   readonly>
                            <button type="button" class="item-remove" onclick="aliceJs.clearText(this);"
                                    tabindex="-1">
                                <span class="ic-remove"></span>
                            </button>
                            <button type="button" class="button-search btn__text--box tertiary" onclick="openUserListPopup();"
                                    th:text="#{common.btn.select}"></button>
                        </div>
                    </div>
                    <div class="flex-column col-2 ml-2">
                        <label class="field-label"></label>
                        <label class="checkbox align-center">
                            <input type="checkbox" id="transferYN" th:checked="${users?.absence.transferYN}">
                            <span></span>
                            <span class="label" th:text="#{user.label.executeCurrentAbsence}"></span>
                        </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-column edit-row">
            <h3 class="sub-title under-bar border-thick" th:text="#{user.label.usageStatus}"></h3>
            <label class="switch">
                <input id="usageStatus" name="usageStatus" th:checked="${users?.useYn == null || users?.useYn == true}"
                       th:disabled="${view}" type="checkbox">
                <span></span>
                <span class="label" th:text="#{user.msg.usageStatus}"></span>
            </label>
        </div>
        <div class="flex-row justify-content-between edit-row">
            <div class="btn__list">
                <a class="btn__text--box secondary" href="/users/search" th:text="#{common.btn.list}"></a>
            </div>
            <div class="btn__list" th:if="!${view}" sec:authorize="hasAuthority('system.manage')">
                <button type="button" class="btn__text--box primary" th:if="!${users?.userKey}" th:text="#{auth.user.create}"
                        th:onclick="preSubmitCheck('post', [[@{/rest/users}]], 'true')"></button>
                <button type="button" class="btn__text--box primary" th:if="${users?.userKey}" th:text="#{common.btn.modify}"
                        th:onclick="preSubmitCheck('put', [[@{/rest/users/{userKey}/all(userKey=${users.userKey})}]], 'true')"></button>
            </div>
        </div>
    </div>
</div>
</body>
<script layout:fragment="pageScript" th:inline="javascript">
    /*<![CDATA[*/

    let userRoles = [];
    /*[# th:each="userRole : ${userRoles}"]*/
    userRoles.push(/*[[${userRole.roleId}]]*/);
    /*[/]*/
    let subUserInfo = {};

    window.onload = function () {
        document.getElementById('userId').focus();
        zFileUploader.avatar({
            dropZoneFilesId: 'avatarDropZone',
            type: 'avatar',
            dropZoneMaxFileSize: 0.2,
            dropZoneUrl: '/fileupload?target=avatar',
            dropZoneMaxFiles: 1,
            acceptedFiles: '.png,.jpeg,.jpg,.gif',
            avatar: {
                id: [[${users?.userKey}]],
                path: [[${users?.avatarPath}]],
                value: [[${users?.avatarValue}]],
                size: [[${users?.avatarSize}]]
            }
        });

        OverlayScrollbars(document.querySelector('.page-content'), {className: 'scrollbar'});
        OverlayScrollbars(document.querySelector('.checkbox-list'), {className: 'inner-scrollbar'});

        if (document.getElementById('organizationId').value !== '') {
            setOrganizationRole();
        }
        setUserRole();
        if ([[${users?.userKey}]] !== null) setAbsenceDisplay();
    };

    function checkUserRole(roleObject) {
        if (roleObject.checked) {
            if (!userRoles.includes(roleObject.value)) {
                userRoles.push(roleObject.value);
            }
        } else {
            userRoles = userRoles.filter((element) => element !== roleObject.value);
        }
    }

    function validation() {
        if (isEmpty('userId', 'user.msg.enterUserId')) return false;
        if (!isValidUserId('userId', true)) return false;
        if (![[${mailEnabled}]]) {
            if (isAndOperator(isEmpty('password'), isNotEmpty('rePassword'), 'user.msg.enterUserPassword')) return false;
            if (isAndOperator(isNotEmpty('password'), isEmpty('rePassword'), 'user.msg.enterUserRePassword')) return false;
            if (isNotEquals('password', 'rePassword', 'user.msg.passwordNotEquals')) return false;
            if (isAndOperator(isNotEmpty('password'), isNotEmpty('rePassword'))) {
                if (!isValidPassword('password')) return false;
            }
        }
        if (isEmpty('userName', 'user.msg.enterUserName')) return false;
        if (isEmpty('email', 'user.msg.enterUserEmail')) return false;
        if (!isValidEmail('email', true)) return false;
        if(isNotEmpty('officeNumber')) {
            if(!isPhoneNumberOrExtenstionNumber('officeNumber','validation.msg.checkPhoneNumberOrExtentionNumberFormat')) return false;
        }
        if(isNotEmpty('mobileNumber')) {
            if(!isPhoneNumber('mobileNumber','validation.msg.checkPhoneNumberFormat')) return false;
        }
        if (!isChecked('roles', 'user.msg.selectRole')) return false;
        if ([[${users?.userKey}]] !== null && document.getElementById('userAbsence').checked) {
            if (isEmpty('absenceStartDt', 'user.msg.enterAbsenceStartDt')) return false;
            if (isEmpty('absenceEndDt', 'user.msg.enterAbsenceEndDt')) return false;
            if (isEmpty('substituteUserKey', 'user.msg.enterSubstituteUser')) return false;
        }

        return true;
    }

    function preSubmitCheck(method, url, activeValidation) {
        if (activeValidation === 'true' && !validation()) {
            return false;
        }

        const checkedRoles = document.querySelectorAll('input[name=roles]:checked');
        let arrRoleValue = [];
        checkedRoles.forEach(function (item) {
            arrRoleValue.push(item.value);
        });

        // 사용자 부재 설정
        let absenceInfo = {};
        if (([[${users?.userKey}]] !== null) && document.getElementById('userAbsence').checked) {
            absenceInfo = {
                startDt: i18n.systemDateTime(document.getElementById('absenceStartDt').value),
                endDt: i18n.systemDateTime(document.getElementById('absenceEndDt').value),
                substituteUserKey: document.getElementById('substituteUserKey').value,
                userKey: document.getElementById('userKey').value,
                transferYN: document.getElementById('transferYN').checked
            }
        }
        const data = {
            userKey: document.getElementById('userKey').value,
            userId: document.getElementById('userId').value,
            userName: document.getElementById('userName').value,
            email: document.getElementById('email').value,
            useYn: document.getElementById('usageStatus').checked,
            position: document.getElementById('position').value,
            department: document.getElementById('organizationId').value,
            officeNumber: document.getElementById('officeNumber').value,
            mobileNumber: document.getElementById('mobileNumber').value,
            timezone: document.getElementById('timezone').value,
            lang: document.getElementById('lang').value,
            theme: document.getElementById('theme').value,
            absenceYn: ([[${users?.userKey}]] !== null) ? document.getElementById('userAbsence').checked : '',
            timeFormat: document.getElementById('date').value + ' ' + document.getElementById('time').value,
            roles: arrRoleValue,
            avatarUUID: document.getElementById('avatarUUID').value,
            absence: absenceInfo
        };
        if (![[${mailEnabled}]]) {
            const password = document.getElementById('password').value;
            const rsa = new RSAKey();
            const keyModule = [[${#request.getAttribute('_publicKeyModulus')}]];
            const keyExponent = [[${#request.getAttribute('_publicKeyExponent')}]];
            rsa.setPublic(keyModule, keyExponent);
            data.password = ([[${users?.userKey}]] !== null) ? rsa.encrypt(password) : password;
        }

        aliceJs.fetchJson(url, {
            method: method,
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data),
            showProgressbar: true
        }).then((response) => {
            switch (response.status) {
                case aliceJs.response.success: // 등록 성공
                    zAlert.success([[#{user.msg.createUser}]], function () {
                        window.location.href = '/users/search';
                    });
                    break;
                case aliceJs.response.successEdit: // 수정 성공
                    zAlert.success([[#{common.msg.modify}]], function () {
                        window.location.href = '/users/search';
                    });
                    break;
                case aliceJs.response.successEditEmail: // 이메일 업데이트 성공
                    zAlert.success([[#{user.msg.emailWithUpdate}]], function () {
                        window.location.href = '/users/search';
                    });
                    break;
                case aliceJs.response.successEditPassword: // 비밀번호 변경
                    zAlert.success([[#{user.msg.resetPassword}]]);
                    break;
                case aliceJs.response.duplicate: // ID 중복
                    zAlert.warning([[#{user.msg.sameUserId}]]);
                    break;
                case aliceJs.response.duplicateEmail: // 이메일 중복
                    zAlert.warning([[#{user.msg.sameEmail}]]);
                    break;
                case aliceJs.response.notExist:
                    // 시스템 관리자 역할을 가진 사용자는 최소 1명은 유지되어야 하기 때문에,
                    // 해당 사용자의 역할을 수정하거나 사용자를 삭제하려면 화면에서 경고창을 표시되도록 유효성 검증을 추가한다.
                    zAlert.warning([[#{user.msg.systemUserNotExist}]]);
                    break;
                default:
                    zAlert.danger([[#{common.msg.fail}]]);
                    break;
            }
        });
    }

    /**
     * 부재설정 radio 버튼 on/off 시 관련 폼을 그리거나 제거합니다.
     */
    function setAbsenceDisplay() {
        let absenceElement = document.getElementById('userAbsence')
        if (absenceElement.checked) {
            const startDtVal = /*[[${users?.absence?.startDt}]]*/null;
            const endDtVal = /*[[${users?.absence?.endDt}]]*/null;
            const startDtElement = document.getElementById('absenceStartDt');
            const endDtElement = document.getElementById('absenceEndDt');
            startDtElement.value = startDtVal ? i18n.userDateTime(startDtVal) : i18n.getDateTime();
            endDtElement.value = endDtVal ? i18n.userDateTime(endDtVal) : i18n.getDateTime({'days':7});
            zDateTimePicker.initDateTimePicker(startDtElement, changeDateTimePicker);
            zDateTimePicker.initDateTimePicker(endDtElement, changeDateTimePicker);
            document.getElementById('substituteUserKey').value = /*[[${users?.absence?.substituteUserKey}]]*/'';
            document.getElementById('substituteUser').value = /*[[${users?.absence?.substituteUser}]]*/'';
            document.getElementById('absenceData').style.display = 'block';
        } else {
            document.getElementById('absenceStartDt').value = '';
            document.getElementById('absenceEndDt').value = '';
            document.getElementById('substituteUserKey').value = '';
            document.getElementById('substituteUser').value = '';
            document.getElementById('absenceData').style.display = 'none';
        }
    }

    /**
     * DateTimePicker 변경시 호출
     */
    function changeDateTimePicker(element, picker) {
        if (typeof picker === 'undefined') { return false; }

        if (element.id === 'absenceStartDt') {
            const toDtValue = document.getElementById('absenceEndDt').value;
            if (!i18n.compareSystemDateTime(element.value, toDtValue)) {
                zAlert.warning(i18n.msg('user.msg.compareWithAbsenceDtValue', toDtValue), function () {
                    element.value = i18n.getDateTime({'days':7});
                    picker.open();
                });
            }
        } else {
            const fromDtValue = document.getElementById('absenceStartDt').value;
            if (!i18n.compareSystemDateTime(fromDtValue, element.value)) {
                zAlert.warning(i18n.msg('user.msg.compareWithAbsenceDtValue', fromDtValue), function () {
                    element.value = i18n.getDateTime();
                    picker.open();
                });
            }
        }
    }

    /**
     * 역할 초기화
     */
    function clearRole() {
        const allRoles = document.querySelectorAll('input[name=roles]');
        allRoles.forEach(function (allRole) {
            allRole.disabled = false;
            allRole.checked = false;
        });
    }

    /**
     * 역할(조직) 선택
     */
    function setOrganizationRole() {
        aliceJs.fetchJson('/rest/organizations/' + document.getElementById('organizationId').value, {
            method: 'GET',
        }).then((response) => {
            if (response.status === aliceJs.response.success) {
                const allRoles = document.querySelectorAll('input[name=roles]');
                allRoles.forEach(function (allRole) {
                    const matching = response.data.roles.find(function (organizationRole) {
                        return organizationRole.roleId === allRole.value
                    });
                    if (matching) {
                        allRole.disabled = true;
                        allRole.checked = true;
                    }
                });
            }
        });
    }

    /**
     * 역할(사용자) 선택
     */
    function setUserRole() {
        const allRoles = document.querySelectorAll('input[name=roles]');
        userRoles.forEach(function (userRole) {
            allRoles.forEach(function (allRole) {
                if (userRole === allRole.value) {
                    allRole.checked = true;
                }
            });
        });
    }

    /**
     * 조직 초기화(조직의 역할 제거)
     * @param obj
     */
    function clearOrganization(obj) {
        aliceJs.clearText(obj);
        const allRoles = document.querySelectorAll('input[name=roles]');
        allRoles.forEach(function (allRole) {
            allRole.disabled = false;
            allRole.checked = false;
        });

        userRoles.forEach(function (userRole) {
            allRoles.forEach(function (allRole) {
                if (userRole === allRole.value) {
                    allRole.checked = true;
                }
            });
        });
    }

    function organizationPopUp() {
        const rootCode = 'organization';
        tree.load({
            view: 'modal',
            title: i18n.msg('department.label.deptList'),
            dataUrl: '/rest/organizations',
            source: rootCode,
            target: 'treeList',
            text: 'organizationName',
            nodeNameLabel: i18n.msg('common.msg.dataSelect', i18n.msg('department.label.deptName')),
            defaultIcon: '/assets/media/icons/tree/icon_tree_organization.svg',
            selectedValue: document.getElementById('organizationId').value,
            callbackFunc: function (response) {
                document.getElementById('organizationId').value = response.id;
                document.getElementById('organization').value = response.dataset.name;
                clearRole();
                setOrganizationRole();
                setUserRole();
            }
        });
    }

    function openUserListPopup() {
        let isValid = true
        if (isEmpty('absenceStartDt', 'user.msg.enterAbsenceStartDt')) isValid = false;
        if (isEmpty('absenceEndDt', 'user.msg.enterAbsenceEndDt')) isValid = false;
        if (isValid) {
            const subUserModal = new modal({
                title: i18n.msg('user.label.substituteUser'),
                body: createModalContent(),
                classes: 'sub-user-modal',
                buttons: [{
                    content: i18n.msg('common.btn.select'),
                    classes: 'btn__text--box primary',
                    bindKey: false,
                    callback: (modal) => {
                        // 최근 선택값이 있는 경우, 해당 사용자 id와 이름을 전달한다.
                        if (Object.keys(subUserInfo).length > 0) {
                            document.getElementById('substituteUserKey').value = subUserInfo.id;
                            document.getElementById('substituteUser').value = subUserInfo.value;
                        } else {
                            zAlert.warning(i18n.msg('user.msg.enterSubstituteUser'));
                            return false;
                        }
                        modal.hide();
                    }
                }, {
                    content: i18n.msg('common.btn.cancel'),
                    classes: 'btn__text--box secondary',
                    bindKey: false,
                    callback: (modal) => {
                        modal.hide();
                    }
                }],
                close: {
                    closable: false,
                },
                onCreate: () => {
                    subUserInfo = {};
                    document.getElementById('search').addEventListener('keyup', aliceJs.debounce ((e) => {
                        this.getSubUserList(e.target.value, false);
                    }), false);
                    this.getSubUserList(document.getElementById('search').value, true);
                }
            });
            subUserModal.show();
        }
    }

    function createModalContent() {
        return `<div class="sub-user-list">` +
            `<input class="input ic-search col-5 mr-2" type="text" name="search" id="search" maxlength="100" ` +
            `placeholder="${i18n.msg('user.label.userSearchPlaceholder')}">` +
            `<span id="spanTotalCount" class="search-count"></span>` +
            `<div class="table-set" id="subUserList"></div>` +
            `</div>`;
    }

    function getSubUserList(search, showProgressbar) {
        let strUrl = '/users/substituteUsers?search=' + encodeURIComponent(search.trim())
            + '&from=' + i18n.systemDateTime(document.getElementById('absenceStartDt').value)
            + '&to=' + i18n.systemDateTime(document.getElementById('absenceEndDt').value)
            + '&userKey=' + document.getElementById('userKey').value
            + '&multiSelect=false';

        aliceJs.fetchText(strUrl, {
            method: 'GET',
            showProgressbar: showProgressbar
        }).then((htmlData) => {
            document.getElementById('subUserList').innerHTML = htmlData;
            OverlayScrollbars(document.querySelector('.table-body'), {className: 'scrollbar'});
            // 갯수 가운트
            const substituteUserList = document.getElementById('userList');
            aliceJs.showTotalCount(substituteUserList.querySelectorAll('.table-row').length);
            document.querySelectorAll('input[type=radio]').forEach(function (radio) {
                // 체크 이벤트
                radio.addEventListener('change', () => {
                    if (radio.checked) {
                        subUserInfo.id = radio.id;
                        subUserInfo.value = radio.value;
                    }
                });
            });
            // 선택된 항목 표시
            const selectedSubUserKey = document.getElementById('substituteUserKey').value;
            const selectedSubUserName = document.getElementById('substituteUser').textContent;
            const radioElem = document.querySelector('input[id="' + selectedSubUserKey + '"]');
            if (radioElem) {
                radioElem.checked = true;
                subUserInfo.id = selectedSubUserKey;
                subUserInfo.value = selectedSubUserName;
            }
        });
    }
    /*]]>*/
</script>
</html>
