<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="list-wrap">
    <table>
        <colgroup>
            <col style="width:3.25rem"><!--52px-->
            <col style="width:4.875rem"><!--78px-->
            <col style="width:8.125rem"><!--130px-->
            <col style="width:12rem"><!--192px-->
            <col style="width:15.13rem"><!--242px-->
            <col style="width:5.5rem"><!--88px-->
            <col style="width:8.375rem"><!--134px-->
            <col style="width:8.625rem"><!--138px-->
            <col style="width:9.125rem"><!--146px-->
        </colgroup>
        <thead>
            <tr>
                <th th:text="#{user.label.name}" colspan="2"></th>
                <th th:text="#{user.label.id}"></th>
                <th th:text="#{user.label.email}"></th>
                <th th:text="#{user.label.department}"></th>
                <th th:text="#{user.label.position}"></th>
                <th th:text="#{user.label.officeNumber}"></th>
                <th th:text="#{user.label.mobileNumber}"></th>
                <th th:text="#{user.label.signUpDate}"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${#arrays.isEmpty(userList)}">
                <td colspan="9" th:text="#{common.msg.noData}"></td>
            </tr>
            <tr th:each="user, i: ${userList}" th:if="${i.count} < 11">
                <td>
                    <img class="profile-photo" th:src="@{{avatarPath}(avatarPath=${user.avatarPath})}" alt="profile pic"
                         th:onclick="'location.href=\'' + @{/users/{userKey}/edit(userKey=${user.userKey})} + '\''"/>
                </td>
                <td th:text="${user.userName}"></td>
                <td th:text="${user.userId}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.department}"></td>
                <td th:text="${user.position}"></td>
                <td th:text="${user.officeNumber}"></td>
                <td th:text="${user.mobileNumber}"></td>
                <td>2020.07.03</td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>
