<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    layout:decorator="layout/defaultLayout">
<head>
    <meta charset="UTF-8">
    <style>
        .dropzone {
            height: 180px;
            width: 180px;
            overflow-y: hidden;
            overflow-x: hidden;
        }
        .dropzone img {
            width: 100%;
            height: 100%;
        }
        .btn-check-wrapper {
            display: inline-block;
            float: right;
        }
        .btn-upload-wrapper input[type=file] {
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
        }
        .fileEditorable {
            height: 180px;
            width: 180px;
        }
        table td {
            padding: 2px 0;
        }
        table td input[type="text"], table td input[type="password"] {
            width: 55%;
        }
        table td input[type="password"] {
            font-family: initial;
        }
        table td select {
            height: 28px;
        }
    </style>
</head>
<body>
<th:block layout:fragment="content">
    <div id="container" align="center" style="margin: 15px 0 35px 0">
        <input type="hidden" id="userKey" name="userKey" th:value="${users?.userKey}"/>
        <input type="hidden" id="avatarUUID" name="avatarUUID" value=""/>
        <form id="userEditSelfForm" method="post" onsubmit ="return false">
            <table style="text-align: left;">
                <colgroup>
                    <col width="150px">
                    <col width="500px">
                </colgroup>
                <tbody th:style="${users?.userKey != null && !users?.platform.equals('user.platform.alice')} ? 'display: none' : ''">
                    <tr>
                        <th class="required" th:text="#{user.label.id}"></th>
                        <td><input type="text" id="userId" name="userId" maxlength="100" th:value="${users?.userId}" required="required"/></td>
                    </tr>
                </tbody>
                <tbody th:style="${users?.userKey == null || (users?.userKey != null && !users?.platform.equals('user.platform.alice'))} ? 'display: none' : ''">
                    <tr>
                        <th class="required" th:text="#{user.label.password}"></th>
                        <td><input type="password" id="password" autocomplete="new-password" name="password" maxlength="100" required="required"/></td>
                    </tr>
                    <tr>
                        <th class="required" th:text="#{user.label.rePassword}"></th>
                        <td><input type="password" id="rePassword" autocomplete="new-password" name="rePassword" maxlength="100" required="required"/></td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th class="required" th:text="#{user.label.name}"></th>
                        <td><input type="text" id="userName" name="userName" th:value="${users?.userName}" maxlength="100" required="required"/></td>
                    </tr>
                    <tr>
                        <th class="required" th:text="#{user.label.email}"></th>
                        <td><input type="text" id="email" name="email" th:value="${users?.email}" maxlength="100" required="required"/></td>
                    </tr>
                    <tr>
                        <th class="required" th:text="#{user.label.usageStatus}"></th>
                        <td>
                            <label>
                                <input id="usageStatusUse" name="type" type="radio"
                                    th:checked="${users?.useYn == null || users?.useYn == true}"
                                    th:text="#{user.usageStatusFlag.use}"/>
                            </label>
                            <label>
                                <input id="usageStatusUnUse" name="type" type="radio"
                                    th:checked="${users?.useYn == false}"
                                    th:text="#{user.usageStatusFlag.unused}"/>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <th th:text="#{user.label.position}"></th>
                        <td><input type="text" id="position" name="position" th:value="${users?.position}" maxlength="100"/></td>
                    </tr>
                    <tr>
                        <th th:text="#{user.label.department}"></th>
                        <td><input type="text" id="department" name="department" th:value="${users?.department}" maxlength="100"/></td>
                    </tr>
                    <tr>
                        <th th:text="#{user.label.officeNumber}"></th>
                        <td>
                            <input type="text" id="officeNumber" name="officeNumber" th:value="${users?.officeNumber}"
                                onkeydown="return onlyNumber(event)" onkeyup="removeChar(event)" maxlength="100"/>
                        </td>
                    </tr>
                    <tr>
                        <th th:text="#{user.mobileNumber}"></th>
                        <td>
                            <input type="text" id="mobileNumber" name="mobileNumber" th:value="${users?.label.mobileNumber}"
                                onkeydown="return onlyNumber(event)" onkeyup="removeChar(event)" maxlength="100"/>
                        </td>
                    </tr>
                    <tr>
                        <th class="required" th:text="#{user.label.timezone}"></th>
                        <td>
                            <select name="timezone" id="timezone">
                                <option th:each="timezone: ${timezoneList}" th:value="${timezone.timezoneValue}"
                                    th:text="${timezone.timezoneId}" th:selected="${timezone.timezoneValue} == ${users?.timezone}"></option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th class="required" th:text="#{user.label.timeFormat}"></th>
                        <td>
                            <span th:text="#{user.label.date}"></span>
                            <select name="date" id="date">
                                <option th:each="date: ${dateList}" th:value="${date.codeValue}"
                                    th:text="${date.codeValue}" th:selected="${date.codeValue} == ${usersDate}"></option>
                            </select>
                            <span th:text="#{user.label.time}"></span>
                            <select name="time" id="time">
                                <option th:each="time: ${timeList}" th:value="${time.codeValue}"
                                    th:text="${time.code}" th:selected="${time.codeValue} == ${usersTime}"></option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th class="required" th:text="#{user.label.lang}"></th>
                        <td>
                            <select name="lang" id="lang">
                                <option th:each="lang: ${langList}" th:value="${lang.codeValue}"
                                    th:text="${lang.codeValue}" th:selected="${lang.codeValue} == ${users?.lang}"></option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th class="required" th:text="#{user.label.theme}"></th>
                        <td>
                            <select name="theme" id="theme">
                                <option th:each="theme: ${themeList}" th:value="${theme.codeValue}"
                                    th:text="${theme.codeValue}" th:selected="${theme.codeValue} == ${users?.theme}"></option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th th:text="#{user.label.avatar}"></th>
                        <td>
                            <div id="dropZoneFiles"></div><br/><br/>
                            <div th:text="#{user.label.FileSizeLimit}"></div>
                            <div th:text="#{user.label.FileExtensionAllowed}"></div>
                        </td>
                    </tr>
                    <tr sec:authorize="hasAuthority('user.read')" th:unless="${#lists.isEmpty(roles)}">
                        <th th:text="#{user.label.role}"></th>
                        <td>
                            <ui th:each="role : ${roles}">
                                <input type="checkbox" th:id="|roles*{roleStat.index}|" name="roles" th:value="*{role.roleId}" th:checked="*{role.checked}">
                                <label th:for="|roles*{roleStat.index}|" th:text="*{role.roleName}"></label>
                            </ui>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button type="button" style="margin-top: 25px;" th:if="!${users?.userKey}" th:text="#{auth.user.create}"
                th:onclick="restSubmit('post', [[@{/rest/users}]])"></button>
            <button type="button" style="margin-top: 25px;" th:if="${users?.userKey}" th:text="#{user.label.editUserInfo}"
                th:onclick="restSubmit('put', [[@{/rest/users/{userKey}/all(userKey=${users.userKey})}]])"></button>
            <button th:text="#{common.btn.list}" onclick="location.href='/users/search'"></button>
        </form>
    </div>
</th:block>
</body>
<th:block layout:fragment="pageScript">
    <script th:src="@{/assets/vendors/rsa/jsbn.js}"></script>
    <script th:src="@{/assets/vendors/rsa/rsa.js}"></script>
    <script th:src="@{/assets/vendors/rsa/prng4.js}"></script>
    <script th:src="@{/assets/vendors/rsa/rng.js}"></script>
    <script th:src="@{/assets/js/util/validation-alice.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        window.onload = function() {
            const avatarUUID = uuid();
            document.getElementById('avatarUUID').value = avatarUUID;
            fileUploader.init({extra: {
                formId: 'userEditSelfForm',
                dropZoneMaxFileSize: 0.2,
                dropZoneUrl: '/fileupload?target=avatar&fileName=' + avatarUUID,
                dropZoneMaxFiles: 1,
                acceptedFiles: '.png,.jpeg,.jpg,.gif',
                clickable: '.add-img-button'
            }});
        };

        function onlyNumber(event) {
            event = event || window.event;
            const keyID = (event.which) ? event.which : event.keyCode;
            if (!((keyID >= 48 && keyID <= 57) || (keyID >= 96 && keyID <= 105)
                || keyID === 8 || keyID === 46 || keyID === 37 || keyID === 39)) {
                return false;
            }
        }

        function removeChar(event) {
            event = event || window.event;
            const keyID = (event.which) ? event.which : event.keyCode;
            if (!(keyID === 8 || keyID === 46 || keyID === 37 || keyID === 39)) {
                event.target.value = event.target.value.replace(/[^0-9]/g, '');
            }
        }

        const STATUS_SUCCESS = '0';
        const STATUS_ERROR_USER_ID_DUPLICATION = '1';
        const STATUS_ERROR_EMAIL_DUPLICATION = '3';
        const STATUS_SUCCESS_EDIT_EMAIL = '4';
        const STATUS_SUCCESS_EDIT_ADMIN = '5';

        function restSubmit(method, url) {
            if (!validation()) {
                return false;
            }
            let arrRoleValue = [];
            document.querySelectorAll('input[name=roles]:checked').forEach(function(item) {
                arrRoleValue.push(item.value);
            });

            const data = {
                userKey: document.getElementById('userKey').value,
                userId: document.getElementById('userId').value,
                userName: document.getElementById('userName').value,
                email: document.getElementById('email').value,
                useYn: document.getElementById('usageStatusUse').checked,
                position: document.getElementById('position').value,
                department: document.getElementById('department').value,
                officeNumber: document.getElementById('officeNumber').value,
                mobileNumber: document.getElementById('mobileNumber').value,
                timezone: document.getElementById('timezone').value,
                lang: document.getElementById('lang').value,
                theme: document.getElementById('theme').value,
                timeFormat: document.getElementById('date').value +' '+ document.getElementById('time').value,
                roles: arrRoleValue,
                fileSeq: document.getElementsByTagName('fileSeq').value,
                avatarUUID: document.getElementById('avatarUUID').value
            };
            let password = document.getElementById('password').value;
            if (password !== '' && method === 'put') {
                const keyModule = [[${#request.getAttribute('_publicKeyModulus')}]];
                const keyExponent = [[${#request.getAttribute('_publicKeyExponent')}]];
                const rsa = new RSAKey();
                rsa.setPublic(keyModule, keyExponent);
                data.password = rsa.encrypt(password);
            }

            aliceJs.sendXhr({
                method: method,
                url: url,
                params: JSON.stringify(data),
                contentType: 'application/json',
                callbackFunc: function(response) {
                    switch (response.responseText) {
                        case STATUS_SUCCESS:
                            aliceJs.alert([[#{user.msg.createUser}]], function() {
                                window.location.reload();
                            });
                            break;
                        case STATUS_SUCCESS_EDIT_ADMIN:
                            aliceJs.alert([[#{common.msg.update}]], function() {
                                window.location.reload();
                            });
                            break;
                        case STATUS_SUCCESS_EDIT_EMAIL:
                            aliceJs.alert([[#{user.msg.emailWithUpdate}]], function() {
                                window.location.reload();
                            });
                            break;
                        case STATUS_ERROR_USER_ID_DUPLICATION:
                            aliceJs.alert([[#{user.msg.sameUserId}]]);
                            break;
                        case STATUS_ERROR_EMAIL_DUPLICATION:
                            aliceJs.alert([[#{user.msg.sameEmail}]]);
                            break;
                        default:
                            aliceJs.alert([[#{common.msg.fail}]]);
                            break;
                    }
                }
            });
        }

        function validation() {
            if (isEmpty('userId', 'user.msg.enterUserId')) return false;
            if (isAndOperator(isEmpty('password'), isNotEmpty('rePassword'), 'user.msg.enterUserPassword')) return false;
            if (isAndOperator(isNotEmpty('password'), isEmpty('rePassword'), 'user.msg.enterUserRePassword')) return false;
            if (isNotEquals('password', 'rePassword', 'user.msg.passwordNotEquals')) return false;
            if (isAndOperator(isNotEmpty('password'), isNotEmpty('rePassword'))) {
                if (!isValidPassword('password')) return false;
            }
            if (isEmpty('userName', 'user.msg.enterUserName')) return false;
            if (isEmpty('email', 'user.msg.enterUserEmail')) return false;
            if (!isValidEmail('email')) return false;
            return true;
        }

        function uuid() {
            function s4() {
                return ((1 + Math.random()) * 0x10000 | 0).toString(16).substring(1);
            }
            return s4() + s4() + '-' + s4() + '-' + s4() + '-' + s4() + '-' + s4() + s4() + s4();
        }
        /*]]>*/
    </script>
</th:block>
</html>
