<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div sec:authorize="hasAuthority('user.read')">
    <table class="table table-hover">
        <tbody>
        <tr>
            <td th:text="#{user.id}">사용자아이디</td>
            <td th:text="${user.userId}"></td>
        </tr>
        <tr>
            <td th:text="#{user.name}">사용자이름</td>
            <td th:text="${user.userName}"></td>
        </tr>
        <tr>
            <td th:text="#{user.position}">직책</td>
            <td>-</td>
        </tr>
        <tr>
            <td th:text="#{user.department}">부서</td>
            <td>-</td>
        </tr>
        <tr>
            <td th:text="#{user.extensionNumber}">내선번호</td>
            <td>-</td>
        </tr>

        </tbody>
    </table>
</div>

</body>
</html>