<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form sec:authorize="hasAuthority('user.read')" id="userDetailEditModal" onsubmit="return false">
    <div>
        <label th:text="#{user.id}" for="userId">아이디</label>
        <input type="text" id="userId" name="userId" th:value="${users.userId}" readonly="readonly"/>
    </div>
    <div>
        <label th:text="#{user.name}" for="userName">이름</label>
        <input type="text" id="userName" name="userName" th:value="${users.userName}" readonly="readonly"/>
    </div>
    <div>
        <label th:text="#{user.email}" for="email">이메일</label>
        <input type="text" id="email" name="email" th:value="${users.email}" readonly="readonly"/>
    </div>
    <div>
        <label th:text="#{user.position}" for="position">직책</label>
        <input type="text" id="position" name="position" th:value="${users.position}" readonly="readonly"/>
    </div>
    <div>
        <label th:text="#{user.department}" for="department">부서</label>
        <input type="text" id="department" name="department" th:value="${users.department}" readonly="readonly"/>
    </div>
    <div>
        <label th:text="#{user.extensionNumber}" for="extensionNumber">내선번호</label>
        <input type="text" id="extensionNumber" name="extensionNumber" th:value="${users.extensionNumber}"
               readonly="readonly"/>
    </div>


    <div sec:authorize="hasAuthority('user.read')" th:unless="${#lists.isEmpty(roles)}">
        <div>역할</div>
        <div th:each="role : ${roles}">
            <input type="checkbox" th:id="|roles*{roleStat.index}|" name="roles" th:value="*{role.roleId}" th:checked="*{role.checked}">
            <label th:for="|roles*{roleStat.index}|" th:text="*{role.roleName}"></label>
        </div>
    </div>


</form>
</body>
</html>