<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layout/defaultLayout">
<head>
    <meta charset="UTF-8">
</head>
<body>
<th:block layout:fragment="content">
    <div id="container" align="center">
        <input type="hidden" id="userKey" name="userKey" th:value="${users?.userKey}"/>
        <input type="hidden" id="oldPassword" name="oldPassword" th:value="${users?.password}"/>
        <table style="text-align: left;">
            <tbody id="tbody">
                <tr>
                    <th th:text="#{user.id}+'*'"/>
                    <td><input type="text" id="userId" name="userId" maxlength="100" th:value="${users?.userId}" required="required"/>
                </tr>
            </tbody>
            <tbody id="passwordArea">
                <tr>
                    <th th:text="#{user.password}+'*'"/>
                    <td><input type="password" id="password" name="password" maxlength="100" required="required"/>
                </tr>
                <tr>
                    <th th:text="#{user.rePassword}+'*'"/>
                    <td><input type="password" id="rePassword" name="rePassword" maxlength="100" required="required"/>
                </tr>
            </tbody>
            <tbody border="1">
                <colgroup>
                    <col width="120px">
                    <col width="480px">
                </colgroup>
                <tr>
                    <th th:text="#{user.name}+'*'"/>
                    <td><input type="text" id="userName" name="userName" th:value="${users?.userName}" maxlength="100" required="required"/>
                </tr>
                <tr>
                    <th th:text="#{user.email}+'*'"/>
                    <td><input type="text" id="email" name="email" th:value="${users?.email}" maxlength="100" required="required"/>
                </tr>
                <tr>
                    <th th:text="#{user.position}"/>
                    <td><input type="text" id="position" name="position" th:value="${users?.position}" maxlength="100"/>
                </tr>
                <tr>
                    <th th:text="#{user.department}"/>
                    <td><input type="text" id="department" name="department" th:value="${users?.department}" maxlength="100"/>
                </tr>
                <tr>
                    <th th:text="#{user.officeNumber}"/>
                    <td><input type="text" id="officeNumber" name="officeNumber" th:value="${users?.officeNumber}" onkeydown="return onlyNumber(event)" onkeyup="removeChar(event)" maxlength="100" />
                </tr>
                <tr>
                    <th th:text="#{user.mobileNumber}"/>
                    <td><input type="text" id="mobileNumber" name="mobileNumber" th:value="${users?.mobileNumber}" onkeydown="return onlyNumber(event)" onkeyup="removeChar(event)" maxlength="100" />
                </tr>
                <tr>
                    <th th:text="#{user.timezone}+'*'"/>
                    <td><select name="timezone" id="timezone"><option th:each="tzData: ${timezoneList}" th:value="${tzData.timezoneValue}"
                                                                      th:text="${tzData.timezoneId}"></option></select></td>
                </tr>
                <tr>
                    <th th:text="#{user.timeFormat}+'*'"/></th>
                    <td>
                        <span th:text="#{user.date}"></span>
                        <select name="date" id="date"><option th:each="dateData: ${dateList}" th:value="${dateData.codeValue}"
                                                              th:text="${dateData.codeValue}"></option></select>
                        <span th:text="#{user.time}"></span>
                        <select name="time" id="time"><option th:each="timeData: ${timeList}" th:value="${timeData.codeValue}"
                                                              th:text="${timeData.code}"></option></select>
                    </td>
                </tr>
                <tr>
                    <th th:text="#{user.lang}+'*'"/>
                    <td><select name="lang" id="lang"><option th:each="itemData: ${langList}" th:value="${itemData.codeValue}"
                                                              th:text="${itemData.codeValue}"></option></select></td>
                </tr>
                <tr sec:authorize="hasAuthority('user.read')" th:unless="${#lists.isEmpty(roles)}">
                    <th th:text="#{user.role}"></th>
                    <td>
                        <ui th:each="role : ${roles}">
                            <input type="checkbox" th:id="|roles*{roleStat.index}|" name="roles" th:value="*{role.roleId}"
                                                                                                 th:checked="*{role.checked}">
                            <label th:for="|roles*{roleStat.index}|" th:text="*{role.roleName}"></label>
                        </ui>
                    </td>
                </tr>
            </tbody>
        </table>
        <button style="margin-top: 25px;" th:if="!${users?.userKey}" th:onclick="restSubmit('post', [[@{/rest/users}]])" th:text="#{user.reg}"></button>
        <button style="margin-top: 25px;" th:if="${users?.userKey}" th:onclick="restSubmit('put', [[@{/rest/users/{userKey}/userEdit(userKey=${users.userKey})}]])"
                                                                    th:text="#{user.editUserInfo}"></button>
    </div>
    <br>
    <br>
</th:block>
</body>
<th:block layout:fragment="pageScript">
    <script th:src="@{/assets/vendors/rsa/jsbn.js}"></script>
    <script th:src="@{/assets/vendors/rsa/rsa.js}"></script>
    <script th:src="@{/assets/vendors/rsa/prng4.js}"></script>
    <script th:src="@{/assets/vendors/rsa/rng.js}"></script>
    <script th:src="@{/assets/js/util/validation-alice.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        window.onload = function() {
            var userKey = /*[[${users?.userKey} ? ${users.userKey} : null]]*/;
            var userPlatform = /*[[${users?.platform} ? ${users.platform} : null]]*/;
            var userLang = /*[[${users?.lang} ? ${users.lang} : null]]*/;
            var userTimezone = /*[[${users?.timezone} ? ${users.timezone} : null]]*/;
            var userTimeFormat = /*[[${users?.timeFormat} ? ${users.timeFormat} : null]]*/;
            var userDate = /*[[${usersDate}]]*/;
            var userTime = /*[[${usersTime}]]*/;

            if (userKey !== null && userPlatform !== 'user.platform.alice') {
                document.getElementById('tbody').style.display = 'none';
                document.getElementById('passwordArea').style.display = 'none';
            } else if (userKey === null) {
                document.getElementById('passwordArea').style.display = 'none';
            }

            if (userLang !== null) {
                var selectLength = document.getElementById('lang').length;
                for (var i = 0; i < selectLength; i++) {
                    if (document.getElementById('lang').options[i].value === userLang) {
                        document.getElementById('lang').options[i].selected = true;
                    }
                }
            }

            if (userTimezone !== null) {
                var selectLength = document.getElementById('timezone').length;
                for (var i = 0; i < selectLength; i++) {
                    if (document.getElementById('timezone').options[i].value === userTimezone) {
                        document.getElementById('timezone').options[i].selected = true;
                    }
                }
            }

            if (userTimeFormat !== null) {
                var selectLength = document.getElementById('date').length;
                for (var i = 0; i < selectLength; i++) {
                    if (document.getElementById('date').options[i].value === userDate) {
                        document.getElementById('date').options[i].selected = true;
                    }
                }

                selectLength = document.getElementById('time').length;
                for (var i = 0; i < selectLength; i++) {
                    if (document.getElementById('time').options[i].value === userTime) {
                        document.getElementById('time').options[i].selected = true;
                    }
                }
            }
        };

        function onlyNumber(event) {
            event = event || window.event;
            var keyID = (event.which) ? event.which : event.keyCode;
            if ((keyID >= 48 && keyID <= 57) || (keyID >= 96 && keyID <= 105)
                || keyID == 8 || keyID == 46 || keyID == 37 || keyID == 39) {
                return;
            } else {
                return false;
            }
        }

        function removeChar(event) {
            event = event || window.event;
            var keyID = (event.which) ? event.which : event.keyCode;
            if (keyID == 8 || keyID == 46 || keyID == 37 || keyID == 39) {
                return;
            } else {
                event.target.value = event.target.value.replace(/[^0-9]/g, "");
            }
        }

        const STATUS_SUCCESS = '0';
        const STATUS_ERROR_USER_ID_DUPLICATION = '1';
        const STATUS_ERROR_EMAIL_DUPLICATION = '3';
        const STATUS_SUCCESS_EDIT_EMAIL = '4';
        const STATUS_SUCCESS_EDIT_ADMIN = '5';

        function restSubmit(method, url) {
            const oldPassword = document.getElementById('oldPassword').value;
            var password = document.getElementById('password').value;
            var keyModule;
            var keyExponent;
            var rsa;

            if (!validation()) {
                return false;
            }

            if (method === 'put') {
                keyModule = [[${#request.getAttribute('_publicKeyModulus')}]];
                keyExponent = [[${#request.getAttribute('_publicKeyExponent')}]];
                rsa = new RSAKey();
                rsa.setPublic(keyModule, keyExponent);

                if ( password === '' ) {
                    password = oldPassword;
                } else {
                    password = rsa.encrypt(password);
                }
            }

            //역할 관련 function
            var arrRoleValue = new Array();

            document.querySelectorAll('input[name=roles]:checked').forEach(function(item) {
                arrRoleValue.push(item.value);
            });

            const data = {
                userKey: document.getElementById('userKey').value,
                userId: document.getElementById('userId').value,
                password: password,
                userName: document.getElementById('userName').value,
                email: document.getElementById('email').value,
                position: document.getElementById('position').value,
                department: document.getElementById('department').value,
                officeNumber: document.getElementById('officeNumber').value,
                mobileNumber: document.getElementById('mobileNumber').value,
                timezone: document.getElementById('timezone').value,
                lang: document.getElementById('lang').value,
                timeFormat: document.getElementById('date').value +' '+ document.getElementById('time').value,
                roles: arrRoleValue
            };

            const opt = {
                method: method,
                url: url,
                params: JSON.stringify(data),
                contentType: 'application/json',
                callbackFunc: function(response) {
                    switch (response.responseText) {
                        case STATUS_SUCCESS:
                            alert('사용자가 등록되었습니다.');
                            window.location.reload();
                            break;
                        case STATUS_SUCCESS_EDIT_ADMIN:
                            alert('수정되었습니다.');
                            window.location.reload();
                            break;
                        case STATUS_SUCCESS_EDIT_EMAIL:
                            alert('이메일 정보를 포함한 회원 정보가 수정되었습니다.');
                            window.location.reload();
                            break;
                        case STATUS_ERROR_USER_ID_DUPLICATION:
                            alert('동일한 아이디가 존재합니다.');
                            break;
                        case STATUS_ERROR_EMAIL_DUPLICATION:
                            alert('이미 사용중인 이메일입니다.');
                            break;
                        default :
                            alert('수정 및 등록이 실패되었습니다.');
                            break;
                    }
                }
            };
            aliceJs.sendXhr(opt);
        }

        function validation() {
            if (isEmpty('userId', 'user.msg.idNotExist')) return false;
            if (isAndOperator(isEmpty('password'), isNotEmpty('rePassword'), 'user.msg.passwordNotExist')) return false;
            if (isAndOperator(isNotEmpty('password'), isEmpty('rePassword'), 'user.msg.rePasswordNotExist')) return false;
            if (isNotEquals('password', 'rePassword', 'user.msg.passwordNotEquals')) return false;
            if (isAndOperator(isNotEmpty('password'), isNotEmpty('rePassword'))) {
                if (!isValidPassword('password')) return false;
            }
            if (isEmpty('userName', 'user.msg.nameNotExist')) return false;
            if (isEmpty('email', 'user.msg.emailNotExist')) return false;
            if (!isValidEmail('email')) return false;
            return true;
        }
        /*]]>*/
    </script>
</th:block>
</html>