<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>사용자데이터</title>
</head>
<body>
<div th:unless="${#lists.isEmpty(users)}">
    <table>
        <thead>
        <tr>
            <td th:text="#{user.id}">아이디</td>
            <td th:text="#{user.name}">이름</td>
            <td th:text="#{user.department}">부서</td>
            <td th:text="#{user.position}">직책</td>
            <td th:text="#{user.extensionNumber}">내선번호</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}" class="openUserEdit">
            <td th:text="${user.userId}">사용자 아이디</td>
            <td th:text="${user.userName}">사용자 이름</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>