<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<link th:href="@{/assets/css/alice-bootstrap.css}" rel="stylesheet"/>
<link th:href="@{/assets/vendors/dropzone/dropzone.css}" rel="stylesheet"/>
<script th:src="@{/assets/js/util/util-alice.js}"></script>
<script th:src="@{/assets/vendors/dropzone/dropzone.js}"></script>
<script th:src="@{/assets/js/util/fileuploader-alice.js}"></script>
</html>
