<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<link th:href="@{/assets/css/alice-bootstrap.css}" rel="stylesheet"/>
<link th:href="@{/assets/theme/{theme}/alice-{theme}-theme.css(theme=${#authentication.details.theme})}" rel="stylesheet"/>
<link th:href="@{/assets/vendors/window-date-picker/css/window-date-picker.css}" rel="stylesheet" />
<link th:href="@{/assets/vendors/dropzone/dropzone.css}" rel="stylesheet"/>
<link th:href="@{/assets/vendors/popupmodal/css/popupmodal.css}" rel="stylesheet"/>
<script th:src="@{/assets/js/util/i18n-alice.js}"></script>
<script th:src="@{/assets/vendors/popupmodal/js/popupmodal.js}"></script>
<script th:src="@{/assets/js/util/util-alice.js}"></script>
<script th:src="@{/assets/vendors/window-date-picker/js/window-date-picker.custom.js}"></script>
<script th:src="@{/assets/js/util/datetimepicker-alice.js}"></script>
<script th:src="@{/assets/vendors/dropzone/dropzone.js}"></script>
<script th:src="@{/assets/js/util/fileuploader-alice.js}"></script>
<script type="text/javascript">
    i18n.add();
</script>
</html>
