<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<div class="z-paging-area flex-row">
    <a href="" id="pagingStartArrow" class="z-paging-arrow flex-row"><span class="z-icon i-paging-start-arrow"></span></a>
    <a href="" id="pagingPrevArrow" class="z-paging-arrow flex-row"><span class="z-icon i-paging-prev-arrow"></span></a>
    <div class="z-paging-numbers"></div>
    <a href="" id="pagingNextArrow" class="z-paging-arrow flex-row"><span class="z-icon i-paging-next-arrow"></span></a>
    <a href="" id="pagingEndArrow" class="z-paging-arrow flex-row"><span class="z-icon i-paging-end-arrow"></span></a>
    <span id="spanCurrentPageNum"></span>
</div>
<script type="module">
    import ZPaging from '../../assets/js/lib/zPaging.js';
    let zPaging = new ZPaging();
</script>
</html>