<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<div class="z-pagingArea flex-row">
    <a href="" id="pagingStartArrow" class="z-pagingArrow flex-row"><span class="z-icon i-pagingStartArrow"></span></a>
    <a href="" id="pagingPrevArrow" class="z-pagingArrow flex-row"><span class="z-icon i-pagingPrevArrow"></span></a>
    <div class="z-pagingNumbers"></div>
    <a href="" id="pagingNextArrow" class="z-pagingArrow flex-row"><span class="z-icon i-pagingNextArrow"></span></a>
    <a href="" id="pagingEndArrow" class="z-pagingArrow flex-row"><span class="z-icon i-pagingEndArrow"></span></a>
    <span id="spanCurrentPageNum"></span>
</div>
<script type="module">
    import ZPaging from '../../assets/js/lib/zPaging.js';
    let zPaging = new ZPaging();
</script>
</html>