@import '../template/_layout.scss';

/* 신청서 / 처리할 문서 양식 layout
 * document-container
 *                - document-main : 문서양식 메인
 *                             - document-main-header : 문서 번호, 버튼 등이 그려지는 영역
 *                             - drawing-board : 실제 컴포넌트들이 그려지는 영역 (컴포넌트 디자인 수정 > form/_component.scss )
 *                - token-properties : 문서이력, 관련문서, 의견, 태그
 */

// 신청서, 문서함 공통
.document-container {
  @include container;

  .document-main {
    @include main;
    background-color: $layout-main-bg-color;
    @include scrollbarHidden;

    // 미리보기 화면
    &.preview { right: 0; }
    
    // 버튼 그려지는 영역
    .document-main-header {
      width: $drawing-board-width;
      max-width: $drawing-board-width;
      padding: 8.438rem 0 0.9375rem 0; // 135px 0 15px 0
      // 문서 번호
      .document-numbering {
        font-size: 1rem; // 16px
        font-weight: $font-weight-regular;
        color: $gray;
      }
    }
    // 폼이 그려지는 영역
    .drawing-board {
      display: table;
      width: $drawing-board-width;
      max-width: $drawing-board-width;
      min-height: 100%;
      margin: $drawing-board-margin;
      padding: $drawing-board-padding;
      background-color: $drawing-board-bg-color;
      border: $drawing-board-border;
      box-shadow: $drawing-board-box-shadow;

      & *:focus {
        outline: none !important;
      }
      // 미리보기일 경우 화면에서 수정을 막음
      &[data-readonly=true] {
        .dropzone,
        .ql-toolbar,
        textarea,
        button,
        input[type=text],
        label.radio,
        label.checkbox,
        select {
          pointer-events: none;
        }
        .component .move-handler {
          display: inherit;
        }
      }
    }
  }

  .token-properties {
    @include properties;
    background-color: $layout-properties-bg-color;
    border-left: $layout-properties-border;
    padding: 0 4.0625rem; // 65px
    // 탭
    .token-info-tab {
      display: flex;
      margin-top: 7.8125rem; // 125px
      // 탭 제목
      h4 {
        font-size: $tab-font-size;
        font-weight: $tab-font-weight;
        color: $tab-font-color;
        flex: 1;
        padding-bottom: 0.625rem; // 10px
        border-bottom: $tab-border;
        cursor: pointer;
      }
      // 선택된 탭일 경우
      .active {
        color: $tab-selected-font-color;
        border-bottom: $tab-selected-border;
      }
    }
    // 탭 내용
    .token-info-contents {
      height: $tab-content-height;
      overflow-y: auto;
      .token {
        // 태그
        &-tag {
          display: none;
          margin-top: 1.25rem; // 20px
        }
        // 처리 이력
        &-history {
          height: 100%;
          .table {
            width: 100%;
            thead {
              border-bottom: 0.0625rem solid $default-gray; // 1px
              tr {
                display: flex;
                align-items: center;
                height: 55px; // 55px
              }
            }
            th, td { text-align: left; }
            th { 
              color: $light-black;
            }
            td {
              color: $dark-gray;
            }
            th:nth-child(3n + 1),
            td:nth-child(3n + 1) {
              padding-left: 0.625rem; // 10px
            }
            tbody {
              display: block;
              width: 100%;
              height: 37.5rem; // 600px;
              overflow-y: auto;
              tr {
                display: table;
                width: 100%;
              }
            }
          }
        }
        // 관련 문서
        &-related {
          display: none;
          padding-top: 0.625rem; // 10px

          .list-item {
            height: 11.5625rem; // 185px
            margin: 0.625rem 0.625rem 0 0; // 10px 10px 0 0
            // 추가된 관련 문서
            .document {
              &-color {
                width: 0.625rem; // 10px
              }
              &-row {
                flex: 1;
                border: 0.0625rem solid $line-gray; // 1px
                padding: 1.25rem 2.5rem; // 20px 40px
                &-content {
                  a {
                    width: 100%;
                    .document-title {
                      word-break: break-word;

                      h5 {
                        &:first-child {
                          font-weight: $font-weight-medium;
                          color: $light-black;
                        }

                        &:last-child {
                          font-weight: $font-weight-regular;
                          color: $gray;
                          margin-left: 0.3125rem; // 5px
                        }
                      }
                    }
                  }
                  button {
                    padding: 0;
                    .icon-delete {
                      background: $pressed-gray;
                    }
                  }
                }
                &-topic {
                  height: 100%;
                  color: $dark-gray;
                }
                &-info {
                  h5 { color: $dark-gray; }
                }
              }
            }
          }
          // 추가
          .related-add {
            height: 11.5625rem; // 185px
            border: 0.0625rem solid $line-gray; // 1px
            background-color: $light-gray;
            margin: 0.625rem 0.625rem 0 0; // 10px 10px 0 0
            display: flex;
          }
        }
        // 댓글
        &-comment {
          display: none;
          padding-top: 0.625rem; // 10px
          
          .list-item {
            padding: 1.25rem 1.5625rem; // 20px 25px
            margin: 0.625rem 0.625rem 0 0; // 10px 10px 0 0
            border: 0.0625rem solid $line-gray; // 1px
            background-color: $light-gray;
            .comment {
              &-row {
                color: $dark-gray;
                margin-top: 0.625rem; // 10px
                word-break: break-word;
                &-info {
                  h5 {
                    margin-left: 0.9375rem; // 15px
                  }
                  .user-name { color: $dark-gray; }
                  .user-date-time { color: $gray; }
                  button {
                    padding: 0;
                    .icon-delete {
                      background: $pressed-gray;
                    }
                  }
                  div:last-child {
                    margin-left: auto;
                  }
                }
              }
            }
          }
          .comment-input {
            margin-top: 0.625rem; // 10px
            padding: 0;

            textarea {
              height: 4.3750rem; // 70px
              margin-right: 0.3125rem; // 5px
              flex: 1;
              border-radius: 0.1875rem; // 3px
              resize: none;
            }
          }
        }
      }
    }
  }
}

// 신청서 모달
.document-modal-active {
  overflow:hidden !important;
}

.document-modal-wrapper {
  display:none;
  position:fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow:auto;

  &.document-modal-active {
    display:block;
    z-index: 2001;
  }
  // 배경
  .document-modal-backdrop { 
    position:fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2001;
  }
  // document-container
  .document-modal-dialog {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2001;
    // 신청서일 경우 우측 properties가 존재하지 않음
    .document-main { right: 0; }
  }
}
