/* _print.scss 
 *
 * 파일 경로 : document/_print.scss
 * @description 프린트 화면 디자인
 * @author wdj
 * @version 1.0
 */
.print {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;

  .print-main {
    min-width: 100vw;
    height: 100vh;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow: auto;
    @include scrollbarHidden;

    .print-main-header {
      width: 100vw;
      margin: 0.9375rem; // 15px

      span {
        line-height: 1.2;
      }
    }

    .print-area {
      min-height: 100%;
    }

    // 폼이 그려지는 영역
    .drawing-board {
      display: table;
      width: 710px; // 710px
      min-height: 100%;
      margin: 0.9375rem; // 15px
      padding: $drawing-board-padding;
      background-color: $drawing-board-bg-color;
      border: $drawing-board-border;
      
      & *:focus {
        outline: none !important;
      }
      .component {
        page-break-inside: always;
        &:hover {
          .move-handler { opacity: 0; }
        }
      }
    }
  }
}

@media print {
  body {
    width: 21cm;
    height: 29.7cm;
    margin: 20mm auto;
  }

  .print {

    .print-main {
      min-width: 0;

      .print-main-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
