/* 태그 기능 디자인
 * /document/_tag.scss
 */
.tagify {
  // 태그
  .tagify__tag {
    border: $tag-border;
    margin: 0.625rem 0 0.625rem 0.3125rem; // 10px 0 10px 5px

    // 태그 문구
    > div {
      padding: 0.375rem 0.5rem; // 6px 8px
      border-radius: 0.0625rem; // 1px
      color: $tag-font-color;

      &::before {
        animation: none;
        box-shadow: 0 0 0 1.25rem $tag-bg-color inset;
      }
      span {
        max-width: 26.625rem; // 426px
        height: 1.25rem; // 20px
      }
      
      &:hover {
        &::before {
          color: $tag-hover-font-color;
          box-shadow: 0 0 0 1.25rem $tag-hover-bg-color inset !important;
        }
      }
    }

    // 삭제 버튼
    .tagify__tag__removeBtn {
      width: 1.125rem; // 18px
      height: 1.125rem; // 18px
      margin-left: 0;
      font-family: $font-family;
      font-size: 1rem; // 16px
      font-weight: $font-weight-bold;
      color: $tag-btn-remove-color;

      &:after {
        height: 1.125rem; // 18px
        line-height: 0.875rem; // 14px
      }

      &:hover {
        color: $tag-hover-btn-remove-color;
        background-color: $tag-hover-btn-remove-bg-color;
        + div {
          color: $tag-hover-font-color;
          &::before { box-shadow: 0 0 0 1.25rem $tag-hover-bg-color inset !important; }
          span { opacity: 1; }
        }
      }
    }

    // 마우스 오버시
    &:hover {
      border: $tag-hover-border;
      // 태그 문구
      > div {
        color: $tag-hover-font-color;
        &::before { box-shadow: 0 0 0 1.25rem $tag-hover-bg-color inset !important; }
        span { opacity: 1; }
      }
      // 삭제 버튼
      .tagify__tag__removeBtn {
        color: $tag-hover-btn-remove-color;
        background-color: $tag-hover-btn-remove-bg-color;
      }
    }
  }

  // 동일 태그 입력시
  .tagify--notAllowed:not(.tagify__tag--editable) {
    border: $tag-invalid-border;

    // 태그 문구
    > div {
      color: $tag-invalid-color !important;
      &::before { box-shadow: 0 0 0 1.25rem $tag-invalid-bg-color inset !important; }
      span { opacity: 1; }
    }
    // 삭제 버튼
    .tagify__tag__removeBtn {
      color: $tag-invalid-color !important;
      pointer-events: none;
    }
    &:hover {
      border: $tag-invalid-hover-border;

      .tagify__tag__removeBtn {
        background-color: transparent;
      }
    }
  }

  // 태그를 입력하세요 input box
  .tagify__input {
    padding: 0.4375rem; // 7px
    margin: 0.625rem 0.3125rem; // 10px 5px
    white-space: pre-line;

    &:empty {
      &::before {
        opacity : 1;
      }
    }
    // placehoder color
    &::before {
      color: $element-placeholder-font-color;
    }
    &::after {
      color: $element-font-color;
    }
  }
}
