/* _alerts.scss
 *
 * 파일 경로 : template/_alerts.scss
 * @description 알림 모달
 * @author jy.lim
 * @version 1.0
 */
.z-alert {
  &-active {
    overflow: hidden !important;
  }

  &-wrapper {
    display: none;
    @include fixed(0, 0, 0, 0);
    overflow: auto;

    &.z-alert-active {
      display: block;
      z-index: $z-index-alert;
    }
  }

  &-backdrop {
    @include fixed(0, 0, 0, 0);
    background: $alert-backdrop-bg-color;
    z-index: $z-index-alert;
  }

  &-dialog {
    width: 100%;
    line-height: 1;
    padding: 1.5625rem; // 25px
  }

  &-title {
    padding: 1em;
    font-size: $alert-font-size;
    box-sizing: $alert-box-sizing;
    text-align: center;
  }

  &-body {
    min-height: 3.4375rem;    //55px
    padding: 0 0 0 3.875rem;  // 0 0 0 62px
    box-sizing: $alert-box-sizing;
    overflow: auto;
  }

  &-message {
    display: flex;
    align-items: center;
    min-height: 3.5rem;       // 56px
    font-size: $alert-font-size;
    font-weight: $alert-font-weight;
    line-height: 1.7143;
  }

  &-buttons {
    box-sizing: $alert-box-sizing;
    text-align: right;
  }

  &-button {
    font-size: $alert-font-size;
    font-weight: $alert-font-weight;
    margin: 0 0 0 $alert-margin-size;
    padding: 0.4375rem 1.5rem;
    @include border($alert-border-width, solid, $alert-border-color, all);
  }

  &-icon {
    &-success {
      @include backgroundImage('#{$icon-folder-path}alert/icon_alert_success.svg', null, no-repeat, 0, $alert-margin-size, null); // 5px
    }
    &-info {
      @include backgroundImage('#{$icon-folder-path}alert/icon_alert_info.svg', null, no-repeat, 0, $alert-margin-size, null);    // 5px
    }
    &-warning {
      @include backgroundImage('#{$icon-folder-path}alert/icon_alert_warning.svg', null, no-repeat, 0, $alert-margin-size, null); // 5px
    }
    &-danger {
      @include backgroundImage('#{$icon-folder-path}alert/icon_alert_danger.svg', null, no-repeat, 0, $alert-margin-size, null);  // 5px
    }
    &-confirm {
      @include backgroundImage('#{$icon-folder-path}alert/icon_alert_confirm.svg', null, no-repeat, 0, $alert-margin-size, null); // 5px
    }
    &-email {
      @include backgroundImage('#{$icon-folder-path}alert/icon_alert_email.svg', null, no-repeat, 0, $alert-margin-size, null); // 5px
    }
  }
}

@media only screen and (max-width:53em) {
  .gmodal-dialog {
    width: auto;
    margin: 0 auto $alert-margin-size auto;  // 5px
    top: $alert-margin-size;                 // 5px
    right: $alert-margin-size;               // 5px
    left: $alert-margin-size;                // 5px
  }
}
@media only screen and (max-width:32em) {
  .gmodal-button {
    display: block;
    margin: 0.5em;
  }
}
