/* _buttons.scss
 *
 * 적용 규칙  (자세한 건 UX팀 정승녕 팀장님과 협의)
 * (1) 버튼 1개인 경우 : Secondary
 * (2) 버튼 2개인 경우 : Primary + Secondary 혹은 Primary + Extra (두번째 옵션의 중요도에 따라)
 * (3) 버튼 3개 이상인 경우 : Primary + (n * Secondary)
 * (4) 버튼 외에 폼 양식을 포함할 경우
 *  - (4-1) 제출 버튼 하나만 있을 경우 : Primary
 *  - (4-2) 제출 외의 옵션이 있는 경우: (2)번 혹은 (3)번과 동일
 * (5) 버튼 외에 클릭하는 옵션이 그 옵션을 클릭함으로써 버튼을 클릭하지 않아도 되는 (혹은 클릭하지 못하는) 상황이 되는 경우: Secondary (아마 이 경우에는 버튼이 하나 뿐일 겁니다.)
 *
 * 파일 경로 : template/_buttons.scss
 * @description 버튼 디자인
 * @author wdj
 * @version 1.0
 */

// <a class='z-button'></a>  or <button class='z-button'>
.z-button,
.z-button-icon {
  display: inline-block;
  font-family: $button-font-family;
  font-size: $button-font-size;
  font-weight: $button-font-weight;
  background-color: transparent;
  opacity: 1;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  user-select: none;
  white-space: nowrap;
  overflow:visible;
  cursor: pointer;
  @include border($button-border-width, solid, transparent, all);
  @include borderRadius($button-border-radius);
  padding: 0.4375rem 0.9375rem; // 7px 15px

  &:focus,
  &:hover {
    outline: 0;
  }
  &:disabled,
  &.disabled {
    cursor: default;
  }

  // 기본 테마별 버튼
  @each $theme, $value in $button-themes-default {
    &.#{$theme} {
      color: map-get($value, 'default', 'font');
      background-color: map-get($value, 'default', 'background');
      border-color: map-get($value, 'default', 'border');
      @if map-get($value, 'default', 'shadow') != null {
        box-shadow: map-get($value, 'default', 'shadow');
      }
      // 아이콘이 존재한다면
      .z-icon {
        display: inline-block;
        background: map-get($value, 'default', 'font');
        pointer-events: none;
      }

      &:focus {
        color: map-get($value, 'focus', 'font');
        background-color: map-get($value, 'focus', 'background');
        border-color: map-get($value, 'focus', 'border');
        @if map-get($value, 'focus', 'shadow') != null {
          box-shadow: map-get($value, 'focus', 'shadow');
        }
        .z-icon {
          background: map-get($value, 'focus', 'font');
        }
      }

      &:hover {
        color: map-get($value, 'hover', 'font');
        background-color: map-get($value, 'hover', 'background');
        border-color: map-get($value, 'hover', 'border');
        @if map-get($value, 'hover', 'shadow') != null {
          box-shadow: map-get($value, 'hover', 'shadow');
        }
        .z-icon {
          background: map-get($value, 'hover', 'font');
        }
      }

      &:enabled:active,
      &:enabled.active {
        color: map-get($value, 'active', 'font');
        background-color: map-get($value, 'active', 'background');
        border-color: map-get($value, 'active', 'border');
        @if map-get($value, 'active', 'shadow') != null {
          box-shadow: map-get($value, 'active', 'shadow');
        }
        .z-icon {
          background: map-get($value, 'active', 'font');
        }
      }

      &:disabled,
      &.disabled {
        color: map-get($value, 'disabled', 'font');
        background-color: map-get($value, 'disabled', 'background');
        border-color: map-get($value, 'disabled', 'border');
        @if map-get($value, 'disabled', 'shadow') != null {
          box-shadow: map-get($value, 'disabled', 'shadow');
        }
        .z-icon {
          background: map-get($value, 'disabled', 'font');
        }
      }
    }
  }

  // 어두운 배경에서 사용되는 버튼 테마
  @each $theme, $value in $button-themes-light {
    &.#{$theme} {
      color: map-get($value, 'default', 'font');
      background-color: map-get($value, 'default', 'background');
      border-color: map-get($value, 'default', 'border');
      @if map-get($value, 'default', 'shadow') != null {
        box-shadow: map-get($value, 'default', 'shadow');
      }
      // 아이콘이 존재한다면
      .z-icon {
        display: inline-block;
        background: map-get($value, 'default', 'font');
        pointer-events: none;
      }

      &:focus {
        color: map-get($value, 'focus', 'font');
        background-color: map-get($value, 'focus', 'background');
        border-color: map-get($value, 'focus', 'border');
        @if map-get($value, 'focus', 'shadow') != null {
          box-shadow: map-get($value, 'focus', 'shadow');
        }
        .z-icon {
          background: map-get($value, 'focus', 'font');
        }
      }

      &:hover {
        color: map-get($value, 'hover', 'font');
        background-color: map-get($value, 'hover', 'background');
        border-color: map-get($value, 'hover', 'border');
        @if map-get($value, 'hover', 'shadow') != null {
          box-shadow: map-get($value, 'hover', 'shadow');
        }
        .z-icon {
          background: map-get($value, 'hover', 'font');
        }
      }

      &:enabled:active,
      &:enabled.active {
        color: map-get($value, 'active', 'font');
        background-color: map-get($value, 'active', 'background');
        border-color: map-get($value, 'active', 'border');
        @if map-get($value, 'active', 'shadow') != null {
          box-shadow: map-get($value, 'active', 'shadow');
        }
        .z-icon {
          background: map-get($value, 'active', 'font');
        }
      }

      &:disabled,
      &.disabled {
        color: map-get($value, 'disabled', 'font');
        background-color: map-get($value, 'disabled', 'background');
        border-color: map-get($value, 'disabled', 'border');
        @if map-get($value, 'disabled', 'shadow') != null {
          box-shadow: map-get($value, 'disabled', 'shadow');
        }
        .z-icon {
          background: map-get($value, 'disabled', 'font');
        }
      }
    }
  }
}

.z-button-icon {
  padding: 0.25rem 0.3125rem; // 4px 5px (버튼 기본 너비 높이 : 36px 36px)
}

// 버튼 목록
.z-button-list {
  display: inline-flex;
  vertical-align: middle;
  position: relative;

  .z-button,
  .z-button-icon {
    &:not(:last-child) {
      margin-right: 0.5rem; // 8px
    }
  }
}

// button group
// (1) button switch group : 버튼 그룹 중 하나의 버튼만 선택
// (2) button toggle group : 버튼 그룹 각 버튼 토글 가능
.z-button-switch-group,
.z-button-toggle-group {
  display: inline-flex;
  flex-direction: row;
  vertical-align: middle;

  .z-button-switch,
  .z-button-toggle {
    flex: 1 1 auto;
    display: inline-block;
    font-family: $button-font-family;
    font-size: $button-font-size;
    font-weight: $button-font-weight;
    color: map-get($button-group, 'default', 'font');
    background-color: map-get($button-group, 'default', 'background');
    opacity: 1;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    user-select: none;
    white-space: nowrap;
    vertical-align: middle;
    overflow:visible;
    cursor: pointer;
    @include border($button-border-width, solid, map-get($button-group, 'default', 'border'), all);
    @include borderRadius($button-border-radius);
    @if map-get($button-group, 'default', 'shadow') != null {
      box-shadow: map-get($button-group, 'default', 'shadow');
    }
    padding: 0.25rem 0.6875rem; // 4px 11px

    // 아이콘이 존재한다면
    .z-icon {
      display: inline-block;
      background: map-get($button-group, 'default', 'font');
      pointer-events: none;
    }

    &:focus {
      outline: 0;
      color: map-get($button-group, 'focus', 'font');
      background-color: map-get($button-group, 'focus', 'background');
      border-color: map-get($button-group, 'focus', 'border');
      @if map-get($button-group, 'focus', 'shadow') != null {
        box-shadow: map-get($button-group, 'focus', 'shadow');
      }
      .z-icon {
        background: map-get($button-group, 'focus', 'font');
      }
    }

    &:hover {
      outline: 0;
      color: map-get($button-group, 'hover', 'font');
      background-color: map-get($button-group, 'hover', 'background');
      border-color: map-get($button-group, 'hover', 'border');
      @if map-get($button-group, 'hover', 'shadow') != null {
        box-shadow: map-get($button-group, 'hover', 'shadow');
      }
      .z-icon {
        background: map-get($button-group, 'hover', 'font');
      }
    }

    &:enabled:active,
    &:enabled.active {
      color: map-get($button-group, 'active', 'font');
      background-color: map-get($button-group, 'active', 'background');
      border-color: map-get($button-group, 'active', 'border');
      z-index: $z-index-event;
      @if map-get($button-group, 'active', 'shadow') != null {
        box-shadow: map-get($button-group, 'active', 'shadow');
      }
      .z-icon {
        background: map-get($button-group, 'active', 'font');
      }
    }
    // 선택된 경우
    &.selected:not(:disabled),
    &.selected:not(.disabled) {
      color: map-get($button-group, 'selected', 'font');
      background-color: map-get($button-group, 'selected', 'background');
      border-color: map-get($button-group, 'selected', 'border');
      z-index: $z-index-event;
      @if map-get($button-group, 'selected', 'shadow') != null {
        box-shadow: map-get($button-group, 'selected', 'shadow');
      }
      .z-icon {
        background: map-get($button-group, 'selected', 'font');
      }
    }

    &:disabled,
    &.disabled {
      color: map-get($button-group, 'disabled', 'font');
      background-color: map-get($button-group, 'disabled', 'background');
      border-color: map-get($button-group, 'disabled', 'border');
      cursor: default;
      @if map-get($button-group, 'disabled', 'shadow') != null {
        box-shadow: map-get($button-group, 'disabled', 'shadow');
      }
      .z-icon {
        background: map-get($button-group, 'disabled', 'font');
      }
    }
  }

  // 양 끝 테두리 둥글게
  .z-button-switch:not(:first-child),
  .z-button-toggle:not(:first-child) {
    margin-left: -$button-border-width;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .z-button-switch:not(:last-of-type),
  .z-button-toggle:not(:last-of-type) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  // vertical button toggle group
  &.vertical {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    .z-button-switch,
    .z-button-toggle {
      flex: 0 1 auto;
      @include borderRadius($button-border-radius); // 1px
      width: 100%;
    }
    // Prevent double borders when buttons are next to each other
    .z-button-switch:not(:first-child),
    .z-button-toggle:not(:first-child) {
      margin-left: 0;
      margin-top: -$button-border-width;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    .z-button-switch:not(:last-of-type),
    .z-button-toggle:not(:last-of-type) {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}
