/* _calendar.scss
 *
 * 파일 경로 : template/_calendar.scss
 * @description tui-calendar 라이브러리 재디자인
 * @author wdj
 * @version 1.0
 */

:root {
  --data-modal-width: 12;
  --data-modal-height: 2;
}

.calendar {
  margin: 30px 60px 0 60px;
  // 메뉴
  &__menu {
    display: grid;
    grid-template-columns: 385px auto 385px;
    column-gap: 8px;
    align-items: center;
    margin-bottom: 12px;
    // <> 버튼
    .calendar__move {
      @include borderRadius(50%);

      .i-arrow-right {
        background: $gray500;

        &:hover {
          background: $blue400;
        }
      }

      .move--prev {
        @include rotate(180);
      }
    }
    // 문구
    .calendar__render-range-text {
      font-weight: $font-weight-semibold;
    }
  }
  // 캘린더
  &__view {
    display: none;
    &.on {
      display: block;
    }
    // tui 캘린더
    .tui-full-calendar {
      //
      &-month {
        height: 780px;
      }
      // 월별 캘린더 제목
      &-month-dayname {
        @include border(1px, solid, $gray300, right);
        @include border(1px, solid, $gray300, left);
        &-name {
          color: $neutral600;
          font-weight: $font-weight-medium;
        }
      }

      // 월별 캘린더 Row
      &-month-week-item {
        @include border(1px, solid, $gray300, right);
        @include border(1px, solid, $gray300, left);
        &:last-of-type {
          @include border(2px, solid, $gray300, bottom);
        }
        .tui-full-calendar-weekday {
          &-grid {
            &-line {
              // 현재 달력이 아닌 경우
              &.tui-full-calendar-extra-date {
                background-color: $neutral50 !important; // 라이브러리 강제 적용
              }
              // 1 ~ 31일
              .tui-full-calendar-weekday-grid-header {
                .tui-full-calendar-weekday-grid-date {
                  font-weight: $font-weight-semibold;
                }
                // more 글자
                .tui-full-calendar-weekday-grid-more-schedules {
                  font-size: $font-size-xxs;
                  font-weight: $font-weight-medium;
                  color: $neutral600;
                }
              }

            }
          }
          &-schedules {
            // all day
            .tui-full-calendar-weekday-schedule-title {
              font-size: $font-size-xxs;
              font-weight: $font-weight-regular;
            }
            // 시간 타입
            .tui-full-calendar-weekday-schedule-time {
              color: $neutral800;
              &.prev {
                color: $neutral500;
              }
            }
          }
        }
        // 오늘 날짜
        .tui-full-calendar-today {
          .tui-full-calendar-weekday-grid-date-decorator {
            font-weight: $font-weight-semibold;
            background: transparent;
            color: inherit;
            @include borderRadius(0);
          }
        }
      }

      // 월별 캘린더 more 클릭시 호출되는 모달 상세 디자인
      &-month-more {
        width: 226px;
        min-width: 226px;
        margin: 40px 0 0 4px;
        // 제목
        &-title {
          text-align: center;
          // 요일
          .tui-full-calendar-month-more-title-day-label {
            display: inline-block;
            font-size: $font-size-xs;
            font-weight: $font-weight-medium;
            color: $neutral600;
            margin-bottom: 4px;
          }
          // 일
          .tui-full-calendar-month-more-title-day {
            font-size: $font-size-l;
            font-weight: $font-weight-semibold;
            color: $neutral800;
          }
        }
        // 목록
        &-list {
          @include border(1px, solid, $gray300, bottom);
        }
        // 버튼
        &-close {
          line-height: inherit;
          font-weight: $font-weight-semibold;
          padding: 0.625rem 0.875rem;
        }
      }

      // 주별 캘린더 제목
      &-dayname-container {
        @include border(1px, solid, $gray300, right);
        @include border(1px, solid, $gray300, left);
        overflow-y: hidden;

        .tui-full-calendar-dayname {
          line-height: inherit !important;

          .tui-full-calendar-dayname-date-area {
            display: flex;
            flex-direction: column;
            height: 100%;
            padding: 8px 0;

            // 요일
            .tui-full-calendar-dayname-name {
              font-size: $font-size-xs;
              font-weight: $font-weight-medium;
              color: $neutral600;
            }
            // 날짜
            .tui-full-calendar-dayname-date {
              font-size: $font-size-l;
              font-weight: $font-weight-semibold;
            }
          }
        }
      }

      // 주별 캘린더 내용
      &-vlayout-area {
        @include border(0.0625rem, solid, $gray300, right);

        .tui-full-calendar-daygrid-layout {
          @include border(0.0625rem, solid, $gray300, left);
        }

        .tui-full-calendar-weekday-grid,
        .tui-full-calendar-weekday-schedules,
        .tui-full-calendar-timegrid-container {
          &::-webkit-scrollbar {
            width: $scrollbar-thick;

            &-track {
              background-color: $scrollbar-bg-color;
            }
            &-thumb {
              background-color: $scrollbar-color;
              &:hover {
                background-color: $scrollbar-hover-color;
              }
              &:active {
                background-color: $scrollbar-hover-color;
              }
            }
            &-track,
            &-thumb {
              @include borderRadius($scrollbar-border-radius);
            }
          }
          // firefox
          scrollbar-width: thin;
          scrollbar-color: $scrollbar-color $scrollbar-bg-color;
        }

        // 종일 일정
        .tui-full-calendar-center-content {
          display: table-cell;
          vertical-align: middle;
          text-align: center;
          font-size: $font-size-xs;
          font-weight: $font-weight-medium;
          color: $neutral600;
        }
        .tui-full-calendar-weekday-schedule {
          margin: 0 10px 0 10px;
          // all day
          .tui-full-calendar-weekday-schedule-title {
            font-size: $font-size-xxs;
            font-weight: $font-weight-regular;
          }
        }
        // 시간 일정
        .tui-full-calendar-time-schedule {
          font-size: $font-size-xxs;
          font-weight: $font-weight-regular;
        }

        .tui-full-calendar-timegrid-container {

        }
      }

      // 시간 영역
      &-timegrid-container {
        .tui-full-calendar-timegrid-timezone {
          @include border(0.0625rem, solid, $gray300, left);
          @include border(0.0625rem, solid, $gray300, bottom);
          // 시간
          .tui-full-calendar-timegrid-hour {
            span {
              text-align: center;
              font-size: $font-size-xs;
              font-weight: $font-weight-medium;
              color: $neutral600;
            }
          }

          // 현재시간
          .tui-full-calendar-timegrid-hourmarker-time {
            text-align: center;
            padding-right: 10px;
            //font-size: $font-size-xs;
            //font-weight: $font-weight-medium;
            //color: $orange400;
          }
        }
        .tui-full-calendar-timegrid-right {
          @include border(0.0625rem, solid, $gray300, bottom);
        }
      }

    }
    // 일별 보기
    .tui-full-calendar-time-date-schedule-block-wrap {
      margin-left: 10px;
    }

    // 일정보기
    .calendar__rowGroup {
      display: grid;
      grid-template-rows: minmax(49px, auto);
      grid-template-columns: 15% 85%;
      @include border(0.0625rem, solid, $gray300, bottom);

      .calendar__rowHead {
        .calendar__day {

        }
        .calendar__weekDay {

        }
      }
      .calendar__row {
        display: grid;
        row-gap: 8px;
        padding: 8px 0;

        .calendar__cell {
          display: grid;
          grid-template-columns: 15px 160px auto;
          grid-template-rows: 49px;
          column-gap: 8px;
          padding: 0 8px;
          @include borderRadius(45px);
          cursor: pointer;
          &:hover { background-color: $neutral200; }
        }
      }
    }
  }
  // 동그라미 아이콘
  &__color--round {
    flex-shrink: 0;
    @include borderRadius(50%);
    width: 0.9375rem; // 15px
    height: 0.9375rem; // 15px
  }
}

// 모달
.modal-dialog {
  &.calendar {
    --data-modal-width: 0;
    --data-modal-height: 0;

    &__modal--register {
      width: calc(var(--data-modal-width) * 1px);
      height: calc(var(--data-modal-height) * 1px);
      margin: 0;
      @include border(3px, solid, $blue600, top);

      .modal-content {
        height: calc(var(--data-modal-height) * 1px - 60px);
        padding: 20px 20px 0px 20px;
        @include scrollbarHidden;
        @include border(1px, solid, $gray300, bottom);

        .calendar__modal--register__main {
          gap: 8px;

          .flex-row {
            gap: 5px;
          }
          .schedule {
            // 제목
            &__title {
              height: 48px;
              font-size: $font-size-l;
              font-weight: $font-weight-semibold;
            }
            // 날짜
            &__date {
              width: 195px;
            }
            // 내용
            &__contents {
              line-height: 1.4;
            }
            // 반복
            &__repeat {
              width: 338px;
            }
          }
        }
      }

      .modal-bottom {
        height: 60px;
        padding: 0.75rem 1.25rem; // 12px 20px
      }
    }
    &__modal--repeat {
      width: 430px;
      margin: 0;
      .modal-content {
        padding: 20px 20px 0px 20px;
        @include scrollbarHidden;

        .calendar__modal--repeat__main {
          gap: 8px;
        }
      }
    }
    &__modal--detail {
      width: calc(var(--data-modal-width) * 1px);
      height: calc(var(--data-modal-height) * 1px);
      margin: 0;
      @include border(3px, solid, $blue600, top);

      .modal-content {
        height: calc(var(--data-modal-height) * 1px - 60px);
        padding: 20px 20px 0px 20px;
        @include scrollbarHidden;
        @include border(1px, solid, $gray300, bottom);

        .calendar__modal--detail__main {
          gap: 8px;

          .flex-row {
            gap: 8px;
          }
          .flex-column {
            gap: 16px;
          }

          .z-button-list {
            margin-left: auto;
          }

          .schedule {
            // 제목
            &__title {
              font-size: $font-size-l;
              font-weight: $font-weight-semibold;
              color: $neutral800;
            }
            // 날짜
            &__date {
              font-size: $font-size-xs;
              font-weight: $font-weight-medium;
              color: $neutral600;
            }
            // 내용
            &__contents {
              font-size: $font-size-xs;
              font-weight: $font-weight-medium;
              color: $neutral800;
            }
            // 반복
            &__repeat {
              font-size: $font-size-xs;
              font-weight: $font-weight-medium;
              color: $neutral800;
            }
            // 작성자
            &__owner {
              font-size: $font-size-xxs;
              font-weight: $font-weight-medium;
              color: $neutral600;
            }
          }
        }
      }

      .modal-bottom {
        height: 60px;
        padding: 0.75rem 1.25rem; // 12px 20px
      }
    }
  }
}