/* _color-picker.scss 
 *
 * 파일 경로 : template/_color-picker.scss
 * @description 컬러 피커 디자인
 * @author jy.lim
 * @version 1.0
 */
.color-picker {
  display: flex;
  flex-direction: column;
  // input box
  .color-input {
    display: inline-flex;
    .selected-color {
      width: $color-picker-color-size;
      height: $color-picker-color-size;
      margin: $color-picker-margin;
      @include border(0.1875rem, solid, transparent, all); // 3px
      cursor: pointer;
      &-box {
        display: flex;
        width: $color-picker-box-size;
        height: $color-picker-box-size;
        margin-right: $color-picker-margin;
        @include border(0.0625rem, solid, map-get($grays, 'line'), all); // 1px
        &:hover {
          border-color: $blue;
        }
      }
    }
  }
  // color palette
  .color-palette {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: $color-picker-palette-width;
    padding: $color-picker-palette-padding;
    margin-top: $color-picker-margin;
    @include border(0.0625rem, solid, map-get($grays, 'line'), all); // 1px
    background-color: $white;
    // 컬러 팔레트 내부의 색상표 박스 디자인
    & div {
      display: inline-block;
      width: $color-picker-colorchip-size;
      height: $color-picker-colorchip-size;
      margin-right: $color-picker-palette-margin;
      margin-bottom: $color-picker-palette-margin;
      cursor: pointer;

      &.selected {
        @include border($color-picker-colorchip-border-width, solid, $color-picker-colorchip-border-color, all);
        outline: 0.0625rem solid $blue;
      }

      &:last-child {
        border-color: map-get($grays, 'line');
      }
    }
  }
  // opacity palette
  .color-palette-opacity {
    display: none;
    width: 100%;
    height: 2.5rem; // 40px
    padding-left: 0.219rem; // 3.5px
    @include border(0.0625rem, solid, map-get($grays, 'line'), all, top); // 1px
    background-color: $white;

    span {
      display: table-cell;
      height: 3rem; // 48px
      vertical-align: middle;

      input {
        &[type=range] {
          &::-webkit-slider-thumb {
            -webkit-appearance: none;
            @include thumb(0.625rem, 0.625rem, 0.0625rem solid #c8ced8, 50%, $white); // 10px 10px 1px
          }

          &::-moz-range-thumb {
            @include thumb(0.625rem, 0.625rem, 0.0625rem solid #c8ced8, 50%, $white); // 10px 10px 1px
          }

          &::-moz-range-progress {
            background-color: $blue;
            height: 0.0625rem; // 1px
          }
        }

        &.slide-object {
          width: 9.125rem;   // 146px
          height: 0.0625rem; // 1px
          background: #c8ced8;
          border: initial;
          padding: initial;
          margin: 0 0.594rem 0 0.625rem; // 0 9.5px 0 10px
          outline: none;
        }
        &.slide-input {
          width: 3rem !important; // 48px
          height: 2rem; // 32px
          text-align: center;
          vertical-align: middle;
        }
      }

      label {
        width: 0.813rem; // 13px
        height: 1.25rem; // 20px
        line-height: 1.25rem; // 20px
        margin: 0 0 0 0.25rem; // 4px
        vertical-align: middle;
      }
    }
  }
}

.#{$common-prefix}color-palette-wrapper {
  width: 7.5rem; // 120px
  padding: 0.3125rem; // 5px
  @include border(0.0625rem, solid, $gray300, all); // 1px
  @include borderRadius(0.125rem); // 2px
  cursor: pointer;
  outline: none;

  .#{$common-prefix}color-input {
    display: none;
  }

  .#{$common-prefix}color-box {
    display: inline-block;
    width: 4.75rem; // 76px
    height: 1.5rem; // 24px
    @include border(0.25rem, solid, transparent, all); // 4px
  }
  .#{$common-prefix}icon {
    &.i-color-palette {
      background: $gray500;
      pointer-events: none;
    }
  }
}

.#{$common-prefix}palette-modal {
  display: none;
  @include fixed();
  min-width: 23.375rem; // 374px
  z-index: $z-index-modal;
  // modal open
  &.active {
    display: block;
    z-index: $z-index-modal;
  }
}