//브랜드 컬러
$brand-color-brainz: #0066FF;
$brand-color-zenius: #FF850A;

//심각도 팔레트
$normal-00: #54cd3e;
$info-10: #06deff;
$caution-20: #ffc439;
$danger-30: #ff9130;
$urgent-40: #c54ce8;
$critical-50: #f43b51;


//브랜드 컬러
$brand-color: (
  "brainz": #0066FF,
  "zenius": #FF850A
);

//심각도 컬러
$alert-color: (
  "normal": #54cd3e,
  "info": #06deff,
  "caution": #ffc439,
  "danger": #ff9130,
  "urgent": #c54ce8,
  "critical": #f43b51
);

//Blue
$blue900: #092C73;
$blue800: #103F8B;
$blue700: #1959AC;
$blue600: #2578CE;
$blue500: #339AF0;
$blue400: #64BBF6;
$blue300: #84D1FA;
$blue200: #ADE6FD;
$blue100: #E3F5FC;
$blue50: #F1F9FC;
$blue950: #fff;

//Green
$green900: #235A07;
$green800: #316D0C;
$green700: #468813;
$green600: #5CA21B;
$green500: #76BD26;
$green400: #A0D756;
$green300: #C0EB7A;
$green200: #DBF8A9;
$green100: #F6FCE0;
$green50: #F8FDF1;
$green950: #fff;

//Yellow
$yellow900: #776308;
$yellow800: #907A0E;
$yellow700: #B39A16;
$yellow600: #D7BC20;
$yellow500: #FADF2D;
$yellow400: #FBE961;
$yellow300: #FDF080;
$yellow200: #FEF6AB;
$yellow100: #FEFBD4;
$yellow50: #FEFDEB;
$yellow950: #fff;

//Orange
$orange900: #7A2601;
$orange800: #933603;
$orange700: #B74C05;
$orange600: #DB6707;
$orange500: #FF850A;
$orange400: #FFAC47;
$orange300: #FFC46C;
$orange200: #FFDC9C;
$orange100: #FFEDD1;
$orange50: #FFF8E9;
$orange950: #fff;

//Red
$red900: #75072D;
$red800: #8E0B2D;
$red700: #B0122D;
$red600: #D21B2A;
$red500: #F52525;
$red400: #F9685A;
$red300: #FC917B;
$red200: #FEBEA7;
$red100: #FEE2D3;
$red50: #FEF2EB;
$red950: #fff;

//Violet
$violet900: #301270;
$violet800: #451D88;
$violet700: #632FA9;
$violet600: #8444CA;
$violet500: #A95EEB;
$violet400: #C585F3;
$violet300: #D89FF9;
$violet200: #EAC0FD;
$violet100: #F6DFFE;
$violet50: #FBF0FE;
$violet950: #fff;

//Gray
$gray900: #171D21;
$gray800: #222529;
$gray700: #505559;
$gray600: #63686C;
$gray500: #8B9094;
$gray400: #ABB0B5;
$gray300: #CFD5D9;
$gray200: #E1E6EA;
$gray100: #EBF1F5;
$gray50: #F6F8FA;
$gray950: #fff;

//Neutral Gray
$neutral900: #212121;
$neutral800: #424242;
$neutral700: #616161;
$neutral600: #757575;
$neutral500: #9E9E9E;
$neutral400: #BDBDBD;
$neutral300: #E0E0E0;
$neutral200: #EEEEEE;
$neutral100: #F5F5F5;
$neutral50: #FAFAFA;
$neutral950: #fff;

//Black
$black: #000000;

//White
$white: #FFFFFF;

//Pink
$pink900: #731376;
$pink800: #8F1F87;
$pink700: #B1319C;
$pink600: #D448AF;
$pink500: #F763C1;
$pink400: #FA89C6;
$pink300: #FCA1C9;
$pink200: #FEC1D5;
$pink100: #FEE0E7;
$pink50: #FEF1F4;

//Cyan
$cyan900: #0C446B;
$cyan800: #155E81;
$cyan700: #2181A1;
$cyan600: #30A8C0;
$cyan500: #47D1DE;
$cyan400: #67DDE0;
$cyan300: #91EBEB;
$cyan200: #B8F5F3;
$cyan100: #DCFAFA;
$cyan50: #E8F9FA;

//Indigo
$indigo900: #131F76;
$indigo800: #21308F;
$indigo700: #3448B1;
$indigo600: #4C64D4;
$indigo500: #6885F7;
$indigo400: #8DA5FA;
$indigo300: #A4BAFC;
$indigo200: #C3D2FE;
$indigo100: #E1E9FE;
$indigo50: #F1F5FE;