/* _date-picker.scss 
 *
 * 파일 경로 : template/_date-picker.scss
 * @description Date/Time picker 관련 디자인
 * @author wdj
 * @version 1.0
 */
// input box
.#{$common-prefix}picker-wrapper-date {
  display: inline-block;
}
// modal
.#{$common-prefix}picker-modal {
  display: none;
  @include fixed();
  min-width: 12.5rem; // 200px
  font-family: $datepicker-font-family;
  font-size: $datepicker-font-size;
  font-weight: $datepicker-font-weight;
  line-height: $datepicker-line-height;
  color: $datepicker-font-color;
  background-color: $datepicker-bg-color;
  @include border($datepicker-border-width, solid, $datepicker-border-color, all);
  @include borderRadius(0.0625rem); // 1px
  @include boxShadow(0, 0, 0.3125rem, 0, $datepicker-border-color);
  text-align: center;
  z-index: $z-index-modal;
  // modal open
  &.active { 
    display: block; 
    z-index: $z-index-modal;
  }
  // modal title
  &-title {
    font-size: $datepicker-title-font-size;
    font-weight: $datepicker-title-font-weight;
    color: $datepicker-title-font-color;
    @include border($datepicker-border-width, solid, $datepicker-border-color, bottom);
    padding: 0.75rem 0; // 12px 0

    .z-icon-close {
      @include absolute($top: 1rem, $right: 0.9375rem); // 16px 15px
      display: inline-block;
      cursor: pointer;
      @include maskImage('#{$icon-folder-path}icon_clear.svg', 0.625rem, 0.625rem, no-repeat, center, null, $datepicker-icon-color); // 10px 10px
      // mouse over
      &:hover {
        background: $datepicker-hover-color;
      }
    }
  }
  // YYYY-MM-DD HH:MM 표시
  &-sub-title {
    font-size: $datepicker-sub-title-font-size;
    font-weight: $datepicker-sub-title-font-weight;
    color: $datepicker-sub-title-font-color;
    background-color: $datepicker-sub-title-bg-color;
    @include border($datepicker-border-width, solid, $datepicker-border-color, bottom);
    padding: 0.625rem 0; // 10px 0
  }

  &-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    //flex-wrap: wrap;
    @include border($datepicker-border-width, solid, $datepicker-border-color, bottom);
    padding: 1rem 0 1rem 0; // 16px 0 16px 0
    
    &-date {
      display: none;
      width: 19rem; // 304px

      &.active {
        display: inline-block;

        + div.active {
          height: 16.5rem; // 264px
          @include border($datepicker-border-width, solid, $datepicker-border-color, left);
        }
      }
      // < month >
      &-months {
        display: table;
        height: 1.563rem; // 25px
        margin: 0 2.813rem; // 0 45px

        img { vertical-align: middle; }

        .date-prev {
          display: table-cell;
          cursor: pointer;
          @include maskImage('#{$icon-folder-path}icon_arrow_left.svg', 0.625rem, 1.563rem, no-repeat, center, null, $datepicker-icon-color); // 6px 10px

          &:hover {
            background: $datepicker-hover-color;
          }
        }

        .date-text {
          display: table-cell;
          width: 16.5rem; // 264px
          margin: 0;
          padding: 0;
          font-size: $datepicker-calendar-month-font-size;
          font-weight: $datepicker-calendar-month-font-weight;
          color: $datepicker-calendar-month-font-color;
          vertical-align: middle;
        }

        .date-next {
          display: table-cell;
          cursor: pointer;
          @include maskImage('#{$icon-folder-path}icon_arrow_right.svg', 0.625rem, 1.563rem, no-repeat, center, null, $datepicker-icon-color); // 6px 10px

          &:hover {
            background: $datepicker-hover-color;
          }
        }
      }
      // calendar
      &-calendar {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0.9375rem 0.9375rem 0 0.9375rem; // 15px 15px 0 15px
        color: $datepicker-cell-font-color; // 전월, 이월

        .calendar-cell {
          display: inline-block;
          width: 1.5rem; // 24px
          height: 1.5rem; // 24px
          line-height: 1.7;
          padding: 0;
          margin: 0.25rem 0.4375rem; // 4px 7px
          text-align: center;

          &.calendar-title {
            color: $datepicker-calendar-title-font-color;
            pointer-events: none;
          }

          &:not(.calendar-title) {
            @include border(0.0625rem, solid, $element-bg-color);
            @include borderRadius(50%);
            cursor: pointer;
            &:hover {
              border-color: $datepicker-hover-cell-color;
              background-color: $datepicker-hover-cell-color;
            }
            &:active {
              border-color: $datepicker-active-cell-color;
              @include boxShadow(0, 0, 0.125rem, 0, $datepicker-active-cell-color);
            }
          }

          &.active { // 현재 월
            color: $datepicker-current-cell-font-color;
          }

          &.selected {
            @include border(0.0625rem, solid, $datepicker-selected-cell-color);
            @include borderRadius(50%);
            color: $datepicker-selected-cell-color;
            background-color: $datepicker-selected-cell-bg-color;
          }
        }
      }
    }

    &-time {
      display: none;
      width: 12.5rem; // 200px
      height: 7.375rem; // 118px
      justify-content: center;

      &.active { display: flex; }

      .hour-group,
      .minute-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        .arrow-up {
          display: inline-block;
          margin: 0;
          cursor: pointer;
          @include maskImage('#{$icon-folder-path}icon_arrow_up.svg', 0.625rem, 0.375rem, no-repeat, center, null, $datepicker-icon-color); // 10px, 6px

          &:hover {
            background: $datepicker-hover-color;
          }
        }

        .arrow-down {
          display: inline-block;
          margin: 0;
          cursor: pointer;
          @include maskImage('#{$icon-folder-path}icon_arrow_bottom.svg', 0.625rem, 0.375rem, no-repeat, center, null, $datepicker-icon-color); // 10px, 6px

          &:hover {
            background: $datepicker-hover-color;
          }
        }

        .digit {
          width: 3.75rem !important; // 60px
          height: 3.5rem; // 56px
          @include border($datepicker-border-width, solid, $datepicker-border-color);
          @include borderRadius(0.125rem);
          padding: 0;
          margin: 0.8125rem 0; // 13px
          font-size: $datepicker-time-font-size;
          font-weight: $datepicker-time-font-weight;
          color: $datepicker-time-font-color;
          text-align: center;

          &:hover {
            border-color: $datepicker-hover-color;
          }

          &:focus {
            border-color: $datepicker-focus-color;
            @include boxShadow(0, 0, 0.125rem, 0, $datepicker-focus-color);
          }
        }
      }
      // AM, PM
      .btn-vertical {
        padding-left: 0.625rem; // 10px

        button {
          width: 3.75rem; // 60px
          height: 1.875rem; // 30px
          @include borderRadius(0.0625rem);
          padding: 4px 14px;
        }
      }
       // 구분자 :
      .separator { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 2rem; // 32px
        font-size: $datepicker-time-font-size;
        font-weight: $datepicker-time-font-weight;
        color: $datepicker-time-font-color;
      }
    }
  }
  // 버튼 
  &-button {
    float: right;
    margin: 0.75rem 0.6875rem 0.75rem 0; // 12px 11px 12px 0
  }
}