/* _date-picker.scss 
 *
 * 파일 경로 : template/_date-picker.scss
 * @description Date/Time picker 관련 디자인
 * @author wdj
 * @version 1.0
 */
// input box
.picker-wrapper-date {
  display: inline-block;
}
// modal
.picker-modal {
  display: none;
  @include fixed();
  min-width: 23.375rem; // 374px
  font-family: inherit;
  font-size: $datepicker-font-size;
  font-weight: $datepicker-font-weight;
  line-height: $datepicker-line-height;
  color: $datepicker-font-color;
  background-color: $datepicker-bg-color;
  @include border($datepicker-border-width, solid, $datepicker-border-color, all);
  @include borderRadius(0.0625rem); // 1px
  @include boxShadow(0, 0, 0.3125rem, 0, map-get($grays, 'line'));
  text-align: center;
  z-index: $z-index-modal;
  // modal open
  &.active { 
    display: block; 
    z-index: $z-index-modal;
  }
  // modal title
  &-title {
    font-size: $datepicker-title-font-size;
    font-weight: $datepicker-title-font-weight;
    color: $datepicker-title-font-color;
    @include border($datepicker-border-width, solid, $datepicker-border-color, bottom);
    padding: 1.125rem 0; // 17px 0

    .icon-close {
      @include absolute($right: 1.25rem); // 20px
      display: inline-block;
      cursor: pointer;
      @include maskImage('#{$icon-folder-path}icon_clear.svg', 0.875rem, 0.875rem, no-repeat, center, null, $datepicker-icon-color); // 14px 14px
      // mouse over
      &:hover {
        background: $datepicker-hover-color;
      }
    }
  }
  // YYYY-MM-DD HH:MM 표시
  &-sub-title {
    font-size: $datepicker-sub-title-font-size;
    font-weight: $datepicker-sub-title-font-weight;
    color: $datepicker-sub-title-font-color;
    background-color: $datepicker-sub-title-bg-color;
    @include border($datepicker-border-width, solid, $datepicker-border-color, bottom);
    padding: 0.625rem 0; // 10px 0
  }

  &-content {
    display: flex;
    justify-content: center;
    @include border($datepicker-border-width, solid, $datepicker-border-color, bottom);
    padding: 1.25rem 0 0.9375rem 0; // 20px 0 15px 0
    
    &-date {
      display: none;
      width: 23.375rem; // 374px

      &.active {
        display: inline-block;

        + div.active {
          @include border($datepicker-border-width, solid, $datepicker-border-color, left);
        }
      }
      // < month >
      &-months {
        display: table;
        height: 1.563rem; // 25px
        margin: 0 2.813rem; // 0 45px

        img { vertical-align: middle; }

        .date-prev {
          display: table-cell;
          cursor: pointer;
          @include maskImage('#{$icon-folder-path}icon_arrow_left.svg', 0.625rem, 1.563rem, no-repeat, center, null, map-get($grays, "dark")); // 너비 10px 높이 25px 아이콘 크기 10px 6px
        }

        .date-text {
          display: table-cell;
          width: 16.5rem; // 264px
          margin: 0;
          padding: 0;
          vertical-align: middle;
        }

        .date-next {
          display: table-cell;
          cursor: pointer;
          @include maskImage('#{$icon-folder-path}icon_arrow_right.svg', 0.625rem, 1.563rem, no-repeat, center, null, map-get($grays, "dark")); // 너비 10px 높이 25px 아이콘 크기 10px 6px
        }
      }
      // calendar
      &-calendar {
        color: $datepicker-cell-font-color; // 전월, 이월
        padding: 0.625rem 1.5rem 0 1.5rem; // 10px 24px 0 24px

        .calendar-cell {
          display: inline-block;
          width: 1.875rem; // 30px
          height: 1.875rem; // 30px
          line-height: 1.75rem; // 28px
          padding: 0;
          margin: 0.25rem 0.4375rem; // 4px 7px
          text-align: center;

          &.calendar-title { pointer-events: none; }

          &:not(.calendar-title) { cursor: pointer; }

          &.active { // 현재 월
            color: $datepicker-current-cell-font-color;
          }

          &.selected {
            color: $datepicker-selected-cell-font-color;
            background-color: $datepicker-selected-cell-bg-color;
            @include borderRadius(50%);
          }
        }
      }
    }

    &-time {
      display: none;
      width: 23.375rem; // 374px
      justify-content: center;
      padding: 1.188rem 2.25rem; // 19px 36px

      &.active { display: flex; }

      .hour-group,
      .minute-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        .arrow-up {
          display: inline-block;
          margin: 0;
          cursor: pointer;
          @include maskImage('#{$icon-folder-path}icon_triangle_up.svg', 1.125rem, 0.625rem, no-repeat, center, null, $datepicker-icon-color); // 18px, 10px

          &:hover {
            background: $datepicker-hover-color;
          }
        }

        .arrow-down {
          display: inline-block;
          margin: 0;
          cursor: pointer;
          @include maskImage('#{$icon-folder-path}icon_triangle_down.svg', 1.125rem, 0.625rem, no-repeat, center, null, $datepicker-icon-color); // 18px, 10px

          &:hover {
            background: $datepicker-hover-color;
          }
        }

        .digit {
          width: 3.75rem !important; // 60px
          height: 3.75rem; // 60px
          font-size: $datepicker-time-font-size;
          font-weight: $datepicker-time-font-weight;
          color: $datepicker-time-font-color;
          text-align: center;
          padding: 0;
          margin: 2.1875rem 0; // 25px

          &:focus {
            outline: none;
            @include border($datepicker-focus-border-width, solid, $datepicker-focus-border-color, all);
          }
        }
      }
      // AM, PM
      .btn-vertical {
        padding-left: 0.625rem; // 10px

        button {
          width: 3.75rem; // 60px
          height: 1.875rem; // 30px
          @include borderRadius(0.0625rem);
          padding: 4px 14px;
        }
      }
       // 구분자 :
      .separator { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 2.5rem; // 40px
        font-size: $datepicker-time-font-size;
        font-weight: $datepicker-time-font-weight;
        color: $datepicker-time-font-color;
      }
    }
  }
  // 버튼 
  &-button {
    float: right;
    margin: 1.25rem 1.25rem 1.25rem 0; // 20px 20px 20px 0
  }
}