/* _date-picker.scss 
 *
 * 파일 경로 : template/_date-picker.scss
 * @description Date/Time picker 관련 디자인
 * @author wdj
 * @version 1.0
 */
// input box
.z-picker-wrapper-date {
  display: inline-block;
  .picker-main {
    padding-right: 2.25rem;
  }
}
// modal
.z-picker-modal {
  display: none;
  @include fixed();
  min-width: 12.5rem; // 200px
  font-family: $datepicker-font-family;
  font-size: $datepicker-font-size;
  font-weight: $datepicker-font-weight;
  line-height: $datepicker-line-height;
  color: $datepicker-font-color;
  background-color: $datepicker-bg-color;
  @include border($datepicker-border-width, solid, $datepicker-border-color, all);
  @include borderRadius(0.0625rem); // 1px
  @include boxShadow(0, 0, 0.3125rem, 0, $datepicker-border-color);
  text-align: center;
  z-index: $z-index-modal;
  // modal open
  &.active { 
    display: block; 
    z-index: $z-index-modal;
  }
  // modal title
  &-title {
    font-size: $datepicker-title-font-size;
    font-weight: $datepicker-title-font-weight;
    color: $datepicker-title-font-color;
    @include border($datepicker-border-width, solid, $datepicker-border-color, bottom);
    padding: 0.75rem 0; // 12px 0

    .z-icon {
      &.i-clear {
        @include absolute($top: 0.5rem, $right: 0.5rem); // 8px 8px
        background: $datepicker-icon-color;
        cursor: pointer;
        // mouse over
        &:hover {
          background: $datepicker-hover-color;
        }
      }
    }
  }
  // YYYY-MM-DD HH:MM 표시
  &-sub-title {
    font-size: $datepicker-sub-title-font-size;
    font-weight: $datepicker-sub-title-font-weight;
    color: $datepicker-sub-title-font-color;
    background-color: $datepicker-sub-title-bg-color;
    @include border($datepicker-border-width, solid, $datepicker-border-color, bottom);
    padding: 0.625rem 0; // 10px 0
  }

  &-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    //flex-wrap: wrap;
    @include border($datepicker-border-width, solid, $datepicker-border-color, bottom);
    
    &-date {
      display: none;
      width: 19rem; // 304px
      padding: 1rem 0 1rem 0; // 16px 0 16px 0

      &.active {
        display: inline-block;

        + div.active {
          height: 18.5rem; // 296px
          @include border($datepicker-border-width, solid, $datepicker-border-color, left);
        }
      }
      // < month >
      &-months {
        display: table;
        height: 1.563rem; // 25px
        margin: 0 2.813rem; // 0 45px

        img { vertical-align: middle; }

        .z-icon {
          &.i-arrow-right {
            display: table-cell;
            cursor: pointer;
            background: $datepicker-icon-color;

            &:hover {
              background: $datepicker-hover-color;
            }
          }
          &.z-date-prev {
            @include rotate(180);
          }
        }

        .date-text {
          display: table-cell;
          width: 16.5rem; // 264px
          margin: 0;
          padding: 0;
          font-size: $datepicker-calendar-month-font-size;
          font-weight: $datepicker-calendar-month-font-weight;
          color: $datepicker-calendar-month-font-color;
          vertical-align: middle;
        }
      }
      // calendar
      &-calendar {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0.9375rem 0.9375rem 0 0.9375rem; // 15px 15px 0 15px
        color: $datepicker-cell-font-color; // 전월, 이월

        .calendar-cell {
          display: inline-block;
          width: 1.5rem; // 24px
          height: 1.5rem; // 24px
          line-height: 1.7;
          padding: 0;
          margin: 0.25rem 0.4375rem; // 4px 7px
          text-align: center;

          &.calendar-title {
            color: $datepicker-calendar-title-font-color;
            pointer-events: none;
          }

          &:not(.calendar-title) {
            @include border(0.0625rem, solid, $element-bg-color);
            @include borderRadius(50%);
            cursor: pointer;
            &:hover {
              border-color: $datepicker-hover-cell-color;
              background-color: $datepicker-hover-cell-color;
            }
            &:active {
              border-color: $datepicker-active-cell-color;
              @include boxShadow(0, 0, 0.125rem, 0, $datepicker-active-cell-color);
            }
          }

          &.active { // 현재 월
            color: $datepicker-current-cell-font-color;
          }

          &.selected {
            @include border(0.0625rem, solid, $datepicker-selected-cell-color);
            @include borderRadius(50%);
            color: $datepicker-selected-cell-color;
            background-color: $datepicker-selected-cell-bg-color;
          }
        }
      }
    }

    &-time {
      display: none;
      width: 14.6875rem; // 235px
      min-height: 7.375rem; // 118px
      padding: 1rem 0 1rem 0; // 16px 0 16px 0
      justify-content: center;

      &.active { display: flex; }

      .hour-group,
      .minute-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .z-icon {
          &.i-arrow-right {
            margin: 0;
            cursor: pointer;
            background: $datepicker-icon-color;
            &:hover {
              background: $datepicker-hover-color;
            }
          }

          &.z-hour-up,
          &.z-minute-up {
            @include rotate(-90);
          }

          &.z-hour-down,
          &.z-minute-down {
            @include rotate(90);
          }
        }

        .digit {
          width: 3.75rem !important; // 60px
          height: 3.5rem; // 56px
          @include border($datepicker-border-width, solid, $datepicker-border-color);
          @include borderRadius(0.125rem);
          padding: 0;
          margin: 0.8125rem 0; // 13px
          font-size: $datepicker-time-font-size;
          font-weight: $datepicker-time-font-weight;
          color: $datepicker-time-font-color;
          text-align: center;
          &:hover,
          &:focus,
          &:active {
            outline: 0;
          }
        }
      }
      .hour-group > .digit {
        @include border($element-border-width, solid, transparent, right);
        @include borderRadius($datepicker-border-radius 0 0 $datepicker-border-radius);
      }
      .minute-group > .digit {
        @include border($element-border-width, solid, transparent, left);
        @include borderRadius(0 $datepicker-border-radius $datepicker-border-radius 0);
      }
      // AM, PM
      .z-button-toggle-group {
        padding-left: 0.5rem; // 8px
      }

      // 구분자 :
      .separator { 
        display: flex;
        flex-direction: column;
        width: 0.375rem; // 6px
        height: 3.5rem; // 56px
        margin: auto 0;
        @include border($element-border-width, solid, $element-border-color, top);
        @include border($element-border-width, solid, $element-border-color, bottom);
        justify-content: center;
        align-items: center;
        font-size: $datepicker-time-font-size;
        font-weight: $datepicker-time-font-weight;
        color: $datepicker-time-font-color;
      }
    }
  }
  // 버튼 : .z-itsm-container 하위 요소와 충돌하지 않도록 !important 설정
  &-button {
    float: right;
    margin: 0.75rem 0.6875rem 0.75rem 0 !important; // 12px 11px 12px 0
  }
}