/* _elements.scss
 *
 * 파일 경로 : template/_elements.scss
 * @description HTML element 디자인
 * @author wdj
 * @version 1.0
 */

// 기본 글꼴 설정.
// 모바일 기기 회전시에 사용자가 확대하지 않아도 글씨 크기가 재조정되는 것을 예방.
body {
  font-family: $font-family-m;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

// headings
h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-font-color;
}

h1 {
  font-size: $h1-font-size;
  font-weight: $font-weight-bold;
}
h2 {
  font-size: $h2-font-size;
}
h3 {
  font-size: $h3-font-size;
}
h4 {
  font-size: $h4-font-size;
}
h5 {
  font-size: $h5-font-size;
}
h6 {
  font-family: 'Malgun Gothic'; // h6 만 기본 값이 맑은 고딕.
  font-size: $h6-font-size;
}
// a
a { cursor: pointer; }
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

// textarea
textarea:not(.#{$common-prefix}textarea) {
  font-family: inherit;
  font-size: $element-font-size;
  font-weight: $element-font-weight;
  line-height: $element-line-height;
  color: $element-font-color;
  background-color: $element-bg-color;
  @include border($element-border-width, solid, $element-border-color, all);
  @include borderRadius(0.0625rem); // 1px
  padding: 0.5rem $element-indent 0.5rem $element-indent; // 들여쓰기 8px 10px 8px 10px
  resize: vertical;

  &::placeholder {
    color: $element-placeholder-font-color;
  }

  &:not(:disabled),
  &:not(:read-only) {
    &:focus {
      outline: 0;
      border: $element-focus-border;
    }

    &:hover {
      outline: 0;
      border: $element-hover-border;
      @include boxShadow(0, 0, 0.3125rem, 0, hexToRGBA($blue, 0.2)); // 5px
    }
  }

  &:disabled {
    color: $element-disabled-font-color;
    background-color: $element-disabled-bg-color;
    pointer-events: none;
    cursor: default;
  }

  &:read-only {
    background-color: $element-readonly-bg-color;
    border-color: $element-readonly-border-color;
    pointer-events: none;
    cursor: default;
  }

  &.error {
    color: $element-error-font-color;
    border: $element-error-border;
  }
}
// table
table {
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0; // 테이블 요소 사이의 간격을 제거
  font-family: inherit;
  font-size: $element-font-size;
  font-weight: $element-font-weight;
  color: $element-font-color;
  background-color: transparent;
  @include border($element-border-width, solid, transparent, all);

  tr {
    height: 2.5rem; // 40px

    th {
      font-size: $table-th-font-size;
      font-weight: $table-th-font-weight;
    }

    td, th {
      @include border($element-border-width, solid, transparent, all);
      @include ellipsis(table-cell);
    }
  }
}

// span
span {
  font-family: inherit;
  margin: auto 0;
}
// label
label {
  font-family: inherit;
  color: $label-font-color;
  font-size: $label-font-size;
  font-weight: $label-font-weight;
}
// switch
.switch {
  @include relative();
  height: 2.188rem; // 35px
  font-family: inherit;
  font-size: $element-font-size;
  font-weight: $element-font-weight;
  line-height: $element-line-height;
  color: $element-font-color;
  outline: none;

  .label {
    display: inline-block;
    height: 2.188rem; // 35px
    line-height: 2.0;
    margin-left: 5.625rem; // 90px
    cursor: pointer;
  }

  input[type=checkbox] {
    display: none;
    // 스위치 버튼
    + span {
      @include absolute(0, 0, 0, 0);
      width: 5rem; // 80px
      background-color: map-get($grays, 'default');
      @include borderRadius(2.5rem); // 40px
      cursor: pointer;
      @include transition(.4s);
      // 동그라미
      &::before {
        content: '';
        @include absolute($left: 0.25rem, $bottom: 0.3125rem); // 4px 5px
        width: 1.563rem; // 25px
        height: 1.563rem; // 25px
        background-color: $white;
        @include borderRadius(50%);
      }
    }

    &:checked {
      + span {
        background-color: $element-checked-color;

        &::before {
          @include translate(2.875rem, 0); // 46px
        }
      }
    }
    // TODO: 디자인 필요
    //&:disabled {
    //  + span {
    //    background-color: $element-disabled-bg-color;
    //  }
    //}

    &:hover {
      + span {
        &::before {
          border-color: $element-hover-border-color;
          @include boxShadow(0, 0, 0.3125rem, 0, hexToRGBA($blue, 0.2)); // 5px
        }
      }
    }
  }

  &:focus {
    input[type=checkbox] {
      + span {
        &:before {
          border-color: $element-focus-border-color;
        }
      }
    }
  }
}
// input box + button
.input-button {
  @include relative();

  input[type='text'] {
    margin: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &:focus,
    &:hover {
      z-index: $z-index-event;
    }
  }
  button {
    margin-left: -0.0625rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    &:focus,
    &:hover,
    &:active {
      z-index: $z-index-event;
    }
  }
}

/////////////////////////////////////////////////// UI 컴포넌트 추가  ////////////////////////////////////////////////////

// todo:
//  1. 추후 bz-colors.scss를 사용하여 variable 수정 필요.
//     참고를 위헤 이전 variables는 주석으로 남김.
//  2. z-element 모두 구성된 후에 _element.scss로 overwrite 할 것.

// input
.#{$common-prefix}input {
  height: 2.25rem; // 36px
  font-family: inherit;
  font-size: $element-font-size;
  font-weight: $element-font-weight;
  line-height: $element-line-height;
  color: $neutral900; // $element-font-color
  background-color: $element-bg-color;
  @include border($element-border-width, solid, $gray300, all); // $element-border-width, $element-border-color
  @include borderRadius(0.125rem); // 2px
  padding: 0 0.9375rem; // 들여쓰기 0 15px / 0 $element-indent
  vertical-align: middle;

  &::placeholder {
    color: $gray400; // $element-placeholder-font-color
  }

  &:not(:disabled),
  &:not(:read-only) {
    &:hover {
      outline: 0;
      border-color: $blue400; // $element-hover-border
    }

    &:focus {
      outline: 0;
      border-color: $blue600; // $element-focus-border
      @include boxShadow(0, 0, 0.125rem, 0, hexToRGBA($blue600, 1)); // 2px
      &[data-error] {
        @include border($element-border-width, solid, $element-error-border-color, all);
        @include boxShadow(0, 0, 0, 0, $element-bg-color);
      }
      &[data-success] {
        @include border($element-border-width, solid, $validation-success-color, all);
        @include boxShadow(0, 0, 0, 0, $element-bg-color);
      }
    }

    &:active {
      outline: 0;
      @include border($element-border-width, solid, $blue500, all); // $element-hover-border
    }
  }

  &:read-only {
    border-color: $gray400;
    border-style: none none none solid;
    @include borderRadius(0);
    background-color: $white;
    pointer-events: none;
    cursor: default;
  }

  &:disabled {
    color: $gray400; // $element-disabled-font-color
    background-color: $neutral200; // $element-disabled-bg-color
    border-color: $gray300; // $element-disabled-border-color
    pointer-events: none;
    cursor: default;
  }

  &.error {
    @include border($element-border-width, solid, $error-color, all); // $element-error-border
  }

  &.success {
    @include border($element-border-width, solid, $success-color, all);
  }

  &-clear {
    @include relative();
    display: inline-block;

    input { width: 100%; }

    .#{$common-prefix}button-clear {
      @include absolute($right: $input-clear-right);
      padding: 1.125rem 0.875rem; // 18px 14px
      @include maskImage('#{$icon-folder-path}icon_clear.svg', 0.625rem, 0.625rem, no-repeat, center, null, $input-bg-icon-color); // 10px 10px
    }
  }

  // z-input with background img
  &.i-search {
    @include backgroundImage($icon-folder-path + 'icon_search.svg', null, no-repeat, calc(100% - 0.4375rem), 50%);
  }

  &.i-date-picker {
    @include backgroundImage($icon-folder-path + 'icon_date_picker.svg', null, no-repeat, calc(100% - 0.4375rem), 50%);
  }

  &.i-time-picker {
    @include backgroundImage($icon-folder-path + 'icon_time_picker.svg', null, no-repeat, calc(100% - 0.4375rem), 50%);
  }

  &.i-datetime-picker {
    @include backgroundImage($icon-folder-path + 'icon_date_time_picker.svg', null, no-repeat, calc(100% - 0.4375rem), 50%);
  }

  &.i-px {
    @include backgroundImage($icon-folder-path + 'icon_px.svg', null, no-repeat, calc(100% - 0.4375rem), 50%);
  }

  &.i-mb {
    @include backgroundImage($icon-folder-path + 'icon_mb.svg', null, no-repeat, calc(100% - 0.4375rem), 50%);
  }

  // todo: 임시로 추가. 추후 z-input 모두 적용 시 제거 예정.
  &-button {
    @include relative();
    height: 2.25rem; // 36px

    input[type='text'] {
      margin: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;

      &:focus,
      &:hover {
        z-index: $z-index-event;
      }
    }
    button {
      margin-left: -0.0625rem;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;

      &:focus,
      &:hover,
      &:active {
        z-index: $z-index-event;
      }
    }

    .#{$common-prefix}button-clear {
      @include absolute($right: calc(#{$input-clear-right} + 5rem));
      padding: 1.125rem 0.875rem; // 18px 14px
      @include maskImage('#{$icon-folder-path}icon_clear.svg', 0.625rem, 0.625rem, no-repeat, center, null, $gray500); // 10px 10px
    }
  }
}

// text area
// overlay scroll로 인한 div와의 중복 디자인을 방지하기 위해
// outer div에 대해 예외 처리
.#{$common-prefix}textarea {
    font-family: inherit;
    font-size: $element-font-size;
    font-weight: $element-font-weight;
    line-height: $element-line-height;
    color: $neutral900; // $element-font-color
    background-color: $element-bg-color;
    padding: 0.5rem $element-indent 0.5rem $element-indent; // 들여쓰기 8px 10px 8px 10px
  &:not(.os-textarea) {
    @include border($element-border-width, solid, $gray300, all); // $element-border-width, $element-border-color
    @include borderRadius(0.125rem);
  }

  &::placeholder {
    color: $gray400;
  }

  &:not(:disabled) {
    &:focus {
      outline: 0;
      @include border($element-border-width, solid, $blue600, all);
      @include boxShadow(0, 0, 0.125rem, 0, $blue600); // 2px
    }

    &:hover {
      outline: 0;
      @include border($element-border-width, solid, $blue400, all);
    }

    &:active {
      outline: 0;
      @include border($element-border-width, solid, $blue500, all);
    }
  }

  &:disabled {
    color: $gray400;
    background-color: $neutral200;
    pointer-events: none;
    cursor: default;
  }

  &:read-only:not(.os-host-textarea) {
    border-color: $gray400;
    border-style: none none none solid;
    @include borderRadius(0);
    background-color: $white;
    pointer-events: none;
    cursor: default;
  }

  &.error {
    @include border($element-border-width, solid, $error-color, all);
  }

  &.success {
    @include border($element-border-width, solid, $success-color, all);
  }
}

// switch
.#{$common-prefix}switch {
  @include relative();
  height: 1.125rem; // 18px
  font-family: inherit;
  font-size: $element-font-size;
  font-weight: $element-font-weight;
  line-height: $element-line-height;
  color: $element-font-color;
  outline: none;

  .label {
    display: inline-block;
    height: 1.125rem; // 18px
    margin-left: 3rem; // 48px
    cursor: pointer;
  }

  input[type=checkbox] {
    display: none;
    // 스위치 버튼
    + span {
      @include absolute(0, 0, 0, 0);
      width: 2.25rem; // 36px
      height: 0.75rem; // 12px
      background-color: $gray400;
      @include border(0.0625rem, solid, $gray500, all); // 1px
      @include borderRadius(2.5rem); // 40px
      cursor: pointer;
      @include transition(.4s);
      // 동그라미
      &::before {
        content: '';
        @include absolute($top: -0.25rem, $left: -0.0625rem); // -4px -1px
        width: 1.125rem; // 18px
        height: 1.125rem; // 18px
        background-color: $white;
        @include borderRadius(50%);
        @include boxShadow(0, 0, 0.125rem, 0, $gray600); // 2px
      }
    }
    &:checked {
      + span {
        background-color: $blue500;
        border-color: $blue600;
        &::before {
          @include translate(1.3125rem, 0); // 21px
        }
      }
    }
    &:disabled {
      + span {
        background-color: $neutral300;
        border-color: $gray300;
        &::before {
          background-color: $neutral100;
        }
      }
    }
  }
}

/**
 Designed select
   1) select 태그를 사용하면서 initDesignedSelectTag 함수를 호출하면 아래 디자인을 적용할 수 있음.
   2) z-select 클래스를 가진 div 로 select 태그를 감싸고 디자인된 div 를 제공
   3) 내부에는 2개의 영역으로 구성되며 아래와 같은 클래스명으로 구분된다.
     - z-select-box : select 태그를 대신해서 보여지는 부분
     - z-select-options : z-select-box 클릭 시 보여지는 option 리스트 부분
*/
.#{$common-prefix}select {
  display: inline-block;
  @include relative();
  width: 100%;
  height: 2.25rem; // 36px

  select.readonly {
    visibility: hidden;
  }

  // select 태그를 대신해서 보여지는 부분
  .#{$common-prefix}select-box {
    display: flex;
    @include absolute(0, 0, 0, 0);
    width: 100%;
    padding: 0 $element-indent;
    border: $element-border;
    background-color: $element-bg-color;
    color: $element-font-color;
    @include borderRadius(0.125rem); // 2px
    font-family: inherit;
    font-size: $element-font-size;
    font-weight: $element-font-weight;
    line-height: $element-line-height;
    align-items: center;
    overflow: hidden;
    cursor: pointer;

    &:not(.readonly) {

      &:hover {
        outline: 0;
        border: $element-hover-border;
      }

      &.active {
        outline: 0;
        border: $element-focus-border;
        @include boxShadow(0, 0, 0.125rem, 0, $element-focus-shadow-color);
        // 열렸을때 출력되는 화살표 아이콘
        &:after {
          @include backgroundImage($icon-folder-path + 'icon_arrow_up.svg', auto, no-repeat, center, center);
        }

        + .z-select-options {
          display: block;
        }
      }

      // 닫혔을때 출력되는 화살표 아이콘
      &:after {
        @include absolute($right: 0.5rem); // 8px
        width: 0;
        height: 0;
        border: 0.75rem solid transparent; // 12px
        @include backgroundImage($icon-folder-path + 'icon_arrow_bottom.svg', auto, no-repeat, center, center);
        content:'';
      }
    }

    // disabled
    &.disabled-select {
      border: $element-disabled-border;
      background-color: $element-disabled-bg-color;
      color: $element-disabled-font-color;
      pointer-events: none;
      cursor: default;
    }

    // readonly
    &.readonly {
      border: $element-readonly-border;
      border-style: none none none solid;
      background-color: $white;
      @include borderRadius(0);
      pointer-events: none;
      cursor: default;
    }
  }

  // z-select-box 클릭 시 보여지는 option 리스트 부분
  .#{$common-prefix}select-options {
    display: none;
    list-style: none;
    @include absolute(calc(100% + 0.25rem), 0, null, 0);  // 4px
    z-index: $z-index-between-alert-modal;
    padding: 0.25rem 0; // 4px
    margin: 0;
    border: $element-border;
    background-color: $element-bg-color;
    max-height: 25rem; // 400px
    color: $gray800;
    outline: 0;
    overflow: auto;
    @include borderRadius(0.125rem); // 2px
    @include boxShadow(0, 0, 0.125rem, 0, $element-shadow-color);
    li {
      padding: 0.5625rem 0; // 9px
      margin: 0 0.3125rem; // 5px
      text-indent: 0.6875rem; // 11px
      align-items: center;
      font-family: inherit;
      font-size: $element-font-size;
      font-weight: $element-font-weight;
      line-height: $element-line-height;
      @include ellipsis(flex);

      &:hover {
        background: $select-bg-color;
      }

      &[rel='hide'] {
        display: none;
      }
    }
    .selected {
      color: $element-selected-font-color;

      // 선택된 옵션에 표시되는 체크 아이콘
      &:after {
        @include absolute($right: 0.9375rem); // 15px
        width: 10px;
        height: 7px;
        @include backgroundImage($icon-folder-path + 'icon_select_check.svg', auto, no-repeat, center, center);
        content: '';
      }
    }
  }
}

// slider
.#{$common-prefix}slider {
  min-height: 1.375rem; // 22px
  .#{$common-prefix}range {
    --range-fill-color: #{$slider-range-fill-color};
    --range-location: 100%;
    -webkit-appearance: none;
    appearance: none;
    width : 75%;
    max-width: 15rem; // 240px
    height: 0.375rem; // 6px
    padding: 0;
    @include borderRadius(0.25rem); // 4px
    background: linear-gradient(to right, var(--range-fill-color) 0%, var(--range-fill-color) var(--range-location), $slider-range-bg-color var(--range-location), $slider-range-bg-color 100%);
    outline: 0;

    &:disabled {
      --range-fill-color: #{$slider-range-disabled-fill-color};
      background: linear-gradient(to right, var(--range-fill-color) 0%, var(--range-fill-color) var(--range-location), $slider-range-bg-color var(--range-location), $slider-range-bg-color 100%);
    }

    // Thumb (= round button)
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      @include thumb($slider-thumb-size, $slider-thumb-size, 0.0625rem solid $slider-thumb-border-color, 50%, $slider-thumb-bg-color); // 18px 18px
      @include boxShadow(0, 0, 0.125rem, 0, $slider-thumb-shadow-color); // 2px
      &:hover {
        border-color: $slider-thumb-hover-border-color;
        background-color: $slider-thumb-hover-bg-color;
      }
      &:focus {
        border-color: $slider-thumb-focus-border-color;
        @include boxShadow(0, 0, 0.125rem, 0, $blue600); // 2px
      }
      &:active {
        border-color: $slider-thumb-active-border-color;
        background-color: $slider-thumb-active-bg-color;
      }
      &:disabled {
        border-color: $slider-thumb-disabled-border-color;
        background-color: $slider-thumb-disabled-bg-color;
      }
    }

    // firefox
    &::-moz-range-thumb { // 동그라미
      @include thumb($slider-thumb-size, $slider-thumb-size, 0.0625rem solid $slider-thumb-border-color, 50%, $slider-thumb-bg-color); // 18px 18px
      @include boxShadow(0, 0, 0.125rem, 0, $slider-thumb-shadow-color); // 2px
      &:hover {
        border-color: $slider-thumb-hover-border-color;
        background-color: $blue100;
      }
      &:focus {
        border-color: $slider-thumb-focus-border-color;
        @include boxShadow(0, 0, 0.125rem, 0, $slider-thumb-focus-border-color); // 2px
      }
      &:active {
        border-color: $slider-thumb-active-border-color;
        background-color: $slider-thumb-active-bg-color;
      }
      &:disabled {
        border-color: $slider-thumb-disabled-border-color;
        background-color: $slider-thumb-disabled-bg-color;
      }
    }
  }
  .#{$common-prefix}input {
    width: 23%;
    text-align: center;
    margin-left: 2%;
    &:read-only {
      @include border($element-border-width, solid, $gray300, all);
      @include borderRadius(0.125rem); // 2px
    }
  }
}

// checkbox
.#{$common-prefix}checkbox {
  font-family: $element-font-family;
  font-size: $element-font-size;
  font-weight: $element-font-weight;
  line-height: $element-line-height;
  color: $element-font-color;
  outline: none;

  > span:first-of-type {
    padding-right: $checkbox-indent;
  }

  input[type=checkbox] {
    display: none;
    // 체크 박스 span
    + span {
      @include relative();
      &::before {
        content: '';
        display: inline-block;
        width: $checkbox-size;
        height: $checkbox-size;
        margin-bottom: 0.125rem; // 2px
        @include border($element-border-width, solid, $element-border-color, all);
        @include borderRadius(0.125rem); // 2px
        background-color: $element-bg-color;
        vertical-align: middle;
      }
    }

    &:not(:disabled) {
      + span { cursor: pointer; }
      ~ .label { cursor: pointer; }
      &:checked {
        + span {
          // 체크 기호
          &::after {
            content: '';
            @include absolute($top: 0.125rem, $left: 0); // 2px
            width: 0.75rem; // 12px
            height: 0.375rem; // 6px
            @include border(0.125rem, solid, $element-checked-color, bottom, top);
            @include border(0.125rem, solid, $element-checked-color, left, right);
            @include borderRadius(0.125rem); // 2px
            @include transform(translate(0.1875rem, 0.25rem) rotate(-45deg)); // 3px, 4px
          }
        }
      }

      &:hover {
        + span {
          &::before {
            border-color: $element-hover-border-color;
            background-color: $element-hover-bg-color;
          }
        }
      }
    }

    &:disabled {
      + span {
        &::before {
          background-color: $element-disabled-bg-color;
        }
        &::after {
          border-color: $element-disabled-font-color;
        }
      }
      ~ .label {
        color: $element-disabled-font-color;
      }
    }
  }

  &:focus {
    input[type=checkbox]:not(:disabled) {
      + span {
        &:before {
          border-color: $element-focus-border-color;
          @include boxShadow(0, 0, 0.0625rem, 0, $element-focus-shadow-color);
        }
      }
    }
  }
  &:active {
    input[type=checkbox]:not(:disabled) {
      + span {
        &:before {
          border-color: $element-active-border-color;
          background-color: $element-active-bg-color;
        }
        &:after {
          border-color: $element-checked-active-color;
        }
      }
    }
  }
}

// radio button
.#{$common-prefix}radio {
  @include relative();
  font-family: $element-font-family;
  font-size: $element-font-size;
  font-weight: $element-font-weight;
  color: $element-font-color;
  outline: none;

  > span:first-of-type {
    padding-right: $radio-indent;
  }

  input[type=radio] {
    display: none;
    // ⓞ 로 사용될 span
    + span {
      @include relative();

      &::before { // 테두리로 사용되는 큰 원
        content: '';
        @include relative($top: -0.0625rem); // -1px
        display: inline-block;
        width: $radio-border-size;
        height: $radio-border-size;
        background-color: $element-bg-color;
        @include border($element-border-width, solid, $element-border-color, all);
        @include borderRadius(50%);
        vertical-align: middle;
        text-align: center;
      }

      &::after { // 선택시 작은 원
        content: '';
        @include absolute($top: -0.1875rem, $left: 0); // top: -3px
        width: $radio-inner-size;
        height: $radio-inner-size;
        background-color: transparent;
        @include borderRadius(50%);
      }
    }

    &:not(:disabled) {
      + span { cursor: pointer; }
      ~ .label { cursor: pointer; }

      &:checked {
        + span {
          &::before {
            border-color: $element-border-color;
          }
          &::after {
            background-color: $element-checked-color;
            @include transform(translate(4px, 9px) scale(1)); // 4px, 9px
          }
        }
      }

      &:hover {
        + span {
          &::before {
            border-color: $element-hover-border-color;
            background-color: $element-hover-bg-color;
          }
        }
      }
    }

    &:disabled {
      + span {
        &::before {
          border-color: $element-disabled-border-color;
          background-color: $element-disabled-bg-color;
        }
      }
      ~ .label {
        color: $element-disabled-font-color;
      }
      &:checked {
        + span {
          &::after {
            background-color: $element-disabled-font-color;
            @include transform(translate(4px, 9px) scale(1)); // 4px, 9px
          }
        }
      }
    }
  }

  &:focus {
    input[type=radio]:not(:disabled) {
      + span {
        &:before {
          border-color: $element-focus-border-color;

          @include boxShadow(0, 0, 0.125rem, 0, $element-focus-border-color); // 2px
        }
      }
    }
  }
  &:active {
    input[type=radio]:not(:disabled) {
      + span {
        &:before {
          border-color: $element-active-border-color;
          background-color: $element-active-bg-color;
        }
        &::after {
          background-color: $element-checked-active-color;
          @include transform(translate(4px, 9px) scale(1)); // 4px, 9px
        }
      }
    }
  }
}