/* _layout.scss
 *
 * 파일 경로 : template/_layout.scss
 * @description HTML layout 관련 디자인
 * @author jy.lim
 * @version 1.0
 */
.#{$common-prefix}wrapper {
  display: flex;
  max-width: 120rem;
  margin: 0 auto;
}
