/* _layout.scss
 *
 * 파일 경로 : template/_layout.scss
 * @description HTML layout 관련 디자인
 * @author jy.lim
 * @version 1.0
 */
.z-wrapper {
  display: flex;
  max-width: 120rem;
  margin: 0 auto;
}


// TODO: 공통으로 사용될 폰트 사이즈가 생성되면 제거
// sla 연도별 SLA 현황 최종점수
#resultScore { font-size: $font-size-xl; }
