/* _modal.scss
 *
 * 파일 경로 : template/_modal.scss
 * @description 모달 디자인
 * @author wdj
 * @version 1.0
 */

body.modal-active {
  overflow: hidden !important;
}

.modal-wrapper {
  @include resetPosition();
  display:none;
  overflow:auto;
  z-index: $z-index-modal;

  &.modal-active { display:block; }

  .modal-backdrop {
    @include resetPosition();
    z-index: $z-index-between-alert-modal;
    background-color: $modal-backdrop-bg-color;
  }

  .modal-dialog {
    @include absolute(4em, 0, null, 0);
    width: $modal-width;
    margin: 0 auto 2em auto;
    background-color: $modal-bg-color;
    @include boxShadow(0, 0.125rem, 0.75rem, 0, $modal-box-shadow-color);
    @include borderRadius(0.25rem); // 4px
    z-index: $z-index-between-alert-modal;

    .modal-header {
      height: $modal-header-height;
      font-size: $modal-header-font-size;
      font-weight: $modal-header-font-weight;
      color: $modal-header-font-color;
      padding: 1.25rem 0 1.25rem 1.25rem; // 20px 0 20px 20px
      text-overflow: ellipsis;
      overflow: hidden;
      @include border(2px, solid, $modal-header-border, bottom);
      @include borderRadius(0.25rem 0.25rem 0 0); // 4px
    }

    .modal-content {
      overflow: auto;
    }

    .modal-bottom {
      height: $modal-bottom-height;
      padding: 1.25rem 1.25rem; // 20px
    }
  }
}
