/* _modal.scss
 *
 * 파일 경로 : template/_modal.scss
 * @description 모달 디자인
 * @author wdj
 * @version 1.0
 */

body.modal-active {
  overflow: hidden !important;
}

.modal-wrapper {
  @include resetPosition();
  display: none;
  overflow:auto;
  z-index: 1000;

  &.modal-active { display: block; }

  .modal-backdrop {
    @include resetPosition();
    z-index: 5000;
    background-color: hexToRGBA($gray600, 0.6);
  }

  .modal-dialog {
    width: 26.875rem; // 430px
    margin: 0 auto 2em auto;
    background-color: $white;
    opacity: 0;
    transition: 0.3s;
    z-index: 5000;
    @include absolute(4em, 0, null, 0);
    @include borderRadius(0.25rem); // 4px
    @include boxShadow(0, 0.125rem, 0.75rem, 0, $gray600);

    &.modal-active {
      transition: 0.3s;
      opacity: 1;
    }

    .modal-header {
      min-height: 3.875rem; // 62px
      font-size: 1.5rem; // 24px;
      font-weight: $font-weight-medium;
      color: $gray800;
      padding: 1.25rem; // 20px
      line-height: 1.2;
      @include border(2px, solid, $gray100, bottom);
      @include borderRadius(0.25rem 0.25rem 0 0); // 4px
    }

    .modal-content {
      overflow: auto;
    }

    .modal-bottom {
      height: 5rem; // 80px
      padding: 1.25rem 1.25rem; // 20px
    }
  }
}
