/* _paging.scss
 *
 * 파일 경로 : template/_paging.scss
 * @description 페이징 목록 디자인
 * @author Jung Hee Chan
 */
.z-page-paging {
  display: flex;
  flex-direction: row!important;
  padding: 1.875rem 3.75rem; // 30px 60px
  justify-content:center;
  font-family: $font-family;
  font-size: $font-size-xs;
  line-height: 1.5rem;

  a.z-paging-arrow {
    @include border(0.0625rem, solid, $gray300, all); // 1px
    &:not(:first-child) { border-left: 0; }
    cursor: text;
    &.active {
      span.z-icon { background: $paging-arrow-icon-active-color; }
      cursor: pointer;
    }

    .z-icon {
      &.i-paging-start-arrow {
        @include maskImage('#{$icon-folder-path}paging/icon_paging_arrow_start.svg', 1.5rem, 1.5rem, no-repeat, center, null, $paging-arrow-icon-prev-color); // 24px 24px
      }
      &.i-paging-prev-arrow {
        @include maskImage('#{$icon-folder-path}paging/icon_paging_arrow_prev.svg', 1.5rem, 1.5rem, no-repeat, center, null, $paging-arrow-icon-prev-color); // 24px 24px
      }
      &.i-paging-next-arrow {
        @include maskImage('#{$icon-folder-path}paging/icon_paging_arrow_next.svg', 1.5rem, 1.5rem, no-repeat, center, null, $paging-arrow-icon-next-color); // 24px 24px
      }
      &.i-paging-end-arrow {
        @include maskImage('#{$icon-folder-path}paging/icon_paging_arrow_end.svg', 1.5rem, 1.5rem, no-repeat, center, null, $paging-arrow-icon-next-color); // 24px 24px
      }
    }
  }

  .z-paging-numbers {
    a {
      display: inline-block;
      min-width: 1.5625rem; // 25px
      height: 100%;
      color: $paging-num-font-color;
      font-weight: $font-weight-regular;
      text-align: center;
      @include border(0.0625rem, solid, $gray300, all); // 1px
      border-left: 0;
      &:hover {
        color: $paging-num-hover-font-color;
        background-color: $paging-num-hover-bg-color;
      }
      &.selected-page {
        background-color: $paging-num-active-bg-color;
        color: $paging-num-selected-font-color;
        font-weight: $font-weight-bold;
      }
      &:active {
        background-color: $paging-num-active-bg-color;
        color: $paging-num-active-font-color;
        font-weight: $font-weight-bold;
      }
    }
  }

  #pagingStartArrow {
    border-top-left-radius: 0.15rem; // 1.5px
    border-bottom-left-radius: 0.15rem;
  }
  #pagingEndArrow {
    border-top-right-radius: 0.15rem; // 1.5px
    border-bottom-right-radius: 0.15rem;
  }

  #spanCurrentPageNum {
    font-weight: $font-weight-medium;
    color: $paging-current-num-font-color;
    @include absolute($right: 3.75rem);
  }
}
