/* _scrollbars.scss 
 *
 * 파일 경로 : template/_scrollbars.scss
 * @description 스크롤바 디자인
 * @author wdj
 * @version 1.0
 */
// 기본 scrollbar
.scrollbar {
  >.os-scrollbar-horizontal {
    right: 0.625rem; // 10px
    height: 0.5rem;
    >.os-scrollbar-track {
      >.os-scrollbar-handle {
        min-width: 1.875rem; // 30px
      }
    }
    .os-scrollbar-handle {
      &:before {
        content: '';
        @include absolute(-0.375rem, 0, -0.125rem, 0); // -6px 0 -2px 0
        display: block;
      }
    }
  }
  >.os-scrollbar-vertical {
    bottom: 0.625rem; // 10px
    width: 0.5rem;
    >.os-scrollbar-track {
      >.os-scrollbar-handle {
        min-height: 1.875rem; // 30px
      }
    }
    .os-scrollbar-handle {
      &:before {
        content: '';
        @include absolute(0, -0.125rem, 0, -0.375rem); // 0 -2px 0 -6px
        display: block;
      }
    }
  }
  >.os-scrollbar-corner {
    width: 1.6875rem; // 27px
    height: 1.6875rem; // 27px
    background-color: transparent;
    &.os-scrollbar-corner-resize {
      @include backgroundImage('#{$icon-folder-path}icon_resize.svg', null, no-repeat, 0, 0, null);
    }
  }
  >.os-scrollbar {
    box-sizing: border-box;
    background: transparent;
    >.os-scrollbar-track { // scrollbar 배경
      background: $neutral100;
      @include borderRadius(0.5rem); // 8px
      >.os-scrollbar-handle {
        @include borderRadius(0.5rem); // 8px
        background: $neutral300;
      }
      >.os-scrollbar-handle.active { // scrollbar 클릭 이동 시
        background: $gray300;
      }
    }
    &:hover {
      >.os-scrollbar-track {
        >.os-scrollbar-handle { // scrollbar 마우스 오버
          background: $gray300;
        }
      }
    }
  }
  >.os-scrollbar.os-scrollbar-unusable {
    background: transparent;
  }
}
.scrollbar.os-host-rtl {
  >.os-scrollbar-horizontal {
    left: 0.625rem; // 10px
    right: 0;
  }
}
.scrollbar.os-host-transition {
  >.os-scrollbar {
    >.os-scrollbar-track {
      >.os-scrollbar-handle {
        @include transition(background-color 0.3s);
      }
    }
  }
}
.scrollbar.os-host-scrollbar-horizontal-hidden {
  >.os-scrollbar-horizontal {
    .os-scrollbar-handle {
      &:before {
        display: none;
      }
    }
  }
}
.scrollbar.os-host-scrollbar-vertical-hidden {
  >.os-scrollbar-vertical {
    .os-scrollbar-handle {
      &:before {
        display: none;
      }
    }
  }
}
.os-host-rtl.scrollbar {
  >.os-scrollbar-vertical {
    .os-scrollbar-handle {
      &:before {
        right: -0.375rem; // -6px
        left: -0.125rem; // -2px
      }
    }
  }
}
// textarea scrollbar
.textarea-scroll-wrapper {
  display: block;
  &.scrollbar {
    >.os-scrollbar-vertical {
      bottom: 0;
    }
  }
}
// element 내부 scrollbar
.inner-scrollbar {
  >.os-scrollbar-horizontal {
    right: 0.625rem; // 10px
    height: 0.25rem; // 4px
    >.os-scrollbar-track {
      >.os-scrollbar-handle {
        min-width: 1.875rem; // 30px
      }
    }
    .os-scrollbar-handle {
      &:before {
        content: '';
        @include absolute(-0.375rem, 0, -0.125rem, 0); // -6px 0 -2px 0;
        display: block;
      }
    }
  }
  >.os-scrollbar-vertical {
    bottom: 0.625rem; // 10px
    width: 0.25rem; // 4px
    >.os-scrollbar-track {
      >.os-scrollbar-handle {
        min-height: 1.875rem; // 30px
      }
    }
    .os-scrollbar-handle {
      &:before {
        content: '';
        @include absolute(0, -0.125rem, 0,  -0.375rem); // 0 -2px 0 -6px
        display: block;
      }
    }
  }
  >.os-scrollbar-corner {
    width: 0.625rem; // 10px
    height: 0.625rem; // 10px
    background-color: transparent;
  }
  >.os-scrollbar {
    box-sizing: border-box;
    background: transparent;
    >.os-scrollbar-track { // scrollbar 배경
      background: $neutral100;
      @include borderRadius(0.5rem); // 8px scrollbar 배경 모서리 곡선
      >.os-scrollbar-handle {
        @include borderRadius(0.5rem); // 8px
        background: $neutral300;
      }
      >.os-scrollbar-handle.active { // scrollbar 클릭 이동 시
        background: $gray300;
      }
    }
    &:hover {
      >.os-scrollbar-track {
        >.os-scrollbar-handle { // scrollbar 마우스 오버
          background: $gray300;
        }
      }
    }
  }
  >.os-scrollbar.os-scrollbar-unusable {
    background: transparent;
  }
}
// 내부 scrollbar dark 테마
.inner-scrollbar-dark {
  >.os-scrollbar-horizontal {
    right: 0.625rem; // 10px
    height: 0.25rem; // 4px
    >.os-scrollbar-track {
      >.os-scrollbar-handle {
        min-width: 1.875rem; // 30px
      }
    }
    .os-scrollbar-handle {
      &:before {
        content: '';
        @include absolute(-0.375rem, 0, -0.125rem, 0); // -6px 0 -2px 0;
        display: block;
      }
    }
  }
  >.os-scrollbar-vertical {
    bottom: 0.625rem; // 10px
    width: 0.25rem; // 4px
    >.os-scrollbar-track {
      >.os-scrollbar-handle {
        min-height: 1.875rem; // 30px
      }
    }
    .os-scrollbar-handle {
      &:before {
        content: '';
        @include absolute(0, -0.125rem, 0,  -0.375rem); // 0 -2px 0 -6px
        display: block;
      }
    }
  }
  >.os-scrollbar-corner {
    width: 0.625rem; // 10px
    height: 0.625rem; // 10px
    background-color: transparent;
  }
  >.os-scrollbar {
    box-sizing: border-box;
    background: transparent;
    >.os-scrollbar-track { // scrollbar 배경
      background: $gray800;
      @include borderRadius(0.5rem); // 8px scrollbar 배경 모서리 곡선
      >.os-scrollbar-handle {
        @include borderRadius(0.5rem); // 8px
        background: $gray600;
      }
      >.os-scrollbar-handle.active { // scrollbar 클릭 이동 시
        background: $gray500;
      }
    }
    &:hover {
      >.os-scrollbar-track {
        >.os-scrollbar-handle { // scrollbar 마우스 오버
          background: $gray500;
        }
      }
    }
  }
  >.os-scrollbar.os-scrollbar-unusable {
    background: transparent;
  }
}
.scrollbar.os-host-rtl {
  >.os-scrollbar-horizontal {
    left: 0.625rem; // 10px
    right: 0;
  }
}
.scrollbar.os-host-transition {
  >.os-scrollbar {
    >.os-scrollbar-track {
      >.os-scrollbar-handle {
        -webkit-transition: background-color 0.3s;
        transition: background-color 0.3s;
      }
    }
  }
}
.scrollbar.os-host-scrollbar-horizontal-hidden {
  >.os-scrollbar-horizontal {
    .os-scrollbar-handle {
      &:before {
        display: none;
      }
    }
  }
}
.scrollbar.os-host-scrollbar-vertical-hidden {
  >.os-scrollbar-vertical {
    .os-scrollbar-handle {
      &:before {
        display: none;
      }
    }
  }
}
.os-host-rtl.scrollbar {
  >.os-scrollbar-vertical {
    .os-scrollbar-handle {
      &:before {
        right: -0.375rem; // -6px
        left: -0.125rem; // -2px
      }
    }
  }
}
// TODO: text editor scrollbar
.ql-container {
  .ql-editor {
    resize: vertical;
    overflow: auto;
    // background of the scrollbar
    &::-webkit-scrollbar-track {
      background-color: $neutral100;
      @include borderRadius(0.5rem); // 8px
    }
    // total width
    &::-webkit-scrollbar {
      width: 0.5rem;
      background-color: transparent;
    }
    // scrollbar
    &::-webkit-scrollbar-thumb {
      background-color: $neutral300;
      @include borderRadius(0.5rem); // 8px
      &:hover {
        background-color: $gray300;
      }
      &:active {
        background-color: $gray300;
      }
    }
    // corner
    &::-webkit-resizer {
      width: 24px;
      height: 24px;
      background-color: transparent;
      border: none;
      @include backgroundImage('#{$icon-folder-path}icon_resize.svg', 12px, no-repeat, 0, 0, null);
    }
  }

  //게시판 읽기 textarea고정
  &.ql-disabled{
    .ql-editor{
      resize:none;
    }
  }
}
// highcharts scrollbar
.highcharts-scrollbar {
  &-track {
    height: 0.5rem;
    fill: $neutral100;
    stroke-width: 0;
    rx: calc(0.5rem / 2);
    ry: calc(0.5rem / 2);
  }
  &-thumb {
    height: 0.5rem;
    fill: $neutral300;
    stroke-width: 0;
    rx: calc(0.5rem / 2);
    ry: calc(0.5rem / 2);
    &:hover {
      fill: $gray300;
    }
  }
  &-button { display: none; }
  &-arrow { display: none; }
  &-rifles { stroke: transparent; }
}