/* _scrollbars.scss 
 *
 * 파일 경로 : template/_scrollbars.scss
 * @description 스크롤바 디자인
 * @author wdj
 * @version 1.0
 */
// 기본 scrollbar
.scrollbar {
  >.os-scrollbar-horizontal {
    right: 0.625rem; // 10px
    height: $scrollbar-thick;
    >.os-scrollbar-track {
      >.os-scrollbar-handle {
        min-width: 1.875rem; // 30px
      }
    }
    .os-scrollbar-handle {
      &:before {
        content: '';
        @include absolute(-0.375rem, 0, -0.125rem, 0); // -6px 0 -2px 0
        display: block;
      }
    }
  }
  >.os-scrollbar-vertical {
    bottom: 0.625rem; // 10px
    width: $scrollbar-thick;
    >.os-scrollbar-track {
      >.os-scrollbar-handle {
        min-height: 1.875rem; // 30px
      }
    }
    .os-scrollbar-handle {
      &:before {
        content: '';
        @include absolute(0, -0.125rem, 0, -0.375rem); // 0 -2px 0 -6px
        display: block;
      }
    }
  }
  >.os-scrollbar-corner {
    width: 1.6875rem; // 27px
    height: 1.6875rem; // 27px
    background-color: transparent;
    &.os-scrollbar-corner-resize {
      @include backgroundImage('#{$icon-folder-path}icon_resize.svg', null, no-repeat, 0, 0, null);
    }
  }
  >.os-scrollbar {
    box-sizing: border-box;
    background: transparent;
    >.os-scrollbar-track { // scrollbar 배경
      background: $scrollbar-bg-color;
      @include borderRadius($scrollbar-border-radius);
      >.os-scrollbar-handle {
        @include borderRadius($scrollbar-border-radius);
        background: $scrollbar-color;
      }
      >.os-scrollbar-handle.active { // scrollbar 클릭 이동 시
        background: $scrollbar-hover-color;
      }
    }
    &:hover {
      >.os-scrollbar-track {
        >.os-scrollbar-handle { // scrollbar 마우스 오버
          background: $scrollbar-hover-color;
        }
      }
    }
  }
  >.os-scrollbar.os-scrollbar-unusable {
    background: transparent;
  }
}
.scrollbar.os-host-rtl {
  >.os-scrollbar-horizontal {
    left: 0.625rem; // 10px
    right: 0;
  }
}
.scrollbar.os-host-transition {
  >.os-scrollbar {
    >.os-scrollbar-track {
      >.os-scrollbar-handle {
        @include transition(background-color 0.3s);
      }
    }
  }
}
.scrollbar.os-host-scrollbar-horizontal-hidden {
  >.os-scrollbar-horizontal {
    .os-scrollbar-handle {
      &:before {
        display: none;
      }
    }
  }
}
.scrollbar.os-host-scrollbar-vertical-hidden {
  >.os-scrollbar-vertical {
    .os-scrollbar-handle {
      &:before {
        display: none;
      }
    }
  }
}
.os-host-rtl.scrollbar {
  >.os-scrollbar-vertical {
    .os-scrollbar-handle {
      &:before {
        right: -0.375rem; // -6px
        left: -0.125rem; // -2px
      }
    }
  }
}
// textarea scrollbar
.textarea-scroll-wrapper {
  display: block;
}
// element 내부 scrollbar
.inner-scrollbar {
  >.os-scrollbar-horizontal {
    right: 0.625rem; // 10px
    height: $scrollbar-thick-sm;
    >.os-scrollbar-track {
      >.os-scrollbar-handle {
        min-width: 1.875rem; // 30px
      }
    }
    .os-scrollbar-handle {
      &:before {
        content: '';
        @include absolute(-0.375rem, 0, -0.125rem, 0); // -6px 0 -2px 0;
        display: block;
      }
    }
  }
  >.os-scrollbar-vertical {
    bottom: 0.625rem; // 10px
    width: $scrollbar-thick-sm;
    >.os-scrollbar-track {
      >.os-scrollbar-handle {
        min-height: 1.875rem; // 30px
      }
    }
    .os-scrollbar-handle {
      &:before {
        content: '';
        @include absolute(0, -0.125rem, 0,  -0.375rem); // 0 -2px 0 -6px
        display: block;
      }
    }
  }
  >.os-scrollbar-corner {
    width: 0.625rem; // 10px
    height: 0.625rem; // 10px
    background-color: transparent;
  }
  >.os-scrollbar {
    box-sizing: border-box;
    background: transparent;
    >.os-scrollbar-track { // scrollbar 배경
      background: $scrollbar-bg-color;
      @include borderRadius($scrollbar-border-radius); // scrollbar 배경 모서리 곡선
      >.os-scrollbar-handle {
        @include borderRadius($scrollbar-border-radius);
        background: $scrollbar-color;
      }
      >.os-scrollbar-handle.active { // scrollbar 클릭 이동 시
        background: $scrollbar-hover-color;
      }
    }
    &:hover {
      >.os-scrollbar-track {
        >.os-scrollbar-handle { // scrollbar 마우스 오버
          background: $scrollbar-hover-color;
        }
      }
    }
  }
  >.os-scrollbar.os-scrollbar-unusable {
    background: transparent;
  }
}
// 내부 scrollbar dark 테마
.inner-scrollbar-dark {
  >.os-scrollbar-horizontal {
    right: 0.625rem; // 10px
    height: $scrollbar-thick-sm;
    >.os-scrollbar-track {
      >.os-scrollbar-handle {
        min-width: 1.875rem; // 30px
      }
    }
    .os-scrollbar-handle {
      &:before {
        content: '';
        @include absolute(-0.375rem, 0, -0.125rem, 0); // -6px 0 -2px 0;
        display: block;
      }
    }
  }
  >.os-scrollbar-vertical {
    bottom: 0.625rem; // 10px
    width: $scrollbar-thick-sm;
    >.os-scrollbar-track {
      >.os-scrollbar-handle {
        min-height: 1.875rem; // 30px
      }
    }
    .os-scrollbar-handle {
      &:before {
        content: '';
        @include absolute(0, -0.125rem, 0,  -0.375rem); // 0 -2px 0 -6px
        display: block;
      }
    }
  }
  >.os-scrollbar-corner {
    width: 0.625rem; // 10px
    height: 0.625rem; // 10px
    background-color: transparent;
  }
  >.os-scrollbar {
    box-sizing: border-box;
    background: transparent;
    >.os-scrollbar-track { // scrollbar 배경
      background: $scrollbar-dark-bg-color;
      @include borderRadius($scrollbar-border-radius); // scrollbar 배경 모서리 곡선
      >.os-scrollbar-handle {
        @include borderRadius($scrollbar-border-radius);
        background: $scrollbar-dark-color;
      }
      >.os-scrollbar-handle.active { // scrollbar 클릭 이동 시
        background: $scrollbar-dark-hover-color;
      }
    }
    &:hover {
      >.os-scrollbar-track {
        >.os-scrollbar-handle { // scrollbar 마우스 오버
          background: $scrollbar-dark-hover-color;
        }
      }
    }
  }
  >.os-scrollbar.os-scrollbar-unusable {
    background: transparent;
  }
}
.scrollbar.os-host-rtl {
  >.os-scrollbar-horizontal {
    left: 0.625rem; // 10px
    right: 0;
  }
}
.scrollbar.os-host-transition {
  >.os-scrollbar {
    >.os-scrollbar-track {
      >.os-scrollbar-handle {
        -webkit-transition: background-color 0.3s;
        transition: background-color 0.3s;
      }
    }
  }
}
.scrollbar.os-host-scrollbar-horizontal-hidden {
  >.os-scrollbar-horizontal {
    .os-scrollbar-handle {
      &:before {
        display: none;
      }
    }
  }
}
.scrollbar.os-host-scrollbar-vertical-hidden {
  >.os-scrollbar-vertical {
    .os-scrollbar-handle {
      &:before {
        display: none;
      }
    }
  }
}
.os-host-rtl.scrollbar {
  >.os-scrollbar-vertical {
    .os-scrollbar-handle {
      &:before {
        right: -0.375rem; // -6px
        left: -0.125rem; // -2px
      }
    }
  }
}
// TODO: text editor scrollbar
.ql-container {
  .ql-editor {
    resize: vertical;
    overflow: auto;
    // background of the scrollbar
    &::-webkit-scrollbar-track {
      background-color: $scrollbar-bg-color;
      @include borderRadius($scrollbar-border-radius);
    }
    // total width
    &::-webkit-scrollbar {
      width: $scrollbar-thick;
      background-color: transparent;
    }
    // scrollbar
    &::-webkit-scrollbar-thumb {
      background-color: $scrollbar-color;
      @include borderRadius($scrollbar-border-radius);
      &:hover {
        background-color: $scrollbar-hover-color;
      }
      &:active {
        background-color: $scrollbar-hover-color;
      }
    }
    // corner
    &::-webkit-resizer {
      width: 24px;
      height: 24px;
      background-color: transparent;
      border: none;
      @include backgroundImage('#{$icon-folder-path}icon_resize.svg', 12px, no-repeat, 0, 0, null);
    }
  }
}

