/* 태그 기능 디자인
 * /default/_tag.scss
 * @description 라이브러리인 /vendor/tagify/tagify.css 를 재정의하여 디자인함
 *              변수를 통해 중복되는 코드 제거 및 코드 컨벤션에 맞게 수정
 * @author jy.lim
 * @version 1.0
 */
// tag 동작 이벤트
@include keyframe(tags--bump) {
  30% {
    transform: scale(1.2);
  }
}
@include keyframe(rotateLoader) {
  to {
    transform: rotate(1turn);
  }
}

.tagify {
  @include relative();
  display: inline-flex;
  width: 100%;
  min-height: 2.25rem; // 36px
  align-items: flex-start;
  flex-wrap: wrap;
  font-family: $element-font-family;
  font-size: $element-font-size;
  cursor: text;
  outline: 0;
  @include transition(0.1s);
  --tag-hide-transition: 0.3s;

  &:read-only {
    border: none;
    cursor: inherit;

    > .tagify__input {
      display: none;
    }

    .tagify__tag__removeBtn {
      display: none;
    }
  }

  &.z-input {
    height: max-content;
    padding: 0;
    @include border($element-border-width, solid, $element-border-color); // 1px
    @include borderRadius(0.125rem); // 2px

    > .tagify__input {
      padding: 0 $element-indent;
      visibility: visible;

      &:not(:first-child) {
        padding: 0.25rem;
      }
    }

    .tagify__tag__removeBtn {
      display: inherit;
    }

    &:hover {
      outline: 0;
      border-color: $element-hover-border-color;
    }

    &:focus {
      outline: 0;
      border-color: $element-focus-border-color;
      @include boxShadow(0, 0, 0.125rem, 0, $element-focus-shadow-color); // 2px
    }

    &:active {
      outline: 0;
      border-color: $element-active-border-color;
    }

  }

  &:disabled {
    border-color: $element-readonly-border-color;
    background-color: $element-readonly-bg-color;
    pointer-events: none;
    cursor: default;

    > .tagify__input {
      width: 0;
      visibility: hidden;
    }

    .tagify__tag > div {
      pointer-events: none;
      &::before {
        color: $tagify-read-font-color;
        background-color: $tagify-read-bg-color;
        pointer-events: none;
        box-shadow: none;
      }
    }
  }

  + input,
  + textarea {
    display: none !important;
  }

  // editable tag design
  &__tag {
    @include relative();
    display: inline-flex;
    margin: 0.1875rem 0 0.1875rem 0.1875rem; // 3px 0 3px 3px
    @include borderRadius($tag-border-radius);
    align-items: center;
    z-index: 1;
    outline: 0;
    cursor: default;
    @include transition(0.13s ease-out);
    // 태그 문구
    > div {
      max-width: 100%;
      padding: 0.2813rem 0.5rem; // 4.5px 8px
      @include borderRadius($tag-border-radius);
      vertical-align: top;
      box-sizing: border-box;
      color: $tag-editable-font-color;
      line-height: 1.4;
      @include userSelect(none);
      @include transition(0.13s ease-out);

      > * {
        @include ellipsis(inline-block, max-content);
        max-width: 15.625rem;
        vertical-align: top;
        @include transition(0.8s ease);
      }

      > [contenteditable] {
        max-width: 21.88rem; // 350px
        margin: -0.125rem; // -2px
        padding: 0.125rem; // 2px
        outline: 0;
        @include userSelect(text);
        cursor: text;
      }

      &::before {
        content: '';
        @include absolute(0, 0, 0, 0);
        @include borderRadius(inherit);
        z-index: -1;
        pointer-events: none;
        @include transition(120ms ease);
        @include animation(0s, 0.3s, tags--bump, ease-out, 1);
        @include insideBorder(1.25rem, $tag-bg-color);
      }
    }

    // 중복 태그 origin tag
    &.tagify--mark {
      animation: none;
      @include border(0.0625rem, solid, $tag-invalid-border-color);
    }

    // 중복 태그 invalid tag
    &.tagify--notAllowed {
      &:not(.tagify__tag--editable) {
        div {
          color: $tag-invalid-color;
          > span {
            opacity: 1;
          }
          &::before {
            @include insideBorder(1.25rem, $tag-invalid-bg-color);
            @include transition(0.2s);
          }
        }

        // 삭제 버튼
        .tagify__tag__removeBtn {
          color: $tag-invalid-color;
          pointer-events: none;
        }

        &:hover {
          @include border($element-border-width, solid, $tag-invalid-color, all); // 1px
          .tagify__tag__removeBtn {
            background-color: transparent;
          }
        }
      }
    }

    // editable tag
    &--editable {
      > div {
        color: black;

        &::before {
          box-shadow: 0 0 0 0.125rem $tag-editable-box-shadow-color inset !important; // 2px
        }
      }

      &.tagify--invalid {
        > div::before {
          box-shadow: 0 0 0 0.125rem $tag-invalid-box-shadow-color inset !important; // 2px
        }
      }
    }

    // remove tag button
    &__removeBtn {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 1rem; // 16px
      height: 1rem; // 16px
      margin: 0 0.25rem 0 0; // 0 4.66667px
      @include transition(0.2s ease-out);
      @include borderRadius(50%);
      order: 5;
      cursor: pointer;
      font-family: $font-family-m;
      font-size: 1.25rem; // 20px
      font-weight: $font-weight-bold;
      color: $tag-btn-remove-color;
      background: 0 0;

      &::after {
        height: 1.125rem; // 18px
        line-height: 0.875rem; // 14px
        content: '\00D7';
      }

      &:hover {
        color: $tag-btn-remove-hover-color;
        background: $tag-btn-remove-hover-bg-color;
        + div {
          > span {
            opacity: 1; // 기존 0.5
          }
          &::before {
            @include transition(0.2s);
          }
        }
      }
    }
  }

  // 태그를 입력하세요 input box
  &__input {
    @include relative();
    flex: 1;
    display: block;
    min-width: 6.875rem; // 110px
    padding: 0.25rem;
    line-height: 1.5;
    @include wordWrap(break-word);
    // 미 입력시, placeholder 투명도 조정 가능
    &:empty::before {
      @include transition(0.2s ease-out);
      opacity: 0; // 기존 0.5
      transform: none;
      width: auto;
    }

    &:focus {
      outline: 0;
      &::before {
        @include transition(0.2s ease-out);
        opacity: 0;
        @include translate(6px, 0); // 6px
      }

      &:empty::before {
        @include transition(0.2s ease-out);
        opacity: 0; // 기존 0.3
        transform: none;
      }
    }

    &::before {
      display: inline-block;
      @include absolute($top: 0, $bottom: 0);
      width: 0;
      height: 1em;
      content: attr(data-placeholder);
      line-height: 1em;
      z-index: 1;
      color: $tag-input-font-color;
      opacity: 0;
      margin: auto 0;
      white-space: nowrap;
      pointer-events: none;
    }


    &::after {
      content: attr(data-suggest);
      display: inline-block;
      max-width: 6.25rem; // 100px
      white-space: pre;
      color: $tag-input-font-color;
      opacity: 0; // 기존 0.3
      pointer-events: none;
    }

    .tagify__tag {
      margin: 0;

      > div {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }
}

// 태그 자동 완성
.tagify__dropdown {
  @include absolute();
  margin-top: 0.3125rem; // 5px
  transform: translateY(1px);
  background: $element-bg-color;
  overflow: hidden;
  z-index: 9999;

  &[placement=top] {
    margin-top: 0;
    @include translate(0, -2px);
    .tagify__dropdown__wrapper {
      border-top-width: .0625rem; // 1px
      border-bottom-width: 0;
    }
  }

  // 자동 완성 wrapper
  &__wrapper {
    max-height: 18.75rem;
    padding: 0.4375rem; // 7px
    @include border($tag-auto-complete-border-width, solid, $tag-auto-complete-border-color, all); // 1px
    @include boxShadow(0, 0.125rem, 0.75rem, 0, $tag-auto-complete-box-shadow-color); // 0px 2px 12px
    @include transition(0.25s cubic-bezier(0, 1, 0.5, 1));
    overflow: hidden;

    &:hover {
      overflow: auto;
    }
  }

  &__item {
    @include relative();
    height: 1.75rem;
    padding: 0.2813rem 0.5rem; // 4.5px, 8px
    margin: 0.0625rem;
    @include borderRadius(0.125rem);
    font-family: $element-font-family;
    font-size: $element-font-size;
    box-sizing: inherit;
    cursor: pointer;
    outline: 0;

    &--active {
      color: $tag-font-color;
      background: $tag-bg-color;
    }
  }
}

// 테마
.tags-look {
  .tagify__dropdown__item {
    display: inline-block;
    @include borderRadius($tag-border-radius);
    padding: 0.25rem 0.5rem; // 4px, 8px
    background: $tag-bg-color;
    margin: 0.5rem 0.25rem 0 0.25rem; // 8px 4px 0 4px
    color: $tag-font-color;
    @include transition(0s);

    &:hover {
      color: $tag-font-color;
      background: $tag-bg-color;
    }

    &--active {
      color: $tag-font-color;
    }
  }
}
