/* _text-editor.scss 
 *
 * 파일 경로 : template/_text-editor.scss
 * @description Customize Quill Editor v1.3.6 (https://quilljs.com/)
 * @author wdj
 * @version 1.0
 */

.ql-wrapper-container {
  background-color: $element-bg-color;
  // 툴바
  .ql-toolbar {
    // 라이브러리 outline 디자인 해제
    & *:focus {
      outline: none !important;
    }

    &.ql-snow {
      font-family: $element-font-family;
      @include border($element-border-width, solid, $element-border-color, all);
      padding: 0;

      .ql-picker {
        color: $element-font-color;
      }

      .ql-formats {
        margin: 0;
        padding: 0;
        // picker inside item common
        .ql-picker-label,
        .ql-picker-item {
          &.ql-active {
            color: $element-hover-font-color;
          }
        }

        // headings
        .ql-header {
          width: 7.5rem; // 120px
          height: 2.25rem; // 36px

          .ql-picker-label,
          .ql-picker-item {
            padding: 0.4375rem 0.75rem; // 7px 12px
            // 화살표 아이콘
            &:not(.ql-color-picker):not(.ql-icon-picker) svg {
              margin: auto;
              right: 4%;
              top: 40%;
            }

            &:hover {
              background-color: $element-hover-bg-color;
            }
            &:focus {
              color: $element-focus-font-color;
              border-color: $element-focus-border-color;
              @include boxShadow(0, 0, 0.125rem, 0, $element-focus-shadow-color); // 2px
            }
          }

          .ql-picker-options {
            padding: 0;
            @include boxShadow(0, 0.125rem, 0.75rem, 0, $text-editor-option-box-shadow-color); // 0 2px 12px 0
            // 상대 크기
            .ql-picker-item[data-value='1']::before {
              font-size: 2em;
            }

            .ql-picker-item[data-value='2']::before {
              font-size: 1.5em;
            }

            .ql-picker-item[data-value='3']::before {
              font-size: 1.17em;
            }

            .ql-picker-item[data-value='4']::before {
              font-size: 0.83em;
            }
          }

          &.ql-expanded {
            .ql-picker-label {
              border-color: transparent;
              color: $element-active-font-color;
              background-color: $element-active-bg-color;

              // 화살표 회전
              svg {
                @include rotate(180);
                @include transformOrigin(50% 50%);
              }
            }
            //  heading
            .ql-picker-options {
              margin-left: -$element-border-width; // -1px
              border-color: $element-border-color;

              // 선택된 item
              .ql-picker-item {
                &.ql-selected {
                  color: $text-editor-toolbar-selected-font-color;
                }
              }
            }
          }
        }

        // color picker
        .ql-color-picker {
          width: 2.25rem; // 36px
          height: 2.25rem; // 36px

          .ql-picker-label {
            padding: 0.3125rem; // 5px
            svg {
              .ql-transparent {
                opacity: 1;
              }

              .ql-label,
              .bg-line {
                fill: $element-font-color;
              }

              .bg {
                fill: $element-bg-color;
              }
            }

            &.ql-active[data-value]:not([data-value='']) svg .ql-label {
              fill: $white;
            }

            &:hover {
              color: $element-hover-font-color;
              background-color: $element-hover-bg-color;
            }
            &:focus {
              color: $element-focus-border-color;
              border-color: $element-focus-border-color;
              @include boxShadow(0, 0, 0.125rem, 0, $element-focus-shadow-color); // 2px
            }
          }

          .ql-picker-item {
            &:hover,
            &:focus {
              border-color: $text-editor-toolbar-selected-font-color;
            }
          }

          .ql-picker-options {
            @include boxShadow(0, 0.125rem, 0.75rem, 0, $text-editor-option-box-shadow-color); // 0 2px 12px 0
          }

          &.ql-expanded {
            .ql-picker-label {
              border-color: transparent;
              color: $element-active-font-color;
              background-color: $element-active-bg-color;
            }

            .ql-picker-options {
              border-color: $element-bg-color;

              .ql-picker-item {
                &.ql-selected {
                  border-color: $text-editor-toolbar-selected-font-color;
                }
              }
            }
          }
        }

        // bold, underline, italic, align 등
        button {
          @include relative();
          width: 2.25rem; // 36px
          height: 2.25rem; // 36px
          padding: 0;
          margin: 0;
          @include borderRadius(0);

          svg {
            float: initial;
          }
          // 동그라미
          &:after {
            content: '';
            display: block;
            position: absolute;
            width: 0.5rem; // 6px
            height: 0.5rem; // 6px
            bottom: -4px;
            left: calc(50% - 0.25rem);
            background: transparent;
            border-radius: 100%;
          }

          &:hover {
            color: $element-hover-font-color;
            background-color: $element-hover-bg-color;
          }

          &:focus {
            color: $element-focus-border-color;
            border-color: $element-focus-border-color;
            @include boxShadow(0, 0, 0.125rem, 0, $element-focus-shadow-color); // 2px

            .ql-icon {
              fill : $element-focus-border-color;
            }
          }

          &:enabled:active,
          &:enabled.active {
            color: $element-active-font-color;
            background-color: $element-active-bg-color;

            .ql-icon {
              fill : $element-active-font-color;
            }
          }

          &.ql-active {
            color: $text-editor-toolbar-selected-font-color;

            .ql-icon {
              fill : $text-editor-toolbar-selected-font-color;
            }

            &:after {
              background: $text-editor-toolbar-selected-font-color;
            }
          }
        }
      }
    }
  }
  // 툴바 숨김
  .ql-toolbar-hidden {
    display: none;
  }
  // 툴바 readonly
  .ql-toolbar-readonly {
    .ql-picker {
      color: $element-disabled-font-color !important;
    }
    .ql-icon,
    .ql-transparent {
      fill : $element-disabled-font-color !important;
    }
    .bg {
      opacity: 0;
    }

    button {
      &.ql-active {
        color: $element-disabled-font-color !important;
        .ql-icon {
          fill : $element-disabled-font-color !important;
        }
        &:after {
          background: transparent !important;
        }
      }
    }
  }
  // 편집 영역
  .ql-container {
    &.ql-snow {
      height: auto;
      font-family: $element-font-family;
      font-size: $element-font-size;
      font-weight: $element-font-weight;
      line-height: $element-line-height;
      color: $element-font-color;
      @include border($element-border-width, solid, $element-border-color, all);
      .ql-editor {
        height: 7.5rem; // 120px
        padding: 0.625rem; // 10px
        // 내부 태그 재정의
        .ql-blank::before {
          content: attr(data-placeholder);
        }

        h1, h2, h3, h4, h5, h6 {
          line-height: $element-line-height;
        }

        em {
          font-style: italic;
        }

        strong {
          font-weight: bold;
        }
      }
    }
    // 유효성 검증 실패시
    &.error {
      @include border($validation-error-border-width, solid, $validation-error-border-color !important, all);
    }
  }

  // 테두리 없음
  &.ql-border-disabled {
    .ql-toolbar {
      &.ql-snow {
        border-color: transparent;
      }
    }
    .ql-container {
      &.ql-snow {
        border-color: transparent;
      }
    }
  }

  // hover
  &:hover:not(.ql-readonly) {
    outline: 0;
    .ql-toolbar {
      &.ql-snow {
        border-color: $element-hover-border-color;
      }
    }
    .ql-container {
      &.ql-snow:not(.ql-disabled) {
        border-color: $element-hover-border-color;
      }
    }
  }
  // focus
  &:focus:not(.ql-readonly) {
    outline: 0;
    @include boxShadow(0, 0, 0.125rem, 0, $element-focus-shadow-color); // 2px
    .ql-toolbar {
      &.ql-snow {
        border-color: $element-focus-border-color;
      }
    }
    .ql-container {
      &.ql-snow {
        border-color: $element-focus-border-color;
      }
    }
  }

  // 텍스트에디터는 readonly 속성이 없기 때문에 readonly일 경우 disabled 디자인과 동일하게 처리
  &:not(.ql-border-disabled).ql-readonly {
    background-color: $element-disabled-bg-color;
    pointer-events: none;
    .ql-container {
      &.ql-snow {
        color: $element-disabled-font-color !important;
      }
    }
  }
}