/* _thumbnail.scss
 *
 * 파일 경로 : template/_thumbnail.scss
 * @description 썸네일 디자인
 * @author Woo Da Jung <wdj@brainz.co.kr>
 * @version 1.0
 */

// 레이아웃
.z-thumbnail-main {
  font-family: $thumbnail-font-family;
  font-size: $thumbnail-font-size;
  font-weight: $thumbnail-font-weight;
  color: $thumbnail-font-color;
  padding: $thumbnail-main-padding;

   // 썸네일
  .z-thumbnail {
    display: inline-block;
    width: $thumbnail-width;
    height: $thumbnail-height;
    margin: 0.625rem; // 10px
    padding: 0;
    @include border($thumbnail-border-width, solid, $thumbnail-border-color, all);
    background-color: $thumbnail-bg-color;
    cursor: pointer;
    overflow: hidden;

    &:hover {
      @include border($thumbnail-border-width, solid, $thumbnail-hover-border-color, all);
      background-color: $thumbnail-hover-bg-color;
    }

    &.selected {
      @include border($thumbnail-selected-border-width, solid, $thumbnail-selected-border-color, all);
      background-color: $thumbnail-selected-bg-color;
      @include boxShadow(0, 0, 0.125rem, 0, $thumbnail-selected-box-shadow-color); // 2px
    }
    // 썸네일 이미지
    .z-thumbnail-image, .z-thumbnail-file {
      display: inline-block;
      width: 100%;
      height: 9.063rem; // 145px
      background-size: auto;
      background-repeat: no-repeat;
      background-position: center center;
    }
    // 썸네일 정보
    .z-thumbnail-info {
      height: 6.563rem; // 105px
      padding: 0.75rem 0.9375rem; // 12px 15px

      .z-thumbnail-info-text {
        height: 1.5rem; // 24px
        line-height: 1.5rem; // 24px

        label { display: block; }

        &:first-child {
          label {
            color:  $thumbnail-file-name-font-color;
            font-weight: $thumbnail-file-name-font-weight;
            cursor: pointer;
          }
          // 더블 클릭시 fileName 수정 가능
          .z-input {
            display: none;
            width: 12.19rem; // 195px
            height: 1.875rem; // 30px
            float: left;
          }
        }
      }
    }
    // 생성일, 삭제 버튼
    .z-thumbnail-bottom {
      height: 2.5rem; // 40px
      line-height: 2.5rem;
      @include border($thumbnail-border-width, solid, $thumbnail-border-color, top);
      padding: 0 0.625rem 0 0.9375rem; // 0 10px 0 15px

      // 삭제 버튼
      .z-button-icon {
        padding: 0;
        height: 2.5rem; // 40px

        .z-icon {
          &.i-delete { background: $thumbnail-icon-color; }
        }
      }
    }
  }
  // 썸네일 파일 업로드
  .z-thumbnail-upload {
    display: inline-block;
    width: $thumbnail-width;
    height: $thumbnail-height;
    margin: 0.625rem; // 10px
    padding: 5.313rem 0 0 0; // 85px
    @include border($thumbnail-border-width, solid, $thumbnail-border-color, all);
    box-shadow: none;
    background-color: $thumbnail-upload-bg-color;
    cursor: pointer;
    overflow: hidden;

    .z-thumbnail-upload-text {
      color: $thumbnail-upload-font-color;
      font-weight: $thumbnail-upload-font-weight;
    }

    &:hover {
      @include border($thumbnail-border-width, solid, $thumbnail-hover-border-color, all);
      background-color: $thumbnail-upload-hover-bg-color;
    }
  }
  // 아이콘
  .z-icon {
    &.i-image-upload {
      @include maskImage('#{$icon-folder-path}icon_image_upload.svg', 4.813rem, 4.813rem, no-repeat, center); // 77px 77px
      background: $thumbnail-icon-color;
    }
  }
  // 데이터 없을 때
  .z-thumbnail-nodata {
    display: inline-block;
    width: 100%;
    height: 100%;
    font-family: $thumbnail-nodata-font-family;
    font-size: $thumbnail-nodata-font-size;
    font-weight: $thumbnail-nodata-font-weight;
    color: $thumbnail-nodata-font-color;
  }
}
