/* _tooltip.scss 
 *
 * 파일 경로 : template/_tooltip.scss
 * @description 툴팁 디자인
 * @author jy.lim
 * @version 1.0
 */

@include keyframe(fadeIn) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.z-help-tooltip {
  @include relative();
  display: inline-block;
  margin-left: $tooltip-help-margin;
  vertical-align: middle;

  .z-icon {
    &.i-tooltip {
      cursor: pointer;
      background: $element-icon-color;
    }
  }

  .z-tooltip-contents {
    // 툴팁 표시 위치 기본은 우측 하단
    @include absolute($left: $tooltip-contents-left);
    visibility: hidden;
    background-color: $tooltip-contents-background;
    font-family: $tooltip-font-family;
    font-size: $tooltip-font-size;
    color: $tooltip-contents-color;
    width: $tooltip-contents-width;
    @include border($tooltip-border-width, solid, $tooltip-border-color, all);
    @include borderRadius($tooltip-border-radius); // 2px
    padding: $tooltip-contents-padding;
    margin: 0.25rem 0 0 0;
    z-index: $z-index-tooltip;
    @include boxShadow(0, 0, 0.125rem, 0, $tooltip-box-shadow-color); // 2px
    span {
      color: $tooltip-contents-color;
      word-break: keep-all;
      line-height: 1.5;
    }
    // 툴팁 표시 위치 조정 가능
    &.top {
      @include absolute(0, auto, auto, 50%);
      @include translate(-50%, calc(-100% - 0.625rem)); // 10px
    }
    &.right {
      @include absolute(0, 0, auto, auto);
      @include translate(calc(100% + 0.625rem), -50%);
    }
    &.bottom {
      @include absolute(auto, auto, auto, 50%);
      @include translate(-50%, 0);
    }
    &.left {
      @include absolute(0, auto, auto, 0);
      @include translate(calc(-100% - 0.625rem), -50%);
    }
  }

  &:hover {
    .z-tooltip-contents {
      visibility: visible;
      @include animation (0s, 0.3s, fadeIn, ease-out);
    }

    .z-icon {
      &.i-tooltip {
        background: $element-hover-icon-color;
      }
    }
  }
}

// header tooltip
.z-header-tooltip {
  @include relative();
  .z-header-tooltip-contents {
    @include absolute($left: 50%);
    @include translate(-50%, 0);
    visibility: hidden;
    background-color: $header-tooltip-bg-color;
    text-align: center;
    @include borderRadius($header-tooltip-border-radius);
    @include border($header-tooltip-border-width, solid, $header-tooltip-border-color, all);
    @include boxShadow(0, 0, 0.125rem, 0, $header-tooltip-box-shadow-color); // 2px
    padding: $header-tooltip-padding;
    margin: $header-tooltip-margin;
    z-index: $z-index-tooltip;

    &.last {
      left: 0;
      @include translate(-70%, 0);
    }

    .z-header-tooltip-text {
      font-family: $header-tooltip-font-family;
      font-size: $header-tooltip-font-size;
      color: $header-tooltip-font-color;
      font-weight: $header-tooltip-font-weight;
    }
  }
  // 마우스 오버
  &:hover {
    .z-header-tooltip-contents {
      visibility: visible;
      @include animation (0s, 0.3s, fadeIn, ease-out);
    }
  }
}

// clipboard - 복사 용도
.z-clipboard-tooltip {
  @include relative();
  display: inline-block;
  margin-left: 0.3125rem; // 5px
  cursor: pointer;

  &:hover {
    .z-clipboard-tooltip-text {
      visibility: visible;
      opacity: 1;
    }
  }

  .z-clipboard-tooltip-text {
    @include absolute($left: 50%, $bottom: 120%);
    width: 9.375rem; //150px
    font-family: $clipboard-tooltip-font-family;
    font-size: $clipboard-tooltip-font-size;
    font-weight: $clipboard-tooltip-font-weight;
    color: $clipboard-tooltip-font-color;
    background-color: $clipboard-tooltip-bg-color;
    @include border($clipboard-tooltip-border-width, solid, $clipboard-tooltip-border-color, all);
    @include borderRadius($clipboard-tooltip-border-radius);
    text-align: center;
    padding: 0.313rem; // 5px
    margin-left: -8.125rem; // -130px
    opacity: 0;
    @include transition(opacity 0.3s);
    visibility: hidden;
    z-index: $z-index-tooltip;

    &::after {
      @include absolute($top: 100%, $left: 50%);
      content: '';
      margin-left: -0.313rem; // -5px
    }
  }
}
