/* _tooltip.scss 
 *
 * 파일 경로 : template/_tooltip.scss
 * @description 툴팁 디자인
 * @author jy.lim
 * @version 1.0
 */

@include keyframe(fadeIn) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.help-tooltip {
  display: inline-block;
  margin-left: $tooltip-help-margin;
  vertical-align: middle;

  .help-tooltip-icon {
    display: inline-block;
    cursor: pointer;
    @include maskImage('#{$icon-folder-path}icon_tooltip.svg', $tooltip-help-size, $tooltip-help-size, no-repeat, center, null, map-get($grays, "pressed"));
  }

  .tooltip-contents {
    @include absolute($left: $tooltip-contents-left);
    visibility: hidden;
    background-color: $tooltip-contents-background;
    color: $tooltip-contents-color;
    width: $tooltip-contents-width;
    font-size: $tooltip-font-size;
    @include border(0.125rem, solid, $blue, all); // 2xp
    @include borderRadius(0.125rem); // 2px
    padding: $tooltip-contents-padding;
    margin: 0.25rem 0 0 0;
    z-index: $z-index-tooltip;
    @include boxShadow(0, 0, 0.3125rem, 0, hexToRGBA(#1e2f3f, 0.2)); // 5px
    span {
      color: $blue;
      word-break: keep-all;
      line-height: 1.5;
    }
  }

  &:hover {
    .tooltip-contents {
      visibility: visible;
      @include animation (0s, 0.3s, fadeIn, ease-out);
    }
    .help-tooltip-icon {
      background: $blue;
    }
  }
}

// header tooltip
.#{$common-prefix}header-tooltip {
  @include relative();
  .#{$common-prefix}header-tooltip-contents {
    @include absolute($left: 50%);
    @include translate(-50%, 0);
    visibility: hidden;
    background-color: $header-tooltip-bg-color;
    text-align: center;
    @include borderRadius($header-tooltip-border-radius);
    @include border($header-tooltip-border-width, solid, $header-tooltip-border-color, all);
    @include boxShadow(0, 0, 0.125rem, 0, $header-tooltip-box-shadow-color); // 2px
    padding: $header-tooltip-padding;
    margin: $header-tooltip-margin;
    z-index: $z-index-tooltip;

    &.last {
      left: 0;
      @include translate(-70%, 0);
    }

    .#{$common-prefix}header-tooltip-text {
      font-family: $header-tooltip-font-family;
      font-size: $header-tooltip-font-size;
      color: $header-tooltip-font-color;
      font-weight: $header-tooltip-font-weight;
    }
  }
  // 마우스 오버
  &:hover {
    .#{$common-prefix}header-tooltip-contents {
      visibility: visible;
      @include animation (0s, 0.3s, fadeIn, ease-out);
    }
  }
}
