/* _tree.scss
 *
 * 파일 경로 : template/_tree.scss
 * @description 트리 구조 디자인
 * @author wdj
 * @version 1.0
 */
// Level 1
// -------------------------
ul.tree {
  font-family: $font-family;
  font-size:  $font-size-xs;
  font-weight:  $font-weight-medium;
  color: $gray800;
  margin: 0;
  padding: 0;
  list-style-type: none;
  @include userSelect(none);
  cursor: default;

  li {
    @include relative();
    display: block;
    line-height: 1.875rem; // 30px
    padding-right: 0.125rem; // 2px

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    word-wrap: normal;
  }
  // Level 2
  // -------------------------
  ul {
    @include relative();
    margin: 0 0 0 calc(0.875rem * 2.3);
    padding: 0;
    list-style-type: none;
    @include userSelect(none);
    // vertical line
    &:before {
      content: '';
      @include absolute($top: 0, $bottom: 0);
      @include border(0.0625rem, solid, $gray300, left);
    }

    li {
      padding-left: calc((0.875rem / 2) + 0.5rem + (1.438rem / 2));
      // horizontal line
      &:before {
        content: '';
        @include absolute($top: (1.875rem / 2), $left: 0); // 30px half of line-height
        width: calc((0.875rem / 2) + 0.5rem + (1.438rem / 2));
        height: 0.0625rem; // 1px
        @include border(0.0625rem, solid, $gray300, top);
      }
       // cover the excess line
       &:last-child:before {
        height: auto;
        top: (1.875rem / 2); // 30px
        bottom: 0;
         @include border(0.0625rem, solid, $white, left);
      }

      // Level 3+
      // -------------------------
      ul {}
    }
  }

  label { color: $gray800; }
}

img {
  // +, - 아이콘
  &.exp_col { cursor: pointer; }
  &.exp_col_empty {
    width: 1rem; // 16px
    cursor: pointer;
  }
  &.on { display: inline-block; }
  &.off { display: none; }
  // 폴더 아이콘
  &.icon_tree {
    vertical-align: middle;
    padding-left: 0.188rem; // 3px
    margin-top: -0.188rem; // 3px
  }
}

span.node {
  padding: 0.25rem 0.188rem 0.25rem 0; // 4px 3px 4px 0
  @include border(0.0625rem, solid, transparent, all);
  &:hover {
    background-color: $blue100;
    @include borderRadius(0.125rem); // 2px
  }
  label {
    padding-left: 0.5rem; // 8px
    cursor: pointer;
  }
  cursor: pointer;
}
// 노드 선택시
span.node_selected,
span.modal_node_selected,{
  padding: 0.25rem 0.188rem 0.25rem 0; // 4px 3px 4px 0
  @include border(0.0625rem, solid, transparent, all);
  background-color: transparent;
  label {
    color: $blue500;
    padding-left: 0.5rem; // 8px
    cursor: pointer;
  }
  cursor: pointer;
}

// 트리 전용 모달
.tree-container {
  @include relative();
  font-family: $font-family;
  margin: 1.875rem 2.5rem; // 30px 40px

  .tree-title {
    height: 2.5rem; // 40px
    font-size:  1.5rem; // 24px;
    font-weight:  $font-weight-medium;
    color: $gray800;
    @include border(0.0625rem, solid, $gray300, bottom);
  }

  .tree-list {
    height: 32.5rem; // 520px
    margin-top: 0.625rem; // 10px
  }

  .tree-nodata {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: $font-size-xs;
    font-weight: $font-weight-medium;
    color: $gray800;
  }
}
