// design-system color
@import 'bz-colors.scss';

// font family
$font-face-map: (
    'NotoSansKR-Thin.otf':                    100,
    'NotoSansKR-Light.otf':                   300,
    'NotoSansKR-Regular.otf':                 400,
    'NotoSansKR-Medium.otf':                  500,
    'NotoSansKR-Bold.otf':                    700,
    'NotoSansKR-Black.otf':                   900
);
// 폰트는 맑은고딕, Noto Sans KR을 사용합니다. 14px 이하는 맑은고딕 폰트를 사용하고, 16px 이상은 Noto Sans KR 폰트 사용
// 폰트 패밀리만 작은 따옴표(') 대신 큰 따옴표 (') 사용
$font-family-m:                               'Noto Sans KR', '맑은고딕', 'Malgun Gothic', dotum, gulim, sans-serif;
$font-family-s:                               '맑은고딕', 'Malgun Gothic', 'Noto Sans KR', dotum, gulim, sans-serif;

// font size
$font-size-xxl:                               2.5rem !default;   // 45px
$font-size-xl:                                2rem !default;     // 32px
$font-size-l:                                 1.5rem !default;   // 24px
$font-size-m:                                 1.125rem !default; // 18px
$font-size-s:                                 1rem !default;     // 16px
$font-size-xs:                                0.875rem !default; // 14px
$font-size-xxs:                               0.75rem !default;  // 12px

// font weight
// 맑은 고딕은 300 = semilight , 500 = reqular, 700 = bold
$font-weight-thin:                            100 !default;
$font-weight-extralight:                      200 !default;
$font-weight-light:                           300 !default;
$font-weight-regular:                         400 !default;
$font-weight-medium:                          500 !default;
$font-weight-semibold:                        600 !default;
$font-weight-bold:                            700 !default;
$font-weight-extrabold:                       800 !default;
$font-weight-black:                           900 !default;

// asset path
$font-folder-path:                            '../fonts';
$icon-folder-path:                            '../media/icons/';
$image-folder-path:                           '../media/images/';

// black color
$blacks: (
  'focus':                                    #283238,
  'ground':                                   #333D47,
  'light':                                    #3F4B56
) !default;

// gray color
$grays: (
  'dark':                                     #586872,
  'warm':                                     #7E848C,
  'blue':                                     #929AA6,
  'pressed':                                  #CCCED1,
  'default':                                  #E1E3E6,
  'line':                                     #EBEBEB,
  'light':                                    #F7F8F9
) !default;

// blue color
$blues: (
  'dark':                                     #0060A5,
  'pressed':                                  #0088E6,
  'hover':                                    #33ADFF,
  'light':                                    #87CEFF
) !default;

// orange color
$oranges: (
  'light':                                    #FF850A
) !default;

$gray:                                        #ACB4BF !default;
$red:                                         #ff405a !default;
$blue:                                        #0098FF !default;
$orange:                                      #FF7319 !default;
$green:                                       #00C462 !default;

// color
$error-color:                                 $red500;
$success-color:                               $green500;

// common prefix
$common-prefix:                               'z-';

// element default
$element-font-family:                         $font-family-s;
$element-font-size:                           $font-size-xs;
$element-font-color:                          $gray800;
$element-font-weight:                         $font-weight-regular;
$element-line-height:                         1.2;
$element-bg-color:                            $white;
$element-border-color:                        $gray300;
$element-border-width:                        0.0625rem; // 1px
$element-border:                              $element-border-width solid $element-border-color;
$element-indent:                              1rem; // 16px 내부 들여쓰기
$element-shadow-color:                        $gray300;

// 사용자 미입력시 나올 문구 = placeholder
$element-placeholder-font-color:              $gray400;

// element가 활성화(active)되었을 때 사용하는 디자인 변수
$element-active-bg-color:                     $blue200;
$element-active-border-color:                 $blue600;

// 키보드 또는 선택시, 해당 element에 포커싱되었을때 사용하는 디자인 변수
$element-focus-border-color:                  $blue600;
$element-focus-border-width:                  0.0625rem; // 1px
$element-focus-border:                        $element-focus-border-width solid $element-focus-border-color;
$element-focus-shadow-color:                  $blue600;

// element 마우스 오버시 사용하는 디자인 변수 
$element-hover-bg-color:                      $blue100;
$element-hover-border-color:                  $blue400;
$element-hover-border-width:                  0.0625rem; // 1px
$element-hover-border:                        $element-hover-border-width solid $element-hover-border-color;

// element disabled시 사용하는 디자인 변수
$element-disabled-font-color:                 $gray400;
$element-disabled-bg-color:                   $neutral200;
$element-disabled-border-color:               $gray300;
$element-disabled-border-width:               0.0625rem; // 1px
$element-disabled-border:                     $element-disabled-border-width solid $element-disabled-border-color;

// element readonly시 사용하는 디자인 변수
$element-readonly-font-color:                 map-get($grays, 'dark');
$element-readonly-bg-color:                   map-get($grays, 'light');
$element-readonly-border-color:               $gray400;
$element-readonly-border-width:               0.0625rem; // 1px
$element-readonly-border:                     $element-readonly-border-width solid $element-readonly-border-color;

// 체크박스, 라디오 버튼, 스위치 등 선택되었을때 (ON) 디자인 변수
$element-checked-bg-color:                    $blue500;

//셀렉트 박스 선택되었을때 옵션에 사용하는 디자인 변수
$element-selected-font-color:                 $blue500;
$element-hover-bg-color:                      hexToRGBA($blue, 0.08); // 불투명도 8%

// 유효성 검증 실패시 디자인 변수
$element-error-font-color:                    $red !important;
$element-error-border-color:                  $red;
$element-error-border-width:                  0.0625rem; // 1px
$element-error-border:                        $element-error-border-width solid $element-error-border-color !important;


// headings
$h1-font-size:                                $font-size-s * 2.25; // 36px
$h2-font-size:                                $font-size-s * 1.75; // 28px
$h3-font-size:                                $font-size-s * 1.5;  // 24px
$h4-font-size:                                $font-size-s * 1.25; // 20px
$h5-font-size:                                $font-size-s;
$h6-font-size:                                $font-size-s * 0.875; // 14px

$headings-font-color:                         map-get($blacks, 'light');
$headings-font-weight:                        $font-weight-medium;
$headings-line-height:                        1.2;

// label
$label-font-color:                            map-get($blacks, 'light');
$label-font-size:                             $font-size-xs;
$label-font-weight:                           $font-weight-medium;

// table
$table-th-font-size:                          1.125rem; // 18px
$table-th-font-weight:                        $font-weight-medium;

// button, a
$button-font-family:                          $font-family-s;
$button-font-size:                            $font-size-xs;
$button-font-weight:                          $font-weight-bold;
$button-border-width:                         0.0625rem; // 1px
$button-border-radius:                        0.25rem; // 4px
// 기본 버튼 테마
$button-themes-default: (
  'primary': (
    'default': ('font': $white, 'background': $blue500, 'border': $blue500),
    'hover': ('font' : $white, 'background': $blue400, 'border': $blue400),
    'focus': ('font': $white, 'background': $blue500, 'border': $blue600, 'shadow': 0 0 0.125rem $blue600),
    'active': ('font': $white, 'background': $blue600, 'border': $blue700),
    'disabled': ('font': $gray400, 'background': $neutral200, 'border': $neutral200)
  ),
  'secondary': (
    'default': ('font': $blue500, 'background': $white, 'border': $blue500),
    'hover': ('font' : $blue500, 'background': $blue100, 'border': $blue500),
    'focus': ('font': $blue500, 'background': $white, 'border': $blue600, 'shadow': 0 0 0.125rem $blue600),
    'active': ('font': $blue700, 'background': $blue200, 'border': $blue600),
    'disabled': ('font': $gray400, 'background': $neutral200, 'border': $neutral200)
  ),
  'extra': (
    'default': ('font': $blue500, 'background': $white, 'border': $white),
    'hover': ('font' : $blue500, 'background': $blue100, 'border': $blue100),
    'focus': ('font': $blue500, 'background': $white, 'border': $blue600, 'shadow': 0 0 0.125rem $blue600),
    'active': ('font': $blue700, 'background': $blue200, 'border': $blue200),
    'disabled': ('font': $gray400, 'background': $neutral200, 'border': $neutral200)
  ),
  'form': (
    'default': ('font': $neutral800, 'background': $neutral300, 'border': $neutral300),
    'hover': ('font' : $neutral800, 'background': $neutral200, 'border': $neutral200),
    'focus': ('font': $neutral800, 'background': $neutral300, 'border': $blue600, 'shadow': 0 0 0.125rem $blue600),
    'active': ('font': $neutral800, 'background': $neutral300, 'border': $neutral400),
    'disabled': ('font': $gray400, 'background': $neutral200, 'border': $neutral200)
  )
);
// 어두운 배경에서 사용되는 버튼 테마
$button-themes-light: (
  'light-primary': (
    'default': ('font': $white, 'background': $blue500, 'border': $blue500),
    'hover': ('font' : $white, 'background': $blue400, 'border': $blue400),
    'focus': ('font': $white, 'background': $blue500, 'border': $blue600, 'shadow': 0 0 0.125rem $blue600),
    'active': ('font': $white, 'background': $blue600, 'border': $blue700),
    'disabled': ('font': $gray400, 'background': $neutral200, 'border': $neutral200)
  ),
  'light-secondary': (
    'default': ('font': $white, 'background': transparent, 'border': $white),
    'hover': ('font' : $white, 'background': hexToRGBA($white, 0.2), 'border': $white),
    'focus': ('font': $white, 'background': transparent, 'border': $white, 'shadow': 0 0 0.125rem $blue600),
    'active': ('font': $white, 'background': hexToRGBA($white, 0.4), 'border': $white),
    'disabled': ('font': $gray400, ' background': $neutral200, 'border': $neutral200)
  ),
  'light-extra': (
    'default': ('font': $white, 'background': transparent, 'border': transparent),
    'hover': ('font' : $white, 'background': hexToRGBA($white, 0.2), 'border': hexToRGBA($white, 0.2)),
    'focus': ('font': $white, 'background': transparent, 'border': $blue600, 'shadow': 0 0 0.125rem $blue600),
    'active': ('font': $white, 'background': hexToRGBA($white, 0.4), 'border': hexToRGBA($white, 0.4)),
    'disabled': ('font': $gray400, 'background': $neutral200, 'border': $neutral200)
  ),
  'light-form': (
    'default': ('font': $neutral800, 'background': $neutral300, 'border': $neutral300),
    'hover': ('font' : $neutral800, 'background': $neutral200, 'border': $neutral200),
    'focus': ('font': $neutral800, 'background': $neutral300, 'border': $blue600, 'shadow': 0 0 0.125rem $blue600),
    'active': ('font': $neutral800, 'background': $neutral300, 'border': $neutral400),
    'disabled': ('font': $gray400, 'background': $neutral200, 'border': $neutral200)
  )
);

// button group
// - button switch, button toggle
$button-group: (
  'default': ('font': $gray800, 'background': $white, 'border': $gray300),
  'hover': ('font' : $gray800, 'background': $blue100, 'border': $gray300),
  'focus': ('font': $gray800, 'background': $white, 'border': $blue600, 'shadow': 0 0 0.125rem $blue600),
  'active': ('font': $blue700, 'background': $blue200, 'border': $blue400),
  'selected': ('font': $blue500, 'background': $white, 'border': $blue500),
  'disabled': ('font': $gray400, 'background': $neutral200, 'border': $gray300)
);

//////////////////////////////// layout ////////////////////////////////
$layout-header-height:                       3.125rem; // 50px
$layout-properties-width:                    18.75rem; // 300px

//////////////////////////////// scrollbar ////////////////////////////////
// 기본 스크롤바
// scrollbar 두께
$scrollbar-thick:                            0.5rem; // 8px
// element 내부 scrollbar 두께
$scrollbar-thick-sm:                         0.25rem; // 4px
// scrollbar 색상
$scrollbar-color:                            map-get($grays, 'default');
// scrollbar 모서리 곡선
$scrollbar-border-radius:                     0.5rem; // 8px
// scrollbar 배경 색상
$scrollbar-bg-color:                         hexToRGBA(map-get($grays, 'line'), 0.6);
// scrollbar hover, click 이동시 색상
$scrollbar-hover-color:                      map-get($grays, 'pressed');
// dark 테마 스크롤바 (메뉴 사용)
$scrollbar-dark-color:                       map-get($blacks, 'light');
$scrollbar-dark-bg-color:                    map-get($blacks, 'focus');
$scrollbar-dark-hover-color:                 map-get($grays, 'dark');

///////////////////////////////// columns /////////////////////////////////
// Column width (fixed)
$column-count: 12;
$column-init: 5rem; // 80px

//////////////////////////////// fileuploader ////////////////////////////////
$file-uploader-font-size:                    $font-size-xs;
$file-uploader-font-color:                   map-get($grays, 'dark');
$file-uploader-font-weight:                  $font-weight-medium;
$file-uploader-icon-color:                   map-get($grays, 'pressed');
// drag and drop 영역
$dropzone-font-size:                         $font-size-xs;
$dropzone-font-color:                        $gray;
$dropzone-font-weight:                       $font-weight-regular;
$dropzone-bg-color:                          map-get($grays, 'light');
// browse click 버튼
$dropzone-clickable-font-color:              $blue;
// 미리보기
$file-uploader-preview-height:               5rem; // 80px;
$file-uploader-progress-color:               $blue;
$file-uploader-progress-bg-color:            map-get($grays, 'line');
$file-uploader-filename-font-color:          map-get($grays, 'dark');
$file-uploader-filesize-font-color:          $gray;
// 파일 미존재시
$file-uploader-no-date-font-color:           $gray;
// view 모드
$file-uploader-view-font-size:               $font-size-xs;
$file-uploader-view-font-color:              map-get($grays, 'dark');
$file-uploader-view-font-weight:             $font-weight-regular;

//////////////////////////////// avatar ////////////////////////////////
$avatar-font-size:                           $font-size-xs;
$avatar-sm-font-size:                        0.8125rem; // 13px
$avatar-font-color:                          map-get($blacks, 'light');
$avatar-font-weight:                         $font-weight-medium;
// drag and drop 영역
$avatar-dropzone-width:                      20.63rem; // 330px
$avatar-dropzone-height:                     20.63rem; // 330px
$avatar-dropzone-sm-width:                   9.375rem; // 150px
$avatar-dropzone-sm-height:                  9.375rem; // 150px
$avatar-dropzone-font-size:                  $font-size-xs;
$avatar-dropzone-font-color:                 $gray;
$avatar-dropzone-font-weight:                $font-weight-regular;
$avatar-dropzone-bg-color:                   map-get($grays, 'light');
// browse click 버튼
$avatar-dropzone-clickable-font-color:       $blue;
// description
$avatar-desc-font-size:                      $font-size-xs;
$avatar-desc-font-color:                     $gray;
$avatar-desc-font-weight:                    $font-weight-regular;

///////////////////////////////// date picker /////////////////////////////////
$datepicker-font-color:                      $gray800;
$datepicker-font-family:                     $font-family-s;
$datepicker-font-size:                       $font-size-xs;
$datepicker-font-weight:                     $font-weight-regular;
$datepicker-line-height:                     1.2;
$datepicker-bg-color:                        $white;
$datepicker-border-color:                    $gray300;
$datepicker-border-width:                    0.0625rem; // 1px
$datepicker-focus-color:                     $blue600;
$datepicker-hover-color:                     $blue400;
$datepicker-icon-color:                      $gray500;
// focus
$datepicker-focus-border-color:              $blue;
$datepicker-focus-border-width:              0.0625rem; // 1px
// title
$datepicker-title-font-size:                 $font-size-xs;
$datepicker-title-font-color:                $gray500;
$datepicker-title-font-weight:               $font-weight-bold;
// sub title
$datepicker-sub-title-font-size:             $font-size-xs;
$datepicker-sub-title-font-color:            $gray800;
$datepicker-sub-title-font-weight:           $font-weight-regular;
$datepicker-sub-title-bg-color:              $neutral50;
// calendar
$datepicker-calendar-month-font-size:        $font-size-s;
$datepicker-calendar-month-font-weight:      $font-weight-medium;
$datepicker-calendar-month-font-color:       $gray800;
$datepicker-calendar-title-font-color:       $gray500;
// cell
$datepicker-cell-font-color:                 $gray400;
// current cell
$datepicker-current-cell-font-color:         $gray800;
// hovered cell
$datepicker-hover-cell-color:                $blue100;
// active cell
$datepicker-active-cell-color:               $blue600;
// selected cell
$datepicker-selected-cell-color:             $blue500;
$datepicker-selected-cell-bg-color:          $white;
// time
$datepicker-time-font-size:                  1.5rem; // 24px
$datepicker-time-font-color:                 $gray800;
$datepicker-time-font-weight:                $font-weight-medium;

///////////////////////////////// text editor /////////////////////////////////
$text-editor-font-size:                      $font-size-xs;
$text-editor-font-color:                     map-get($grays, 'dark');
$text-editor-font-weight:                    $font-weight-regular;
$text-editor-line-height:                    1.5;
$text-editor-border-color:                   map-get($grays, 'line');
$text-editor-bg-color:                       $white;
$text-editor-border-width:                   0.0625rem; // 1px
$text-editor-toolbar-font-size:              $font-size-xs;
$text-editor-toolbar-font-color:             map-get($blacks, 'light');
$text-editor-toolbar-font-weight:            $font-weight-medium;
// text editor의 hover와 pressec 는 동일한 디자인이다.
$text-editor-toolbar-hover-font-color:       map-get($blacks, 'light');
$text-editor-toolbar-hover-bg-color:         map-get($grays, 'line');
$text-editor-toolbar-selected-font-color:    $blue;

///////////////////////////////// tree /////////////////////////////////
$tree-folder-path:                           '/../media/icons/tree';
$tree-font-size:                             $font-size-xs;
$tree-font-color:                            map-get($blacks, 'light');
$tree-font-weight:                           $font-weight-medium;
// tree 간격
$tree-line-height:                           1.875rem; // 30px
$tree-bg-color:                              map-get($grays, 'light');
$tree-line-color:                            map-get($grays, 'default');
$tree-line-width:                            0.0625rem; // 1px
// +, - icon
$tree-toggle-icon-width:                     0.875rem; // 14px
// folder icon
$tree-folder-icon-width:                     1.438rem; // 23px
// folder icon margin left
$tree-folder-margin-left:                    0.5rem; // 8px
// line 위치 계산
$tree-indentation:                           calc((#{$tree-toggle-icon-width} / 2) + #{$tree-folder-margin-left} + (#{$tree-folder-icon-width} / 2));
// node 선택
$tree-selected-border-color:                 $blue;
$tree-selected-border-width:                 0.0625rem; // 1px;
$tree-selected-border:                       $tree-selected-border-width solid $tree-selected-border-color;
$tree-selected-bg-color:                     hexToRGBA($blue, 0.05);
$tree-hover-bg-color:                        hexToRGBA($blue, 0.05);

///////////////////////////////// modal //////////////////////////////
// 모달 오픈시 바탕 어둡게
$modal-backdrop-bg-color:                    hexToRGBA(#7493b3, 0.5);
$modal-border-color:                         map-get($grays, 'line');
$modal-bg-color:                             $white;
$modal-border-width:                         0.0625rem; // 1px

$modal-width:                                34.38rem; // 550px
$modal-height:                               22.5rem; // 360px

// 모달 제목
$modal-header-height:                        3.375rem; // 54px
$modal-header-font-size:                     1.125rem; // 18px
$modal-header-font-color:                    map-get($blacks, 'light');
$modal-header-font-weight:                   $font-weight-medium;

// 모달 버튼 영역
$modal-bottom-height:                       5rem; // 80px

///////////////////////////////// alert //////////////////////////////
$alert-font-size:                            $font-size-xs;
$alert-font-weight:                          $font-weight-medium;
$alert-margin-size:                          0.3125rem;  // 5px
$alert-box-sizing:                           border-box;
$alert-bg-color:                             $white;

///////////////////////////// color-picker ///////////////////////////
$color-picker-color-size:                    1.75rem;    // 28px
$color-picker-box-size:                      2.5rem;     // 40px
$color-picker-margin:                        0.3125rem;  // 5px
// color-picker palette
$color-picker-palette-width:                 30rem;      // 480px
$color-picker-palette-margin:                0.3125rem;  // 5px
$color-picker-palette-padding:               1.25rem 0 0.625rem 1.25rem; // 20px 0 10px 20px;
$color-picker-colorchip-size:                2.5rem;     // 40px
$color-picker-colorchip-margin:              0.625rem;   // 10px
$color-picker-colorchip-border-width:        0.375rem;   // 6px
$color-picker-colorchip-border-color:        $white;

// color picker
:root {
  --data-color: '';
}
$color-picker-width:                         7.5rem; // 120px
$color-picker-font-family:                   $font-family-s;
$color-picker-font-size:                     $font-size-xs;
$color-picker-font-weight:                   $font-weight-bold;
$color-picker-font-color:                    $gray500;
$color-picker-icon-color:                    $gray500;
$color-picker-border-width:                  0.0625rem; // 1px
$color-picker-border-color:                  $gray300;
$color-picker-border-radius:                 0.125rem; // 2px
// color picker > hover
$color-picker-hover-border-color:            $blue400;
// color picker > focus
$color-picker-focus-border-color:            $blue600;
// modal
$color-picker-modal-bg-color:                $white;
$color-picker-modal-box-shadow-color:        $gray300;
// palette
$color-palette-item-width:                   1.75rem; // 28px
$color-palette-item-height:                  1.75rem; // 28px
$color-palette-border-radius:                0.125rem; // 2px
$color-palette-line-border-width:            0.25rem; // 4px
$color-palette-inset-border-radius:          0.0625rem; // 1px
// palette > selected
$color-palette-selected-border-width:        0.0625rem; // 1px
$color-palette-selected-border-color:        $blue500;
// custom color palette
$custom-color-plus: (
  'default': ('font': $gray500, 'background': $white, 'border': $gray300),
  'hover': ('font' : $gray500, 'background': $blue100, 'border': $gray300),
  'focus': ('font': $gray500, 'background': $white, 'border': $blue600, 'shadow': 0 0 0.125rem $blue600),
  'active': ('font': $blue700, 'background': $blue200, 'border': $blue400)
);
// control


////////////////////////////// thumbnail /////////////////////////////
$thumbnail-asset-path:                       '../media/icons/thumbnail';
$thumbnail-font-family:                      'Noto Sans KR';
$thumbnail-font-size:                        $font-size-xs;
$thumbnail-font-weight:                      $font-weight-regular;
$thumbnail-font-color:                       $gray;

$thumbnail-main-height:                      100%;
$thumbnail-main-padding:                     0;
$thumbnail-icon-color:                       map-get($grays, 'pressed');
// 썸네일
$thumbnail-width:                            14.06rem; // 225px
$thumbnail-height:                           18.13rem; // 290px
$thumbnail-border-width:                     0.0625rem; // 1px
$thumbnail-border-color:                     map-get($grays, 'line');
$thumbnail-bg-color:                         $white;

$thumbnail-selected-border-width:            0.0625rem; // 1px
$thumbnail-selected-border-color:            $blue;
$thumbnail-selected-bg-color:                hexToRGBA($blue, 0.05);

// 썸네일 미리보기
$thumbnail-preview-modal-width:              760px; // 760px
$thumbnail-preview-modal-height:             645px; // 645px

/////////////////////////////// tooltip ///////////////////////////////
$tooltip-help-size:                          1rem; // 16px
$tooltip-help-margin:                        0.3125rem; // 5px
$tooltip-font-size:                          1rem; // 16px
$tooltip-contents-background:                $white;
$tooltip-contents-color:                     $blue;
$tooltip-contents-left:                      0;
$tooltip-contents-width:                     100%;
$tooltip-contents-padding:                   1.0625rem 0.9375rem 0.9375rem 0.9375rem; // 17px 15px 15px 15px

// header tooltip
$header-tooltip-font-family:                 $font-family-s;
$header-tooltip-font-size:                   $font-size-xs;
$header-tooltip-font-color:                  $gray800;
$header-tooltip-font-weight:                 $font-weight-medium;
$header-tooltip-bg-color:                    $white;
$header-tooltip-border-width:                0.0625rem; // 1px
$header-tooltip-border-radius:               0.0625rem; // 1p
$header-tooltip-border-color:                $gray300;
$header-tooltip-box-shadow-color:            $gray300;
$header-tooltip-padding:                     7px; // 7px
$header-tooltip-margin:                      16px 0 0 0; // 16px

/////////////////////////////// designed select ///////////////////////////////
$select-bg-color:                            $blue50;

//////////////////////////////////// common ///////////////////////////////////
$vertical-bar-width:                         1.875rem; // 30px
$vertical-bar-height:                        1.875rem; // 30px
$vertical-bar-margin:                        0 1.875rem 0 0; // 0 30px 0 0#CFD5D9

//////////////////////////////////// z-index ///////////////////////////////////
$z-index-alert:                              999999;
$z-index-between-alert-modal:                5000;
$z-index-modal:                              1000;
$z-index-between-modal-gnb:                  750;
$z-index-tooltip:   			             500;
$z-index-between-tooltip-gnb:		         250;
$z-index-gnb:                                100;
$z-index-between-gnb-event:			         50;
$z-index-event:				                 25;
$z-index-between-event-and-default:	         10;
$z-index-auto:                               auto;
$z-index-hidden:                             -1;

//////////////////////////// tag //////////////////////////////
// tagify readonly
$tagify-read-font-color:                     #586872;
$tagify-read-bg-color:                       #F7F8F9;
// tag
$tag-font-color:                             map-get($blues, 'pressed');
$tag-bg-color:                               hexToRGBA($blue, 0.1); // $blue , 불투명도 10
$tag-border-radius:                          0.4375rem; // 7px
// tag 삭제 버튼
$tag-btn-remove-color:                       map-get($blues, 'pressed');
// tag 마우스 오버
$tag-hover-font-color:                       map-get($blues, 'pressed');
$tag-hover-bg-color:                         hexToRGBA($blue, 0.1); // $blue , 불투명도 10
$tag-hover-border-color:                     #ADD6F3;

$tag-hover-btn-remove-color:                 $white;
$tag-hover-btn-remove-bg-color:              $blue;
// 태그를 입력하세요 input box
$tag-input-font-color:                       map-get($grays, 'dark');

// 빨간색 Tag 디자인은 중복된 태그 단어 입력 시 중복 입력은 불가능한
// 느낌을 주기 위해 빨간색 Tag 디자인을 하였습니다. 중복된 Tag는 일정
// 시간만 보여준 후 사라집니다.
$tag-invalid-color:                          hexToRGBA($red, 0.7); // $red , 불투명도 70
$tag-invalid-bg-color:                       hexToRGBA($red, 0.1); // $red , 불투명도 10
$tag-invalid-border-color:                   #FFE2E6;

////////////////////////////// input box /////////////////////////////
$input-clear-right:                          0rem;
$input-bg-icon-color:                        $gray500;

////////////////////////////// check box /////////////////////////////
$checkbox-indent:                            0.5rem; //8px
$checkbox-size:                              1.125rem; // 18px

/////////////////////////////// slider ///////////////////////////////
$slider-range-bg-color:                      $neutral200;
$slider-range-fill-color:                    $blue500;
$slider-range-disabled-fill-color:           $gray300;

$slider-thumb-bg-color:                      $white;
$slider-thumb-size:                          1.125rem; // 18px
$slider-thumb-border-color:                  $gray300;
$slider-thumb-shadow-color:                  $gray500;
$slider-thumb-hover-border-color:            $blue400;
$slider-thumb-hover-bg-color:                $blue100;
$slider-thumb-focus-border-color:            $blue600;
$slider-thumb-active-border-color:           $blue500;
$slider-thumb-active-bg-color:               $blue200;
$slider-thumb-disabled-border-color:         $gray300;
$slider-thumb-disabled-bg-color:             $neutral200;
