// 기본 라벨 테마
$label-themes-default: (
        'normal': (
                'default': ('font': $blue700, 'background': $blue300, 'border': $blue300)
        )
);

//////////////////////////////// layout ////////////////////////////////
$layout-header-height:                       3.125rem; // 50px
$layout-properties-width:                    18.75rem; // 300px
// 리스트 - 데이터 없을때
$no-data-found-list-bg:                      $neutral50;
// 모달 버튼 영역
$modal-bottom-height:                        5rem; // 80px
:root {
  --data-color: '';
}



// custom color palette
$custom-color-plus: (
  'default': ('font': $gray500, 'background': $white, 'border': $gray300),
  'hover': ('font' : $gray500, 'background': $blue100, 'border': $gray300),
  'focus': ('font': $gray500, 'background': $white, 'border': $blue600, 'shadow': 0 0 0.125rem $blue600),
  'active': ('font': $blue700, 'background': $blue200, 'border': $blue400)
);
$thumbnail-main-padding:                     0;
$tooltip-contents-left:                      auto;
$tooltip-contents-width:                     28.125rem; // 450px

$z-index-alert:                              999999;
$z-index-between-alert-modal:                5000;
$z-index-modal:                              1000;
$z-index-between-modal-gnb:                  750;
$z-index-tooltip:   			             500;
$z-index-between-tooltip-gnb:		         250;
$z-index-gnb:                                100;
$z-index-between-gnb-event:			         50;
$z-index-event:				                 25;
$z-index-between-event-and-default:	         10;
$z-index-auto:                               auto;
$z-index-hidden:                             -1;





$slider-range-bg-color:                      $neutral200;
$slider-range-fill-color:                    $blue500;
$slider-range-disabled-fill-color:           $gray300;

$slider-thumb-bg-color:                      $white;
$slider-thumb-size:                          1.125rem; // 18px
$slider-thumb-border-color:                  $gray300;
$slider-thumb-shadow-color:                  $gray500;
$slider-thumb-hover-border-color:            $blue400;
$slider-thumb-hover-bg-color:                $blue100;
$slider-thumb-focus-border-color:            $blue600;
$slider-thumb-active-border-color:           $blue500;
$slider-thumb-active-bg-color:               $blue200;
$slider-thumb-disabled-border-color:         $gray300;
$slider-thumb-disabled-bg-color:             $neutral200;

////////////////////////////// validation /////////////////////////////
// info
$validation-info-font-color:                 $blue500;
$validation-info-bg-color:                   $blue100;
$validation-info-border-color:               $blue500;
$validation-info-border-width:               0.0625rem; // 1px
// error
$validation-error-font-color:                $red500;
$validation-error-bg-color:                  $red50;
$validation-error-border-color:              $red500;
$validation-error-border-width:              0.0625rem; // 1px
// sucess
$validation-success-font-color:              $green600;
$validation-success-bg-color:                $green100;
$validation-success-border-color:            $green500;
$validation-success-border-width:            0.0625rem; // 1px