// 1. Colors
// ==========================================================================
//브랜드 컬러
$brand-color-brainz: #0066FF;
$brand-color-zenius: #FF850A;
$brand-color-itsm : #0014c3;

//Blue
$blue900: #092C73;
$blue800: #103F8B;
$blue700: #1959AC;
$blue600: #2578CE;
$blue500: #339AF0;
$blue400: #64BBF6;
$blue300: #84D1FA;
$blue200: #ADE6FD;
$blue100: #E3F5FC;
$blue50: #F1F9FC;

//Green
$green900: #235A07;
$green800: #316D0C;
$green700: #468813;
$green600: #5CA21B;
$green500: #76BD26;
$green400: #A0D756;
$green300: #C0EB7A;
$green200: #DBF8A9;
$green100: #F6FCE0;
$green50: #F8FDF1;

//Yellow
$yellow900: #776308;
$yellow800: #907A0E;
$yellow700: #B39A16;
$yellow600: #D7BC20;
$yellow500: #FADF2D;
$yellow400: #FBE961;
$yellow300: #FDF080;
$yellow200: #FEF6AB;
$yellow100: #FEFBD4;
$yellow50: #FEFDEB;

//Orange
$orange900: #7A2601;
$orange800: #933603;
$orange700: #B74C05;
$orange600: #DB6707;
$orange500: #FF850A;
$orange400: #FFAC47;
$orange300: #FFC46C;
$orange200: #FFDC9C;
$orange100: #FFEDD1;
$orange50: #FFF8E9;

//Red
$red900: #75072D;
$red800: #8E0B2D;
$red700: #B0122D;
$red600: #D21B2A;
$red500: #F52525;
$red400: #F9685A;
$red300: #FC917B;
$red200: #FEBEA7;
$red100: #FEE2D3;
$red50: #FEF2EB;

//Violet
$violet900: #301270;
$violet800: #451D88;
$violet700: #632FA9;
$violet600: #8444CA;
$violet500: #A95EEB;
$violet400: #C585F3;
$violet300: #D89FF9;
$violet200: #EAC0FD;
$violet100: #F6DFFE;
$violet50: #FBF0FE;

//Gray
$gray900: #171D21;
$gray800: #222529;
$gray700: #505559;
$gray600: #63686C;
$gray500: #8B9094;
$gray400: #ABB0B5;
$gray300: #CFD5D9;
$gray200: #E1E6EA;
$gray100: #EBF1F5;
$gray50: #F6F8FA;

//Neutral Gray
$neutral900: #212121;
$neutral800: #424242;
$neutral700: #616161;
$neutral600: #757575;
$neutral500: #9E9E9E;
$neutral400: #BDBDBD;
$neutral300: #E0E0E0;
$neutral200: #EEEEEE;
$neutral100: #F5F5F5;
$neutral50: #FAFAFA;

//Black
$black: #000000;

//White
$white: #FFFFFF;

//Pink
$pink900: #731376;
$pink800: #8F1F87;
$pink700: #B1319C;
$pink600: #D448AF;
$pink500: #F763C1;
$pink400: #FA89C6;
$pink300: #FCA1C9;
$pink200: #FEC1D5;
$pink100: #FEE0E7;
$pink50: #FEF1F4;

//Cyan
$cyan900: #0C446B;
$cyan800: #155E81;
$cyan700: #2181A1;
$cyan600: #30A8C0;
$cyan500: #47D1DE;
$cyan400: #67DDE0;
$cyan300: #91EBEB;
$cyan200: #B8F5F3;
$cyan100: #DCFAFA;
$cyan50: #E8F9FA;

//Indigo
$indigo900: #131F76;
$indigo800: #21308F;
$indigo700: #3448B1;
$indigo600: #4C64D4;
$indigo500: #6885F7;
$indigo400: #8DA5FA;
$indigo300: #A4BAFC;
$indigo200: #C3D2FE;
$indigo100: #E1E9FE;
$indigo50: #F1F5FE;

// Color Pallet
$brand-color: (
        "brainz": $brand-color-brainz,
        "zenius": $brand-color-zenius
);
$blue: (
        'blue900': $blue900,
        'blue800': $blue800,
        'blue700': $blue700,
        'blue600': $blue600,
        'blue500': $blue500,
        'blue400': $blue400,
        'blue300': $blue300,
        'blue200': $blue200,
        'blue100': $blue100,
        'blue50': $blue50
);
$green: (
        'green900': $green900,
        'green800': $green800,
        'green700': $green700,
        'green600': $green600,
        'green500': $green500,
        'green400': $green400,
        'green300': $green300,
        'green200': $green200,
        'green100': $green100,
        'green50': $green50
);
$yellow: (
        'yellow900': $yellow900,
        'yellow800': $yellow800,
        'yellow700': $yellow700,
        'yellow600': $yellow600,
        'yellow500': $yellow500,
        'yellow400': $yellow400,
        'yellow300': $yellow300,
        'yellow200': $yellow200,
        'yellow100': $yellow100,
        'yellow50': $yellow50
);
$orange: (
        'orange900': $orange900,
        'orange800': $orange800,
        'orange700': $orange700,
        'orange600': $orange600,
        'orange500': $orange500,
        'orange400': $orange400,
        'orange300': $orange300,
        'orange200': $orange200,
        'orange100': $orange100,
        'orange50': $orange50
);
$red: (
        'red900': $red900,
        'red800': $red800,
        'red700': $red700,
        'red600': $red600,
        'red500': $red500,
        'red400': $red400,
        'red300': $red300,
        'red200': $red200,
        'red100': $red100,
        'red50': $red50
);
$violet: (
        'violet900': $violet900,
        'violet800': $violet800,
        'violet700': $violet700,
        'violet600': $violet600,
        'violet500': $violet500,
        'violet400': $violet400,
        'violet300': $violet300,
        'violet200': $violet200,
        'violet100': $violet100,
        'violet50': $violet50
);
$gray: (
        'gray900': $gray900,
        'gray800': $gray800,
        'gray700': $gray700,
        'gray600': $gray600,
        'gray500': $gray500,
        'gray400': $gray400,
        'gray300': $gray300,
        'gray200': $gray200,
        'gray100': $gray100,
        'gray50': $gray50
);
$neutral: (
        'neutral900': $neutral900,
        'neutral800': $neutral800,
        'neutral700': $neutral700,
        'neutral600': $neutral600,
        'neutral500': $neutral500,
        'neutral400': $neutral400,
        'neutral300': $neutral300,
        'neutral200': $neutral200,
        'neutral100': $neutral100,
        'neutral50': $neutral50
);
$shades: (
        'black': $black,
        'white': $white ,
        'transparent': transparent
);
$pink: (
        'pink900': $pink900,
        'pink800': $pink800,
        'pink700': $pink700,
        'pink600': $pink600,
        'pink500': $pink500,
        'pink400': $pink400,
        'pink300': $pink300,
        'pink200': $pink200,
        'pink100': $pink100,
        'pink50': $pink50
);
$cyan: (
        'cyan900': $cyan900,
        'cyan800': $cyan800,
        'cyan700': $cyan700,
        'cyan600': $cyan600,
        'cyan500': $cyan500,
        'cyan400': $cyan400,
        'cyan300': $cyan300,
        'cyan200': $cyan200,
        'cyan100': $cyan100,
        'cyan50': $cyan50
);
$indigo: (
        'indigo900': $indigo900,
        'indigo800': $indigo800,
        'indigo700': $indigo700,
        'indigo600': $indigo600,
        'indigo500': $indigo500,
        'indigo400': $indigo400,
        'indigo300': $indigo300,
        'indigo200': $indigo200,
        'indigo100': $indigo100,
        'indigo50': $indigo50
);

$colors: (
        'brand': $brand-color,
        'blue': $blue,
        'green': $green,
        'yellow': $yellow,
        'orange': $orange,
        'red': $red,
        'violet': $violet,
        'gray': $gray,
        'neutral': $neutral,
        'shades': $shades,
        'pink': $pink,
        'cyan': $cyan,
        'indigo': $indigo
);

// 2. Fonts
// ==========================================================================
// font family
$font-face-map: (
    'Pretendard-Thin.woff2':                    100,
    'Pretendard-ExtraLight.woff2':              200,
    'Pretendard-Light.woff2':                   300,
    'Pretendard-Regular.woff2':                 400,
    'Pretendard-Medium.woff2':                  500,
    'Pretendard-SemiBold.woff2':                600,
    'Pretendard-Bold.woff2':                    700,
    'Pretendard-ExtraBold.woff2':               800,
    'Pretendard-Black.woff2':                   900
);

// 폰트 패밀리만 작은 따옴표(') 대신 큰 따옴표 (") 사용
$font-family:                                 'Pretendard', '맑은고딕', 'Malgun Gothic', dotum, gulim, sans-serif;

// font size
$font-size-xxl:                               2.5rem !default;   // 45px
$font-size-xl:                                2rem !default;     // 32px
$font-size-l:                                 1.25rem !default;   // 20px
$font-size-m:                                 1.125rem !default; // 18px
$font-size-s:                                 1rem !default;     // 16px
$font-size-xs:                                0.875rem !default; // 14px
$font-size-xxs:                               0.75rem !default;  // 12px

// font weight
// 맑은 고딕은 300 = semilight , 500 = reqular, 700 = bold
$font-weight-thin:                            100 !default;
$font-weight-extralight:                      200 !default;
$font-weight-light:                           300 !default;
$font-weight-regular:                         400 !default;
$font-weight-medium:                          500 !default;
$font-weight-semibold:                        600 !default;
$font-weight-bold:                            700 !default;
$font-weight-extrabold:                       800 !default;
$font-weight-black:                           900 !default;

// 3. Asset Path
// ==========================================================================
$font-folder-path:                            '../fonts';
$icon-folder-path:                            '../media/icons/';
$image-folder-path:                           '../media/images/';

//////////////////////////////// common //////////////////////////////////
// common prefix
$common-prefix:                               'z-';

$description-color:                           $gray500;
$required-color:                              $red500;

// 선
$horizontal-bar-width:                        0.0625rem; // 1px
$vertical-bar-width:                          1.875rem; // 30px
$vertical-bar-height:                         1.875rem; // 30px
$vertical-bar-margin:                         0 1.875rem 0 0; // 0 30px 0 0

////////////////////////////// View //////////////////////////////
$view-title-font-size:                        $font-size-m; // 18px
$view-title-font-weight:                      $font-weight-medium;
$view-title-font-color:                       $gray800;

$view-sub-title-font-family:                  $font-family;
$view-sub-title-font-size:                    $font-size-xs; // 14px
$view-sub-title-font-weight:                  $font-weight-regular;
$view-sub-title-font-color:                   $gray500;

$view-content-font-size:                      $font-size-xs; // 14px
$view-content-font-weight:                    $font-weight-medium;
$view-content-line-height:                    1.6;
$view-content-font-color:                     $neutral800;

$view-content-bg-color:                       $white;
$view-content-border-width:                   0.0625rem;  // 1px
$view-content-border-color:                   $gray300;

//////////////////////////////// element //////////////////////////////////
// element default
$element-font-family:                         $font-family;
$element-font-size:                           $font-size-xs;
$element-font-color:                          $neutral800;
$element-font-weight:                         $font-weight-medium;
$element-line-height:                         1.2;
$element-bg-color:                            $white;
$element-border-color:                        $gray400;
$element-border-width:                        0.0625rem; // 1px
$element-border:                              $element-border-width solid $element-border-color;
$element-border-radius:                       0.125rem; // 2px
$element-indent:                              0.75rem; // 12px 내부 들여쓰기
$element-shadow-color:                        $gray300;
$element-icon-color:                          $gray500;

// 사용자 미입력시 나올 문구 = placeholder
$element-placeholder-font-color:              $gray400;

// element가 활성화(active)되었을 때 사용하는 디자인 변수
$element-active-font-color:                   $blue700;
$element-active-bg-color:                     $blue200;
$element-active-border-color:                 $blue600;
$element-active-border-width:                 0.0625rem; // 1px

// 키보드 또는 선택시, 해당 element에 포커싱되었을 때 사용하는 디자인 변수
$element-focus-font-color:                    $blue700;
$element-focus-border-color:                  $blue600;
$element-focus-border-width:                  0.0625rem; // 1px
$element-focus-border:                        $element-focus-border-width solid $element-focus-border-color;
$element-focus-shadow-color:                  $blue600;

// element 마우스 오버 시 사용하는 디자인 변수
$element-hover-font-color:                    $gray800;
$element-hover-bg-color:                      $blue100;
$element-hover-border-color:                  $blue400;
$element-hover-border-width:                  0.0625rem; // 1px
$element-hover-border:                        $element-hover-border-width solid $element-hover-border-color;
$element-hover-icon-color:                    $blue500;

// element disabled 시 사용하는 디자인 변수
$element-disabled-font-color:                 $gray400;
$element-disabled-bg-color:                   $neutral200;
$element-disabled-border-color:               $gray300;
$element-disabled-border-width:               0.0625rem; // 1px
$element-disabled-border:                     $element-disabled-border-width solid $element-disabled-border-color;

// element readonly 시 사용하는 디자인 변수
$element-readonly-font-color:                 $gray800;
$element-readonly-bg-color:                   transparent;
$element-readonly-border-color:               $gray300;
$element-readonly-border-width:               0.0625rem; // 1px
$element-readonly-border:                     $element-readonly-border-width solid $element-readonly-border-color;

// 체크박스, 라디오 버튼, selectbox 선택되었을 때 (ON) 디자인 변수
$element-checked-color:                       $blue500;
$element-checked-active-color:                $blue700;

// 스위치 디자인 변수
$switch-thumb-color:                          $white;
$switch-thumb-border-color:                   $gray500;
$switch-thumb-border-width:                   0.0625rem; // 1px
$switch-thumb-shadow-color:                   $gray600;

$switch-off-track-color:                      $gray400;
$switch-off-track-border-color:               $gray500;
$switch-off-track-border-width:               0.0625rem; // 1px

$switch-on-track-color:                       $blue500;
$switch-on-track-border-color:                $blue600;
$switch-on-track-border-width:                0.0625rem; // 1px

$switch-disabled-thumb-bg-color:              $neutral100;
$switch-disabled-track-color:                 $neutral300;
$switch-disabled-track-border-color:          $gray300;
$switch-disabled-track-border-width:          0.0625rem; // 1px

// headings
$h1-font-size:                                $font-size-xxl; // 45px
$h2-font-size:                                $font-size-xl; // 32px
$h3-font-size:                                $font-size-l; // 24px
$h4-font-size:                                $font-size-m; // 18px
$h5-font-size:                                $font-size-s; // 16px
$h6-font-size:                                $font-size-xs; // 14px

$headings-font-color:                         $neutral800;
$headings-font-weight:                        $font-weight-medium;
$headings-line-height:                        1.2;

// label
$label-font-family:                           $font-family;
$label-font-color:                            $neutral600;
$label-font-size:                             $font-size-xs;
$label-font-weight:                           $font-weight-medium;

// table
$table-head-font-family:                      $font-family;
$table-head-font-size:                        $font-size-xs;
$table-head-font-color:                       $neutral600;
$table-head-font-weight:                      $font-weight-medium;
$table-row-hover-bg-color:                    $neutral200;
$table-row-active-font-color:                 $blue700;
$table-row-active-bg-color:                   $blue100;

$option-table-font-color:                     $gray400;
$option-table-header-font-color:              $gray400;
$option-table-header-bg-color:                $neutral100;
$option-table-icon-color:                     $gray400;
$option-table-icon-hover-color:               $blue500;

// grid
$grid-head-color:                             $neutral600;
$grid-body-color:                             $gray800;
$grid-border-color:                           $gray300;
$grid-hover-bg-color:                         $neutral200;

// button, a
$button-font-family:                          $font-family;
$button-font-size:                            $font-size-xs;
$button-font-weight:                          $font-weight-semibold;
$button-border-none:                          0rem;
$button-border-width:                         0.0625rem; // 1px
$button-border-radius:                        0.25rem; // 4px
// 기본 버튼 테마
$button-themes-default: (
  'primary': (
    'default': ('font': $white, 'background': $blue700, 'border' : $blue700),
    'hover': ('font' : $white, 'background': $blue600, 'border' : $blue600),
    'focus': ('font': $white, 'background': $blue700, 'border' : $blue700, 'shadow': 0 0 0 0.125rem $blue500),
    'active': ('font': $white, 'background': $blue800, 'border' : $blue800),
    'disabled': ('font': $gray400, 'background': $gray50, 'border' : $gray50)
  ),
  'secondary': (
    'default': ('font': $gray700, 'background': $gray200, 'border': $gray200),
    'hover': ('font' : $gray700, 'background': $gray100, 'border': $gray100),
    'focus': ('font': $gray700, 'background': $gray200, 'border': $blue500, 'shadow': 0 0 0 0.125rem $blue500),
    'active': ('font': $blue800, 'background': $blue300, 'border': $blue300),
    'disabled': ('font': $gray400, 'background': $gray50, 'border': $gray50)
  ),
  'danger': (
    'default': ('font': $white, 'background': $red500, 'border': $red500),
    'hover': ('font' : $white, 'background': $red400, 'border': $red400),
    'focus': ('font': $white, 'background': $red500, 'border': $red500, 'shadow': 0 0 0.125rem $red700),
    'active': ('font': $white, 'background': $red600, 'border': $red600),
    'disabled': ('font': $gray400, 'background': $gray50, 'border': $gray50)
  ),
  'warning': (
    'default': ('font': $blue800, 'background': $orange400, 'border': $orange400),
    'hover': ('font' : $blue800, 'background': $orange200, 'border': $orange200),
    'focus': ('font': $blue800, 'background': $orange400, 'border': $orange400, 'shadow': 0 0 0.125rem $orange600),
    'active': ('font': $blue800, 'background': $orange500, 'border': $orange500),
    'disabled': ('font': $gray400, 'background': $gray50, 'border': $gray50)
  ),
  'extra': (
    'default': ('font': $blue500, 'background': $white, 'border': $white),
    'hover': ('font' : $blue500, 'background': $blue100, 'border': $blue100),
    'focus': ('font': $blue500, 'background': $white, 'border': $blue600, 'shadow': 0 0 0.125rem $blue600),
    'active': ('font': $blue700, 'background': $blue200, 'border': $blue200),
    'disabled': ('font': $gray400, 'background': $neutral200, 'border': $neutral200)
  ),
  'form': (
    'default': ('font': $neutral800, 'background': $neutral300, 'border': $neutral300),
    'hover': ('font' : $neutral800, 'background': $neutral200, 'border': $neutral200),
    'focus': ('font': $neutral800, 'background': $neutral300, 'border': $blue600, 'shadow': 0 0 0.125rem $blue600),
    'active': ('font': $neutral800, 'background': $neutral300, 'border': $neutral400),
    'disabled': ('font': $gray400, 'background': $neutral200, 'border': $neutral200)
  ),
  'default': (
    'default': ('font': $gray400, 'background': transparent, 'border': transparent),
  )
);
// 어두운 배경에서 사용되는 버튼 테마
$button-themes-light: (
  'light-primary': (
    'default': ('font': $white, 'background': $blue500, 'border': $blue500),
    'hover': ('font' : $white, 'background': $blue400, 'border': $blue400),
    'focus': ('font': $white, 'background': $blue500, 'border': $blue600, 'shadow': 0 0 0.125rem $blue600),
    'active': ('font': $white, 'background': $blue600, 'border': $blue700),
    'disabled': ('font': $gray400, 'background': $neutral200, 'border': $neutral200)
  ),
  'light-secondary': (
    'default': ('font': $white, 'background': transparent, 'border': $white),
    'hover': ('font' : $white, 'background': hexToRGBA($white, 0.2), 'border': $white),
    'focus': ('font': $white, 'background': transparent, 'border': $white, 'shadow': 0 0 0.125rem $blue600),
    'active': ('font': $white, 'background': hexToRGBA($white, 0.4), 'border': $white),
    'disabled': ('font': $gray400, ' background': $neutral200, 'border': $neutral200)
  ),
  'light-extra': (
    'default': ('font': $white, 'background': transparent, 'border': transparent),
    'hover': ('font' : $white, 'background': hexToRGBA($white, 0.2), 'border': hexToRGBA($white, 0.2)),
    'focus': ('font': $white, 'background': transparent, 'border': $blue600, 'shadow': 0 0 0.125rem $blue600),
    'active': ('font': $white, 'background': hexToRGBA($white, 0.4), 'border': hexToRGBA($white, 0.4)),
    'disabled': ('font': $gray400, 'background': $neutral200, 'border': $neutral200)
  ),
  'light-form': (
    'default': ('font': $neutral800, 'background': $neutral300, 'border': $neutral300),
    'hover': ('font' : $neutral800, 'background': $neutral200, 'border': $neutral200),
    'focus': ('font': $neutral800, 'background': $neutral300, 'border': $blue600, 'shadow': 0 0 0.125rem $blue600),
    'active': ('font': $neutral800, 'background': $neutral300, 'border': $neutral400),
    'disabled': ('font': $gray400, 'background': $neutral200, 'border': $neutral200)
  )
);

// button group
// - button switch, button toggle
$button-group: (
  'default': ('font': $gray800, 'background': $white, 'border': $gray300),
  'hover': ('font' : $gray800, 'background': $blue100, 'border': $gray300),
  'focus': ('font': $gray800, 'background': $white, 'border': $blue600, 'shadow': 0 0 0.125rem $blue600),
  'active': ('font': $blue700, 'background': $blue200, 'border': $blue400),
  'selected': ('font': $blue500, 'background': $white, 'border': $blue500),
  'disabled': ('font': $gray400, 'background': $neutral200, 'border': $gray300)
);
// 기본 라벨 테마
$label-themes-default: (
        'normal': (
                'default': ('font': $blue700, 'background': $blue300, 'border': $blue300)
        )
);

//////////////////////////////// layout ////////////////////////////////
$layout-header-height:                       3.125rem; // 50px
$layout-header-search-font-family:           $font-family;
$layout-header-search-font-size:             $font-size-xs;
$layout-header-search-color:                 $neutral600;
$layout-header-search-font-weight:           $font-weight-medium;

$layout-properties-width:                    18.75rem; // 300px

// 리스트 - 마우스 오버시
$list-hover-bg-color:                        $neutral200;
// 리스트 - 데이터 없을때
$no-data-found-list-bg:                      $neutral50;
// 리스트 - 선택시
$list-active-font-color:                     $blue700;
$list-active-bg-color:                       $blue100;
// 리스트 항목
$list-head-font-color:                       $gray800;
$list-body-font-color:                       $gray800;

//////////////////////////////// scrollbar ////////////////////////////////
// 기본 스크롤바
// scrollbar 두께
$scrollbar-thick:                            0.5rem; // 8px
// element 내부 scrollbar 두께
$scrollbar-thick-sm:                         0.25rem; // 4px
// scrollbar 색상
$scrollbar-color:                            $neutral300;
// scrollbar 모서리 곡선
$scrollbar-border-radius:                    0.5rem; // 8px
// scrollbar 배경 색상
$scrollbar-bg-color:                         $neutral100;
// scrollbar hover, click 이동시 색상
$scrollbar-hover-color:                      $gray300;
// dark 테마 스크롤바 (메뉴 사용)
$scrollbar-dark-color:                       $gray600;
$scrollbar-dark-bg-color:                    $gray800;
$scrollbar-dark-hover-color:                 $gray500;

///////////////////////////////// columns /////////////////////////////////
// Column width (fixed)
$column-count: 12;
$column-init: 5rem; // 80px

//////////////////////////////// fileuploader ////////////////////////////////
$file-uploader-font-family:                  $font-family;
$file-uploader-font-size:                    $font-size-xs;
$file-uploader-font-color:                   $gray500;
$file-uploader-font-weight:                  $font-weight-bold;
$file-uploader-icon-color:                   $gray500;
// drag and drop 영역
$dropzone-font-size:                         $font-size-xs;
$dropzone-font-weight:                       $font-weight-regular;
$dropzone-bg-color:                          $white;
$dropzone-border-radius:                     0.0625rem; // 1px
// hover
$dropzone-hover-border-color:                $blue500;
$dropzone-hover-bg-color:                    $blue100;
// focus
$dropzone-focus-border-color:                $blue600;
$dropzone-focus-bg-color:                    $blue200;
$dropzone-focus-color:                       $blue700;

// browse click 버튼
$dropzone-clickable-font-color:              $blue500;
$dropzone-clickable-font-weight:             $font-weight-bold;

// 미리보기
$file-uploader-preview-height:               4.5rem; // 72px
$file-uploader-preview-radius:               0.0625rem; // 1px
$file-uploader-progress-color:               $blue500;
$file-uploader-progress-bg-color:            inherit;
$file-uploader-progress-font-color:          $gray400;
$file-uploader-progress-font-size:           0.6875rem; // 11px
$file-uploader-filename-font-color:          $gray800;
$file-uploader-filesize-font-color:          $gray400;
$file-uploader-font-size:                    $font-size-xs;
// 파일 미존재시
$file-uploader-no-date-font-color:           $gray400;
// view 모드
$file-uploader-view-font-size:               $font-size-xs;
$file-uploader-view-font-color:              $gray800;
$file-uploader-view-font-weight:             $font-weight-regular;
// hover
$file-uploader-hover-color:                  $blue500;

//////////////////////////////// avatar ////////////////////////////////
$avatar-font-size:                           $font-size-xs;
$avatar-sm-font-size:                        0.8125rem; // 13px
$avatar-font-color:                          $gray500;
$avatar-font-weight:                         $font-weight-medium;
$avatar-border-color:                        $gray300;
$avatar-border-width:                        0.0625rem; // 1px
// drag and drop 영역
$avatar-dropzone-width:                      20.63rem; // 330px
$avatar-dropzone-height:                     20.63rem; // 330px
$avatar-dropzone-sm-width:                   9.375rem; // 150px
$avatar-dropzone-sm-height:                  9.375rem; // 150px
$avatar-dropzone-font-size:                  $font-size-xs;
$avatar-dropzone-font-color:                 $gray400;
$avatar-dropzone-font-weight:                $font-weight-regular;
$avatar-dropzone-bg-color:                   $neutral50;
$avatar-dropzone-icon-color:                 $gray300;
// browse click 버튼
$avatar-dropzone-clickable-font-color:       $blue500;
// description
$avatar-desc-font-size:                      $font-size-xs;
$avatar-desc-font-color:                     $gray400;
$avatar-desc-font-weight:                    $font-weight-regular;
// image
$avatar-image-bg-color:                      $white;

///////////////////////////////// date picker /////////////////////////////////
$datepicker-font-color:                      $gray800;
$datepicker-font-family:                     $font-family;
$datepicker-font-size:                       $font-size-xs;
$datepicker-font-weight:                     $font-weight-regular;
$datepicker-line-height:                     1.2;
$datepicker-bg-color:                        $white;
$datepicker-border-color:                    $gray300;
$datepicker-border-radius:                   0.125rem;  //2px
$datepicker-border-width:                    0.0625rem; // 1px
$datepicker-focus-color:                     $blue600;
$datepicker-hover-color:                     $blue400;
$datepicker-icon-color:                      $gray500;
// focus
$datepicker-focus-border-color:              $blue500;
$datepicker-focus-border-width:              0.0625rem; // 1px
// title
$datepicker-title-font-size:                 $font-size-xs;
$datepicker-title-font-color:                $gray500;
$datepicker-title-font-weight:               $font-weight-bold;
// sub title
$datepicker-sub-title-font-size:             $font-size-xs;
$datepicker-sub-title-font-color:            $gray800;
$datepicker-sub-title-font-weight:           $font-weight-regular;
$datepicker-sub-title-bg-color:              $neutral50;
// calendar
$datepicker-calendar-month-font-size:        $font-size-s;
$datepicker-calendar-month-font-weight:      $font-weight-medium;
$datepicker-calendar-month-font-color:       $gray800;
$datepicker-calendar-title-font-color:       $gray500;
// cell
$datepicker-cell-font-color:                 $gray400;
// current cell
$datepicker-current-cell-font-color:         $gray800;
// hovered cell
$datepicker-hover-cell-color:                $blue100;
// active cell
$datepicker-active-cell-color:               $blue600;
// selected cell
$datepicker-selected-cell-color:             $blue500;
$datepicker-selected-cell-bg-color:          $white;
// time
$datepicker-time-font-size:                  1.5rem; // 24px
$datepicker-time-font-color:                 $gray800;
$datepicker-time-font-weight:                $font-weight-medium;

///////////////////////////////// text editor /////////////////////////////////
$text-editor-option-box-shadow-color:        $gray300;
$text-editor-toolbar-selected-font-color:    $blue500;

///////////////////////////////// tree /////////////////////////////////
$tree-font-size:                             $font-size-xs;
$tree-font-color:                            $gray800;
$tree-font-weight:                           $font-weight-medium;
// tree 간격
$tree-line-height:                           1.875rem; // 30px
$tree-bg-color:                              $neutral50;
$tree-line-color:                            $gray300;
$tree-line-width:                            0.0625rem; // 1px
// +, - icon
$tree-toggle-icon-width:                     0.875rem; // 14px
// folder icon
$tree-folder-icon-width:                     1.438rem; // 23px
// folder icon margin left
$tree-folder-margin-left:                    0.5rem; // 8px
// line 위치 계산
$tree-indentation:                           calc((#{$tree-toggle-icon-width} / 2) + #{$tree-folder-margin-left} + (#{$tree-folder-icon-width} / 2));
// node 선택
$tree-border-color:                          transparent;
$tree-border-width:                          0.0625rem; // 1px;
$tree-selected-font-color:                   $blue500;
$tree-selected-bg-color:                     transparent;
$tree-hover-bg-color:                        $blue100;

///////////////////////////////// modal //////////////////////////////
$modal-backdrop-bg-color:                    hexToRGBA($gray600, 0.6);
$modal-border-color:                         $gray300;
$modal-border-width:                         0.0625rem; // 1px
$modal-bg-color:                             $white;
$modal-box-shadow-color:                     $gray600;

$modal-width:                                26.875rem; // 430px
$modal-height:                               22.5rem; // 360px

// 모달 제목
$modal-header-height:                        3.875rem; // 62px
$modal-header-font-size:                     1.5rem; // 24px
$modal-header-font-color:                    $gray800;
$modal-header-font-weight:                   $font-weight-medium;
$modal-header-border:                        $gray100;

// 모달 버튼 영역
$modal-bottom-height:                        5rem; // 80px

///////////////////////////////// alert //////////////////////////////
$alert-backdrop-bg-color:                    hexToRGBA($gray500, 0.5);
$alert-border-color:                         $gray300;
$alert-border-width:                         0.0625rem; // 1px
$alert-bg-color:                             $white;
$alert-box-shadow-color:                     $gray400;

$alert-font-size:                            $font-size-s;
$alert-font-weight:                          $font-weight-medium;
$alert-margin-size:                          0.3125rem;  // 5px
$alert-box-sizing:                           border-box;

///////////////////////////// color-picker ///////////////////////////
// color picker
:root {
  --data-color: '';
}
$color-picker-width:                         7.5rem; // 120px
$color-picker-font-family:                   $font-family;
$color-picker-font-size:                     $font-size-xs;
$color-picker-font-weight:                   $font-weight-bold;
$color-picker-font-color:                    $gray500;
$color-picker-icon-color:                    $gray500;
$color-picker-border-width:                  0.0625rem; // 1px
$color-picker-border-color:                  $gray300;
$color-picker-border-radius:                 0.125rem; // 2px
// color picker > hover
$color-picker-hover-border-color:            $blue400;
// color picker > focus
$color-picker-focus-border-color:            $blue600;
// modal
$color-picker-modal-bg-color:                $white;
$color-picker-modal-box-shadow-color:        $gray300;
// palette
$color-palette-item-width:                   1.75rem; // 28px
$color-palette-item-height:                  1.75rem; // 28px
$color-palette-border-radius:                0.125rem; // 2px
$color-palette-line-border-width:            0.25rem; // 4px
$color-palette-inset-border-radius:          0.0625rem; // 1px
// palette > selected
$color-palette-selected-border-width:        0.0625rem; // 1px
$color-palette-selected-border-color:        $blue500;
// custom color palette
$custom-color-plus: (
  'default': ('font': $gray500, 'background': $white, 'border': $gray300),
  'hover': ('font' : $gray500, 'background': $blue100, 'border': $gray300),
  'focus': ('font': $gray500, 'background': $white, 'border': $blue600, 'shadow': 0 0 0.125rem $blue600),
  'active': ('font': $blue700, 'background': $blue200, 'border': $blue400)
);

////////////////////////////// thumbnail /////////////////////////////
$thumbnail-font-family:                      $font-family;
$thumbnail-font-size:                        $font-size-xs;
$thumbnail-font-weight:                      $font-weight-medium;
$thumbnail-font-color:                       $gray500;
$thumbnail-icon-color:                       $gray400;
$thumbnail-main-padding:                     0;
$thumbnail-file-name-font-color:             $gray800;
$thumbnail-file-name-font-weight:            $font-weight-bold;
// 썸네일
$thumbnail-width:                            15rem; // 240px
$thumbnail-height:                           18.13rem; // 290px
$thumbnail-border-width:                     0.0625rem; // 1px
$thumbnail-border-color:                     $gray300;
$thumbnail-bg-color:                         $white;
// 썸네일 > hover
$thumbnail-hover-border-color:               $blue500;
$thumbnail-hover-bg-color:                   $white;
// 썸네일 > selected
$thumbnail-selected-border-width:            0.0625rem; // 1px
$thumbnail-selected-border-color:            $blue600;
$thumbnail-selected-bg-color:                $white;
$thumbnail-selected-box-shadow-color:        $blue600;

// 썸네일 업로드
$thumbnail-upload-bg-color:                  $neutral50;
$thumbnail-upload-font-color:                $blue500;
$thumbnail-upload-font-weight:               $font-weight-bold;

// 썸네일 업로드 > hover
$thumbnail-upload-hover-bg-color:            $blue100;

// 썸네일 미리보기
$thumbnail-preview-modal-width:              760px; // 760px
$thumbnail-preview-modal-height:             645px; // 645px

// 썸네일 데이터 없을때
$thumbnail-nodata-font-family:               $font-family;
$thumbnail-nodata-font-size:                 $font-size-xl;
$thumbnail-nodata-font-weight:               $font-weight-bold;
$thumbnail-nodata-font-color:                $gray500;

/////////////////////////////// tooltip ///////////////////////////////
$tooltip-help-margin:                        0.3125rem; // 5px
$tooltip-font-family:                        $font-family;
$tooltip-font-size:                          $font-size-xs;
$tooltip-contents-background:                $white;
$tooltip-contents-color:                     $blue500;
$tooltip-contents-left:                      auto;
$tooltip-contents-width:                     28.125rem; // 450px
$tooltip-contents-padding:                   1.0625rem 0.9375rem 0.9375rem 0.9375rem; // 17px 15px 15px 15px
$tooltip-border-width:                       0.125rem; // 2px
$tooltip-border-color:                       $blue500;
$tooltip-border-radius:                      0.125rem; // 2px
$tooltip-box-shadow-color:                   $gray300;

// header tooltip
$header-tooltip-font-family:                 $font-family;
$header-tooltip-font-size:                   $font-size-xs;
$header-tooltip-font-color:                  $gray800;
$header-tooltip-font-weight:                 $font-weight-medium;
$header-tooltip-bg-color:                    $white;
$header-tooltip-border-width:                0.0625rem; // 1px
$header-tooltip-border-radius:               0.0625rem; // 1p
$header-tooltip-border-color:                $gray300;
$header-tooltip-box-shadow-color:            $gray300;
$header-tooltip-padding:                     7px; // 7px
$header-tooltip-margin:                      16px 0 0 0; // 16px

// clipboard tooltip
// ID 복사하는 용도 > _tooltip.scss에 정의되어 있음
$clipboard-tooltip-font-family:              $font-family;
$clipboard-tooltip-font-size:                $font-size-xs;
$clipboard-tooltip-font-weight:              $font-weight-regular;
$clipboard-tooltip-font-color:               $blue500;
$clipboard-tooltip-bg-color:                 $white;
$clipboard-tooltip-border-color:             $blue500;
$clipboard-tooltip-border-width:             0.125rem; // 2px
$clipboard-tooltip-border:                   $clipboard-tooltip-border-width solid $clipboard-tooltip-border-color;
$clipboard-tooltip-border-radius:            0.0625rem; // 1px

//////////////////////////////////// z-index ///////////////////////////////////
$z-index-alert:                              999999;
$z-index-between-alert-modal:                5000;
$z-index-modal:                              1000;
$z-index-between-modal-gnb:                  750;
$z-index-tooltip:   			             500;
$z-index-between-tooltip-gnb:		         250;
$z-index-gnb:                                100;
$z-index-between-gnb-event:			         50;
$z-index-event:				                 25;
$z-index-between-event-and-default:	         10;
$z-index-auto:                               auto;
$z-index-hidden:                             -1;

//////////////////////////// tag //////////////////////////////
// tag editable
$tag-editable-bg-color:                      $gray100;
$tag-editable-font-color:                    $gray700;
$tag-editable-box-shadow-color:              $gray100;

// tagify readonly
$tagify-read-font-color:                     $gray500;
$tagify-read-bg-color:                       $neutral400;
// tag
$tag-font-color:                             $gray700;
$tag-bg-color:                               $gray100;
$tag-border-radius:                          0.25rem; // 4px
// tag 삭제 버튼
$tag-btn-remove-color:                       $gray600;
$tag-btn-remove-hover-color:                 $white;
$tag-btn-remove-hover-bg-color:              $gray600;
// 태그를 입력하세요 input box
$tag-input-font-color:                       $gray400;

// 빨간색 Tag 디자인은 중복된 태그 단어 입력 시 중복 입력은 불가능한
// 느낌을 주기 위해 빨간색 Tag 디자인을 하였습니다. 중복된 Tag는 일정
// 시간만 보여준 후 사라집니다.
$tag-invalid-color:                          $red500;
$tag-invalid-bg-color:                       $red100;
$tag-invalid-border-color:                   $red500;
$tag-invalid-box-shadow-color:               $red200;

$tag-auto-complete-border-color:             $gray300;
$tag-auto-complete-border-width:             0.0625rem; // 1px
$tag-auto-complete-box-shadow-color:         $gray300;

////////////////////////////// input box /////////////////////////////
$input-clear-right:                          0rem;
$input-bg-icon-color:                        $gray500;

////////////////////// check box / radio button //////////////////////
$checkbox-indent:                            0.5rem; //8px
$checkbox-size:                              1.125rem; // 18px

$radio-indent:                               0.5rem; //8px
$radio-border-size:                          1.125rem; // 18px
$radio-inner-size:                           0.625rem; // 10px

/////////////////////////////// slider ///////////////////////////////
$slider-range-bg-color:                      $neutral200;
$slider-range-fill-color:                    $blue500;
$slider-range-disabled-fill-color:           $gray300;

$slider-thumb-bg-color:                      $white;
$slider-thumb-size:                          1.125rem; // 18px
$slider-thumb-border-color:                  $gray300;
$slider-thumb-shadow-color:                  $gray500;
$slider-thumb-hover-border-color:            $blue400;
$slider-thumb-hover-bg-color:                $blue100;
$slider-thumb-focus-border-color:            $blue600;
$slider-thumb-active-border-color:           $blue500;
$slider-thumb-active-bg-color:               $blue200;
$slider-thumb-disabled-border-color:         $gray300;
$slider-thumb-disabled-bg-color:             $neutral200;

////////////////////////////// validation /////////////////////////////
// info
$validation-info-font-color:                 $blue500;
$validation-info-bg-color:                   $blue100;
$validation-info-border-color:               $blue500;
$validation-info-border-width:               0.0625rem; // 1px
// error
$validation-error-font-color:                $red500;
$validation-error-bg-color:                  $red50;
$validation-error-border-color:              $red500;
$validation-error-border-width:              0.0625rem; // 1px
// sucess
$validation-success-font-color:              $green600;
$validation-success-bg-color:                $green100;
$validation-success-border-color:            $green500;
$validation-success-border-width:            0.0625rem; // 1px

////////////////////////////// paging /////////////////////////////
$paging-current-num-font-color:              $neutral600;
$paging-num-font-color:                      $gray800;
$paging-num-selected-font-color:             $blue700;
$paging-num-selected-border-color:           $blue700;
$paging-num-active-font-color:               $blue700;
$paging-num-active-bg-color:                 $blue300;
$paging-num-hover-font-color:                $gray800;
$paging-num-hover-bg-color:                  $blue100;
$paging-arrow-icon-prev-color:               $gray400;
$paging-arrow-icon-next-color:               $gray400;
$paging-arrow-icon-active-color:             $blue700;
