//brand
$brand-color-brainz: #0066FF !default;
$brand-color-zenius: #FF850A !default;

//severity
$normal-00: #54cd3e !default;
$info-10: #06deff !default;
$caution-20: #ffc439 !default;
$danger-30: #ff9130 !default;
$urgent-40: #c54ce8 !default;
$critical-50: #f43b51 !default;
$category01: #0096ff !default;
$category02: #38bc20 !default;

//Blue
$blue900: #092C73 !default;
$blue800: #103F8B !default;
$blue700: #1959AC !default;
$blue600: #2578CE !default;
$blue500: #339AF0 !default;
$blue400: #64BBF6 !default;
$blue300: #84D1FA !default;
$blue200: #ADE6FD !default;
$blue100: #E3F5FC !default;
$blue50: #F1F9FC !default;

//Green
$green900: #235A07 !default;
$green800: #316D0C !default;
$green700: #468813 !default;
$green600: #5CA21B !default;
$green500: #76BD26 !default;
$green400: #A0D756 !default;
$green300: #C0EB7A !default;
$green200: #DBF8A9 !default;
$green100: #F6FCE0 !default;
$green50: #F8FDF1 !default;

//Yellow
$yellow900: #776308 !default;
$yellow800: #907A0E !default;
$yellow700: #B39A16 !default;
$yellow600: #D7BC20 !default;
$yellow500: #FADF2D !default;
$yellow400: #FBE961 !default;
$yellow300: #FDF080 !default;
$yellow200: #FEF6AB !default;
$yellow100: #FEFBD4 !default;
$yellow50: #FEFDEB !default;

//Orange
$orange900: #7A2601 !default;
$orange800: #933603 !default;
$orange700: #B74C05 !default;
$orange600: #DB6707 !default;
$orange500: #FF850A !default;
$orange400: #FFAC47 !default;
$orange300: #FFC46C !default;
$orange200: #FFDC9C !default;
$orange100: #FFEDD1 !default;
$orange50: #FFF8E9 !default;

//Red
$red900: #75072D !default;
$red800: #8E0B2D !default;
$red700: #B0122D !default;
$red600: #D21B2A !default;
$red500: #F52525 !default;
$red400: #F9685A !default;
$red300: #FC917B !default;
$red200: #FEBEA7 !default;
$red100: #FEE2D3 !default;
$red50: #FEF2EB !default;

//Violet
$violet900: #301270 !default;
$violet800: #451D88 !default;
$violet700: #632FA9 !default;
$violet600: #8444CA !default;
$violet500: #A95EEB !default;
$violet400: #C585F3 !default;
$violet300: #D89FF9 !default;
$violet200: #EAC0FD !default;
$violet100: #F6DFFE !default;
$violet50: #FBF0FE !default;

//Gray
$gray900: #171D21 !default;
$gray800: #222529 !default;
$gray700: #505559 !default;
$gray600: #63686C !default;
$gray500: #8B9094 !default;
$gray400: #ABB0B5 !default;
$gray300: #CFD5D9 !default;
$gray200: #E1E6EA !default;
$gray100: #EBF1F5 !default;
$gray50: #F6F8FA !default;

//Netural Gray
$netural900: #212121 !default;
$netural800: #424242 !default;
$netural700: #616161 !default;
$netural600: #757575 !default;
$netural500: #9E9E9E !default;
$netural400: #BDBDBD !default;
$netural300: #E0E0E0 !default;
$netural200: #EEEEEE !default;
$netural100: #F5F5F5 !default;
$netural50: #FAFAFA !default;

//Black
$black: #000000 !default;

//White
$white: #FFFFFF !default;

//Pink
$pink900: #731376 !default;
$pink800: #8F1F87 !default;
$pink700: #B1319C !default;
$pink600: #D448AF !default;
$pink500: #F763C1 !default;
$pink400: #FA89C6 !default;
$pink300: #FCA1C9 !default;
$pink200: #FEC1D5 !default;
$pink100: #FEE0E7 !default;
$pink50: #FEF1F4 !default;

//Cyan
$cyan900: #0C446B !default;
$cyan800: #155E81 !default;
$cyan700: #2181A1 !default;
$cyan600: #30A8C0 !default;
$cyan500: #47D1DE !default;
$cyan400: #67DDE0 !default;
$cyan300: #91EBEB !default;
$cyan200: #B8F5F3 !default;
$cyan100: #DCFAFA !default;
$cyan50: #E8F9FA !default;

//Indigo
$indigo900: #131F76 !default;
$indigo800: #21308F !default;
$indigo700: #3448B1 !default;
$indigo600: #4C64D4 !default;
$indigo500: #6885F7 !default;
$indigo400: #8DA5FA !default;
$indigo300: #A4BAFC !default;
$indigo200: #C3D2FE !default;
$indigo100: #E1E9FE !default;
$indigo50: #F1F5FE !default;