<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" th:href="@{/assets/media/images/zenius.ico}" type="image/x-icon">
    <title th:text="${isView != null} ? #{process.title.preview} : #{process.title.update}"></title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta http-equiv="expire" content="-1"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <link th:href="@{/assets/vendors/overlayScrollbars/OverlayScrollbars.css}" rel="stylesheet"/>
    <link th:href="@{/assets/css/process.css}" rel="stylesheet"/>
    <script th:src="@{/assets/js/lib/zI18n.js}"></script>
    <script th:src="@{/assets/vendors/luxon/luxon.js}"></script>
    <script th:src="@{/assets/js/lib/zModal.js}"></script>
    <script th:src="@{/assets/js/lib/zAlert.js}"></script>
    <script th:src="@{/assets/js/lib/zUtil.js}"></script>
    <script th:src="@{/assets/js/lib/zSelectBox.js}"></script>
    <script th:src="@{/assets/vendors/d3/d3.min.js}"></script>
    <script th:src="@{/assets/vendors/piklor/piklor.js}"></script>
    <script th:src="@{/assets/js/lib/zColorPalette.js}"></script>
    <script th:src="@{/assets/js/lib/zValidation.legacy.js}"></script>
    <script th:src="@{/assets/js/workflow/zWorkflowUtil.js}"></script>
    <script th:src="@{/assets/js/lib/zShortcut.js}"></script>
    <script th:src="@{/assets/js/process/zProcessDesigner.js}"></script>
    <script th:src="@{/assets/js/process/zProcessDesignerMenu.js}"></script>
    <script th:src="@{/assets/js/process/zProcessDesignerUtil.js}"></script>
    <script th:src="@{/assets/vendors/overlayScrollbars/OverlayScrollbars.js}"></script>
</head>
<body>
<div class="alice-wrapper">
    <div class="z-process-container">
        <div class="z-process-header">
            <img class="z-logo"  th:src="@{/assets/media/icons/process/topmenu/icon_process_designer.svg}" width="196" height="25" alt="Process Designer" />
            <span class="z-process-name ml-auto mr-auto" id="processName"></span>
            <!-- 버튼 영역 -->
            <div class="z-process-button-list flex-row mr-3">
                <!--undo-->
                <th:block th:if="${#strings.isEmpty(isView)}">
                    <div id="editCommand">
                        <button type="button" class="z-header-button z-button-icon light-extra z-header-tooltip" data-actionType="undo" data-targetId="editCommand"
                                onclick="zProcessDesigner.onDropdownClickHandler(this);">
                            <span class="z-icon i-undo"></span>
                            <div class="z-header-tooltip-contents">
                                <span class="z-header-tooltip-text" th:text="#{process.label.undo}"></span>
                            </div>
                        </button>
                    </div>
                    <!--undo, redo (드롭다운)-->
                    <div class="z-header-dropdown">
                        <button type="button" class="z-header-button z-button-icon z-header-button-dropdown light-extra">
                            <span class="z-icon i-arrow-right"></span>
                        </button>
                        <ul class="z-dropdown-content">
                            <li class="z-dropdown-item" tabindex="-1">
                                <button type="button" class="z-button z-button-dropdown align-left" data-actionType="undo" data-targetId="editCommand"
                                        onclick="zProcessDesigner.onDropdownClickHandler(this);" th:text="#{process.label.undo}" tabindex="0"></button>
                            </li>
                            <li class="z-dropdown-item" tabindex="-1">
                                <button type="button" class="z-button z-button-dropdown align-left" data-actionType="redo" data-targetId="editCommand"
                                        onclick="zProcessDesigner.onDropdownClickHandler(this);" th:text="#{process.label.redo}" tabindex="0"></button>
                            </li>
                        </ul>
                    </div>
                </th:block>
                <div class="ml-auto">
                    <!-- 시뮬레이션 -->
                    <button type="button" class="z-header-button z-button-icon light-extra z-header-tooltip" onclick="zProcessDesigner.simulationProcess();">
                        <span class="z-icon i-simulation"></span>
                        <div class="z-header-tooltip-contents">
                            <span class="z-header-tooltip-text" th:text="#{process.label.simulation}"></span>
                        </div>
                    </button>
                    <!-- 이미지로 다운로드 -->
                    <button type="button" class="z-header-button z-button-icon light-extra z-header-tooltip" onclick="zProcessDesigner.downloadProcessImage();">
                        <span class="z-icon i-image-download"></span>
                        <div class="z-header-tooltip-contents">
                            <span class="z-header-tooltip-text" th:text="#{process.label.imageDownload}"></span>
                        </div>
                    </button>
                </div>
                <!--저장하기-->
                <th:block th:if="${#strings.isEmpty(isView)}">
                    <div id="fileCommand">
                        <button type="button" class="z-header-button z-button-icon light-extra z-header-tooltip" data-actionType="save" data-targetId="fileCommand"
                                onclick="zProcessDesigner.saveProcess();">
                            <span class="z-icon i-save"></span>
                            <div class="z-header-tooltip-contents">
                                <span class="z-header-tooltip-text" th:text="#{common.btn.save}"></span>
                            </div>
                        </button>
                    </div>
                    <!--저장하기(드롭다운)-->
                    <div class="z-header-dropdown">
                        <button type="button" class="z-header-button z-button-icon z-header-button-dropdown light-extra">
                            <span class="z-icon i-arrow-right"></span>
                        </button>
                        <ul class="z-dropdown-content">
                            <li class="z-dropdown-item" tabindex="-1">
                                <button type="button" class="z-button z-button-dropdown align-left" data-actionType="save" data-targetId="fileCommand"
                                        onclick="zProcessDesigner.onDropdownClickHandler(this);" th:text="#{common.btn.save}" tabindex="0"></button>
                            </li>
                            <li class="z-dropdown-item align-left" tabindex="-1">
                                <button type="button" class="z-button z-button-dropdown align-left"  data-actionType="saveAs" data-targetId="fileCommand"
                                        onclick="zProcessDesigner.onDropdownClickHandler(this);" th:text="#{common.btn.saveAs}" tabindex="0"></button>
                            </li>
                        </ul>
                    </div>
                </th:block>
                <!--프로세스가 사용일때 다른이름으로 저장하기 만 가능-->
                <th:block th:unless="${#strings.isEmpty(isView)}">
                    <button type="button" class="z-header-button z-button-icon light-extra z-header-tooltip" onclick="zProcessDesigner.saveAsProcess();">
                        <span class="z-icon i-save-as"></span>
                        <div class="z-header-tooltip-contents last">
                            <span class="z-header-tooltip-text" th:text="#{common.btn.saveAs}"></span>
                        </div>
                    </button>
                </th:block>
            </div>
        </div>
        <div class="z-process-element-palette">
            <button type="button" class="z-element-icon shape event">
                <span class="z-icon i-event"></span>
                <label class="z-element-icon-text" th:text="#{process.designer.element.event}"></label>
            </button>
            <button type="button" class="z-element-icon shape task">
                <span class="z-icon i-task"></span>
                <label class="z-element-icon-text" th:text="#{process.designer.element.task}"></label>
            </button>
            <button type="button" class="z-element-icon shape subprocess">
                <span class="z-icon i-subprocess"></span>
                <label class="z-element-icon-text" th:text="#{process.designer.element.subprocess}"></label>
            </button>
            <button type="button" class="z-element-icon shape gateway">
                <span class="z-icon i-gateway"></span>
                <label class="z-element-icon-text" th:text="#{process.designer.element.gateway}"></label>
            </button>
            <button type="button" class="z-element-icon shape group">
                <span class="z-icon i-group"></span>
                <label class="z-element-icon-text" th:text="#{process.designer.element.group}"></label>
            </button>
            <button type="button" class="z-element-icon shape annotation">
                <span class="z-icon i-annotation"></span>
                <label class="z-element-icon-text" th:text="#{process.designer.element.annotation}"></label>
            </button>
            <button type="button" class="z-element-icon connector">
                <span class="z-icon i-connector"></span>
                <label class="z-element-icon-text" th:text="#{process.designer.element.connector}"></label>
            </button>
            <button type="button" class="z-element-icon move-icon" id="moveDrawingboard">
                <span class="z-icon i-background"></span>
                <label class="z-element-icon-text" th:text="#{process.designer.element.background}"></label>
            </button>
        </div>
        <div class="z-process-main">
            <div class="z-drawing-board" id="processDrawingBoard"></div>
        </div>
        <div class="z-process-properties-header">
            <span id="properties-name"></span>
        </div>
        <div class="z-process-properties"></div>
    </div>
    <!-- dropdown button 템플릿 -->
    <template id="undoButtonTemplate">
        <button type="button" class="z-header-button z-button-icon light-extra z-header-tooltip" data-actionType="undo" data-targetId="editCommand">
            <span class="z-icon i-undo"></span>
            <div class="z-header-tooltip-contents">
                <span class="z-header-tooltip-text" th:text="#{process.label.undo}"></span>
            </div>
        </button>
    </template>
    <template id="redoButtonTemplate">
        <button type="button" class="z-header-button z-button-icon light-extra z-header-tooltip" data-actionType="redo" data-targetId="editCommand">
            <span class="z-icon i-redo"></span>
            <div class="z-header-tooltip-contents">
                <span class="z-header-tooltip-text" th:text="#{process.label.redo}"></span>
            </div>
        </button>
    </template>
    <template id="saveButtonTemplate">
        <button type="button" class="z-header-button z-button-icon light-extra z-header-tooltip" data-actionType="save" data-targetId="fileCommand">
            <span class="z-icon i-save"></span>
            <div class="z-header-tooltip-contents">
                <span class="z-header-tooltip-text" th:text="#{common.btn.save}"></span>
            </div>
        </button>
    </template>
    <template id="saveAsButtonTemplate">
        <button type="button" class="z-header-button z-button-icon light-extra z-header-tooltip" data-actionType="saveAs" data-targetId="fileCommand">
            <span class="z-icon i-save-as"></span>
            <div class="z-header-tooltip-contents last">
                <span class="z-header-tooltip-text" th:text="#{common.btn.saveAs}"></span>
            </div>
        </button>
    </template>
    <!-- 프로세스 개요 -->
    <template id="processInfo">
        <div class="process-info-main">
            <h5 class="process-info-title" th:text="#{process.designer.attribute.processInformation}"></h5>
            <div class="process-info-dashboard">
                <h5 class="total align-right">
                    <span th:text="|#{process.designer.attribute.totalCount} : |">Total Count</span><span id="element-count"></span>
                </h5>
                <table>
                    <colgroup>
                        <col width="80%">
                        <col width="*">
                    </colgroup>
                    <tbody>
                    <tr>
                        <td th:text="#{process.designer.element.event}">Event</td>
                        <td class="align-right"><span class="count" id="event-count"></span></td>
                    </tr>
                    <tr>
                        <td th:text="#{process.designer.element.task}">Task</td>
                        <td class="align-right"><span class="count" id="task-count"></span></td>
                    </tr>
                    <tr>
                        <td th:text="#{process.designer.element.gateway}">Gateway</td>
                        <td class="align-right"><span class="count" id="gateway-count"></span></td>
                    </tr>
                    <tr>
                        <td th:text="#{process.designer.element.subprocess}">Subprocess</td>
                        <td class="align-right"><span class="count" id="subprocess-count"></span></td>
                    </tr>
                    <tr>
                        <td th:text="#{process.designer.element.connector}">Connector</td>
                        <td class="align-right"><span class="count" id="connector-count"></span></td>
                    </tr>
                    <tr>
                        <td th:text="#{process.designer.element.artifact}">Artifact</td>
                        <td class="align-right"><span class="count" id="artifact-count"></span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </template>
</div>
</body>
<script type="text/javascript">
    window.onload = function() {
        i18n.initMessages(function() {
            zProcessDesigner.init('[[${processId}]]', '[[${#strings.isEmpty(isView)}]]');
        });
        // 드롭다운 이벤트 추가
        document.querySelectorAll('.' + aliceJs.CLASS_PREFIX + 'header-button-dropdown').forEach(function (dropdown) {
            dropdown.addEventListener('click', function (e) {
                e.preventDefault();

                if (e.target.classList.contains('active')) {
                    e.target.classList.remove('active');
                } else {
                    e.target.classList.add('active');
                }
            })
        });
        // 디자인 select box 추가
        aliceJs.initDesignedSelectTag();
    };
</script>
</html>
