<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{process.label.edit}"></title>
    <meta charset="utf-8">
    <meta http-equiv="expire" content="-1"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <link th:href="@{/assets/css/process-designer.css}" rel="stylesheet"/>
    <link th:href="@{/assets/vendors/gModal/css/gModal.css}" rel="stylesheet"/>
    <script th:src="@{/assets/vendors/gModal/js/gModal.js}"></script>
    <script th:src="@{/assets/js/util/util-alice.js}"></script>
    <script th:src="@{/assets/js/util/i18n-alice.js}"></script>
    <script th:src="@{/assets/vendors/d3/d3.min.js}"></script>
    <script th:src="@{/assets/vendors/piklor/piklor.js}"></script>
    <script th:src="@{/assets/js/util/colorPalette-alice.js}"></script>
    <script th:src="@{/assets/js/util/validation-alice.js}"></script>
    <script th:src="@{/assets/js/workflow/workflow.util.js}"></script>
    <script th:src="@{/assets/js/util/shortcut-alice.js}"></script>
    <script th:src="@{/assets/js/process/process.editor.js}"></script>
    <script th:src="@{/assets/js/process/process.editor.menu.js}"></script>
    <script th:src="@{/assets/js/process/process.editor.util.js}"></script>
</head>
<body>
<div class="alice-process-container">
    <div class="alice-process-toolbar">
        <span class="logo"></span>
        <span class="process-designer">Process Designer</span>
        <span class="separator"></span>
        <th:block th:if="${#strings.isEmpty(isView)}">
            <a href="#" id="btnSave">
                <img th:src="@{/assets/media/icons/process/topmenu/icon_save.png}"/>
            </a>
            <span class="separator"></span>
        </th:block>
        <a href="#" id="btnSaveAs">
            <img th:src="@{/assets/media/icons/process/topmenu/icon_save_as.png}"/>
        </a>
        <th:block th:if="${#strings.isEmpty(isView)}">
            <span class="separator"></span>
            <a href="#" id="btnSimulation">
                <img th:src="@{/assets/media/icons/process/topmenu/icon_simulation.png}"/>
            </a>
            <span class="separator"></span>
            <a href="#" id="btnUndo">
                <img th:src="@{/assets/media/icons/process/topmenu/icon_undo.png}"/>
            </a>
            <span class="separator"></span>
            <a href="#" id="btnRedo">
                <img th:src="@{/assets/media/icons/process/topmenu/icon_redo.png}"/>
            </a>
        </th:block>
        <span class="separator"></span>
        <a href="#" id="btnDownload">
            <img th:src="@{/assets/media/icons/process/topmenu/icon_image_download.png}"/>
        </a>
        <span class="process-name"></span>
    </div>
    <div class="alice-process-element-palette">
        <span class="rectangle-menu shape event">
            <label>Event</label>
        </span>
        <span class="rectangle-menu shape task">
            <label>Task</label>
        </span>
        <span class="rectangle-menu shape subprocess">
            <label>Subprocess</label>
        </span>
        <span class="rectangle-menu shape gateway">
            <label>Gateway</label>
        </span>
        <span class="rectangle-menu shape group">
            <label>Group</label>
        </span>
        <span class="rectangle-menu shape annotation">
            <label>Annotation</label>
        </span>

        <span class="rectangle-menu connector">
            <label>Connector</label>
        </span>
        <span class="rectangle-menu move-icon" id="icon-move-drawingboard">
            <label>Background</label>
        </span>
    </div>
    <div class="alice-process-drawing-board"></div>
    <div class="alice-process-properties-panel">
        <div class="properties-container">
            <div class="element-title"><h2></h2></div>
            <div class="element-properties"></div>
        </div>
        <template id="process-info">
            <div class="process-info-container">
                <h3><span>Process Information</span></h3>
                <div class="info">
                    <div class="total">
                        <span>Total Count : <label id="element_count"></label></span>
                    </div>
                    <table>
                        <colgroup>
                            <col width="60%">
                            <col width="*">
                        </colgroup>
                        <tbody>
                        <tr>
                            <td>Event</td>
                            <td><label id="event_count"></label></td>
                        </tr>
                        <tr>
                            <td>Task</td>
                            <td><label id="task_count"></label></td>
                        </tr>
                        <tr>
                            <td>Gateway</td>
                            <td><label id="gateway_count"></label></td>
                        </tr>
                        <tr>
                            <td>Subprocess</td>
                            <td><label id="subprocess_count"></label></td>
                        </tr>
                        <tr>
                            <td>Connector</td>
                            <td><label id="connector_count"></label></td>
                        </tr>
                        <tr>
                            <td>Artifact</td>
                            <td><label id="artifact_count"></label></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </template>
    </div>
</div>
</body>
<script type="text/javascript">
    window.onload = function() {
        i18n.initMessages(function() {
            aliceProcessEditor.init('[[${processId}]]', '[[${#strings.isEmpty(isView)}]]');
        });
    };
</script>
</html>
