<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="list-wrap">
    <table>
        <colgroup>
            <col style="width:250px">
            <col style="width:100px">
            <col style="width:100px">
            <col style="width:150px">
            <col style="width:300px">
            <col style="width:150px">
            <col style="width:150px">
        </colgroup>
        <thead>
        <tr>
            <th th:text="#{process.label.name}"</th>
            <th th:text="#{process.label.simulation}"></th>
            <th th:text="#{common.label.update}"></th>
            <th th:text="#{process.label.state}"></th>
            <th th:text="#{process.label.description}"></th>
            <th th:text="#{common.label.writer}"></th>
            <th th:text="#{common.label.writeDate}"></th>
        </tr>
        </thead>
        <tbody>
        <tr class="align-left" th:if="${#arrays.isEmpty(processList)}">
            <td colspan="7" th:text="#{common.msg.noData}"></td>
        </tr>
        <tr th:each="process, i: ${processList}" th:if="${i.count} < 11">
            <td th:class="align-left">
                <a sec:authorize="!hasAuthority('process.update')" th:text="${process.name}"
                   th:attr="onclick=|openProcessView('${process.id}')|"></a>
                <a sec:authorize="hasAuthority('process.update')" th:text="${process.name}"
                   th:attr="onclick=|openProcessEdit('${process.id}')|"></a>
            </td>
            <td>
                <a th:attr="onclick=|openProcessDesignerView('${process.id}')|">
                    <img src="../assets/media/icons/process/list/icon_preview.png"></a>
            </td>
            <td>
                <a sec:authorize="hasAuthority('process.update')" th:disabled="${!process.enabled}"
                   th:attr="onclick=|openProcessDesignerEdit('${process.id}')|">
                    <img src="../assets/media/icons/process/list/icon_edit.png"></a>
            </td>
            <td th:text="#{${process.status}}"></td>
            <td class="align-left" th:text="${process.description}"></td>
            <td th:text="${process.createUserName}"></td>
            <td th:name="createDt" th:text="${process.createDt}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
