<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>
<body>
<table class="table">
    <thead class="table-head">
        <tr class="flex-row align-items-center">
            <th style="width: 27%" class="align-left" th:text="#{process.label.name}"></th>
            <th style="width: 10%" class="align-center" th:text="#{process.label.state}"></th>
            <th style="width: 30%" class="align-left" th:text="#{process.label.description}"></th>
            <th style="width: 10%" class="align-left" th:text="#{common.label.createUser}"></th>
            <th style="width: 15%" class="align-left" th:text="#{common.label.createDate}"></th>
            <th style="width: 4%" class="align-center"></th>
            <th style="width: 4%" class="align-center"></th>
        </tr>
    </thead>
    <tbody class="table-body">
        <tr class="flex-row align-items-center no-data-found-list" th:if="${#arrays.isEmpty(processList)}">
            <td style="width:100%" colspan="7" class="align-center" th:text="#{common.msg.noData}"></td>
        </tr>
        <tr class="flex-row align-items-center" th:unless="${#arrays.isEmpty(processList)}" th:each="process: ${processList}">
            <td style="width: 27%" class="align-left underline">
                <th:block sec:authorize="hasAuthority('workflow.manage')">
                    <a th:if="${process.enabled == true}" th:text="${process.name}"
                       th:attr="onclick=|openProcessDesignerEdit('${process.id}')|" th:title="${process.name}"></a>
                    <a th:unless="${process.enabled == true}" th:text="${process.name}"
                       th:attr="onclick=|openProcessDesignerView('${process.id}')|" th:title="${process.name}"></a>
                </th:block>
                <th:block sec:authorize="!hasAuthority('workflow.manage')">
                    <span th:text="${process.name}" th:title="${process.name}"></span>
                </th:block>
            </td>
            <td style="width: 10%" class="align-center" th:text="#{${process.status}}" th:title="#{${process.status}}"></td>
            <td style="width: 30%" class="align-left" th:text="${process.description}" th:title="${process.description}"></td>
            <td style="width: 10%" class="align-left" th:text="${process.createUserName}" th:title="${process.createUserName}"></td>
            <td style="width: 15%" class="align-left date-time" th:text="${process.createDt}" th:title="${process.createDt}"></td>
            <td style="width: 4%" class="align-center">
                <button type="button" class="btn__ic btn--theme-form" sec:authorize="hasAuthority('workflow.manage')" th:onclick="exportForm([[${process.id}]])">
                    <span class="ic-list-download"></span>
                </button>
            </td>
            <td style="width: 4%" class="align-center">
                <th:block th:if="${#authorization.expression('hasAuthority(''workflow.manage'')')} and ${process.enabled == true}">
                    <button type="button" class="btn__ic btn--theme-form" th:onclick="deleteProcess([[${process.id}]])">
                        <span class="ic-list-delete"></span>
                    </button>
                </th:block>
            </td>
        </tr>
    </tbody>
</table>
<th:block th:replace="layout/itsm/fragment/totalCountFragment :: totalCountDataFragment"></th:block>
</body>
</html>
