<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" th:href="@{/assets/media/images/zenius.ico}" type="image/x-icon">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta http-equiv="expire" content="-1"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <title th:text="#{common.label.attachFile}" /></title>
    <link th:href="@{/assets/css/process.css}" rel="stylesheet"/>
    <script th:src="@{/assets/js/lib/zI18n.js}"></script>
    <script th:src="@{/assets/js/lib/zAlert.js}"></script>
    <script th:src="@{/assets/js/lib/zUtil.js}"></script>
</head>
<!--/*
* 2021-08-10
* Woo Da Jung
* 현재 사용되지 않는 메뉴로 판단되나 프로세스 디자이너에서 스크립트 타스크 디자인 변경시 사용될 수 있으므로 우선 그대로 둠
*/-->
<body>
    <div class="thumbnail-modal-wrapper">
        <div class="thumbnail-modal-dialog">
            <div class="thumbnail-modal-title" th:text="#{document.label.icon}"></div>
            <div class="z-thumbnail-nodata align-center" th:if="${#arrays.isEmpty(imageList)}">
                <label th:text="#{common.msg.noData}"></label>
            </div>
            <div class="thumbnail-modal-body">
                <div class="z-thumbnail-main flex-row flex-wrap">
                    <div class="z-thumbnail" th:unless="${#arrays.isEmpty(imageList)}" th:each="image : ${imageList}" th:data-name="${image.name}" onclick="selectImage(this)">
                        <div class="z-thumbnail-image" th:style="'background-image: url(data:image/' + ${image.extension}  + ';base64,' + ${image.data} + ')'"></div>
                        <div class="z-thumbnail-info">
                            <p><label th:text="${image.name}"></label></p>
                            <p><label th:text="${image.size}"></label></p>
                            <p><label th:text="${image.width} + ' X ' + ${image.height}"></label></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="thumbnail-modal-buttons">
                <div class="z-button-list">
                    <button class="z-button primary" th:text="#{common.btn.select}" onclick="selectedImageSave();"></button>
                    <button class="z-button secondary" th:text="#{common.btn.close}" onclick="window.close();"></button>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    /*<![CDATA[*/
    i18n.initMessages();

    /**
     *  이미지 선택 후 확인 버튼 클릭시 호출
     */
    function selectedImageSave() {
        // image 미선택 시 알림창 출력
        const selectedImage = document.querySelector('.z-thumbnail.selected');
        if (!selectedImage) {
            aliceAlert.alertWarning(i18n.msg('form.msg.fileSelect'));
            return false;
        }
        if (window.opener && !window.opener.closed) {
            const callback = '[(${callback})]';
            if (callback !== '') {
                window.opener.document.getElementById(callback).value = selectedImage.dataset.name;
                window.close();
            }
        }
    }

    /**
     * 이미지 선택
     */
    function selectImage(thumbnail) {
        const thumbnails = document.querySelectorAll('.z-thumbnail');
        for (let i = 0, len = thumbnails.length; i < len; i++) {
            thumbnails.item(i).classList.remove('selected');
        }
        thumbnail.classList.add('selected');
    }
    /*]]>*/
</script>
</html>
