<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <table>
        <thead>
            <tr>
                <th width="20%" th:text="#{process.label.name}"></th>
                <th width="10%" th:text="#{process.label.simulation}"></th>
                <th width="10%" th:text="#{common.label.update}"></th>
                <th width="10%" th:text="#{process.label.state}"></th>
                <th width="28%" th:text="#{process.label.description}"></th>
                <th width="10%" th:text="#{common.label.writer}"></th>
                <th width="12%" th:text="#{common.label.writeDate}"></th>
            </tr>
        </thead>
        <tbody class="list-body">
        <input type="hidden" id="totalCount" th:value="${processListCount}"/>
            <tr class="no-data-found" th:if="${#arrays.isEmpty(processList)}">
                <td colspan="7" th:text="#{common.msg.noData}"></td>
            </tr>
            <tr th:unless="${#arrays.isEmpty(processList)}" th:each="process: ${processList}">
                <td width="20%" th:class="align-left">
                    <div th:if="${process.enabled == true}">
                        <a sec:authorize="!hasAuthority('process.update')" th:text="${process.name}"
                           th:attr="onclick=|openProcessView('${process.id}')|"></a>
                        <a sec:authorize="hasAuthority('process.update')" th:text="${process.name}"
                           th:attr="onclick=|openProcessEdit('${process.id}')|"></a>
                    </div>
                    <div th:unless="${process.enabled == true}">
                        <span th:text="${process.name}"></span>
                    </div>
                </td>
                <td width="10%">
                    <a th:attr="onclick=|openProcessDesignerView('${process.id}')|">
                        <img src="../assets/media/icons/process/list/icon_preview.svg"></a>
                </td>
                <td width="10%">
                    <a th:if="${process.enabled == true}" sec:authorize="hasAuthority('process.update')"
                       th:disabled="${!process.enabled}" th:attr="onclick=|openProcessDesignerEdit('${process.id}')|">
                        <img src="../assets/media/icons/process/list/icon_edit.svg"></a>
                </td>
                <td width="10%" th:text="#{${process.status}}"></td>
                <td width="28"%" class="align-left" th:text="${process.description}"></td>
                <td width="10%" th:text="${process.createUserName}"></td>
                <td width="12%" th:name="createDt" th:text="${process.createDt}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
