<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <style>
        table {
            width: 100%;
            border: 1px solid;
            border-collapse: collapse;
        }
        table tr:nth-child(1) td {
            border-top: 1px solid;
        }
        table td {
            border-top: 1px solid #e7e7e7;
            border-left: 1px solid;
        }
    </style>
</head>
<body>
    <div>
        <table class="table-hover">
            <colgroup>
                <col width="25%">
                <col width="25%">
                <col width="20%">
                <col width="12%">
                <col width="8%">
                <col width="5%">
                <col width="5%">
            </colgroup>
            <tbody>
                <tr th:if="${#arrays.isEmpty(processList)}">
                    <td colspan="7" th:text="#{common.msg.noData}"></td>
                </tr>
                <tr th:unless="${#arrays.isEmpty(processList)}" th:each="process: ${processList}">
                    <td><a sec:authorize="hasAnyAuthority('process.create', 'process.update')"
                           href="javascript:void(0);"
                           th:attr="onclick=|openProcessDesignerView('${process.id}')|"
                           th:text="${process.name}"></a>
                    </td>
                    <td th:text="${process.description}"></td>
                    <td th:if="${process.updateDt == null && process.updateUserKey == null}"
                        th:with="dateformat=${#authentication.details.timeFormat}"
                        th:text="|${#temporals.format(process.createDt,dateformat)} ${process.createUserKey}|"></td>
                    <td th:unless="${process.updateDt == null && process.updateUserKey == null}"
                        th:with="dateformat=${#authentication.details.timeFormat}"
                        th:text="|${#temporals.format(process.updateDt,dateformat)} ${process.updateUserKey}|"></td>
                    <td th:text="#{${process.status}}"></td>
                    <td>
                        <button sec:authorize="hasAnyAuthority('process.create', 'process.update')"
                                th:text="#{process.btn.export}" th:disabled="${!process.enabled}"
                                th:attr="onclick=|aliceProcessUtil.export('${process.id}')|"></button>
                    </td>
                    <td>
                        <button sec:authorize="hasAuthority('process.update')"
                                th:text="#{common.btn.modify}" th:disabled="${!process.enabled}"
                                th:attr="onclick=|openProcessDesignerEdit('${process.id}')|"></button>
                    </td>
                    <td>
                        <button sec:authorize="hasAuthority('process.delete')"
                                th:text="#{common.btn.delete}" th:disabled="${!process.enabled}"
                                th:attr="onclick=|deleteProcess('${process.id}')|"></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
