<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/defaultLayout">
<head>
    <title th:text="#{process.label.process}"></title>
    <script th:src="@{/assets/js/workflow/workflow.util.js}"></script>
</head>
<body>
<th:block layout:fragment="content">
    <div class="process-header">
        <div class="header-title flex-row align-items-baseline">
            <h1 th:text="#{process.label.process}"></h1>
            <h6 class="description" th:text="#{process.msg.searchDescription}"></h6>
        </div>
        <div class="header-search flex-row">
            <input type="hidden" id="updatable" th:value="${#authorization.expression('hasAuthority(''process.update'')')}"/>
            <form id="searchFrm">
                <input type="text" id="search" name="search" class="search col-5 mr-2"  maxlength="100"
                       th:placeholder="#{process.label.searchPlaceholder}"/>
                <span id="spanTotalCount" class="txt-num"></span>
            </form>
            <div class="ml-auto">
                <button type="button" class="default-line" onclick="openProcessImport();"
                        sec:authorize="hasAuthority('process.create')" th:text="#{process.btn.import}"></button>
                <button type="button" class="default-fill" onclick="openProcessRegister();"
                        sec:authorize="hasAuthority('process.create')" th:text="#{common.btn.add}"></button>
            </div>
        </div>
    </div>
    <div class="process-content flex-fill">
        <div class="list" id="processList"></div>
    </div>
</th:block>
</body>
<th:block layout:fragment="pageScript">
    <script type="text/javascript">
        /*<![CDATA[*/
        // process status
        const STATUS_USE = 'process.status.use';
        const STATUS_DESTROY = 'process.status.destroy';

        let offsetCount = 0;
        window.onload = function() {
            document.getElementById('search').focus();
            getProcessList(document.getElementById('search').value, false);
        }

        document.getElementById('search').onkeyup = function() {
            getProcessList(this.value, false);
        };

        // 프로세스 리스트 조회
        function getProcessList(search, isScroll) {
            if (isScroll) {
                if (offsetCount === 0) {
                    offsetCount = aliceJs.searchDataCount;
                }
                restSearchSubmit('GET', '/rest/processes?search=' + encodeURIComponent(search) + '&offset=' + offsetCount, isScroll);
            } else {
                offsetCount = 0;
                restSearchSubmit('GET', '/processes?search=' + encodeURIComponent(search) + '&offset=' + offsetCount, isScroll);
            }
        }

        // 유효성 검증
        function checkValidation() {
            if (isEmpty('process_name', 'process.msg.enterProcessName')) {
                return false;
            }

            // fileTemplate가 동적으로 생기고 존재여부로 파일 업로드를 체크하기 때문에 isEmpty 함수를 사용하기 어려움.
            if (document.getElementById('dropZoneFileUpload') !== null && document.getElementById('fileTemplate') === null) {
                aliceJs.alertWarning(i18n.msg('process.msg.selectImportFile'));
                return false;
            }
            return true;
        }

         // 프로세스 등록/수정
        function saveProcess(processId, isDestroy, isEnabled) {
            // 빈 값 체크
            if (checkValidation()) {
                const processInfo = {
                    processName: document.getElementById('process_name').value,
                    processDesc: document.getElementById('process_description').value
                };
                if (processId === undefined) {
                    // 등록
                    restSubmit('POST', '/rest/processes', processInfo);
                } else {
                    // 수정
                    processInfo.processId = processId;
                    processInfo.processStatus = isDestroy ? STATUS_DESTROY : document.getElementById('process_status').value;
                    isEnabled ? restSubmit('PUT', '/rest/processes/' + processId, processInfo)
                        : aliceJs.alertWarning(i18n.msg('process.msg.failedDestroy'));
                }
            }
        }

        // 프로세스 삭제
        function deleteProcess(processId) {
            aliceJs.confirmIcon(i18n.msg('common.msg.confirmDelete'), restSubmit, null, 'delete', '/rest/process/' + processId, function() {
                aliceJs.alertSuccess('[[#{common.msg.delete}]]', function() {
                    window.close();
                });
            });
        }

        // 프로세스 등록 / 수정 모달 내부 Template
        function createModalContent(data) {
            return `<div class="flex-column">` +
                       `<input type="hidden" id="process_status" value="${data !== undefined ? data.status : ''}" />` +
                       `<label class="field-label" for="process_name">${i18n.msg('process.label.name')}<span class="required"></span></label>` +
                       `<input type="text" id="process_name" maxlength="50" value="${data !== undefined ? data.name : ''}" ${data !== undefined && data.isView ? 'readonly' : ''}>` +
                       `<label class="field-label" for="process_description">${i18n.msg('process.label.description')}</label>` +
                       `<textarea rows="3" class="textarea-scroll-wrapper" id="process_description" maxlength="256" ${data !== undefined && data.isView ? 'readonly' : ''}>${data !== undefined ? data.description : ''}</textarea>` +
                    `</div>`;
        }

        // 프로세스 수정 / 보기 모달 오픈
        function openProcessEdit(processId, isView) {
            if (processId !== undefined) { // 수정
                aliceJs.sendXhr({
                    method: 'GET',
                    url: '/rest/processes/' + processId + '/data',
                    callbackFunc: function(xhr) {
                        let responseObject = JSON.parse(xhr.responseText);
                        responseObject.isView = isView;
                        let options = {
                            title: isView ? i18n.msg('process.label.detail') : i18n.msg('process.label.edit') ,
                            body: createModalContent(responseObject),
                            classes: 'process-edit',
                            buttons: [],
                            close: {
                                closable: false,
                            },
                            onCreate: function(modal) {
                                // 스크롤바 추가
                                OverlayScrollbars(document.querySelector('.modal-content'), {className: 'scrollbar'});
                                OverlayScrollbars(document.getElementById('process_description'), {
                                    className: 'inner-scrollbar',
                                    resize: 'vertical',
                                    sizeAutoCapable: true,
                                    textarea: {
                                        dynHeight: false,
                                        dynWidth: false,
                                        inheritedAttrs: "class"
                                    }
                                });
                            }
                        };

                        // 버튼 설정
                        if (responseObject.enabled && !isView) {
                            // 내보내기 버튼
                            options.buttons.push({
                                content: i18n.msg('process.btn.export'),
                                classes: "point-fill",
                                bindKey: false,
                                callback: function(modal) {
                                    workflowUtil.export(responseObject.id, 'process');
                                }
                            });
                            // 수정
                            options.buttons.push({
                                content: i18n.msg('common.btn.modify'),
                                classes: "point-fill",
                                bindKey: false,
                                callback: function(modal) {
                                    saveProcess(responseObject.id, false, true);
                                }
                            });
                            // 삭제
                            options.buttons.push({
                                content: i18n.msg('common.btn.delete'),
                                classes: "default-fill",
                                bindKey: false,
                                callback: function(modal) {
                                    deleteProcess(responseObject.id);
                                }
                            });
                        } else if (responseObject.status === STATUS_USE) {
                            // 폐기
                            options.buttons.push({
                                content: i18n.msg('process.status.destroy'),
                                classes: "point-fill",
                                bindKey: false,
                                callback: function(modal) {
                                    saveProcess(responseObject.id, true, responseObject.enabled);
                                }
                            });
                        }
                        // 취소
                        options.buttons.push({
                            content: i18n.msg('common.btn.cancel'),
                            classes: "default-line",
                            bindKey: false,
                            callback: function(modal) {
                                modal.hide();
                            }
                        });

                        // 모달 호출
                        const processModal = new modal(options);
                        processModal.show();
                    },
                    contentType: 'application/json; charset=utf-8'
                });
            }
        }

        // 프로세스 등록 모달 오픈
        function openProcessRegister() {
            const processModal = new modal({
                title: i18n.msg('process.label.register'),
                body: createModalContent(),
                classes: 'process-edit',
                buttons: [{
                    content: i18n.msg('common.btn.register'),
                    classes: "point-fill",
                    bindKey: false,
                    callback: function(modal) {
                        saveProcess();
                    }
                },{
                    content: i18n.msg('common.btn.cancel'),
                    classes: "default-line",
                    bindKey: false,
                    callback: function(modal) {
                        modal.hide();
                    }
                }],
                close: {
                    closable: false,
                },
                onCreate: function(modal) {
                    // 스크롤바 추가
                    OverlayScrollbars(document.querySelector('.modal-content'), {className: 'scrollbar'});
                    OverlayScrollbars(document.getElementById('process_description'), {
                        className: 'inner-scrollbar',
                        resize: 'vertical',
                        sizeAutoCapable: true,
                        textarea: {
                            dynHeight: false,
                            dynWidth: false,
                            inheritedAttrs: "class"
                        }
                    });
                }
            });
            processModal.show();
        }

        // REST API
        function restSubmit(method, url, data) {
            const opt = {
                method: method,
                url: url,
                params: JSON.stringify(data),
                contentType: 'application/json',
                callbackFunc: function(response) {
                    if (method === 'POST') {
                        const _width = 1800,
                            _height = 920;
                        // 중앙 배치
                        const _left = Math.ceil((window.screen.width - _width) / 2);
                        const _top = Math.ceil((window.screen.height - _height) / 4);

                        let processId = response.responseText;
                        sessionStorage.setItem('alice_processes-edit-' + processId, 'firstLoading');

                        let specs = 'left=' + _left + ',top=' + _top;
                        specs += ',menubar=no,toolbar=no,location=no,status=no,titlebar=no,scrollbars=yes,resizable=no';
                        window.open('/process/' + processId + '/edit', 'process_' + processId + '_edit', 'width=' + _width + ',height=' + _height + ',' + specs);
                    } else {

                    }
                    location.reload();
                }
            };
            aliceJs.sendXhr(opt);
        }

        // 프로세스 디자이너 편집화면 오픈
        function openProcessDesignerEdit(processId) {
            const _width = 1800,
                  _height = 920;
            //중앙 배치
            const _left = Math.ceil((window.screen.width - _width) / 2);
            const _top = Math.ceil((window.screen.height - _height) / 4);

            let specs = 'left=' + _left + ',top=' + _top;
            specs += ',menubar=no,toolbar=no,location=no,status=no,titlebar=no,scrollbars=yes,resizable=no';

            sessionStorage.setItem('alice_processes-edit-' + processId, '');
            window.open('/process/' + processId + '/edit', 'process_' + processId + '_edit', 'width=' + _width + ',height=' + _height + ','+ specs);
        }

        // 프로세스 디자이너 상세화면 오픈
        function openProcessDesignerView(processId) {
            const _width = 1800,
                  _height = 920;
            //중앙 배치
            const _left = Math.ceil((window.screen.width - _width) / 2);
            const _top = Math.ceil((window.screen.height - _height) / 4);

            let specs = 'left=' + _left + ',top=' + _top;
            specs += ',menubar=no,toolbar=no,location=no,status=no,titlebar=no,scrollbars=yes,resizable=no';
            window.open('/process/' + processId + '/view', 'process_' + processId + '_view', 'width=' + _width + ',height=' + _height + ','+ specs);
        }

        // 프로세스 IMPORT
        function importProcess() {
            if (checkValidation()) {
                let fileList = fileUploader.getFile();
                const processInfo = {
                    processName: document.getElementById('process_name').value,
                    processDesc: document.getElementById('process_description').value
                };

                workflowUtil.import(fileList, processInfo, 'process', function (result) {
                    if (result) {
                        aliceJs.alertSuccess(i18n.msg('common.msg.save'), function () {
                            location.reload();
                        });
                        return true;
                    } else {
                        aliceJs.alertDanger(i18n.msg('common.label.fail'));
                        return false;
                    }
                });
            }
            return false;
        }

        // 프로세스 IMPORT 모달 내부 Template
        function createImportModalContent() {
            return `<div class="import-main flex-column">` +
                       `<label class="field-label" for="process_name">${i18n.msg('process.label.name')}<span class="required"></span></label>` +
                       `<input type="text" id="process_name" id="process_name" maxlength="50">` +
                       `<label class="field-label" for="process_description">${i18n.msg('process.label.description')}</label>` +
                       `<textarea rows="3" class="textarea-scroll-wrapper" id="process_description" maxlength="256"></textarea>` +
                       `<div class="file-uploader-edit">` +
                           `<label class="file-uploader-title field-label">${i18n.msg('process.label.importFile')}<span class="required"></span></label>` +
                           `<div id="dropZoneFiles"></div>` +
                           `<div id="dropZoneUploadedFiles"></div>` +
                       `</div>` +
                       `<h6 class="description">${i18n.msg('process.msg.noticeImportFile')}</h6>` +
                    `</div>`;
        }

        // 프로세스 IMPORT 화면 오픈
        function openProcessImport() {
            const importModal = new modal({
                title: i18n.msg('process.label.import'),
                body: createImportModalContent(),
                classes: 'process-import',
                buttons: [
                    {
                        content: i18n.msg('process.btn.import'),
                        classes: "default-line",
                        bindKey: false,
                        callback: function(modal) {
                            importProcess();
                        }
                    },{
                        content: i18n.msg('common.btn.cancel'),
                        classes: "default-line",
                        bindKey: false,
                        callback: function(modal) {
                            modal.hide();
                        }
                    }
                ],
                close: {
                    closable: false,
                },
                onCreate: function(modal) {
                    // 파일 업로드 추가
                    fileUploader.init({
                        extra: {
                            formId: 'importProcess',
                            dropZoneMaxFiles: 1,
                            acceptedFiles: '.xml',
                            dropZoneUrl: '/fileupload?target=import',
                            editor: true
                        }
                    });
                    // 스크롤바 추가
                    OverlayScrollbars(document.querySelector('.modal-content'), {className: 'scrollbar'});
                    OverlayScrollbars(document.getElementById('process_description'), {
                        className: 'inner-scrollbar',
                        resize: 'vertical',
                        sizeAutoCapable: true,
                        textarea: {
                            dynHeight: false,
                            dynWidth: false,
                            inheritedAttrs: "class"
                        }
                    });
                }
            });
            importModal.show();
        }

        // REST API
        function restSearchSubmit(method, url, isScroll) {
            const opt = {
                method: method,
                url: url,
                async: false,
                showProgressbar: false,
                callbackFunc: function(response) {
                    if (isScroll) {
                        let dataList = JSON.parse(response.responseText);
                        if (dataList.length > 0) {
                            aliceJs.showTotalCount(dataList[0].totalCount);
                            document.getElementById('totalCount').value = dataList[0].totalCount;
                            if (aliceJs.isEnableScrollEvent(offsetCount)) {
                                offsetCount = offsetCount + aliceJs.searchDataCount;
                                dataList.forEach(function (data) {
                                    getDataTemplate(data);
                                });
                            }
                        }

                    } else {
                        document.getElementById('processList').innerHTML = response.responseText;
                        aliceJs.showTotalCount(document.getElementById('totalCount').value);
                        let processDtEle = document.querySelectorAll('td[name=createDt]');
                        for (let i = 0; i < processDtEle.length; i++) {
                            processDtEle[i].textContent = i18n.userDateTime(processDtEle[i].textContent);
                        }
                    }

                    OverlayScrollbars(document.querySelector('.list-body'), {
                        className: 'scrollbar',
                        callbacks: {
                            onScroll: function(e) {
                                const scrollHeight = e.target.scrollHeight;
                                const scrollTop = e.target.scrollTop;
                                const clientHeight = e.target.clientHeight;
                                if (scrollHeight - scrollTop === clientHeight) {
                                    if (aliceJs.isEnableScrollEvent(offsetCount)) {
                                        getProcessList(document.getElementById('search').value, true);
                                    }
                                }
                            }
                        }
                    });
                }
            };
            aliceJs.sendXhr(opt);
        }

        function getDataTemplate(data) {
            let div = document.querySelector('.list-body .os-content');
            let tr = document.createElement('tr');
            tr.className = 'flex-row align-items-center';

            // TODO: 권한에 따라 view or edit
            let tdProcessName = document.createElement('td');
            tdProcessName.className = 'align-left underline';
            tdProcessName.style.width = '20%';
            let processNameObject;
            if (data.enabled == true) {
                processNameObject = document.createElement('a');
                processNameObject.onclick = function() {
                    if (document.getElementById('updatable').value === 'true') {
                        openProcessEdit(data.id, false);
                    } else {
                        openProcessEdit(data.id, true);
                    }
                }
            } else {
                if (data.status == STATUS_USE) {
                    processNameObject = document.createElement('a');
                    processNameObject.onclick = function() {
                        openProcessEdit(data.id, true);
                    }
                } else {
                    processNameObject = document.createElement('span');
                }
            }
            processNameObject.innerText = data.name;
            tdProcessName.appendChild(processNameObject);

            let tdProcessPreview = document.createElement('td');
            tdProcessPreview.className = 'align-center';
            tdProcessPreview.style.width = '10%';
            let processPreviewBtn = document.createElement('button');
            let spanProcessPreview = document.createElement('span');
            processPreviewBtn.className = 'default-fill btn-popup';
            spanProcessPreview.className = 'icon-search';
            processPreviewBtn.onclick = function () {
                openProcessDesignerView(data.id);
            }
            processPreviewBtn.appendChild(spanProcessPreview);
            tdProcessPreview.appendChild(processPreviewBtn);


            let tdProcessUpdate = document.createElement('td');
            tdProcessUpdate.className = 'align-center';
            tdProcessUpdate.style.width = '10%';
            if (document.getElementById('updatable').value === 'true' && data.enabled == true) {
                let updateBtn = document.createElement('button');
                let spanUpdate = document.createElement('span');
                spanUpdate.className='icon-edit';
                tdProcessUpdate.onclick = function() {
                    openProcessDesignerEdit(data.id);
                }
                updateBtn.appendChild(spanUpdate);
                tdProcessUpdate.appendChild(updateBtn);
            }

            let tdStatus = document.createElement('td');
            tdStatus.className = 'align-center';
            tdStatus.style.width = '10%';
            tdStatus.innerText = i18n.msg(data.status);

            let tdDescription = document.createElement('td');
            tdDescription.className = 'align-left';
            tdDescription.style.width = '28%';
            tdDescription.innerText = data.description;

            let tdWriter = document.createElement('td');
            tdWriter.className = 'align-left';
            tdWriter.style.width = '10%';
            tdWriter.innerText = data.createUserName;

            let tdWriteDate = document.createElement('td');
            tdWriteDate.className = 'align-left';
            tdWriteDate.style.width = '12%';
            tdWriteDate.innerText = i18n.userDateTime(data.createDt);

            tr.appendChild(tdProcessName);
            tr.appendChild(tdProcessPreview);
            tr.appendChild(tdProcessUpdate);
            tr.appendChild(tdStatus);
            tr.appendChild(tdDescription);
            tr.appendChild(tdWriter);
            tr.appendChild(tdWriteDate);
            div.appendChild(tr);
        }
    </script>
</th:block>
</html>
