<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <table class="list-table">
        <thead class="list-head">
            <tr class="flex-row align-items-center">
                <th style="width: 20%" class="align-left" th:text="#{process.label.name}"></th>
                <th style="width: 10%" class="align-center" th:text="#{process.label.simulation}"></th>
                <th style="width: 10%" class="align-center" th:text="#{common.label.update}"></th>
                <th style="width: 10%" class="align-center" th:text="#{process.label.state}"></th>
                <th style="width: 28%" class="align-left" th:text="#{process.label.description}"></th>
                <th style="width: 10%" class="align-left" th:text="#{common.label.writer}"></th>
                <th style="width: 12%" class="align-left" th:text="#{common.label.writeDate}"></th>
            </tr>
        </thead>
        <tbody class="list-body">
        <input type="hidden" id="totalCount" th:value="${processListCount}"/>
            <tr class="flex-row align-items-center no-data-found-list" th:if="${#arrays.isEmpty(processList)}">
                <td style="width:100%" colspan="7" class="align-center" th:text="#{common.msg.noData}"></td>
            </tr>
            <tr class="flex-row align-items-center" th:unless="${#arrays.isEmpty(processList)}" th:each="process: ${processList}">
                <td style="width: 20%" class="align-left underline">
                    <th:block th:if="${process.enabled == true}">
                        <a sec:authorize="!hasAuthority('process.update')" th:text="${process.name}"
                           th:attr="onclick=|openProcessEdit('${process.id}', true)|"></a>
                        <a sec:authorize="hasAuthority('process.update')" th:text="${process.name}"
                           th:attr="onclick=|openProcessEdit('${process.id}', false)|"></a>
                    </th:block>
                    <div th:unless="${process.enabled == true}">
                        <a th:if="${process.status == 'process.status.use'}" th:text="${process.name}"
                           th:attr="onclick=|openProcessEdit('${process.id}', true)|"></a>
                        <span th:unless="${process.status == 'process.status.use'}" th:text="${process.name}"></span>
                    </div>
                </td>
                <td style="width: 10%" class="align-center">
                    <button type="button" class="default-fill btn-popup" th:onclick="openProcessDesignerView([[${process.id}]])">
                        <span class="icon-search"></span>
                    </button>
                </td>
                <td style="width: 10%" class="align-center">
                    <th:block th:if="${process.enabled == true}">
                        <button type="button" sec:authorize="hasAuthority('process.update')"
                                th:onclick="openProcessDesignerEdit([[${process.id}]])">
                            <span class="icon-edit"></span>
                        </button>
                    </th:block>
                </td>
                <td style="width: 10%" class="align-center" th:text="#{${process.status}}"></td>
                <td style="width: 28%" class="align-left" th:text="${process.description}"></td>
                <td style="width: 10%" class="align-left" th:text="${process.createUserName}"></td>
                <td style="width: 12%" class="align-left" th:name="createDt" th:text="${process.createDt}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
