<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layout/popupLayout">
<head>
    <title th:if="${processInfo?.id}" th:text="#{process.label.edit}"></title>
    <title th:if="!${processInfo?.id}" th:text="#{process.label.create}"></title>
    <script th:src="@{/assets/js/workflow/workflow.util.js}"></script>
</head>
<body>
<th:block layout:fragment="content">
    <input type="hidden" id="process_status" th:value="${processInfo?.status}" />
    <div class="edit">
        <h3 class="under-bar" th:if="${processInfo?.id}" th:text="#{process.label.edit}"></h3>
        <h3 class="under-bar" th:if="!${processInfo?.id}" th:text="#{process.label.create}"></h3>
        <div class="form-set">
            <label class="required" th:text="#{process.label.name}" for="process_name"></label>
            <input type="text" id="process_name" maxlength="50"
                   required="required" tabindex="1" th:value="${processInfo?.name}"/>
        </div>
        <div class="form-set">
            <label th:text="#{process.label.description}" for="process_desc"></label>
            <textarea id="process_desc" maxlength="128" tabindex="2"
                      th:text="${processInfo?.description}"></textarea>
        </div>
        <div class="horizontal-bar"></div>
        <div class="btn-bar">
            <button class="point-fill" th:if="!${processInfo?.id}" th:attr="onclick=|saveProcess()|"
                    th:text="#{common.btn.register}"></button>
            <button class="point-fill" th:if="${processInfo?.id}" sec:authorize="hasAnyAuthority('process.create', 'process.update')"
                    th:disabled="${!processInfo?.enabled}"
                    th:attr="onclick=|workflowUtil.export('${processInfo?.id}', 'process')|"
                    th:text="#{process.btn.export}"></button>
            <button class="point-fill" th:if="${processInfo?.id}" sec:authorize="hasAuthority('process.update')"
                    th:disabled="${!processInfo?.enabled}"
                    th:attr="onclick=|saveProcess('${processInfo?.id}')|" th:text="#{common.btn.modify}"></button>
            <button class="default-fill" th:if="${processInfo?.id}" sec:authorize="hasAuthority('process.delete')"
                    th:disabled="${!processInfo?.enabled}"
                    th:attr="onclick=|deleteProcess('${processInfo?.id}')|" th:text="#{common.btn.delete}"></button>
            <button class="default-fill" th:attr="onclick=|window.close()|" th:text="#{common.btn.close}"></button>
        </div>
    </div>
</th:block>
<th:block layout:fragment="pageScript">
    <script type="text/javascript">
        /*<![CDATA[*/
        // 프로세스 등록/수정
        function saveProcess(processId) {
            // 빈 값 체크
            if (emptyValidation()) {
                const processInfo = {
                    processName: document.getElementById('process_name').value,
                    processDesc: document.getElementById('process_desc').value
                };

                if (processId === undefined) {
                    // 등록
                    restSubmit('POST', '/rest/processes-admin', processInfo);
                } else {
                    // 수정
                    processInfo.processId = processId;
                    processInfo.processStatus = document.getElementById('process_status').value;
                    restSubmit('PUT', '/rest/processes-admin/' + processId, processInfo);
                }
            }
        }

        // 프로세스 삭제
        function deleteProcess(processId) {
            restSubmit('DELETE', '/rest/processes/' + processId, function() {
                aliceJs.alert('[[#{common.msg.delete}]]', function() {
                    window.close();
                });
            });
        }

        // 빈 값 체크
        function emptyValidation() {
            if (isEmpty('process_name', 'process.msg.enterProcessName')) { return false; }
            return true;
        }

        // REST API
        function restSubmit(method, url, data) {
            const opt = {
                method: method,
                url: url,
                params: JSON.stringify(data),
                contentType: 'application/json',
                callbackFunc: function(response) {
                    opener.location.reload();
                    window.close();
                    if (method === 'POST') {
                        let processId = response.responseText;
                        sessionStorage.setItem('alice_processes-edit-' + processId, 'firstLoading');

                        const _width = 1800,
                            _height = 920;
                        // 중앙 배치
                        const _left = Math.ceil((window.screen.width - _width) / 2);
                        const _top = Math.ceil((window.screen.height - _height) / 4);
                        let specs = 'left=' + _left + ',top=' + _top;
                        specs += ',menubar=no,toolbar=no,location=no,status=no,titlebar=no,scrollbars=yes,resizable=no';
                        window.open('/processes/' + processId + '/edit', 'process_' + processId + '_edit', 'width=' + _width + ',height=' + _height + ',' + specs);
                    }
                }
            };
            aliceJs.sendXhr(opt);
        }
        /*]]>*/
    </script>
</th:block>
</body>
</html>
