<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{process.label.register}"></title>
    <th:block th:replace="layout/fragments/commonHead"></th:block>
    <!-- 임시 style -->
    <style>
        table th {
            text-align: left;
        }
        table td > input, textarea, select {
            width: 500px;
        }
    </style>
</head>
<body>
    <div style="margin: 10px 0 0 10px;">
        <div id="prevContainer">
            <table>
                <tr>
                    <th th:text="|#{process.label.name} *|"></th>
                </tr>
                <tr>
                    <td><input type="text" id="process_name" maxlength="50" required="required" tabindex="1"/></td>
                </tr>
                <tr>
                    <th th:text="#{process.label.description}"></th>
                </tr>
                <tr>
                    <td><textarea id="process_desc" style="height:100px;" maxlength="500" tabindex="2"></textarea></td>
                </tr>
                <tr>
                    <th th:text="#{form.label.name}"></th>
                </tr>
                <tr>
                    <td>
                        <select id="form" tabindex="3">
                            <option value="" th:text="#{common.label.notSelect}"></option>
                            <option th:each="form: ${formList}" th:value="${form.formId}" th:text="${form.formName}">
                            </option>
                        </select>
                    </td>
                </tr>
            </table>
            <div><a th:text="#{common.btn.next}" href="javascript:replaceContent();"></a></div>
        </div>
        <div id="nextContainer" style="display:none;">
            <h1 th:text="#{process.label.templatesList}"></h1>
            <div>
                <a th:text="#{common.btn.before}" href="javascript:replaceContent();"></a>
                <a th:text="#{common.btn.save}" href="javascript:insertProcess();"></a>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    function replaceContent() {
        const prev = document.getElementById('prevContainer');
        const next = document.getElementById('nextContainer');
        if (next.style.display === 'none') {
            prev.style.display = 'none';
            next.style.display = 'block';
        } else {
            prev.style.display = 'block';
            next.style.display = 'none';
        }
    }

    //프로세스 등록
    function insertProcess() {
        //빈 값 체크
        if (emptyValidation()) {
            const processInfo = {
                processName: document.getElementById('process_name').value,
                processDesc: document.getElementById('process_desc').value,
                formId: document.getElementById('form').value
            };
            //등록
            restSubmit('POST', '/rest/processes/data', processInfo);
        }
    }

    //빈 값 체크
    function emptyValidation() {
        if (document.getElementById('process_name').value === '') {
            alert('[[#{process.msg.alert.nameNotExist}]]');
            replaceContent();
            return false;
        }
        return true;
    }

    //REST API
    function restSubmit(method, url, data) {
        const opt = {
            method: method,
            url: url,
            params: JSON.stringify(data),
            contentType: 'application/json',
            callbackFunc: function(response) {
                window.close();
                window.open('/processes/' + response.responseText + '/edit', '_blank', 'width=1500, height=800')
            }
        };
        aliceJs.sendXhr(opt);
    }
</script>
</html>