<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<table class="table">
    <thead class="table-head">
        <tr class="flex-row align-items-center">
            <th width="27%" class="align-left" th:text="#{form.label.name}"></th>
            <th width="10%" class="align-center" th:text="#{form.label.state}"></th>
            <th width="30%" class="align-left" th:text="#{form.label.description}"></th>
            <th width="10%" class="align-left" th:text="#{common.label.createUser}"></th>
            <th width="15%" class="align-left" th:text="#{common.label.createDate}"></th>
            <th width="4%" class="align-center"></th>
            <th width="4%" class="align-center"></th>
        </tr>
    </thead>
    <tbody class="table-body">
        <tr class="flex-row align-items-center no-data-found-list" th:if="${#arrays.isEmpty(formList)}">
            <td style="width:100%" colspan="7" class="align-center" th:text="#{common.msg.noData}"></td>
        </tr>
        <tr class="flex-row align-items-center" th:unless="${#arrays.isEmpty(formList)}" th:each="form: ${formList}">
            <td width="27%" class="align-left underline">
                <th:block sec:authorize="hasAuthority('workflow.manage')">
                    <a th:if="${form.editable == true}" th:text="${form.name}"
                       th:attr="onclick=|openFormDesignerEdit('${form.id}')|" th:title="${form.name}"></a>
                    <a th:unless="${form.editable == true}" th:text="${form.name}"
                       th:attr="onclick=|openFormDesignerView('${form.id}')|" th:title="${form.name}"></a>
                </th:block>
                <th:block sec:authorize="!hasAuthority('workflow.manage')">
                    <span th:text="${form.name}" th:title="${form.name}"></span>
                </th:block>
            </td>
            <td width="10%" class="align-center" th:text="#{${form.status}}" th:title="#{${form.status}}"></td>
            <td width="30%" class="align-left" th:text="${form.desc}" th:title="${form.desc}"></td>
            <td width="10%" class="align-left" th:text="${form.createUserName}" th:title="${form.createUserName}"></td>
            <td width="15%" class="align-left date-time" th:text="${form.createDt}" th:title="${form.createDt}"></td>
            <td width="4%" class="align-center">
                <button type="button" class="button-icon btn--form" sec:authorize="hasAuthority('workflow.manage')" th:onclick="exportForm([[${form.id}]])">
                    <span class="icon i-list-download"></span>
                </button>
            </td>
            <td width="4%" class="align-center">
                <th:block th:if="${#authorization.expression('hasAuthority(''workflow.manage'')')} and ${form.editable == true}">
                    <button type="button" class="button-icon btn--form" th:onclick="deleteForm([[${form.id}]])">
                        <span class="icon i-list-delete"></span>
                    </button>
                </th:block>
            </td>
        </tr>
    </tbody>
</table>
<th:block th:replace="layout/itsm/fragment/totalCountFragment :: totalCountDataFragment"></th:block>
</body>
</html>
