<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/itsm/pageType/commonEditLayout}">
<head>
    <title th:text="#{cmdb.attribute.label.view}"></title>
</head>
<body>
<div layout:fragment="pageTitle">
    <h1 th:text="#{cmdb.attribute.label.view}"></h1>
    <h6 class="description ml-2 pl-2" th:text="#{cmdb.attribute.msg.viewDescription}"></h6>
</div>
<div layout:fragment="pageEdit">
    <div class="z-edit-form flex-fill">
        <input type="hidden" id="attributeId" name="attributeId" th:value="${attribute?.attributeId}"/>
        <div class="flex-column z-edit-row">
            <label for="attributeName">
                <span th:text="#{cmdb.attribute.label.name}"></span>
                <span class="required"></span>
            </label>
            <input type="text" id="attributeName" class="z-input" required="true" maxlength="100"
                   th:attr="data-validation-required-name=#{cmdb.attribute.label.name}"
                   th:value="${attribute?.attributeName}"/>
        </div>
        <div class="flex-column z-edit-row">
            <label for="attributeDesc">
                <span th:text="#{cmdb.attribute.label.description}"></span>
            </label>
            <textarea id="attributeDesc" name="attributeDesc" class="z-textarea textarea-scroll-wrapper"
                      maxlength="250" rows="5" th:text="${attribute?.attributeDesc}"></textarea>
        </div>
        <div class="flex-column z-edit-row">
            <label for="attributeText">
                <span th:text="#{cmdb.attribute.label.label}"></span>
            </label>
            <input type="text" id="attributeText" class="z-input" maxlength="100"
                   th:value="${attribute?.attributeText}"/>
        </div>
        <div class="flex-column z-edit-row">
            <label for="mappingId">
                <span th:text="#{cmdb.attribute.label.mappingId}"></span>
            </label>
            <input type="text" id="mappingId" class="z-input" maxlength="100"
                   th:value="${attribute?.mappingId}"/>
        </div>
        <div class="flex-column z-edit-row">
            <label for="attributeType">
                <span th:text="#{cmdb.attribute.label.type}"></span>
                <span class="required"></span>
            </label>
            <select id="attributeType" onchange="changeType(this)">
            </select>
        </div>
        <div class="flex-column z-edit-row">
            <div class="under-bar">
                <label>
                    <span th:text="#{cmdb.attribute.label.details}"></span>
                    <span class="required"></span>
                </label>
            </div>
            <div id="details" class="attribute"></div>
        </div>
        <div class="flex-row justify-content-between z-edit-row">
            <div class="z-button-list">
                <a class="z-button secondary" href="/cmdb/attributes/search" th:text="#{common.btn.list}"></a>
            </div>
            <div class="z-button-list">
                <button class="z-button primary" th:if="${attribute == null}" sec:authorize="hasAuthority('cmdb.attribute.create')"
                        onclick="actionAttribute('post')" th:text="#{common.btn.register}"></button>
                <button class="z-button primary" th:if="${attribute?.attributeId}" sec:authorize="hasAuthority('cmdb.attribute.update')"
                        onclick="actionAttribute('put')" th:text="#{common.btn.modify}"></button>
                <button class="z-button secondary" th:if="${attribute?.attributeId}" sec:authorize="hasAuthority('cmdb.attribute.delete')"
                        th:disabled="${!attribute.enabled}" onclick="actionAttribute('delete')" th:text="#{common.btn.delete}"></button>
            </div>
        </div>
    </div>
</div>
</body>
<th:block layout:fragment="pageScript">
    <script th:src="@{/assets/js/workflow/zWorkflowUtil.js}"></script>
    <script th:src="@{/assets/js/cmdb/zCmdbAttribute.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        const STATUS_SUCCESS = '0';
        const STATUS_ERROR_CMDB_ATTRIBUTE_NAME_DUPLICATION = '1';
        const attributeData = /*[[${attribute?.attributeValue}]]*/ null;

        window.onload = function () {
            const attributeType = /*[[${attribute?.attributeType}]]*/ null;
            let attributeTypeObject = document.querySelector('#attributeType');
            for (let i = 0; i < zCmdbAttribute.attributeTypeList.length; i++) {
                const option = document.createElement('option');
                option.text = zCmdbAttribute.attributeTypeList[i].name
                option.value = zCmdbAttribute.attributeTypeList[i].type
                if (attributeType != null && option.value === attributeType) {
                    option.setAttribute('selected', 'true');
                }
                attributeTypeObject.add(option);
            }

            // Attribute Details
            zCmdbAttribute.init(document.querySelector('#details'));
            changeType(attributeTypeObject, true);

            aliceJs.initDesignedSelectTag();

            OverlayScrollbars(document.querySelectorAll('.z-page-content'), { className: 'scrollbar' });
            OverlayScrollbars(document.querySelectorAll('.textarea-scroll-wrapper'), {
                className: 'scrollbar',
                resize: 'vertical',
                sizeAutoCapable: true,
                textarea: {
                    dynHeight: false,
                    dynWidth: false,
                    inheritedAttrs: "class"
                }
            });
        };

        function changeType(object, isInit) {
            let data = null;
            if (isInit) {
                data = JSON.parse(attributeData);
            }
            zCmdbAttribute.makeDetails(object.value, data);
        }

        function actionAttribute(method) {
            if (method === 'post' || method === 'put') {
                if (isValidRequiredAll() && zCmdbAttribute.checkDuplicate(document.querySelector('#attributeType').value)) {
                    let data = {
                        attributeId: '',
                        attributeName: document.querySelector('#attributeName').value,
                        attributeType: document.querySelector('#attributeType').value,
                        attributeText: document.querySelector('#attributeText').value,
                        mappingId: document.querySelector('#mappingId').value,
                        attributeDesc: document.querySelector('#attributeDesc').value
                    }
                    let url = '/rest/cmdb/attributes';
                    if (method === 'put') {
                        url += '/' + /*[[${attribute?.attributeId}]]*/'';
                        data.attributeId = /*[[${attribute?.attributeId}]]*/'';
                    }

                    let tempDetails = zCmdbAttribute.setDetails(data.attributeType);
                    if (!tempDetails) {
                        return false;
                    }else {
                        data.attributeValue = tempDetails;
                    }
                    restSubmit(method, url, data);
                }
            } else if (method === 'delete') {
                zAlert.confirm(i18n.msg('common.msg.confirmDelete'),  () => {
                    aliceJs.fetchText('/rest/cmdb/attributes/' + /*[[${attribute?.attributeId}]]*/'', {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                    }).then((rtn) => {
                        switch (rtn) {
                            case STATUS_SUCCESS:
                                zAlert.success(i18n.msg('common.msg.delete'), function () {
                                    location.href = '/cmdb/attributes/search';
                                });
                                break;
                            default:
                                zAlert.danger(i18n.msg('common.msg.fail'));
                                break;
                        }
                    });
                });
            }
        }

        function restSubmit(method, url, data) {
            const opt = {
                method: method,
                url: url,
                params: JSON.stringify(data),
                contentType: 'application/json',
                callbackFunc: function(response) {
                    switch (response.responseText) {
                        case STATUS_SUCCESS:
                            zAlert.success(i18n.msg('common.msg.save'), function () {
                                location.href = '/cmdb/attributes/search';
                            });
                            break;
                        case STATUS_ERROR_CMDB_ATTRIBUTE_NAME_DUPLICATION:
                            zAlert.success(i18n.msg('cmdb.attribute.msg.attributeNameUsed'));
                            break;
                        default :
                            zAlert.danger(i18n.msg('common.msg.fail'));
                            break;
                    }
                }
            };
            aliceJs.sendXhr(opt);
        }
        /*]]>*/
    </script>
</th:block>
</html>
