<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/itsm/pageType/pagingListLayout}">
<head>
    <title th:text="#{cmdb.attribute.label.management}"></title>
</head>
<body>
<div layout:fragment="pageTitle">
    <h1 th:text="#{cmdb.attribute.label.management}"></h1>
    <h6 class="description ml-2 pl-2" th:text="#{cmdb.attribute.msg.searchDescription}"></h6>
</div>
<div layout:fragment="pageSearching">
    <input type="hidden" sec:authorize="hasAuthority('cmdb.attribute.create') || hasAuthority('cmdb.attribute.update')" th:name="isRole"
           th:value="true"/>
    <input type="hidden" sec:authorize="!hasAuthority('cmdb.attribute.create') && !hasAuthority('cmdb.attribute.update')" th:name="isRole"
           th:value="false"/>
    <form id="searchFrm">
        <input class="z-input i-search text-ellipsis col-5 mr-2" id="searchValue" name="searchValue" type="text" maxlength="100"
               th:placeholder="#{cmdb.attribute.label.searchPlaceholder}"/>
        <th:block th:replace="layout/itsm/fragment/totalCountFragment :: totalCountFragment"></th:block>
    </form>
    <div class="ml-auto">
        <button type="button" class="z-button secondary" onclick="location.href='/cmdb/attributes/new'"
                sec:authorize="hasAuthority('cmdb.attribute.create')" th:text="#{common.btn.add}"></button>
    </div>
</div>
<div layout:fragment="pageList">
    <div class="z-list-content flex-row" id="attributeList"></div>
</div>
</body>
<script layout:fragment="pageScript" th:inline="javascript">
    /*<![CDATA[*/
    window.onload = function () {
        document.getElementById('searchValue').focus();
        document.getElementById('searchValue').addEventListener('keyup', function() { getList(); });
        getList();
    }

    /**
     * Attribute 검색
     */
    function getList(pageNum = 1) {
        restSubmit('get', '/cmdb/attributes?' + aliceJs.serialize(document.getElementById('searchFrm')) + '&pageNum=' + pageNum);
    }

    // REST API
    function restSubmit(method, url) {
        const opt = {
            method: method,
            url: url,
            async: false,
            showProgressbar: false,
            callbackFunc: function (response) {
                document.getElementById('attributeList').innerHTML = response.responseText;
            }
        };
        aliceJs.sendXhr(opt);
    }
    /*]]>*/
</script>
</html>
