<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/itsm/pageType/treeEditLayout}">
<head>
    <title th:text="#{group.label.group}"></title>
</head>
<th:block layout:fragment="pageHead">
    <script th:src="@{/assets/js/lib/zPageMutationObserver.js}"></script>
</th:block>
<body>
<div layout:fragment="pageTitle">
    <h1 th:text="#{group.label.group}"></h1>
    <h6 class="description ml-2 pl-2" th:text="#{group.msg.editDescription}"></h6>
</div>
<div layout:fragment="pageSearching">
    <input type="text" class="z-input i-search text-ellipsis col-5 mr-2" id="searchValue" name="searchValue"
           maxlength="100" th:placeholder="#{group.label.searchPlaceholder}"/>
    <span id="totalCount" class="z-search-count"></span>
    <div class="ml-auto">
        <button type="button" class="z-button primary" id="btnCreate" name="btnCreate"
                sec:authorize="hasAuthority('group.create')" th:text="#{common.btn.add}"
                th:onclick="|javascript:onCreate()|"></button>
    </div>
</div>
<div layout:fragment="pageTree">
    <div id="treeList"></div>
</div>
<div layout:fragment="pageEdit">
    <div class="z-edit-form flex-fill">
        <div class="z-edit-row flex-row">
            <div class="flex-column flex-fill mr-4">
                <label class="required" th:text="#{group.label.groupId}" for="groupId"></label>
                <input type="text" id="groupId" class="z-input text-ellipsis col-pct-12"
                       th:value="${data?.groupId}" maxlength="100"/>
                </span>
            </div>
            <div class="flex-column flex-fill">
                <input type="hidden" id="pGroupId" th:value="${data?.pGroupId}"/>
                <label class="required" th:text="#{group.label.pGroupName}" for="pGroupName"></label>
                <input type="text" id="pGroupName" class="z-input text-ellipsis col-pct-12"
                       th:value="${data?.pGroupName}" maxlength="100"/>
                </span>
            </div>
        </div>
        <div class="z-edit-row flex-row">
            <div class="flex-column flex-fill mr-4">
                <label class="required" th:text="#{group.label.name}" for="groupName"></label>
                <input type="text" id="groupName" class="z-input text-ellipsis"
                       th:value="${data?.groupName}" maxlength="100"/>
            </div>
            <div class="flex-column flex-fill">
                <label th:text="#{group.label.seqNum}" for="seqNum"></label>
                <input type="text" id="seqNum" class="z-input text-ellipsis" th:value="${data?.seqNum}"
                       onkeydown="return onlyNumber(event)" onkeyup="aliceJs.removeChar(event)" maxlength="5"/>
            </div>
        </div>
        <div class="z-edit-row flex-column">
            <label class="z-switch">
                <span class="z-label" th:text="#{group.label.useYn}"></span>
                <input type="checkbox" id="useYn" name="useYn"
                       th:checked="${data?.useYn == null || data?.useYn == true}">
                <span></span>
            </label>
        </div>
        <div class="z-edit-row flex-column">
            <label th:text="#{group.label.description}" for="groupDesc"></label>
            <textarea id="groupDesc" th:maxlength="200" th:rows="7"
                      class="z-textarea textarea-scroll-wrapper" th:text="${data?.groupDesc}"></textarea>
        </div>
        <div class="z-edit-row flex-column">
            <label th:text="#{group.label.role}"></label>
            <div class="z-checkbox-list">
                <ul>
                    <li class="text-ellipsis" th:each="role : ${data?.allRoles}">
                        <label class="z-checkbox" tabindex="0" th:for="${role?.roleId}">
                            <input type="checkbox" name="groupRole" th:checked="${#lists.contains(data?.groupUseRoles, '' + role.roleId)}"
                                   th:disabled="${view}" th:id="${role?.roleId}" th:value="${role?.roleName}">
                            <span></span>
                            <span class="z-label" th:text="${role?.roleName}"></span>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
        <div class="flex-row justify-content-end">
            <div class="z-button-list">
                <button sec:authorize="hasAuthority('group.create')"
                        class="z-button primary" type="button" id="btnRegist" name="btnRegist"
                        th:onclick="|javascript:onSave('POST')|" th:text="#{common.btn.register}"></button>
                <button sec:authorize="hasAuthority('group.update')"
                        class="z-button primary" type="button" id="btnUpdate" name="btnUpdate"
                        th:onclick="|javascript:onSave('PUT')|" th:text="#{common.btn.modify}"></button>
                <button sec:authorize="hasAuthority('group.delete')"
                        class="z-button secondary" type="button" id="btnDelete" name="btnDelete"
                        th:onclick="|javascript:zAlert.confirm(i18n.msg('common.msg.confirmDelete'), onDelete)|"
                        th:text="#{common.btn.delete}"></button>
            </div>
        </div>
    </div>
</div>
</body>
<script layout:fragment="pageScript" type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    let observer = aliceJs.pageObserver;

    window.onload = function () {
        observer.set();

        OverlayScrollbars(document.querySelector('.z-page-tree'), { className: 'scrollbar' });
        OverlayScrollbars(document.querySelector('.z-page-edit'), { className: 'scrollbar' });
        OverlayScrollbars(document.getElementById('groupDesc'), { className: 'scrollbar' });

        document.getElementById('searchValue').addEventListener('keyup', getGroupList, false);
        document.getElementById('searchValue').focus();

        onCreate();

        getCodeList();
    };

    /** 조직 트리 조회 */
    function getGroupList() {
        const search = encodeURIComponent(document.getElementById('searchValue').value);
        tree.load({
            dataUrl: '/rest/groups?search=' + search,
            target: 'treeList',
            text: 'tree',
            defaultIcon: '/assets/media/icons/tree/icon_tree_groups.svg',
            leafIcon: '/assets/media/icons/tree/icon_tree_group.svg',
            totalCount: true,
            selectedNode: function (response) {
                onGetDetail(response.id)
            }
        });
    }

    /** 트리 선택시 상세 정보 조회 */
    function onGetDetail(groupId) {
        if (!observer.canPageChange()) { return false; }

        aliceJs.fetchJson('/rest/groups/' + groupId, {
            method: 'GET',
        }).then((response) => {
            // 조직 ID
            const groupIdElement = document.getElementById('groupId');
            groupIdElement.value = response.data.groupId;
            groupIdElement.disabled = true;
            // 상위조직
            document.getElementById('pGroupId').value = response.data.pGroupId;
            const pGroupNameElement = document.getElementById('pGroupName');
            pGroupNameElement.value = response.data.pGroupName;
            pGroupNameElement.disabled = true;
            // 조직 이름
            document.getElementById('groupName').value = response.data.groupName;
            // 순서
            document.getElementById('seqNum').value = response.data.seqNum;
            // 사용 여부
            document.getElementById('useYn').checked = response.data.useYn;
            // 조직설명
            document.getElementById('groupDesc').value = response.data.groupDesc;
            // 구성원 기본 역할
            const rolelements = document.querySelectorAll('input[name=groupRole]');
            rolelements.forEach(function (chk) {
                chk.checked = false;
                const matching = response.data.groupUseRoles.find(function (role) {
                    return role.roleId === chk.id;
                });

                if (matching) {
                    chk.checked = true;
                }
            });

            // 버튼 초기화
            if (document.getElementById('btnUpdate') != null) {
                document.getElementById('btnUpdate').style.display = 'block';
            }
            if (document.getElementById('btnDelete') != null) {
                document.getElementById('btnDelete').style.display = 'block';
            }
            if (document.getElementById('btnRegister') != null) {
                document.getElementById('btnRegister').style.display = 'none';
            }
            // 버튼 활성화
            if (response.data.editable) {
                if (document.getElementById('btnUpdate') != null) {
                    document.getElementById('btnUpdate').disabled = false;
                }
                if (document.getElementById('btnDelete') != null) {
                    document.getElementById('btnDelete').disabled = false;
                }
            } else {
                if (document.getElementById('btnUpdate') != null) {
                    document.getElementById('btnUpdate').disabled = true;
                }
                if (document.getElementById('btnDelete') != null) {
                    document.getElementById('btnDelete').disabled = true;
                }
            }

            observer.isChanged = false;
        });
    }

    /** create **/
    function onCreate() {
        if (!observer.canPageChange()) { return false; }
        // 버튼 초기화
        if (document.getElementById('btnUpdate') != null) {
            document.getElementById('btnUpdate').style.display = 'none';
        }
        if (document.getElementById('btnDelete') != null) {
            document.getElementById('btnDelete').style.display = 'none';
        }
        if (document.getElementById('btnRegister') != null) {
            document.getElementById('btnRegister').style.display = 'block';
        }
        // input 초기화
        const inputElements = document.querySelectorAll('input[type=text]');
        inputElements.forEach(function (input) {
            input.value = '';
        });
        document.getElementById('pGroupId').value = '';
        // textarea 초기화
        document.getElementById('groupDesc').value = '';
        // 체크박스 초기화
        let checkedElements = document.querySelectorAll('input[name=groupRole]:checked');
        checkedElements.forEach(function (chk) {
            chk.checked = false;
        });
        document.getElementById('useYn').checked = true;

        observer.isChanged = false;
    }

    /** save **/
    function onSave(method) {
        // 유효성 검증
        if (isEmpty('groupId', 'group.msg.enterGroupId')) return false;
        if (isEmpty('pGroupName', 'group.msg.enterPGroupName')) return false;
        if (isEmpty('groupName', 'group.msg.enterGroupName')) return false;

        // TODO: 조직 아이디 / 이름 중복체크
        if (method === 'POST') {

        }

        // 저장
        const rolelements = document.querySelectorAll('input[name=groupRole]:checked');
        let roles = [];
        rolelements.forEach(function (chk) {
            roles.push(chk.id);
        });
        const saveData = {
            groupId: document.getElementById('groupId').value,
            pGroupId: document.getElementById('pGroupId').value,
            groupName: document.getElementById('groupName').value,
            groupDesc: document.getElementById('groupDesc').value,
            useYn: document.getElementById('useYn').checked,
            seqNum: document.getElementById('seqNum').value,
            roles: roles
        };

        let url = '/rest/groups';
        if (method !== 'POST') {
            url += '/' + document.getElementById('groupId').value;
        }
        aliceJs.fetchText(url, {
            method: method,
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(saveData)
        }).then((response) => {
            if (response.status === 200) {
                zAlert.success(i18n.msg('common.msg.register'), function () {
                    window.location.href = '/groups/edit';
                });
            }
        });
    }

    /** delete **/
    function onDelete() {
        aliceJs.fetchText('/rest/groups/' + document.getElementById('groupId').value, {
            method: 'DELETE'
        }).then((response) => {
            if (response.status === 200) {
                zAlert.success(i18n.msg('common.msg.delete'), function () {
                    window.location.href = '/groups/edit';
                });
            }
        });
    }
    /*]]>*/
</script>
</html>
